<div class="flexbox white-box structure-item">
    <div class="flexbox__item v-top structure-item__logo">
        <div class="relative">
            {{#if logo_present}}
                <a href="{{ data_url }}" class="block">
                    <img src="{{ logo_thumb_url }}" class="block one-whole" alt="Cours de {{ parent_subjects_text }} à {{ name }}">
                </a>
            {{/if}}
        </div>
    </div><!--
 --><article class="flexbox__item four-tenths v-top structure-item__see-all-wrapper structure-item__button">
        <div class="relative full-height soft-half hard--right">
            <div class="epsilon flush v-top">
                <a href="{{ data_url }}">{{ name }}</a>
            </div>
            {{#if tag_names}}
                <div class="milli gray">
                    <i class="fa fa-tag"></i>
                    <span title="{{tag_names}}" data-behavior="tooltip">
                        {{#if search_term}}
                            <i>{{{highlight tag_names search_term 55}}}</i>
                        {{else}}
                            <i>{{{truncate tag_names 55}}}</i>
                        {{/if}}
                    </span>
                </div>
            {{/if}}
            <div>
{{!--                 <div>
                {{ open_course_nb }} {{ pluralize open_course_nb 'atelier' 'ateliers' }} :
                <span title="{{open_course_names}}" data-behavior="tooltip">
                    {{ truncate open_course_names 33 }}
                </span>
                </div>
 --}}                <div>
                {{#if audience}}
                    <span class="milli">{{audience}}</span>&nbsp;
                {{/if}}
                </div>
            </div>
            {{#if last_comment_title}}
            <div>
                <i class="quoted push-half--right">{{{truncate last_comment_title 50}}}</i>
                {{!-- (<a href="{{ data_url }}" class="semi-muted-link">voir les {{ comments_count }} avis</a>) --}}
            </div>
            {{/if}}
            <a href="javascritp:void(0);" class="btn btn--blue btn--blue hard--sides btn--small structure-item__see-all" data-behavior="accordion-control" data-model="course" data-attributes="data_url" data-wrapper=".structure-item__see-all-wrapper">
                {{#if plannings_count}}
                    <span>Voir les horaires</span>
                {{else}}
                    <span>Pas de séance, contactez le professeur</span>
                {{/if}}
            </a>
        </div>
    </article><!--
 --><div class="flexbox__item relative soft-half--sides structure-item__see-all-wrapper two-eighths v-middle text--center structure-item__button">
        <div class="relative full-height v-middle soft--top">
{{!--             <div class="alpha thin orange soft-half--top"> {{ open_courses_open_places }} </div>
            <span class="orange soft-half--bottom milli">places restantes</span>
 --}}

            <div class="alpha thin orange"> {{ open_course_nb }} </div>
            <span class="orange soft-half--bottom milli">{{ pluralize open_course_nb 'atelier' 'ateliers' }}</span>
            {{#if last_comment_title}}
            <div class="milli">
                {{ truncate open_course_names 70 }}
            </div>
            {{/if}}
            <div itemtype="http://data-vocabulary.org/review-aggregate" itemscope="" itemprop="aggregateRating">
                <span title="Note : 5 étoiles (Excellent !)" class="rating"></span>
                <meta property="v:rating" itemprop="rating" content="{{ rating }}">
                <meta itemprop="count" content="{{ comments_count }}">
                <meta itemprop="name" content="{{ name }}">
                <meta itemprop="street-address" content="{{ street }}">
                <meta itemprop="postal-code" content="{{ zip_code }}">
            </div>

            <a href="{{ data_url }}" class="structure-item__see-all btn--full btn btn--blue btn--blue hard--sides btn--small" data-wrapper=".structure-item__see-all-wrapper" style="margin-bottom: 2px;">
                {{#ifCond open_courses_open_places '==' '0'}}
                M'inscrire en liste d'attente
                {{else}}
                Participer
                {{/ifCond}}
            </a>
        </div>

    </div><!--
 --><div class="flexbox__item two-eighths v-middle text--center rslides-wrapper structure-item__see-all-wrapper">
        {{#if preloaded_medias}}
        <div class="relative full-height">
            <a class="structure-item__see-all rslides_nav rslides_nav--bottom" data-behavior="accordion-control" data-wrapper=".structure-item__see-all-wrapper" data-model="media" data-attributes="data_url">
                <span>Voir la galerie ({{medias_count}})</span>
            </a>
            <ul class="rslides hidden">
                {{#each preloaded_medias}}
                    <li>
                        <a rel="slideshow-{{mediable_id}}" href="{{{this.url}}}" class="rslides_nav rslides_nav--icon {{#if this.is_video}}visible{{/if}}" data-behavior="fancy">
                            <i class="fa {{#if this.is_video}}fa-youtube-play{{else}}fa-eye{{/if}}"></i>
                        </a>
                        <div class="media__item media__item--slides">
                            <a class="break-all" title="{{this.caption}}" href="{{this.url}}">
                                <img src="{{this.thumbnail_url}}" />
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{else}}
        <div class="text--center gray-light">
            <i class="fa fa-picture-o fa-3x gray-light"></i>
            <br />
            0 photo / vidéo
        </div>
        {{/if}}
    </div>
</div>
