- last_message = conversation.messages.last

- structure                     ||= @structure
- recipients                      = conversation.recipients.reject{|recipient| recipient == @admin }
- participation_request           = conversation_participation_request(conversation)
- participation_request_decorator = participation_request.decorate if participation_request

.bordered--top.push--top.soft--top
  = link_to pro_structure_conversation_path(structure, conversation), class: "muted-link block flexbox" do
    .flexbox__item.v-top.v-middle.soft--right.visuallyhidden--palm
      - if recipients.first
        = image_tag recipients.first.avatar_url(:thumb), class: 'block bordered rounded--circle', height: 65, width: 65
    .flexbox__item.v-top.v-middle.one-whole.palm-block
      .float--right
        %strong.gray-light.epsilon= l(last_message.created_at.to_date, format: :short)
        %span{ data: { toggle: 'popover', placement: 'top', content: conversation_label_name(conversation) } }
          = conversation_label conversation
      .flush.line-height-1-7
        - if conversation.is_unread?(structure.main_contact)
          .lbl--small.lbl--chip.lbl.lbl--yellow{ data: { toggle: 'tooltip', title: 'Message non lu' } }
        - if recipients.first
          %strong.epsilon= truncate((recipients.first.name || recipients.first.email), length: 18)
          %soan.visuallyhidden--palm= "(#{pluralize conversation.messages.count, 'message'})"
        - if recipients.length > 1
          %span.nowrap.milli{ title: recipients.map(&:name).join(', '), data: { behavior: 'tooltip' } }
            et #{pluralize(recipients.length - 1, 'autre')}
          %br
      %p.flush.line-height-1-7.f-weight-500
        - if participation_request and !participation_request.past?
          #{participation_request_decorator.status_for('Structure')} -
        %span
          = "#{conversation.subject}"
          - if conversation_extra_infos(conversation).present?
            = "(#{conversation_extra_infos(conversation).map{ |extra_info| t("#{extra_info.name}_small") }.join(', ')})"

        %span.visuallyhidden--palm.gray-light= " - #{truncate(last_message.body, length: 80)}"
      - if participation_request and !participation_request.canceled? and !participation_request.past?
        .btn.btn--small.nowrap{ class: participation_request_decorator.action_button_class_for('Structure') }
          = participation_request_decorator.action_button_name_for('Structure')
