= side_menu_currently_at 'last_messages'

.panel
  %ul.tabs.panel__header
    %li{ class: params[:info].present? ? '' : 'active' }
      = link_to "Tous les messages", pro_conversations_path()
    %li{ class: params[:info].present? ? 'active' : '' }
      = link_to "Demandes d'infos", pro_conversations_path(info: true)

  .panel__body.soft
    - @conversations.each do |conversation|
      - structure = conversation.recipients.select{|r| r.is_a? Admin}.first.structure
      = link_to pro_structure_conversation_path(structure, conversation), class: 'muted-link' do
        = render partial: 'conversations/conversation', locals: { conversation: conversation }
