<td class="nowrap">{{ activity_name }}</td>
<td>{{ date }}</td>
<td>{{ time_slot }}</td>
<td>{{ levels }}</td>
<td class="{{#if info}}nowrap{{/if}}">
    {{ audiences }}
    {{#if info}}
        <i data-original-title="{{ hide_contacts info }}" data-behavior="tooltip"></i>
    {{/if}}
</td>
<td class="three-twelfths text--right">
    {{#if address }}
        <div class="gray milli" data-toggle="popover" data-html="true" data-trigger="hover" data-content="{{address_with_info}}">
        {{address_name}} <i class="fa-map-marker epsilon v-middle"></i>
    </div>
    {{/if}}
</td>
