<td class="nowrap">{{ date }}</td>
<td>{{ time_slot }}</td>
<td>{{ levels }}</td>
<td class="{{#if info}}nowrap{{/if}}">
    {{ audiences }}
</td>
<td class="nowrap text--right">
    <div class="gray milli">
        <i>{{address}}</i>
        <i class="fa fa-map-marker"></i>
    </div>
</td>
