= side_menu_currently_at 'JPO'

= render partial: 'pro/open_courses/tabs', locals: { current: 'participations' }

.text--center
  .inline-block.one-quarter.push--bottom.v-middle.soft--sides>
    .white-box.soft-half.text--center
      %h3.flush= "#{Participation.not_canceled.not_in_waiting_list.all.map(&:size).reduce(&:+)} inscriptions"
      %h6.flush dont #{Participation.not_canceled.not_in_waiting_list.where( Participation.arel_table[:created_at].gt(Date.today) ).map(&:size).reduce(&:+)} aujourd'hui

  .inline-block.one-quarter.push--bottom.v-middle.soft--sides>
    .white-box.soft-half.text--center
      %h3.flush= "#{Participation.not_canceled.waiting_list.all.map(&:size).reduce(&:+)} listes d'attente"
      %h6.flush dont #{Participation.not_canceled.waiting_list.where( Participation.arel_table[:created_at].gt(Date.today) ).map(&:size).reduce(&:+)} aujourd'hui

  .inline-block.one-quarter.push--bottom.v-middle.soft--sides>
    .white-box.soft-half.text--center
      %h3.flush= "#{Participation.canceled.count} annulations"
      %h6.flush dont #{Participation.canceled.where( Participation.arel_table[:created_at].gt(Date.today) ).count} aujourd'hui

  .inline-block.one-quarter.push--bottom.v-middle.soft--sides>
    .white-box.soft-half.text--center
      %h3.flush
        = Course::Open.all.map{|course| course.nb_participants_max * course.plannings.count}.reduce(&:+)
        places

.white-box.islet.text--center
  #participations

.white-box.islet.text--center
  #participations-cumul

.white-box.islet.text--center
  #participations-hours

%table.white-box.table--data.table--striped.table--white.push-half--top
  %thead
    %tr
      %th.three-twelfths Nom de l'élève
      %th.two-twelfths Email
      %th.two-twelfths Téléphone
      %th.one-twelfths Ville
      %th Date d'inscription
      %th ∂
      %th.two-twelfths Atelier
      %th.two-twelfths
  %tbody
    - @participations.each do |participation|
      %tr{class: (participation.canceled? ? 'red' : '')}
        %td
          = participation_user_name(participation)
        %td
          = link_to participation.user.email, "mailto:#{participation.user.email}", target: :_blank
        %td= readable_phone_number participation.user.phone_number
        %td= "#{participation.user.city.try(:name)} (#{participation.user.zip_code})"
        %td= l(participation.created_at, format: :date).capitalize
        %td= (participation.created_at.to_date - participation.user.confirmed_at.to_date).to_i
        %td
          = link_to participation.planning.course.name, pro_structure_course_opens_path(participation.structure)
          par
          = link_to participation.structure.name, pro_structure_course_opens_path(participation.structure), target: :_blank
        %td.text--center
          - if participation.waiting_list?
            Sur liste d'attente
          - if participation.canceled?
            Annulé

= content_for :scripts do
  :javascript
    = javascript_include_tag 'libs/highcharts/highcharts'
    = javascript_include_tag 'libs/highcharts/modules/exporting'
    $(function() {
        $('#dataTable').tablesorter();
        new Highcharts.Chart({
            chart: { renderTo: 'participations', type: 'spline' },
            title: { text: null },
            xAxis: { categories: #{@participations_graph.map{|date, count| l(Date.parse(date.to_s), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [{
                      data: #{@participations_graph.map{|date, count| count}},
                      name: 'Inscriptions'
                    },{
                      data: #{@canceled_participations_graph.map{|date, count| count}},
                      name: 'Annulations'
                    },
                    ]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'participations-cumul', type: 'spline' },
            title: { text: null },
            xAxis: { categories: #{@participations_cumul.map{|date, count| l(Date.parse(date.to_s), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [{
                      data: #{@participations_cumul.map{|date, count| count || 0}},
                      name: 'Inscriptions'
                    }]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'participations-hours', type: 'column' },
            title: { text: null },
            xAxis: { categories: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"] },
            yAxis: { title: { text: ''}},
            series: [
              { data: #{@participations_per_hour.map{|key, value| value}},
                name: 'Élèves inscrits'
               }
            ]
        });
    });
