%tr
  %td
    = t('.libelle', count: book_ticket.number)
    = "(#{t('.validity', count: book_ticket.validity).downcase})" if book_ticket.validity
  %td.text-center= "#{book_ticket.price}€"
  %td.text-center -
