%tr
  %td
    = t('prices.book_ticket.libelle', count: book_ticket.number)
    = book_ticket.info
  %td.text--center
    - if book_ticket.promo_amount
      %span.line-through= readable_amount(book_ticket.amount)}
      %span.green= readable_amount(book_ticket.promo_amount)}
    - else
      = readable_amount(book_ticket.amount)}
