= side_menu_currently_at 'premium'

= content_for :top_menu do
  %ol.nav.breadcrumb.flush{ itemprop: 'breadcrumb' }
    %li.active-without-caret= link_to "Historique des factures", pro_structure_orders_path(@structure), class: 'semi-muted-link epsilon f-weight-600 soft-half--ends'
    %li.white.muted-link.epsilon.f-weight-500.soft-half--ends Facture N°#{@order.public_order_id}

= image_tag 'logos/logo@2x.png', width: 200
= render 'order'

.text--center.print--hidden
  = link_to 'Imprimer', 'javascript:window.print()', class: 'btn btn--green soft--sides'
  = link_to 'Télécharger', @order.S3_invoice_path, class: 'btn btn--green soft--sides'
