= side_menu_currently_at 'premium'

.panel
  .panel__header.soft.print--hidden
    %ol.nav.breadcrumb.flush{ itemprop: 'breadcrumb' }
      %li.delta= link_to "Historique des factures", pro_structure_orders_path(@structure)
      %li.delta.f-weight-bold Facture N°#{@order.public_order_id}

  .panel__body.soft
    = image_tag 'logos/logo@2x.png', width: 200
    = render 'order'

    .text--center.print--hidden
      = link_to 'Imprimer', 'javascript:window.print()', class: 'btn btn--green soft--sides'
      = link_to 'Télécharger', export_pro_structure_order_path(@structure, @order, { format: :pdf } ), class: 'btn btn--green soft--sides'
