= side_menu_currently_at 'Mes élèves'

= render partial: 'pro/structures/user_profiles/tabs', locals: { current: 'import' }

%table.white-box.table--data.table--striped
  %tbody
    - @user_profile_import.headers.each do |attribute|
      %tr
        %td= attribute
        %td lala

= simple_form_for [:pro, @structure, @user_profile_import] do |f|
  .form-white-box
    .text--center
      = f.input :file, as: :file
    .form-actions
      = f.submit 'Enregistrer', class: 'btn btn--green'
