= side_menu_currently_at 'crm'

= render partial: 'pro/structures/user_profiles/tabs', locals: { current: 'import' }
- begin
  - @user_profile_import.headers # Will trigger exception if file is corrupted
  %h2 Associez les colonnes du fichier aux champs correspondants
  = simple_form_for [:import, :pro, @structure, @user_profile_import] do |f|
    = f.error_notification
    - if @user_profile_import.errors.any?
      %br
      .alert--error
        - @user_profile_import.errors[:base].each do |error|
          = error
          %br
    %table.table--data.table--striped
      %thead
        %tr
          %th 1ère ligne
          %th Association
      %tbody
        - @user_profile_import.headers.each_with_index do |excel_first_row, index|
          %tr
            %td= excel_first_row
            %td
              %select{name: 'table_indexes[]'}
                %option
                - @user_profile_import.user_profile_accessible_attributes.each do |attribute_name|
                  %option{selected: (@user_profile_import.send("#{attribute_name}_index") == index) ,value: "#{attribute_name}:#{index}"}= UserProfile.human_attribute_name(attribute_name)

    - if @user_profile_import.errors.any?
      %hr
      = f.input :file, as: :file, label: 'Nouveau fichier à importer', wrapper_html: { class: 'flush' }
      %p.field-form-info.blue Laisser vide si vous ne voulez pas le changer

    .soft--sides
      = f.submit 'Valider', class: 'btn btn--green btn--full', data: { disable_with: "En cours de validation" }
- rescue
  - Bugsnag.notify(RuntimeError.new("Failed to read excel headers"), @user_profile_import)
  %h3 Votre fichier est mal formatté, veuillez en soumettre un nouveau.
  .text--center
    = link_to 'Réessayer', new_pro_structure_user_profile_import_path(@structure), class: 'btn btn--green'
