= side_menu_currently_at 'crm'

.panel
  = render partial: 'pro/structures/user_profiles/tabs', locals: { current: 'import' }
  .panel__body.soft
    %h4 Importez votre répertoire personnel (excel)

    = simple_form_for [:pro, @structure, @user_profile_import] do |f|
      %p.epsilon
        Téléchargez votre fichier Excel de base élèves et affectez les colonnes aux champs correspondants.
      = f.error_notification
      .input
        .control-label.label--large.v-middle>
          Fichier excel
        .input-container.v-middle>
          %label.btn.btn--blue{ for: 'user_profile_import_file' }
            Choisir mon fichier
            = f.input :file, as: :file, label: false, wrapper_html: { class: 'visuallyhidden' }
      .text--center
        = image_tag 'gifs/loading-indicator.gif', height: 10, id: 'loader', class: 'hidden'
      -# = f.submit 'Télécharger', class: 'btn btn--green btn--full', data: { disable_with: "En cours de téléchargement" }

= content_for :scripts do
  :javascript
      $(function() {
          $('#user_profile_import_file').click(function() {
              this.value = null;
          });
          $('#user_profile_import_file').change(function() {
              $('#new_user_profile_import').submit();
              $('#loader').show();
          });
      })
