= side_menu_currently_at 'crm'

= render partial: 'pro/structures/user_profiles/tabs', locals: { current: 'import' }

%h1 2 méthodes pour Importer vos contacts personnels

%h3 Méthode 1 : importez vos contacts réunis dans un fichier excel ou csv

= simple_form_for [:pro, @structure, @user_profile_import] do |f|
  %p.epsilon
    Téléchargez votre fichier Excel de contacts puis affectez les colonnes aux champs correspondants :
  = f.error_notification
  %label.btn.btn--green{ for: 'user_profile_import_file' }
    Choisir mon fichier
    = f.input :file, as: :file, label: false, wrapper_html: { class: 'visuallyhidden' }
  .text--center
    = image_tag 'gifs/loading-indicator.gif', height: 10, id: 'loader', class: 'hidden soft'

%hr.push--ends
%h3 Méthode 2 : copiez puis collez dans cet espace tous vos e-mails de contacts
= form_tag import_batch_emails_pro_structure_user_profiles_path(@structure) do
  %textarea.push-half--bottom.input--large.one-whole{ name: 'emails', placeholder: 'Ex. : maurice@gmail.com, elsa@gmail.com, marie@gmail.com, ...', rows: 5, data: { behavior: 'autoresize' } }
  %button.btn.btn--green{ type: 'submit', data: { disable_with: 'Import en cours...' } } Importer les e-mails

= content_for :scripts do
  :javascript
      $(function() {
          $('#user_profile_import_file').click(function() {
              this.value = null;
          });
          $('#user_profile_import_file').change(function() {
              $('#new_user_profile_import').submit();
              $('#loader').show();
          });
      })
