%footer.main-footer.relative.print--hidden#coursavenue-footer
  .main-container.main-container--medium.soft.palm-text--center.grid
    .grid__item.one-half.palm-one-whole.soft--right>
      .epsilon.f-weight-600.push-half--bottom
        Toutes nos activités
      #activity-map.google-map
    .grid__item.one-half.palm-one-whole.soft--left>
      .push--bottom.epsilon.f-weight-600
        = @structure.name
      %ul.no-bullet-list
        %li.f-weight-600.epsilon.line-height-1-7= link_to 'Présentation', structure_website_presentation_path
        %li.f-weight-600.epsilon.line-height-1-7= link_to 'Planning', structure_website_planning_path
        %li.f-weight-600.epsilon.line-height-1-7= link_to "Livre d'Or", structure_website_reviews_path
        %li.f-weight-600.epsilon.line-height-1-7= link_to 'Photos / Vidéos', structure_website_medias_path
        - @structure.website_pages.each do |page|
          %li.f-weight-600.epsilon.line-height-1-7= link_to page.title, structure_website_website_page_path(page)
        %li.f-weight-600.epsilon.line-height-1-7= link_to 'Contact', structure_website_contact_path

      - if @structure.facebook_url.present?
        = link_to @structure.facebook_url, target: :_blank do
          %i.fa.fa-facebook.fa-2x
      .f-weight-600.epsilon.push--top
        Site Internet généré par
        = link_to 'https://www.coursavenue.com' do
          = image_tag 'logos/coursavenue_1_ligne_com.png', alt: 'CoursAvenue', height: 20, class: 'v-middle'

- @place_locations = Gmaps4rails.build_markers(@structure.places) do |place, marker|
  - marker.lat place.latitude
  - marker.lng place.longitude
  - marker.infowindow "<strong class='black'>#{place.name}, #{place.address}</strong>"

= content_for :scripts do
  :javascript
    $(function() {
        var footer_google_map_handler = Gmaps.build('Google');
        footer_google_map_handler.buildMap({ provider: { scrollwheel: false, zoom: 6}, internal: { id: 'activity-map' }}, function() {
            markers = footer_google_map_handler.addMarkers(#{@place_locations.to_json});
            footer_google_map_handler.bounds.extendWith(markers);
            footer_google_map_handler.fitMapToBounds();
        });
    });
