= content_for :title do
  Contact | #{@structure.name}

= content_for :meta_description do
  #{@structure.name} | Information de contact, adresse, numéro de téléphone...

.main-container.main-container--medium

  %h1 Pour nous contacter :

  .grid
    .grid__item.one-half.v-top.bordered--right.soft--right>
      %h3= 'Adresse'.pluralize(@structure.places.length)
      #map.google-map.one-whole.push-half--bottom
      - @structure.places.each do |place|
        .push--bottom
          .delta.line-height-1-5
            %strong= "#{place.name} : "
            = place.address
          - if place.info.present?
            %div
              = place.info
    .grid__item.one-half.v-top.soft--left>
      %h3.flush Téléphone
      - @structure.phone_numbers.each do |phone_number|
        .delta.line-height-1-5= phone_number.number

      %h3.flush--bottom.push--top E-mail
      .delta.line-height-1-5
        = link_to @structure.contact_email, "mailto:#{@structure.contact_email}"


- @structure_locations = Gmaps4rails.build_markers(@structure.places) do |structure, marker|
  - marker.lat structure.latitude
  - marker.lng structure.longitude

= content_for :scripts do
  :javascript
    $(function () {
        google_map_handler = Gmaps.build('Google');
        google_map_handler.buildMap({ provider: { scrollwheel: false }, internal: { id: 'map' }}, function(){
            markers = google_map_handler.addMarkers(#{@structure_locations.to_json});
            google_map_handler.bounds.extendWith(markers);
            google_map_handler.fitMapToBounds();
        });
    });
