= content_for :title do
  = "#{@structure.name} | #{@website_parameter.title}"

= content_for :meta_description do
  = truncate @structure.description, length: 150


= render partial: 'structure_website/structures/header'

.main-container.main-container--medium.push--top
  - if @structure.medias.any?
    = render partial: 'gallery', locals: { medias: @structure.medias, structure: @structure }

  .website-presentation.center-block
    - if @website_parameter.presentation_text.present?
      = @website_parameter.presentation_text.html_safe
    - else
      = simple_format @structure.description
    - if @structure.teachers.any?
      %h2 Les professeurs
      - @structure.teachers.each_with_index do |teacher, index|
        - if index > 0
          %hr.push--ends
        %h4.push-half--bottom= teacher.name
        - if teacher.image.present?
          = image_tag teacher.image.url(:normal)
        = simple_format teacher.description
