.main-container
  .grid
    .grid__item.eight-twelfths.palm-one-whole>
      #structure-planning.push--bottom.bg-white.bordered--left.bordered--right{ data: { type: 'structure-planning-root' } }
        #structure-region
    .grid__item.four-twelfths.palm-one-whole>
      %div{ data: { type: 'contact-form' } }
      .on-top.transition-all-300{ data: { type: 'sticky-map-container' } }>
        .soft--top{ data: { type: 'sticky-map', offset_top: '0' } }>

  - if @structure.medias.empty?
    - @structure_locations = Gmaps4rails.build_markers([@structure]) do |structure, marker|
      - marker.lat structure.latitude
      - marker.lng structure.longitude

= content_for :scripts do
  = javascript_include_tag 'https://js.stripe.com/v2/'

  :javascript
    $(function () {
      Stripe.setPublishableKey("#{ Rails.configuration.stripe[:publishable_key] }");

      if ($('#header-map').length == 1) {
          google_map_handler = Gmaps.build('Google');
          google_map_handler.buildMap({ provider: { scrollwheel: false }, internal: { id: 'header-map' }}, function(){
              markers = google_map_handler.addMarkers(#{@structure_locations.to_json});
              google_map_handler.bounds.extendWith(markers);
              google_map_handler.fitMapToBounds();
              google_map_handler.getMap().setZoom(15);
          });
      }
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          current_pro_admin: #{(current_pro_admin ? true : false)},
          structure: #{ @model.to_json },
          stripe_errors: #{ I18n.t('stripe.error_codes').to_json },
          meta: {
              have_upcoming_plannings: #{ @structure.plannings.future.any? },
              structure_id: #{ @structure.id }
          }
      };
        CoursAvenue.statistic.logView(#{@structure.id}, 'website/planning');
    }());

