= content_for :title do
  Planning des cours & stages | #{@structure.name}

= content_for :meta_description do
  #{@structure.name} | Tout le planning des cours. Réservation en ligne.

.main-container.relative
  - if @structure.website.present?
    .absolute.north.west.push-half--top.soft-half--left
      = link_to URLHelper.fix_url(@structure.website), class: 'gray' do
        %i.fa.fa-chevron-left.blue-green
        Revenir au site
  %h1.soft--top.text--center.flush= @structure.name
  %h5.text--center Planning avec demande d'inscription en ligne
  %hr.push--top.flush--bottom
  .grid
    .grid__item.eight-twelfths.palm-one-whole.soft--top>
      #structure-planning.push-half--bottom.bg-white.bordered--left.bordered--right{ data: { type: 'structure-planning-root' } }
        #structure-region
      -# We have to keep this div here.
      .hidden{ data: { type: 'contact-form' } }

    .grid__item.four-twelfths.palm-one-whole>
      .visuallyhidden--lap-and-up
        %h3.push--top Lieux des activités :
      .soft--top.bg-site-background-on-stick.on-top.transition-all-300{ data: { type: 'sticky-map-container' } }>
        %div{ data: { type: 'sticky-map' } }>
      .visuallyhidden--lap-and-up
        %h3.push-half--top= 'Adresse'.pluralize(@structure.places.length)
        - @structure.places.each do |place|
          .push--bottom
            .line-height-1-5
              %strong= place.name
              %br
              = place.address
            - if place.info.present?
              %div
                %i= place.info

      - if @structure.comments_count > 0
        %hr.push--ends
        %h3.text--center
          = "#{@structure.comments_count} avis"
        - @structure.comments.order('created_at DESC').first(3).each do |comment|
          .gray-box.soft.push--bottom
            %h6.quoted.inline-block.push-half--bottom
              = comment.title
            .read-more{ itemprop: 'reviewBody', data: { behavior: 'read-more' } }
              = simple_format comment.content
            .text--right.flush
              Il y a #{distance_of_time_in_words_to_now comment.created_at} par #{comment.author_name}
        .text--center.push--bottom
          = link_to 'Voir tous les avis', structure_path(@structure), class: 'epsilon'

  .grid
    .grid__item.eight-twelfths.palm-one-whole>
      .text--right.f-weight-600
        Planning offert avec plaisir par
        = link_to root_url(subdomain: 'pro'), class: 'inline-block v-bottom' do
          = image_tag 'logos/logo.png', alt: 'CoursAvenue', height: 20, class: 'block'
      .text--right.f-weight-600.line-height-2.push--bottom
        Pour le modifier :
        = link_to 'Connexion', pro_structure_courses_url(@structure, subdomain: 'pro')

= content_for :scripts do
  = javascript_include_tag 'https://js.stripe.com/v2/'

  :javascript
    $(function () {
        $(document.body).on('coursavenue:started', function() {
            CoursAvenue.statistic.logView(#{@structure.id}, 'website/planning');
        });
        Stripe.setPublishableKey("#{ Rails.configuration.stripe[:publishable_key] }");

        window.coursavenue = window.coursavenue || {};
        window.coursavenue.bootstrap = {
            current_pro_admin: #{(current_pro_admin ? true : false)},
            structure: #{ @model.to_json },
            stripe_errors: #{ I18n.t('stripe.error_codes').to_json },
            meta: {
                have_upcoming_plannings: #{ @structure.plannings.future.any? },
                structure_id: #{ @structure.id }
            }
        };
    }());

#structure-profile-menu.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;' }
  - cache [@structure, 'structure_website/structure/show/sticker_header'] do
    .bg-site-background.soft-half--ends.bordered--bottom
      .main-container.soft--sides
        .flexbox
          .flexbox__item.v-middle.nowrap>
            .flexbox.top-page-menu
              .flexbox__item.one-twelfth.nowrap.soft-half--right
                %strong= truncate @structure.name, length: 45
              .flexbox__item
                %ul.nav.flush.v-middle.inline-block
                  - if @structure.plannings.trainings_future.any?
                    %li.soft-half--sides
                      %a.muted-link.orange{ href: '#stages-ateliers ', data: { behavior: 'scroll-to', offset_top: '-55' } } Stages & ateliers
                  - if @structure.courses.lessons.any?
                    %li.soft-half--sides
                      %a.muted-link.orange{ href: '#cours-collectifs', data: { behavior: 'scroll-to', offset_top: '-55' } } Cours réguliers
                  - if @structure.courses.privates.any?
                    %li.soft-half--sides
                      %a.muted-link.orange{ href: '#cours-particuliers', data: { behavior: 'scroll-to', offset_top: '-55' } } Cours particuliers
                  %li.soft-half--sides
                    = link_to 'Avis', structure_path(@structure), class: 'muted-link orange', target: :_blank
          .flexbox__item.v-middle.nowrap.text--right>
            %a.contact-button.btn.btn--green.nowrap{ data: { behavior: 'show-contact-panel' } }
              Contacter
              = I18n.t("structures.structure_type_contact.#{(@structure.structure_type.present? ? @structure.structure_type : 'structures.other')}")

= content_for :scripts do
  :javascript
      $(function() {
          $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
      });
