= content_for :title do
  Planning des cours & stages | #{@structure.name}

= content_for :meta_description do
  #{@structure.name} | Tout le planning des cours. Réservation en ligne.

.main-container.relative
  - if @structure.website.present?
    .absolute.north.west.push-half--top.soft-half--left
      = link_to URLHelper.fix_url(@structure.website), class: 'gray' do
        %i.fa.fa-chevron-left.blue-green
        Revenir au site
  %h1.soft--top.text--center.flush= @structure.name
  %h5.text--center Planning avec inscription en ligne
  .grid
    .grid__item.eight-twelfths.palm-one-whole>
      .bg-white.soft--top.bordered
        = render partial: 'structures/plannings', locals: { dont_register: true }

    .grid__item.four-twelfths.palm-one-whole>
      %div{ data: { behavior: 'sticky', old_width: 'true', offset_top: '39' } }
        = react_component('Map', { markers: @structure.places.map(&:to_react_json) } )
        .bg-white.soft--ends.bordered--sides.bordered--bottom
          .soft--sides
            %h3.push-half--top= 'Adresse'.pluralize(@structure.places.length)
            - @structure.places.each_with_index do |place, index|
              .push--bottom
                .line-height-1-5
                  %strong= "#{index + 1} #{place.name}"
                  %br
                  = place.address
                - if place.info.present?
                  %div
                    %i= place.info

      .bg-white.soft--ends.bordered--sides.bordered--bottom
        - if @structure.comments_count > 0
          .soft--sides
            %h3= "#{@structure.comments_count} avis"
            - @structure.comments.order('created_at DESC').first(3).each do |comment|
              .push--bottom
                %h6.quoted.inline-block.push-half--bottom
                  = comment.title
                .read-more{ itemprop: 'reviewBody', data: { behavior: 'read-more' } }
                  = simple_format comment.content
                .text--right.flush
                  Il y a #{distance_of_time_in_words_to_now comment.created_at} par #{comment.author_name}
            .text--center.push--bottom
              = link_to 'Voir tous les avis', structure_path(@structure), class: 'btn btn--white btn--full'

  .grid.push--top
    .grid__item.eight-twelfths.palm-one-whole>
      .text--right.f-weight-600
        Planning offert avec plaisir par
        = link_to root_url(subdomain: 'pro'), class: 'inline-block v-bottom' do
          = image_tag 'logos/logo.png', alt: 'CoursAvenue', height: 20, class: 'block'
      .text--right.f-weight-600.line-height-2.push--bottom
        Pour le modifier :
        = link_to 'Connexion', pro_structure_courses_url(@structure, subdomain: 'pro')

= content_for :scripts do
  = javascript_include_tag 'https://js.stripe.com/v2/'

  :javascript
    $(function () {
        $(document.body).on('coursavenue:started', function() {
            CoursAvenue.statistic.logView(#{@structure.id}, 'website/planning');
        });
        Stripe.setPublishableKey("#{ Rails.configuration.stripe[:publishable_key] }");
    }());

#structure-profile-menu.visuallyhidden--palm.one-whole.west.fixed.on-top{ style: 'top: -100px;', data: { behavior: 'header-stick-on-scroll' } }
  - cache [@structure, 'structure_website/structure/show/sticker_header'] do
    .bg-dark-gray
      .main-container.soft--sides
        .top-page-menu
          %ul.nav.flush.v-middle.inline-block
            - if @structure.plannings.trainings_future.any?
              %li.soft-half
                %a.link-not-outlined.muted-link.white{ href: '#stages-ateliers', data: { behavior: 'scroll-to', offset_top: '-55' } } Stages & ateliers
            - if @structure.courses.lessons.any?
              %li.soft-half
                %a.link-not-outlined.muted-link.white{ href: '#cours-collectifs', data: { behavior: 'scroll-to', offset_top: '-55' } } Cours réguliers
            - if @structure.courses.privates.any?
              %li.soft-half
                %a.link-not-outlined.muted-link.white{ href: '#cours-particuliers', data: { behavior: 'scroll-to', offset_top: '-55' } } Cours particuliers
            %li.soft-half
              = link_to 'Messages publics', structure_path(@structure, anchor: 'messages-publics'), class: 'muted-link white', target: :_blank
            %li.soft-half
              = link_to 'Avis', structure_path(@structure, anchor: 'avis'), class: 'muted-link white', target: :_blank

= content_for :scripts do
  :javascript
      $(function() {
          $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
      });
