= content_for :title do
  Planning des cours & stages | #{@structure.name}

= content_for :meta_description do
  #{@structure.name} | Tout le planning des cours. Réservation en ligne.

.main-container
  %h1.soft--top.text--center.flush= @structure.name
  %hr.push--ends
  -# .text--center.push--bottom avec CoursAvenue.com
  .grid
    .grid__item.eight-twelfths.palm-one-whole>
      #structure-planning.push--bottom.bg-white.bordered--left.bordered--right{ data: { type: 'structure-planning-root' } }
        #structure-region
    .grid__item.four-twelfths.palm-one-whole>
      %div{ data: { type: 'contact-form' } }
      .on-top.transition-all-300{ data: { type: 'sticky-map-container' } }>
        .soft--top{ data: { type: 'sticky-map', offset_top: '0' } }>

= content_for :scripts do
  = javascript_include_tag 'https://js.stripe.com/v2/'

  :javascript
    $(function () {
        $(document.body).on('coursavenue:started', function() {
            CoursAvenue.statistic.logView(#{@structure.id}, 'website/planning');
        });
        Stripe.setPublishableKey("#{ Rails.configuration.stripe[:publishable_key] }");

        window.coursavenue = window.coursavenue || {};
        window.coursavenue.bootstrap = {
            current_pro_admin: #{(current_pro_admin ? true : false)},
            structure: #{ @model.to_json },
            stripe_errors: #{ I18n.t('stripe.error_codes').to_json },
            meta: {
                have_upcoming_plannings: #{ @structure.plannings.future.any? },
                structure_id: #{ @structure.id }
            }
        };
    }());

