%tr
  %td{ data: { th: 'Structure' } }
    %div= link_to sticker_demand.structure.name, pro_structure_path(sticker_demand.structure)
  %td{ data: { th: 'Rond' } }
    %div= sticker_demand.round_number
  %td{ data: { th: 'Carré' } }
    %div= sticker_demand.square_number
  %td{ data: { th: 'Adresse' } }
    %div= sticker_demand.address
  %td{ data: { th: 'Date de la demande' } }
    %div= l(sticker_demand.created_at, format: :date)
  %td.text--right
    %div
      - if sticker_demand.sent?
        Envoyé le
        = l(sticker_demand.sent_at, format: :date)
      - else
        = link_to update_sent_pro_structure_sticker_demand_path(sticker_demand.structure, sticker_demand), method: :put, class: 'btn btn--green btn--small nowrap' do
          %i.fa.fa-envelope
          Envoyer
