.text--center
  %h3
    = "#{@reviews.length} avis d'élèves"
  %div
    = link_to 'Déposer mon avis', new_structure_comment_url(@structure), subdomain: 'www'
%div{ data: { behavior: 'masonry' } }
  - @reviews.each do |comment|
    %article.masonry__item.soft-half{ itemprop: 'review', itemscope: true, itemtype:'http://schema.org/Review', data: { el: 'masonry-item' } }
      .gray-box.soft-half.rounded--top
        -# - if comment.user
        -#   = image_tag comment.user.avatar_url(:small), height: 60, width: 60, class: 'bordered rounded--circle'
        - if comment.title.present?
          %h6.line-height-1-3.delta.push-half--bottom{itemprop: 'headline', content: comment.title}= "#{comment.title}"
        %span.rating{title: 'Excellent !', itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating'}
          %meta{itemprop: 'ratingValue', content: 5}
          %meta{itemprop: 'worstRating', content: 1}
          %meta{itemprop: 'bestRating', content: 5}
        %div
          = simple_format comment.content
        .visuallyhidden{itemprop: 'itemReviewed', itemscope: true, itemtype: 'http://schema.org/Thing'}
          %meta{itemprop: 'url', content: commentable_url(comment)}
          %meta{itemprop: 'name', content: comment.commentable.name}
        %div{ id: "comment-reply-#{comment.id}" }
          - if comment.reply
            = render partial: 'comments/reply', locals: { structure: @structure, comment: comment, reply: comment.reply }
        -# - if comment.course_name
        -#   .push-half--bottom= "— #{comment.course_name.capitalize}"
        %p.text--right.flush
          = "Par #{comment.author_name}"
          %i.opacity-75{ itemprop: 'datePublished', content: l(comment.created_at, format: :iso_date) }
            il y a #{distance_of_time_in_words_to_now comment.created_at}



= content_for :scripts do
  :javascript
    $(function() {
        $('[data-behavior=masonry]').masonry({
            itemSelector: '[data-el=masonry-item]',
        });
    });
