= side_menu_currently_at "Journées Portes Ouvertes"

.panel
  = render partial: 'pro/structures/open_courses/tabs', locals: { current: 'new' }
  .panel__body.soft
    %h2.text--center Offrez à vos élèves l'opportunité d'inviter leurs proches

    .alert.alert--info.push--bottom
      %ul.flush--bottom
        %li De nombreux élèves interrogés ont vu à travers notre événement des Journées Portes Ouvertes l'occasion unique de pouvoir faire découvrir leurs cours à tout leur entourage (amis, familles, collègues, etc.).
        %li Utilisez notre outil d'invitation et faites plaisir à vos élèves : offrez-leur la chance de partager leurs passions à leurs proches, que vous pourrez ensuite fidéliser.

    = form_tag(bulk_create_jpo_pro_structure_invited_students_path(@structure), method: :post) do
      .grid
        .grid__item.one-half>
          %h4.flush À :
          %p.flush.blue
            %span.italic.blue{data: {behavior: 'tooltip', title: "Nous considérons que vos coordonnées et adresses de courrier électronique constituent des données confidentielles, et nous nous engageons à ne pas les divulguer. Conformément à l'article 27 de la loi \"Informatique et Liberté\" du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification des informations vous concernant."}}
              %i.fa-question-circle
              Entrez les e-mails de vos élèves (gardés confidentiels) pour leur proposer d'inviter leurs proches à vos ateliers de Journées Portes Ouvertes.
          %textarea.milli.one-whole{name: 'emails', rows: 11, placeholder: 'Ex. : patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}
        .grid__item.one-half>
          %h4.flush Message :
          %p.flush.blue
            %i Personnalisez le texte ci-dessous puis envoyez votre invitation.
          %br
          %br
          %textarea.milli.one-whole{name: 'text', rows: 11, data: {behavior: 'autoresize'}}
            Salut !&#x000A;&#x000A;Ce week-end des 5 et 6 avril, nous participons aux Portes Ouvertes des cours de loisirs de CoursAvenue : exceptionnellement, nous offrons des cours gratuits ouverts à tous les Parisiens. Voici les ateliers proposés : #{jpo_structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)}.&#x000A;&#x000A;Profitez de l'occasion pour faire découvrir votre passion à vos proches (famille, amis, collègues...) :
          %p.gray-light.flush
            = link_to "Lien que recevront vos élèves", invite_entourage_to_jpo_page_users_url(structure_id: @structure.id, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: :_blank
            %br
            À très bientôt,
            %br
            = @structure.name
          = submit_tag 'Envoyer les invitations', class: 'btn btn--green btn--full', data: { disable_with: 'Envoi en cours' }
