= side_menu_currently_at 'share'

= render partial: 'pro/structures/open_courses/tabs', locals: { current: 'new' }

%h2.text--center Invitez l'entourage de vos élèves à découvrir vos cours

.white-box.soft
  = form_tag(bulk_create_pro_structure_invited_students_path(@structure), method: :post) do
    .grid
      .grid__item.one-half>
        %h4 À :
        %p.flush
          %span.italic.blue{data: {behavior: 'tooltip', title: "Nous considérons que vos coordonnées et adresses de courrier électronique constituent des données confidentielles, et nous nous engageons à ne pas les divulguer. Conformément à l'article 27 de la loi \"Informatique et Liberté\" du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification des informations vous concernant."}}
            %i.fa-question-circle
            Entrez les emails des professeurs (gardés confidentiels) que vous souhaitez inviter.
        %textarea.one-whole{name: 'emails', rows: 8, placeholder: 'Ex. : patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}
      .grid__item.one-half>
        %h4 Message :
        %br
        %textarea.one-whole{name: 'text', rows: 8, data: {behavior: 'autoresize'}}
          - if @structure.comments_count and @structure.comments_count > 0
            Bonjour,&#x000A;&#x000A;J'ai publié gratuitement mon profil sur CoursAvenue, le 1er moteur de recherche de cours basé sur la géolocalisation et les recommandations des élèves. Je viens de recevoir les 1ers avis de mes élèves, je vous invite à créer votre profil : c'est gratuit, simple et rapide.
          - else
            Bonjour,&#x000A;&#x000A;J'ai publié gratuitement mon profil sur CoursAvenue, le 1er moteur de recherche de cours basé sur la géolocalisation et les recommandations des élèves. Je vous invite à créer votre profil : c'est gratuit, simple et rapide.

        %p.gray-light.flush
          À très bientôt,
          %br
          = @structure.name

    .text--right.push-half--top= submit_tag 'Envoyer les invitations', class: 'btn btn--green', data: { disable_with: 'Envoi en cours' }
