- expanded = false unless expanded.present?
- medium   = false if medium.nil?
%header.header.print--hidden
  .very-soft.soft-half--sides.flexbox{class: [medium ? 'main-container--medium' : '', expanded ? '' : 'main-container']}
    .flexbox__item.palm-one-whole.v-middle>
      = link_to '', root_path, class: 'v-middle coursavenue-header-logo', title: 'CoursAvenue | Tous les cours autour de vous'
      - unless request.path == '/'
        = form_tag structures_path, method: :get, authenticity_token: false, class: 'inline-block v-middle push--left', data: { type: 'location-filter'}, id: 'header-location-form' do
          .input-with-icon.v-middle.header-search
            %input.one-whole#header-location-form-address-picker.soft-half--left{ size: 25, placeholder: 'Où recherchez-vous ?', type:'text', autocomplete: 'off', name:'address_name', data: { behavior:'address-picker', lng:'#address-lng', lat: '#address-lat', city: '#address-city', zoom: '#address-zoom' } }
            %i.fa.fa-map-marker.delta
          %input#address-lat{ type: 'hidden', name: 'lat' }
          %input#address-lng{ type: 'hidden', name: 'lng' }
          %input#address-zoom{ type: 'hidden', name: 'zoom' }
          %input.visuallyhidden{  type: 'submit' }

    %nav.text--right.flexbox__item.v-middle.nowrap.visuallyhidden--palm.print--hidden>
      - if current_pro_admin
        = render partial: 'shared/headers/admin_nav'
      - elsif current_user
        = render partial: 'shared/headers/user_nav'
      - else
        .inline-block
          #connection-registration-buttons
            .inline-block.drop-down__wrapper.soft--right
              = link_to "Inscription", new_user_registration_path, data: { behavior: 'modal', title: 'Connexion', width: 600, padding: 0 }, class: 'fancybox.ajax', onclick: "ga('send', 'event', 'Se créer un compte', 'click','Inscrit')"
            .inline-block.drop-down__wrapper.soft--right
              = link_to "Connexion", new_user_session_path, data: { behavior: 'modal', title: 'Connexion', width: 600, padding: 0 }, class: 'fancybox.ajax', id: 'connection'
            = render 'shared/help_dropdown'
            .inline-block.soft--sides
              = link_to 'Publiez vos cours', inscription_pro_structures_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), onclick: "ga('send', 'event', 'Publier vos cours', 'click','Inscrit')", class: 'btn btn--orange'


= content_for :scripts do
  :javascript
    // ---------------- Comments slideshow
    $(function() {
        if (window.location.hash == '#connection') {
            $('#connection').click();
        }
        $('#header-location-form').submit(function() {
            return ($('#address-lat').val().length > 0);
        });
        $('#header-location-form-address-picker').on('typeahead:selected', function(event, data) {
            $('#header-location-form').submit();
        });
    });
