%header.header.orange-box>
  .very-soft.grid--full
    .grid__item.four-twelfths.palm-one-half.v-middle>
      = link_to '', open_courses_path, class: 'v-middle inline-block jpo-header-logo', title: 'Portes Ouvertes des cours de loisirs'
    .grid__item.four-twelfths.white.visuallyhidden--palm.v-middle.text--center
      = link_to '#first-time-popup', data: { behavior: 'modal', width: 800, padding: 0 }, class: 'white block line-height-normal' do
        Les 5 et 6 avril, + de 5 000 cours de loisirs GRATUITS
        %br
        %i.fa-search
        Explorez
        %i.fa-chevron-right.soft-half--sides
        %i.fa.fa-hand-o-up
        Réservez
        %i.fa-chevron-right.soft-half--sides
        %i.fa-group
        Participez
    %nav.text--right.grid__item.four-twelfths.v-middle.nowrap.visuallyhidden--palm>
      - if current_pro_admin
        = render partial: 'shared/headers/admin_nav'
      - elsif current_user
        = render partial: 'shared/headers/user_nav'
      - else
        .inline-block.white
          #connection-registration-buttons
            .inline-block.drop-down__wrapper.soft-half--sides
              = link_to "Inscription", new_user_registration_path, data: {behavior: 'modal', title: 'Connexion', width: 300}, class: 'fancybox.ajax', onclick: "ga('send', 'event', 'Se créer un compte', 'click','Inscrit')"
            .inline-block.drop-down__wrapper.soft-half--sides
              = link_to "Connexion", new_user_session_path, data: {behavior: 'modal', title: 'Connexion', width: 300}, class: 'fancybox.ajax', id: 'connection'
            = render 'shared/help_dropdown'
            .inline-block.soft-half--sides
              = link_to 'Publiez vos cours', root_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), onclick: "ga('send', 'event', 'Publier vos cours', 'click','Inscrit')", class: 'btn btn--green'
  .jpo-frise
