%header.header.header--pro
  .main-container.grid--full
    %h1.accessibility
      CoursAvenue
    .grid__item.one-third.v-middle>
      = link_to root_path, class: 'logo' do
        = image_tag 'logo_pro.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'

    .grid__item.two-thirds.v-middle.text--right
      %ul.nav
        %li.visuallyhidden--palm= link_to 'Accéder à CoursAvenue.com', root_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--small'
        %li.visuallyhidden--palm
          = link_to pages_contact_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow, class: 'btn btn--small' do
            %i.fa.fa-envelope-o
            Nous contacter
        %li.visuallyhidden--palm= render 'shared/question_dropdown_menu'
        - if current_pro_admin
          %li.drop-down__wrapper{data: {behavior: 'drop-down', el: '> .drop-down__el', position: 'right'}}
            - if current_pro_admin.super_admin?
              = link_to 'Espace super admin', pro_dashboard_path, class: 'btn btn--green btn--small'
            - elsif current_pro_admin.structure.present?
              = link_to 'Mon profil', dashboard_pro_structure_path(current_pro_admin.structure), class: 'btn btn--green btn--small'
            %ul.drop-down__el
              %li.nowrap
                = link_to destroy_pro_admin_session_path, method: :delete do
                  Déconnexion
                  %i.fa.fa-sign-out
        - else
          %li
            = link_to new_pro_admin_session_path, class: 'header-link' do
              %i.fa.fa-sign-in
              Se connecter

%nav.nav-links-wrapper.main-container.page-menu
  = yield :main_navigation
