%header.header.header--pro
  .main-container.grid--full
    %h1.accessibility
      CoursAvenue
    .grid__item.one-third.v-middle>
      = link_to '', root_path, class: 'v-middle coursavenue-header-logo coursavenue-header-logo--pro', title: 'Recrutez de nouveaux élèves'

    .grid__item.two-thirds.v-middle.text--right
      %ul.nav
        %li.soft--right.visuallyhidden--palm
          = link_to 'Accueil', root_path
        %li.soft--right.visuallyhidden--palm
          = link_to 'Portraits', pro_pages_portraits_path
        %li.soft--right.visuallyhidden--palm
          = link_to 'Tarifs', pro_pages_price_path
        %li.soft--right.visuallyhidden--palm
          = render 'shared/question_dropdown_menu'
        - if current_pro_admin
          %li.drop-down__wrapper{ data: { behavior: 'drop-down', el: '> .drop-down__el', position: 'right' } }
            - if current_pro_admin.super_admin?
              = link_to 'Espace super admin', pro_dashboard_path, class: 'btn btn--green btn--small'
            - elsif current_pro_admin.structure.present?
              = link_to 'Mon profil', dashboard_pro_structure_path(current_pro_admin.structure), class: 'btn btn--green btn--small'
            %ul.drop-down__el
              %li.nowrap
                = link_to destroy_pro_admin_session_path, method: :delete do
                  Déconnexion
                  %i.fa.fa-sign-out
        - else
          %li
            = link_to new_pro_admin_session_path, class: 'btn btn--small fancybox.ajax', data: { behavior: 'modal', width: '700', padding: 0 } do
              Connexion
