%header.header.header--pro.soft-half--sides.print--hidden
  .grid--full
    .grid__item.one-third.v-middle>
      = link_to '', root_path, class: 'v-middle coursavenue-header-logo', title: 'Recrutez de nouveaux élèves'
    %nav.grid__item.two-thirds.text--right.v-middle
      %ul.nav
        %li.soft--sides
          = render 'shared/question_dropdown_menu'
        - if current_pro_admin
          %li.drop-down__wrapper{data: {behavior: 'drop-down', el: '> .drop-down__el', position: 'right'}}
            - if current_pro_admin.super_admin?
              = link_to 'Espace super admin', admin_dashboard_path, class: 'btn btn--green btn--small'
            - else
              = link_to 'Mon profil', dashboard_pro_structure_path(current_pro_admin.structure), class: 'btn btn--green btn--small'
            %ul.drop-down__el
              %li.nowrap
                = link_to destroy_pro_admin_session_path, method: :delete do
                  %i.fa-sign-out
                  Déconnexion
        - else
          %li
            = link_to 'Se connecter', new_pro_admin_session_path, rel: :nofollow
