= render partial: 'shared/help_dropdown', locals: { button_class: 'btn btn--small' }
#drop-down-el.drop-down__wrapper.grid__item.width-auto.v-middle.hard--left{data: {behavior: 'drop-down', el: '> .drop-down__el', position: 'right'}}
  = link_to dashboard_user_path(current_user), class: (on_jpo_pages? ? 'white' : '') do
    - if current_user.fb_avatar or current_user.avatar.present?
      .grid
        .grid__item.v-middle.width-auto>
          %b= current_user.first_name
        .grid__item.v-middle.width-auto.soft-half--left
          - if current_user.avatar.present?
            = image_tag current_user.avatar.url(:mini), height: 40, class: 'image'
          - elsif current_user.fb_avatar
            = image_tag current_user.fb_avatar, height: 40, class: 'image'
    - else
      = current_user.first_name
  %ul.drop-down__el.text--left
    %li.nowrap
      = link_to dashboard_user_path(current_user) do
        %i.fa.fa-user
        Mon profil
    %li.nowrap
      = link_to user_comments_path(current_user) do
        %i.fa.fa-comment
        Mes avis
    %li.nowrap
      = link_to user_conversations_path(current_user) do
        %i.fa.fa-envelope-o
        Mes messages
    %li.nowrap
      = link_to user_participations_path(current_user) do
        %i.fa.fa-list
        Mes cours
    %li.nowrap
      = link_to destroy_user_session_path, method: :delete do
        %i.fa.fa-sign-out
        Se déconnecter
