= side_menu_currently_at 'Derniers avis'
.white-box.islet
  = simple_form_for [:admin, @comment], url: admin_comment_path(@comment) do |f|
    = f.input :author_name
    = f.input :email
    = f.input :course_name
    = f.input :title
    = f.input :content, input_html: { data: {behavior: 'autoresize'} }
    .form-actions
      = f.submit 'Enregistrer', class: 'btn btn--green', data: { disable_with: "En cours d'enregistrement" }
