= simple_form_for [:pro, resource] do |f|
  = f.input :civility, as: :select, collection: Admin::CIVILITY.map{|civility| [ t(civility), civility]}
  = f.input :name
  = f.input :email
  = f.input :active
  .form-actions
    = f.submit 'Mettre à jour',  class: 'btn btn__success'
