= side_menu_currently_at 'Admins'

%h2 Liste des admins

%table.table--striped.table--data#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th
        %span Email
      %th
        %span Établissements
      %th
        %span Note
      %th
        %span Téléphone
      %th
        %span Date d'inscription
      %th
        %span Dernière date de connexion
      %th
  %tbody
    - @admins.each do |admin|
      %tr
        %td
          = link_to (admin.name || ''), edit_pro_admin_path(admin)
        %td
          = link_to admin.email, "mailto:#{admin.email}"
        %td= link_to admin.structure.name, dashboard_pro_structure_path(admin.structure) if admin.structure
        %td.nowrap{data: {value: (admin.structure ? admin.structure.rating : 0)}}
          - if admin.structure
            = rating_stars admin.structure.rating
            = admin.structure.comments_count
            %i.lbc-brand-icon

        %td= admin.phone_number if admin.phone_number
        %td{data: {value: admin.created_at}}
          = l(admin.created_at, format: :date_short)
        %td{data: {value: admin.last_sign_in_at}}
          = l(admin.last_sign_in_at) if admin.last_sign_in_at
        %td.text--right.nowrap
          - if admin.confirmed?
            .switch-button.on
              Actif
          - else
            = link_to 'Inactif', confirm_pro_admin_path(admin), class: 'switch-button off', method: :put
          &nbsp;
          = link_to edit_pro_admin_path(admin), title: 'Éditer', class: 'btn btn--warning' do
            %i.icon-pencil
          &nbsp;
          = link_to pro_admin_path(admin), method: :delete, title: 'Supprimer', class: 'btn btn--danger', data: {confirm: 'Êtes-vous sur de supprimer cet admin et TOUS ses cours ?'} do
            %i.icon-trash

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        new TableSorter('dataTable', { columnDataTypes: 'string, string, string, integer, string, date, date, string', cookieName: 'tableSortState__admins', dateParseFunction: GLOBAL.DataTable.dateParseFunction });
    });
