= side_menu_currently_at 'Profs'

%h2 Liste des admins

%table.table--striped.table--data.white-box#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th
        %span Établissements
      %th
        %span Disciplines
      %th
        %span Avis
      %th
        %span Date d'inscription
      %th.hidden
        %span Dernière date de connexion
      %th
  %tbody
    - @admins.each do |admin|
      %tr
        %td
          = link_to admin.email, edit_pro_admin_path(admin)
        %td
          - if admin.structure
            = link_to dashboard_pro_structure_path(admin.structure) do
              - if admin.structure.logo?
                = image_tag admin.structure.logo.url(:thumb), height: 15
              = admin.structure.name
        %td
          - if admin.structure
            = join_parent_subjects_text admin.structure
        %td.nowrap{data: {value: (admin.structure ? admin.structure.rating : 0)}}
          - if admin.structure
            = admin.structure.comments_count
            %i.lbc-brand-icon

        %td{data: {value: admin.created_at}}
          = l(admin.created_at, format: :date_short)
        %td.hidden{data: {value: admin.last_sign_in_at}}
          = l(admin.last_sign_in_at) if admin.last_sign_in_at
        %td.text--right.nowrap
          - if admin.confirmed?
            .switch-button.on
              Actif
          - else
            = link_to 'Inactif', confirm_pro_admin_path(admin), class: 'switch-button off', method: :patch
          &nbsp;
          = link_to edit_pro_admin_path(admin), title: 'Modifier', class: 'btn btn--warning' do
            %i.icon-pencil
          &nbsp;
          - if admin.structure
            = link_to pro_structure_path(admin.structure), method: :delete, title: 'Supprimer', class: 'btn btn--red', data: {confirm: 'Êtes-vous sur de supprimer cet admin et TOUS ses cours ?'} do
              %i.icon-trash

- unless params[:all]
  .text--center= link_to 'Voir tous les profs', pro_admins_path(all: true), class: 'btn btn--blue'
= content_for :scripts do
  :javascript
    $(function() {
        $('#dataTable').tablesorter();
    });
