= side_menu_currently_at 'Admins'

%h2 Liste des admins

%table.table--striped#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th
        %span Structure
      %th.sortAsc
        %span Téléphone
      %th.sortAsc
        %span Date d'inscription
      %th.sortAsc
        %span Dernière date de connexion
      %th
  %tbody
    - @admins.each do |admin|
      %tr
        %td{class: (admin.super_admin? ? 'bold' : '')}
          = link_to (admin.name || ''), edit_pro_admin_path(admin)
          = link_to "(#{admin.email})", "mailto:#{admin.email}"
        %td= link_to admin.structure.name, pro_structure_path(admin.structure) if admin.structure
        %td= admin.phone_number if admin.phone_number
        %td{data: {value: admin.updated_at}}
          = l(admin.updated_at, format: :date_short)
        %td{data: {value: admin.last_sign_in_at}}
          = l(admin.last_sign_in_at) if admin.last_sign_in_at
        %td.text--right
          - if admin.active
            = link_to 'Actif', disable_pro_admin_path(admin), class: 'switch-button on', method: :put
          - else
            = link_to 'Inactif', activate_pro_admin_path(admin), class: 'switch-button off', method: :put
          = link_to edit_pro_admin_path(admin), title: 'Éditer', class: 'btn btn__warning' do
            %i.icon-edit
          = link_to pro_admin_path(admin), method: :delete, title: 'Supprimer', class: 'btn btn__danger', data: {confirm: 'Êtes-vous sur de supprimer cet admin et TOUS ses cours ?' do
            %i.icon-trash

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        var dateParseFunction = function(date) {
            if (date.replace(/^\s+|\s+$/g, '').length === 0) { // Strip
                return 0;
            } else {
                return new Date(date).getTime();
            }
        };
        new TableSorter('dataTable', { columnDataTypes: 'string, string, string, date, date, string', cookieName: 'tableSortState__admins', dateParseFunction: dateParseFunction });
    });
