= side_menu_currently_at 'Profs'

%h2 Liste des admins

%div{style: 'font-size: 2em;'}
  %input#search-input{type: 'text', placeholder: 'Cherchez un établissement'}

.push-half--bottom= paginate @admins, window: 2, outer_window: 1

.input
  %label Trier par
  %select#sorting
    %option{value: 'created_at_desc', selected: params[:sort] == 'created_at_desc'} Date de création
    %option{value: 'comments_count_desc', selected: params[:sort] == 'comments_count_desc'} Nombre d'avis

%table.table--striped.table--data.white-box#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th
        %span Établissements
      %th
        %span Disciplines
      %th
        %span Avis
      %th
        %span Date d'inscription
      %th.hidden
        %span Dernière date de connexion
      %th
  %tbody
    - @admins.each do |admin|
      %tr
        %td
          = link_to admin.email, edit_pro_admin_path(admin)
        %td
          - if admin.structure
            = link_to dashboard_pro_structure_path(admin.structure) do
              - if admin.structure.logo?
                = image_tag admin.structure.logo.url(:thumb), height: 15
              = admin.structure.name
        %td
          - if admin.structure
            = join_parent_subjects_text admin.structure
        %td.nowrap{data: {value: (admin.structure ? admin.structure.rating : 0)}}
          - if admin.structure
            = admin.structure.comments_count
            %i.lbc-brand-icon

        %td{data: {value: admin.created_at}}
          = l(admin.created_at, format: :date_short)
        %td.hidden{data: {value: admin.last_sign_in_at}}
          = l(admin.last_sign_in_at) if admin.last_sign_in_at
        %td.text--right.nowrap
          - if admin.confirmed?
            .switch-button.on
              Actif
          - else
            = link_to 'Inactif', confirm_pro_admin_path(admin), class: 'switch-button off', method: :patch
          &nbsp;
          = link_to edit_pro_admin_path(admin), title: 'Modifier', class: 'btn btn--warning' do
            %i.icon-pencil
          &nbsp;
          - if admin.structure
            = link_to pro_structure_path(admin.structure), method: :delete, title: 'Supprimer', class: 'btn btn--red', data: {confirm: 'Êtes-vous sur de supprimer cet admin et TOUS ses cours ?'} do
              %i.icon-trash
.push-half--bottom= paginate @admins, window: 2, outer_window: 1
%script#structure-item-template{:type => 'text/x-handlebars-template'}
  %div{style: 'font-size: 13px;'}
    {{name}}
    <a href="mailto:{{email}}">({{email}})</a>
    %br
    %strong {{structure.name}}
    ({{structure.comments_count}} avis)

= content_for :scripts do
  :javascript
    $(function() {
        $('#dataTable').tablesorter();
        // Admin search
        var template = Handlebars.compile($('#structure-item-template').html());
        $('#search-input').typeahead([
          {
            valueKey: 'name',
            template: template,
            limit: 10,
            remote: {
              url: '/admins.json?name=%QUERY'
            }
          }
        ]);
        $('#search-input').on('typeahead:selected', function(event, data){
            window.open('/etablissements/' + data.structure.slug)
        });
        $('#sorting').change(function(){
            var new_location = "#{pro_admins_path}" + '?page=';
            new_location += '#{params[:page] || 1}';
            new_location += '&sort=' + this.value;
            window.location = new_location;
        });
    })
