= content_for :title do
  Validez l'e-mail que vous venez de recevoir

= content_for :above_container do
  .bg-fixed.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background.jpg'})" }
    .main-container.soft.text--center
      %header
        %h1.flush Validez l'e-mail que vous venez de recevoir

  .main-container.soft
    .push--top.white-box.center-block{ style: 'max-width: 900px;' }
      .panel__body.soft
        %h3
          Félicitations !

        %p.epsilon
          Pour vous assurer la meilleure expérience, nous vous demandons de confirmer votre inscription depuis l'e-mail que nous venons de vous envoyer à votre adresse
          %strong #{params[:email]}
          \: ouvrez-le pour accéder et compléter votre profil CoursAvenue.

        - if params[:email].present?
          - if params[:email].match /hotmail|live|outlook/
            %h4.alert.alert--warning{style: 'max-width: 900px;'}
              %i.fa.fa-warning
              %strong Remarque importante :
              vous utilisez
              = image_tag 'logos/hotmail-logo.jpg', class: "v-top", height: 22
              ? L'e-mail de validation est peut-être dans votre boîte "Courrier indésirable" : ouvrez-le puis cliquez sur "Ce message est sûr" pour recevoir correctement tous les prochains e-mails.
          - elsif params[:email].match /gmail/
            %h4.alert.alert--warning{style: 'max-width: 900px;'}
              %strong Remarque importante :
              vous utilisez
              = image_tag 'logos/gmail-logo.jpg', class: "v-top", height: 22
              ? L'e-mail de validation est peut-être arrivé dans le 3ème onglet "Promotions" de votre boîte de réception : glissez-le dans votre boîte "Principale" pour recevoir correctement tous les prochains e-mails.

= content_for :scripts do
  :javascript
      $(function() {
          mixpanel.track("Profil creation done");
      });
