= side_menu_currently_at 'subscription_plans'

= render partial: 'pro/subscription_plans/tabs', locals: { current: 'promotion_codes' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Codes promos
  .flexbox__item.v-middle.text--right
    = link_to new_pro_promotion_code_path, class: 'btn btn--green' do
      %i.fa.fa-plus
      Ajouter un code
%table.table--striped
  %thead
    %tr
      %th Nom
      %th Code
      %th Réduction (€)
      %th Type de plan
      %th Expiration
      %th # max
      %th # utilisations
      %th S'applique jusqu'à
      %th Encore valide ?
      %th
  %tbody
    - @promotion_codes.each do |promotion_code|
      %tr
        %td= promotion_code.name
        %td= promotion_code.code_id
        %td= promotion_code.promo_amount
        %td= SubscriptionPlan::PLAN_TYPE_DESCRIPTION[promotion_code.plan_type]
        %td
          = l(promotion_code.expires_at) if promotion_code.expires_at
        %td= promotion_code.max_usage_nb
        %td= promotion_code.usage_nb
        %td
          = l(promotion_code.apply_until) if promotion_code.apply_until
        %td= promotion_code.still_valid?
        %td.nowrap
          = link_to edit_pro_promotion_code_path(promotion_code), class: 'nowrap' do
            %i.fa.fa-pencil
            Modifier
          \/
          = link_to pro_promotion_code_path(promotion_code), method: :delete, class: 'nowrap red' do
            %i.fa.fa-trash-o
            Supprimer
