= content_for :title do
  Vos parcours sont notre passion

= content_for :description do
  Que vous soyez un professeur, une association ou une école à proposer des cours de yoga, de dessin ou de danse, la même envie vous réunit : transmettre votre passion à un maximum d'élèves, de manière à pouvoir en vivre et continuer à développer des cours de qualité. Vos parcours nous passionnent, c'est pourquoi notre équipe vient à votre rencontre pour mieux vous connaître. Voici une sélection de portraits inédits.

%div.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/portraits/bg_blur.jpg'})", 'data-stellar-background-ratio' => '0.6' }
  .main-container.main-container--medium.soft--ends.push--ends
    %h1.text--center
      Vos parcours sont notre passion
    %h4.text--center
      Que vous soyez un professeur, une association ou une école à proposer des cours de yoga, de dessin ou de danse, la même envie vous réunit : transmettre votre passion à un maximum d'élèves, de manière à pouvoir en vivre et continuer à développer des cours de qualité. Vos parcours nous passionnent, c'est pourquoi notre équipe vient à votre rencontre pour mieux vous connaître. Voici une sélection de portraits inédits.

- @portraits.each do |portrait|
  .main-container.main-container--medium.soft--ends.push--ends
    - medias = portrait.medias.order('caption ASC')
    .grid--full
      .grid__item.one-quarter>
        .grid--full
          .grid__item.one-half.bg-cover{ style: "background-image: url(#{medias.limit(1).offset(1).first.thumbnail_url}); height: 200px;" }>
          .grid__item.one-half.bg-cover{ style: "background-image: url(#{medias.limit(1).offset(2).first.thumbnail_url}); height: 200px;" }>
        .bg-cover{ style: "background-image: url(#{medias.limit(1).offset(3).first.thumbnail_url}); height: 200px;" }>

      .grid__item.two-quarters.opacity-hidden-on-hover__wrapper.bg-cover.text--center.relative{ style: "background-image: url(#{medias.limit(1).first.url}); height: 400px;" }>
        = link_to pro_portrait_path(portrait), class: 'block' do
          .gamma.quoted.white.soft-black-text-shadow.absolute.one-whole.line-height-1-7{ style: 'top: 160px; '}= portrait.thumb_title
          .opacity-hidden-on-hover__child.text--center.one-whole.absolute{ style: 'top: 300px; '}
            .btn.btn--green Lire ce portrait
          .epsilon.white.soft-black-text-shadow.absolute.one-whole.south.soft--bottom= portrait.thumb_subtitle
      .grid__item.one-quarter>
        .bg-cover{ style: "background-image: url(#{medias.limit(1).offset(4).first.thumbnail_url}); height: 200px;" }>
        .grid--full
          .grid__item.one-half.bg-cover{ style: "background-image: url(#{medias.limit(4).offset(5).first.thumbnail_url}); height: 200px;" }>
          .grid__item.one-half.bg-cover{ style: "background-image: url(#{medias.limit(4).offset(6).first.thumbnail_url}); height: 200px;" }>

.main-container.main-container--medium
  .white-box.text--center.epsilon.soft.push--bottom
    CoursAvenue vient volontier à votre rencontre. Contactez-nous pour convenir d'un rendez-vous :
    = link_to 'Organiser une rencontre', pages_contact_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green'
