= side_menu_currently_at 'pages'

= render partial: 'pro/shared/pages_tabs', locals: { current: 'portraits' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Portraits
  .flexbox__item.v-middle.text--right
    = link_to new_pro_portrait_path, class: 'btn btn--green' do
      %i.fa.fa-plus
      Ajouter un portrait
%table.table--data.table--striped
  %thead
    %tr
      %th Nom
      %th
      %th
  %tbody
  - @portraits.each do |portrait|
    %tr
      %td= portrait.thumb_title
      %td= portrait.thumb_subtitle
      %td.nowrap
        = link_to 'Modifier', edit_pro_portrait_path(portrait), class: 'orange'
        \/
        = link_to 'Supprimer', pro_portrait_path(portrait), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette portrait ?' }, class: 'red'
        \/
        = link_to 'Voir', pro_portrait_path(portrait)
