= user_menu_currently_at 'Mes cours'

= render partial: 'users/participations/tabs', locals: { current: 'invite-jpo' }

= render template: 'users/invite_entourage_to_jpo_page'

%h4.flush--bottom.push--top Participez à notre événement Facebook
= link_to "Voir l'événement", "https://www.facebook.com/events/1475459639332489/", target: :_blank, class: 'btn btn--facebook push-half--top'

- if current_user.facebook_registered?
  %h4.push--top Ou alors envoyez leur un message Facebook
  = render 'users/participations/send_message_to_facebook_friends'
