= user_menu_currently_at 'share'

.panel
  = render partial: 'users/invited_users/tabs', locals: { current: 'new' }
  .panel__body.soft
    %h2 Invitez vos proches à rejoindre CoursAvenue
    .gray-box.soft.relative
      = form_tag(bulk_create_user_invited_users_path(current_user), method: :post) do
        .grid.push-half--bottom
          .grid__item.two-twelfths.text--right>
            %h4 À
          .grid__item.ten-twelfths>
            %textarea.input--large.one-whole{ name: 'emails', rows: 2, placeholder: 'Entrez les emails des amis (gardés confidentiels) que vous souhaitez inviter.', data: { behavior: 'autoresize' } }
        .grid
          .grid__item.two-twelfths.text--right>
            %h4 Message
          .grid__item.ten-twelfths>
            %textarea.input--large.one-whole{ name: 'text', rows: 6, data: { behavior: 'autoresize' } }
              Salut,&#x000A;&#x000A;Je viens de créer mon compte gratuit sur CoursAvenue.com, le 1er moteur de recherche de cours de loisirs, pour bénéficier de cours d'essai gratuits ou de tarifs spéciaux en lien avec tes passions. Je t'invite à faire comme moi : c'est simple et rapide !
            %p.gray
              À très bientôt
              %br
              = @user.full_name

        .text--right.push-half--top= submit_tag 'Envoyer les invitations', class: 'btn btn--green', data: { disable_with: 'Envoi en cours' }
