.grid.message
  .grid__item.one-twelfth.v-top.text--right>
    = image_tag message.sender.avatar, class: 'message__avatar'
  .grid__item.eleven-twelfths.soft-half--left>
    .grid--full.soft-half.white-box.push-half--bottom
      .grid__item.three-twelfths.text--right>
        %strong= message.sender.name
        %br
        = l(message.created_at.to_date, format: :short)
        = l(message.created_at, format: :short)
      .grid__item.nine-twelfths>
        = simple_format message.body
