= side_menu_currently_at 'activity'

= render partial: 'pro/shared/activity_tabs', locals: { current: 'sms' }

.text--center.push-half--ends= paginate @sms_loggers, window: 1, outer_window: 3

%table.table--striped
  %thead
    %tr
      %th Date
      %th.five-twelfths Message
      %th.two-twelfths Numéro
      %th.two-twelfths Type
      %th.two-twelfths Nom
  %tbody
    - @sms_loggers.each do |sms_logger|
      %tr
        %td= sms_logger.created_at.to_date
        -# %td= link_to l(sms_logger.created_at.to_date), admin_sms_logger_path(sms_logger)
        %td= sms_logger.text.html_safe
        %td= PhoneNumberDecorator.new(PhoneNumber.new(number: sms_logger.number)).formatted_number
        %td= sms_logger.sender_type
        %td
          - if sms_logger.sender.is_a? Structure
            = link_to sms_logger.sender.name, pro_structure_participation_requests_path(sms_logger.sender)
          - else
            = link_to sms_logger.sender.name, user_participation_requests_url(sms_logger.sender, subdomain: 'www')

.text--center.push-half--ends= paginate @sms_loggers, window: 1, outer_window: 3

