= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'gift_certificates' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Bon Cadeaux
  .flexbox__item.v-middle.text--right
    - if @gift_certificates.any?
      = link_to new_pro_structure_gift_certificate_path(@structure), class: 'btn btn--green fancybox.ajax',
        data: { behavior: 'modal', width: '500', padding: '0' }  do
        %i.fa.fa-plus
        Ajouter un bon cadeau

- if @structure.premium?
  - if @gift_certificates.any?
    = render 'gift_certificates_list'
  - else
    = render 'gift_certificates_empty'
- else
  = render 'subscribe'
