= side_menu_currently_at 'pages'

= render partial: 'pro/shared/pages_tabs', locals: { current: 'press_releases' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Articles de presse
  .flexbox__item.v-middle.text--right
    = link_to new_admin_press_release_path, class: 'btn btn--green' do
      %i.fa.fa-plus
      Ajouter un CP
%table.table--data.table--striped
  %thead
    %tr
      %th.one-half Nom
      %th.three-twelfths Date de publication
      %th Publié
      %th
  %tbody
  - @press_releases.each do |press_release|
    %tr
      %td= press_release.title
      %td
        = l(press_release.published_at, format: :date_with_year) if press_release.published_at
      %td.text--center
        - if press_release.published?
          %i.fa-check.green
      %td.nowrap
        = link_to 'Modifier', edit_admin_press_release_path(press_release), class: 'orange'
        \/
        = link_to 'Supprimer', admin_press_release_path(press_release), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette press_release ?' }, class: 'red'
        \/
        = link_to 'Voir', press_release_url(press_release, subdomain: 'www'), target: :_blank
