- user = @participation_request.user
.panel.center-block.relative{ style: 'max-width: 500px;'}
  .panel__header.soft.text--center
    %div.push-half--bottom
      %i.fa-check.fa-3x.green
    %h3.flush.green
      Votre demande d'inscription
      %br
      a bien été envoyée
    %h5.flush
      Gérez vos inscriptions depuis
      = link_to "votre espace perso.", user_participation_requests_path(user)
  .panel__body.soft
    = simple_form_for user, remote: true, html: { id: 'user-form' } do |f|
      %p.epsilon.flush
        Pour aider le professeur à mieux vous accueillir, décrivez votre niveau et toute autre information utile (message confidentiel) :
      = f.label :description, class: 'label--large block text--left f-weight-bold'
      = f.input :description, input_html: { style: 'height: 100px;', class: 'input--large one-whole' }, label: false, wrapper_html: { class: 'flush--top' }
      .flexbox.push--bottom
        - if !user.has_avatar?
          .flexbox__item.v-top.soft-half--right
            = f.label :remote_avatar_url, 'Votre photo', class: 'label--large block text--left f-weight-bold'
            = link_to '#', class: 'soft inline-block gray epsilon f-weight-500 v-middle bg-gray-light bordered', id: 'avatar-placeholder', data: { filepicker: true } do
              .text--center
                %i.fa-avatar.fa-5x
              .text--center Choisir une photo
            %img.hidden{ style: 'max-width: 200px;', width: 200, data: { fpimage: true } }
            = f.filepicker_field :remote_avatar_url, multiple: false, services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: false, class: 'visuallyhidden', button_text: 'Modifier ma photo', button_class: 'visuallyhidden filepicker btn btn--small btn--green', onchange: 'onPhotoUpload(event)'
        .flexbox__item.v-top
          = f.label :birthdate, class: 'label--large block text--left f-weight-bold'
          = f.input :birthdate, start_year: (Date.today.year - 1), end_year: (Date.today.year - 110), include_blank: true, input_html: { class: 'input--large' }, label: false, wrapper_html: { class: 'flush--top' }


      = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement" }

    -# TODO: Replace this with call to action to the forum: ex. "Posez vos questions concernant le cours sur le forum de #{ @structure.name }"
    -# .hidden#checkout-more
    -#   %h5 Ne vous arrêtez pas là et contactez d'autres profils !
    -#   %p.epsilon
    -#     Les élèves qui ont réservé ce cours ont également découvert :
    -#   %div{ style: 'height: 20em; overflow-y: scroll; overflow-x: hidden;'}
    -#     - PlanningSearch.search({ limit: 12, is_open_for_trial: true }, group: :structure_id_str).group(:structure_id_str).groups.each do |planning_group|
    -#       - structure = planning_group.results.first.try(:structure)
    -#       - next if structure.nil? or @structure == structure or structure.medias.empty?
    -#       .inline-block.one-half.very-soft.relative>
    -#         = render partial: "structures/similar_profile", locals: { structure: structure, show_promotion: false }

  :javascript
      $('#user-form').submit(function() {
          $('#user-form').slideUp();
          $('.mfp-close').click();
          location.reload();
          // $('#checkout-more').slideDown();
      });
  - if !user.has_avatar?
    :javascript
        function onPhotoUpload(event) {
            $('#avatar-placeholder').hide();
            $('img[data-fpimage]').attr('src', event.fpfile.url);
            $('img[data-fpimage]').show();
            $('button.filepicker').removeClass('visuallyhidden');
        }
        filepicker.constructWidget($('input[type=filepicker]'));
        $('[data-filepicker]').click(function(event) {
            event.preventDefault();
            $('button.filepicker').click();
        });
