= render 'shared/include_addthisevent'

- participation_request_decorator = participation_request.decorate
- course_decorator                = participation_request.course.decorate
- place                           = participation_request.place


.soft--sides
  - if !participation_request.charged? and participation_request.chargeable?
    %p.epsilon
      %strong Important :
      vous ne serez débité uniquement quand votre réservation aura été confirmée.
  %table.table--striped.table--striped-reversed.bordered.f-weight-500
    %tbody
      %tr.bordered--bottom
        %th.v-middle.soft--sides.bordered--right.one-third
          Statut
        %td.v-middle.soft--sides
          .flexbox.palm-block
            .flexbox__item.one-whole.palm-block
              = participation_request_decorator.long_status_name('User')
            .flexbox__item.v-middle.nowrap.text--right
              - if !@participation_request.canceled?
                - if @participation_request.pending? and @participation_request.last_modified_by == 'Structure'
                  = link_to accept_form_structure_participation_request_path(@structure, @participation_request), class: 'soft--sides push--right btn--green btn--small btn fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
                    = t('.accept')
                = link_to cancel_form_structure_participation_request_path(@structure, @participation_request), class: 'red fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
                  - if @participation_request.charged?
                    = t('.refund')
                  - else
                    = t('.decline')

      %tr.bordered--bottom
        %th.v-middle.soft--sides.bordered--right.one-third Demande d'inscription
        %td.v-middle.text--left.soft--sides
          = participation_request_decorator.details
          - if participation_request.refunded?
            %strong.green
              %i= '— Remboursé'
          - elsif participation_request.charged?
            %strong.green
              %i= '— Payé'

      %tr.bordered--bottom
        %th.v-middle.soft--sides.bordered--right.one-third.nowrap Cours
        %td.v-middle.soft--sides.one-whole
          .flexbox.palm-block
            .flexbox__item.one-whole.palm-block
              - course = participation_request.course
              %span.has-tooltip{ data: { toggle: 'popover', content: participation_request_decorator.popover_course_infos, html: 'true', placement: 'top', trigger: 'hover' } }
                = course.name
            .flexbox__item.v-middle.nowrap.text--right
              - if !participation_request.canceled?
                = link_to t('.propose_another_course'), edit_structure_participation_request_path(@structure, participation_request, show_course_select: true), class: 'orange nowrap fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 }

      - if @participation_request.from_personal_website?
        %tr.bordered--bottom
          %th.v-middle.soft--sides.bordered--right.one-third.nowrap Professeur
          %td.v-middle.soft--sides.one-whole
            = @structure.name
            - if @structure.website
              = "(#{link_to @structure.website, @structure.website, target: :_blank})".html_safe
        %tr.bordered--bottom
          %th.v-middle.soft--sides.bordered--right.one-third.nowrap Contact
          %td.v-middle.soft--sides.one-whole.line-height-1-5
            - if @structure.phone_numbers.any?
              Tél :
              - @structure.phone_numbers.each do |phone_number|
                %span.soft-half--right= phone_number.decorate.formatted_number
              %br
            E-mail :
            = link_to @structure.email, @structure.email
      %tr.bordered--bottom
        %th.v-middle.soft--sides.bordered--right.one-third.nowrap Jour et heure
        %td.v-middle.soft--sides.one-whole
          .flexbox.palm-block
            .flexbox__item.one-whole.palm-block= participation_request_decorator.day_and_hour.capitalize
            .flexbox__item.v-middle.nowrap.text--right
              - if !participation_request.canceled?
                = link_to t('.propose_another_date'), edit_structure_participation_request_path(@structure, participation_request), class: 'orange nowrap fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 }

      - if place
        %tr.bordered--bottom
          %th.v-middle.soft--sides.bordered--right.one-third.nowrap Lieu
          %td.v-middle.soft--sides.one-whole
            .flexbox.palm-block
              .flexbox__item.one-whole.palm-block
                = "#{place.name}, #{place.address}"
                .soft-half--top
                  - if place.info.present?
                    = place.info
                  - else
                    %i.gray Pas d'info pratique concernant l'accès.
                  %br
                  - if place.private_info.present?
                    = place.private_info
                  - else
                    %i.gray Pas de digicode ni d'info privée concernant l'accès.
              .flexbox__item.v-middle.nowrap.text--right
                = link_to t('.see_on_map'), URI.encode("http://maps.google.com/?q=#{place.address}"), target: :_blank
        %tr.bordered--bottom.visuallyhidden--palm
          %th.v-middle.soft--sides.bordered--right.one-third.nowrap Ajouter au calendrier
          %td.v-middle.soft--sides.one-whole
            = add_to_calendar(participation_request)
