- prefilled_message = "Bonjour #{@participation_request.user.first_name},\n\r\n\rMalheureusement, je suis dans l'obligation d'annuler votre séance d'essai.\n\r\n\rJe vous prie de bien vouloir m'excuser et vous remercie d'avance pour votre compréhension,\n\r\n\r#{@participation_request.structure.name}"

.panel
  .panel__header.soft
    %h4.flush
      Signaler une absence ou un dysfonctionnement
  .panel__body.soft
    %p.epsilon
      Malgré tous nos soins, certains professeurs oublient de prévenir quand un cours est annulé ou renseignent sur leur profil des informations peu fidèles à la réalité. Signalez-nous tout dysfonctionnement, cela nous aidera à nous améliorer et éviter qu'une telle situation se reproduise :

    = simple_form_for [@participation_request], url: report_structure_participation_request_path(@participation_request.structure, @participation_request), html: { id: 'participation-request-form' } do |f|
      = f.error_notification
      = f.input :report_reason_id, as: :select, collection: ParticipationRequest::ReportReason.find_all_by_type('user'), label_method: lambda{|reason| t(reason.name)}, label: false, include_blank: t('participation_request.report_reason.include_blank'), input_html: { class: 'input--large one-whole' }, wrapper_html: { class: 'flush--top' }
      = f.input :report_reason_text, input_html: { style: 'height: 100px', class: 'input--large one-whole', data: { behavior: 'autoresize' } }, as: :text, label: false, wrapper_html: { class: 'flush--top' }
      = f.input :reported_at, as: :hidden, input_html: { value: Time.now }

      .grid
        .grid__item.two-tenths>
          %a.btn.btn--full{ href: '#', onclick: '$.fancybox.close();' } Fermer
        .grid__item.eight-tenths>
          = f.submit 'Envoyer', class: 'nowrap btn--full btn btn--green', data: { disable_with: 'Envoi en cours...' }
