!!!
%html.no-js{ lang: 'fr', prefix: 'og:http://opengraphprotocol.org/schema fb:http://www.facebook.com/2008/fbml' }
  %head
    = yield :right_after_head

    = render 'layouts/structure_websites/meta_information'

    - if Rails.env.production?
      - if request.subdomain == 'pro'
        = render 'layouts/pro_g_analytics'
      - else
        = render 'layouts/g_analytics'
      = render 'layouts/mixpanel'

      = yield :after_ga
    = yield :head
    = favicon_link_tag
    %link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/ico' }
    %link{ href: asset_path('favicon.png'), rel: 'apple-touch-icon' }
    = javascript_include_tag 'modernizr' # MUST BE In the Head and before CSS
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags unless response.cache_control[:public]

  %body
    - unless response.cache_control[:public]
      - flash.each do |key, msg|
        .flash{ class: key, data: { behavior: 'flash', type: key } }
          = msg.html_safe
    <!--[if lte IE 8]>
    - cache 'IE8 and less' do
      = render 'layouts/ie8_and_less_blocker'
    <![endif]-->

    = yield :header

    = yield :above_container
    = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag 'application'
    = javascript_include_tag '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js', 'data-apikey' => '5ddb2502a5b017d46bf49c15d406678e'

    = yield :scripts
    = yield :layout_scripts
    = render 'layouts/social_sdks'


    :javascript
        Bugsnag.releaseStage = '#{Rails.env}';
        Bugsnag.notifyReleaseStages = ["staging", "production"]
    :javascript
        window.prerenderReady = false;
    - if !@prerender_not_ready
      :javascript
          $(function() {
              window.prerenderReady = true;
          });
