- if @structure.vertical_pages_breadcrumb.present?
  - cache [@structure, 'structure/show/breadcrumb/vertical_pages/V1', @structure.vertical_pages_breadcrumb] do
    - paris = City.find('paris') if @structure.is_parisian?
    %ol.nav.breadcrumb.push-half--bottom.visuallyhidden--palm
      %li.f-weight-600.gray-light{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
        = link_to vertical_pages_path, itemprop: 'url', class: 'gray-light' do
          %span{ itemprop: 'title' }= "Nos guides"
      - root_page_slug = @structure.vertical_pages_breadcrumb.split('|').first.split(';').first
      - @structure.vertical_pages_breadcrumb.split('|').each_with_index do |couple, index|
        - vertical_page_slug, vertical_page_subject_name = couple.split(';')
        %li.f-weight-600.gray-light{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
          - if index == 0
            = link_to root_vertical_page_path(vertical_page_slug), itemprop: 'url', class: 'gray-light' do
              %span{ itemprop: 'title' }= vertical_page_subject_name
          - else
            - if @structure.is_parisian?
              = link_to vertical_page_with_city_path(root_page_slug, vertical_page_slug, paris), itemprop: 'url', class: 'gray-light' do
                %span{ itemprop: 'title' }= "#{vertical_page_subject_name} (Paris)"
            - else
              = link_to vertical_page_path(root_page_slug, vertical_page_slug), itemprop: 'url', class: 'gray-light' do
                %span{ itemprop: 'title' }= vertical_page_subject_name
      %li.f-weight-600.gray-light{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
        %span.gray-light.f-weight-600{ itemprop: 'title' }
          = @structure.name
