.flexbox
  .flexbox__item.v-top.nowrap
    - cache [@structure, 'structure/show/breadcrumb/v2'] do
      %ol.nav.breadcrumb.push-half--bottom
        %li.f-weight-600.white{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
          = link_to root_search_page_without_subject_path(@city), class: 'white', itemprop: 'url' do
            %span{ itemprop: 'title' }
              = "Tous les cours à #{@city.name}"
        - dominant_root_subject = @structure.dominant_root_subject
        - if dominant_root_subject
          %li.f-weight-600.white{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
            = link_to root_search_page_path(dominant_root_subject, @city), class: 'white', itemprop: 'url' do
              %span{ itemprop: 'title' }
                = dominant_root_subject.name
        %li.f-weight-500.white{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
          %span{ itemprop: 'title' }
            = @structure.name
