- if cookies[:delete_cookies]
  - cookies.delete :comment_rating , domain: request.host
  - cookies.delete :comment_content, domain: request.host
  - cookies.delete :comment_title  , domain: request.host
  - cookies.delete :delete_cookies , domain: request.host

.islet.white-box
  = simple_form_for @comment, url: comments_path do |f|
    = f.hidden_field :commentable_type
    = f.hidden_field :commentable_id
    %div.input
      = f.label :rating
      %span.rating
        %i.star.icon-star-empty.gamma{style: 'top: 4px;', data: {value: 1}}
        %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -3px; padding: 0 2px', data: {value: 2}}
        %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -6px; padding: 0 2px', data: {value: 3}}
        %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -9px; padding: 0 2px', data: {value: 4}}
        %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -12px; padding: 0 2px', data: {value: 5}}
      %span#rating-description
    = f.input :rating, as: :hidden, input_html: {value: cookies[:comment_rating]}
    = f.input :title, label_html: {style: 'vertical-align: top;'}, input_html: {value: cookies[:comment_title]}, placeholder: 'Cours de Zumba du lundi, Atelier pâtisserie du 13 juin, etc.'
    = f.input :content, label_html: {style: 'vertical-align: top;'}, input_html: {style:' height: 50px;', 'data-behavior' => 'autoresize', value: cookies[:comment_content]}, placeholder: "Qu'avez-vous pensé du cours ?"
    .text--center
      - if current_user
        = f.submit 'Publier mon avis', class: 'btn btn--large btn--success', style: 'padding-top: 6px; padding-bottom: 6px;'
      - else
        = link_to 'Publier mon avis', new_user_registration_path, class: 'fancybox.ajax btn btn--large btn--success', style: 'padding-top: 6px; padding-bottom: 6px;', onclick: "_gaq.push(['_trackEvent', 'Avis sur établissement', 'click','Non inscrit'])", data: {behavior: 'modal', title: 'Connectez-vous pour commenter'}
= render 'comments/javascript'

= content_for :scripts do
  :javascript
    $(function() {
        if ( $('#comment_rating').val().length > 0
            || $('#comment_title').val().length > 0
            || $('#comment_content').val().length > 0) {
            $('#new-comment').show('slow');
        }
        $('#comment_rating').change(function() {
            $.cookie('comment_rating', $(this).val());
        });
        $('#comment_title').change(function() {
            $.cookie('comment_title', $(this).val());
        });
        $('#comment_content').change(function() {
            $.cookie('comment_content', $(this).val());
        });
    });
