.text--center.white-box.soft-half.push--bottom
  - if structure.comments_count and structure.comments_count > 0
    .grid#show-comments.pointer
      .grid__item.one-third.v-middle>
        .muted-link.thin.alpha.brand
          #{structure.comments_count}
          avis
        .text--center= link_to 'Donner mon avis', new_structure_comment_path(structure), target: '_blank'
        .visuallyhidden{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
          %meta{property: 'v:rating', itemprop: 'rating', content: 5}
          %meta{itemprop: 'count', content: structure.comments_count}
          %meta{itemprop: 'itemreviewed', content: structure.name}
          %meta{itemprop: 'name', content: structure.name}
          %meta{itemprop: 'street-address', content: structure.street}
          %meta{itemprop: 'postal-code', content: structure.zip_code}
          - if @city
            %meta{itemprop: 'locality', content: @city.name}
      .grid__item.two-thirds.v-middle>
        - structure.comments.accepted.reject{|c| c.title.blank?}[0..2].each do |comment|
          .epsilon.quoted.quoted--large= truncate(comment.title, length: 65)
  - else
    Pas encore d'avis sur cet établissement
    .text--center= link_to 'Donner mon avis', new_structure_comment_path(structure), target: '_blank'

= content_for :scripts do
  :javascript
    $(function() {
        $('#show-comments').click(function(){
            $.scrollTo($('[href="#tab-comments"]'), {duration: 200});
            $('[href="#tab-comments"]').click();
        });
    });
