- session.delete :user_return_to
- session.delete :after_inactive_sign_up_path

.panel.push--bottom
  %ul.panel__header.tabs.tabs--thin
    %li.active
      %a{ href: "#tab-message", data: { toggle: "tab" } }
        Message
    %li
      %a#phone-contact-tab{ href: "#tab-telephone", data: { toggle: "tab" } }
        Téléphone
    %li
      %a#website-tab{ href: "#tab-website", data: { toggle: "tab" } }
        Site & Facebook
    %li
      %a#addresses-tab{ href: "#tab-addresses", data: { toggle: "tab" } }
        = "Adresse".pluralize(@structure.places.count)
  .panel__body
    .tab-content.soft
      %article#tab-message.tab-pane.active.hard
        #structure-contact
          = simple_form_for [structure, Mailboxer::Message.new], url: structure_messages_path(structure), as: :message  do |f|
            %h4.f-weight-normal
              Contactez pour réserver ou obtenir plus d'infos :
            -# Here to stop bots.
            -# If this is filled, the message won't be sent
            .visuallyhidden
              %input{ name: 'content', type: 'text' }
            - unless current_user
              .grid--full.push-half--bottom
                .grid__item.one-half.soft-half--right>
                  %input.input--large.one-whole{name: 'user[first_name]', type: 'text', placeholder: 'Prénom + Nom', value: params[:first_name]}
                .grid__item.one-half>
                  %input.input--large.one-whole{name: 'user[email]', type: 'text', placeholder: 'Email', value: params[:email]}
            - prefilled_body = params[:message_body] || "Bonjour,\n\nJe souhaiterais venir pour une première séance. Pouvez-vous m’envoyer la date du prochain cours et toutes les autres informations nécessaires (tenue exigée, confirmation du lieu, etc.).\n\nMerci et à très bientôt"
            = f.input :body, label: false, wrapper_html: { class: 'flush--top' }, input_html: { class: 'one-whole input--large', style: 'height: 170px;', value: prefilled_body, data: { behavior: 'autoresize' } }
            = f.submit 'Envoyer mon message', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }

      %article#tab-telephone.tab-pane.hard
        %h4.f-weight-normal Contactez le partenaire directement par téléphone :
        %p.epsilon
          - if @structure.contact_phone.present?
            %strong= readable_phone_number @structure.contact_phone
            %strong= readable_phone_number '+33 9 72 40 47 30'
            %br
          - if @structure.contact_mobile_phone.present?
            %strong= readable_phone_number @structure.contact_mobile_phone
        %p.flush
          %i Mentionnez que vous avez trouvé le contact sur le site CoursAvenue pour bénéficier d'offres éventuelles. Vous tomberez peut-être sur le répondeur : envoyez un message !
      %article#tab-website.hard.tab-pane
        %h4.f-weight-normal.push-half--bottom.text--center Accédez aux pages du partenaire
        - if @structure.website.present?
          .text--center.push-half--bottom= link_to 'Site internet', @structure.website, target: '_blank', rel: 'nofollow', onclick: "ga('send', 'event', 'Contact structure', 'click', 'website')", class: 'btn'
        - if @structure.facebook_url.present?
          .text--center= link_to "Page Facebook", @structure.facebook_url, target: '_blank', class: 'btn--facebook btn'
      %article#tab-addresses.tab-pane.hard
        - @structure.places.each_with_index do |place, index|
          %p.epsilon{ class: (index < @structure.places.count - 1 ? 'push-half--bottom' : 'flush')}
            = place.location.address

= content_for :scripts do
  :javascript
    $(function() {
        $('#phone-contact-tab').click(function() {
            // TODO
            // Log it
        });
        $('#show-structure-contact').click(function() {
            if (!$.cookie("contact_structure_#{@structure.id}")) {
                $.cookie("contact_structure_#{@structure.id}", true)
                $('#show-structure-contact-form').submit();
            }
            $('#structure-contact').slideDown();
            $('#show-structure-contact-wrapper').slideUp();
        });
    });
