- session.delete :user_return_to
- session.delete :after_inactive_sign_up_path

%ul.tabs.tabs--blue
  %li.active
    %a{ href: "#tab-message", data: { toggle: "tab" } }
      %i.fa.fa-envelope-o
      Message
  %li
    %a#phone-contact-tab{ href: "#tab-telephone", data: { toggle: "tab" } }
      %i.fa.fa-phone
      Téléphone & contact

.tab-content.blue-box.islet
  %article#tab-message.tab-pane.active.hard
    #structure-contact
      = simple_form_for [structure, Message.new] do |f|
        %h4.f-weight-normal
          Le professeur risque d'être en cours, contactez-le par message
        -# Here to stop bots.
        -# If this is filled, the message won't be sent
        .visuallyhidden
          %input{name: 'content', type: 'text'}
        - prefilled_body = "Bonjour,\n\nJe souhaiterais venir pour une première séance. Pouvez-vous m’envoyer la date du prochain cours et toutes les autres informations nécessaires (tenue exigée, confirmation du lieu, etc.).\n\nMerci et à très bientôt"
        = f.input :body, label: false, wrapper_html: { class: 'flush--top' }, input_html: { class: 'one-whole', style: 'height: 170px;', value: prefilled_body, data: { behavior: 'autoresize' }}
        .grid--full.push-half--bottom
          .grid__item.one-half.soft-half--right>
            %input.one-whole{name: 'user[name]', type: 'text', placeholder: 'Nom'}
          .grid__item.one-half>
            %input.one-whole{name: 'user[email]', type: 'text', placeholder: 'Email'}
        = f.submit 'Envoyer mon message', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }

  %article#tab-telephone.tab-pane.hard
    %h4 Téléphone
    %div#phone-contact
      - if @structure.contact_phone.present?
        Fixe :
        = @structure.contact_phone
      %br
      - if @structure.contact_mobile_phone.present?
        Portable :
        = @structure.contact_mobile_phone
    %hr.hr--blue.push--ends
    - if @structure.website.present?
      %h4 Site web
      %div
        %i.fa.fa-external-link
        = link_to @structure.website, @structure.website, target: '_blank', rel: 'nofollow', onclick: "ga('send', 'event', 'Contact structure', 'click', 'website')"
    %hr.hr--blue.push--ends
    - if @structure.facebook_url.present?
      %h4 Facebook
      %div
        = link_to "Page Facebook", @structure.facebook_url, target: '_blank', class: 'btn--facebook btn one-whole push--bottom'

= content_for :scripts do
  :javascript
    $(function() {
        $('#phone-contact-button').click(function() {
            // TODO
            // Log it
        });
        $('#show-structure-contact').click(function() {
            if (!$.cookie("contact_structure_#{@structure.id}")) {
                $.cookie("contact_structure_#{@structure.id}", true)
                $('#show-structure-contact-form').submit();
            }
            $('#structure-contact').slideDown();
            $('#show-structure-contact-wrapper').slideUp();
        });
    });
