:javascript
  window.coursavenue = window.coursavenue || {};
  var models = #{ActiveModel::ArraySerializer.new(places, each_serializer: BigPlaceSerializer).to_json};
  window.coursavenue.bootstrap = {
      models: models
  };

.white-box.push--bottom
  .grid--full#media-grid
    .grid__item{class: medias.any? ? 'one-half' : 'one-whole'}>
      #structure-profile{data: { type: 'structure-profile-root'}}

    - if medias.any?
      .grid__item.one-half.rslides-wrapper.rslides--big>
        %ul.rslides.hidden>
          - medias[0..20].each_with_index do |media, index|
            %li
              %a.rslides_nav.rslides_nav--icon{rel: 'slideshow', href: media.url, class: (media.video? ? 'visible' : ''), data: {behavior: "fancy"}}
                - if media.video?
                  %i.fa.fa-youtube-play
                - else
                  %i.fa.fa-eye
              .one-whole.media__item.media__item--slides>
                %a.block.break-all{href: media.url, title: media.caption, data: {behavior: "fancy"}}
                  = media.thumbnail_url_html
                  %i.fa.fa-expand
  .grid--full
    .grid__item{class: medias.any? ? 'one-half' : 'one-whole'}>
      .text--center
        %a#show-all-places{href: 'javascript:void(0)'} Voir les adresses
    - if medias.any?
      .grid__item.one-half>
        .text--center
          %a#show-gallery{href: 'javascript:void(0)'} Voir la galerie (#{medias.count})

  %ul.block-list#place-list.hidden.flush
    - places.each_with_index do |place, index|
      %li.grid--full
        .grid__item.width-auto.v-middle.soft-half--right>
          .map-marker-image.center-block
            %a
              %span= index + 1
        .grid__item.seven-eighths.v-middle>
          = place.location.name
          %br
          %i= place.location.address
        %div{itemscope: true, itemtype: 'http://schema.org/Place'}
          .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
            %meta{itemprop: 'latitude', content: place.location.latitude}
            %meta{itemprop: 'longitude', content: place.location.longitude}
  - if medias.any?
    #gallery.hidden
      .media-gallery>
        = render partial: 'medias/media', collection: medias, locals: { lazy: true }

= content_for :scripts do
  :javascript
    $(function() {
        // Start slideshow
        // Removing images and adding the image url to background image in order to have the image being covered
        $('.rslides img').each(function(){
            var $this = $(this);
            $this.closest('.media__item').hide();
            $this.closest('li').css('background-image', 'url(' + $this.attr('src') + ')')
        });
        $(".rslides").responsiveSlides({
            auto: false,
            nav: true,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>'
        });
        // Set the height of the slides
        var media_height = $('#media-grid').height();
        $('.rslides li').css('height', media_height);
        $('.rslides').removeClass('hidden');
        // End slideshow
        var places_are_hidden   = true;
        $('#show-all-places').click(function() {
            $('#place-list').slideToggle();
            if (places_are_hidden) {
                $(this).text('Cacher les adresses');
            } else {
                $(this).text('Voir les adresses');
            }
            places_are_hidden = !places_are_hidden;
        });
        var gallery_is_hidden   = true;
        $('#show-gallery').click(function() {
            $(".media__item img").trigger('gallery:show');
            if (gallery_is_hidden) {
                $(this).text('Cacher la galerie');
            } else {
                $(this).text('Voir la galerie');
            }
            gallery_is_hidden = !gallery_is_hidden;
            $('#gallery').slideToggle();
        });
        $('[href=#tab-medias]').click(function(){
            if ($('.media-gallery').length > 0) {
                $('#show-gallery').click();
            }
        });
        $("#gallery .media__item img").lazyload({
            effect : "fadeIn",
            event: 'gallery:show',
            skip_invisible: true,
            load: function(elements_left, settings) {
                if (elements_left == 0) {
                   $('#gallery .media-gallery').masonry({ itemSelector: '.media__item' });
                }
            }
        });
    });
