- if @structure.medias.count > 0
  = content_for :meta_image do
    = @structure.medias.cover_first.videos_first.first.image.try(:url)
- elsif @structure.logo.present?
  = content_for :meta_image do
    = @structure.logo.url

-# If params[:c] is present, it means a teacher wants to share on Facebook and
-# wants to link to profile page but wants to have comment info as meta data
- if params[:c].present?
  - shared_comment = Comment::Review.find(params[:c])
  - if shared_comment
    = content_for :title do
      = "«#{shared_comment.title}» par #{shared_comment.author_name}"
    = content_for :meta_description do
      = truncate(shared_comment.content, length: 300)
- else
  = content_for :title do
    -# Ex: YOGA SATTVA PARIS - Essai GRATUIT - CoursAvenue.com
    - cache [@structure, 'structure/show/meta/title'] do
      - if @structure.is_open_for_trial?
        #{@structure.name.gsub('&', 'et')} - Essais gratuit - CoursAvenue.com
      - else
        #{@structure.name.gsub('&', 'et')} - CoursAvenue.com

  = content_for :meta_description do
    -# Ex: Professeur Yoga Sattva Paris à Paris : Cours d'Essai Gratuits & Promotions.
    -#     Réservez gratuitement et consultez les 30 avis, notés 5 sur 5 sur CoursAvenue.
    - cache [@structure, 'structure/show/meta/description/v2'] do
      - infos = []
      - infos << "Cours d'Essai Gratuits" if @structure.is_open_for_trial?
      #{t("#{(@structure.structure_type.present? ? @structure.structure_type : 'independant')}_for_meta_description")} #{@structure.name} à #{@structure.city.try(:name)} : #{infos.any? ? "#{infos.join(' & ')}." : ''} Réservez gratuitement et consultez les #{@structure.comments_count} avis, notés 5 sur 5 sur CoursAvenue.
