.bg-yellow.soft--sides.soft-half--ends.bordered--top.bordered--sides.white.border-color-yellow-darker
  %h2.flush
    %i.fa.fa-map-marker.v-middle
    %span.v-middle Lieu
= react_component('Map', { markers: @structure.places.includes(:city).map(&:to_react_json) } )
.bg-white.soft--top.bordered--sides.bordered--bottom
  .soft--sides
    - @structure.places.each_with_index do |place, index|
      .push--bottom.flexbox
        .flexbox__item.v-top.soft-half--right
          .map-box-marker.map-box-marker--inline{ class: "map-box-marker__#{place.dominant_root_subject.try(:slug)}" }
            %div= index + 1
        .flexbox__item.v-top.line-height-1-5.one-whole
          %strong= place.name.slice(0,1).capitalize + place.name.slice(1..-1)
          %br
          = place.address
          - if place.info.present?
            %div
              %i= place.info
