- if current_pro_admin
  - if @structure.admin.present?
    .soft.bg-blue-green.white.soft-double.relative.border-color-blue-green-darker.bordered
      .text--center.absolute.north.west.height-100-percent.one-whole.fa-coursavenue-marker-logo.fa-10x.soft--top.blue-green--slightly-darker
      .relative
        .delta.line-height-1-3.f-weight-bold Besoin d'information avant de vous inscrire ?
        %p.push-half--bottom
          - if @structure.is_sleeping? and @structure.admin.present?
            Posez toutes vos questions auprès de #{ t((@structure.structure_type or 'structures.independant') + '_for_registration_box') } :
            %a{ href: '#private-message', class: 'palm-text--center palm-one-whole palm-push--top btn btn--white-transparent btn--white-transparent--white btn--full',
                data: { behavior: 'modal', width: 500, padding: 0  } }
              Poser une question
          - elsif !@structure.is_sleeping?
            Posez toutes vos questions auprès de #{ t((@structure.structure_type or 'structures.independant') + '_for_registration_box') } ou de sa communauté de membres&nbsp;:
            %a{ href: '#messages-publics', class: 'palm-text--center palm-one-whole palm-push--top btn btn--white-transparent btn--white-transparent--white btn--full',
                data: { behavior: 'scroll-to', offset_top: '-50' } }
              Poser une question
        - if @structure.phone_numbers.any?
          .push-half--top
            = link_to 'Afficher le téléphone', '#phone-numbers', data: { behavior: 'modal', width: 350, padding: 0, logger: 'phone_number', structure_id: @structure.id }, class: 'palm-text--center palm-one-whole palm-push--top btn btn--white-transparent btn--white-transparent--white btn--full btn--small'
        - if @structure.website.present?
          .push-half--top
            = link_to 'Visiter le site Internet', URLHelper.fix_url(@structure.website), target: '_blank', rel: 'nofollow', data: { logger: 'website', structure_id: @structure.id }, class: 'palm-text--center palm-one-whole palm-push--top btn btn--white-transparent btn--white-transparent--white btn--full btn--small'

  #phone-numbers.hidden.panel
    .panel__header.soft-half--ends.soft--sides
      .delta.f-weight-bold.line-height-2 Coordonnées
    .panel__body.soft.delta
      - phone_number_html = @structure.phone_numbers.map do |phone_number, index|
        .line-height-2
          %i.fa.fa-phone
          - phone_number_html = PhoneNumberDecorator.new(PhoneNumber.new(number: phone_number.number)).formatted_number if phone_number.number
          = phone_number_html
          = " (#{phone_number.info})" if phone_number.info.present?

  - if @structure.is_sleeping? and @structure.admin.present?
    #private-message.hidden.panel
      - message = Mailboxer::PrivateMessageForm.new
      = simple_form_for message, url: structure_messages_path(@structure), as: :message do |f|
        .panel__header.soft-half--ends.soft--sides
          .delta.f-weight-bold.line-height-2 Posez une question à "#{ @structure.name }"
        .panel__body.soft.delta
          .soft--sides
            = f.input :body, input_html: { class: 'one-whole input--large',
              style: 'height: 150px', placeholder: 'Ajouter un message personnel ici', data: { behavior: 'autoresize' } }, label: false
          .soft--sides.soft--bottom
            .grid
              .grid__item.three-tenths.palm-one-whole.palm-push--bottom>
                %a.btn.btn--full{ href: '#', onclick: '$.fancybox.close();' } Fermer
              .grid__item.seven-tenths.palm-one-whole>
                = f.submit 'Envoyer', class: 'nowrap btn--full btn btn--green', id: 'submit-button', data: { disable_with: 'Envoi en cours...' }
- else
  .soft.bg-blue-green.white.soft-double.relative.border-color-blue-green-darker.bordered
    .relative
      = link_to "M'inscrire à une séance", root_vertical_page_with_city_path(@structure.dominant_root_subject.vertical_pages.first, 'paris'), class: 'btn btn--white-transparent btn--white-transparent--white btn--full push-half--bottom'
      .grid
        .grid__item.one-half>
          %strong Satisfaction garantie !
        .grid__item.one-half.text--right>
          %span.cursor-help{ data: { toggle: 'popover', html: 'true', placement: 'left', content: "<p class='black'>Pour essayer les cours de YOGA SATTVA PARIS et de centaines d'autres professeurs et associations, obtenez votre Pass à 99€. Dès qu'un cours vous convient, votre professeur déduira de votre 1er abonnement le prix du Pass. Si aucun cours ne vous plaît, nous vous remboursons. Ainsi, vous ne prenez aucun risque et votre Pass ne coûte rien.</p>" } } En savoir plus

