.map-with-slider.push-half--top.side-search-map
  - if @structures.blank?
    = gmaps( {markers: {data: [{lat: params[:lat], lng: params[:lng]}].to_json}, map_options: {maxZoom: 11, mapTypeControl: false}})
  - else
    = gmaps( {markers: {data: @json_structure_addresses}, map_options: {mapTypeControl: false}})
  .grid--full.map-slider-container
    %label.three-twelfths.grid__item.v-middle.bold> Rayon
    .seven-twelfths.grid__item.v-middle>
      .noUiSlider
    %label.two-twelfths.grid__item.v-middle.text--right.bold
      %span#radius-label-value= params[:radius]
      km

.side-search-panel
  //-------------------------------------------------------------------------------------------------------- Subject
  .search-panel
    %h5.side-search-panel-header.toggleable-header{data: {behavior: 'toggleable', el:'+ .search-panel-content'}}
      Par arrondissement
      %i.fa.fa-caret-left
    .search-panel-content.hide
      %ul.check-list
        %li
          - if params[:subject_id].present?
            = link_to '1e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.86', lng: '2.3411111000000346'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75001'])", title: '1e arrondissement'
          - else
            = link_to '1e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.86', lng: '2.3411111000000346'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75001'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '2e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '2e arrondissement', lat: '48.8691667', lng: '2.340555600000016'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75002'])", title: '2e arrondissement'
          - else
            = link_to '2e arrondissement', structures_path(name: params[:name], address_name: '2e arrondissement', lat: '48.8691667', lng: '2.340555600000016'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75002'])", title: '2e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '3e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '3e arrondissement', lat: '48.8638194', lng: '2.3616583000000446'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75003'])", title: '3e arrondissement'
          - else
            = link_to '3e arrondissement', structures_path(name: params[:name], address_name: '3e arrondissement', lat: '48.8638194', lng: '2.3616583000000446'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75003'])", title: '3e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '4e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '4e arrondissement', lat: '48.8555556', lng: '2.3555556000000024'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75004'])", title: '4e arrondissement'
          - else
            = link_to '4e arrondissement', structures_path(name: params[:name], address_name: '4e arrondissement', lat: '48.8555556', lng: '2.3555556000000024'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75004'])", title: '4e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '5e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '5e arrondissement', lat: '48.8472222', lng: '2.3444443999999294'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75005'])", title: '5e arrondissement'
          - else
            = link_to '5e arrondissement', structures_path(name: params[:name], address_name: '5e arrondissement', lat: '48.8472222', lng: '2.3444443999999294'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75005'])", title: '5e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '6e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '6e arrondissement', lat: '48.8472222', lng: '2.3444443999999294'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75006'])", title: '6e arrondissement'
          - else
            = link_to '6e arrondissement', structures_path(name: params[:name], address_name: '6e arrondissement', lat: '48.8472222', lng: '2.3444443999999294'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75006'])", title: '6e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '7e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '7e arrondissement', lat: '48.8591667', lng: '2.312777800000049'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75007'])", title: '7e arrondissement'
          - else
            = link_to '7e arrondissement', structures_path(name: params[:name], address_name: '7e arrondissement', lat: '48.8591667', lng: '2.312777800000049'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75007'])", title: '7e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '8e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '8e arrondissement', lat: '48.8741667', lng: '2.311111100000062'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75008'])", title: '8e arrondissement'
          - else
            = link_to '8e arrondissement', structures_path(name: params[:name], address_name: '8e arrondissement', lat: '48.8741667', lng: '2.311111100000062'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75008'])", title: '8e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '9e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '9e arrondissement', lat: '48.8782806', lng: '2.336966699999948'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75009'])", title: '9e arrondissement'
          - else
            = link_to '9e arrondissement', structures_path(name: params[:name], address_name: '9e arrondissement', lat: '48.8782806', lng: '2.336966699999948'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75009'])", title: '9e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '10e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.8755083', lng: '2.357852800000046'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75010'])", title: '1e arrondissement'
          - else
            = link_to '10e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.8755083', lng: '2.357852800000046'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75010'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '11e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.8586778', lng: '2.3793055999999524'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75011'])", title: '1e arrondissement'
          - else
            = link_to '11e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.8586778', lng: '2.3793055999999524'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75011'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '12e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.8408083', lng: '2.388183300000037'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75012'])", title: '1e arrondissement'
          - else
            = link_to '12e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.8408083', lng: '2.388183300000037'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75012'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '13e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.8322222', lng: '2.3555556000000024'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75013'])", title: '1e arrondissement'
          - else
            = link_to '13e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.8322222', lng: '2.3555556000000024'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75013'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '14e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.83302219999999', lng: '2.3268888999999717'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75014'])", title: '1e arrondissement'
          - else
            = link_to '14e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.83302219999999', lng: '2.3268888999999717'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75014'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '15e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.84132779999999', lng: '2.3002917000000025'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75015'])", title: '1e arrondissement'
          - else
            = link_to '15e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.84132779999999', lng: '2.3002917000000025'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75015'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '16e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.8636111', lng: '2.276488900000004'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75016'])", title: '1e arrondissement'
          - else
            = link_to '16e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.8636111', lng: '2.276488900000004'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75016'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '17e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.8822444', lng: '2.307838899999979'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75017'])", title: '1e arrondissement'
          - else
            = link_to '17e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.8822444', lng: '2.307838899999979'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75017'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '18e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.89215', lng: '2.3444471999999905'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75018'])", title: '1e arrondissement'
          - else
            = link_to '18e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.89215', lng: '2.3444471999999905'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75018'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '19e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '1e arrondissement', lat: '48.88235', lng: '2.381822199999988'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75019'])", title: '1e arrondissement'
          - else
            = link_to '19e arrondissement', structures_path(name: params[:name], address_name: '1e arrondissement', lat: '48.88235', lng: '2.381822199999988'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75019'])", title: '1e arrondissement'

        %li
          - if params[:subject_id].present?
            = link_to '20e arrondissement', subject_structures_path(params[:subject_id], name: params[:name], address_name: '2e arrondissement', lat: '48.8650611', lng: '2.3990499999999884'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75020'])", title: '2e arrondissement'
          - else
            = link_to '20e arrondissement', structures_path(name: params[:name], address_name: '2e arrondissement', lat: '48.8650611', lng: '2.3990499999999884'), onclick: "_gaq.push(['_trackEvent', 'Side bar paris', 'click', '75020'])", title: '2e arrondissement'
