- show_promotion = true if show_promotion.nil?
= link_to structure_path(structure), class: 'muted-link opacity-hidden-on-hover__wrapper block' do
  - if structure.medias.any?
    - image_url = structure.medias.cover_first.first.thumbnail_url
  - else
    - image_url = structure.logo.url(:large)
  .push-half--bottom.one-whole.bg-cover{ style: "background-image: url(#{image_url}); height: 200px;"}
    .show-on-hover__wrapper.show-on-hover__wrapper--black-curtain
      - if show_promotion
        .north.west.absolute
          - if structure.is_open_for_trial?
            .lbl.lbl--yellow.push--left.push--top
              %i.fa-ticket
              Essai gratuit
      .absolute.text--center.one-whole{ style: 'top: 90px;' }
        .gamma.white.opacity-hidden-on-hover__child Voir le profil
  .grid--full{ data: { similar_profile: true, structure_id: structure.id } }
    .grid__item.v-top.four-fifths.soft-half--left>
      %h6.inline-block.flush= truncate(structure.name, length: 36)
      %div= truncate(structure.cities_text, length: 40)
      %div
        %i= truncate(join_parent_subjects_text(structure), length: 40)
    .grid__item.v-top.one-fifth>
      .relative{ style: 'top: -45px', itemprop: 'image', content: structure.logo.url }
        = image_tag structure.logo.url(:small_thumb), class: 'bordered rounded--circle', width: 60, height: 60
