%li.one-whole.course-element{data: {"location-ids" => @structure_locations[structure].map(&:id).join(' '), url: structure_path(structure), type: 'structure-element'}}
  - if structure.logo.present?
    %div.two-twelfths
      .course-image.media__img
        = link_to structure_path(structure) do
          = image_tag structure.logo.url(:thumb), alt: "Cours de #{join_parent_subjects_text structure} à #{structure.name}", class: 'one-whole'

  %article.course-content{class: (structure.logo.present? ? 'eight-twelfths' : 'ten-twelfths')}
    %header
      .course-title
        %h2.delta.inline.v-middle
          = link_to structure.name, structure_path(structure)

    - if structure.subjects.count > 5
      %ul.nav= join_parent_subjects(structure)
    - else
      %ul.nav= join_child_subjects(structure)
  .course-content.two-twelfths.text--center.v-middle
    .thin.alpha.orange #{structure.comments_count}
    %div
      avis
      %a{href: '#comments'}
        %i.fa.fa-comment
    %div{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
      %span.rating{title: 'Excellent !'}
      %meta{property: 'v:rating', itemprop: 'rating', content: structure.rating}
      %meta{itemprop: 'count', content: structure.comments_count}
      %meta{itemprop: 'itemreviewed', content: structure.name}
      %meta{itemprop: 'name', content: structure.name}
      %meta{itemprop: 'street-address', content: structure.street}
      %meta{itemprop: 'postal-code', content: structure.zip_code}
