.grid--full.push-half--bottom.white-box
  .grid__item.two-twelfths.relative>
    = image_tag structure.logo.url(:thumb), class: 'block'
    - if structure.has_free_trial_course
      .free-trial-badge
  .grid__item.ten-twelfths.soft-half--sides>
    %h1.gamma.blue.flush--bottom= structure.name
    -# Structure type
    - if structure.structure_type
      %p.flush
        %i.fa.fa-building-o
        #{t(structure.structure_type)} proposant :
        = @structure_decorator.given_course_types
    - if structure.course_names.present?
      %p.flush
        #{structure.courses.count} cours (#{structure.plannings.count} séances) de
        %span{ title: structure.min_price_libelle, data: { behavior: 'tooltip' } } #{readable_amount(structure.min_price_amount)}€
        à
        %span{ title: structure.max_price_libelle, data: { behavior: 'tooltip' } } #{readable_amount(structure.max_price_amount)}€
