%li.one-whole.course-element{data: {"structure-id" => structure.id}}
  - if structure.image.present?
    %div.two-twelfths.hide--palm
      .course-image.media__img
        = link_to structure_path(structure) do
          = image_tag structure.image.url(:thumb)

  %article.course-content.ten-twelfths
    %header
      %h4.hN.course-title
        .map-marker-image
          = link_to structure_path(structure) do
            %span= structure_counter + 1
        %span= link_to structure.name, structure_path(structure)
    %p
      %i.icon-map-marker
      = structure.street
      \-
      = structure.city.try(:name)
    %footer
      %ul.nav
        %li
        /- structure.subjects.limit(4).group(:id).each do |subject|
        - structure.parent_subjects.each do |subject|
          %li
            %span= link_to subject.name, structures_path(subject_id: subject.id), class: 'lbl milli inline subject-link'
    - if structure.rating
      %div
        = structure.comments.count
        avis
        %i.lbc-brand-icon
        \/
        = course_rating structure.rating
        = "%.1f" % structure.rating

  .two-twelfths.text--center
    .alpha.orange= structure.courses.count
    cours
