#structure-header.one-whole.west.push-half--bottom
  .main-container.soft--sides.soft-half--ends.relative
    .nowrap.absolute.east.top-contacts-buttons-wrapper.visible-on-stick.soft--right
      %a.contact-button.btn.btn--green{ data: { behavior: 'show-contact-panel' } }
        %i.fa.fa-envelope
        Message
      %a.contact-button.btn{ data: { behavior: 'show-contact-panel' } }
        %i.fa.fa-phone
        Coordonnées
    .grid
      .grid__item.eight-twelfths.v-top>
        #structure-profile-title
          %h1.flush.v-middle.inline-block= @structure.name
          %span.v-middle
          - if @structure.premium?
            .v-middle.push-half--left.inline-block.lbl.lbl--yellow.visible-on-stick-ilb
              %i.fa.fa-tag
              Promotions
        .hidden-on-stick.push-half--top#structure-profile-description
          -# Structure type
          - if @structure.structure_type
            %p.flush.inline-block.v-middle.epsilon
              - if @structure.structure_type.present?
                %strong #{t(@structure.structure_type)}
              - else
                Structure
              proposant des
              = @structure_decorator.given_course_types
          - if @structure.premium?
            .epsilon.v-middle.push-half--left.inline-block.lbl.lbl--yellow
              %i.fa.fa-tag
              Offres promotionnelles
          .inline-block.v-middle{ data: { type: "filter-breadcrumbs" } }
      .grid__item.two-twelfths.v-bottom.hidden-on-stick>
        %a.v-middle{ href: "https://twitter.com/share", class: "twitter-share-button", data: { text: "J'adore \"#{@structure.name}\" @CoursAvenue #{structure_url(@structure)}", lang: "fr", count: 'none'}} Tweet

        -# .g-plus{ data: { action: "share", annotation: 'none', heigh: 20 } }

        - if @structure.premium? and @structure.facebook_url.present?
          .v-middle.fb-like{ data: { href: @structure.facebook_url, layout: 'button_count', action: 'like', 'show-faces' => 'false', share: "false" } }
        - else
          .v-middle.fb-like{ data: { href: structure_url(@structure), layout: 'button', action: 'recommend', 'show-faces' => 'false', share: "false" } }
      .grid__item.two-twelfths.v-bottom.text--right>
        %a.inline-block.f-decoration-not-underlined.text--center.hidden-on-stick{ href: '#avis' }
          %strong.beta= structure.comments_count
          %br
          recommandations
          .visuallyhidden{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
            %meta{property: 'v:rating', itemprop: 'rating', content: 5}
            %meta{itemprop: 'count', content: structure.comments_count}
            %meta{itemprop: 'itemreviewed', content: structure.name}
            %meta{itemprop: 'name', content: structure.name}
            %meta{itemprop: 'street-address', content: structure.street}
            %meta{itemprop: 'postal-code', content: structure.zip_code}
            - if @city
              %meta{itemprop: 'locality', content: @city.name}

= content_for :scripts do
  :javascript
      $(function() {
          $('[data-behavior=show-contact-panel]').click(function() {
              $.fancybox.open($('#contact-panel').clone(), { padding: 0, width: 450, helpers: { overlay: { locked: false } } });
          })
      })
