- subject = 'Danse, Théâtre & Musique'
- params[:groupe] ||= '1'
- case params[:groupe]
- when '1'
  - subject = 'Danse, Théâtre & Musique'
- when '2'
  - subject = 'Sports, Yoga & Bien-être'
- when '3'
  - subject = 'Arts créatifs'

- @city = City.find(params[:city].present? ? params[:city] : 'paris')
= content_for :right_after_head do
  %meta{ name: 'robots', content: 'noindex,follow' }

.step-2= render partial: 'structures/checkout_header_bis', locals: { current: 4 }

.text--center.soft.main-container.main-container--1000
  .soft--ends
    %h1 Bientôt disponible :-)
    %p.epsilon.line-height-1-3
      Merci de votre intérêt pour le Pass #{subject} !
      %br
      Il sera disponible dans quelques jours, nous vous enverrons un e-mail dès le lancement.
      %br
      En attendant, vous pouvez parcourir tous les cours de #{subject}
    = link_to "Voir tous les cours", root_search_page_without_subject_path('paris', groupe: params[:group]), class: 'btn btn--blue-green'


= content_for :scripts do
  :javascript
    $(function() {
        fbq('track', 'Purchase', {value: '70.00', currency: 'EUR'});
        mixpanel.track("PASS | Paiement envoyé", { subject: "#{subject}", email: '#{current_user.email}' });
    });

