= content_for :right_after_head do
  %meta{ name: 'robots', content: 'noindex,follow' }

.absolute.north.east.soft.on-top
  %span.soft-half--right Une question ?
  %i.fa.fa-phone
  09 82 24 27 74


= render partial: 'structures/checkout_header_bis', locals: { current: 1 }

.center-block.push--bottom.soft--ends{ style: 'max-width: 800px;' }
  %h1.text--center
    - if params[:gift]
      Devenez membre pour offrir un Pass Zumba
    - else
      Devenez membre pour obtenir votre Pass #{@subject.name}
  .grid--full
    - if @subject
      .grid__item.one-third>
        = image_tag @subject.vertical_pages.first.image.url(:small), class: 'block one-whole'
        .white-box.soft.text--left
          %h4 Pass #{@subject.name} Paris
          %div.push-half--bottom
            %i.fa.fa-check.green
            #{@subject.indexable_cards.count * 3} séances
          %div.push-half--bottom
            %i.fa.fa-check.green
            #{@subject.comments.count} avis
          %div.push-half--bottom
            %i.fa.fa-check.green
            #{@subject.indexable_cards.count} lieux
    .grid__item.two-thirds>
      #sign-up.center-block.bg-white.bordered--sides.bordered--bottom{ style: 'max-width: 400px;' }

= render 'structures/checkout_footer_bis'


:css
  .panel__header { display: none; }
= content_for :scripts do
  :javascript
      $(function() {
          new CoursAvenue.Views.SignUpView({ after_sign_in_popup: '', el: $('#sign-up'),
            success: function() {
                window.location = Routes.checkout_step_2_collection_structures_path({ city: '#{params[:city]}', subject: '#{params[:subject]}'});
            } });
      });

- if cookies[:gift].present?
  = content_for :scripts do
    :javascript
        $(function() {
            mixpanel.track("PASS | Landing Pass inscription", { type: 'Cadeau', subject: "#{@subject.try(:name)} à #{params[:city]}" });
        });
- else
  = content_for :scripts do
    :javascript
        $(function() {
            mixpanel.track("PASS | Landing Pass inscription", { type: 'Achat', subject: "#{@subject.try(:name)} à #{params[:city]}" });
        });
= content_for :scripts do
  :javascript
      $(function() {
          $('.btn--facebook').parent().hide();
          $('.btn--facebook').parent().next().hide();
          $('.btn--facebook').parent().next().next().hide();
          $('[data-behavior=sign-up-with-email]').click();
      });
