- subject = 'Danse, Théâtre & Musique'
- case params[:groupe]
- when '1'
  - subject = 'Danse, Théâtre & Musique'
- when '2'
  - subject = 'Sports, Yoga & Bien-être'
- when '3'
  - subject = 'Arts créatifs'

= content_for :right_after_head do
  %meta{ name: 'robots', content: 'noindex,follow' }

.absolute.north.east.soft.on-top
  %span.soft-half--right Une question ?
  %i.fa.fa-phone
  09 82 24 27 74


= render partial: 'structures/checkout_header_bis', locals: { current: 2 }

.center-block.push--bottom.soft--ends{ style: 'max-width: 800px;' }
  %h1.text--center
    - if params[:gift]
      Devenez membre pour offrir
      %br
      le Pass #{subject}
    - else
      Devenez membre pour obtenir
      %br
      votre Pass #{subject}
  .grid--full
    .grid__item.one-third>
      - if params[:groupe].blank? or params[:groupe] == '1'
        .white-box
          .bg-cover{ style: "background-image: url(https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-theatre.jpg); height: 200px;" }
          .soft-half--ends.soft--sides
            %h4.flush.line-height-1-5
              Pass Danse, Théâtre & Musique
            .epsilon.push--bottom
              %i.fa.fa-map-marker
              Paris - Ile-de-France
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              4246 séances
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              3664 avis
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              1664 lieux

      - if params[:groupe] == '2'
        .white-box
          .bg-cover{ style: "background-image: url(https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-yoga.jpg); height: 200px;" }
          .soft-half--ends.soft--sides
            %h4.flush.line-height-1-5
              Pass Sports, Yoga & Bien-être
            .epsilon.push--bottom
              %i.fa.fa-map-marker
              Paris - Ile-de-France
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              1782 séances
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              2241 avis
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              865 lieux

      - if params[:groupe] == '3'
        .white-box
          .bg-cover{ style: "background-image: url(https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-arts.jpg); height: 200px;" }
          .soft-half--ends.soft--sides
            %h4.flush.line-height-1-5
              Pass Arts créatifs
            .epsilon.push--bottom
              %i.fa.fa-map-marker
              Paris - Ile-de-France
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              1024 séances
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              1023 avis
            .text--left.line-height-1-5
              %i.fa.fa-check.green
              335 lieux
    .grid__item.two-thirds>
      #sign-up.center-block.bg-white.bordered--sides.bordered--bottom{ style: 'max-width: 400px;' }

= render 'structures/checkout_footer_bis'


:css
  .panel__header { display: none; }


- if cookies[:gift].present?
  = content_for :scripts do
    :javascript
        $(function() {
            mixpanel.track("PASS | Landing Pass inscription", { type: 'Cadeau', subject: "#{subject} à #{params[:city]}" });
            new CoursAvenue.Views.SignUpView({ after_sign_in_popup: '', el: $('#sign-up'),
              success: function() {
                  window.location = Routes.checkout_step_3_collection_structures_path({ city: '#{params[:city]}', groupe: '#{params[:groupe]}', gift: 'true'});
              }
            });
        });
- else
  = content_for :scripts do
    :javascript
        $(function() {
            mixpanel.track("PASS | Landing Pass inscription", { type: 'Achat', subject: "#{subject} à #{params[:city]}" });
            new CoursAvenue.Views.SignUpView({ after_sign_in_popup: '', el: $('#sign-up'),
              success: function() {
                  window.location = Routes.checkout_step_3_collection_structures_path({ city: '#{params[:city]}', groupe: '#{params[:groupe]}'});
              }
            });
        });

= content_for :scripts do
  :javascript
      $(function() {
          $('.btn--facebook').parent().hide();
          $('.btn--facebook').parent().next().hide();
          $('.btn--facebook').parent().next().next().hide();
          $('[data-behavior=sign-up-with-email]').click();
      });
