= content_for :right_after_head do
  %meta{ name: 'robots', content: 'noindex,follow' }

.step-1= render partial: 'structures/checkout_header', locals: { current: 2 }
.step-2.hidden= render partial: 'structures/checkout_header', locals: { current: 3 }

- @partipation_request = ParticipationRequest.new(structure: @structure)
- @partipation_request.participants.build

= simple_form_for [@structure, @partipation_request], html: { class: 'push--bottom' } do |f|
  .soft--ends.main-container
    %h1.text--center
      Réserver votre 1ère séance avec
      %br
      #{@structure.name}
    - if false# cookies[:test] == '100_dolls_pass'
      Blidablou
    - else
      .text--center.soft--top
        %h4
          = ab_test(:pass, "Pour contacter #{@structure.name} et autant de professeurs que vous souhaitez, vous avez besoin d'un Pass élève.", "Pour réserver votre séance, indiquez votre carte bleue : vous ne serez débité que si le professeur accepte votre demande d'inscription")
          %br
          - if @structure.courses.first.prices.first.try(:amount) > 19
            = ab_test(:pass, "Ce pass élève coûte 19 euros si un professeur accepte votre demande, rien sinon ! Ce pass comprend :", "La séance d'essai est gratuite. Votre carte bleue fonctionne comme une caution : si vous ne vous présentez pas à la séance sans l'avoir annulée, vous serez débité de 19€. Sinon, rien ne vous sera prélevé")
          - else
            = ab_test(:pass, "Ce pass élève coûte 19 euros si un professeur accepte votre demande, rien sinon ! Ce pass comprend :", "La séance d'essai est gratuite. Votre carte bleue fonctionne comme une caution : si vous ne vous présentez pas à la séance sans l'avoir annulée, vous serez débité de 19€. Sinon, rien ne vous sera prélevé")
      .grid.push--bottom
        .grid__item.one-quarter.text--center>
          %div
            = image_tag 'test/checkout-image-1.png', height: 50
          .f-weight-500
            = ab_test(:pass, "Contact illimité de professeurs pendant 30 jours", "Inscription en ligne gratuite sans frais supplémentaire")
        .grid__item.one-quarter.text--center>
          %div
            = image_tag 'test/checkout-image-2.png', height: 50
          .f-weight-500 19€ déduits de votre 1er abonnement si vous souhaitez en faire une pratique régulière
        .grid__item.one-quarter.text--center>
          %div
            = image_tag 'test/checkout-image-3.png', height: 50
          .f-weight-500 Réponse de votre prof en 9 heures (moyenne constatée)
        .grid__item.one-quarter.text--center>
          %div
            = image_tag 'test/checkout-image-4.png', height: 50
          .f-weight-500 Service client sympa et disponible à votre écoute

  .step-1
    .grid.center-block.soft--top{ style: 'max-width: 800px;' }
      .grid__item.four-twelfths.text--right.soft--right>
        = render partial: 'structures/checkout_structure_description'
      .grid__item.eight-twelfths>

        %input{ name: 'participation_request[structure_id]', type: 'hidden', value: @structure.id }
        .push--bottom
          - if @course
            .push--bottom
              %h3
                %i.fa.fa-check.green
                = @course.name
              - if @course.plannings.visible.any?
                %label.f-weight-bold.line-height-1-5.block À quelle séance voulez-vous assiter ?
                = f.input :planning_id, label: false, as: :select, collection: @course.plannings.map{|p| [p.decorate.week_day_name + ' ' + p.decorate.time_slot, p.id] }, include_blank: false, selected: params[:planning], wrapper_html: { class: 'flush' }

            .push--bottom
              %label.f-weight-bold.line-height-1-5.block Quel jour vous conviendrait ?
              - if params[:planning].present?
                - planning = Planning.find(params[:planning])
              - else
                - planning = @structure.courses.regulars.reject{|c| c.plannings.empty? }.flat_map{ |c| c.plannings.ordered_by_day }.first
              - next_start_time = DateTime.new(planning.next_date.year, planning.next_date.month, planning.next_date.day)
              %input{ style: 'width: 8em;', name: 'participation_request[date]', data: { behavior: 'datepicker', start_date: l(Date.today) }, value: l(next_start_time.to_date)  }
          - else
            .push--bottom
              %label.f-weight-bold.line-height-1-5.block Quel cours voulez-vous suivre ?
              = f.input :course_id, label: false, as: :select, collection: @structure.courses, include_blank: '', selected: params[:planning], wrapper_html: { class: 'flush' }, input_html: { class: 'one-whole' }

        .push--bottom
          %label.f-weight-bold.line-height-1-5.block Combien serez-vous ?
          = f.simple_fields_for :participants do |p_f|
            = p_f.input :number, label: false, as: :select, collection: (1..5).to_a, default: 1, wrapper_html: { class: 'flush' }

        .push--bottom
          %label.f-weight-bold.line-height-1-5.block Quel est votre numéro de téléphone ?
          %p.flush
            %i Celui-ci n'apparaîtra jamais sur le site et ne sera communiqué qu'aux professeurs avec lesquels vous souhaitez prendre des cours.
          %input{ style: 'width: 20em;', placeholder: 'Ex. 06 07 65 33 23', name: 'user[phone_number]' }
          .phone-number-error.red.hidden
            %strong Vous devez renseigner votre numéro de téléphone
        .push--bottom
          %label.f-weight-bold.line-height-1-5.block Accompagnez votre demande d'un petit message :
          %textarea{ style: 'width: 20em; height: 8em', name: 'participation_request[message][body]' }
          .message-error.red.hidden
            %strong Vous devez laisser un message pour envoyer votre demande
        .btn.btn--green.btn--full{ data: { behavior: 'show-step-2' } } Envoyer ma demande
  .step-2.main-container.hidden
    .grid.center-block.soft--top{ style: 'max-width: 800px;' }
      .grid__item.four-twelfths.text--right.soft--right>
        = render partial: 'structures/checkout_structure_description'
      .grid__item.eight-twelfths>
        .center-block{ style: 'max-width: 350px;' }
          .white-box.soft
            .text--center
              %h4.flush
                = ab_test(:test, "Pass élève : 19 €", (@course.has_free_trial_lesson? || @course.prices.first.nil? ? "Prix de la séance : gratuite" : "Prix de la séance : #{@course.prices.first.amount.to_i}€"))
              %p
                %strong Empreinte de votre carte bancaire*
            .alert--error.one-whole.push--bottom.text--center{ style: 'display: none;' }
              Vous avez besoin du Pass Élève pour envoyer votre demande
            .push-half--bottom
              .input-with-icon
                %input.credit-card-number.one-whole{ placeholder: 'Numéro de carte' }
                %i.fa.fa-credit-card
            .flexbox.push-half--bottom
              .flexbox__item.nowrap.soft-half--right
                Date d'expiration
              .flexbox__item
                %input.credit-card-expiry.one-whole{ placeholder: 'MM / AAAA'}
            .push-half--bottom
              .input-with-icon
                %input.credit-card-cvc.one-whole{ placeholder: 'Code de sécurité', type: 'tel' }
                %i.cursor-help.fa.fa-lock{ data: { toggle: 'popover', content: 'Le code de sécurité est imprimé au dos de votre carte bancaire : ce sont les 3 derniers chiffres', placement: 'left' } }
            .text--center
              = f.submit 'Payer', class: 'btn btn--green btn--full', data: { disable_with: 'Envoi en cours...' }
              %div.epsilon.soft-half--top
                %strong Paiement sécurisé
                %i.fa.fa-lock
              .soft-half--top
                Notre site est sécurisé made in France par
                %br
                = image_tag 'test/credit_mutuel.png', height: 15
          .soft-half--top

            - if @course.has_free_trial_lesson? || @course.prices.first.nil?
              = ab_test("*Votre carte bancaire ne sera débitée de 19 € que si un professeur accepte votre demande de cours et une fois seulement (même si plusieurs professeurs acceptent votre demande)", "*Séance gratuite : rien ne sera débité sauf si vous ne vous présentez pas à la séance (19€)")
            - else
              = ab_test("*Votre carte bancaire ne sera débitée de 19 € que si un professeur accepte votre demande de cours et une fois seulement (même si plusieurs professeurs acceptent votre demande)", "*#{@course.prices.first.amount.to_i}€ débit débité si un professeur accepte votre demande")

= render 'structures/checkout_footer'


- if cookies[:test] == '100_dolls_pass'
  :javascript
    var test_name = "TEST PASS"
- else
  :javascript
    var test_name = "TEST 1"

= content_for :scripts do
  :javascript
    $(function() {
        $('#participation_request_course_id').change(function() {
            CoursAvenue.showFullPageLoader();
            window.location = Routes.checkout_step_2_structure_path("#{@structure.slug}", { course: $('#participation_request_course_id').val() })
        });
        mixpanel.track(test_name + " | Checkout 2", { });
        $('form').submit(function() {
            if ($('.credit-card-number').val().length < 10 ||
                $('.credit-card-expiry').val().length < 4 ||
                $('.credit-card-cvc').val().length < 3) {
                $('.alert--error').slideDown();
                return false;
            }
            return true;
        });
        $('.credit-card-number').payment('formatCardNumber');
        $('.credit-card-expiry').payment('formatCardExpiry');
        $('.credit-card-cvc').payment('formatCardCVC');
        $('[data-behavior=show-step-2]').click(function() {
            if ($('[name="user[phone_number]"]').val().length == 0) {
                $('.phone-number-error').show();
                return;
            } else { $('.phone-number-error').hide(); }
            if ($('[name="participation_request[message][body]"]').val().length == 0) {
                $('.message-error').show();
                return;
            } else { $('.message-error').hide(); }
            mixpanel.track(test_name + " | Checkout 3", { });
            $('.step-1').hide();
            $('.step-2').show();
        });
        $('[data-behavior=show-step-1]').click(function() {
            $('.step-1').show();
            $('.step-2').hide();
        });
    });

