= content_for :right_after_head do
  %meta{ name: 'robots', content: 'noindex,follow' }

.absolute.north.east.soft.on-top
  %span.soft-half--right Une question ?
  %i.fa.fa-phone
  09 82 24 27 74

= render partial: 'structures/checkout_header_bis', locals: { current: 1 }

.main-container.text--center.push--bottom.soft--ends
  .white-box.inline-block.v-top{ style: 'width: 300px; '}
    .bg-cover{ style: "background-image: url(https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-theatre.jpg); height: 200px;" }
    .soft-half--ends.soft--sides
      %h4.flush.line-height-1-5
        Pass Danse, Théâtre & Musique
      .epsilon.push--bottom
        %i.fa.fa-map-marker
        Paris - Ile-de-France
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        4246 séances
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        3664 avis
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        1664 lieux
      .push-half--ends
        = link_to 'Choisir ce Pass', checkout_step_2_collection_structures_path(groupe: 1), class: 'btn btn--white'
      %div
        = link_to 'Voir tous les cours', root_search_page_without_subject_path('paris', groupe: 1), target: :_blank

  .white-box.inline-block.v-top.push--sides{ style: 'width: 300px; '}
    .bg-cover{ style: "background-image: url(https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-yoga.jpg); height: 200px;" }
    .soft-half--ends.soft--sides
      %h4.flush.line-height-1-5
        Pass Sports, Yoga & Bien-être
      .epsilon.push--bottom
        %i.fa.fa-map-marker
        Paris - Ile-de-France
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        1782 séances
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        2241 avis
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        865 lieux
      .push-half--ends
        = link_to 'Choisir ce Pass', checkout_step_2_collection_structures_path(groupe: 2), class: 'btn btn--white'
      %div
        = link_to 'Voir tous les cours', root_search_page_without_subject_path('paris', groupe: 2), target: :_blank

  .white-box.inline-block.v-top{ style: 'width: 300px; '}
    .bg-cover{ style: "background-image: url(https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-arts.jpg); height: 200px;" }
    .soft-half--ends.soft--sides
      %h4.flush.line-height-1-5
        Pass Arts créatifs
      .epsilon.push--bottom
        %i.fa.fa-map-marker
        Paris - Ile-de-France
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        1024 séances
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        1023 avis
      .text--left.line-height-1-5
        %i.fa.fa-check.green
        335 lieux
      .push-half--ends
        = link_to 'Choisir ce Pass', checkout_step_2_collection_structures_path(groupe: 3), class: 'btn btn--white'
      %div
        = link_to 'Voir tous les cours', root_search_page_without_subject_path('paris', groupe: 3), target: :_blank

= render 'structures/checkout_footer_bis'
