= content_for :head do
  %link{ rel: 'canonical', href: request.path }

- if params[:c].present?
  - shared_comment = @structure.comments.find(params[:c])

- if shared_comment and shared_comment.user and shared_comment.user.has_avatar?
  = content_for :meta_image do
    = shared_comment.user.avatar_url
- elsif @structure.logo.present?
  = content_for :meta_image do
    = @structure.logo.url(:thumb)

= content_for :title do
  - if shared_comment
    = "«#{shared_comment.title}» par #{shared_comment.author_name}"
  - else
    = "#{@structure.name} | CoursAvenue"

= content_for :meta_description do
  - if shared_comment
    = truncate(shared_comment.content, length: 300)
  - elsif @structure.description.present?
    = truncate("#{@structure.description_for_meta} à #{@city.name}", length: 155)
  - else
    - if @structure.parent_subjects_string.present?
      = "#{@structure.name} à #{@city.name}. #{subjects_name_from_string(@structure.parent_subjects_string)} ! à #{@city.name}"
    - else
      = "#{@structure.name} à #{@city.name}"

.visuallyhidden#lieux-photos
  .inline-block
    - if cookies[:structure_search_path]
      = link_to cookies[:structure_search_path] do
        %i.orange ←
        = t('.back_to_results')
    - else
      = link_to structures_path do
        %i.orange ←
        = t('.see_arrounding_structures')
  .inline-block.push-half--sides
    |
  .inline-block.push-half--bottom
    %ol.nav.breadcrumb.flush{itemprop: 'breadcrumb'}
      %li
        = link_to "Tous les établissement", structures_path
      %li= @structure.name

- if !current_user and params[:waiting_for_activation]
  .blue-box.islet.text--center.push--ends
    = render 'users/waiting_for_activation_text'

%div{ itemscope: true, itemtype: "http://schema.org/Place" }
  = render partial: 'structures/discovery_pass_structure_header', locals: { structure: @structure, show_promotion: false, discovery_pass: true }
  .soft--sides
    .grid
      .grid__item.eight-twelfths.soft-half--right>
        = render partial: 'structures/map_and_gallery', locals: { medias: @medias }

        #structure-profile-discovery-pass{ data: { type: 'structure-profile-discovery-pass-root' } }
          #structure-region
          %div{ data: { type: "comments-collection" } }
      .grid__item.four-twelfths>
        - if current_user and current_user.discovery_pass
          %div{ data: { type: 'contact-form' } }
        - else
          .orange-box.push--bottom>
            .soft.white.epsilon.text--center
              - if cookies[:discovery_pass_danse_test]
                %h3 Testez tous les styles de Danse !
                Obtenez votre Pass Découverte pour suivre un cours de danse avec ce professeur et
                %strong réserver 620 autres
                séances d'essai.
              - else
                %h3 Réserver mon cours d'essai
                %strong= @structure.dominant_root_subject.name
                - if @structure.has_discovery_pass_courses?
                  \: envie de vous lancer&nbsp;? Essayez les cours de
                  = t("structures.structure_type_contact.#{(@structure.structure_type.present? ? @structure.structure_type : 'other')}")
                  et
                  %strong 1 300 autres séances.
                - else
                  \: envie de vous lancer ? Essayez plus de 1 300 cours sélectionnés rien que pour vous.
              %br
              %br
              = link_to 'Obtenir mon Pass Découverte', discovery_passes_path, class: 'btn btn--yellow mixpanel-tracker', data: { info: 'From Discovery profile page'}
        - if @structure.response_rate or @structure.response_time or (@structure.main_contact and @structure.main_contact.current_sign_in_at)
          .panel.push--bottom
            .panel__body.soft.epsilon
              - if @structure.response_rate
                .grid--full.soft-half--bottom
                  .grid__item.v-middle.one-half.gray>
                    Taux de réponse
                  .grid__item.v-middle.one-half>
                    %strong= "#{@structure.response_rate}%"
              - if @structure.response_time
                .grid--full.soft-half--bottom
                  .grid__item.v-middle.one-half.gray>
                    Temps de réponse
                  .grid__item.v-middle.one-half>
                    %strong= response_time_in_words @structure
              - if @structure.main_contact and @structure.main_contact.current_sign_in_at
                .grid--full
                  .grid__item.v-middle.one-half.gray>
                    Dernière activité
                  .grid__item.v-middle.one-half>
                    %strong= l(@structure.main_contact.current_sign_in_at, format: :date).capitalize

          .panel.push--bottom
            .panel__header.soft-half--ends.soft--sides
              %h5.flush Actualités et offres exclusives
            .panel__body.soft
              %a.btn.btn--full{ data: { behavior: 'add-to-favorite', added_text: 'Retirer de mes favoris', not_added_text: 'Favori' } }
                %i.fa.fa-heart
                %span
              - if @structure.followers.count > 9
                %p.flush.text--center.push-half--top
                  %strong Suivi par #{@structure.followers.count} élèves

        - # This additionnal div is necessary for the husk that will be prepended
        - # to the parent of the sticky div
        %div
          %div{ data: { type: 'sticky-map-container' }}>
            .push--bottom{ data: { type: 'sticky-map' }}>
            - if current_user and current_user.discovery_pass
              %a.push--bottom.contact-button.btn--full.btn.btn--green{ data: { behavior: 'show-contact-panel' } }
                Réserver mon cours d'essai

            .panel.push--bottom
              .panel__header.soft-half--ends.soft--sides
                %h5.flush Profils similaires
              .panel__body.soft-half--ends{ style: 'height: 300px; overflow-y: scroll;' }
                - @structure.similar_profiles(21, { discovery_pass: true }).each_with_index do |structure, index|
                  - unless index == 0
                    %hr.push-half--ends
                  - cache ['similar_profiles', structure] do
                    %div{ style: 'height: 70px;' }
                      = link_to discovery_pass_structure_path(structure), class: 'soft-half--sides block muted-link' do
                        .grid--full{ data: { similar_profile: true, structure_id: structure.id } }
                          .grid__item.v-top.one-fifth>
                            .media-photo{ itemprop: 'image', content: structure.logo.url }
                              = image_tag structure.logo.url(:thumb)
                          .grid__item.v-top.four-fifths.soft-half--left.opacity-hidden-on-hover__wrapper>
                            %h6.inline-block.push-half--bottom= truncate(structure.name, length: 30)
                            %div
                              %i= truncate(structure.places.map(&:city).map(&:name).uniq.join(', '), length: 40)
                            .btn.btn--small.btn--blue.btn--full.opacity-hidden-on-hover__child Voir le profil

= content_for :scripts do
  :javascript
    (function () {
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          current_pro_admin: #{(current_pro_admin ? true : false)},
          structure: #{ @model.to_json },
          meta: {
              total_comments: #{ @structure.comments.accepted.count },
              structure_id  : #{ @structure.id }
          }
      };
    }());


- unless current_user
  = content_for :scripts do
    :javascript
      $(function() {
          var body_message = $('#contact-message-body').val();
          $.cookie('user_contact_message', body_message);
      });

#sign-in-to-see.hidden.orange-box
  .jpo-frise
  .soft.white.text--center
    %h1.flush Essayez plus de 1 300 cours de loisirs.
    %h4.text--center
      Vous n'avez pas encore votre Pass Découverte ?
    .text--center
      = link_to create_account_discovery_passes_path, class: 'btn btn--yellow btn--bigger soft-half--ends soft--sides mixpanel-tracker', data: { info: 'From discovery_passes_path'} do
        Obtenir mon Pass Découverte
      %br
      = link_to discovery_passes_path, class: 'white mixpanel-tracker f-weight-500', data: { info: 'From discovery_passes_path'} do
        En savoir plus
    %hr.hr--orange.push--ends
    .text--center
      .epsilon.f-weight-500
        Vous avez déjà votre Pass ?
        %a.white.f-decoration-underlined.mixpanel-tracker{ href: '#', data: { behavior: "sign-in", info: 'Connexion from discovery_pass_search page'} } Me connecter


= content_for :scripts do
  :javascript
    $(function() {
        $('[data-behavior=sign-in]').click(function() {
            CoursAvenue.signIn({
                success: function() {
                    window.location.reload()
                }
            });
        })
    });

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.track("Landed on Structure Discovery page", { "structure_slug": "#{@structure.slug}", "structure_name": "#{@structure.name}" });
      });
