- @is_responsive = true

= content_for :head do
  %link{ rel: 'canonical', href: request.path }

= content_for :title do
  - params[:city] = params[:address_name] if params[:address_name].present? and params[:city].blank?
  - if @subject
    = "#{(params[:subject_id].present? ? "Établissements de #{@subject.name.downcase}" : 'Établissements')} #{(params[:name].present? ? "correspondant à : « #{params[:name]} »" : (params[:city].present? ? "à #{params[:city]}" : 'à Paris'))}"
  - elsif params[:city].present?
    = "Tous les cours à #{params[:city]}"
  - else
    = "Tous les cours à Paris"


%ol.visuallyhidden.nav.breadcrumb.epsilon.push-half--top.push-half--bottom{itemprop: 'breadcrumb'}
  %li= link_to 'Tous les établissements', structures_path(name: params[:name], address_name: params[:address_name], lat: params[:lat], lng: params[:lng])
  - if @subject
    - if @subject.parent
      %li= link_to @subject.parent.name, subject_structures_path(@subject.parent, name: params[:name], address_name: params[:address_name], lat: params[:lat], lng: params[:lng])
    %li= link_to @subject.name, subject_structures_path(@subject, name: params[:name], address_name: params[:address_name], lat: params[:lat], lng: params[:lng])
  - if params[:name]
    %li= params[:name]
%h1.text--center.delta.flush.lbl.lbl--blue.visuallyhidden
  - if @subject
    Établissements de #{@subject.name.downcase}
  - else
    Établissements
  - if params[:name].present?
    correspondant à : « #{params[:name]} »
  - elsif params[:city].present?
    = "à #{params[:city]}"
  - else
    à Paris

.filtered-search-loader.text--center.island{ :data => { :type => "app-loader" }}
  = image_tag 'logos/logo@2x.png', class: 'center-block', height: 50, alt: 'CoursAvenue'
  = image_tag 'gifs/loading-indicator.gif', class: 'center-block', height: 10,  alt: 'Chargement'
.filtered-search{ :data => { :type => "#{ @app_slug }-root" }, id: "#{ @app_slug }"}

:javascript
  window.coursavenue  = window.coursavenue || {};
  var subjects        = #{ Subject.stars.to_json };
  // Adding other subject to the collection because it's a fake object
  subjects.push( { name: 'Autres', slug: 'other'} );

  window.coursavenue.bootstrap = {
      current_pro_admin: #{(current_pro_admin ? true : false)},
      options: {
          total: #{ @total },
          latlng: #{ @latlng },
          server_api: {}
      },
      models: #{ @models.to_json },
      subjects: subjects,
      discount_types: #{ Price::Discount::TYPES.to_json }
  };

- if params[:root_subject_id] != params[:subject_id]
  :javascript
    window.coursavenue.bootstrap.options.server_api.subject_id = "#{ params[:subject_id] }";
- if @subject and @subject.depth == 2
  :javascript
    window.coursavenue.bootstrap.options.server_api.parent_subject_id = "#{ @subject.parent.slug }";
- if params[:root_subject_id].present?
  :javascript
    window.coursavenue.bootstrap.options.server_api.root_subject_id = "#{ params[:root_subject_id] }";

- if params[:welcome]
  .panel.hidden#welcome-pass
    .panel__header.soft
      %h4.flush
        %i.fa.fa-check.green
        Pass activé
    .panel__body.soft.text--center.epsilon
      Profitez dès maintenant de votre Pass Découverte : parcourez, choisissez puis inscrivez-vous aux cours de loisirs qui vous intéressent le plus. Nous vous souhaitons de belles découvertes !
  = content_for :scripts do
    :javascript
      $(function() {
          $.fancybox.open($('#welcome-pass'), { width: 400, maxWidth: 400, padding: 0});
      });
  - if Rails.env.production?
    = content_for :scripts do
      :javascript
        mixpanel.people.track_charge(#{@user.discovery_pass.amount});
    = content_for :head do
      <!-- Facebook Conversion Code for Pass découverte checkout -->
      <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
      }
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6017039707227', {'value':'19.00','currency':'EUR'}]);
      </script>
      <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6017039707227&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>

- if !current_user or (current_user and !current_user.discovery_pass)
  #sign-in-to-see.hidden.orange-box
    .jpo-frise
    .soft.white.text--center
      %h1.flush Pass Découverte
      %h4.text--center
        Vous n'avez pas encore votre Pass ?
      .text--center
        = link_to create_account_discovery_passes_path, class: 'btn btn--yellow btn--bigger soft-half--ends soft--sides' do
          Obtenir mon Pass Découverte
        %br
        = link_to discovery_passes_path, class: 'white' do
          En savoir plus
      %hr.hr--orange.push--ends
      .text--center
        %h6 Vous avez déjà votre Pass ?
        .text--center
          %a.btn.btn--small.white{ href: '#', data: { behavior: "sign-in" } } Connexion


  = content_for :scripts do
    :javascript
      $(function() {;
          $('[data-behavior=sign-in]').click(function() {
              CoursAvenue.signIn({
                  success: function() {
                      window.location.reload()
                  }
              });
          })
          $.fancybox($('#sign-in-to-see'), {
                  topRatio    : 0.3,
                  openSpeed   : 300,
                  maxWidth    : 830,
                  maxHeight   : 450,
                  fitToView   : false,
                  width       : 830,
                  height      : 289,
                  autoSize    : false,
                  autoResize  : false,
                  padding     : 0,
                  closeBtn    : false,
                  keys        : {
                      close: []
                  },
                  helpers     : {
                      overlay : {
                        closeClick: false
                      }
                  }
            });
      });

