- @is_responsive = true

= content_for :head do
  %link{ rel: 'canonical', href: request.path }

- if @subject
  - title = "Cours gratuit de #{@subject.name} à #{params[:city_id].try(:capitalize)}"
- else
  - title = "Cours gratuit de Danse, Théâtre, Musique, Yoga... à #{params[:city_id].try(:capitalize) || 'Paris'} "

= content_for :title do
  = "#{title} | CoursAvenue"


= content_for :meta_description do
  - if @subject
    Cours gratuit de #{@subject.name} à #{params[:city_id].try(:capitalize)}. #{@subject.name} : testez gratuitement des centaines de cours gratuit autour de chez vous.
  - else
    Cours gratuit de Danse, Théâtre & Scène, Musique & Chant, Yoga, Bien-être & Sante, Dessin, Peinture & Arts, Sports & Arts martiaux à #{params[:city_id].try(:capitalize) || 'Paris'}

= render partial: 'noscript_index', locals: { title: @title }

-# .filtered-search-loader.text--center.island{ :data => { :type => "app-loader" }}
-#   = image_tag 'logos/logo@2x.png', class: 'center-block', height: 50, alt: 'CoursAvenue'
-#   = image_tag 'gifs/loading-indicator.gif', class: 'center-block', height: 10,  alt: 'Chargement'
.filtered-search{ :data => { :type => "#{ @app_slug }-root" }, id: "#{ @app_slug }"}

:javascript
  window.coursavenue  = window.coursavenue || {};
  var subjects        = #{ Subject.stars.to_json };
  // Adding other subject to the collection because it's a fake object
  subjects.push( { name: 'Autres', slug: 'other'} );

  window.coursavenue.bootstrap = {
      current_pro_admin: #{(current_pro_admin ? true : false)},
      options: {
          total: #{ @total },
          latlng: #{ @latlng },
          server_api: {}
      },
      models: #{ @models.to_json },
      subjects: subjects,
      discount_types: #{ Price::Discount::TYPES.to_json }
  };

- if params[:root_subject_id] != params[:subject_id]
  :javascript
    window.coursavenue.bootstrap.options.server_api.subject_id = "#{ params[:subject_id] }";
- if @subject and @subject.depth == 2
  :javascript
    window.coursavenue.bootstrap.options.server_api.parent_subject_id = "#{ @subject.parent.slug }";
- if params[:root_subject_id].present?
  :javascript
    window.coursavenue.bootstrap.options.server_api.root_subject_id = "#{ params[:root_subject_id] }";

- content_for :scripts do
  - if Rails.env.production?
    :javascript
      ga('send', 'event', 'search', 'view');
