- @is_responsive = true

= content_for :head do
  - if @subject
    %link{rel: 'canonical', href: subject_structures_url(@subject)}
  - else
    %link{rel: 'canonical', href: structures_url}

= content_for :title do
  - if @subject
    = "#{(params[:subject_id].present? ? "Établissements de #{@subject.name.downcase}" : 'Établissements')} #{(params[:name].present? ? "correspondant à : « #{params[:name]} »" : (params[:city].present? ? "à #{params[:city]}" : 'à Paris'))}"
  - else
    = "Établissements #{(params[:name].present? ? "correspondant à : « #{params[:name]} »" : (params[:city].present? ? "à #{params[:city]}" : 'à Paris'))}"


%ol.visuallyhidden.nav.breadcrumb.epsilon.push-half--top.push-half--bottom{itemprop: 'breadcrumb'}
  %li= link_to 'Tous les établissements', structures_path(name: params[:name], address_name: params[:address_name], lat: params[:lat], lng: params[:lng])
  - if @subject
    - if @subject.parent
      %li= link_to @subject.parent.name, subject_structures_path(@subject.parent, name: params[:name], address_name: params[:address_name], lat: params[:lat], lng: params[:lng])
    %li= link_to @subject.name, subject_structures_path(@subject, name: params[:name], address_name: params[:address_name], lat: params[:lat], lng: params[:lng])
  - if params[:name]
    %li= params[:name]
%h1.text--center.delta.flush.lbl.lbl--blue.visuallyhidden
  - if @subject
    Établissements de #{@subject.name.downcase}
  - else
    Établissements
  - if params[:name].present?
    correspondant à : « #{params[:name]} »
  - elsif params[:city].present?
    = "à #{params[:city]}"
  - else
    à Paris

.filtered-search-loader.text--center.island{ :data => { :type => "app-loader" }}
  = image_tag 'logos/logo@2x.png', class: 'center-block', height: 50, alt: 'CoursAvenue'
  = image_tag 'gifs/loading-indicator.gif', class: 'center-block', height: 10,  alt: 'Chargement'
.filtered-search{ :data => { :type => "#{ @app_slug }-root" }, id: "#{ @app_slug }"}

:javascript
  window.coursavenue  = window.coursavenue || {};
  var subjects        = #{ Subject.stars.to_json };
  // Adding other subject to the collection because it's a fake object
  subjects.push( { name: 'Autres', slug: 'other'} );

  window.coursavenue.bootstrap = {
      current_pro_admin: #{(current_pro_admin ? true : false)},
      options: {
          total: #{ @total },
          latlng: #{ @latlng }
      },
      models: #{ @models.to_json },
      subjects: subjects,
      discount_types: #{ Price::Discount::TYPES.to_json }
  };

- content_for :scripts do
  :javascript
      $(function() {
          setTimeout(function() {
              $('#not-on-jpo-box').animate({top: '0'});
          }, 1500);
          if ($('#understood').length > 0) {
              $('#understood').click(function() {
                  $('#not-on-jpo-box').animate({top: '-200px'});
                  $.cookie('understood_jpo_2014', true);
              });
          }
      })
