- @is_responsive = true

- if @subject
  - title = "#{@subject.name} à #{@city.name}"
- else
  - title = "Danse, Théâtre, Musique, Yoga... à #{@city.name || 'Paris'} "

= content_for :title do
  = "#{title} : #{number_with_delimiter @total} Cours d'Essai GRATUITS & Promotions - CoursAvenue.com"

= content_for :meta_description do
  #{title} : #{number_with_delimiter @total} Cours d'Essai GRATUITS & Promotions - CoursAvenue.com. Consultez #{number_with_delimiter @total_comments} avis d'élèves, #{number_with_delimiter @total_medias} photos. Inscrivez-vous gratuitement sur CoursAvenue.com

.filtered-search{ :data => { :type => "#{ @app_slug }-root" }, id: "#{ @app_slug }"}

:javascript
  window.coursavenue  = window.coursavenue || {};
  var subjects        = #{ ActiveModel::ArraySerializer.new(Subject.stars, each_serializer: SubjectSerializer).to_json };
  // Adding other subject to the collection because it's a fake object
  subjects.push( { name: 'Autres', slug: 'other' } );

  window.coursavenue.bootstrap = {
      current_pro_admin: #{(current_pro_admin ? true : false)},
      options: {
          total: #{ @total },
          latlng: #{ @latlng },
	  queryParams: {}
      },
      models: #{ @models.to_json },
      subjects: subjects,
      discount_types: #{ Price::Discount::TYPES.to_json }
  };

- if params[:root_subject_id] != params[:subject_id]
  :javascript
    window.coursavenue.bootstrap.options.queryParams.subject_id = "#{ params[:subject_id] }";
- if @subject and @subject.depth == 2
  :javascript
    window.coursavenue.bootstrap.options.queryParams.parent_subject_id = "#{ @subject.parent.slug }";
- if params[:root_subject_id].present?
  :javascript
    window.coursavenue.bootstrap.options.queryParams.root_subject_id = "#{ params[:root_subject_id] }";

- content_for :scripts do
  - if Rails.env.production?
    :javascript
      ga('send', 'event', 'search', 'view');
