- unless current_user or current_pro_admin
  = render 'users/registrations/jpo_popup'

- if @structure.logo.present?
  = content_for :meta_image do
    = @structure.logo.url(:thumb)

= content_for :title do
  = "Portes Ouvertes de #{@structure.name} les 5-6 avril avec CoursAvenue"

= content_for :meta_description do
  Participez à l'un des 5 000 cours gratuits les 5-6 avril. Ateliers offerts par #{@structure.name} : #{@structure.courses.open_courses.map(&:name).join(', ')}

.relative
  .inline-block
    = link_to open_courses_path do
      %i.orange ←
      Revenir à la recherche

  .inline-block.push-half--sides
    |
  .inline-block
    %ol.nav.breadcrumb.flush{itemprop: 'breadcrumb'}
      %li= link_to "Tous les établissement des Journées Portes Ouvertes", open_courses_path
      %li= @structure.name

  - if current_user
    #people-are-watching-you.alert.alert--error.absolute.east{style: 'display: none; top: -0.65em;'}
      #{(4..10).to_a.sample} personnes regardent actuellement cette page


- if current_user
  = content_for :scripts do
    :javascript
      $(function() {
          setTimeout(function() {
              $('#people-are-watching-you').fadeIn();
          }, 3000);
      });

- if !current_user and params[:waiting_for_activation]
  .blue-box.islet.text--center.push--ends
    = render 'users/waiting_for_activation_text'

.grid.push--top
  .grid__item.eight-twelfths>
    .grid--full.push-half--bottom.white-box
      .grid__item.two-twelfths.relative>
        = image_tag @structure.logo.url(:thumb), class: 'block'
      .grid__item.ten-twelfths.soft-half--sides>
        %h1.gamma.blue.flush--bottom= @structure.name
        %p.push-half--bottom
          %i.fa.fa-tags
          - subject_course_names = @open_courses.map(&:subjects).flatten.uniq.map(&:name).join(', ')
          %i{data: { placement: 'bottom', behavior: 'tooltip', title: subject_course_names }}= truncate(subject_course_names, length: 190)


    = render partial: 'structures/map_and_gallery', locals: { medias: @medias }

    %ul.tabs
      %li.active
        %a{href: '#tab-courses', data: {toggle: 'tab'} }
          %i.fa.fa-calendar
          Atelier Journées Portes Ouvertes
      %li
        %a{href: '#tab-comments', data: {toggle: 'tab'} }
          %i.fa.fa-comments
          Avis
      - if @structure.teachers.any?
        %li
          %a{href: '#tab-teachers', data: {toggle: 'tab'} }
            %i.fa.fa-group
            Professeurs
    .tab-content
      %article#tab-courses.tab-pane.active
        = render partial: 'structures/open_courses', locals: {structure: @structure}

      %article#tab-comments.tab-pane
        - if @comments.empty?
          %p.white-box.islet.text--center
            Cet établissement n'a pas encore d'avis
            %br
            %b Soyez le premier à nous donner votre avis !
        - if @comments.any?
          %ul#comments.comment-list
            - @comments.each_with_index do |comment, index|
              = render partial: 'comments/comment', locals: { structure: @structure, comment: comment, show_title: true }
      - if @structure.teachers.any?
        %article#tab-teachers.tab-pane
          #teachers
            - @teachers.each_with_index do |teacher, index|
              %div
                = render partial: 'teachers/teacher', locals: {teacher: teacher}


  .grid__item.four-twelfths{itemscope: true, itemtype: 'http://schema.org/Place'}>
    .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
      %meta{itemprop: 'latitude', content: @structure.latitude}
      %meta{itemprop: 'longitude', content: @structure.longitude}

    - if @structure.description
      .white-box.islet
        %div.read-more{data: {behavior: 'read-more', height: 300}}= simple_format @structure.description

    - if @structure.cover_image.present?
      .white-box.islet
        .text--center= image_tag @structure.cover_image.thumbnail_url, alt: "Cours de #{join_parent_subjects_text @structure} à #{@city.name}"


    - if @structure.facebook_url.present?
      = link_to "Page facebook de l'établissement", @structure.facebook_url, target: '_blank', class: 'btn--facebook btn one-whole push--bottom'



= content_for :scripts do
  :javascript
    $(function() {
        if (window.location.hash.indexOf('recommandation-') != -1) {
            $('[href=#tab-comments]').click();
            $.scrollTo($(window.location.hash), {duration: 500});
        }
        if (window.location.hash.length > 0 && window.location.hash != '#_=_') {
            $('[href=' + window.location.hash + ']').click();
        }
    });
