- if @structure.image.present?
  = content_for :meta_image do
    - if @structure.image.present?
      = @structure.image.url


= content_for :title do
  = "#{@structure.name} à #{@city.name}"

= content_for :meta_description do
  - if @structure.description.present?
    = "#{@structure.description_for_meta} à #{@city.name}"
  - else
    - if @structure.parent_subjects_string.present?
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}. #{subjects_name_from_string(@structure.parent_subjects_string)} et bien plus ! à #{@city.name}"
    - else
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}"

.grid.push--top
  .grid__item.four-tenths{itemscope: true, itemtype: 'http://schema.org/Place'}>
    .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
      %meta{itemprop: 'latitude', content: @structure.latitude}
      %meta{itemprop: 'longitude', content: @structure.longitude}
    .white-box.soft-half
      %h1.beta.blue.flush--bottom= @structure.name
      %ul.nav.push-half--ends= join_parent_subjects @structure, true
      - if @structure.description.present?
        %p.read-more{data: {behavior: 'read-more'}}= @structure.description.html_safe

    .text--center.white-box.soft-half.push--top.push--bottom
      - if @structure.rating
        .thin.big-alpha.brand #{@structure.rating}
        .delta{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
          %span.rating{title: comment_rating_title(@structure.rating)}
            = rating_stars @structure.rating
          %meta{property: 'v:rating', itemprop: 'rating', content: @structure.rating}
          %meta{itemprop: 'count', content: @structure.comments_count}
          %meta{itemprop: 'itemreviewed', content: @structure.name}
          %meta{itemprop: 'name', content: @structure.name}
          %meta{itemprop: 'street-address', content: @structure.street}
          %meta{itemprop: 'postal-code', content: @structure.zip_code}
          %meta{itemprop: 'locality', content: @city.name}
        %div
          = @structure.comments_count
          avis
          %a{href: '#comments'}
            %i.lbc-brand-icon
      - else
        Pas encore d'avis sur cet établissement
      #write-comment.text--center= link_to 'Donner mon avis', "javascript:void(0)"

    - if @structure.image.present?
      .white-box.islet
        .text--center= image_tag @structure.image.url(:normal), alt: "Cours de #{join_parent_subjects_text @structure} à #{@city.name}"
    - elsif @structure.image.present?
      .white-box.islet
        .text--center= image_tag @structure.image.url(:normal), alt: "Cours de #{join_parent_subjects_text @structure} à #{@structure.name}"

    .course-header-map.push--top
      = gmaps( {markers: {data: @places.to_gmaps4rails}, map_options: {maxZoom: 15, mapTypeControl: false}, last_map: false} )
      %h4.course-header-structure-name.flush--bottom
        %b= @structure.name
        - if current_user
          %br
          %i.icon-map-marker
          = @structure.address
    .white-box.islet.push--top
      - if @structure.website
        %div
          %i.icon-external-link.orange
          = link_to @structure.website, URI.encode(@structure.website), target: '_blank', rel: 'nofollow'
      .blue
        - if @structure.contact_phone or @structure.contact_mobile_phone
          %i.icon-phone.blue
        - if @structure.contact_phone
          = link_to "tel:#{@structure.contact_phone.gsub(/\s+/, '')}", class: 'blue' do
            = @structure.contact_phone.gsub(' ', '&nbsp;').html_safe
        - if @structure.contact_phone and @structure.contact_mobile_phone
          %span.blue /
        - if @structure.contact_mobile_phone
          = link_to "tel:#{@structure.contact_mobile_phone.gsub(/\s+/, '')}", class: 'blue' do
            = @structure.contact_mobile_phone.gsub(' ', '&nbsp;').html_safe
      %div
        %i.icon-home
        = @structure.address

    - if @structure.facebook_url.present?
      = link_to "Page facebook de l'établissement", URI.encode(@structure.facebook_url), target: '_blank', class: 'btn--facebook btn one-whole btn--small push--bottom'



  .grid__item.six-tenths>
    %ul.tab-titles.flush--top{data: {behavior: 'tabs'}}
      %li.tab-el.active{class: (@structure.comments_count > 0 ? '' : 'gray-light' ), onclick: "_gaq.push(['_trackEvent', 'Avis', 'click', '#{@structure.slug}']);", data: { el: 'tab-comments' }}
        %i.icon-comments
        Avis
      %li.tab-el{class: (@courses.any? ? '' : 'gray-light' ), onclick: "_gaq.push(['_trackEvent', 'Liste des cours', 'click', '#{@structure.slug}']);", data: { el: 'tab-courses' }}
        %i.icon-list
        Cours
        - if @courses.any?
          (#{@courses.length})
      %li.tab-el{class: (@teachers.any? ? '' : 'gray-light' ), onclick: "_gaq.push(['_trackEvent', 'Profeseurs', 'click', '#{@structure.slug}']);", data: { el: 'tab-teacher' }}
        %i.icon-group
        = Teacher.model_name.human(count: @teachers.length)
        (#{@teachers.length})
      %li.tab-el{class: (@medias.any? ? '' : 'gray-light' ), onclick: "_gaq.push(['_trackEvent', 'Galerie media', 'click', '#{@structure.slug}']);", data: { el: 'tab-videos' }}
        %i.icon-youtube-play
        Photos & vidéos
        (#{@medias.length})
      - if @places.any?
        %li.tab-el#tab-other-places-li{onclick: "_gaq.push(['_trackEvent', 'Autres lieux', 'click', '#{@structure.slug}']);", data: { el: 'tab-other-places' }}
          %i.icon-map-marker
          Lieux des cours
          (#{@places.length})

    .tab-content
      %article#tab-comments.tab-pane.active
        - if @comments.empty?
          %p.white-box.islet.text--center
            Cet établissement n'a pas encore d'avis
            %br
            %b Soyez le premier à nous donner votre avis !
        %article.push--top.push--bottom#new-comment{class: (@comments.any? ? 'hidden' : '')}= render '/places/comments_form'
        - if @comments.any?
          #comments= render partial: 'comments/comment', collection: @structure.all_comments, show_title: true


      %article#tab-teacher.tab-pane
        - @teachers.each do |teacher|
          %p.white-box.islet
            %b= teacher.name
            %br
            = teacher.description

      %article#tab-courses.tab-pane
        - if @courses.any?
          #course-list
            - @places.each do |place|
              %h4
                %i.icon-map-marker
                = place.name
              %table.table--striped.table--white
                %thead
                  %tr
                    %th.five-twelfths Nom du <b>cours</b>
                    %th.three-twelfths.text--center Disciplines
                    %th.two-twelfths.text--center Séances à venir
                    %th.text--right Prix
                %tbody
                  - place.courses.each do |course|
                    %tr
                      %td
                        %h3.base-font-style.flush--bottom= link_to course.name.capitalize, place_course_path(place, course)
                        - if course.rating
                          = rating_stars course.rating
                      %td.text--center
                        %ul.nav.flush--bottom
                          = join_course_subjects course
                      %td.text--center= course.plannings.count
                      %td.text--right
                        - if course.best_price
                          = "#{readable_amount course.best_price.amount}€".html_safe
        - else
          %p Cet établissement n'a pas renseigné de cours.

      %article#tab-videos.tab-pane
        .media-gallery
          - if @medias.any?
            - @medias.in_groups_of(2, false).each do |media_group|
              .grid
                - media_group.each do |media|
                  .grid__item.one-half>
                    %a.break-all.white-box.islet.media__item{href: media.url, title: media.caption}
                      = media.url_html
                      %caption= media.caption
          - else
            %p.white-box.islet
              Cet établissement n'a pas de photos ou de vidéos.
      - if @places.any?
        %article#tab-other-places.tab-pane
          = gmaps( {markers: {data: @places.to_gmaps4rails}, map_options: {maxZoom: 15, mapTypeControl: false, :id => 'other_places_map'}, scripts: :none})
          %ul.block-list.white-box
            - @places.each do |other_place|
              %li
                = link_to other_place.long_name, place_path(other_place)
                %br
                %i= other_place.address



= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        $('write-comment').addEvent('click', function() {
            $('new-comment').reveal();
        });
        var map_loaded = false;
        if ($('tab-other-places-li')) {
            $('tab-other-places-li').addEvent('click', function() {
                if (!map_loaded) { Gmaps.load_other_places_map(); map_loaded = true;}
            });
        }
        var description_is_hidden = true;
        if ($('place-description')) {
            if($('place-description').scrollHeight < 200) {
                $('show-more-description').hide();
            }
            $('show-more-description').addEvent('click', function() {
                if (description_is_hidden) {
                    $('place-description').setStyle('max-height', 'none');
                    this.set('text', 'Cacher la description');
                } else {
                    $('place-description').setStyle('max-height', '200px');
                    this.set('text', 'Voir toute la description');
                }
                description_is_hidden = !description_is_hidden;
                return false;
            });
        }
        new XtLightbox('.media-gallery a', {
            adaptors: ['Image', 'YouTube', 'Vimeo'],
            loop: true,
            rendererOptions: {
                positionText: 'Média {x} sur {total}. Utilisez les flèches pour naviguer, échape pour fermer la fenêtre.'
            },
            adaptorOptions: {
                Image: {
                    lightboxCompat: false
                }
            }
        });
    });
