- if current_pro_admin and current_pro_admin.super_admin?
  .fixed.west.south.push
    = link_to toggle_pure_player_structure_path(@structure), class: 'btn btn--green' do
      - if @structure.pure_player?
        Remove me from pure players
      - else
        Make me a pure player

= content_for :head do
  %link{ rel: 'canonical', href: structure_url(@structure) }

= render 'meta_information'

- if !current_user and params[:waiting_for_activation]
  .blue-box.islet.text--center.push--ends
    = render 'users/waiting_for_activation_text'

.soft--sides.soft-half--top.soft--bottom.palm-hard
  = render partial: 'structures/structure_header', locals: { structure: @structure }
  = render partial: 'structures/breadcrumbs', locals: { structure: @structure }
  .grid--full#presentation
    .grid__item.eight-twelfths.palm-one-whole.soft--right.palm-hard>
      .push--bottom.bg-white.bordered.soft--ends
        .soft--sides
          .grid
            .grid__item.v-top.one-fifth.text--center.palm-one-whole>
              - if @structure.logo.present?
                = image_tag @structure.logo.url(:small_thumb_100), height: 100, width: 100, data: { src2x: @structure.logo.url(:thumb) }
              - else
                .inline-block.rounded--circle-100.white.text--center{ class: "bg-#{@structure.dominant_root_subject.slug}" }
                  %i.fa.fa-user-big.alpha
            .grid__item.v-top.four-fifths.palm-one-whole>
              .float--right.epsilon
                %strong
                  %i.fa.fa-coursavenue-marker-logo
                  = "#{@structure.comments_count} avis"
              %h1.flush= @structure.name
              .delta.f-weight-500.push-half--bottom.gray= @structure_decorator.structure_type

              = react_component('SubjectList', { classes: 'search-page-card__subjects-wrapper text--left', follow_links: true, colored: true, subject_list: ActiveModel::ArraySerializer.new(@structure.subjects.at_depth(2).uniq, each_serializer: SubjectListSerializer) })

        - if @structure.medias.count > 0
          .push--bottom
            = render partial: 'structures/indexable_cards/gallery', locals: { medias: @structure.medias.cover_first.videos_first, structure: @structure }
          - if @structure.description.present?
            .soft--sides.soft--bottom.last-p-flush
              .relative.epsilon.line-height-1-3.read-more{ data: { behavior: 'read-more', height: '240' } }
                = simple_format @structure.description


      .push--bottom= render partial: 'structures/plannings'

      - if @structure.admin.present?
        .push--bottom
          = react_component('MessageThreadList', { structure: @serialized_structure })

      .push--bottom
        = react_component('CommentList', { structure: @serialized_structure })
      - if @is_sleeping
        = render partial: 'structures/sleeping_content', locals: { medias: @medias }

      .bg-white.bordered
        .soft.beta.bordered--bottom.f-weight-400 Ces articles pourraient vous intéresser
        .flexbox
          - @structure.associate_blog_articles(2).each do |article|
            = link_to blog_article_path(article), class: 'flexbox__item flush gamma muted-link v-middle search-page-filters__image-button palm-one-whole palm-block bg-cover one-half', style: "background-image: url('#{article.image.url(:similar_article)}');" do
              .search-page-filters__image-button-curtain
              .flexbox.relative.search-page-filters__panel-half-height
                .flexbox__item.v-middle.gamma= article.title
    .grid__item.four-twelfths.palm-one-whole.visuallyhidden--palm>
      .push--bottom
        .on-top-of-the-world{ data: { behavior: 'sticky', old_width: 'true', update_on_scroll: 'true' } }
          = render 'registration'

      = react_component('Favorite', { logged_in: current_user.present?, type: 'structure', favorited: @favorited })

      .push--bottom= render 'places'

      - unless @is_sleeping
        .bg-white.bordered.push--bottom.soft.bordered--sides= render 'structures/response_stats'

      = react_component('SimilarProfileList', { structure: @serialized_structure })

= content_for :scripts do
  -# This is used when a user make a reservation.
  -# The confirmation popup will ask to update logo if the user does not have one already.
  = filepicker_js_include_tag

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.track("Structures/show: landing", { "structure_slug": "#{@structure.slug}", "structure_name": "#{escape_javascript(@structure.name)}" });
          CoursAvenue.statistic.logStat(#{@structure.id}, 'view')
      });

- if Rails.env.production? and params[:utm_campaign] == 'take_control'
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.track("Structures/show: landing_from_email", { "structure_slug": "#{@structure.slug}", "structure_name": "#{escape_javascript(@structure.name)}" });
      });

= content_for :scripts do
  :javascript
    $(function() {
        mixpanel.track("PASS | Landing cours", { type: 'profil' });
        $(document.body).on('coursavenue:started', function() {
            CoursAvenue.statistic.logView(#{@structure.id});
        });
    });

:javascript
  window.city = '#{@structure.city.try(:slug) || @structure.places.first.try(:city).try(:slug) || 'paris'}'
