- @prerender_not_ready = false

- if current_pro_admin and current_pro_admin.super_admin?
  .fixed.west.south.push
    = link_to toggle_pure_player_structure_path(@structure), class: 'btn btn--green' do
      - if @structure.pure_player?
        Remove me from pure players
      - else
        Make me a pure player

= content_for :head do
  %link{ rel: 'canonical', href: structure_url(@structure) }

= render 'meta_information'

- if !current_user and params[:waiting_for_activation]
  .blue-box.islet.text--center.push--ends
    = render 'users/waiting_for_activation_text'

- if @structure.medias.any?
  - image = @structure.medias.cover_first.images_first.first.image
  #photos-videos.bg-position-top.bg-cover.absolute.north.west.one-whole.z-index-under{ style: "height:300px; background-image: url('#{image.url(:wide_and_blurry)}')", data: { behavior: 'parallax' } }
    .black-curtain.black-curtain--soft.north.west.one-whole.absolute
- else
  .bg-position-top.bg-cover.absolute.north.west.one-whole.z-index-under
    #header-map{ style: "height:300px;" }
    .black-curtain.black-curtain--soft.north.west.one-whole.absolute
.soft--sides.soft-half--top.soft--bottom.palm-hard
  = render partial: 'structures/structure_header', locals: { structure: @structure }
  = render partial: 'structures/breadcrumbs', locals: { structure: @structure }
  .grid--full
    .grid__item.eight-twelfths.palm-one-whole.soft-half--right.palm-hard>
      - if @structure.medias.any?
        = render partial: 'structures/gallery', locals: { medias: @medias, structure: @structure }

      - comment = (@structure.highlighted_comment || @structure.comments.last)
      - if comment
        %div.epsilon.soft-half--bottom
          %i.fa-quotes.v-super.white
          .inline-block.v-middle.white.inline-block.very-soft.hard--ends.f-weight-bold
            = truncate(comment.title, length: 60)
          .inline-block.v-middle.white.f-style-italic
            \— #{comment.author_name}, #{truncate(comment.course_name, length: 15)} —
          .inline-block.v-middle.f-weight-bold
            = link_to '#avis', data: { behavior: 'scroll-to', offset_top: '-50' }, class: 'white' do
              Voir les #{@structure.comments_count} avis

      #structure-profile.push--bottom.bg-white.bordered{ data: { type: 'structure-profile-root' } }
        #structure-region
        #avis
          %div{ data: { type: "certified-comments-collection" } }
          %div{ data: { type: "guestbook-collection" } }
        - if @is_sleeping
          = render partial: 'structures/sleeping_content', locals: { medias: @medias }
      .beta.text--center.ff-droid.f-style-italic.bordered--bottom.soft--bottom.f-weight-400.push--bottom Articles de blog associés
      .grid
        - @structure.associate_blog_articles.each do |article|
          .grid__item.one-third.palm-one-whole.push--bottom>
            = link_to blog_article_path(article), class: 'block link-colored-on-hover', title: article.title do
              = image_tag article.image.url(:similar_article), class: 'block one-whole hoverable-media'
              %h4.text--center.ff-droid.f-style-itali--fullc.f-weight-normal.flush.delta.soft-half--top.line-height-1-3= article.title
    .grid__item.four-twelfths.palm-one-whole.visuallyhidden--palm>
      %div{ data: { type: 'contact-form' } }
      - # This additionnal div is necessary for the husk that will be prepended
      - # to the parent of the sticky div
      %div
        .on-top.bg-site-background-on-stick.transition-all-300{ data: { type: 'sticky-map-container' } }>
          .soft--top{ data: { type: 'sticky-map' } }>
      - unless @is_sleeping
        .panel.push--ends
          .panel__body.soft.epsilon
            = render 'structures/response_stats'

        %a.btn.btn--full{ data: { behavior: 'add-to-favorite', added_text: 'Retirer de mes favoris', not_added_text: 'Ajouter en favori' } }
          %i.fa.fa-heart
          %span
        - if @structure.followings.count > 9
          %p.flush.text--center.push-half--top
            %strong Suivi par #{@structure.followings.count} élèves
      .panel.push--top
        .panel__header.soft-half--ends.soft--sides
          %h4.flush Profils similaires
        .panel__body.soft-half--ends{ style: (@is_sleeping ? '' : 'height: 300px; overflow-y: scroll;') }
          - @similar_profiles.each_with_index do |structure, index|
            - unless index == 0
              %hr.push-half--ends
            - cache ['similar_profiles', structure] do
              %div{ style: 'height: 70px;' }
                .soft-half--sides
                  .grid--full{ data: { similar_profile: true, structure_id: structure.id } }
                    .grid__item.v-top.one-fifth>
                      .media-photo{ itemprop: 'image', content: structure.logo.url }
                        = image_tag structure.logo.url(:thumb)
                    .grid__item.v-top.four-fifths.soft-half--left.opacity-hidden-on-hover__wrapper>
                      %h6.flush.line-height-1-5.text-ellipsis
                        = link_to structure.name, structure_path(structure), class: 'muted-link'
                      .line-height-1-5
                        %i= truncate(structure.cities_text, length: 40)
                      - if header_promotion_title_for_structure(structure).present?
                        .line-height-1-5
                          .lbl.lbl--small.lbl--yellow
                            %i.fa-star
                            = header_promotion_title_for_structure(structure)

- if @structure.medias.empty?
  - @structure_locations = Gmaps4rails.build_markers([@structure]) do |structure, marker|
    - marker.lat structure.latitude
    - marker.lng structure.longitude

= content_for :scripts do
  :javascript
    $(function () {
      if ($('#header-map').length == 1) {
          google_map_handler = Gmaps.build('Google');
          google_map_handler.buildMap({ provider: { scrollwheel: false }, internal: { id: 'header-map' }}, function(){
              markers = google_map_handler.addMarkers(#{@structure_locations.to_json});
              google_map_handler.bounds.extendWith(markers);
              google_map_handler.fitMapToBounds();
              google_map_handler.getMap().setZoom(15);
          });
      }
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          current_pro_admin: #{(current_pro_admin ? true : false)},
          structure: #{ @model.to_json },
          meta: {
              have_upcoming_plannings: #{ @structure.plannings.future.any? },
              is_sleeping: #{ @structure.is_sleeping? || !@structure.enabled? },
              structure_id: #{ @structure.id }
          }
      };
    }());


- unless current_user
  = content_for :scripts do
    :javascript
      $(function() {
          var body_message = $('#contact-message-body').val();
          $.cookie('user_contact_message', body_message);
      });

= content_for :scripts do
  -# This is used when a user make a reservation.
  -# The confirmation popup will ask to update logo if the user does not have one already.
  = filepicker_js_include_tag

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.track("Structures/show: landing", { "structure_slug": "#{@structure.slug}", "structure_name": "#{escape_javascript(@structure.name)}" });
          CoursAvenue.statistic.logStat(window.coursavenue.bootstrap.structure.id, 'view')
      });

- if Rails.env.production? and params[:utm_campaign] == 'take_control'
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.track("Structures/show: landing_from_email", { "structure_slug": "#{@structure.slug}", "structure_name": "#{escape_javascript(@structure.name)}" });
      });

= content_for :scripts do
  :javascript
    $(function() {
        $(document.body).on('coursavenue:started', function() {
            CoursAvenue.statistic.logView(#{@structure.id});
        });
    });
