- if @structure.logo.present?
  = content_for :meta_image do
    = @structure.logo.url(:thumb)


= content_for :title do
  = "#{@structure.name} à #{@city.name}"

= content_for :meta_description do
  - if @structure.description.present?
    = "#{@structure.description_for_meta} à #{@city.name}"
  - else
    - if @structure.parent_subjects_string.present?
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}. #{subjects_name_from_string(@structure.parent_subjects_string)} et bien plus ! à #{@city.name}"
    - else
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}"

.inline-block
  - if cookies[:structure_search_path]
    = link_to cookies[:structure_search_path] do
      %i.orange ←
      = t('.back_to_results')
  - else
    = link_to structures_path do
      %i.orange ←
      = t('.see_arrounding_structures')
.inline-block.push-half--sides
  |
.inline-block
  %ol.nav.breadcrumb.flush{itemprop: 'breadcrumb'}
    %li
      = link_to "Tous les établissement", structures_path
    %li= @structure.name


.grid.push--top
  .grid__item.six-tenths>
    %ul.tabs
      %li.active
        %a{href: '#tab-map', data: {toggle: 'tab'} }
          %i.fa.fa-map-marker
          Carte
      %li
        %a{href: '#tab-medias', data: {toggle: 'tab'} }
          %i.fa.fa-picture
          Photos & Vidéos
          - if @medias.any?
            = "(#{@medias.length})"

    .tab-content
      #tab-map.tab-pane.active
        .course-header-map
          = gmaps( {markers: {data: @places_address}, map_options: {maxZoom: 17, mapTypeControl: false}, last_map: true} )
        %div.white-box.push-half--bottom
          %ul.block-list#place-list.hidden.flush
            - @structure.places.each_with_index do |place, index|
              %li.grid--full
                .grid__item.width-auto.v-middle.soft-half--right>
                  .map-marker-image.center-block
                    %a
                      %span= index + 1
                .grid__item.seven-eighths.v-middle>
                  = place.location.name
                  %br
                  %i= place.location.address
                %div{itemscope: true, itemtype: 'http://schema.org/Place'}
                  .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
                    %meta{itemprop: 'latitude', content: place.location.latitude}
                    %meta{itemprop: 'longitude', content: place.location.longitude}
          .text--center
            %a#show-all-places{href: 'javascript:void(0)'} Voir les adresses

      #tab-medias.tab-pane
        - if @medias.any?
          .media-gallery
            = render partial: 'medias/media', collection: @medias
        - else
          %p.white-box.islet.text--center
            Cet établissement n'a ni photos ni vidéos.

    %ul.tabs
      %li.active
        %a{href: '#tab-description', data: {toggle: 'tab'} }
          %i.fa.fa-list
          Description
      %li
        %a{href: '#tab-courses', data: {toggle: 'tab'} }
          %i.fa.fa-calendar
          Cours
      %li
        %a{href: '#tab-comments', data: {toggle: 'tab'} }
          %i.fa.fa-comments
          Avis
      %li
        %a{href: '#tab-teachers', data: {toggle: 'tab'} }
          %i.fa.fa-group
          Professeurs
    .tab-content
      %article#tab-description.tab-pane.active
        .white-box.islet
          %h2.visuallyhidden.delta Description de : #{@structure.name}
          - if @structure.description
            %p= simple_format @structure.description
          - else
            %p Pas de description

      %article#tab-comments.tab-pane
        - if @comments.empty?
          %p.white-box.islet.text--center
            Cet établissement n'a pas encore d'avis
            %br
            %b Soyez le premier à nous donner votre avis !
        - if @comments.any?
          %ul#comments.comment-list
            - @comments.each_with_index do |comment, index|
              = render partial: 'comments/comment', locals: {comment: comment, show_title: true}

      %article#tab-courses.tab-pane
        - if @courses.any?
          #course-list
            %table.table--striped.white-box
              %thead
                %tr
                  %th.five-twelfths Nom du <b>cours</b>
                  %th.text--right À partir de
              %tbody
                - @courses.each do |course|
                  %tr
                    %td
                      %h3.base-font-style.flush--bottom= link_to course.name.capitalize, structure_course_path(@structure, course)
                    %td.text--right
                      - if course.best_price
                        = "#{readable_amount course.best_price.amount}€".html_safe
        - else
          %p.white-box.islet.text--center
            Cet établissement n'a pas renseigné de cours.

      %article#tab-teachers.tab-pane
        #teachers
          - @teachers.each_with_index do |teacher, index|
            %div
              = render partial: 'teachers/teacher', locals: {teacher: teacher}


  .grid__item.four-tenths{itemscope: true, itemtype: 'http://schema.org/Place'}>
    .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
      %meta{itemprop: 'latitude', content: @structure.latitude}
      %meta{itemprop: 'longitude', content: @structure.longitude}

    .white-box.soft-half
      %h1.gamma.blue.push-half--bottom= @structure.name
      %ul.nav.push-half--ends= join_child_subjects @structure, true
      -# - if @structure.description.present?
      -#   %p.read-more{data: {behavior: 'read-more'}}= simple_format @structure.description
      .text--center
        -# = form_for @structure.reservations.build, remote: true, html: {id: 'coord-form'} do |f|
        -#   = f.hidden_field :reservable_type
        -#   = f.hidden_field :reservable_id
        -#   = f.submit "Coordonnées de reservation", href: '#course_info', class: 'btn btn--green btn--full', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Inscrit'])", title: 'Information pour la réservation du cours', data: {behavior: 'modal', width: '650px'}, id: 'submit-coord-form'
        = link_to "Coordonnées de reservation", '#course_info', class: 'btn btn--green btn--full', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Inscrit'])", title: 'Information pour la réservation du cours', data: {behavior: 'modal', width: '650px'}

    .text--center.white-box.soft-half.push--top.push--bottom
      - if @structure.comments_count and @structure.comments_count > 0
        %a#show-comments.muted-link.thin.big-alpha.brand{href: 'javascript:void(0)'} #{@structure.comments_count}
        %div
          avis
          %a{href: '#comments'}
            %i.lbc-brand-icon
        .delta{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
          %meta{property: 'v:rating', itemprop: 'rating', content: @structure.rating}
          %meta{itemprop: 'count', content: @structure.comments_count}
          %meta{itemprop: 'itemreviewed', content: @structure.name}
          %meta{itemprop: 'name', content: @structure.name}
          %meta{itemprop: 'street-address', content: @structure.street}
          %meta{itemprop: 'postal-code', content: @structure.zip_code}
          %meta{itemprop: 'locality', content: @city.name}
      - else
        Pas encore d'avis sur cet établissement
      .text--center= link_to 'Donner mon avis', new_structure_comment_path(@structure), target: '_blank'

    - if @structure.image.present?
      .white-box.islet
        .text--center= image_tag @structure.image.url(:normal), alt: "Cours de #{join_parent_subjects_text @structure} à #{@city.name}"
    - elsif @structure.image.present?
      .white-box.islet
        .text--center= image_tag @structure.image.url(:normal), alt: "Cours de #{join_parent_subjects_text @structure} à #{@structure.name}"

    -# .course-header-map.push--top
    -#   = gmaps( {markers: {data: @places_address}, map_options: {maxZoom: 15, mapTypeControl: false}, last_map: true} )
    -# %ul.block-list.white-box
    -#   - @structure.places.each_with_index do |place, index|
    -#     %li.grid--full
    -#       .grid__item.width-auto.v-middle.soft-half--right>
    -#         .map-marker-image.center-block
    -#           %a
    -#             %span= index + 1
    -#       .grid__item.seven-eighths.v-middle>
    -#         = place.location.name
    -#         %br
    -#         %i= place.location.street
    -#       %div{itemscope: true, itemtype: 'http://schema.org/Place'}
    -#         .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
    -#           %meta{itemprop: 'latitude', content: place.location.latitude}
    -#           %meta{itemprop: 'longitude', content: place.location.longitude}

    .white-box.islet.push--top
      - if @structure.website
        %div
          %i.fa.fa-external-link.orange
          = link_to @structure.website, @structure.website, target: '_blank', rel: 'nofollow'
      .blue
        - if @structure.contact_phone or @structure.contact_mobile_phone
          %i.fa.fa-phone.blue
        - if @structure.contact_phone
          = link_to "tel:#{@structure.contact_phone.gsub(/\s+/, '')}", class: 'blue' do
            = @structure.contact_phone.gsub(' ', '&nbsp;').html_safe
        - if @structure.contact_phone and @structure.contact_mobile_phone
          %span.blue /
        - if @structure.contact_mobile_phone
          = link_to "tel:#{@structure.contact_mobile_phone.gsub(/\s+/, '')}", class: 'blue' do
            = @structure.contact_mobile_phone.gsub(' ', '&nbsp;').html_safe

    - if @structure.facebook_url.present?
      = link_to "Page facebook de l'établissement", @structure.facebook_url, target: '_blank', class: 'btn--facebook btn one-whole btn--small push--bottom'


#course_info.hidden= render 'structures/courses/info_popup'

= content_for :scripts do
  :javascript
    $(function() {
        var places_are_hidden   = true;
        $('#show-comments').click(function(){
          $.scrollTo($('[href="#tab-comments"]'), {duration: 200});
          $('[href="#tab-comments"]').click();
        });
        $('#show-all-places').click(function() {
            if (places_are_hidden) {
                $(this).text('Cacher les adresses');
                $('#place-list').slideDown();
            } else {
                $('#place-list').slideUp();
                $(this).text('Voir les adresses');
            }
            places_are_hidden = !places_are_hidden;
        });
        var map_loaded = false;
        if ($('#tab-all-places-link').length > 0) {
            $('#tab-all-places-link').on('shown', function() {
                if (!map_loaded) { Gmaps.load_other_places_map(); map_loaded = true;}
            });
        }
        var description_is_hidden = true;
        if ($('#place-description').length > 0) {
            if($('#place-description').scrollHeight < 200) {
                $('#show-more-description').hide();
            }
            $('#show-more-description').click(function() {
                if (description_is_hidden) {
                    $('#place-description').css('max-height', 'none');
                    this.set('text', 'Cacher la description');
                } else {
                    $('#place-description').css('max-height', '200px');
                    this.set('text', 'Voir toute la description');
                }
                description_is_hidden = !description_is_hidden;
                return false;
            });
        }
        if (window.location.hash.indexOf('recommandation-') != -1) {
            $('[href=#tab-comments]').click();
            $.scrollTo($(window.location.hash), {duration: 500});
        }
        if (window.location.hash.length > 0) {
            $('[href=' + window.location.hash + ']').click();
        }
        $('[href=#tab-medias]').click(function(){
            if ($('.media-gallery').length > 0) {
                setTimeout(function(){
                  $('.media-gallery').masonry({ itemSelector: '.media__item' });
                }, 5);
            }
        });
        $('.media-gallery .media__item a').fancybox({ helpers : { media : {} } });
        $('#submit-coord-form').click(function(){
            $('#coord-form').submit();
        });
    });
