- if @structure.logo.present?
  = content_for :meta_image do
    = @structure.logo.url(:thumb)

= content_for :title do
  = "#{@structure.name} à #{@city.name}"

= content_for :meta_description do
  - if @structure.description.present?
    = "#{@structure.description_for_meta} à #{@city.name}"
  - else
    - if @structure.parent_subjects_string.present?
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}. #{subjects_name_from_string(@structure.parent_subjects_string)} et bien plus ! à #{@city.name}"
    - else
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}"

.inline-block
  - if cookies[:structure_search_path]
    = link_to cookies[:structure_search_path] do
      %i.orange ←
      = t('.back_to_results')
  - else
    = link_to structures_path do
      %i.orange ←
      = t('.see_arrounding_structures')
.inline-block.push-half--sides
  |
.inline-block
  %ol.nav.breadcrumb.flush{itemprop: 'breadcrumb'}
    %li
      = link_to "Tous les établissement", structures_path
    %li= @structure.name

- if !current_user and params[:waiting_for_activation]
  .blue-box.islet.text--center.push--ends
    = render 'users/waiting_for_activation_text'

.grid.push--top
  .grid__item.eight-twelfths>
    = render partial: 'structures/structure_header', locals: {structure: @structure}

    = render partial: 'structures/map_and_gallery', locals: {structure: @structure, places: @structure.places, medias: @medias}

    = render partial: 'structures/comments_headband', locals: {structure: @structure}

    #structure-profile{ data: { type: 'structure-profile-root' } }
      .tabs__bar
        %ul.tabs
          %li.active
            %a{ href: "#tab-description", data: { toggle: "tab" } }
              Description
          %li
            %a{ href: "#tab-courses", data: { toggle: "tab", view: 'courses'} }
              %i.fa.fa-calendar
              Cours
          %li
            %a{ href: "#tab-comments", data: { toggle: "tab", view: 'comments'} }
              %i.fa.fa-comments
              Avis
          %li
            %a{ href: "#tab-teachers", data: { toggle: "tab", view: 'teachers'} }
              %i.fa.fa-group
              Professeurs
      .tabs--container#structure-tabs
  .grid__item.four-twelfths>
    = render partial: 'structures/contact_form', locals: {structure: @structure}
    .white-box.islet.epsilon
      - if @structure.response_rate
        .grid.soft-half--bottom
          .grid__item.v-middle.one-half.gray>
            Taux de réponse
          .grid__item.v-middle.one-half>
            %strong= "#{@structure.response_rate}%"
      .grid.soft-half--bottom
        .grid__item.v-middle.one-half.gray>
          Temps de réponse
        .grid__item.v-middle.one-half>
          %strong= response_time_in_words @structure
          -# Quelques heures
      - if @structure.main_contact
        .grid
          .grid__item.v-middle.one-half.gray>
            Dernière activité
          .grid__item.v-middle.one-half>
            %strong= l(@structure.main_contact.last_sign_in_at, format: :date)

= content_for :scripts do
  :javascript
    (function () {

      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
        total_plannings_count: #{ @structure.plannings_count.to_i },
        structure: #{ @model.to_json }
      };
    }());
