- if @structure.logo.present?
  = content_for :meta_image do
    = @structure.logo.url(:thumb)


= content_for :title do
  = "#{@structure.name} à #{@city.name}"

= content_for :meta_description do
  - if @structure.description.present?
    = "#{@structure.description_for_meta} à #{@city.name}"
  - else
    - if @structure.parent_subjects_string.present?
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}. #{subjects_name_from_string(@structure.parent_subjects_string)} et bien plus ! à #{@city.name}"
    - else
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}"

.inline-block
  - if cookies[:structure_search_path]
    = link_to cookies[:structure_search_path] do
      %i.orange ←
      = t('.back_to_results')
  - else
    = link_to structures_path do
      %i.orange ←
      = t('.see_arrounding_structures')
.inline-block.push-half--sides
  |
.inline-block
  %ol.nav.breadcrumb.flush{itemprop: 'breadcrumb'}
    %li
      = link_to "Tous les établissement", structures_path
    %li= @structure.name


.grid.push--top
  .grid__item.four-tenths{itemscope: true, itemtype: 'http://schema.org/Place'}>
    .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
      %meta{itemprop: 'latitude', content: @structure.latitude}
      %meta{itemprop: 'longitude', content: @structure.longitude}
    .white-box.soft-half
      %h1.beta.blue.flush--bottom= @structure.name
      %ul.nav.push-half--ends= join_child_subjects @structure, true
      - if @structure.description.present?
        %p.read-more{data: {behavior: 'read-more'}}= @structure.description.html_safe
      .text--center
        - if current_user
          = form_for @structure.reservations.build, remote: true, html: {id: 'coord-form'} do |f|
            = f.hidden_field :reservable_type
            = f.hidden_field :reservable_id
            = f.submit "Coordonnées de reservation", href: '#course_info', class: 'btn btn--green btn--full', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Inscrit'])", title: 'Information pour la réservation du cours', data: {behavior: 'modal', width: '650px'}, id: 'submit-coord-form'
        - else
          = link_to "Coordonnées de reservation", new_user_registration_path, data: {behavior: 'modal', title: 'Connexion', height: '500px'}, class: 'fancybox.ajax btn btn--green btn--full', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Non inscrit'])", title: 'Connectez-vous pour accéder aux informations'

    .text--center.white-box.soft-half.push--top.push--bottom
      - if @structure.rating
        .thin.big-alpha.brand #{@structure.comments_count}
        %div
          avis
          %a{href: '#comments'}
            %i.lbc-brand-icon
        .delta{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
          %span.rating{title: comment_rating_title(@structure.rating)}
            = rating_stars @structure.rating
          %meta{property: 'v:rating', itemprop: 'rating', content: @structure.rating}
          %meta{itemprop: 'count', content: @structure.comments_count}
          %meta{itemprop: 'itemreviewed', content: @structure.name}
          %meta{itemprop: 'name', content: @structure.name}
          %meta{itemprop: 'street-address', content: @structure.street}
          %meta{itemprop: 'postal-code', content: @structure.zip_code}
          %meta{itemprop: 'locality', content: @city.name}
      - else
        Pas encore d'avis sur cet établissement
      #write-comment.text--center= link_to 'Donner mon avis', "javascript:void(0)"

    - if @structure.image.present?
      .white-box.islet
        .text--center= image_tag @structure.image.url(:normal), alt: "Cours de #{join_parent_subjects_text @structure} à #{@city.name}"
    - elsif @structure.image.present?
      .white-box.islet
        .text--center= image_tag @structure.image.url(:normal), alt: "Cours de #{join_parent_subjects_text @structure} à #{@structure.name}"

    .course-header-map.push--top
      = gmaps( {markers: {data: @places_address}, map_options: {maxZoom: 15, mapTypeControl: false}, last_map: true} )
    %ul.block-list.white-box
      - @structure.places.each_with_index do |place, index|
        %li.grid--full
          .grid__item.width-auto.v-middle.soft-half--right>
            .map-marker-image.center-block
              %a
                %span= index + 1
          .grid__item.seven-eighths.v-middle>
            = place.location.name
            %br
            %i= place.location.street
          %div{itemscope: true, itemtype: 'http://schema.org/Place'}
            .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
              %meta{itemprop: 'latitude', content: place.location.latitude}
              %meta{itemprop: 'longitude', content: place.location.longitude}

    .white-box.islet.push--top
      - if @structure.website
        %div
          %i.icon-external-link.orange
          = link_to @structure.website, @structure.website, target: '_blank', rel: 'nofollow'
      .blue
        - if @structure.contact_phone or @structure.contact_mobile_phone
          %i.icon-phone.blue
        - if @structure.contact_phone
          = link_to "tel:#{@structure.contact_phone.gsub(/\s+/, '')}", class: 'blue' do
            = @structure.contact_phone.gsub(' ', '&nbsp;').html_safe
        - if @structure.contact_phone and @structure.contact_mobile_phone
          %span.blue /
        - if @structure.contact_mobile_phone
          = link_to "tel:#{@structure.contact_mobile_phone.gsub(/\s+/, '')}", class: 'blue' do
            = @structure.contact_mobile_phone.gsub(' ', '&nbsp;').html_safe
      %div
        %i.icon-home
        = @structure.address

    - if @structure.facebook_url.present?
      = link_to "Page facebook de l'établissement", @structure.facebook_url, target: '_blank', class: 'btn--facebook btn one-whole btn--small push--bottom'



  .grid__item.six-tenths>
    %article#tab-comments
      %h3#tab-courses Avis des élèves
      - if @comments.empty?
        %p.white-box.islet.text--center
          Cet établissement n'a pas encore d'avis
          %br
          %b Soyez le premier à nous donner votre avis !
      %article.push--bottom#new-comment{class: (@comments.any? ? 'hidden' : '')}= render '/structures/comments_form'
      - if @comments.any?
        %ul#comments.comment-list
          - @comments.each_with_index do |comment, index|
            = render partial: 'comments/comment', locals: {comment: comment, show_title: true, class_name: (index > 2 ? 'hidden' : '')}
            - if index == 3
              .text--center
                %a#show-all-comments{href: 'javascript:void(0)'} Voir tous les avis


      %hr
      %h3#tab-courses Cours
      - if @courses.any?
        #course-list
          %table.table--striped.table--white
            %thead
              %tr
                %th.five-twelfths Nom du <b>cours</b>
                %th.text--right À partir de
            %tbody
              - @courses.each do |course|
                %tr
                  %td
                    %h3.base-font-style.flush--bottom= link_to course.name.capitalize, structure_course_path(@structure, course)
                  %td.text--right
                    - if course.best_price
                      = "#{readable_amount course.best_price.amount}€".html_safe
      - else
        %p.white-box.islet.text--center
          Cet établissement n'a pas renseigné de cours.
          -# %br
          -# = link_to 'Soliciter à mettre le planning à jour', 'javascript:void(0)', class: 'btn btn--blue'

      - if @teachers.any?
        %hr
        %h3#tab-teachers Professeurs
        - @teachers.each do |teacher|
          .white-box.islet
            %p.read-more{data: {behavior: 'read-more'}}
              %b= teacher.name
              %br
              = teacher.description

      %hr
      %h3#tab-videos Photos & Vidéos
      .media-gallery
        - if @medias.any?
          - @medias.each do |media|
            .media__item.one-half.very-soft>
              %a.white-box.soft-half.block.break-all{href: media.url, title: media.caption}
                = media.url_html
                %caption= media.caption
        - else
          %p.white-box.islet.text--center
            Cet établissement n'a pas de photos ou de vidéos.
            -# %br
            -# = link_to 'Soliciter à mettre des photos & des vidéos', 'javascript:void(0)', class: 'btn btn--blue'

- if current_user
  #course_info.hidden= render 'structures/courses/info_popup'

= content_for :scripts do
  :javascript
    $(function() {
        $('.media-gallery').masonry({ itemSelector: '.media__item' });
        var comments_are_hidden = true;
        $('#show-all-comments').click(function() {
            if (comments_are_hidden) {
                $('#comments .hidden').removeClass('hidden');
                $('#show-all-comments').text('Cacher les avis');
            } else {
                $('#comments .comment-list__el').slice(2, $('#comments .comment-list__el').length).addClass('hidden');
                $('#show-all-comments').text('Voir tous les avis');
            }
            comments_are_hidden = !comments_are_hidden;
        });
        $('#write-comment').click(function() {
            $('#new-comment').show('slow');
        });
        var map_loaded = false;
        if ($('#tab-all-places-link').length > 0) {
            $('#tab-all-places-link').on('shown', function() {
                if (!map_loaded) { Gmaps.load_other_places_map(); map_loaded = true;}
            });
        }
        var description_is_hidden = true;
        if ($('#place-description').length > 0) {
            if($('#place-description').scrollHeight < 200) {
                $('#show-more-description').hide();
            }
            $('#show-more-description').click(function() {
                if (description_is_hidden) {
                    $('#place-description').css('max-height', 'none');
                    this.set('text', 'Cacher la description');
                } else {
                    $('#place-description').css('max-height', '200px');
                    this.set('text', 'Voir toute la description');
                }
                description_is_hidden = !description_is_hidden;
                return false;
            });
        }
        $('.media-gallery .media__item a').fancybox({ helpers : { media : {} } });
        $('#submit-coord-form').click(function(){
            $('#coord-form').submit();
        });
    });
