- if @structure.logo.present?
  = content_for :meta_image do
    = @structure.logo.url(:thumb)


= content_for :title do
  = "#{@structure.name} à #{@city.name}"

= content_for :meta_description do
  - if @structure.description.present?
    = "#{@structure.description_for_meta} à #{@city.name}"
  - else
    - if @structure.parent_subjects_string.present?
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}. #{subjects_name_from_string(@structure.parent_subjects_string)} et bien plus ! à #{@city.name}"
    - else
      = "Retrouvez tous les cours de #{@structure.name} à #{@city.name}"

.inline-block
  - if cookies[:structure_search_path]
    = link_to cookies[:structure_search_path] do
      %i.orange ←
      = t('.back_to_results')
  - else
    = link_to structures_path do
      %i.orange ←
      = t('.see_arrounding_structures')
.inline-block.push-half--sides
  |
.inline-block
  %ol.nav.breadcrumb.flush{itemprop: 'breadcrumb'}
    %li
      = link_to "Tous les établissement", structures_path
    %li= @structure.name


.grid.push--top
  .grid__item.eight-twelfths>
    = render partial: 'structures/structure_header', locals: {structure: @structure}

    = render partial: 'structures/map_and_galery', locals: {structure: @structure, places: @structure.places, places_address: @places_address, medias: @medias}

    = render partial: 'structures/comments_headband', locals: {structure: @structure}

    %ul.tabs
      %li.active
        %a{href: '#tab-description', data: {toggle: 'tab'} }
          %i.fa.fa-list
          Description
      %li
        %a{href: '#tab-courses', data: {toggle: 'tab'} }
          %i.fa.fa-calendar
          Cours
      %li
        %a{href: '#tab-comments', data: {toggle: 'tab'} }
          %i.fa.fa-comments
          Avis
      %li
        %a{href: '#tab-teachers', data: {toggle: 'tab'} }
          %i.fa.fa-group
          Professeurs
    .tab-content
      %article#tab-description.tab-pane.active
        .white-box.islet
          %h2.visuallyhidden.delta Description de : #{@structure.name}
          - if @structure.description
            %p= simple_format @structure.description
          - else
            %p Pas de description

      %article#tab-comments.tab-pane
        - if @comments.empty?
          %p.white-box.islet.text--center
            Cet établissement n'a pas encore d'avis
            %br
            %b Soyez le premier à nous donner votre avis !
        - if @comments.any?
          %ul#comments.comment-list
            - @comments.each_with_index do |comment, index|
              = render partial: 'comments/comment', locals: {comment: comment, show_title: true}

      %article#tab-courses.tab-pane
        - if @courses.any?
          #course-list
            %table.table--striped.white-box
              %thead
                %tr
                  %th.five-twelfths Nom du <b>cours</b>
                  %th.text--right À partir de
              %tbody
                - @courses.each do |course|
                  %tr
                    %td
                      %h3.base-font-style.flush--bottom= link_to course.name.capitalize, structure_course_path(@structure, course)
                    %td.text--right
                      - if course.best_price
                        = "#{readable_amount course.best_price.amount}€".html_safe
        - else
          %p.white-box.islet.text--center
            Cet établissement n'a pas renseigné de cours.

      %article#tab-teachers.tab-pane
        #teachers
          - @teachers.each_with_index do |teacher, index|
            %div
              = render partial: 'teachers/teacher', locals: {teacher: teacher}


  .grid__item.four-twelfths{itemscope: true, itemtype: 'http://schema.org/Place'}>
    .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
      %meta{itemprop: 'latitude', content: @structure.latitude}
      %meta{itemprop: 'longitude', content: @structure.longitude}


    - if @structure.main_contact
      = render partial: 'structures/contact_form', locals: {structure: @structure}


    - if @structure.cover_image.present?
      .white-box.islet
        .text--center= image_tag @structure.cover_image.thumbnail_url, alt: "Cours de #{join_parent_subjects_text @structure} à #{@city.name}"


    - if @structure.facebook_url.present?
      = link_to "Page facebook de l'établissement", @structure.facebook_url, target: '_blank', class: 'btn--facebook btn one-whole btn--small push--bottom'


#course_info.hidden= render 'structures/courses/info_popup'

= content_for :scripts do
  :javascript
    $(function() {
        if (window.location.hash.indexOf('recommandation-') != -1) {
            $('[href=#tab-comments]').click();
            $.scrollTo($(window.location.hash), {duration: 500});
        }
        if (window.location.hash.length > 0) {
            $('[href=' + window.location.hash + ']').click();
        }
    });
