- if @course.new_record?
  - url = pro_structure_course_opens_path(@structure)
- else
  - url = pro_structure_course_open_path(@structure, @course)

.grid--full.text--center.push--top
  .grid__item.text--center.v-middle.relative.five-twelfths>
    %a.muted-link.blue-box.islet.word-break-normal
      %h5
        %i.fa.fa-pencil.fa.fa-2x
        %br
        Étape 1 : Créez un atelier
  .grid__item.one-twelfth.text--center.v-middle.two-twelfths>
    .islet
      %i.fa.fa-chevron-right.fa.fa-2x
  .grid__item.text--center.v-middle.relative.five-twelfths>
    %a.muted-link.white-box.islet.word-break-normal
      %h5
        %i.fa.fa-calendar.fa.fa-2x
        %br
        Étape 2 : Renseignez le lieu et les créneaux

= simple_form_for [:pro, @structure, @course], url: url, as: :course, html: {id: 'course-form'} do |f|
  = f.error_notification

  %h5.form-header-group.flush--bottom
    %i.fa.fa-info
    Informations générales
  .form-white-box
    = f.input :name, placeholder: "Ex : Atelier d'initiation à la danse orientale, Dégustation de vins & fromages, etc.", label: "Intitulé de l'événement"
    .input.flush.chosen-input<
      = f.label :subjects
      - subjects = @structure.subjects.little_children.uniq
      - if subjects.empty?
        - subjects = @structure.subjects.roots.map(&:little_children).flatten
      = f.association :subjects , as: :select, collection: subjects, input_html: { data: { behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines'}, multiple: true }, label: t('.subjects'), selected: @course.subject_ids, label_method: lambda{|subj| subj.name }, wrapper_html: {class: 'flush', style: 'width: 400px'}, label: false
      .inline-block
        = link_to add_subjects_pro_structure_path(@structure, return_to: request.path, anchor: 'informations'), class: 'fancybox.ajax', data: { behavior: 'modal', width: 650 } do
          %i.fa.fa-plus
          Ajouter des disciplines à mon profil
    %p.field-form-info.blue.flush Si vous désirez choisir d'autres disciplines, ajoutez-les à votre profil en cliquant sur le lien ci-dessus.
    .input
      .control-label.v-top *Type d'événement
      %div
        .radio
          %input#event_type_atelier{type: 'radio', name: 'course[event_type]', value: 'Cours collectif', checked: (@course.event_type.nil? or @course.event_type == 'Cours collectif')}>
          %label{for: 'event_type_atelier'} Cours collectif
        .radio
          %input#event_type_demo{type: 'radio', name: 'course[event_type]', value: 'Démonstration', checked: @course.event_type == 'Démonstration'}>
          %label{for: 'event_type_demo'} Démonstration
        .radio
          %input#event_other{type: 'radio', name: 'course[event_type]', value: 'other', checked: (@course.event_type.present? and !['Cours collectif', 'Démonstration'].include?(@course.event_type)) }>
          %label{for: 'event_other'} Autres
          #other-event-type.hidden
            Précisez :
            %input#event_type_description_hidden.push--left{ name: 'course[event_type_description]', type: 'text', size: '50', value: @course.event_type_description}

  %h5.form-header-group.flush--bottom.soft--top Description
  .relative= image_tag 'texts/jpo-more-infos.png', height: 85, style: 'right: 0; bottom: -21px;', class: 'absolute'
  .form-white-box
    = f.input :description, as: :text, placeholder: "Expliquez en quoi consiste l'événement, de manière à ce que l’élève comprenne bien ce qu’il y apprendra, pour éviter toute confusion. Plus de détails vous donnez, mieux c’est !", input_html: { id: 'open-course-description', data: { behavior: 'text-counter', 'average-words-nb' => 20, 'good-words-nb' => 70, 'bad-text' => 'Votre description doit comporter au moins 20 mots. Nos Partenaires qui ont le plus de succès ont plus de 100 mots', 'average-text' => 'Encore quelques mots et vous aurez une superbe description !', 'good-text' => 'Superbe description !'}}, wrapper_html: {class: 'flush--top one-whole'}

  %h5.form-header-group.flush--bottom.soft--top
    Informations supplémentaires
  .form-white-box
    .input
      .control-label.v-middle Capacité
      %div.v-middle
        .inline-block De
        = f.input :nb_participants_min, label: false, wrapper_html: { class: 'inline-block flush' }, input_html: {value: (@course.nb_participants_min || 3), class: 'one-whole', min: 1}
        .inline-block à
        = f.input :nb_participants_max, label: false, wrapper_html: { class: 'inline-block flush' }, input_html: {value: (@course.nb_participants_max || 20), class: 'one-whole', min: 1}
      %p.field-form-info.blue.flush
        %i Au dessous du seuil minimal, les élèves inscrits seront notifiés que l'événement ne sera pas forcément assuré.
        %br
        %i Au dessus du seuil maximal, une liste d'attente sera ouverte

    .input.flush--bottom
      = f.label :common_price, class: 'flush'
      = f.input :common_price, wrapper_html: { class: 'flush' }, input_html: { class: 'one-whole', placeholder: '15' }, label: false
      €
    %p.field-form-info.blue Indiquez le prix habituellement appliqué en dehors des Portes Ouvertes.

    = f.input :info, placeholder: "Renseignez toutes les informations à communiquer aux potentiels inscrits : matériel requis, tenue exigée, etc. Les informations concernant le lieu sont à renseigner à l'étape suivante.", input_html: { data: { behavior: 'autoresize' }}

  .form-white-box
    .input
      %label.v-top.control-label.f-weight-bold En validant, je certifie :
      %div.v-top.push-half--bottom{style: 'max-width: 600px;'}
        \- avoir pris toutes les dispositions nécessaires pour pouvoir assurer cet événement (location de la salle confirmée, matériel à disposition...) ;
        %br
        \- avoir renseigné toutes les informations importantes à communiquer aux inscrits dans les champs "description" et "infos pratiques" (numéro d'interphone, tenue et matériel exigés, etc.).
  %p
    = f.submit 'Enregistrer et renseigner mes lieux et créneaux', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement" }

= content_for :scripts do
  :javascript
    $(function() {
        $('#course_nb_participants_min').change(function() {
            $('#course_nb_participants_max').attr('min', $('#course_nb_participants_min').val());
        });
        $('#course_nb_participants_max').change(function() {
            $('#course_nb_participants_min').attr('max', $('#course_nb_participants_max').val());
        });
        $('#course_price_free').click(function() {
            $('#course_price').val('');
        });
        $('[name="course[event_type]"]').change(function() {
            if ($('#event_other').is(':checked')) {
                $('#other-event-type').slideDown();
            } else {
                $('#other-event-type').slideUp();
            }
        });
        $('[name="course[event_type]"]').change();
        $('#open-course-description').textareaResizer();
        $('.textarea-counter-wrapper').css('padding-left', '16em');
    });
