%ul.tabs.panel__header
  %li{ class: (current == 'communicate' ? 'active' : '') }
    = link_to communicate_pro_structure_course_opens_path(@structure) do
      %i.fa-bullhorn
      Communiquer
  %li{ class: (current == 'courses' ? 'active' : '') }
    = link_to pro_structure_course_opens_path(@structure) do
      %i.fa-list
      Mes ateliers
      - nb_jpo_plannings = @structure.courses.open_courses.map(&:plannings).flatten.length
      - if nb_jpo_plannings > 0
        (#{nb_jpo_plannings})
  %li{ class: (current == 'participations' ? 'active' : '') }
    = link_to pro_structure_participations_path(@structure) do
      %i.fa-group
      Mes inscrits
      - nb_jpo_participants = @structure.courses.open_courses.map(&:plannings).flatten.map(&:nb_jpo_participants_with_waiting_list).reduce(&:+) || 0
      - if nb_jpo_participants > 0
        (#{nb_jpo_participants})
  %li{ class: (current == 'new' ? 'active' : '') }
    = link_to jpo_new_pro_structure_invited_students_path(@structure) do
      %i.fa.fa-envelope
      Invitations
  - if @structure.invited_students.for_jpo.any?
    %li{ class: (current == 'invite-jpo-list' ? 'active' : '') }
      = link_to jpo_pro_structure_invited_students_path(@structure) do
        %i.fa-list
        Invitations envoyées
        (#{@structure.invited_students.for_jpo.count})
  %li{ class: current == 'widget' ? 'active' : '' }
    = link_to widget_jpo_pro_structure_path(@structure) do
      %i.fa-cogs
      Bannière
