= side_menu_currently_at 'Journées Portes Ouvertes'

.panel
  = render partial: 'pro/structures/open_courses/tabs', locals: { current: 'communicate' }
  .panel__body.soft
    %div.push-half--bottom
      %h3.inline-block.flush.v-middle CoursAvenue vous accompagne dans votre communication
      = link_to ca_communication_pro_structure_course_opens_path(@structure), class: 'btn btn--blue btn--small v-middle push-half--left fancybox.ajax', data: { behavior: 'modal' } do
        %i.fa-comment
        Actions CoursAvenue

    .alert.alert--info.push--bottom
      %ul.flush--bottom
        %li Les Portes Ouvertes représentent un moment privilégié dans l'année pour communiquer au plus large public et rencontrer de nouveaux élèves. Ces occasions sont rares, profitez-en pour faire parler de vous !
        %li L'équipe CoursAvenue vous accompagne dans la communication de l'événement et met tout en oeuvre pour que ce soit un succès et que vos ateliers affichent complets. Le succès de vos Portes Ouvertes dépend aussi de vous !


    .alert.alert--success.one-whole.push--bottom
      %h4.text--center.flush
        Lien à communiquer pour l'inscription à vos ateliers Portes Ouvertes :
        %br
        #{link_to jpo_structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), jpo_structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: :_blank}

    %h3 Communiquez pour chacune des 3 phases précédant l'événement :

    .relative.soft--bottom
      .absolute.text--center{style: "left: 81.4%; "}
        %strong NOUS SOMMES ICI
        %br
        %i.fa.fa-arrow-down

    .grid
      .grid__item.two-quarters>
        %strong J- 30
      .grid__item.one-quarter>
        %strong J- 15
      .grid__item.one-quarter.relative>
        .float--right
          %strong J
        %strong J- 7
    .progress.push-half--bottom
      .bar.bar-info{style: "width: 52%;"}
        PHASE N°1
      .bar.bar-warning.cursor-pointer{style: "width: 26%;", data: { toggle: 'popover', trigger: 'hover', html: 'true', placement: 'top', content: "<p class='milli flush'>Phase n°2 (entre 2 semaines et 7 jours) :<br /><i>Invitez votre entourage à parler de l'événement, les places sont limitées</i></p>"}}
        PHASE N°2
      .bar.bar-success.cursor-pointer{style: "width: 22%;", data: { toggle: 'popover', trigger: 'hover', html: 'true', placement: 'top', content: "<p class='milli flush'>Dernière phase (7 jours) :<br /><i>C'est le dernier moment pour s'inscrire, dites-le à votre réseau !</i></p>"}}
        PHASE N°3

    .relative.soft--bottom
      .absolute.text--center{style: "left: 87.5%; "}
        %i.fa.fa-arrow-down

    %h4.blue.flush
      %i Phase n°3 : derniers jours avant vos Portes Ouvertes
    %h4 6 actions efficaces pour communiquer et annoncer l'événement comme un RDV important

    %p.push--bottom
      %strong Action 1 : annoncez l'événement sur tous vos supports de communication
      %br
      Nous avons engagé des designers pour la réalisation d'un logo, flyer et d'une affiche. Utilisez-les pour votre propre communication sur l'événement : sur vos panneaux d'affichage, dans la salle de cours, communiquez sur l'événement autour du lieu.
      %br
      = link_to 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/jpo/Visuels+CoursAvenue.zip', class: 'btn btn--blue', onclick: "ga('send', 'event', 'JPO / Download visuals', 'click', '#{@structure.name}')" do
        %i.fa-download
        Télécharger les visuels pour communiquer autour de mes lieux

      %p.push--bottom
        %strong Action 2 : prévenez vos élèves de l'événement
        %br
        Ce sont les meilleurs relais de votre communication car le bouche à oreille passe par eux. Envoyez-leur un message pour qu'ils en parlent autour d'eux et pour qu'ils invitent leurs proches à découvrir leur passion gratuitement.
        %br
        = link_to jpo_new_pro_structure_invited_students_path(@structure), class: 'btn btn--blue' do
          %i.fa-bullhorn
          Communiquer auprès de mes élèves

      %p.push--bottom
        %strong Action 3 : communiquez dans votre newsletter et sur votre site Internet
        %br
        Annoncez votre RDV dans vos communications avec votre réseau, sur un post de votre site web ou dans votre newsletter. Visualisez le texte que nous vous avons rédigé, copiez-le et envoyez-le au plus grand nombre.
        %br
        = link_to '#popup', class: 'btn btn--blue', data: { behavior: 'modal' }, onclick: "ga('send', 'event', 'JPO / see newsletter text', 'click', '#{@structure.name}')" do
          %i.fa-eye
          Visualiser le texte à copier puis à envoyer

      %p.push--bottom
        %strong Action 4 : répandez la bonne nouvelle à votre réseau Facebook
        %br
        Partagez le lien direct de votre page d'inscription, votre réseau pourra ainsi le partager. Saviez-vous que les opérations gratuites sont les premiers articles partagés sur les réseaux sociaux ? C'est l'occasion de gagner de  nouveaux fans !
        %br
        = link_to 'Partager sur Facebook', share_jpo_page_url(@structure), class: 'btn btn--blue', target: :_blank, onclick: "ga('send', 'event', 'JPO / Share on facebook', 'click', '#{@structure.name}')"

      %p.push--bottom
        %strong Action 5 : dites-le sur votre site Internet
        %br
        Un site Internet ou un blog doit sans cesse proposer de la nouveauté. Les sites les mieux référencés sur Google sont ceux qui offrent du contenu unique différent régulièrement : profitez-en pour annoncer vos Portes Ouvertes !
        %br
        = link_to widget_jpo_pro_structure_path(@structure), class: 'btn btn--blue' do
          %i.fa-cogs
          Installer la bannière sur mon site
      %p.push--bottom
        %strong Action 6 : annoncez l'événement à chaque fin de cours
        %br
        En fin de séance, dites à vos élèves de profiter de l'événement de ce week-end en invitant leurs proches.


    %h3 Le rythme des inscriptions va s'intensifier progressivement :

    = image_tag 'pro/jpo/graph.png', class: 'block center-block', height: 200

    %p
      %strong Phase n°1 : prise de connaissance de l'événement
      %br
      %i.blue Entre 1 mois et 2 semaines avant vos Portes Ouvertes
      %br
      Les personnes notent qu'une belle opération aura lieu dans moins d'un mois. Vous devez communiquer pour annoncer les Portes Ouvertes comme un événement exceptionnel et festif.
    %hr
    %p
      %strong Phase n°2 : inscription des plus organisés
      %br
      %i.blue entre 15 jours et 1 semaine avant vos Portes Ouvertes
      %br
      Donnez rendez-vous dans une semaine, les personnes les plus organisées s'incriront alors à votre atelier.
    %hr
    %p
      %strong Phase n°3 : le week-end approche, intensification des inscriptions
      %br
      %i.blue 1 semaine avant vos Portes Ouvertes
      %br
      C'est le moment de s'inscrire et de remplir l'agenda de son week-end ! Envoyez votre communication en rappelant que les places sont limitées (annoncez le chiffre), et que le jour J arrive (annoncez le "J-X"). Les incriptions risquent d'arriver en masse !


#popup.hidden
  %p
    Ce week-end, nous offrons des cours gratuits !

  %p
    Organisée en partenariat avec le site CoursAvenue.com, nous participons aux Portes Ouvertes des cours de loisirs ce week-end des 5 et 6 avril : les ateliers seront entièrement gratuits, c'est l'occasion pour vous d'inviter vos proches, un voisin, un ami, une cousine, un collègue... bref plus on est de fous... !

  %p
    Pour réserver votre place => inscriptions préalables sur le site CoursAvenue.com à cette adresse : #{link_to jpo_structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), jpo_structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)}
