= side_menu_currently_at 'jpo'

.panel
  = render partial: 'pro/structures/open_courses/tabs', locals: { current: 'courses' }
  .panel__body.soft
    %h3.inline-block.flush.v-middle Portes Ouvertes des 5-6 avril
    = link_to jpo_structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'push-half--left btn', target: :_blank do
      %i.fa.fa-external-link.v-middle
      %span.v-middle Voir mon profil public Portes Ouvertes

    .inline-block.v-middle.soft-half--left.f-weight-bold
      = link_to pro_pages_jpo_path, target: :_blank do
        %i.fa.fa-info
        En savoir plus
    .push-half--bottom
      %h4.inline-block.v-middle.flush--bottom.push-half--right Ateliers proposés
      = link_to jpo_new_pro_structure_invited_students_path(@structure), class: 'btn btn--small btn--blue v-middle' do
        %i.fa.fa-bullhorn
        Inviter mon réseau

    - if @courses.empty?
      %p.islet
        Vous n'avez pas encore défini vos ateliers.

    - @courses.each do |course|
      %hr
      .float--right
        - if !current_pro_admin.super_admin? and course.active?
          = link_to '#cannot-modify', data: { behavior: 'modal' } do
            %i.fa.fa-pencil
            Modifier
          \/
          = link_to '#cannot-modify', class: 'red', data: { behavior: 'modal' } do
            %i.fa.fa-times
            Supprimer
          = link_to 'Visible', '#cannot-modify', class: 'v-middle push-half--left switch-button on', title: 'Rendre mon atelier visible', data: { behavior: 'modal' }
        - else
          = link_to edit_pro_structure_course_open_path(@structure, course) do
            %i.fa.fa-pencil
            Modifier
          \/
          = link_to pro_structure_course_open_path(@structure, course), class: 'red', method: :delete do
            %i.fa.fa-times
            Supprimer
          .inline-block.v-middle.push-half--left{title: "En attente de validation par l'équipe CoursAvenue.", data: { behavior: 'tooltip'} }
          - if current_pro_admin.super_admin?
            - if course.active?
              = link_to 'Visible', disable_pro_structure_course_path(course.structure, course), method: :patch, title: 'Enlever le cours de CoursAvenue', class: 'switch-button on'
            - else
              = link_to 'Non visible', activate_pro_structure_course_path(course.structure, course), method: :patch, title: 'Afficher le cours sur CoursAvenue', class: 'switch-button off'
          - else
            = link_to 'Non visible', '#activate-popup', class: 'switch-button off', title: 'Rendre mon atelier visible', data: { behavior: 'modal' }
      %strong.v-middle= course.name
      - if course.other_event_type?
        = "(#{course.event_type_description})"
      - elsif course.event_type.present?
        = "(#{course.event_type})"
      - if course.info.present?
        .v-middle.push-half--left.btn.btn--small{ data: { html: 'true', toggle: 'popover', content: "<p><strong>Infos pratiques</strong><br>#{course.info}</p>", 'original-title' => '', trigger: 'hover', placement: 'right' } }
          %i.fa.fa-info
          Infos pratiques
      %p.gray.milli
        %i.fa.fa-tags
        = course.subjects.map(&:name).join(', ')

      .read-more{data: {behavior: 'read-more', height: 50}}
        = simple_format course.description

      - if course.plannings.any?
        %table.table--data.table--striped
          %thead
            %tr
              %th Date / Horaires
              %th Public
              %th Niveau
              %th Lieux
              %th.text--center
                Inscriptions
                %br
                = link_to '(voir mes inscrits)', pro_structure_participations_path(@structure), class: 'nowrap'
              %th
          %tbody
            - course.plannings.order('start_date ASC, start_time ASC').each do |planning|
              %tr
                %td
                  = planning_date_for(planning).capitalize
                  = planning_time_for(planning)
                %td= join_audiences planning
                %td= join_levels planning.levels
                %td= planning.place.name
                %td.text--center
                  - if planning.nb_jpo_participants > 0
                    = link_to pro_structure_participations_path(@structure), class: 'progress flush block' do
                      .bar.bar-success{style: "width: #{(planning.nb_jpo_participants * 100) / planning.nb_participants_max}%;"}
                        #{planning.nb_jpo_participants} / #{planning.nb_participants_max}
                  - else
                    0 / #{planning.nb_participants_max}
                  - if planning.waiting_list.any?
                    %div
                      %strong Liste d'attente
                    .progress.flush
                      .bar.bar-warning{style: "width: 50%;"}
                        #{planning.nb_jpo_participants_only_waiting_list}
                %td.text--right
                  .drop-down-el.drop-down__wrapper{data: {behavior: 'drop-down', el: '> .drop-down__el', position: 'right'}}
                    %a.btn--orange.btn.btn--small.nowrap{href: '#'}
                      Actions
                      %i.fa.fa-chevron-down
                    %ul.drop-down__el.text--left
                      %li.nowrap
                        - if !current_pro_admin.super_admin? and course.active?
                          = link_to '#cannot-modify', title: 'Modifier le créneau', data: { behavior: 'modal' } do
                            %i.fa.fa-pencil
                            Modifier le créneau
                        - else
                          = link_to edit_pro_structure_course_planning_path(@structure, course, planning), title: 'Modifier le créneau', data: {behavior: 'modal', width: '780'}, class: 'fancybox.ajax' do
                            %i.fa.fa-pencil
                            Modifier le créneau
                      %li.nowrap
                        - if !current_pro_admin.super_admin? and course.active?
                          = link_to '#cannot-modify', title: 'Supprimer le créneau', data: { behavior: 'modal' } do
                            %i.fa.fa-trash-o
                            Supprimer
                        - else
                          = link_to pro_structure_course_planning_path(@structure, course, planning), method: 'delete', confirm: 'Êtes-vous bien sûr de supprimer ce planning ?', title: 'Supprimer le créneau' do
                            %i.fa.fa-trash-o
                            Supprimer


        %p.push-half--top
          = link_to new_pro_structure_course_planning_path(@structure, course), title: "Ajouter un créneau pour l'atelier : #{course.name}", data: {behavior: 'modal', width: 780}, class: 'fancybox.ajax btn btn--blue btn--small add-planning' do
            %i.fa.fa-plus.soft-half--right
            Ajouter un créneau

    .text--center.push--bottom
      = link_to 'Ajouter un atelier', new_pro_structure_course_open_path(@structure), class: 'btn btn--green btn--large'


- if @courses.last and @courses.last.plannings.empty?
  = content_for :scripts do
    :javascript
      $(function() {
          $('.add-planning').last().click();
      });

#cannot-modify.hidden
  %p Vous ne pouvez rendre non visible votre atelier.
  %p Pour annuler un cours ou le modifier, *contactez-nous* au plus vite par mail de préférence, en décrivant précisément votre demande.
  = link_to "Contacter CoursAvenue", pages_contact_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green btn--full', target: :_blank

#activate-popup.hidden
  %h5 En attente de validation par l'équipe CoursAvenue
  %p Renseignez toutes les informations concernant vos ateliers pour les Portes Ouvertes (description générale, informations pratiques, créneaux horaires, lieux, etc.). Une fois toutes ces informations vérifiées et validées par notre équipe (normalement sous 24h), un e-mail vous sera envoyé pour vous notifier que vos ateliers sont visibles sur notre espace d'inscription pour les Portes Ouvertes.

  %p S'il manque certaines informations importantes (adresse exacte, digicode, matériel requis...) ou si la description de vos ateliers n'est pas claire, nous prendrons contact avec vous avant que vos ateliers deviennent visibles.
