= side_menu_currently_at 'Journée portes ouvertes'

%h4.flush Journées portes ouverte du samedi xx avril 2014
.push--bottom
  = link_to "Qu'est-ce que c'est ?", 'javascript:void(0)', data: { toggle: 'collapse', target: '#jpo-details'}

#jpo-details.collapse
  .white-box.islet
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h4 Qu'est-ce que j'y gagne ?
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



- if @courses.empty?
  %p.white-box.islet
    Vous n'avez pas encore définit vos ateliers.

.text--center.push--bottom
  = link_to 'Ajouter un atelier', new_pro_structure_course_open_path(@structure), class: 'btn btn--green btn--large'

- @courses.each do |course|
  .white-box.islet
    %strong= course.name
    - if course.other_event_type?
      = "(#{course.event_type_description})"
    - else
      = "(#{course.event_type})"
      \—
    Participants max : #{course.nb_participants_max}
    .float--right
      = link_to edit_pro_structure_course_open_path(@structure, course) do
        %i.fa.fa-pencil
        Modifier
      \/
      = link_to edit_pro_structure_course_open_path(@structure, course), class: 'red' do
        %i.fa.fa-times
        Supprimer
    - if course.plannings.any?
      %table.table--data.table--striped
        %thead
          %tr
            %th Horaire
            %th Public
            %th Niveau
            %th Lieux
            %th Nombre d'inscrits
            %th
        %tbody
          - course.plannings.each do |planning|
            %tr
              %td= "#{l(planning.start_time, format: :short)} à #{l(planning.end_time, format: :short)} (#{readable_duration(planning.duration)})"
              %td= join_audiences planning
              %td= join_levels planning.levels
              %td= planning.place.location.name
              %td
                .progress.flush
                  .bar.bar-success{style: "width: #{(planning.possible_participations.length * 100) / planning.nb_participants_max}%;"}
                    #{planning.possible_participations.length} / #{planning.nb_participants_max}
                - if planning.waiting_list.any?
                  %div
                    %strong Liste d'attente
                  .progress.flush
                    .bar.bar-warning{style: "width: 50%;"}
                      #{planning.waiting_list.length}
              %td.text--right
                .drop-down-el.drop-down__wrapper{data: {behavior: 'drop-down', el: '> .drop-down__el', position: 'right'}}
                  %a.btn--orange.btn.btn--small.nowrap{href: '#'}
                    Actions
                    %i.fa.fa-chevron-down
                  %ul.drop-down__el.text--left
                    %li.nowrap
                      = link_to edit_pro_course_planning_path(course, planning), title: 'Modifier le créneau', data: {behavior: 'modal', width: '780'}, class: 'fancybox.ajax' do
                        %i.fa.fa-pencil
                        Modifier le créneau
                    %li.nowrap
                      = link_to pro_course_planning_path(course, planning), method: 'delete', confirm: 'Êtes-vous bien sûr de supprimer ce planning ?', title: 'Supprimer le créneau' do
                        %i.fa.fa-trash-o
                        Supprimer


    %p.push-half--top
      = link_to new_pro_course_planning_path(course), title: 'Ajouter un créneau', data: {behavior: 'modal', width: 780}, class: 'fancybox.ajax btn btn--blue btn--small' do
        %i.fa.fa-plus.soft-half--right
        Ajouter un créneau

