= content_for :title do
  Dernière étape avant de valider votre profil !

.bg-fixed.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background.jpg'})" }
  .main-container.soft
    %header
      %h1.flush.text--center
        Dernière étape avant de valider votre profil !

.main-container.soft.text--center
  .push--ends.white-box.center-block{ style: 'max-width: 900px;' }
    .panel__body.soft--ends
      .soft--sides
        %h4.text--center Dernière étape : choisissez vos identifiants pour gérer votre profil
        .text--center
          %a.btn.btn--facebook{ data: { behavior: 'facebook-login', structure_id: params[:structure_id], disable_with: "Inscription en cours..." } }
            S'inscrire avec Facebook
        .or
          %span
            ou
        = simple_form_for [:pro, @admin], url: pro_admin_registration_path, html: { autocomplete: 'false', class: 'half-form'} do |f|
          = f.input :email, required: true, autofocus: true, label: t('.email'), wrapper_html: { class: 'flush--bottom' }, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
          = f.input :password, required: true, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
          = f.hidden_field :structure_id, as: :hidden, value: @structure.try(:id)

          .text--center
            = f.button :submit, 'Valider',  class: 'btn--green btn--large', data: { disable_with: 'Enregistrement en cours...' }
