= content_for :title do
  Félicitations, votre profil vient d'être créé !

.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/home_background.jpg'})", 'data-stellar-background-ratio' => '0.6' }
  .main-container.soft
    %header
      %h1.flush
        Félicitations, votre profil vient d'être créé !

.main-container.soft.text--center
  .push--ends.white-box.center-block{ style: 'max-width: 900px;' }
    .panel__body.soft--ends
      .soft--sides
        %h4.text--center Dernière étape : choisissez vos identifiants pour gérer votre profil
        = simple_form_for [:pro, @admin], url: pro_admin_registration_path, html: { autocomplete: 'off', class: 'half-form'} do |f|
          = f.error_notification
          = f.input :email, required: true, autofocus: true, label: t('.email'), wrapper_html: { class: 'flush--bottom' }, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
          = f.input :password, required: true, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
          = f.hidden_field :structure_id, as: :hidden, value: @structure.try(:id)

          .text--center
            = f.button :submit, 'Valider',  class: 'btn--green btn--large', data: { disable_with: 'Enregistrement en cours...' }
