- content_for :head do
  %meta{ name: 'robots', content: 'noindex, nofollow' }

= content_for :title do
  Vous travaillez pour #{@structure.name} ? Prenez le contrôle de votre profil.

- profiles = [{ name: "Valérie, Co-dirigeante de l'atelier St Germain des Arts à Paris", slug: 'st-germain-des-arts', bg: asset_path('pro/home_background5-shadowed.jpg'), profile_name: 'valerie', image_name: 'valerie', quote: "Avec mon compte gratuit CoursAvenue, j'ai pu améliorer le profil de notre atelier d'arts plastiques et compléter le planning de nos cours. Enfin un site rapide, intuitif et simple d'utilisation.", image_width: 470, image_profile_width: 375, profile_bottom: 185, image_style: 'margin-left: 0px;'}]
- profiles << { name: "Alain Pons, formateur en photographie à Clermont-Ferrand", slug: 'alain-pons-photographe', bg: asset_path('pro/home_background_alain.jpg'), profile_name: 'alain', image_name: 'alain-2', quote: "En prenant le contrôle de mon profil, j'ai reçu les premières recommandations de mes élèves. J'ai alors gagné en visibilité sur CoursAvenue et sur Internet en général", image_width: 300, image_profile_width: 375, profile_bottom: 230 }

- selected_profile = profiles.sample
- # In order not to see alain in pro home page
- if selected_profile[:slug] == 'alain-pons-photographe'
  - cookies[:have_seen_alain] = true

.relative.soft--sides.bg-cover{ style: "background-image: url(#{asset_path(selected_profile[:bg])})" }
  .main-container
    %header.grid--full
      .grid__item.four-twelfths.v-bottom.soft--top.relative.visuallyhidden--palm>
        = link_to structure_url(selected_profile[:slug], subdomain: 'www'), class: 'absolute block', target: :_blank, id: 'valerie-profile', style: 'bottom: -230px' do
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/pro/testimonies/#{selected_profile[:profile_name]}-profile-small.jpg", class: 'block', width: selected_profile[:image_profile_width]
        = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/pro/testimonies/#{selected_profile[:image_name]}-detour.png", class: 'rounded block', width: selected_profile[:image_width], style: "margin-left: auto; #{selected_profile[:image_style]}"
      .grid__item.eight-twelfths.v-bottom.soft--top.palm-one-whole.relative>
        .center-block#gerer-ce-profil
          %div{ style: 'margin-left: -30px;' }
            %p.gamma.line-height-1-5.push-half--bottom.white.soft-black-text-shadow
              %strong.quoted<
                = selected_profile[:quote].html_safe
            %p.f-style-italic.white.soft-black-text-shadow.f-weight-bold
              = selected_profile[:name]

          .soft--top
            %div
              .bg-white-faded.rounded--top.soft.hard--left{ style: 'max-width: 650px;' }
                .grid--full
                  - if @structure.logo.present?
                    .grid__item.one-fifth.v-top.text--right.soft--left>
                      = link_to structure_url(@structure, subdomain: 'www'), class: 'block', target: :_blank do
                        = image_tag @structure.logo.url(:thumb), width: 85
                  .grid__item.v-top.soft--left{ class: (@structure.logo.present? ? 'four-fifths' : 'one-whole')}>
                    %h3.flush
                      Travaillez-vous pour
                      = link_to "\"#{@structure.name}\"", structure_url(@structure, subdomain: 'www'), class: 'semi-muted-link', target: :_blank
                      ?
                    %h4 Choisissez vos identifiants pour gérer votre profil :

                .text--center
                  %a.btn.btn--bigger.btn--facebook{ data: { behavior: 'facebook-login', disable_with: "Inscription en cours...", structure_id: params[:structure_id] } }
                    S'inscrire avec Facebook
                .text--center.push-half--top
                  %strong.epsilon> OU
                = simple_form_for [:pro, @admin], url: pro_admin_registration_path, html: { autocomplete: 'off', class: 'half-form'} do |f|
                  = f.error_notification
                  .grid
                    .grid__item.one-fifth.text--right.v-middle>
                      %strong.epsilon> E-mail
                    .grid__item.four-fifths.v-middle>
                      = f.input :email, required: true, autofocus: true, wrapper_html: { class: 'flush--bottom' }, input_html: { class: 'input--large two-thirds' }, label: false
                  .grid
                    .grid__item.one-fifth.text--right.v-middle>
                      %strong.epsilon> Mot de passe
                    .grid__item.four-fifths.v-middle>
                      = f.input :password, required: true, input_html: { class: 'input--large two-thirds' }, label: false
                  = f.hidden_field :structure_id, as: :hidden, value: @structure.try(:id)
                  .grid
                    .grid__item.one-fifth.text--right.v-middle>
                      &nbsp;
                    .grid__item.four-fifths.v-middle>
                      = f.button :submit, 'Compléter ce profil',  class: 'one-half btn--green btn--bigger', data: { disable_with: 'Veuillez patienter...' }
                      %br
                      %i.epsilon Gratuit et sans engagement

.home-screen-promotion-wrapper.relative
  .main-container.soft
    %h2.push--bottom.soft--ends.f-weight-300.text--center Pourquoi gérer son profil ?
    .grid.push--bottom.text--center
      .grid__item.one-third.v-top.palm-one-whole>
        .push--bottom
          %i.fa-handshake.orange.fa-3x
        %h4.push-half--bottom Pour le compléter
        %p.epsilon
          Grâce à vos identifiants, connectez-vous à tout moment à votre profil pour le compléter : planning de cours, photos, avis de vos élèves...
      .grid__item.one-third.v-top.palm-one-whole>
        .push--bottom
          %i.fa-comment.orange.fa-3x
        %h4.push-half--bottom Pour recruter des élèves
        %p.epsilon
          Renseignez toutes vos coordonnées de manière à ce que les utilisateurs CoursAvenue puissent vous contacter gratuitement
      .grid__item.one-third.v-top.palm-one-whole>
        .push--bottom
          %i.fa-bullhorn.orange.fa-3x
        %h4.push-half--bottom Pour développer votre bouche à oreille
        %p.epsilon
          Affichez les recommandations de vos élèves qui participent à votre réputation sur Internet

    %h4.text--center.push-half--bottom.push--top Pourquoi CoursAvenue ?
    %p.epsilon.text--center
      L'objectif de CoursAvenue est de relier les Français aux meilleurs cours de loisirs locaux.
      = link_to 'En savoir plus', root_url(subdomain: 'pro')

-# .main-container.main-container--medium.soft
-#   %h2.text--center.push--bottom.soft--ends.f-weight-300 Les avantages du profil CoursAvenue
-#   = render partial: 'pro/home/advantages'

.bg-fixed.bg-cover{ style: "background-image: url(#{asset_path 'pro/home_background6.jpg'})" }
  .main-container.main-container--medium.soft--ends
    %h2.text--center.push--bottom.soft--ends.soft-black-text-shadow.white Simple et rapide
    .grid
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 1
        %p.gamma.white.soft-black-text-shadow
          %strong Créez
        %p.white.soft-black-text-shadow.epsilon
          %strong Créez votre compte professionnel CoursAvenue pour vous connecter à votre profil et prendre son contrôle
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 2
        %p.gamma.white.soft-black-text-shadow
          %strong Complétez
        %p.white.soft-black-text-shadow.epsilon
          %strong Ajoutez photos, textes, planning et obtenez votre 1ères recommandations : votre profil gagne en visibilité
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 3
        %p.gamma.white.soft-black-text-shadow
          %strong Recrutez
        %p.white.soft-black-text-shadow.epsilon
          %strong Les élèves intéressés par vos cours prennent contact gratuitement avec vous
    .text--center
      = link_to "Compléter ce profil !", '#gerer-ce-profil', class: 'btn btn--green'

.home-screen-promotion-wrapper.soft
  .main-container.main-container--medium.soft--sides
    %h2.text--center.push--bottom.soft--ends.f-weight-300 + de 2 000 profils
    - StructureSearch.search(per_page: 9, has_logo: true, sort: 'premium').results.each do |structure|
      .inline-block.one-third.palm-one-whole.lap-one-half>
        .grid.push--bottom
          .grid__item.one-quarter.epsilon.v-middle>
            = link_to structure_url(structure, subdomain: 'www'), class: 'block muted-link media-photo', target: :_blank do
              = image_tag structure.logo.url(:thumb), class: 'block'
          .grid__item.three-quarters.v-middle>
            = link_to structure_url(structure, subdomain: 'www'), target: :_blank, class: 'muted-link block' do
              %p.flush.epsilon
                %strong= structure.name
                %br
                - if structure.structure_type.present?
                  = t(structure.structure_type)
                - else
                  Association
                %br
                %i= truncate(join_parent_subjects_text(structure), lenght: 36)

.main-container.main-container--medium.soft--ends
  %h2.text--center.push--bottom.soft--ends.f-weight-300 Développez votre bouche à oreille sur Internet
  - CommentSearch.search(per_page: 4, has_avatar: true, has_title: true).results.in_groups_of(2, false).each do |review_group|
    .grid.push--bottom
      - review_group.each do |review|
        .grid__item.one-half.palm-one-whole.lap-one-half>
          .flexbox.push--bottom
            .flexbox__item.soft--left.v-top.text--center>
              = link_to structure_url(review.structure, subdomain: 'www'), class: 'block media-photo', target: :_blank, class: 'muted-link' do
                = image_tag review.user.avatar_url(:thumb), class: 'block rounded--circle', width: 60, height: 60
              .milli.soft-half--top
                = review.author_name
            .flexbox__item.soft--sides.v-top>
              .message__body.soft-half.message__appendix.gray-box
                %p.epsilon.push-half--bottom.quoted
                  %strong= review.title
                %p
                  = truncate(review.content, length: 500)
                %p.text--right.flush
                  %i
                    À propos de
                    = link_to review.structure.name, structure_url(review.structure, subdomain: 'www'), target: :_blank

= content_for :scripts do
  :javascript
    $(function() {
        $('#valerie-profile').hover(function() {
            $(this).animate({ bottom:  '0' }, 600, 'easeOutExpo');
        }, function() {
            $(this).animate({ bottom: '-230px' }, 600, 'easeOutExpo');
        });
    });

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.track("Structures/show: landed on take control page", { "structure_slug": "#{@structure.slug}", "structure_name": "#{escape_javascript(@structure.name)}" });
      });

