- if @structure.logo?
  - content_for :logo do
    = link_to structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: '_blank' do
      = image_tag @structure.logo.url(:thumb), style: 'width: 125px; height: 125px;', class: 'block'

- content_for :promo do
  .title
    = @structure.name
    vient de vous envoyer un message personnel :

- if @message.subject.present?
  .p.flush
    %strong
      Objet :
      = @message.subject

= simple_format @message.body

.p.action
  - if @token
    = link_to "Répondre au message", user_conversation_url(@user, @message.conversation, token: @token, email: @user.email, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green'
  - else
    = link_to "Répondre au message", user_conversation_url(@user, @message.conversation, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--blue'

= render 'shared/mailers/footer'
