.title
  = @user.name
  vient de vous envoyer un message personnel :

- if @message.subject.present?
  .p
    %strong
      Objet :
      = @message.subject

.p
  = @message.body

.p.action
  = link_to "Répondre au message", pro_structure_conversation_url(@admin.structure, @message.conversation, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'
= render 'shared/mailers/footer'
