- content_for :email_title do
  Félicitations ! Vous avez reçu une demande d'information de #{@user.name}.

.title
  Félicitations !

.p
  Vous avez reçu une
  %strong demande d'information de #{@user.name}.
  Nous vous encourageons à répondre dès que possible :

= render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user }

.action.soft--top
  = link_to "Répondre au message", pro_structure_conversation_url(@admin.structure, @message.conversation, subdomain: 'pro'), class: 'btn btn--green', style: 'width: 300px;'
- if @user.phone_number.present?
  .p.action.soft-half--top
    = link_to 'Demande traitée par téléphone', treat_by_phone_pro_structure_conversation_url(@structure, @conversation, subdomain: 'pro'), class: 'btn', method: :patch, style: 'width: 300px;'

%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.v-middle.content-block{ width: 475 }
      .p.soft-half--top
        %strong Important :
        pour continuer à assurer la meilleure qualité de service, vous avez 2 jours pour traiter cette demande d'inscription. Passé ce délai, la demande d'information de #{@user.name} sera expirée et votre compte sera susceptible d'être suspendu. PS : plus vous répondez vite, plus votre profil montera dans les résultats de recherche et plus vous recevrez de nouvelles inscriptions.
        Si vous avez déjà répondu directement par téléphone ou s'il ne s'agit pas d'une véritable demande,
        = link_to 'signalez-le.', flag_pro_structure_conversation_url(@structure, @conversation, flag: 'from_email', subdomain: 'pro')
    %td.text--center.v-middle.content-block{ width: 125 }
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/48hours.png', width: 75, height: 120, alt: 'Vous avez 48 heures'

= render 'shared/mailers/footer'

- content_for :under_content_gray do
  .title
    = link_to "Foire aux questions", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .soft-half--bottom.bordered--bottom
    = link_to "Que faire après avoir reçu une demande d'information d'un élève potentiel ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .soft-half--ends.bordered--bottom
    = link_to "Que faire s'il ne s'agit pas d'une véritable demande d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .soft-half--ends.bordered--bottom
    = link_to "Que se passe-t-il si je laisse expirer une demande d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .soft-half--ends
    = link_to "Comment faire pour recevoir encore plus de demandes d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'

