- content_for :email_title do
  REPONDEZ AU DESSUS DE CETTE LIGNE
  %br
  Répondez à #{@structure.name} en répondant directement à cet e-mail
  %hr

.title #{@structure.name} vient de vous envoyer un message personnel :

= render partial: 'mailboxer_message_mailer/message_to_user', locals: { message: @message, structure: @structure }

.p.action.soft--top
  = link_to "Répondre au message", user_conversation_url(@user, @message.conversation, subdomain: 'www'), class: 'btn btn--green'

= render 'shared/mailers/footer'

= content_for :under_content do
  = render 'user_mailer/footer_info'
