- if @user.avatar.present?
  - content_for :logo do
    = image_tag @user.avatar.url(:thumb), style: '-ms-interpolation-mode:bicubic;', width: '100', height: '100'

- content_for :promo do
  %h4
    = @user.name
    vient de vous envoyer un message personnel :

- if @message.subject.present?
  %p.flush
    %strong
      Objet :
      = @message.subject

= simple_format @message.body

%p.action
  = link_to "Répondre au message", pro_structure_conversation_url(@admin.structure, @message.conversation, subdomain: 'pro'), class: 'btn btn--green'

- content_for :footer do
  %p Vous recevez ce message car #{@user.name} vous a envoyé un message privé sur CoursAvenue.com
