- content_for :email_title do
  REPONDEZ AU DESSUS DE CETTE LIGNE
  %br
  Répondez à #{@user.name} en répondant directement à cet e-mail
  %hr

.title
  = @user.name
  vient de vous envoyer un message personnel :

= render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user }

.p.action.soft--top
  = link_to "Répondre au message", pro_structure_conversation_url(@admin.structure, @message.conversation, subdomain: 'pro'), class: 'btn btn--green'
= render 'shared/mailers/footer'
