- content_for :email_title do
  #{@user.name} a répondu à votre message

.title #{@user.name} a répondu à votre message :

= render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user }

.p.action.soft--top
  = link_to "Répondre au message", pro_structure_conversation_url(@admin.structure, @message.conversation, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'
= render 'shared/mailers/footer'
