- content_for :promo do
  %h4= @message.subject

= simple_format @message.body

%p.action
  - if @token
    = link_to "Répondre au message", user_conversation_url(@user, @message.conversation, token: @token, email: @user.email, subdomain: 'www'), class: 'btn btn--green'
  - else
    = link_to "Répondre au message", user_conversation_url(@user, @message.conversation, subdomain: 'www'), class: 'btn btn--blue'

- if @structure and @structure.parisian?
  = content_for :under_content do
    = render 'user_mailer/discover_jpo'

- if @structure
  - content_for :footer do
    %p Vous recevez ce message car #{@structure.name} vous a envoyé un message privé sur CoursAvenue.com
