- if @structure.logo?
  - content_for :logo do
    = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
      = image_tag @structure.logo.url(:thumb), style: '-ms-interpolation-mode:bicubic;', width: '75', height: '75'

- content_for :promo do
  %h4= t('mailboxer.message_mailer.subject_reply', sender: @structure.name)

%p
  Bonjour #{@user.name},
%p
  #{@structure.name} viens de vous répondre sur CoursAvenue :

= simple_format @message.body

%p.action
  - if @token
    = link_to "Répondre au message", user_conversation_url(@user, @message.conversation, token: @token), class: 'btn btn--blue'
  - else
    = link_to "Répondre au message", user_conversation_url(@user, @message.conversation), class: 'btn btn--blue'


%p
  L'équipe de CoursAvenue

- content_for :footer do
  %p Vous recevez ce message car #{@structure.name} vous a envoyé un message privée sur CoursAvenue.com
