.title= @message.subject

.p
  = @message.body

.p.action
  - if @token
    = link_to "Répondre au message", user_conversation_url(@user, @message.conversation, token: @token, email: @user.email, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green'
  - else
    = link_to "Répondre au message", user_conversation_url(@user, @message.conversation, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--blue'

= render 'shared/mailers/footer'
