= simple_form_for [:pro, @structure, @image], url: pro_structure_images_path(@structure), remote: true, html: { id: 'image-form' } do |f|
  = f.error_notification
  .text--center
    = f.filepicker_field :url, multiple: true, button_text: 'Choisir mes photos', button_class: 'btn btn--blue btn--large', services: 'COMPUTER,FACEBOOK,DROPBOX,BOX,FLICKR,PICASA,INSTAGRAM,URL', store_location: 'S3', store_path: @image.s3_media_path, store_access: 'public'
    = f.input :thumbnail_url, as: :hidden
  %h4#preview-title.hidden.push-half--ends Aperçu
  #preview
  .text--center= link_to 'Retour à la galerie', pro_structure_medias_path(@structure)

= content_for :scripts do
  = render 'shared/libs/filepicker_scripts'
  :javascript
    $(function() {
        var convertImages;
        $('#media_image_url').change(function(event) {
            $('#preview-title').show();
            var $preview = $('#preview').empty();
            var image_string = [];
            _.each(event.originalEvent.fpfiles, function(file) {
                image_string.push(file.url + ';' + file.key);
                $preview.append($('<img>', {src: file.url, style: 'height: 100px;', class: 'push-half--right'}));
            });
            $(this).val(image_string.join(','));
            $('#image-form').submit();
        });
    });
