= simple_form_for [:pro, @structure, @image], url: pro_structure_images_path(@structure) do |f|
  .form-white-box
    = f.error_notification
    .text--center
      = f.filepicker_field :url, multiple: true, button_text: 'Choisir mes photos', button_class: 'btn btn--blue btn--large', services: 'COMPUTER,FACEBOOK,DROPBOX,BOX,FLICKR,PICASA,INSTAGRAM,URL', dragdrop: true, drag_text: 'Ou glissez vos photos ici', drag_class: 'filepicker__dropzone push-half--top', store_location: 'S3', store_path: media.s3_media_path
      = f.input :thumbnail_url, as: :hidden
    %h4#preview-title.hidden.push-half--ends Aperçu
    #preview
    .text--center.push--top
      = f.submit 'Enregistrer', class: 'btn btn--green'

= content_for :scripts do
  :javascript
    $(function() {
        var convertImages;
        $('#media_image_url').change(function(event) {
            $('#preview-title').show();
            var $preview = $('#preview').empty();
            _.each(event.originalEvent.fpfiles, function(file) {
                $preview.append($('<img>', {src: file.url, style: 'height: 100px;', class: 'push-half--right'}));
            });
        });
    });
