%li.one-whole.course-element{data: {"structure-id" => course_group.structure_id}}
  %div.two-twelfths
    .course-image.media__img
      %img{src: 'http://www.placehold.it/100'}
      - if course_group.has_promotion
        .course-promo.price-badge= readable_promotion course_group.promotion

  %article.course-content
    %header
      %h4.hN.course-title
        %span= link_to course_group.name, course_group
        %span.lbl.milli= course_group.type_name

    - if course_group.is_training?
      %p
        Stage de
        = pluralize course_group.length, 'jour'
    %ul.nav
      %li= join_audiences(course_group)
      %li -
      %li= join_levels(course_group)
    %p
      %i.icon-map-marker
      %strong= course_group.structure.name
      - if course_group.structure.zip_code == 75000
        Paris
      - else
        = "- Paris&nbsp;#{course_group.structure.zip_code[3..4]}".html_safe
    = join_week_days(course_group)                        if course_group.is_lesson?
    - if course_group.is_training?
      = training_dates(course_group.courses.first.planning)
      - if course_group.courses.length > 1
        = "et #{course_group.courses.length - 1} autres dates."
    - unless course_group.discipline.blank?
      %span.lbl.lbl--orange= course_group.discipline.name

  %div.course-price.two-twelfths
    - case course_group.best_price.price_1
    - when -1
      %p.epsilon Contacter l'établissement
    - when 0
      %p.beta Gratuit
    - else
      %p
        À partir de
      %p.beta= "#{course_group.best_price.price_1}&nbsp;€".html_safe
      %p= course_group.best_price.price_1_libelle
      %br
      - unless course_group.best_price.price_2.blank?
        %p
          = course_group.best_price.price_2
          €
          = course_group.best_price.price_2_libelle
      - else
        = "environ #{course_group.best_price.approximate_price_per_course} € / cours"

