%li.one-whole.course-element
  %div.two-twelfths
    %img.media__img.course-image{src: 'http://www.placehold.it/100'}

  %article.course-content
    %header
      %h4.hN
        %span= link_to course_group.name, course_group
        /= course_group.name
        %span.lbl.milli= course_group.type_name

    - if course_group.is_training?
      %p
        Stage de
        = pluralize course_group.length, 'jour'
    %ul.nav
      %li= join_audiences(course_group)
      %li -
      %li= join_levels(course_group)
    %footer
      %p
        %i.icon-map-marker
        %strong= course_group.structure.name
        = "- Paris&nbsp;#{course_group.structure.zip_code[3..4]}".html_safe
      %p Place disponible :


  %div.course-price.two-twelfths
    - case course_group.best_price.price_1
    - when -1
      %p.epsilon Contacter l'établissement
    - when 0
      %p.alpha Gratuit
    - else
      %p
        À partir de
      %p.alpha= "#{course_group.best_price.price_1}&nbsp;€".html_safe
      %p= course_group.best_price.price_1_libelle
      %br
      - unless course_group.best_price.price_2.blank?
        %p
          = course_group.best_price.price_2
          €
          = course_group.best_price.price_2_libelle
      - else
        = "environ #{course_group.best_price.approximate_price_per_course} € / cours"

