%li{:class => (course_group.is_training? ? 'training-element' : 'lesson-element')}
  = link_to course_group, class: 'one-whole' do
    %div.two-twelfths
      %img.media__img.course_group-image{src: 'http://www.placehold.it/100'}

    %div.eight-twelfths.course_group-content
      %hgroup
        %h3.hN
          = course_group.name
        %h5.hN
          %i.icon-map-marker
          = course_group.structure.name
      %footer
        %ul.nav
          %li= join_audiences(course_group)
          %li -
          %li= join_levels(course_group)
        - if course_group.is_training?
          .fl.lbl Stage
        - else
          .fl.lbl Cours


    / %div.course_group-price.two-twelfths
    /   À partir de
    /   - if course_group.price.individual_course_group_price
    /     .alpha
    /       = course_group.price.individual_course_group_price
    /       €
    /     par cours
    /   - if course_group.price.annual_price
    /     %em
    /       = course_group.price.annual_price
    /       €
    /     par an
