%li{class: 'lesson-element'}
  = link_to lesson, class: 'one-whole' do
    %div.two-twelfths
      %img.media__img.lesson-image{src: 'http://www.placehold.it/100'}

    %article.lesson-content
      %header
        %h3.hN
          %span= lesson.name
          %span.lbl.milli Cours
      %p &nbsp;
      %ul.nav
        %li= join_audiences(lesson)
        %li -
        %li= join_levels(lesson)

      %footer
        %h5.hN
          %i.icon-map-marker
          = lesson.structure.name
          = "- Paris&nbsp;#{lesson.structure.zip_code[3..4]}".html_safe
        %p
          .lbl.discipline.milli Flute
          .lbl.discipline.milli Portugais

    %div.lesson-price.two-twelfths
      À partir de
      - if lesson.minimum_price_per_course
        .alpha
          = "#{lesson.minimum_price_per_course}&nbsp;€".html_safe
        \/ séance
      - if lesson.minimum_price_per_year
        %div
          %em
            = "#{lesson.minimum_price_per_year}&nbsp;€".html_safe
          \/ an
