%table.table--striped.table--data
  %thead
    %tr
      %th Jour
      %th.text-center Créneau horaire
      %th.text-center Durée
      %th.text-center Âge min.
      %th.text-center Âge max.
      %th Professeur
      %th Nb de places
      %th Promo
  %tbody
    - @plannings.each do |planning|
      %tr.selectable{data: {'course-id' => planning.course_id}}
        %td= week_day_for planning
        %td.text-center= readable_time_slot planning
        %td.text-center= readable_duration planning
        %td.text-center= planning.course.min_age_for_kid
        %td.text-center= planning.course.max_age_for_kid
        %td -
        %td -
        %td
          %b.red= readable_promotion planning.course.promotion

#course-info
%script#course-info-template{type: "text/x-handlebars-template"}
  %h4 Informations complémentaires
  %ul
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
