%ul.tab-titles{data: {behavior: 'tabs'}}
  %li.active{data: { el: 'tab-opinion' }}= t('.opinions')
  %li{data: { el: 'tab-structure-info' }}= t('.structure')

.tab-content
  %article#tab-opinion.tab-pane.active
    %header
      %h4= t('.last_students_opinion')
      %h5 Espace en cours de lancement

  %article#tab-structure-info.tab-pane
    %h4= @structure.name
    %ul
      %li= readable_address @structure
      - unless @structure.adress_info.blank?
        %li= @structure.adress_info
      %li= t('.number_of_room', count: @structure.nb_room)
      %li
        = t('.website')
        = link_to @structure.website, @structure.website, target: '_blank'
      - if @structure.needs_payment_on_place_for_registration
        %li= t('.payment_on_place')
      - unless @structure.has_registration_form.blank?
        %li= t('.has_registration_form')
        %li
          = t('.required_documents_for_registration')
          %ul
            - if @structure.needs_photo_id_for_registration
              %li= t('.photo_id')
            - if @structure.needs_id_copy_for_registration
              %li= t('.id_copy')
            - if @structure.needs_medical_certificate_for_registration
              %li= t('.medical_certificate')
            - if @structure.needs_insurance_attestation_for_registration
              %li= t('.insurance_attestation_')
        - unless @structure.info.blank?
          %li
            = t('.other_info')
            = @structure.info
