%li{class: 'training-element'}
  = link_to training, class: 'one-whole' do
    %div.two-twelfths
      %img.media__img.training-image{src: 'http://www.placehold.it/100'}

    %article.training-content
      %header
        %h3.hN
          = training.name
          %span.lbl.milli Stage
      %p
        Stage de
        = pluralize training.length, 'jour'
      %ul.nav
        %li= join_audiences(training)
        %li -
        %li= join_levels(training)
      %p &nbsp;

      %footer
        %h5.hN
          %i.icon-map-marker
          = training.structure.name
          = "- Paris&nbsp;#{training.structure.zip_code[3..4]}".html_safe

    %div.training-price.two-twelfths
      À partir de
      .alpha
        = "#{training.minimum_price}&nbsp;€".html_safe
