.gw
  = render 'search_form'
  /%section.g.one-quarter
  %section.g.three-tenths
    = render 'side_search_form'
  /%section.g.three-quarters
  %section.g.seven-tenths
    %p.island.search-list-info
      = page_entries_info html: false
    %ul.block-list.course-list
      = render partial: 'course_group', :collection => @course_groups

    %footer.g.one-whole
      = will_paginate @course_groups, renderer: PaginationListLinkRenderer, class: 'nav pagination', inner_window: 2

- content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        Gmaps.map.callback = function() {
            for (var i = 0; i <  this.markers.length; ++i) {
                google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', function() {
                    var course_element = $$('.course-element[data-structure_id=' + this.id + ']')[0];
                    GLOBAL.Scroller.toElement(course_element);

                    // Unselect courses if there already are that are selected
                    $$('.course-element').removeClass('selected');
                    course_element.addClass('selected');
                }.bind(Gmaps.map.markers[i]));
            }
        };
    });
