%ol.nav
  %li= link_to "#{@structure.city.capitalize} >", course_groups_path(city: @structure.city, discipline: t('all_discipline_route_name'))
  - unless @discipline.nil? || @discipline.parent.nil?
    %li= link_to "#{@discipline.parent.name.capitalize} >", course_groups_path(city: @structure.city, discipline: u(@discipline.parent.name))
  %li= link_to @discipline_name.capitalize, course_groups_path(city: @structure.city, discipline: u(@discipline_name))

%h1.course-title
  %span= @course_group.name
  %span.lbl.milli= @course_group.type_name

%ul.nav
  %li= join_levels @course_group
  %li -
  %li= join_audiences @course_group
.gw
  %section.g.seven-tenths
    .course-header-badge
      .course-header-image
        %img{src: 'http://placehold.it/250', class: 'course-header-badge-image'}
        / %h5.price-badge
        /   = readable_price @course_group.best_price
      = gmaps( {markers: {data: @json_structure_address}, map_options: {maxZoom: 15, mapTypeControl: false}} )

    %h3 Séléctionnez la séance
    %p
      Pour un
      %select
        = Audience.all.each do |audience|
          %option= t(audience.name)
    - if @course_group.is_training?
      = render 'training_schedule'
    - if @course_group.is_lesson?
      = render 'lesson_schedule'
    - if @course_group.is_workshop?
      = render 'lesson_schedule'

    #prices
    = render 'course_groups/templates/price_template'

    = render 'structure_info_tabs'


  %section.g.three-tenths#summary
    = render 'course_groups/templates/summary_template'
    %article
      %h4 À voir aussi
      %ul.block-list
        - @similar_courses.each do |course|
          %li
            = link_to course_path(course), class: 'flexbox' do
              .flexbox__item.one-fifth
                %img{src: 'http://placehold.it/50'}
              .flexbox__item= course.name


- content_for :scripts do
  :javascript
      window.addEvent('domready', function() {
          var courses = #{@json_courses};
          courses.each(function(course){
              new GLOBAL.Objects.Course(course);
          });
      });
