%ol.nav
  %li= link_to "#{@structure.city.capitalize} >", course_groups_path(city: @structure.city, discipline: t('all_discipline_route_name'))
  - unless @discipline.nil? || @discipline.parent.nil?
    %li= link_to "#{@discipline.parent.name.capitalize} >", course_groups_path(city: @structure.city, discipline: u(@discipline.parent.name))
  %li= link_to @discipline_name.capitalize, course_groups_path(city: @structure.city, discipline: u(@discipline_name))
.gw
  %section.g.seven-tenths

    %h1.course-title
      %span= @course_group.name
      %span.lbl.milli= @course_group.type_name

    .course-header-badge
      .course-header-image
        %img{src: 'http://placehold.it/400x250', class: 'course-header-badge-image'}
        / %h5.price-badge
        /   = readable_price @course_group.best_price
      = gmaps( {markers: {data: @json_structure_address}, map_options: {maxZoom: 15, mapTypeControl: false}} )

    %ul.tab-titles{data: {behavior: 'tabs'}}
      %li.active{data: { el: 'tab-planning' }}= t('.planning')
      %li{data: { el: 'tab-prices' }}= t('.prices')
      %li{data: { el: 'tab-description' }}= t('.description')

    .tab-content
      %article#tab-planning.tab-pane.active
        .gw
          .g.five-eighths
            - if @course_group.is_training?
              = render 'training_schedule'
            - if @course_group.is_lesson?
              = render 'lesson_schedule'
            - if @course_group.is_workshop?
              = render 'lesson_schedule'
          .g.three-eighths
            %h4= t('.infos')
            %ul.block-list.alternate-color.spoken-form.milli
              %li
                %label= t('.audience')
                %strong.fr
                  = @course_group.audiences.map{|course| t(course.name)}.join(', ')

              %li
                %label= t('.course')
                - if @course_group.courses.first.is_individual
                  %strong.fr= t('.individual')
                - else
                  %strong.fr= t('.collective')
              - if @course_group.courses.first.teacher_name.present?
                %li
                  %label= t('.teacher')
                  %strong.fr= @course_group.courses.first.teacher_name

              - unless @course_group.plannings.first.recurrence.blank?
                %li
                  %label= t('.recurrence')
                  %strong.fr= @course_group.plannings.first.recurrence

              %li
                %label= t('.can_be_joined_during_year')
                %strong.fr= (@course_group.courses.first.cant_be_joined_during_year ? t('no') : t('yes'))

              %li
                %label= t('.class_during_holidays')
                %strong.fr= (@course_group.plannings.first.class_during_holidays ? t('yes') : t('no'))

              %li
                %label= t('.for_handicaped')
                %strong.fr= (@course_group.courses.first.is_for_handicaped ? t('yes') : t('no'))

      %article#tab-prices.tab-pane
        %table.table--striped.table--data#planning-schedule
          %thead
            %tr
              %th Type de formule
              %th.text-center Sans promo
              %th.text-center Avec promo
          %tbody
            = render @course_group.prices
            = render @course_group.book_tickets

      %article#tab-description.tab-pane
        %h4= t('.course_description')
        %p= @course_group.description

        %h4= t('.more_information')
        %ul
          - unless @course_group.courses.first.course_info_1.blank?
            %li= @course_group.courses.first.course_info_1
          - unless @course_group.courses.first.course_info_2.blank?
            %li= @course_group.courses.first.course_info_2
          - unless @structure.registration_info.blank?
            %li= @structure.registration_info


    = render 'structure_info_tabs'


  %section.g.three-tenths#summary
    /= render 'course_groups/templates/summary_template'
    %article
      %h4 À voir aussi
      %ul.block-list
        - @similar_courses.each do |course|
          %li
            = link_to course_path(course), class: 'flexbox' do
              .flexbox__item.one-fifth
                %img{src: 'http://placehold.it/50'}
              .flexbox__item= course.name

