<td class="two-twelfths">{{ date }}</td>
<td class="three-twelfths">{{ time_slot }} ({{ duration }})</td>
<td class="three-twelfths">{{ levels }}</td>
<td class="three-twelfths {{#if info}}nowrap{{/if}}">
    {{ audiences }}
    {{#if info}}
        <i class="push-half--left lbc-brand-icon" data-behavior="tooltip" title="{{info}}" ></i>
    {{/if}}
</td>
