<td class="two-twelfths">{{ date }}</td>
<td class="three-twelfths">{{ time_slot }}</td>
<td class="three-twelfths">{{ levels }}</td>
<td class="three-twelfths {{#if info}}nowrap{{/if}}">
    {{ audiences }}
</td>
<td class="nowrap text--right">
    <div class="gray milli">
        <i>{{address}}</i>
        <i class="fa fa-map-marker"></i>
    </div>
</td>
