<td class="two-twelfths">{{ date }}</td>
<td class="three-twelfths">{{ time_slot }}</td>
<td class="three-twelfths">{{ levels }}</td>
<td class="three-twelfths {{#if info}}nowrap{{/if}}">
    {{ audiences }}
</td>
<td class="nowrap text--right">
    {{#if info}}
        <i class="lbc-brand-icon" data-behavior="tooltip" title="{{info}}" ></i>
    {{/if}}
    <i class="fa fa-map-marker pointer" data-behavior="tooltip" title="{{address}}" ></i>
</td>
