<td class="two-twelfths">{{ date }}</td>
<td class="two-twelfths">{{ time_slot }}</td>
<td class="two-twelfths">{{ levels }}</td>
<td class="two-twelfths">
    {{ audiences }}
    {{#if info}}
        <i data-original-title="{{ info }}" data-behavior="tooltip"></i>
    {{/if}}
</td>
<td class="text--right three-twelfths">
    {{#if address }}
    <div class="gray milli">
        <i>{{address}}</i>
        <i class="fa fa-map-marker"></i>
    </div>
    {{/if}}
</td>
