= simple_form_for [:admin, @plan], remote: true do |form|
  .panel
    .panel__body.soft
      = form.input :name, label:"Nom de l'offre sur Stripe", input_html: { class: 'input--large', style: 'width: 20em;' }, label_html: { class: 'label--large' }
      = form.input :public_name, label: "Nom de l'offre affiché au prof", input_html: { class: 'input--large', style: 'width: 20em;' }, label_html: { class: 'label--large' }
      = form.input :plan_type, label: "Type de plan", as: :select, collection: Subscriptions::Plan::PLAN_TYPES, input_html: { class: 'input--large', style: 'width: 20em;' }, label_html: { class: 'label--large' }
      %p.flush
        %i.blue
          Ce nom sera affiché sur les factures et dans
          = link_to "l'interface de Stripe", 'https://dashboard.stripe.com/plans', target: :_blank
          et doit être unique
      = form.input :amount, label: 'Montant', label_html: { class: 'label--large' }, input_html: { class: 'input--large', placeholder: '20€', min: '0' }, disabled: @edition
      - intervals = Subscriptions::Plan::INTERVALS
      = form.input :interval, as: :select, collection: intervals.keys, label_method: lambda { |key| intervals[key] }, default: intervals.keys.first, label: 'Intervalle', label_html: { class: 'label--large' }, input_html: { class: 'input--large' }, disabled: @edition

      .grid.push--top
        .grid__item.two-tenths>
          %a.btn.btn--gray.btn--full{ onclick: '$.fancybox.close()' } Annuler
        .grid__item.eight-tenths>
          = form.submit 'Enregister', class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours...' }
