.p
  Bonjour #{@user.name}

.p
  %strong= @sender.name
  souhaiterait avoir quelques informations de votre part avant de s'inscrire à l'une des activités proposées par #{@structure.name} :

.gray-box.soft-half.last-div-hard
  = simple_format(@message).gsub('<p>', '<div class="p">').gsub('</p>', '</div>').html_safe

.p.action.soft--top
  = link_to "Répondre à #{@sender.name}", structure_community_message_thread_url(@structure, @thread, user_token: @user.token, subdomain: 'www'), class: 'btn btn--blue'

= render 'user_footer'
