- content_for :email_title do
  #{@sender.name} vient de vous poser une question publique

.title
  #{@sender.name} vient de vous poser une question publique

.gray-box.soft-half
  = simple_format(@message).gsub('<p>', '<div class="p">').gsub('</p>', '</div>').html_safe

.p.action.soft--top
  = link_to "Répondre à #{@sender.name}", pro_structure_conversation_url(@structure, @thread.conversation, subdomain: 'pro'), class: 'btn btn--blue'
