- if !current_user.can_participate_to_jpo_2014?
  %h3.text--center Vous avez déjà 4 inscriptions, vous ne pouvez plus vous inscrire à un atelier
  .text--center
    = link_to 'Voir mes inscriptions', user_participations_path(current_user), class: 'btn btn--green bn--large'

- else
  - if @planning.places_left?
    %h3.text--center Confirmez-vous votre inscription ?
  - else
    %h3.text--center
      Confirmez-vous votre inscription sur liste d'attente ?

  - if @planning.places_left <= 5 and @planning.places_left > 0
    .text--center
      .alert.alert--error
        %strong Attention !
        Il ne reste plus que #{pluralize @planning.places_left, 'place'} !
        %br
        %i Confirmez rapidement pour ne pas être en liste d'attente.

  %p.flush
    Choisissez le nombre de places que vous désirez réserver :
  = simple_form_for [@planning, @participation], remote: true, html: { id: 'participation-form' } do |f|
    = f.error_notification
    = f.error :base, error_method: :to_sentence

    .push-half--ends.alert--info.one-whole
      - if @planning.for_kid?
        - nb_adults_collection = [0,1,2,3,4,5]
      - else
        - nb_adults_collection = [1,2,3,4,5]
      = f.input :nb_adults, as: :select, collection: nb_adults_collection, wrapper_html: { class: 'flush', id: 'participation-input-nb-adults' }, include_blank: false
      - if @planning.for_kid?
        = f.input :nb_kids, as: :select, collection: [0,1,2,3,4], wrapper_html: { class: 'flush', id: 'participation-input-nb-kids' }, include_blank: false

      #invited-friends-box.hidden
        .grid
          .grid__item.one-quarter>
          .grid__item.three-quarters>
            %p.flush.milli
              %i Renseignez les e-mails de tous les participants, nous leur enverrons en fin de semaine un mail récapitulatif avec les informations importantes pour se rendre à l’atelier :
        .input
          %label.email.control-label> Vous
          %input{ disabled: true, value: current_user.email }>
        - 4.times do |index|
          .invited-friends-info.input
            %label.email.control-label> Participant #{index + 2}
            %input{ name: "participation[invited_friends][email][]", type: 'email' }>
            .error{ style: 'display: none;' } Le format de l'email est mauvais

    %p.flush
      %strong En confirmant, je m'engage à :
    %p.soft--left
      %i.fa-check.green
      Choisir un cours qui m'intéresse réellement pour potentiellement m'inscrire dans l'année
      %br
      %i.fa-check.green
      Noter la date dans mon agenda pour ne pas l'oublier le jour J
      %br
      %i.fa-check.green
      Annuler mon inscription si je ne peux plus y participer

    - if @planning.places_left?
      = f.submit 'Confirmer mon inscription', class: 'btn btn--green btn--full', data: { disable_with: 'Confirmation en cours' }, onclick: "ga('send', 'event', 'Participe à un atelier', 'click')"
    - else
      = f.submit "Confirmer mon inscription sur liste d'attente", class: 'btn btn--green btn--full', data: { disable_with: 'Confirmation en cours' }, onclick: "ga('send', 'event', 'Participe à un atelier', 'click', 'waiting_list')"

:javascript
    if($('#participation_nb_adults').length > 0) {
        var $invited_friends_box = $('#invited-friends-box');
        $('#participation_nb_adults').change(function() {
            var nb_adults = this.value;
            if (nb_adults > 1) {
                $invited_friends_box.show();
                $('#invited-friends-box .invited-friends-info').each(function(index, invited_friends_info) {
                    if (index >= nb_adults - 1) { // -1 because we don't need the email of the current_user
                      $(invited_friends_info).hide();
                      $(invited_friends_info).find('input').val('');
                    } else {
                      $(invited_friends_info).show();
                    }
                });
            } else {
                $invited_friends_box.hide();
            }
        });
    }
    $('#participation-form').submit(function() {
        var valid = true
        $('#invited-friends-box .invited-friends-info:visible > input').map(function(index, input) {
            if (input.value.length > 0 && !emailIsValid(input.value)) {
                valid = false;
                $(input).siblings('.error').show();
            } else {
                $(input).siblings('.error').hide();
            }
        })
        return valid;
    });
    function emailIsValid(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

