%h4
  %i.fa-envelope-o.fa.fa-2x.v-middle.soft-half--right
  %span.v-middle Demandez des recommandations à vos élèves

= simple_form_for [:pro, @structure, @structure.comment_notifications.build], remote: true do |f|
  .grid.push-half--bottom
    .grid__item.two-twelfths.text--right>
      %h4 À
    .grid__item.ten-twelfths>
      %textarea.one-whole{ name: 'emails', rows: 3, placeholder: 'Ex. : patrick@gmail.com, thomas@wanadoo.fr', style: 'min-height: 80px;', data: { behavior: 'autoresize' } }
  .grid
    .grid__item.two-twelfths.text--right>
      %h4 Message
    .grid__item.ten-twelfths>
      %textarea#recommendation-user-content.one-whole{ name: 'text', rows: 5, style: 'min-height: 150px;', data: { behavior: 'autoresize' } }
        Bonjour,&#x000A;&#x000A;J'ai créé mon profil sur CoursAvenue et je voudrais savoir ce que vous avez pensé de mes cours. Pouvez-vous prendre quelques secondes pour laisser un avis sur mon profil ?
      %p.push-half--top.flush--bottom
        = link_to 'Lien que recevront mes élèves', new_structure_comment_url(@structure, email: @email, subdomain: 'www'), target: '_blank'
      %p.flush
        Merci et à très bientôt,
        %br
        = @structure.name
      .push-half--top.grid
        .grid__item.one-fifth>
          %a.btn.btn--full#recommendation-overview
            %i.fa-eye
            Aperçu
        .grid__item.four-fifths>
          = f.submit 'Envoyer ma demande', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }
        .text--center= link_to 'Envoyer un email depuis ma boîte perso', '#hidden-send', data: { behavior: 'modal', width: 550, padding: 0 }

#hidden-send.hidden
  .panel
    .panel__header.soft
      %h4.push-half--bottom
        Vous souhaitez envoyer votre demande de recommandation depuis votre propre boîte mail ?
      %p.epsilon.flush Pas de souci, nous vous avons préparé un texte que vous pouvez copier, puis coller dans votre email :
    .panel__body.soft
      %p Bonjour,
      %p Je viens de référencer mes cours sur CoursAvenue et je voudrais avoir votre avis sur mes cours. Si vous avez quelques minutes vous pouvez laisser votre recommandation en cliquant sur le lien suivant : #{link_to new_structure_comment_url(@structure, subdomain: 'www'), new_structure_comment_url(@structure, subdomain: 'www'), target: '_blank'}
      %p Merci pour votre contribution et à très bientôt !
      %p.flush--bottom= @structure.name


:javascript
  var submit_form = function() {
      $('#submit-form').click(function() {
          $('#save-wizard').click();
          return false;
      });
      $('#recommendation-overview').click(function() {
          $('#recommendation-overview-content').text($('#recommendation-user-content').val());
          $.fancybox.open($('#recommendation-overview-popup'), {
              padding: 0,
              width: 600,
              minWidth: 600,
              maxWidth: 600
          });
      });
  }
  if (typeof($) == 'function') {
      submit_form();
      $('.autoresize').textareaResizer();
      $('.autoresize').css('height', '160px');
      $('#send-from-personal').each(function() {
          var width  = $(this).data('width') || '70%';
          var height = $(this).data('height') || '70%';
          $(this).fancybox({
                  openSpeed   : 300,
                  maxWidth    : 800,
                  maxHeight   : 500,
                  fitToView   : false,
                  width       : width,
                  height      : 'auto',
                  autoSize    : false
          });
      });
  } else {
      document.addEventListener('DOMContentLoaded', submit_form, false);
  }

#recommendation-overview-popup.hidden
  .panel
    .panel__body.soft
      .grid--full
        .grid__item{ style: 'width: 60px;' }>
          - if @structure.logo?
            = link_to structure_url(@structure, subdomain: 'www'), target: '_blank', class: 'media-photo block' do
              = image_tag @structure.logo.url(:thumb), style: 'width: 50px; height: 50px;', width: '50', height: '50'
        .grid__item.eight-tenths.soft--left>
          %h4 #{@structure.name} vous demande de lui rédiger une recommandation sur CoursAvenue.com :
      %hr
      %pre#recommendation-overview-content.push--bottom
      %p= link_to 'Déposer mon avis en 20 secondes', new_structure_comment_url(@structure, email: @email, subdomain: 'www'), class: 'btn btn--green', target: :_blank
      %p À très bientôt !
      %p= @structure.name

