{{#if is_first}}
{{else}}
<hr class="push-half--ends">
{{/if}}
<div class="float--right text--right">
    {{#if best_price}}
        à partir de {{ min_price_amount }}€
    {{/if}}
    {{#if has_free_trial_lesson}}
        <strong>(essai gratuit)</strong>
        <br>
        {{#if is_individual}}
            <i class="fa fa-user pointer" data-behavior="tooltip" data-title="Cours individuel" data-placement="left"></i>
        {{else}}
            <span class="" data-behavior="tooltip" data-title="Cours collectif" data-placement="left">
                <i class="fa fa-user"></i>
                <i class="fa fa-user" style="left: -6px; top 2px; position:relative"></i>
            </span>
        {{/if}}
    {{/if}}

</div>
<h3 class="base-font-style flush--bottom">
    {{#if name }}
    <a href="{{ data_url }}">{{ name }}</a>
    {{else}}
    <a href="#">Pas de Nom</a>
    {{/if}}
</h3>
<span class="gray">
    {{#if subjects }}
    <i class="fa fa-tags"></i>
    {{ subjects }}
    {{else}}
    <i class="fa fa-tags"></i>
    Pas de Sujets
    {{/if}}
</span>
