<td>
    {{libelle}}
</td>
<td class="text--center nowrap">
    {{#if is_free}}
      <strong class="green">Gratuit{{#if is_registration}}e{{/if}}</strong>
    {{else}}
      {{#if readable_promo_amount}}
          {{#if readable_amount}}<span class="line-through">{{{ readable_amount }}}</span>{{/if}}
          <strong class="green">{{{ readable_promo_amount }}}</strong>
      {{else}}
          {{{ readable_amount }}}
      {{/if}}
    {{/if}}
</td>
<td>{{{ hide_contacts info }}}</td>
