- default_fake_message = []
- default_fake_message << "Salut !\nJe viens de déposer ma recommandation, j'espère qu'elle te plaira.\nMerci pour tout, à très bientôt !"
- default_fake_message << "Bonjour,\nJ’ai déposé mon témoignage avec grand plaisir, ça fait toujours du bien de partager de si belles expériences.\nA très vite !"
- default_fake_message << "Salut,\nMerci beaucoup d’avoir pensé à moi pour témoigner sur tes cours que je recommande toujours aussi vivement !\nA très vite."
- default_fake_message << "Salut\nSuperbe idée que de témoigner sur tes cours qui m’apportent toujours autant.\nA très bientôt !"
- default_fake_message << "Hello,\nMon avis vient d’être posté sur ton profil, bien content de participer au bouche à oreille.\nMerci, à bientôt !"
- default_fake_message << "Salut,\nRavi d’avoir pu poster ma recommandation sur tes cours qui valent la peine d’être connus.\nA + !"
- default_fake_message << "Salut,\nMa recommandation est déposée, j’espère qu’elle t’aidera à développer encore plus de cours.\nÀ très vite !"
- default_fake_message << "Hello,\nVoici mon avis positif à propos de tes cours, à très bientôt dans une prochaine séance !"
- default_fake_message << "Salut,\nSuite à ta demande de recommandation, voici mon avis à propos de tes cours, toujours au top.\nA bientôt !"
- default_fake_message << "Salut,\nC’était très facile de rédiger mon avis positif à propos de tes cours ! Merci encore et à très bientôt."
- default_fake_message << "Hello,\nVoici mon témoignage sur tes cours, j’ai déjà hâte de venir à la prochaine séance !"
- default_fake_message << "Bonjour,\nJ'ai déposé mon avis qui est bien sûr très positif.\nBises et à très bientôt !"
- default_fake_message << "Salut !\nJ'espère que mon avis te plaira.\nÀ très vite !"
- default_fake_message << "Salut !\nVoilà, j'ai déposé mon avis.\nMerci d'avoir pensé à moi, à bientôt !"

= content_for :title do
  Donnez votre avis sur #{@structure.name}

= content_for :meta_description do
  Donnez votre avis sur #{@structure.name}

.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background.jpg'})" }
  .main-container.main-container--medium.soft
    .grid
      - if @structure.logo.present?
        .grid__item.one-eighth>
          = link_to structure_path(@structure), class: 'muted-link', target: :_blank do
            = image_tag @structure.logo.url(:thumb)
      %header.grid__item.seven-eighths>
        %h1.flush
          Rédigez votre avis
        .delta.line-height-1-7
          à propos de
          = link_to @structure.name, structure_path(@structure), class: 'semi-muted-link', target: :_blank
        .epsilon Votre expérience est précieuse !

.main-container.soft--ends
  .grid
    .grid__item.two-thirds>
      .two-thrids.center-block
        = simple_form_for @comment, url: structure_comments_path(@structure), as: :comment, data: { recover: "comment" } do |f|
          = f.error_notification
          = f.hidden_field :commentable_type
          = f.hidden_field :commentable_id
          - if @comment.errors.any?
            %br
            %p.alert.alert-error
              - @comment.errors.full_messages.each_with_index do |message, index|
                - if index != 0
                  %br
                = message

          .input
            %span.control-label
              .lbl.lbl--blue
                %i.fa.fa-eye.soft-half--right
                Public
            %h5.inline
              Déposez votre avis visible de tous
          = f.input :course_name, label_html: { class: 'label--large v-top' }, wrapper_html: { class: 'flush--bottom' }, placeholder: 'Ex. : Stage de danse jazz new style pour ado du jeudi soir', input_html: { class: 'input--large' }
          = f.input :title, label_html: { class: 'v-top label--large' }, wrapper_html: {class: 'flush--bottom'}, placeholder: "Ex. : Un professeur toujours à l'écoute", input_html: { class: 'input--large' }

          = f.association :subjects, as: :select, collection: @structure.subjects.at_depth(2).uniq, multiple: true, input_html: { class: 'input--large multiple-select', data: { behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines' } }, label_html: { class: 'label--large'}

          .input.flush--bottom<
            = f.label :content, class: 'v-top label--large'
            = f.input :content, label: false, input_html: { style: 'height: 150px;', class: 'input--large one-whole', data: { behavior: 'text-counter', 'average-words-nb' => Comment::Review::MIN_NB_WORD_CONTENT, 'good-words-nb' => 60, 'bad-text' => "Votre avis doit comporter au moins #{Comment::Review::MIN_NB_WORD_CONTENT} mots.", 'average-text' => 'Encore quelques mots et votre professeur sera enchanté !', 'good-text' => "Là c'est certain, votre professeur va adorer !"}}, wrapper_html: { class: 'flush' }, required: true
          %p.field-form-info.flush
            = link_to 'Astuces pour un avis utile', 'javascript:void(0)', data: { behavior: 'toggler', el: '#comment_tricks'}
          - unless current_user
            = f.input :author_name, label_html: { class: 'v-middle label--large' }, required: true, placeholder: 'Ex. : Stéphanie P.', input_html: { class: 'input--large' }
          %hr.push--top
          .input
            %span.control-label
              .lbl.lbl--gray
                %i.fa.fa-lock.soft-half--right
                Privé
            %h5.inline
              Informations visibles uniquement par votre professeur
          - unless current_user
            = f.input :email, label_html: { class: 'v-top label--large' }, required: true, placeholder: "Votre email ne sera visible que par votre professeur", input_html: { value: (params[:comment].present? ? params[:comment][:email] : params[:email]), class: 'input--large' }
          .input.push-half--bottom
            %label.control-label.text>
              %strong Message personnel
          .input
            %label.label--large.control-label.text> Objet
            = text_field_tag :subject, params[:subject], placeholder: "Ex. : Merci d'avoir pensé à moi !", class: 'input--large'
          .input
            %label.label--large.control-label.text> Message
            = text_area_tag :private_message, (params[:private_message] || default_fake_message.sample), class: 'text', style: 'height: 100px', data: { behavior: 'autoresize' }, class: 'input--large'
          .text--center
            = f.submit 'Publier mon avis', class: 'btn btn--large btn--green btn--full', data: { disable_with: "En cours de publication..." }

    .grid__item.one-third>
      .bordered--left.soft--left
        #comment_tricks.hidden
          %h2.push--bottom.f-weight-300 Astuces pour un avis utile
          %p.flush Rédigez votre avis en répondant aux questions suivantes :
          %ul
            %li Depuis quand suivez-vous ce cours ? / Quand avez-vous suivi ce stage ?
            %li Quelle est la principale qualité du professeur ?
            %li Qu’est-ce qui rend ce cours différent des autres ?
            %li Qu’est-ce que vous avez tiré de ce cours ou de ce stage ? Quels en sont les bénéfices (mieux dans mon corps, moins stressé(e), etc.) ?
            %li Concrètement, qu’est-ce que vous faites aujourd’hui grâce à ce que vous avez appris ?
            %li Comment vous êtes-vous senti(e) à la fin du dernier cours ou stage ?
            %li Racontez une anecdote sympa à partager aux futurs élèves !
        - if @comments.any?
          %h2.push--bottom.f-weight-300 Derniers avis
          %ul.comment-list.milli
            = render partial: 'comments/comment', collection: @comments, locals: { small_avatar: true }
        - else
          %h4 Derniers avis sur CoursAvenue
          %ul.comment-list.milli
            = render partial: 'comments/comment', collection: Comment::Review.accepted.order('created_at DESC').limit(4), locals: {small_avatar: true}

= content_for :scripts do
  :javascript
    $(function() {
        $('#comment_content').textareaResizer();
    });
