= content_for :title do
  = "Recommandez #{@structure.name} sur CoursAvenue"

= content_for :meta_description do
  = "Recommandez #{@structure.name} sur CoursAvenue"

- if @structure.image.present?
  = content_for :meta_image do
    = @structure.image.url

- if params.has_key? :stage
  = content_for :scripts do
    :javascript
      $(function() {
        if(typeof _gaq !== 'undefined') {_gaq.push(['_trackEvent', 'Commentaire j+', 'vue', '#{params[:stage]}']);}
      });

- if params.has_key? :facebook
  = content_for :scripts do
    :javascript
      $(function() {
        if(typeof _gaq !== 'undefined') {_gaq.push(['_trackEvent', 'Commentaire depuis facebook', 'vue', '#{@structure.name}']);}
      });

- if params.has_key? :website
  = content_for :scripts do
    :javascript
      $(function() {
        if(typeof _gaq !== 'undefined') {_gaq.push(['_trackEvent', 'Commentaire depuis site perso', 'vue', '#{@structure.name}']);}
      });

- if params.has_key? :email
  = content_for :scripts do
    :javascript
      $(function() {
        if(typeof _gaq !== 'undefined') {_gaq.push(['_trackEvent', 'Commentaire depuis email perso', 'vue', '#{@structure.name}']);}
      });

.grid
  .grid__item.two-thirds>
    %h2.flush--bottom.small-margin-bottom= @structure.name
    %h4 Votre expérience est précieuse pour les autres élèves. Merci !
    .islet.white-box.two-thrids.center-block
      = simple_form_for @comment, url: comments_path do |f|
        = f.error_notification
        %input{type: :hidden, name: 'from', value: 'recommendation-page'}
        = f.hidden_field :commentable_type
        = f.hidden_field :commentable_id
        -# = f.input :rating, as: :hidden
        -# %div.input
        -#   %label.control-label= Comment.human_attribute_name(:rating)
        -#   %span.rating
        -#     %i.star.icon-star-empty.gamma{style: 'top: 4px;', data: {value: 1}}
        -#     %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -3px; padding: 0 2px', data: {value: 2}}
        -#     %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -6px; padding: 0 2px', data: {value: 3}}
        -#     %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -9px; padding: 0 2px', data: {value: 4}}
        -#     %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -12px; padding: 0 2px', data: {value: 5}}
        -#   %span#rating-description
        - unless current_user
          .input
            %label.control-label
              %b Vos coordonnées
          = f.input :author_name, label_html: {style: 'vertical-align: top;', class: 'v-middle'}, required: true
          - if params[:email].present?
            = f.hidden_field :email, value: params[:email]
          - else
            = f.input :email, label_html: {style: 'vertical-align: top;', class: 'v-middle'}, required: true, label: 'Votre email', placeholder: "Votre email ne sera visible que par le professeur"
        %hr.push--top
        .input
          %label.control-label
            %b Votre avis
        = f.input :course_name, label_html: {class: 'v-middle', style: 'vertical-align: top;'}, wrapper_html: {class: 'flush--bottom'}, placeholder: 'Ex. : Stage de danse jazz new style pour ado du jeudi soir'
        -# %p.field-form-info.blue
        -#   %i Soyez le plus précis possible.
        = f.input :title, label_html: {class: 'v-middle', style: 'vertical-align: top;'}, wrapper_html: {class: 'flush--bottom'}, placeholder: "Ex. : Un professeur toujours à l'écoute"

        = f.input :content, label_html: {style: 'vertical-align: top;'}, input_html: {style: 'height: 150px;', 'data-behavior' => 'autoresize'}, wrapper_html: { class: 'flush--bottom' }, required: true

        %p.field-form-info.blue
          = link_to 'Astuces pour un avis utile', '#', id: 'show_comments_trick'
        .text--center
          = f.submit 'Publier mon avis', class: 'btn btn--large btn--green', style: 'padding-top: 6px; padding-bottom: 6px;'

    #comment_tricks.hidden
      .alert--info
        %b Astuces pour un avis utile.
        %p Rédigez votre avis en répondant aux questions suivantes :
        %ul
          %li Depuis quand suivez-vous ce cours ? / Quand avez-vous suivi ce stage ?
          %li Quelle est la principale qualité du professeur ?
          %li Qu’est-ce qui rend ce cours différent des autres ?
          %li Qu’est-ce que vous avez tiré de ce cours ou de ce stage ? Quels en sont les bénéfices (mieux dans mon corps, moins stressé(e), etc.) ?
          %li Concrètement, qu’est-ce que vous faites aujourd’hui grâce à ce que vous avez appris ?
          %li Comment vous êtes-vous senti(e) à la fin du dernier cours ou stage ?
          %li Racontez une anecdote sympa à partager aux futurs élèves !
  - if @comments.any?
    .grid__item.one-third>
      .bordered--left.soft--left
        %h4 Derniers avis sur cet établissement
        %ul.comment-list.milli
          = render partial: 'comments/comment', collection: @comments, locals: {small_avatar: true}


= content_for :scripts do
  :javascript
    $(function() {
        $('#show_comments_trick').click(function() {
            $('#comment_tricks').toggle();
        });
    });
