<div id='fb-root'></div>
<script src='http://connect.facebook.net/en_US/all.js'></script>

%h2
  Partagez votre avis !
  = link_to 'Partager sur Facebook', '#', class: 'btn btn--facebook btn--small', onclick: 'postToFeed(); return false;'

.grid
  .grid__item.v-middle.one-half.palm--one-whole.bordered--right.soft--right>
    .soft--left
      = link_to new_user_registration_path, onclick: "mixpanel.track('Signup after comment');", data: {behavior: 'modal', title: "Rejoignez notre communauté d'élèves !"}, class: 'fancybox.ajax soft--left' do
        = image_tag 'texts/want_your_avatar.png', width: 400
    %ul.discrete-list
      = render partial: 'comments/comment', locals: { comment: @comment }
  .grid__item.v-middle.one-half.palm--one-whole>

    .text--center.white-box.push--top
      .soft-half
        .thin.big-alpha.brand #{@structure.rating}
        .delta{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
          %span.rating{title: comment_rating_title(@structure.rating)}
            = rating_stars @structure.rating
          %meta{property: 'v:rating', itemprop: 'rating', content: @structure.rating}
          %meta{itemprop: 'count', content: @structure.comments_count}
          %meta{itemprop: 'itemreviewed', content: @place.long_name}
          %meta{itemprop: 'name', content: @place.long_name}
          %meta{itemprop: 'street-address', content: @place.street}
          %meta{itemprop: 'postal-code', content: @place.zip_code}
        %div
          = @structure.comments_count
          avis
          %a{href: '#comments'}
            %i.lbc-brand-icon
      %div.gray-box.bordered--top.soft-half
        %b= link_to @structure.name, place_path(@place), onclick: "mixpanel.track('See profile after comment')"

#mail-content.hidden
  = render template: 'student_mailer/ask_for_feedbacks'

= content_for :scripts do
  :javascript
    FB.init({appId: "589759807705512", status: true, cookie: true});
    function postToFeed() {
      var obj = {
        method: 'feed',
        redirect_uri: "#{request.protocol + request.host_with_port + request.fullpath}",
        link: "#{structure_url(@structure.places.first)}",
        picture: "#{@logo_url || asset_url('logo.png')}",
        name: "Je viens de donner mon avis sur #{@structure.name}. Et vous, qu'en pensez-vous ?",
        caption: 'CoursAvenue.com',
        description: "Retrouvez également des centaines d'autres établissements qui donnent des cours de loisirs ! Danse, théâtre, musique, cours insolite, j'en passe et des meilleurs !"
      };
      function callback(response) {
        document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
      }
      FB.ui(obj, callback);
      mixpanel.track('Share after comment', {type: 'Facebook'});
    }

