<div id='fb-root'></div>
<script src='http://connect.facebook.net/en_US/all.js'></script>

/ %h2.flush--bottom
/ = @structure.name
/ = link_to 'Profil public', place_path(@place), class: 'btn btn--blue'
%h2 Partagez votre avis sur Facebook, Twitter et avec vos amis !

.grid
  .grid__item.one-half.text--center.v-middle>
    %p= link_to 'Partager sur Facebook', '#', class: 'btn btn--facebook', onclick: 'postToFeed(); return false;'
    %p
      = link_to 'Partager sur Twitter', "https://twitter.com/share?url=#{place_url(@structure.places.first)}&text=Je viens de donner mon avis sur #{@structure.name}. Et vous, qu'en pensez-vous ?&via=CoursAvenue", class: 'btn btn--twitter', target: '_blank', onclick: "mixpanel.track('Share after comment', {type: 'Twitter'});"
  .grid__item.one-half.bordered--left.v-middle>
    %h5.text--center Invitez vos amis à déposer également un avis
    = form_tag invite_friends_for_feedbacks_structure_comment_path(@structure, @comment), html: {method: :post} do
      %p.flush--bottom
        Entrez les emails de vos amis en les séparant par des virgules.
      %div
        %textarea.one-whole{name: 'emails', rows: 7, placeholder: 'patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}
      .push-half--top= submit_tag 'Envoyer une invitation', class: 'btn btn--success', onclick: "mixpanel.track('Share after comment', {type: 'Email'});"

%hr.push--top
%h4.flush--bottom
  Votre avis sur :
  = link_to @structure.name, place_path(@place)
%ul.discrete-list
  = render partial: 'comments/comment', locals: { comment: @comment }

.text--center.push--top
  / = link_to subject_courses_path(@main_subject), class: 'btn btn--blue btn--large', onclick: "mixpanel.track('See other courses after comment');" do
  / {@main_subject.name} : voir d'autres établissements
  %h3 CoursAvenue c'est 1000+ disciplines et #{Planning.count} séances de cours !
  %div= link_to 'Rejoindre la communauté CoursAvenue', 'javascript:void(0)', class: 'btn btn--blue btn--large', onclick: "mixpanel.track('Signup after comment');", data: {behavior: 'modal', title: 'Connexion', width: '400px', url: '/users/sign_up'}

#mail-content.hidden
  = render template: 'student_mailer/ask_for_feedbacks'

= content_for :scripts do
  :javascript
    FB.init({appId: "589759807705512", status: true, cookie: true});
    function postToFeed() {
      var obj = {
        method: 'feed',
        redirect_uri: "#{request.protocol + request.host_with_port + request.fullpath}",
        link: "#{place_url(@structure.places.first)}",
        picture: "#{@logo_url || asset_url('logo.png')}",
        name: "Je viens de donner mon avis sur #{@structure.name}. Et vous, qu'en pensez-vous ?",
        caption: 'CoursAvenue.com',
        description: "Retrouvez également des centaines d'autres établissements qui donnent des cours de loisirs ! Danse, théâtre, musique, cours insolite, j'en passe et des meilleurs !"
      };
      function callback(response) {
        document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
      }
      FB.ui(obj, callback);
      mixpanel.track('Share after comment', {type: 'Facebook'});
    }

