= simple_form_for [:pro, @structure, @teacher] do |f|
  = f.error_notification
  %div{data: { behavior: 'image-input' } }
    %img.center-block{src: (@teacher.image? ? @teacher.image.url(:normal) : ''), width: 150}
    .input
      .control-label Photo du professeur
      = link_to 'javascript:void(0)', class: 'btn btn--blue btn--small', data: {trigger: true} do
        %i.icon-picture
        Choisir l'image
      .visuallyhidden= f.input :image, label: false
  = f.input :name
  = f.input :description, input_html: {'data-behavior' => 'autoresize'}
  = f.submit 'Enregistrer', class: 'btn btn--green btn--full'
