= side_menu_currently_at 'Mes enseignants'


- if @teachers.empty?
  %p.alert--info Vous n'avez encore aucun professeur de référencé.
- else
  %table.table--striped#dataTable
    %thead
      %tr
        %th.sortDesc
          %span Nom
        %th
    %tbody
      - @teachers.each do |teacher|
        %tr
          %td= teacher.name
          %td.text--right
            = link_to edit_structure_teacher_path(@structure, teacher) do
              %i.icon-edit
            = link_to structure_teacher_path(@structure, teacher), method: :delete do
              %i.icon-trash

  = content_for :scripts do
    :javascript
      document.addEvent('domready', function() {
          new TableSorter('dataTable', { columnDataTypes: 'string' });
      });

%hr
%h4 Ajouter un professeur

= render 'form'

