= side_menu_currently_at 'Mes professeurs'


- if @teachers.empty?
  %p.alert--info Vous n'avez encore aucun professeur de référencé.
- else
  %table.table--striped#dataTable
    %thead
      %tr
        %th.sortDesc
          %span Nom
        %th
    %tbody
      - @teachers.each do |teacher|
        %tr
          %td= teacher.name
          %td.text--right
            = link_to edit_structure_teacher_path(@structure, teacher), title: 'Éditer' do
              %i.icon-edit
            = link_to structure_teacher_path(@structure, teacher), method: :delete, title: 'Supprimer', data: {confirm: 'Êtes-vous sur de supprimer ce professeur ? Cette action sera irreversible.'} do
              %i.icon-trash

  = content_for :scripts do
    :javascript
      document.addEvent('domready', function() {
          new TableSorter('dataTable', { columnDataTypes: 'string' });
      });

%hr
- if @teachers.empty?
  %h4 Ajouter un professeur
- else
  %h4 Ajouter d'autre professeurs

= render 'form'

