= side_menu_currently_at 'Mes professeurs'

%h3.header-group
  %i.icon-group
  Les professeurs de mon établissement

%br
%h5.form-header-group Ajouter un professeur
= render 'form'

%br
%hr
%h4 Mes professeurs
- unless @teachers.empty?
  %table.table--striped#dataTable
    %thead
      %tr
        %th.sortDesc
          %span Nom
        %th
          %span Description
        %th
    %tbody
      - @teachers.each do |teacher|
        %tr
          %td= teacher.name
          %td
            - if teacher.description
              - if teacher.description.length < 150
                = teacher.description
              - else
                = "#{teacher.description[0..150]}..."
          %td.text--right
            = link_to edit_pro_structure_teacher_path(@structure, teacher), title: 'Modifier ce professeur', class: 'btn btn__warning' do
              %i.icon-pencil
            &nbsp;
            = link_to pro_structure_teacher_path(@structure, teacher), method: :delete, title: 'Supprimer ce professeur', data: {confirm: 'Êtes-vous sur de supprimer ce professeur ? Cette action sera irreversible.'}, class: 'btn btn__danger' do
              %i.icon-trash

  = content_for :scripts do
    :javascript
      document.addEvent('domready', function() {
          new TableSorter('dataTable', { columnDataTypes: 'string', cookieName: 'tableSortState__structure_teachers_#{@structure.slug}' });
      });
