= side_menu_currently_at 'Mes infos'
= render partial: 'pro/structures/tabs', locals:{ current: 'professeurs'}

%h3.header-group
  %i.icon-group
  Mes professeurs

%br
= render 'form'

- if @teachers.any?
  - @teachers.each do |teacher|
    %p.white-box.islet
      %b= teacher.name
      %br
      = teacher.description
      %br
      = link_to 'Modifier', edit_pro_structure_teacher_path(@structure, teacher), title: 'Modifier ce professeur'
      \/
      = link_to 'Supprimer', pro_structure_teacher_path(@structure, teacher), method: :delete, title: 'Supprimer ce professeur', data: {confirm: 'Êtes-vous sur de supprimer ce professeur ? Cette action sera irreversible.'}
- else
  %p.white-box.islet
    Aucun professeur n'est renseigné
