%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
  %tr{ valign: 'top' }
    %td{ colspan: 2 }
      .title Développez vos passions à prix réduit
      - if user and user.active?
        - if user.subjects.any?
          .p Voici la liste des disciplines qui vous intéressent :
          .p
            - user.subjects.at_depth(0).uniq.each do |root_subject|
              = image_tag "icons/subjects/#{root_subject.slug}.png", width: 15
              %strong= "#{root_subject.name} : "
              - child_subjects = user.subjects.at_depth(2)
              = user.subjects.at_depth(2).uniq.sort_by(&:name).select{ |subject|  subject.ancestry.start_with?(root_subject.id.to_s) }.map(&:name).join(', ')
              %br
          .p Depuis votre espace privé, mettez régulièrement à jour la liste de vos passions pour ne louper aucun bon plan (cours d'essai gratuits et offres découvertes) :
          .p.action.hard--bottom
            = link_to "Modifier mes passions", user_passions_url(user), class: 'btn btn--green'
        - else
          .p Vous n'avez pas rempli la liste des disciplines qui vous intéressent : depuis votre espace privé, mettez régulièrement à jour la liste de vos passions pour ne louper aucun bon plan (cours d'essai gratuits et offres découvertes) :
          .p.action.hard--bottom
            = link_to "Choisir mes passions", user_passions_url(user), class: 'btn btn--green'
      - else
        .p Créez votre compte CoursAvenue pour recevoir des offres exclusives tout au long de l'année, et en lien avec vos passions : cours d'essai gratuits, promotions exclusives, invitations à des événements...
        .p.action.hard--bottom
          = link_to "Recevoir des offres exclusives", root_url, class: 'btn btn--green'

