%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
  %tr{ valign: 'top' }
    %td.content-block{ width: '100', style: 'padding-bottom: 0' }
      = link_to structure_url(structure, subdomain: 'www'), target: '_blank' do
        = image_tag structure.logo.url(:thumb), class: 'block', height: 100, width: 100, alt: "Logo de #{structure.name}"
    %td.content-block.soft--left{ width: '500', style: 'padding-bottom: 0' }
      = link_to structure_url(structure, subdomain: 'www'), target: '_blank', class: 'p' do
        %strong= structure.name
        %br
        = truncate structure.places.map(&:city).uniq.map(&:name).join(', '), length: 100
        %br
        = truncate structure.subjects.at_depth(0).map(&:name).uniq.join(', '), length: 100
        %br
        = "#{structure.comments_count} avis"

