%p Bonjour #{@place.long_name},

%p #{@reservation.name} aimerait suivre votre #{@reservation.course.type_name.downcase} de : #{@reservation.course.name}.

%p En parallèle, nous avons envoyé vos coordonnées à l'internaute, mais pour aller plus vite, n'hésitez pas à l'appeler directement :

%p
  \======== Informations de l'élève ========
  %br
  Nom : #{@reservation.name}
  %br
  - if @reservation.phone.present?
    Téléphone : #{@reservation.phone}
    %br
  Mail : #{@reservation.email}

%p
  \======== Qui sommes-nous ? ========
  %br
  CoursAvenue est la première plateforme de réservation en temps réel des cours et stages aux meilleurs prix.
  %br
  N'hésitez pas à nous contacter pour augmenter votre taux de remplissage et vous aider dans vos tâches quotidiennes.
  %br
  Pour plus d'informations :
  %br
  = link_to 'http://www.coursavenue.com', 'http://www.coursavenue.com'
  %br
  = link_to 'http://pro.coursavenue.com', 'http://pro.coursavenue.com'

%p À très bientôt,

%p L'équipe de CoursAvenue
