%p Bonjour #{@user.name.titleize},

%p Voici les informations pour réserver votre cours.

%p
  Adresse de l'établissement : #{@structure.address}
  - if @structure.contact_email
    %br
    Email : #{@structure.contact_email}
  - if @structure.contact_phone or @structure.contact_mobile_phone
    %br
    Numéro de téléphone :
  - if @structure.contact_phone
    = @structure.contact_phone
  - if @structure.contact_phone and @structure.contact_mobile_phone
    \/
  - if @structure.contact_mobile_phone
    = @structure.contact_mobile_phone

%p À très bientôt,

%p L'équipe de CoursAvenue
