- content_for :email_title do
  #{@structure.name} vous demande de lui rédiger une recommandation sur CoursAvenue.com

- content_for :logo do
  = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
    = image_tag @structure.logo.url(:thumb), width: 80, height: 80, class: 'block'

- content_for :promo do
  .title
    #{@structure.name} vous demande de lui rédiger une recommandation sur CoursAvenue.com :

  - if @email_text
    = @email_text.html_safe

  .p.action
    = link_to 'Déposer mon avis en 20 secondes', new_structure_comment_url(@structure, email: @email, subdomain: 'www', utm_source: 'email', utm_campaign: 'ask_for_recommandation', utm_medium: 'stage_0'), class: 'btn btn--green'

  .p
    Merci et à très bientôt !
    %br
    = @structure.name

= content_for :footer do
  .p
    Vous recevez cet email car #{@structure.name} est inscrit sur CoursAvenue et vous demande de lui rédiger une recommandation sur ses cours.
    = link_to 'Ne plus recevoir ces emails', unsubscribe_users_url(@user.access_token, subdomain: 'www')
