- content_for :promo do
  %h4
    Merci de votre participation aux Portes Ouvertes ! Prenez quelques minutes pour partager votre expérience.

%p
  Bonjour,

%p
  Nous espérons que vous avez apprécié les Portes Ouvertes des cours de loisirs du week-end dernier. Merci d'aider la communauté CoursAvenue en déposant votre avis qui aidera les futurs internautes qui souhaiteront, comme vous, suivre un cours de loisir.

- if @user.participations.not_canceled.not_in_waiting_list.length == 1
  - participation = @user.participations.not_canceled.not_in_waiting_list.first
  %p
    Déposez dès maintenant votre avis sur #{participation.structure.name}

  %p.action
    = link_to 'Déposer mon avis en 20 secondes', new_structure_comment_url(participation.structure, email: @email, subdomain: 'www', utm_source: 'email', utm_campaign: 'ask_for_recommandation', utm_medium: 'stage_0'), class: 'btn btn--green'
- elsif @user.participations.not_canceled.not_in_waiting_list.length > 1
  %p
    Déposez dès maintenant votre avis sur chacun des établissements suivants :
  %p
    - @user.participations.not_canceled.not_in_waiting_list.map(&:structure).uniq.each do |structure|
      - next if @user.comments.map(&:structure).include? structure
      \-
      = link_to structure.name, new_structure_comment_url(structure, email: @email, subdomain: 'www', utm_source: 'email', utm_campaign: 'ask_for_recommandation', utm_medium: 'stage_0')
      %br

%p
  Merci,
  %br
  L'équipe CoursAvenue

= content_for :footer do
  %p
    Vous recevez cet email car vous avez participé aux Portes Ouvertes des cours de loisirs
    = link_to 'Ne plus recevoir ces emails', unsubscribe_users_url(@user.access_token, subdomain: 'www')
