- if @structure.logo?
  - content_for :logo do
    = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
      = image_tag @structure.logo.url(:thumb), style: '-ms-interpolation-mode:bicubic;', width: '100', height: '100'

- content_for :promo do
  %h4
    Il vous reste 5 jours pour recommander #{@structure.name}

%p Bonjour !

%p
  #{@structure.name} vous a récemment demandé votre avis sur son profil public CoursAvenue. Pour que votre recommandation soit directement visible, déposez-la dans les 5 prochains jours.
  Pouvez-vous le faire dès maintenant en quelques minutes ?

%p.action
  = link_to 'Déposer ma recommandation', new_structure_comment_url(@structure, email: @email, utm_source: 'email', utm_campaign: 'recommandation', utm_medium: 'stage_2'), class: 'btn btn--green'

%p
  Merci pour votre contribution et à très bientôt !

%p
  L'équipe de CoursAvenue

- if @structure.parisian?
  = content_for :under_content do
    = render 'user_mailer/discover_jpo'

= content_for :footer do
  %p
    Vous recevez cet email car #{@structure.name} est inscrit sur CoursAvenue et vous demande de lui rédiger une recommandation sur ses cours.
    = link_to 'Ne plus recevoir ces emails', unsubscribe_users_url(@user.access_token, subdomain: 'www')
