- if @structure.logo?
  - content_for :logo do
    = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
      = image_tag @structure.logo.url(:thumb), style: 'width: 100px; height: 100px;', width: '100', height: '100'

- content_for :promo do
  %h4
    #{@structure.name} vous demande de lui rédiger une recommandation sur CoursAvenue.com

- if @email_text
  = simple_format @email_text

%p.action
  = link_to 'Déposer mon avis en 20 secondes', new_structure_comment_url(@structure, email: @email, subdomain: 'www', utm_source: 'email', utm_campaign: 'ask_for_recommandation', utm_medium: 'stage_0'), class: 'btn btn--green'

%p
  À très bientôt !

%p= @structure.name

= content_for :footer do
  %p
    Vous recevez cet email car #{@structure.name} est inscrit sur CoursAvenue et vous demande de lui rédiger une recommandation sur ses cours.
    = link_to 'Ne plus recevoir ces emails', unsubscribe_users_url(@user.access_token, subdomain: 'www')
