- content_for :email_title do
  #{@structure.name} vous demande de lui rédiger une recommandation sur CoursAvenue.com

- content_for :logo do
  = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
    = image_tag @structure.logo.url(:thumb), style: 'width: 125px; height: 125px;', class: 'block'

- content_for :promo do
  .title
    #{@structure.name} vous a récemment demandé de déposer votre avis sur son profil public CoursAvenue :

  .p Bonjour !

  .p
    #{@structure.name} a créé son profil sur CoursAvenue et voudrait savoir ce que vous avez pensé de ses cours. Pouvez-vous prendre quelques secondes pour laisser un avis sur son profil ?

  .p.action
    = link_to 'Déposer mon avis en 20 secondes', new_structure_comment_url(@structure, email: @email, utm_source: 'email', utm_campaign: 'recommandation', utm_medium: 'stage_1'), class: 'btn btn--green'

  = render 'shared/mailers/footer'

= content_for :footer do
  .p
    Vous recevez cet email car #{@structure.name} est inscrit sur CoursAvenue et vous demande de lui rédiger une recommandation sur ses cours.
    = link_to 'Ne plus recevoir ces emails', unsubscribe_users_url(@user.access_token, subdomain: 'www')
