- content_for :email_title do
  = @emailing.title

- content_for :under_content_no_box do
  %table.promo-table{ border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
    %tr
      %td.content-block
        = link_to @emailing.header_url, class: 'block' do
          = image_tag @emailing.header_image.url, alt: @emailing.header_image_alt, width: 600, height: 244

- content_for :under_content_no_box do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
    %tr{ valign: 'top' }
      %td.soft.v-middle.content-block{ width: 600 }
        = @emailing.body.gsub('<p>', '<div class="p">').gsub('</p>', '</div>').html_safe
        - if @emailing.call_to_action_text.present? and @emailing.call_to_action_url.present?
          .p.action.hard--bottom
            = link_to @emailing.call_to_action_text, URI.encode(@emailing.call_to_action_url), class: 'btn btn--green'

- content_for :under_content_no_box_2 do
  - @emailing.emailing_sections.in_groups_of(2, false).each do |section_group|
    %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
      %tr{ valign: 'top' }
        %td.content-block{ colspan: '2', width: '600', style: 'padding-bottom: 0; padding-left: 7px; padding-right: 7px;' }
          %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
            %tr{ valign: 'top' }
              - section_group.each do |section|
                - card = section.indexable_cards.first
                - structure = section.structures.first || card.structure
                - url = card.present? ? structure_indexable_card_url(structure, card, subdomain: 'www') : structure_url(structure, subdomain: 'www')
                %td.content-block{ width: '50%', style: 'padding-bottom: 0;' }
                  = link_to url, target: :_blank, class: 'block' do
                    .text--center
                      - bridge = section.bridge_with_structure(structure) || section.bridge_with_card(card)
                      - media_url = bridge.media_url
                      - if media_url.blank?
                        = image_tag structure.logo.url(:thumb), width: 280, height: 210, alt: "Cours de #{bridge.subject_name}"
                      - else media_url
                        = image_tag media_url, width: 280, height: 210, alt: "Cours de #{bridge.subject_name}"
                      .title.hard= bridge.subject_name
                      .p
                        - if bridge.review_text.present?
                          %i= "\"#{bridge.review_text}\" (#{structure.comments.count} avis)"
                        %br
                        = bridge.city_text

  - if @emailing.call_to_action_text.present? and @emailing.call_to_action_url.present?
    %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
      %tr{ valign: 'top' }
        %td.soft.v-middle.content-block{ width: 600 }
          .p.action.hard--bottom
            = link_to @emailing.call_to_action_text, URI.encode(@emailing.call_to_action_url), class: 'btn btn--green'

- content_for :under_content_gray do
  .title À propos
  .p CoursAvenue est le premier moteur de recherche de cours de loisirs qui permet de relier chacun de nous aux meilleurs professeurs, associations et écoles qui nous entourent.
  .title En savoir plus
  .p.hard--bottom
    = link_to 'Accueil'          , root_url(subdomain: 'www')             , target: :_blank, class: 'soft--right'
    = link_to 'Qui sommes-nous ?', pages_who_are_we_url(subdomain: 'www') , target: :_blank, class: 'soft--right'
    = link_to 'Blog'             , blog_articles_url(subdomain: 'www')    , target: :_blank, class: 'soft--right'
    = link_to 'Contact'          , pages_contact_url(subdomain: 'www')    , target: :_blank, class: 'soft--right'
    = link_to 'Aide'             , pages_faq_users_url(subdomain: 'www')  , target: :_blank, class: 'soft--right'

= content_for :footer do
  = link_to 'UNSUB_PLACEHOLDER', target: :_blank, class: 'fix-class' do
    Me désinscrire
