- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :header_links do
  = link_to 'Connexion', new_user_session_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'JPO', open_courses_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'Rechercher', structures_url(subdomain: 'www')

- content_for :logo do
  = image_tag 'jpo_2014/logo_j_moins_4.png', style: 'width: 125px; height: 125px;', class: 'block'

- content_for :promo do
  %h4
    Ce week-end, c’est gratuit ! Derniers jours pour réserver vos ateliers : faites vite, les places sont limitées.

- content_for :under_content do
  = link_to open_courses_url(subdomain: 'www', utm_source: 'email', utm_campaign: 'jpo', utm_medium: 'j_moins_4_image') do
    = image_tag 'jpo_2014/illustration_j_5.jpg', style: 'height: 465px; width: 600px;', width: '600', height: '465'

- content_for :under_content_2 do
  .soft-half
    %p
      Wutao, Aquazumba, Peinture à la tempera grasse, Baby karaté, Espéranto, Cuisine adaptée aux bébés, Méthode Feldenkrais, MAO ou encore Do In… vous connaissez ? Ce week-end des 5 et 6 avril, partez à la découverte de toutes ces disciplines réparties dans plus de 200 lieux à Paris :
    %p.action
      = link_to 'Réserver mon atelier gratuit', open_courses_url(subdomain: 'www', utm_source: 'email', utm_campaign: 'jpo', utm_medium: 'j_moins_4'), class: 'btn btn--yellow'

    %p.blue.blue-tip
      %i Trucs & astuces : réservez votre place dès maintenant, certains cours affichent déjà complet.

- content_for :under_content_3 do
  %table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600', style: 'margin-bottom: 20px;'}
    %tr
      %td.cell.content-block{width: '600'}
        %h4 Invitez vos proches à vous rejoindre
        %p N'attendez pas que le cours soit complet ! Invitez dès maintenant votre famille, vos amis ou vos collègues à s'inscrire au même atelier que vous :
        %p.action.flush--bottom
          = link_to "Inviter mes proches", jpo_new_user_invited_users_url(@user, subdomain: 'www'), class: 'btn btn--blue'


- content_for :under_content_4 do
  = render 'participation_mailer/jpo_advantages'
