- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :logo do
  = image_tag 'jpo_2014/logo_j_moins_5.png', style: 'width: 125px; height: 125px;', class: 'block'

- content_for :header_links do
  = link_to 'Connexion', new_user_session_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
  %span.gray-light &#124;
  = link_to 'JPO', open_courses_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
  %span.gray-light &#124;
  = link_to 'Rechercher', structures_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)

- content_for :promo do
  .title
    Vous avez récemment rejoint la communauté CoursAvenue et vous n'avez pas encore réservé votre cours gratuit du week-end des 5 et 6 avril : les places sont limitées, réservez vite !

.p
  Le week-end de la semaine prochaine, plus de 200 associations, écoles et professeurs vous offrent l'opportunité de découvrir gratuitement leurs disciplines : aquazumba, décoration de cupcakes, initiation au flamenco, ateliers créatifs parents-enfants… Les places sont limitées, réservez vite :

.p.action
  = link_to "Choisir mon atelier gratuit", open_courses_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN, utm_source: 'email', utm_campaign: 'choose_jpo_course', utm_medium: 'monday'), class: 'btn btn--green'

.p.blue.blue-tip
  %i Trucs & astuces : les places étant limitées, réservez votre atelier le plus tôt possible, puis invitez vos amis.

- content_for :under_content do
  %table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600'}
    %tr.v-top{valign: 'top'}
      %td.content-block{width: '600', colspan: '2', style: 'padding-bottom: 0'}
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/bouche.jpg', class: 'float--left', width: 135, height: 135
        .title.soft-half--top.soft-half--left Partagez ce bon plan
        .p.soft-half--sides
          Invitez vos amis, familles et collègues à s'inscrire aux ateliers gratuits des Portes Ouvertes les 5-6 avril à Paris / Ile-de-France :
        .p.action.push-half--bottom{style: 'margin-top: 18px !important'}
          = link_to 'En parler à mes proches', jpo_new_user_invited_users_url(@user, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN, utm_campaign: 'share_jpo', utm_medium: 'monday'), class: 'btn btn--blue'

- content_for :under_content_2 do
  %table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600'}
    %tr.v-top{valign: 'top'}
      %td.soft-half.content-block{width: '600', colspan: '2', style: 'padding-bottom: 0'}
        .title.flush Portes Ouvertes des cours de loisirs
    %tr.v-top{valign: 'top'}
      %td.soft-half.v-middle.cell.content-block.hard--ends{width: '50'}
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/eye.png', alt: 'CoursAvenue',  height: '50', width: '50', style: 'width: 50px; height: 50px;'
      %td.v-middle.cell.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
        .p.soft-half--right
          Plus de 5 000 cours de loisirs gratuits, 200 lieux, 100 disciplines pour tous dès 4 ans
    %tr.v-top{valign: 'top'}
      %td.soft-half.v-middle.cell.content-block.hard--ends{width: '50'}
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/enveloppe.png', alt: 'CoursAvenue',  height: '50', width: '50', style: 'width: 50px; height: 50px;'
      %td.v-middle.cell.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
        .p.soft-half--right
          Réservez votre place directement en ligne sur le moteur de recherche géolocalisé CoursAvenue.com
    %tr.v-top{valign: 'top'}
      %td.soft-half.v-middle.cell.content-block.hard--ends{width: '50'}
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/people.png', alt: 'CoursAvenue',  height: '50', width: '50', style: 'width: 50px; height: 50px;'
      %td.v-middle.cell.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
        .p.soft-half--right
          Une fois inscrit, invitez rapidement vos proches à participer à l'événement avec vous : les places sont limitées !

