- content_for :email_title do
  Une rentrée créative, artistique, sportive
  = link_to "à #{@city.name} et plus encore !", structures_url(address_name: @city.name, lat: @city.latitude, lng: @city.longitude, subdomain: 'www')

- content_for :under_content_no_box do
  %table.promo-table{ border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
    %tr
      %td.content-block
        = link_to structures_url(address_name: @city.name, lat: @city.latitude, lng: @city.longitude, subdomain: 'www'), class: 'muted-link block' do
          = image_tag 'http://coursavenue-public.s3.amazonaws.com/newsletters/eleves_4Septembre2014.jpg', alt: "Une rentrée créative, artistique, sportive", width: 600, height: 244

- content_for :under_content_no_box do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
    %tr{ valign: 'top' }
      %td.soft.v-middle.content-block{ width: 600 }
        .p.hard--bottom
          Ces derniers mois, c'était l'occasion de recharger ses batteries et de penser (un peu plus) à soi. Pour autant, le rythme du mois de septembre ne doit pas vous faire oublier vos bonnes résolutions. Danse, théâtre, yoga, dessin, écriture créative, arts martiaux... Repérez les cours de loisirs près de chez vous pour une année passionnante !

- content_for :under_content_no_box_2 do
  - [['Danse', @dance_structures, 'danse'], ['Théâtre & Scène', @theatre_structures, 'theatre-scene'], ['Dessin, Peinture & Arts', @arts_structures, 'dessin-peinture-arts-plastiques'], ['Yoga, Bien-être & Santé', @yoga_structures, 'yoga-bien-etre-sante'], ["Autres suggestions autour de #{@city.name}", @other, nil]].each do |subject_name, structures, subject_slug|
    %hr
    %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
      %tr{ valign: 'top' }
        %td.soft--top.content-block{ colspan: '3', width: '600', style: 'padding-bottom: 0' }
          .title.text--center= subject_name
      - structures.in_groups_of(3, false).each do |structure_group|
        %tr{ valign: 'top' }
          %td.soft.content-block{ colspan: '3', width: '600', style: 'padding-bottom: 0' }
            %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
              %tr{ valign: 'top' }
                - structure_group.each do |similar_profile|
                  %td.content-block{ width: '33%', style: 'padding-bottom: 0' }
                    = link_to structure_url(similar_profile, subdomain: 'www') do
                      .text--center
                        - media = similar_profile.medias.cover_first.videos_first.first
                        - if media.nil?
                          = image_tag similar_profile.logo.url(:thumb), width: 180, height: 110
                        - elsif media.image?
                          = image_tag media.image.url(:thumbnail_cropped), width: 180, height: 110
                        - else
                          = image_tag media.thumbnail_url, width: 180, height: 110
                      .p.hard
                        - if similar_profile.courses.detect(&:is_published?)
                          %strong= truncate similar_profile.courses.select(&:is_published?).map(&:subjects).flatten.uniq.map(&:name).map(&:capitalize).join(', '), length: 24
                        - else
                          %strong= truncate similar_profile.courses.map(&:subjects).flatten.uniq.map(&:name).map(&:capitalize).join(', '), length: 24
                        %br
                        = truncate similar_profile.name, length: 22
                        - if similar_profile.premium? and header_promotion_title_for_structure(similar_profile).present?
                          %br
                          = image_tag 'icons/icon-star-full--yellow.png', height: 15, widht: 15, class: 'v-middle', style: 'padding-right: 2px;'
                          %i.v-middle= header_promotion_title_for_structure(similar_profile)
      %tr{ valign: 'top' }
        %td.content-block{ colspan: '3', width: '600', style: 'padding-bottom: 0' }
          .p.soft--left
            - if subject_slug.nil?
              = link_to "Voir tous les autres cours à #{@city.name} →", structures_url(address_name: @city.name, lat: @city.latitude, lng: @city.longitude, subdomain: 'www')
            - else
              = link_to "Voir tous les cours de #{subject_name.downcase} à #{@city.name} →", structures_url({ address_name: @city.name, lat: @city.latitude, lng: @city.longitude, subdomain: 'www' }.merge(root_subject_id: subject_slug))

