.title
  Accédez à des cours d'essai gratuits et aux promotions exclusives en lien avec vos passions !

.p Bonjour #{@user.name} !

.p
  Renseignez vos passions sur votre profil CoursAvenue et recevez des invitations à des cours d'essai gratuits ou des promotions exclusives chez nos partenaires situés tout près de vous.

.p
  Pour cela, connectez-vous et renseignez vos disciplines :

.p.action
  = link_to 'Renseigner mes passions', passions_user_url(@user, subdomain: 'www', utm_source: 'email', utm_campaign: 'passions', utm_medium: 'monday_email'), class: 'btn btn--green'

.p.blue.blue-tip
  Trucs & astuces : si votre profil n'est pas complet, renseignez en priorité vos informations personnelles, votre photo, et toutes vos passions.

= render 'shared/mailers/footer'

= content_for :under_content do
  = render 'user_mailer/footer_info'
