- show_title = true if show_title.nil?

%li.comment-list__el
  %article{itemprop: 'review', itemscope: true, itemtype:'http://schema.org/Review'}
    %b{itemprop: 'author'}= comment.author_name
    - if comment.rating
      %span.rating{title: comment_rating_title(comment.rating), itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating'}
        = rating_stars comment.rating
        %meta{itemprop: 'ratingValue', content: comment.rating}
        %meta{itemprop: 'worstRating', content: 1}
        %meta{itemprop: 'bestRating', content: 5}
    %i.semi-muted{itemprop: 'datePublished', content: l(comment.created_at, format: :iso_date)} le #{l(comment.created_at, format: :date)}
    - if can?(:destroy, comment)
      = link_to 'Supprimer', comment_path(comment), method: :delete
    - if show_title and comment.title.present?
      %h6.flush--bottom{itemprop: 'headline', content: comment.title}= comment.title
    %p{itemprop: 'reviewBody'}
      = comment.content.html_safe
    .visuallyhidden{itemprop: 'itemReviewed', itemscope: true, itemtype: 'http://schema.org/Thing'}
      %meta{itemprop: 'url', content: commentable_url(comment)}
      %meta{itemprop: 'name', content: commentable_name(comment)}
