%article.comment-list__el
  = link_to commentable_path(comment), class: 'comment_link' do
    .flexbox
      .flexbox__item.one-half.comment__header
        %div{itemprop: 'reviews', itemscope: true, itemtype:'http://schema.org/Review'}
          .float--right.muted{itemprop: 'datePublished', content: l(comment.created_at, format: :iso_date)}
            = distance_of_time_in_words_to_now comment.created_at
            %i.icon-time
          %b{itemprop: 'author'}= comment.author_name
          %br
          %div{title: comment_rating_title(comment.rating), itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating'}
            = rating_stars comment.rating
            %meta{itemprop: 'ratingValue', content: comment.rating}
            %meta{itemprop: 'bestRating', content: 5}
            %meta{itemprop: 'worstRating', content: 1}
          %span.blue= truncate(comment.commentable.name, length: 40)
      .flexbox__item.one-half.comment__content
        %p.flush--bottom{itemprop: 'reviewBody'}= truncate(comment.content, length: 140)
