%article.comment-list__el
  = link_to commentable_path(comment), class: 'comment_link', onclick: "_gaq.push(['_trackEvent', 'Commentaire home', 'click', 'Note : #{comment.rating}'])" do
    .flexbox{itemprop: 'review', itemscope: true, itemtype:'http://schema.org/Review'}
      .flexbox__item.one-half.comment__header
        %div
          .float--right.muted{itemprop: 'datePublished', content: l(comment.created_at, format: :iso_date)}
            = distance_of_time_in_words_to_now comment.created_at
            %i.icon-time
          %b{itemprop: 'author'}= truncate(comment.author_name.titleize, length: 25).html_safe
          %br
          %div{title: comment_rating_title(comment.rating), itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating'}
            = rating_stars comment.rating
            %meta{itemprop: 'ratingValue', content: comment.rating}
            %meta{itemprop: 'bestRating', content: 5}
            %meta{itemprop: 'worstRating', content: 1}
          .visuallyhidden{itemprop: 'itemReviewed', itemscope: true, itemtype: 'http://schema.org/Thing'}
            %meta{itemprop: 'url', content: commentable_url(comment)}
            %meta{itemprop: 'name', content: commentable_name(comment)}
          %span.blue= truncate(commentable_name(comment), length: 35)
      .flexbox__item.one-half.comment__content
        %p.flush--bottom= truncate(comment.content, length: 130).html_safe
        %meta{itemprop: 'reviewBody', content: comment.content}
