%article.comment-list__el
  = link_to commentable_path(comment, anchor: "recommandation-#{comment.id}"), class: 'comment_link', onclick: "_gaq.push(['_trackEvent', 'Commentaire home', 'click', 'Note : #{comment.rating}'])" do
    .flexbox{itemprop: 'review', itemscope: true, itemtype:'http://schema.org/Review'}
      .flexbox__item.one-half.comment__header
        %div
          %b.v-middle{itemprop: 'author'}
            = "\"#{truncate(comment.title, length: 40)}\"".html_safe
          %br
          %span.blue= truncate(comment.commentable.name, length: 40)
          %div.muted.text--right.milli{title: comment_rating_title(comment.rating), itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating'}
            Avis écrit par
            = truncate(comment.author_name.titleize, length: 10).html_safe
            il y a
            = distance_of_time_in_words_to_now comment.created_at
            %i.icon-time
            %meta{itemprop: 'ratingValue', content: comment.rating}
            %meta{itemprop: 'bestRating', content: 5}
            %meta{itemprop: 'worstRating', content: 1}
          .visuallyhidden{itemprop: 'itemReviewed', itemscope: true, itemtype: 'http://schema.org/Thing'}
            %meta{itemprop: 'url', content: commentable_url(comment)}
            %meta{itemprop: 'name', content: comment.commentable.name}
      .flexbox__item.one-half.comment__content
        = simple_format(truncate(comment.content, length: 130))
        %meta{itemprop: 'reviewBody', content: comment.content}
