<div {{#if is_hidden}}class="hidden" data-course-plannings-hidden="{{ course_id }}"{{/if}}>
    <div class="gray-light f-weight-500">{{ levels }} - {{ audiences }}</div>
    <div style="min-width: 80px;" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
        {{#if address_name }}
            <div itemprop="name" class="inline-block gray" data-toggle="popover" data-html="true" data-trigger="hover" data-content="{{ hide_contacts_and_escape address_with_info }}"><i class="fa-map-marker"></i> {{ address_name }}</div>{{!--
         --}}<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">{{!--
             --}}<meta itemprop="street-address" content="{{address}}">
             </span>{{!--
          --}}<span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">{{!--
            --}}<meta itemprop="latitude" content="{{latitude}}"><meta itemprop="longitude" content="{{longitude}}">{{!--
         --}}</span>{{!--
     --}}{{/if}}
    </div>
</div>
{{#if is_second}}
    <a href="#" data-behavior="show-long-version" data-long-version="[data-course-plannings-hidden={{ course_id }}]">
        <i class="fa-plus f-size-9"></i> {{ number_of_other_date }} {{ pluralize number_of_other_date 'autre date' 'autres dates' }}
    </a>
{{/if}}
