- if @course.new_record?
  - form_path = new_structure_course_path(@structure)
- else
  - form_path = structure_course_path(@structure, @course)

= simple_form_for form_path do |f|
  = f.error_notification
  = f.input :name
  .input.ilb-wrapper
    = f.label :type, t('.type'), class: 'control-label v-top'
    %div
      .radio
        %input#type_course_lesson{type: 'radio', name: 'course[type]', value: 'Course::Lesson', checked: @course.is_lesson?}
        %label{for: 'type_course_lesson'} Cours récurrent à l’année (avec ou sans progression)
      %div.ilb-wrapper.align-middle
        %label Date du cours &nbsp;
        = f.input :start_date, label: false, wrapper_html: {class: 'flush--ends'}, input_html: {style: 'margin-right: 5px', placeholder: 'Début', class: 'datepicker-input', value: params[:start_date], 'data-behavior' => 'datepicker'}
        = f.input :end_date, label: false, wrapper_html: {class: 'flush--ends'}, input_html: {placeholder: 'Fin', class: 'datepicker-input', value: params[:start_date], 'data-behavior' => 'datepicker'}
      .radio
        %input#type_course_workshop{type: 'radio', name: 'course[type]', value: 'Course::Workshop', checked: @course.is_workshop?}
        %label{for: 'type_course_workshop', class: 'helper-label', 'data-behavior' => 'popover', 'data-content' => 'Un cours-atelier est un cours d’une seule séance. Par exemple, un cours de photographie ponctuel de quelques heures est un cours-atelier, alors qu’un cours de théâtre avec des séances toutes les semaines est cours récurrent dans l’année.'} Cours-atelier
      .radio
        %input#type_course_training{type: 'radio', name: 'course[type]', value: 'Course::Training', checked: @course.is_training?}
        %label{for: 'type_course_training', class: 'helper-label', 'data-behavior' => 'popover', 'data-content' => 'Un stage est un cours-atelier étalé sur plusieurs jours consécutifs.'} Stage

  .input.ilb-wrapper
    = f.label :is_individual, t('.individual_course'), class: 'control-label v-top'
    %div
      .radio
        %input#course_is_individual{type: 'radio', name: 'course[is_individual]', checked: @course.is_individual?}
        %label{for: 'course_is_individual'} Individuel
      .radio
        %input#course_is_collectif{type: 'radio', name: 'course[is_individual]', checked: !@course.is_individual?}
        %label{for: 'course_is_collectif'} Collectif -&nbsp;
        %label Nombre moyen de participants &nbsp;
        = f.input :nb_participants, label: false, input_html: {type: :number, placeholder: 12}

  /= f.input :subjects , as: :grouped_select, collection: Subject.roots.order('name ASC'), group_method: :children, input_html: {style: 'width: 300px;', 'data-behavior' => 'chosen', multiple: true}, order: :name, label: t('.subjects'), input_options: {selected: @course.subject_ids}
  = f.input :subjects , as: :select, collection: Subject.order('name ASC'), input_html: {style: 'width: 300px;', 'data-behavior' => 'chosen', multiple: true}, order: :name, label: t('.subjects'), selected: @course.subject_ids

  = f.input :levels   , as: :select, collection: Level.all, input_html: {style: 'width: 300px;', multiple: true, 'data-behavior' => 'chosen'}, label_method: lambda {|level| t(level.name)}, label: t('.levels'), selected: @course.level_ids

  .input
    = f.label :audiences, t('.audiences'), class: 'control-label helper-label', 'data-behavior' => 'popover', 'data-content' => 'Enfant : de 0 à 12 ans. Ado : de 12 à 18 ans. Adulte : > 18 ans. Senior : > 60 ans.'
    = f.input :audiences, as: :select, collection: Audience.all, input_html: {style: 'width: 300px;', multiple: true, 'data-behavior' => 'chosen'}, label_method: lambda {|audience| t(audience.name)}, label: false, selected: @course.audience_ids

  = f.input :frequency, as: :select, collection: Course::COURSE_FREQUENCIES, label_method: lambda {|course_frequency| t(course_frequency)}, default: Course::COURSE_FREQUENCIES.first

  .ilb-wrapper.input
    = f.label :info, t('.info'), class: 'control-label v-top helper-label', 'data-behavior' => 'popover', 'data-content' => 'Ne pas mettre de tarif ni de date (voir rubriques suivantes). Le texte ne doit pas impliquer LeBonCours.com : par conséquent, nous vous demandons de ne pas mettre "nous" ni "nos”.'
    .textarea-with-info
      .ilb-wrapper
        .one-half
          = f.input :info, as: :text, placeholder: 'Soyez objectif et neutre (pas d’auto-promotion du type “le meilleur cours de Paris”) !', label: false, input_html: {class: 'textarea-description', data: { behavior: 'text-counter', 'average-words-nb' => 40, 'good-words-nb' => 100, 'bad-text' => 'Votre libellé doit comporter environ 100 mots. ', 'average-text' => 'Encore un peu et vous aurez une superbe accroche !', 'good-text' => 'Superbe accroche !'}}, wrapper_html: {class: 'flush--top'}
        .one-half
          %p.alert--info.flush--top Quel est ce cours ? Quelles en sont les origines ? Qu’y trouve-t-on ?

  .ilb-wrapper.input
    = f.label :description, t('.description'), class: 'control-label v-top helper-label', 'data-behavior' => 'popover', 'data-content' => "Exemple :  « Stage de danse, chant et théâtre : entourés d'une équipe prestigieuse de professionnels, les enfants deviennent, le temps d'une semaine, les artistes d'une comédie musicale présentée aux parents en fin de stage. Programme d'une journée : de 9h00 à 10h00 - accueil facultatif, de 10h00 à 12h30 - Danse jazz et Hip hop, de 12h30 à 14h00 - Repas + Repos, de 14h00 à 17h00 - Chant et Théâtre + Goûter. »"
    .textarea-with-info
      .ilb-wrapper
        .one-half
          = f.input :description, as: :text, placeholder: 'Expliquez en quoi consiste le cours / stage, de manière à ce que l’élève comprenne bien ce qu’il y apprendra, pour éviter toute confusion. Plus de détails vous donnez, mieux c’est !', label: false, input_html: {class: 'textarea-description', data: { behavior: 'text-counter', 'average-words-nb' => 40, 'good-words-nb' => 200, 'bad-text' => 'Votre description doit comporter au moins 30 mots. Nos Partenaires qui ont le plus de succès ont plus de 150 mots', 'average-text' => 'Encore quelques mots et vous aurez une superbe description !', 'good-text' => 'Superbe description !'}}, wrapper_html: {class: 'flush--top'}
        .one-half
          %p.alert--info.flush--top Quel est ce cours ? Quelles en sont les origines ? Qu’y trouve-t-on ?
          %p.alert--info Comment se déroule le cours ? En plusieurs thèmes ?
          %p.alert--info Quelles sont les méthodes pratiquées ?


  = f.input :description
  = f.input :registration_date
  = f.input :is_for_handicaped
  = f.input :trial_lesson_info
  = f.input :price_details
  = f.input :price_info
  = f.input :conditions
  = f.input :partner_rib_info
  = f.input :audition_mandatory
  = f.input :refund_condition
  = f.input :can_be_joined_during_year

- content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        $$('[data-behavior=chosen]').each(function(select) {
            new Chosen(select);
        });
    });
