= simple_form_for structure_course_path(@structure, @course) do |f|
  = f.error_notification
  = f.input :type, as: :select, collection: [[Course::Lesson.model_name.human, Course::Lesson.name], [Course::Training.model_name.human, Course::Training.name], [Course::Workshop.model_name.human, Course::Workshop.name]]
  = f.input :name
  = f.input :has_online_payment
  = f.input :homepage_image
  = f.input :frequency
  = f.input :is_promoted
  = f.input :description
  = f.input :info
  = f.input :registration_date
  = f.input :is_individual
  = f.input :is_for_handicaped
  = f.input :trial_lesson_info
  = f.input :price_details
  = f.input :price_info
  = f.input :conditions
  = f.input :partner_rib_info
  = f.input :audition_mandatory
  = f.input :refund_condition
  = f.input :can_be_joined_during_year
  = f.input :subject_id
