= side_menu_currently_at 'Mes cours'

.btn-group.push-half--bottom>
  .btn.btn--active>
    = link_to edit_pro_course_path(@course) do
      %i.lbc-icon-info i
      Info
  .btn>
    = link_to pro_course_prices_path(@course) do
      € Tarif
  .btn>
    = link_to pro_course_plannings_path(@course) do
      %i.icon-calendar
      Planning

= render partial: 'form'
