= side_menu_currently_at 'Mon profil'

%ol.nav.breadcrumb.alpha.header-group
  %li= link_to 'Tous mes cours', pro_structure_path(@structure)
  %li= @course.name

%ul.tabs.push--top
  %li.active
    %a
      %i.lbc-icon-info i
      Info
  %li
    = link_to pro_course_prices_path(@course) do
      € Tarif
  %li
    = link_to pro_course_plannings_path(@course) do
      %i.icon-calendar
      Planning

= render partial: 'form'
