= side_menu_currently_at "Mes avis"

= render partial: 'pro/structures/comments_tab', locals: {current: 'students'}

%table.table--striped.table--data.table--white#students-table
  %thead
    %tr
      %th Email
      %th.text--center A laissé une recommandation
      %th
  %tbody
    - @structure.students.each do |student|
      %tr
        %td= student.email
        %td.text--center{data: {value: student.has_recommanded? ? '0' : '1'}}
          - if student.has_recommanded?
            %i.icon-ok
        %td
          = form_tag ask_for_feedbacks_stage_1_pro_student_path(student), remote: true do
            %input{type: 'hidden', value: student.email}
            = submit_tag 'Renvoyer une demande', class: 'btn'
        - if current_pro_admin.super_admin?
          %td
            = link_to 'Supprimer', pro_structure_student_path(@structure, student), method: :delete, class: 'red'


= content_for :scripts do
  :javascript
    $(function() {
      if ($('#students-table')) {
          $('#dataTable').tablesorter();
          $('#students-table form').submit(function() {
              GLOBAL.flash("L'élève a bien été notifié.");
          });
      }
    });
