.grid.push-half--bottom
  .grid__item.one-half.v-bottom>
    - if @best_price
      %div
        - if @best_price.has_promo?
          .nowrap
            %span.beta.green.line-height-1
              = "#{readable_amount(@best_price.promo_amount)}€"
            %span.line-through
              = "#{readable_amount(@best_price.amount)}€"
        - else
          .line-height-1.beta.green= "#{readable_amount(@best_price.amount)}€"
        %small
          - if @course.is_training?
            (Prix du stage)
          - else
            (#{t(@best_price.libelle)})
        %br
        = link_to 'Voir les autres formules', '#tab-prices', onclick: "$('#price_tab a').tab('show')"
  .grid__item.one-half.v-bottom.text--right>
    %span.lbl.milli
      = @course.type_name_html
      - if @course.plannings.any? and @course.plannings.first.duration
        = "de #{readable_duration @course.plannings.first.duration}"
    %ul.nav.flush--bottom= join_course_subjects @course, true
%hr.push-half--bottom
.text--center
  - if current_user
    = form_for @course.reservations.build, remote: true do |f|
      = f.hidden_field :reservable_type
      = f.hidden_field :reservable_id
      = f.submit "Coordonnées de reservation", href: '#course_info', class: 'btn btn--success one-whole', oonclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Inscrit'])", title: 'Information pour la réservation du cours', data: {behavior: 'modal', width: '650px', el: 'course_info'}
  - else
    = link_to "Coordonnées de reservation", new_user_registration_path, data: {behavior: 'modal', title: 'Connexion', height: '500px'}, class: 'fancybox.ajax btn btn--success', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Non inscrit'])", title: 'Connectez-vous pour accéder aux informations'

- if current_user
  #course_info.hidden= render 'info_popup'
