.grid.push-half--bottom
  .grid__item.one-half.v-bottom>
    - if @best_price
      %div
        - if @best_price.has_promo?
          .nowrap
            %span.beta.green.line-height-1
              = "#{readable_amount(@best_price.promo_amount)}€"
            %span.line-through
              = "#{readable_amount(@best_price.amount)}€"
        - else
          .line-height-1.beta.green= "#{readable_amount(@best_price.amount)}€"
        %small
          - if @course.is_training?
            (Prix du stage)
          - else
            (#{@best_price.localized_libelle})
        %br
        = link_to 'Voir les autres formules', 'javascript:void(0)', onclick: "$.scrollTo($('#planning-schedule'), {duration: 200})"
  .grid__item.one-half.v-bottom.text--right>
    %span.lbl.milli
      = @course.type_name_html
      - if @course.plannings.any? and @course.plannings.first.duration
        = "de #{readable_duration @course.plannings.first.duration}"
    %ul.nav.flush--bottom= join_course_subjects @course, true
