%h4.flush--bottom= @structure.name
- if @structure.website
  %div
    %i.fa.fa-external-link
    = link_to @structure.website, @structure.website, target: '_blank'
%p
  %i
    Pour être sûr de bénéficier de tous les avantages, spécifiez que vous venez de CoursAvenue !

- has_place_contact = @places.collect{|place| place.contacts }.flatten.any?
- unless has_place_contact
  %h5.flush--bottom Contact :
  - if @structure.main_contact.present?
    - if @structure.main_contact.name
      %div
        %i.fa.fa-user
        = @structure.main_contact.name

    - if @structure.main_contact.email
      %div
        %i.fa.fa-envelope
        = @structure.main_contact.email

    - if @structure.main_contact.phone_number or @structure.main_contact.mobile_phone_number
      %div
        %i.fa.fa-phone
        = @structure.main_contact.phone_number
        - if @structure.main_contact.phone_number and @structure.main_contact.mobile_phone_number
          \/
        = @structure.main_contact.mobile_phone_number

%hr.push-half--ends
- if @places.length > 1
  %h5.push-half--bottom Lieux d'enseignement & contact
- @places.each_with_index do |place, index|
  - unless index == 0
    %hr.push-half--ends
  - if place.main_contact.present?
    %hr
    - if place.main_contact.name
      %div
        %i.fa.fa-user
        = place.main_contact.name

    - if place.main_contact.email
      %div
        %i.fa.fa-envelope
        = place.main_contact.email

    - if place.main_contact.phone.present? or place.main_contact.mobile_phone.present?
      %div
        %i.fa.fa-phone
        = place.main_contact.phone
        - if place.main_contact.phone and place.main_contact.mobile_phone
          \/
        = place.main_contact.mobile_phone
  %div
    %i.fa.fa-map-marker
    = place.address


- if @course
  %h5.push--top.flush--bottom Rappel :
  %div
    Cours : #{@course.name}
  %div
    %span.lbl.milli
      = @course.type_name
      - if @course.plannings.any? and @course.plannings.first.duration
        = "de #{readable_duration @course.plannings.first.duration}"
