%h4.flush--bottom= @structure.name
%p
  %i
    Pour être sûr de bénéficier de tous les avantages, spécifiez que vous venez de CoursAvenue !

- @places.each do |place|
  %h5.flush--bottom Contact :
  - if place.main_contact
    - if place.main_contact.name
      %div
        %i.icon-user
        = place.main_contact.name

    - if place.main_contact.email
      %div
        %i.icon-envelope
        = place.main_contact.email

    - if place..main_contact.phone or place.main_contact.phone
      %div
        %i.icon-phone
        = place..main_contact.phone
        - if place.main_contact.phone and place.main_contact.mobile_phone
          \/
        = place.main_contact.mobile_phone

  - if @structure.website
    %div
      @
      = link_to @structure.website, @structure.website, target: '_blank'

  %div
    %i.icon-map-marker
    = place.location.address


- if @course
  %h5.push--top.flush--bottom Rappel :
  %div
    Cours : #{@course.name}
  %div
    %span.lbl.milli
      = @course.type_name_html
      - if @course.plannings.any? and @course.plannings.first.duration
        = "de #{readable_duration @course.plannings.first.duration}"
