%h4.flush--bottom= @structure.name
%p
  %i
    Pour être sûr de bénéficier de tous les avantages, spécifiez que vous venez de CoursAvenue !

%h5.flush--bottom Contact :
- if @structure.main_contact.present?
  - if @structure.main_contact.name
    %div
      %i.icon-user
      = @structure.main_contact.name

  - if @structure.main_contact.email
    %div
      %i.icon-envelope
      = @structure.main_contact.email

  - if @structure.main_contact.phone_number or @structure.main_contact.mobile_phone_number
    %div
      %i.icon-phone
      = @structure.main_contact.phone_number
      - if @structure.main_contact.phone_number and @structure.main_contact.mobile_phone_number
        \/
      = @structure.main_contact.mobile_phone_number
- if @structure.website
  %div
    @
    = link_to @structure.website, @structure.website, target: '_blank'

%hr.push-half--ends
- if @places.length > 1
  %h5.push-half--bottom Lieux d'enseignements
- @places.each_with_index do |place, index|
  - unless index == 0
    %hr.push-half--ends
  - if place.main_contact.present?
    %hr
    - if place.main_contact.name
      %div
        %i.icon-user
        = place.main_contact.name

    - if place.main_contact.email
      %div
        %i.icon-envelope
        = place.main_contact.email

    - if place.main_contact.phone or place.main_contact.mobile_phone
      %div
        %i.icon-phone
        = place.main_contact.phone
        - if place.main_contact.phone and place.main_contact.mobile_phone
          \/
        = place.main_contact.mobile_phone
  %div
    %i.icon-map-marker
    = place.location.address


- if @course
  %h5.push--top.flush--bottom Rappel :
  %div
    Cours : #{@course.name}
  %div
    %span.lbl.milli
      = @course.type_name_html
      - if @course.plannings.any? and @course.plannings.first.duration
        = "de #{readable_duration @course.plannings.first.duration}"
