%article#tab-planning.tab-pane.active
  .grid
    .grid__item.one-whole.palm-one-whole.lap-one-whole>
      - if @plannings.future.any?
        - @plannings_grouped_by_places.each do |place, grouped_plannings|
          - if place
            %h4.grid--full
              .grid__item.width-auto
                .map-marker-image
                  %a
                    %span= @location_index_hash[place.location]
              .grid__item.width-auto
                = place.location.name
          - if @course.is_lesson?
            = render partial: 'lesson_schedule', locals: {grouped_plannings: grouped_plannings}
          - if @course.is_training?
            = render partial: 'training_schedule', locals: {grouped_plannings: grouped_plannings}
          - if @course.is_workshop?
            = render partial: 'workshop_schedule', locals: {grouped_plannings: grouped_plannings}
      - else
        %p.white-box.islet Pas de planning pour ce cours.
  = render 'price_tab'
