%article
  %p
    %strong.gamma € Tarifs
  - if @course.trial
    .white-box.islet.text--center
      - if @course.trial.free?
        %h4.flush.green Cours d'essai gratuit
      - else
        Cours d'essai : #{readable_amount(@course.trial.amount)}€

  %table.table--striped.table--data.white-box#planning-schedule
    %thead
      %tr
        %th.three-tenths= t('.formule_type')
        %th.five-tenths
          Info
        %th.two-tenths.text--center= t('.price')
    %tbody
      - @prices.each do |price|
        - if price.book_ticket?
          = render partial: "prices/book_ticket", locals: { book_ticket: price }
        - else
          = render partial: "prices/price", locals: { price: price }

  - if @course.price_details.present?
    %p.white-box.islet= @course.price_details
  - if @course.registrations.any?
    .white-box.islet
      - @course.registrations.each do |registration_fee|
        %p.flush
          = t('prices.registration_fees')
          = "#{readable_amount(registration_fee.amount)}€"
          - if registration_fee.info.present?
            = "(#{registration_fee.info})"
  - if @course.discounts.any?
    .white-box.islet
      %h5.push-half--bottom Tarifs réduits
      - @course.discounts.each do |discount|
        #{t(discount.libelle)} : #{readable_amount(discount.promo_percentage)}% de réduction
  - if @structure.funding_types.any?
    .white-box.islet
      %p.flush--bottom
        = t('.possible_funding')
        %strong= @structure.funding_types.map{|funding_type| t(funding_type.name) }.join(', ')

