- grouped_plannings.group_by(&:level_ids).each do |levels, plannings|
  %h5 Niveau : #{join_levels Level.find(levels)}
  %table.table--striped.table--data.table--white
    %thead
      %tr
        %th Dates
        %th.text--center Créneau horaire
        %th.text--center Durée
        %th.text--center Public
        %th.text--center
          %i.lbc-icon-info i
    %tbody
      - plannings.each do |planning|
        %tr
          %td= training_dates planning
          %td.text--center= readable_time_slot planning.start_time, planning.end_time
          %td.text--center= "#{pluralize(planning.length, 'jour')}"
          %td.text--center= join_audiences planning
          %td.text--center
            - if planning.info.present?
              .lbc-brand-icon{data: {behavior: 'tooltip', 'original-title' => planning.info}}
  %hr
