- @plannings_grouped_by_places.each do |place, plannings|
  %h4= place.location.try(:name)
  - plannings.group_by(&:level_ids).each do |levels, planning|
    %h5 Niveau : #{join_levels Level.find(levels)}
    %table.table--striped.table--data.table--white
      %thead
        %tr
          %th Date
          %th.text--center Créneau horaire
          %th.text--center Durée
          %th.text--center Public
          %th.text--center
            %i.lbc-icon-info i
      %tbody
        - plannings.each do |planning|
          %tr
            %td= l(planning.start_date, format: :semi_long).capitalize
            %td.text--center= readable_time_slot planning.start_time, planning.end_time
            %td.text--center= readable_duration planning.duration
            %td.text--center= join_audiences planning
            %td.text--center
              - if planning.info.present?
                .lbc-brand-icon{data: {behavior: 'tooltip', 'original-title' => planning.info}}
    %hr
