- if @structure.logo.present?
  = content_for :meta_image do
    = @structure.logo.url(:thumb)

= content_for :title do
  = "#{@course.type_name} de #{@course.name} avec #{@structure.name}"

= content_for :meta_description do
  - if @course.description.present?
    = "#{@course.description_for_meta} - #{@course.name} à #{@structure.name}"
  - else
    - if @course.has_teacher?
      = "Réservez le #{@course.type_name.downcase} de #{@course.name} par #{join_teachers(@course)}. Retrouvez tous les avis et infos sur ce #{@course.type_name.downcase} - #{@course.name} à #{@structure.name}"
    - else
      = "Réservez le #{@course.type_name.downcase} de #{@course.name}. Retrouvez tous les avis et infos sur ce #{@course.type_name.downcase} - #{@course.name} à #{@structure.name}"

.inline-block
  = link_to structure_path(@structure) do
    %i.orange ←
    = t('.back_to_structure')

.inline-block.push-half--sides
  |
.inline-block
  %ol.nav.breadcrumb.flush{itemprop: 'breadcrumb'}
    %li
      = link_to "Tous les établissement", structures_path
    %li
      = link_to @structure.name, structure_path(@structure), onclick: "_gaq.push(['_trackEvent', 'Voir l établissement', 'click','#{@course.slug}'])"
    %li.course-title= @course.name


.grid.push--top
  .grid__item.eight-twelfths>
    .grid--full.push-half--bottom.white-box
      - if @structure.logo.present?
        .grid__item.two-twelfths.relative>
          = image_tag @structure.logo.url(:thumb), class: 'block'
          - if @course.has_free_trial_lesson?
            .free-trial-badge
      .grid__item.ten-twelfths.soft-half--sides>
        %h1.gamma.flush--bottom= link_to @structure.name, structure_path(@structure), class: 'blue'
        .flexbox
          .flexbox__item.two-thirds.v-top>
            %h2.delta.orange.flush--bottom= @course.name
            %p.push-half--bottom
              %i.fa.fa-tags
              %i= join_child_subjects_text @course
          - if @price_range.any?
            .flexbox__item.one-third.v-middle.text--right>
              %div
                - if @price_range.length == 1
                  = show_price @price_range.first
                - else
                  = "de #{show_price(@price_range.first)} à #{show_price(@price_range.last)}".html_safe
              = link_to 'Voir tous les tarifs', 'javascript:void(0)', onclick: "$.scrollTo($('#planning-schedule'), {duration: 200})"

    = render partial: 'structures/map_and_galery', locals: {structure: @structure, places: @course.places, places_address: @json_place_address, medias: @medias}

    = render partial: 'structures/comments_headband', locals: {structure: @structure}

    %ul.tabs
      %li.active
        %a{class: (@course.plannings.any? ? '' : 'gray-light'), href: '#tab-planning', data: {toggle: 'tab'} }
          %i.fa.fa-calendar
          Planning & Tarifs
      %li#description_tab
        %a{class: (@course.description.present? ? '' : 'gray-light'), onclick: "_gaq.push(['_trackEvent', 'Description cours', 'click', '#{@course.slug}'])", href: '#tab-description', data: {toggle: 'tab'} }
          %i.fa.fa-list
          Description
      %li#comment_tab
        %a{class: (@course.comments.any? ? '' : 'gray-light'), onclick: "_gaq.push(['_trackEvent', 'Avis', 'click', '#{@course.slug}'])", href: '#tab-comments', data: {toggle: 'tab'} }
          %i.fa.fa-comments
          Avis
      %li
        %a{class: (@course.teachers.count > 0 ? '' : 'gray-light'), onclick: "_gaq.push(['_trackEvent', 'Infos profs', 'click', '#{@course.slug}'])", href: '#tab-teacher', data: {toggle: 'tab'} }
          %i.fa.fa-group
          = Teacher.model_name.human(count: @course.teachers.uniq.length)

    .tab-content
      = render 'planning_tab'
      %article#tab-description.tab-pane
        .white-box.islet
          %h2.delta Description du #{@course.type_name.downcase.html_safe} de : #{@course.name}
          - if @course.description
            %p= simple_format @course.description
          - else
            %p Pas de description

      = render 'teacher_tab'

      %article#comments#tab-comments.tab-pane
        - if @comments.empty?
          %p.white-box.islet.text--center
            Cet établissement n'a pas encore d'avis
            %br
            %b Soyez le premier à nous donner votre avis !
        - if @comments.any?
          #comments
            - @comments.each_with_index do |comment, index|
              = render partial: 'comments/comment', locals: {comment: comment, show_title: true}

  .grid__item.four-twelfths>
    - if @structure.main_contact
      = render partial: 'structures/contact_form', locals: {structure: @structure, course: @course}

    - if @structure.cover_image.present?
      .white-box.islet
        .text--center= image_tag @structure.cover_image.thumbnail_url, alt: "Cours de #{join_parent_subjects_text @structure}"
    .push--top.push--bottom
      = link_to 'Partager ce cours sur Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{structure_course_path(@structure, @course)}", class: 'btn--facebook btn one-whole', target: '_blank', onclick: "_gaq.push(['_trackEvent', 'Share on Facebook', 'click', 'From place page'])"



= content_for :scripts do
  :javascript
    $(function() {
        var places_are_hidden = true;
        $('#show-comments').click(function(){
          $.scrollTo($('[href="#tab-comments"]'), {duration: 200});
          $('[href="#tab-comments"]').click();
        });
        $('#show-all-places').click(function() {
            if (places_are_hidden) {
                $(this).text('Cacher les adresses');
                $('#place-list .hidden').removeClass('hidden');
            } else {
                $('#place-list li').addClass('hidden');
                $(this).text('Voir les adresses');
            }
            places_are_hidden = !places_are_hidden;
        });
        $('[href=#tab-medias]').click(function(){
            setTimeout(function(){
              $('.media-gallery').masonry({ itemSelector: '.media__item' });
            }, 5);
        });
        $('.media-gallery .media__item a').fancybox({ helpers : { media : {} } });
    });
