= side_menu_currently_at 'pages'

= render partial: 'pro/shared/pages_tabs', locals: { current: 'faqs' }

%h1 FAQs

.float--right
  = link_to new_pro_faq_path(type: 'pro'), class: 'btn btn--green' do
    %i.fa.fa-plus
    Ajouter une section
  = link_to preview_pro_faqs_path(type: 'pro'), class: 'btn', target: :_blank do
    %i.fa-eye
    Voir la FAQ Prof
%h2.flush FAQ Profs
%table.table--data.table--striped
  %thead
    %tr
      %th Position
      %th.one-half Nom
      %th
  %tbody
  - @sections_pro.each do |section|
    %tr
      %td= section.position if section.position.present?
      %td= section.title
      %td.nowrap
        = link_to 'Modifier', edit_pro_faq_path(section), class: 'orange'
        \/
        = link_to 'Supprimer', pro_faq_path(section), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette section d'FAQ ?" }, class: 'red'

%hr.push--ends
.float--right
  = link_to new_pro_faq_path(type: 'user'), class: 'btn btn--green' do
    %i.fa.fa-plus
    Ajouter une section
  = link_to preview_pro_faqs_path(type: 'user'), class: 'btn', target: :_blank do
    %i.fa-eye
    Voir la FAQ élèves

%h2.flush FAQ Élèves
%table.table--data.table--striped
  %thead
    %tr
      %th Position
      %th.one-half Nom
      %th
  %tbody
  - @sections_user.each do |section|
    %tr
      %td= section.position if section.position.present?
      %td= section.title
      %td.nowrap
        = link_to 'Modifier', edit_pro_faq_path(section), class: 'orange'
        \/
        = link_to 'Supprimer', pro_faq_path(section), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette section d'FAQ ?" }, class: 'red'
