= side_menu_currently_at 'pages'

.panel
  = render partial: 'pro/shared/pages_tabs', locals: { current: 'faqs' }
  .panel__body
    .soft.text--center
      = link_to 'Nouvelle section', new_pro_faq_path, class: 'btn btn--large btn--green'
      = link_to 'Voir la FAQ', pro_pages_questions_bis_path, class: 'btn btn--large btn--green'
    %table.table--data.table--striped
      %thead
        %tr
          %th Position
          %th.one-half Nom
          %th
      %tbody
      - @sections_pro.each do |section|
        %tr
          %td= section.position if section.position.present?
          %td= section.title
          %td.nowrap
            = link_to 'Modifier', edit_pro_faq_path(section), class: 'orange'
            \/
            = link_to 'Supprimer', pro_faq_path(section), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette section d'FAQ ?" }, class: 'red'

    %table.table--data.table--striped
      %thead
        %tr
          %th Position
          %th.one-half Nom
          %th
      %tbody
      - @sections_user.each do |section|
        %tr
          %td= section.position if section.position.present?
          %td= section.title
          %td.nowrap
            = link_to 'Modifier', edit_pro_faq_path(section), class: 'orange'
            \/
            = link_to 'Supprimer', pro_faq_path(section), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette section d'FAQ ?" }, class: 'red'
