= simple_form_for [:pro, @plan], remote: true do |form|
  .panel
    .panel__header.soft
      %h4.flush.inline-block.v-middle
        %span.v-middle
          Nom de l'offre
        = form.input :name, label: false, input_html: { class: 'input--large', style: 'width: 20em;' }, wrapper_html: { class: 'inline-block v-middle flush--ends push-half--left' }
      %p.flush
        %i.blue
          Ce nom sera affiché sur les factures et dans
          = link_to "l'interface de Stripe", 'https://dashboard.stripe.com/plans', target: :_blank
    .panel__body.soft--ends
      .soft--sides
        = form.input :amount, label: 'Montant', label_html: { class: 'label--large' }, input_html: { class: 'input--large', placeholder: '20€', min: '0' }
      .soft--sides
        - intervals = Subscriptions::Plan::INTERVALS
        = form.input :interval, as: :select, collection: intervals.keys, label_method: lambda { |key| intervals[key] }, default: intervals.keys.first, label: 'Intervalle', label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
      .soft--sides
        .grid.push--top
          .grid__item.two-tenths>
            %a.btn.btn--gray.btn--full{ onclick: '$.fancybox.close()' } Annuler
          .grid__item.eight-tenths>
            = form.submit 'Enregister', class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours...' }

