- cache [@vertical_page, 'vertical_page/show/cities/v1'] do
  %h2
    Essayez gratuitement
    %strong #{(@vertical_page.sidebar_title.present? ? @vertical_page.sidebar_title : @subject.name.downcase) }
    près de chez vous

  - @cities.each do |city|
    .inline-block.very-soft.hard--bottom.one-quarter.palm-one-half>
      .relative.bg-cover{style: "background-image: url('#{city.image.url(:small)}'); height: 120px; "}>
        - if @subject.is_root?
          - url = root_search_page_path(@subject, city)
        - else
          - url = search_page_path(@subject.root, @subject, city)
        = link_to url, class: 'block show-on-hover__wrapper show-on-hover__wrapper--black-curtain', title: "Tous les cours de #{@subject.name} à #{city.name}" do
          .home-screen-gallery__title.text--center
            %h3.f-weight-normal.flush.delta.soft-half--top= city.name
            .show-on-hover__child.milli
              = StructureSearch.search({ lat: city.latitude, lng: city.longitude }).total
              profils

  = form_tag '', method: :get, authenticity_token: false, id: 'vp-city-form', data: { behavior: 'coursavenue-search' } do
    .very-soft
      %h4.soft-half--right.one-third.nowrap.v-middle.flush.f-weight-300 Vous recherchez un cours dans une autre ville ?
    .flexbox.very-soft
      .flexbox__item.soft-half--right
        .input-with-icon.v-middle
          %input.one-whole.input--large#vp-address-picker.soft-half--left{ size: 25, placeholder:'Ville / CP / Adresse', type:'text', autocomplete: 'off', name:'address_name', data: { behavior:'address-picker', lng: '#vp-address-lng', lat: '#vp-address-lat', city: '#vp-address-city', address_name: '#vp-address-name', radius: '#vp-address-radius', zoom: '#vp-address-zoom' } }
          %i.fa-map-marker.delta
        %input#vp-address-lat{ type: 'hidden', value: '48.8592', name: 'lat' }
        %input#vp-address-lng{ type: 'hidden', value: '2.3417', name: 'lng' }
        %input#vp-address-city{ type: 'hidden', value: 'Paris', name: 'city' }
        %input#vp-address-name{ type: 'hidden', value: 'Paris', name: 'address_name' }
        %input#vp-address-radius{ type: 'hidden', value: 'Paris', name: 'radius' }
        %input#vp-address-zoom{ type: 'hidden', value: 'Paris', name: 'zoom' }

      %button.flexbox__item.v-middle.nowrap.btn.btn--blue.btn--full.input--large{ type: 'submit', id: 'submit_search_form' }
        %i.fa-search
        Trouver

= content_for :scripts do
  :javascript
    $(function () {
        $('#vp-address-picker').on('typeahead:selected', function() {
            setTimeout(function() {
                $('#vp-city-form').submit()
            }, 5); // To be triggered at last
        });
    });
