- cache [structure, 'vertical_page/structure', 'v1'] do
  .push-half--bottom.inline-block.very-soft.relative.one-whole
    .grid__item.one-fifth.v-middle.visuallyhidden--palm>
      = image_tag structure.logo.url(:thumb), alt: structure.name, class: 'block rounded--circle'
    .grid__item.four-fifths.relative.v-middle.soft-half--left.palm-one-whole>
      = link_to structure_path(structure), class: "semi-muted-link opacity-hidden-on-hover__wrapper grid--full" do
        .text-ellipsis.delta.f-weight-bold.line-height-1-5.flush.v-top= structure.name
      .text-ellipsis{ style: "padding-right: 60px;" }
        %strong.f-weight-normal= @vertical_page.subject_name
        = structure.subjects_name_as_string(:subjects_string).reject{ |subject_name| subject_name == @vertical_page.subject_name }.join(', ').strip
      %div.text-ellipsis
        .f-weight-bold
          %i.fa-comment
          #{structure.comments_count} avis ・
          - if structure.comments_count > 0
            %i.quoted.milli= (structure.highlighted_comment || structure.comments.sample).try(:title)
      %div.text-ellipsis
        %strong.f-weight-normal.f-style-italic= structure.cities_text
      - if structure.is_open_for_trial?
        .inline-block.lbl.lbl--yellow.milli.v-middle{ data: { toggle: 'popover', content: I18n.t("structures.trial_courses_policy.#{structure.trial_courses_policy}_nb_given"), placement: 'top' } }
          %i.fa-ticket
          Essai gratuit
  %hr
