%h3 Planning

- (Date.today..7.days.from_now).each_with_index do |date, index|
  - if @city
    - training_search = PlanningSearch.search(visible: true, subject_id: @subject.slug, course_types: ['training'], per_page: 4, start_date: date, end_date: (date + 2.days), lat: @city.latitude, lng: @city.longitude)
    - trainings = training_search.results
    - course_search = PlanningSearch.search(visible: true, subject_id: @subject.slug, course_types: ['lesson'], per_page: 4, week_days: [date.wday], lat: @city.latitude, lng: @city.longitude)
    - courses   = course_search.results
  - else
    - training_search = PlanningSearch.search(visible: true, subject_id: @subject.slug, course_types: ['training'], per_page: 4, start_date: date, end_date: (date + 2.days))
    - trainings = training_search.results
    - course_search = PlanningSearch.search(visible: true, subject_id: @subject.slug, course_types: ['lesson'], per_page: 4, week_days: [date.wday])
    - courses   = course_search.results

  - all_courses = (trainings + courses)
  - next if all_courses.empty?
  - if index > 0
    %hr.push-half--ends
  %h4.push-half--bottom= l(date, format: :semi_long).capitalize
  - all_courses.uniq.sort_by(&:start_time).each do |planning|
    - planning_decorator = planning.decorate
    - structure          = planning.structure
    .flexbox.push--bottom.line-height-1-5{ itemscope: true, itemtype: 'http://data-vocabulary.org/Event' }
      .flexbox__item.v-middle.palm-block
        = image_tag structure.logo.url(:thumb), height: 50, width: 50, class: 'center-block rounded--circle'
      .flexbox__item.v-middle.one-whole.soft-half--left.palm-block
        .epsilon.inline-block.v-middle{ itemprop: 'summary' }
          = link_to structure.name, structure_path(planning.structure), class: 'f-weight-600 v-middle', itemprop: 'url'
          %span.v-middle= "- #{planning.course.name.capitalize}"
          %time.v-middle.epsilon.f-weight-600{ itemprop: 'startDate', datetime: planning_decorator.start_date_datetime }
            = planning_decorator.time_slot
        %time{ itemprop: 'endDate', datetime: planning_decorator.end_date_datetime }
        %div{ itemprop: 'location', itemscope: true, itemtype:'http://data-vocabulary.org/Organization' }
          - if planning.place
            %div{ itemprop: 'name' }
              %i.fa.fa-map-marker
              %i= "#{planning.place.address} (#{planning.place.name})"
            %span{ itemprop: 'address', itemscope: true, itemtype: 'http://data-vocabulary.org/Address' }
              %meta{ itemprop: 'street-address', content: planning.place.address }
              %span{ itemprop: 'geo', itemscope: true, itemtype: 'http://data-vocabulary.org/Geo' }
                %meta{ itemprop: 'latitude', content: planning.place.latitude }
                %meta{ itemprop: 'longitude', content: planning.place.longitude }
      .flexbox__item.v-middle.one-whole.soft-half--left.nowrap.text--center.palm-block
        - price = planning.course.decorate.min_price
        - if price
          = show_price planning.course.decorate.min_price
          %br
        = link_to 'Inscription en ligne', structure_path(planning.structure), class: 'f-weight-600 v-middle'
  .text--center.push--bottom
    - if @subject.root?
      = link_to "Voir toutes les séances", root_search_page_path(@subject.root, (@city || 'paris')), class: 'f-weight-600'
    - else
      = link_to "Voir toutes les séances", search_page_path(@subject.root, @subject, (@city || 'paris')), class: 'f-weight-600'
