= content_for :title do
  Guide des disciplines CoursAvenue

= content_for :meta_description do
  Retrouvez un guide pour toutes les disciplines des cours de loisirs

- slug = Subject.roots.sample.slug
- bg = asset_path("home_backgrounds/#{slug}.jpg")
.bg-fixed.bg-cover{ style: "background-image: url('#{bg}')" }
  .main-container.main-container--medium.soft--ends
    %h1.white.soft-black-text-shadow
      Guide des disciplines

.home-screen-promotion-wrapper
  .main-container.main-container--medium.soft--ends
    = render partial: 'vertical_pages/subjects', locals: { subjects: Subject.roots.order('position ASC') }


- comments = CommentSearch.search(per_page: 4, has_avatar: true, has_title: true)
- if comments.any?
  .main-container.main-container--medium.soft--ends
    %h2.soft--bottom.f-weight-300 Sélection d'avis
    - comments.in_groups_of(2, false).each do |review_group|
      .grid.push--bottom
        - review_group.each do |review|
          .grid__item.one-half.palm-one-whole.lap-one-half>
            .flexbox.push--bottom
              .flexbox__item.soft--left.v-top.text--center>
                = link_to structure_url(review.structure, subdomain: 'www'), class: 'block media-photo', target: :_blank, class: 'muted-link' do
                  = image_tag review.user.avatar_url(:thumb), class: 'block rounded--circle', width: 60, height: 60
                .milli.soft-half--top
                  = review.author_name
              .flexbox__item.soft--sides.v-top>
                .message__body.soft-half.message__appendix.gray-box
                  %p.epsilon.push-half--bottom.quoted
                    %strong= review.title
                  %p
                    = truncate(review.content, length: 500)
                  %p.text--right.flush
                    %i
                      À propos de
                      = link_to review.structure.name, structure_url(review.structure, subdomain: 'www'), target: :_blank
