- @title = "#{@vertical_page.subject_name} à #{@city.name} (#{@city.department_code})"
- @total = Planning.count

= content_for :title do
  = @vertical_page_decorator.page_title(@city)

= content_for :meta_description do
  = "#{@vertical_page_decorator.page_h1} à #{@city.name} (#{@city.department_code}) : toutes les écoles de #{@vertical_page.subject_name.downcase} à #{@city.name}, stages, cours d'essai gratuits, plannings, tarifs, conseils, avis, promotions"

- slug = @subject.root.slug
- if @vertical_page.image.present?
  - bg = asset_path(@vertical_page.image.url(:large))
- else
  - bg = asset_path(subject_image(@subject))

.bg-fixed.bg-cover{ style: "background-image: url('#{bg}')" }
  .main-container.main-container--medium.soft--ends
    %h1.white.soft-black-text-shadow= @vertical_page_decorator.page_h1(@city)
    - if @vertical_page.caption
      %h4.center-block.white.soft-black-text-shadow
        = @vertical_page.caption

- content_present = [@vertical_page.content, @subject.good_to_know, @subject.needed_meterial, @subject.tips].reject(&:blank?).any?

.main-container.main-container--medium.soft--ends
  .grid
    .grid__item.six-tenths.soft--right.palm-one-whole>
      = render partial: 'vertical_pages/breadcrumb'
      - bg_thumb   = @vertical_page.image.url(:thumb)
      - if @subject.root.vertical_pages.any?
        - bg_thumb_2 = @subject.root.vertical_pages.first.image.url(:thumb)
      - else
        - bg_thumb_2 = bg_thumb
      .grid
        .grid__item.one-half.palm-one-whole>
          = link_to search_page_path(@subject.root, @subject, @city), class: 'block muted-link' do
            .relative.text--right.bg-cover.one-whole.height-150{ style: "background-image: url('#{bg_thumb}')" }
              = image_tag 'banners/decouvrir.png', height: 30, class: 'push--bottom absolute south east'
          %h3.delta.line-height-1-7= link_to "Essai gratuits à #{@city.name}", search_page_path(@subject.root, @subject, @city), class: 'semi-muted-link'
        .grid__item.one-half.palm-one-whole>
          = link_to search_page_path(@subject.root, @subject, @city), class: 'block muted-link' do
            .relative.text--right.bg-cover.one-whole.height-150{ style: "background-image: url('#{bg_thumb_2}')" }
              = image_tag 'banners/decouvrir.png', height: 30, class: 'push--bottom absolute south east'
          %h3.delta.line-height-1-7= link_to "Promotions à #{@city.name}", search_page_path(@subject.root, @subject, @city), class: 'semi-muted-link'

      %hr
      %h2.flush.delta
        #{StructureSearch.search(radius: 3, lat: @city.latitude, lng: @city.longitude, subject_id: @subject.slug, per_page: 8).total}
        établissements à #{@city.name} pour prendre des cours de #{@vertical_page.subject_name}
      .text--right= link_to ">> Voir tous les cours de #{@vertical_page.subject_name} à #{@city.name}", search_page_path(@subject.root, @subject, @city)
      - if (total = PlanningSearch.search({ course_type: 'training', lat: @city.latitude, lng: @city.longitude, subject_id: @subject.slug }, group: :structure_id_str)).total > 10
        %h2.flush.delta
          Découvrez nos #{total} stages de #{@vertical_page.subject_name} à #{@city.name}
        .text--right= link_to ">> Voir tous les stages de #{@vertical_page.subject_name}", search_page_path(@subject.root, @subject, @city, course_types: ['training'])

      %hr.push-half--ends

      .vertical-page__content.push--top
        - if @vertical_page.content.present?
          %h3= @vertical_page.title
          = @vertical_page.content.html_safe
        - else
          - if @subject.good_to_know.present?
            %h4 Bon à savoir / Qu'est-ce que c'est ?
            %p= @subject.good_to_know
          - if @subject.needed_meterial.present?
            %h4 Les bienfaits
            %p= @subject.needed_meterial
          - if @subject.tips.present?
            %h4 Matériel à prévoir
            %p= @subject.tips
      - if @vertical_page.medias.any?
        = render partial: 'structures/gallery', locals: { medias: @vertical_page.medias, without_map: true }
      - if @subject.depth == 2
        = render partial: 'vertical_pages/siblings'
    .grid__item.four-tenths.palm-one-whole>
      %h3 #{@vertical_page.subject_name} : sélection à #{@city.name}
      .bg-white.bordered.soft--ends.soft-half--sides.tab-content
        - structures = StructureSearch.search(radius: 500, lat: @city.latitude, lng: @city.longitude, order_by: 'is_open_for_trial', subject_id: @vertical_page.subject.slug, per_page: 8).results
        - structures.each_with_index do |structure, index|
          - cache [structure, 'vertical_pages/show'] do
            = render partial: 'vertical_pages/structure', locals: { structure: structure }
        .text--center= link_to "Voir tous les cours de #{@vertical_page.subject_name} à #{@city.name}", search_page_path(@subject.root, @subject, @city), class: 'epsilon'


- if @subject.depth == 0
  .home-screen-promotion-wrapper
    .main-container.main-container--medium.soft--ends
      %h2.soft--bottom.f-weight-300 #{@subject.name} : plus de disciplines à #{@city.name}
      = render partial: 'vertical_pages/subjects', locals: { subjects: @subject.children }

- unless @subject.depth == 2
  .soft--ends{ class: (@subject.depth == 0 ? '' : 'home-screen-promotion-wrapper') }
    .main-container.main-container--medium
      %h2.soft--bottom.f-weight-300 #{@subject.name} : tous les styles à #{@city.name}
      = render partial: 'vertical_pages/subjects', locals: { subjects: @subject.descendants.at_depth(2) }

%div{ class: (@subject.depth == 0 || @subject.depth == 2 ? 'home-screen-promotion-wrapper' : '') }
  .main-container.main-container--medium.soft--ends
    %h2.soft--bottom.f-weight-300 #{@title} : sélection d'avis
    = render partial: 'vertical_pages/comments', locals: { comments: @vertical_page.reviews(4, @city) }

= content_for :scripts do
  :javascript
    $(function() {
        $('#address-picker').on('typeahead:selected', function() {
            setTimeout(function() {
                $('#vp-city-form').submit()
            }, 5); // To be triggered at last
        });
    });
