- @title = "#{@vertical_page.subject_name} à #{@city.name} (#{@city.department_code})"

= content_for :title do
  = @vertical_page_decorator.page_title(@city)

= content_for :meta_description do
  = "#{@vertical_page_decorator.page_h1} à #{@city.name} (#{@city.department_code}) : toutes les écoles de #{@vertical_page.subject_name.downcase} à #{@city.name}, stages, cours d'essai gratuits, plannings, tarifs, conseils, avis, promotions"

- slug = @subject.root.slug
- if @vertical_page.image.present?
  - bg = asset_path(@vertical_page.image.url(:large))
- else
  - bg = asset_path(subject_image(@subject))

.bg-fixed.bg-cover{ style: "background-image: url('#{bg}')" }
  .main-container.main-container--medium.soft--ends
    %h1.white.soft-black-text-shadow= @vertical_page_decorator.page_h1(@city)
    - if @vertical_page.caption
      %h4.center-block.white.soft-black-text-shadow
        = @vertical_page.caption

.main-container.main-container--medium.soft--ends
  = render partial: 'vertical_pages/breadcrumb'
  .grid
    .grid__item.six-tenths.soft--right.palm-one-whole.soft-half--right>

      = render partial: 'vertical_pages/timetable'

      %hr.push-half--ends
      - if @vertical_page.medias.any?
        = render partial: 'structures/gallery', locals: { medias: @vertical_page.medias, without_map: true }
      - if @subject.depth == 2
        = render partial: 'vertical_pages/siblings'
    .grid__item.four-tenths.palm-one-whole.soft--left.bordered--left>
      - if @vertical_page.content.present?
        %h3= @vertical_page.title
        = @vertical_page.content.html_safe
      - else
        - if @subject.good_to_know.present?
          %h4 Bon à savoir / Qu'est-ce que c'est ?
          %p= @subject.good_to_know
        - if @subject.needed_meterial.present?
          %h4 Les bienfaits
          %p= @subject.needed_meterial
        - if @subject.tips.present?
          %h4 Matériel à prévoir
          %p= @subject.tips

      %h3 #{@vertical_page.subject_name} : sélection à #{@city.name}
      .bg-white.bordered.soft--ends.soft-half--sides.tab-content
        - structures = StructureSearch.search(radius: 6, lat: @city.latitude, lng: @city.longitude, order_by: 'is_open_for_trial', subject_id: @vertical_page.subject.slug, per_page: 8).results
        - structures.each_with_index do |structure, index|
          - cache [structure, 'vertical_pages/show'] do
            = render partial: 'vertical_pages/structure', locals: { structure: structure }
        .text--center= link_to "Voir tous les cours de #{@vertical_page.subject_name} à #{@city.name}", search_page_path(@subject.root, @subject, @city), class: 'epsilon'


- if @subject.depth == 0
  .home-screen-promotion-wrapper
    .main-container.main-container--medium.soft--ends
      %h2.soft--bottom.f-weight-300 #{@subject.name} : plus de disciplines à #{@city.name}
      = render partial: 'vertical_pages/subjects', locals: { subjects: @subject.children }

- unless @subject.depth == 2
  .soft--ends{ class: (@subject.depth == 0 ? '' : 'home-screen-promotion-wrapper') }
    .main-container.main-container--medium
      %h2.soft--bottom.f-weight-300 #{@subject.name} : tous les styles à #{@city.name}
      = render partial: 'vertical_pages/subjects', locals: { subjects: @subject.descendants.at_depth(2) }

- if @vertical_page.reviews.any?
  %div{ class: (@subject.depth == 0 || @subject.depth == 2 ? 'home-screen-promotion-wrapper' : '') }
    .main-container.main-container--medium.soft--ends
      %h2.soft--bottom.f-weight-300 #{@title} : sélection d'avis
      = render partial: 'vertical_pages/comments', locals: { comments: @vertical_page.reviews(4, @city) }

- if @vertical_page.blog_articles.any?
  %div{ class: (@subject.depth == 0 || @subject.depth == 2 ? '' : 'home-screen-promotion-wrapper') }
    .main-container.main-container--medium.soft--ends
      %h2.soft--bottom.f-weight-300 Articles de blog associés
      = render partial: 'vertical_pages/blog_articles', locals: { articles: @vertical_page.blog_articles }
