- cookies[:test] = '100_dolls_pass'
- @paris = City.find('paris')
.relative.search-page-filters__panel-height.palm-height-auto
  .soft--ends.absolute.north.west.home-page-curtain.one-whole.flexbox.search-page-filters__panel-height.palm-static.palm-height-auto.z-index-10000
    .flexbox__item.v-middle
      %h1.soft--sides.white.text--center.f-size-really-big
        Des centaines de cours de #{@vertical_page.subject_name}
      %h2.soft--sides.white.text--center
        Une seule formule pour vous lancer.
      .main-container.main-container--medium.white.text--center
        %h4.center-block
          Votre pass vous permet de tester gratuitement et à votre propre rythme chacun des #{@subject.indexable_cards.count * 3} cours de #{@vertical_page.subject_name} à Paris. Une fois votre cours idéal trouvé, utilisez votre pass qui vous donne droit à 1 mois de séances. Si aucun cours ne vous convient, nous vous remboursons sans délai.
      .text--center
        = link_to "Obtenir mon pass #{@vertical_page.subject_name}", '', class: 'btn btn--blue-green btn--bigger'

  - map_zoom = 12 if @city and @city.size == 3
  - map_zoom = 14 if @city and @city.size != 3
  - map_zoom = 15 if @neighborhood
  = react_component('MapContainer', { zoom: map_zoom, center: [(@neighborhood || @city || @paris).latitude, (@neighborhood || @city || @paris).longitude] })

.main-container.soft--ends
  %h2.text--center.alpha.soft--ends.f-weight-300
    Pass à 99€ - #{@subject.indexable_cards.count * 3} séances de #{@vertical_page.subject_name} ouvertes à l'essai - 1 mois de cours inclus - Satisfait ou remboursé - Valable à vie

  .grid.push--bottom
    .grid__item.one-third.text--center>
      %h4.gamma Obtenez votre pass

      %p Renseignez vos coordonnées avant de procéder au paiement. Rassurez-vous : si aucun cours ne vous convient, nous vous remboursons immédiatement et sans motif de votre part.
    .grid__item.one-third.text--center>
      %h4.gamma Essayez différentes séances

      %p Grâce aux 10 000 avis de la communauté, inscrivez-vous directement en ligne aux séances de votre choix et en fonction de vos critères : lieu, créneau horaire, niveau, etc.
    .grid__item.one-third.text--center>
      %h4.gamma Suivez 1 mois de cours

      %p Dès qu'un cours vous convient, fournissez le code de votre pass au professeur pour bénéficier d'1 mois d'abonnement et commencer une pratique régulière.

  .text--center.push--bottom.soft--bottom
    = link_to "Obtenir mon pass #{@vertical_page.subject_name}", '', class: 'btn btn--blue-green btn--bigger'

  - comments = CommentSearch.search(subject_slug: @subject.slug)
  .grid.push--bottom
    .grid__item.one-third>
      .flexbox.green-box.text--center.white{ style: 'height: 30em;' }>
        .flexbox__item.soft--sides
          .alpha 10 000 avis
          .gamma de la communauté
    .grid__item.one-third>
      .flexbox.v-top.white-box{ style: 'height: 30em;' }>
        .flexbox__item
          %div
            = link_to structure_path((comments[0] || Comment.offset(3).last(1).first).structure), class: 'block', target: :_blank do
              = image_tag (comments[0] || Comment.offset(3).last(1).first).structure.logo.url(:thumbnail_email_cropped), height: 200, class: 'one-whole block'
          .soft
            .line-height-1-3.epsilon.quoted= truncate((comments[0] || Comment.offset(3).last(1).first).content, length: 180)
            .push-half--top.text--right
              %strong= "Par #{(comments[0] || Comment.offset(3).last(1).first).author_name}"
    .grid__item.one-third>
      .flexbox.yellow-box.text--center.white{ style: 'height: 30em;' }>
        .flexbox__item.soft--sides
          .alpha #{@subject.indexable_cards.count * 3}
          .gamma séances de #{@vertical_page.subject_name} vous sont ouvertes
  .grid
    .grid__item.one-third>
      .flexbox.v-top.white-box{ style: 'height: 30em;' }>
        .flexbox__item
          %div
            = link_to structure_path((comments[1] || Comment.offset(1).last(1).first).structure), class: 'block', target: :_blank do
              = image_tag (comments[1] || Comment.offset(1).last(1).first).structure.logo.url(:thumbnail_email_cropped), height: 200, class: 'one-whole block'
          .soft
            .line-height-1-3.epsilon.quoted= truncate((comments[1] || Comment.offset(1).last(1).first).content, length: 180)
            .push-half--top.text--right
              %strong= "Par #{(comments[1] || Comment.offset(1).last(1).first).author_name}"
    .grid__item.one-third.white>
      .flexbox.dark-blue-box.text--center.white{ style: 'height: 30em;' }>
        .flexbox__item
          .alpha 96%
          .gamma de nos utilisateurs sont
          .beta satisfaits
    .grid__item.one-third>
      .flexbox.v-top.white-box{ style: 'height: 30em;' }>
        .flexbox__item
          %div
            = link_to structure_path((comments[2] || Comment.offset(2).last(1).first).structure), class: 'block', target: :_blank do
              = image_tag (comments[2] || Comment.offset(2).last(1).first).structure.logo.url(:thumbnail_email_cropped), height: 200, class: 'one-whole block'
          .soft
            .line-height-1-3.epsilon.quoted= truncate((comments[2] || Comment.offset(2).last(1).first).content, length: 180)
            .push-half--top.text--right
              %strong= "Par #{(comments[2] || Comment.offset(2).last(1).first).author_name}"

- @indexable_card = @subject.indexable_cards.sample
- @card_redux = { id: @indexable_card.id, slug: @indexable_card.slug, subjects: @indexable_card.subjects.pluck(:slug), position: { lat: @city.latitude, lng: @city.longitude } }

.soft-double.soft--bottom.palm-hard#card-suggestions
  .grid--full.push--bottom
    %h2.text--center Des centaines de séances ouvertes toute l'année
    = react_component('SimilarCardList', { card:  @card_redux })
    .text--center
      = @vertical_page_decorator.button(@subject, @city, @neighborhood, true)

= content_for :scripts do
  :javascript
      $(function() {
          mixpanel.track("TEST PASS | Landed", { subject: "#{@vertical_page.subject_name}" });
      });
