- if %w(danse theatre-scene musique-chant).include?(@subject.root.slug)
  - subject = 'Danse, Théâtre & Musique'
  - image_url = "https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-theatre.jpg"
- if %w(sports-arts-martiaux yoga-bien-etre-sante cuisine-vins).include?(@subject.root.slug)
  - subject = 'Sports, Yoga & Bien-être'
  - image_url = "https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-yoga.jpg"
- if %w(deco-mode-bricolage dessin-peinture-arts-plastiques photo-video).include?(@subject.root.slug)
  - subject = 'Arts créatifs'
  - image_url = "https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-arts.jpg"

- cookies[:test] = '100_dolls_pass'
- @paris = City.find('paris')
- @city ||= @paris
- if @city.name.include?('Paris')
  - @city = @paris

- @structure = Structure.find(params[:structure]) if params[:structure].present?
- if @structure
  = render partial: 'structures/popup_from_structure', locals: { pass_name: subject }

.relative.search-page-filters__panel-height.palm-height-auto
  .soft--ends.absolute.north.west.home-page-curtain.one-whole.flexbox.search-page-filters__panel-height.palm-static.palm-height-auto.z-index-10000
    .flexbox__item.v-middle
      .center-block.bg-cover.rounded--circle{ style: "width: 125px; height: 125px; background-image: url(#{image_url})"}
      %h1.soft--sides.white.text--center.f-size-really-big.line-height-1-3.f-weight-400
        Le coup de pouce qui va vous motiver à vous lancer
      .white.text--center
        %h4.center-block
          Le Pass CoursAvenue vous permet d'essayer les meilleures activités de loisirs près de chez vous, puis de
          %br
          bénéficier d'une réduction sur votre 1er abonnement si un cours vous plaît. Si aucune séance ne vous
          %br
          convient, nous vous remboursons. Ainsi, vous ne prenez aucun risque et votre satisfaction est garantie.


      .text--center
        = link_to checkout_step_1_collection_structures_path, class: 'btn btn--yellow btn--large push-half--right' do
          Obtenir mon Pass #{subject}
        = link_to checkout_step_1_collection_structures_path(gift: true), class: 'btn btn--white btn--white-transparent btn--white-transparent--white btn--large' do
          Offrir le Pass

  - map_zoom = 12 if @city and @city.size == 3
  - map_zoom = 14 if @city and @city.size != 3
  - map_zoom = 15 if @neighborhood
  = react_component('MapContainer', { zoom: map_zoom, center: [(@neighborhood || @city || @paris).latitude, (@neighborhood || @city || @paris).longitude] })


.flexbox
  .bg-danse.btn--danse.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>
  .bg-theatre-scene.btn--theatre-scene.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>
  .bg-musique-chant.btn--musique-chant.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>
  .bg-cuisine-vins.btn--cuisine-vins.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>
  .bg-yoga-bien-etre-sante.btn--yoga-bien-etre-sante.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>
  .bg-sports-arts-martiaux.btn--sports-arts-martiaux.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>
  .bg-photo-video.btn--photo-video.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>
  .bg-deco-mode-bricolage.btn--deco-mode-bricolage.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>
  .bg-dessin-peinture-arts-plastiques.btn--dessin-peinture-arts-plastiques.text--center.white.flexbox__item.one-ninth.palm-one-third.very-soft>


.text--center.bg-white.soft
  %strong.epsilon Pass à 70€ d'une valeur de 100€
  %strong.epsilon.soft--sides.blue-green •
  %strong.epsilon Déduit de votre 1er abonnement ou remboursé
  %strong.epsilon.soft--sides.blue-green •
  %strong.epsilon Valable à vie

.soft--ends
  %h2.alpha.soft--bottom.text--center.push--top.f-weight-400 Le meilleur moyen pour trouver son cours de loisir idéal
  .main-container.main-container--medium
    .grid
      .grid__item.one-third.text--center>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/test/test2-logo3.png', height: 100
      .grid__item.one-third.text--center>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/test/test2-logo2.png', height: 100
      .grid__item.one-third.text--center>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/test/test2-logo1.png', height: 100
    .grid
      .grid__item.one-third.text--center.v-middle>
        %h3 Obtenez votre pass
      .grid__item.one-third.text--center.v-middle>
        %h3 Essayez différentes séances
      .grid__item.one-third.text--center.v-middle>
        %h3 Déduisez le prix du Pass ou nous vous remboursons
    .grid
      .grid__item.one-third.text--center.soft--sides>
        %p.epsilon.line-height-1-3 Payez en ligne par carte bleue : votre Pass à 70€ vous permet de réserver autant de séances d'essai que vous le souhaitez sans date limite. D'une valeur de 100€, vous pourrez économiser 30€ si un cours vous plaît.
      .grid__item.one-third.text--center.soft--sides>
        %p.epsilon.line-height-1-3 Visualisez toutes les séances sur une carte géographique en fonction de vos critères (avis, lieu, créneau horaire, niveau, etc.) puis inscrivez-vous aux séances d'essai de votre choix
      .grid__item.one-third.text--center.soft--sides>
        %p.epsilon.line-height-1-3 Si un cours vous plaît, déduisez de votre 1er abonnement la valeur de votre Pass, soit 100€. Sinon, nous vous remboursons. Ainsi, vous ne prenez aucun risque et vous économisez 30€


  .text--center.push--bottom.soft--bottom
    = link_to "Obtenir mon Pass", checkout_step_1_collection_structures_path(city: @city.slug, subject: @subject.slug), class: 'btn btn--yellow btn--bigger'
    = link_to "Offrir le Pass", checkout_step_1_collection_structures_path(city: @city.slug, subject: @subject.slug, gift: true), class: 'btn btn--white btn--bigger push--left'


.main-container
  - _comments = CommentSearch.search(subject_slug: @subject.slug, per_page: 50)
  - comments  = _comments.group_by(&:structure).map(&:last).map(&:first)
  - if comments.length == 2
    - comments << (_comments - comments).sample
  - elsif comments.length == 1
    - comments << (_comments - comments).sample
    - comments << (_comments - comments).sample
  - elsif comments.length == 0
    - comments = _comments
  - if comments.length == 0
    - comments = Comment.last(3)

  .grid.push--bottom
    .grid__item.one-third>
      .flexbox.bg-blue-green.text--center.white{ style: 'height: 20em;' }>
        .flexbox__item.soft--sides
          %i.fa.fa-3x.fa-comment.push--bottom
          .alpha 10 000 avis
          .gamma de la communauté
    .grid__item.one-third>
      .flexbox.v-top.white-box{ style: 'height: 20em;' }>
        .flexbox__item.v-top
          - image_url = (comments[0] || Comment.offset(3).last(1).first).structure.logo.url(:thumbnail_email_cropped)
          = link_to '', structure_path((comments[0] || Comment.offset(3).last(1).first).structure), class: 'bg-cover block', target: :_blank, style: "background-image: url('#{image_url}'); height: 10em;"
          .soft
            .line-height-1-3.quoted= truncate((comments[0] || Comment.offset(3).last(1).first).content, length: 150)
            .float--right
              %strong= "Par #{(comments[0] || Comment.offset(3).last(1).first).author_name}"
    .grid__item.one-third>
      .flexbox.yellow-box.text--center.white{ style: 'height: 20em;' }>
        .flexbox__item.soft--sides
          %i.fa.fa-3x.fa-list.push--bottom
          .alpha #{@subject.indexable_cards.count * 3}
          .gamma séances vous sont ouvertes
  .grid
    .grid__item.one-third>
      .flexbox.v-top.white-box{ style: 'height: 20em;' }>
        .flexbox__item.v-top
          - image_url = (comments[1] || Comment.offset(1).last(1).first).structure.logo.url(:thumbnail_email_cropped)
          = link_to '', structure_path((comments[1] || Comment.offset(1).last(1).first).structure), class: 'bg-cover block', target: :_blank, style: "background-image: url('#{image_url}'); height: 10em;"
          .soft
            .line-height-1-3.quoted= truncate((comments[1] || Comment.offset(1).last(1).first).content, length: 150)
            .float--right
              %strong= "Par #{(comments[1] || Comment.offset(1).last(1).first).author_name}"
    .grid__item.one-third.white>
      .flexbox.dark-blue-box.text--center.white{ style: 'height: 20em;' }>
        .flexbox__item
          %i.fa.fa-3x.fa-face-happy.push--bottom
          .alpha 98%
          .gamma de nos utilisateurs sont satisfaits
    .grid__item.one-third>
      .flexbox.v-top.white-box{ style: 'height: 20em;' }>
        .flexbox__item.v-top
          - image_url = (comments[2] || Comment.offset(2).last(1).first).structure.logo.url(:thumbnail_email_cropped)
          = link_to '', structure_path((comments[2] || Comment.offset(2).last(1).first).structure), class: 'bg-cover block', target: :_blank, style: "background-image: url('#{image_url}'); height: 10em;"
          .soft
            .line-height-1-3.quoted= truncate((comments[2] || Comment.offset(2).last(1).first).content, length: 150)
            .float--right
              %strong= "Par #{(comments[2] || Comment.offset(2).last(1).first).author_name}"

- if @descendants
  .soft--top
    - @descendants.each_with_index do |vertical_page, index|
      %h5.inline-block.flush.gamma.muted-link.v-middle.search-page-filters__image-button.palm-one-whole.palm-block.bg-cover{ class: ((index % 5 < 3) ? 'one-third' : 'one-half'), style: "background-image: url('#{vertical_page.image.url(:homepage_small)}');" }>
        .search-page-filters__image-button-curtain
        .flexbox.relative.search-page-filters__panel-half-height
          .flexbox__item.v-middle
            = link_to "Cours de #{vertical_page.subject_name.downcase}", vertical_page_path(vertical_page.root_subject, vertical_page), class: 'white semi-muted-link block'

- @indexable_card = @subject.indexable_cards.sample
- @card_redux = { id: @indexable_card.id, slug: @indexable_card.slug, subjects: @indexable_card.subjects.pluck(:slug), position: { lat: @city.latitude, lng: @city.longitude } }

.soft-double.soft--bottom.palm-hard#card-suggestions
  .grid--full.push--bottom
    %h2.text--center Des centaines de séances ouvertes toute l'année
    - root_subject = @subject.root
    .main-container.main-container--1000
      = react_component('ResultList', { root_subject: (root_subject ? root_subject : nil),
                                        hide_help_card: true,
                                        subject: (@subject and @subject != root_subject ? @subject : nil),
                                        address: { name: (@neighborhood || @city || @paris).name, latitude: (@neighborhood || @city || @paris).latitude, longitude: (@neighborhood || @city || @paris).longitude, city: (@neighborhood || @city || @paris).name, is_address: false , is_neighborhood: @neighborhood.present? },
                                        per_line: 4,
                                        per_page: 8,
                                        follow_links: true })
    .text--center
      = @vertical_page_decorator.button(@subject, @city, @neighborhood, true)

= content_for :scripts do
  :javascript
      $(function() {
          mixpanel.track("PASS | Landing Pass", { subject: "#{@subject.try(:name)}" });
      });
