.title
  = link_to "Foire aux questions", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
.soft-half--bottom.bordered--bottom
  = link_to "Comment renouveler mon abonnement Premium ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
.soft-half--ends.bordered--bottom
  = link_to "Si mon abonnement est renouvelé, quel sera le montant débité ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
.soft-half--ends.bordered--bottom
  = link_to "Où retrouver les informations de mon compte Premium (durée d'abonnement, renouvellement, factures...) ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
.soft-half--ends
  = link_to "Comment résilier mon abonnement Premium ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
