.title
  = link_to "Foire aux questions", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
.soft-half--bottom.bordered--bottom
  = link_to "Comment renouveler mon abonnement Premium ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
.soft-half--ends.bordered--bottom
  = link_to "Si mon abonnement est renouvelé, quel sera le montant débité ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
.soft-half--ends.bordered--bottom
  = link_to "Où retrouver les informations de mon compte Premium (durée d'abonnement, renouvellement, factures...) ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
.soft-half--ends
  = link_to "Comment résilier mon abonnement Premium ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
