= simple_form_for User.new, url: user_session_path do |f|
  = f.input :email, label: false, placeholder: 'Email', input_html: {class: 'one-whole'}
  = f.input :password, label: false, placeholder: 'Mot de passe', input_html: {class: 'one-whole'}
  = f.hidden_field :remember_me, value: true
  = f.button :submit, "Se connecter", class: 'btn--success one-whole'

.push-half--top= link_to "Je n'ai pas de compte", '#', id: 'show_new_registration_form'

%hr.push--top
.text--center
  %h4 Vous êtes un professionnel ?
  = link_to "Accéder à l'espace pro", 'http://pro.coursavenue.com', class: 'btn btn--blue btn--full', onclick: "_gaq.push(['_trackEvent', 'Référencer mes cours', 'click','Inscrit'])"

