%div= link_to "Connexion avec Facebook", user_omniauth_authorize_path('facebook'), class: 'btn btn--facebook', id: 'facebook_button'
.or
  %span ou
= simple_form_for User.new, url: user_session_path do |f|
  = f.input :email, label: false, placeholder: 'Email', input_html: {class: 'one-whole'}
  = f.input :password, label: false, placeholder: 'Mot de passe', input_html: {class: 'one-whole'}
  = f.hidden_field :remember_me, value: true
  = f.button :submit, "Se connecter", class: 'btn--green one-whole'

.push-half--top
  Vous n'avez pas de compte ?
  = link_to "Inscription", '#', id: 'show_new_registration_form'
