.center-block{class: @is_xhr ? '' : 'white-box island one-half palm-one-whole lap-one-whole'}
  = image_tag 'texts/student_teacher_connexion.png', height: 55, class: 'block center-block'
  .grid
    .grid__item.one-half>
      %h3.text--center.f-decoration-underlined Élèves
    .grid__item.one-half>
      %h3.text--center.flush.f-decoration-underlined Pro
      %h5.flush.text--center
        %i Profs, Associations, Écoles
  .grid
    .grid__item.v-bottom.one-half.bordered--right.soft-half--right>
      #form
        = render 'form'

      #other_form.hidden
        = render 'users/registrations/form'
    .grid__item.v-bottom.one-half>
      = simple_form_for(Admin.new, as: :pro_admin, url: pro_admin_session_url(subdomain: 'pro')) do |f|
        = f.input :email, label: false, placeholder: 'Email', input_html: { class: 'one-whole' }
        = f.input :password, label: false, placeholder: 'Mot de passe', input_html: { class: 'one-whole' }

        = f.button :submit, "Se connecter", class: 'btn--green btn--full'
        .push-half--top
          = link_to "Je n'ai pas encore de compte", inscription_pro_structures_path
          %br
          = link_to "J'ai oublié mon mot de passe", new_pro_admin_password_path

:javascript
  var registration_code = function() {
      $('#show_new_registration_form').click(function(){
          $('#other_form').removeClass('hidden');
          $('#form').addClass('hidden');
          $('#facebook_button').text("S'inscrire avec Facebook");
      });

      $('#show_new_session_form').click(function(){
          $('#form').removeClass('hidden');
          $('#other_form').addClass('hidden');
          $('#facebook_button').text("Se connecter avec Facebook");
      });
  };

- if @is_xhr
  :javascript
    registration_code()
- else
  = content_for :scripts do
    :javascript
      $(function() {
        registration_code()
      });
