%h2.push--bottom.text--center.f-weight-300.soft--bottom Inclus dans votre Pass Découverte
.grid
  .grid__item.one-third>
    %h4
      = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/danse.png", height: 20
      Danse
    %ul.no-bullet-list.epsilon.line-height-1-7
      %li Hip Hop
      %li Pilates
      %li Lindy hop
      %li Zumba
      %li Claquettes
      %li Rock
      %li Danse country
      %li Hip-hop
      %li Danse Orientale
      %li Moderne Jazz
      %li Danse orientale classique
      %li Danse africaine moderne
      %li Danse blues
      %li Milonga et Valse argentine
      %li Tango argentin
      %li Salsa cubaine
      %li Danse indienne Bollywood
      %li . . .

  .grid__item.one-third>
    %h4
      = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/theatre-scene.png", height: 20
      Théâtre & Scène
    %ul.no-bullet-list.epsilon.line-height-1-7
      %li Comédie musicale
      %li Atelier de trapèze
      %li Théâtre
      %li Comédien de doublage
      %li Art dramatique
      %li Coaching pour acteurs
      %li Jeu d'acteur
      %li Développement personnel par la voix
      %li Théâtre pour enfants
      %li Improvisation théâtrale
      %li Théâtre en mouvement
      %li L'acteur face à la caméra
      %li Écriture théâtrale
      %li Théâtre de rue
      %li Pantins & marionnettes
      %li Art dramatique
      %li Mime
      %li . . .
  .grid__item.one-third>
    %h4
      = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/yoga-bien-etre-sante.png", height: 20
      Yoga, Bien-être & Santé
    %ul.no-bullet-list.epsilon.line-height-1-7
      %li Yoga
      %li Bikram Yoga
      %li Yoga-Iyengar
      %li Méditation
      %li Réflexologie
      %li Stretching Anti Stress
      %li Massage Traditionnel Thaï
      %li Qi Gong
      %li Tai Chi
      %li Stretching Postural
      %li Atelier équilibre et marche
      %li Technique Alexander
      %li Sophrologie
      %li Hatha yoga
      %li Coaching & développement personnel
      %li Wutao
      %li Shiatsu
      %li . . .
.grid
  .grid__item.one-third>
    %h4
      = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/dessin-peinture-arts-plastiques.png", height: 20
      Dessin, Peinture & Arts
    %ul.no-bullet-list.epsilon.line-height-1-7
      %li Gravure
      %li Peinture et volume
      %li Dessin
      %li Sculpture modelage
      %li Portrait
      %li Peinture à l'huile
      %li Patines décoratives sur bois
      %li Couture
      %li Reproduction de personnages et portraits
      %li Atelier d'écriture
      %li Céramique et de sculpture
      %li Arts plastiques
      %li Dessin d'observation
      %li Modelage-sculpture
      %li Fresque collective
      %li Sellerie
      %li Maroquinerie
      %li Bande dessinée
      %li Découverte de la Mode
      %li Cours de nu, modèle vivant
      %li Manga
      %li Animation 2D
      %li Stylisme
      %li . . .
  .grid__item.one-third>
    %h4
      = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/musique-chant.png", height: 20
      Musique & Chant
    %ul.no-bullet-list.epsilon.line-height-1-7
      %li Eveil musical
      %li Chant collectif
      %li Ecriture de scénario
      %li Ingénieur du son
      %li Chorale
      %li Réeducation vocale
      %li Voix lyrique et variété.
      %li Atelier découverte instrumentale
      %li Guitare et basse
      %li Batterie
      %li Chant
      %li Piano
      %li Musique & chant
      %li Approche de la basse
      %li Composition de musique de film
      %li Chant moderne
      %li Perfectionnement de la guitare
      %li Chorale
      %li Musique persane
      %li Techniques vocales et coaching vocal
      %li Chant et interprétation
      %li Chant gospel
      %li Chant moderne : jazz, chansons, rock etc...
      %li . . .
  .grid__item.one-third>
    %h4
      = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/sports-arts-martiaux.png", height: 20
      Sports & Arts martiaux
    %ul.no-bullet-list.epsilon.line-height-1-7
      %li Arts Martiaux Japonais adultes armes
      %li Taekwondo
      %li Kung fu
      %li Cours de self-défense
      %li Judo enfants
      %li Stretching Anti Stress
      %li Initiation à la Capoeira
      %li Cours de Bolly Aerobic (Fitness Bollywood)
      %li Initiation au Kung Fu Wushu
      %li Cardio Trainning et apprentissage coup de pied sur cible
      %li Karaté
      %li Baby Karaté
      %li Kobudo enfants adultes
      %li Cours de combat
      %li Kung Fu
      %li Arts martiaux japonais
      %li Golf à Paris
      %li Art martial Olympique d'origine Coréenne
      %li Pilates
      %li Karaté au féminin
      %li Capoeira
      %li . . .
