.panel.push--ends
  .panel__header.soft
    = render partial: 'users/discovery_passes/breadcrumb', locals: { current: 'inscription' }
  .panel__body.soft
    .grid
      .grid__item.one-third.center-block>
        .panel
          .panel__header.soft-half
            %h4.flush.text--center Inscription
          .panel__body.soft
            .text--center
              = link_to "S'inscrire avec Facebook", '#', class: 'btn btn--facebook', id: 'facebook-login'
              %div
                %i
                  Nous ne publierons rien sans votre permission
            .or
              %span ou
            .text--center= link_to 'Inscription avec votre adresse e-mail', '#', data: { behavior: "show-long-version", 'long-version' => "#inscription-form" }
            #inscription-form.hidden
              = simple_form_for @user, url: user_registration_path, method: :post do |f|
                = f.error_notification
                = f.input :first_name, label: false, placeholder: 'Prénom',      input_html: { class: 'input--large one-whole', value: (@user ? @user.first_name : nil) }, wrapper_html: { class: 'flush' }
                = f.input :last_name,  label: false, placeholder: 'Nom',         input_html: { class: 'input--large one-whole' }
                = f.input :zip_code,   label: false, placeholder: 'Code postal', input_html: { class: 'input--large one-whole' }
                = f.input :email,      label: false, placeholder: 'Email',       input_html: { class: 'input--large one-whole', value: (@user ? @user.email : nil) }, wrapper_html: { class: 'flush--top' }
                = f.input :password, label: false, placeholder: 'Mot de passe', input_html: { class: 'input--large one-whole' }
                = f.button :submit, "Inscription", class: 'btn--green one-whole', data: { disable_with: 'Inscription en cours...' }

              %p
                %strong
                  En m'inscrivant, j'accepte
                  = link_to "les conditions générales d'utilisation.", pages_mentions_partners_path, target: :_blank
              %hr
            .push-half--top.text--center
              Déjà membre CoursAvenue ?
              = link_to "Connexion", new_user_session_path, data: { behavior: 'modal', title: 'Connexion', width: 600, padding: 0 }, class: 'fancybox.ajax', id: 'connection'

= content_for :scripts do
  :javascript
    $(function() {
        $('#facebook-login').click(function() {
            CoursAvenue.loginWithFacebook({
                success: function() {
                    window.location.href = Routes.new_user_discovery_pass_path(CoursAvenue.currentUser().get('slug'), { promo_code: '#{params[:promo_code]}' })
                }
            });
        });
    });

- if Rails.env.production?
  - if cookies[:discovery_pass_danse_test]
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.track("Email déposé : Test danse");
        });
  - else
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.track("Email déposé : général");
        });

= render 'shared/live_chat'
