- cookies[:discovery_pass_danse_test] = true

- if @user
  = user_menu_currently_at 'discovery_pass'

#structure-profile-menu.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;' }
  .bg-site-background.soft-half--ends.bordered--bottom
    .main-container.main-container--medium.soft--sides
      .flexbox.one-whole
        .flexbox__item.seven-twelfths.top-page-menu>
          %ul.nav.flush.epsilon
            %li.soft-half--sides
              = link_to "Inscription", '#top', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "En bref", '#en-bref', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "Cours inclus dans le Pass", '#courses', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
        .flexbox__item.text--right.five-twelfths>
          - if current_user
            = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'connected: header' }
          - else
            = simple_form_for User.new, url: discovery_passes_path(promo_code: @sponsorship.try(:promo_code)), method: :post, data: { behavior: 'discovery-pass-form' } do |f|
              .flexbox
                .flexbox__item= f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false, wrapper_html: { class: 'flush' }
                .flexbox__item= f.submit 'Obtenir mon Pass', class: 'btn btn--bigger btn--yellow', data: { info: 'header' }

= content_for :title do
  CoursAvenue | Pass Découverte

= content_for (@user ? :under_container : :above_container) do
  - url = "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/bg.jpg"
  #top.bg-cover.soft-half--bottom{ style: "background-image: url(#{url})", 'data-stellar-background-ratio' => '0.6' }
    .main-container.main-container--medium.relative{ style: "height: 400px" }
      - if @sponsorship
        .text--center
          .white-box.push--top.soft.inline-block
            .beta.flush
              Félicitations ! Grâce à
              %strong.blue= "#{@sponsor.name},"
              obtenez votre Pass Découverte pour
              %strong.blue= number_to_currency(DiscoveryPass::PRICE - Sponsorship::USER_WHO_HAVE_BEEN_SPONSORED_CREDIT).gsub(/\,00/, "")
              au lieu de
              %strong.blue= "#{DiscoveryPass::PRICE}€"

      .inline-block.soft--right#top-form{ style: 'width: 330px;' }>
        .push-half--bottom.very-soft.hard--sides
          .white-box.soft.black
            -# %h3 Essayez autant de cours de loisirs que vous voulez !
            .gamma.line-height-1-5.text--center
              Testez les
              %strong meilleurs cours de danse
              de Paris
            -# %p.epsilon
            -#   Chaque mois, participez à autant de séances d'essai que vous le souhaitez parmi les #{Planning.available_in_discovery_pass.count.round(-2)} cours de loisirs négociés spécialement pour vous à Paris auprès de plus de #{Structure.available_in_discovery_pass.count.round(-2)} professeurs, associations et écoles.
            %ul.no-bullet-list
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Plus de
                %strong 620 séances
                d'essai
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Pour
                %strong tous publics,
                tous niveaux
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Nominatif et
                %strong valable 30 jours
            - if current_user
              = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow btn--large btn--full hard--sides mixpanel-tracker', data: { info: 'connected: main' }
            - else
              = simple_form_for User.new, url: discovery_passes_path(promo_code: @sponsorship.try(:promo_code)), method: :post, data: { behavior: 'discovery-pass-form' } do |f|
                = f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false
                - if params[:error]
                  %p.input_field_error.red.text--right
                    Veuillez renseigner un e-mail valide.
                = f.submit 'Obtenir mon Pass', class: 'btn btn--bigger btn--yellow btn--full', data: { info: 'main' }

      .inline-block.v-top
        - if @sponsorship
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge_with_promo.png", height: 250, width: 250
        - else
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge.png", height: 250, width: 250
      .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
        .grid.epsilon
          .grid__item.two-twelfths.v-middle.text--center>
            = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
            Cécilia
          .grid__item.ten-twelfths.v-middle>
            %span.quoted.epsilon.quoted--large<
              %i Grâce au Pass, j'ai pu tester plusieurs styles de danse : flamenco, zumba, modern jazz... finalement, je vais m'inscrire à l'année à un cours de danse orientale.
  .bg-site-background.relative
    .home-screen-promotion-wrapper#en-bref
      .main-container
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 le Pass Découverte en bref
          .grid
            .grid__item.one-half.palm-one-whole>
              .f-weight-600.f-size-20.line-height-1-7 30 jours pour essayer autant de cours que vous voulez
              %p.epsilon.line-height-1-5 Vous pouvez tester différents styles de danse et différentes écoles. Pendant les 30 jours de la durée de votre Pass, vous pouvez danser tous les jours si le coeur vous en dit !

            .grid__item.one-half.palm-one-whole>
              .f-weight-600.f-size-20.line-height-1-7 Plus de 600 classes d'essai à Paris chaque semaine
              %p.epsilon.line-height-1-5
                Trouvez les cours qui vous intéressent sur notre
                = link_to 'moteur de recherche.', discovery_pass_search_structures_path(root_subject_id: 'danse'), class: 'mixpanel-tracker', data: { info: 'Discovery Pass landing Danse'}

          .grid
            .grid__item.one-half.palm-one-whole>
              .f-weight-600.f-size-20.line-height-1-7 Les écoles font découvrir leurs cours à de nouveaux élèves
              %p.epsilon.line-height-1-5 Il y a plus de 200 écoles, associations et professeurs indépendants à Paris partenaires du Pass Découverte de CoursAvenue.

            .grid__item.one-half.palm-one-whole>
              .f-weight-600.f-size-20.line-height-1-7 Les règles sont simples
              %p.epsilon.line-height-1-5 Chaque professeur propose de 1 à 3 cours d'essai : c'est indiqué clairement sur la page du cours. Une fois que vous avez acheté votre Pass, vous pouvez directement réserver votre séance sur la page du cours. Soyez responsable : si vous ne vous présentez pas à un cours réservé, votre Pass risque d'être suspendu !

    .main-container.main-container--medium.soft#courses
      .push--sides
        %h2.flush.text--center.f-weight-300 Envie d'apprendre à danser ?
        %h4.text--center.f-weight-normal
          Le Pass Découverte vous permet de réserver jusqu'à 3 séances d'essai auprès des
          %br
          meilleurs associations, écoles et professeurs de danse de Paris
        .grid.soft--top.center-block{ style: 'max-width: 700px;'}
          .grid__item.one-half>
            %ul.line-height-1-7.f-size-16.no-bullet-list
              %li Tango Argentin & Milonga
              %li Danse classique
              %li Danse orientale & Bollywood
              %li Danse indienne
              %li Blues Dance
              %li Zumba
              %li Modern jazz
              %li Danses traditionnelles
              %li Danses de salon
              %li Street Dance
              %li Rock
              %li Danse Egyptienne
              %li Danse Butô
              %li Danse Afro-brésilienne
              %li Danses Africaines

          .grid__item.one-half>
            %ul.line-height-1-7.f-size-16.no-bullet-list
              %li Danses avec percussionnistes
              %li Pompom Girl
              %li Disco
              %li Danses de couple
              %li Salsa
              %li Valse
              %li Jazz
              %li Salsa cubaine
              %li Country
              %li Danse contemporaine
              %li Hip Hop
              %li Street jazz & Dancehall
              %li Danse Sénégalaise
              %li Barre au sol classique
              %li Flamenco

    .text--center.soft--ends
      = link_to 'Voir les cours sur une carte géographique', discovery_pass_search_structures_path(root_subject_id: 'danse'), class: 'btn btn--bigger btn--green mixpanel-tracker', data: { info: 'Discovery Pass landing Danse'}

    .home-screen-promotion-wrapper
      .main-container.soft
        .grid
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 1
            .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
            %p.epsilon Payez en ligne par carte bleue : votre Pass est nominatif et valable 30 jours
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 2
            .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
            %p.epsilon Visualisez les séances sur une carte géographique puis réservez celles de votre choix
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 3
            .gamma.push-half--bottom.f-weight-300 Suivez vos cours
            %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois !


      .text--center.push--bottom.soft--bottom
        - if current_user
          = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow btn--bigger soft--sides mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'connected: header' }
        - else
          = link_to 'Obtenir mon Pass', '#top-form', class: 'btn btn--yellow btn--bigger soft--sides mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'bottom' }

  - if Rails.env.production?
    = content_for :scripts do
      :javascript
        $(function() {
            ga('send', 'event', 'PassDecouverte', 'Landed');
            mixpanel.people.set({
                'landed_on_discovery_page': true,
                'test_vertical': 'Danse'
            });
        });

  - if Rails.env.production? and params[:utm_source] == 'facebook'
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.people.set({
                'from_facebook_ad': true
            });
        });

= content_for :scripts do
  :javascript
    $(function() {
        // ----------- Initialize header
        $('form').submit(function() {
            ga('send', 'event', 'PassDecouverte', 'Landing page click', 'code promo');
            mixpanel.track("Clicked to get Pass", { "Info": $(this).data('info'), "PromoCode": "#{@sponsorship.try(:promo_code)}" });
        });
        var $structure_profile_menu = $('#structure-profile-menu');
        var menu_scrolled_down = false;
        $(window).scroll(function() {
            if (!menu_scrolled_down && $(window).scrollTop() > 180 && parseInt($structure_profile_menu.css('top')) != 0 ) {
                $structure_profile_menu.animate({ 'top': '0' });
                menu_scrolled_down = true;
            } else if ($(window).scrollTop() < 180 && parseInt($structure_profile_menu.css('top')) == 0 ) {
                $structure_profile_menu.animate({ 'top': '-100px' });
                menu_scrolled_down = false;
            }
        });
        $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
        // ----------- end
        $('#questions-frequentes').click(function() {
            mixpanel.track("Questions fréquentes");
        });
        $('#subjects-tabs .subject-btn').click(function() {
            $('#subjects-tabs .subject-btn').removeClass('btn--blue white subject-active')
            $(this).addClass('btn--blue white subject-active');
        });
        mixpanel.track_forms('[discovery-pass-form]', 'Submitted landing page form', function(form_element) {
            return {
                referrer: document.referrer,
                keyword: $(form_element).find('[name="user[email]"]').val()
            }
        })
    });

- if params[:error]
  = content_for :scripts do
    :javascript
      $(function() {
          GLOBAL.flash('Veuillez renseigner un e-mail valide.')
      });
