- cookies[:discovery_pass_danse_test] = true

- if @user
  = user_menu_currently_at 'discovery_pass'

#structure-profile-menu.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;' }
  .bg-site-background.soft-half--ends.bordered--bottom
    .main-container.main-container--medium.soft--sides
      .flexbox.one-whole
        .flexbox__item.seven-twelfths.top-page-menu>
          %ul.nav.flush.epsilon
            %li.soft-half--sides
              = link_to "Inscription", '#top', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "Cours inclus dans le Pass", '#courses', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "Questions fréquentes", '#faq', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
        .flexbox__item.text--right.five-twelfths>
          - if current_user
            = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'connected: header' }
          - else
            = simple_form_for User.new, url: discovery_passes_path(promo_code: @sponsorship.try(:promo_code)), method: :post, data: { behavior: 'discovery-pass-form' } do |f|
              .flexbox
                .flexbox__item= f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false, wrapper_html: { class: 'flush' }
                .flexbox__item= f.submit 'Obtenir mon Pass', class: 'btn btn--bigger btn--yellow mixpanel-tracker', data: { info: 'header' }

= content_for :title do
  CoursAvenue | Pass Découverte

= content_for (@user ? :under_container : :above_container) do
  - url = "https://coursavenue-public.s3.amazonaws.com/public_assets/home_backgrounds/danse.jpg"
  #top.bg-cover.soft-half--bottom{ style: "background-image: url(#{url})", 'data-stellar-background-ratio' => '0.6' }
    .main-container.main-container--medium.relative{ style: "height: 500px" }
      - if @sponsorship
        .text--center
          .white-box.push--top.soft.inline-block
            .beta.flush
              Félicitations ! Grâce à
              %strong.blue= "#{@sponsor.name},"
              obtenez votre Pass Découverte pour
              %strong.blue= number_to_currency(DiscoveryPass::PRICE - Sponsorship::USER_WHO_HAVE_BEEN_SPONSORED_CREDIT).gsub(/\,00/, "")
              au lieu de
              %strong.blue= "#{DiscoveryPass::PRICE}€"

      .inline-block.four-tenths.soft--right#top-form>
        .push-half--bottom.very-soft.hard--sides
          .white-box.soft.black
            -# %h3 Essayez autant de cours de loisirs que vous voulez !
            .gamma.line-height-1-5.text--center
              Testez les
              %strong meilleurs cours de danse
              de Paris
            -# %p.epsilon
            -#   Chaque mois, participez à autant de séances d'essai que vous le souhaitez parmi les #{Planning.available_in_discovery_pass.count.round(-2)} cours de loisirs négociés spécialement pour vous à Paris auprès de plus de #{Structure.available_in_discovery_pass.count.round(-2)} professeurs, associations et écoles.
            %ul.no-bullet-list
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Plus de
                %strong 620 séances
                d'essai
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Pour
                %strong tous publics,
                tous niveaux
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Nominatif et
                %strong valable 30 jours
            - if current_user
              = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow btn--large btn--full hard--sides mixpanel-tracker', data: { info: 'connected: main' }
            - else
              = simple_form_for User.new, url: discovery_passes_path(promo_code: @sponsorship.try(:promo_code)), method: :post, data: { behavior: 'discovery-pass-form' } do |f|
                = f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false
                - if params[:error]
                  %p.input_field_error.red.text--right
                    Veuillez renseigner un e-mail valide.
                = f.submit 'Obtenir mon Pass', class: 'btn btn--bigger btn--yellow btn--full mixpanel-tracker', data: { info: 'main' }

      .inline-block.v-top
        - if @sponsorship
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge_with_promo.png", height: 250, width: 250
        - else
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge.png", height: 250, width: 250
      .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
        .grid.epsilon
          .grid__item.two-twelfths.v-middle.text--center>
            = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
            Cécilia
          .grid__item.ten-twelfths.v-middle>
            %span.quoted.epsilon.quoted--large<
              %i Grâce au Pass, j'ai pu tester plusieurs styles de danse : flamenco, zumba, modern jazz... finalement, je vais m'inscrire à l'année à un cours de danse orientale.

  .bg-site-background.relative#what-is-it
    .home-screen-promotion-wrapper
      .main-container.soft
        .grid
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 1
            .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
            %p.epsilon Payez en ligne par carte bleue : votre Pass est nominatif, nominatif et valable 30 jours
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 2
            .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
            %p.epsilon Visualisez les séances sur une carte géographique puis réservez celles de votre choix
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 3
            .gamma.push-half--bottom.f-weight-300 Suivez vos cours
            %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois !

    .main-container.main-container--medium.soft#courses
      .push--sides
        %h2.flush.text--center.f-weight-300 Envie d'apprendre à danser ?
        %h4.text--center.f-weight-normal
          Le Pass Découverte vous permet de réserver jusqu'à 3 séances d'essai auprès des
          %br
          meilleurs associations, écoles et professeurs de danse de Paris
        .grid.soft--top.center-block{ style: 'max-width: 700px;'}
          .grid__item.one-half>
            %ul.line-height-1-7.f-size-16.no-bullet-list
              %li Tango Argentin & Milonga
              %li Danse classique
              %li Danse orientale & Bollywood
              %li Danse indienne
              %li Blues Dance
              %li Zumba
              %li Modern jazz
              %li Danses traditionnelles
              %li Danses de salon
              %li Street Dance
              %li Rock
              %li Danse Egyptienne
              %li Danse Butô
              %li Danse Afro-brésilienne
              %li Danses Africaines

          .grid__item.one-half>
            %ul.line-height-1-7.f-size-16.no-bullet-list
              %li Danses avec percussionnistes
              %li Pompom Girl
              %li Disco
              %li Danses de couple
              %li Salsa
              %li Valse
              %li Jazz
              %li Salsa cubaine
              %li Country
              %li Danse contemporaine
              %li Hip Hop
              %li Street jazz & Dancehall
              %li Danse Sénégalaise
              %li Barre au sol classique
              %li Flamenco

    .text--center.soft--ends
      = link_to 'Voir les cours sur une carte géographique', discovery_pass_search_structures_path(root_subject_id: 'danse'), class: 'btn btn--bigger btn--green mixpanel-tracker', data: { info: 'Discovery Pass landing Danse'}

    .home-screen-promotion-wrapper#faq
      .main-container.soft
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 Les avantages du Pass Découverte
          .grid
            .grid__item.one-third>
              .delta.line-height-1-7 Qu'est-ce que le Pass Découverte ?
            .grid__item.two-thirds>
              %p.epsilon.line-height-1-5
                Vous voulez vous mettre à la danse mais vous ne savez pas quels cours essayer ? Vous souhaitez tester différents styles de danse avant de vous lancer ? Vous vous êtes toujours promis d'essayer la danse, mais vous n'avez jamais eu le temps de le faire ? Le Pass Découverte va vous plaire ! Pour seulement 19€, testez pendant 30 jours plus de 620 séances d'essai rien qu'à Paris dans tous les styles de danse : zumba, rock, danse classique, contemporaine, flamenco, danse orientale... Chaque réservation se fait directement en ligne, vous n'aurez plus besoin de vous inscrire par téléphone.
          .grid
            .grid__item.one-third>
              .delta.line-height-1-7 Pourquoi avoir créé ce Pass ?
            .grid__item.two-thirds>
              %p.epsilon.line-height-1-5
                Pour être heureux, nous savons que notre vie doit être créative, sportive et artistique. La danse fait partie de ces loisirs qui peuvent nous aider dans cet objectif. Or, combien sommes-nous à pratiquer régulièrement la danse ? Très peu. Pourquoi ? Car ce n'est finalement pas évident de franchir le pas et partir à la découverte des meilleurs cours de danse de sa ville. Se renseigner, rechercher, contacter... on finit finalement par abandonner. C'est pour cela que nous avons créé le Pass Découverte : pour partir à la découverte des meilleurs cours de danse qui nous entourent et s'ouvrir à de nouvelles passions.
          .grid
            .grid__item.one-third>
              .delta.line-height-1-7 Quels sont les cours inclus dans la Pass Découverte ?
            .grid__item.two-thirds>
              %p.epsilon.line-height-1-5
                Plus de 620 séances d'essai sont proposées dans le Pass Découverte, vous pouvez voir le détail sur
                = link_to 'le moteur de recherche dédié.', discovery_pass_search_structures_path(root_subject_id: 'danse'), target: :_blank, class: 'mixpanel-tracker', data: { info: 'Discovery Pass landing Danse'}
                Derrière ce chiffre, ce sont plus de 200 professeurs, associations et écoles sélectionnées pour vous offrir le meilleur choix de cours de danse à Paris. Pour eux, c'est la meilleure manière de proposer des cours d'essai dans un cadre respectueux : ils savent qu'en ouvrant leurs cours aux détenteurs du Pass, ils recevront un public intéressé et curieux d'en connaître davantage sur leurs cours. Certains vous proposeront même de revenir jusqu'à 3 fois sans frais supplémentaire. Enfin, pour nos partenaires, c'est aussi une manière simple de gérer leurs cours d'essai : la mise en relation est simplifiée, chaque inscription se fait en ligne et vous convenez très rapidement du jour et du créneau qui vous conviennent.
          .grid
            .grid__item.one-third>
              .delta.line-height-1-7 Comment fonctionne le Pass ?
            .grid__item.two-thirds>
              %p.epsilon.line-height-1-5
                Le Pass Découverte vous permet de réserver vos séances d'essai auprès de chaque professeur, association et école inclus dans le Pass. Vous aurez accès à toutes les informations pour faire votre choix : styles de danse enseignés, créneaux horaires, lieux, avis des autres élèves… Une fois votre Pass acheté, vous avez 30 jours pour vous inscrire à autant de séances que vous le souhaitez : vous pouvez tester chaque cours au moins une fois, certains vous proposeront d'y revenir jusqu'à 3 fois sans frais supplémentaire. Chaque inscription se fait directement en ligne : après avoir sélectionné la séance, vous proposez le jour qui vous convient pour que le professeur confirme votre participation. Au bout des 30 jours, si vous souhaitez continuer et tester d'autres cours de danse (nous en rajoutons chaque jour !), vous aurez la possibilité de renouveler votre abonnement.

      .text--center.push--bottom.soft--bottom
        - if current_user
          = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow btn--bigger soft--sides mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'connected: header' }
        - else
          = link_to 'Obtenir mon Pass', '#top-form', class: 'btn btn--yellow btn--bigger soft--sides mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'bottom' }

  - if Rails.env.production?
    = content_for :scripts do
      :javascript
        $(function() {
            ga('send', 'event', 'PassDecouverte', 'Landed');
            mixpanel.people.set({
                'landed_on_discovery_page': true,
                'test_vertical': 'Danse'
            });
        });

  - if Rails.env.production? and params[:utm_source] == 'facebook'
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.people.set({
                'from_facebook_ad': true
            });
        });

= content_for :scripts do
  :javascript
    $(function() {
        // ----------- Initialize header
        var $structure_profile_menu = $('#structure-profile-menu');
        var menu_scrolled_down = false;
        $(window).scroll(function() {
            if (!menu_scrolled_down && $(window).scrollTop() > 180 && parseInt($structure_profile_menu.css('top')) != 0 ) {
                $structure_profile_menu.animate({ 'top': '0' });
                menu_scrolled_down = true;
            } else if ($(window).scrollTop() < 180 && parseInt($structure_profile_menu.css('top')) == 0 ) {
                $structure_profile_menu.animate({ 'top': '-100px' });
                menu_scrolled_down = false;
            }
        });
        $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
        // ----------- end
        $('#questions-frequentes').click(function() {
            mixpanel.track("Questions fréquentes");
        });
        $('#subjects-tabs .subject-btn').click(function() {
            $('#subjects-tabs .subject-btn').removeClass('btn--blue white subject-active')
            $(this).addClass('btn--blue white subject-active');
        });
        mixpanel.track_forms('[discovery-pass-form]', 'Submitted landing page form', function(form_element) {
            return {
                referrer: document.referrer,
                keyword: $(form_element).find('[name="user[email]"]').val()
            }
        })
    });

- if params[:error]
  = content_for :scripts do
    :javascript
      $(function() {
          GLOBAL.flash('Veuillez renseigner un e-mail valide.')
      });
