- if @user
  = user_menu_currently_at 'discovery_pass'

#structure-profile-menu.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;' }
  .bg-site-background.soft-half--ends.bordered--bottom
    .main-container.main-container--medium.soft--sides
      .flexbox.one-whole
        .flexbox__item.seven-twelfths.top-page-menu>
          %ul.nav.flush.epsilon
            %li.soft-half--sides
              = link_to "Inscription", '#top', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "En bref", '#en-bref', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "Cours inclus dans le Pass", '#courses', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
        .flexbox__item.text--right.five-twelfths>
          = link_to 'Obtenir mon pass', 'javascript:void(0)', class: 'mixpanel-tracker btn btn--green btn--bigger', data: { behavior: 'show-popup', info: 'Danse' }

= content_for :title do
  CoursAvenue | Pass Découverte

= content_for (@user ? :under_container : :above_container) do
  - url = "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/bg.jpg"
  #top.bg-cover.soft-half--bottom{ style: "background-image: url(#{url})", 'data-stellar-background-ratio' => '0.6' }
    .main-container.main-container--medium.relative{ style: "height: 400px" }
      - if notice
        .text--center
          .inline-block.soft--right.text--center.center-block>
            .push-half--bottom.very-soft.hard--sides
              .green-box.soft.white
                %h3.flush= notice

      .inline-block.soft--right#top-form.four-tenths.palm-one-whole.lap-six-tenths{ style: 'max-width: 330px;' }>
        .push-half--bottom.very-soft.hard--sides
          .white-box.soft.black
            .gamma.line-height-1-5.text--center
              Testez les
              %strong meilleurs cours de danse
              de Paris
            %ul.no-bullet-list
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Plus de
                %strong 620 séances
                d'essai
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Pour
                %strong tous publics,
                tous niveaux
              %li.epsilon
                %i.fa.fa-check.green.gamma
                Nominatif et
                %strong valable 30 jours
            = link_to 'Obtenir mon pass', 'javascript:void(0)', class: 'mixpanel-tracker btn btn--full btn--green btn--bigger', data: { behavior: 'show-popup', info: 'Danse' }

      .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
        .grid.epsilon
          .grid__item.two-twelfths.v-middle.text--center>
            = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
            Cécilia
          .grid__item.ten-twelfths.v-middle>
            %span.quoted.epsilon.quoted--large<
              %i Grâce au Pass, j'ai pu tester plusieurs styles de danse : flamenco, zumba, modern jazz... finalement, je vais m'inscrire à l'année à un cours de danse orientale.
  .bg-site-background.relative
    .home-screen-promotion-wrapper#en-bref
      .main-container
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 Le Pass Découverte en bref
          .grid
            .grid__item.one-half.palm-one-whole.text--center>
              .f-weight-600.f-size-20.line-height-1-7 Essayez tous les loisirs que vous voulez
              %p.epsilon.line-height-1-5 Tango, Zumba, Modern jazz, Salsa, Hip Hop, Valse, Flamenco... Le Pass Découverte vous permet d'essayer ces danses en toute simplicité. Pour une vie créative, sportive, artistique !

            .grid__item.one-half.palm-one-whole.text--center>
              .f-weight-600.f-size-20.line-height-1-7 Chaque semaine à Paris, plus de 600 séances
              %p.epsilon.line-height-1-5
                La liste des cours est longue et ne cesse d'augmenter ! Chaque jour, notre équipe repère les meilleurs cours de Paris et négocie pour vous des séances collectives mais aussi des cours individuels à domicile ou chez le professeur.

          .grid
            .grid__item.one-half.palm-one-whole.text--center>
              .f-weight-600.f-size-20.line-height-1-7 Le Pass vous accompagne pendant 30 jours
              %p.epsilon.line-height-1-5 En plus du moteur de recherche qui vous permet de réserver n'importe quel cours, renseignez vos disciplines préférées : ainsi, nous vous enverrons chaque semaine le planning détaillé des séances à venir selon vos envies.

            .grid__item.one-half.palm-one-whole.text--center>
              .f-weight-600.f-size-20.line-height-1-7 Revenez jusqu'à 3 fois chez les 200 partenaires du Pass
              %p.epsilon.line-height-1-5 Chaque professeur, association ou école partenaire du Pass vous ouvre les portes de leurs cours : vous pouvez assister à une séance au minimum, certains vous proposent même d'y revenir jusqu'à 3 fois !

    .main-container.main-container--medium.soft#courses
      .push--sides
        %h2.flush.text--center.f-weight-300 Envie d'apprendre à danser ?
        %h4.text--center.f-weight-normal
          Le Pass Découverte vous permet de réserver jusqu'à 3 séances d'essai auprès des
          %br
          meilleurs associations, écoles et professeurs de danse de Paris
        .soft--top.center-block{ style: 'max-width: 700px;'}
          .inline-block.one-half.palm-one-whole.palm-text--center>
            %ul.line-height-1-7.f-size-16.no-bullet-list
              %li Tango Argentin & Milonga
              %li Danse classique
              %li Danse orientale & Bollywood
              %li Danse indienne
              %li Blues Dance
              %li Zumba
              %li Modern jazz
              %li Danses traditionnelles
              %li Danses de salon
              %li Street Dance
              %li Rock
              %li Danse Egyptienne
              %li Danse Butô
              %li Danse Afro-brésilienne
              %li Danses Africaines

          .inline-block.one-half.palm-one-whole.palm-text--center>
            %ul.line-height-1-7.f-size-16.no-bullet-list
              %li Danses avec percussionnistes
              %li Pompom Girl
              %li Disco
              %li Danses de couple
              %li Salsa
              %li Valse
              %li Jazz
              %li Salsa cubaine
              %li Country
              %li Danse contemporaine
              %li Hip Hop
              %li Street jazz & Dancehall
              %li Danse Sénégalaise
              %li Barre au sol classique
              %li Flamenco

    .home-screen-promotion-wrapper
      .main-container.soft
        .grid
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 1
            .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
            %p.epsilon Payez en ligne par carte bleue : votre Pass est nominatif et valable 30 jours
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 2
            .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
            %p.epsilon Visualisez les séances sur une carte géographique puis réservez celles de votre choix
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 3
            .gamma.push-half--bottom.f-weight-300 Suivez vos cours
            %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois !


      .text--center.push--bottom.soft--bottom
        = link_to 'Obtenir mon pass', 'javascript:void(0)', class: 'mixpanel-tracker btn btn--green btn--bigger', data: { behavior: 'show-popup', info: 'Danse' }

  - if Rails.env.production?
    = content_for :scripts do
      :javascript
        $(function() {
            ga('send', 'event', 'PassDecouverte', 'Landed');
            mixpanel.people.set({
                'landed_on_discovery_page': true,
                'test_vertical': 'Danse'
            });
        });

  - if Rails.env.production? and params[:utm_source] == 'facebook'
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.people.set({
                'from_facebook_ad': true
            });
        });

.hidden#waiting-list
  .panel
    .panel__header.soft
      %h4.flush Inscrivez-vous sur notre liste
    .panel__body.soft
      %p.epsilon Pour vous permettre de profiter du Pass Découverte dans les meilleures conditions, laissez-nous votre e-mail pour vous inscrire sur notre liste : nous vous préviendrons dès que le Pass devient disponible pour vous.
      = simple_form_for User.new, url: discovery_passes_path(waiting_list: true), method: :post, data: { behavior: 'discovery-pass-form' } do |f|
        = f.input :test_name, as: :hidden, input_html: { value: 'Danse' }
        = f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false
        = f.submit "M'inscrire sur la liste", class: 'btn btn--bigger btn--green btn--full', data: { disable_with: 'Envoi en cours' }

= content_for :scripts do
  :javascript
    $(function() {
        // ----------- Initialize header
        $('form').submit(function() {
            ga('send', 'event', 'PassDecouverte', 'Landing page click');
            mixpanel.track("Clicked to get Pass", { "Info": $(this).data('info') });
        });
        var $structure_profile_menu = $('#structure-profile-menu');
        var menu_scrolled_down = false;
        $(window).scroll(function() {
            if (!menu_scrolled_down && $(window).scrollTop() > 180 && parseInt($structure_profile_menu.css('top')) != 0 ) {
                $structure_profile_menu.animate({ 'top': '0' });
                menu_scrolled_down = true;
            } else if ($(window).scrollTop() < 180 && parseInt($structure_profile_menu.css('top')) == 0 ) {
                $structure_profile_menu.animate({ 'top': '-100px' });
                menu_scrolled_down = false;
            }
        });
        $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
        // ----------- end
        $('#questions-frequentes').click(function() {
            mixpanel.track("Questions fréquentes");
        });
        $('#subjects-tabs .subject-btn').click(function() {
            $('#subjects-tabs .subject-btn').removeClass('btn--blue white subject-active')
            $(this).addClass('btn--blue white subject-active');
        });
    });

- if params[:error]
  = content_for :scripts do
    :javascript
      $(function() {
          GLOBAL.flash('Veuillez renseigner un e-mail valide.')
      });

= content_for :scripts do
  :javascript
    $(function() {
        $('[data-behavior=show-popup]').click(function() {
              $.fancybox($('#waiting-list'), {
                  topRatio    : 0.3,
                  openSpeed   : 300,
                  maxWidth    : 350,
                  height      : 'auto',
                  fitToView   : false,
                  width       : 350,
                  autoSize    : false,
                  autoResize  : false,
                  padding     : 0,
                  helpers : {
                      overlay: {
                          locked: false
                      }
                  }
            });
        });
    });

= render 'shared/live_chat'
