= stylesheet_link_tag "discovery_pass", media: 'all'
#structure-profile-menu.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;' }
  .bg-site-background.soft-half--ends.bordered--bottom
    .main-container.main-container--medium.soft--sides
      .flexbox.one-whole
        .flexbox__item.seven-twelfths.top-page-menu>
          %ul.nav.flush.epsilon
            %li.soft-half--sides
              = link_to "Inscription", '#top', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "Cours inclus dans le Pass", '#courses', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "Avantages", '#advantages', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            -# %li.soft-half--sides
            -#   = link_to "Questions fréquentes", '#faq', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
        .flexbox__item.text--right.five-twelfths>
          - if current_user
            = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow', data: { behavior: 'scroll-to', offset_top: '-55', type: 'get-pass', info: 'connected: header' }
          - else
            = simple_form_for User.new, url: discovery_passes_path(promo_code: @sponsorship.try(:promo_code)), method: :post, data: { behavior: 'discovery-pass-form' } do |f|
              .flexbox
                .flexbox__item= f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false, wrapper_html: { class: 'flush' }
                .flexbox__item= f.submit 'Obtenir mon Pass', class: 'btn btn--bigger btn--yellow', data: { type: 'get-pass', info: 'header' }

= content_for :title do
  CoursAvenue | Pass Découverte

= content_for :above_container do
  %ul.cb-slideshow.no-bullet-list
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div

  #top.main-container.main-container--medium.soft-half--bottom.relative{ style: "height: 500px;" }
    -  if @sponsorship
      .text--center
        .white-box.push--top.soft.inline-block
          .beta.flush
            Félicitations ! Grâce à
            %strong.blue= "#{@sponsor.name},"
            obtenez votre Pass Découverte pour
            %strong.blue= number_to_currency(DiscoveryPass::PRICE - Sponsorship::USER_WHO_HAVE_BEEN_SPONSORED_CREDIT).gsub(/\,00/, "")
            au lieu de
            %strong.blue= "#{DiscoveryPass::PRICE}€"

    .inline-block.four-tenths.soft--right.text--center#top-form>
      .push-half--bottom.very-soft.hard--sides
        .white-box.soft.black
          -# %h3 Essayez autant de cours de loisirs que vous voulez !
          %h3 Essayez les meilleurs cours de loisirs de votre ville.
          -# %p.epsilon
          -#   Chaque mois, participez à autant de séances d'essai que vous le souhaitez parmi les #{Planning.available_in_discovery_pass.count.round(-2)} cours de loisirs négociés spécialement pour vous à Paris auprès de plus de #{Structure.available_in_discovery_pass.count.round(-2)} professeurs, associations et écoles.
          %ul.no-bullet-list.text--left
            %li.epsilon
              %i.fa.fa-check.green.gamma
              Plus de
              %strong 1 300 séances
              négociées pour vous
            %li.epsilon
              %i.fa.fa-check.green.gamma
              Pour
              %strong tous publics,
              tous niveaux
            %li.epsilon
              %i.fa.fa-check.green.gamma
              Valable 1 mois,
              %strong renouvelable
          - if current_user
            = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow btn--large btn--full hard--sides', data: { type: 'get-pass', info: 'connected: main' }
          - else
            = simple_form_for User.new, url: discovery_passes_path(promo_code: @sponsorship.try(:promo_code)), method: :post, data: { behavior: 'discovery-pass-form' } do |f|
              = f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false
              - if params[:error]
                %p.input_field_error.red.text--right
                  Veuillez renseigner un e-mail valide.
              = f.submit 'Obtenir mon Pass', class: 'btn btn--bigger btn--yellow btn--full', data: { type: 'get-pass', info: 'main' }

    .inline-block.v-top
      - if @sponsorship
        = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge_with_promo.png", height: 250, width: 250
      - else
        = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge.png", height: 250, width: 250
    .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
      .grid.epsilon
        .grid__item.two-twelfths.v-middle.text--center>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
          Cécilia
        .grid__item.ten-twelfths.v-middle>
          %span.quoted.epsilon.quoted--large<
            %i Grâce au Pass, j'ai découvert au pied de mon immeuble un super cours d'écriture créative. Sans parler des cours de poterie, danse orientale, et même de sophrologie !

  .bg-site-background.relative#what-is-it
    .home-screen-promotion-wrapper
      .main-container.soft
        .grid
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 1
            .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
            %p.epsilon Payez en ligne par carte bleue : votre Pass est nominatif, valable 1 mois et renouvelable à l'infini
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 2
            .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
            %p.epsilon Visualisez les séances sur une carte géographique puis réservez celles de votre choix
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 3
            .gamma.push-half--bottom.f-weight-300 Suivez vos cours
            %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois !

    .main-container.soft#courses
      %h2.flush.text--center.f-weight-300 Plus de #{Structure.available_in_discovery_pass.count.round(-2)} lieux à découvrir à Paris et sa région
      - @places = PlanningSearch.search({ discovery_pass: true, per_page: 1000 }, { group: :place_id_str}).group(:place_id_str).groups
      - @course_locations = Gmaps4rails.build_markers(@places) do |place_group, marker|
        - place = Place.find_by_id place_group.value
        - next if place.nil? or place_group.results.first.nil?
        - marker.lat place.latitude
        - marker.lng place.longitude
        - marker.infowindow place_group.results.first.course.name

    #map-courses.one-whole{ style: 'height: 600px;'}
    .home-screen-promotion-wrapper.soft--ends
      .text--center
        = link_to 'Voir les cours inclus', root_search_page_without_subject_path('paris'), class: 'btn btn--bigger btn--green', data: { behavior: 'see-all-courses', info: 'second' }
    .main-container.soft#courses
      .push--sides
        %h2.push-half--bottom.text--center.f-weight-300 Sélection de cours inclus dans le Pass
        %h4.text--center.f-weight-300 Cliquez sur chaque discipline pour l'aperçu
    .main-container.main-container--medium#subjects-tabs
      .grid--full
        .grid__item.one-third.very-soft.hard--bottom>
          %a.mixpanel-tracker.block{ href: "#danse", data: { toggle: 'tab', info: 'Clicked on subject : Danse' } }
            .text--center.btn--blue.subject-active.white.btn.subject-btn.one-whole.hard--sides
              .subject_icon.subject_icon__danse
              .f-size-13
                %br
                Danse
        .grid__item.one-third.very-soft.hard--bottom>
          %a.mixpanel-tracker.block{ href: "#theatre-scene", data: { toggle: 'tab', info: 'Clicked on subject : Théâtre & Scène' } }
            .text--center.btn.subject-btn.one-whole.hard--sides
              .subject_icon.subject_icon__theatre-scene
              .f-size-13
                %br
                Théâtre & Scène
        .grid__item.one-third.very-soft.hard--bottom>
          %a.mixpanel-tracker.block{ href: "#yoga-bien-etre-sante", data: { toggle: 'tab', info: 'Clicked on subject : Yoga, Bien-être & Santé' } }
            .text--center.btn.subject-btn.one-whole.hard--sides
              .subject_icon.subject_icon__yoga-bien-etre-sante
              .f-size-13
                %br
                Yoga, Bien-être & Santé
      .grid--full
        .grid__item.one-third.very-soft.hard--bottom>
          %a.mixpanel-tracker.block{ href: "#musique-chant", data: { toggle: 'tab', info: 'Clicked on subject : Musique & Chant' } }
            .text--center.btn.subject-btn.one-whole.hard--sides
              .subject_icon.subject_icon__musique-chant
              .f-size-13
                %br
                Musique & Chant
        .grid__item.one-third.very-soft.hard--bottom>
          %a.mixpanel-tracker.block{ href: "#dessin-peinture-arts-plastiques", data: { toggle: 'tab', info: 'Clicked on subject : Dessin, Peinture & Arts' } }
            .text--center.btn.subject-btn.one-whole.hard--sides
              .subject_icon.subject_icon__dessin-peinture-arts-plastiques
              .f-size-13
                %br
                Dessin, Peinture & Arts
        .grid__item.one-third.very-soft.hard--bottom>
          %a.mixpanel-tracker.block{ href: "#sports-arts-martiaux", data: { toggle: 'tab', info: 'Clicked on subject : Sports & Arts martiaux' } }
            .text--center.btn.subject-btn.one-whole.hard--sides
              .subject_icon.subject_icon__sports-arts-martiaux
              .f-size-13
                %br
                Sports & Arts martiaux
      - %w(danse theatre-scene yoga-bien-etre-sante musique-chant dessin-peinture-arts-plastiques sports-arts-martiaux).each_with_index do |subject_slug, index|
        - @courses = CourseSearch.search({ types: ['lesson'], discovery_pass: true, per_page: 15, subject_id: subject_slug }).results
        .tab-pane{ id: subject_slug, class: (index == 0 ? 'active' : '') }
          %table.table--data.table--striped
            %thead
              %tr
                %th.one-third Nom du cours
                %th.one-third Disciplines
                %th.one-third Planning
            %tbody
              - @courses.each_with_index do |course, course_index|
                - cache [course, 'discovery_pass/subjects/v3'] do
                  %tr
                    %td= "#{course.name}"
                    %td= truncate(course.subjects.map(&:name).join(', '), length: 55)
                    %td= plannings_to_come(course, course.plannings.available_in_discovery_pass.visible)
    .text--center.soft--ends
      = link_to 'Voir les cours inclus', root_search_page_without_subject_path('paris'), class: 'btn btn--bigger btn--green', data: { behavior: 'see-all-courses', info: 'third' }

    .home-screen-promotion-wrapper#advantages
      .main-container.soft
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 Les avantages du Pass CoursAvenue
          .grid--full
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom Un choix unique
              %p.epsilon C'est la 1ère fois qu'un Pass vous permet d'essayer autant de cours de loisirs : il inclut + de 1 300 séances, un chiffre qui augmente chaque jour.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom Réservation gratuite
              %p.epsilon
                Réservez chaque séance d'essai en prenant directement contact avec le professeur, l'association ou l'école de votre choix.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom En toute liberté
              %p.epsilon Votre pass est valable 1 mois et renouvelable autant de fois que vous le souhaitez. Satisfaction garantie.

      .text--center.push--bottom.soft--bottom
        - if current_user
          = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--yellow btn--bigger soft--sides', data: { behavior: 'scroll-to', offset_top: '-55', type: 'get-pass', info: 'connected: header' }
        - else
          = link_to 'Obtenir mon Pass', '#top-form', class: 'btn btn--yellow btn--bigger soft--sides', data: { behavior: 'scroll-to', offset_top: '-55', type: 'get-pass', info: 'bottom' }

  - if Rails.env.production? and params[:email].present?
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.people.set({
                '$email': '#{params[:email]}'
            });
        });
  - if Rails.env.production?
    = content_for :scripts do
      :javascript
        $(function() {
            $('[data-type=get-pass]').click(function() {
                ga('send', 'event', 'PassDecouverte', 'Landing page click', 'code promo');
                mixpanel.track("Clicked to get Pass", { "Info": $(this).data('info'), "PromoCode": "#{@sponsorship.try(:promo_code)}" });
            });
            $('[data-behavior=see-all-courses]').click(function() {
                ga('send', 'event', 'PassDecouverte', 'Landing page click', 'code promo');
                mixpanel.track("Clicked to see all courses", { "Info": $(this).data('info') });
            });
            ga('send', 'event', 'PassDecouverte', 'Landed');
            mixpanel.people.set({
                'landed_on_discovery_page': true,
                'test': 'A'
            });
        });

  - if Rails.env.production? and params[:utm_source] == 'facebook'
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.people.set({
                'from_facebook_ad': true
            });
        });
  - if Rails.env.production? and params[:utm_campaign] and params[:utm_campaign].end_with? '__Newsletter'
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.people.set({
                'from_newsletter': true
            });
        });

= content_for :scripts do
  :javascript
    $(function() {
        // ----------- Initialize header
        var $structure_profile_menu = $('#structure-profile-menu');
        var menu_scrolled_down = false;
        $(window).scroll(function() {
            if (!menu_scrolled_down && $(window).scrollTop() > 180 && parseInt($structure_profile_menu.css('top')) != 0 ) {
                $structure_profile_menu.animate({ 'top': '0' });
                menu_scrolled_down = true;
            } else if ($(window).scrollTop() < 180 && parseInt($structure_profile_menu.css('top')) == 0 ) {
                $structure_profile_menu.animate({ 'top': '-100px' });
                menu_scrolled_down = false;
            }
        });
        $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
        // ----------- end
        $('#questions-frequentes').click(function() {
            mixpanel.track("Questions fréquentes");
        });
        $('#subjects-tabs .subject-btn').click(function() {
            $('#subjects-tabs .subject-btn').removeClass('btn--blue white subject-active')
            $(this).addClass('btn--blue white subject-active');
        });
        google_map_handler = Gmaps.build('Google');
        google_map_handler.buildMap({ provider: { scrollwheel: false, center: new google.maps.LatLng (48.8592, 2.3417), zoom: 12}, internal: { id: 'map-courses' }}, function() {
            markers = google_map_handler.addMarkers(#{@course_locations.to_json});
        });
        google.maps.event.addListenerOnce(google_map_handler.getMap(), 'center_changed', function() {
            mixpanel.track("DiscoveryPass / Moved google map");
        });
        mixpanel.track_forms('[discovery-pass-form]', 'Submitted landing page form', function(form_element) {
            return {
                referrer: document.referrer,
                keyword: $(form_element).find('[name="user[email]"]').val()
            }
        })
    });

- if params[:error]
  = content_for :scripts do
    :javascript
      $(function() {
          GLOBAL.flash('Veuillez renseigner un e-mail valide.')
      });
