- buy_now = false if buy_now.nil?
- if @user
  = user_menu_currently_at 'discovery_pass'

= stylesheet_link_tag "discovery_pass", media: 'all'

#structure-profile-menu.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;' }
  .bg-site-background.soft-half--ends.bordered--bottom
    .main-container.main-container--medium.soft--sides
      .flexbox.one-whole
        .flexbox__item.seven-twelfths.top-page-menu>
          %ul.nav.flush.epsilon
            %li.soft-half--sides
              = link_to "Inscription", '#top', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "En bref", '#en-bref', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "Cours inclus dans le Pass", '#courses', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
            %li.soft-half--sides
              = link_to "Avantages", '#avantages', class: 'muted-link orange mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }
        .flexbox__item.text--right.five-twelfths>
          - if buy_now
            = link_to 'Obtenir mon pass', create_account_discovery_passes_path, class: 'mixpanel-tracker btn btn--green btn--bigger', data: { info: 'Without price' }
          - else
            = link_to 'Obtenir mon pass', 'javascript:void(0)', class: 'mixpanel-tracker btn btn--green btn--bigger', data: { behavior: 'show-popup', info: 'Without price' }

= content_for :title do
  CoursAvenue | Pass Découverte

= content_for :above_container do
  %ul.cb-slideshow.no-bullet-list
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div

  #top.main-container.main-container--medium.soft-half--bottom.relative{ style: "height: 500px;" }
    -  if @sponsorship
      .text--center
        .white-box.push--top.soft.inline-block
          .beta.flush
            Félicitations ! Grâce à
            %strong.blue= "#{@sponsor.name},"
            obtenez votre Pass Découverte pour
            %strong.blue= number_to_currency(DiscoveryPass::PRICE - Sponsorship::USER_WHO_HAVE_BEEN_SPONSORED_CREDIT).gsub(/\,00/, "")
            au lieu de
            %strong.blue= "#{DiscoveryPass::PRICE}€"

    - if notice
      .text--center
        .inline-block.soft--right.text--center.center-block>
          .push-half--bottom.very-soft.hard--sides
            .green-box.soft.white
              %h3.flush= notice

    .inline-block.four-tenths.soft--right.text--center>
      .push-half--bottom.very-soft.hard--sides
        .white-box.soft.black
          %h3 Découvrez autant de cours de loisirs que vous voulez !
          %p.epsilon
            Valable 30 jours et renouvelable, le Pass Découverte vous permet de suivre 1 300 séances négociées spécialement pour vous : Sophrologie, Impro, Yoga, Golf, Danse... Pour une vie créative, artistique, sportive !
          - if buy_now
            = link_to 'Obtenir mon pass', create_account_discovery_passes_path, class: 'mixpanel-tracker btn btn--green btn--full btn--bigger', data: { info: 'Without price' }
          - else
            = link_to 'Obtenir mon pass', 'javascript:void(0)', class: 'mixpanel-tracker btn btn--green btn--full btn--bigger', data: { behavior: 'show-popup', info: 'Without price' }

    .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
      .grid.epsilon
        .grid__item.two-twelfths.v-middle.text--center>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
          Cécilia
        .grid__item.ten-twelfths.v-middle>
          %span.quoted.epsilon.quoted--large<
            %i Grâce au Pass, j'ai découvert au pied de mon immeuble un super cours d'écriture créative. Sans parler des cours de poterie, danse orientale, et même de sophrologie !

  .bg-site-background.relative#what-is-it
    .home-screen-promotion-wrapper#en-bref
      .main-container
        .push--sides.soft--ends
          = render 'en_bref'

    .main-container.main-container--medium.soft#courses
      .push--sides
        = render 'included_in_pass'

    .home-screen-promotion-wrapper#avantages
      .main-container.soft
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 Les avantages du Pass Découverte
          .grid--full
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom Un choix unique
              %p.epsilon C'est la 1ère fois qu'un Pass vous permet d'essayer autant de cours de loisirs : plus de 1 3000 séances vous sont proposées, un chiffre qui augmente chaque jour.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom Réservation gratuite
              %p.epsilon
                Réservez chaque séance d'essai en prenant directement contact avec le professeur, l'association ou l'école de votre choix.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom En toute liberté
              %p.epsilon Votre pass est valable 1 mois et renouvelable autant de fois que vous le souhaitez. Satisfaction garantie.

      .center-block.text--center.push--bottom.soft--bottom{ style: 'width: 350px;' }
        - if buy_now
          = link_to 'Obtenir mon pass', create_account_discovery_passes_path, class: 'mixpanel-tracker btn btn--green btn--bigger', data: { info: 'Without price' }
        - else
          = link_to 'Obtenir mon pass', 'javascript:void(0)', class: 'mixpanel-tracker btn btn--green btn--bigger', data: { behavior: 'show-popup', info: 'Without price' }

    .main-container.soft
      .grid
        .grid__item.one-third.palm-one-whole.text--center>
          .center-block.text--center.alpha 1
          .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
          %p.epsilon Payez en ligne par carte bleue : votre Pass est nominatif et valable 30 jours
        .grid__item.one-third.palm-one-whole.text--center>
          .center-block.text--center.alpha 2
          .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
          %p.epsilon Visualisez les séances sur une carte géographique puis réservez celles de votre choix
        .grid__item.one-third.palm-one-whole.text--center>
          .center-block.text--center.alpha 3
          .gamma.push-half--bottom.f-weight-300 Suivez vos cours
          %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois !

    .home-screen-promotion-wrapper
      .main-container.main-container--medium.soft--top#places
        .text--center.soft--top
          %h2.text--center.f-weight-300 Plus de 500 lieux à découvrir à Paris et sa région
    #map-courses.one-whole{ style: 'height: 600px;'}


  - if Rails.env.production?
    = content_for :scripts do
      :javascript
        $(function() {
            $('[data-behavior=sign-in]').click(function() {
                ga('send', 'event', 'PassDecouverte', 'Landing page click', 'code promo');
                mixpanel.track("Clicked to get Pass", { "PromoCode": "#{@sponsorship.try(:promo_code)}" });
            });
        });
        $(function() {
            ga('send', 'event', 'PassDecouverte', 'Landed');
            mixpanel.people.set({
                'landed_on_discovery_page': true
            });
        });

- content_for :scripts do
  :javascript
      $(function() {
          var $structure_profile_menu = $('#structure-profile-menu');
          var menu_scrolled_down = false;
          $(window).scroll(function() {
              if (!menu_scrolled_down && $(window).scrollTop() > 180 && parseInt($structure_profile_menu.css('top')) != 0 ) {
                  $structure_profile_menu.animate({ 'top': '0' });
                  menu_scrolled_down = true;
              } else if ($(window).scrollTop() < 180 && parseInt($structure_profile_menu.css('top')) == 0 ) {
                  $structure_profile_menu.animate({ 'top': '-100px' });
                  menu_scrolled_down = false;
              }
          });
          $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
      });

- @places = PlanningSearch.search({ discovery_pass: true, per_page: 1000 }, { group: :place_id_str}).group(:place_id_str).groups
- @course_locations = Rails.cache.fetch "discovery_pass/index/course_locations" do
  - Gmaps4rails.build_markers(@places) do |place_group, marker|
    - place = Place.find_by_id place_group.value
    - next if place.nil?
    - marker.lat place.latitude
    - marker.lng place.longitude
    - marker.infowindow place_group.results.map(&:course).map(&:name).join(', ')

= content_for :scripts do
  :javascript
    $(function() {
        google_map_handler = Gmaps.build('Google');
        google_map_handler.buildMap({ provider: { scrollwheel: false, center: new google.maps.LatLng (48.8592, 2.3417), zoom: 12}, internal: { id: 'map-courses' }}, function() {
            markers = google_map_handler.addMarkers(#{@course_locations.to_json});
        });
    });

.hidden#waiting-list
  .panel
    .panel__header.soft
      %h4.flush Inscrivez-vous sur notre liste
    .panel__body.soft
      %p.epsilon Pour vous permettre de profiter du Pass Découverte dans les meilleures conditions, laissez-nous votre e-mail pour vous inscrire sur notre liste : nous vous préviendrons dès que le Pass devient disponible pour vous.
      = simple_form_for User.new, url: discovery_passes_path(waiting_list: true, promo_code: @sponsorship.try(:promo_code)), method: :post, data: { behavior: 'discovery-pass-form' } do |f|
        = f.input :test_name, as: :hidden, input_html: { value: 'Without price' }
        = f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false
        = f.submit "M'inscrire sur la liste", class: 'btn btn--bigger btn--green btn--full', data: { disable_with: 'Envoi en cours' }

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.people.set({
              'landed_on_discovery_page': true,
              'test_name': 'Without price'
          });
      });

- if Rails.env.production? and notice
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.track("Email déposé : without price");
      });

- if Rails.env.production? and buy_now
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.people.set({ 'landed_on_buy_page': true });
      });

= content_for :scripts do
  :javascript
    $(function() {
        $('[data-behavior=show-popup]').click(function() {
              $.fancybox($('#waiting-list'), {
                  topRatio    : 0.3,
                  openSpeed   : 300,
                  maxWidth    : 350,
                  height      : 'auto',
                  fitToView   : false,
                  width       : 350,
                  autoSize    : false,
                  autoResize  : false,
                  padding     : 0,
                  helpers : {
                      overlay: {
                          locked: false
                      }
                  }
            });
        });
    });

= render 'shared/live_chat'
