= stylesheet_link_tag "discovery_pass", media: 'all'
#structure-profile-menu.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;' }
  .bg-site-background.soft-half--ends.bordered--bottom
    .main-container.main-container--medium.soft--sides
      .flexbox.one-whole
        .flexbox__item.ten-twelfths.top-page-menu>
          %ul.nav.flush.epsilon
            %li.soft-half--sides
              = link_to "Comment ça marche ?", '#what-is-it', class: 'muted-link orange', data: { behavior: 'scroll-to', offset_top: '-55' }
            %li.soft-half--sides
              = link_to "Inclus dans le Pass", '#courses', class: 'muted-link orange', data: { behavior: 'scroll-to', offset_top: '-55' }
            %li.soft-half--sides
              = link_to "Les avantages", '#advantages', class: 'muted-link orange', data: { behavior: 'scroll-to', offset_top: '-55' }
            %li.soft-half--sides
              = link_to "Les lieux", '#places', class: 'muted-link orange', data: { behavior: 'scroll-to', offset_top: '-55' }
        .flexbox__item.text--right.two-twelfths>
          - if current_user
            = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--green btn--full', data: { behavior: 'scroll-to', offset_top: '-55' }
          - else
            = link_to 'Obtenir mon Pass', '#top-form', class: 'btn btn--green btn--full', data: { behavior: 'scroll-to', offset_top: '-55' }

= content_for :title do
  CoursAvenue | Pass Découverte

= content_for :above_container do
  %ul.cb-slideshow.no-bullet-list
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div

  .main-container.main-container--medium.soft-half--bottom.relative{ style: "height: 500px;" }
    -  if @sponsorship
      .text--center
        .white-box.push--top.soft.inline-block
          .beta.flush
            Félicitations ! Grâce à
            %strong.blue= "#{@sponsor.name},"
            obtenez votre Pass Découverte pour
            %strong.blue= number_to_currency(DiscoveryPass::PRICE - Sponsorship::USER_WHO_HAVE_BEEN_SPONSORED_CREDIT).gsub(/\,00/, "")
            au lieu de
            %strong.blue= "#{DiscoveryPass::PRICE}€"

    .inline-block.four-tenths.soft--right.text--center#top-form>
      .push-half--bottom.very-soft.hard--sides
        .white-box.soft.black
          %h3 Essayez autant de cours de loisirs que vous voulez !
          %p.epsilon
            Chaque mois, participez à autant de séances d'essai que vous le souhaitez parmi les #{Planning.available_in_discovery_pass.count.round(-2)} cours de loisirs négociés spécialement pour vous à Paris auprès de plus de #{Structure.available_in_discovery_pass.count.round(-2)} professeurs, associations et écoles.
          - if current_user
            = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--green btn--large btn--full hard--sides'
          - else
            = simple_form_for User.new, url: discovery_passes_path(promo_code: @sponsorship.try(:promo_code)), method: :post do |f|
              = f.input :email, input_html: { class: 'one-whole input--large', placeholder: 'E-mail' }, label: false
              = f.submit 'Obtenir mon Pass', class: 'btn btn--bigger btn--green btn--full'

    .inline-block
      - if @sponsorship
        = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge_with_promo.png", height: 250, width: 250
      - else
        = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge.png", height: 250, width: 250
    .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
      .grid.epsilon
        .grid__item.two-twelfths.v-middle.text--center>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
          Cécilia
        .grid__item.ten-twelfths.v-middle>
          %span.quoted.epsilon.quoted--large<
            %i Grâce au Pass, j'ai découvert au pied de mon immeuble un super cours d'écriture créative. Sans parler des cours de poterie, danse orientale, et même de sophrologie !

  .bg-site-background.relative#what-is-it
    .home-screen-promotion-wrapper
      .main-container.soft
        .grid
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 1
            .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
            %p.epsilon Payez directement en ligne par carte bleue : votre Pass est valable 1 mois et renouvelable autant de fois que vous le souhaitez jusqu'à découvrir vos nouvelles passions
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 2
            .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
            %p.epsilon Visualisez toutes les séances sur une carte géographique, choisissez celles de votre choix, puis réservez gratuitement auprès de chaque partenaire
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 3
            .gamma.push-half--bottom.f-weight-300 Suivez vos cours !
            %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois : si un cours vous a particulièrement plu, libre à vous ensuite d'y revenir en vous inscrivant directement auprès du partenaire

    .main-container.main-container--medium.soft#courses
      .push--sides
        %h2.push-half--bottom.text--center.f-weight-300 Inclus dans votre Pass Découverte
        %h4.soft--bottom.text--center.f-weight-300 Sélection de cours inclus dans votre Pass
        .grid
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/danse.png", height: 20
              Danse
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Hip Hop
              %li Pilates
              %li Lindy hop
              %li Zumba
              %li Claquettes
              %li Rock
              %li Danse country
              %li Hip-hop
              %li Danse Orientale
              %li Moderne Jazz
              %li Danse orientale classique
              %li Danse africaine moderne
              %li Danse blues
              %li Milonga et Valse argentine
              %li Tango argentin
              %li Salsa cubaine
              %li Danse indienne Bollywood
              %li . . .

          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/theatre-scene.png", height: 20
              Théâtre & Scène
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Comédie musicale
              %li Atelier de trapèze
              %li Théâtre
              %li Comédien de doublage
              %li Art dramatique
              %li Coaching pour acteurs
              %li Jeu d'acteur
              %li Développement personnel par la voix
              %li Théâtre pour enfants
              %li Improvisation théâtrale
              %li Théâtre en mouvement
              %li L'acteur face à la caméra
              %li Écriture théâtrale
              %li Théâtre de rue
              %li Pantins & marionnettes
              %li Art dramatique
              %li Mime
              %li . . .
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/yoga-bien-etre-sante.png", height: 20
              Yoga, Bien-être & Santé
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Yoga
              %li Bikram Yoga
              %li Yoga-Iyengar
              %li Méditation
              %li Réflexologie
              %li Stretching Anti Stress
              %li Massage Traditionnel Thaï
              %li Qi Gong
              %li Tai Chi
              %li Stretching Postural
              %li Atelier équilibre et marche
              %li Technique Alexander
              %li Sophrologie
              %li Hatha yoga
              %li Coaching & développement personnel
              %li Wutao
              %li Shiatsu
              %li . . .
        .grid
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/dessin-peinture-arts-plastiques.png", height: 20
              Dessin, Peinture & Arts
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Gravure
              %li Peinture et volume
              %li Dessin
              %li Sculpture modelage
              %li Portrait
              %li Peinture à l'huile
              %li Patines décoratives sur bois
              %li Couture
              %li Reproduction de personnages et portraits
              %li Atelier d'écriture
              %li Céramique et de sculpture
              %li Arts plastiques
              %li Dessin d'observation
              %li Modelage-sculpture
              %li Fresque collective
              %li Sellerie
              %li Maroquinerie
              %li Bande dessinée
              %li Découverte de la Mode
              %li Cours de nu, modèle vivant
              %li Manga
              %li Animation 2D
              %li Stylisme
              %li . . .
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/musique-chant.png", height: 20
              Musique & Chant
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Eveil musical
              %li Chant collectif
              %li Ecriture de scénario
              %li Ingénieur du son
              %li Chorale
              %li Réeducation vocale
              %li Voix lyrique et variété.
              %li Atelier découverte instrumentale
              %li Guitare et basse
              %li Batterie
              %li Chant
              %li Piano
              %li Musique & chant
              %li Approche de la basse
              %li Composition de musique de film
              %li Chant moderne
              %li Perfectionnement de la guitare
              %li Chorale
              %li Musique persane
              %li Techniques vocales et coaching vocal
              %li Chant et interprétation
              %li Chant gospel
              %li Chant moderne : jazz, chansons, rock etc...
              %li . . .
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/sports-arts-martiaux.png", height: 20
              Sports & Arts martiaux
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Arts Martiaux Japonais adultes armes
              %li Taekwondo
              %li Kung fu
              %li Cours de self-défense
              %li Judo enfants
              %li Stretching Anti Stress
              %li Initiation à la Capoeira
              %li Cours de Bolly Aerobic (Fitness Bollywood)
              %li Initiation au Kung Fu Wushu
              %li Cardio Trainning et apprentissage coup de pied sur cible
              %li Karaté
              %li Baby Karaté
              %li Kobudo enfants adultes
              %li Cours de combat
              %li Kung Fu
              %li Arts martiaux japonais
              %li Golf à Paris
              %li Art martial Olympique d'origine Coréenne
              %li Pilates
              %li Karaté au féminin
              %li Capoeira
              %li Atelier de Vélo avec technique Alexander
              %li . . .

    .home-screen-promotion-wrapper#advantages
      .main-container.soft
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 Les avantages du Pass CoursAvenue
          .grid--full
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom Un choix unique
              %p.epsilon C'est la 1ère fois qu'un Pass vous permet d'essayer autant de cours de loisirs : plus de #{Planning.available_in_discovery_pass.count.round(-2)} séances vous sont proposées, un chiffre qui augmente chaque jour.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom Réservation gratuite
              %p.epsilon
                Réservez chaque séance d'essai en prenant directement contact avec le professeur, l'association ou l'école de votre choix.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom En toute liberté
              %p.epsilon Votre pass est valable 1 mois et renouvelable autant de fois que vous le souhaitez. Satisfaction garantie.

      .text--center.push--bottom.soft--bottom
        - if current_user
          = link_to 'Obtenir mon Pass', new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)), class: 'btn btn--green btn--bigger soft--sides', data: { behavior: 'scroll-to', offset_top: '-55' }
        - else
          = link_to 'Obtenir mon Pass', '#top-form', class: 'btn btn--green btn--bigger soft--sides', data: { behavior: 'scroll-to', offset_top: '-55' }


    .main-container.main-container--medium.soft--top#places
      .text--center.soft--top
        %h2.text--center.f-weight-300 Plus de #{Structure.available_in_discovery_pass.count.round(-2)} lieux à découvrir à Paris et sa région
    #map-courses.one-whole{ style: 'height: 600px;'}

  - unless current_user
    = content_for :scripts do
      - if @sponsorship
        :javascript
          $(function() {
              $('[data-behavior=sign-in]').click(function() {
                  CoursAvenue.signUp({
                      title: 'Etape 1 : créez vote compte',
                      show_confirm_email_popup: false,
                      success: function() {
                          window.location.href = Routes.new_user_discovery_pass_path(CoursAvenue.currentUser().get('slug'), { promo_code: '#{(@sponsorship ? @sponsorship.promo_code : '')}' } );
                      }
                  })
              });
          })
      - else
        :javascript
          $(function() {
              $('[data-behavior=sign-in]').click(function() {
                  CoursAvenue.signUp({
                      title: 'Etape 1 : créez vote compte',
                      show_confirm_email_popup: false,
                      success: function() {
                          window.location.href = Routes.new_user_discovery_pass_path(CoursAvenue.currentUser().get('slug'));
                      }
                  })
              });
          })
  - if Rails.env.production?
    = content_for :scripts do
      :javascript
        $(function() {
            $('[data-behavior=sign-in]').click(function() {
                ga('send', 'event', 'PassDecouverte', 'Landing page click', 'code promo');
                mixpanel.track("Clicked to get Pass", { "PromoCode": "#{@sponsorship.try(:promo_code)}" });
            });
            ga('send', 'event', 'PassDecouverte', 'Landed');
            mixpanel.people.set({
                'landed_on_discovery_page': true
            });
        });
  - if Rails.env.production? and params[:utm_source] == 'facebook'
    = content_for :scripts do
      :javascript
        $(function() {
            mixpanel.people.set({
                'from_facebook_ad': true
            });
        });

- content_for :scripts do
  :javascript
      $(function() {
          var $structure_profile_menu = $('#structure-profile-menu');
          var menu_scrolled_down = false;
          $(window).scroll(function() {
              if (!menu_scrolled_down && $(window).scrollTop() > 180 && parseInt($structure_profile_menu.css('top')) != 0 ) {
                  $structure_profile_menu.animate({ 'top': '0' });
                  menu_scrolled_down = true;
              } else if ($(window).scrollTop() < 180 && parseInt($structure_profile_menu.css('top')) == 0 ) {
                  $structure_profile_menu.animate({ 'top': '-100px' });
                  menu_scrolled_down = false;
              }
          });
          $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
      });

- cache 'pass/map/12/10/2014' do
  - @places = PlanningSearch.search({ discovery_pass: true, per_page: 1000 }, { group: :place_id_str}).group(:place_id_str).groups
  - @course_locations = Gmaps4rails.build_markers(@places) do |place_group, marker|
    - place = Place.find_by_id place_group.value
    - next if place.nil?
    - marker.lat place.latitude
    - marker.lng place.longitude
    - marker.infowindow "<ul class='flush'><li>#{place_group.results.map(&:course).map(&:name).join('</li><li>')}</li></ul>"

= content_for :scripts do
  :javascript
    $(function() {
        google_map_handler = Gmaps.build('Google');
        google_map_handler.buildMap({ provider: { scrollwheel: false, center: new google.maps.LatLng (48.8592, 2.3417), zoom: 12}, internal: { id: 'map-courses' }}, function() {
            markers = google_map_handler.addMarkers(#{@course_locations.to_json});
        });
        google.maps.event.addListenerOnce(google_map_handler.getMap(), 'center_changed', function() {
            mixpanel.track("DiscoveryPass / Moved google map");
        });
    });
