= side_menu_currently_at 'Users'

#users

%h2 Liste des utilisateurs

%table.table--striped#dataTable
  %thead
    %tr
      %th
      %th
        %span Nom
      %th
        %span Date d'inscription
      %th
        %span Dernière date de connexion
      %th.text--center
        %span Facebook
  %tbody
    - @users.each do |user|
      %tr
        %td.text--center
          - if user and (user.avatar.present? or user.fb_avatar)
            - if user.avatar.present?
              = image_tag user.avatar.url(:small), height: 30
            - elsif user.fb_avatar
              = image_tag user.fb_avatar, height: 30
          - else
            .profile-picture--small.center-block{class: "profile-picture-variation-#{((user.full_name.length * 16) % 14) + 1}"}
              = user.full_name.strip[0].capitalize
        %td
          = user.full_name
          = link_to "(#{user.email})", "mailto:#{user.email}"
        %td{data: {value: user.created_at}}
          = l(user.created_at, format: :date_short)
        %td{data: {value: user.last_sign_in_at}}
          = l(user.last_sign_in_at) if user.last_sign_in_at
        %td.text--center
          - if user.provider == 'facebook'
            %i.icon-ok

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        new TableSorter('dataTable', { columnDataTypes: 'string, date, date, string', cookieName: 'tableSortState__users', dateParseFunction: GLOBAL.DataTable.dateParseFunction}) ;
        new Highcharts.Chart({
            chart: { renderTo: 'users' },
            title: { text: null },
            xAxis: { categories: #{@users_signups.map{|date, count| l(Date.parse(date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [{ data: #{@users_signups.map{|date, count| count}} }]
        });

    });
