= side_menu_currently_at 'Users'

%h3.header-group
  %i.fa.fa-group
  Évolution des inscriptions
.white-box.islet.text--center
  .gamma
    #{User.active.count} élèves
  #users

.white-box.islet.text--center
  .gamma
    Par heure
  #user-hours

.text--center.push--ends
  = link_to 'Avec avis', pro_users_path(with_comments: true), class: 'btn btn--blue'

%table.table--striped.white-box#dataTable
  %thead
    %tr
      %th
      %th
        %span Nom
      %th
        %span Date d'inscription
      %th.text--center
        %span Facebook
      - if params[:with_comments]
        %th.text--center
          %span Dernier avis
  %tbody
    - @users.each do |user|
      %tr
        %td.text--center
          = image_tag user.avatar_url(:small), height: 40, class: 'rounded--circle'
        %td
          = user.name
          = link_to "(#{user.email})", "mailto:#{user.email}"
        %td{data: {value: user.confirmed_at}}
          = l(user.confirmed_at, format: :date).capitalize if user.confirmed_at
        %td.text--center{data: {value: (user.provider == 'facebook' ? 'f' : '')}}
          - if user.provider == 'facebook'
            %i.fa.fa-check
        - if params[:with_comments]
          %td{data: {value: user.created_at}}
            - comment = user.comments.last
            - if comment
              = link_to "Voir l'avis", structure_url(comment.structure, anchor: "recommandation-#{comment.id}", subdomain: 'www')

= content_for :scripts do
  :javascript
    $(function() {
        $('#dataTable').tablesorter();
        new Highcharts.Chart({
            chart: { renderTo: 'users', type: 'spline' },
            title: { text: null },
            xAxis: { categories: #{@users_graph.map{|date, count| l(Date.parse(date.to_s), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [{ data: #{@users_graph.map{|date, count| (count > 10000 ? 100 : count)}} }]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'user-hours', type: 'column' },
            title: { text: null },
            xAxis: { categories: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"] },
            yAxis: { title: { text: ''}},
            series: [
              { data: #{@users_per_hour.map{|key, value| value}},
                name: 'Inscriptions'
               }
            ]
        });
    });
