= side_menu_currently_at 'Users'

%script{type:"text/javascript", src:"https://www.google.com/jsapi"}

:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(
      #{
        [['Date', "Nombre d'inscrit"]] + @users_signups.collect{ |date, nb_signup| ["#{date}",  nb_signup] }
      }
    );

    var options = {
      title: 'Inscription par jour'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

#chart_div{style:"width: 100%; height: 200px;"}

%h2 Liste des utilisateurs

%table.table--striped#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th
        %span Date d'inscription
      %th
        %span Dernière date de connexion
      %th.text--center
        %span Facebook
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.full_name
          = link_to "(#{user.email})", "mailto:#{user.email}"
        %td{data: {value: user.created_at}}
          = l(user.created_at, format: :date_short)
        %td{data: {value: user.last_sign_in_at}}
          = l(user.last_sign_in_at) if user.last_sign_in_at
        %td.text--center
          - if user.provider == 'facebook'
            %i.icon-ok

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        var dateParseFunction = function(date) {
            if (date.replace(/^\s+|\s+$/g, '').length === 0) { // Strip
                return 0;
            } else {
                return new Date(date).getTime();
            }
        };
        new TableSorter('dataTable', { columnDataTypes: 'string, date, date, string', cookieName: 'tableSortState__users', dateParseFunction: dateParseFunction}) ;
    });
