= side_menu_currently_at 'Users'

%h2 Liste des utilisateurs (#{User.count})

%table.table--striped.white-box#dataTable
  %thead
    %tr
      %th
      %th
        %span Nom
      %th
        %span Date d'inscription
      %th
        %span Dernière date de connexion
      %th.text--center
        %span Facebook
  %tbody
    - @users.each do |user|
      %tr
        %td.text--center
          - if user and user.has_avatar?
            = image_tag user.avatar_url(:small), height: 30
          - elsif user.name.present?
            .profile-picture--small.center-block{class: "profile-picture-variation-#{((user.name.length * 16) % 14) + 1}"}
              = user.name[0].capitalize
        %td
          = user.name
          = link_to "(#{user.email})", "mailto:#{user.email}"
        %td{data: {value: user.created_at}}
          = l(user.created_at, format: :date_short)
        %td{data: {value: user.last_sign_in_at}}
          = l(user.last_sign_in_at) if user.last_sign_in_at
        %td.text--center{data: {value: (user.provider == 'facebook' ? 'f' : '')}}
          - if user.provider == 'facebook'
            %i.fa.fa-check-square-o

= content_for :scripts do
  :javascript
    $(function() {
        $('#dataTable').tablesorter();
    });
