<nav class="flexbox__item v-top border-none--right side-menu print--hidden">
  <ul>
    <li class="nowrap">
      <a href="{{dashboard_user_path}}" class="side-menu-link relative hoverable cursor-pointer">
        <i class="fa fa-dashboard"></i>
        <span>General</span>
      </a>
    </li>

    <li class="nowrap">
      <a href="{{dashboard_user_path}}" class="side-menu-link relative hoverable cursor-pointer">
        <i class="fa fa-dashboard"></i>
        <span>Vous</span>
      </a>
    </li>

    <li class="nowrap">
      <a href="{{dashboard_user_path}}" class="side-menu-link relative hoverable cursor-pointer">
        <i class="fa fa-dashboard"></i>
        <span>Planning</span>
      </a>
    </li>

    <li class="nowrap">
      <a href="{{dashboard_user_path}}" class="side-menu-link relative hoverable cursor-pointer">
        <i class="fa fa-dashboard"></i>
        <span>Inscriptions</span>
      </a>
    </li>

    <li class="nowrap">
      <a href="{{comments_user_path}}" class="side-menu-link relative hoverable cursor-pointer">
        <i class="fa fa-dashboard"></i>
        <span>Avis</span>
      </a>
    </li>
  </ul>
</nav>
