.panel
  .panel__header.soft
    %h3.flush Souhaitez-vous vous désabonner ?
  .panel__body.soft
    %p.epsilon
      Nous espérons que vous avez vécu de belles expériences grâce à votre Pass Découverte ! Voici quelques informations avant de résilier votre abonnement :

    %ul.epsilon
      %li En résiliant votre abonnement aujourd'hui, votre Pass restera actif jusqu'à la date initiale de renouvellement, c'est-à-dire jusqu'au #{l(@discovery_pass.expires_at)}, et vous ne serez plus prélevé ;
      %li Après cette date, vous n'aurez plus accès au Pass et vous ne pourrez plus en bénéficier ;
      %li Toutes vos inscriptions resteront valables, même celles qui ont lieu après la fin de votre Pass et même celles qui sont en attente de confirmation ;
      %li Vous pourrez vous réabonner à tout moment et vous pourrez également continuer à parrainer vos amis pour qu'ils se lancent eux aussi dans la découverte de nouvelles passions.

    %p.epsilon
      Pour mieux vous comprendre, pouvez-vous nous donner les raisons de votre désabonnement ?
    = simple_form_for [@user, @discovery_pass], url: cancel_user_discovery_pass_path(@user, @discovery_pass) do |f|
      = f.input :cancelation_reason_i_found_a_course, as: :boolean, wrapper_class: { class: 'checkbox-at-left' }, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
      = f.input :cancelation_reason_i_dont_want_to_try_more_courses, as: :boolean, wrapper_class: { class: 'checkbox-at-left' }, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
      %h5.push--top Autres. Précisez :
      = f.input :cancelation_reason_text, as: :text, label: false, input_html: { class: 'input--large one-whole' }
      .grid
        .grid__item.one-half>
          %a.btn.btn--full.btn--green{ onclick: '$.fancybox.close();' } Ne pas me désabonner
        .grid__item.one-half>
          = f.submit 'Me désabonner', class: 'btn btn--full btn--red', data: { disable_with: 'Désabonnement en cours...' }
