= user_menu_currently_at 'discovery_pass'

.panel
  .panel__header.soft
    = render partial: 'users/discovery_passes/breadcrumb', locals: { current: 'recap' }
  .panel__body.soft
    %table.epsilon.table--striped
      %thead
        %tr
          %th.one-half Offre
          %th.one-half Montant
      %tbody
        %tr
          %td Pass Découverte
          %td
            19€ / mois
        - if @discovery_pass.sponsorship
          %tr
            %td Offre parrainage
            %td= "-#{number_to_currency(@discovery_pass.sponsorship.credit_for_sponsored_user).gsub(/\,00/, "")} (valable pour le 1er mois)"
        %tr.text--right
          %th Total TTC
          %td= number_to_currency(@discovery_pass.amount).gsub(/\,00/, "")

        - if !@discovery_pass.sponsorship
          %tr.no-stripe
            %td
            %td
              = form_for @user, method: :get, url: new_user_discovery_pass_path(@user) do
                .hidden.promo-hidden
                  %input#promo-code{ name: 'promo_code', placeholder: 'CODE'}
                  %input.btn.btn--green{ type: 'submit', value: 'OK' }
                %a.pointer.milli#i-have-promo-code Entrer un code promotionnel

    = form_tag ENV['BE2BILL_URL'] do
      - @be2bill_params.each do |key, value|
        = hidden_field_tag key.to_sym, value
      = submit_tag 'Payer', class: 'btn btn--green btn--large btn--full hard--sides', data: { disable_with: 'Veuillez patienter...' }

= content_for :scripts do
  :javascript
    $(function() {
      $('#i-have-promo-code').click(function(){
          $(this).hide();
          $('.promo-hidden').show();
      });
    })
