= user_menu_currently_at 'discovery_pass'

.panel
  .panel__body.soft
    - if params['EXECCODE'] == '0000'
      %h2.text--center
        %i.fa.fa-check.green.fa-2x.v-middle
        %span.v-middle Félicitations ! Votre compte Pass découverte est maintenant actif.
      %h5.text--center
        Découvrez dès à présent les cours à découvrir autour de chez vous.
      .text--center
        = link_to "Découvrir tous les cours d'essai", discovery_pass_search_structures_path, class: 'btn btn--green btn--large'
    - else
      %h2.text--center.push-half--bottom
        Une erreur est survenue lors du paiement :
      %h4.text--center
        - if params['EXECCODE']
          = t("pro.structures.be2bill_errors.error_#{params['EXECCODE']}")
      .text--center
        = link_to 'Réessayer', new_user_discovery_pass_url(@user, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--large btn--green f-weight-bold'

