<div data-type="loader" class="<%= app.underscore.gsub(/_/, "-") %>__loader" style="display: none;">
  <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block" height="10">
</div>
<section id="widgets-container" class="<%= app.underscore.gsub(/_/, "-") %>__map-wrapper relative" data-type="google-maps">
    {{#each widget}}
        <div id="{{ id }}" data-type="widget"></div>
    {{/each}}
</section>

<section class="<%= app.underscore.gsub(/_/, "-") %>__list-wrapper">
    <header class="flexbox page-entries-wrapper soft-half">
        <div class="one-whole" data-type="insert-widget-slug"></div>
    </header>

    <div id="<%= master_region_name %>">
    </div>

</section>
