- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :header_links do
  = link_to 'Connexion', new_user_session_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'JPO', open_courses_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'Rechercher', structures_url(subdomain: 'www')

- if @structure.logo.present?
  - content_for :logo do
    = image_tag @structure.logo.url(:thumb), alt: 'CoursAvenue', width: '100', height: '100', style: 'width: 100px; height: 100px;'

- content_for :promo do
  %h4
    Bonne nouvelle : votre inscription était sur liste d'attente, elle est maintenant confirmée !

%p
  Votre inscription est confirmée concernant l'atelier suivant :

%ul
  %li Atelier : #{@course.name}
  %li
    Date :
    = l(@planning.start_date, format: :semi_long).capitalize
    = "de #{l(@planning.start_time, format: :short)} à #{l(@planning.end_time, format: :short)} (#{readable_duration(@planning.duration)})"
  %li Lieu : #{@planning.place.address}

%p
  Retrouvez toutes les informations complémentaires depuis
  = link_to 'votre profil.', user_participations_url(@user, inscription_confirmed: true)
  En attendant profitez-en pour inviter vos proches, les places sont limitées !
%p.action
  = link_to "Inviter mes proches", jpo_new_user_invited_users_url(@user, subdomain: 'www'), class: 'btn btn--green'


%p.blue.blue-tip
  %i Trucs & astuces : depuis votre profil, invitez vos amis, familles et collègues à participer aux Portes Ouvertes avec vous.

- content_for :under_content do
  = render 'invite_friends_to_jpos'

- content_for :under_content_2 do
  = render 'user_mailer/footer_info'

