- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :header_links do
  = link_to 'Connexion', new_user_session_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'JPO', open_courses_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'Rechercher', structures_url(subdomain: 'www')

- content_for :promo do
  %h4
    - if @planning.places_left?
      Il ne reste plus que
      %span #{pluralize(@planning.places_left, 'place')}
      disponibles à votre atelier gratuit : n'attendez pas pour inviter vos proches

    - else
      Invitez vos proches à participer aux Portes Ouvertes CoursAvenue !

%p
  - if @planning.places_left?
    N'attendez pas que le cours soit complet ! Invitez dès maintenant votre famille, vos amis ou vos collègues à s'inscrire au même atelier que vous :
  - else
    Vous vous êtes récemment inscrits à un atelier des Portes Ouvertes des cours de loisirs. N'attendez plus pour inviter votre entourage à profiter des centaines de cours gratuits :

%p.action
  = link_to "Inviter mes proches", jpo_new_user_invited_users_url(@user, subdomain: 'www'), class: 'btn btn--green'

%p.blue.blue-tip
  %i Trucs & astuces : depuis votre profil, renseignez vos passions pour recevoir des invitations à des cours d'essai gratuits et des promotions tout au long de l'année.

- content_for :under_content_2 do
  = render 'user_mailer/footer_info'
