- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :header_links do
  = link_to 'Connexion', dashboard_pro_structure_url(@structure, subdomain: 'pro')
  %span.gray-light &#124;
  = link_to 'Aide', pro_pages_questions_url(subdomain: 'pro')
  %span.gray-light &#124;
  = link_to 'Portes Ouvertes', pro_structure_course_opens_url(@structure, subdomain: 'pro')

- content_for :promo do
  %h4
    Félicitations ! Vos Portes Ouvertes affichent complet

%p
  Quel succès ! Toutes les places pour vos ateliers Portes Ouvertes ont été réservées. Pour attirer encore plus d'élèves, proposez de nouveaux ateliers depuis votre profil :

%p.action
  = link_to "Ajouter des nouveaux ateliers Portes Ouvertes", pro_structure_course_opens_url(@structure, subdomain: 'pro'), class: 'btn btn--green'

%p.blue.blue-tip
  %i Trucs & astuces : depuis votre profil, ajoutez autant d'ateliers que vous le souhaitez et profitez de l'occasion pour inviter votre réseau.

