- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :header_links do
  = link_to 'Connexion', new_user_session_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'JPO', open_courses_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'Rechercher', structures_url(subdomain: 'www')

- content_for :promo do
  %h4
    - if @participations.length == 1
      Votre inscription en liste d'attente
    - else
      Vos inscriptions en liste d'attente

%p
  Vous vous êtes récemment inscrit à des ateliers mais êtes en liste d'attente.

%p.action
  = link_to "M'inscrire à d'autres ateliers", open_courses_url(subdomain: 'www'), class: 'btn btn--yellow'

%p.flush
  - if @participations.length == 1
    %strong Ci-dessous, un récapitulatif de votre inscription en liste d'attente :
  - else
    %strong Ci-dessous, un récapitulatif de vos inscriptions en liste d'attente :

- content_for :under_content_no_box do
  - @participations.each_with_index do |participation, index|
    %br
    %table.under-content{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600', style: 'width: 600px; margin: auto;'}
      %tr
        %td.content-block.white-box{width: '600', style: 'width: 600px; padding: 15px'}
          - course = participation.course
          - place  = participation.planning.place
          %p
            %strong.italic
              = l(participation.planning.start_date, format: :semi_long).capitalize
              = "de #{l(participation.planning.start_time, format: :short)} à #{l(participation.planning.end_time, format: :short)}"
            %br
            = link_to place.address, "http://maps.google.com/?q=#{place.address}", target: :_blank
            = "(#{place.name})"
            %br
            %strong= course.name
            %br
            %strong Organisateur :
            = "#{course.structure.name},"
            = course.structure.contact_email
            = course.structure.phone_numbers.map(&:number).join(', ')
          - if course.info.present?
            %p
              %strong Infos pratiques sur le cours
              %br
              = course.info
          - if place.info.present? or place.private_info.present?
            %p
              %strong Infos pratiques sur le lieu
              %br
              = place.info
              %br
              = place.private_info
