- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :header_links do
  = link_to 'Connexion', new_user_session_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'JPO', open_courses_url(subdomain: 'www')
  %span.gray-light &#124;
  = link_to 'Rechercher', structures_url(subdomain: 'www')

- content_for :promo do
  %h4
    - if @participations.length == 1
      Récapitulatif de votre inscription aux Portes Ouvertes CoursAvenue
    - else
      Récapitulatif de vos inscriptions aux Portes Ouvertes CoursAvenue

%p
  Bonjour #{@user.name},
%p
  Nous sommes ravis de votre participation aux Portes Ouvertes de ce week-end ! Pour que tout se passe sans problème, assurez-vous d'avoir toutes les informations concernant
  - if @participations.length == 1
    votre
  - else
    vos
  cours :

%ul
  %li
    Vérifiez bien le récapitulatif de
    - if @participations.length == 1
      votre inscription ci-dessous ;
    - else
      vos inscriptions ci-dessous ;
  %li
    = link_to "Imprimez et emportez votre récapitulatif", user_participations_url(@user, subdomain: 'www')
    avec vous le jour J, y compris l'adresse de l'organisateur et son numéro de téléphone ;
  %li
    Si vous souhaitez annuler ou modifier
    - if @participations.length == 1
      votre inscription,
    - else
      vos inscriptions,
    faites-le dès maintenant depuis
    = link_to 'votre profil.', user_participations_url(@user, subdomain: 'www')

%p.action
  = link_to "Accéder à mon profil et imprimer mon récapitulatif", user_participations_url(@user, subdomain: 'www'), class: 'btn btn--yellow'

%p
  Profitez-bien de
  - if @participations.length == 1
    votre atelier
  - else
    vos ateliers
  et très belle découverte !
%p
  L'équipe CoursAvenue


- content_for :under_content_no_box do
  - @participations.each_with_index do |participation, index|
    %br
    %table.under-content{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600', style: 'width: 600px; margin: auto;'}
      %tr
        %td.content-block.white-box{width: '600', style: 'width: 600px; padding: 15px'}
          - course = participation.course
          - place  = participation.planning.place
          %p
            %strong.italic
              = l(participation.planning.start_date, format: :semi_long).capitalize
              = "de #{l(participation.planning.start_time, format: :short)} à #{l(participation.planning.end_time, format: :short)}"
            %br
            = link_to place.location.address, "http://maps.google.com/?q=#{place.location.address}", target: :_blank
            = "(#{place.location.name})"
            %br
            %strong= course.name
            %br
            %strong Organisateur :
            = "#{course.structure.name},"
            = course.structure.contact_email
            - if course.structure.contact_mobile_phone
              = course.structure.contact_mobile_phone
            - if course.structure.contact_phone
              = course.structure.contact_phone
          - if course.info.present?
            %p
              %strong Infos pratiques sur le cours
              %br
              = course.info
          - if place.info.present? or place.private_info.present?
            %p
              %strong Infos pratiques sur le lieu
              %br
              = place.info
              %br
              = place.private_info
