- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :promo do
  %h4
    Vous participez aux Portes Ouvertes CoursAvenue avec #{@invited_by.name}, voici votre récapitulatif

%p
  Bonjour,
%p
  #{@invited_by.name} nous a indiqué que vous l'accompagnerez et que vous participerez à
  - if @participations.length == 1
    un cours de loisir gratuit
  - else
    des cours de loisirs gratuits
  ce week-end, et nous en sommes ravis ! Pour que tout se passe sans problème, assurez-vous d'avoir toutes les informations concernant
  - if @participations.length == 1
    votre
  - else
    vos
  cours :

%ul
  %li
    Vérifiez bien le récapitulatif de
    - if @participations.length == 1
      votre inscription ci-dessous ;
    - else
      vos inscriptions ci-dessous ;
  %li
    Imprimez cet email et emportez-le avec vous le jour J, de manière à avoir l'adresse de l'organisateur et son numéro de téléphone ;
  %li
    Si vous souhaitez annuler ou modifier
    - if @participations.length == 1
      votre inscription,
    - else
      vos inscriptions,
    prévenez et demandez à #{@invited_by.name} (#{@invited_by.email}) de le faire directement depuis son compte CoursAvenue.

%p
  Si vous souhaitez vous inscrire à d'autres ateliers, les inscriptions sont toujours ouvertes :

%p.action
  = link_to "M'inscrire à plus d'ateliers", open_courses_url(subdomain: 'www'), class: 'btn btn--green'

%p
  Profitez-bien de
  - if @participations.length == 1
    votre atelier
  - else
    vos ateliers
  et très belle découverte !
%p
  L'équipe CoursAvenue

- content_for :under_content_no_box do
  - @participations.each_with_index do |participation, index|
    %br
    %table.under-content{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600', style: 'width: 600px; margin: auto;'}
      %tr
        %td.content-block.white-box{width: '600', style: 'width: 600px; padding: 15px'}
          - course = participation.course
          - place  = participation.planning.place
          %p
            %strong.italic
              = l(participation.planning.start_date, format: :semi_long).capitalize
              = "de #{l(participation.planning.start_time, format: :short)} à #{l(participation.planning.end_time, format: :short)}"
            %br
            = link_to place.address, "http://maps.google.com/?q=#{place.address}", target: :_blank
            = "(#{place.name})"
            %br
            %strong= course.name
            %br
            %strong Organisateur :
            = "#{course.structure.name},"
            = course.structure.contact_email
            = course.structure.phone_numbers.map(&:number).join(', ')

          - if course.info.present?
            %p
              %strong Infos pratiques sur le cours
              %br
              = course.info
          - if place.info.present? or place.private_info.present?
            %p
              %strong Infos pratiques sur le lieu
              %br
              = place.info
              %br
              = place.private_info
