- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :header_links do
  = link_to 'Connexion', dashboard_pro_structure_url(@structure, subdomain: 'pro')
  %span.gray-light &#124;
  = link_to 'Aide', pro_pages_questions_url(subdomain: 'pro')
  %span.gray-light &#124;
  = link_to 'Portes Ouvertes', pro_structure_course_opens_url(@structure, subdomain: 'pro')

- content_for :promo do
  %h4 Récapitulatif des inscription à vos Portes Ouvertes

.p
  Bonjour,

.p
  Nous sommes ravis de votre participation aux Portes Ouvertes de ce week-end ! Voici quelques conseils pour assurer le bon fonctionnement de vos ateliers :

%ul
  %li
    Vérifiez le récapitulatif de vos cours ci-dessous : pour toute modification, prévenez l'équipe CoursAvenue (contact@coursavenue.com) ainsi que vos inscrits en leur envoyant un message groupé
    = link_to 'depuis votre profil', pro_structure_participations_url(@structure, subdomain: 'pro')
    ;

  %li Profitez de l'occasion pour présenter votre lieu à vos nouveaux élèves et l'esprit de votre enseignement ;
  %li En fin de séance, n'hésitez pas à leur expliquer ce qu'ils pourront apprendre s'ils viennent à vos cours de manière régulière, et parlez-leur de vos offres et des stages à venir ;
  %li Une fois l'événement terminé, vous aurez accès à tous leurs emails, vous pourrez ainsi continuer à communiquer avec eux ;
  %li Dès la semaine prochaine, l'équipe CoursAvenue prendra contact avec vous pour faire le point et connaître votre ressenti.

.p.action
  = link_to "Modifier ou annuler mes inscriptions", pro_structure_participations_url(@structure, subdomain: 'pro'), class: 'btn btn--green'

.p
  Toute l'équipe CoursAvenue vous souhaite de très belles Portes Ouvertes ! Très bon week-end à vous, merci,

.p
  L'équipe CoursAvenue

- content_for :under_content_no_box do
  - @open_courses.each do |open_course|
    %br
    %table.under-content{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600', style: 'width: 600px; margin: auto;'}
      %tr
        %td.content-block.white-box{width: '600', style: 'width: 600px; padding: 15px'}
          %h4= open_course.name
          - open_course.plannings.order('start_date ASC, start_time ASC').each_with_index do |planning, index|
            %div
              %strong Date & heure :
              = planning_date_for(planning).capitalize
              = planning_time_for(planning, false)
              %br
              %strong Lieu :
              = "#{planning.place.name} (#{planning.place.address})"
              %br
              %strong Nombre d'inscriptions :
              = "#{pluralize(planning.participations.not_canceled.not_in_waiting_list.count, 'élève')}"

            - unless index == open_course.plannings.length - 1
              %hr
