- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :header_links do
  = link_to 'Connexion', dashboard_pro_structure_url(@structure, subdomain: 'pro')
  %span.gray-light &#124;
  = link_to 'Aide', pro_pages_questions_url(subdomain: 'pro')
  %span.gray-light &#124;
  = link_to 'Portes Ouvertes', pro_structure_course_opens_url(@structure, subdomain: 'pro')

- content_for :promo do
  %h4
    Félicitations ! Un élève vient de s'inscrire à vos Portes Ouvertes.

%p
  Informations sur la réservation :
%ul
  %li
    Nom de l'élève :
    = participation_user_name(@participation)
  %li Atelier : #{@course.name}
  %li
    Date :
    = l(@planning.start_date, format: :semi_long).capitalize
    = "de #{l(@planning.start_time, format: :short)} à #{l(@planning.end_time, format: :short)} (#{readable_duration(@planning.duration)})"
  %li Nombre de places restantes : #{@planning.places_left}

%p Connectez-vous à votre profil pour suivre vos inscriptions :

%p.action
  = link_to "Suivre mes inscriptions", pro_structure_course_opens_url(@structure, subdomain: 'pro'), class: 'btn btn--green'

%p.blue.blue-tip
  %i Trucs & astuces : depuis votre profil, offrez à vos élèves l'opportunité d'inviter leurs proches.

- content_for :under_content do
  = render 'participation_mailer/invite_students_to_jpos'

- content_for :under_content_2 do
  = render 'participation_mailer/jpo_advantages'
