= side_menu_currently_at 'Journées Portes Ouvertes'

= render partial: 'pro/open_courses/tabs', locals: { current: 'fulfillment' }

%h3.push-half--bottom Remplissage par structure
%table.table--striped.dataTable.table--data.white-box.push--bottom#dataTable
  %thead
    %tr
      %th Nom de l'établissement
      %th Disciplines mères
      %th Disciplines enfants
      %th # places
  %tbody
    - @structures.each do |structure|
      %tr
        %td= link_to structure.name, pro_structure_course_opens_path(structure)
        %td= join_parent_subjects_text structure
        %td= join_child_subjects_text structure
        - max    = 0
        - places = 0
        - structure.plannings.each do |planning|
          - max    += planning.nb_participants_max
          - places += planning.nb_jpo_participants
        %td{ data: { value: places } }
          .progress.inline-block.v-middle.push-half--left{style: 'width: 10em;'}
            .bar.bar-success{style: "width: #{(places * 100) / max}%;"}
              #{places}/#{max}

= content_for :scripts do
  :javascript
    $(function() {
        var myTextExtraction = function(node) {
            // extract data from markup and return it
            if (node.dataset.value) {
                return parseInt(node.dataset.value);
            } else {
                return node.innerHTML;
            }
        }
        $('#dataTable').tablesorter({ textExtraction: myTextExtraction });
    });
