= side_menu_currently_at 'JPO'

= render partial: 'pro/open_courses/tabs', locals: { current: 'jpo' }

.text--center.push--bottom.blue-box.soft-half
  %h3.flush
    La valeur de l'événement est de :
    %span#price-of-the-event= number_to_currency Course::Open.all.map{|course| (course.common_price || 20) * course.nb_participants_max * course.plannings.count}.reduce(&:+)

.text--center
  .inline-block.one-quarter.push--bottom.v-middle.push--sides
    .white-box.soft-half.text--center
      %h3.flush= "#{Course::Open.all.map(&:structure_id).uniq.length} structures"

  .inline-block.one-quarter.push--bottom.v-middle.push--sides
    .white-box.soft-half.text--center
      %h3.flush= "#{Course::Open.count} atelier JPOs"
      %h6.flush dont #{Course::Open.where( Course::Open.arel_table[:created_at].gt(Date.today) ).count} aujourd'hui
      %div et #{Course::Open.where( Course::Open.arel_table[:created_at].gt(Date.today- 7.days) ).count} les 7 derniers jours

  .inline-block.one-quarter.push--bottom.v-middle.push--sides
    .white-box.soft-half.text--center
      %h3.flush
        = Course::Open.all.map{|course| course.nb_participants_max * course.plannings.count}.reduce(&:+)
        places

%h3.push-half--bottom Ateliers non validés
%table.table--striped.dataTable.table--data.white-box.push--bottom.dataTable
  %thead
    %tr
      %th
      %th Nom de l'établissement
      %th Nom du cours
      %th Type
      %th.text--center Places
      %th Prix
      %th
        %i.fa-clock-o
      %th Follow up
  %tbody
    - @courses_inactive.each do |course|
      %tr
        %td
          - if course.active?
            = link_to disable_pro_structure_course_path(course.structure, course), remote: true, method: :patch, title: 'Enlever le cours de CoursAvenue' do
              %i.fa-check.green
          - else
            = link_to activate_pro_structure_course_path(course.structure, course), remote: true, method: :patch, title: 'Afficher le cours sur CoursAvenue'  do
              %i.fa-times.red

        %td= link_to course.structure.name, pro_structure_course_opens_path(course.structure)
        %td= course.name
        %td= course.event_type
        %td.text--center.nowrap
          = course.plannings.count
          \-
          = course.nb_participants_max * course.plannings.count
        %td
          - if course.price
            = readable_amount(course.price)
          - if course.common_price
            %span.line-through= readable_amount(course.common_price)
          %span.green Gratuit
        %td{ data: { value: course.updated_at.to_i }}
          = l(course.updated_at, format: :date)
          %i.fa-clock-o{title: "Créé le : #{l(course.created_at, format: :date)} / Modifié le : #{l(course.updated_at, format: :date)}", data: { behavior: 'tooltip' }}
        %td
          = simple_form_for [:pro, course], url: pro_structure_course_path(course.structure, course), as: :course, remote: true do |f|
            = f.input :ca_follow_up, label: false, input_html: { style: 'width: 100px; height: 50px; font-size: 11px;' }, wrapper_html: { class: 'flush' }
            = f.submit 'Valider', class: 'btn btn--small btn--green btn--full', data: { disable_with: "En cours" }

%h3.push-half--bottom Ateliers validés
%table.table--striped.dataTable.table--data.white-box.flush--bottom.dataTable
  %thead
    %tr
      %th
      %th Nom de l'établissement
      %th Nom du cours
      %th Type
      %th.text--center Places
      %th Prix
      %th
        %i.fa-clock-o
      %th Follow up
  %tbody
    - @courses_active.each do |course|
      %tr
        %td
          - if course.active
            = link_to disable_pro_structure_course_path(course.structure, course), remote: true, method: :patch, title: 'Enlever le cours de CoursAvenue' do
              %i.fa-check.green
          - else
            = link_to activate_pro_structure_course_path(course.structure, course), remote: true, method: :patch, title: 'Afficher le cours sur CoursAvenue'  do
              %i.fa-times.red

        %td= link_to course.structure.name, pro_structure_course_opens_path(course.structure)
        %td= course.name
        %td= course.event_type
        %td.text--center.nowrap
          = course.plannings.count
          \-
          = course.nb_participants_max * course.plannings.count
        %td
          - if course.price
            = readable_amount(course.price)
          - if course.common_price
            %span.line-through= readable_amount(course.common_price)
          %span.green Gratuit
        %td{ data: { value: course.updated_at.to_i }}
          = l(course.updated_at, format: :date)
          %i.fa-clock-o{title: "Créé le : #{l(course.created_at, format: :date)} / Modifié le : #{l(course.updated_at, format: :date)}", data: { behavior: 'tooltip' }}
        %td
          = simple_form_for [:pro, course.structure, course], url: pro_structure_course_path(course.structure, course), as: :course, remote: true do |f|
            = f.input :ca_follow_up, label: false, input_html: { style: 'width: 100px; height: 50px; font-size: 11px;' }, wrapper_html: { class: 'flush' }
            = f.submit 'Valider', class: 'btn btn--small btn--green btn--full', data: { disable_with: "En cours" }


= content_for :scripts do
  :javascript
    $(function() {
        var price_of_the_event = $('#price-of-the-event');
        var initial_price = price_of_the_event.text();
        var random_price = function() {
          price_of_the_event.text(Math.floor(Math.random() * 10) + '' + Math.floor(Math.random() * 10) + '' + Math.floor(Math.random() * 10) + ' ' + Math.floor(Math.random() * 10) + '' + Math.floor(Math.random() * 10) + '' + Math.floor(Math.random() * 10) + ',' + Math.floor(Math.random() * 10) + '' + Math.floor(Math.random() * 10) + ' €')
        }
        for(var i = 0; i <= 50000; i += 1) {
          if (i == 50000) {
            setTimeout(function() {
              price_of_the_event.text(initial_price);
            }, 20);
          } else {
            setTimeout(random_price, 20);
          }
        }
        $('[data-method="patch"]').bind('ajax:complete', function() {
            $(this).find('i').toggleClass('fa-times fa-check green red');
            COURSAVENUE.helperMethods.flash('Cours mis à jour')
        });
        $('form').on('ajax:success', function() {
              COURSAVENUE.helperMethods.flash('Follow up enregistré')
        });
        var myTextExtraction = function(node) {
            // extract data from markup and return it
            if (node.dataset.value) {
                return parseInt(node.dataset.value);
            } else {
                return node.innerHTML;
            }
        }
        $('.dataTable').tablesorter({ textExtraction: myTextExtraction });
    });
