= side_menu_currently_at 'crm'

= render partial: 'pro/structures/user_profiles/tabs', locals: { current: 'list' }

%h1 Répertoire

- if @user_profiles.any?
  .text--center.island{ :data => { :type => "user-management-loader" }}
    = image_tag 'gifs/loading-indicator-circle.gif', class: 'center-block', height: 20
  #user-management{ :data => { :type => "user-management-root" }}
- else
  .bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.text--center
    %p.delta.line-height-1-7
      Pour envoyer votre première newsletter, ajouter vos contacts
    %div
      = link_to new_pro_structure_user_profile_import_path(@structure), class: 'btn btn--green' do
        %i.fa.fa-plus
        Importer mes contacts


:javascript
  window.coursavenue = window.coursavenue || {};
  var models = #{ActiveModel::ArraySerializer.new(@user_profiles, each_serializer: UserProfileSerializer).to_json};
  window.coursavenue.bootstrap = {
    options: {
      total       : #{ @user_profiles_search.total },
      ids         : #{ @structure.user_profiles.map(&:id) },
      structure_id: #{ @structure.id }
    },
    models: models
  };
