= side_menu_currently_at 'crm'

.panel
  = render partial: 'tabs', locals: { current: 'list' }
  .panel__body.soft--ends
    .soft--sides{ data: { behavior: 'wizard-helper', content: t('user_profile.wizard.infos')} }
      .push-half--bottom.premium-box.soft.relative.text--center
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/premium-ribbon.png', class: 'north west absolute on-under-top', height: 70, width: 70, style: 'width: 70px; height: 70px;'
        = render partial: 'pro/structures/premium_select', locals: { title: "accéder aux coordonnées de tous les élèves CoursAvenue ?", label_text: 'Affichage des coordonnées des élèves :', select_collection: ['Actif', 'Non actif'] }

    .text--center.island{ :data => { :type => "user-management-loader" }}
      = image_tag 'gifs/loading-indicator-circle.gif', class: 'center-block', height: 20
    #user-management{ :data => { :type => "user-management-root" }}

:javascript
  window.coursavenue = window.coursavenue || {};
  var models = #{ActiveModel::ArraySerializer.new(@user_profiles, each_serializer: UserProfileSerializer).to_json};
  window.coursavenue.bootstrap = {
    options: {
      total       : #{ @user_profiles_search.total },
      ids         : #{ @structure.user_profiles.map(&:id) },
      structure_id: #{ @structure.id }
    },
    models: models
  };
