= side_menu_currently_at 'crm'

= render partial: 'pro/structures/user_profiles/tabs', locals: { current: 'list' }
.text--center.island{ :data => { :type => "user-management-loader" }}
  = image_tag 'gifs/loading-indicator-circle.gif', class: 'center-block', height: 20
#user-management{ :data => { :type => "user-management-root" }}

:javascript
  window.coursavenue = window.coursavenue || {};
  var models = #{ActiveModel::ArraySerializer.new(@user_profiles, each_serializer: UserProfileSerializer).to_json};
  window.coursavenue.bootstrap = {
    options: {
      total       : #{ @user_profiles_search.total },
      ids         : #{ @structure.user_profiles.map(&:id) },
      structure_id: #{ @structure.id }
    },
    models: models
  };
