= simple_form_for [:pro , @structure, @user_profile] do |f|
  = f.error_notification
  .alert.alert-error
    = @user_profile.errors[:base].to_sentence
  .form-white-box
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :birthdate
    = f.input :notes
    = f.input :phone
    = f.input :mobile_phone
    = f.input :address
    .form-actions
      = f.submit 'Enregistrer', class: 'btn btn--green', disable_with: "En cours d'enregistrement"
