.grid--full.push-half--bottom.message
  .grid__item.two-twelfths.v-top.v-top>
    = image_tag @admin.avatar, class: 'message__avatar block center-block bordered'
  .grid__item.ten-twelfths.message__body.soft-half.gray-box>
    = simple_form_for [:pro, @structure, @conversation], url: pro_structure_conversation_path(@structure, @conversation), as: :conversation do |f|
      = f.error_notification
      = f.fields_for :message, @message, class: 'message__body' do |message_form|
        = message_form.input :body, input_html: { placeholder: 'Ajouter un message personnel ici', style: 'height: 100px', class: 'input--large one-whole', data: { behavior: 'autoresize' } }, as: :text, label: false, wrapper_html: { class: 'flush--top' }
      = f.submit 'Répondre', class: 'btn btn--green', data: { disable_with: "Message en cours d'envoi" }
