= simple_form_for [:pro, @structure, @conversation] do |f|
  .form-white-box
    = f.error_notification
    = f.fields_for :messages do |message_form|
      = message_form.input :recipients, as: :select, collection: @structure.users.sort_by(&:name), input_html: {data: {behavior: 'chosen', placeholder: 'Sélectionnez un destinataires'}}, selected: (params[:message] ? params[:message][:recipients] : nil)
      = message_form.input :subject, input_html: {value: 'Réponse à votre avis'}
      = message_form.input :body, input_html: { style: 'height: 150px', data: {behavior: 'autoresize'} }
    .form-actions
      = f.submit 'Envoyer', class: 'btn btn--green'
