.grid
  .grid__item.one-twelfth.v-top.text--right>
    = image_tag @admin.avatar, class: 'message__avatar'
  .grid__item.eleven-twelfths.soft-half--left>
    = simple_form_for [:pro, @structure, @conversation] do |f|
      .form-white-box.flush
        = f.error_notification
        = f.fields_for @message do |message_form|
          .grid--full
            .grid__item.two-twelfths>
              = message_form.label :body
            .grid__item.ten-twelfths>
              = message_form.input :body, input_html: { style: 'height: 100px', class: 'one-whole', data: {behavior: 'autoresize'} }, as: :text, label: false, wrapper_html: { class: 'flush--top' }
              = f.submit 'Répondre', class: 'btn btn--green btn--full', disable_with: "Message en cours d'envoi"

