= side_menu_currently_at 'messages'
.panel
  .panel__body.soft
    %div{ data: { behavior: 'wizard-helper', content: "<p><strong>Envoyez des messages à vos contacts</strong></p><p><strong>Messages privés</strong><br>Envoyez des messages personnels aux contacts présents dans votre répertoire.</p><p><strong>Important</strong> : répondez en priorité aux messages de demande d'information. Plus vous êtes réactif, plus votre profil apparaîtra dans les 1ers résultats de CoursAvenue. Si vous ne répondez pas sous 48h, un e-mail sera envoyé à l'élève l'invitant à contacter un autre profil.</p><p><strong>Messages groupés</strong><br>Envoyez des messages à plusieurs contacts présents dans votre répertoire en même temps. Ils recevront individuellement votre message par e-mail (sans toutefois voir les autres contacts du message groupé) et pourront y répondre simplement.</p><p>La messagerie groupée n'est accessible que pour les comptes Premium.</p>" } }
      .text--center.push--bottom
        - if @structure.users.any?
          = link_to 'Nouveau message', new_pro_structure_message_path(@structure), class: 'btn btn--green btn--large'
        - else
          = link_to 'Nouveau message', '#no_users', class: 'btn btn--green btn--large', data: { behavior: 'modal' }


      .grid.push--bottom
        .grid__item.one-half.v-middle>
          %select#conversation_label{ name: 'conversation_label_id' }
            %option{ value: '' } Tous les messages
            %option{ selected: (params[:conversation_label_id].to_i == Mailboxer::Label::INFORMATION.id), value: Mailboxer::Label::INFORMATION.id } Demande d'information (#{@admin.mailbox.conversations.where(mailboxer_label_id: Mailboxer::Label::INFORMATION.id).count})
            %option{ selected: (params[:conversation_label_id].to_i == Mailboxer::Label::COMMENT.id), value: Mailboxer::Label::COMMENT.id } Avis déposé (#{@admin.mailbox.conversations.where(mailboxer_label_id: Mailboxer::Label::COMMENT.id).count})
            %option{ selected: (params[:conversation_label_id].to_i == Mailboxer::Label::CONVERSATION.id), value: Mailboxer::Label::CONVERSATION.id } Conversation (#{@admin.mailbox.conversations.where(mailboxer_label_id: Mailboxer::Label::CONVERSATION.id).count})
        .grid__item.one-half.v-middle>
          .text--right= paginate @conversations, window: 1, outer_window: 3
      - @conversations.each do |conversation|
        = link_to pro_structure_conversation_path(@structure, conversation), class: 'muted-link block' do
          = render partial: 'conversations/conversation', locals: { conversation: conversation }


    .text--center= paginate @conversations, window: 1, outer_window: 3

- if @structure.users.empty?
  #no_users.hidden
    %p Cet outil de conversation vous permettra d'envoyer des messages privés à vos élèves : nos partenaires qui partagent des informations régulièrement avec leurs élèves sont ceux qui ont un plus fort taux de fidélité et le meilleur bouche à oreille.

    %p Pour pouvoir envoyer votre premier message, vous devez d'abord avoir reçu des recommandations ou avoir utilisé notre outil de demande automatique dans lequel vous avez renseigné les emails de vos élèves.
    .text--center
      = link_to "Obtenir des avis", recommendations_pro_structure_path(@structure), class: 'btn btn--blue'

= content_for :scripts do
  :javascript
    $(function() {
        $('#conversation_label').change(function() {
            window.location = '?conversation_label_id=' + $(this).val()
        });
    });
