= side_menu_currently_at 'messages'

= render partial: 'pro/structures/conversations/tabs', locals: { current: @current_tab[:id] }

%h1= @current_tab[:name]

%div{ data: { behavior: 'wizard-helper', content: t('messages.wizard.index') } }
  - if @conversations.any?
    = render partial: 'conversation_navigation', locals: { current_tab: @current_tab }
    - @conversations.each do |conversation|
      = render partial: 'pro/conversations/conversation', locals: { conversation: conversation }
  - elsif (params[:conversation_label_id].present? or params[:read].present?) and @conversations.empty?
    .bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.delta.text--center
      %p
        Vous n'avez pas de message de ce type.
      %div
        = link_to pro_structure_conversations_path(@structure), class: 'btn btn--green' do
          Retourner aux Messages
  - else
    = render partial: 'pro/structures/improve_your_stats', locals: { message: "Vous n'avez pas de message. Quelques conseils pour améliorer vos statistiques : "}

.text--center.push--top= paginate @conversations, window: 1, outer_window: 3

- if @structure.users.empty?
  #no_users.hidden
    .panel
      .panel__header.soft
        %h3.flush Vous ne pouvez pas encore envoyer de message
      .panel__body.soft
        %p Cet outil de conversation vous permettra d'envoyer des messages privés à vos élèves : nos partenaires qui partagent des informations régulièrement avec leurs élèves sont ceux qui ont un plus fort taux de fidélité et le meilleur bouche à oreille.

        %p Pour pouvoir envoyer votre premier message, vous devez d'abord avoir reçu des recommandations ou avoir utilisé notre outil de demande automatique dans lequel vous avez renseigné les emails de vos élèves.
        .text--center
          = link_to "Obtenir des avis", recommendations_pro_structure_path(@structure), class: 'btn btn--blue'
