= side_menu_currently_at 'messages'

- recipients = @conversation.recipients.reject{|recipient| recipient == @admin }
%ol.nav.breadcrumb{itemprop: 'breadcrumb'}
  %li.delta= link_to 'Mes conversations', pro_structure_conversations_path(@structure)
  %li.delta Conversation avec #{truncate(recipients.map{|recipient| recipient.name || recipient.email}.join(', '), length: 50) }

.grid
  .grid__item.one-twelfth.v-top.text--right>
    %p.flush Objet
    %p À
  .grid__item.eleven-twelfths.soft-half--left>
    %h5.flush= @conversation.subject
    %p= recipients.map(&:name).join(', ')

= render partial: 'messages/message', collection: @conversation.messages.reject(&:new_record?).sort_by(&:created_at)

= render 'pro/structures/conversations/form'
