- content_for :email_title do
  Votre résiliation au Pass Découverte vient d'être prise en compte.

.p
  Bonjour #{@user.first_name}

.p
  Nous vous informons que votre Pass Découverte sera renouvelé dans 5 jours : le
  %strong= I18n.l(@discovery_pass.expires_at)
  nous vous prélèverons 19€, ce qui vous permettra de continuer à vous inscrire et découvrir tous les cours de loisirs autour de vous :
  pour réserver vos cours d'essai :

.p.action
  = link_to "Réserver plus de cours", discovery_pass_search_structures_url, class: 'btn btn--green'

.p
  Si vous souhaitez gérer ou résilier votre abonnement, accédez à votre compte, rubrique "Pass Découverte" :

.p.action
  = link_to "Gérer mon abonnement", user_discovery_pass_url(@user, @user.discovery_pass, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green'


= render 'shared/mailers/footer'

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'

