- content_for :email_title do
  Votre Parrainage a été prit en compte.

.title
  Félicitations !

.p
  = "Votre parrainage vient d'être pris en compte : suite à votre invitation, #{@sponsored_user.name} a souscrit au Pass pour découvrir, comme vous, de nouveaux cours de loisirs."

.p
  Pour vous en remercier, nous vous offrons une remise de 20% qui sera automatiquement appliquée sur votre prochain mois. Si vous avez déjà d'autres parrainages réussis, cette réduction s'ajoute aux précédentes, de manière à vous offrir jusqu'à 2 mois gratuits.

.p
  Continuez à parrainer vos proches pour les aider à vivre une vie créative, sportive, artistique :

.p.action
  = link_to "Parrainer plus d'amis", new_user_sponsorship_url(@sponsor, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green'

= render 'shared/mailers/footer'

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'
