= side_menu_currently_at 'pro_trial_courses'
.panel
  = render partial: 'pro/shared/discovery_passes_tabs', locals: { current: 'discovery_passes' }
  .panel__body.soft
    .text--center.push-half--ends= paginate @discovery_passes, window: 1, outer_window: 3
    %table.table--striped.table--data
      %thead
        %tr
          %th Nom de l'élève
          %th Date 1ère souscription
          %th Nbre de mois renouvellés
          %th Nbre total d'inscriptions
          %th Nbre d'inscriptions confirmées
          %th Nbre d'inscriptions en attente de confirmation
          %th Date dernière connexion
      %tbody
        - @discovery_passes.each do |discovery_pass|
          %tr
            %td= link_to "#{discovery_pass.user.name} (#{discovery_pass.user.email})", user_url(discovery_pass.user, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
            %td= l(local_time(discovery_pass.created_at))
            %td TODO
            %td= discovery_pass.user.participation_requests.count
            %td= discovery_pass.user.participation_requests.accepted.count
            %td= discovery_pass.user.participation_requests.pending.count
            %td= l(local_time(discovery_pass.user.current_sign_in_at))

    .text--center.push-half--ends= paginate @discovery_passes, window: 1, outer_window: 3
