= side_menu_currently_at "Lieux d'enseignements"

%h3.header-group.flush--bottom Gestion des salles de : #{@place.name}
%div
  = link_to pro_structure_places_path(@structure) do
    %i.icon-double-angle-left
    Retour aux lieux

- if @rooms.length == 1
  %div.text--center
    %p.alert--info Une salle principale a été créé. Vous pouvez la modifier ou en créer d'autres.

%table.table--striped
  %thead
    %tr
      %th Nom
      %th Superficie
      %th
  %tbody
    - @rooms.each do |room|
      - unless room.new_record?
        %tr
          %td= room.name
          %td= room.surface
          %td.text--right
            = link_to edit_pro_structure_place_room_path(@structure, @place, room), class: 'btn btn--warning'do
              %i.icon-pencil
            &nbsp;
            = link_to [:pro, @structure, @place, room], method: :delete, data: {confirm: 'Êtes-vous sur de supprimer cette salle ? Cette action sera irreversible.'}, class: 'btn btn--danger'do
              %i.icon-trash


%h4 Ajouter une salle
= render 'form'
