= side_menu_currently_at 'pro_dashboard'

.panel
  = render partial: 'pro/shared/dashboard_tabs', locals: { current: 'flyers' }
  .panel__body
    %table.table--data.table--striped
      %thead
        %tr
          %th.one-half Image
          %th Date
          %th.text--center Traité
      %tbody
      - @flyers.each do |flyer|
        %tr
          %td
            = link_to flyer.image.url, data: { behavior: 'fancy', width: '800', height: '600', padding: 0 } do
              = image_tag flyer.image.url, height: 50
          %td= l(flyer.created_at.to_date)
          %td.nowrap.text--center
            = simple_form_for [:pro, flyer], remote: true do |f|
              = f.input :treated, label: false, input_html: { data: { behavior: 'update' } }

- content_for :scripts do
  :javascript
    $('[data-behavior=update]').change(function() {
        $(this).closest('form').submit();
    });
