= side_menu_currently_at 'vertical_pages'

.panel
  .panel__header.soft
    %h3.flush Pages verticales
  .panel__body.soft--ends
    .text--center.push-half--bottom
      = link_to 'Éditer les villes', pro_cities_path, class: 'btn btn--green'
    %table.table--data.table--striped.white-box#dataTable
      %thead
        %tr
          %th Discipline 1
          %th Discipline 2
          %th Discipline 3
          %th # profil
          %th Image
          %th
          %th
      %tbody
        - @structure_search.facet(:subject_ids).rows.each do |facet|
          - subject = Subject.find(facet.value)
          %tr
            %td= subject.root.name
            %td
              - if subject.depth == 1
                = link_to subject.name, "##{subject.slug}"
              - elsif subject.depth == 2
                = link_to subject.parent.name, "##{subject.parent.slug}"
            %td
              - if subject.depth == 2
                = subject.name
            %td= facet.count
            %td{data: {value: subject.image.present? ? '0' : '1'}}
              - if subject.image.present?
                %i.fa-check
            %td.nowrap
              = link_to edit_pro_subject_path(subject) do
                - if subject.title.present? and subject.good_to_know.present?
                  %i.fa-check
                Editer
            %td.nowrap
              - subject.vertical_pages.each do |vertical_page|
                = link_to 'Lien', vertical_page_url(subject.root, vertical_page), target: :_blank

    %h2 Disciplines niveau 2
    %table.table--data.table--striped.white-box#dataTable{style: 'margin-bottom: 1000px;'}
      %thead
        %tr
          %th Maman
          %th Enfant
          %th Image
          %th
          %th
      %tbody
        - Subject.at_depth(1).each do |subject|
          %tr{id: subject.slug}
            %td= subject.root.name
            %td= subject.name
            %td{data: {value: subject.image.present? ? '0' : '1'}}
              - if subject.image.present?
                %i.fa-check
            %td= link_to 'Editer', edit_pro_subject_path(subject)

