%table.table--data.table--striped#dataTable
  %thead
    %tr
      %th Nom
      %th Image
      %th
  %tbody
    - @subjects.each do |subject|
      %tr
        %td
          - if subject.parent
            = "#{subject.parent.name} - #{subject.name}"
          - else
            = subject.name
        %td{data: {value: subject.image.present? ? '0' : '1'}}
          - if subject.image.present?
            %i.fa.fa-check
        %td= link_to 'Editer', edit_pro_subject_path(subject)


= content_for :scripts do
  :javascript
    $(function() {
        $('#dataTable').tablesorter();
    });
