<div class="grid--full push--bottom">
    <div class="grid__item two-tenths">
        <div class="media-photo">
            <img src='{{ image }}' class='block' />
        </div>
    </div>{{!--
 --}}<div class="grid__item eight-tenths soft--left">
        <h6 class="flush">{{ name }}</h6>
        {{#if description}}
            {{#ifCond description '!=' description_short}}
            <div id="teacher-{{id}}-description-short" class="gray last-p-flush">
                {{{ simple_format_hide_contacts description_short }}}
            </div>
            <a href="#" data-behavior="show-long-version" data-short-version="#teacher-{{id}}-description-short" data-long-version="#teacher-{{id}}-description-long">
            + Plus
            </a>
            <div id="teacher-{{id}}-description-long" class="gray hidden" itemprop="description">
                {{{ simple_format_hide_contacts description }}}
            </div>
            {{else}}
            <div class="gray" itemprop="description">
                {{{ simple_format_hide_contacts description }}}
            </div>
            {{/ifCond}}
        {{/if}}
    </div>
</div>
