.soft
  %h1.f-weight-400.text--center Université CoursAvenuePro
  %h3.f-weight-400.text--center Bienvenue sur la première page dédiée aux besoins des professionnels des cours de loisirs en France.

  .flexbox.push--bottom
    - @categories.each do |category|
      .flexbox__item.one-quarter.inline-block.relative.soft-half--sides
        = link_to category_pro_blog_articles_path(category_id: category.slug), class: "block text--center soft #{category.color}-box white f-weight-600 muted-link", data: { category: category.slug, parent: true} do
          .delta.push-half--bottom= category.name
          - if category.subtitle
            %div= category.subtitle
    - @categories.each_with_index do |category, index|
      %ul.bordered--top.bordered--thick.push-half--sides.push-half--top.text--center.nav.soft-half{ class: [(index == 0 ? '' : 'hidden'), "border-color-#{category.color}"], data: { category: category.slug, children: true } }
        - category.children.order('position ASC').each do |child_category|
          %li= link_to child_category.name, category_pro_blog_articles_path(category_id: child_category.slug), class: 'epsilon f-weight-500 push-half--sides'
= content_for :scripts do
  :javascript
    $(function() {
        $('[data-category][data-parent]').hover(function() {
            $('[data-category][data-children]').hide();
            $('[data-category=' + $(this).data('category') + '][data-children]').show();
        });
    });
