- additional_classes = '' if additional_classes.nil?
= simple_form_for Blog::Subscriber::UserSubscriber.new, as: :blog_subscriber, url: pro_blog_subscribers_path, html: { class: "inline-block soft gray-box delta line-height-1-7 text--center #{additional_classes}" } do |f|
  %p Pour recevoir tous nos conseils spécialisés pour les professeurs de loisirs, inscrivez-vous à notre newsletter !
  = f.input :type, as: :hidden
  = f.input :email, label: false, placeholder: 'E-mail', input_html: { class: 'one-whole' }
  = f.submit "M'inscrire", class: 'btn btn--green btn--full'
