= user_menu_currently_at 'profile'

.flexbox
  = render partial: 'users/left_menu', locals: { current: 'followings' }
  .flexbox__item.four-fifths.v-top
    .panel
      .panel__body.soft
        %h3 Mes favoris
        - if @user.favorites.cards.any?
          - @city = @user.city || City.find('paris')
          - first_card_place = @user.favorites.cards.detect{|f| f.indexable_card.place }.indexable_card.place.city
          = react_component('MapContainer', { center: [first_card_place.latitude, first_card_place.longitude] })
          = react_component('ResultList', { cards_id: @user.favorites.cards.map(&:indexable_card_id),
                                            per_line: 3,
                                            per_page: 14,
                                            follow_links: true })
          = react_component('SmallMap', { center: [@city.latitude, @city.longitude] })
        - else
          %p
            Vous n'avez aucun favoris.
