= content_for :head do
  %link{rel: 'canonical', href: open_courses_url(@subject)}

= content_for :title do
  Portes Ouvertes des cours de loisirs par CoursAvenue.com

- unless current_user or current_pro_admin
  = render 'users/registrations/jpo_popup'

:javascript
  window.coursavenue = window.coursavenue || {};
  window.coursavenue.bootstrap = {
    options: {
      total: #{ @total },
      latlng: #{ @latlng }
    },
    models: #{ @models.to_json },
    subjects: #{ Subject.stars.to_json },
    discount_types: #{ Price::Discount::TYPES.to_json }
  };

.filtered-search-loader.text--center.island{ :data => { :type => "app-loader" }}
  = image_tag 'jpo_2014/logo_1_line_orange.png', class: 'center-block'
  = image_tag 'gifs/loading-indicator-circle.gif', class: 'center-block', height: 20
.filtered-search{ :data => { :type => "#{ @app_slug }-root" }, id: "#{ @app_slug }"}

