= content_for :meta_image do
  = image_path 'jpo_2014/logo_1_line_orange_large.png'

= content_for :head do
  %link{rel: 'canonical', href: open_courses_url(@subject)}

= content_for :title do
  Portes Ouvertes des cours de loisirs par CoursAvenue.com

= content_for :meta_description do
  Participez à l'un des 5 000 cours gratuits les 5-6 avril, parmi plus de 100 disciplines !

- unless (params[:ga] and params[:ga] == 'e2e49b3e04') or current_user or current_pro_admin
  = render 'users/registrations/jpo_popup'

= render 'open_courses/first_time_popup'
- if current_user and !current_user.have_seen_first_jpo_popup
  = content_for :scripts do
    :javascript
      $(function() {
          $.fancybox($('#first-time-popup'), {
                        padding: 0,
                        width: 800,
                        maxWidth: 800
          });
      });
  - current_user.have_seen_first_jpo_popup = true
  - current_user.save(validate: false)

:javascript
  window.coursavenue  = window.coursavenue || {};
  var subjects        = #{ Subject.stars.to_json };
  // Adding other subject to the collection because it's a fake object
  subjects.push( { name: 'Autres', slug: 'other'} );

  window.coursavenue.bootstrap = {
    options: {
      total: #{ @total },
      latlng: #{ @latlng }
    },
    models: #{ @models.to_json },
    subjects: subjects,
    discount_types: #{ Price::Discount::TYPES.to_json }
  };

.filtered-search-loader.text--center.island{ :data => { :type => "app-loader" }}
  = image_tag 'jpo_2014/logo_1_line_orange.png', class: 'center-block'
  = image_tag 'gifs/loading-indicator-circle.gif', class: 'center-block', height: 20
.filtered-search{ :data => { :type => "#{ @app_slug }-root" }, id: "#{ @app_slug }"}
