- duration_collection = (4..12).collect{ |i| time = i*15; ["#{(time/60).floor}h#{(time%60 == 0 ? '' : time%60)}",time] }

= simple_form_for [:pro, @structure, @price_group], remote: true, html: { id: 'price-group-form' } do |f|
  = f.input :course_type, as: :hidden, value: (@price_group.course_type || params[:course_type])
  - if params[:course_id].present?
    %input{ type: 'hidden', name: 'course_id', value: params[:course_id]}
  .panel
    .panel__header.soft
      %h4.flush.inline-block.v-middle
        %span.v-middle Nom de la grille tarifaire
        = f.input :name, label: false, input_html: { style: 'width: 30em;' }, wrapper_html: { class: 'inline-block v-middle flush--ends push-half--left' }

    .panel__body.soft--ends
      .soft--sides>
        .grid.soft-half--bottom
          .grid__item.v-middle.one-quarter.text--right>
            .epsilon
              Ajouter un tarif
              %strong normal :
          .grid__item.v-middle.three-quarters>
            %a.btn.btn--blue.btn--small{ data: { behavior: 'show-price-group-form', el: '#per-courses-form', show_table: 'true' } }
              - if @price_group.for_training?
                Au stage / À l'atelier
              - else
                À la séance
            - if ! @price_group.for_training?
              %a.btn.btn--blue.btn--small{ data: { behavior: 'show-price-group-form', el: '#per-book-tickets-form', show_table: 'true' } }
                Au carnet
            - if ! @price_group.for_training?
              %a.btn.btn--blue.btn--small{ data: { behavior: 'show-price-group-form', el: '#per-subscription-form', show_table: 'true' } } À l'abonnement
            %a.btn.btn--blue.btn--small{ data: { behavior: 'show-price-group-form', el: '#per-registration-fee-form', show_table: 'true' } } Adhésion
        .grid.push--bottom
          .grid__item.v-middle.one-quarter.text--right>
            .epsilon
              %strong découverte :
          .grid__item.v-middle.three-quarters>
            %a.btn.btn--blue.btn--small{ data: { behavior: 'show-price-group-form', el: '#premium-prices-form',  show_premium: 'true' } } Offre spéciale
            %a.btn.btn--blue.btn--small{ data: { behavior: 'show-price-group-form', el: '#discounts-form',  show_premium: 'true' } } Tarif réduit

      .soft--sides
        - if @price_group.errors.messages[:base].present?
          .alert.alert--error= @price_group.errors.messages[:base].to_sentence
        #table-header{ class: [@per_courses, @book_tickets, @subscriptions, @registrations].compact.flatten.select{ |price| price.persisted? or price.errors.any? }.any? ? '' : 'hidden' }
          .grid.soft-half--bottom.bordered--top.soft--top
            .grid__item.v-bottom.two-twelfths>
              %strong Formule
            .grid__item.v-bottom.two-twelfths>
              %strong Détails
            .grid__item.v-bottom.text--center{ style: 'width: 12%;'}>
              %strong Tarif normal
            .grid__item.v-bottom.hard--left.text--center{ style: 'width: 12%;'}>
              %strong Tarif promotionnel
            .grid__item.v-middle.four-twelfths.text--center>
              %strong Infos
        #per-courses-form{ class: @per_courses.select{ |price| price.persisted? or price.errors.any? }.any? ? '' : 'hidden', data: { behavior: 'form-group' } }
          .per-courses{ data: { behavior: 'show-more-on-demand' } }<>
            - @per_courses.each_with_index do |item, i|
              - i += 100
              = f.simple_fields_for :prices, item, child_index: i do |per_course_form|
                .per-course.relative{ data: { el: true, hidden: !per_course_form.object.persisted? } }<>
                  .grid.soft-half--bottom
                    .grid__item.v-middle.two-twelfths>
                      %a.cursor-pointer.v-middle{ href: 'javascript:void(0);', data: { clear: true } }
                        %i.fa-times
                      %span.v-middle À la séance
                    .grid__item.v-middle.two-twelfths.nowrap>
                      - if @price_group.for_training?
                        .inline-block.v-middle 1 stage / atelier
                      - else
                        %span.v-middle 1 séance
                      = per_course_form.input :number, as: :hidden, value: 1
                    .grid__item.v-middle.text--center{ style: 'width: 12%;'}>
                      .input-addon.soft-half--right
                        = per_course_form.input :amount, label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'two-thirds flush inline-block v-middle' }, as: :string
                        .input-suffix
                          %i.fa-eur
                    .grid__item.v-middle.text--center{ style: 'width: 12%;'}>
                      .input-addon
                        = per_course_form.input :promo_amount, label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'two-thirds flush inline-block v-middle' }, as: :string
                        .input-suffix
                          %i.fa-eur
                    .grid__item.v-middle.four-twelfths>
                      = per_course_form.input :info, as: :string, placeholder: "Ex. : prix pour 1 séance d'1h30", label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'flush'}
                  = per_course_form.input :type, as: :hidden
            .input.flush.hidden
              %a{ href: 'javascript:void(0)', data: { trigger: true } }>
                %i.fa.fa-plus
                Ajouter une ligne

        - if ! @price_group.for_training?
          #per-book-tickets-form{ class: @book_tickets.select{ |price| price.persisted? or price.errors.any? }.any? ? '' : 'hidden', data: { behavior: 'form-group' } }
            .book-tickets{ data: { behavior: 'show-more-on-demand' } }<>
              - @book_tickets.each_with_index do |item, i|
                - i += 200
                - range = (2..20).to_a + [30] + [40] + [50] + [60] + [70] + [80] + [90] + [100]
                = f.simple_fields_for :prices, item, child_index: i do |book_ticket_form|
                  .book-ticket.relative{ data: { el: true, hidden: !book_ticket_form.object.persisted? } }<>
                    .grid.soft-half--bottom
                      .grid__item.v-middle.two-twelfths>
                        %a.cursor-pointer.v-middle{ href: 'javascript:void(0);', data: { clear: true } }
                          %i.fa-times
                        %span.v-middle Au carnet
                      .grid__item.v-middle.two-twelfths.nowrap>
                        = book_ticket_form.input :number, label: false, as: :select, collection: range, selected: book_ticket_form.object.number || 5, wrapper_html: { class: 'flush inline-block v-middle' }, input_html: { style: 'width: 50px;' }
                        - if @price_group.for_training?
                          .inline-block.v-middle stage(s) / atelier(s)
                        - else
                          %span.v-middle cours
                          .inline-block.v-middle
                      .grid__item.v-middle.text--center{ style: 'width: 12%;'}>
                        .input-addon.soft-half--right
                          = book_ticket_form.input :amount, label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'two-thirds flush inline-block v-middle' }, as: :string
                          .input-suffix
                            %i.fa-eur
                      .grid__item.v-middle.text--center{ style: 'width: 12%;'}>
                        .input-addon
                          = book_ticket_form.input :promo_amount, label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'two-thirds flush inline-block v-middle' }, as: :string
                          .input-suffix
                            %i.fa-eur
                      .grid__item.v-middle.four-twelfths>
                        = book_ticket_form.input :info, as: :string, placeholder: 'Ex. : valable 3 mois', label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'flush'}
                    = book_ticket_form.input :type, as: :hidden
              .input.flush.hidden
                %a{ href: 'javascript:void(0)', data: { trigger: true } }>
                  %i.fa.fa-plus
                  Ajouter une ligne

        - if ! @price_group.for_training?
          #per-subscription-form{ class: @subscriptions.select{ |price| price.persisted? or price.errors.any? }.any? ? '' : 'hidden', data: { behavior: 'form-group' } }>
            .subscriptions{ data: { behavior: 'show-more-on-demand' } }
              - @subscriptions.each_with_index do |item, i|
                - # Adding 100 to index in order that indexes doesn't override each others
                - i += 300
                = f.simple_fields_for :prices, item, child_index: i do |price_form|
                  .subscription.flush--top.relative{ data: { el: true, hidden: !item.persisted? } }
                    .grid.soft-half--bottom
                      .grid__item.v-middle.two-twelfths>
                        %a.cursor-pointer.v-middle{ href: 'javascript:void(0);', data: { clear: true } }
                          %i.fa-times
                        %span.v-middle À l'abonnement
                      .grid__item.v-middle.two-twelfths>
                        = price_form.input :libelle, as: :select, collection: Price::Subscription::TYPES, label_method: lambda{|l| I18n.t(l + '_short')}, label: false, wrapper_html: { class: 'flush v-middle inline-block' }, include_blank: false
                      .grid__item.v-middle{ style: 'width: 12%;'}>
                        .input-addon.soft-half--right
                          = price_form.input :amount, label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'two-thirds flush inline-block v-middle' }, as: :string
                          .input-suffix
                            %i.fa-eur
                      .grid__item.v-middle.text--center{ style: 'width: 12%;'}>
                        .input-addon
                          = price_form.input :promo_amount, label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'two-thirds flush inline-block v-middle' }, as: :string
                          .input-suffix
                            %i.fa-eur
                      .grid__item.v-middle.four-twelfths>
                        = price_form.input :info, as: :string, placeholder: 'Ex. : 2 cours par semaine', label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'flush v-middle' }
                    = price_form.input :type, as: :hidden
              .input.flush.hidden
                %a{ href: 'javascript:void(0)', data: { trigger: true } }
                  %i.fa.fa-plus
                  Ajouter une ligne

        #per-registration-fee-form{ class: @registrations.select{ |price| price.persisted? or price.errors.any? }.any? ? '' : 'hidden', data: { behavior: 'form-group' } }
          .registration-fees{ data: { behavior: 'show-more-on-demand' } }
            - @registrations.each_with_index do |item, i|
              - i += 400
              = f.simple_fields_for :prices, item, child_index: i do |registration_form|
                .registration-fee.relative{ data: { el: true, hidden: !registration_form.object.persisted? } }
                  .grid.soft-half--bottom
                    .grid__item.v-middle.two-twelfths>
                      %a.cursor-pointer.v-middle{ href: 'javascript:void(0);', data: { clear: true } }
                        %i.fa-times
                      %span.v-middle Adhésion
                    .grid__item.v-middle.two-twelfths>
                      %select.v-middle{ data: { behavior: 'disable-toggle-input', el: "#non_free_subscription_#{i}" } }
                        %option{ value: '', selected: item.amount.nil? }
                        %option{ value: 'hide', selected: item.free? } Gratuite
                        %option{ value: 'show', selected: (!item.free? and item.amount.present?) } Payante
                    .grid__item.v-middle{ style: 'width: 12%;'}>
                      .input-addon.soft-half--right{ id: "non_free_subscription_#{i}" }>
                        = registration_form.input :amount, label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'flush two-thirds v-middle inline-block' }, as: :string
                        .input-suffix
                          %i.fa-eur
                    .grid__item.v-middle{ style: 'width: 12%;'}>
                    .grid__item.v-middle.four-twelfths>
                      = registration_form.input :info, as: :string, placeholder: "Ex. : Valable pendant toute l'année", label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'flush--ends' }
                  = registration_form.input :type, as: :hidden
            .input.flush.hidden
              %a{ href: 'javascript:void(0)', data: { trigger: true } }
                %i.fa.fa-plus
                Ajouter une ligne
      #premium-box{ class: [@discounts, @premium_offers].compact.flatten.select{ |price| price.persisted? or price.errors.any? }.any? ? '' : 'hidden' }
        .bordered--top.soft--top.soft--sides
          #premium-prices-form{ class: @premium_offers.select{ |price| price.persisted? or price.errors.any? }.any? ? '' : 'hidden', data: { behavior: 'form-group' } }
            .discounts{ data: { behavior: 'show-more-on-demand' } }
              - @premium_offers.each_with_index do |item, i|
                - i += 500
                = f.simple_fields_for :prices, item, child_index: i do |price_form|
                  .premium-offer.relative{ data: { el: true, hidden: !price_form.object.persisted? } }
                    .grid.soft-half--bottom
                      .grid__item.two-twelfths.v-middle>
                        %a.cursor-pointer.v-middle{ href: 'javascript:void(0);', data: { clear: true } }
                          %i.fa-times
                        %span.v-middle Offres spéciales
                      .grid__item.two-twelfths.v-middle>
                        = price_form.input :libelle, as: :select, collection: Price::PremiumOffer::TYPES, label_method: lambda{|l| I18n.t(l)}, wrapper_html: { class: 'flush control-label text--left' }, label: false, include_blank: false, input_html: { data: { promo_amount: "#premium_offer_#{i}_promo_amount", promo_amount_type: "#premium_offer_#{i}_promo_amount_type", promo_amount_type_alternative: "#premium_offer_#{i}_promo_amount_type_alternative", promo_amount_info: "#premium_offer_#{i}_info", behavior: 'premium-offer' } }
                      .grid__item.v-middle.text--right{ style: 'width: 14%;'}>
                        .input-addon
                          = price_form.input :promo_amount, label: false, input_html: { id: "premium_offer_#{i}_promo_amount", class: 'flush one-whole', style: 'min-width: 70px;' }, wrapper_html: { class: 'five-twelfths flush' }, as: :string
                          .input-suffix
                            %i.fa-eur.hidden{ id: "premium_offer_#{i}_promo_amount_type_alternative" }>
                            = price_form.input :promo_amount_type, as: :select, collection: ['%', '€'], label: false, input_html: {  class: 'one-whole' }, wrapper_html: { class: 'four-twelfths flush inline-block v-middle', id: "premium_offer_#{i}_promo_amount_type", }, include_blank: false
                      .grid__item.v-middle.text--right{ style: 'width: 10%;'}>
                      .grid__item.four-twelfths.v-middle.text--right>
                        = price_form.input :info, as: :string, label: false, input_html: { id: "premium_offer_#{i}_info", class: 'one-whole' }, wrapper_html: { class: 'flush--ends' }
                        = price_form.input :type, as: :hidden
              .input.flush.hidden
                %a{ href: 'javascript:void(0)', data: { trigger: true } }
                  %i.fa.fa-plus
                  Ajouter une ligne

          #discounts-form{ class: @discounts.select{ |price| price.persisted? or price.errors.any? }.any? ? '' : 'hidden', data: { behavior: 'form-group' } }
            .discounts{ data: { behavior: 'show-more-on-demand' } }
              - @discounts.each_with_index do |item, i|
                - i += 600
                = f.simple_fields_for :prices, item, child_index: i do |price_form|
                  .discount.relative{ data: { el: true, hidden: !price_form.object.persisted? } }
                    .grid.soft-half--bottom
                      .grid__item.two-twelfths.v-middle>
                        %a.cursor-pointer.v-middle{ href: 'javascript:void(0);', data: { clear: true } }
                          %i.fa-times
                        %span.v-middle Tarifs réduits
                      .grid__item.two-twelfths.v-middle>
                        = price_form.input :libelle, as: :select, collection: Price::Discount::TYPES, label_method: lambda{|l| I18n.t(l)}, wrapper_html: { class: 'flush control-label text--left' }, label: false, include_blank: false
                      .grid__item.v-middle.text--right{ style: 'width: 14%;'}>
                        .input-addon
                          = price_form.input :promo_amount, label: false, input_html: { class: 'one-whole', style: 'min-width: 70px;' }, wrapper_html: { class: 'five-twelfths flush inline-block v-middle' }, as: :string
                          .input-suffix
                            = price_form.input :promo_amount_type, as: :select, collection: ['%', '€'], label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'four-twelfths flush inline-block v-middle' }, include_blank: false
                      .grid__item.v-middle.text--right{ style: 'width: 10%;'}>
                      .grid__item.four-twelfths.v-middle.text--right>
                        = price_form.input :info, as: :string, label: false, input_html: { class: 'one-whole' }, wrapper_html: { class: 'flush--ends' }
                        = price_form.input :type, as: :hidden
              .input.flush.hidden
                %a{ href: 'javascript:void(0)', data: { trigger: true } }
                  %i.fa.fa-plus
                  Ajouter une ligne

      .soft--sides
        .grid.push--top
          .grid__item.one-fifth>
            %a.btn.btn--gray.btn--full{ onclick: '$.fancybox.close()' } Annuler
          .grid__item.four-fifths>
            = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement" }


:javascript
    $('[data-behavior=show-price-group-form]').click(function() {
        $(window).trigger('resize');
        // If we are showing one of the top form
        if (!$(this.dataset.el).is(':visible') && this.dataset.showTable == 'true') {
            $('#table-header').slideDown();
        }
        if (!$(this.dataset.el).is(':visible') && this.dataset.showPremium == 'true') {
            $('#premium-box').slideDown();
        }
        if ($(this.dataset.el).is(':visible')) {
            $(this.dataset.el).find('[data-trigger]').click();
        } else {
            $(this.dataset.el).slideDown();
        }
    });
    $('[data-behavior="show-more-on-demand"]').each(function(index, el) {
        var $this = $(this);
        $(this).find('[data-clear]').click(function() {
            if($this.find('[data-clear]:visible').length == 1) {
                $this.closest('[data-behavior=form-group]').slideUp();
                if ($('#per-book-tickets-form:visible, #per-courses-form:visible, #per-subscription-form:visible, #per-registration-fee-form:visible').length == 1) {
                  $('#table-header').slideUp();
                }
            }
        });
    });
    $('[data-behavior=premium-offer]').change(function() {
        var $this = $(this);
        $($this.data('promo-amount')).hide();
        $($this.data('promo-amount-type')).hide();
        $($this.data('promo-amount-type-alternative')).hide();
        switch($this.val()) {
            case 'prices.premium_offer.discount':
              $($this.data('promo-amount-info')).attr('placeholder', "Ex. : offre Duo pour le 2ème accompagnant inscrit au même cours.")
              $($this.data('promo-amount-type')).show();
              $($this.data('promo-amount')).show();
            break;
            case 'prices.premium_offer.discover':
              $($this.data('promo-amount-info')).attr('placeholder', "Ex. : Prix pour 5 cours de danse au choix")
              $($this.data('promo-amount-type-alternative')).show();
              $($this.data('promo-amount')).show();
              $($this.data('promo-amount-type')).find('select').val('€')
            break;
            case 'prices.premium_offer.other':
              $($this.data('promo-amount-info')).attr('placeholder', "Ex. : 1 tee-shirt de bienvenue offert pour l'achat d'une carte de 10 cours.")
            break;
        }
    });
    $('[data-behavior=premium-offer]').change();
    $('[data-behavior=disable-toggle-input]').change(function(){
        var $this = $(this);
        var $el   = $($this.data('el'));
        if ($this.val() == 'hide') {
            $el.fadeOut();
            $el.find('input').val('0'); // Need to set value to zero in order for the model to save it
        } else if ($this.val() == 'show') {
            $el.fadeIn();
        } else {
            $el.fadeOut();
            $el.find('input').val('');
        }
    });
    $('[data-behavior=disable-toggle-input]').change();
    $('[data-behavior=show-more-on-demand]').showMoreOnDemand();
