.push--bottom{ id: "price-group-#{price_group.id}" }
  .panel
    .panel__body.soft-half
      .grid
        .grid__item.two-thirds>
          %h5.flush--bottom= price_group.name
        .grid__item.one-third.text--right>
          = link_to edit_pro_structure_price_group_path(@structure, price_group), class: 'orange fancybox.ajax', data: { behavior: 'modal', width: '1000', top_ratio: 0.2, padding: '0', close_click: 'false' } do
            %i.fa.fa-pencil
            Modifier
          \/
          = link_to ask_for_deletion_pro_structure_price_group_path(@structure, price_group), class: 'red fancybox.ajax', data: { behavior: 'modal', width: '400', padding: '0' } do
            %i.fa.fa-trash-o
            Supprimer

      %table.table--striped.table--data
        %thead
          %tr
            %th.three-twelfths Formule
            %th.two-twelfths.text--center Tarif normal
            %th.three-twelfths.text--center Tarif promotionnel
            %th.four-twelfths.text--center Infos
        %tbody
          - price_group.book_tickets.each do |price|
            %tr
              - if price_group.for_training?
                %td 1 stage / atelier
              - else
                %td= "#{price.number} cours"
              %td.text--center= readable_amount(price.amount) if price.amount
              %td.text--center.premium-bordered-box
                - if price.promo_amount
                  %i.fa.fa-star.yellow{ data: { behavior: 'tooltip', title: "Ne s'affiche que sur les profils Premiums" } }
                  = readable_amount(price.promo_amount) if price.promo_amount
                - else
                  = link_to edit_pro_structure_price_group_path(@structure, price_group), class: 'orange fancybox.ajax', data: { behavior: 'modal', width: '1000', top_ratio: 0.2, padding: '0', close_click: 'false' } do
                    %i.fa.fa-plus
                    Ajouter
              %td= price.info

          - price_group.subscriptions.each do |price|
            %tr
              %td= t(price.libelle)
              %td.text--center= readable_amount(price.amount) if price.amount
              %td.text--center.premium-bordered-box
                - if price.promo_amount
                  %i.fa.fa-star.yellow{ data: { behavior: 'tooltip', title: "Ne s'affiche que sur les profils Premiums" } }
                  = readable_amount(price.promo_amount) if price.promo_amount
                - else
                  = link_to edit_pro_structure_price_group_path(@structure, price_group), class: 'orange fancybox.ajax', data: { behavior: 'modal', width: '1000', top_ratio: 0.2, padding: '0', close_click: 'false' } do
                    %i.fa.fa-plus
                    Ajouter

              %td= price.info
          - price_group.registrations.each do |price|
            %tr
              %td Adhésion annuelle
              %td.text--center
                - if price.free?
                  Gratuite
                - else
                  = readable_amount(price.amount)
              %td
              %td= price.info

          - @trial = price_group.trial
          - if @trial
            %tr.premium-bordered-box
              %td
                %i.fa.fa-star.yellow{ data: { behavior: 'tooltip', title: "Ne s'affiche que sur les profils Premiums" } }
                Cours d'essai
              %td.text--center
                - if @trial.free?
                  Gratuit
                - else
                  = @trial.amount
              %td
              %td= @trial.info

          - price_group.premium_offers.each do |price|
            %tr.premium-bordered-box
              %td
                %i.fa.fa-star.yellow{ data: { behavior: 'tooltip', title: "Ne s'affiche que sur les profils Premiums" } }
                = t(price.libelle)
              %td
              %td.text--center= readable_amount(price.promo_amount, false, price.promo_amount_type) if price.promo_amount
              %td= price.info


          - price_group.discounts.each do |price|
            %tr.premium-bordered-box
              %td
                %i.fa.fa-star.yellow{ data: { behavior: 'tooltip', title: "Ne s'affiche que sur les profils Premiums" } }
                = t(price.libelle)
              %td
              %td.text--center= readable_amount(price.promo_amount, false, price.promo_amount_type) if price.promo_amount
              %td= price.info

