%tr{ id: "price-group-#{price_group.id}" }
  %td.epsilon
    = link_to price_group.name, pro_structure_price_group_path(@structure, price_group), class: 'fancybox.ajax', data: { behavior: 'modal', width: '600', padding: '0' }
  %td.text--center.premium-box
    - if price_group.has_premium_prices?
      - price_group.offers_text.join(', ')
      - price_group.offers_text.each do |offer_text|
        .lbl.lbl--yellow.nowrap
          %i.fa.fa-tag
          = offer_text
    - else
      Pas d'offre
      %br
      = link_to edit_pro_structure_price_group_path(@structure, price_group), class: 'fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
        %i.fa.fa-plus
        Ajouter une offre
  %td.text--center.premium-box.nowrap
    = render partial: 'pro/structures/premium_select', locals: { title: 'proposer vos offres découvertes à tous les utilisateurs CoursAvenue ?', label_text: ''}
  %td.nowrap.text--right
    = link_to edit_pro_structure_price_group_path(@structure, price_group), class: 'orange fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
      %i.fa.fa-pencil
      Modifier
    \/
    = link_to ask_for_deletion_pro_structure_price_group_path(@structure, price_group), class: 'red fancybox.ajax', data: { behavior: 'modal', width: '400', padding: '0' } do
      %i.fa.fa-trash-o
      Supprimer
