%tr.dropzone{ id: "price-group-#{price_group.id}", data: { behavior: "#{price_group.course_type_underscore_name}-dropzone", id: price_group.id } }
  %td.epsilon
    = link_to price_group.name, pro_structure_price_group_path(@structure, price_group), class: 'fancybox.ajax', data: { behavior: 'modal', width: '600', padding: '0' }
  %td
    .white-box.very-soft{ data: { behavior: 'courses-container' } }
      - price_group.courses.each do |course|
        .lbl.lbl--gray-light.draggable{ style: 'margin: 1px;', data: { behavior: 'draggable', id: course.id, for: course.underscore_name, price_group_id: price_group.id } }
          = course.name
          %i.fa.fa-times.pointer{ title: 'Désaffecter de la grille tarifaire', data: { behavior: 'delete-price-group', id: course.id, price_group_id: price_group.id } }
      &nbsp;
  %td.text--center.nowrap
    - if price_group.has_premium_prices?
      .price_group_status.lbl.lbl--chip.lbl--red.lbl--small.v-middle
      %select.v-middle
        %option{ value: 'visible',     selected: price_group.premium_visible? } Visible
        %option{ value: 'not-visible', selected: !price_group.premium_visible? } Non visible
    - else
      Pas d'offre
  %td.nowrap
    = link_to edit_pro_structure_price_group_path(@structure, price_group), class: 'orange fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
      %i.fa.fa-pencil
      Modifier
    \/
    = link_to ask_for_deletion_pro_structure_price_group_path(@structure, price_group), class: 'red fancybox.ajax', data: { behavior: 'modal', width: '400', padding: '0' } do
      %i.fa.fa-trash-o
      Supprimer
