= side_menu_currently_at 'price_groups'

.panel
  .panel__body.soft--ends
    .soft--sides{ data: { behavior: 'wizard-helper', content: t('price_group.wizard.non_affected_courses') } }
      %h4 Ajouter une grille tarifaire pour les :

      .grid
        .grid__item.one-half>
          = link_to new_pro_structure_price_group_path(@structure, course_type: 'Course::Lesson'), class: 'btn btn--green btn--full fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
            Cours collectifs
        .grid__item.one-half>
          = link_to new_pro_structure_price_group_path(@structure, course_type: 'Course::Training'), class: 'btn btn--green btn--full fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
            Stages / Ateliers
        -# .grid__item.one-third>
        -#   = link_to new_pro_structure_price_group_path(@structure, course_type: 'Course::Lesson'), class: 'btn btn--green btn--full fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0' } do
        -#     Cours particuliers


    %hr.push--ends
    .soft--sides{ data: { behavior: 'wizard-helper', content: t('price_group.wizard.premium_offers') } }
      %h5 Cours collectifs

      .push--bottom
        .flush.inline-block.v-middle Cours collectifs à affecter à vos grilles tarifaires :
        %strong.v-middle
          - courses = @structure.courses.lessons.select{ |course| course.price_group.nil? }
          - courses.each do |course|
            %span.lbl= course.name
      %table.table--data.table--striped#lesson-table
        %thead
          %tr
            %th
            %th Cours affectés à la grille tarifaire
            %th.text--center
              .yellow.epsilon
                %i.fa.fa-star
                Premium
              Offres découvertes
            %th
        %tbody
          - @structure.price_groups.for_lessons.each do |price_group|
            = render partial: 'pro/structures/price_groups/price_group_row', locals: { price_group: price_group }

      = link_to 'Ajouter une grille tarifaire', new_pro_structure_price_group_path(@structure, course_type: 'Course::Lesson'), class: 'btn btn--blue btn--small fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0' }

    %hr.push--ends
    .soft--sides
      %h5 Stages / Ateliers
      .push--bottom
        .flush.inline-block.v-middle Cours collectifs à affecter à vos grilles tarifaires :
        %strong.v-middle= @structure.courses.trainings.select{ |course| course.price_group.nil? }.map(&:name).join(', ')

      %table.table--data.table--striped#training-table
        %thead
          %tr
            %th
            %th Cours affectés à la grille tarifaire
            %th.text--center
              .yellow.epsilon
                %i.fa.fa-star
                Premium
              Offres découvertes
            %th
        %tbody
          - @structure.price_groups.for_trainings.each do |price_group|
            = render partial: 'pro/structures/price_groups/price_group_row', locals: { price_group: price_group }

      = link_to 'Ajouter une grille tarifaire', new_pro_structure_price_group_path(@structure, course_type: 'Course::Lesson'), class: 'btn btn--blue btn--small fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0' }
