= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'prices' }

%div{ data: { behavior: 'wizard-helper', content: t('price_group.wizard.premium_offers') } }
  .grid
    .grid__item.one-half.palm-one-whole>
      %h1 Tarifs
    .grid__item.text--right.one-half.palm-one-whole.palm-text--left>
      .push-half--bottom
        = link_to new_pro_structure_price_group_path(@structure, course_type: 'regular'), class: 'soft--sides nowrap btn btn--green fancybox.ajax', data: { behavior: 'modal', width: '1000', top_ratio: 0.2, padding: '0', close_click: 'false', lock_overlay: true } do
          %i.fa.fa-plus
          Ajouter une grille tarifaire

  %h3 Pour les cours collectifs et particuliers
  %p#regulars-empty-message{ class: (@structure.price_groups.for_regular_courses.empty? ? '': 'hidden') }
    Vous n'avez pas encore de grille tarifaire pour vos cours réguliers.
    = link_to new_pro_structure_price_group_path(@structure, course_type: 'regular'), class: 'fancybox.ajax', data: { behavior: 'modal', width: '1100', top_ratio: 0.2,  padding: '0', close_click: 'false' } do
      %i.fa.fa-plus
      Ajouter une grille tarifaire

  #regulars-table{ class: @structure.price_groups.for_regular_courses.empty? ? 'hidden' : ''}
    - @structure.price_groups.for_regular_courses.each do |price_group|
      = render partial: 'pro/structures/price_groups/price_group', locals: { price_group: price_group }
