= side_menu_currently_at 'price_groups'

.panel
  .panel__header.soft.bordered--bottom-on-stick{ style: 'height: 125px;', data: { behavior: 'sticky', offset_top: 45, z: 500, old_width: 'true' } }
    %h4 Ajouter une grille tarifaire pour les :
    .text--center
      = link_to 'Cours réguliers', new_pro_structure_price_group_path(@structure, course_type: 'regular'), class: 'btn btn--green btn--large fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' }
      = link_to 'Stages / Ateliers', new_pro_structure_price_group_path(@structure, course_type: 'training'), class: 'push--left btn btn--green btn--large fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' }
  .panel__body.soft--ends{ data: { behavior: 'wizard-helper', content: t('price_group.wizard.premium_offers') } }
    .relative.soft.premium-box
      = image_tag 'icons/premium-ribbon.png', class: 'north west absolute on-top', height: 70, width: 70, style: 'width: 70px; height: 70px;'
      .soft--left= render partial: 'pro/structures/premium_select', locals: { title: 'afficher les liens vers votre site Internet et votre page Facebook ?', label_text: 'Statut de vos offres découvertes :' }
    %p.blue.flush.soft-half--ends.soft--sides
      %i Dans chaque grille tarifaire ci-dessous, ajoutez vos offres découvertes (cours d'essai gratuits, tarifs spéciaux, etc.) pour recruter encore plus d'élèves.

    #lessons_header.soft.bg-white.bordered--bottom-on-stick{ data: { behavior: 'sticky', offset_top: 170, old_width: 'true', z: 300 } }
      %h3.flush Tarifs pour les cours réguliers
    .soft--sides
      %p#regulars-empty-message{ class: (@structure.price_groups.for_regular_courses.empty? ? '': 'hidden') }
        Vous n'avez pas encore de grille tarifaire pour vos cours régulier.
        = link_to new_pro_structure_price_group_path(@structure, course_type: 'regular'), class: 'fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
          %i.fa.fa-plus
          Ajouter une grille tarifaire

      #regulars-table{ class: @structure.price_groups.for_regular_courses.empty? ? 'hidden' : ''}
        - @structure.price_groups.for_regular_courses.each do |price_group|
          = render partial: 'pro/structures/price_groups/price_group', locals: { price_group: price_group }

    %hr.push--ends
    .soft.bg-white.bordered--bottom-on-stick.relative{ data: { behavior: 'sticky', offset_top: 170, old_width: 'true', pushed: '#lessons_header', z: 400 } }
      %h3.flush Tarifs pour les stages / ateliers

    .soft--sides
      %p#trainings-empty-message{ class: (@structure.price_groups.for_trainings.empty? ? '': 'hidden') }
        Vous n'avez pas encore de grille tarifaire pour vos stages / ateliers.
        = link_to new_pro_structure_price_group_path(@structure, course_type: 'training'), class: 'fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
          %i.fa.fa-plus
          Ajouter une grille tarifaire

      #trainings-table{ class: @structure.price_groups.for_trainings.empty? ? 'hidden' : ''}
        - @structure.price_groups.for_trainings.each do |price_group|
          = render partial: 'pro/structures/price_groups/price_group', locals: { price_group: price_group }


