= side_menu_currently_at 'price_groups'

.panel
  .panel__header.soft--ends
    .soft--sides{ data: { behavior: 'wizard-helper', content: t('price_group.wizard.non_affected_courses') } }
      %h4 Ajouter une grille tarifaire pour les :
      .text--center
        = link_to 'Cours réguliers', new_pro_structure_price_group_path(@structure, course_type: 'regular'), class: 'btn btn--green btn--large fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' }
        = link_to 'Stages / Ateliers', new_pro_structure_price_group_path(@structure, course_type: 'training'), class: 'push--left btn btn--green btn--large fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' }
  .panel__body.soft--ends
    %div{ data: { behavior: 'wizard-helper', content: t('price_group.wizard.premium_offers') } }
      .soft--sides
        %h4 Cours réguliers

        %p#regulars-empty-message{ class: (@structure.price_groups.for_regular_courses.empty? ? '': 'hidden') }
          Vous n'avez pas encore de grille tarifaire pour vos cours régulier.
          = link_to new_pro_structure_price_group_path(@structure, course_type: 'regular'), class: 'fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
            %i.fa.fa-plus
            Ajouter une grille tarifaire

        %table.table--data.table--striped#regulars-table{ class: @structure.price_groups.for_regular_courses.empty? ? 'hidden' : ''}
          %thead
            %tr
              %th.four-twelfths
              %th.four-twelfths.v-bottom.text--center Offres découvertes
              %th.three-twelfths.text--center Status
              %th
          %tbody
            - @structure.price_groups.for_regular_courses.each do |price_group|
              = render partial: 'pro/structures/price_groups/price_group_row', locals: { price_group: price_group }

      %hr.push--ends
      .soft--sides
        %h4 Stages / Ateliers

        %p#trainings-empty-message{ class: (@structure.price_groups.for_trainings.empty? ? '': 'hidden') }
          Vous n'avez pas encore de grille tarifaire pour vos stages / ateliers.
          = link_to new_pro_structure_price_group_path(@structure, course_type: 'trainings'), class: 'fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0', close_click: 'false' } do
            %i.fa.fa-plus
            Ajouter une grille tarifaire

        %table.table--data.table--striped#trainings-table{ class: @structure.price_groups.for_trainings.empty? ? 'hidden' : ''}
          %thead
            %th.four-twelfths
            %th.four-twelfths.v-bottom.text--center Offres découvertes
            %th.three-twelfths.text--center Status
            %th
          %tbody
            - @structure.price_groups.for_trainings.each do |price_group|
              = render partial: 'pro/structures/price_groups/price_group_row', locals: { price_group: price_group }


