.panel
  .panel__header.soft
    .delta.flush.inline-block.v-middle
      Grille tarifaire :
      %strong= @price_group.name
  .panel__body.soft--ends
    .soft--sides>
      %table.table--striped.table--data
        %thead
          %tr
            %th.three-twelfths
            %th.two-twelfths.text--center Prix normal
            %th.three-twelfths.text--center Offre découverte
            %th.four-twelfths.text--center Info
        %tbody
          - @price_group.book_tickets.each do |price|
            %tr
              %td= "#{price.number} cours de #{readable_duration(price.duration)}"
              %td.text--center= readable_amount(price.amount) if price.amount
              %td.text--center.premium-box= readable_amount(price.promo_amount) if price.promo_amount
              %td= price.info

          - @price_group.subscriptions.each do |price|
            %tr
              %td= t(price.libelle)
              %td.text--center= readable_amount(price.amount) if price.amount
              %td.text--center.premium-box= readable_amount(price.promo_amount) if price.promo_amount
              %td= price.info

          - @trial = @price_group.trial
          - if @trial
            %tr
              %td.premium-box Cours d'essai
              %td.premium-box.text--center
                - if @trial.free?
                  Gratuit
                - else
                  = @trial.amount
              %td.premium-box
              %td.premium-box

          - @price_group.premium_offers.each do |price|
            %tr.premium-box
              %td= t(price.libelle)
              %td
              %td.text--center= readable_amount(price.promo_amount) if price.promo_amount
              %td= price.info


          - @price_group.discounts.each do |price|
            %tr.premium-box
              %td= t(price.libelle)
              %td
              %td.text--center= readable_amount(price.promo_amount) if price.promo_amount
              %td= price.info

          - @price_group.registrations.each do |price|
            %tr
              %td Adhésion annuelle
              %td.text--center
                - if price.free?
                  Gratuite
                - else
                  = readable_amount(price.amount)
              %td
              %td= price.info

      .grid
        .grid__item.one-fifth>
          %a.btn.btn--gray.btn--full{ onclick: '$.fancybox.close()' } Retour
        .grid__item.four-fifths>
          = link_to 'Modifier', edit_pro_structure_price_group_path(@structure, @price_group), class: 'btn btn--full btn--orange fancybox.ajax', data: { behavior: 'modal', width: '1100', padding: '0' }
