<article class="islet" itemtype="http://schema.org/Review" itemscope="" itemprop="review">
    <div class="grid--full">
        <div class="grid__item two-twelfths text--center">
            <img height="60" src="/assets/icons/avatar.png" alt="Avatar" class="bordered rounded--circle center-block push-half--bottom">
            <div class="text--center"><strong>{{ author_name }}</strong></div>
        </div>{{!--
    --}}<div class="grid__item ten-twelfths">
            <div class="gray-box islet message__appendix">
                <div itemprop="reviewBody" data-behavior="read-more" class="read-more" style="max-height: none;">
                    {{#if title}}
                      <h6 class="quoted inline-block push-half--bottom" itemprop='headline' content="{{title}}">{{title}}</h6>
                      {{#if course_name}}
                        <i class="v-middle">— {{course_name}}</i>
                      {{/if}}
                    {{/if}}
                    <p>{{ full_content }}</p>
                </div>
                <p class="text--right flush">
                    <i itemprop="datePublished" content="{{ created_at }}" class="semi-muted">
                        Il y a {{ distance_of_time }}
                    </i>
                </p>
            </div>
        </div>
    </div>
</article>
