<td class="three-twelfths">{{ date }} de {{ time_slot }} ({{ duration }})</td>
<td class="two-twelfths">{{ audiences }}</td>
<td class="two-twelfths">{{ levels }}</td>
<td class="two-twelfths nowrap text--center">
    {{#if more_than_ten_places}}
    > 10
    {{else}}
        {{#ifCond open_courses_open_places '==' '0'}}
            Liste d'attente
        {{else}}
            < 10
        {{/ifCond}}
    {{/if}}
</td>
<td class="two-twelfths nowrap">
    {{#if common_price}}
    <span class="line-through">{{common_price}}€</span>
    {{/if}}
    <span class="green">GRATUIT</span>
</td>
<td class="one-twelfths text--right">
    <a href='{{structure_url}}' class='btn btn--blue btn--small' data-target="participate">M'inscrire</a>
</td>
