<td class="two-twelfths">{{ date }}</td>
<td class="three-twelfths">{{ time_slot }}</td>
<td class="one-twelfth">{{ duration }}</td>
<td class="two-twelfths">{{ audiences }}</td>
<td class="three-twelfths">{{ levels }}</td>
<td class="one-twelfths">
    <a class="btn btn--small btn--blue">
        S'inscrire
    </a>
</td>
