<td class="two-twelfths">{{ date }}</td>
<td class="two-twelfths">{{ time_slot }}</td>
<td class="one-twelfth">{{ duration }}</td>
<td class="two-twelfths">{{ audiences }}</td>
<td class="two-twelfths">{{ levels }}</td>
<td class="two-twelfths nowrap">{{ nb_place_available }} places restantes</td>
<td class="one-twelfths">
    <a href='{{structure_url}}' class='btn btn--blue btn--small' data-target="participate">M'inscrire</a>
</td>
