- course    ||= planning.course
- structure ||= course.structure
%tr
  %td.text--center
    = simple_form_for [:pro, @structure, course, planning], url: pro_structure_course_planning_path(@structure, course, planning), remote: true, html: { data: { behavior: 'live-form' } } do |f|
      = f.input :available_in_discovery_pass, label: false, input_html: { id: "available_in_discovery_pass_#{course.id}_#{planning.id}" }
  %td
    %label{ for: "available_in_discovery_pass_#{course.id}_#{planning.id}" }
      = t('date.day_names')[planning.week_day].capitalize if planning.week_day
  %td
    %label{ for: "available_in_discovery_pass_#{course.id}_#{planning.id}" }
      = readable_time_slot planning.start_time, planning.end_time
  %td
    %label{ for: "available_in_discovery_pass_#{course.id}_#{planning.id}" }
      = join_levels_text planning
  %td
    %label{ for: "available_in_discovery_pass_#{course.id}_#{planning.id}" }
      = join_audiences planning
  %td
    %label{ for: "available_in_discovery_pass_#{course.id}_#{planning.id}" }
      = planning.place.try(:name)
  %td.text--center
    %label{ for: "available_in_discovery_pass_#{course.id}_#{planning.id}" }
      - if planning.info.present?
        %i.fa.fa-info{ data: { behavior: 'tooltip', 'original-title' => planning.info } }
