= simple_form_for [:pro, @press_release] do |f|
  .text--center.push--bottom{ data: { behavior: 'image-input' } }

  = f.input :published, input_html: { class: 'input--large one-whole' }, wrapper_html: { class: 'flush' }, label: 'CP publié', label_html: { class: 'label--large' }

  .flexbox.input.input-daterange.input-group{ data: { behavior: 'datepicker' } }
    %label.flexbox__input.label--large.required.control-label{ for: 'published_date' } Date de publication
    %input.flexbox__input.input-sm.input--large.datepicker-input#published_date{ type: 'text', value: (@press_release.published_at.nil? ? '' : l(@press_release.published_at.to_date)), name: 'press_release[published_at]' }

  = f.input :title, label: false, input_html: { class: 'input--large one-whole' }
  = f.input :description, label: false, input_html: { class: 'input--large one-whole' }

  = f.input :content, label: false, input_html: { class: 'one-whole' }

  = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours...' }

= content_for :scripts do
  :javascript
      $(document).ready(function() {
          $('[name=press_release\\[content\\]]').redactor({
              buttons: ['formatting', 'bold', 'italic', 'unorderedlist', 'orderedlist',
                'link', 'alignment', 'horizontalrule', 'image'],
              formatting: ['p', 'blockquote', 'h1', 'h2', 'h3'],
              lang: 'fr',
              plugins: ['imagemanager'],
              imageUpload: Routes.admin_images_path({
                  'authenticity_token': $('meta[name=csrf-token]').attr('content')
              }),
              imageManagerJson: Routes.admin_images_path(),
          });
      });
