.grid
  .grid__item.one-twelfth.v-top.text--right>
    = image_tag (@user || current_user).avatar_url(:thumb), class: 'message__avatar'
  .grid__item.eleven-twelfths.soft-half--left>
    = simple_form_for [(@user || current_user), @conversation] do |f|
      .form-white-box.flush--top
        = f.error_notification
        = f.fields_for @message do |message_form|
          .grid--full
            .grid__item.two-twelfths>
              = message_form.label :body
            .grid__item.ten-twelfths>
              = message_form.input :body, input_html: { style: 'height: 100px', value: cookies["conversation_#{params[:id]}_message"], class: 'one-whole', data: {behavior: 'autoresize'} }, as: :text, label: false, wrapper_html: { class: 'flush--top' }
              - if @user.active?
                = f.submit 'Répondre', class: 'btn btn--green'
              - else
                = link_to 'Répondre', '#registration', title: 'Enregistrez-vous pour répondre', class: 'btn btn--green', data: {behavior: 'modal'}, id: 'registration-link'
