.grid--full.push-half--bottom.message
  .grid__item.two-twelfths.v-top.v-top>
    = image_tag @user.avatar_url(:thumb), class: 'message__avatar block center-block bordered rounded--circle'
  .grid__item.ten-twelfths.message__body.message__appendix.soft-half.gray-box>
    = simple_form_for [@user, @participation_request], url: accept_user_participation_request_path(@user, @participation_request), html: { id: 'participation-request-form' } do |f|
      = f.error_notification
      = f.fields_for :message, @message, class: 'message__body message__appendix' do |message_form|
        = message_form.input :body, input_html: { placeholder: 'Ajouter un message personnel ici', style: 'height: 100px', class: 'input--large one-whole', data: { behavior: 'autoresize' } }, as: :text, label: false, wrapper_html: { class: 'flush--top' }

      #submit-buttons
        .flexbox
          - if @participation_request.pending? and @participation_request.last_modified_by == 'Structure'
            .flexbox__item>
              = link_to 'Accepter et envoyer', '#', class: 'btn--full btn btn--green', data: { disable_with: "Message en cours d'envoi" }, id: 'accept-request'
          .flexbox__item.soft-half--sides>
            = link_to 'Proposer un autre créneau', edit_user_participation_request_path(@user, @participation_request), class: 'btn btn--orange btn--full fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
          .flexbox__item>
            = link_to 'Refuser la demande', '#', class: 'btn--full btn btn--red', data: { disable_with: "Message en cours d'envoi" }, id: 'decline-request'

= content_for :scripts do
  :javascript
    $(function() {
        $('#cancel-date-change').click(function() {
            $('#submit-buttons').slideDown();
        });
        $('#accept-request').click(function() {
            $('#participation-request-form').attr('action', Routes.accept_user_participation_request_path(#{@user.id}, #{@participation_request.id}));
            $('#participation-request-form').submit();
        });
        $('#modify-request').click(function() {
            $('#participation-request-form').attr('action', Routes.modify_date_user_participation_request_path(#{@user.id}, #{@participation_request.id}));
            $('#participation-request-form').submit();
        });
        $('#decline-request').click(function() {
            $('#participation-request-form').attr('action', Routes.decline_user_participation_request_path(#{@user.id}, #{@participation_request.id}));
            $('#participation-request-form').submit();
        });
    });
