= user_menu_currently_at 'inbox'

.panel
  .panel__header.soft
    - recipients = @conversation.recipients.reject{|recipient| recipient == @user }
    %ol.nav.breadcrumb.flush{ itemprop: 'breadcrumb' }
      - if current_user
        %li.delta= link_to 'Mes conversations', user_conversations_path(current_user)
      - else
        %li.delta= link_to "Mes conversations", 'javascript:void(0);', data: { behavior: 'connection' }
      %li.delta Conversation avec #{truncate(recipients.map{|recipient| recipient.name || recipient.email}.join(', '), length: 50) }
  .panel__body.soft
    .grid
      .grid__item.two-twelfths.v-middle.text--right>
        %p.flush Objet
      .grid__item.ten-twelfths.soft-half--left.v-middle>
        %h5.flush= @conversation.subject
    .grid
      .grid__item.two-twelfths.v-middle.text--right>
        %p À
      .grid__item.ten-twelfths.soft-half--left.v-middle>
        %p= recipients.map(&:name).join(', ')

    - if @participation_request
      .grid.epsilon
        .grid__item.two-twelfths.v-middle.text--right>
          %strong.flush.nowrap
            Cours concerné
        .grid__item.ten-twelfths.soft-half--left.v-middle>
          = participation_request_course_description(@participation_request)
      .grid.push-half--top
        .grid__item.two-twelfths.v-middle.text--right>
        .grid__item.ten-twelfths.soft-half--left.v-middle>
          .flexbox
            .flexbox__item.v-middle{ class: (@participation_request.pending? ? 'one-whole' : 'three-quarters') }>
              .soft-half.white{ class: "#{participation_request_color(@participation_request)}-box" }
                .flexbox
                  .flexbox__item.delta.v-middle.soft-half--right{ style: 'width: 1em;' }>
                    = participation_request_icon(@participation_request)
                  .flexbox__items.epsilon.v-middle.one-whole>
                    = participation_request_long_description(@participation_request, 'user')
            - if @participation_request.accepted? or (@participation_request.pending? and @participation_request.last_modified_by == 'User')
              .flexbox__item.v-middle.one-quarter.soft-half--left#modify-links>
                = link_to 'Proposer un autre créneau', edit_user_participation_request_path(@user, @participation_request), class: 'orange nowrap fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
                %br
                = link_to "Annuler l'inscription", decline_form_user_participation_request_path(@user, @participation_request), class: 'red nowrap fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
          - if @participation_request.pending? and @participation_request.last_modified_by == 'Structure'
            %p.epsilon.white-box.bordered.soft.push-half--top.flush--bottom
              Validez dès maintenant la nouvelle proposition de date de
              %strong= @participation_request.structure.name
              qui vous invite à un cours d'essai le
              %strong #{l(@participation_request.date, format: :semi_short)} à #{l(@participation_request.start_time, format: :short)}
              pour le cours
              %strong= @participation_request.course.name

      .push--top
        - if @participation_request.pending? and @participation_request.last_modified_by == 'Structure'
          = render 'users/conversations/participation_request_form'
        - else
          = render 'users/conversations/form'
    - else
      = render 'users/conversations/form'

    = render partial: 'messages/message', collection: @conversation.messages.order('created_at DESC').reject(&:new_record?)

- content_for :scripts do
  :javascript
    $(function(){
        if ($.cookie("conversation_#{params[:id]}_message_first_time")) {
            $.removeCookie("conversation_#{params[:id]}_message", {path: '/'});
        } else {
            $.cookie("conversation_#{params[:id]}_message_first_time", true);
        }
    });
