= user_menu_currently_at 'Mes messages'

%ol.nav.breadcrumb{itemprop: 'breadcrumb'}
  %li.delta= link_to 'Mes messages', user_conversations_path(current_user)
  %li.delta Conversation avec #{@conversation.recipients.reject{|recipient| recipient == @admin }.first.name}

= render partial: 'messages/message', collection: @conversation.messages.reject(&:new_record?).reverse

= render 'users/conversations/form'
