= user_menu_currently_at 'inbox'
= render 'shared/include_addthisevent'

.panel
  .panel__header.soft
    - recipients = @conversation.recipients.reject{|recipient| recipient == @user }
    %ol.nav.breadcrumb.flush{ itemprop: 'breadcrumb' }
      - if current_user
        %li.delta= link_to 'Mes conversations', user_conversations_path(current_user)
      - else
        %li.delta= link_to "Mes conversations", 'javascript:void(0);', data: { behavior: 'connection' }
      %li.delta Conversation avec #{truncate(recipients.map{|recipient| recipient.name || recipient.email}.join(', '), length: 50) }
  .panel__body.soft
    .grid
      .grid__item.two-twelfths.v-middle.text--right>
        %p.flush Objet
      .grid__item.ten-twelfths.soft-half--left.v-middle>
        %h5.flush= @conversation.subject
    .grid
      .grid__item.two-twelfths.v-middle.text--right>
        %p.flush À
      .grid__item.ten-twelfths.soft-half--left.v-middle>
        %h5.flush= recipients.map(&:name).join(', ')

    - if @participation_request
      .grid.push-half--ends
        .grid__item.two-twelfths.v-middle.text--right>
        .grid__item.ten-twelfths.soft-half--left.v-middle>
          .flexbox
            .flexbox__item.v-middle{ class: (@participation_request.pending? ? 'one-whole' : 'three-quarters') }>
              .soft-half.white{ class: "#{participation_request_color(@participation_request)}-box" }
                .flexbox
                  .flexbox__item.delta.v-middle.soft-half--right{ style: 'width: 1em;' }>
                    = participation_request_icon(@participation_request)
                  .flexbox__items.epsilon.v-middle.one-whole>
                    = participation_request_long_description(@participation_request, 'user')
            - if @participation_request.accepted? or (@participation_request.pending? and @participation_request.last_modified_by == 'User')
              .flexbox__item.v-middle.one-quarter.soft-half--left#modify-links>
                = link_to 'Proposer un autre créneau', edit_user_participation_request_path(@user, @participation_request), class: 'orange nowrap fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
                %br
                = link_to "Annuler l'inscription", cancel_form_user_participation_request_path(@user, @participation_request), class: 'red nowrap fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }

      .grid.epsilon.push-half--bottom
        .grid__item.two-twelfths.v-top.text--right>
          %strong.flush
            Récapitulatif
        .grid__item.ten-twelfths.soft-half--left.v-top>
          %ul.no-bullet-list.flush
            %li
              %strong Nom du cours :
              = @participation_request.course.name
            %li
              %strong Jour et créneau :
              #{l(@participation_request.date, format: :semi_long)} : #{l(@participation_request.start_time, format: :short)} à #{l(@participation_request.end_time, format: :short)}.
            - if @participation_request.place
              %li
                %strong Lieu :
                = @participation_request.place.name
                = link_to URI.encode("https://maps.google.com/?q=#{@participation_request.place.address}"), target: :_blank do
                  = "#{(@participation_request.place.address)}"
              - if @participation_request.place.info.present? or @participation_request.place.private_info.present?
                %li
                  %strong Infos pratiques :
                  - if @participation_request.place.info.present?
                    %br
                    = @participation_request.place.info
                  - if @participation_request.place.private_info.present?
                    %br
                    = @participation_request.place.private_info
      .grid.epsilon
        .grid__item.two-twelfths.v-top.text--right>
          %strong.flush
            Ajouter au calendrier
        .grid__item.ten-twelfths.soft-half--left.v-top>
          = add_to_calendar(@participation_request)
      .push--top
        - if @participation_request.pending? and @participation_request.last_modified_by == 'Structure'
          = render 'users/conversations/participation_request_form'
        - else
          = render 'users/conversations/form'
    - else
      = render 'users/conversations/form'

    = render partial: 'messages/message', collection: @conversation.messages.order('created_at DESC').reject(&:new_record?)

- content_for :scripts do
  :javascript
    $(function(){
        if ($.cookie("conversation_#{params[:id]}_message_first_time")) {
            $.removeCookie("conversation_#{params[:id]}_message", {path: '/'});
        } else {
            $.cookie("conversation_#{params[:id]}_message_first_time", true);
        }
    });
