= user_menu_currently_at 'inbox'
= render 'shared/include_addthisevent'

.panel
  .panel__header.soft
    - recipients = @conversation.recipients.reject{|recipient| recipient == @user }
    %ol.nav.breadcrumb.flush{ itemprop: 'breadcrumb' }
      - if @user
        %li.delta= link_to 'Mes conversations', user_conversations_path(@user)
      - else
        %li.delta= link_to "Mes conversations", 'javascript:void(0);', data: { behavior: 'connection' }
      %li.delta Conversation avec #{truncate(recipients.map{|recipient| recipient.name || recipient.email}.join(', '), length: 50) }
  .panel__body.soft
    .grid
      .grid__item.two-twelfths.v-middle.text--right>
        %p.flush Objet
      .grid__item.ten-twelfths.soft-half--left.v-middle>
        %h5.flush= @conversation.subject
    .grid
      .grid__item.two-twelfths.v-middle.text--right>
        %p.flush À
      .grid__item.ten-twelfths.soft-half--left.v-middle>
        %h5.flush= recipients.map(&:name).join(', ')

    .push--top
      = render partial: 'users/conversations/form', locals: { conversation: @conversation }

    = render partial: 'messages/message', collection: @conversation.messages.order('created_at DESC').reject(&:new_record?)

- content_for :scripts do
  :javascript
    $(function(){
        if ($.cookie("conversation_#{params[:id]}_message_first_time")) {
            $.removeCookie("conversation_#{params[:id]}_message", {path: '/'});
        } else {
            $.cookie("conversation_#{params[:id]}_message_first_time", true);
        }
    });
