= side_menu_currently_at 'emailings'

.panel
  .panel__header.soft.text--center
    %h3.flush Newsletter

  .panel__body.soft
    %p= @emailing.title

    = image_tag '/assets/logos/logo.png', class: 'center-block'
    = image_tag @emailing.header_image.url, class: 'very-soft'
    %p= @emailing.body.html_safe

    %hr
    %div.text--center.grid--full
      .grid__item.one-third>
        = link_to '/search' do
          %i.fa.fa-search
          Rechercher un Cours

      .grid__item.one-third>
        = link_to '' do
          %i.fa.fa-key
          Votre compte

      .grid__item.one-third>
        = link_to '' do
          %i.fa
          Se désabonner
    %hr

    #emailings-region{ data: { type: 'emailings-root' } }

- content_for :scripts do
  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          id: #{ @emailing.id },
          models: #{ @sections.to_json }
      };
