= side_menu_currently_at 'emailings'

.panel
  .panel__header.soft.text--center
    %h3.flush Newsletter

  .panel__body.soft
    %p= @emailing.title

    = image_tag '/assets/logos/logo.png', class: 'center-block'
    = image_tag @emailing.header_image.url, class: 'very-soft'
    %p= @emailing.body.html_safe

    %hr
    %div.text--center.grid--full
      .grid__item.one-third>
        = link_to '/search' do
          %i.fa.fa-search
          Rechercher un Cours

      .grid__item.one-third>
        = link_to '' do
          %i.fa.fa-key
          Votre compte

      .grid__item.one-third>
        = link_to '' do
          %i.fa
          Se désabonner
    %hr

    #emailings-region{ data: { type: 'emailings-root' } }

    -# - @emailing.emailing_sections.each do |section|
    -#   %div.grid--full
    -#     %h4= section.title
    -#
    -#     - section.structures.each do |structure|
    -#       %div.grid__item.one-third>
    -#         = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN) do
    -#           = render partial: 'image_chooser', locals: { section: section, structure: structure }
    -#
    -#         - @emailing.section_metadata.each do |action|
    -#           %p= @emailing.call_action(action, structure)
    -#
    -#   = link_to section.link_name, section.link

- content_for :scripts do
  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
        id: #{ @emailing.id },
        models: #{ @emailing.emailing_sections.to_json }
      };
