= side_menu_currently_at 'emailings'

.panel
  .panel__header.soft.text--center
    %h3.flush Newsletter

  .panel_body.soft
    .text--center.margin-bottom
      = link_to 'Editer', edit_pro_emailing_path(@emailing), class: 'btn btn--green push-half--right'
      = link_to 'Previsualiser la Newsletter', preview_pro_emailing_path(@emailing), class: 'btn btn--green push-half--right fancybox.ajax', data: { behavior: 'modal', width: '670', padding: 0 }
      %a{ class: 'btn btn--green push-half--right', href: 'javascript:void(0)', data: { behavior: 'show' } }
        Envoyer la previsualisation
      = link_to 'Copier le code', code_pro_emailing_path(@emailing), class: 'btn btn--green push-half--right fancybox.ajax', data: { behavior: 'modal', width: '700', padding: 0 }

    .hidden.text--center.margin-bottom{ data: { behavior: 'hidden' } }
      %form{ action: send_preview_pro_emailing_path(@emailing), method: 'GET' }
        %input.input--large{ name: 'to', type: 'email', placeholder: 'contact@coursavenue.com' }
        %input{ type: 'submit', class: 'btn btn--green', data: { disable_with: "En cours d'envoi" } }

    %hr

    .gray-box
      .soft-half--ends.gray.milli.text--center= @emailing.title
      %div.white-box.center-block.bordered{ style: 'width: 600px;'}
        = image_tag asset_path('logos/logo.png'), class: 'center-block push-half--ends'
        = image_tag @emailing.header_image.url, class: 'very-soft', alt: @emailing.alt if @emailing.header_image.present?
        .soft
          = @emailing.body.html_safe

        #emailings-region{ data: { type: 'emailings-root' } }
        .grid
          .grid__item.one-third.text--center>
            = link_to 'Recherchez un cours', ''
          .grid__item.one-third.text--center>
            = link_to 'Votre compte', ''
          .grid__item.one-third.text--center>
            = link_to 'Se désabonner', ''

- content_for :scripts do
  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          id: #{ @emailing.id },
          models: #{ @sections.to_json }
      };

      $(document).ready(function() {
          $('[data-behavior=show]').click(function() {
              $('[data-behavior=hidden]').slideDown();
          });
      });
