= side_menu_currently_at 'emailings'

.panel
  .panel__header.soft.text--center
    %h3.flush Newsletter

  .panel_body.soft
    = link_to 'Previsualiser la Newsletter', preview_pro_emailing_path(@emailing), class: 'btn btn--green push-half--right fancybox.ajax', data: { behavior: 'modal', width: '700', padding: 0 }
    = link_to 'Envoyer la newsletter', send_preview_pro_emailing_path(@emailing), class: 'btn btn--green push-half--right'

    %hr

    %p= @emailing.title

    = image_tag '/assets/logos/logo.png', class: 'center-block'
    = image_tag @emailing.header_image.url, class: 'very-soft'
    - @emailing.body.split("\r\n\r\n").each do |paragraph|
      %p= paragraph

    %hr
    %div.text--center.grid--full
      .grid__item.one-third>
        = link_to '/search' do
          %i.fa.fa-search
          Rechercher un Cours

      .grid__item.one-third>
        = link_to mon_compte_path do
          %i.fa.fa-key
          Votre compte

      .grid__item.one-third>
        = link_to '' do
          %i.fa
          Se désabonner
    %hr

    #emailings-region{ data: { type: 'emailings-root' } }

- content_for :scripts do
  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          id: #{ @emailing.id },
          models: #{ @sections.to_json }
      };
