{{#unless is_first}}<hr class="flush--ends two-thirds">{{/unless}}
<div class="{{#unless is_sleeping}}cursor-pointer{{/unless}} hoverable transition-all-300 very-soft f-weight-600 line-height-1-7">
    <div class="epsilon f-weight-600 line-height-1-7">
        <meta itemprop="summary" content="{{course.name}}">
        {{ date }}
    </div>
    <div class="f-weight-500">
        Durée : {{ duration }}
        (de <time itemprop="startDate" datetime="{{start_date_datetime}}">{{ time_slot }}</time>)
        <time itemprop="endDate" datetime="{{end_date_datetime}}"></time>
    </div>
    <div class="gray-light f-weight-500">{{ levels }} - {{ audiences }}</div>
    <div style="min-width: 80px;" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
        {{#if address_name }}
            <div itemprop="name" class="inline-block gray f-weight-500" data-toggle="popover" data-html="true" data-trigger="hover" data-content="{{ hide_contacts_and_escape address_with_info }}"><i class="fa-map-marker"></i> {{ address_name }}</div>{{!--
         --}}<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">{{!--
             --}}<meta itemprop="street-address" content="{{address}}">
             </span>{{!--
          --}}<span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">{{!--
            --}}<meta itemprop="latitude" content="{{latitude}}"><meta itemprop="longitude" content="{{longitude}}">{{!--
         --}}</span>{{!--
     --}}{{/if}}
    </div>
</div>
