
<div data-type="structure-headers"></div>

<ul class="tabs">
    {{!-- each relation on the structure creates a tab --}}
    {{#each relations }}
    <li class="{{active}}">
        <a href="#tab-{{slug}}" data-toggle="tab">
            <i class="fa fa-{{icon}}"></i>
            {{name}}
        </a>
    </li>
    {{/each}}
</ul>

<div class="tab-content">
    {{!-- each tab has its own view --}}
    {{!-- the first tab is shown by default --}}

    {{#with tab}}
    <article id="tab-{{slug}}" class="tab-pane">
        {{#if isEmpty}}
            <p class="white-box islet text--center">
                Cet établissement n'a pas encore d'avis <br>
                <b>Soyez le premier à nous donner votre avis !</b>
            </p>
        {{else}}
          <ul id="comments" class="comment-list">
              {{#each comments}}
                  = render partial: 'comments/comment', locals: {comment: comment, show_title: true}
              {{/each}}
          </ul>
        {{/if}}
    
    </article>
    {{/with}}


</div>
