<!-- <div class="drop-down__wrapper" data-behavior="drop-down" data-el="> .drop-down__el" data-position="left"> -->
<div class="drop-down__wrapper">
    <div class="btn btn--gray btn--full text-transform-none" data-behavior="clear-filter">
        Date
        <i class="fa fa-times hidden" data-el="clearer"></i>
    </div>
    <div class="drop-down__el soft-half on-top">
        <div data-type="date" class="flexbox">
            <div class="flexbox__item text--left soft--right">
                <div class="nowrap push-half--bottom">
                    <input id="date-filter-regular" type="radio" name="date-filter-type" value="regulars" class="inline-block v-middle" data-behavior="toggle" />
                    <label class="epsilon inline-block v-middle" for="date-filter-regular">Cours réguliers</label>
                </div>
                <div class="nowrap">
                    <input id="date-filter-training" type="radio" name="date-filter-type" value="trainings" class="inline-block v-middle" data-behavior="toggle" />
                    <label class="epsilon inline-block v-middle" for="date-filter-training">Stage</label>
                </div>
            </div>
        <div class="flexbox__item">
            <div data-type="week-day-wrapper" class="flexbox">
                <div class="btn-group flexbox__item v-middle" data-toggle="buttons">
                    <% I18n.t('date.abbr_day_names').rotate.each_with_index do |day, index| %>
                        <label class="btn btn--gray text-transform-none nowrap">
                            <input data-type="day" type="checkbox" name="week_days[]" value="<%= (index == 6  ? 0 : index + 1) %>"><%= day.capitalize %>.
                        </label>
                    <% end %>
                </div>
                <div class="flexbox__item v-middle soft-half--left">
                    <div data-type="time" class="inline-block v-middle">
                        <select>
                            <option value="all-day">Toute la journée</option>
                            <% Planning::TIME_SLOTS.each do |key, value| %>
                                <option value="<%= value[:start_time] %>-<%= value[:end_time] %>"><%= I18n.t(value[:name]) %></option>
                            <% end %>
                            <option value="choose-slot">Creneau précis</option>
                        </select>
                    </div>
                </div>
                <div class="flexbox__item v-middle soft-half--left nowrap">
                    <div data-type="hour-range" class="inline-block v-middle">
                        de
                        <select id="start-hour">
                        </select>
                        à
                        <select id="end-hour">
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-daterange nowrap" data-type="date-range" data-behavior="datepicker">
                <span class="add-on">du</span>
                <input name="start" class="datepicker-input" id="start-date" data-value="start-date" value="{{start_date}}">
                <span class="add-on">au</span>
                <input name="end" class="datepicker-input" id="end-date" data-value="end-date" value="{{end_date}}">
            </div>
        </div>
    </div>
</div>

