<div class="drop-down__wrapper" data-behavior="drop-down" data-el="> .drop-down__el" data-position="right">
    <div class="btn btn--gray btn--full text-transform-none" data-behavior="clear-filter">
      Date
      <i class="fa fa-times hidden" data-el="clearer"></i>
    </div>
    <div class="drop-down__el soft-half on-top">
        <div data-type="date">
            <div class="btn-group" data-toggle="buttons">
                <% I18n.t('date.day_names').rotate.each_with_index do |day, index| %>
                    <label class="btn btn--gray text-transform-none nowrap">
                        <input data-type="day" type="checkbox" name="week_days[]" value="<%= (index == 6  ? 0 : index + 1) %>"><%= day.capitalize %>
                    </label>
                <% end %>
            </div>
            <div class="push-half--top">
                <div data-type="time" class="inline-block v-middle">
                    <select>
                        <option value="all-day">Toute la journée</option>
                        <% Planning::TIME_SLOTS.each do |key, value| %>
                            <option value="<%= value[:start_time] %>-<%= value[:end_time] %>"><%= I18n.t(value[:name]) %></option>
                        <% end %>
                        <option value="choose-slot">Creneau précis</option>
                    </select>
                </div>
                <div data-type="hour-range" class="inline-block v-middle">
                    de
                    <select id="start-hour">
                    </select>
                    à
                    <select id="end-hour">
                    </select>
                </div>
                <button class="inline-block v-middle btn btn--gray btn--small" data-behavior="toggle" >Choisir des dates precises</button>
            </div>
        </div>

        <div class="input-daterange nowrap push-half--top" data-type="date-range" data-behavior="datepicker">
            <span class="add-on">du</span>
            <input name="start" class="datepicker-input" id="start-date" data-value="start-date" value="{{start_date}}">
            <span class="add-on">au</span>
            <input name="end" class="datepicker-input" id="end-date" data-value="end-date" value="{{end_date}}">
            <div class="push-half--top">
                <button class="push-half--left inline-block v-middle btn btn--gray btn--small" data-behavior="toggle" >Choisir les jours de la semaine</button>
            </div>
        </div>
    </div>
</div>

