- if @referrer.logo?
  - content_for :logo do
    = link_to structure_url(@referrer, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: '_blank' do
      = image_tag @referrer.logo.url(:thumb), width: 80, height: 80, class: 'block'

- content_for :promo do
  .title.line-height-1-7
    #{@referrer.name} vous invite à créer votre profil sur CoursAvenue

- if @email_text
  = simple_format @email_text

%p.action
  = link_to 'Créer mon profil', inscription_pro_structures_url(email: @email, from_friend: true, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green', utm_source: 'email', utm_campaign: 'invite_teacher', utm_medium: 'stage_0'
%p
  À très bientôt !
%p= @referrer.name

- content_for :under_content do
  = render 'admin_mailer/shared/footer_info'

- content_for :footer do
  %p Vous recevez cet email car #{@referrer.name} vous invite sur CoursAvenue.
