- if @referrer.logo?
  - content_for :logo do
    = link_to structure_url(@referrer, subdomain: 'www'), target: '_blank' do
      = image_tag @referrer.logo.url(:thumb), style: '-ms-interpolation-mode:bicubic;', width: '100', height: '100'

- content_for :promo do
  %h4
    #{@referrer.name} vous invite à créer votre profil sur CoursAvenue

- if @email_text
  = simple_format @email_text

%p.action
  = link_to 'Créer mon profil', inscription_pro_structures_url(email: @email, from_friend: true, subdomain: 'pro'), class: 'btn btn--green', utm_source: 'email', utm_campaign: 'invite_teacher', utm_medium: 'stage_0'
%p
  À très bientôt !
%p= @referrer.name

- content_for :under_content do
  = render 'admin_mailer/footer_info'

- content_for :footer do
  %p Vous recevez cet email car #{@referrer.name} vous invite sur CoursAvenue.
