.visuallyhidden--lap-and-up
  = image_tag 'logos/logo-pro-white.png', width: 190, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo-pro-white@2x.png') }, class: 'homescreen-header__logo v-middle push--left west north absolute ', style: 'left: 3px; top: 3px;'
  = image_tag 'logos/logo-pro.png', width: 200, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo-pro@2x.png') }, class: 'homescreen-header__logo v-middle push--left west north absolute hidden'
= link_to root_path, class: 'block visuallyhidden--palm' do
  = image_tag 'logos/logo-pro-white.png', width: 190, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo-pro-white@2x.png') }, class: 'homescreen-header__logo v-middle push--left west north absolute ', style: 'left: 3px; top: 3px;'
  = image_tag 'logos/logo-pro.png', width: 200, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo-pro@2x.png') }, class: 'homescreen-header__logo v-middle push--left west north absolute hidden', id: 'home-logo-dark'

%ul.nav.flush.epsilon.f-weight-600.palm-push
  %li.visuallyhidden--lap-and-up.palm-block.palm-text--center.line-height-1-7.soft--right.push-half--ends.soft-half--top
    = link_to 'Connexion', new_pro_admin_session_path, class: 'white-transparent header--pro__link'
  %li.palm-block.palm-text--center.line-height-1-7.soft--right
    = link_to 'Blog', pro_blog_articles_path, class: ['white-transparent', 'header--pro__link', (current == 'blog' ? 'active bordered--bottom bordered--larger' : '')]
  %li.visuallyhidden--palm.soft--right
    - if current_pro_admin and !current_pro_admin.super_admin?
      = link_to 'Accéder à mon espace Pro', pro_structure_path(current_pro_admin.structure), class: 'muted-link btn btn--white-transparent', data: { try: true }
    - else
      = link_to 'Essayer gratuitement', inscription_pro_structures_path, class: 'muted-link white btn btn--white-transparent', data: { try: true }
