- content_for :side_menu do
  %ul
    = pro_side_menu_link 'Stats'                , pro_reservation_loggers_path             , current: current_tab, icon: 'icon-bar-chart'   if current_pro_admin and current_pro_admin.super_admin?
    = pro_side_menu_link 'Derniers commentaires', pro_comments_path                        , current: current_tab, icon: 'icon-comments'    if current_pro_admin and current_pro_admin.super_admin?
    = pro_side_menu_link 'Newsletter users'     , pro_newsletter_users_path                , current: current_tab, icon: 'icon-group'       if current_pro_admin and current_pro_admin.super_admin?
    = pro_side_menu_link 'Users'                , pro_users_path                           , current: current_tab, icon: 'icon-group'       if current_pro_admin and current_pro_admin.super_admin?
    = pro_side_menu_link 'Admins'               , pro_admins_path                          , current: current_tab, icon: 'icon-group'       if current_pro_admin and current_pro_admin.super_admin?
    = pro_side_menu_link 'Structures'           , pro_structures_path                      , current: current_tab, icon: 'icon-building'    if current_pro_admin and current_pro_admin.super_admin?

    = pro_side_menu_link 'Mes cours'            , pro_structure_path(@structure)            , current: current_tab, icon: 'icon-list'       if @structure and !@structure.new_record?
    = pro_side_menu_link 'Mes professeurs'      , pro_structure_teachers_path(@structure)   , current: current_tab, icon: 'icon-group'      if @structure and !@structure.new_record?
    = pro_side_menu_link "Lieux d'enseignements", pro_structure_places_path(@structure)     , current: current_tab, icon: 'icon-map-marker' if @structure and !@structure.new_record?
    = pro_side_menu_link 'Mes avis'             , pro_structure_comments_path(@structure)   , current: current_tab, icon: 'icon-comments'   if @structure and !@structure.new_record?
    = pro_side_menu_link 'Recommandations', recommendations_pro_structure_path(@structure)  , current: current_tab, icon: 'icon-bullhorn'   if @structure and !@structure.new_record?
    = pro_side_menu_link 'Infos générales'.html_safe      , (@structure.new_record? ? new_pro_structure_path : edit_pro_structure_path(@structure))     , current: current_tab, icon: 'icon-cogs' if @structure
