- content_for :side_menu do
  %ul
    - if current_pro_admin and current_pro_admin.super_admin?
      = pro_side_menu_link 'Super Dashboard'      , pro_dashboard_path                       , current: current_tab, icon: 'icon-bar-chart'
      = pro_side_menu_link 'Derniers commentaires', pro_comments_path                        , current: current_tab, icon: 'icon-comments'
      = pro_side_menu_link 'Newsletter users'     , pro_students_path                        , current: current_tab, icon: 'icon-group'
      = pro_side_menu_link 'Users'                , pro_users_path                           , current: current_tab, icon: 'icon-group'
      = pro_side_menu_link 'Admins'               , pro_admins_path                          , current: current_tab, icon: 'icon-group'
      = pro_side_menu_link 'Structures'           , pro_structures_path                      , current: current_tab, icon: 'icon-building'
      %li &nbsp;

    - if @structure
      = pro_side_menu_link 'Tableau de bord'.html_safe  , dashboard_pro_structure_path(@structure)  , current: current_tab, icon: 'icon-dashboard'
      = pro_side_menu_link 'Profil'.html_safe      , (@structure.new_record? ? new_pro_structure_path : edit_pro_structure_path(@structure)) , current: current_tab,   icon: 'icon-user'
      = pro_side_menu_link "Lieux d'enseignements", pro_structure_places_path(@structure)          , current: current_tab, icon: 'icon-map-marker'
      = pro_side_menu_link 'Mes professeurs'      , pro_structure_teachers_path(@structure)        , current: current_tab, icon: 'icon-group'
      = pro_side_menu_link 'Recommandations'      , recommendations_pro_structure_path(@structure) , current: current_tab, icon: 'icon-bullhorn'
      = pro_side_menu_link 'Mes avis'             , pro_structure_comments_path(@structure)        , current: current_tab, icon: 'icon-comments'
      = pro_side_menu_link 'Mes photos & vidéos'  , pro_structure_medias_path(@structure)          , current: current_tab, icon: 'icon-youtube-play'
      = pro_side_menu_link 'Mes cours'            , pro_structure_path(@structure)                 , current: current_tab, icon: 'icon-list'
      = pro_side_menu_link 'Mes paramètres'       , edit_pro_admin_path(@structure.admins.first)   , current: current_tab, icon: 'icon-cogs'
