- content_for :side_menu do
  %ul.push--top
    - if current_pro_admin and current_pro_admin.super_admin?
      - if !@structure
        = pro_side_menu_link 'pro_dashboard',      pro_dashboard_url(subdomain: 'pro'),            current: current_tab, icon: 'fa-2x fa-dashboard'
        = pro_side_menu_link 'activity',           pro_conversations_url(subdomain: 'pro'),        current: current_tab, icon: 'fa-2x fa-pulse-rate'
        = pro_side_menu_link 'subscription_plans', pro_subscriptions_plans_url(subdomain: 'pro'),  current: current_tab, icon: 'fa-2x fa-credit-card'
        = pro_side_menu_link 'pages',              admin_blog_articles_url(subdomain: 'pro'),      current: current_tab, icon: 'fa-2x fa-book'
        = pro_side_menu_link 'invitations',        pro_invited_users_url(subdomain: 'pro'),        current: current_tab, icon: 'fa fa-2x fa-group'
        = pro_side_menu_link 'subjects',           pro_subjects_url(subdomain: 'pro'),         current: current_tab, icon: 'fa fa-2x fa-chevron-down'
        = pro_side_menu_link 'emailings',          pro_emailings_url(subdomain: 'pro'),            current: current_tab, icon: 'fa-2x fa-send'
        = pro_side_menu_link 'guides',             pro_guides_path(subdomain: 'pro'),              current: current_tab, icon: 'fa-2x fa-bars'
      - else
        = pro_side_menu_link 'pro_dashboard',      pro_dashboard_url(subdomain: 'pro'),            current: current_tab, icon: 'fa fa-2x fa-dashboard'

    - if @structure
      = pro_side_menu_link 'statistics',
                            pro_structure_statistics_path(@structure, subdomain: 'pro'),
                            current: current_tab,
                            icon: 'fa-2x fa-bar-chart-o'

      = pro_side_menu_link 'presentation',
                            edit_pro_structure_url(@structure, subdomain: 'pro'),
                            current: current_tab,
                            icon: 'fa fa-2x fa-user'

      = pro_side_menu_link 'plannings',
                            regular_pro_structure_courses_url(@structure, subdomain: 'pro'),
                            current: current_tab,
                            icon: 'fa fa-2x fa-calendar'

      = pro_side_menu_link 'inscriptions',
                            pro_structure_participation_requests_url(@structure, subdomain: 'pro'),
                            current: current_tab,
                            icon: 'fa fa-2x fa-group'

      = pro_side_menu_link 'comments',
                            pro_structure_comments_url(@structure, subdomain: 'pro'),
                            current: current_tab,
                            icon: 'fa fa-2x fa-comment'

      = pro_side_menu_link 'newsletters',
                            pro_structure_newsletters_path(@structure, subdomain: 'pro'),
                            current: current_tab,
                            icon: 'fa-2x fa-send'

      = pro_side_menu_link 'messages',
                            pro_structure_conversations_url(@structure, subdomain: 'pro'),
                            current: current_tab,
                            icon: 'fa fa-2x fa-envelope-o'
