- content_for :side_menu do
  %ul
    = pro_side_menu_link 'Admins'               , admin_users_path                  , current: current_tab if current_admin.super_admin?
    = pro_side_menu_link 'Structures'           , structures_path                   , current: current_tab if current_admin.super_admin?
    = pro_side_menu_link 'Infos générales'      , structure_path(@structure)        , current: current_tab if @structure
    = pro_side_menu_link "Lieux d'enseignements", structure_places_path(@structure) , current: current_tab if @structure
    = pro_side_menu_link "Mes cours"            , structure_courses_path(@structure), current: current_tab if @structure

