<td class="text--center hard">
    <input type="checkbox" {{#if checked}}checked{{/if}} data-behavior="select" />
</td>
<td>
  <div class="pointer" data-behavior="editable" data-type="editable-text" data-name="email" data-pk="{{id}}" data-url="{{path}}">{{!-- 
  --}}{{email}}{{!--
  --}}</div>
</td>
<td>
  <div class="pointer" data-behavior="editable" data-type="text" data-name="first_name" data-pk="{{id}}" data-url="{{path}}">{{!--
  --}}{{first_name}}{{!--
  --}}</div>
</td>
<td>
  <div class="pointer" data-behavior="editable" data-type="text" data-name="last_name" data-pk="{{id}}" data-url="{{path}}">{{!--
  --}}{{last_name}}{{!--
  --}}</div>
</td>
<td>
  <div class="pointer" data-behavior="editable" data-type="text" data-name="tag_name" data-pk="{{id}}" data-url="{{path}}">{{!--
  --}}{{tag_name}}{{!--
  --}}</div>
</td>
<td>
  <span data-title="{{mobile_phone_number}} {{#ifCond mobile_phone_number '&&' phone_number}}/{{/ifCond}} {{phone_number}}" data-behavior="tooltip" class="pointer">{{!--
  --}}<i class="fa fa-phone"></i>{{!--
  --}}</span>
</td>

<td>
  <a title="Voir les détails" data-behavior="more-detail">
    <i class="fa fa-plus"></i>
  </a>
</td>
