= side_menu_currently_at 'jpo'

.panel
  = render partial: 'pro/structures/open_courses/tabs', locals: { current: 'participations' }
  .panel__body.soft
    - @open_courses.each do |open_course|
      %div
        %h3.inline-block.v-middle.flush= open_course.name
        - # If it has multiple plannings for a course, might wanna send a groupped message for the whole course
        - if open_course.plannings.count > 1
          - if open_course.plannings.map(&:participations).flatten.any?
            - user_profiles_id = open_course.participations.map{ |part| part.user.user_profile_for(@structure).try(:id) }
            = link_to new_pro_structure_message_path(@structure, return_to: pro_structure_participations_path(@structure), message: { subject: "Message concernant le cours de #{open_course.name}", recipients: user_profiles_id }), class: 'v-middle nowrap fancybox.ajax push-half--left', data: { behavior: 'modal', width: '780' }, title: "Message groupé pour le cours de #{open_course.name}" do
              %i.fa.fa-envelope
              Envoyer un message groupé

      - open_course.plannings.order('start_date ASC, start_time ASC').each do |planning|
        %h5.inline-block.v-middle.flush
          %i.fa-calendar
          = planning_date_for(planning).capitalize
          = planning_time_for(planning)

        .progress.inline-block.v-middle.push-half--left{style: 'width: 10em;'}
          .bar.bar-success{style: "width: #{(planning.nb_jpo_participants * 100) / planning.nb_participants_max}%;"}
            #{planning.nb_jpo_participants} / #{planning.nb_participants_max}
        - if planning.waiting_list.any?
          %span Liste d'attente
          .progress.inline-block.v-middle.push-half--left{style: 'width: 10em;'}
            .bar.bar-warning{style: "width: 50%;"}
              #{planning.nb_jpo_participants_only_waiting_list}

        - if planning.participations.any?
          - user_profiles_id = planning.participations.map{ |part| part.user.user_profile_for(@structure).try(:id) }
          = link_to new_pro_structure_message_path(@structure, return_to: pro_structure_participations_path(@structure), message: { subject: "Message concernant le cours du #{planning_date_for(planning)} #{planning_time_for(planning, false)}", recipients: user_profiles_id }), class: 'nowrap fancybox.ajax push-half--left', data: { behavior: 'modal', width: '780' }, title: "Message groupé pour le cours du #{planning_date_for(planning)} #{planning_time_for(planning, false)}" do
            %i.fa.fa-envelope
            Envoyer un message groupé
        %table.table--data.table--striped.table--white.push-half--top
          %thead
            %tr
              %th.three-twelfths Nom de l'élève
              %th.two-twelfths Email
              %th.two-twelfths Téléphone
              %th.three-twelfths Date d'inscription
              %th.text--center Statut
              %th
          %tbody
            - planning.participations.order('canceled_at DESC').each do |participation|
              %tr{class: [(participation.canceled? ? 'red' : ''), (participation.waiting_list? ? 'orange' : '')]}
                %td= participation_user_name(participation)
                %td= link_to participation.user.email, "mailto:#{participation.user.email}", target: :_blank
                %td= readable_phone_number participation.user.phone_number
                %td= l(participation.created_at, format: :date).capitalize
                %td.text--center.nowrap
                  - if participation.canceled?
                    %i.fa.fa-ban.red
                    Annulé
                    -# %i.fa.fa-ban.red.cursor-pointer{ title: "Annulé", data: { behavior: 'tooltip'} }
                  - elsif participation.waiting_list?
                    -# %i.fa-clock-o.orange.cursor-pointer{ title: "Sur liste d'attente", data: { behavior: 'tooltip'} }
                    %i.fa-clock-o.orange
                    Liste d'attente
                    %br
                    = link_to pop_from_waiting_list_pro_structure_participation_path(@structure, participation), class: 'btn btn--small btn--green', method: :patch do
                      %i.fa-check
                      Accepter l'inscription
                  - else
                    %i.fa-check.green.cursor-pointer{ title: "Inscription validé", data: { behavior: 'tooltip'} }
                %td.text--right.nowrap
                  = link_to new_pro_structure_message_path(@structure, return_to: pro_structure_participations_path(@structure), message: { subject: "Message concernant le cours du #{planning_date_for(planning)} #{planning_time_for(planning, false)}", recipients: [participation.user.user_profile_for(@structure).id] } ), class: 'btn btn--small btn--blue nowrap fancybox.ajax', data: { behavior: 'modal', width: '780' }, title: "Message pour le cours du #{planning_date_for(planning)} #{planning_time_for(planning, false)}" do
                    %i.fa.fa-envelope
                    Message
      %hr

    - if (participations = @open_courses.map(&:plannings).flatten.map(&:participations).flatten).any?
      - user_profiles_id = participations.map{ |part| part.user.user_profile_for(@structure).try(:id) }
      .text--center
        = link_to new_pro_structure_message_path(@structure, return_to: pro_structure_participations_path(@structure), message: { subject: "Message groupé pour les Portes Ouvertesdu 5-6 avril", recipients: user_profiles_id }), class: 'btn btn--blue v-middle nowrap fancybox.ajax', data: { behavior: 'modal', width: '780' }, title: "Message groupé pour les Portes Ouvertesdu 5-6 avril" do
          %i.fa.fa-envelope
          Envoyer un message groupé à tous les inscrits
