- if @category.image.present?
  - @header_image = @category.image.url(:large)

= content_for :header_title do
  = @category.name

= content_for :above_content do
  = render partial: 'pro/blog/breadcrumb'

.soft
  %h2.text--center= @category.subtitle
  - page = (params[:page].present? ? params[:page].to_i : 1)
  - @articles.each_with_index do |article, index|
    - if index == 2
      .inline-block.one-quarter>
        = render partial: 'pro/blog/subscribe_to_blog'
    - double = (index * page % 4 == 0)
    .inline-block.v-top.soft--sides{ class: (double ? 'one-half' : 'one-quarter') }>
      = render partial: 'pro/blog/articles/article', locals: { article: article, double: double }

.text--center.push-half--ends= paginate @articles, window: 1, outer_window: 3
