= side_menu_currently_at 'pages'

.panel
  = render partial: 'pro/shared/pages_tabs', locals: { current: 'blog' }
  .panel__body
    .soft.text--center
      = link_to 'Nouvel article', new_pro_blog_article_path, class: 'btn btn--large btn--green'
    %table.table--data.table--striped
      %thead
        %tr
          %th.one-half Nom
          %th Description
          %th.three-twelfths Date de publication
          %th Catégorie
          %th Publié
          %th
      %tbody
      - @articles.each do |article|
        - cache [article, 'pro/blog_articles/index'] do
          %tr
            %td= article.title
            %td
              %div{ data: { toggle: 'popover', content: article.description, trigger: 'hover', position: 'top' } }
                .btn Desc
            %td
              = l(article.published_at, format: :date_with_year) if article.published_at
            %td
              - if article.category
                = article.category.name
            %td.text--center
              - if article.published?
                %i.fa.fa-check.green
            %td.nowrap
              = link_to 'Modifier', edit_pro_blog_article_path(article), class: 'orange'
              \/
              = link_to 'Supprimer', pro_blog_article_path(article), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette article ?' }, class: 'red'
              \/
              = link_to 'Voir', blog_article_url(article, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: :_blank
