- @header_image = @article.image.url(:large)

= content_for :title do
  = @article_decorator.page_title

= content_for :header_title do
  = @article.title

= content_for :above_content do
  = render partial: 'pro/blog/breadcrumb'

.main-container.main-container--medium.soft--ends
  .grid
    .grid__item.v-top.palm-one-whole{ class: @article.medias.any? ? 'two-thirds' : 'three-quarters' }>
      .gray-light.epsilon.line-height-1-7.push-half--bottom
        Par #{@article.author.try(:name) || 'Camille'} le
        %time{ itemprop: 'dateCreated', datetime: l(@article.published_at, format: :iso_date) }
          = l @article.published_at, format: :date_with_year

      %article.blog-article__content.pro-blog-article__content{ itemprop: 'text', itemscope: true, itemtype: 'http://schema.org/Article' }
        %p.epsilon.gray.line-height-1-7
          = @article.description.html_safe
        - if @article.box_top.present?
          .yellow-box.f-weight-600.soft.white.rounded
            = @article.box_top.html_safe
        .push--top
          = @article.content.html_safe
        - if @article.box_bottom.present?
          .yellow-box.f-weight-600.soft.white.rounded
            = @article.box_bottom.html_safe
      %hr
      %p
        %span.soft-half--right= l(@article.published_at, format: :date_with_year).capitalize
        - if @article.author
          |
          %span.soft-half--sides #{@article.author.name}
        |
        %span.soft-half--sides
          = link_to @article.category.name, category_pro_blog_articles_path(category_id: @article.category.slug), class: 'semi-muted-link'

      - if @article.author
        .gray-box.soft.flexbox
          .flexbox__item.v-top.one-whole
            %h5 À propos de #{@article.author.name}
            %p.flush.epsilon.gray= @article.author.description.html_safe
          - if @article.author.avatar.present?
            .flexbox__item.v-top.soft--left
              = image_tag @article.author.avatar.url(:small), height: 80, width: 80, class: 'rounded--circle'
    .grid__item.v-top.palm-one-whole.visuallyhidden--palm{ class: @article.medias.any? ? 'one-third' : 'one-quarter' }>
      - if @article.medias.any?
        - @article.medias.limit(6).each do |image|
          = image_tag image.thumbnail_url, class: 'block one-whole'
      .push--top= render partial: 'pro/blog/subscribe_to_blog'

  %h4.beta.text--center.tk-lexia.bordered--bottom.soft--bottom.f-weight-400.push--top.soft--top Commentaires
  #disqus_thread
  :javascript
    var disqus_shortname = 'coursavenue';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  %noscript
    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

