- @header_image = @article.image.url(:large)
= content_for :header_title do
  = @article.title

.main-container.main-container--medium.soft--ends

  .grid
    .grid__item.three-quarters.v-top>
      .gray-light.epsilon.line-height-1-7.push-half--bottom
        Par #{@article.author.try(:name) || 'Camille'} le
        %time{ itemprop: 'dateCreated', datetime: l(@article.published_at, format: :iso_date) }
          = l @article.published_at, format: :date_with_year
      %article{ itemscope: true, itemtype: 'http://schema.org/Article' }
        %p.epsilon.gray.line-height-1-7
          = @article.description.html_safe
        .push--top.blog-article__content{ itemprop: 'text' }
          = @article.content.html_safe
      %hr
      %p
        %span.soft-half--right= l(@article.published_at, format: :date_with_year).capitalize
        - if @article.author
          |
          %span.soft-half--sides #{@article.author.name}
        |
        %span.soft-half--sides
          = link_to @article.category.name, category_pro_blog_articles_path(category_id: @article.category.slug), class: 'semi-muted-link'

      - if @article.author
        .gray-box.soft.flexbox
          .flexbox__item.v-top.one-whole
            %h5 À propos de #{@article.author.name}
            %p.flush.epsilon.gray= @article.author.description.html_safe
          - if @article.author.avatar.present?
            .flexbox__item.v-top.soft--left
              = image_tag @article.author.avatar.url(:small), height: 80, width: 80, class: 'rounded--circle'
    .grid__item.one-quarter.v-top>
      = render partial: 'pro/blog/subscribe_to_blog'

  %h4.beta.text--center.ff-droid.f-style-italic.bordered--bottom.soft--bottom.f-weight-400.push--top.soft--top Commentaires
  #disqus_thread
  :javascript
    var disqus_shortname = 'coursavenue';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  %noscript
    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

