<div data-type="closer" class="infobox__close">
    <i class="fa fa-times"></i>
</div>

<div>
    <a href="{{ data_url }}" class="block one-whole">
        <img src="{{ logo_thumb_url }}" class="block one-whole">
    </a>
</div>
<div class="very-soft soft-half--sides">
    <a href="{{ data_url }}" class="infobox__title">{{ name }}</a>
    <div>{{current_location.name}} - {{current_location.street}}</div>
</div>
