- planning_decorator = planning.decorate
- course           ||= planning.course
- structure        ||= course.structure
%div.flexbox.very-soft{ id: "planning-#{planning.id}" }
  .flexbox__item.one-whole
    = planning_decorator.week_day_name
    = planning_decorator.time_slot
  .flexbox__item.text--right.nowrap
    = link_to edit_pro_structure_course_planning_path(course.structure, course, planning), title: 'Modifier le créneau', data: { toggle: 'tooltip', behavior: 'modal', width: '800', padding: '0', planning_id: planning.id, action: 'edit', lock_overlay: true }, class: 'muted-link orange fancybox.ajax nowrap very-soft--right' do
      %i.fa-pencil.epsilon
    = link_to pro_structure_course_planning_path(course.structure, course, planning), method: 'delete', title: 'Supprimer le créneau', class: 'red nowrap muted-link', remote: true, data: { toggle: 'tooltip', confirm: 'Êtes-vous bien sûr de supprimer ce planning ?' } do
      %i.fa-trash-o.epsilon
