- planning_decorator = planning.decorate
- course           ||= planning.course
- structure        ||= course.structure
%div.flexbox.very-soft--top.very-soft--bottom.soft-half--sides{ id: "planning-#{planning.id}" }
  .flexbox__item.one-whole.hide-for-fout
    = planning_decorator.dates
    = planning_decorator.time_slot
    - if planning.is_in_foreign_country
      Séjour à l'étranger
    - elsif planning.place
      au
      = planning.place.name
  .flexbox__item.text--right.nowrap
    = link_to edit_pro_structure_course_planning_path(course.structure, course, planning), title: 'Modifier le créneau', data: { toggle: 'tooltip', behavior: 'modal', width: '800', padding: '0', planning_id: planning.id, action: 'edit', lock_overlay: true }, class: 'fancybox.ajax nowrap very-soft--right' do
      %i.fa.epsilon.fa-pencil
    = link_to pro_structure_course_planning_path(course.structure, course, planning), method: 'delete', title: 'Supprimer le créneau', class: 'nowrap', remote: true, data: { toggle: 'tooltip', confirm: 'Êtes-vous bien sûr de supprimer ce planning ?' } do
      %i.fa.epsilon.fa-trash-o
