- course    ||= planning.course
- structure ||= course.structure
%tr{ id: "planning-#{planning.id}" }
  %td.nowrap
    = training_dates planning
  %td.nowrap
    = readable_time_slot planning.start_time, planning.end_time
  %td= join_levels_text planning
  %td= join_audiences planning
  %td
    - if planning.is_in_foreign_country
      Séjour à l'étranger
    - elsif planning.place
      = planning.place.name

  %td
    - if planning.info.present?
      %i.fa.fa-info{ data: { behavior: 'tooltip', 'original-title' => planning.info } }
  %td.text--right.nowrap
    = link_to edit_pro_structure_course_planning_path(course.structure, course, planning), title: 'Modifier le créneau', data: { behavior: 'modal', width: '800', padding: '0', planning_id: planning.id, action: 'edit' }, class: 'fancybox.ajax nowrap' do
      %i.fa.fa-pencil
      Modifier
    \/
    = link_to pro_structure_course_planning_path(course.structure, course, planning), method: 'delete', confirm: 'Êtes-vous bien sûr de supprimer ce planning ?', title: 'Supprimer le créneau', class: 'nowrap', remote: true do
      %i.fa.fa-trash-o
      Supprimer

