= side_menu_currently_at 'Mes cours'

.panel
  = render partial: 'pro/structures/courses/tabs', locals: { current: 'plannings' }
  .panel__body.soft--ends
    .breadcrumb.bordered--bottom.soft-half--bottom.soft--sides.delta
      = link_to pro_structure_courses_path(@structure) do
        %i.fa.fa-long-arrow-left
        Tous mes cours

  .soft--sides
    .text--center.push-half--bottom
      = link_to 'Ajouter un créneau', new_pro_structure_course_planning_path(@structure, @course), data: { behavior: 'modal', width: 780 }, class: 'fancybox.ajax btn btn--green btn--large'
      %br
      = link_to 'Mon planning est à jour, revenir à tous mes cours', pro_structure_courses_path(@structure)
    - if @planning and @planning.errors.any?
      %p.alert.alert-error
        - @planning.errors.full_messages.each_with_index do |message, index|
          - if index != 0
            %br
          = message

    - if @plannings and @plannings.any? and !@course.is_lesson? and @past_plannings.any?
      %h5 Séances à venir
    = render "#{@course.underscore_name}_list"


= content_for :scripts do
  :javascript
    $(function() {
        $(document.body).on('click', '.add-teacher', function(event) {
            $('.add-teacher-wrapper').hide();
            $('.new-teacher-wrapper').show();
        });
        if ($('#show-past-planning')) {
            $('#show-past-planning').click(function() {
                $(this).remove();
                $('#past-planning').removeClass('hidden');
            });
        }
        if ($('.teacher-select').length > 0) {
            $('.teacher-select').each(function(index, teacher_select){
                $(this).change(function() {
                    teacher_form = $(this).parents('form')
                    teacher_form.submit();
                    COURSAVENUE.helperMethods.flash('Le professeur a bien été changé.', 'success')
                })
            });
        }
        if ($('.place-select').length > 0) {
            $('.place-select').each(function(index, place_select){
                $(this).change(function() {
                    planning_form = $(this).parents('form')
                    planning_form.submit();
                    COURSAVENUE.helperMethods.flash('Le lieu a bien été changé.', 'success')
                })
            });
        }
    });

- # If a planning has just been duplicated, highlights it
- if session[:duplicate] == true
  = content_for :scripts do
    :javascript
      $(function() {
          var duplicate_planning = $('[data-id=#{session[:duplicated_planning_id]}]');
          setTimeout(function() {
              $(window.document).scrollTo(duplicate_planning, {offset: -125, duration: 400});
              setTimeout(function() {
                  duplicate_planning.animate({'background-color': '#FFD977'}, {duration: 400}).animate({'background-color': 'transparant'}, {duration: 400});
                  duplicate_planning.css('font-weight', 'bold');
              }, 400);
          }, 200);
      });
  - # Delete the session in order that the planning doesn't highlight again.
  - session.delete :duplicate
  - session.delete :duplicated_planning_id
