- discuss_only       = false if discuss_only.nil?
- show_course_select = false if show_course_select.nil?
.panel
  .panel__header.soft
    %h4.flush
      - if discuss_only
        Envoyer un message
      - elsif show_course_select
        Proposer un autre cours
      - else
        Proposer une autre date
  .panel__body
    = simple_form_for simple_form_array, url: simple_form_url, html: { id: 'participation-request-form' } do |f|
      - if params[:return_to].present?
        %input{ type: 'hidden', value: params[:return_to], name: 'return_to' }
      = f.error_notification
      - if discuss_only
        .soft--sides.soft--top
          %p
            - if @participation_request.from_personal_website?
              Envoyez votre message ci-dessous :
            - else
              Envoyez votre message de demande d'information.
          = f.fields_for :message, @message, class: 'message__body message__appendix' do |message_form|
            = message_form.input :body, input_html: { placeholder: "Ajoutez un message facultatif...", style: 'height: 100px', class: 'input--large one-whole', id: 'participation-request-message', data: { behavior: 'autoresize' } }, as: :text, label: false, wrapper_html: { class: 'flush--top' }
      - else
        %div.push-half--bottom{ data: { type: 'participation-request-form-content' } }

      - if !discuss_only
        .soft--sides
          = f.fields_for :message, @message, class: 'message__body message__appendix' do |message_form|
            = message_form.input :body, input_html: { placeholder: "Ajoutez un message facultatif...", style: 'height: 100px', class: 'input--large one-whole', id: 'participation-request-message', data: { behaviors: 'autoresize' } }, as: :text, label: false, wrapper_html: { class: 'flush--top' }

      .soft--sides.soft--bottom
        .grid
          .grid__item.two-tenths.palm-one-whole.palm-push--bottom>
            %a.btn.btn--full{ href: '#', onclick: '$.fancybox.close();' } Fermer
          .grid__item.eight-tenths.palm-one-whole>
            = f.submit 'Envoyer', class: 'nowrap btn--full btn btn--green', data: { disable_with: 'Envoi en cours...' }

- if !discuss_only
  :javascript
      // IMPORTANT: Initialize datepicker to have correct format
      COURSAVENUE.datepicker_initializer();
      var regular_courses  = #{ActiveModel::ArraySerializer.new(@structure.courses.regulars, each_serializer: CourseSerializer).to_json};
      var training_courses = #{ActiveModel::ArraySerializer.new(@structure.courses.trainings.reject{ |training| training.plannings.future.empty? }, each_serializer: CourseSerializer).to_json};
      var structure                   = new CoursAvenue.Models.Structure(#{StructureSerializer.new(@structure).to_json});
      var courses_collection          = new CoursAvenue.Models.CoursesCollection(regular_courses);
      var trainings_collection        = new CoursAvenue.Models.CoursesCollection(training_courses);
      var participation_request_model = new Backbone.Model({ structure: structure,
                                                             course_id  : #{@participation_request.course_id},
                                                             planning_id: #{@participation_request.course_id},
                                                             start_hour : #{@participation_request.start_time.hour},
                                                             start_min : #{@participation_request.start_time.min} });
      var participation_request_form_content = new CoursAvenue.Views.ParticipationRequests.ParticipationRequestFormContentView({ courses_collection: courses_collection, trainings_collection: trainings_collection, model: participation_request_model });
      $('[data-type=participation-request-form-content]').append(participation_request_form_content.render().el);

- if !discuss_only and !show_course_select
  :javascript
      $('[name="participation_request[course_id]"]').hide();
