= side_menu_currently_at 'activity'

= render partial: 'pro/shared/activity_tabs', locals: { current: 'participation_requests' }

.grid.push--bottom
  .grid__item.palm-one-whole.one-quarter>
    = link_to 'Inscrpts en attente', pro_participation_requests_path(state: 'pending'), class: ['btn btn--full', (params[:state] == 'pending' ? 'btn--blue' : '')]
  .grid__item.palm-one-whole.one-quarter>
    = link_to 'Inscrpts traitées', pro_participation_requests_path(state: 'treated'), class: ['btn btn--full', (params[:state] == 'treated' ? 'btn--blue' : '')]
  .grid__item.palm-one-whole.one-quarter>
    = link_to 'Inscrpts annulées', pro_participation_requests_path(state: 'canceled'), class: ['btn btn--full', (params[:state] == 'canceled' ? 'btn--blue' : '')]
  .grid__item.palm-one-whole.one-quarter>
    = link_to 'Inscrpts validées', pro_participation_requests_path(state: 'accepted'), class: ['btn btn--full', (params[:state] == 'accepted' ? 'btn--blue' : '')]

%h1 Inscriptions

%table.table--striped.table--data.table-responsive
  %thead
    %tr
      %th.three-twelfths Date 1ere demande d'inscription
      %th.three-twelfths Nom de l'élève
      %th.six-twelfths Nom du prof
  %tbody
    - @participation_requests.each do |participation_request|
      %tr
        %td{ data: { th: '1ere date' } }
          %div= l(local_time(participation_request.created_at))
        %td{ data: { th: 'Eleve' } }
          %div= link_to participation_request.user.name, user_participation_request_url(participation_request.user, participation_request, subdomain: 'www'), target: :_blank
        %td{ data: { th: 'Prof' } }
          %div= link_to participation_request.structure.name, pro_structure_participation_request_path(participation_request.structure, participation_request), target: :_blank

.text--center.push-half--ends= paginate @participation_requests, window: 1, outer_window: 3
