= user_menu_currently_at 'dashboard'
- if @wizard
  = render 'wizard'
.panel
  .panel__body.soft--ends
    .soft--sides
      .grid
        .grid__item.one-half.bordered--right.soft-half--right>
          .islet
            %h4.push-half--bottom
              Votre profil est complété à #{@profile_completion}%
            .text--center.progress.push-half--bottom{style: "width: 280px;"}
              - if @profile_completion == 0
                #{@profile_completion}%
              - else
                #profile-progress-bar.bar.bar-success{style: "width: 0%;"}
                  #{@profile_completion}%
            %ul.no-bullet-list
              %li
                %i.fa.fa-check-square-o
                %span.line-through--gray Créer mon profil
              %li
                - if @user.has_avatar? and @user.city
                  %i.fa.fa-check-square-o
                  %span.line-through--gray Compléter mes informations générales
                - else
                  = link_to edit_user_path(@user), class: 'profile-task-uncomplete' do
                    %i.fa.fa-square-o
                    Compléter mes informations générales
              %li
                - if @user.passions.any?
                  %i.fa.fa-check-square-o
                  %span.line-through--gray Mettre à jour mes passions
                - else
                  = link_to user_passions_path(@user), class: 'profile-task-uncomplete' do
                    %i.fa.fa-square-o
                    Mettre à jour mes passions
              %li
                - if @user.followings.any?
                  %i.fa.fa-check-square-o
                  %span.line-through--gray Ajouter mes favoris
                - else
                  = link_to user_passions_path(@user), class: 'profile-task-uncomplete' do
                    %i.fa.fa-square-o
                    Ajouter mes favoris
        .grid__item.one-half>
          %h4.push-half--bottom.soft-half--left.soft-half--top
            Tous les cours autour de chez vous
          #map.google-map.google-map--small.push-half--ends
          - if @user.city
            .text--center.push-half--bottom
              = link_to 'Voir les cours autour de chez moi', @user.around_courses_url, class: 'btn btn--blue btn--small', target: :_blank
          - else
            .text--center.push-half--bottom
              = link_to 'Renseignez ma ville', edit_user_path(@user), class: 'btn btn--blue btn--small'

    %hr.push--ends
    .soft--sides
      %h4 Mes derniers messages
      - @conversations.each do |conversation|
        = link_to user_conversation_path(@user, conversation), class: 'muted-link' do
          = render partial: 'conversations/conversation', locals: {conversation: conversation}
      - if @conversations.empty?
        %p.white-box.soft-half
          Vous n'avez pas envoyer de message.
      - if @user.structures.any?
        .text--center.push--bottom
          = link_to 'Envoyer un nouveau message', new_user_message_path(@user), class: 'btn btn--blue'

    %hr.push--ends
    .soft--sides
      %h4 Mes derniers avis
      - if @user.comments.accepted.any?
        %ul.comment-list
          = render partial: '/comments/comment', collection: @user.comments.accepted, locals: { with_link: true }
      - else
        %p.white-box.soft-half
          Vous n'avez déposé aucun avis.
        .text--center.push--bottom
          = link_to "Trouvez un cours", @user.around_courses_url, class: 'btn btn--blue'


= content_for :scripts do
  :javascript
    $(function() {
        $('#profile-progress-bar').animate({
            width: '#{@profile_completion}%'
        }, 800)
    });

= content_for :scripts do
  :javascript
    $(function() {
        google_map_handler = Gmaps.build('Google');
        google_map_handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = google_map_handler.addMarkers(#{@structure_locations.to_json});
            google_map_handler.bounds.extendWith(markers);
            google_map_handler.fitMapToBounds();
        });
    });
