= user_menu_currently_at 'Mes infos'

%ol.nav.breadcrumb.delta
  %li= link_to 'Mes infos', user_path(current_user)
  %li Modification

.white-box.islet
  = simple_form_for @user do |f|
    - if @user.fb_avatar or @user.avatar.present?
      .input
        %label.control-label Ma photo
        .text--center
          = link_to 'javascript:void(0);', id: 'change-avatar' do
            - if @user.avatar.present?
              = image_tag @user.avatar.url(:thumb)
            - elsif @user.fb_avatar
              = image_tag @user.fb_avatar('normal')
            %br
            Changer ma photo
          = f.input :avatar, label: false, wrapper_html: {style: 'position:absolute; left:-1000px;'},input_html: {id: 'avatar-input'}
    - else
      %div{ data: { behavior: 'image-input'} }
        .input
          = f.label :avatar
          %a.btn.btn--blue{ data: {trigger: true} } Choisir ma photo
          %img{style: 'max-height: 5em; max-width: 15em;'}
        = f.input :avatar, wrapper_html: {class: 'visuallyhidden'}
    = f.input :name
    .form-actions
      = f.submit 'Sauvegarder', class: 'btn btn--green'

= content_for :scripts do
  :javascript
    $(function() {
        $('#change-avatar').click(function() {
            $('#avatar-input').click();
        });
    });
