= user_menu_currently_at 'infos'

.panel
  = render partial: 'users/tabs', locals: { current: 'private_infos' }
  .panel__body.soft

    %h4 Changer mon mot de passe

    = simple_form_for @user, url: update_password_user_path(current_user), html: { method: :patch } do |f|
      = f.error_notification

      = f.input :current_password, label: 'Mot de passe actuel'
      = f.input :password, autocomplete: "off", label: 'Nouveau mot de passe'
      = f.input :password_confirmation, label: 'Confirmation'
      = f.button :submit, "Mettre à jour", class: 'btn btn--full btn--green'

    %hr.push--ends
    %h4 Supprimer mon compte
    %p= link_to 'Supprimer mon compte', destroy_confirmation_user_path(@user), class: 'fancybox.ajax red', data: { behavior: 'modal', padding: 0, width: 500 }
