= user_menu_currently_at 'Mes infos'

= render partial: 'tabs', locals: { current: 'profile' }

%h4 Quelques infos sur vous

.form-white-box
  = simple_form_for @user do |f|
    .input
      %label.control-label
        .lbl.lbl--blue
          %i.fa.fa-eye
          Public
    - if @user.fb_avatar or @user.avatar.present?
      .input
        %label.control-label Ma photo
        .text--center
          = link_to 'javascript:void(0);', id: 'change-avatar' do
            - if @user.avatar.present?
              = image_tag @user.avatar.url(:thumb)
            - elsif @user.fb_avatar
              = image_tag @user.fb_avatar('normal')
            %br
            Changer ma photo
          = f.input :avatar, label: false, wrapper_html: {style: 'position:absolute; left:-1000px;'},input_html: {id: 'avatar-input'}
    - else
      %div{ data: { behavior: 'image-input'} }
        .input
          = f.label :avatar
          %a.btn.btn--blue{ data: {trigger: true} } Choisir ma photo
          %img{style: 'max-height: 5em; max-width: 15em;'}
        = f.input :avatar, wrapper_html: {class: 'visuallyhidden'}

    = f.input :first_name
    = f.input :last_name

    %hr
    .input
      %label.control-label
        .lbl.lbl--gray
          %i.fa.fa-lock
          Privé
    = f.input :gender, as: :select, collection: [['Femme', 'female'], ['Homme', 'male']]
    = f.input :birthdate
    = f.input :email, disabled: true
    = f.input :phone_number
    = f.submit 'Sauvegarder', class: 'btn btn--green btn--full'

= content_for :scripts do
  :javascript
    $(function() {
        $('#change-avatar').click(function() {
            $('#avatar-input').click();
        });
    });
