- if current_user
  %h3.text--center.push--top Invitez vos proches à participer avec vous aux Journées Portes Ouvertes
- else
  %h1.text--center.push--top Invitez vos proches à découvrir gratuitement vos plus grandes passions

- if @structure
  .white-box.grid--full.push--bottom
    .grid__item.one-twelfth.v-middle>
      - if @structure.logo.present?
        = image_tag @structure.logo.url(:thumb), class: 'one-whole block'
    .grid__item.ten-twelfths.v-middle>
      %h4.flush.islet
        #{@structure.name} vous offre l'opportunité unique d'inviter vos proches à participer à leurs Journées Portes Ouvertes du week-end du 5-6 avril 2014.


.alert--info.one-whole
  %ul.flush--bottom
    - if current_user and @structure
      %li Ne participez pas à cet atelier tout(e) seul(e) ! Invitez autant de personnes de votre entourage que vous le souhaitez.
    - else
      %li Vous souhaitez partager vos passions avec votre entourage ? Profitez des Journées Portes Ouvertes de votre professeur, association ou école et invitez amis, familles et collègues à s'inscrire aux ateliers gratuits proposés.
    %li C'est simple et rapide : envoyez votre invitation depuis notre outil que vous trouvez ci-dessous.


.white-box.soft
  = form_tag(bulk_create_jpo_user_invited_users_path(@user), method: :post, id: 'invite-user-form') do
    - if @structure
      = hidden_field :structure, :id, value: @structure.id
      = hidden_field :user, :email, value: params[:user_email]
    .grid
      .grid__item.one-half>
        %h4 À :
        %p.flush.blue
          %i Entrez les e-mails vos proches dans cet encadré (amis, familles, collègues, etc.) pour les inviter aux Journées Portes Ouvertes.
        %textarea.milli.one-whole{name: 'emails', rows: 8, placeholder: 'Ex. : patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}
      .grid__item.one-half>
        %h4 Message :
        %p.flush.blue
          %i Personnalisez le texte ci-dessous puis envoyez votre invitation.
        %br
        %textarea.milli.one-whole{name: 'text', rows: 8, data: {behavior: 'autoresize'}}
          - if @participation
            Salut !&#x000A;&#x000A;Le week-end du 5-6 avril prochain, #{@structure.name} ouvre ses portes à travers des ateliers gratuits. Je me suis inscrit à l'atelier du #{planning_date_for(@participation.planning)} #{planning_time_for(@participation.planning, false)} et je te transmets cette invitation pour que tu puisses t'inscrire aussi.
          - elsif @structure
            Salut !&#x000A;&#x000A;Le week-end du 5-6 avril prochain, #{@structure.name} ouvre ses portes à travers des ateliers gratuits. En tant que fidèle élève, je te transmets cette invitation, c'est une belle occasion de découvrir cette discipline qui est une véritable passion pour moi.&#x000A;&#x000A;Pour t'inscrire, c'est simple et 100% gratuit :
          - else
            Salut !&#x000A;&#x000A;Le week-end du 5-6 avril prochain, CoursAvenue ouvre ses portes à travers des ateliers gratuits. En tant que fidèle élève, je te transmets cette invitation, c'est une belle occasion de découvrir cette discipline qui est une véritable passion pour moi.&#x000A;&#x000A;Pour t'inscrire, c'est simple et 100% gratuit :
        %p.gray-light.flush
          - if @structure
            = link_to 'Lien que recevront mes proches', jpo_structure_url(@structure), target: :_blank
          - else
            = link_to 'Lien que recevront mes proches', root_url, target: :_blank
          %br
          À très bientôt,
        - if !current_user
          .input
            %label Votre nom + prénom
            = text_field :user, :name, placeholder: 'Ex. : Patrick Laca', value: @user.name.strip
            = content_for :scripts do
              :javascript
                $(function() {
                    $('#invite-user-form').submit(function() {
                        if ($('#user_name').val().length === 0) {
                            GLOBAL.flash('Vous devez renseigner un nom', 'alert');
                            $('#user_name').focus();
                            return false;
                        }
                        return true;
                    })
                });
        = submit_tag 'Envoyer les invitations', class: 'btn btn--green btn--full'

