= user_menu_currently_at 'Mon profil'

%h2
  Profil

.white-box.islet
  .flexbox
    .flexbox__item.v-top.one-fifth>
      - if @user.avatar.present?
        = image_tag @user.avatar.url(:thumb)
      - elsif @user.fb_avatar
        = image_tag @user.fb_avatar('large')
    .flexbox__item.v-top.soft-half--left>
      %h4= @user.full_name
      = link_to 'Éditer mon profil', edit_user_path(current_user)
