<div class="bordered--bottom f-weight-500">
    <div class="soft--sides soft-half--ends{{#if hide_classes }} visuallyhidden{{/if}}">
        <select name="participation_request[course_id]" class="one-whole  input--large" id="participation_request_courses_select">
            <option value="">Choisissez un cours</option>
            {{#if trainings_without_open_for_trials}}
                <optgroup label="Stages & Ateliers">
                  {{#each trainings_without_open_for_trials}}
                      <option data-collection-type="trainings" value="{{this.id}}" {{#ifIncludeString ../course_ids this.id}}selected{{/ifIncludeString}}>{{this.name}}</option>
                  {{/each}}
                </optgroup>
            {{/if}}
            <optgroup label="Cours réguliers">
                {{#each regular_courses}}
                    <option data-collection-type="courses" value="{{this.id}}" {{#ifIncludeString ../course_ids this.id}}selected{{/ifIncludeString}}>{{this.name}}</option>
                {{/each}}
            </optgroup>
        </select>
        <div data-error="course_id" class="{{#unless errors.course_id}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.course_id}}</div>
    </div>
    <div class="grid--full bordered--top {{#if hide_date}} visuallyhidden{{/if}}" data-element="planning-select-wrapper" style="display: none">
        <div class="grid__item v-middle three-twelfths soft--sides soft-half--ends bordered--right">
            <label class=" nowrap" for="participation_request_plannings_select">Date</label>
        </div>{{!--
    --}}<div class="grid__item v-middle nine-twelfths soft-half--sides">
            <select name="participation_request[planning_id]" class="one-whole" id="participation_request_plannings_select">
                <option>Quelle séance souhaitez-vous ?</option>
            </select>
            <span class="epsilon hidden" data-element="planning-info"></span>
        </div>
    </div>
    <div data-error="planning_id" class="{{#unless errors.planning_id}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.planning_id}}</div>
    <div class="grid--full  bordered--top" data-element="datepicker-wrapper" style="display: none">
        <div class="grid__item v-middle three-twelfths soft--sides soft-half--ends bordered--right">
            <label class=" nowrap" for="request-date">Jour</label>
        </div>{{!--
     --}}<div class="grid__item v-middle nine-twelfths soft-half--sides nowrap">
              <input type="text" data-behavior="datepicker" name="participation_request[date]" id="request-date" class="datepicker-input v-middle">
              <div class="inline-block v-middle">
                  <div data-element="time-wrapper">
                      <select name="participation_request[start_hour]" data-element="start-hour-select"></select>
                      <label class="label--large inline-block">h</label>
                      <select name="participation_request[start_min]" data-element="start-minute-select">
                          <option value="00">00</option>
                          <option value="15">15</option>
                          <option value="30">30</option>
                          <option value="45">45</option>
                      </select>
                  </div>
              </div>
              <div data-error="date" class="{{#unless errors.date}}hidden{{/unless}} input_field_error red f-weight-bold">{{errors.date}}</div>
         </div>
    </div>
    <div class="grid--full bordered--top {{#if hide_place}} visuallyhidden {{/if}}" data-element="address-info-wrapper" style="display: none">
        <div class="grid__item v-middle three-twelfths soft--sides soft-half--ends bordered--right">
            <label class="nowrap">Lieu</label>
        </div>{{!--
    --}}<div class="grid__item v-middle nine-twelfths soft-half--sides">
            <span class="epsilon hidden" data-element="address-info" data-toggle="popover" data-placement="top" data-html="true"></span>
            {{! We don't need name because if there is no street filled, it means that it uses de
               default place attached to the course}}
            <select data-element="choose-place-select" class="one-whole hidden" name='participation_request_place'>
              <option>À domicile ou chez le professeur ?</option>
              <option value="at_home">À mon domicile</option>
              <option data-option="teachers-place"></option>
            </select>
        </div>
    </div>
    <div data-element="student-address-wrapper" class="soft--sides soft-half--ends hidden bordered--top {{#if teacher_view}} visuallyhidden {{/if}}">
        <input type="hidden" data-element="student-address-input" name="participation_request[at_student_home]">
        <div class="epsilon">Votre adresse :</div>
        <div class="soft-half--ends">
          <input type="text" placeholder="N° + rue" class="one-whole" name="participation_request[street]">
        </div>
        <div class="grid">
            <div class="grid__item one-half">
              <input type="text" placeholder="Code postal" class="one-whole" data-behavior="city-autocomplete" data-el='#participation-request-city-select-{{ cid }}' name="participation_request[zip_code]" />
            </div>{{!--
        --}}<div class="grid__item one-half">
              <select name="participation_request[city_id]" id="participation-request-city-select-{{ cid }}" class="one-whole" data-toggle="popover" data-placement="top" data-content="Entrez votre code postal pour pouvoir sélectionner la ville."></select>
            </div>
        </div>
        <div data-error="street" class="{{#unless errors.street}}hidden{{/unless}} soft-half--top input_field_error red f-weight-bold text--right">{{errors.street}}</div>
    </div>
</div>
