%p.epsilon
  Votre abonnement <strong>CoursAvenue Premium</strong> sera automatiquement renouvelé le
  %strong= l(@subscription.current_period_end, format: :date_short)
  et nous prélèverons
  %strong= "#{@subscription.next_amount}€"
  = "#{@subscription.frequency},"
  sauf si vous l'annulez avant cette date. Vous pouvez annuler votre abonnement à tout moment en accédant à l'espace « Gestion de votre abonnement ».

%hr.push--ends
%h3 Historique des factures
= link_to "Voir l'historique des factures.", pro_structure_invoices_path(@structure)

%hr.push--ends
%h3 Gestion de votre abonnement
%p
  = link_to 'Résilier mon abonnement', cancel_pro_structure_subscription_path(@structure, @subscription), class: 'red fancybox.ajax',  data: { behavior: 'modal', width: '600', padding: 0 }
%p
  = link_to 'Changer mon abonnement', choose_new_plan_pro_structure_subscription_path(@structure, @subscription), class: 'fancybox.ajax',  data: { behavior: 'modal', width: '600', padding: 0 }
