%p.epsilon
  Vous profitez actuellement de l'offre d'essai gratuite jusqu'au #{l(@subscription.trial_end.to_date)}. Il ne vous reste
  %strong plus que #{(@subscription.trial_end.to_date - Date.today).to_i} jours
  avant la fin de votre période d'essai : pour ne pas interrompre vos services,
  = link_to 'activez à tout moment votre abonnement.', 'javascript:void(0)', data: { stripe: true, amount: @subscription.plan.amount }
  Vous ne serez débité une fois la période d'essai terminée, et vous pouvez suspendre votre abonnement à tout moment (même avant la fin de la période d'essai).

%hr.push--ends

-# %h3 Offre parrainage - 1 mois offert à chaque invitation
-# %p.epsilon
-#   Parrainez autant de professeurs, associations ou écoles que vous le souhaitez : pour chaque nouvel abonnement souscrit par l'un de vos parrainé, vous bénéficiez d'un mois offert sur votre abonnement. Parrainez autant de personnes que vous le souhaitez, l'offre est cumulable à l'infini !
-# %div
-#   = link_to 'Parrainer', '#', class: 'btn btn--green'

-# %hr.push--ends

%h3 Gestion de votre abonnement
%p
  = link_to 'Activer mon abonnement', 'javascript:void(0)', data: { stripe: true, amount: @subscription.plan.amount }, class: 'btn btn--green'

= simple_form_for [:pro, @structure, @subscription], url: activate_pro_structure_subscription_path(@structure, @subscription), html: { id: 'subscription_form' } do |f|
  = f.input :stripe_token, as: :hidden

- content_for :scripts do
  = javascript_include_tag '//checkout.stripe.com/checkout.js'

  :javascript
    $(document).ready(function() {
      var stripeHandler = StripeCheckout.configure({
          key: "#{ Rails.configuration.stripe[:publishable_key] }",
          token: function(token) {
              $('[name="subscription[stripe_token]"]').val(token.id);
              $('#subscription_form').submit();
          },
      });
      $('[data-stripe]').click(function(event) {

          event.preventDefault();

          stripeHandler.open({
              email: "#{@structure.contact_email}",
              name: 'CoursAvenue',
              panelLabel: 'Payer {{amount}}',
              //image: '#{asset_path('logos/coursavenue_2_lignes.png')}',
              image: 'http://coursavenue-public.s3.amazonaws.com/logos/logo_stripe.jpg',
              description: 'Abonnement #{@subscription.plan.public_name}',
              currency: "#{Subscription::CURRENCY}",
              amount: parseInt($(this).data('amount'), 10) * 100
          });
      });
    });
