%p.epsilon
  Vous profitez actuellement de l'offre d'essai gratuite (offre <strong>#{ @subscription.plan.public_name }</strong>) jusqu'au #{l(@subscription.trial_end.to_date)}. Il ne vous reste
  %strong plus que #{ @subscription.remaining_trial_days } jours
  avant la fin de votre période d'essai : pour ne pas interrompre vos services,
  = link_to 'activez à tout moment votre abonnement.', confirm_choice_pro_structure_subscriptions_path(@structure), class: 'fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
  Vous ne serez débité une fois la période d'essai terminée, et vous pouvez suspendre votre abonnement à tout moment (même avant la fin de la période d'essai).


- if @sponsorship.present?
  %hr.push--ends
  %h3 Promotions
  %p
    - sponsor = @sponsorship.subscription.structure
    Pous bénéficier de 50% de réduction sur votre premier mois d'abonnement grâce au parrainage de #{sponsor.name}.

%hr.push--ends

%h3 Gestion de votre abonnement
%p
  = link_to 'Activer mon abonnement', confirm_choice_pro_structure_subscriptions_path(@structure), class: 'btn btn--green fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }

= content_for :scripts do
  = javascript_include_tag 'https://checkout.stripe.com/checkout.js'
