- if @plan.website_plan?
  = render partial: 'pro/subscriptions/plans/pro_plus_confirm', locals: { plan: @plan }
- else
  = render partial: 'pro/subscriptions/plans/pro_confirm', locals: { plan: @plan }

- if @structure.subscription
  - @subscription = @structure.subscription
  = simple_form_for [:pro, @structure, @subscription], url: activate_pro_structure_subscription_path(@structure, @subscription), html: { id: 'subscription_form' } do |f|
    = f.input :stripe_token, as: :hidden
    = f.input :promo_code, as: :hidden
    %input{ type: 'hidden', name: 'plan_id' }

  :javascript
    var stripeHandler = StripeCheckout.configure({
        key: "#{ Rails.configuration.stripe[:publishable_key] }",
        token: function token(token) {
            var promo_code = $('#promo_code').val();
            $('[name="subscription[promo_code]"]').val(promo_code);

            $('[name="subscription[stripe_token]"]').val(token.id);
            $('#subscription_form').submit();
            CoursAvenue.showFullPageLoader('Activation en cours...');
        },
    });
    $('[data-stripe]').click(function(event) {
        var amount;
        $('[name=plan_id]').val($(this).data('plan-id'));
        if (window.promo_code_amount) {
            amount = (parseInt($(this).data('amount'), 10) - window.promo_code_amount) * 100
        } else {
            amount = parseInt($(this).data('amount'), 10) * 100
        }
        event.preventDefault();

        stripeHandler.open({
            email: "#{@structure.contact_email}",
            name: 'CoursAvenue',
            panelLabel: 'Payer {{amount}}',
            image: 'http://coursavenue-public.s3.amazonaws.com/logos/logo_stripe.jpg',
            description: 'Abonnement #{@subscription.plan.public_name}',
            currency: "#{Subscription::CURRENCY}",
            amount: amount
        });
    });
