= side_menu_currently_at 'premium'

= render partial: 'pro/structures/subscriptions/tabs', locals: { current: 'offers' }

- if @subscription.present?
  = render 'subscription_details'
- else
  %h1
    Essayez nos offres : 14 jours d'essai gratuits

  - if @sponsorship.present?
    = render 'pending_sponsorship'

  = render 'subscription_plans'
