- if @structure.unanswered_information_message.any? or @structure.comments.pending.any?
  .soft--sides
    %h4
      %i.fa.fa-warning
      Alertes
    .gray-box
      - @structure.unanswered_information_message.each_with_index do |conversation, index|
        - if index > 0
          %hr.push-half--ends
        .soft.grid--full
          .grid__item.two-twelfths.soft-half--right>
            .lbl{ class: "lbl--#{Mailboxer::Label::INFORMATION.color}"}
              Demande d'information
          .grid__item.ten-twelfths>
            %p
              %strong Félicitations !
              Vous avez reçu une demande d'information de
              %strong= "#{conversation.messages.first.sender.name}."
              Plus vous répondez rapidement (de préférence sous 48h), plus vous avez de chances que cet élève s'inscrive à vos cours.

            .float--right.nowrap.orange
              %i.fa.fa-clock-o.delta
              %strong.epsilon Reçu il y a
              %strong.delta{ id: "conversation-countdown-#{conversation.id}" }
            = link_to 'Répondre maintenant', pro_structure_conversation_path(@structure, conversation), class: 'btn btn--green btn--small'
        = content_for :scripts do
          :javascript
            $(function() {
              var date            = Date.parse("#{l(local_time(conversation.created_at), format: :js )}");
              var $countdown_div = $('#conversation-countdown-#{conversation.id}');
              countdown(date,
                  function(ts) {
                      var hours   = ("0" + ts.hours).slice(-2);
                      var minutes = ("0" + ts.minutes).slice(-2);
                      var seconds = ("0" + ts.seconds).slice(-2);
                      $countdown_div.text((ts.days > 0 ? ts.days + ' jours et ' : '') + hours + ':' + minutes + ':' + seconds);
                  },
                  countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
            });

      - @structure.comments.pending.each_with_index do |comment, index|
        - if index > 0
          %hr.push-half--ends
        .soft.grid--full
          .grid__item.two-twelfths.soft-half--right>
            .lbl.lbl--green
              Avis déposé
          .grid__item.ten-twelfths>
            %p
              Félicitations ! L'élève
              %strong= "#{comment.author_name} (#{comment.email})"
              a déposé son avis sur votre profil CoursAvenue. S'il s'agit bien d'un de vos élèves, validez-le pour qu'il apparaisse sur votre profil public :
            = succeed ' ' do
              = link_to accept_pro_structure_comment_path(@structure, comment), class: 'btn btn--small btn--green', method: :patch do
                %i.fa.fa-check
                Valider
            = link_to decline_pro_structure_comment_path(@structure, comment), class: 'btn btn--small btn--red', method: :patch do
              %i.fa.fa-times
              Rejeter

  %hr.push--ends
