- global_index = 0
- if @structure.unanswered_information_message.any?
  %h1
    %i.fa.fa-warning
    Alertes
  .gray-box
    - @structure.unanswered_information_message.each_with_index do |conversation, index|
      - participation_request = conversation_participation_request(conversation)
      - global_index += 1
      - if index > 0
        %hr.push-half--ends
      .soft
        %h4.push-half--bottom Demande d'inscription
        %p.push-half--bottom
          %strong Félicitations !
          Vous avez reçu une demande d'inscription de
          %strong= "#{conversation.messages.first.sender.name}."
          Plus vous répondez rapidement (de préférence sous 48h), plus vous avez de chances que cet élève s'inscrive à vos cours.
        - if conversation.created_at > 2.days.ago
          .float--right.nowrap.orange
            %i.fa-clock-o.delta
            %strong.epsilon Expire dans
            %strong.delta{ id: "conversation-countdown-#{conversation.id}" }
        %div
          - if participation_request
            = link_to 'Répondre maintenant', pro_structure_participation_request_path(@structure, participation_request), class: 'btn btn--green btn--small'
          - else
            = link_to 'Répondre maintenant', pro_structure_conversation_path(@structure, conversation), class: 'btn btn--green btn--small'
      = content_for :scripts do
        :javascript
          $(function() {
            var date            = Date.parse("#{l(local_time(conversation.created_at + 48.hours), format: :js )}");
            var $countdown_div = $('#conversation-countdown-#{conversation.id}');
            countdown(date,
                function(ts) {
                    var hours   = ("0" + ts.hours).slice(-2);
                    var minutes = ("0" + ts.minutes).slice(-2);
                    var seconds = ("0" + ts.seconds).slice(-2);
                    $countdown_div.text((ts.days > 0 ? ts.days + ' jours et ' : '') + hours + ':' + minutes + ':' + seconds);
                },
                countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
          });
  %hr.push--ends
