%h1.header-group
  %i.icon-user
  Mise à jour du profil
.islet
  = simple_form_for [:pro, @structure] ,html: { autocomplete: 'off', id: 'structure-form' } do |structure_form|
    .form-inputs
      %h5.form-header-group
        %i.icon-picture
        Image & Logo
      .form-white-box
        - if @structure.logo?
          .text--center
            = image_tag @structure.logo.url(:large), id: 'logo-logo'
            %a.red#delete-logo{href: 'javascript:void(0)'} Supprimer le logo
            %br
            %i Vous devez supprimer le logo pour pouvoir en choisir un autre
            .visuallyhidden= structure_form.input :delete_logo, as: :boolean, label: false
            - [:crop_x, :crop_y, :crop_width, :crop_height].each do |attribute|
              = structure_form.input attribute, as: :hidden, input_html: {id: attribute}
            = structure_form.input :cropping, as: :hidden, input_html: {value: true}
        - else
          .text--center
            %img.center-block#logo-logo{style: 'max-height: 200px'}
          .input.flush
            - unless @structure.new_record? || !@structure.logo?
              .control-label Changer votre logo
            - else
              .control-label Logo de votre structure
            = structure_form.input :logo, label: false
          %p.field-form-info.blue Ce logo apparaîtra dans les résultats de recherche.
        %hr
        - if @structure.image?
          .text--center
            = image_tag @structure.image.url(:normal), height: 200, id: 'logo-image'
            %br
            %a.red#delete-image{href: 'javascript:void(0)'} Supprimer l'image
            .visuallyhidden= structure_form.input :delete_image, as: :boolean, label: false
        - else
          .text--center
            %img.center-block#logo-image{style: 'max-height: 200px'}
        .input.flush
          - unless @structure.new_record? || !@structure.image?
            .control-label Changer l'image
          - else
            .control-label Image pour vous illustrer
          = structure_form.input :image, label: false
        %p.field-form-info.blue Cette image apparaîtra dans la partie gauche de votre profil public.
      %h5.form-header-group
        %i.lbc-icon-info i
        Informations
      .form-white-box.push--bottom
        = structure_form.input :name, label: t('.structure_name'), wrapper_html: {class: 'flush--bottom'}
        %p.field-form-info.blue= t('.structure_name_info')
        = structure_form.input :website, placeholder: 'Ex : http://www.je-danse-a-paris.com'
        = structure_form.input :facebook_url, wrapper_html: {class: 'flush--bottom'}, placeholder: 'Ex. : https://www.facebook.com/CoursAvenue'
        = structure_form.association :subjects , as: :select, collection: (Subject.roots + Subject.children), input_html: {style: 'width: 490px;', data: {behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines'}, multiple: true}, label: 'Disciplines pratiquées ', label_method: lambda{|subj| subj.name }, wrapper_html: {class: 'flush--bottom'}
        = structure_form.input :structure_type, collection: Structure::STRUCTURE_TYPES.map{|structure_type| [ t(structure_type), structure_type]}, input_html: {style: 'max-width: 29em;'}

      %h5.form-header-group.push--top Description
      %div.relative
        = image_tag 'texts/structure-description.png', height: 85, style: 'position: absolute; left: 230px; bottom: -25px;'
      .form-white-box.push--top
        .grid--full.input
          .textarea-with-info.grid__item.width-auto
            .grid--full
              .three-fifths.grid__item.soft-half--right>
                = structure_form.input :description, label: false, wrapper_html: {class: 'flush--top'}, input_html: {id: 'description-textarea', class: 'textarea-description--tall', placeholder: 'Mettez en avant votre différence !', data: { behavior: 'text-counter', 'average-words-nb' => 30, 'good-words-nb' => 100, 'bad-text' => 'Votre description doit comporter au moins 30 mots. Nos Partenaires qui ont le plus de succès ont plus de 100 mots.', 'average-text' => 'Encore quelques mots et vous aurez une superbe description !', 'good-text' => 'Superbe description !'}, value: @structure.description_for_input}
              .two-fifths.grid__item
                %p.alert--info.flush--top
                  Qu'est-ce qui vous différencie ?
                  %br
                  Pourquoi nos Internautes devraient-il réserver chez vous ? Soyez sincère et original !
                %p.alert--info
                  Quelle est votre équipe, combien êtes-vous ?
                  %br
                  Qui se cache derrière tout ça ?
                  %br
                  Quel est le profil de vos professeurs ?
                %p.alert--info
                  Depuis quand votre structure existe-t-elle ?
                  %br
                  Quelle est sa notoriété ?
                  %br
                  A-t-elle formé des célébrités ?
    .form-actions
      = structure_form.button :submit, "Enregistrer", class: 'btn btn--success'

= content_for :scripts do
  :javascript
    $(function() {
        $('#structure_logo').change(function(event) {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#logo-logo').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
        $('#structure_image').change(function(event) {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#logo-image').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
        if ($('#logo-logo').attr('src')) {
            $('#logo-logo').Jcrop({
                onChange: update_crop,
                onSelect: update_crop,
                setSelect: [#{@structure.crop_x / @ratio}, #{@structure.crop_y / @ratio}, #{(@structure.crop_x + @structure.crop_width) / @ratio}, #{(@structure.crop_y + @structure.crop_height) / @ratio}],
                aspectRatio: 1
            });
            function update_crop(coords) {
              var rx = 100 / coords.w;
              var ry = 100 / coords.h;
              var ratio = #{@ratio};
              $('#crop_x').val(Math.floor(coords.x * ratio));
              $('#crop_y').val(Math.floor(coords.y * ratio));
              $('#crop_width').val(Math.floor(coords.w * ratio));
              $('#crop_height').val(Math.floor(coords.h * ratio));
            }
        }
        if ($('#delete-image').length > 0) {
            $('#delete-image').click(function(){
                $('#structure_delete_image')[0].checked = true;
                $('#structure-form').submit();
            });
        }
        if ($('#delete-logo').length > 0) {
            $('#delete-logo').click(function(){
                $('#structure_delete_logo')[0].checked = true;
                $('#structure-form').submit();
            });
        }
        $('#description-textarea').textareaResizer();
    });
