= content_for :scripts do
  = javascript_include_tag 'libs/jquery.Jcrop.js'

= simple_form_for [:pro, @structure], html: { autocomplete: 'false', id: 'structure-form' } do |structure_form|

  - if params[:return_to].present?
    %input{type: 'hidden', value: params[:return_to], name: 'return_to'}
  %div{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.logo')} }
    %div
      %div
        .input
          %label.control-label.label--large> Votre logo
          .input-container
            - if @structure.logo.present?
              .push-half--bottom.bordered{ style: "height: 200px; width: 200px; display: inline-block; line-height: 196px;" }<
                = image_tag @structure.logo.url(:thumb), class: 'v-middle inline-block', style: 'max-height: 100%;', width: 197, height: 197, id: 'logo-placeholder'
              .visuallyhidden= structure_form.input :delete_logo, as: :boolean, label: false
            - else
              .push-half--bottom.bordered{style: "height: 200px; width: 200px; display: inline-block; line-height: 196px; display: none;"}
                %img#logo-placeholder.v-middle.inline-block{ style: 'max-height: 100%;' }

            - if @structure.logo.present? and @structure.valid?
              .inline-block.v-top>
                = link_to crop_logo_pro_structure_path(@structure), class: 'fancybox.ajax btn btn--small btn--blue-green push-half--right push-half--bottom', data: { behavior: 'modal', width: 800, crop: true } do
                  %i.fa.fa-expand.soft--sides-half--right
                  Recadrer
                %br
                %a.btn.btn--small.btn--red#delete-logo{ href: 'javascript:void(0)', data: { delete: true } }
                  %i.fa-trash-o.soft--sides-half--right
                  Supprimer
              %p.hidden.blue-green.f-weight-bold{ data: { crop_info: true } }
                %i Vous devez enregistrez avant de pouvoir recadrer votre logo
              = structure_form.filepicker_field :logo_filepicker_url, button_class: 'hidden', services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: true, class: "filepicker-dragdrop text--center", drag_class: "flush--left push-half--bottom one-whole f-weight-500 soft--ends text--center push--bottom", drag_text: "Glissez votre image ici ou cliquez pour changer de logo"
            - elsif @structure.valid?
              %p.hidden.blue-green.f-weight-bold{ data: { crop_info: true } }
                %i Vous devez enregistrez avant de pouvoir recadrer votre logo
              = structure_form.filepicker_field :logo_filepicker_url, button_class: 'hidden', services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: true, class: "filepicker-dragdrop text--center", drag_class: "flush--left push-half--bottom one-whole f-weight-500 soft--ends text--center push--bottom", drag_text: "Glissez votre image ici ou cliquez pour choisir"

  %div{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.name') } }
    = structure_form.input :name, label: t('.structure_name'), wrapper_html: {class: 'flush--bottom'}, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
    - if current_pro_admin.super_admin?
      = structure_form.input :slug, label: 'Chemin de la structure', wrapper_html: {class: 'flush--bottom'}, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
    = structure_form.input :structure_type, collection: Structure::STRUCTURE_TYPES.map{|structure_type| [ t(structure_type), structure_type]}, input_html: { class: 'input--large', style: 'max-width: 29em;' }, label_html: { class: 'label--large' }, wrapper_html: { class: 'flush--bottom' }
  %hr.push--ends
  %div{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.subjects') } }
    %h5#informations Étiquettes de disciplines
    %div
      %div{ data: { behavior: 'parent-descendant-subjects', 'parent-select' => '#parent-subjects', 'descendant-select' => '#subject-descendants-select', 'descendant-select-wrapper' => '#descendants-subjects' } }
        = structure_form.association :subjects, as: :select, collection: Subject.roots.stars.order('name ASC'), input_html: { class: 'input--large', style: 'width: 74%;', id: 'parent-subjects', data: { behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines' }, multiple: true }, label: 'Disciplines générales pratiquées ', label_method: lambda{|subj| subj.name }, wrapper_html: { class: 'flush--bottom' }, label_html: { class: 'label--large' }
        #descendants-subjects
          .input{title: 'Sélectionnez plusieurs disciplines en maintenant la touche CTRL ou CMD enfoncée.', data: {behavior: 'tooltip'}}>
            %label.control-label.label--large> Sous disciplines
            %select#subject-descendants-select.input--large{ name: 'structure[subject_descendants_ids][]', style: 'width: 74%;', multiple: true, data: {behavior: 'chosen', placeholder: 'Tapez ou sélectionnez une ou plusieurs disciplines', selected: @structure.subjects.children.map(&:id).join(',')}}>
      - if @structure.errors[:children_subjects].present?
        .input_field_error.red.text--right= @structure.errors[:children_subjects].to_sentence

  %hr.push--ends
  %div{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.funding_types') } }

    %h5 Financements acceptés
    = structure_form.input :funding_type_ids, as: :select, collection: FundingType.all.map{|funding_type| [ t(funding_type.name), funding_type.id]}, input_html: { class: 'input--large', style: 'width: 74%;', multiple: true, data: { behavior: 'chosen', placeholder: 'Sélectionnez un ou plusieurs choix'}}, selected: @structure.funding_types.map(&:id), label_html: { class: 'label--large' }, wrapper_html: { class: ' flush--bottom' }

  %hr.push--ends
  %div{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.description') } }
    %h5.push--top Description
    .input
      = structure_form.label :description, class: 'label--large'
      .input-container>
        = structure_form.input :description, label: false, wrapper_html: { class: 'flush one-whole' }, input_html: { style: 'height: 130px;', id: 'description-textarea', class: 'input--large one-whole', data: { behavior: 'text-counter', 'average-words-nb' => 30, 'good-words-nb' => 100, 'bad-text' => 'Votre description doit comporter au moins 30 mots. Nos Partenaires qui ont le plus de succès ont plus de 100 mots.', 'average-text' => 'Encore quelques mots et vous aurez une superbe description !', 'good-text' => 'Superbe description !'}}
  - if @structure.comments_count >= 5
    %hr.push--ends
    %div
      %h5 Autre
      %div
        = structure_form.input :widget_status, as: :select, collection: Structure::WIDGET_STATUS, label_method: lambda{|status| t("structures.widget_status.#{status}")}, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
        = structure_form.input :widget_url, as: :string, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }

  %div
    = structure_form.button :submit, "Enregistrer", class: 'btn btn--green btn--full push--bottom', data: { disable_with: "En cours d'enregistrement" }

= content_for :scripts do
  = filepicker_js_include_tag
  :javascript
    $(function() {
        $('#structure_gives_individual_courses').change(function(){
            if (this.checked) {
                $('#teaches-at-home').slideDown();
            } else {
                $('#teaches-at-home').slideUp();
            }
        });
        if ($('#delete-logo').length > 0) {
            $('#delete-logo').click(function(){
                $('#structure_delete_logo')[0].checked = true;
                $('#structure-form').submit();
            });
        }
        $('#description-textarea').textareaResizer();
        if($('#logo-placeholder').length > 0) {
            $('#logo-placeholder').load(function(){
                $(this).parent().show();
            });
        }
        $('#structure_logo_filepicker_url').change(function(event) {
            $('[data-crop]').fadeOut();
            $('[data-delete]').fadeOut();
            $('[data-crop-info]').fadeIn();
            $('#logo-placeholder').attr('src', this.value)
        });
    });

