= simple_form_for [:pro, @structure], html: { autocomplete: 'off', id: 'structure-form' } do |structure_form|
  = structure_form.error_notification

  - if params[:return_to].present?
    %input{type: 'hidden', value: params[:return_to], name: 'return_to'}
  .form-inputs
    %h5.form-header-group
      %i.fa.fa-picture-o
      Logo
    - if @structure.valid?
      .form-white-box
        %div{data: {behavior: 'image-input' }}
          #logo-progress.progress.hidden{data: {progress: true }}
            .bar
          .text--center
            - if @structure.logo?
              .push-half--bottom.text--center.center-block.bordered{style: "height: 200px; width: 200px; display: inline-block; line-height: 196px;"}<
                = image_tag @structure.logo.url(:thumb), class: 'v-middle inline-block', style: 'max-height: 100%;'
              %br
              = link_to crop_logo_pro_structure_path(@structure), class: 'btn btn--small btn--blue push-half--right' do
                %i.fa.fa-expand.soft-half--right
                Recadrer mon logo
              %a.btn.btn--small.btn--red#delete-logo{href: 'javascript:void(0)'}
                %i.fa.fa-trash-o.soft-half--right
                Supprimer
              .visuallyhidden= structure_form.input :delete_logo, as: :boolean, label: false
            - else
              .text--center.center-block.bordered{style: "height: 200px; width: 200px; display: inline-block; line-height: 196px; display: none;"}
                %img#logo-placeholder.v-middle.inline-block{style: 'max-height: 100%;'}

          .input
            .control-label Logo de votre structure
            = link_to 'javascript:void(0)', class: 'btn btn--blue btn--small', data: {trigger: true} do
              %i.fa.fa-picture-o
              Choisir mon logo
            .visuallyhidden= structure_form.input :logo, label: false, input_html: {id: 'logo-input'}

          %p.field-form-info.blue
            Ce logo apparaîtra dans les résultats de recherche.
            %br
            = t('structures.accepted_image_formats')
    - else
      %p.alert--error Vous devez choisir une sous discipline pour mettre un logo.

    %h5.form-header-group#informations
      %i.lbc-icon-info i
      Informations
    .form-white-box.push--bottom
      = structure_form.input :name, label: t('.structure_name'), wrapper_html: {class: 'flush--bottom'}
      %p.field-form-info.blue= t('.structure_name_info')
      = structure_form.input :website, placeholder: 'Ex : http://www.je-danse-a-paris.com'
      = structure_form.input :facebook_url, as: :string, wrapper_html: {class: 'flush--bottom'}, placeholder: 'Ex. : https://www.facebook.com/CoursAvenue'

      %div{data: {behavior: 'parent-descendant-subjects', 'parent-select' => '#parent-subjects', 'descendant-select' => '#subject-descendants-select', 'descendant-select-wrapper' => '#descendants-subjects'}}
        = structure_form.association :subjects, as: :select, collection: Subject.roots.order('name ASC'), input_html: {style: 'width: 74%;', id: 'parent-subjects', data: {behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines'}, multiple: true}, label: 'Disciplines générales pratiquées ', label_method: lambda{|subj| subj.name }, wrapper_html: {class: 'flush--bottom'}

        #descendants-subjects
          .input{title: 'Sélectionnez plusieurs disciplines en maintenant la touche CTRL ou CMD enfoncée.', data: {behavior: 'tooltip'}}
            %label.control-label Sous disciplines
            %select#subject-descendants-select{name: 'structure[subject_descendants_ids][]', style: 'width: 74%;', multiple: true, data: {behavior: 'chosen', placeholder: 'Tapez ou sélectionnez une ou plusieurs disciplines', selected: @structure.subjects.children.map(&:id).join(',')}},
      - if @structure.errors[:children_subjects].present?
        %p.error= @structure.errors[:children_subjects].to_sentence

      = structure_form.input :structure_type, collection: Structure::STRUCTURE_TYPES.map{|structure_type| [ t(structure_type), structure_type]}, input_html: {style: 'max-width: 29em;'}

      = structure_form.input :funding_types, as: :select, collection: FundingType.all.map{|funding_type| [ t(funding_type.name), funding_type.id]}, input_html: {style: 'width: 74%;', multiple: true, data: {behavior: 'chosen', placeholder: 'Sélectionnez un ou plusieurs choix'}}, selected: @structure.funding_types.map(&:id)

      = structure_form.input :teaches_at_home, as: :select, include_blank: false
      #teaches-at-home-radius{class: @structure.teaches_at_home ? '' : 'hidden'}
        = structure_form.input :teaches_at_home_radius, input_html: { style: 'width: 5em;' }, wrapper_html: {class: 'flush'}

    %h5.form-header-group Coordonnées de réservation
    .form-white-box.push--bottom
      %p.field-form-info.blue.flush Si vous avez plusieurs lieux : renseignez vos coordonnées principales, vous pourrez ensuite choisir des coordonnées de réservation spécifiques à chaque lieu dans l'onglet « Lieux »
      = structure_form.input :contact_phone, placeholder: 'Ex. : 01 04 12 49 12'
      = structure_form.input :contact_mobile_phone, placeholder: 'Ex. : 06 34 41 99 31'
      = structure_form.input :contact_email, input_html: {value: (@structure.contact_email || @structure.main_contact.try(:email))}

    %h5.form-header-group.push--top Description
    %div.relative
      = image_tag 'texts/structure-description.png', height: 85, style: 'position: absolute; left: 230px; bottom: -25px; z-index: 10'
    .form-white-box.push--top
      .grid--full.input
        .textarea-with-info.grid__item.width-auto
          .grid--full
            .three-fifths.grid__item.soft-half--right>
              = structure_form.input :description, label: false, wrapper_html: {class: 'flush one-whole'}, input_html: {id: 'description-textarea', class: 'one-whole textarea-description--tall', placeholder: 'Mettez en avant votre différence !', data: { behavior: 'text-counter', 'average-words-nb' => 30, 'good-words-nb' => 100, 'bad-text' => 'Votre description doit comporter au moins 30 mots. Nos Partenaires qui ont le plus de succès ont plus de 100 mots.', 'average-text' => 'Encore quelques mots et vous aurez une superbe description !', 'good-text' => 'Superbe description !'}}
            .two-fifths.grid__item
              %p.alert--info.flush--top
                Qu'est-ce qui vous différencie ?
                %br
                Pourquoi nos Internautes devraient-il réserver chez vous ? Soyez sincère et original !
              %p.alert--info
                Quelle est votre équipe, combien êtes-vous ?
                %br
                Qui se cache derrière tout ça ?
                %br
                Quel est le profil de vos professeurs ?
              %p.alert--info
                Depuis quand votre structure existe-t-elle ?
                %br
                Quelle est sa notoriété ?
                %br
                A-t-elle formé des célébrités ?
    - if @structure.comments_count >= 5
      %h5.form-header-group Autre
      .form-white-box.push--bottom
        = structure_form.input :widget_status, as: :select, collection: Structure::WIDGET_STATUS, label_method: lambda{|status| t("structures.widget_status.#{status}")}
        = structure_form.input :widget_url, as: :string, placeholder: 'Ex. : http://www.mon-site.com/livre-d-or'

  = structure_form.button :submit, "Enregistrer", class: 'btn btn--green btn--full'

= content_for :scripts do
  :javascript
    $(function() {
        $('#structure_teaches_at_home').change(function(){
            if (this.value == 'true') {
                $('#teaches-at-home-radius').slideDown();
            } else {
                $('#teaches-at-home-radius').slideUp();
            }
        });
        // --------------- Handling structure logo
        $('#logo-input').fileupload({
            dataType: 'json',
            type: 'PUT',
            replaceFileInput: false,
            submit: function (e, data) {
                data.formData = {authenticity_token: $('meta[name="csrf-token"]').attr('content') };
                return true;
            },
            add: function (e, data) {
                $('#logo-progress').show().removeClass('progress-success');
                if (GLOBAL.isImageValid(this.files[0])) {
                    data.submit();
                }
            },
            done: function (e, data) {
                $('#logo-progress').addClass('progress-success');
                $('#logo-progress .bar').text('');
                $('#logo-progress .bar').append($('<i>').addClass('fa fa-check push-half--right'));
                $('#logo-progress .bar').append($('<span>').text('Téléchargement terminé'));
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                if (progress == 100) {
                    $('#logo-progress .bar').text('Finalisation...');
                } else {
                    $('#logo-progress .bar').text(progress + '%');
                }
                $('#logo-progress .bar').css('width', progress + '%');
            }
        });
        if ($('#delete-logo').length > 0) {
            $('#delete-logo').click(function(){
                $('#structure_delete_logo')[0].checked = true;
                $('#structure-form').submit();
            });
        }
        $('#description-textarea').textareaResizer();
        if($('#logo-placeholder').length > 0) {
            $('#logo-placeholder').load(function(){
                $(this).parent().show();
            });
        }
    });
