.bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.delta.text--center
  %p
    - if message
      = message
    - else
      Vous n'avez pas encore d'inscrit. Quelques conseils pour améliorer vos statistiques :
  %ul.line-height-1-7.inline-block.text--left
    %li
      = link_to "Mettez à jour votre planning d'activités", pro_structure_courses_path(@structure)
    %li
      = link_to "Affichez votre planning sur votre site Internet", website_planning_pro_structure_path(@structure)
    %li
      = link_to "Demandez des recommandations à vos élèves", pro_structure_comments_path(@structure)
    %li
      = link_to "Affichez votre livre d'Or sur votre site Internet", comments_on_website_pro_structure_comments_path(@structure)
