.panel
  .panel__body.soft--ends
    .soft--sides
      - # We show the user his last subscription to incentive him to reactivate
      - last_subscription_plan = @structure.subscription_plan
      - if last_subscription_plan
        %h2 Réactiver mon abonnement

        %p.epsilon
          - if !last_subscription_plan.canceled? and last_subscription_plan.last_renewal_failed_at
            Nous sommes désolés mais nous n'avons pas réussi à renouveler votre abonnement Premium. Ce problème est lié à votre carte bancaire (date d'expiration dépassée, solde insuffisant, opération rejetée, etc.)
          - else
            Votre <strong>#{last_subscription_plan.description.downcase} CoursAvenue Premium</strong> est arrété depuis le
            %strong= "#{l(last_subscription_plan.expires_at)}."
        = form_for (@structure), method: :get, url: go_premium_pro_structure_path(@structure) do
          = hidden_field_tag :subscription_plan_id, last_subscription_plan.id
          = submit_tag "Réactiver mon #{last_subscription_plan.next_plan_type_description.downcase}", class: 'btn btn--yellow soft--sides'

    %hr.push--ends
    .soft--sides
      %h2 Passez au Premium pour recruter plus d'élèves
      %p
        %strong.delta Choisissez votre abonnement :
      .two-thirds.center-block
        = render 'pro/shared/choose_premium_boxes'
      %p
        %strong Le saviez-vous ?
        Vous pouvez annuler votre compte Premium à tout moment, abonnement sans contrat ni commissions.

    %hr.push--bottom.flush--top
    .soft--sides
      = render 'pro/shared/premium_graph'

    %hr.push--ends
    .soft--sides
      %h2.text--center.f-weight-300.push-half--ends Les avantages du profil Premium
      = render 'pro/shared/premium_advantages'

    %hr.push--ends
    .soft--sides
      %h2.text--center.f-weight-300.push-half--ends Ils ont déjà souscrit au Premium
      = render 'pro/shared/they_already_subscribed'
    %hr.push--top.flush--bottom
    = render 'pro/shared/premium_testimonies'

    %hr.push--bottom.flush--top
    .soft--sides
      %h2.text--center.f-weight-300.push-half--ends Détails du profil Premium
      = render 'pro/home/pricing_details_table'

