.panel
  .panel__header.soft
    %h3.flush
      Votre abonnement
  .panel__body.soft--ends
    .soft--sides
      %h4 État de votre abonnement
      - if @structure.subscription_plan.canceled?
        %p.epsilon
          La résiliation de votre abonnement Premium a bien été prise en compte : à partir du #{l(@structure.subscription_plan.expires_at)} (dernier jour de votre abonnement), votre profil ne bénéficiera plus des avantages du Premium et vous ne serez plus prélevé. Si vous changez d'avis et souhaitez finalement rester en profil Premium,
          = link_to 'annulez votre résiliation.', '#reactivate-subscription',  data: { behavior: 'modal', width: '600', padding: 0 }, class: 'f-weight-bold'
      - else
        %p.epsilon
          - if @structure.subscription_plan.promotion_code and @structure.subscription_plan.promotion_code.code_id == 'SPECIALETE' and @structure.subscription_plan.promotion_code.still_apply?(@structure.subscription_plan.expires_at)
            Votre abonnement <strong>CoursAvenue Premium</strong> sera automatiquement renouvelé le #{l(@structure.subscription_plan.expires_at)} et nous prélèverons 22€ (offre spéciale été) tous les mois jusqu'en décembre 2014. A partir de janvier, votre prélèvement sera ensuite de 44€ (tarif normal), sauf si vous l'annulez avant cette date. Vous pouvez annuler votre abonnement à tout moment en accédant à l'espace « Gestion de votre abonnement ».
          - else
            Votre abonnement <strong>CoursAvenue Premium</strong> sera automatiquement renouvelé le
            %strong= l(@structure.subscription_plan.expires_at)
            et nous prélèverons
            %strong= "#{@structure.subscription_plan.next_amount}€"
            = "#{@structure.subscription_plan.frequency},"
            sauf si vous l'annulez avant cette date. Vous pouvez annuler votre abonnement à tout moment en accédant à l'espace « Gestion de votre abonnement ».

    %hr.push--ends
    .soft--sides
      %h4 Historique des factures
      = link_to "Voir l'historique des factures.", pro_structure_orders_path(@structure)

    %hr.push--ends
    .soft--sides
      %h4 Gestion de votre abonnement
      %p
        - if @structure.subscription_plan.canceled?
          = link_to 'Réactiver mon abonnement', '#reactivate-subscription',  data: { behavior: 'modal', width: '600', padding: 0 }, class: 'btn btn--green'
        - else
          = link_to 'Résilier mon abonnement', ask_for_cancellation_pro_structure_subscription_plan_path(@structure, @structure.subscription_plan), class: 'red fancybox.ajax',  data: { behavior: 'modal', width: '600', padding: 0 }

- if @structure.subscription_plan.canceled?
  .panel#reactivate-subscription.hidden
    .panel__header.soft
      %h4.flush Souhaitez-vous réactiver votre désabonner ?
    .panel__body.soft
      %p
        Nous sommes heureux d'apprendre que vous souhaitez annuler votre résiliation et prolonger votre expérience Premium. Ainsi, vous mettez toutes les chances de votre côté pour recruter un maximum d'élèves, et pour assurer une présence permanente optimale de votre profil sur CoursAvenue.
      .text--center
        = link_to 'Me réabonner', reactivate_pro_structure_subscription_plan_path(@structure, @structure.subscription_plan), class: 'btn btn--green btn--full', method: :patch, data: { disable_with: 'Réabonnement en cours' }
