.panel
  .panel__body.soft--ends
    .soft--sides
      %h3.flush Accédez à toutes les fonctionnalités de CoursAvenue et recrutez plus d'élèves.
      .epsilon.push--bottom Passez à l'offre Premium :

      = render 'pro/structures/premium_advantages'

      .gray-box.soft
        = form_for @structure, method: :get, url: go_premium_pro_structure_path(@structure) do
          %p.push-half--bottom
            %strong.delta Choisissez votre abonnement :
          .push-half--bottom
            %input.v-middle.input--lage#three-months-pricing{ type: 'radio', name: 'premium_type', value: 'three_months' }
            %label.v-middle.inline-block.hard--ends.label--large{ for: 'three-months-pricing', style: 'width: 80%' }
              3 mois : 23 € / mois (économisez 30%)
              %strong — Offre spéciale lancement jusqu'au 13/07/2014
          .push-half--bottom
            %input.v-middle.input--lage#annual-pricing{ type: 'radio', name: 'premium_type', checked: true, value: 'yearly' }
            %label.v-middle.inline-block.hard--ends.label--large{ for: 'annual-pricing' } Annuel : 29 € / mois (économisez 15%)
          .push-half--bottom
            %input.v-middle.input--lage#annual-mensual{ type: 'radio', name: 'premium_type', value: 'monthly' }
            %label.v-middle.inline-block.hard--ends.label--large{ for: 'annual-mensual' } Mensuel : 34 € / mois
          = submit_tag 'Souscrire au profil Premium', class: 'btn btn--yellow'
          %p.push-half--top.flush--bottom.milli.f-style-italic
            %strong Le saviez-vous ?
            Vous pouvez annuler votre compte Premium à tout moment, abonnement sans contrat ni commissions.
      -# %hr.push--ends
      -# %h4 Ils ont souscrit au profil Premium
    %hr.push--ends
    .soft--sides
      %h4 Détails du profil Premium
      = render 'pro/home/pricing_details_table'

= render 'shared/live_chat'
