.panel
  .panel__body.soft--ends
    .soft--sides
      %h3 Accédez à toutes les fonctionnalités de CoursAvenue et recrutez plus d'élèves.

      %p
        %strong.delta Choisissez votre abonnement :
      = form_for @structure, method: :get, url: go_premium_pro_structure_path(@structure) do
        %input#premium_type_value{ type: 'hidden', name: 'premium_type', value: 'yearly' }
        .grid.push--bottom
          .grid__item.one-half.text--center>
            .white-box.soft
              %p.green.gamma.push-half--bottom
                %strong Annuel
              %p.delta
                348€ TTC / an
              %p.epsilon
                Économique -15% (soit 29€ / mois)

              = submit_tag 'Souscrire', class: 'btn btn--full btn--yellow', onclick: "$('#premium_type_value').val('yearly');"
          .grid__item.one-half.text--center>
            .white-box.soft
              %p.green.gamma.push-half--bottom
                %strong Mensuel
              %p.delta
                34€ TTC / mois
              %p.epsilon
                Sans engagement
              = submit_tag 'Souscrire', class: 'btn btn--full btn--yellow', onclick: "$('#premium_type_value').val('monthly');"

      %p.milli.f-style-italic
        %strong Le saviez-vous ?
        Vous pouvez annuler votre compte Premium à tout moment, abonnement sans contrat ni commissions.

      %p
        %strong.delta  Les avantages du profil Premium :
      = render 'pro/structures/premium_advantages'

    %hr.push--ends
    .soft--sides
      %h4 Détails du profil Premium
      = render 'pro/home/pricing_details_table'

= render 'shared/live_chat'
