.panel
  .panel__body.soft--ends
    .soft--sides
      %h3 Accédez à toutes les fonctionnalités de CoursAvenue et recrutez plus d'élèves.

      %p
        %strong.delta Choisissez votre abonnement :
      = form_for @structure, method: :get, url: go_premium_pro_structure_path(@structure) do
        %input#premium_type_value{ type: 'hidden', name: 'premium_type', value: 'yearly' }
        .grid--full.push--bottom
          .grid__item.one-third.text--center>
            .white-box.soft.push--top.border-none--right
              %p.green.gamma.push-half--bottom
                %strong Annuel à -15%
              .delta
                29€ TTC / mois
              %p
                %br
              = submit_tag 'Souscrire', class: 'btn btn--full btn--yellow', onclick: "$('#premium_type_value').val('yearly');"
          .grid__item.one-third.text--center>
            .gray-box.soft.bordered--larger
              %p.green.beta.push-half--bottom
                %strong 6 mois à -50%
              .delta.push-half--bottom
                17€ TTC / mois
              %p
                %i
                  Offre spéciale lancement
                %br
                %i
                  jusqu'au 1er août 2014
              = submit_tag 'Souscrire', class: 'btn btn--full btn--yellow', onclick: "$('#premium_type_value').val('six_months_half_price');"
          .grid__item.one-third.text--center>
            .white-box.soft.push--top.border-none--left
              %p.green.gamma.push-half--bottom
                %strong Mensuel
              .delta
                34€ TTC / mois
              %p
                %br
              = submit_tag 'Souscrire', class: 'btn btn--full btn--yellow', onclick: "$('#premium_type_value').val('monthly');"

      %p.milli.f-style-italic
        %strong Le saviez-vous ?
        Vous pouvez annuler votre compte Premium à tout moment, abonnement sans contrat ni commissions.

      %p
        %strong.delta  Les avantages du profil Premium :
      = render 'pro/structures/premium_advantages'

    %hr.push--ends
    .soft--sides
      %h4 Détails du profil Premium
      = render 'pro/home/pricing_details_table'

= render 'shared/live_chat'
