.panel
  .panel__body.soft--ends
    .soft--sides
      %h3 Passez au Premium pour accéder à toutes les fonctionnalités de CoursAvenue et recruter plus d'élèves.

      .text--center.push-half--bottom
        = link_to "Voir l'offre spéciale (valable jusqu'au 31/07/2014)", pro_pages_july_offer_path, class: 'epsilon'
      %p
        %strong.delta Choisissez votre abonnement :
      .two-thirds.center-block
        = render 'pro/shared/choose_premium_boxes'
      %p.milli.f-style-italic
        %strong Le saviez-vous ?
        Vous pouvez annuler votre compte Premium à tout moment, abonnement sans contrat ni commissions.

    %hr.push--ends
    .soft--sides
      %p
        %strong.delta  Les avantages du profil Premium :
      = render 'pro/shared/premium_advantages'

    %hr.push--ends
    .soft--sides
      %h4 Ils ont déjà souscrit au Premium
      = render 'pro/shared/they_already_subscribed'
    %hr.push--top.flush--bottom
    = render 'pro/shared/premium_testimonies'

    %hr.push--bottom.flush--top
    .soft--sides
      %h4 Détails du profil Premium
      = render 'pro/home/pricing_details_table'

    %hr.push--bottom.flush--top
    .soft--sides
      = render 'pro/shared/premium_graph'
