.white-box.islet
  .grid
    .grid__item.two-tenths>
      - if @structure.image.present?
        = image_tag @structure.image.url(:normal)
      - else
        %p.text--center
          = link_to edit_pro_structure_path(@structure), style: 'width: 100%; height: 150px; background-color: #555; padding-top: 50px; color: white; display: block;' do
            Mettre une image
            %br
            de profil
    .grid__item.five-tenths.bordered--right.soft-half--right>
      %p
        %b= @structure.name
      - if @structure.description.present?
        %p.read-more{data: {behavior: 'read-more'}}= @structure.description.html_safe
      - else
        %p
          %i Pas de description
          %br
          = link_to 'Ajouter ma description', edit_pro_structure_path(@structure)

    .grid__item.three-tenths>
      %p.flush
        %b Disciplines pratiquées :
      %ul.nav= join_child_subjects @structure, true
      - if @structure.website.present?
        %p= link_to 'Site web', @structure.website, class: 'btn btn--blue btn--small', target: '_blank', rel: 'nofollow'
      - if @structure.facebook_url.present?
        %p= link_to 'Facebook', @structure.facebook_url, class: 'btn btn--small btn--blue', target: '_blank', rel: 'nofollow'
