= content_for :top_menu do
  %ul.nav.flush
    %li{ class: current == 'établissement' ? 'active' : '' }
      = link_to edit_pro_structure_path(@structure), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends' do
        Infos
    %li{ class: current == 'contact' ? 'active' : '' }
      = link_to edit_contact_pro_structure_path(@structure), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends' do
        Contact
    %li{ class: current == 'places' ? 'active' : '' }
      = link_to pro_structure_places_path(@structure), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends' do
        Lieux
    %li{ class: current == 'medias' ? 'active' : '' }
      = link_to pro_structure_medias_path(@structure), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends' do
        Photos & Vidéos
    %li{ class: current == 'professeurs' ? 'active' : '' }
      = link_to pro_structure_teachers_path(@structure), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends' do
        Professeurs
