.grid
  .grid__item.one-fifth.text--center.palm-one-whole>
    = link_to '#wordpress-guide', class: 'btn btn--blue btn--full', data: {toggle: 'tab'} do
      = image_tag 'logos/wordpress.png', height: 50
      %br
      .soft-half--top J'utilise wordpress
  .grid__item.one-fifth.text--center.palm-one-whole>
    = link_to '#overblog-guide', class: 'btn btn--blue btn--full', data: {toggle: 'tab'} do
      = image_tag 'logos/overblog.png', height: 50
      %br
      .soft-half--top J'utilise Overblog
  .grid__item.one-fifth.text--center.palm-one-whole>
    = link_to '#blogger-guide', class: 'btn btn--blue btn--full', data: {toggle: 'tab'} do
      = image_tag 'logos/blogger.png', height: 50
      %br
      .soft-half--top J'utilise Blogger
  .grid__item.one-fifth.text--center.palm-one-whole>
    = link_to '#wix-guide', class: 'btn btn--blue btn--full', data: {toggle: 'tab'} do
      = image_tag 'logos/wix.png', height: 25, style:'margin-top: 13px; margin-bottom: 12px;'
      %br
      .soft-half--top J'utilise WIX
  .grid__item.one-fifth.text--center.palm-one-whole>
    = link_to "J'ai un site perso / autre blog", '#webmaster-code', class: 'btn btn--large btn--blue btn--full soft-half--sides', data: { toggle: 'tab' }, style:'padding: 33px; font-size: 14px;'

.tab-content
  #wordpress-guide.tab-pane
    %h4.text--center.push--top Où voulez-vous l'affichez ?
    .grid
      .grid__item.one-half.palm-one-whole.text--center.v-middle>
        = link_to "Sur une nouvelle page", '#wordpress-new-page', class: 'btn btn--large', data: {toggle: 'tab'}
      .grid__item.one-half.palm-one-whole.text--center.v-middle>
        = link_to "Sur la barre latérale", '#wordpress-lateral', class: 'btn btn--large', data: {toggle: 'tab'}

    #wordpress-new-page.tab-pane
      .push--top
        %h4.push--top Étape 1 : Accédez à votre espace admin
        %p.f-size-14
          Connectez-vous à votre espace personnel Wordpress en cliquant sur le lien suivant :
          = link_to 'Me connecter à mon espace wordpress', 'https://fr.wordpress.com/wp-login.php', target: '_blank', rel: 'nofollow', class: 'btn btn--blue btn--small'

        %h4.push--top Étape 2 : Créez une nouvelle page
        %p.f-size-14 Dans la barre latérale de gauche cliquez sur <strong>« Pages »</strong> / <strong>« Ajouter »</strong>.
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wordpress-guide/page-step-1.png'

        %h4.push--top Étape 3 : Cliquez sur « Texte »
        %p.f-size-14 Donnez un nom à votre page puis cliquez sur l'onglet <strong>« Texte »</strong> en haut à droite.
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wordpress-guide/page-step-2.png'

        %h4.push--top Étape 4 : Copiez le code
        %p.f-size-14 Copiez et collez le texte suivant, publiez et c'est fini !
        %textarea.bg-gray-light.input--large.html-code.one-whole.push--bottom{ rows: 3 }
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wordpress-guide/page-step-3.png'
        %h4.text--center.push--ends Et voilà, c'est fini !

    #wordpress-lateral.tab-pane
      .push--top
        %h4.push--top Étape 1 : Accédez à votre espace admin
        %p.f-size-14
          Connectez-vous à votre espace personnel Wordpress en cliquant sur le lien suivant :
          = link_to 'Me connecter à mon espace wordpress', 'https://fr.wordpress.com/wp-login.php', target: '_blank', rel: 'nofollow', class: 'btn btn--blue btn--small'

        %h4.push--top Étape 2 : Allez dans la section « Widgets »
        %p.f-size-14 Dans la barre latérale de gauche cliquez sur <strong>« Apparence »</strong> / <strong>« Widgets »</strong>.
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wordpress-guide/side-step-1.png', class: 'center-block'

        %h4.push--top Étape 3 : Choisissez le widget « Texte »
        %p.f-size-14 Dans la liste des widgets disponibles, choisissez le widget « Texte » et glissez le en haut à droite de l'écran dans la <strong>« Zone de Sidebar »</strong>.
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wordpress-guide/side-step-2.png'
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wordpress-guide/side-step-3.png'

        %h4.push--top Étape 4 : Copiez le code
        %p.f-size-14 Choisissez un titre, copiez et collez le texte suivant, et c'est fini !
        %textarea.bg-gray-light.input--large.html-code.one-whole.push--bottom{rows: 3, style: 'font-size: 12px'}}
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wordpress-guide/side-step-4.jpg'
        %h4.text--center.push--ends Et voilà, c'est fini !

  #blogger-guide.tab-pane
    .push--top
      %hr
      %h4.push--top Étape 1 : Allez dans la section « Mise en page »
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/blogger-guide/page-step-1.png', class: 'center-block'
      %hr
      %h4.push--top Étape 2 : « Ajoutez un gadget »
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/blogger-guide/page-step-2.png', class: 'center-block'
      %hr
      %h4.push--top Étape 3 : Sélectionnez « HTML / JavaScript »
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/blogger-guide/page-step-3.png', class: 'center-block'
      %hr
      %h4.push--top Étape 4 : Copiez le code
      %p.f-size-14 Choisissez un titre, copiez et collez le texte suivant, et c'est fini !
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/blogger-guide/page-step-4.png', class: 'center-block'
      %textarea.bg-gray-light.input--large.ajax-code.one-whole.push--bottom{rows: 3, style: 'font-size: 12px'}}
      %h4.text--center.push--ends Enregistrez et c'est fini !
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/blogger-guide/page-step-5.png', class: 'center-block'

  #wix-guide.tab-pane
    .push--top
      %hr
      %h4.push--top Étape 1 : Ajoutez une « Apps »
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wix-guide/page-step-1.png', class: 'center-block'
      %hr
      %h4.push--top Étape 2 : Choissez « HTML »
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wix-guide/page-step-2.png', class: 'center-block'
      %hr
      %h4.push--top Étape 3 : Configurez votre « Apps »
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wix-guide/page-step-3.png', class: 'center-block'
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wix-guide/page-step-4.png', class: 'center-block'
      %hr
      %h4.push--top Étape 4 : Copiez le code
      %p.f-size-14 Choisissez un titre, copiez et collez le texte suivant, et c'est fini !
      %textarea.bg-gray-light.input--large.html-code.one-whole.push--bottom{rows: 3, style: 'font-size: 12px'}}
      %h4.text--center.push--ends Et voilà, c'est fini !
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/wix-guide/page-step-5.png', class: 'center-block'

  #overblog-guide.tab-pane
    %h4.text--center.push--top À quoi ressemble votre interface Overblog ?
    .grid
      .grid__item.one-half.palm-one-whole>
        = link_to '#overblog-old', data: { toggle: 'tab' } do
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/overblog-new.jpg'
      .grid__item.one-half.palm-one-whole>
        = link_to '#overblog-new', data: { toggle: 'tab' } do
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/overblog-old.jpg'

    #overblog-new.tab-pane
      .push--top
        %h4.push--top Étape 1 : Accédez à votre espace admin
        %p.f-size-14
          Connectez-vous à votre espace personnel Overblog en cliquant sur le lien suivant :
          = link_to 'Me connecter à mon espace Overblog', 'https://connect.over-blog-kiwi.com/en/login', target: '_blank', rel: 'nofollow'

        %h4.push--top Étape 2 : Allez dans la « Liste de vos pages »
        %p.f-size-14 Dans le menu du haut, passez la souris sur <strong>« Publier »</strong>, puis cliquez sur <strong>« Liste des pages »</strong>.
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-old-step-1.jpg', class: 'center-block'

        %h4.push--top Étape 3 : Créez une nouvelle page
        %p.f-size-14 Dans la barre de gauche, cliquez sur le bouton <strong>« Écrire une nouvelle page »</strong>.
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-old-step-2.jpg', class: 'center-block'

        %h4.push--top Étape 4 : Copiez le code
        %p.f-size-14 Choisissez un titre, sélectionnez le mode <strong>« Avancé »</strong>, puis cliquez sur le bouton <strong>« HTML »</strong> et enfin, collez le code suivant.

        %textarea.bg-gray-light.input--large.ajax-code.one-whole.push--bottom{rows: 7, style: 'font-size: 12px'}}
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-old-step-3.jpg'
        %hr
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-old-step-4.jpg'

        %h4.push--top Allez en bas de la page, publiez et c'est fini !
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-old-step-5.jpg'
        %h4.text--center.push--ends Et voilà, c'est fini !

    #overblog-old.tab-pane
      .push--top
        %h4.push--top Étape 1 : Accédez à votre espace admin
        %p.f-size-14
          Connectez-vous à votre espace personnel Overblog en cliquant sur le lien suivant :
          = link_to 'Me connecter à mon espace Overblog', 'https://connect.over-blog-kiwi.com/en/login', target: '_blank', rel: 'nofollow', class: 'btn btn--blue btn--small'

        %h4.push--top Étape 2 : Créez une nouvelle page
        %p.f-size-14 Dans le menu du haut, cliquez sur <strong>« Publier »</strong>.
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-new-step-1.jpg', class: 'center-block'

        %h4.push--top Étape 3 : Ajoutez une section « HTML »
        %p.f-size-14 Choisissez un titre, ajoutez une section <strong>« HTML »</strong>.
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-new-step-2.jpg'

        %h4.push--top Étape 4 : Copiez le code
        %textarea.bg-gray-light.input--large.ajax-code.one-whole.push--bottom{rows: 7, style: 'font-size: 12px'}}
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-new-step-3.jpg'

        %h4.push--top Publiez et c'est fini !
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/overblog-guide/page-new-step-4.jpg'
        %h4.text--center.push--ends Et voilà, c'est fini !

  #webmaster-code.tab-pane
    .push--top
      .grid
        .grid__item.one-half.palm-one-whole.v-middle>
          %p.f-size-14
            Pour le faire sans votre webmaster, lors de l'édition de vos pages / articles, cherchez à éditer votre text en
            %strong « HTML »
            ou cherchez un bouton qui ressemble à :
            %strong « <> »
        .grid__item.one-half.palm-one-whole.v-middle>
          .text--center= image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/other/other.jpg'
    .push--top
      %p.f-size-14.text--left
        Copiez le code ci-dessous à envoyer à votre webmaster :
      %textarea.bg-gray-light.input--large.html-code.one-whole.push--bottom{ rows: 3 }
