- unless params[:not_ajax]
  = render '/pro/structures/widget_inline_css'

.coursavenue-widget
  = link_to structure_url(@structure, subdomain: 'www'), target: '_blank', class: 'coursavenue-white-box coursavenue-widget-wrapper-link', title: "Cours de #{@structure.subjects.map{|subj| subj.name.downcase}.join(', ')} sur CoursAvenue" do
    .coursavenue-widget-top-logo
      .coursavenue-widget-title Recommandé par les élèves sur
      %img.coursavenue-image{src: asset_path('logo.png'), height: 35, style: 'height: 35px;'}
  %p{style: 'text-align: center; margin-bottom: 10px;'}
    = link_to 'Déposer mon avis sur CoursAvenue', new_structure_comment_url(@structure, subdomain: 'www'), class: 'coursavenue-btn', target: '_blank'
  - if params[:last_comments] and params[:last_comments] == 'true'
    - params[:nb_comments] ||= 3
    - params[:nb_comments] = params[:nb_comments].to_i
    - if @structure.comments_count < params[:nb_comments]
      - params[:nb_comments] = @structure.comments_count
    - if params[:nb_comments] > 0
      - @structure.comments.accepted[0..(params[:nb_comments] - 1)].each do |comment|
        .coursavenue-white-box
          %p.coursavenue-header
            = link_to structure_url(@structure, subdomain: 'www', anchor: "recommantation-#{comment.id}"), class: 'coursavenue-widget-link', target: '_blank' do
              %strong= comment.author_name
              = "— #{comment.course_name}"
          - if comment.title.present?
            %p.coursavenue-comment-paragraph
              %strong= "\"#{comment.title}\""
          %p.coursavenue-comment-paragraph
            - omission = link_to('Lire la suite →', structure_url(@structure, subdomain: 'www', anchor: "recommantation-#{comment.id}"), target: '_blank', class: 'coursavenue-widget-link')
            = truncate(comment.content.html_safe, length: 600, omission: "… #{omission}").html_safe
          %p.coursavenue-comment-footer
            %i= "Avis déposé le #{I18n.l(comment.created_at, format: :date)}"
    %p{style: 'text-align: center; margin-bottom: 5px;'}
      = link_to 'Voir tous les avis sur CoursAvenue', structure_url(@structure, subdomain: 'www'), class: 'coursavenue-btn', target: '_blank'

