%h3 Étape 1 : Configurez votre livre d'or

.grid.push--bottom
  .grid__item.four-tenths.palm-one-whole>
    .soft--right
      %h4
        %i.fa-cogs
        Configuration
      .islet
        .push--bottom
          %label.v-middle.label--large.v-middle.inline-block{for: 'show-comments'} Afficher les derniers avis
          %input.v-middle.input--large#show-comments{ type: 'checkbox', checked: true }
        %div
          %label.v-middle.label--large.inline{for: 'nb-comments'} Nombre d'avis à afficher
          %input.v-middle.input--large.inline#nb-comments{style: 'width: 4em', type: 'number', checked: true, range: 1, min: 1, step: 1, value: 3}

  .grid__item.six-tenths.bordered--left.palm-one-whole>
    %h4
      %i.fa-eye-o
      Aperçu
    .center-block{style: 'width: 400px'}
      #coursavenue-widget

%hr.push--ends
.soft--sides
  %h3 Étape 2 : Installez le livre d'or sur votre site

  = render 'pro/structures/widget_installation_guides'

  %div{ style: 'margin-bottom: 300px;' }
  #coursavenue-link-to-remove-wrapper.hidden>
    = link_to "Cours de #{@structure.subjects.map{|subj| subj.name.downcase}.join(', ')} sur CoursAvenue", structure_url(@structure, subdomain: 'www'), title: "Cours de #{@structure.subjects.map{|subj| subj.name.downcase}.join(', ')} sur CoursAvenue", style: 'border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;'

- content_for :scripts do
  :javascript
    $(function() {
        var inlineCSS = function() {
            // Accessing the last style link tag and inline it
            var rules = document.styleSheets[document.styleSheets.length - 1].cssRules;
            for (var idx = 0, len = rules.length; idx < len; idx++) {
                $(rules[idx].selectorText).each(function (i, elem) {
                    elem.style.cssText += rules[idx].style.cssText;
                });
            }
        }
        var code = $('#coursavenue-link-to-remove-wrapper').html() + "<div id='coursavenue-widget'>&nbsp;</div><script>window.onload = function() {var coursavenue_widget_div = document.getElementById('coursavenue-widget');var request = new XMLHttpRequest();request.open('GET', '__URL__', false);request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');request.send(null);if(request.status == 200) {coursavenue_widget_div.innerHTML = request.responseText;}}</script";
        var load_widget,
            coursavenue_widget_div = $('#coursavenue-widget'),
            params = { last_comments: true, nb_comments: 3, show_new_comment: true };
        $('#show-comments').change(function() {
            params['last_comments'] = this.checked;
            load_widget();
        });
        $('#nb-comments').change(function() {
            params['nb_comments'] = this.value;
            load_widget();
        });
        load_widget = function() {
            var url      = "#{widget_ext_pro_structure_url(@structure, format: :json, subdomain: 'pro')}",
                new_code;
            url += '?last_comments='    + params['last_comments'];
            url += '&show_new_comment=' + params['show_new_comment'];
            if (params['last_comments'] && params['last_comments'] == true) {
              url += '&nb_comments=' + params['nb_comments'];
            }
            new_code = code.replace('__URL__', url) + '>';
            $('.ajax-code').val(new_code.replace(/\s+/g, ' '));
            $.ajax({
                url: url,
                dataType: 'text',
                data: {
                  not_ajax: true
                },
                success: function(response) {
                  coursavenue_widget_div.html(response);
                  inlineCSS();
                  $('.html-code').val($('#coursavenue-widget').parent().html().replace(/\s+/g, ' '));
                }
            });
        };
        load_widget();
    });
