%div{style: 'font: Helvetica, Arial,sans-serif; font-size: 12px;'}
  = link_to structure_url(@structure, subdomain: 'www'), style: 'display: block; ;padding: 10px; margin: 0 0 10px 0; text-align: center; background-color: white; border: 1px solid #DDD; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE; -moz-box-shadow: 1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee; box-shadow: 1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE; text-decoration: none;', target: '_blank' do
    %div
      %div{style: 'font-size: 16px; color: #e9683d'} Recommandé sur
      %img{src: asset_url('logo.png'), height: 35, style: 'height: 35px;'}
    %div{style: 'font-weight: 200; font-size: 40px; color: #e9683d'}
      = @structure.comments_count
    %div
      %span{style: 'vertical-align: middle; display: inline-block;'}avis
      %img{style: 'height: 10px; vertical-align: middle; display: inline-block;', src: asset_url('icons/bulle.png'), height: 10}
    %div
      = rating_stars_image @structure.rating

  - if params[:last_comments] and params[:last_comments] == 'true'
    - params[:nb_comments] ||= 5
    - params[:nb_comments] = params[:nb_comments].to_i
    - if @structure.comments.length < params[:nb_comments]
      - params[:nb_comments] = @structure.comments.length
    - if params[:nb_comments] > 0
      %div{style: 'font-weight: bold; display: block; font: Helvetica, Arial,sans-serif;padding: 10px; margin: 0 0 10px 0; text-align: center; background-color: white; border: 1px solid #DDD; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE; -moz-box-shadow: 1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee; box-shadow: 1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE; text-decoration: none;'}
        - if params[:nb_comments] == 1
          Le dernier commentaire
        - else
          Les derniers commentaires
      - @structure.comments[0..(params[:nb_comments] - 1)].each do |comment|
        = link_to structure_url(@structure, subdomain: 'www'), style: 'display: block; font: Helvetica, Arial,sans-serif;padding: 10px; margin: 0 0 10px 0; text-align: left; background-color: white; border: 1px solid #DDD; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE; -moz-box-shadow: 1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee; box-shadow: 1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE; text-decoration: none;', target: '_blank' do
          %div{style: 'margin-bottom: 4px; font-size: 14px;'}
            %strong= comment.author_name
            %span= rating_stars_image comment.rating, image_size: 13
          %p{style: 'line-height: 1.4; color: black;'}= comment.content

