= side_menu_currently_at 'Structures en attente'

%table.table--striped#dataTable
  %thead
    %tr
      %th.sortAsc
        %span Nom
      %th
        %span Nombre de cours
      %th
        %span Date de création
      %th
  %tbody
    - @structures.each do |structure|
      %tr
        %td= link_to structure.name, edit_pro_structure_path(structure)
        %td= structure.courses.length
        %td= l(structure.created_at, format: :date_short)
        %td.text--right
          = link_to activate_pro_structure_path(structure), method: :put, class: 'btn btn__success' do
            %i.icon-ok
            Valider
          &nbsp;
          = link_to pro_structure_path(structure), method: :delete, class: 'btn btn__danger', data: {confirm: 'Êtes-vous sur de supprimer ce lieu ? Cette action sera irreversible.'}, title: 'Supprimer' do
            %i.icon-trash

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        new TableSorter('dataTable', { columnDataTypes: 'string, int, date' });
    });
