= side_menu_currently_at 'premium'

.panel
  .panel__header.soft
    = render partial: 'premium_breadcrumb', locals: { current: '' }
  .panel__body.soft--ends
    .soft--sides
      = render 'pro/shared/choose_premium_boxes'
    %hr.push--ends
    .soft--sides
      %h4 Ils ont déjà souscrit au Premium
      = render 'pro/shared/they_already_subscribed'
    %hr.push--top.flush--bottom
    = render 'pro/shared/premium_testimonies'
