= side_menu_currently_at 'Mon profil'

%h3.header-logo Ajustez le cadrage de votre logo

= image_tag @structure.logo.url(:large), id: 'logo'

= simple_form_for @structure do |f|
  - [:crop_x, :crop_y, :crop_width, :crop_height].each do |attribute|
    = f.input attribute, as: :hidden, input_html: {id: attribute}
  = f.input :cropping, as: :hidden, input_html: {value: true}
  .push--top
    = f.submit 'Valider', class: 'btn btn--success'

- content_for :scripts do
  :javascript
    $(function(){
        $('#logo').Jcrop({
            onChange: update_crop,
            onSelect: update_crop,
            setSelect: [0, 0, 500, 500],
            aspectRatio: 1
        });
        function update_crop(coords) {
          var rx = 100 / coords.w;
          var ry = 100 / coords.h;
          var ratio = #{@structure.logo_geometry(:original).width} / #{@structure.logo_geometry(:large).width};
          $('#crop_x').val(Math.floor(coords.x * ratio));
          $('#crop_y').val(Math.floor(coords.y * ratio));
          $('#crop_width').val(Math.floor(coords.w * ratio));
          $('#crop_height').val(Math.floor(coords.h * ratio));
        }
    });

