= side_menu_currently_at 'Tableau de bord'

- if @wizard
  #wizard.blue-box.islet.hidden.relative
    %a#close-wizard.closer{href: 'javascript:void(0)', data: { behavior: 'closer', el: '#wizard'}}
      %i.icon-remove
    - if @wizard.id == 1
      %h4.flush Bienvenue #{@structure.name} ! Améliorons ensemble votre profil.
    #wizard-form= render @wizard.partial
    %span.btn.btn--green#save-wizard Enregistrer
    %a#skip-wizard.soft-half--left{href: 'javascript:void(0)'} Passer
  = render 'wizards/share_your_profile'

.white-box.islet
  %h4.flush
    Votre profil est complété à #{@profile_percentage}%
  .text--center.progress.push-half--bottom{style: "width: 280px;"}
    - if @profile_percentage == 0
      #{@profile_percentage}%
    - else
      #profile-progress-bar.bar.bar-success{style: "width: 0%;"}
        #{@profile_percentage}%
  %ul.no-bullet-list
    %li
      %i.icon-check
      %span.line-through Créer mon profil
    %li
      - if @profile_completed
        %i.icon-check
        %span.line-through Compléter mes informations générales
      - else
        = link_to edit_pro_structure_path(@structure), class: 'profile-task-uncomplete' do
          %i.icon-check-empty
          Compléter mes informations générales
    %li
      - if @comments.any?
        %i.icon-check
        %span.line-through Demander des recommandations à mes élèves
      - else
        = link_to recommendations_pro_structure_path(@structure), class: 'profile-task-uncomplete' do
          %i.icon-check-empty
          Demander des recommandations à mes élèves
    %li
      - if @structure.medias.any?
        %i.icon-check
        %span.line-through Mettre en ligne les photos et vidéos de mes cours
      - else
        = link_to pro_structure_medias_path(@structure), class: 'profile-task-uncomplete' do
          %i.icon-check-empty
          Mettre en ligne les photos et vidéos de mes cours
    %li
      - if @structure.courses.active.count > 0
        %i.icon-check
        %span.line-through Renseigner mes cours et mon planning
      - else
        = link_to pro_structure_path(@structure), class: 'profile-task-uncomplete' do
          %i.icon-check-empty
          Renseigner mes cours et mon planning

.grid
  .grid__item.one-third>
    .white-box.islet.text--center
      %h4.flush
        %i.icon-comments
        Avis et recommandations
      %p
        %span.beta{class: (@comments.length > 6 ? 'green' : 'red')}= @comments.length
        %br
        = link_to "Obtenir plus d'avis", recommendations_pro_structure_path(@structure), class: 'btn btn--blue btn--small', onclick: "ga('send', 'event', 'Dashboard', 'click', 'Demander des recommandations')"

  .grid__item.one-third>
    .white-box.islet.text--center
      %h4.flush
        %i.icon-list
        Cours en ligne
      %p
        %span.beta{class: (@structure.courses.active.count > 2 ? 'green' : 'red')}= @structure.courses.active.count
        %br
        = link_to 'Ajouter des cours', pro_structure_courses_path(@structure), onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter des cours')", class: 'btn btn--blue btn--small'
  .grid__item.one-third>
    .white-box.islet.text--center
      %h4.flush
        %i.icon-youtube-play
        Photo & vidéos
      %p
        %span.beta{class: (@structure.medias.count > 3 ? 'green' : 'red')}= @structure.medias.count
        %br
        = link_to 'Ajouter des photos / vidéos', pro_structure_medias_path(@structure), onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter des medias')", class: 'btn btn--blue btn--small'

%hr
%h3 Mes derniers commentaires
%ul.comment-list
  = render partial: 'comments/comment', collection: @comments[0..2]
- if @comments.length == 0
  %p.white-box.islet Vous n'avez pas encore d'avis sur votre profil.
  %p.text--center= link_to 'Demander des recommandations', recommendations_pro_structure_path(@structure), class: 'btn btn--blue'
- elsif @comments.length > 3
  %p.text--center= link_to 'Voir mes autres avis', pro_structure_comments_path(@structure)

%hr
%h3 Mes cours
- if @courses.any?
  %table.table--striped.table--white
    %thead
      %tr
        %th.text--center.one-twelfth Statut
        %th.five-twelfths Nom du <b>cours</b>
        %th.three-twelfths.text--center Disciplines
        %th.two-twelfths.text--center Séances à venir
        %th.text--right Prix
    %tbody
      - @courses.each do |course|
        %tr
          %td.text--center
            - if course.active
              = link_to disable_pro_course_path(course), method: :put, class: 'switch-button on', title: 'Enlever le cours de CoursAvenue' do
                Visible
            - else
              = link_to activate_pro_course_path(course), method: :put, class: 'switch-button off', title: 'Afficher le cours sur CoursAvenue'  do
                Non&nbsp;visible
          %td
            %h3.base-font-style.flush--bottom= link_to course.name.capitalize, edit_pro_course_path(course)
          %td.text--center
            %ul.nav.flush--bottom
              = join_course_subjects course
          %td.text--center= course.plannings.future.count
          %td.text--right
            - if course.best_price
              = "#{readable_amount course.best_price.amount}€".html_safe
  %p.text--center= link_to 'Ajouter un cours', pro_structure_courses_path(@structure), class: 'btn btn--blue'
- else
  %p.text--center= link_to 'Renseigner mes cours', pro_structure_courses_path(@structure), class: 'btn btn--blue'

%hr
%h3 Mes photos & vidéos
- if @medias.any?
  .media-gallery
    - @medias.each do |media|
      .one-third.media__item.very-soft>
        %a.break-all.flush--bottom.white-box.islet{href: media.url, title: media.caption}>
          = media.url_html
          - if media.caption.present?
            %p.flush--bottom
              %i= media.caption
        %p
          = link_to edit_pro_structure_media_path(@structure, media), class: 'btn btn--red btn--small', title: 'Modifier le créneau', data: {behavior: 'modal'}, class: 'btn btn--orange btn--small fancybox.ajax' do
            %i.icon-pencil
            Modifier
          = link_to pro_structure_media_path(@structure, media), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce média ?' }, class: 'btn btn--red btn--small' do
            %i.icon-trash
            Supprimer

  %p.text--center= link_to 'Ajouter une photo ou une vidéo', pro_structure_medias_path(@structure), class: 'btn btn--blue'
- else
  %p.white-box.islet Vous n'avez pas encore téléchargé vos photos & vidéos.
  %p.text--center= link_to 'Télécharger mes photos & vidéos', pro_structure_medias_path(@structure), class: 'btn btn--blue'


= content_for :scripts do
  :javascript
    $(function() {
        $('.media-gallery').masonry({ itemSelector: '.media__item' });
        $('.media-gallery .media__item a').fancybox({ helpers : { media : {} } });
        $('a.profile-task-uncomplete').hover(function() {
            $(this).find('i').removeClass('icon-check-empty').addClass('icon-check');
        }, function() {
            $(this).find('i').removeClass('icon-check').addClass('icon-check-empty');
        });
        $('#profile-progress-bar').animate({
            width: '#{@profile_percentage}%'
        }, 800)
        setTimeout(function() {
            if ($('#wizard').length > 0) {
                $('#wizard').show('slow');
                var send_ajax = function(options) {
                    options = options || '';
                    $.ajax({
                        url: "#{wizard_pro_structure_path(@structure, format: :json)}",
                        dataType: 'json',
                        data: options,
                        success: function(response) {
                            $('#wizard-form').hide('slow');
                            setTimeout(function(){
                                if (response.done) {
                                    $('#wizard').hide('slow');
                                    $('#share_your_profile').show('slow');
                                } else {
                                    $('#wizard-form').html(response.form);
                                    $('#wizard-form').show('slow');
                                }
                            }, 500);
                        }
                    })
                }
                var submit_form = function() {
                    $('#wizard form').submit().bind('ajax:success', function() {
                        if ($('#wizard form input[name=next]').length > 0) {
                            send_ajax({next:true});
                        } else {
                            send_ajax()
                        }
                    });
                    mixpanel.track('Wizard next');
                    return false;
                };
                $('#save-wizard').click(submit_form);
                $('#skip-wizard').click(function(){
                    var wizard_label = $('#wizard form label').text();
                    send_ajax({next:true});
                    mixpanel.track('Skip wizard', {name: wizard_label});
                });
                $('#close-wizard').click(function() {
                    mixpanel.track('Quit wizard');
                });
            }
        }, 1000);
    });
