= side_menu_currently_at 'Tableau de bord'

- if @wizard
  #wizard.blue-box.islet.hidden.relative
    %a#close-wizard.closer{href: 'javascript:void(0)', data: { behavior: 'closer', el: '#wizard'}}
      %i.icon-remove
    - if @wizard.id == 1
      %p.flush Bienvenue #{@structure.name} ! Améliorons ensemble votre profil.
    - else
      %p.flush Il nous manque encore quelques informations.
    #wizard-form= render @wizard.partial
    %span.btn.btn--success#save-wizard Enregistrer
    %a#skip-wizard.soft-half--left{href: 'javascript:void(0)'} Passer
  = render 'wizards/share_your_profile'

- unless @profile_percentage == 100
  .white-box.islet
    %h4.flush
      Votre profil est complété à #{@profile_percentage}%
    .text--center.progress.push-half--bottom{style: "width: 280px;"}
      - if @profile_percentage == 0
        #{@profile_percentage}%
      - else
        .bar.bar-success{style: "width: #{@profile_percentage}%;"}
          #{@profile_percentage}%
    %ol.push--left
      %li{class: @profile_completed ? 'line-through' : ''}
        = link_to_unless @profile_completed, 'Remplir mon profil', edit_pro_structure_path(@structure)
      %li{class: @comments.any? ? 'line-through' : ''}
        = link_to_unless @comments.any?, 'Demander des recommandations à mes élèves', recommendations_pro_structure_path(@structure)
      %li{class: @structure.medias.any? ? 'line-through' : ''}
        = link_to_unless @structure.medias.any?, 'Mettre en ligne les photos et vidéos de mes cours', pro_structure_medias_path(@structure)
      %li{class: @structure.courses.active.count > 0 ? 'line-through' : ''}
        = link_to_unless (@structure.courses.active.count > 0), 'Renseigner mes cours et mon planning', pro_structure_path(@structure)

.white-box.islet
  %h4
    %i.icon-user
    Profil
  %ol.push--left
    %li{class: @structure.image.present? ? 'line-through' : ''}
      = link_to_unless @structure.image.present?, 'Mettre mon logo', edit_pro_structure_path(@structure)
    %li{class: @structure.description.present? ? 'line-through' : ''}
      = link_to_unless @structure.description.present?, 'Décrire mon établissement', edit_pro_structure_path(@structure)

.white-box.islet
  %h4
    %i.icon-comments
    Avis et recommandations
  %p
    Vous avez
    %span{class: (@comments.length > 6 ? 'green' : 'red')}= @comments.length
    avis
    %br
    = link_to 'Demander des recommandations', recommendations_pro_structure_path(@structure), class: 'btn btn--blue btn--small', onclick: "ga('send', 'event', 'Dashboard', 'click', 'Demander des recommandations')"
  -# %hr.push--top
  -# %p
  -#   Notre moteur de recherche est basé sur les témoignages des élèves.
  -#   %br
  -#   Voici votre position d'apparition sur CoursAvenue grâce à vos avis :
  -# - @structure_better_indexed.each do |subject_name, structures|
  -#   %p.flush--bottom
  -#     %strong= subject_name
  -#     \: #{(structures.length + 1).ordinalize}
  -#     position.
  -#     - if structures.any?
  -#       %br
  -#       Établissements mieux placés que vous :
  -#   - if structures.any?
  -#     %ul.block-list
  -#       - structures.each do |structure|
  -#         %li
  -#           = link_to structure.name, structure_url(structure, subdomain: 'www'), target: '_blank'
  -#           = rating_stars structure.rating
  -#           \/
  -#           = structure.comments_count
  -#           avis
  -#           %i.lbc-brand-icon

.white-box.islet
  %h4
    %i.icon-user
    Cours
  %p
    Vous avez
    = @structure.courses.active.count
    cours actif sur CoursAvenue
    %br
    = link_to 'Ajouter des photos / vidéos', pro_structure_medias_path(@structure), onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter des cours')", class: 'btn btn--blue btn--small'
.white-box.islet
  %h4
    %i.icon-user
    Photo & vidéos
  %p
    Vous avez
    %span{class: (@structure.medias.count > 3 ? 'green' : 'red')}= @structure.medias.count
    %br
    = link_to 'Ajouter des photos / vidéos', pro_structure_medias_path(@structure), onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter des medias')", class: 'btn btn--blue btn--small'

-# .text--center= link_to 'Mettre à jour mon profil', edit_pro_structure_path(@structure), class: 'btn btn--success', onclick: "ga('send', 'event', 'Dashboard', 'click', 'Mettre à jour mon profil')"



-# .grid.push--top
-#   .grid__item.one-half>
-#     %h3.header-group
-#       %i.icon-map-marker
-#       Lieux d'enseignements
-#     .white-box.islet.text--center
-#       .gamma
-#         Vous avez
-#         %span.green= @structure.places.count
-#         = Place.model_name.human(count: @structure.places.count).downcase
-#       = link_to "Ajouter un lieu d'enseignement", pro_structure_places_path(@structure), class: 'btn btn--success', onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter un lieu')"
-#   .grid__item.one-half>
-#     %h3.header-group
-#       %i.icon-list
-#       Cours et stages en ligne
-#     .white-box.islet.text--center
-#       .gamma
-#         Vous avez
-#         %span{class: (@structure.courses.active.count > 3 ? 'green' : 'red')}= @structure.courses.active.count
-#         cours en ligne
-#       = link_to 'Référencer mes cours', pro_structure_path(@structure), class: 'btn btn--success', onclick: "ga('send', 'event', 'Dashboard', 'click', 'Référencer mes cours')"

-# .grid.push--top
-#   .grid__item.one-half>
-#     %h3.header-group
-#       %i.icon-youtube-play
-#       Photos & Vidéos
-#     .white-box.islet.text--center
-#       .gamma
-#         Vous avez
-#         %span{class: (@structure.medias.count > 3 ? 'green' : 'red')}= @structure.medias.count
-#         = Media.model_name.human(count: @structure.medias).downcase
-#       = link_to 'Ajouter des photos / vidéos', pro_structure_medias_path(@structure), class: 'btn btn--success', onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter des medias')"

.white-box.islet
  %h4
    %i.icon-group
    Professeurs
  %p
    Vous avez
    = @structure.teachers.count
    = Teacher.model_name.human(count: @structure.teachers.count).downcase
  = link_to 'Ajouter un professeur', pro_structure_teachers_path(@structure), class: 'btn btn--blue btn--small', onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter des medias')"

= content_for :scripts do
  :javascript
    $(function() {
        if ($('#wizard').length > 0) {
            $('#wizard').show('slow');
            var send_ajax = function(options) {
                options = options || '';
                $.ajax({
                    url: "#{wizard_pro_structure_path(@structure, format: :json)}",
                    dataType: 'json',
                    data: options,
                    success: function(response) {
                        $('#wizard-form').hide('slow');
                        setTimeout(function(){
                            if (response.done) {
                                $('#wizard').hide('slow');
                                $('#share_your_profile').show('slow');
                            } else {
                                $('#wizard-form').html(response.form);
                                $('#wizard-form').show('slow');
                            }
                        }, 500);
                    }
                })
            }
            var submit_form = function() {
                $('#wizard form').submit().bind('ajax:success', function() {
                    send_ajax()
                });
                mixpanel.track('Wizard next');
                return false;
            };
            $('#save-wizard').click(submit_form);
            $('#skip-wizard').click(function(){
                  var wizard_label = $('#wizard form label').text();
                send_ajax('next=true');
                mixpanel.track('Skip wizard', {name: wizard_label});
            });
            $('#close-wizard').click(function() {
                mixpanel.track('Quit wizard');
            });
        }
      });

= content_for :scripts do
  :javascript
    $(function() {
        if ($('#wizard').length > 0) {
            $('#wizard').show('slow');
        }
