= side_menu_currently_at 'Tableau de bord'

- if @wizard
  #wizard.blue-box.islet.hidden.relative
    %a#close-wizard.closer{href: 'javascript:void(0)', data: { behavior: 'closer', el: '#wizard'}}
      %i.icon-remove
    - if @wizard.id == 1
      %p.flush Bienvenue #{@structure.name} ! Améliorons ensemble votre profil.
    - else
      %p.flush Il nous manque encore quelques informations.
    #wizard-form= render @wizard.partial
    %span.btn.btn--success#save-wizard Enregistrer
    %a#skip-wizard.soft-half--left{href: 'javascript:void(0)'} Passer
  = render 'wizards/share_your_profile'

.white-box.islet
  %h4.flush
    Votre profil est complété à #{@profile_percentage}%
  .text--center.progress.push-half--bottom{style: "width: 280px;"}
    - if @profile_percentage == 0
      #{@profile_percentage}%
    - else
      #profile-progress-bar.bar.bar-success{style: "width: 0%;"}
        #{@profile_percentage}%
  %ol.push--left
    %li{class: @profile_completed ? 'line-through' : ''}
      = link_to_unless @profile_completed, 'Compléter mes informations générales', edit_pro_structure_path(@structure)
    %li{class: @comments.any? ? 'line-through' : ''}
      = link_to_unless @comments.any?, 'Demander des recommandations à mes élèves', recommendations_pro_structure_path(@structure)
    %li{class: @structure.medias.any? ? 'line-through' : ''}
      = link_to_unless @structure.medias.any?, 'Mettre en ligne les photos et vidéos de mes cours', pro_structure_medias_path(@structure)
    %li{class: @structure.courses.active.count > 0 ? 'line-through' : ''}
      = link_to_unless (@structure.courses.active.count > 0), 'Renseigner mes cours et mon planning', pro_structure_path(@structure)

-# .white-box.islet
-#   %h4
-#     %i.icon-user
-#     Profil
-#   %ol.push--left
-#     %li{class: @structure.image.present? ? 'line-through' : ''}
-#       = link_to_unless @structure.image.present?, 'Mettre mon logo', edit_pro_structure_path(@structure)
-#     %li{class: @structure.description.present? ? 'line-through' : ''}
-#       = link_to_unless @structure.description.present?, 'Décrire mon établissement', edit_pro_structure_path(@structure)

.grid
  .grid__item.one-third>
    .white-box.islet.text--center
      %h4.flush
        %i.icon-comments
        Avis et recommandations
      %p
        %span.beta{class: (@comments.length > 6 ? 'green' : 'red')}= @comments.length
        %br
        = link_to "Obtenir plus d'avis", recommendations_pro_structure_path(@structure), class: 'btn btn--blue btn--small', onclick: "ga('send', 'event', 'Dashboard', 'click', 'Demander des recommandations')"
    -# %hr.push--top
    -# %p
    -#   Notre moteur de recherche est basé sur les témoignages des élèves.
    -#   %br
    -#   Voici votre position d'apparition sur CoursAvenue grâce à vos avis :
    -# - @structure_better_indexed.each do |subject_name, structures|
    -#   %p.flush--bottom
    -#     %strong= subject_name
    -#     \: #{(structures.length + 1).ordinalize}
    -#     position.
    -#     - if structures.any?
    -#       %br
    -#       Établissements mieux placés que vous :
    -#   - if structures.any?
    -#     %ul.block-list
    -#       - structures.each do |structure|
    -#         %li
    -#           = link_to structure.name, structure_url(structure, subdomain: 'www'), target: '_blank'
    -#           = rating_stars structure.rating
    -#           \/
    -#           = structure.comments_count
    -#           avis
    -#           %i.lbc-brand-icon

  .grid__item.one-third>
    .white-box.islet.text--center
      %h4.flush
        %i.icon-list
        Cours en ligne
      %p
        %span.beta{class: (@structure.courses.active.count > 2 ? 'green' : 'red')}= @structure.courses.active.count
        %br
        = link_to 'Ajouter des cours', pro_structure_courses_path(@structure), onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter des cours')", class: 'btn btn--blue btn--small'
  .grid__item.one-third>
    .white-box.islet.text--center
      %h4.flush
        %i.icon-youtube-play
        Photo & vidéos
      %p
        %span.beta{class: (@structure.medias.count > 3 ? 'green' : 'red')}= @structure.medias.count
        %br
        = link_to 'Ajouter des photos / vidéos', pro_structure_medias_path(@structure), onclick: "ga('send', 'event', 'Dashboard', 'click', 'Ajouter des medias')", class: 'btn btn--blue btn--small'

%hr
%h3 Mes derniers commentaires
%ul.comment-list
  = render partial: 'comments/comment', collection: @comments[0..2]
- if @comments.length == 0
  %p.text--center= link_to 'Demander des recommandations', recommendations_pro_structure_path(@structure), class: 'btn btn--blue'
- elsif @comments.length > 3
  %p.text--center= link_to 'Voir mes autres avis', pro_structure_comments_path(@structure), class: 'btn btn--blue'

%hr
%h3 Mes cours en ligne
- if @courses.any?
  %table.table--striped.table--white
    %thead
      %tr
        %th.five-twelfths Nom du <b>cours</b>
        %th.three-twelfths.text--center Disciplines
        %th.two-twelfths.text--center Séances à venir
        %th.text--right Prix
    %tbody
      - @courses.each do |course|
        %tr
          %td
            %h3.base-font-style.flush--bottom= link_to course.name.capitalize, edit_pro_course_path(course)
            - if course.rating
              = rating_stars course.rating
          %td.text--center
            %ul.nav.flush--bottom
              = join_course_subjects course
          %td.text--center= course.plannings.future.count
          %td.text--right
            - if course.best_price
              = "#{readable_amount course.best_price.amount}€".html_safe
  %p.text--center= link_to 'Ajouter un cours', pro_structure_courses_path(@structure), class: 'btn btn--blue'
- else
  %p.text--center= link_to 'Renseigner mes cours', pro_structure_courses_path(@structure), class: 'btn btn--blue'

%hr
%h3 Mes photos & vidéos
- if @medias.any?
  .grid.media-gallery
    - @medias.in_groups_of(3, false).each do |media_group|
      - media_group.each do |media|
        .grid__item.one-third>
          %a.break-all.flush--bottom.white-box.islet.media__item{href: media.url, title: media.caption}
            = media.url_html
            - if media.caption.present?
              %p.flush--bottom
                %i= media.caption
          %p
            = link_to pro_structure_media_path(@structure, media), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce média ?' } do
              %i.icon-trash
              Supprimer

  %p.text--center= link_to 'Ajouter une photo ou une vidéo', pro_structure_medias_path(@structure), class: 'btn btn--blue'
- else
  %p.text--center= link_to 'Télécharger mes photos & vidéos', pro_structure_medias_path(@structure), class: 'btn btn--blue'


= content_for :scripts do
  :javascript
    $(function() {
        $('#profile-progress-bar').animate({
            width: '#{@profile_percentage}%'
        }, 800)
        if ($('#wizard').length > 0) {
            $('#wizard').show('slow');
            var send_ajax = function(options) {
                options = options || '';
                $.ajax({
                    url: "#{wizard_pro_structure_path(@structure, format: :json)}",
                    dataType: 'json',
                    data: options,
                    success: function(response) {
                        $('#wizard-form').hide('slow');
                        setTimeout(function(){
                            if (response.done) {
                                $('#wizard').hide('slow');
                                $('#share_your_profile').show('slow');
                            } else {
                                $('#wizard-form').html(response.form);
                                $('#wizard-form').show('slow');
                            }
                        }, 500);
                    }
                })
            }
            var submit_form = function() {
                $('#wizard form').submit().bind('ajax:success', function() {
                    send_ajax()
                });
                mixpanel.track('Wizard next');
                return false;
            };
            $('#save-wizard').click(submit_form);
            $('#skip-wizard').click(function(){
                  var wizard_label = $('#wizard form label').text();
                send_ajax('next=true');
                mixpanel.track('Skip wizard', {name: wizard_label});
            });
            $('#close-wizard').click(function() {
                mixpanel.track('Quit wizard');
            });
        }
        if ($('#wizard').length > 0) {
            $('#wizard').show('slow');
        }
    });
