= side_menu_currently_at 'Tableau de bord'

%h1.header-group
  %i.icon-dashboard
  Tableau de bord - Améliorez la qualité de votre profil
  = link_to place_url(@structure.places.first, subdomain: 'www'), class: 'btn btn--blue push--left', target: '_blank' do
    %i.icon-external-link.v-middle
    %span.v-middle Voir mon profil
  &nbsp;
  = link_to 'Partager sur Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{place_url(@structure.places.first, subdomain: 'www')}", class: 'btn btn--facebook btn--small', target: '_blank', onclick: "_gaq.push(['_trackEvent', 'Pro / Share on Facebook', 'click', 'From dashboard page'])"


.white-box.islet
  .grid.push-half--bottom
    %h4.grid__item.width-auto.v-middle.flush--bottom
      Votre profil est complété à #{@profile_percentage}%
    .grid__item.width-auto.v-middle
      .text--center.progress.flush--bottom{style: "width: 280px;"}
        - if @profile_percentage == 0
          #{@profile_percentage}%
        - else
          .bar.bar-success{style: "width: #{@profile_percentage}%;"}
            #{@profile_percentage}%
  %ol
    %li{class: @profile_completed ? 'line-through' : ''}
      = link_to_unless @profile_completed, 'Remplir mon profil', edit_pro_structure_path(@structure)
    %li{class: @comments.any? ? 'line-through' : ''}
      = link_to_unless @comments.any?, 'Demander des recommandations à mes élèves', recommendations_pro_structure_path(@structure)
    %li{class: @structure.medias.any? ? 'line-through' : ''}
      = link_to_unless @structure.medias.any?, 'Mettre en ligne les photos et vidéos de mes cours', pro_structure_medias_path(@structure)
    %li{class: @structure.courses.active.count > 0 ? 'line-through' : ''}
      = link_to_unless (@structure.courses.active.count > 0), 'Renseigner mes cours et mon planning', pro_structure_path(@structure)

.grid.push--top
  .grid__item.one-half.palm--one-whole.lap--one-whole>
    %h3.header-group
      %i.icon-comments
      Avis et recommandations

    .white-box.islet
      .gamma.text--center
        Vous avez
        %span{class: (@comments.length > 30 ? 'green' : 'red')}= @comments.length
        avis
      - if @comments.any?
        #comments
      .text--center
        = link_to 'Demander des recommandations', recommendations_pro_structure_path(@structure), class: 'btn btn--success', onclick: "_gaq.push(['_trackEvent', 'Dashboard', 'click', 'Demander des recommandations'])"
      %hr.push--top
      %p
        Notre moteur de recherche est basé sur les témoignages des élèves.
        %br
        Voici votre position d'apparition sur CoursAvenue grâce à vos avis :
      - @structure_better_indexed.each do |subject_name, structures|
        %p.flush--bottom
          %strong= subject_name
          \: #{(structures.length + 1).ordinalize}
          position.
          - if structures.any?
            %br
            Établissements mieux placés que vous :
        - if structures.any?
          %ul.block-list
            - structures.each do |structure|
              %li
                = link_to structure.name, place_url(structure.places.first, subdomain: 'www'), target: '_blank'
                = rating_stars structure.rating
                \/
                = structure.comments_count
                avis
                %i.lbc-brand-icon

  .grid__item.one-half.palm--one-whole.lap--one-whole>
    %h3.header-group
      %i.icon-user
      Profil

    .white-box.islet
      %table
        %tbody
          %tr
            %th Logo
            %td
              - if @structure.image.present?
                %i.icon-ok.green
                Super, vous avez un logo !
              - else
                %i.icon-remove.red
                Vous n'avez ni logo ni image
          %tr
            %th Description
            %td
              - if !@structure.description
                %i.icon-remove.red
                Vous n'avez pas de description
              - elsif @structure.description.split.size <= 30
                %i.icon-remove.red
                Votre description ne fait que #{@structure.description.split.size} mots.
              - else
                %i.icon-ok.green
                Super ! Votre description fait #{@structure.description.split.size} mots.
          %tr
            %th Disciplines
            %td
              - if @structure.subjects.any?
                %i.icon-ok.green
                Vous avez renseigné #{@structure.subjects.count} disciplines
              - else
                %i.icon-remove.red
                Vous n'avez pas renseigné de disciplines.
          %tr
            %th Photos & vidéos
            %td
              - if @structure.medias.any?
                %i.icon-ok.green
                Vous avez renseigné #{@structure.medias.count} photos & vidéos
              - else
                %i.icon-remove.red
                Vous n'avez pas renseigné de photos & vidéos
                \-
                = link_to 'Ajouter des photos / vidéos', pro_structure_medias_path(@structure), onclick: "_gaq.push(['_trackEvent', 'Dashboard', 'click', 'Ajouter des medias'])"
      .text--center= link_to 'Mettre à jour mon profil', edit_pro_structure_path(@structure), class: 'btn btn--success', onclick: "_gaq.push(['_trackEvent', 'Dashboard', 'click', 'Mettre à jour mon profil'])"



-# .grid.push--top
-#   .grid__item.one-half>
-#     %h3.header-group
-#       %i.icon-map-marker
-#       Lieux d'enseignements
-#     .white-box.islet.text--center
-#       .gamma
-#         Vous avez
-#         %span.green= @structure.places.count
-#         = Place.model_name.human(count: @structure.places.count).downcase
-#       = link_to "Ajouter un lieu d'enseignement", pro_structure_places_path(@structure), class: 'btn btn--success', onclick: "_gaq.push(['_trackEvent', 'Dashboard', 'click', 'Ajouter un lieu'])"
-#   .grid__item.one-half>
-#     %h3.header-group
-#       %i.icon-list
-#       Cours et stages en ligne
-#     .white-box.islet.text--center
-#       .gamma
-#         Vous avez
-#         %span{class: (@structure.courses.active.count > 3 ? 'green' : 'red')}= @structure.courses.active.count
-#         cours en ligne
-#       = link_to 'Référencer mes cours', pro_structure_path(@structure), class: 'btn btn--success', onclick: "_gaq.push(['_trackEvent', 'Dashboard', 'click', 'Référencer mes cours'])"

-# .grid.push--top
-#   .grid__item.one-half>
-#     %h3.header-group
-#       %i.icon-youtube-play
-#       Photos & Vidéos
-#     .white-box.islet.text--center
-#       .gamma
-#         Vous avez
-#         %span{class: (@structure.medias.count > 3 ? 'green' : 'red')}= @structure.medias.count
-#         = Media.model_name.human(count: @structure.medias).downcase
-#       = link_to 'Ajouter des photos / vidéos', pro_structure_medias_path(@structure), class: 'btn btn--success', onclick: "_gaq.push(['_trackEvent', 'Dashboard', 'click', 'Ajouter des medias'])"

-#   .grid__item.one-half>
-#     %h3.header-group
-#       %i.icon-group
-#       Professeurs
-#     .white-box.islet.text--center
-#       .gamma
-#         Vous avez
-#         %span.green= @structure.teachers.count
-#         = Teacher.model_name.human(count: @structure.teachers.count).downcase
-#       = link_to 'Ajouter un professeur', pro_structure_teachers_path(@structure), class: 'btn btn--success', onclick: "_gaq.push(['_trackEvent', 'Dashboard', 'click', 'Ajouter des medias'])"

- if @comments.any?
  = content_for :scripts do
    :javascript
      window.addEvent('domready', function() {
          new Highcharts.Chart({
              chart: {
                type: 'column',
                renderTo: 'comments'
              },
              title: { text: null },
              xAxis: { categories: #{@comments_group.map{|date, count| "Semaine du #{l(Date.parse(date), format: :short)}"}} },
              yAxis: { title: { text: ''}},
              series: [{
                name: "Nombre d'avis par semaine",
                data: #{@comments_group.map{|date, count| count}}
              }]
          });
      });
