= side_menu_currently_at 'pro_dashboard'

= render partial: 'pro/shared/dashboard_tabs', locals: { current: 'structures' }

.text--center
  = link_to 'Mettre a jour', update_duplicates_pro_structures_path, class: 'btn btn--blue-green', method: :post

%table.table--striped.table--data#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th.sortAsc
        %span Date de création
      %th Doublons
  %tbody
    - @duplicate_list.each do |list|
      - structure  = list.structure
      - duplicates = list.duplicates
      - next if structure.nil? or duplicates.empty?
      %tr
        %td
          = link_to structure.name, dashboard_pro_structure_path(structure)
        %td
          = l(structure.main_contact.created_at.to_date) if structure.main_contact
        %td.nowrap
          - duplicates.each do |dup|
            = link_to "#{ dup.name } (#{ l(dup.created_at.to_date) })", dashboard_pro_structure_path(dup)
            %br

.text--center.push-half--ends= paginate(@pagination_scope, window: 1, outer_window: 3)
