= side_menu_currently_at 'pro_dashboard'

= render partial: 'pro/shared/dashboard_tabs', locals: { current: 'structures' }

%table.table--striped.table--data#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th.sortAsc
        %span Date de création
      %th Doublons
  %tbody
    - @structures.each do |row|
      - structure  = row[:structure]
      - duplicates = row[:duplicates]
      - next if structure.nil?
      %tr
        %td
          = link_to structure.name, dashboard_pro_structure_path(structure)
        %td
          = l(structure.main_contact.created_at.to_date) if structure.main_contact
        %td.nowrap
          - duplicates.each do |dup|
            = link_to "#{ dup.name } (#{ l(dup.created_at.to_date) })", dashboard_pro_structure_path(dup)
            %br
