= side_menu_currently_at 'Infos générales'

%h3.header-group Responsable des réservations
.islet
  = simple_form_for(@admin) do |f|
    = f.error_notification
    .form-inputs
      %h5.form-header-group Contact
      = f.input :civility, as: :select, collection: Admin::CIVILITY.map{|civility| [ t(civility), civility]}
      = f.input :firstname, label: t('.firstname')
      = f.input :lastname, label: t('.lastname')
      = f.input :role, label: t('.role' )
      = f.input :phone_number, label: t('.phone_number'), wrapper_html: {class: 'flush--bottom'}
      %p.field-form-info= t('.phone_number_info')
      = f.input :mobile_phone_number, label: t('.phone_number'), wrapper_html: {class: 'flush--bottom'}
      %p.field-form-info= t('.mobile_phone_number_info')
      = f.input :email, :required => true, :autofocus => true, label: t('.email'), wrapper_html: {class: 'flush--bottom'}
      %p.field-form-info= t('.email_info')

      %h5.form-header-group Mot de passe
      = f.input :password, :required => true, label: t('.password')
      = f.input :password_confirmation, :required => true, label: t('.password_confirmation')
    .form-actions
      = f.button :submit, 'Mettre à jour', class: 'btn btn__primary'

%h3.header-group Structure d'enseignement
.islet
  = simple_form_for @structure do |structure_form|
    = structure_form.error_notification
    .form-inputs
      = structure_form.input :name, label: t('.structure_name'), wrapper_html: {class: 'flush--bottom'}
      %p.field-form-info= t('.structure_name_info')
      = structure_form.input :structure_type, collection: Structure::STRUCTURE_TYPES.map{|structure_type| [ t(structure_type), structure_type]}
      = structure_form.input :address, wrapper_html: {class: 'flush--bottom'}
      %p.field-form-info= t('.structure_address_info')
      = structure_form.input :zip_code
      = structure_form.input :city_name
      = structure_form.input :website
      .ilb-wrapper.input
        = structure_form.label :description, class: 'v-top helper-label', 'data-behavior' => 'popover', 'data-content' => 'Ne soyez pas modeste, rédigez une description qui vous met en valeur, en appuyant sur vos points forts : que vous soyez un professeur indépendant, un centre, une école ou un musée, il y a toujours quelque chose qui vous différencie ! Note : ne renseignez aucun élément de contact (téléphone ou mail), notre système l’enlèvera automatiquement.'
        .textarea-with-info
          .ilb-wrapper
            .one-half
              = structure_form.input :description, label: false, wrapper_html: {class: 'flush--top'}, input_html: {id: 'description-textarea', class: 'textarea-description--tall', placeholder: 'Mettez en avant votre différence !', data: { behavior: 'text-counter', 'average-words-nb' => 50, 'good-words-nb' => 150, 'bad-text' => 'Votre description doit comporter au moins 50 mots. Nos Partenaires qui ont le plus de succès ont plus de 150 mots.', 'average-text' => 'Encore quelques mots et vous aurez une superbe description !', 'good-text' => 'Superbe description !'}}
            .one-half
              %p.alert--info.flush--top Qu'est-ce qui vous différencie ? Pourquoi nos Internautes devraient-il réserver chez vous ? Soyez sincère et original !
              %p.alert--info Quelle est votre équipe, combien êtes-vous ? Qui se cache derrière tout ça ? Quel est le profil de vos professeurs ?
              %p.alert--info Depuis quand votre structure existe-t-elle ? Quelle est sa notoriété ? A-t-elle formé des célébrités ?
              %p.alert--info Toute autre info sur votre structure est bonne à renseigner !
          %p.flush--bottom.bold
            %b
              %span#word-count
              mots
          %p Votre description doit comporter au moins 30 mots. Nos Partenaires qui ont le plus de succès ont plus de 150 mots.
    .form-actions
      = structure_form.button :submit, 'Mettre à jour ma structure', class: 'btn btn__primary'
