- if current_pro_admin.confirmed_at > Date.yesterday and current_pro_admin.sign_in_count < 2 and !cookies[:modal_info_popup].present?
  = render 'modal_info_popup'
  = content_for :scripts do
    :javascript
      $(function() {
          $.fancybox($('#helper-modal'), { padding: 0, maxWidth: 600, minWidth: 600 });
      });

= side_menu_currently_at 'presentation'

= render partial: 'pro/structures/tabs', locals:{ current: 'établissement' }
%h1 Infos
= render 'form'
