= side_menu_currently_at 'contact'

.soft--ends.white-box
  = simple_form_for [:pro, @structure], html: { autocomplete: 'off', id: 'structure-form' } do |form|
    %input{ type: 'hidden', name: 'return_to', value: edit_contact_pro_structure_path(@structure)}

    .soft--sides{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.contacts') } }
      %h5 Coordonnées de réservation
      = render "pro/structures/admins/change_email"
      = form.input :contact_phone, placeholder: 'Ex. : 01 04 12 49 12', label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
      = form.input :contact_mobile_phone, placeholder: 'Ex. : 06 34 41 99 31', label_html: { class: 'label--large' }, input_html: { class: 'input--large' }

    %hr.push--top.flush--bottom
    .relative.push--bottom.soft.premium-box{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.links') } }
      = image_tag 'icons/premium-ribbon.png', class: 'north west absolute on-top', height: 80, width: 80, style: 'width: 80px; height: 80px;'
      .grid
        .grid__item.v-middle.one-half>
          %h5.flush--bottom.soft--left.push--left Liens vers vos pages
        .grid__item.v-middle.one-half>
          = render partial: 'pro/structures/premium_select', locals: { title: 'afficher les liens vers votre site Internet et votre page Facebook ?', label_text: 'Statut des liens de vos pages' }
      %div
        = form.input :website, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
        = form.input :facebook_url, as: :string ,placeholder: 'https://www.facebook.com/CoursAvenue', label_html: { class: 'label--large' }, input_html: { class: 'input--large' }, wrapper_html: { class: 'flush--bottom' }
        %p.field-form-info
          Le lien doit impérativement être le lien d'une page facebook et non d'un profil
    .soft--sides= form.button :submit, "Enregistrer", class: 'btn btn--green btn--full push--bottom', data: { disable_with: "En cours d'enregistrement" }


