= side_menu_currently_at 'contact'

.soft--ends.white-box
  = simple_form_for [:pro, @structure], html: { autocomplete: 'off', id: 'structure-form' } do |form|
    %input{ type: 'hidden', name: 'return_to', value: edit_contact_pro_structure_path(@structure)}

    .soft--sides{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.contacts') } }
      %h5 Coordonnées de réservation
      - if @structure.main_contact
        = render "pro/structures/admins/change_email"

      %div{ data: { behavior: 'show-more-on-demand' } }<>
        - @structure.phone_numbers.each_with_index do |phone_number, i|
          = form.simple_fields_for :phone_numbers, phone_number, child_index: i do |phone_number_form|
            %div{ class: (!phone_number_form.object.persisted? ? 'hidden' : ''), data: { el: true, hidden: !phone_number_form.object.persisted? } }<>
              .input.flush--bottom
                %label.control-label.label--large> Téléphone
                .input-container>
                  = phone_number_form.input :number, label: false, input_html: { class: 'input--large one-whole' }, wrapper_html: { class: 'inline-block v-middle flush' }
                %label.control-label.label--small>Principal ?
                .input-container
                  = phone_number_form.input :principal, label: false, input_html: { class: 'input--large one-whole' }, wrapper_html: { class: 'inline-block v-middle flush' }
                  %a.pointer.v-middle{ href: 'javascript:void(0);', data: { clear: true } }
                    %i.fa.fa-trash-o
                    Supprimer
        .input
          .control-label>
          .input-container>
            %a{ href: 'javascript:void(0)', data: { trigger: true } }>
              %i.fa.fa-plus
              Ajouter un numéro de téléphone

    %hr.push--ends
    .soft--sides
      .panel.panel--yellow{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.links') } }
        .panel__header.soft.f-weight-bold.text--center.relative
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/premium-ribbon.png', class: 'north west absolute on-top', height: 80, width: 80, style: 'width: 80px; height: 80px;'
          = render partial: 'pro/structures/premium_select', locals: { title: 'afficher les liens vers votre site Internet et votre page Facebook ?', label_text: 'Statut des liens vers vos pages :', select_collection: ['Visibles', 'Non visibles'] }
        .panel__body.soft
          %h5.flush--bottom.soft--left.push--left Liens vers vos pages

          = form.input :website, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
          = form.input :facebook_url, as: :string, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }, wrapper_html: { class: 'flush--bottom' }
      .soft--top= form.button :submit, "Enregistrer", class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement" }


