= side_menu_currently_at 'pro_dashboard'

= render partial: 'pro/shared/dashboard_tabs', locals: { current: 'structures' }

.text--center
  = simple_form_for @importer, url: import_pro_structures_path do |f|
    = f.input :file, as: :file, label: 'Importer un fichier', input_html: { id: 'import_file_input', class: 'visuallyhidden' }, label_html: { class: 'btn btn--green text--center' }

.push-half--bottom= paginate @structures, window: 2, outer_window: 1

%table.table--data.table--striped
  %thead
    %tr
      %th Nom
      %th Date de création
      %th Activé
      %th Profil
  %tbody
    - @structures.each do |structure|
      %tr
        %td
          = link_to structure.name, dashboard_pro_structure_path(structure)
        %td
          = l(structure.created_at.to_date)
        %td.text--center
          - if structure.admin.present?
            %i.fa.fa-check.green
        %td.nowrap
          = link_to 'Public', structure_url(structure, subdomain: 'www')
          \/
          = link_to 'Privé', pro_structure_path(structure)
          \/
          = link_to "Lien d'inscription", new_pro_admin_structure_registration_path(structure)
          \/
          = link_to "Supprimer", pro_structure_path(structure), method: :delete, class: 'red'

.push-half--bottom= paginate @structures, window: 2, outer_window: 1

- content_for :scripts do
  :javascript

    $("#import_file_input").on('change', function () {
        $(this).parents("form").submit();
    });
