= side_menu_currently_at 'pro_dashboard'

= render partial: 'pro/shared/dashboard_tabs', locals: { current: 'structures' }

.push-half--bottom= paginate @structures, window: 2, outer_window: 1

%table.table--data.table--striped
  %thead
    %tr
      %th
        %span Nom
      %th.sortAsc
        %span Date de création
      %th Profil
  %tbody
    - @structures.each do |structure|
      %tr
        %td
          = link_to structure.name, dashboard_pro_structure_path(structure)
        %td
          = l(structure.created_at.to_date)
        %td.nowrap
          = link_to 'Public', structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
          \/
          = link_to 'Privé', pro_structure_path(structure)
          \/
          = link_to "Lien d'inscription", new_pro_admin_structure_registration_path(structure)
          \/
          = link_to "Supprimer", pro_structure_path(structure), method: :delete, class: 'red'

.push-half--bottom= paginate @structures, window: 2, outer_window: 1
