= side_menu_currently_at 'structures'

%table.white-box.table--striped.table--data#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th.sortAsc
        %span Date de création
      %th Profil
  %tbody
    - @structures.each do |structure|
      %tr
        %td
          = link_to structure.name, dashboard_pro_structure_path(structure)
        %td{data: {value: structure.created_at}}
          = l(structure.created_at.to_date)
        %td.nowrap
          = link_to 'Public', structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
          \/
          = link_to 'Privé', pro_structure_path(structure)
          \/
          = link_to "Lien d'inscription", new_pro_admin_structure_registration_path(structure)
          \/
          = link_to "Supprimer", pro_structure_path(structure), method: :delete, class: 'red'

