= side_menu_currently_at 'Structures'

%table.table--striped#dataTable
  %thead
    %tr
      %th.sortAsc
        %span Nom
      %th
        %span Nombre de cours
      %th
        %span Date de création
      %th
        %span Actif
      %th
  %tbody
    - @structures.each do |structure|
      %tr
        %td= link_to structure.name, pro_structure_path(structure)
        %td= structure.courses.count
        %td= l(structure.created_at, format: :date_short)
        %td
          - if structure.active
            Oui
          - else
            Non
        %td.text--right
          - if structure.active
            = link_to pro_structure_path(structure), method: :delete, class: 'btn btn__danger', title: 'Désactiver' do
              %i.icon-remove
          - else
            = link_to activate_pro_structure_path(structure), method: :put, class: 'btn btn__success', title: 'Activer' do
              %i.icon-ok

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        new TableSorter('dataTable', { columnDataTypes: 'string, int, date, string' });
    });
