= side_menu_currently_at 'Structures'

%table.table--striped#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th
        %span Nombre de cours
      %th.sortAsc
        %span Date de création
      %th
  %tbody
    - @structures.each do |structure|
      %tr
        %td
          = link_to structure.name, pro_structure_path(structure)
          - if structure.main_contact
            \/
            = link_to "(#{structure.main_contact.name})", edit_pro_admin_path(structure.main_contact)
        %td= structure.courses.count
        %td{data: {value: structure.created_at}}
          = l(structure.created_at)
        %td.text--right
          - if structure.active
            = link_to 'Actif', disable_pro_structure_path(structure), method: :delete, class: 'switch-button on', title: 'Désactiver'
          - else
            = link_to 'Inactif',  activate_pro_structure_path(structure), method: :put, class: 'switch-button off', title: 'Activer'
          = link_to pro_structure_path(structure), method: :delete, class: 'btn btn__danger', title: 'Supprimer' do
            %i.icon-trash

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        var dateParseFunction = function(date) {
            if (date.replace(/^\s+|\s+$/g, '').length === 0) { // Strip
                return 0;
            } else {
                return new Date(date).getTime();
            }
        };
        new TableSorter('dataTable', { columnDataTypes: 'string,int,date,string', cookieName: 'tableSortState__structure_index', dateParseFunction: dateParseFunction});
    });
