.grid
  .grid__item.two-thirds.palm--one-whole>
    %h2.flush--bottom
      Le 1<sup>er</sup> site qui donne la parole à vos élèves
    %h4
      pour faire parler de vous et attirer de nouveaux élèves !
    %p
      %b 100% gratuit, simple et rapide.
    %hr
    .grid--full.text--center.push--top.visuallyhidden--palm
      .grid__item.text--center.v-middle.relative{style: 'width: 27%;'}>
        %a.muted-link.white-box.islet.word-break-normal
          %h5
            %i.icon-user.icon-2x
            %br
            Créez votre profil
      .grid__item.one-twelfth.text--center.v-middle>
        .islet
          %i.icon-chevron-right.icon-2x
      .grid__item.text--center.v-middle.relative{style: 'width: 27%;'}>
        %a.muted-link.white-box.islet.word-break-normal
          %h5
            %i.icon-comments.icon-2x
            %br
            Partagez les compliments de vos élèves
      .grid__item.one-twelfth.text--center.v-middle>
        .islet
          %i.icon-chevron-right.icon-2x
      .grid__item.text--center.v-middle.relative{style: 'width: 27%;'}>
        %a.muted-link.white-box.islet.word-break-normal
          %h5
            %i.icon-youtube-play.icon-2x
            %br
            Mettez en ligne vos photos & vidéos


    = simple_form_for [:pro, @structure], url: create_and_get_feedbacks_pro_structures_path, method: :post do |f|

      %h4.flush--bottom Entrez vos informations
      .form-white-box.islet.flush--left
        = f.input :name, wrapper_html: { class: 'flush--bottom' }, label: 'Nom de votre établissement / association'
        %p.field-form-info.blue Si vous êtes un professeur indépendant, entrez votre prénom + nom.

        = f.input :contact_email, as: :hidden
        = f.input :street, input_html: { value: cookies[:street] }, wrapper_html: {class: 'flush--bottom'}
        %p.field-form-info.blue Si vos cours se situent dans plusieurs lieux, vous pourrez les renseigner depuis votre espace pro.
        .input
          = f.label :zip_code
          = f.input :zip_code, input_html: { style: ' width: 10em;', data: {behavior: 'city-autocomplete', el: 'structure_city_id'} }, label: false
          = f.association :city, collection: [@structure.city], label: false

        - cache "inscription_subjects_#{ENV["ETAG_VERSION_ID"]}"do
          .visuallyhidden--palm
            = f.association :subjects , as: :select, collection: Subject.roots.map(&:descendants).flatten, input_html: {style: 'width: 74%;', 'data-behavior' => 'chosen', multiple: true}, label: 'Disciplines pratiquées ', label_method: lambda{|subj| "#{subj.parent.name} - #{subj.name}" }, wrapper_html: {class: 'flush--bottom'}
      .push--bottom.text--center
        = f.submit 'Valider', class: 'btn--large btn btn--large btn--success'
  - unless request.path == '/sms'
    .grid__item.one-third.visuallyhidden--palm
      .bordered--left.soft--left
        %h4 Les profils stars
        .relative{style: 'height: 340px; overflow: hidden;'}
          #slideshow.slideshow
            - @structures.each do |structure|
              .slideshow__element
                .white-box.islet
                  %div
                    = link_to place_url(structure.places.first, subdomain: 'www'), target: '_blank', onclick: "mixpanel.track('Seen exemple profile', {'type': 'image'});" do
                      = image_tag structure.image.url(:thumb)
                  %hr.push-half--bottom.push-half--top
                  %div
                    %b
                      = link_to structure.name, place_url(structure.places.first, subdomain: 'www'), target: '_blank', onclick: "mixpanel.track('Seen exemple profile', {'type': 'image'});"
                  %hr.push-half--top
                  = rating_stars structure.rating
                  \/
                  = structure.comments_count
                  avis
                  %i.lbc-brand-icon

        %hr
        %h4 Les 5 derniers avis sur CoursAvenue
        %ul.comment-list.milli
          = render partial: 'comments/comment', collection: Comment.where{rating == 5}.order('created_at DESC').limit(5), locals: {with_link: true}

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        slideshow = new SlideShow('slideshow', {
            transition: 'pushLeft',
            delay: 3000,
            duration: 800,
            autoplay: true
        });
        $('structure_zip_code').fireEvent('keyup');
        $('structure_street').addEvent('blur', function() {
            Cookie.write('street', this.get('value'));
        });
        $$('.comment-list__el a').addEvent('click', function() {
          mixpanel.track('Has seen comments example');
        })
    });

- if request.path == '/sms'
  = content_for :scripts do
    :javascript
      mixpanel.track('Reached sign up page', {type: 'sms'});
- else
  = content_for :scripts do
    :javascript
      mixpanel.track('Reached sign up page', {type: 'desktop'});

