= content_for :title do
  Publiez vos cours gratuitement et recruter de nouveaux élèves.

= render layout: 'pro/home/header_layout', locals: { hide_menu: true, bg_center: true } do
  .main-container.soft--sides.mega-soft--ends.text--center
    %h1.white.soft-black-text-shadow.f-size-big.relative.flush
      L'outil tout-en-un
      %br
      pour votre communication sur Internet
    %h3.line-height-1-7.white.relative
      Création de profil

.soft.panel-background-blue-radial
  .main-container
    = simple_form_for [:pro, @structure], url: pro_structures_path, method: :post, html: { class: 'push--ends', autocomplete: "false"} do |f|
      .grid.push--bottom
        .grid__item.one-third.text--right.v-middle>
          .gamma.white.smooth-black-text-shadow> Type de structure
        .grid__item.v-middle.two-thirds>
          .btn-group{ data: { toggle: 'buttons' } }
            %label.text--center.soft-half.btn.button{ style: 'height: 95px; width: 150px;', class: (@structure.structure_type == 'structures.independant' ? 'active' : '')}>
              = image_tag 'icons/icon-structure-type-independant.png', height: 40, width: 31, class: 'v-middle'
              .soft-half--ends Professeur indépendant
              %input{ type: 'radio', name: 'structure[structure_type]', value: 'structures.independant', checked: @structure.structure_type == 'structures.independant' }
            %label.text--center.soft-half.btn.button{ style: 'height: 95px; width: 150px;', class: (@structure.structure_type == 'structures.association' ? 'active' : '')}>
              = image_tag 'icons/icon-structure-type-association.png', height: 50, width: 84, class: 'v-middle'
              .soft-half--ends Association
              %input{ type: 'radio', name: 'structure[structure_type]', value: 'structures.association', checked: @structure.structure_type == 'structures.association' }
            %label.text--center.soft-half.btn.button{ style: 'height: 95px; width: 150px;', class: (@structure.structure_type == 'structures.company' ? 'active' : '')}>
              = image_tag 'icons/icon-structure-type-school.png', height: 50, width: 64, class: 'v-middle'
              .soft-half--ends École privée
              %input{ type: 'radio', name: 'structure[structure_type]', value: 'structures.company', checked: @structure.structure_type == 'structures.company' }
            %label.text--center.soft-half.btn.button{ style: 'height: 95px; width: 150px;', class: (@structure.structure_type == 'structures.other' ? 'active' : '')}>
              = image_tag 'icons/icon-structure-type-other.png', width: 70, height: 50, class: 'v-middle', style: 'padding-top: 25px; padding-bottom: 8px;'
              .soft-half--ends Autres
              %input{ type: 'radio', name: 'structure[structure_type]', value: 'structures.other', checked: @structure.structure_type == 'structures.other' }


      %div{ data: { behavior: 'parent-descendant-subjects', 'parent-select' => '#parent-subjects', 'descendant-select' => '#subject-descendants-select', 'descendant-select-wrapper' => '#descendants-subjects' } }
        .grid.push--bottom
          .grid__item.one-third.text--right.v-middle>
            .gamma.white.smooth-black-text-shadow> Disciplines générales pratiquées
          .grid__item.v-middle.two-thirds>
            = f.association :subjects, as: :select, collection: Subject.roots.order('position ASC'), input_html: { id: 'parent-subjects', data: { behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines' }, multiple: true, class: 'input--large hard one-whole' }, label: false, label_method: lambda{|subj| subj.name }, wrapper_html: { class: 'flush', style: 'max-width: 600px;' }
        #descendants-subject.grid.push--bottom
          .grid__item.one-third.text--right.v-middle>
            .gamma.white.smooth-black-text-shadow> Sous disciplines
          .grid__item.v-middle.two-thirds{ title: 'Sélectionnez plusieurs disciplines en maintenant la touche CTRL ou CMD enfoncée.', data: { behavior: 'tooltip' } }>
            %div{ style: 'max-width: 600px;'}
              %select.input--large.one-whole.hard#subject-descendants-select{ name: 'structure[subject_descendants_ids][]', multiple: true, data: { behavior: 'chosen', placeholder: 'Tapez ou sélectionnez une ou plusieurs disciplines', selected: @structure.subjects.select{|subj| subj.depth == 2}.map(&:id).join(',')}}>
              - if @structure.errors[:children_subjects].present?
                .input_field_error.red.text--right= @structure.errors[:children_subjects].to_sentence

      .grid.push--bottom
        .grid__item.one-third.text--right.v-middle>
          %label.gamma.white.smooth-black-text-shadow{ for: 'structure_name' }> Nom de votre structure
        .grid__item.v-middle.two-thirds>
          = f.input :name, wrapper_html: { class: 'flush', style: 'max-width: 600px;' }, label: false, input_html: { class: 'input--large one-whole' }

      - if @structure.places.empty?
        - @structure.places << @structure.places.publics.build
        - @structure.places.first.errors.add :street, :blank
        - @structure.places.first.errors.add :city, :blank
        - @structure.places.first.errors.add :name, :blank
      = f.simple_fields_for :places do |place_form|
        = place_form.input :type, as: :hidden
        .grid.push--bottom
          .grid__item.one-third.text--right.v-middle>
            %label.gamma.white.smooth-black-text-shadow{ for: 'structure_places_attributes_0_name' }> Nom de votre lieu
          .grid__item.v-middle.two-thirds>
            = place_form.input :name, label: false, input_html: {  placeholder: "Ex. : Bastille, Gymnase municipal, etc.", class: 'input--large one-whole', data: { behavior: 'tooltip' }, title: "Si pas de nom : métro ou arrêt de bus le plus proche, nom de quartier / rue, nom d'un parc à proximité" }, wrapper_html: { class: 'flush', style: 'max-width: 600px;' }
        .grid.push--bottom
          .grid__item.one-third.text--right.v-middle>
            %label.gamma.white.smooth-black-text-shadow{ for: 'structure_places_attributes_0_street' }> Adresse de votre lieu principal
          .grid__item.v-middle.two-thirds>
            = place_form.input :street, input_html: { placeholder: 'N° + rue', class: 'input--large one-whole' }, label: false, wrapper_html: { class: 'inline-block flush v-top', style: 'width: 20em;' }
            .input.flush.city-autocomplete-wrapper.inline-block.v-top<
              = place_form.input :zip_code, input_html: { placeholder: 'Code postal', class: 'input--large one-whole', data: { behavior: 'city-autocomplete', el: '#structure_places_attributes_0_city_id' } }, label: false, wrapper_html: { style: 'width: 8em;', class: 'flush' }
              = place_form.association :city, collection: [@structure.city], label: false, wrapper_html: { style: 'width: 10em;' }, input_html: { class: 'input--large one-whole' }, wrapper_html: { class: 'flush' }

      = f.input :contact_email, as: :hidden
      .grid.push--bottom
        .grid__item.one-third.text--right.v-middle>
        .grid__item.v-middle.two-thirds>
          = f.submit 'Continuer', class: 'btn--large btn btn--full btn--green', data: { disable_with: "Profil en cours de création" }, style: 'max-width: 600px;'


.main-container.mega-soft--ends
  .text--center
    %p.push--bottom.gamma.line-height-1-7
      En un minimum de temps et sans compétence technique, vos activités deviennent
      %br
      plus visibles, votre site Internet plus efficace et vous fidélisez plus d'élèves.
  = render partial: 'pro/home/advantages'

= content_for :scripts do
  :javascript
    $(function() {
        $('#structure_zip_code').trigger('keyup');
        $('#structure_street').blur(function() {
            $.cookie('street', $(this).val());
        });
    });

