.grid
  .grid__item.two-thirds>
    %h2 Vous aussi, ayez vos avis en ligne sur CoursAvenue !
    %hr
    .alert--info.flush--sides
      %p
        CoursAvenue est le 1er moteur de recherche de cours et stages basé sur la <strong>réputation</strong>. Envoyez votre demande de recommandations à vos élèves dès maintenant (ou plus tard si vous n'avez pas le temps !), et accédez <strong>gratuitement</strong> à votre logiciel en ligne pour publier tous vos cours sur CoursAvenue.com et gérer facilement tous vos avis. En 2min, c'est fait !
      %p
        Voici comment apparaîtront vos recommandations sur votre profil public CoursAvenue :
        = link_to 'profil public de Cook&Go.', 'http://www.coursavenue.com/etablissements/cook-go-cook-go-la-fayette', target: '_blank'
      %p.flush--bottom
        %b Tout est gratuit, simple et rapide !

    = simple_form_for [:pro, @structure], url: create_and_get_feedbacks_pro_structures_path, method: :post do |f|

      %h4.flush--bottom Validez vos informations
      .form-white-box.islet.flush--left
        = f.input :name, wrapper_html: { class: 'flush--bottom' }, label: 'Nom de votre établissement / association.'
        %p.field-form-info
          %i Si vous êtes un professeur indépendant, entrez votre prénom + nom.

        = f.input :contact_email, as: :hidden
        = f.input :street, input_html: { value: cookies[:street] }
        .grid
          .grid__item.width-auto
            = f.input :zip_code, input_html: { style: ' width: 10em;', data: {behavior: 'city-autocomplete', el: 'structure_city_id'} }
          .grid__item.width-auto
            = f.association :city, collection: [@structure.city], label: false

      .push--bottom
        = f.submit 'Je valide mes informations', class: 'btn__large btn btn--large btn__success'
  .grid__item.one-third
    .bordered--left.soft--left
      %h4 Les 5 derniers avis sur CoursAvenue
      %ul.comment-list.milli
        = render partial: 'comments/comment', collection: Comment.where{rating == 5}.order('created_at DESC').limit(5), locals: {with_link: true}

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        $('structure_zip_code').fireEvent('keyup');
        $('structure_street').addEvent('blur', function() {
            document.cookie = 'street=' + this.get('value');
        });
    });
