%h2 Trouvez de nouveaux élèves grâce à vos avis en ligne !
.grid
  .grid__item.two-thirds>
    %hr
    .alert--info.flush--sides
      %p
        CoursAvenue est le 1er moteur de recherche de cours et stages basé sur la <strong>réputation</strong>. Une fois cette demande de recommandations envoyée à vos élèves, vous pourrez ensuite accéder <strong>gratuitement</strong> à votre logiciel en ligne qui vous permettra de publier tous vos cours sur CoursAvenue.com et de gérer facilement tous vos avis.
      %p
        Voici comment apparaîtront vos recommandations sur votre profil public CoursAvenue :
        = link_to 'profil public de Cook&Go.', 'http://www.coursavenue.com/cours/cours-atelier-de-atelier-parents-enfants-a-paris-cook-go-la-fayette', target: '_blank'
      %p.flush--bottom
        %b Tout est gratuit, simple et rapide !

    = simple_form_for [:pro, @structure], url: create_and_get_feedbacks_pro_structures_path, method: :post do |f|

      %h4.flush--bottom Validez vos informations
      .form-white-box.islet.flush--left
        = f.input :name, wrapper_html: { class: 'flush--bottom' }, label: 'Nom de votre établissement / association.'
        %p.field-form-info
          %i Si vous êtes un professeur indépendant, entrez votre prénom + nom.

        = f.input :contact_email, as: :hidden
        = f.input :street, input_html: { value: cookies[:street] }
        .grid
          .grid__item.width-auto
            = f.input :zip_code, input_html: { style: ' width: 10em;', data: {behavior: 'city-autocomplete', el: 'structure_city_id'} }
          .grid__item.width-auto
            = f.association :city, collection: [@structure.city], label: false

      %h4.flush--bottom Renseignez les emails de vos élèves
      .form-white-box.islet.flush--left
        .input
          %label.control-label.v-top Emails de vos élèves
          %textarea#emails{name: 'emails', rows: 7, cols: 70, placeholder: 'Entrez les emails de vos élèves en les séparant par des virgules (emails non utilisés à des fins commerciales).', style: 'height: 150px;', data: {behavior: 'autoresize'}}= cookies[:emails]
          %p.field-form-info
            %i Exemple : patrick@gmail.com, thomas@wanadoo.fr
            / %br
            / Vous pouvez également importer vos contacts depuis votre boîte mail ou depuis un tableau excel.
            %br
            = link_to "Qu'est-ce que mes élèves vont recevoir ?", '#', data: { behavior: 'modal', title: "Recommandez #{@structure.name} sur CoursAvenue", width: '700px', el: 'mail-content'}
        - unless @contacts
          .input
            %label.control-label.v-middle Importez vos contacts Gmail
            %div
              = link_to "/contacts/gmail", class: 'btn', onclick: "_gaq.push(['_trackEvent', 'Import contact GMail', 'click'])" do
                %i.icon-envelope.v-middle{style: 'font-size: 16px; padding-right: 5px;'}
                %span.v-middle Importer mes contacts Gmail
      .push--bottom
        = f.submit 'Envoyer ma demande et accéder à mon espace pro', class: 'btn__large btn btn--large btn__success'
  .grid__item.one-third
    - if @contacts
      .text--center
        .alert--info
          %b Cliquez sur vos contacts pour les ajouter
      %ul#contact-list.selectable-list.block-list
        - @contacts.each do |contact|
          %li= "#{contact[:name]} <#{contact[:email]}>"

#mail-content.hidden
  %p Bonjour !

  %p
    <strong>#{@structure.name} vous demande de rédiger une recommandation</strong> qui sera publiée sur son profil public CoursAvenue, le 1er moteur de recherche de cours et de stages.
    Votre avis est capital pour continuer à vous proposer des cours toujours plus passionnants qui correspondent à votre besoin, et votre opinion sera également précieuse pour gagner en visibilité sur Internet.

  %p
    <strong>En 2 clics, partagez votre opinion :</strong>
    cliquer ici.

  %p
    Merci pour votre contribution et à très bientôt !

  %p
    #{@structure.name} et toute l'équipe de CoursAvenue

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        $('structure_zip_code').fireEvent('keyup');
        var emails_textarea = $('emails');
        $$('#contact-list li').addEvent('click', function() {
            if (emails_textarea.get('value').length === 0) {
              var new_val = this.get('text');
            } else {
              var new_val = emails_textarea.get('value') + ', ' + this.get('text');
            }
            emails_textarea.set('value', new_val);
            emails_textarea.fireEvent('keyup');
            this.remove();
        });
        $('structure_street').addEvent('blur', function() {
            document.cookie = 'street=' + this.get('value');
        });
        $('emails').addEvent('blur', function() {
            document.cookie = 'emails=' + this.get('value');
        });
    });
