%h2 Trouvez de nouveaux élèves grâce à vos avis en ligne !
.grid
  .grid__item.two-thirds>
    %hr
    %p
      Demandez des recommandations auprès de vos élèves et de votre réseau professionnel et elles apparaîtront publiquement sur votre profil CoursAvenue (si vous ne souhaitez pas qu’elles s'affichent sur votre profil, vous pourrez les supprimer depuis votre espace pro).
      %br
      %b C’est gratuit, simple et rapide :

    = simple_form_for [:pro, @structure], url: create_and_get_feedbacks_pro_structures_path, method: :post do |f|

      %h4.flush--bottom Validez vos informations
      .form-white-box.islet.flush--left
        = f.input :name, wrapper_html: { class: 'flush--bottom' }, label: 'Nom de votre établissement / association.'
        %p.field-form-info
          %i Si vous êtes un professeur indépendant, entrez votre prénom + nom.

        = f.input :contact_email, as: :hidden, input_html: {value: params[:email]}
        = f.input :street
        .grid
          .grid__item.width-auto
            = f.input :zip_code, input_html: { style: ' width: 10em;', data: {behavior: 'city-autocomplete', el: 'structure_city_id'} }
          .grid__item.width-auto
            = f.association :city, collection: [@structure.city], label: false

      %h4.flush--bottom Renseignez les emails de vos élèves
      .form-white-box.islet.flush--left
        .input
          %label.control-label.v-middle Importez vos contacts
          %div
            = link_to '/contacts/gmail', class: 'btn btn__success', onclick: "_gaq.push(['_trackEvent', 'Import contact GMail', 'click'])" do
              %i.icon-envelope.v-middle{style: 'font-size: 16px; padding-right: 5px;'}
              %span.v-middle Gmail
        .input
          %label.control-label.v-top Emails de vos élèves
          %textarea#emails{name: 'emails', rows: 7, cols: 70, placeholder: 'Entrez les emails de vos élèves en les séparant par des virgules (emails non utilisés à des fins commerciales).', value: params[:emails], style: 'height: 150px;', data: {behavior: 'autoresize'}}
          %p.field-form-info
            %i Exemple : patrick@gmail.com, thomas@wanadoo.fr
            / %br
            / Vous pouvez également importer vos contacts depuis votre boîte mail ou depuis un tableau excel.
      = f.submit 'Envoyer ma demande', class: 'btn__large btn btn--large btn__success'
  .grid__item.one-third
    - if @contacts
      .text--center
        .alert--info
          %b Cliquez sur vos contact pour les ajouter
      %ul#contact-list.selectable-list.block-list
        - @contacts.each do |contact|
          %li= "#{contact[:name]} <#{contact[:email]}>"

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        $('structure_zip_code').fireEvent('keyup');
        var emails_textarea = $('emails');
        $$('#contact-list li').addEvent('click', function() {
            if (emails_textarea.get('value').length === 0) {
              var new_val = this.get('text');
            } else {
              var new_val = emails_textarea.get('value') + ', ' + this.get('text');
            }
            emails_textarea.set('value', new_val);
            emails_textarea.fireEvent('keyup');
            this.remove();

        });
    });
