.panel
  .panel__header.soft
    .grid
      .grid__item.one-twelfth.v-middle.text--center
        %i.fa.fa-star.fa-4x.yellow
      .grid__item.ten-twelfths.v-middle
        %h4.flush Vous souhaitez #{params[:title] || 'passer au premium'}
        %p.flush.epsilon
          - if params[:subtitle].present?
            = params[:subtitle]
          - else
            Devenez membre Premium et pilotez les performances de votre profil pour recruter plus d'élèves.
  .panel__body
    .soft
      .grid
        .grid__item.one-half>
          %h4 Choisissez votre formule d'abonnement

          = form_for @structure, method: :get, url: go_premium_pro_structure_path(@structure) do
            %label.black.grid.bordered--bottom.soft-half--bottom.push-half--bottom{ for: 'three-months', data: { el: '#price-three-months', behavior: 'local-tab' } }
              .grid__item.two-twelfths.epsilon.v-middle.text--center>
                .f-weight-bold.green.v-middle.label--large= "-30%"
              .grid__item.seven-twelfths.v-middle>
                %input.input--large.v-middle#three-months{ type: 'radio', name: 'premium_type', value: 'three_months' }
                .inline-block.v-middle.label--large{ style: 'width: 88%;'}
                  %strong Offre spéciale lancement jusqu'au 13/07/2014
                  %br
                  3 mois Premium
              .grid__item.three-twelfths.epsilon.v-middle>
                .v-middle.label--large 23€ / mois
            %label.black.grid.bordered--bottom.soft-half--bottom.push-half--bottom{ for: 'yearly', data: { el: '#price-yearly', behavior: 'local-tab' } }
              .grid__item.two-twelfths.epsilon.v-middle.text--center>
                .f-weight-bold.green.v-middle.label--large= "-15%"
              .grid__item.seven-twelfths.v-middle>
                %input.input--large.v-middle#yearly{ type: 'radio', name: 'premium_type', value: 'yearly', checked: true }
                .inline-block.v-middle.label--large 12 mois Premium
              .grid__item.three-twelfths.epsilon.v-middle>
                .v-middle.label--large 29€ / mois
            %label.black.grid.push-half--bottom{ for: 'monthly', data: { el: '#price-monthly', behavior: 'local-tab' } }
              .grid__item.two-twelfths.text--center.v-middle>
                Tarif normal
              .grid__item.seven-twelfths.v-middle>
                %input.input--large.v-middle#monthly{ type: 'radio', name: 'premium_type', value: 'monthly' }
                .inline-block.v-middle.label--large 1 mois Premium
              .grid__item.three-twelfths.epsilon.v-middle>
                .label--large 34€ / mois
            .text--right.tab-content.push--bottom
              #price-yearly{ data: { behavior: 'local-tab-el' } }
                %i Facturé en un unique paiement de 348 €
              #price-monthly.hidden{ data: { behavior: 'local-tab-el' } }
                %i Facturé en un unique paiement de 34 €
              #price-three-months.hidden{ data: { behavior: 'local-tab-el' } }
                %i Facturé en un unique paiement de 69 €
            .text--center= submit_tag 'Continuer', class: 'btn btn--yellow btn--full'
        .grid__item.one-half>
          %h4 Ce que vous offre le profil Premium :
          = render 'pro/structures/premium_advantages'

:javascript
    $("[data-behavior=local-tab]").click(function() {
        $('[data-behavior=local-tab-el]').hide();
        $($(this).data('el')).show();
    });
