.panel
  .panel__header.soft
    .grid
      .grid__item.one-twelfth.v-middle.text--center
        %i.fa-star.fa-4x.yellow
      .grid__item.ten-twelfths.v-middle
        %h4.flush Vous souhaitez #{params[:title] || 'passer au premium'}
  .panel__body
    .soft
      %h3.text--center Passez au Premium pour recruter plus d'élèves
      = render partial: 'pro/shared/premium_1_2_3', locals: { popup: true }
      .grid
        .grid__item.one-third>
          = link_to 'En savoir plus', pro_structure_subscription_plans_path(@structure), class: 'btn btn--full'
        .grid__item.two-thirds>
          = link_to 'Souscrire', choose_premium_pro_structure_subscription_plans_path(@structure), class: 'btn btn--green btn--full'
    .gray-box.push--top.soft
      %h4.text--center Ils ont déjà souscrit au Premium
      = render 'pro/shared/they_already_subscribed'
      %p.text--center.push--top.flush--bottom
        %strong 98% des profils Premium renouvellent leur abonnement

.panel.hidden#ten-features.append-to-body
  .panel__header.soft
    .grid
      .grid__item.one-twelfth.v-middle.text--center
        %i.fa-star.fa-4x.yellow
      .grid__item.ten-twelfths.v-middle
        %h4.flush Vous souhaitez #{params[:title] || 'passer au premium'}
  .panel__body
    .soft
      %h3.text--center Les 10 fonctionnalités spéciales Premium
      = render 'pro/shared/premium_advantages'
      .grid
        .grid__item.one-third>
          = link_to 'Retour', premium_modal_pro_structure_path(@structure), data: { behavior: 'modal', padding: 0, width: 900 }, class: 'fancybox.ajax btn btn--full'
        .grid__item.two-thirds>
          = link_to 'Souscrire', choose_premium_pro_structure_subscription_plans_path(@structure), class: 'btn btn--green btn--full'

.panel.hidden#know-more.append-to-body
  .panel__header.soft
    .grid
      .grid__item.one-twelfth.v-middle.text--center
        %i.fa-star.fa-4x.yellow
      .grid__item.ten-twelfths.v-middle
        %h4.flush Vous souhaitez #{params[:title] || 'passer au premium'}
  .panel__body
    .soft
      = render 'pro/shared/premium_graph'
      .grid
        .grid__item.one-third>
          = link_to 'Retour', premium_modal_pro_structure_path(@structure), data: { behavior: 'modal', padding: 0, width: 900 }, class: 'fancybox.ajax btn btn--full'
        .grid__item.two-thirds>
          = link_to 'Souscrire', choose_premium_pro_structure_subscription_plans_path(@structure), class: 'btn btn--green btn--full'

:javascript
  $('.append-to-body').appendTo($('body'));
