= side_menu_currently_at 'Recommandations'

%h5.home-title
  %i.icon-bullhorn.v-middle
  %span.v-middle 3 manières efficaces d'être recommandé
.grid--full.text--center.push--top
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#email-reco'}
      %h4
        %i.icon-facebook.icon-2x
        %br
        Facebook
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      ou
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#facebook-reco'}
      %h4
        %i.icon-envelope-alt.icon-2x
        %br
        Email
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      ou
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#website-reco'}
      %h4
        %i.icon-paperclip.icon-2x
        %br
        Sur votre site
%hr

.white-box.islet
  %h4.fb-blue#facebook-reco
    %i.icon-facebook-sign.icon-2x.v-middle.soft-half--right
    %span.v-middle Demandez à vos fans Facebook de vous recommander
    %span.v-middle= link_to 'Copier le texte', 'javascript:void(0)', class: 'btn btn--small btn--blue', 'data-behavior' => 'copy-to-clipboard', 'data-clipboard-target' => 'facebook-text', onclick: "mixpanel.track('Copy share profile', {'type': 'facebook'});"

  .grid
    .grid__item.one-half.v-middle>
      %p.alert--info.flush--left#facebook-text> Vous aimez #{@structure.independant? ? 'mes' : 'nos'} cours ? Dites-le sur notre profil CoursAvenue en cliquant sur le lien suivant : #{link_to new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), target: '_blank'} Merci !
    .grid__item.one-half.v-middle>
      %p.flush--left
        = link_to 'Demandez des recommandations sur Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{new_structure_comment_url(@structure, facebook: '', subdomain: 'www')}", class: 'btn btn--facebook btn--small', target: '_blank', onclick: "ga('send', 'event', 'Pro / Share on Facebook', 'click', 'From dashboard page')"


%hr
.white-box.islet
  %h4#email-reco
    %i.icon-envelope-alt.icon-2x.v-middle.soft-half--right
    %span.v-middle Envoyez un email à vos élèves

  .grid
    .grid__item.one-half.soft--right>
      %h5 Soit grâce à notre outil dédié
      = form_tag get_feedbacks_pro_structure_path(@structure) do
        %div
          %p
            Entrez les emails de vos élèves en les séparant par des virgules.
            Grâce à cet outil, vous pourrez suivre en bas de cette page les élèves qui ont posté un commentaire et relancer ceux qui ne l'ont pas encore fait.
            %br
            Ces emails ne seront utilisés que pour cet envoi unique.
        %div
          %textarea.one-whole{name: 'emails', rows: 7, placeholder: 'patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}
          .grid.push-half--top
            .grid__item.v-middle.width-auto
              = submit_tag 'Envoyer ma demande', class: 'btn btn--success'
            .grid__item.v-middle.width-auto
              = link_to "Qu'est-ce que mes élèves vont recevoir ?", '#', data: { behavior: 'modal', title: "Recommandez #{@structure.name} sur CoursAvenue", width: '700px', el: 'mail-content'}
    .grid__item.one-half.bordered--left>
      %h5
        %span.v-middle Soit en envoyant vous-même un email
        %span.v-middle= link_to 'Copier le texte', 'javascript:void(0)', class: 'btn btn--small btn--blue', 'data-behavior' => 'copy-to-clipboard', 'data-clipboard-target' => 'email-text', onclick: "mixpanel.track('Copy share profile', {'type': 'email'});"
      %p
        Vous pouvez également leur envoyé un email plus personnel. Voilà un exemple de mail que vous pouvez utiliser :
      .alert--info.flush--left#email-text>
        %p>
          Bonjour,
        %p>
          Je viens de référencer mes cours sur CoursAvenue et je voudrais avoir votre avis sur mes cours. Si vous avez quelques minutes vous pouvez laissez votre avis en cliquant sur le lien suivant : #{link_to new_structure_comment_url(@structure, subdomain: 'www'), new_structure_comment_url(@structure, subdomain: 'www'), target: '_blank'}
        %p>
          Merci pour votre contribution et à très bientôt !
        %p.flush--bottom>
          #{@structure.name}

%hr

.white-box.islet
  %h4#website-reco
    %i.icon-paperclip.icon-2x.v-middle.soft-half--right
    %span.v-middle Directement sur votre site internet
    %span.v-middle= link_to 'Copier le texte', 'javascript:void(0)', class: 'btn btn--small btn--blue', 'data-behavior' => 'copy-to-clipboard', 'data-clipboard-target' => 'website-text', onclick: "mixpanel.track('Copy share profile', {'type': 'website'});"
  %p
    Partagez les deux liens suivants :
  .alert--info#website-text
    Pour que les internautes visualisent tous vos avis :
    = link_to place_url(@structure.places.first, website: '', subdomain: 'www'), place_url(@structure.places.first, website: '', subdomain: 'www'), target: '_blank'
    %br
    Pour que vos élèves déposent de nouveaux avis :
    = link_to new_structure_comment_url(@structure, website: '', subdomain: 'www'), new_structure_comment_url(@structure, website: '', subdomain: 'www'), target: '_blank'

- if @structure.students.any?
  - structure_id = @structure.id
  %hr
  %h4
    %i.icon-group.icon-2x.v-middle.soft-half--right
    %span.v-middle Liste des élèves déjà sollicités
  %table.table--striped.table--data#students-table
    %thead
      %tr
        %th Email
        %th.text--center A laissé une recommandation
        %th
    %tbody
      - @structure.students.each do |student|
        %tr
          %td= student.email
          - if Comment.where{(email == student.email) & (commentable_id == structure_id) & (commentable_type == 'Structure')}.length > 0
            - leaved_comment = true
          %td.text--center{data: {value: leaved_comment ? '0' : '1'}}
            - if leaved_comment
              %i.icon-ok
          %td
            = form_tag ask_for_feedbacks_stage_1_pro_student_path(student), remote: true do
              %input{type: 'hidden', value: student.email}
              = submit_tag 'Renvoyer une demande', class: 'btn'
          %td
            = link_to 'Supprimer', pro_structure_student_path(@structure, student), method: :delete, class: 'red'




#mail-content.hidden
  = render template: 'student_mailer/ask_for_feedbacks'

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
      new TableSorter('students-table', { columnDataTypes: 'string, string, string', cookieName: 'tableSortState__students_recommendation'});
      $$('#students-table form').addEvent('submit', function() {
          new GLOBAL.Objects.Flash("L'élève a bien été notifié.").showAndHide();
      })
    });
