= side_menu_currently_at "Mes avis"
%ul.tabs
  %li
    = link_to pro_structure_comments_path(@structure) do
      %i.icon-comments
      Mes avis
  %li.active
    = link_to recommendations_pro_structure_path(@structure) do
      %i.icon-bullhorn
      Demander des recommandations

%h5.home-title.push--top
  %i.icon-bullhorn.v-middle
  %span.v-middle 3 manières d'être recommandé
.grid--full.text--center.push--top
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#email-reco'}
      %h4
        %i.icon-envelope-alt.icon-2x
        %br
        Email
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      ou
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#facebook-reco'}
      %h4
        %i.icon-facebook.icon-2x
        %br
        Facebook
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      ou
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#website-reco'}
      %h4
        %i.icon-paperclip.icon-2x
        %br
        Sur votre site

%hr
.white-box.islet
  %h4#email-reco
    %i.icon-envelope-alt.icon-2x.v-middle.soft-half--right
    %span.v-middle Envoyez un email à vos élèves
  = form_tag get_feedbacks_pro_structure_path(@structure) do
    .grid
      .grid__item.one-half>
        %h4 À :
        %p.flush
          %i Entrez les emails de vos élèves en les séparant par des virgules.
        %textarea.one-whole{name: 'emails', rows: 8, placeholder: 'patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}
      .grid__item.one-half>
        %h4 Message :
        %br
        %textarea.one-whole{name: 'text', rows: 8, data: {behavior: 'autoresize'}}
          Bonjour,&#x000A;&#x000A;J'ai créé mon profil sur CoursAvenue et je voudrais savoir ce que vous avez pensé de mes cours. Pouvez-vous prendre quelques minutes pour laisser un avis sur mon profil ?
        %p.gray-light.flush
          Merci et à très bientôt,
          %br
          = @structure.name


    .push-half--top.text--right= submit_tag 'Envoyer ma demande', class: 'btn btn--success'

%hr
.white-box.islet
  %h4.fb-blue#facebook-reco
    %i.icon-facebook-sign.icon-2x.v-middle.soft-half--right
    %span.v-middle Demandez à vos fans Facebook de vous recommander
    %span.v-middle= link_to 'Copier le texte', 'javascript:void(0)', class: 'btn btn--small btn--blue', 'data-behavior' => 'copy-to-clipboard', 'data-clipboard-target' => 'facebook-text', onclick: "mixpanel.track('Copy share profile', {'type': 'facebook'});"

  .text--center
    = link_to 'Demandez des recommandations', "https://www.facebook.com/sharer/sharer.php?u=#{new_structure_comment_url(@structure, facebook: '', subdomain: 'www')}", class: 'btn btn--facebook', target: '_blank', onclick: "ga('send', 'event', 'Pro / Share on Facebook', 'click', 'From recommendation page')"
  %p.alert--info.push-half--top.flush--left#facebook-text> Vous aimez #{@structure.independant? ? 'mes' : 'nos'} cours ? Dites-le sur notre profil CoursAvenue en cliquant sur le lien suivant : #{link_to new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), target: '_blank'} Merci !

%hr

.white-box.islet
  %h4#website-reco
    %i.icon-paperclip.icon-2x.v-middle.soft-half--right
    %span.v-middle Directement sur votre site internet
    %span.v-middle= link_to 'Copier le texte', 'javascript:void(0)', class: 'btn btn--small btn--blue', 'data-behavior' => 'copy-to-clipboard', 'data-clipboard-target' => 'website-text', onclick: "mixpanel.track('Copy share profile', {'type': 'website'});"
  %p
    Partagez les deux liens suivants :
  .alert--info#website-text
    Pour que les internautes visualisent tous vos avis :
    = link_to structure_url(@structure, website: '', subdomain: 'www'), structure_url(@structure, website: '', subdomain: 'www'), target: '_blank'
    %br
    Pour que vos élèves déposent de nouveaux avis :
    = link_to new_structure_comment_url(@structure, website: '', subdomain: 'www'), new_structure_comment_url(@structure, website: '', subdomain: 'www'), target: '_blank'

- if @structure.students.any?
  - structure_id = @structure.id
  %hr
  %h4
    %i.icon-group.icon-2x.v-middle.soft-half--right
    %span.v-middle Liste des élèves déjà sollicités
  %table.table--striped.table--data#students-table
    %thead
      %tr
        %th Email
        %th.text--center A laissé une recommandation
        %th
    %tbody
      - @structure.students.each do |student|
        %tr
          %td= student.email
          - if Comment.where{(email == student.email) & (commentable_id == structure_id) & (commentable_type == 'Structure')}.length > 0
            - leaved_comment = true
          %td.text--center{data: {value: leaved_comment ? '0' : '1'}}
            - if leaved_comment
              %i.icon-ok
          %td
            = form_tag ask_for_feedbacks_stage_1_pro_student_path(student), remote: true do
              %input{type: 'hidden', value: student.email}
              = submit_tag 'Renvoyer une demande', class: 'btn'
          %td
            = link_to 'Supprimer', pro_structure_student_path(@structure, student), method: :delete, class: 'red'


= content_for :scripts do
  :javascript
    $(function() {
      if ($('#students-table')) {
          $('#dataTable').tablesorter();
          $('#students-table form').submit(function() {
              GLOBAL.flash("L'élève a bien été notifié.");
          });
      }
    });
