= side_menu_currently_at 'Recommandations'

%h5.home-title Faites-vous recommander par vos élèves
.grid--full.text--center.push--top
  .grid__item.three-twelfths.text--center.v-middle.relative>
    .white-box.islet
      %h4
        %i.icon-bullhorn.icon-2x
        %br
        Demandez des recommandations
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      %i.icon-2x.icon-chevron-right
  .grid__item.three-twelfths.text--center.v-middle.relative>
    .white-box.islet
      %h4
        %i.icon-comments.icon-2x
        %br
        Recevez des avis positifs
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      %i.icon-2x.icon-chevron-right
  .grid__item.three-twelfths.text--center.v-middle.relative>
    .white-box.islet
      %h4
        %i.icon-circle-arrow-up.icon-2x
        %br
        Gagnez la confiance des élèves
%hr
= form_tag get_feedbacks_pro_structure_path(@structure) do
  .grid
    .grid__item.one-third>
      %p
        %b Entrez les emails de vos élèves les plus fidèles
        en séparant les adresses par des virgules (emails non utilisés à des fins commerciales).
      %ps
        Une fois votre demande envoyée, vos élèves pourront s'inscrire sur CoursAvenue et laisser un avis sur vos cours ou votre établissement.
        %br
        Un avis ne vous satisfait pas ? Gardez un droit de regard et parlons-en :
        s'il ne respecte pas notre charte (manque d'objectivité, commentaire personnel, avis non constructif), nous le supprimerons.
    .grid__item.two-thirds>
      %textarea{name: 'emails', rows: 7, cols: 70, placeholder: 'patrick@gmail.com, thomas@wanadoo.fr'}
      %br
      = link_to "Qu'est-ce que mes élèves vont recevoir ?", '#', data: { behavior: 'modal', title: "Recommandez #{@structure.name} sur CoursAvenue", width: '700px', el: 'mail-content'}
      %br
      = submit_tag 'Envoyer ma demande', class: 'btn btn__success'
#mail-content.hidden
  = render template: 'admin_mailer/send_feedbacks'

%hr.push--top
%h4.fb-blue
  %i.icon-facebook-sign.icon-2x.v-middle.soft-half--right
  %span.v-middle Vous avez une page Facebook ?
%p.flush--bottom
  Pas de problème !
  %b Copiez ce texte que nous vous avons préparé, puis collez-le sur le mur de votre page Facebook
%p.alert--info
  Vous aimez
  - if @structure.independant?
    mes
  - else
    nos
  cours ? Faites-le savoir et
  - if @structure.independant?
    recommandez-moi
  - else
    recommandez-nous
  en cliquant sur le lien suivant :
  = link_to new_structure_comment_url(@structure, subdomain: 'www'), new_structure_comment_url(@structure, subdomain: 'www')
  Merci !

- if @structure.newsletter_users.any?
  %hr
  %h4 Liste des élèves déjà sollicités
  %table.table--striped.table--data
    %thead
      %tr
        %th Email
    %tbody
      - @structure.newsletter_users.each do |student|
        %tr
          %td= student.email
