= side_menu_currently_at "Mes avis"

= render partial: 'pro/structures/comments_tabs', locals: {current: 'recommandation'}

%h5.home-title
  %i.icon-bullhorn.v-middle
  %span.v-middle Utilisez nos 3 méthodes de recommandations
.grid--full.text--center.push--top
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#email-reco'}
      %h4
        %i.icon-envelope-alt.icon-2x
        %br
        Email
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      %i.icon-plus
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#facebook-reco'}
      %h4
        %i.icon-facebook.icon-2x
        %br
        Facebook
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      %i.icon-plus
  .grid__item.three-twelfths.text--center.v-middle.relative>
    %a.muted-link.white-box.islet{href: '#website-reco'}
      %h4
        %i.icon-paperclip.icon-2x
        %br
        Sur votre site

%hr
.white-box.islet
  %h4#email-reco
    %i.icon-envelope-alt.icon-2x.v-middle.soft-half--right
    %span.v-middle
      Envoyez un email à vos élèves
      %i.orange (méthode la + utilisée et la plus efficace)

  = form_tag get_feedbacks_pro_structure_path(@structure) do
    .grid
      .grid__item.one-half>
        %h4 À :
        %p.flush
          .italic.blue{data: {behavior: 'tooltip', title: "Nous considérons que vos coordonnées et adresses de courrier électronique constituent des données confidentielles, et nous nous engageons à ne pas les divulguer. Conformément à l'article 27 de la loi \"Informatique et Liberté\" du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification des informations vous concernant."}}
            %i.icon-question-sign
            Entrez les emails de vos élèves : rassurez-vous, ils ne seront utilisés que pour cet envoi unique et resteront confidentiels.
        %textarea.one-whole{name: 'emails', rows: 8, placeholder: 'patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}
      .grid__item.one-half>
        %h4 Message :
        %p.flush
          %i.blue Modifiez ce texte en le rendant le plus personnel possible avant d'envoyer votre demande.
        %textarea.one-whole{name: 'text', rows: 8, data: {behavior: 'autoresize'}}
          Bonjour,&#x000A;&#x000A;J'ai créé mon profil sur CoursAvenue et je voudrais savoir ce que vous avez pensé de mes cours. Pouvez-vous prendre quelques minutes pour laisser un avis sur mon profil ?
        %p.gray-light.push-half--top
          = link_to 'Lien que recevront les élèves', new_structure_comment_url(@structure, email: @email, subdomain: 'www'), target: '_blank'
        %p.gray-light.flush
          Merci et à très bientôt,
          %br
          = @structure.name
    .push-half--top.text--right= submit_tag 'Envoyer ma demande', class: 'btn btn--green'
  %hr.push--top
  .text--center.push-half--bottom
    = link_to 'Envoyer un email depuis ma boite perso', '#hidden-send', data: {behavior: 'modal'}, class: 'btn btn--blue'

#hidden-send.hidden
  %p
    Vous souhaitez envoyer votre demande de recommandation depuis votre propre boîte mail ? Pas de souci, nous vous avons préparé un texte que vous pouvez copier, puis coller dans votre email :

  .text--center.push-half--bottom
    %a.btn.btn--blue{href: '', data: {behavior: 'copy-to-clipboard', 'clipboard-target' => 'email-text'}} Copier ce texte
  #email-text.hidden Bonjour,&#x000A;&#x000A;Je viens de référencer mes cours sur CoursAvenue et je voudrais avoir votre avis sur mes cours. Si vous avez quelques minutes vous pouvez laissez votre avis en cliquant sur le lien suivant : #{link_to new_structure_comment_url(@structure, subdomain: 'www'), new_structure_comment_url(@structure, subdomain: 'www'), target: '_blank'}&#x000A;&#x000A;Merci pour votre contribution et à très bientôt !&#x000A;&#x000A;#{@structure.name}
  .alert--info.flush--left>
    %p> Bonjour,
    %p> Je viens de référencer mes cours sur CoursAvenue et je voudrais avoir votre avis sur mes cours. Si vous avez quelques minutes vous pouvez laisser votre avis en cliquant sur le lien suivant : #{link_to new_structure_comment_url(@structure, subdomain: 'www'), new_structure_comment_url(@structure, subdomain: 'www'), target: '_blank'}
    %p> Merci pour votre contribution et à très bientôt !
    %p.flush--bottom= @structure.name


%hr
.white-box.islet
  %h4.fb-blue#facebook-reco
    %i.icon-facebook-sign.icon-2x.v-middle.soft-half--right
    %span.v-middle Demandez à vos fans Facebook de vous recommander
    %span.v-middle= link_to 'Copier le texte', 'javascript:void(0)', class: 'btn btn--small btn--blue', 'data-behavior' => 'copy-to-clipboard', 'data-clipboard-target' => 'facebook-text', onclick: "mixpanel.track('Copy share profile', {'type': 'facebook'});"

  .text--center
    = link_to 'Demandez des recommandations', "https://www.facebook.com/sharer/sharer.php?u=#{new_structure_comment_url(@structure, facebook: '', subdomain: 'www')}", class: 'btn btn--facebook', target: '_blank', onclick: "ga('send', 'event', 'Pro / Share on Facebook', 'click', 'From recommendation page')"
  %p.alert--info.push-half--top.flush--left#facebook-text> Vous aimez #{@structure.independant? ? 'mes' : 'nos'} cours ? Dites-le sur notre profil CoursAvenue en cliquant sur le lien suivant : #{link_to new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), target: '_blank'} Merci !

%hr

.white-box.islet
  %h4#website-reco
    %i.icon-paperclip.icon-2x.v-middle.soft-half--right
    %span.v-middle Directement sur votre site internet
    %span.v-middle= link_to 'Copier le texte', 'javascript:void(0)', class: 'btn btn--small btn--blue', 'data-behavior' => 'copy-to-clipboard', 'data-clipboard-target' => 'website-text', onclick: "mixpanel.track('Copy share profile', {'type': 'website'});"
  %p
    Partagez les deux liens suivants :
  .alert--info#website-text
    Pour que les internautes visualisent tous vos avis :
    = link_to structure_url(@structure, website: '', subdomain: 'www'), structure_url(@structure, website: '', subdomain: 'www'), target: '_blank'
    %br
    Pour que vos élèves déposent de nouveaux avis :
    = link_to new_structure_comment_url(@structure, website: '', subdomain: 'www'), new_structure_comment_url(@structure, website: '', subdomain: 'www'), target: '_blank'
