= side_menu_currently_at 'Recommandations'

%h5.home-title Faites-vous recommander par vos élèves
.grid--full.text--center.push--top
  .grid__item.three-twelfths.text--center.v-middle.relative>
    .white-box.islet
      %h4
        %i.icon-bullhorn.icon-2x
        %br
        Demandez des recommandations
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      %i.icon-2x.icon-chevron-right
  .grid__item.three-twelfths.text--center.v-middle.relative>
    .white-box.islet
      %h4
        %i.icon-comments.icon-2x
        %br
        Recevez des avis positifs
  .grid__item.one-twelfth.text--center.v-middle>
    .islet
      %i.icon-2x.icon-chevron-right
  .grid__item.three-twelfths.text--center.v-middle.relative>
    .white-box.islet
      %h4
        %i.icon-circle-arrow-up.icon-2x
        %br
        Gagnez la confiance des élèves
%hr

.grid
  .grid__item.one-half.islet.bordered--right>
    %h4
      %i.icon-envelope-alt.icon-2x.v-middle.soft-half--right
      %span.v-middle Envoyez un e-mail à vos élèves

    = form_tag get_feedbacks_pro_structure_path(@structure) do
      %div
        %p
          %b Entrez les emails de vos élèves les plus fidèles
          en séparant les adresses par des virgules (emails non utilisés à des fins commerciales).
        %ps
          Une fois votre demande envoyée, vos élèves pourront s'inscrire sur CoursAvenue et laisser un avis sur vos cours ou votre établissement.
          %br
          Un avis ne vous satisfait pas ? Gardez un droit de regard et parlons-en :
          s'il ne respecte pas notre charte (manque d'objectivité, commentaire personnel, avis non constructif), nous le supprimerons.
      %div
        %textarea.one-whole{name: 'emails', rows: 7, placeholder: 'patrick@gmail.com, thomas@wanadoo.fr'}
        .grid.push-half--top
          .grid__item.v-middle.width-auto
            = submit_tag 'Envoyer ma demande', class: 'btn btn__success'
          .grid__item.v-middle.width-auto
            = link_to "Qu'est-ce que mes élèves vont recevoir ?", '#', data: { behavior: 'modal', title: "Recommandez #{@structure.name} sur CoursAvenue", width: '700px', el: 'mail-content'}
  .grid__item.one-half.islet>
    %h4.fb-blue
      %i.icon-facebook-sign.icon-2x.v-middle.soft-half--right
      %span.v-middle Demandez à vos fans Facebook de vous recommander
    %p.flush--bottom
      C'est simple et efficace : copiez le texte ci-dessous puis collez-le sur votre mur Facebook. Nos Partenaires qui l’ont déjà fait ont eu de très bons retours.
    %p.alert--info.flush--left
      Vous aimez #{@structure.independant? ? 'mes' : 'nos'} cours ? Faites-le savoir et #{@structure.independant? ? 'recommandez-moi' : 'recommandez-nous'} en cliquant sur le lien suivant :
      = link_to new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), new_structure_comment_url(@structure, facebook: '', subdomain: 'www')
      Merci !

    - if @structure.students.any?
      - structure_id = @structure.id
      %hr
      %h4 Liste des élèves déjà sollicités
      %table.table--striped.table--data
        %thead
          %tr
            %th Email
            %th.text--center A laissé une recommandation
            %th
        %tbody
          - @structure.students.each do |student|
            %tr
              %td= student.email
              %td.text--center
                - if Comment.where{(email == student.email) & (commentable_id == structure_id) & (commentable_type == 'Structure')}.length > 0
                  %i.icon-ok
              %td
                = form_tag get_feedbacks_pro_structure_path(@structure) do
                  %input{type: 'hidden', value: student.email}
                  = submit_tag 'Renvoyer une demande', class: 'btn'



    #mail-content.hidden
      = render template: 'student_mailer/ask_for_feedbacks'
