.center-block
  %h2
    Félicitations ! Votre profil public a été créé :
    = link_to 'Voir mon profil public', structure_url(@structure, subdomain: 'www'), target: '_blank', class: 'btn btn--blue'
  %h3.flush--bottom
    Partagez les compliments de vos élèves grâce aux 2 méthodes suivantes :
  %p
    = link_to 'Je ferai ça plus tard, accéder directement à mon espace pro', new_pro_admin_structure_registration_path(@structure)
.grid
  .grid__item.two-thirds.palm--one-whole.lap--one-whole>
    .white-box.islet
      %h4.fb-blue.flush--bottom
        %i.icon-facebook-sign.icon-2x.v-middle.soft-half--right
        %span.v-middle Partagez sur Facebook
      %p.flush--bottom
        Copiez le texte ci-dessous puis collez-le sur votre mur Facebook :
      %p.alert--info.flush--left{style: 'max-width: 800px'}
        Vous aimez #{@structure.independant? ? 'mes' : 'nos'} cours ? Dites-le sur notre profil CoursAvenue en cliquant sur le lien suivant :
        = link_to new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), new_structure_comment_url(@structure, facebook: '', subdomain: 'www'), target: '_blank', class: 'blue'
        Merci !

    = simple_form_for :structure, url: get_feedbacks_pro_structure_path(@structure), method: :post do |f|
      .white-box.islet
        %h4.flush--bottom
          %i.icon-envelope-alt.icon-2x.v-middle.soft-half--right
          %span.v-middle Envoyez un email à vos élèves
        %p
          Entrez les emails de vos élèves en les séparant par des virgules.
          Ces emails ne seront utilisés que pour cet envoi unique.
        %input{type: 'hidden', name: 'redirect_to', value: new_pro_admin_structure_registration_path(@structure)}
        .input
          %label.control-label.v-top>
            Emails de vos élèves
          %textarea#emails{name: 'emails', rows: 7, cols: 70, placeholder: 'Ex. : patrick@gmail.com, thomas@wanadoo.fr', style: 'height: 150px;', data: {behavior: 'autoresize'}}= cookies['emails']
          %p.field-form-info
            = link_to "Qu'est-ce que mes élèves vont recevoir ?", '#', data: { behavior: 'modal', title: "Recommandez #{@structure.name} sur CoursAvenue", width: '700px', el: 'mail-content'}, class: 'blue'
        - unless @contacts
          .input.visuallyhidden--palm.visuallyhidden--lap
            %label.control-label.v-middle Importez vos contacts Gmail
            %div
              = link_to "/contacts/gmail", class: 'btn', onclick: "ga('send', 'event', 'Import contact GMail', 'click')" do
                %i.icon-envelope.v-middle{style: 'font-size: 16px; padding-right: 5px;'}
                %span.v-middle Importer mes contacts Gmail

        %p.field-form-info
          = f.submit "Envoyer ma demande de recommandations", class: 'btn btn--success'

  .grid__item.one-third
    - if @contacts
      .text--center
        .alert--info
          %b Cliquez sur vos contacts pour les ajouter
      %ul#contact-list.selectable-list.block-list
        - @contacts.each do |contact|
          %li= "#{contact[:name]} <#{contact[:email]}>"


#mail-content.hidden
  = render template: 'student_mailer/ask_for_feedbacks'

= content_for :scripts do
  :javascript
    $(function() {
        var emails_textarea = $('#emails');
        $$('#contact-list li').click(function() {
            if (emails_textarea.val().length === 0) {
              var new_val = this.get('text');
            } else {
              var new_val = emails_textarea.val() + ', ' + this.text();
            }
            emails_textarea.val(new_val);
            emails_textarea.trigger('keyup');
            this.remove();
        });
        $('#emails').blur(function() {
            $.cookie('emails', $(this).val());
        });
    });
