= side_menu_currently_at 'Mes cours'

%h3.header-group
  %i.icon-list
  Mes cours référencés sur CoursAvenue

- @places.each do |place|
  - unless @places.length == 1
    %h3.flush--bottom.push--top.toggleable-header.bordered--bottom{data: {behavior: 'toggleable', el:'+ .toggleable-content'}}
      = place.name
      %i.icon-caret-down
  .toggleable-content
    %table.table--striped.dataTable
      %thead
        %tr
          %th.text--center.one-twelfth Statut
          %th
            %span Type
          %th.sortDesc.two-twelfths
            %span Intitulé
          %th.two-twelfths
            %span
              %i.icon-user
              Professeur(s)
          %th.two-twelfths
            %span
              %i.lbc-subject-icon
              Disciplines
          %th.three-twelfths
      %tbody
        - place.courses.order('created_at DESC').each do |course|
          %tr
            %td.text--center
              - if course.active
                = link_to disable_pro_course_path(course), method: :put, class: 'switch-button on' do
                  En&nbsp;ligne
              - else
                = link_to activate_pro_course_path(course), method: :put, class: 'switch-button off' do
                  Hors&nbsp;ligne
            %td= course.type_name
            %td
              - if current_pro_admin
                = link_to course.name, edit_pro_course_path(course)
              - else
                = link_to course.name, course_url(course, subdomain: :www)
            %td= course.teachers.uniq.map(&:name).join(', ')
            %td= course.subjects.map(&:name).join(', ')
            %td.text--right
              = link_to edit_pro_course_path(course), class: course.image.present? ? '': 'btn btn__success' do
                - if course.image.present?
                  = image_tag course.image.url(:mini), height: 30, class: 'v-middle'
                - else
                  %i.icon-picture
                  Photo
              = link_to '€ Tarifs', pro_course_prices_path(course), class: 'btn'
              = link_to pro_course_plannings_path(course), class: 'btn' do
                %i.lbc-icon-calendar
                %span &nbsp;Plannings
              = link_to edit_pro_course_path(course), title: 'Modifier ce cours', class: 'btn btn__warning' do
                %i.icon-edit
              = link_to pro_course_path(course), method: :delete, class: 'red', title: 'Supprimer ce cours', data: {confirm: 'Êtes-vous sur de supprimer ce cours ? Cette action sera irreversible.'}, class: 'btn btn__danger' do
                %i.icon-trash

.text--center
  = link_to 'Ajouter un cours', new_pro_structure_course_path(@structure), class: 'btn btn__success btn__large'

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        $$('.dataTable').each(function(datatable, i) {
            datatable.set('id', 'datatable_' + i)
            new TableSorter('datatable_' + i, { columnDataTypes: 'string, string, string, string, string', cookieName: 'tableSortState__structure_#{@structure.slug}_' + i });
        })
    });
