= side_menu_currently_at 'Mes cours'

%h3.header-group
  %i.icon-list
  Mes cours référencés sur CoursAvenue

.grid--full.text--center.push
  .grid__item.one-third>
    %h3
      %i.icon-2x.icon-edit
      %br
      Référencez vos cours

  .grid__item.one-third>
    %h3
      %i.icon-2x.icon-picture
      %br
      Illustrez-les

  .grid__item.one-third>
    %h3
      %i.icon-2x.icon-bullhorn
      %br
      Demandez des recommandations


#augment-visibility.hidden
  %ol
    %li <b>Soyez recommandés !</b> : plus d'avis signifie une plus forte confiance de la part des Internautes, et donc plus de réservations pour vous. Depuis l'onglet "Mes avis" à gauche de cet écran, envoyez facilement une demande d'avis à vos clients qui vous connaissent le mieux

    %li  <b>Proposez des promotions</b> : boostez vos réservations en proposant des promotions, par exemple pour les cours d'habitude peu remplis, les séances qui arrivent dans les prochains jours, ou pour l'ouverture d'un nouveau stage

    %li <b>Ajoutez des photos</b> : n'oubliez pas d'illustrer vos cours par de belles photos, et votre établissement par votre logo

    %li <b>Dites ce qu'on apprend !</b> : pour chaque cours, votre description doit être complète, et bien préciser les objectifs et la valeur ajoutée de votre enseignement, pour que les Internautes se sentent mieux renseignés et en confiance

- unless cookies[:understood__course_status]
  .alert--info#course-status-info
    %a#understood__course_status.float--right{href: '#'} J'ai compris
    %h5.push-half--bottom
      %i.lbc-icon-info i
      Statut des cours
    .grid.push-half--bottom
      .grid__item.text--center{style: 'width: 150px;'}
        .switch-button.on Visible
      .grid__item.width-auto
        Le cours est visible par les internautes sur CoursAvenue.com.
    .grid
      .grid__item.text--center{style: 'width: 150px;'}
        .switch-button.off Non Visible
      .grid__item.width-auto
        Le cours n'est pas visible par les internautes sur CoursAvenue.com.

- @places.each do |place|
  - unless @places.length == 1
    %h3.flush--bottom.push--top.toggleable-header.bordered--bottom{data: {behavior: 'toggleable', el:'+ .toggleable-content'}}
      = place.name
      %i.icon-caret-down
  .toggleable-content
    %table.table--striped.dataTable
      %thead
        %tr
          %th.hard--right{style: 'width: 2em;'}
            %i.icon-external-link
          %th.text--center.one-twelfth Statut
          %th
            %span Type
          %th.sortDesc.two-twelfths
            %span Intitulé
          %th.two-twelfths
            %span
              %i.icon-user
              Professeur(s)
          %th.two-twelfths
            %span
              %i.lbc-subject-icon
              Disciplines
          %th.three-twelfths
      %tbody
        - place.courses.order('created_at DESC').each do |course|
          %tr
            %td.hard--right
              = link_to course_url(course, subdomain: 'www'), title: 'Voir le cours sur CoursAvenue', target: '_blank' do
                %i.icon-external-link
            %td.text--center
              - if course.active
                = link_to disable_pro_course_path(course), method: :put, class: 'switch-button on', title: 'Enlever le cours de CoursAvenue' do
                  Visible
              - else
                = link_to activate_pro_course_path(course), method: :put, class: 'switch-button off', title: 'Afficher le cours sur CoursAvenue'  do
                  Non&nbsp;visible
            %td= course.type_name
            %td
              - if current_pro_admin
                = link_to course.name, edit_pro_course_path(course)
              - else
                = link_to course.name, course_url(course, subdomain: :www)
            %td
              - if course.teachers.any?
                = course.teachers.uniq.map(&:name).join(', ')
              - else
                = link_to 'Choisir un professeur', pro_course_plannings_path(course), class: 'btn'
            %td= course.subjects.map(&:name).join(', ')
            %td.text--right
              %span>
                = link_to edit_pro_course_path(course), class: course.image.present? ? '': 'btn btn__success' do
                  - if course.image.present?
                    = image_tag course.image.url(:mini), height: 30, class: 'v-middle'
                  - else
                    %i.icon-picture
                    Photo
              %span>
                = link_to '€ Tarifs', pro_course_prices_path(course), class: 'btn'
              %span>
                = link_to pro_course_plannings_path(course), class: 'btn' do
                  %i.lbc-icon-calendar
                  %span Plannings
              %span>
                = link_to edit_pro_course_path(course), title: 'Modifier ce cours', class: 'btn btn__warning' do
                  %i.icon-pencil
              %span>
                = link_to pro_course_path(course), method: :delete, class: 'red', title: 'Supprimer ce cours', data: {confirm: 'Êtes-vous sur de supprimer ce cours ? Cette action sera irreversible.'}, class: 'btn btn__danger' do
                  %i.icon-trash

.text--center
  = link_to 'Ajouter un cours ou un stage', new_pro_structure_course_path(@structure), class: 'btn btn__success btn__large'

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        $$('.dataTable').each(function(datatable, i) {
            datatable.set('id', 'datatable_' + i)
            new TableSorter('datatable_' + i, { columnDataTypes: 'string, string, string, string, string, string', cookieName: 'tableSortState__structure_#{@structure.slug}_' + i });
        })
        if ($('understood__course_status')) {
            $('understood__course_status').addEvent('click', function() {
                document.cookie = 'understood__course_status=true';
                $('course-status-info').remove();
            })
        }
    });
