= side_menu_currently_at 'Profs stars'

%h2 Profs stars

%table.table--striped.table--data.white-box#dataTable
  %thead
    %tr
      %th
        %span Établissements
      %th
        %span Disciplines
      %th
        %span Avis
      %th
        %span Livre d'or
  %tbody
    - @structures.each do |structure|
      %tr
        %td
          = link_to dashboard_pro_structure_path(structure) do
            - if structure.logo?
              = image_tag structure.logo.url(:thumb), height: 15
            = structure.name
        %td
          = join_parent_subjects_text structure
        %td
          = structure.comments_count
          %i.lbc-brand-icon

        %td
          - if structure.widget_url
            = link_to structure.widget_url, target: '_blank' do
              %i.icon-ok

- unless params[:all]
  .text--center= link_to 'Voir tous les profs', pro_admins_path(all: true), class: 'btn btn--blue'
= content_for :scripts do
  :javascript
    $(function() {
        $('#dataTable').tablesorter();
    });
