= side_menu_currently_at 'pro_dashboard'

= render partial: 'pro/shared/dashboard_tabs', locals: { current: 'teacher_stars' }
%table.table--striped.table--data.table-responsive#dataTable
  %thead
    %tr
      %th.four-tenths
        %span Établissements
      %th.four-tenths
        %span Disciplines
      %th
        %span Avis
      %th
        %span Livre d'or
  %tbody
    - @structures.each do |structure|
      %tr
        %td{ data: { th: 'Établissement' } }
          = link_to dashboard_pro_structure_path(structure) do
            - if structure.logo?
              = image_tag structure.logo.url(:thumb), height: 15
            = structure.name
        %td{ data: { th: 'Disciplines' } }
          = join_parent_subjects_text structure
        %td{ data: { th: 'Avis' } }
          = structure.comments_count

        %td{ data: { th: "Livre d'or" } }
          - if structure.widget_url.present?
            = link_to structure.widget_url, target: '_blank' do
              %i.fa-check
          = structure.widget_status
