= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'website_planning' }

%h1 Planning sur votre site Internet

%p.delta.line-height-1-3 Equipez votre site Internet d'une page planning optimisée qui a plusieurs avantages :

%ul.delta.line-height-1-5
  %li Elle convertit plus d'élèves qu'une page classique ;
  %li Elle est optimisée mobiles et tablettes et participe à votre référencement naturel ;
  %li Elle propose l'inscription en ligne, avec ou sans carte bleue, et vous envoie un SMS à chaque demande de réservation incluant les coordonnées complètes du participant.


%h2 A quoi ressemble ma page planning ?
%p.delta.line-height-1-3 Cliquez sur ce bouton pour visualiser votre page planning :
#planning-button-wrapper.hidden
  <a target="_blank" style='display: block; text-align: center; margin: 0 auto;' href="#{structure_website_structure_url(@structure, subdomain: 'www')}">
  <img alt="Planning et inscription" height="65", width="229" style="height: 65px; width: 229px; margin: 0 auto; display: inline-block" src="https://dqggv9zcmarb3.cloudfront.net/external/coursavenue-planning-button.png">
  </a>
.text--center.push--bottom
  = link_to structure_website_structure_url(@structure), target: :_blank, class: 'inline-block center-block' do
    = image_tag 'https://dqggv9zcmarb3.cloudfront.net/external/coursavenue-planning-button.png', height: 65, width: 229, class: 'center-block', alt: 'Planning et inscription'

%h2 Comment l'installer ?
-# %p.delta.line-height-1-3 Voici comment l'installer, c'est simple et rapide :

%ul.delta.line-height-1-3.flush--bottom
  %li Pour associer votre nouvelle page planning à une rubrique ou un bouton déjà existant sur votre site, associez le lien suivant :

.push--bottom.soft--left
  %input.f-weight-bold.bg-gray-light.push-half--top#link-input.text--center.one-whole.input--large{ value: structure_website_structure_url(@structure) }

%ul.delta.line-height-1-3
  %li
    Pour installer le bouton
    %strong « Planning & Inscription »
    CoursAvenue ci-dessus sur votre site Internet, choisissez votre guide :

.text--center.push--bottom
  %select.input--large#select-install
    %option{ value: '#empty' } Choisir mon guide d'installation
    %optgroup{ label: "Je souhaite demander à mon webmaster" }
      %option{ value: '#webmaster-form-wrapper' } Envoyer le code par e-mail
    %optgroup{ label: "Je souhaite l'installer moi-même" }
      %option{ value: '#webmaster-guide' } Mon site a été développé par un webmaster / Autre
      %option{ value: '#wordpress-guide' } J'utilise Wordpress
      %option{ value: '#overblog-guide' } J'utilise Overblog
      %option{ value: '#blogger-guide' } J'utilise Blogger
      %option{ value: '#wix-guide' } J'utilise Wix

= render partial: 'pro/structures/widget_installation_guides', locals: { show_button: false }

-# .grid.push--bottom
-#   .grid__item.v-middle.one-twelfth.text--center>
-#     .soft.bordered.bordered--larger.rounded--circle.delta.inline-block{ style: 'width: 60px;' } 1
-#   .grid__item.v-middle.eleven-twelfths>
-#     %div.delta.line-height-1-3.flush
-#       Créez un bouton ou une rubrique «&nbsp;Planning&nbsp;» sur votre site Internet.
-#       %br
-#       Cliquez ici pour récupérer le code et installer le bouton suivant :
-#     = link_to structure_website_structure_url(@structure), target: :_blank, class: 'block' do
-#       = image_tag 'https://dqggv9zcmarb3.cloudfront.net/external/coursavenue-planning-button.png', height: 65, class: 'block'

-# .grid.push--bottom
-#   .grid__item.v-middle.one-twelfth.text--center>
-#     .soft.bordered.bordered--larger.rounded--circle.delta.inline-block{ style: 'width: 60px;' } 2
-#   .grid__item.v-middle.eleven-twelfths>
-#     %p.delta.line-height-1-3.flush
-#       Copiez et associez le lien suivant à votre rubrique «&nbsp;Planning & Inscription&nbsp;»
-#       = link_to '(voir la page)', structure_website_structure_url(@structure), target: :_blank
-#       \:
-#       %input.f-weight-bold.bg-gray-light.push-half--top#link-input.text--center.one-whole.input--large{ value: structure_website_structure_url(@structure) }

-# .grid.push--bottom
-#   .grid__item.v-middle.one-twelfth.text--center>
-#     .soft.bordered.bordered--larger.rounded--circle.delta.inline-block{ style: 'width: 60px;' } 2
-#   .grid__item.v-middle.eleven-twelfths>
-#     %p.delta.line-height-1-3.flush
-#       C'est fait !
-#       Continuez à mettre à jour vos activités dans la rubrique
-#       = link_to '« Mon planning »', pro_structure_courses_path(@structure)
-#       et suivez le nombre de visites et de demandes d'inscriptions depuis l'onglet
-#       = link_to '« Statistiques »', pro_structure_statistics_path(@structure)


.gray-box.soft.relative.tab-pane#webmaster-form-wrapper
  = simple_form_for [:pro, @structure], method: :post, url: ask_webmaster_for_planning_pro_structure_path(@structure) do |f|
    .grid.push-half--bottom
      .grid__item.v-middle.three-twelfths.text--right.palm-one-whole>
        %h4.flush Email de votre webmaster
      .grid__item.v-middle.nine-twelfths.palm-one-whole>
        .grid
          .grid__item.three-quarters.v-middle.palm-one-whole>
            %input.input--large.one-whole{ name: 'email' }
      %hr.push-half--ends
    .grid
      .grid__item.three-twelfths.text--right.palm-one-whole>
        %h4 Message
      .grid__item.nine-twelfths.palm-one-whole>
        %textarea.input--large#webmaster-email-content.one-whole{ name: 'text', rows: 8, data: { behavior: 'autoresize' } }
          Bonjour,&#x000A;&#x000A;Je souhaiterais ajouter à mon site Internet la page planning de mes activités que j'ai générée grâce à CoursAvenue.com : pouvez-vous l'installer pour moi ?&#x000A;&#x000A;Je vous transmets toutes les informations nécessaires :&#x000A;&#x000A;Voici le code pour ajouter le bouton "Planning & inscription" dans ma rubrique planning :&#x000A;&#x000A;<div class="bg-gray-light soft-half bordered text--center push--bottom">__CODE__</div>&#x000A;&#x000A; Merci pour votre aide, à bientôt ! &#x000A;&#x000A;#{@structure.name}
        .push-half--top
          = f.submit 'Envoyer ma demande', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }

= content_for :scripts do
  :javascript
      $(function() {
          $('#link-input').change(function() {
              $(this).val('#{structure_website_structure_url(@structure)}')
          });
          var button_code = $('#planning-button-wrapper').html().trim().replace(/\n/g, '').replace(/  /g, '');
          $('#webmaster-email-content').val($('#webmaster-email-content').val().replace('__CODE__', button_code.replace(/</g, '&lt;').replace(/>/g, '&gt;')));
          $('.html-code').val(button_code);
          $('#select-install').change(function() {
              $('.tab-pane').removeClass('active');
              $($(this).val()).addClass('active');
              $('#webmaster-form-wrapper textarea').trigger('autoresize:update');
              $.scrollTo($(window).scrollTop() + 100, { easing: 'easeOutCubic', duration: 200 })
          });
          $('[data-toggle=tab]').click(function() {
              setTimeout(function() {
                  $.scrollTo($($(this).attr('href')), { easing: 'easeOutCubic', duration: 500, offset: { top: -200 } });
              }.bind(this));
          })
      });

-# CSS Code for button image
-# .f-weight-600.white.bordered.inline-block.text--center{ style: 'margin: 0 auto; font-size: 22px; padding: 10px 30px; border-color: #D05C36; background: linear-gradient(to bottom, #FD7649 0%, #D05C36 100%); border-radius: 5px;' }
-#   Planning & Inscription
-#   %div{ style: 'margin-top: 2px;' }
-#     %div.inline-block.v-middle{ style: 'font-size: 12px; padding-top: 3px;' } avec
-#     = image_tag 'logos/logo_white.png', height: 15, class: 'v-middle'
