= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'website_planning_parameters' }

%h1.flush Inscriptions en ligne par CB
%p.epsilon
  %i Chaque transaction sera déduite des frais bancaires, les plus bas du marché : 1,8% + 0,25€ (soit 2€ pour 100€)

%h3 Inscription par carte bleue

- if @structure.stripe_managed_account_id.blank?
  %p.epsilon
    Pour pouvoir proposer l'inscription en ligne par carte bleue sur votre propre site Internet, paramétrez votre compte :

  .text--center
    = link_to 'Paramétrages des paiements par carte bleue', accept_payments_form_pro_structure_subscriptions_path(@structure), class: 'btn btn--green fancybox.ajax', data: { behavior: 'modal', padding: 0, width: 700 }

  - content_for :scripts do
    = javascript_include_tag 'https://js.stripe.com/v2/'
- else
  - if @structure.courses.without_open_courses.empty?
    %p.epsilon Vous n'avez pas d'activité sur votre planning :
    .text--center= link_to 'Ajouter une activité', pro_structure_courses_path(@structure), class: 'btn btn--green'
  - else
    %p.epsilon Cochez les activités pour lesquelles vous souhaitez ouvrir l'inscription par carte bleue :
    .soft--left
      - if @structure.courses.trainings.any?
        %h4.push--top.push-half--bottom Stages et ateliers
        .soft--left
          - @structure.courses.trainings.each do |course|
            = simple_form_for [:pro, @structure, course], url: pro_structure_course_path(@structure, course), as: :course, remote: true, data: { behavior: 'live-form' }do |f|
              = f.input :accepts_payment, as: :boolean, label: course.name, wrapper_html: { class: 'checkbox-at-left' }, input_html: { id: "accepts_payment_#{course.id}", value: course.accepts_payment }
      - if @structure.courses.lessons.any?
        %h4.push--top.push-half--bottom Cours collectifs
        .soft--left
          - @structure.courses.lessons.each do |course|
            = simple_form_for [:pro, @structure, course], url: pro_structure_course_path(@structure, course), as: :course, remote: true, data: { behavior: 'live-form' }do |f|
              = f.input :accepts_payment, as: :boolean, label: course.name, wrapper_html: { class: 'checkbox-at-left' }, input_html: { id: "accepts_payment_#{course.id}", value: course.accepts_payment }
      - if @structure.courses.privates.any?
        %h4.push--top.push-half--bottom Cours particuliers
        .soft--left
          - @structure.courses.privates.each do |course|
            = simple_form_for [:pro, @structure, course], url: pro_structure_course_path(@structure, course), as: :course, remote: true, data: { behavior: 'live-form' }do |f|
              = f.input :accepts_payment, as: :boolean, label: course.name, wrapper_html: { class: 'checkbox-at-left' }, input_html: { id: "accepts_payment_#{course.id}", value: course.accepts_payment }
