= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'website_planning' }

%h1 Planning sur votre site web

- if @structure.premium?
  - @structure.subscription.plan.website_plan?
    %p Félicitations ! Grâce à l'offre Site Internet, votre site Internet bénéficie d'une page planning optimisée pour vos activités.

    %p Le saviez-vous ? Suivez les statistiques de votre page planning depuis l'onglet [Statistiques]

    .text--center
      = link_to 'Voir ma page planning', structure_website_planning_url(subdomain: @structure.subdomain_slug), target: :_blank
  - else
    %p Equipez votre site Internet d'une page planning optimisée et augmentez votre nombre d'inscrits :

    %p 1. Créez un bouton ou une rubrique "Planning" sur votre site Internet

    %p
      2. Une fois votre [Planning] à jour sur CoursAvenue, copiez et associez le lien suivant à votre rubrique "Planning" :
      = link_to structure_website_planning_url(subdomain: @structure.subdomain_slug), structure_website_planning_url(subdomain: @structure.subdomain_slug), target: :_blank

    %p 3. C'est fait ! Suivez ensuite le nombre de visites et de demandes d'inscriptions depuis l'onglet [Statistiques]

- else
  %p
    Affichez une page planning optimisée mobiles et tablettes sur votre site Internet et augmentez votre nombre d'inscriptions.

  %p
    %strong Le saviez-vous ?
    %br
    La page Planning est la page la plus visitée de votre site web et la moitié des visites vient d'une mobile ou d'une tablette.

  .text--center
    = link_to 'Essayer gratuitement', pro_structure_subscriptions_path(@structure), class: 'btn btn--green'
  %ul
    %li Affichez un planning optimisé tous supports et mis à jour en temps réel
    %li Proposez l'inscription en ligne 7j/7, 24h/24 (plus de messages téléphoniques à devoir rappeler !)
    %li Faites payer vos activités par carte bleue et recevez l'argent en temps réel
