= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'website_planning' }

.flexbox
  .flexbox__item.v-top
    %h1 Planning sur votre site Internet
  .flexbox__item.v-top.text--right
    = link_to website_planning_parameters_pro_structure_path(@structure), class: 'btn btn--small soft--sides' do
      %i.fa.fa-cog
      Paramètres
%p.delta.line-height-1-3 Equipez votre site Internet d'une page planning optimisée qui a plusieurs avantages :

%ul.delta.line-height-1-5
  %li Elle convertit plus d'élèves qu'une page classique ;
  %li Elle est optimisée mobiles et tablettes et participe à votre référencement naturel ;
  %li Elle propose l'inscription en ligne, avec ou sans carte bleue, et vous envoie un SMS à chaque demande de réservation incluant les coordonnées complètes du participant.


%hr.push--ends
%h3 A quoi ressemble ma page planning ?
%p.delta.line-height-1-3 Cliquez sur ce bouton pour visualiser votre page planning :
#planning-button-wrapper.hidden
  <a target="_blank" style='display: block; text-align: center; margin: 0 auto;' href="#{structure_website_structure_url(@structure, subdomain: 'www')}">
  <img alt="Planning et inscription" height="65", width="229" style="height: 65px; width: 229px; margin: 0 auto; display: inline-block" src="https://dqggv9zcmarb3.cloudfront.net/external/coursavenue-planning-button.png">
  </a>
.text--center.push--bottom
  = link_to structure_website_structure_url(@structure), target: :_blank, class: 'inline-block center-block' do
    = image_tag 'https://dqggv9zcmarb3.cloudfront.net/external/coursavenue-planning-button.png', height: 65, width: 229, class: 'center-block', alt: 'Planning et inscription'

%hr.push--ends
%h3 Comment l'installer ?
-# %p.delta.line-height-1-3 Voici comment l'installer, c'est simple et rapide :

%ul.delta.line-height-1-3.flush--bottom
  %li Pour associer votre nouvelle page planning à une rubrique ou un bouton déjà existant sur votre site, associez le lien suivant :

.push--bottom.soft--left
  %input.f-weight-bold.bg-gray-light.push-half--top#link-input.text--center.one-whole.input--large{ value: structure_website_structure_url(@structure) }

%ul.delta.line-height-1-3
  %li
    Pour installer le bouton
    %strong « Planning & Inscription »
    CoursAvenue ci-dessus sur votre site Internet, choisissez votre guide :

.text--center.push--bottom
  %select.input--large#select-install
    %option{ value: '#empty' } Choisir mon guide d'installation
    %optgroup{ label: "Je souhaite que l'équipe CoursAvenue l'installe pour moi" }
      %option{ value: '#coursavenue-form-wrapper' } Envoyer les identifiants de mon site à l'équipe CoursAvenue
    %optgroup{ label: "Je souhaite demander à mon webmaster" }
      %option{ value: '#webmaster-form-wrapper' } Envoyer le code par e-mail
    %optgroup{ label: "Je souhaite l'installer moi-même" }
      %option{ value: '#webmaster-guide' } Mon site a été développé par un webmaster / Autre
      %option{ value: '#wordpress-guide' } J'utilise Wordpress
      %option{ value: '#overblog-guide' } J'utilise Overblog
      %option{ value: '#blogger-guide' } J'utilise Blogger
      %option{ value: '#wix-guide' } J'utilise Wix

= render partial: 'pro/structures/widget_installation_guides', locals: { show_button: false }

.gray-box.soft.relative.tab-pane#webmaster-form-wrapper
  = simple_form_for [:pro, @structure], method: :post, url: ask_webmaster_for_planning_pro_structure_path(@structure) do |f|
    .grid.push-half--bottom
      .grid__item.v-middle.three-twelfths.text--right.palm-one-whole>
        %h4.flush Email de votre webmaster
      .grid__item.v-middle.nine-twelfths.palm-one-whole>
        .grid
          .grid__item.three-quarters.v-middle.palm-one-whole>
            %input.input--large.one-whole{ name: 'email' }
      %hr.push-half--ends
    .grid
      .grid__item.three-twelfths.text--right.palm-one-whole>
        %h4 Message
      .grid__item.nine-twelfths.palm-one-whole>
        %textarea.input--large#webmaster-email-content.one-whole{ name: 'text', rows: 8, data: { behavior: 'autoresize' } }
          Bonjour,&#x000A;&#x000A;Je souhaiterais ajouter à mon site Internet la page planning de mes activités que j'ai générée grâce à CoursAvenue.com : pouvez-vous l'installer pour moi ?&#x000A;&#x000A;Je vous transmets toutes les informations nécessaires :&#x000A;&#x000A;Voici le code pour ajouter le bouton "Planning & inscription" dans ma rubrique planning :&#x000A;&#x000A;<div class="bg-gray-light soft-half bordered text--center push--bottom">__CODE__</div>&#x000A;&#x000A; Merci pour votre aide, à bientôt ! &#x000A;&#x000A;#{@structure.name}
        .push-half--top
          = f.submit 'Envoyer ma demande', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }

.gray-box.soft.relative.tab-pane#coursavenue-form-wrapper
  = simple_form_for [:pro, @structure], method: :post, url: ask_webmaster_for_planning_pro_structure_path(@structure) do |f|
    %input{ type:'hidden', name: 'email', value: 'contact@coursavenue.com' }
    .grid
      .grid__item.three-twelfths.text--right.palm-one-whole>
        %h4 Message
      .grid__item.nine-twelfths.palm-one-whole>
        %textarea.input--large#webmaster-email-content.one-whole{ name: 'text', rows: 8, data: { behavior: 'autoresize' } }
          Bonjour,&#x000A;&#x000A;Je souhaiterais ajouter à mon site Internet la page planning de mes activités que j'ai générée grâce à CoursAvenue.com : pouvez-vous l'installer pour moi ?&#x000A;&#x000A;Pour pouvoir vous connecter à mon site web et ajouter le planning, voici les informations :&#x000A;&#x000A;- Lien de mon site internet :&#x000A;- Prestataire de mon site web (ex. : Wordpress) :&#x000A;- Identifiant :&#x000A;- Mot de passe :&#x000A;- Informations sur l'endroit où installer le bouton "Planning & Inscription" :&#x000A;&#x000A;Merci pour votre aide, à bientôt !&#x000A;&#x000A;#{@structure.name}
        .push-half--top
          = f.submit 'Envoyer ma demande', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }

%hr.push--ends
%h3 Installer sur ma page Facebook
.text--center.push--bottom
  %a.btn{ onclick: '$("#facebook-call-to-action-guide").show(); $.scrollTo($("#facebook-call-to-action-guide"), { easing: "easeOutCubic", duration: 500, offset: { top: -200 } })'} Voir le guide

.hidden#facebook-call-to-action-guide
  = render 'pro/structures/guides/facebook_call_to_action'

= content_for :scripts do
  :javascript
      $(function() {
          $('#link-input').change(function() {
              $(this).val('#{structure_website_structure_url(@structure)}')
          });
          var button_code = $('#planning-button-wrapper').html().trim().replace(/\n/g, '').replace(/  /g, '');
          $('#webmaster-email-content').val($('#webmaster-email-content').val().replace('__CODE__', button_code.replace(/</g, '&lt;').replace(/>/g, '&gt;')));
          $('.html-code').val(button_code);
          $('#select-install').change(function() {
              $('.tab-pane').removeClass('active');
              $($(this).val()).addClass('active');
              $('textarea').trigger('autoresize:update');
              $.scrollTo($(window).scrollTop() + 100, { easing: 'easeOutCubic', duration: 200 });
          });
          $('[data-toggle=tab]').click(function() {
              setTimeout(function() {
                  $.scrollTo($($(this).attr('href')), { easing: 'easeOutCubic', duration: 500, offset: { top: -200 } });
              }.bind(this));
          })
      });

-# CSS Code for button image
-# .f-weight-600.white.bordered.inline-block.text--center{ style: 'margin: 0 auto; font-size: 22px; padding: 10px 30px; border-color: #D05C36; background: linear-gradient(to bottom, #FD7649 0%, #D05C36 100%); border-radius: 5px;' }
-#   Planning & Inscription
-#   %div{ style: 'margin-top: 2px;' }
-#     %div.inline-block.v-middle{ style: 'font-size: 12px; padding-top: 3px;' } avec
-#     = image_tag 'logos/logo_white.png', height: 15, class: 'v-middle'
