= side_menu_currently_at 'Communiquer'

.text--center.islet.white-box
  %h2.orange
    %i.icon-warning-sign
    En cours de réalisation
  %p
    C'est bientôt fini, promis !

- if current_pro_admin.super_admin?
  = render partial: 'pro/structures/communication_tabs', locals: {current: 'widget'}
  %h5.home-title
    Retrouvez votre livre d'or sur votre site !

  .grid
    .grid__item.one-half>
      .soft--right
        %h4
          %i.icon-cogs
          Configurez votre widget
        .white-box.islet
          .push--bottom
            %label.v-middle.inline-block{for: 'show-comments'} Afficher les derniers avis
            %input#show-comments{type: 'checkbox', checked: true}
          .push--bottom
            %label.inline{for: 'nb-comments'} Nombre d'avis à afficher
            %input.inline#nb-comments{style: 'width: 3em', type: 'number', checked: true, range: 1, min: 1, step: 1, value: 3}
          .push--bottom
            %label.v-middle.inline-block{for: 'show-new-comment'} Afficher un bouton pour laisser un avis
            %input#show-new-comment{type: 'checkbox', checked: true}

    .grid__item.one-half.bordered--left>
      %h4
        Aperçu
      %div{style: 'width: 400px'}
        #coursavenue-widget

  .grid
    .grid__item.one-half.text--center>
      = link_to "J'ai un site perso", 'javascript:void(0)', class: 'btn btn--large', id: 'personal-website'
    .grid__item.one-half.text--center>
      = link_to "J'ai wordpress", 'javascript:void(0)', class: 'btn btn--large', id: 'wordpress-website'

  #wordpress-guide.hidden
    %h4.text--center Où voulez-vous affichez vos avis ?
    .grid
      .grid__item.one-half.text--center.v-middle>
        = link_to "Sur une nouvelle page", 'javascript:void(0)', class: 'btn btn--large', id: 'wordpress-new-page-link'
      .grid__item.one-half.text--center.v-middle>
        = link_to "Sur la barre latérale", 'javascript:void(0)', class: 'btn btn--large', id: 'wordpress-lateral-link'

    #wordpress-new-page.hidden
      %h5.push--top Étape 1 : Accédez à votre espace admin
      %p
        Connectez vous à votre espace personnel Wordpress :
        = link_to 'Accéder à wordpress', 'https://fr.wordpress.com/wp-login.php'

      %h5 Étape 2 : Créez une nouvelle page
      %p Dans la barre latérale de gauche cliquez sur <strong>« Pages »</strong> / <strong>« Ajouter »</strong>
    #wordpress-lateral.hidden

  #webmaster-code.hidden
    .white-box.islet.push--top
      .grid
        .grid__item.one-half.text--center.v-middle>
          %p
            Code à donner à votre webmaster :
          %textarea.one-whole#code{rows: 7, style: 'font-size: 12px'}
            window.onload = function() {var coursavenue_widget_div = document.getElementById('coursavenue-widget'); $.ajax({ url: "#{widget_ext_pro_structure_url(@structure, format: :json, subdomain: 'pro')}", dataType: 'json', success: function(response) { coursavenue_widget_div.innerHTML = response.html;}});}
        .grid__item.one-half.text--center.v-middle>
          %p.push-half--top
            = link_to 'Envoyer le code à votre webmaster par email', 'mailto:?subject=Code widget CoursAvenue à mettre sur mon site Internet&body=', class: 'btn btn--blue', id: 'send-link-by-email'

  - content_for :scripts do
    :javascript
      $(function() {
          $('#personal-website').click(function(){
            $('#wordpress-guide').hide();
            $('#webmaster-code').show();
          });
          $('#wordpress-website').click(function(){
            $('#webmaster-code').hide();
            $('#wordpress-guide').show();
          });
          $('#wordpress-new-page-link').click(function(){
              $('#wordpress-new-page').show();
              $('#wordpress-lateral').hide();
          });
          $('#wordpress-lateral-link').click(function(){
              $('#wordpress-new-page').hide();
              $('#wordpress-lateral').show();
          });

          var code = "<div id='coursavenue-widget'></div><script>window.onload = function() {var coursavenue_widget_div = document.getElementById('coursavenue-widget');var request = new XMLHttpRequest();request.open('GET', '__URL__', false);request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');request.send(null);if(request.status == 200) {coursavenue_widget_div.innerHTML = request.responseText;}}</script";
          var load_widget,
              coursavenue_widget_div = $('#coursavenue-widget'),
              params = {last_comments: true, nb_comments: 3, show_new_comment: true};
          $('#show-new-comment').change(function() {
              params['show_new_comment'] = this.checked;
              load_widget();
          });
          $('#show-comments').change(function() {
              params['last_comments'] = this.checked;
              load_widget();
          });
          $('#nb-comments').change(function() {
              params['nb_comments'] = this.value;
              load_widget();
          });
          load_widget = function() {
              var url      = "#{widget_ext_pro_structure_url(@structure, format: :json, subdomain: 'pro')}";
              var new_code = code.replace('__URL__', url) + '>';
              url += '?last_comments='    + params['last_comments'];
              url += '&show_new_comment=' + params['show_new_comment'];
              if (params['last_comments'] && params['last_comments'] == true) {
                url += '&nb_comments=' + params['nb_comments'];
              }
              $('#code').val(new_code);
              $.ajax({
                  url: url,
                  dataType: 'text',
                  success: function(response) {
                    coursavenue_widget_div.html(response);
                  }
              });
          };
          load_widget();
      });

  -# #coursavenue-widget
  -# :javascript
  -#   window.onload = function() {
  -#     var coursavenue_widget_div = document.getElementById('coursavenue-widget');
  -#     var request = new XMLHttpRequest();
  -#     request.open('GET', "#{widget_ext_pro_structure_url(@structure, last_comments: true, nb_comments: 3, format: :json, subdomain: 'pro')}", false);
  -#     request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  -#     request.send(null);
  -#     if(request.status == 200) {
  -#       coursavenue_widget_div.innerHTML = request.responseText;
  -#     }
  -#   }
