= side_menu_currently_at 'Journées Portes Ouvertes'
= render 'pro/structures/widget_jpo_inline_css'

.panel
  = render partial: 'pro/structures/open_courses/tabs', locals: { current: 'widget' }
  .panel__body.soft
    %h5.push--top Annoncez vos Portes Ouvertes sur votre propre site Internet
    .alert.alert--info
      %ul.flush--bottom
        %li Communiquez sur vos Portes Ouvertes sur votre propre site Internet et invitez vos visiteurs : c'est l'occasion de faire vivre votre site grâce à de l'actualité et du contenu uniques. Pour cela, installez gratuitement votre bannière CoursAvenue pour annoncer l'événement sur votre page d'accueil, sur les pages dédiées aux plannings, etc.
        %li Pour installer cette bannière, cliquez sur l'un des boutons bleus ci-dessous, et laissez-vous guider : c'est simple et rapide !

    %h5.push--top Aperçu de la bannière à afficher sur votre site

    .center-block{style: 'width: 400px'}
      #coursavenue-widget-jpo

    %h5.push--top Installez le code sur votre site
    = render 'pro/structures/widget_installation_guides'

    %div{style: 'margin-bottom: 300px;'}
    #coursavenue-link-to-remove-wrapper.hidden>
      = link_to "Cours de #{@structure.subjects.map{|subj| subj.name.downcase}.join(', ')} sur CoursAvenue", structure_url(@structure, subdomain: 'www'), title: "Cours de #{@structure.subjects.map{|subj| subj.name.downcase}.join(', ')} sur CoursAvenue", style: 'border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;'

- content_for :scripts do
  :javascript
    $(function() {
        var inlineCSS = function() {
            // Accessing the last style link tag and inline it
            var rules = document.styleSheets[document.styleSheets.length - 1].cssRules;
            for (var idx = 0, len = rules.length; idx < len; idx++) {
                $(rules[idx].selectorText).each(function (i, elem) {
                    elem.style.cssText += rules[idx].style.cssText;
                });
            }
        }
        var code = $('#coursavenue-link-to-remove-wrapper').html() + "<div id='coursavenue-widget-jpo'>&nbsp;</div><script>window.onload = function() {var coursavenue_widget_div = document.getElementById('coursavenue-widget-jpo');var request = new XMLHttpRequest();request.open('GET', '__URL__', false);request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');request.send(null);if(request.status == 200) {coursavenue_widget_div.innerHTML = request.responseText;}}</script";
        var load_widget,
            coursavenue_widget_div = $('#coursavenue-widget-jpo'),
            params = {last_comments: true, nb_comments: 3, show_new_comment: true};
        $('#show-comments').change(function() {
            params['last_comments'] = this.checked;
            load_widget();
        });
        $('#nb-comments').change(function() {
            params['nb_comments'] = this.value;
            load_widget();
        });
        load_widget = function() {
            var url = "#{widget_jpo_ext_pro_structure_url(@structure, format: :json, subdomain: (Rails.env.staging? ? 'pro.staging' :'pro'))}",
                new_code;
            new_code = code.replace('__URL__', url) + '>';
            $('.ajax-code').val(new_code.replace(/\s+/g, ' '));
            $.ajax({
                url: url,
                dataType: 'text',
                data: {
                  not_ajax: true
                },
                success: function(response) {
                  coursavenue_widget_div.html(response);
                  inlineCSS();
                  $('.html-code').val($('#coursavenue-widget-jpo').parent().html().replace(/\s+/g, ' '));
                }
            });
        };
        load_widget();
    });

