= side_menu_currently_at 'Communiquer'
= render '/pro/structures/widget_inline_css'

= render partial: 'pro/structures/communication_tabs', locals: {current: 'widget'}
.islet.white-box
  %h2.blue.push-half--bottom Vos recommandations visibles sur votre site internet
  %p.alert--info
    Affichez votre livre d'or interactif sur votre propre site Internet ou blog en quelques minutes seulement. C'est très simple : suivez les 2 étapes ci-dessous pour installer ce qu'on appelle un "widget". Voici l'exemple d'un partenaire qui l'a installé en 2min :
    = link_to "exemple de livre d'or.", 'http://bes.oud-academy.com/index.php/temoignages', target: '_blank'

%h5.home-title Étape 1 : Configurez votre livre d'or

.grid.push--bottom
  .grid__item.one-half>
    .soft--right
      %h4
        %i.fa.fa-cogs
        Configuration
      .white-box.islet
        .push--bottom
          %label.v-middle.inline-block{for: 'show-comments'} Afficher les derniers avis
          %input#show-comments{type: 'checkbox', checked: true}
        %div
          %label.inline{for: 'nb-comments'} Nombre d'avis à afficher
          %input.inline#nb-comments{style: 'width: 3em', type: 'number', checked: true, range: 1, min: 1, step: 1, value: 3}

  .grid__item.one-half.bordered--left>
    %h4
      Aperçu
    %div{style: 'width: 400px'}
      #coursavenue-widget


%h5.push--top.home-title Étape 2 : Installez le livre d'or sur votre site
.grid
  .grid__item.one-quarter.text--center>
    = link_to '#wordpress-guide', class: 'btn btn--blue btn--full', data: {toggle: 'tab'} do
      = image_tag 'logos/wordpress.png', height: 50
      %br
      .soft-half--top J'utilise wordpress
  .grid__item.one-quarter.text--center>
    = link_to '#overblog-guide', class: 'btn btn--blue btn--full', data: {toggle: 'tab'} do
      = image_tag 'logos/overblog.png', height: 50
      %br
      .soft-half--top J'utilise Overblog
  .grid__item.one-quarter.text--center>
    = link_to '#wix-guide', class: 'btn btn--blue btn--full', data: {toggle: 'tab'} do
      = image_tag 'logos/wix.png', height: 25, style:'margin-top: 13px; margin-bottom: 12px;'
      %br
      .soft-half--top J'utilise WIX
  .grid__item.one-quarter.text--center>
    = link_to "J'ai un site perso / autre blog", '#webmaster-code', class: 'btn btn--large btn--blue', data: {toggle: 'tab'}, style:'padding: 33px; font-size: 14px;'

.tab-content
  #wordpress-guide.tab-pane
    %h4.text--center.push--top Où voulez-vous affichez votre livre d'or ?
    .grid
      .grid__item.one-half.text--center.v-middle>
        = link_to "Sur une nouvelle page", '#wordpress-new-page', class: 'btn btn--large', data: {toggle: 'tab'}
      .grid__item.one-half.text--center.v-middle>
        = link_to "Sur la barre latérale", '#wordpress-lateral', class: 'btn btn--large', data: {toggle: 'tab'}

    #wordpress-new-page.tab-pane
      .white-box.islet.push--top
        %h3.text--center Guide d'installation
        %h5.push--top Étape 1 : Accédez à votre espace admin
        %p
          Connectez-vous à votre espace personnel Wordpress en cliquant sur le lien suivant :
          = link_to 'Me connecter à mon espace wordpress', 'https://fr.wordpress.com/wp-login.php', target: '_blank', rel: 'nofollow', class: 'btn btn--blue btn--small'

        %h5.push--top Étape 2 : Créez une nouvelle page
        %p Dans la barre latérale de gauche cliquez sur <strong>« Pages »</strong> / <strong>« Ajouter »</strong>.
        = image_tag 'pro/wordpress-guide/page-step-1.png'

        %h5.push--top Étape 3 : Cliquez sur « Texte »
        %p Donnez un nom à votre page puis cliquez sur l'onglet <strong>« Texte »</strong> en haut à droite.
        = image_tag 'pro/wordpress-guide/page-step-2.png'

        %h5.push--top Étape 4 : Copiez le code
        %p Copiez et collez le texte suivant, publiez et c'est fini !
        %textarea.html-code.one-whole.push--bottom{rows: 10, style: 'font-size: 12px'}}
        = image_tag 'pro/wordpress-guide/page-step-3.png'
        %h4.text--center.push--ends Et voilà, c'est fini !

    #wordpress-lateral.tab-pane
      .white-box.islet.push--top
        %h3.text--center Guide d'installation
        %h5.push--top Étape 1 : Accédez à votre espace admin
        %p
          Connectez-vous à votre espace personnel Wordpress en cliquant sur le lien suivant :
          = link_to 'Me connecter à mon espace wordpress', 'https://fr.wordpress.com/wp-login.php', target: '_blank', rel: 'nofollow', class: 'btn btn--blue btn--small'

        %h5.push--top Étape 2 : Allez dans la section « Widgets »
        %p Dans la barre latérale de gauche cliquez sur <strong>« Apparence »</strong> / <strong>« Widgets »</strong>.
        = image_tag 'pro/wordpress-guide/side-step-1.png', class: 'center-block'

        %h5.push--top Étape 3 : Choisissez le widget « Texte »
        %p Dans la liste des widgets disponibles, choisissez le widget « Texte » et glissez le en haut à droite de l'écran dans la <strong>« Zone de Sidebar »</strong>.
        = image_tag 'pro/wordpress-guide/side-step-2.png'
        = image_tag 'pro/wordpress-guide/side-step-3.png'

        %h5.push--top Étape 4 : Copiez le code
        %p Choisissez un titre, copiez et collez le texte suivant, et c'est fini !
        %textarea.html-code.one-whole.push--bottom{rows: 10, style: 'font-size: 12px'}}
        = image_tag 'pro/wordpress-guide/side-step-4.jpg'
        %h4.text--center.push--ends Et voilà, c'est fini !

  #wix-guide.tab-pane
    .white-box.islet.push--top
      %h3.text--center Guide d'installation
      %hr
      %h5.push--top Étape 1 : Ajoutez une « Apps »
      = image_tag 'pro/wix-guide/page-step-1.png', class: 'center-block'
      %hr
      %h5.push--top Étape 2 : Choissez « HTML »
      = image_tag 'pro/wix-guide/page-step-2.png', class: 'center-block'
      %hr
      %h5.push--top Étape 3 : Configurez votre « Apps »
      = image_tag 'pro/wix-guide/page-step-3.png', class: 'center-block'
      = image_tag 'pro/wix-guide/page-step-4.png', class: 'center-block'
      %hr
      %h5.push--top Étape 4 : Copiez le code
      %p Choisissez un titre, copiez et collez le texte suivant, et c'est fini !
      %textarea.html-code.one-whole.push--bottom{rows: 10, style: 'font-size: 12px'}}
      %h4.text--center.push--ends Et voilà, c'est fini !
      = image_tag 'pro/wix-guide/page-step-5.png', class: 'center-block'

  #overblog-guide.tab-pane
    %h4.text--center.push--top À quoi ressemble votre interface Overblog ?
    .white-box.islet
      .grid
        .grid__item.one-half>
          = link_to '#overblog-new', data: {toggle: 'tab'} do
            = image_tag 'pro/overblog-guide/overblog-new.jpg'
        .grid__item.one-half>
          = link_to '#overblog-old', data: {toggle: 'tab'} do
            = image_tag 'pro/overblog-guide/overblog-old.jpg'

    #overblog-new.tab-pane
      .white-box.islet.push--top
        %h3.text--center Guide d'installation
        %h5.push--top Étape 1 : Accédez à votre espace admin
        %p
          Connectez-vous à votre espace personnel Overblog en cliquant sur le lien suivant :
          = link_to 'Me connecter à mon espace Overblog', 'https://connect.over-blog-kiwi.com/en/login', target: '_blank', rel: 'nofollow'

        %h5.push--top Étape 2 : Allez dans la « Liste de vos pages »
        %p Dans le menu du haut, passez la souris sur <strong>« Publier »</strong>, puis cliquez sur <strong>« Liste des pages »</strong>.
        = image_tag 'pro/overblog-guide/page-old-step-1.jpg', class: 'center-block'

        %h5.push--top Étape 3 : Créez une nouvelle page
        %p Dans la barre de gauche, cliquez sur le bouton <strong>« Écrire une nouvelle page »</strong>.
        = image_tag 'pro/overblog-guide/page-old-step-2.jpg', class: 'center-block'

        %h5.push--top Étape 4 : Copiez le code
        %p Choisissez un titre, sélectionnez le mode <strong>« Avancé »</strong>, puis cliquez sur le bouton <strong>« HTML »</strong> et enfin, collez le code suivant.

        %textarea.ajax-code.one-whole.push--bottom{rows: 7, style: 'font-size: 12px'}}
        = image_tag 'pro/overblog-guide/page-old-step-3.jpg'
        %hr
        = image_tag 'pro/overblog-guide/page-old-step-4.jpg'

        %h5.push--top Allez en bas de la page, publiez et c'est fini !
        = image_tag 'pro/overblog-guide/page-old-step-5.jpg'
        %h4.text--center.push--ends Et voilà, c'est fini !

    #overblog-old.tab-pane
      .white-box.islet.push--top
        %h3.text--center Guide d'installation
        %h5.push--top Étape 1 : Accédez à votre espace admin
        %p
          Connectez-vous à votre espace personnel Overblog en cliquant sur le lien suivant :
          = link_to 'Me connecter à mon espace Overblog', 'https://connect.over-blog-kiwi.com/en/login', target: '_blank', rel: 'nofollow', class: 'btn btn--blue btn--small'

        %h5.push--top Étape 2 : Créez une nouvelle page
        %p Dans le menu du haut, cliquez sur <strong>« Publier »</strong>.
        = image_tag 'pro/overblog-guide/page-new-step-1.jpg', class: 'center-block'

        %h5.push--top Étape 3 : Ajoutez une section « HTML »
        %p Choisissez un titre, ajoutez une section <strong>« HTML »</strong>.
        = image_tag 'pro/overblog-guide/page-new-step-2.jpg'

        %h5.push--top Étape 4 : Copiez le code
        %textarea.ajax-code.one-whole.push--bottom{rows: 7, style: 'font-size: 12px'}}
        = image_tag 'pro/overblog-guide/page-new-step-3.jpg'

        %h5.push--top Publiez et c'est fini !
        = image_tag 'pro/overblog-guide/page-new-step-4.jpg'
        %h4.text--center.push--ends Et voilà, c'est fini !

  #webmaster-code.tab-pane
    .white-box.islet.push--top
      .grid
        .grid__item.one-half.v-middle>
          %p
            Pour le faire sans votre webmaster, lors de l'édition de vos pages / articles, cherchez à éditer votre text en
            %strong « HTML »
            ou cherchez un bouton qui ressemble à :
            %strong « <> »
        .grid__item.one-half.v-middle>
          .text--center= image_tag 'pro/other/other.jpg'
    .white-box.islet.push--top
      .grid
        .grid__item.one-half.text--center.v-middle>
          %p.text--left
            Copiez le code ci-dessous à envoyer à votre webmaster :
          %textarea.one-whole.ajax-code{rows: 7, style: 'font-size: 12px'}
        .grid__item.one-half.text--center.v-middle>
          %p.push-half--top
            = link_to 'Envoyer le code à votre webmaster par email', 'mailto:?subject=Code widget CoursAvenue à mettre sur mon site Internet&body=', class: 'btn btn--blue', id: 'send-link-by-email'

    .white-box.islet.push--top
      %h5 Si le code ci-dessus ne marche pas, essayez le suivant :
      %p Copiez et collez le texte suivant :
      %textarea.html-code.one-whole.push--bottom{rows: 10, style: 'font-size: 12px'}}


%div{style: 'margin-bottom: 300px;'}
#coursavenue-link-to-remove-wrapper.hidden>
  = link_to "Cours de #{@structure.subjects.map{|subj| subj.name.downcase}.join(', ')} sur CoursAvenue", structure_url(@structure, subdomain: 'www'), title: "Cours de #{@structure.subjects.map{|subj| subj.name.downcase}.join(', ')} sur CoursAvenue", style: 'border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;'

- content_for :scripts do
  :javascript
    $(function() {
        var inlineCSS = function() {
            // Accessing the last style link tag and inline it
            var rules = document.styleSheets[document.styleSheets.length - 1].cssRules;
            for (var idx = 0, len = rules.length; idx < len; idx++) {
                $(rules[idx].selectorText).each(function (i, elem) {
                    elem.style.cssText += rules[idx].style.cssText;
                });
            }
        }
        var code = $('#coursavenue-link-to-remove-wrapper').html() + "<div id='coursavenue-widget'>&nbsp;</div><script>window.onload = function() {var coursavenue_widget_div = document.getElementById('coursavenue-widget');var request = new XMLHttpRequest();request.open('GET', '__URL__', false);request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');request.send(null);if(request.status == 200) {coursavenue_widget_div.innerHTML = request.responseText;}}</script";
        var load_widget,
            coursavenue_widget_div = $('#coursavenue-widget'),
            params = {last_comments: true, nb_comments: 3, show_new_comment: true};
        $('#show-comments').change(function() {
            params['last_comments'] = this.checked;
            load_widget();
        });
        $('#nb-comments').change(function() {
            params['nb_comments'] = this.value;
            load_widget();
        });
        load_widget = function() {
            var url      = "#{widget_ext_pro_structure_url(@structure, format: :json, subdomain: 'pro')}",
                new_code;
            url += '?last_comments='    + params['last_comments'];
            url += '&show_new_comment=' + params['show_new_comment'];
            if (params['last_comments'] && params['last_comments'] == true) {
              url += '&nb_comments=' + params['nb_comments'];
            }
            new_code = code.replace('__URL__', url) + '>';
            $('.ajax-code').val(new_code.replace(/\s+/g, ' '));
            $.ajax({
                url: url,
                dataType: 'text',
                data: {
                  not_ajax: true
                },
                success: function(response) {
                  coursavenue_widget_div.html(response);
                  inlineCSS();
                  $('.html-code').val($('#coursavenue-widget').parent().html().replace(/\s+/g, ' '));
                }
            });
        };
        load_widget();
    });

  -# #coursavenue-widget &nbsp;
  -# :javascript
  -#   window.onload = function() {
  -#     var coursavenue_widget_div = document.getElementById('coursavenue-widget');
  -#     var request = new XMLHttpRequest();
  -#     request.open('GET', "#{widget_ext_pro_structure_url(@structure, last_comments: true, nb_comments: 3, format: :json, subdomain: 'pro')}", false);
  -#     request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  -#     request.send(null);
  -#     if(request.status == 200) {
  -#       coursavenue_widget_div.innerHTML = request.responseText;
  -#     }
  -#   }
