= side_menu_currently_at 'communicate'
= render '/pro/structures/widget_inline_css'

= render partial: 'pro/structures/communication_tabs', locals: {current: 'widget'}

%h1 Vos recommandations visibles sur votre site internet
%p.delta.line-height-1-3
  Affichez votre livre d'or interactif sur votre propre site Internet ou blog en quelques minutes seulement. C'est très simple : suivez les 2 étapes ci-dessous pour installer ce qu'on appelle un "widget".
  Voici quelques exemple de partenaires qui l'ont installé en 2min !
  = link_to "Voir des exemples de livres d'Or.", pro_pages_widget_path, target: '_blank'

= render "widget_instruction"
