= simple_form_for [:admin, @article], as: :blog_article, url: (@article.new_record? ? admin_blog_articles_path : admin_blog_article_path(@article)) do |f|
  .text--center
    - if @article.image.present?
      = image_tag @article.image.url(:default), width: 400, data: { placeholder: true }
    - else
      %img{ width: 400, data: { placeholder: true } }
  = f.filepicker_field :remote_image_url, multiple: false, button_text: 'Ajouter une photo', button_class: 'btn btn--green btn--full btn--large fa', services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: false

  = f.input :published, input_html: { class: 'input--large one-whole' }, wrapper_html: { class: 'push--bottom' }, label: 'Article publié', label_html: { class: 'label--large' }

  .input.input-daterange.input-group
    %label.label--large.required.control-label{ for: 'published_date' }> Date de publication
    %input.input-sm.input--large.datepicker-input#published_date{ type: 'text', value: (@article.published_at.nil? ? '' : l(@article.published_at.to_date)), name: 'blog_article[published_at]', data: { behavior: 'datepicker' } }

  = f.input :author_id, as: :select, collection: Blog::Author.all, input_html: { class: 'input--large' }, label: 'Auteur', label_html: { class: 'label--large' }
  = f.input :category_id, as: :select, collection: @categories, input_html: { class: 'input--large' }, label: 'Catégorie', label_html: { class: 'label--large' }
  = f.input :tag_list, input_html: { class: 'input--large one-whole' }, label: false
  = f.input :page_title, label: false, input_html: { class: 'input--large one-whole' }
  = f.input :title, label: false, input_html: { class: 'input--large one-whole' }
  %p.flush.epsilon Environ 155 caractères
  = f.input :page_description, input_html: { class: 'input--large one-whole', data: { behavior: 'text-counter', characters: true, 'good-words-nb' => 155, 'bad-text' => 'Allez Camille, tu y es presque !', 'good-text' => 'Wouhou!!! Well done!', 'average-words-nb' => 'Almost there!' } }, label: false
  = f.input :description, label: false, input_html: { class: 'input--large one-whole' }
  = f.association :subjects, as: :select, collection: Subject.all, input_html: { class: 'input--large one-whole', id: 'parent-subjects', data: { behavior: 'chosen', placeholder: 'Disciplines associée' }, multiple: true }, label: false, label_method: lambda{|subj| subj.name }, wrapper_html: { class: 'flush--bottom' }, label_html: { class: 'label--large' }

  = f.input :content, label: false, input_html: { class: 'one-whole' }

  = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours...' }

= content_for :scripts do
  = javascript_include_tag '//cdn.ckeditor.com/4.4.4/standard/ckeditor.js'
  = filepicker_js_include_tag

  :javascript
      $(document).ready(function() {
          CKEDITOR.replace('blog_article[content]', {
              customConfig: '#{asset_path('ckeditor/config.js')}'
          });
      });
      $('#blog_article_remote_image_url').change(function(event) {
          $('img[data-placeholder]').attr('src', event.originalEvent.fpfile.url);
      });
      // Prevent the backspace key from navigating back.
      $(document).unbind('keydown').bind('keydown', function (event) {
          var doPrevent = false;
          if (event.keyCode === 8) {
              var d = event.srcElement || event.target;
              if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'PASSWORD' || d.type.toUpperCase() === 'FILE' || d.type.toUpperCase() === 'EMAIL' ))
                   || d.tagName.toUpperCase() === 'TEXTAREA') {
                  doPrevent = d.readOnly || d.disabled;
              }
              else {
                  doPrevent = true;
              }
          }

          if (doPrevent) {
              event.preventDefault();
          }
      });
