= side_menu_currently_at 'pro_discovery_pass'
.panel
  = render partial: 'pro/shared/discovery_passes_tabs', locals: { current: "sponsorships" }
  .panel__body.soft
    .text--center.push-half--ends= paginate @sponsorships, window: 1, outer_window: 3
    %table.table--striped.table--data
      %thead
        %tr
          %th Nom de l'élève
          %th Nombre de personnes parrainées
          %th Nombre de parrainages réussis
          %th Total gagné
      %tbody
        - @sponsorships.group_by(&:user).each do |user, sponsorships|
          %tr
            %td= user.name
            %td= sponsorships.count
            %td= sponsorships.count
            %td= "#{user.sponsorships.count * user.sponsorships.first.credit_for_sponsorer}€"

    .text--center.push-half--ends= paginate @sponsorships, window: 1, outer_window: 3
