#inscription-confirmed-popup.hidden{style: 'max-width: 600px;'}
  %h4.text--center
    - if @participation.planning.places_left?
      Il ne reste plus que
      %span.green#places-left #{pluralize(@participation.planning.places_left, 'place')}
      pour l'atelier auquel vous participez : invitez vos proches à y participer !
    - else
      Invitez vos proches à participer aux Portes Ouvertes CoursAvenue !

  %h5
    %i.fa.fa-envelope-o
    Envoyez une invitation personnalisée
  = form_tag(bulk_create_jpo_user_invited_users_path(@user), method: :post, id: 'invite-user-form') do
    = hidden_field :structure, :id, value: @structure.id
    %h5.flush À :
    %p.flush.blue
      %span.italic.blue{data: {behavior: 'tooltip', title: "Nous considérons que vos coordonnées et adresses de courrier électronique constituent des données confidentielles, et nous nous engageons à ne pas les divulguer. Conformément à l'article 27 de la loi \"Informatique et Liberté\" du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification des informations vous concernant."}}
        %i.fa.fa-question-circle
        Entrez les e-mails de vos proches (gardés confidentiels) dans cet encadré (amis, familles, collègues, etc.) pour les inviter aux Journées Portes Ouvertes.
    %textarea.milli.one-whole{style: 'height: 50px', name: 'emails', rows: 8, placeholder: 'Ex. : patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}

    %h5.flush--bottom.push-half--top Message :
    %p.flush.blue
      %i Personnalisez le texte ci-dessous puis envoyez votre invitation.
    %textarea.milli.one-whole{ class: 'f-size-12', style: 'height: 125px', name: 'text', rows: 8 }
      Salut !&#x000A;Le week-end du 5-6 avril prochain, #{@structure.name} ouvre ses portes à travers des ateliers gratuits. Je me suis inscrit à l'atelier "#{@participation.course.name}" du #{planning_date_for(@participation.planning)} #{planning_time_for(@participation.planning, false)} et je te transmets cette invitation pour que tu puisses t'inscrire aussi. Ça se passera à l'adresse suivante : #{@participation.planning.place.address}.
    %p.gray-light.flush
      = link_to 'Lien que recevront mes proches', jpo_structure_url(@structure), target: :_blank
      %br
      À très bientôt,

    .grid--full
      .grid__item.two-twelfths.soft-half--right>
        %a.btn.btn--full{onclick: 'javascript:$.fancybox.close();'} Non merci
      .grid__item.ten-twelfths>
        = submit_tag 'Envoyer mon invitation', class: 'btn btn--green btn--full'
