#inscription-confirmed-popup.hidden{style: 'max-width: 800px;'}
  .flexbox.alert--success.one-whole.flush
    .flexbox__item.v-middle.soft--right>
      %i.fa.fa-check.fa-3x
    .flexbox__item.v-middle>
      %h2.flush Inscription confirmée
      %h4.flush Une confirmation vous a été envoyée par e-mail.

  %h6.text--center
    Il ne reste plus que #{pluralize(@participation.planning.places_left, 'places')} pour l'atelier auquel vous participez : invitez vos proches à y participer !

  = form_tag(bulk_create_jpo_user_invited_users_path(current_user), method: :post, id: 'invite-user-form') do
    = hidden_field :structure, :id, value: @structure.id
    .grid.push-half--top
      .grid__item.one-half>
        %h4.flush À :
        %p.flush.blue
          %i Entrez les e-mails vos proches dans cet encadré (amis, familles, collègues, etc.) pour les inviter aux Journées Portes Ouvertes.
        %textarea.milli.one-whole{style: 'height: 120px', name: 'emails', rows: 8, placeholder: 'Ex. : patrick@gmail.com, thomas@wanadoo.fr', data: {behavior: 'autoresize'}}

      .grid__item.one-half>
        %h4.flush Message :
        %p.flush.blue
          %i Personnalisez le texte ci-dessous puis envoyez votre invitation.
        %br
        %textarea.milli.one-whole{style: 'height: 120px', name: 'text', rows: 8, data: {behavior: 'autoresize'}}
          Salut !&#x000A;&#x000A;Le week-end du 5-6 avril prochain, #{@structure.name} ouvre ses portes à travers des ateliers gratuits. Je me suis inscrit à l'atelier du #{planning_date_for(@participation.planning)} #{planning_time_for(@participation.planning, false)} et je te transmets cette invitation pour que tu puisses t'inscrire aussi.
        %p.gray-light.flush
          = link_to 'Lien que recevront mes proches', jpo_structure_url(@structure), target: :_blank
          %br
          À très bientôt,

    .grid
      .grid__item.two-twelfths>
        %a.btn.btn--full{onclick: 'javascript:$.fancybox.close();'} Non merci
      .grid__item.ten-twelfths>
        = submit_tag 'Envoyer mon invitation', class: 'btn btn--green btn--full'

  .push--top.push-half--bottom
    %strong Ou par Facebook et Twitter :
  .grid
    .grid__item.one-half>
      .share-on-facebook.btn.btn--full.btn--facebook Partager sur Facebook
    .grid__item.one-half>
      .share-on-twitter.btn.btn--full.btn--twitter.btn--small Partager sur Twitter

- content_for :scripts do
  :javascript
    $(function() {
        $.fancybox($('#inscription-confirmed-popup'));
    });
