= user_menu_currently_at 'Mes cours'

%h2 Mes inscriptions pour les Journées Portes Ouvertes des cours de loisirs
%h3 Mes inscriptions confirmées

- @participations.each do |participation|
  - course = participation.course
  .white-box.islet
    .flexbox
      .flexbox__item.two-twelfths>
        = image_tag participation.structure.logo, class: 'block'
      .flexbox__item.five-twelfths.v-top>
        %h4.flush= course.name
        - if course.other_event_type?
          = "(#{course.event_type_description})"
        - elsif course.event_type.present?
          = "(#{course.event_type})"
        %strong= link_to participation.structure.name, structure_path(participation.structure), class: 'semi-muted-link'
        %p
          = "#{join_audiences participation.planning} / #{join_levels participation.planning.levels}"
        - if course.description.present?
          %p
            %strong Description
            %br
            = course.description
        - if course.info.present?
          %p
            %strong Infos pratique au cours
            %br
            = course.info
      .flexbox__item.three-twelfths.text--center.v-middle>
        .delta.bold
          = l(participation.planning.start_date, format: :semi_long).capitalize
          %br
        .epsilon
          = "De #{l(participation.planning.start_time, format: :short)} à #{l(participation.planning.end_time, format: :short)}"
          = add_to_calendar(participation)
      .flexbox__item.two-twelfths>
        = link_to "http://maps.google.com/?q=#{participation.planning.place.location.address}", target: :_blank, class: 'block' do
          %img.one-whole.block{src:"http://maps.googleapis.com/maps/api/staticmap?center=#{participation.planning.place.location.latitude},#{participation.planning.place.location.longitude}&zoom=14&size=200x130&sensor=false&markers=#{participation.planning.place.location.latitude},#{participation.planning.place.location.longitude}"}
        %p
          %i= participation.planning.place.location.address
          %br
          = link_to 'Je ne pourrai pas venir, me désinscrire', user_participation_path(current_user, participation), method: :delete, data: {confirm: 'Êtes-vous sur de vous désinscrire ce créneau ?'}
