= user_menu_currently_at 'Mes cours'

.panel
  = render partial: 'users/participations/tabs', locals:{ current: 'jpo'}
  .panel__body.soft
    %h2 Mes inscriptions pour les Journées Portes Ouvertes

    .alert--info.one-whole.push--bottom.print--hidden
      %ul.flush--bottom
        %li
          L'objectif des Journées Portes Ouvertes est de permettre au plus grand nombre de découvrir gratuitement leurs passions le temps d'un week-end. Si vous souhaitez participer avec vos proches, réservez votre atelier, puis envoyez-leurs votre invitation.
        %li Pour les ateliers pour enfants, une inscription comprend 2 places (1 adulte + 1 enfant).

    - if @participations.any?

      - @participations.each do |participation|
        - course = participation.course
        - place  = participation.planning.place
        .gray-box.soft.push--bottom
          - if participation.waiting_list?
            %h4.text--center.red Vous êtes sur liste d'attente pour cet atelier, vous serez prévenu par e-mail en cas de désistement.
            %hr.print--hidden
          - if participation.nb_adults > 1
            .alert.alert--warning.one-whole.push-half--bottom.print--hidden>
              .flexbox
                .flexbox__item.v-middle.delta>
                  Renseignez les e-mails de tous les participants, nous leur enverrons en fin de semaine un mail récapitulatif avec toutes les informations importantes pour se rendre à l’atelier :
                .flexbox__item.v-middle.text--right>
                  = link_to add_invited_friends_user_participation_path(@user, participation), data: { behavior: 'modal', width: '700' }, class: 'fancybox.ajax btn btn--yellow text--center soft--sides' do
                    Renseigner
                    %br
                    les emails
            %hr.print--hidden
          .flexbox
            .flexbox__item.two-twelfths.soft-half--right.v-top>
              = link_to structure_path(participation.structure) , class: 'block one-whole', target: :_blank do
                = image_tag participation.structure.logo.url(:thumb), class: 'block one-whole'
              = link_to new_user_message_path(@user, message: { subject: 'Informations concernant votre atelier Portes Ouvertes', recipients: participation.structure.id }), class: 'btn btn--blue nowrap push-half--ends fancybox.ajax print--hidden', data: { behavior: 'modal', width: '780' }, title: "Informations concernant votre atelier Portes Ouvertes", onclick: "ga('send', 'event', 'Answer to student', 'click')" do
                %i.fa.fa-envelope
                Envoyer un message
              = link_to jpo_new_user_invited_users_path(@user, participation_id: participation.id), class: 'btn btn--blue nowrap push-half--bottom one-whole print--hidden' do
                %i.fa.fa-gift
                Inviter mes amis
              .share-on-facebook.btn.btn--facebook.one-whole.push-half--bottom.print--hidden Facebook
              .share-on-twitter.btn.btn--twitter.one-whole.btn--small.push-half--bottom.print--hidden Twitter

              = link_to 'Me désinscrire', user_participation_path(@user, participation), method: :delete, data: {confirm: 'Êtes-vous sur de vous désinscrire ce créneau ?'}, class: 'btn btn--red btn--small btn--full'
            .flexbox__item.eight-twelfths.v-top>
              .flexbox
                .flexbox__item.five-twelfths.v-top>
                  %h4.flush
                    = course.name
                    - if course.other_event_type?
                      = "(#{course.event_type_description})"
                    - elsif course.event_type.present?
                      = "(#{course.event_type})"
                  %p.flush
                    - if course.common_price
                      %span.line-through= readable_amount(course.common_price)
                    %span.green GRATUIT
                    %strong= link_to participation.structure.name, structure_path(participation.structure), class: 'semi-muted-link', target: :_blank
                    = ([course.structure.contact_email] + course.structure.phone_numbers.map(&:number)).join(', ')
                  %p
                    = "#{join_audiences participation.planning} / #{join_levels participation.planning.levels}"
                  %p
                    %strong Nombre d'inscrits :
                    - if participation.size == 1
                      #{participation.size}
                    - elsif participation.nb_kids > 0
                      #{participation.size} (#{pluralize participation.nb_adults, 'adulte'}, #{pluralize participation.nb_kids, 'enfant'})
                    - else
                      #{participation.size} (#{pluralize participation.nb_adults, 'adulte'})
                    - if participation.nb_adults > 1
                      = participation.invited_friends.map(&:email).join(', ')
                .flexbox__item.three-twelfths.text--center.v-top>
                  .delta.f-weight-bold
                    = l(participation.planning.start_date, format: :semi_long).capitalize
                    %br
                  .epsilon.push-half--bottom
                    = "De #{l(participation.planning.start_time, format: :short)} à #{l(participation.planning.end_time, format: :short)}"
                  .print--hidden= add_to_calendar(participation)

                  = link_to "Événement Facebook", "https://www.facebook.com/events/1475459639332489/", target: :_blank, class: 'btn btn--facebook push-half--top print--hidden'

              - if course.description.present?
                %p.flush
                  %strong Description
                = simple_format course.description
              - if course.info.present?
                %p
                  %strong Infos pratiques sur le cours
                  %br
                  = course.info
              - if place.info.present? or place.private_info.present?
                %p
                  %strong Infos pratiques sur le lieu
                  %br
                  = place.info
                  %br
                  = place.private_info
            .flexbox__item.two-twelfths.v-top>
              = link_to "http://maps.google.com/?q=#{place.address}", target: :_blank, class: 'block' do
                %img.one-whole.block{src:"http://maps.googleapis.com/maps/api/staticmap?center=#{place.latitude},#{place.longitude}&zoom=14&size=200x130&sensor=false&markers=#{place.latitude},#{place.longitude}"}
              %p.text--center
                %strong= place.name
                %br
                %i= place.address

      - if params[:inscription_confirmed]
        = render 'registration_confirmed'
        = render 'share_on_social_networks'

  - if @participations.any?
    - content_for :scripts do
      :javascript
        $(function() {
            $('.share-on-facebook').click(function() {
                window.open("#{share_participation_url(@participations.last, :facebook)}", 'Partager', "height=400,width=600");
                ga('send', 'event', 'Share on Facebook', 'share');
            });
            $('.share-on-twitter').click(function() {
                window.open("#{share_participation_url(@participations.last, :twitter)}", 'Partager', "height=400,width=600");
                ga('send', 'event', 'Share on Twitter', 'share');
            });
        });

- if params[:success] == '1'
  :javascript
    window.close();
