= user_menu_currently_at 'Mes cours'

= render partial: 'users/participations/tabs', locals:{ current: 'jpo'}

%h2 Mes inscriptions pour les Journées Portes Ouvertes

.alert--info.one-whole
  %ul.flush--bottom
    %li
      L'objectif des Journées Portes Ouvertes est de permettre au plus grand nombre de découvrir gratuitement leurs passions le temps d'un week-end. Pour cette raison, nous n'offrons qu'une seule place par profil élève. Si vous souhaitez participer avec vos proches, réservez votre atelier, puis envoyez-leurs votre invitation.
    %li Pour les ateliers pour enfants, une inscription comprend 2 places (1 adulte + 1 enfant).
- if @participations.empty?
  .text--center
    %h4 Aucune inscription aux Journées Portes Ouvertes
    = link_to "M'inscrire aux journées portes ouvertes", open_courses_path, class: 'btn btn--blue'
- else
  - @participations.each do |participation|
    - course = participation.course
    - place  = participation.planning.place
    - if participation.waiting_list?
      %h4 Vous êtes sur liste d'attente, vous serez prévenu par e-mail en cas de désistement.
    .white-box.islet
      .flexbox
        .flexbox__item.two-twelfths.soft-half--right.v-top>
          = link_to structure_path(participation.structure) , class: 'block one-whole', target: :_blank do
            = image_tag participation.structure.logo, class: 'block one-whole'
          = link_to jpo_new_user_invited_users_path(current_user, structure_id: participation.structure.id), class: 'btn btn--blue nowrap push-half--ends' do
            %i.fa.fa-gift
            Inviter mes amis
          %br
          .share-on-facebook.btn.btn--facebook.one-whole.push-half--bottom Facebook
          .share-on-twitter.btn.btn--twitter.one-whole.btn--small.push-half--bottom Twitter

          = link_to 'Me désinscrire', user_participation_path(current_user, participation), method: :delete, data: {confirm: 'Êtes-vous sur de vous désinscrire ce créneau ?'}, class: 'btn btn--red btn--small btn--full'
        .flexbox__item.eight-twelfths.v-top>
          .flexbox
            .flexbox__item.five-twelfths.v-top>
              %h4.flush
                = course.name
                - if course.other_event_type?
                  = "(#{course.event_type_description})"
                - elsif course.event_type.present?
                  = "(#{course.event_type})"
              %p.flush
                %i.fa.fa-euro
                - if course.free?
                  Gratuit
                - else
                  Participation libre (montant attendu : #{readable_amount(course.price)}€)
              %p
                %strong= link_to participation.structure.name, structure_path(participation.structure), class: 'semi-muted-link', target: :_blank
              .gray
                %i.fa.fa-tags
                = course.subjects.map(&:name).join(', ')
              %p
                = "#{join_audiences participation.planning} / #{join_levels participation.planning.levels}"
            .flexbox__item.three-twelfths.text--center.v-top>
              .delta.f-weight-bold
                = l(participation.planning.start_date, format: :semi_long).capitalize
                %br
              .epsilon.push-half--bottom
                = "De #{l(participation.planning.start_time, format: :short)} à #{l(participation.planning.end_time, format: :short)}"
              = add_to_calendar(participation)
          - if course.description.present?
            %p.flush
              %strong Description
            = simple_format course.description
          - if course.info.present?
            %p
              %strong Infos pratiques sur le cours
              %br
              = course.info
          - if place.info.present? or place.private_info.present?
            %p
              %strong Infos pratiques sur le lieu
              %br
              = place.info
              %br
              = place.private_info
        .flexbox__item.two-twelfths.v-top>
          = link_to "http://maps.google.com/?q=#{place.location.address}", target: :_blank, class: 'block' do
            %img.one-whole.block{src:"http://maps.googleapis.com/maps/api/staticmap?center=#{place.location.latitude},#{place.location.longitude}&zoom=14&size=200x130&sensor=false&markers=#{place.location.latitude},#{place.location.longitude}"}
          %p.text--center
            %strong= place.location.name
            %br
            %i= place.location.address

  - if params[:inscription_confirmed]
    = render 'registration_confirmed'

  - content_for :scripts do
    :javascript
      $(function() {
          $('.share-on-facebook').click(function() {
              window.open("#{share_participation_url(@participations.last, :facebook)}", 'Partager', "height=400,width=600");
              ga('send', 'event', 'Share on Facebook', 'share');
          });
          $('.share-on-twitter').click(function() {
              window.open("#{share_participation_url(@participations.last, :twitter)}", 'Partager', "height=400,width=600");
              ga('send', 'event', 'Share on Twitter', 'share');
          });
      });
