{{#if structure.is_sleeping}}
  {{#if structure.phone_numbers}}
    {{#if structure.phone_numbers}}
    <a href="javascript:void(0)" class="btn btn--green btn--full" data-behavior="show-phone-numbers">
        <i class="fa fa-phone v-middle"></i>
        <span class="v-middle">Contacter</span>
    </a>
    <div class="phone_number hidden white-box">
        <div class="soft text--center">
            {{#each structure.phone_numbers}}
                {{#ifCond @index '>' 0}}<br>{{/ifCond}}
                <strong class="epsilon v-middle" itemprop="telephone">{{this}}</strong>
                {{#if structure.premium }}
                    <i class="soft-half--left v-middle fa fa-check-circle green"></i>
                    <i class="v-middle green milli">vérifié</i>
                {{/if}}
            {{/each}}
        </div>
    </div>
    {{/if}}
  {{/if}}
{{else}}
<div class="panel__header soft-half--ends soft--sides">
    <h5 class="flush">
      Contacter
      {{ structure.about }}
    </h5>
</div>
<div class="panel__body soft">
    {{#if user.last_message_sent}}
        <div class="green"><i class="fa fa-check"></i> <strong>Dernier message envoyé le {{user.last_message_sent}}</strong></div>
        <hr class="push--ends">
    {{/if}}
    <article class="tab-pane active hard">
        <form action="{{url}}">
            <div class="grid--full push-half--bottom">
                <div class="grid__item one-half">
                    <div class="push-half--bottom">
                      <input type="checkbox" class="inline-block v-middle" id="more-info-inscription" name='extra_info_ids[]' value="<%= Mailboxer::ExtraInfo::INSCRIPTION.id %>" {{#unless extra_info_ids}}checked="true"{{/unless}} {{#ifInclude extra_info_ids '<%= Mailboxer::ExtraInfo::INSCRIPTION.id %>'}}checked="true"{{/ifInclude}}>
                      <label for="more-info-inscription" class="inline-block v-middle">Inscription</label>
                    </div>
                    <div>
                        <input type="checkbox" class="inline-block v-middle" id="more-info-planning-info" name="extra_info_ids[]" value="<%= Mailboxer::ExtraInfo::PLANNING_INFO.id %>" {{#ifInclude extra_info_ids '<%= Mailboxer::ExtraInfo::PLANNING_INFO.id %>'}}checked="true"{{/ifInclude}}>
                        <label for="more-info-planning-info" class="inline-block v-middle">Infos planning</label>
                    </div>
                </div>{{!--
            --}}<div class="grid__item one-half">
                    <div class="push-half--bottom">
                        <input type="checkbox" class="inline-block v-middle" id="more-info-be-called" name="extra_info_ids[]" value="<%= Mailboxer::ExtraInfo::BE_CALLED.id %>" {{#ifInclude extra_info_ids '<%= Mailboxer::ExtraInfo::BE_CALLED.id %>'}}checked="true"{{/ifInclude}}>
                        <label for="more-info-be-called" class="inline-block v-middle">Être rappelé</label>
                    </div>
                    <div>
                        <input type="checkbox" class="inline-block v-middle" id="more-info-more-info" name="extra_info_ids[]" value="<%= Mailboxer::ExtraInfo::MORE_INFO.id %>" {{#ifInclude extra_info_ids '<%= Mailboxer::ExtraInfo::MORE_INFO.id %>'}}checked="true"{{/ifInclude}}>
                        <label for="more-info-more-info" class="inline-block v-middle">Plus d'infos</label>
                    </div>
                </div>
            </div>
            {{#ifPresent structure.lessons_and_privates structure.trainings_courses}}
            <div class="input flush">
                <select name="course_ids[]" id="" class="input--large one-whole"  multiple="true" data-behavior="chosen" data-placeholder="Quels cours vous intéressent ?">
                    {{#if structure.lessons_and_privates}}
                        <optgroup label="Cours réguliers">
                            {{#each structure.lessons_and_privates}}
                                <option value="{{this.id}}" {{#ifIncludeString ../course_ids this.id}}selected{{/ifIncludeString}}>{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                    {{/if}}
                    {{#if structure.trainings_courses}}
                        <optgroup label="Stages & Ateliers">
                          {{#each structure.trainings_courses}}
                              <option value="{{this.id}}" {{#ifIncludeString ../course_ids this.id}}selected{{/ifIncludeString}}>{{this.name}}</option>
                          {{/each}}
                        </optgroup>
                    {{/if}}
                </select>
            </div>
            {{/ifPresent}}
            <div class="input flush--top push-half--bottom">
                <textarea name="body" id="" cols="30" rows="10" class="one-whole input--large" style='height: 170px;' data-behavior='autoresize'>{{#unless errors.body}}{{#if body}}{{ body }}{{else}}{{ prefilled_body }}{{/if}}{{/unless}}</textarea>
            </div>
            {{#if errors.body}}
                <div class="input_field_error red f-weight-bold text--right">{{errors.body}}</div>
            {{/if}}
            <div class="one-whole v-middle push-half--bottom" class="one-whole">
                <div class="input-addon">
                    <div class="input-prefix">
                        <i class="fa fa-phone-o"></i>
                    </div>
                    <input type="text" class="input--large one-whole hard--right" name='user[phone_number]' type='text' placeholder='Votre téléphone (confidentiel)' value="{{#if user.phone_number}}{{ user.phone_number }}{{/if}}">
                </div>
                {{#if errors.user.phone_number}}
                    <div class="input_field_error red f-weight-bold text--right">{{errors.user.phone_number}}</div>
                {{/if}}
            </div>
            <button type="submit" class="btn btn--green btn--full" data-disable-with="Message en cours d'envoi...">
                <i class="fa fa-envelope"></i>
                Envoyer mon message
            </button>
            <p class="text--center flush blue" data-toggle='popover' data-content="Les professeurs sont souvent en cours et difficilement joignables. Notre conseil&nbsp;: envoyez-leur un message et demandez d'être rappelé(e)." data-trigger='hover' data-placement='bottom'>
              <i>Méthode recommandée</i>
            </p>
        </form>
        {{#ifPresent structure.website structure.phone_numbers}}
          <hr class="push-half--ends">
        {{/ifPresent}}
        {{#if structure.has_discovery_pass_courses}}
            <a href="{{ discovery_passes_url }}" class="mixpanel-tracker btn btn--yellow btn--full push-half--bottom" data-toggle='popover' data-content="Obtenez votre Pass Découverte pour essayer les cours de cette association et 1 300 autres séances négociées rien que pour vous." data-trigger='hover' data-placement='bottom' data-info="Structure page : Réserver mon cours d'essai">
              Réserver mon cours d'essai
            </a>
        {{/if}}
        {{#if structure.phone_numbers}}
            <a href="javascript:void(0)" class="btn btn--green btn--full" data-behavior="show-phone-numbers" data-action="log-action" data-action-info="telephone">
                <i class="fa fa-phone v-middle"></i>
                <span class="v-middle">Téléphone</span>
            </a>
            <div class="phone_number hidden">
                <div class="soft--top text--center">
                    {{#each structure.phone_numbers}}
                        {{#ifCond @index '>' 0}}<br>{{/ifCond}}
                        <strong class="epsilon v-middle" itemprop="telephone">{{this}}</strong>
                        {{#if structure.premium }}
                            <i class="soft-half--left v-middle fa fa-check-circle green"></i>
                            <i class="v-middle green milli">vérifié</i>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        {{/if}}

        {{#if structure.premium }}{{#if structure.website }}
          <a href="{{ structure.website }}" class="btn btn--green btn--full push-half--top" target="_blank" data-action="log-action" data-action-info="website">
            <i class="fa fa-globe v-middle"></i> <span class="v-middle">Site internet</span>
          </a>
        {{/if}}{{/if}}
    </article>
</div>
{{/if}}
