%footer.main-footer
  .main-container
    .flexbox
      .flexbox__item
        = image_tag 'logo.png', class: 'ten-twelfths', alt: 'CoursAvenue'
        %h5.orange À propos
        %p
          %b.blue CoursAvenue
          est le premier comparateur de cours et de stages dispensés par des professionnels qui vous permet de trouver, comparer et réserver n'importe quelle séance de votre choix gratuitement et en quelques clics.

      .flexbox__item.nine-twelfths.palm--one-whole.lap--one-whole.column-links
        .grid
          .grid__item.one-quarter.lap--one-half.palm--one-whole>
            %h5.blue Utilisateurs pratiquants
            %ul.discrete-list.milli
              %li= link_to 'Pourquoi CoursAvenue ?',           pages_why_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Comment ça marche ?',              pages_how_it_works_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Foire aux questions Utilisateurs', pages_faq_users_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Mentions légales Utilisateurs',    pages_mentions_partners_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Recommander un cours',             '#course-recommendation', data: {behavior: 'modal', title: "Recommander un cours", width: '500px'}

          .grid__item.one-quarter.lap--one-half.palm--one-whole>
            %h5.blue Partenaires
            %ul.discrete-list.milli
              %li= link_to 'Référencez vos cours !', 'http://pro.coursavenue.com', rel: :nofollow
              %li= link_to 'Foire aux questions Partenaires', pages_faq_partners_url(subdomain: 'pro'), rel: :nofollow
              %li= link_to 'Conditions générales de vente', pages_terms_and_conditions_url(subdomain: 'pro'), rel: :nofollow

          .grid__item.one-quarter.lap--one-half.palm--one-whole>
            %h5.blue CoursAvenue
            %ul.discrete-list.milli
              / %li= link_to 'Qui sommes-nous ?', pages_who_are_we_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Contact',           pages_contact_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Service client',    pages_customer_service_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Presse',            pages_press_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Blog !',            'http://coursavenue.com/blog', target: '_blank', rel: :nofollow
              %li= link_to 'Jobs',              pages_jobs_url(subdomain: 'www'), rel: :nofollow

          .grid__item.one-quarter.lap--one-half.palm--one-whole>
            %h5.blue Disciplines
            %ul.discrete-list.milli
              %li= link_to 'Danse'  , subject_courses_url('danse', subdomain: 'www')
              %li= link_to 'Théâtre', subject_courses_url('theatre', subdomain: 'www')
              %li= link_to 'Cuisine', subject_courses_url('cuisine', subdomain: 'www')
              %li= link_to 'Zumba'  , subject_courses_url('zumba', subdomain: 'www')
              %li= link_to 'Yoga'   , subject_courses_url('yoga', subdomain: 'www')
              %li= link_to 'Musique', subject_courses_url('musique', subdomain: 'www')

#course-recommendation.hidden
  %h3 Recommander un cours
  %p
    Vous connaissez un bon professeur ou vous avez suivi de super cours ?
    Laissez-nous ses coordonnées, nous le contacterons pour qu'il partage ses cours sur notre plateforme !
  = form_tag '#'  do
    %textarea.one-whole{rows: 6}
    .text--right.push-half--top
      %a.btn{ href: '#', onclick: "$('simple-modal-overlay').click()"} Recommander
