%footer.main-footer
  .main-container
    .flexbox
      .flexbox__item
        = image_tag 'logo.png', class: 'ten-twelfths', alt: 'Le Bon Cours'
        %h5.orange À propos
        %p <b class="blue">LeBonCours</b> est la première plateforme de réservation en temps réel des cours et stages aux meilleurs prix. Pour tout public, tout âge, toute discipline, pour des activités de loisirs, mais aussi des formations professionnelles, qualifiantes et diplômantes.

      .flexbox__item.nine-twelfths
        .flexbox
          .flexbox__item.one-quarter.palm-one-half
            %h5.blue Utilisateurs pratiquants
            %ul.discrete-list
              %li= link_to 'Pourquoi LeBonCours ?',            pages_why_path
              %li= link_to 'Comment ça marche ?',              pages_how_it_works_path
              %li= link_to 'Foire aux questions Utilisateurs', pages_faq_users_path
              %li= link_to 'Mentions légales Utilisateurs',    pages_mentions_path

          .flexbox__item.one-quarter.palm-one-half
            %h5.blue Partenaires
            %ul.discrete-list
              %li= link_to 'Référencez vos cours !', 'mailto:referencement@leboncours.com?subject=Référencement de mes cours'
              %li= link_to 'Louez vos salles', 'mailto:referencement@leboncours.com?subject=Location de mes espaces'
              %li= link_to 'Trouvez une salle', pages_find_a_place_path
              %li= link_to 'Foire aux questions Partenaires', pages_faq_partners_path
              %li= link_to 'Mentions légales Partenaires', root_path

          .flexbox__item.one-quarter.palm-one-half
            %h5.blue LeBonCours
            %ul.discrete-list
              %li= link_to 'Qui sommes-nous ?', pages_who_are_we_path
              %li= link_to 'Contact',           pages_contact_path
              %li= link_to 'Service client',    pages_customer_service_path
              %li= link_to 'Presse',            pages_press_path
              %li= link_to 'Blog',              root_path
              %li= link_to 'Jobs',              pages_jobs_path

          .flexbox__item.one-quarter.palm-one-half
            %h5.blue Disciplines
            %ul.discrete-list
              %li= link_to 'Danse'  , city_subject_path(city_id: 'paris', id: 'danse')
              %li= link_to 'Théâtre', city_subject_path(city_id: 'paris', id: 'theatre')
              %li= link_to 'Cuisine', city_subject_path(city_id: 'paris', id: 'cuisine')
              %li= link_to 'Zumba'  , city_subject_path(city_id: 'paris', id: 'zumba')
              %li= link_to 'Yoga'   , city_subject_path(city_id: 'paris', id: 'yoga')
              %li= link_to 'Musique', city_subject_path(city_id: 'paris', id: 'musique')
