%footer.main-footer
  .main-container
    .flexbox
      .flexbox__item
        = image_tag 'logo.png', class: 'ten-twelfths', alt: 'CoursAvenue'
        %h5.orange À propos
        %p
          %b.blue CoursAvenue
          est le premier comparateur de cours dispensés par des professionnels qui vous permet de trouver, comparer et réserver n'importe quelle séance de votre choix gratuitement et en quelques clics.

      .flexbox__item.nine-twelfths.palm-one-whole.lap-one-whole.column-links
        .grid
          .grid__item.one-quarter.lap-one-half.palm-one-whole>
            %h5.blue Utilisateurs pratiquants
            %ul.discrete-list.milli
              %li= link_to 'Pourquoi CoursAvenue ?',           pages_why_url(subdomain: 'www'), rel: :nofollow, title: 'Pourquoi CoursAvenue ?'
              %li= link_to 'Comment ça marche ?',              pages_how_it_works_url(subdomain: 'www'), rel: :nofollow, title: 'Comment ça marche ?'
              %li= link_to 'Foire aux questions Utilisateurs', pages_faq_users_url(subdomain: 'www'), rel: :nofollow, title: 'Foire aux questions Utilisateurs'
              %li= link_to 'Mentions légales Utilisateurs',    pages_mentions_partners_url(subdomain: 'www'), rel: :nofollow, title: 'Mentions légales Utilisateurs'

          .grid__item.one-quarter.lap-one-half.palm-one-whole>
            %h5.blue Partenaires
            %ul.discrete-list.milli
              %li= link_to 'Référencez vos cours !', 'http://pro.coursavenue.com'
              %li= link_to 'Nos convictions',     pro_pages_convictions_url(subdomain: 'pro'), title: 'Nos convictions'
              %li= link_to 'Présentation',        pro_pages_presentation_url(subdomain: 'pro'), title: 'Présentation'
              %li= link_to 'Recommandations',     pro_pages_why_be_recommended_url(subdomain: 'pro'), title: 'Recommandations'
              %li= link_to 'Offres & Tarifs',     pro_pages_price_url(subdomain: 'pro'), title: 'Offres & Tarifs'
              %li= link_to 'Questions les plus fréquentes', pro_pages_questions_url(subdomain: 'pro'), rel: :nofollow, title: 'Questions les plus fréquentes'
              %li= link_to 'Conditions générales de vente', pages_terms_and_conditions_url(subdomain: 'pro'), rel: :nofollow

          .grid__item.one-quarter.lap-one-half.palm-one-whole>
            %h5.blue CoursAvenue
            %ul.discrete-list.milli
              -# %li= link_to 'Qui sommes-nous ?', pages_who_are_we_url(subdomain: 'www'), rel: :nofollow
              %li= link_to 'Contact',           pages_contact_url(subdomain: 'www'), rel: :nofollow, title: 'Contact'
              %li= link_to 'Service client',    pages_customer_service_url(subdomain: 'www'), rel: :nofollow, title: 'Service client'
              %li= link_to 'Presse',            pages_press_url(subdomain: 'www'), rel: :nofollow, title: 'Presse'
              %li= link_to 'Blog !',            'http://coursavenue.com/blog', target: '_blank', rel: :nofollow, title: 'Blog'
              %li= link_to 'Jobs',              pages_jobs_url(subdomain: 'www'), rel: :nofollow, title: 'Jobs'

          .grid__item.one-quarter.lap-one-half.palm-one-whole>
            %h5.blue Disciplines
            %ul.discrete-list.milli
              %li= link_to 'Danse'  , subject_structures_url('danse'  , subdomain: 'www')
              %li= link_to 'Théâtre', subject_structures_url('theatre', subdomain: 'www')
              %li= link_to 'Cuisine', subject_structures_url('cuisine', subdomain: 'www')
              %li= link_to 'Zumba'  , subject_structures_url('zumba'  , subdomain: 'www')
              %li= link_to 'Yoga'   , subject_structures_url('yoga'   , subdomain: 'www')
              %li= link_to 'Musique', subject_structures_url('musique', subdomain: 'www')
