%footer.main-footer.relative.print--hidden#coursavenue-footer
  .main-container.soft--ends.palm-text--center
    .grid
      .grid__item.one-quarter.palm-one-whole>
        %p.push-half--bottom
          %strong Utilisateurs pratiquants
        %ul.no-bullet-list.line-height-1-7
          %li= link_to "Qu'est-ce que CoursAvenue ?",  pages_what_is_it_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow, title: "Qu'est-ce que CoursAvenue ?"
          %li= link_to 'Foire aux questions Utilisateurs', pages_faq_users_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow, title: 'Foire aux questions Utilisateurs'
          %li= link_to 'Mentions légales Utilisateurs',    pages_mentions_partners_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow, title: 'Mentions légales Utilisateurs'

      .grid__item.one-quarter.palm-one-whole>
        %p.push-half--bottom
          %strong Partenaires
        %ul.no-bullet-list.line-height-1-7
          %li= link_to 'Référencez vos cours !', root_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)
          %li= link_to 'Nos convictions',     pro_pages_why_be_recommended_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), title: 'Nos convictions'
          %li= link_to 'Recommandations',     pro_pages_why_be_recommended_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), title: 'Recommandations'
          %li= link_to 'Offres & Tarifs',     pro_pages_price_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), title: 'Offres & Tarifs'
          %li= link_to 'Questions les plus fréquentes', pro_pages_questions_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), rel: :nofollow, title: 'Questions les plus fréquentes'
          %li= link_to 'Conditions générales de vente', pages_terms_and_conditions_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), rel: :nofollow

      .grid__item.one-quarter.palm-one-whole>
        %p.push-half--bottom
          %strong CoursAvenue
        %ul.no-bullet-list.line-height-1-7
          -# %li= link_to 'Qui sommes-nous ?', pages_who_are_we_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow
          %li= link_to 'Contact',           pages_contact_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow, title: 'Contact'
          %li= link_to 'Service client',    pages_customer_service_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow, title: 'Service client'
          %li= link_to 'Presse',            pages_press_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow, title: 'Presse'
          %li= link_to 'Blog !',            'http://coursavenue.com/blog', target: '_blank', rel: :nofollow, title: 'Blog'
          %li= link_to 'Jobs',              pages_jobs_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), rel: :nofollow, title: 'Jobs'

      .grid__item.one-quarter.palm-one-whole>
        %p.push-half--bottom
          %strong Disciplines
        %ul.no-bullet-list.line-height-1-7
          %li= link_to 'Danse'  , subject_structures_url('danse'  , subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
          %li= link_to 'Théâtre', subject_structures_url('theatre', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
          %li= link_to 'Cuisine', subject_structures_url('cuisine', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
          %li= link_to 'Zumba'  , subject_structures_url('zumba'  , subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
          %li= link_to 'Yoga'   , subject_structures_url('yoga'   , subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
          %li= link_to 'Musique', subject_structures_url('musique', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)

  .text--center
    %p.push-half--bottom
      %strong Suivez-nous
    %p
      = link_to 'Facebook', 'https://www.facebook.com/CoursAvenue', class: 'push-half--right'
      = link_to 'Twitter', 'http://twitter.com/CoursAvenue'
    %p.push-half--bottom.gray-very-light
      © CoursAvenue

  - if @structure
    .main-container.text--center.visuallyhidden
      - if @structure.city
        = link_to "Tous les cours à #{@structure.city.name}", city_url(@structure.city, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'semi-muted-link', target: :_blank
      - @structure.subjects.uniq.each_with_index do |subject, index|
        - if index > 0
          ,
        = link_to "Cours de #{subject.name} à #{@structure.city.name}", vertical_page_url_for(subject), class: 'semi-muted-link', target: :_blank
