.text--right
  - if current_user
    Loggé en tant que
    %b= current_user.first_name
    = link_to "Se déconnecter", destroy_user_session_path, method: :delete
  - else
    = link_to "Connexion Facebook", user_omniauth_authorize_path('facebook')
- cache "page-header_#{ENV["ETAG_VERSION_ID"]}" do
  %header.header
    .main-container.grid--full
      .grid__item.one-half.palm--one-half>
        = link_to root_path, class: 'logo' do
          = image_tag 'logo.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'

      %nav.text--right.grid__item.one-half.visuallyhidden--palm
        %span.espace-pro-wrapper
          %span.espace-pro
          = link_to 'Référencer mes cours', 'http://pro.coursavenue.com', class: 'btn btn__success'


