%header.header
  .main-container.flexbox
    %h1.accessibility
      LeBonCours
    = link_to root_path, class: 'flexbox__item logo' do
      = image_tag 'logo.png', width: 200

    %nav.flexbox__item.text-center
      %ul.nav
        %li.espace-pro-wrapper
          .espace-pro
          = link_to 'Référencer mes cours et stages', 'mailto:referencement@leboncours.com?subject=Référencement de mes cours', class: 'btn'
        %li
          = link_to 'Louer mes espaces', 'mailto:referencement@leboncours.com?subject=Location de mes espaces', class: 'btn'
        %li
          = link_to 'Trouver une salle pour mes cours ?', 'mailto:referencement@leboncours.com?subject=Recherche de salle à louer', class: 'btn'
    %nav.flexbox__item
      %ul.nav.nav--fit
        %li
          = link_to 'Blog !', 'http://www.facebook.com/Leboncours', class: 'header-link'
        %li
          = link_to 'Contact', pages_contact_path, class: 'header-link'
