%header.header
  .main-container.ilb-wrapper.align-middle
    %h1.accessibility
      LeBonCours
    = link_to root_path, class: 'logo' do
      = image_tag 'logo.png', width: 200

    %nav.text--center.espace-pro-nav
      %ul.nav
        %li.espace-pro-wrapper
          .espace-pro
          - if current_admin and current_admin.super_admin?
            = link_to 'Référencer mes cours et stages', profs_structures_path, class: 'btn'
          - elsif current_admin
            = link_to 'Référencer mes cours et stages', profs_structure_path(current_admin.structure), class: 'btn'
          - else
            = link_to 'Référencer mes cours et stages', 'mailto:referencement@leboncours.com?subject=Référencement de mes cours', class: 'btn'
        %li
          = link_to 'Louer mes espaces', 'mailto:referencement@leboncours.com?subject=Location de mes espaces', class: 'btn'
        %li
          = link_to 'Trouver une salle pour mes cours ?', 'mailto:referencement@leboncours.com?subject=Recherche de salle à louer', class: 'btn'
    %nav.float--right.nav-links-wrapper
      %ul.nav
        %li
          = link_to 'Blog', 'http://www.facebook.com/Leboncours', class: 'header-link'
        %li
          = link_to 'Contact', pages_contact_path, class: 'header-link'
        - if current_admin
          %li
            = link_to 'Se déconnecter', destroy_admin_admin_user_session_path, class: 'header-link', method: :delete
