%header.header
  .main-container.grid--full
    .grid__item.one-third.palm--one-half.v-middle>
      = link_to root_path, class: 'v-middle logo', title: 'CoursAvenue' do
        = image_tag 'logo.png', width: 200, alt: 'CoursAvenue | Tous les cours autour de vous'
      - if params[:subject_id] and @subject
        - if @subject.grand_parent
          .inline-block.v-middle.lbl.lbl--orange.push-half--left= @subject.grand_parent.name
        - else
          .inline-block.v-middle.lbl.lbl--orange.push-half--left= @subject.name
      - elsif params[:other]
        .inline-block.v-middle.lbl.lbl--orange.push-half--left Autres
    %nav.text--right.grid__item.two-thirds.visuallyhidden--palm.v-middle
      - if current_user
        #drop-down-el.drop-down__wrapper.grid__item.width-auto.v-middle.hard--left{data: {behavior: 'drop-down', el: '> .drop-down__el', position: 'right'}}
          = link_to user_path(current_user) do
            - if current_user.fb_avatar or current_user.avatar.present?
              .grid
                .grid__item.v-middle.width-auto>
                  %b= current_user.full_name
                .grid__item.v-middle.width-auto.soft-half--left
                  - if current_user.avatar.present?
                    = image_tag current_user.avatar.url(:mini), height: 40, class: 'image'
                  - elsif current_user.fb_avatar
                    = image_tag current_user.fb_avatar, height: 40, class: 'image'
            - else
              = current_user.full_name
          %ul.drop-down__el
            %li.nowrap
              = link_to user_path(current_user) do
                Voir mon profil
            %li.nowrap
              = link_to destroy_user_session_path, method: :delete do
                Se déconnecter
      - else
        -# = link_to "Je suis élève", new_user_session_path, data: {behavior: 'modal', title: 'Connexion', height: '500px'}, class: 'fancybox.ajax'
        -# %span.soft-half--left.push-half--right
        = link_to "Connexion", new_pro_admin_session_url(subdomain: 'pro')
        -# %span.soft-half--left.push-half--right
        -#   = link_to "Créer un compte", new_user_registration_path, data: {behavior: 'modal', title: 'Connexion', height: '500px'}, class: 'fancybox.ajax btn btn--green', onclick: "_gaq.push(['_trackEvent', 'Se créer un compte', 'click','Inscrit'])"
        %span.soft-half--left
          = link_to 'Créer mon profil', root_url(subdomain: 'pro'), class: 'btn btn--green', onclick: "_gaq.push(['_trackEvent', 'Référencer mes cours', 'click','Inscrit'])"
        %span.soft-half--left.push-half--left.drop-down__wrapper{data: {behavior: 'drop-down', el: '> .drop-down__el', position: 'right'}}
          = link_to pro_pages_questions_path, target: '_blank', class: 'btn' do
            %i.icon-question-sign
            Aide
          %ul.drop-down__el.text--left
            %li.nowrap
              = link_to 'Un profil CoursAvenue, pour quoi faire ?', pro_pages_questions_url(subdomain: 'pro', anchor: 'about-creating-profile'), target: '_blank'
            %li.nowrap
              = link_to 'En quoi consiste un profil CoursAvenue ?', pro_pages_questions_url(subdomain: 'pro', anchor: 'about-creating-profile'), target: '_blank'
            %li.nowrap
              = link_to 'Qui peut créer son profil ?', pro_pages_questions_url(subdomain: 'pro', anchor: 'about-creating-profile'), target: '_blank'
            %li.nowrap
              = link_to 'Est-ce vraiment gratuit ?', pro_pages_questions_url(subdomain: 'pro', anchor: 'about-creating-profile'), target: '_blank'
            %li.nowrap
              = link_to 'Comment vous rémunérez-vous ?', pro_pages_questions_url(subdomain: 'pro', anchor: 'about-creating-profile'), target: '_blank'
            %li.nowrap
              = link_to 'Mais qui est derrière CoursAvenue ?', pro_pages_questions_url(subdomain: 'pro', anchor: 'about-creating-profile'), target: '_blank'

-# %nav.milli.main-container.soft-half.hard--left.hard--right.visuallyhidden--palm.visuallyhidden--lap
-#   #star-subjects
-#     %ul.nav--fit.flush
-#       - Subject.roots_with_position.order(:name).each do |subject|
-#         %li.text--center
-#           %div{class: (params[:subject_id] == subject.slug ? 'active' : ''), onclick: "_gaq.push(['_trackEvent', 'Header disciplines', 'click', '#{subject.name}']);"}
-#             - if request.fullpath.include? 'cours'
-#               = link_to subject.name, subject_courses_path(subject, address_name: params[:address_name], lat: params[:lat], lng: params[:lng]), class: 'selected subject-link'
-#             - else
-#               = link_to subject.name, subject_structures_path(subject, address_name: params[:address_name], lat: params[:lat], lng: params[:lng]), class: 'selected subject-link'
-#             -# %ul.drop-down__el
-#             -#   - subject.children.order('name ASC').each do |child_subject|
-#             -#     %li{onclick: "_gaq.push(['_trackEvent', 'Header disciplines', 'click', '#{subject.name}', '#{child_subject.name}'])"}= link_to child_subject.name, subject_structures_path(child_subject, address_name: params[:address_name], lat: params[:lat], lng: params[:lng]), class: (params[:subject_id] == child_subject.slug ? 'selected subject-link' : 'subject-link')
-#       %li.text--center.drop-down__wrapper
-#         = link_to 'javascript:void(0)', class: 'selected subject-link btn btn--small', id: 'toggle-non-stars' do
-#           %i.icon-plus
-#           Autres
-#   #non-star-subjects{style: 'display: none;'}
-#     %ul.nav--fit.flush
-#       - Subject.roots_without_position.order(:name).each do |subject|
-#         %li.text--center
-#           %div{class: (params[:subject_id] == subject.slug ? 'active' : ''), onclick: "_gaq.push(['_trackEvent', 'Header disciplines', 'click', '#{subject.name}']);"}
-#             - if request.fullpath.include? 'cours'
-#               = link_to subject.name, subject_courses_path(subject, address_name: params[:address_name], lat: params[:lat], lng: params[:lng]), class: 'selected subject-link'
-#             - else
-#               = link_to subject.name, subject_structures_path(subject, address_name: params[:address_name], lat: params[:lat], lng: params[:lng]), class: 'selected subject-link'
-#             -# %ul.drop-down__el
-#             -#   - subject.children.order('name ASC').each do |child_subject|
-#             -#     %li{onclick: "_gaq.push(['_trackEvent', 'Header disciplines', 'click', '#{subject.name}', '#{child_subject.name}'])"}= link_to child_subject.name, subject_structures_path(child_subject, address_name: params[:address_name], lat: params[:lat], lng: params[:lng]), class: (params[:subject_id] == child_subject.slug ? 'selected subject-link' : 'subject-link')
-#       %li.text--center.drop-down__wrapper
-#         = link_to 'javascript:void(0)', class: 'selected subject-link btn btn--small', id: 'toggle-stars' do
-#           Retour

= content_for :scripts do
  :javascript
    // ----------------  Show two bars of subjects
    $(function() {
      $('#toggle-non-stars').click(function() {
          $('#star-subjects').hide();
          $('#non-star-subjects').show()
          $('#non-star-subjects [data-behavior=drop-down]').map(function(drop_down_el){
              $(this).trigger('update:position');
          });
      });
      $('#toggle-stars').click(function() {
          $('#non-star-subjects').hide();
          $('#star-subjects').show();
      });
    });
