%header.header
  .main-container.grid--full
    .grid__item.one-third.palm--one-half>
      = link_to root_path, class: 'logo' do
        = image_tag 'logo.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
    %nav.text--right.grid__item.two-thirds.visuallyhidden--palm
      - if current_user
        #drop-down-el.drop-down__wrapper.grid__item.width-auto.v-middle.hard--left
          - if current_user.image
            .grid
              .grid__item.v-middle.width-auto>
                %b= current_user.full_name
              .grid__item.v-middle.width-auto.soft-half--left
                = image_tag current_user.image, height: 40, class: 'image'
          - else
            = current_user.full_name
          %ul.drop-down__el{data: {behavior: 'drop-down', trigger: 'drop-down-el', position: 'right'}}
            %li
              = link_to destroy_user_session_path, method: :delete do
                Se&nbsp;déconnecter
            - # %li= link_to 'Mon compte', user_path(current_user)
      - else
        %span
          = link_to "Se connecter", '#', data: {behavior: 'modal', title: 'Connexion', width: '400px', url: '/users/sign_in'}
        %span.soft-half--left
          = link_to "Créer un compte", '#', data: {behavior: 'modal', title: 'Connexion', width: '400px', url: '/users/sign_up'}, class: 'btn btn__success', onclick: "_gaq.push(['_trackEvent', 'Se créer un compte', 'click','Inscrit'])"
        = image_tag 'header/espace-pro.png', class: 'v-middle push-half--sides'
        %span
          = link_to 'Référencer mes cours', 'http://pro.coursavenue.com', class: 'btn btn__primary', onclick: "_gaq.push(['_trackEvent', 'Référencer mes cours', 'click','Inscrit'])"
        %span.push-half--left
          = link_to "Se connecter", new_pro_admin_session_url(subdomain: 'pro')


%nav.milli.main-container.soft-half.hard--left.hard--right
  %ul.nav--fit.flush
    - Subject.roots.order(:short_name).each do |subject|
      %li.text--center.drop-down__wrapper{class: (params[:subject_id] == subject.slug ? 'active' : ''), id: "#{subject.slug}-drop-down-el", onclick: "_gaq.push(['_trackEvent', 'Header disciplines', 'click', '#{subject.name}']);"}
        = link_to subject.short_name, subject_courses_path(subject, address_name: params[:address_name], lat: params[:lat], lng: params[:lng]), class: 'selected subject-link'
        %ul.drop-down__el{data: {behavior: 'drop-down', trigger: "#{subject.slug}-drop-down-el", position: 'center'}}
          - subject.children.order('name ASC').each do |child_subject|
            %li{onclick: "_gaq.push(['_trackEvent', 'Header disciplines', 'click', '#{subject.name}', '#{child_subject.name}'])"}= link_to child_subject.name, subject_courses_path(child_subject, address_name: params[:address_name], lat: params[:lat], lng: params[:lng]), class: (params[:subject_id] == child_subject.slug ? 'selected subject-link' : 'subject-link')
