%header.header.header--pro
  .main-container.ilb-wrapper.align-middle
    %h1.accessibility
      CoursMania
    .one-half
      = link_to root_path, class: 'logo' do
        = image_tag 'logo_pro.png', width: 200

    .one-half.text--right
      %div
        %i.icon-phone-sign.gamma.orange
        = image_tag 'pages/phone_number.png', height: 19
        %br
        = image_tag 'pages/email.png', height: 10
      - if current_admin
        %ul.nav
          - if current_admin.super_admin?
            %li= link_to 'Espace super admin', structures_path, class: 'header-link'
          - elsif current_admin.structure.present?
            %li= link_to 'Espace admin', structure_path(current_admin.structure), class: 'header-link'
          %li= link_to 'Se déconnecter', destroy_admin_session_path, class: 'header-link', method: :delete

%nav.nav-links-wrapper.main-container.page-menu
  = yield :main_navigation
