%header.header.header--pro
  .main-container
    .grid--full
      .grid__item.one-third.v-middle>
        .grid
          = link_to root_path, class: 'logo grid__item inline-block v-middle' do
            = image_tag 'logo_pro.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
      %nav.grid__item.two-thirds.text--right.v-middle
        %ul.nav
          %li= link_to 'CoursAvenue.com', root_url(subdomain: 'www'), class: 'btn btn--small'
          %li
            = link_to pages_contact_url(subdomain: 'www'), rel: :nofollow, class: 'btn btn--small' do
              %i.fa.fa-envelope-o
              Nous contacter
          %li= render 'shared/question_dropdown_menu'

          - if current_pro_admin
            - if current_pro_admin.super_admin?
              %li= link_to 'Espace super admin', pro_dashboard_path, class: 'btn btn--green btn--small'
            %li
              = link_to destroy_pro_admin_session_path, class: 'header-link', method: :delete do
                Déconnexion
                %i.fa.fa-signout
          - else
            %li
              = link_to new_pro_admin_session_path, class: 'header-link' do
                %i.fa.fa-signin
                Se connecter

