%header.header
  .main-container.ilb-wrapper.align-middle
    %h1.accessibility
      CoursAvenue
    = link_to root_path, class: 'logo' do
      = image_tag 'logo.png', width: 200

    %nav.text--center.espace-pro-nav
      %ul.nav
        %li.espace-pro-wrapper
          .espace-pro
          = link_to 'Référencer mes cours', 'http://pro.coursavenue.com', class: 'btn'
        %li
          = link_to 'Louer mes salles', pages_rent_places_path, class: 'btn'
        %li
          = link_to 'Trouver une salle', pages_find_places_path, class: 'btn'
    %nav.float--right.nav-links-wrapper
      %ul.nav
        %li
          = link_to 'Blog', 'http://blog.coursavenue.com', class: 'header-link', target: '_blank'
        %li
          = link_to 'Contact', pages_contact_path, class: 'header-link'
