%header.header.header--pro
  .ilb-wrapper.align-middle
    .one-half
      - if @structure and !@structure.new_record?
        %h1.flush--bottom= "&nbsp;#{@structure.name}".html_safe
      - else
        %h1.accessibility CoursAvenue
        = link_to root_path, class: 'logo' do
          = image_tag 'logo_pro.png', width: 200
    %nav.nav-links-wrapper.one-half.text--right
      %div
        %i.icon-phone-sign.gamma.orange
        = image_tag 'pages/phone_number.png', height: 19
        %br
        = image_tag 'pages/email.png', height: 10
      %ul.nav
        - if current_pro_admin
          - if current_pro_admin.super_admin?
            %li= link_to 'Dashboard', pro_dashboard_path, class: 'header-link'
            %li= link_to 'Espace super admin', pro_structures_path, class: 'header-link'
          - elsif current_pro_admin.structure.present?
            %li= link_to 'Espace admin', pro_structure_path(current_pro_admin.structure), class: 'header-link'
          %li= link_to 'Se déconnecter', destroy_pro_admin_session_path, class: 'header-link', method: :delete
        - else
          %li= link_to 'Se connecter', new_pro_admin_session_path, class: 'header-link'

