%header.header.header--pro
  .main-container.grid--full
    %h1.accessibility
      CoursAvenue
    .grid__item.one-half>
      = link_to root_path, class: 'logo' do
        = image_tag 'logo_pro.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'

    .grid__item.one-half.text--right.visuallyhidden--palm
      %div
        %i.icon-phone-sign.orange.icon-2x
        = image_tag 'pages/phone_number.png', height: 19
      %div
        = image_tag 'pages/email_contact.png', height: 10
      %ul.nav
        %li= link_to 'CoursAvenue', 'http://www.coursavenue.com', class: 'header-link'
        - if current_pro_admin
          - if current_pro_admin.super_admin?
            %li= link_to 'Espace super admin', pro_dashboard_path, class: 'header-link'
          - elsif current_pro_admin.structure.present?
            %li= link_to 'Mes cours', pro_structure_path(current_pro_admin.structure), class: 'header-link'
          %li= link_to 'Se déconnecter', destroy_pro_admin_session_path, class: 'header-link', method: :delete
        - else
          %li
            = link_to new_pro_admin_session_path, class: 'header-link' do
              %i.icon-signin
              Se connecter

%nav.nav-links-wrapper.main-container.page-menu
  = yield :main_navigation
