- expanded = false unless expanded.present?
%header.header
  .very-soft.grid--full{class: expanded ? '' : 'main-container'}
    .grid__item.two-twelfths.palm-one-half.v-middle>
      = link_to root_path, class: 'v-middle logo', title: 'CoursAvenue' do
        = image_tag 'logo.png', width: 200, alt: 'CoursAvenue | Tous les cours autour de vous'
    .grid__item.six-twelfths.palm-one-half.v-middle.text--center>
      = link_to open_courses_url(subdomain: 'www'), class: 'v-middle inline-block', title: 'CoursAvenue' do
        = image_tag 'jpo_2014/logo_orange.png', width: 192, height: 40, alt: 'Portes Ouvertes des loisirs'
      = link_to open_courses_url(subdomain: 'www'), class: 'v-middle ff-open-sans line-height-1 push-half--left inline-block' do
        %span.f-weight-600 5 000 places GRATUITES
        %br
        %span.f-weight-300.milli 5-6 avril en Île-de-France
      = link_to 'Participer', open_courses_url(subdomain: 'www'), class: 'btn btn--light-blue v-middle push-half--left'
    %nav.text--right.grid__item.four-twelfths.v-middle.nowrap>
      - if current_pro_admin.super_admin?
        = link_to 'Super dashboard', pro_dashboard_url(subdomain: 'pro'), class: 'btn btn--blue btn--small'
      - if current_pro_admin.structure
        = link_to 'Mon profil', pro_structure_url(current_pro_admin.structure, subdomain: 'pro'), class: 'btn btn--blue btn--small'
      - elsif current_user
        = render partial: 'shared/header_user_nav'
      - else
        .inline-block
          #connection-registration-buttons
            .inline-block.drop-down__wrapper.soft-half--sides
              = link_to "Inscription", new_user_registration_path, data: {behavior: 'modal', title: 'Connexion', width: 300}, class: 'fancybox.ajax', onclick: "ga('send', 'event', 'Se créer un compte', 'click','Inscrit')"
            .inline-block.drop-down__wrapper.soft-half--sides
              = link_to "Connexion", new_user_session_path, data: {behavior: 'modal', title: 'Connexion', width: 300}, class: 'fancybox.ajax', id: 'connection'
            = render 'shared/help_dropdown'
            .inline-block.soft-half--sides
              = link_to 'Publiez vos cours', root_url(subdomain: 'pro'), onclick: "ga('send', 'event', 'Publier vos cours', 'click','Inscrit')", class: 'btn btn--green'


= content_for :scripts do
  :javascript
    // ---------------- Comments slideshow
    $(function() {
      if (window.location.hash == '#connection') {
          $('#connection').click();
      }
    });
