%header.header
  .main-container.grid--full
    .grid__item.one-half.palm--one-half>
      = link_to root_path, class: 'logo' do
        = image_tag 'logo.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
    %nav.text--right.grid__item.one-half.visuallyhidden--palm
      - if current_user
        #drop-down-el.drop-down__wrapper
          = link_to user_path(current_user) do
            - if current_user.image
              .grid
                .grid__item.v-middle.width-auto>
                  %b= current_user.full_name
                .grid__item.v-middle.width-auto.soft-half--left
                  = image_tag current_user.image, height: 40, class: 'image'
            - else
              = current_user.full_name
          %ul.drop-down__el{data: {behavior: 'drop-down', trigger: 'drop-down-el'}}
            %li= link_to "Se déconnecter", destroy_user_session_path, method: :delete
            - # %li= link_to 'Mon compte', user_path(current_user)
      - else
        %span.push--right
          = link_to "Se connecter", '#', data: {behavior: 'modal', title: 'Connexion', width: '400px', url: '/users/sign_in'}
          \-
          = link_to "Créer un compte", '#', data: {behavior: 'modal', title: 'Connexion', width: '400px', url: '/users/sign_up'}
        %span.espace-pro-wrapper
          %span.espace-pro
          = link_to 'Référencer mes cours', 'http://pro.coursavenue.com', class: 'btn btn__success'
