%header.header.header--pro
  .main-container.hard
    .grid--full
      .grid__item.one-half>
        .grid
          = link_to root_path, class: 'logo grid__item inline-block v-middle' do
            = image_tag 'logo_pro.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
      %nav.grid__item.one-half.text--right
        %div
          %i.icon-phone-sign.orange.icon-2x
          = image_tag 'pages/phone_number.png', height: 19
        %div
          = image_tag 'pages/email_contact.png', height: 10
        %ul.nav
          %li= link_to 'CoursAvenue.com', root_url(subdomain: 'www'), class: 'btn btn--small'
          = render 'shared/question_dropdown_menu'

          - if current_pro_admin
            - if current_pro_admin.super_admin?
              %li= link_to 'Espace super admin', pro_dashboard_path, class: 'header-link'
            - elsif current_pro_admin.structure.present?
              %li= link_to 'Tableau de bord', dashboard_pro_structure_path(current_pro_admin.structure), class: 'header-link'
            %li= link_to 'Se déconnecter', destroy_pro_admin_session_path, class: 'header-link', method: :delete
          - else
            %li
              = link_to new_pro_admin_session_path, class: 'header-link' do
                %i.icon-signin
                Se connecter

