-# According to: http://stackoverflow.com/questions/11616697/how-to-use-og-meta-tag-for-facebook-share
%meta{ name: 'fragment', content: "!" }

- if Rails.env.staging?
  %meta{ name: 'robots', content: 'noindex, nofollow' }

%meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }
- if @is_responsive or should_be_responsive?
  %meta{ name: 'viewport',               content: 'width=device-width, initial-scale=1.0'  }

%meta{ property: 'og:site_name',       content: 'CoursAvenue' }
%meta{ property: 'og:type',            content: 'website' }

%meta{ property: 'og:url',             content: "#{request.protocol + request.host_with_port + request.fullpath}" }

%meta{ property: 'fb:admins',          content: '100000023494269' }
%meta{ property: 'fb:app_id',          content: '589759807705512' }

- #----------------------- TITLE
- if content_for? :title
  %title= yield(:title).try(:squish)
  %meta{ property: "og:title", content: yield(:title).try(:squish) }
  %meta{ name: 'twitter:title', content: yield(:title).try(:squish) }
- elsif request.subdomain == 'pro'
  %title Pro.CoursAvenue.com - Recrutez gratuitement de nouveaux élèves
  %meta{ property: "og:title", content: "Pro.CoursAvenue.com - Recrutez gratuitement de nouveaux élèves" }
  %meta{ name: 'twitter:title', content: "Pro.CoursAvenue.com - Recrutez gratuitement de nouveaux élèves" }
- else
  - if @city
    %title CoursAvenue.com - Les meilleurs cours de loisirs de #{@city.name}
    %meta{ property: "og:title", content: "CoursAvenue.com - Les meilleurs cours de loisirs de #{@city.name}" }
    %meta{ name: 'twitter:title', content: "CoursAvenue.com - Les meilleurs cours de loisirs de #{@city.name}" }
  - else
    %title CoursAvenue.com - Les meilleurs cours de loisirs de votre ville
    %meta{ property: "og:title", content: "CoursAvenue.com - Les meilleurs cours de loisirs de votre ville" }
    %meta{ name: 'twitter:title', content: "CoursAvenue.com - Les meilleurs cours de loisirs de votre ville" }

- #----------------------- Description
- if content_for? :meta_description
  %meta{ name: 'description', content: "#{yield(:meta_description).try(:squish)}" }
  %meta{ property: 'og:description', content: "#{yield(:meta_description).try(:squish)}" }
  %meta{ name: 'twitter:description', content: "#{yield(:meta_description).try(:squish)}" }
- else
  - if request.subdomain == 'pro'
    %meta{ name: "description", content: "Découvrez Pro.CoursAveunue, pour référencer vos cours et recruter gratuitement de nouveaux élèves ! Gérez votre profil · Fidélisez de nouveaux élèves · Boostez votre activité”" }
    %meta{ property: 'og:description', content: "Découvrez Pro.CoursAveunue, pour référencer vos cours et recruter gratuitement de nouveaux élèves ! Gérez votre profil · Fidélisez de nouveaux élèves · Boostez votre activité”" }
    %meta{ property: 'twitter:description', content: "Découvrez Pro.CoursAveunue, pour référencer vos cours et recruter gratuitement de nouveaux élèves ! Gérez votre profil · Fidélisez de nouveaux élèves · Boostez votre activité”" }
  - else
    %meta{ name: "description", content: "Avec CoursAvenue.com : choisissez et inscrivez-vous gratuitement aux meilleurs cours de loisirs de votre ville. Profitez des cours d'essai gratuits et des promotions." }
    %meta{ property: 'og:description', content: "Avec CoursAvenue.com : choisissez et inscrivez-vous gratuitement aux meilleurs cours de loisirs de votre ville. Profitez des cours d'essai gratuits et des promotions." }
    %meta{ property: 'twitter:description', content: "Avec CoursAvenue.com : choisissez et inscrivez-vous gratuitement aux meilleurs cours de loisirs de votre ville. Profitez des cours d'essai gratuits et des promotions." }

- #----------------------- Image

- if content_for? :meta_image
  %meta{ property: "og:image", content: yield(:meta_image) }
  %meta{ name: "twitter:image", content: yield(:meta_image) }
- else
  %meta{ property: "og:image", content: image_path('logos/logo_fb.jpg') }
  %meta{ name: "twitter:image", content: image_path('logos/logo_fb.jpg') }

%meta{ name: 'keywords', content: 'danse, théâtre, scène, musique, arts, sports, arts-martiaux, photo, cuisine, vins' }
