= content_for :above_container do
  .orange-box.hidden#subscribe-to-coursavenue-newsletter
    .soft-half.white.text--center.epsilon
      - if !current_user and !cookies[:subscribed_to_newsletter]
        %strong Recevez nos offres exclusives, promotions et invitations :
        = simple_form_for User.new, html: { class: 'inline-block v-middle', id: 'newsletter-form' }, remote: true do |f|
          = f.input :subscription_from, as: :hidden, value: 'newsletter'
          = f.input :email, label: false, input_html: { placeholder: 'Adresse e-mail', class: 'one-whole' }, wrapper_html: { class: 'flush inline-block v-middle' }
          = f.input :zip_code, label: false, input_html: { placeholder: 'Code postal', class: 'one-whole' }, wrapper_html: { class: 'flush inline-block v-middle', style: 'width: 110px;' }
          = f.submit "Recevoir les Bons plans & Promotions", class: 'btn btn--yellow'
      - else
        %strong Recevez nos offres exclusives, promotions et invitations en nous suivant sur Facebook :
      = link_to '#', class: 'white float--right', data: { behavior: 'closer', el: '#subscribe-to-coursavenue-newsletter' } do
        %i.fa.fa-times
      .v-middle.fb-like{ data: { href: 'https://www.facebook.com/CoursAvenue', layout: 'button_count', action: 'like', 'show-faces' => 'false', share: "false" } }

= content_for :scripts do
  :javascript
      $(function() {
          $('#newsletter-form').submit(function() {
              if (!$(this).find('input[name="user[email]"]').val().match(/@/)) {
                  GLOBAL.flash('Vous devez saisir une vraie adresse email.');
              } else {
                  $('#subscribe-to-coursavenue-newsletter').slideUp();
                  $.cookie('subscribed_to_newsletter', true);
                  GLOBAL.flash('Votre inscription a bien été prise en compte.', 'success');
              }
          });
          setTimeout(function() {
              $('#subscribe-to-coursavenue-newsletter').slideDown();
          }, 3000);
      })

- if Rails.env.production?
  = content_for :scripts do
    :javascript
        $(function() {
            $('#newsletter-form').submit(function() {
                mixpanel.track("Structures/show: submit_email_for_newsletter", { "structure_slug": "#{@structure.slug}", "structure_name": "#{@structure.name}" });
            });
        })

= content_for :scripts do
  :javascript
    $(function() {
        $(document).on('facebook:initialized', function() {
            FB.Event.subscribe('edge.create', function(page_url) {
                if (page_url == 'https://www.facebook.com/CoursAvenue') {
                    mixpanel.track("Structures/show: like CoursAvenue Facebook Page", { "structure_slug": "#{@structure.slug}", "structure_name": "#{@structure.name}" });
                }
            });
        });
    });
