= content_for :above_container do
  .orange-box.hidden#join-the-community
    .soft-half.white.text--center.epsilon
      - if ! current_user
        %strong Recevez nos offres exclusives, promotions et invitations :
        = link_to 'Bons plans & Promotions', '#', data: { behavior: 'sign-up', title: 'Inscrivez-vous pour recevoir nos bons plans & promotions' }, class: 'btn btn--yellow btn--small', id: 'orange-box-join-for-free'
      - else
        %strong Recevez nos offres exclusives, promotions et invitations en nous suivant sur Facebook :
      = link_to '#', class: 'white float--right', data: { behavior: 'closer', el: '#join-the-community' } do
        %i.fa.fa-times
      .v-middle.fb-like{ data: { href: 'https://www.facebook.com/CoursAvenue', layout: 'button_count', action: 'like', 'show-faces' => 'false', share: "false" } }

= content_for :scripts do
  :javascript
      $(function() {
          setTimeout(function() {
              $('#join-the-community').slideDown();
          }, 3000);
      })

- if Rails.env.production?
  = content_for :scripts do
    :javascript
        $(function() {
            $('#orange-box-join-for-free').click(function() {
                mixpanel.track("Structures/show: clicks on orange_header/join_for_free button", { "structure_slug": "#{@structure.slug}", "structure_name": "#{@structure.name}" });
            });
        })

= content_for :scripts do
  :javascript
    $(function() {
        $(document).on('facebook:initialized', function() {
            FB.Event.subscribe('edge.create', function(page_url) {
                if (page_url == 'https://www.facebook.com/CoursAvenue') {
                    mixpanel.track("Structures/show: like CoursAvenue Facebook Page", { "structure_slug": "#{@structure.slug}", "structure_name": "#{@structure.name}" });
                }
            });
        });
    });
