.drop-down__wrapper
  = link_to pro_pages_questions_path, target: '_blank' do
    Aide
    %i.fa.fa-caret-down
  .drop-down__el.drop-down__el--left
    %ul.drop-down__el-inner-box.text--left
      %li.nowrap
        = link_to 'Guide de démarrage', pro_pages_questions_url(subdomain: 'pro', anchor: 'guide-de-demarrage'), target: '_blank'
      %li.nowrap
        = link_to 'Créer son profil', pro_pages_questions_url(subdomain: 'pro', anchor: 'creer-son-profil'), target: '_blank'
      %li.nowrap
        = link_to 'Tout savoir sur les avis', pro_pages_questions_url(subdomain: 'pro', anchor: 'tout-savoir-sur-les-avis'), target: '_blank'
      %li.nowrap
        = link_to 'Se connecter à son profil ', pro_pages_questions_url(subdomain: 'pro', anchor: 'se-connecter-a-son-profil'), target: '_blank'
      %li.nowrap
        = link_to 'Fonctionnement de CoursAvenue', pro_pages_questions_url(subdomain: 'pro', anchor: 'fonctionnement'), target: '_blank'
      %li.nowrap
        = link_to 'Inviter d’autres professeurs', pro_pages_questions_url(subdomain: 'pro', anchor: 'inviter-d-autres-professeurs'), target: '_blank'
      %li.nowrap
        = link_to 'Autres questions fréquentes', pro_pages_questions_url(subdomain: 'pro', anchor: 'autres-questions'), target: '_blank'
