- params[:sort]                ||= 'rating_desc'
- params[:radius]              ||= 5
%section
  - if @subject
    - search_path = subject_structures_path(@subject)
  - else
    - search_path = structures_path

  = form_tag search_path, method: :get, authenticity_token: false, class: 'g one-whole', id: 'header-search' do
    .header-search-bar
      %div.search-input-wrapper.relative{style: 'display: block;'}
        %input#search-input{size: 50, class: 'search-input', placeholder: 'Discipline / Etablissement ou professeur', type: 'search', name: 'name', value: params[:name], autofocus: true, autocomplete: 'off'}
      %div.search-input-wrapper.relative
        .input-with-icon
          %input#adress-picker{size: 50, class: 'search-input', placeholder: 'Ville / CP / Adresse', type: 'text', autocomplete: 'off', name: 'address_name', value: (params[:address_name] || 'Paris'), data: {behavior: 'address-picker', lng: '#address-lng', lat: '#address-lat', city: '#address-city'}}
          %i.icon-map-marker.delta
        %p#specify-location.white-box--noshadow.hidden{style: 'z-index: 2; line-height: 1.3; padding: 5px 10px; position: absolute;'}
          Vous devez spécifier un lieu
      %input#address-lat{type: 'hidden', name: 'lat', value: (params[:lat] || 48.8592)}
      %input#address-lng{type: 'hidden', name: 'lng', value: (params[:lng] || 2.3417)}
      %input#address-city{type: 'hidden', name: 'city', value: (params[:city] || 'paris')}

      %div.button-wrapper
        %button.nowrap.btn.btn--orange{type: 'submit', id: 'submit_search_form'}
          %i.icon-search
          Rechercher
    .accessibility
      %input#hidden-sort-input{type: 'hidden', name: 'sort', value: params[:sort]}
      %input#radius-hidden-input{type: 'hidden', name: 'radius', value: params[:radius]}

%script#structure-item-template{:type => 'text/x-handlebars-template'}
  .grid--full
    .grid__item.v-middle{style: 'width: 20px;'}>
      %i.icon-user
    .grid__item.v-middle.eleven-twelfths.nowrap{style: 'width: 88%;'}>
      {{name}}
      %br
      %i.line-height-1 {{city.name}}

= content_for :scripts do
  :javascript
    $(function() {
        var specify_location_label = $('#specify-location');
        $('#adress-picker').on('typeahead:opened', function() {
            specify_location_label.addClass('hidden');
        });
        $('#header-search').submit(function(){
            if ($('#address-lat').val().length == 0) {
                specify_location_label.removeClass('hidden');
                return false;
            }
        });
        // Aucomplete search on subjects and structures
        var template = Handlebars.compile($('#structure-item-template').html());
        var subject_path = '#{subjects_path(format: :json)}';
        $('#search-input').typeahead([
          {
            name: 'subjects_#{ENV["ETAG_VERSION_ID"]}',
            prefetch: subject_path,
            valueKey: 'name',
            header: '<div class="typeahead-dataset-header">Disciplines</div>'
          },
          {
            name: 'structure_#{ENV["ETAG_VERSION_ID"]}',
            header: '<div class="typeahead-dataset-header">Établissements & professeurs</div>',
            valueKey: 'name',
            template: template,
            remote: {
              url: '/etablissements.json',
              replace: function(url, uriEncodedQuery) {
                  return url + '?name=' + uriEncodedQuery + '&radius=1000';
              }
            }
          }
        ]);
        $('#search-input').on('typeahead:selected', function(event, data){
            // If it is a structure
            if (data.hasOwnProperty('structure_type')) {
                window.location = '/etablissements/' + data.slug
            } else {
              $('#header-search').attr('action', '/disciplines/' + data.slug + '/etablissements')
            }
        });
    })
