= side_menu_currently_at 'presentation'

= render partial: 'pro/structures/tabs', locals: { current: 'professeurs'}
.grid.push--bottom
  .grid__item.v-middle.one-half.palm-one-whole>
    %h1.flush Professeurs
  .grid__item.v-middle.text--right.one-half.palm-one-whole.palm-text--left>
    = link_to new_pro_structure_teacher_path(@structure), class: 'fancybox.ajax btn btn--green', data: { behavior: 'modal', width: 700 } do
      %i.fa.fa-plus
      Ajouter un professeur

.soft--top
  - @teachers.each_with_index do |teacher, index|
    = render partial: 'pro/teachers/teacher', locals: { teacher: teacher }
  - if @teachers.empty?
    %p Aucun professeur n'est renseigné.


= content_for :scripts do
  :javascript
  -# This prevent from filepicker to not trigger when opening the popup for the second time
      $(function() {
          $.fancybox.defaults.afterClose = function() {
              $('#filepicker_comm_iframe').remove();
          };
      });
