.text--center.push--bottom
  .inline-block.text--center.soft--sides.push--sides{ data: { behavior: 'show-on-hover', el: "#comment-1" } }>
    = image_tag 'home-page/comments_avatar/stephanie.jpg', data: { src2x: asset_path('home-page/comments_avatar/stephanie@2x.jpg')}, width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
    .epsilon.soft--sides.push-half--bottom.f-weight-bold Stéphanie

  .inline-block.text--center.soft--sides.push--sides.visuallyhidden--palm{ data: { behavior: 'show-on-hover', el: "#comment-2" } }>
    = image_tag 'home-page/comments_avatar/magalie.jpg', data: { src2x: asset_path('home-page/comments_avatar/magalie@2x.jpg')}, width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
    .epsilon.soft--sides.push-half--bottom.f-weight-500 Magalie

  .inline-block.text--center.soft--sides.push--sides.visuallyhidden--palm{ data: { behavior: 'show-on-hover', el: "#comment-3" } }>
    = image_tag 'home-page/comments_avatar/nicolas.jpg', data: { src2x: asset_path('home-page/comments_avatar/nicolas@2x.jpg')}, width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
    .epsilon.soft--sides.push-half--bottom.f-weight-500 Nicolas

  .inline-block.text--center.soft--sides.push--sides.visuallyhidden--palm{ data: { behavior: 'show-on-hover', el: "#comment-4" } }>
    = image_tag 'home-page/comments_avatar/severine.jpg', data: { src2x: asset_path('home-page/comments_avatar/severine@2x.jpg')}, width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
    .epsilon.soft--sides.push-half--bottom.f-weight-500 Séverine

.relative.grid.soft--sides{ style: 'height: 350px; '}
  .ff-georgia.text--center.absolute.north{ id: "comment-1", data: { el: 'show-on-hover' } }
    .f-style-italic.beta.line-height-2.push-half--bottom Une éclosion en douceur
    .f-style-italic.gamma.push-half--bottom.line-height-1-7
      Mylène sait trouver les mots justes pour accompagner le travail du clown. Elle enrichit cours par con calme, sa gentillesse et sa bienveillance et son approche est adaptée à chaque comédien. Au-delà de l'ambiance de travail, j'ai ri tout le week-end grâce à la performance de chacun. La découverte à été totale en ce qui me concerne et j'y ai trovué beaucoup de bonheur. Le travail ne fait que commencer !
    .delta.push-half--bottom.f-weight-600= link_to 'Clown', structure_path('la-theatrerie-mylene-lormier-d2dd55bd-2c50-4380-92fb-7e2eb1186467'), target: :_blank

  .ff-georgia.text--center.absolute.north.hidden{ id: "comment-2", data: { el: 'show-on-hover' } }
    .f-style-italic.beta.line-height-2.push-half--bottom Deux heures intenses
    .f-style-italic.gamma.push-half--bottom.line-height-1-7
      J'ai été coaché par Mehdya, qui est une excellente coach, elle ne laisse rien passer pour toujours nous faire dépasser nos limites. Relâchement, improvisations, et approche du texte tout en douceur et simplicité. On se laisse surprendre pendants ces deux heures de cours qui se transforment en un super moment de création et de lâché prise.
    .delta.push-half--bottom.f-weight-600= link_to 'Théâtre', structure_path('les-momes'), target: :_blank

  .ff-georgia.text--center.absolute.north.hidden{ id: "comment-3", data: { el: 'show-on-hover' } }
    .f-style-italic.beta.line-height-2.push-half--bottom Un excellent professeur
    .f-style-italic.gamma.push-half--bottom.line-height-1-7
      Les élèves qui participent aux cours de Julien lui ont déjà adressé beaucoup de compliments, en particulier Marion qui a su parfaitement développer les qualités professionnelles de notre professeur... Tout est vrai, tout est analysé. J'apprécie particulièrement la phrase d'introduction  : le meilleur professeur est celui que l'on ne quitte pas. Je ne ferai donc pas de périphrase!! J'ajouterai simplement que je suis l'élève la plus âgée de ses cours! Il n'y a aucune discrimination dans ce domaine comme dans tous les autres!
    .delta.push-half--bottom.f-weight-600= link_to 'Danse à deux', structure_path('julien-poli'), target: :_blank

  .ff-georgia.text--center.absolute.north.hidden{ id: "comment-4", data: { el: 'show-on-hover' } }
    .f-style-italic.beta.line-height-2.push-half--bottom Alors allez-y et plus vite que ça!
    .f-style-italic.gamma.push-half--bottom.line-height-1-7
      Pour autant que je me souvienne j'ai toujours adoré chanter, même si comme me le faisait remarquer mes amis, ce n'était que bien peu souvent pour le meilleur. Un jour que je voulais en finir avec le fait de chanter comme une chaussette, je suis tombé par hasard sur l'annonce de Maria qui semblait parfaitement correspondre! Et je n'ai pas été déçu. Maria m'a emmené dans un voyage (parfois très ardu) à la découverte de ce que notre voix peut faire lorsqu'on s'applique à le découvrir.
    .delta.push-half--bottom.f-weight-600= link_to 'Chant', structure_path('mari-sol'), target: :_blank


= content_for :scripts do
  :javascript
      $(function() {
          $('[data-behavior=show-on-hover]').hover(function() {
              $('[data-el=show-on-hover]').stop(true, false).fadeOut();
              $($(this).data('el')).stop(true, false).fadeIn();
              $('[data-behavior=show-on-hover] div').removeClass('f-weight-bold');
              $(this).find('div').addClass('f-weight-bold');
          });
      });
