.text--center.push--bottom
  .inline-block.text--center.soft--sides.push--sides{ data: { behavior: 'show-on-hover', el: "#comment-1" } }>
    = image_tag 'https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.0.160.160/p160x160/10730801_10152842661112324_4179167304191019874_n.jpg?oh=d939afffa598ca80ea42ec7747d5da94&oe=55E58385&__gda__=1437080135_c60b8d8d5cab7f8fb17a05a16e546c3a', data: { src2x: 'https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.0.320.320/p320x320/10730801_10152842661112324_4179167304191019874_n.jpg?oh=bb203f87cdf3ca71ee0c4b7fbd105c77&oe=55AF62DB&__gda__=1440844313_4d7b4ad6f6cc34a8eec980ce26ab7690'}, width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
    .epsilon.soft--sides.push-half--bottom.f-weight-bold Adrien

  .inline-block.text--center.soft--sides.push--sides.visuallyhidden--palm{ data: { behavior: 'show-on-hover', el: "#comment-2" } }>
    = image_tag 'https://res-1.cloudinary.com/hf7d0gbjr/image/upload/s--zQYGAIkg--/c_fill,h_100,w_100/v1426718758/abw57egswcaqcf4giowp.jpg', data: { src2x: 'https://res-1.cloudinary.com/hf7d0gbjr/image/upload/s--zQYGAIkg--/c_fill,h_200,w_200/v1426718758/abw57egswcaqcf4giowp.jpg' }, width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
    .epsilon.soft--sides.push-half--bottom.f-weight-500 Isabelle

  .inline-block.text--center.soft--sides.push--sides.visuallyhidden--palm{ data: { behavior: 'show-on-hover', el: "#comment-3" } }>
    = image_tag 'https://graph.facebook.com/590945865/picture?width=150&height=150', width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
    .epsilon.soft--sides.push-half--bottom.f-weight-500 Margaux

  .inline-block.text--center.soft--sides.push--sides.visuallyhidden--palm{ data: { behavior: 'show-on-hover', el: "#comment-4" } }>
    = image_tag 'https://graph.facebook.com/672660659/picture?width=150&height=150', width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
    .epsilon.soft--sides.push-half--bottom.f-weight-500 Cyril

.relative.grid.soft--sides{ style: 'height: 250px; '}
  .ff-droid.text--center.absolute.north{ id: "comment-1", data: { el: 'show-on-hover' } }
    .f-style-italic.beta.line-height-2.push-half--bottom.palm-delta Plus qu’une simple école
    .f-style-italic.gamma.push-half--bottom.line-height-1-7.palm-f-size-12
      C'est l'école que je cherchais depuis si longtemps. Plus qu'une école, c'est un laboratoire de recherche, en pratiquant des expériences sur nous-mêmes, pour arriver à une meilleure façon de jouer. Trois mots suffisent à décrire le Studio Muller : humanité, modestie, respect.
    .delta.push-half--bottom.f-weight-600.palm-f-size-12= link_to 'Théâtre', structure_path('studio-muller'), target: :_blank

  .ff-droid.text--center.absolute.north.hidden{ id: "comment-2", data: { el: 'show-on-hover' } }
    .f-style-italic.beta.line-height-2.push-half--bottom Un cours génial
    .f-style-italic.gamma.push-half--bottom.line-height-1-7
      Je rêvais de danser de nouveau et c'est chose faite ! Je me suis régalée à ce cours. J'ai pu retrouver mes sensations grâce à l'excellence du professeur qui a été attentive à mon niveau. Bref, que du bonheur, je vais y retourner avec grand plaisir !
    .delta.push-half--bottom.f-weight-600= link_to 'Barre au sol', structure_path('nicole-galy'), target: :_blank

  .ff-droid.text--center.absolute.north.hidden{ id: "comment-3", data: { el: 'show-on-hover' } }
    .f-style-italic.beta.line-height-2.push-half--bottom Super atelier
    .f-style-italic.gamma.push-half--bottom.line-height-1-7
      Très chouette petit atelier rue Daguerre, avec beaucoup de créneaux horaires et des professeurs sympathiques et très pédagogues qui nous encadrent à chaque étape. La diversité des cours fait qu'il y en a pour tous les goûts. Cela permet de se diversifier et de progresser rapidement.

    .delta.push-half--bottom.f-weight-600= link_to 'Dessin', structure_path('artmedium-cours-de-dessin'), target: :_blank

  .ff-droid.text--center.absolute.north.hidden{ id: "comment-4", data: { el: 'show-on-hover' } }
    .f-style-italic.beta.line-height-2.push-half--bottom Une partie de plaisir
    .f-style-italic.gamma.push-half--bottom.line-height-1-7
      Victoria est une prof souriante, attentive, et humble malgré son excellent niveau. Avec elle, l'ambiance est détendue et propice à la rigolade. On ne regarde pas sa montre. Vous pouvez y aller les yeux fermés, quoi que… les yeux ouverts c'est encore plus sympa ! ;)
    .delta.push-half--bottom.f-weight-600= link_to 'Salsa', structure_path('victoria-gherbovet'), target: :_blank


= content_for :scripts do
  :javascript
      $(function() {
          $('[data-behavior=show-on-hover]').hover(function() {
              $('[data-el=show-on-hover]').stop(true, false).fadeOut();
              $($(this).data('el')).stop(true, false).fadeIn();
              $('[data-behavior=show-on-hover] div').removeClass('f-weight-bold');
              $(this).find('div').addClass('f-weight-bold');
          });
      });
