.home-screen-gallery.text--center.grid.main-container>
  .grid__item.one-fifth.palm-one-whole.home-screen-gallery__link.home-screen-gallery__link-paris>
    = link_to city_path('paris'), class: 'relative block', title: "Guide des cours à Paris" do
      .show-on-hover__wrapper.show-on-hover__wrapper--black-curtain
        .home-screen-gallery__title
          Guide des cours à Paris
          .milli.show-on-hover__child Voir le guide
  .grid__item.one-fifth.palm-one-whole.home-screen-gallery__link.home-screen-gallery__link-trial>
    = link_to structures_path(lat: 48.8592, lng: 2.3417, trial_course_amount: 0), class: 'relative block', title: "Cours d'essai gratuits" do
      .show-on-hover__wrapper.show-on-hover__wrapper--black-curtain
        .home-screen-gallery__title
          Cours d'essai gratuits
          .milli.show-on-hover__child Voir tous les cours
  .grid__item.one-fifth.palm-one-whole.home-screen-gallery__link.home-screen-gallery__link-kids>
    = link_to structures_path(lat: 48.8592, lng: 2.3417, audience_ids: [Audience::KID.id]), class: 'relative block', title: "Cours pour enfants" do
      .show-on-hover__wrapper.show-on-hover__wrapper--black-curtain
        .home-screen-gallery__title
          Cours pour enfants
          .milli.show-on-hover__child Voir tous les cours
  .grid__item.one-fifth.palm-one-whole.home-screen-gallery__link.home-screen-gallery__link-night>
    = link_to structures_path(lat: 48.8592, lng: 2.3417, start_hour: 18), class: 'relative block', title: "Cours du soir" do
      .show-on-hover__wrapper.show-on-hover__wrapper--black-curtain
        .home-screen-gallery__title
          Cours du soir
          .milli.show-on-hover__child Voir tous les cours
  .grid__item.one-fifth.palm-one-whole.home-screen-gallery__link.home-screen-gallery__link-weekend>
    = link_to structures_path(lat: 48.8592, lng: 2.3417, week_days: [0, 6]), class: 'relative block', title: "Cours le week-end" do
      .show-on-hover__wrapper.show-on-hover__wrapper--black-curtain
        .home-screen-gallery__title
          Cours le week-end
          .milli.show-on-hover__child Voir tous les cours

