.height-three-quarters.one-whole.relative.overflow-hidden
  %div.hidden.home-page-fullscreen-video.bg-cover{ style: "background-image: url('#{asset_path('home-page/coursavenue_homepage_cover.jpg')}')", data: { replacement: 'video' } }
  %video.home-page-fullscreen-video{ preload: 'auto', loop: 'loop', autoplay: 'autoplay', poster: asset_path('home-page/coursavenue_homepage_cover.jpg') }
    - if params[:geek].present?
      %source{ type: "video/mp4", src: 'https://coursavenue-public.s3.amazonaws.com/public_assets/videos/mario.mp4' }
      %source{ type: "video/webm", src: 'https://coursavenue-public.s3.amazonaws.com/public_assets/videos/mario.webm' }
    - else
      %source{ type: "video/mp4", src: asset_path('coursavenue_homepage_video.mp4') }
      %source{ type: "video/webm", src: asset_path('coursavenue_homepage_video.webm') }

  .relative.height-three-quarters.white
    .grid--full.one-whole.homescreen-header.homescreen-header--transparent.fixed.one-whole.on-top
      .grid__item.one-third.v-middle.palm-one-whole.palm-push>
        = image_tag 'logos/logo_white.png', width: 190, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo_white@2x.png') }, class: 'homescreen-header__logo v-middle push--left push-half--top absolute', style: 'left: 3px; top: 3px;'
        = image_tag 'logos/logo.png', width: 200, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo@2x.png') }, class: 'homescreen-header__logo v-middle push--left push-half--top west north absolute hidden', id: 'home-logo-dark'
      .grid__item.two-thirds.v-middle.text--right.visuallyhidden--palm>
        .white.soft-half.inline-block.v-middle.epsilon#user-nav
        .top-right-hidden-button.inline-block.v-middle.visuallyhidden--palm.visuallyhidden--lap
          = link_to 'Trouver un cours', root_search_page_without_subject_path('paris'), class: 'btn btn--blue nowrap push--right'
.absolute.one-whole.soft--sides.top-15vh{ data: { behavior: 'block-parallax' } }
  %h1.white.text--center.f-size-big.palm-text--center.soft--top.soft-black-text-shadow.flush--bottom.main-container
    Trouvez l'occupation de vos rêves.
  %h2.white.text--center.palm-text--center.push--bottom.soft-black-text-shadow.main-container
    Des centaines de cours sélectionnés pour vous.
  .push--bottom.soft--bottom
    = render partial: 'shared/home_page_search_form', locals: { form_class: 'header-search-bar center-block' }
.text--center.absolute.one-whole{ style: ' top: 85%;' }
  %a.block.not-outlined.white{ href: '#vivez-passionnement', data: { behavior: 'scroll-to', duration: 900 } }
    %i.fa-chevron-down.fa-3x.smooth-black-text-shadow.animated-arrow-1.block
    %i.fa-chevron-down.fa-3x.smooth-black-text-shadow.animated-arrow-2.block

- content_for :scripts do
  :javascript
      $(function() {
          if (COURSAVENUE.helperMethods.isMobile.any()) {
              $('[data-behavior=block-parallax]').removeAttr('data-behavior');
              $('[data-replacement=video]').show();
              $('video').remove();
          }
          $(window).scroll(function() {
              var $this = $(this);
              if ($this.scrollTop() > window.innerHeight - 10) {
                  $('.homescreen-header').removeClass('homescreen-header--transparent');
                  $('.top-right-hidden-button').addClass('in');
                  $('#home-logo-dark').fadeIn();
              } else {
                  $('.homescreen-header').addClass('homescreen-header--transparent');
                  $('.top-right-hidden-button').removeClass('in');
                  $('#home-logo-dark').fadeOut();
              }
          });
      });
