= content_for :above_container do
  .home-screen
    .main-container.home-screen__item
      .grid.home-screen-comment
        .grid__item.one-eighth>
          = link_to "http://www.coursavenue.com/etablissements/soraya#recommandation-907", class: 'muted-link block' do
            = image_tag 'home-page/user-picture.png', class: 'block'
        .grid__item.seven-eighths>
          %p.flush.quoted.epsilon.quoted--large
            = link_to "Elle nous transmet à chaque cours toute sa passion et son amour de la danse orientale qu'elle maîtrise à la perfection avec beaucoup d'enthousiasme !", "http://www.coursavenue.com/etablissements/soraya#recommandation-907", class: 'muted-link'
          .milli
            = link_to 'Avis écrit par Sanaâ Sultana sur les cours de danse orientale de Soraya', "http://www.coursavenue.com/etablissements/soraya#recommandation-907", class: 'muted-link'
    %h1.text--center.home-screen-title.push--bottom
      Les élèves vous guident vers les meilleurs cours
    = render 'shared/home_page_search_form'

    - cache "home_screen_#{ENV["ETAG_VERSION_ID"]}" do
      .slideshow.home-slideshow
        %div
          = image_tag 'home-page/dance.jpg', alt: 'Cours de danse'

  .home-screen-gallery.text--center.flexbox.main-container.hard>
    = link_to structures_path, class: 'flexbox__item one-sixth relative home-screen-gallery__link home-screen-gallery__link-paris', title: "Cours à Paris" do
      .home-screen-gallery__title Cours à Paris
    = link_to structures_path(trial_course_amount: 0), class: 'flexbox__item one-sixth relative home-screen-gallery__link home-screen-gallery__link-trial', title: "Cours d'essai gratuits" do
      .home-screen-gallery__title Cours d'essai gratuits
    = link_to structures_path(audience_ids: [Audience::KID.id]), class: 'flexbox__item one-sixth relative home-screen-gallery__link home-screen-gallery__link-kids', title: "Cours pour enfants" do
      .home-screen-gallery__title Cours pour enfants
    = link_to structures_path(week_days: [0, 6]), class: 'flexbox__item one-sixth relative home-screen-gallery__link home-screen-gallery__link-weekend', title: "Cours le week-end" do
      .home-screen-gallery__title Cours le week-end
    = link_to structures_path(start_hour: 18), class: 'flexbox__item one-sixth relative home-screen-gallery__link home-screen-gallery__link-night', title: "Cours du soir" do
      .home-screen-gallery__title Cours du soir
    -# = link_to structures_path(discount_types: Price::Discount::TYPES.collect{ |type| type.split('.').last }), class: 'flexbox__item one-sixth relative home-screen-gallery__link home-screen-gallery__link-discounts', title: "Cours tarifs réduits" do
    -#   .home-screen-gallery__title Tarifs réduits
