= content_for :above_container do
  .home-screen
    %h1.text--center.home-screen-title
      Trouvez le cours qui vous convient.
    %h5.text--center.home-screen-subtitle
      = "Parmi 128 disciplines et #{Planning.count} séances, pour tous les âges."
    = render 'shared/home_page_search_form'

    - cache "home_screen_#{ENV["ETAG_VERSION_ID"]}" do
      %ul#slideshow.slideshow.home-slideshow
        - @homepage_images.each do |image, image_alt|
          %li
            = image_tag image, alt: image_alt
      .home-screen-subjects.grid--full.visuallyhidden--palm
        = link_to subject_courses_path('theatre'), class: 'home-screen-subjects__item grid__item', onclick: "_gaq.push(['_trackEvent', 'Home disciplines', 'click','Théatre'])" do
          = image_tag 'home-page/theater_classes.jpg', height: 150, width: 150, alt: 'Cours de théatre'
          .home-screen-subjects__title Théâtre
        = link_to subject_courses_path('danse'), class: 'home-screen-subjects__item grid__item', onclick: "_gaq.push(['_trackEvent', 'Home disciplines', 'click','Danse'])" do
          = image_tag 'home-page/dance_classes.jpg', height: 150, width: 150, alt: 'Cours de danse'
          .home-screen-subjects__title Danse
        = link_to subject_courses_path('cuisine-oenologie'), class: 'home-screen-subjects__item grid__item', onclick: "_gaq.push(['_trackEvent', 'Home disciplines', 'click','Cuisine'])" do
          = image_tag 'home-page/cooking_classes.jpg', height: 150, width: 150, alt: 'Cours de cuisine'
          .home-screen-subjects__title Cuisine

= content_for :scripts do
  :javascript
    var slideshow;
    window.addEvent('domready', function() {
        slideshow = new SlideShow('slideshow', {
            transition: 'crossFade',
            delay: 10000,
            duration: 500,
            autoplay: true
        });
    });
