.home-screen
  %h1.text-center.home-screen-title
    Pour vous, votre enfant ou pour offrir<br>
    réservez les meilleurs cours aux meilleurs prix
  %h5.text-center.home-screen-subtitle
    = "Réservez ou offrez l'un des #{CourseGroup.count} cours parmis #{Discipline.count} disciplines"
  = render 'shared/home_page_search_form'
  %ul#slideshow.slideshow
    %li
      .caption lala
      = image_tag asset_path('home-page/painter.jpg')
    %li
      .caption lili
      = image_tag asset_path('home-page/mime.jpg')


= content_for :scripts do
  :javascript
    var slideshow;
    window.addEvent('domready', function() {
        slideshow = new SlideShow('slideshow', {
            transition: 'crossFade',
            delay: 5000,
            duration: 400,
            autoplay: true
        });
    });
