.home-screen.soft--top
  %h1.text--center.home-screen-title.soft--top
    Trouvez un cours de loisir près de chez vous.
  %h4.text--center.home-screen-title.push--bottom
    Parmi plus de 5 000 cours recommandés par les élèves.
  = render 'shared/home_page_search_form'

  - cache "home_screen_#{ENV["ETAG_VERSION_ID"]}" do
    .slideshow.home-slideshow
      %div
        = image_tag 'home-page/dance.jpg', alt: 'Cours de danse'

  - if @last_comment
    .home-screen-comment
      .grid
        .grid__item.two-twelfths.v-middle>
          = link_to structure_path(@last_comment.structure), class: 'muted-link block' do
            = image_tag @last_comment.structure.logo.url(:thumb), class: 'block white-circle'
        .grid__item.ten-twelfths.v-middle>
          .quoted.epsilon.quoted--large
            = link_to @last_comment.title, structure_path(@last_comment.structure), class: 'muted-link'
          %p.flush
            = link_to structure_path(@last_comment.structure), class: 'muted-link' do
              = truncate(@last_comment.content, length: 65)
          .milli
            = link_to "Avis écrit par #{@last_comment.author_name} il y a #{distance_of_time_in_words_to_now(@last_comment.created_at)}", structure_path(@last_comment.structure), class: 'muted-link'

.home-screen-promotion-wrapper
  .home-screen-gallery.text--center.grid.main-container>
    .grid__item.one-fifth.home-screen-gallery__link.home-screen-gallery__link-paris>
      = link_to city_path('paris'), class: 'relative block', title: "Guide des cours à Paris" do
        .show-on-hover__wrapper
          .home-screen-gallery__title
            Guide des cours à Paris
            .milli.show-on-hover__child Voir le guide
    .grid__item.one-fifth.home-screen-gallery__link.home-screen-gallery__link-trial>
      = link_to structures_path(lat: 48.8592, lng: 2.3417, trial_course_amount: 0), class: 'relative block', title: "Cours d'essai gratuits" do
        .show-on-hover__wrapper
          .home-screen-gallery__title
            Cours d'essai gratuits
            .milli.show-on-hover__child Voir tous les cours
    .grid__item.one-fifth.home-screen-gallery__link.home-screen-gallery__link-kids>
      = link_to structures_path(lat: 48.8592, lng: 2.3417, audience_ids: [Audience::KID.id]), class: 'relative block', title: "Cours pour enfants" do
        .show-on-hover__wrapper
          .home-screen-gallery__title
            Cours pour enfants
            .milli.show-on-hover__child Voir tous les cours
    .grid__item.one-fifth.home-screen-gallery__link.home-screen-gallery__link-weekend>
      = link_to structures_path(lat: 48.8592, lng: 2.3417, week_days: [0, 6]), class: 'relative block', title: "Cours le week-end" do
        .show-on-hover__wrapper
          .home-screen-gallery__title
            Cours le week-end
            .milli.show-on-hover__child Voir tous les cours
    .grid__item.one-fifth.home-screen-gallery__link.home-screen-gallery__link-night>
      = link_to structures_path(lat: 48.8592, lng: 2.3417, start_hour: 18), class: 'relative block', title: "Cours du soir" do
        .show-on-hover__wrapper
          .home-screen-gallery__title
            Cours du soir
            .milli.show-on-hover__child Voir tous les cours

