.home-screen.soft--top
  %h1.text--center.home-screen-title.soft--top
    Trouvez un cours de loisir près de chez vous.
  %h4.text--center.home-screen-title.push--bottom
    Parmi plus de 10 000 cours recommandés par les élèves.
  = render 'shared/home_page_search_form'

  - cache "home_screen_#{ENV["ETAG_VERSION_ID"]}" do
    .slideshow.home-slideshow
      %div
        = image_tag 'home-page/dance.jpg', alt: 'Cours de danse'

  - if @last_comment
    .home-screen-comment.visuallyhidden--palm
      .grid
        .grid__item.two-twelfths.v-middle>
          = link_to structure_path(@last_comment.structure), class: 'muted-link block' do
            = image_tag @last_comment.structure.logo.url(:thumb), class: 'block white-circle'
        .grid__item.ten-twelfths.v-middle>
          .quoted.epsilon.quoted--large
            = link_to @last_comment.title, structure_path(@last_comment.structure), class: 'muted-link'
          %p.flush
            = link_to structure_path(@last_comment.structure), class: 'muted-link' do
              = truncate(@last_comment.content, length: 65)
          .milli
            = link_to "Avis écrit par #{@last_comment.author_name} il y a #{distance_of_time_in_words_to_now(@last_comment.created_at)}", structure_path(@last_comment.structure), class: 'muted-link'
