- subdomain          = 'staging' if request.subdomain.include? 'staging'
- participation_link = open_courses_url(subdomain: (subdomain || 'www')) if participation_link.nil?
- know_more_link     = pages_jpo_url(subdomain: (subdomain || 'www'))    if know_more_link.nil?
.jpo-banner-warpper>
  .jpo-banner.soft.relative>
    .main-container.soft--top>
      = image_tag 'jpo_2014/logo_1_line.png', height: 100, class: 'block jpo-banner-logo', title: 'Portes Ouvertes des cours de loisirs par CoursAvenue'
      .jpo-fanion.relative>
        %p.flush.jpo-fanion__text.ff-open-sans.f-style-italic.text--center.absolute>
          %span.f-weight-300 Week-end
          %br
          des
          %span.f-weight-600 5 et 6 avril
          %br
          %span.f-weight-300 en Île-de-France
      .text--center.relative.jpo-call-to-actions.inline-block
        = link_to 'Participer', participation_link, class: 'btn btn--yellow btn--bigger soft-half--ends soft--sides', onclick: "ga('send', 'event', 'Participer', 'click', 'JPO banner')"
        %br>
        = link_to 'En savoir plus', know_more_link, class: 'white f-decoration-underlined milli', target: :_blank
      = image_tag 'jpo_2014/map.png', width: 678, height: 420, class: 'jpo-map absolute visuallyhidden--palm', title: 'Plus de 5 000 cours gratuit en Île-de-France'
      = link_to 'https://www.youtube.com/watch?v=mIGU39mHc78', id: 'show-video',  class: 'jpo-bubble absolute visuallyhidden--palm', data: { behavior: 'fancy', height: 560, width: 1000 } do
        = image_tag 'jpo_2014/bubble_text.png', width: 180, height: 153, title: 'Plus de 5 000 cours gratuit en Île-de-France'
  .jpo-frise>
