%div
  .map-paris
    .map-marker-image.paris-1
      = link_to structures_path(address_name: 'Paris 1', lat: '48.86', lng: '2.3411111000000346'), onclick: "ga('send', 'event', 'Map paris', 'click', '75001')", title: 'Paris 1' do
        %span= Structure.where{zip_code.in ['75001', '75000']}.length
    .map-marker-image.paris-2
      = link_to structures_path(address_name: 'Paris 2', lat: '48.8691667', lng: '2.340555600000016'), onclick: "ga('send', 'event', 'Map paris', 'click', '75002')", title: 'Paris 2' do
        %span= Structure.where{zip_code == '75002'}.length

    .map-marker-image.paris-3
      = link_to structures_path(address_name: 'Paris 3', lat: '48.8638194', lng: '2.3616583000000446'), onclick: "ga('send', 'event', 'Map paris', 'click', '75003')", title: 'Paris 3' do
        %span= Structure.where{zip_code == '75003'}.length

    .map-marker-image.paris-4
      = link_to structures_path(address_name: 'Paris 4', lat: '48.8555556', lng: '2.3555556000000024'), onclick: "ga('send', 'event', 'Map paris', 'click', '75004')", title: 'Paris 4' do
        %span= Structure.where{zip_code == '75004'}.length

    .map-marker-image.paris-5
      = link_to structures_path(address_name: 'Paris 5', lat: '48.8472222', lng: '2.3444443999999294'), onclick: "ga('send', 'event', 'Map paris', 'click', '75005')", title: 'Paris 5' do
        %span= Structure.where{zip_code == '75005'}.length

    .map-marker-image.paris-6
      = link_to structures_path(address_name: 'Paris 6', lat: '48.8472222', lng: '2.3444443999999294'), onclick: "ga('send', 'event', 'Map paris', 'click', '75006')", title: 'Paris 6' do
        %span= Structure.where{zip_code == '75006'}.length

    .map-marker-image.paris-7
      = link_to structures_path(address_name: 'Paris 7', lat: '48.8591667', lng: '2.312777800000049'), onclick: "ga('send', 'event', 'Map paris', 'click', '75007')", title: 'Paris 7' do
        %span= Structure.where{zip_code == '75007'}.length

    .map-marker-image.paris-8
      = link_to structures_path(address_name: 'Paris 8', lat: '48.8741667', lng: '2.311111100000062'), onclick: "ga('send', 'event', 'Map paris', 'click', '75008')", title: 'Paris 8' do
        %span= Structure.where{zip_code == '75008'}.length

    .map-marker-image.paris-9
      = link_to structures_path(address_name: 'Paris 9', lat: '48.8782806', lng: '2.336966699999948'), onclick: "ga('send', 'event', 'Map paris', 'click', '75009')", title: 'Paris 9' do
        %span= Structure.where{zip_code == '75009'}.length

    .map-marker-image.paris-10
      = link_to structures_path(address_name: 'Paris 10', lat: '48.8755083', lng: '2.357852800000046'), onclick: "ga('send', 'event', 'Map paris', 'click', '75010')", title: 'Paris 10' do
        %span= Structure.where{zip_code == '75010'}.length

    .map-marker-image.paris-11
      = link_to structures_path(address_name: 'Paris 11', lat: '48.8586778', lng: '2.3793055999999524'), onclick: "ga('send', 'event', 'Map paris', 'click', '75011')", title: 'Paris 11' do
        %span= Structure.where{zip_code == '75011'}.length

    .map-marker-image.paris-12
      = link_to structures_path(address_name: 'Paris 12', lat: '48.8408083', lng: '2.388183300000037'), onclick: "ga('send', 'event', 'Map paris', 'click', '75012')", title: 'Paris 12' do
        %span= Structure.where{zip_code == '75012'}.length

    .map-marker-image.paris-13
      = link_to structures_path(address_name: 'Paris 13', lat: '48.8322222', lng: '2.3555556000000024'), onclick: "ga('send', 'event', 'Map paris', 'click', '75013')", title: 'Paris 13' do
        %span= Structure.where{zip_code == '75013'}.length

    .map-marker-image.paris-14
      = link_to structures_path(address_name: 'Paris 14', lat: '48.83302219999999', lng: '2.3268888999999717'), onclick: "ga('send', 'event', 'Map paris', 'click', '75014')", title: 'Paris 14' do
        %span= Structure.where{zip_code == '75014'}.length

    .map-marker-image.paris-15
      = link_to structures_path(address_name: 'Paris 15', lat: '48.84132779999999', lng: '2.3002917000000025'), onclick: "ga('send', 'event', 'Map paris', 'click', '75015')", title: 'Paris 15' do
        %span= Structure.where{zip_code == '75015'}.length

    .map-marker-image.paris-16
      = link_to structures_path(address_name: 'Paris 16', lat: '48.8636111', lng: '2.276488900000004'), onclick: "ga('send', 'event', 'Map paris', 'click', '75016')", title: 'Paris 16' do
        %span= Structure.where{zip_code == '75016'}.length

    .map-marker-image.paris-17
      = link_to structures_path(address_name: 'Paris 17', lat: '48.8822444', lng: '2.307838899999979'), onclick: "ga('send', 'event', 'Map paris', 'click', '75017')", title: 'Paris 17' do
        %span= Structure.where{zip_code == '75017'}.length

    .map-marker-image.paris-18
      = link_to structures_path(address_name: 'Paris 18', lat: '48.89215', lng: '2.3444471999999905'), onclick: "ga('send', 'event', 'Map paris', 'click', '75018')", title: 'Paris 18' do
        %span= Structure.where{zip_code == '75018'}.length

    .map-marker-image.paris-19
      = link_to structures_path(address_name: 'Paris 19', lat: '48.88235', lng: '2.381822199999988'), onclick: "ga('send', 'event', 'Map paris', 'click', '75019')", title: 'Paris 19' do
        %span= Structure.where{zip_code == '75019'}.length

    .map-marker-image.paris-20
      = link_to structures_path(address_name: 'Paris 20', lat: '48.8650611', lng: '2.3990499999999884'), onclick: "ga('send', 'event', 'Map paris', 'click', '75020')", title: 'Paris 20' do
        %span= Structure.where{zip_code == '75020'}.length
    = image_tag 'home-page/map-paris.png', alt: 'Tous les cours à Paris'

