- cache do
  %div
    .map-paris
      .map-marker-image.paris-1
        = link_to courses_path(city: 'paris', zip_codes: ['75001']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75001'])" do
          %span= Course.joins{place}.where{place.zip_code == '75001'}.count
      .map-marker-image.paris-2
        = link_to courses_path(city: 'paris', zip_codes: ['75002']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75002'])" do
          %span= Course.joins{place}.where{place.zip_code == '75002'}.count

      .map-marker-image.paris-3
        = link_to courses_path(city: 'paris', zip_codes: ['75003']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75003'])" do
          %span= Course.joins{place}.where{place.zip_code == '75003'}.count

      .map-marker-image.paris-4
        = link_to courses_path(city: 'paris', zip_codes: ['75004']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75004'])" do
          %span= Course.joins{place}.where{place.zip_code == '75004'}.count

      .map-marker-image.paris-5
        = link_to courses_path(city: 'paris', zip_codes: ['75005']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75005'])" do
          %span= Course.joins{place}.where{place.zip_code == '75005'}.count

      .map-marker-image.paris-6
        = link_to courses_path(city: 'paris', zip_codes: ['75006']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75006'])" do
          %span= Course.joins{place}.where{place.zip_code == '75006'}.count

      .map-marker-image.paris-7
        = link_to courses_path(city: 'paris', zip_codes: ['75007']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75007'])" do
          %span= Course.joins{place}.where{place.zip_code == '75007'}.count

      .map-marker-image.paris-8
        = link_to courses_path(city: 'paris', zip_codes: ['75008']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75008'])" do
          %span= Course.joins{place}.where{place.zip_code == '75008'}.count

      .map-marker-image.paris-9
        = link_to courses_path(city: 'paris', zip_codes: ['75009']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75009'])" do
          %span= Course.joins{place}.where{place.zip_code == '75009'}.count

      .map-marker-image.paris-10
        = link_to courses_path(city: 'paris', zip_codes: ['75010']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75010'])" do
          %span= Course.joins{place}.where{place.zip_code == '75010'}.count

      .map-marker-image.paris-11
        = link_to courses_path(city: 'paris', zip_codes: ['75011']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75011'])" do
          %span= Course.joins{place}.where{place.zip_code == '75011'}.count

      .map-marker-image.paris-12
        = link_to courses_path(city: 'paris', zip_codes: ['75012']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75012'])" do
          %span= Course.joins{place}.where{place.zip_code == '75012'}.count

      .map-marker-image.paris-13
        = link_to courses_path(city: 'paris', zip_codes: ['75013']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75013'])" do
          %span= Course.joins{place}.where{place.zip_code == '75013'}.count

      .map-marker-image.paris-14
        = link_to courses_path(city: 'paris', zip_codes: ['75014']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75014'])" do
          %span= Course.joins{place}.where{place.zip_code == '75014'}.count

      .map-marker-image.paris-15
        = link_to courses_path(city: 'paris', zip_codes: ['75015']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75015'])" do
          %span= Course.joins{place}.where{place.zip_code == '75015'}.count

      .map-marker-image.paris-16
        = link_to courses_path(city: 'paris', zip_codes: ['75016']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75016'])" do
          %span= Course.joins{place}.where{place.zip_code == '75016'}.count

      .map-marker-image.paris-17
        = link_to courses_path(city: 'paris', zip_codes: ['75017']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75017'])" do
          %span= Course.joins{place}.where{place.zip_code == '75017'}.count

      .map-marker-image.paris-18
        = link_to courses_path(city: 'paris', zip_codes: ['75018']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75018'])" do
          %span= Course.joins{place}.where{place.zip_code == '75018'}.count

      .map-marker-image.paris-19
        = link_to courses_path(city: 'paris', zip_codes: ['75019']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75019'])" do
          %span= Course.joins{place}.where{place.zip_code == '75019'}.count

      .map-marker-image.paris-20
        = link_to courses_path(city: 'paris', zip_codes: ['75020']), onclick: "_gaq.push(['_trackEvent', 'Map paris', 'click', '75020'])" do
          %span= Course.joins{place}.where{place.zip_code == '75020'}.count
      = image_tag 'home-page/map-paris.png', alt: 'Tous les cours et stages à Paris'

