.slideshow-caption
  = link_to city_course_path(course.city, course) do
    %span
      %b= "Cours de #{course.name}"
    %span
      %i.icon-map-marker
      = short_address course.structure
    %span
      %i.icon-calendar
      = week_day_for course.plannings.first
    %span
      %i.icon-time
      = readable_time_slot course.plannings.first
    %span
      %i.icon-user
      = course.audiences.map{|a| t(a.name)}.join(', ')
    %span
      - # readable_price course.prices.first
