- cache "home_subjects_guide_#{ENV["ETAG_VERSION_ID"]}", public: true do
  - arts    = Subject.find('dessin-peinture-arts-plastiques')
  - dance   = Subject.find('danse')
  - theatre = Subject.find('theatre-scene')
  - music   = Subject.find('musique-chant')
  - yoga    = Subject.find('yoga-bien-etre-sante')
  %h2.soft--bottom.f-weight-300 Toutes vos passions
  .relative{ style: 'height: 600px;'}
    .absolute.bg-cover.west.north{style: "background-image: url('#{dance.image.url(:small)}'); width: 49.5%; height: 200px;" }>
      .relative.one-whole.height-whole
        %a.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page(dance, dance.vertical_pages.first || 'danse'), title: "Cours de danse" }>
          .home-screen-gallery__title.text--center
            Danse
            .milli.show-on-hover__child Découvrir
    .absolute.bg-cover.east.north{style: "background-image: url('#{music.image.url(:small)}'); width: 49.5%; height: 298px;"}
      .relative.one-whole.height-whole
        %a.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page(music, music.vertical_pages.first || 'danse'), title: "Cours de musique et chant" }>
          .home-screen-gallery__title.text--center
            Musique & Chant
            .milli.show-on-hover__child Découvrir
    .absolute.bg-cover.east.south{style: "background-image: url('#{theatre.image.url(:small)}'); width: 49.5%; height: 298px;"}
      .relative.one-whole.height-whole
        %a.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page(theatre, theatre.vertical_pages.first || 'danse'), title: "Cours de théâtre et scène" }>
          .home-screen-gallery__title.text--center
            Théâtre & Scène
            .milli.show-on-hover__child Découvrir
    .absolute.bg-cover.west{style: "background-image: url('#{arts.image.url(:small)}'); width: 49.5%; height: 194px; top: 203px" }>
      .relative.one-whole.height-whole
        %a.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page(arts, arts.vertical_pages.first || 'danse'), title: "Cours de dessin, peinture et arts" }>
          .home-screen-gallery__title.text--center
            Dessin, Peinture
            %br
            & Arts
            .milli.show-on-hover__child Découvrir
    .absolute.bg-cover.west.south{style: "background-image: url('#{yoga.image.url(:small)}'); width: 49.5%; height: 200px;"}
      .relative.one-whole.height-whole
        %a.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page(yoga, yoga.vertical_pages.first || 'danse'), title: "Cours de yoga, bien-être et santé" }>
          .home-screen-gallery__title.text--center
            Yoga, Bien-être
            %br
            & Santé
            .milli.show-on-hover__child Découvrir

