%h2.home-title Découvrez les cours en vidéos
.media-gallery.white-box>
  .grid--full
    .grid__item.one-half>
      - # Mahina Khanum
      - # http://www.coursavenue.com/etablissements/mahina-khanum
      .media__item.very-soft.media__item--video.relative.soft-half>
        %a.block.break-all{rel: 'gallery', href: "http://www.youtube.com/watch?v=XyLzQJRMCQ4", title: 'Cours de bollywood à Paris', data: {behavior: "fancy"}}
          = image_tag 'http://img.youtube.com/vi/XyLzQJRMCQ4/0.jpg'
          %i.fa.fa-youtube-play
          %i.fa.fa-expand
        = link_to "Entrez dans l'univers de la danse bollywood avec Mahina Khanum", "http://www.coursavenue.com/etablissements/mahina-khanum"
    .grid__item.one-half>
      - # BES l'Académie d'Oud
      - # http://www.coursavenue.com/etablissements/bes-l-academie-d-oud
      .media__item.very-soft.media__item--video.relative.soft-half>
        %a.block.break-all{rel: 'gallery', href: "http://www.youtube.com/watch?v=Uhhb7Wp9-00", title: 'Cours de musique à Paris', data: {behavior: "fancy"}}
          = image_tag 'http://img.youtube.com/vi/Uhhb7Wp9-00/0.jpg'
          %i.fa.fa-youtube-play
          %i.fa.fa-expand
        = link_to "Découvrez les musiques du mondes avec l'Académie d'Oud", 'http://www.coursavenue.com/etablissements/bes-l-academie-d-oud'
  .grid--full
    .grid__item.one-half>
      - # Etoile des Sables
      - # http://www.coursavenue.com/etablissements/etoile-des-sables
      .media__item.very-soft.media__item--video.relative.soft-half>
        %a.block.break-all{rel: 'gallery', href: "http://youtu.be/f0sCjCs5_vQ", title: 'Cours de danse orientale à Paris', data: {behavior: "fancy"}}
          = image_tag 'http://img.youtube.com/vi/f0sCjCs5_vQ/0.jpg'
          %i.fa.fa-youtube-play
          %i.fa.fa-expand
        = link_to "Bougez aux rythmes orientales avec l'Étoile des Sable", 'http://www.coursavenue.com/etablissements/etoile-des-sables'
    .grid__item.one-half>
      - # Les improvocantes
      - # http://www.coursavenue.com/etablissements/les-improvocantes
      .media__item.very-soft.media__item--video.relative.soft-half>
        %a.block.break-all{rel: 'gallery', href: "http://www.youtube.com/watch?v=CJDOQ9EbjSA", title: 'Cours de théâtre orientale à Paris', data: {behavior: "fancy"}}
          = image_tag 'http://img.youtube.com/vi/CJDOQ9EbjSA/0.jpg'
          %i.fa.fa-youtube-play
          %i.fa.fa-expand
        = link_to "Laissez-vous surprendre par les Improvocantes", 'http://www.coursavenue.com/etablissements/les-improvocantes'
