= content_for :title do
  CoursAvenue | Pass Découverte

= content_for :above_container do
  %ul.cb-slideshow.no-bullet-list
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div

  .main-container.main-container--medium.soft-half--bottom.relative{ style: "height: 500px;" }
    - if params[:inscription].present?
      .green-box.soft.text--center.push--top.white
        %h3 Félicitations ! Vous êtes bien enregistré : partagez-le sur Facebook.
        .text--center.push-half--bottom
          = link_to 'Partager sur Facebook', "http://www.facebook.com/sharer.php?s=100&p[url]=#{pass_decouverte_url(utm_campaign: params[:utm_campaign], referrer: 'facebook', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)}", class: 'btn btn--facebook', onclick: "ga('send', 'event', 'Pass Découverte', 'shared', 'facebook');", target: :_blank
    - else
      -  if @sponsorship
        .text--center
          .white-box.push--top.soft.inline-block
            %h4.flush= "Obtenez votre Pass Découverte à 10€ au lieu de 10€ grâce à #{@sponsor.name}"
      .text--center
        .inline-block.four-tenths.soft--right>
          .push-half--bottom.very-soft.hard--sides
            .white-box.soft.black
              %h3 Essayez autant de cours de loisirs que vous voulez !
              %p.epsilon
                Chaque mois, participez à autant de séances d'essai que vous le souhaitez parmi les #{Course.available_in_discovery_pass.count.round(-2)} cours de loisirs négociés spécialement pour vous à Paris auprès de plus de #{Structure.available_in_discovery_pass.count.round(-2)} professeurs, associations et écoles.
              = link_to 'Obtenir mon Pass', (current_user ? new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)) : '#'), class: 'btn btn--green btn--large btn--full hard--sides', data: { behavior: 'sign-in' }
        .inline-block
          = link_to (current_user ? new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)) : '#'), class: 'block', data: { behavior: 'sign-in' }, style: 'margin-left: -50px;' do
            -  if @sponsorship
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge_with_promo.png", height: 250, width: 250
            - else
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge.png", height: 250, width: 250
      .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
        .grid.epsilon
          .grid__item.two-twelfths.v-middle.text--center>
            = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
            Cécilia
          .grid__item.ten-twelfths.v-middle>
            %span.quoted.epsilon.quoted--large<
              %i Grâce au Pass, j'ai découvert au pied de mon immeuble un super cours d'écriture créative. Sans parler des cours de poterie, danse orientale, et même de sophrologie !

  .bg-site-background.relative
    .home-screen-promotion-wrapper
      .main-container.soft
        .grid
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 1
            .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
            %p.epsilon Payez directement en ligne par carte bleue : votre Pass est valable 1 mois et est renouvelable autant de fois que vous le souhaitez jusqu'à découvrir vos nouvelles passions
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 2
            .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
            %p.epsilon Visualisez toutes les séances sur une carte géographique, choisissez celles de votre choix, puis réservez gratuitement auprès de chaque partenaire
          .grid__item.one-third.palm-one-whole.text--center>
            .center-block.text--center.alpha 3
            .gamma.push-half--bottom.f-weight-300 Suivez vos cours !
            %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois : si un cours vous a particulièrement plu, libre à vous ensuite d'y revenir en vous inscrivant directement auprès du partenaire

    .main-container.main-container--medium.soft
      .push--sides
        %h2.push-half--bottom.text--center.f-weight-300 Inclus dans votre Pass Découverte
        %h4.soft--bottom.text--center.f-weight-300 Sélection de cours inclus dans votre Pass
        .grid
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/danse.png", height: 20
              Danse
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Hip Hop
              %li Pilates
              %li Lindy hop
              %li Zumba
              %li Claquettes
              %li Rock
              %li Danse country
              %li Hip-hop
              %li Danse Orientale
              %li Moderne Jazz
              %li Danse orientale classique
              %li Danse africaine moderne
              %li Danse blues
              %li Milonga et Valse argentine
              %li Tango argentin
              %li Salsa cubaine
              %li Danse indienne Bollywood
              %li . . .

          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/theatre-scene.png", height: 20
              Théâtre & Scène
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Comédie musicale
              %li Atelier de trapèze
              %li Théâtre
              %li Comédien de doublage
              %li Art dramatique
              %li Coaching pour acteurs
              %li Jeu d'acteur
              %li Développement personnel par la voix
              %li Théâtre pour enfants
              %li Improvisation théâtrale
              %li Théâtre en mouvement
              %li L'acteur face à la caméra
              %li Écriture théâtrale
              %li Théâtre de rue
              %li Pantins & marionnettes
              %li Art dramatique
              %li Mime
              %li . . .
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/yoga-bien-etre-sante.png", height: 20
              Yoga, Bien-être & Santé
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Yoga
              %li Bikram Yoga
              %li Yoga-Iyengar
              %li Méditation
              %li Réflexologie
              %li Stretching Anti Stress
              %li Massage Traditionnel Thaï
              %li Qi Gong
              %li Tai Chi
              %li Stretching Postural
              %li Atelier équilibre et marche
              %li Technique Alexander
              %li Sophrologie
              %li Hatha yoga
              %li Coaching & développement personnel
              %li Wutao
              %li Shiatsu
              %li . . .
        .grid
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/dessin-peinture-arts-plastiques.png", height: 20
              Dessin, Peinture & Arts
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Gravure
              %li Peinture et volume
              %li Dessin
              %li Sculpture modelage
              %li Portrait
              %li Peinture à l'huile
              %li Patines décoratives sur bois
              %li Couture
              %li Reproduction de personnages et portraits
              %li Atelier d'écriture
              %li Céramique et de sculpture
              %li Arts plastiques
              %li Dessin d'observation
              %li Modelage-sculpture
              %li Fresque collective
              %li Sellerie
              %li Maroquinerie
              %li Bande dessinée
              %li Découverte de la Mode
              %li Cours de nu, modèle vivant
              %li Manga
              %li Animation 2D
              %li Stylisme
              %li . . .
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/musique-chant.png", height: 20
              Musique & Chant
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Eveil musical
              %li Chant collectif
              %li Ecriture de scénario
              %li Ingénieur du son
              %li Chorale
              %li Réeducation vocale
              %li Voix lyrique et variété.
              %li Atelier découverte instrumentale
              %li Guitare et basse
              %li Batterie
              %li Chant
              %li Piano
              %li Musique & chant
              %li Approche de la basse
              %li Composition de musique de film
              %li Chant moderne
              %li Perfectionnement de la guitare
              %li Chorale
              %li Musique persane
              %li Techniques vocales et coaching vocal
              %li Chant et interprétation
              %li Chant gospel
              %li Chant moderne : jazz, chansons, rock etc...
              %li . . .
          .grid__item.one-third>
            %h4
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/sports-arts-martiaux.png", height: 20
              Sports & Arts martiaux
            %ul.no-bullet-list.epsilon.line-height-1-7
              %li Arts Martiaux Japonais adultes armes
              %li Taekwondo
              %li Kung fu
              %li Cours de self-défense
              %li Judo enfants
              %li Stretching Anti Stress
              %li Initiation à la Capoeira
              %li Cours de Bolly Aerobic (Fitness Bollywood)
              %li Initiation au Kung Fu Wushu
              %li Cardio Trainning et apprentissage coup de pied sur cible
              %li Karaté
              %li Baby Karaté
              %li Kobudo enfants adultes
              %li Cours de combat
              %li Kung Fu
              %li Arts martiaux japonais
              %li Golf à Paris
              %li Art martial Olympique d'origine Coréenne
              %li Pilates
              %li Karaté au féminin
              %li Capoeira
              %li Atelier de Vélo avec technique Alexander
              %li . . .

    .home-screen-promotion-wrapper
      .main-container.soft
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 Les avantages du Pass CoursAvenue
          .grid--full
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom Un choix unique
              %p.epsilon C'est la 1ère fois qu'un Pass vous permet d'essayer autant de cours de loisirs : plus de #{Planning.available_in_discovery_pass.count.round(-2)} séances vous sont proposées, un chiffre qui augmente chaque jour.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom Réservation gratuite
              %p.epsilon
                Réservez chaque séance d'essai en prenant directement contact avec le professeur, l'association ou l'école de votre choix.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
            .grid__item.three-twelfths.palm-one-whole>
              %h4.push-half--bottom En toute liberté
              %p.epsilon Votre pass est valable 1 mois et renouvelable autant de fois que vous le souhaitez. Satisfaction garantie.

      .text--center.push--bottom.soft--bottom
        = link_to 'Obtenir mon Pass', (current_user ? new_user_discovery_pass_path(current_user, promo_code: @sponsorship.try(:promo_code)) : '#'), class: 'btn btn--green btn--large', data: { behavior: 'sign-in' }

    .main-container.main-container--medium.soft--top
      .text--center.push--ends
        %h2.soft-half--bottom.text--center.f-weight-300 Plus de #{Structure.available_in_discovery_pass.count.round(-2)} lieux à découvrir à Paris et sa région
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/pass/map-paris-pass.jpg'

    %footer.main-footer.relative.print--hidden#coursavenue-footer
      .main-container.soft.palm-text--center
        .grid
          .grid__item.one-quarter.palm-one-whole>
            %p.push-half--bottom
              %strong À propos
            %p
              = link_to 'CoursAvenue ', root_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), title: "Comment ça marche ?"
              est le premier moteur de recherche de cours de loisirs qui permet de relier chacun de nous aux meilleurs professeurs, associations et écoles qui nous entourent.

          .grid__item.one-quarter.palm-one-whole.soft--left>
            %ul.no-bullet-list.line-height-1-7
              %li= link_to 'En savoir plus', pages_what_is_it_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), title: "Comment ça marche ?", target: :_blank
              %li= link_to "Page d'accueil CoursAvenue", root_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), title: "Page d'accueil CoursAvenue", target: :_blank
              %li= link_to 'Moteur de recherche CoursAvenue', root_search_page_without_subject_url('paris', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), title: 'Aide', target: :_blank

    :css
      .cb-slideshow,
      .cb-slideshow:after {
          position: fixed;
          width: 100%;
          height: 700px;
          top: 0px;
          left: 0px;
          z-index: 0;
      }
      .cb-slideshow li span {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          color: transparent;
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: none;
          opacity: 0;
          z-index: 0;
        -webkit-backface-visibility: hidden;
          -webkit-animation: imageAnimation 36s linear infinite 0s;
          -moz-animation: imageAnimation 36s linear infinite 0s;
          -o-animation: imageAnimation 36s linear infinite 0s;
          -ms-animation: imageAnimation 36s linear infinite 0s;
          animation: imageAnimation 36s linear infinite 0s;
      }
      .cb-slideshow li div {
          z-index: 1000;
          position: absolute;
          bottom: 30px;
          left: 0px;
          width: 100%;
          text-align: center;
          opacity: 0;
          color: #fff;
          -webkit-animation: titleAnimation 36s linear infinite 0s;
          -moz-animation: titleAnimation 36s linear infinite 0s;
          -o-animation: titleAnimation 36s linear infinite 0s;
          -ms-animation: titleAnimation 36s linear infinite 0s;
          animation: titleAnimation 36s linear infinite 0s;
      }
      .cb-slideshow li div h3 {
          font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
          font-size: 240px;
          padding: 0;
          line-height: 200px;
      }
      .cb-slideshow li:nth-child(1) span {
          background-image: url(https://coursavenue-public.s3.amazonaws.com/pass/pass_backgorund_1.jpg)
      }
      .cb-slideshow li:nth-child(2) span {
          background-image: url(https://coursavenue-public.s3.amazonaws.com/pass/pass_backgorund_2.jpg);
          -webkit-animation-delay: 6s;
          -moz-animation-delay: 6s;
          -o-animation-delay: 6s;
          -ms-animation-delay: 6s;
          animation-delay: 6s;
      }
      .cb-slideshow li:nth-child(3) span {
          background-image: url(https://coursavenue-public.s3.amazonaws.com/pass/pass_backgorund_3.jpg);
          -webkit-animation-delay: 12s;
          -moz-animation-delay: 12s;
          -o-animation-delay: 12s;
          -ms-animation-delay: 12s;
          animation-delay: 12s;
      }
      .cb-slideshow li:nth-child(4) span {
          background-image: url(https://coursavenue-public.s3.amazonaws.com/pass/pass_backgorund_4.jpg);
          -webkit-animation-delay: 18s;
          -moz-animation-delay: 18s;
          -o-animation-delay: 18s;
          -ms-animation-delay: 18s;
          animation-delay: 18s;
      }
      .cb-slideshow li:nth-child(5) span {
          background-image: url(https://coursavenue-public.s3.amazonaws.com/pass/pass_backgorund_5.jpg);
          -webkit-animation-delay: 24s;
          -moz-animation-delay: 24s;
          -o-animation-delay: 24s;
          -ms-animation-delay: 24s;
          animation-delay: 24s;
      }
      .cb-slideshow li:nth-child(6) span {
          background-image: url(https://coursavenue-public.s3.amazonaws.com/pass/pass_backgorund_6.jpg);
          -webkit-animation-delay: 30s;
          -moz-animation-delay: 30s;
          -o-animation-delay: 30s;
          -ms-animation-delay: 30s;
          animation-delay: 30s;
      }
      .cb-slideshow li:nth-child(2) div {
          -webkit-animation-delay: 6s;
          -moz-animation-delay: 6s;
          -o-animation-delay: 6s;
          -ms-animation-delay: 6s;
          animation-delay: 6s;
      }
      .cb-slideshow li:nth-child(3) div {
          -webkit-animation-delay: 12s;
          -moz-animation-delay: 12s;
          -o-animation-delay: 12s;
          -ms-animation-delay: 12s;
          animation-delay: 12s;
      }
      .cb-slideshow li:nth-child(4) div {
          -webkit-animation-delay: 18s;
          -moz-animation-delay: 18s;
          -o-animation-delay: 18s;
          -ms-animation-delay: 18s;
          animation-delay: 18s;
      }
      .cb-slideshow li:nth-child(5) div {
          -webkit-animation-delay: 24s;
          -moz-animation-delay: 24s;
          -o-animation-delay: 24s;
          -ms-animation-delay: 24s;
          animation-delay: 24s;
      }
      .cb-slideshow li:nth-child(6) div {
          -webkit-animation-delay: 30s;
          -moz-animation-delay: 30s;
          -o-animation-delay: 30s;
          -ms-animation-delay: 30s;
          animation-delay: 30s;
      }
      /* Animation for the slideshow images */
      @-webkit-keyframes imageAnimation {
          0% { opacity: 0;
          -webkit-animation-timing-function: ease-in; }
          2% { opacity: 1;
               -webkit-animation-timing-function: ease-out; }
          17% { opacity: 1 }
          25% { opacity: 0 }
          100% { opacity: 0 }
      }
      @-moz-keyframes imageAnimation {
          0% { opacity: 0;
          -moz-animation-timing-function: ease-in; }
          2% { opacity: 1;
               -moz-animation-timing-function: ease-out; }
          17% { opacity: 1 }
          25% { opacity: 0 }
          100% { opacity: 0 }
      }
      @-o-keyframes imageAnimation {
          0% { opacity: 0;
          -o-animation-timing-function: ease-in; }
          2% { opacity: 1;
               -o-animation-timing-function: ease-out; }
          17% { opacity: 1 }
          25% { opacity: 0 }
          100% { opacity: 0 }
      }
      @-ms-keyframes imageAnimation {
          0% { opacity: 0;
          -ms-animation-timing-function: ease-in; }
          2% { opacity: 1;
               -ms-animation-timing-function: ease-out; }
          17% { opacity: 1 }
          25% { opacity: 0 }
          100% { opacity: 0 }
      }
      @keyframes imageAnimation {
          0% { opacity: 0;
          animation-timing-function: ease-in; }
          2% { opacity: 1;
               animation-timing-function: ease-out; }
          17% { opacity: 1 }
          25% { opacity: 0 }
          100% { opacity: 0 }
      }
      /* Animation for the title */
      @-webkit-keyframes titleAnimation {
          0% { opacity: 0 }
          2% { opacity: 1 }
          17% { opacity: 1 }
          19% { opacity: 0 }
          100% { opacity: 0 }
      }
      @-moz-keyframes titleAnimation {
          0% { opacity: 0 }
          2% { opacity: 1 }
          17% { opacity: 1 }
          19% { opacity: 0 }
          100% { opacity: 0 }
      }
      @-o-keyframes titleAnimation {
          0% { opacity: 0 }
          2% { opacity: 1 }
          17% { opacity: 1 }
          19% { opacity: 0 }
          100% { opacity: 0 }
      }
      @-ms-keyframes titleAnimation {
          0% { opacity: 0 }
          2% { opacity: 1 }
          17% { opacity: 1 }
          19% { opacity: 0 }
          100% { opacity: 0 }
      }
      @keyframes titleAnimation {
          0% { opacity: 0 }
          2% { opacity: 1 }
          17% { opacity: 1 }
          19% { opacity: 0 }
          100% { opacity: 0 }
      }
      /* Show at least something when animations not supported */
      .no-cssanimations .cb-slideshow li span{
        opacity: 1;
      }

  - unless current_user
    = content_for :scripts do
      :javascript
        $(function() {
            $('[data-behavior=sign-in]').click(function() {
                CoursAvenue.signUp({
                    title: 'Etape 1 : créez vote compte',
                    success: function() {
                        window.location.href = Routes.new_user_discovery_pass_path(CoursAvenue.currentUser().get('slug'), promo_code: #{@sponsorship.promo_code} );
                    }
                })
            });
        })
