- @is_responsive = true

- content_for :head do
  = content_tag :script, type: 'application/ld+json' do
    = JSON.generate(@google_search_box_metadata).html_safe

.fixed.on-top.sticky-nav#coursavenue-header.one-whole.bordered--bottom.soft-black-box-shadow
  = render partial: 'shared/headers/header', locals: { medium: true }

= render 'shared/newsletter_form'

= render 'home_screen'

.home-screen-promotion-wrapper#content
  = render 'guide'

%section.main-container.main-container--medium.home-screen-promotion.soft.push--ends{ style: "background-image: url(#{bg_urls.sample});" }
  .grid--full
    .grid__item.palm-one-whole.one-half>
      .beta.push--bottom.soft--bottom.f-weight-300 Derniers avis des élèves
      - @comments.each do |comment|
        - cache ['home_comment', comment] do
          = render partial: 'comments/home_comment', locals: { comment: comment }
    .grid__item.palm-one-whole.one-half.soft--left{style: 'min-height: 35em;'}
      = render 'subject_guides'

.home-screen-promotion-wrapper
  .main-container.main-container--medium.soft.push--ends
    - blog_articles = Blog::Article.published.order('published_at DESC').limit(3)
    %div
      .beta.push--bottom.f-weight-300 Le Blog
      %ul.flush
        - blog_articles.each do |article|
          - cache article do
            %li.white-box.island{ itemscope: true, itemtype: 'http://schema.org/Article' }
              .flexbox
                .flexbox__item.v-top.two-twelfths
                  - if article.cover_image.present?
                    = link_to blog_article_path(article), class: 'muted-link push-half--bottom block' do
                      = image_tag '', class: 'block blog-article__image', alt: article.title, title: article.title, data: { behavior: 'lazy-load', original: article.cover_image.url(:very_small) }
                .flexbox__item.v-top.ten-twelfths.soft--left
                  %h3.delta.flush
                    = link_to article.title, blog_article_path(article), class: 'muted-link'
                  %p.flush
                    %time.blog-feed__date{ datetime: l(article.published_at, format: :iso_date) }= l(article.published_at.to_date, format: :long)
                    %br
                    = article.description
                    = link_to 'Lire la suite →', blog_article_path(article)
        .push--bottom
          = link_to blog_articles_path, target: '_blank', class: 'btn btn--blue' do
            %i.fa.fa-align-left
            &nbsp;Accéder au blog

%section.main-container.home-screen-promotion.soft.push--ends
  .grid--full
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de danse
      - danse_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'danse').results
      - danse_comments.each do |comment|
        - cache ['home_comment', comment] do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500, lazy: true }
      .soft--right.text--right= link_to 'Voir tous les cours de danse', root_search_page_path('danse', 'paris'), title: 'Cours de Danse à Paris'
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      - theater_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'theatre-scene').results
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de théâtre & scène
      - theater_comments.each do |comment|
        - cache ['home_comment', comment] do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500, lazy: true }
      .soft--right.text--right= link_to 'Voir tous les cours de théâtre & scène', root_search_page_path('theatre-scene', 'paris'), title: 'Cours de Théâtre & Scène à Paris'
  %hr.push--ends
  .grid--full
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de musique & chant
      - music_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'musique-chant').results
      - music_comments.each do |comment|
        - cache ['home_comment', comment] do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500, lazy: true }
      .soft--right.text--right= link_to 'Voir tous les cours de yoga, bien-être & santé', root_search_page_path('yoga-bien-etre-sante', 'paris'), title: 'Cours de Yoga, Bien-être & Santé à Paris'
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      - yoga_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'yoga-bien-etre-sante').results
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de yoga, bien-être & sante
      - yoga_comments.each do |comment|
        - cache ['home_comment', comment] do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500, lazy: true }
      .soft--right.text--right= link_to 'Voir tous les cours de musique & chant', root_search_page_path('musique-chant', 'paris'), title: 'Cours de Musique & Chant à Paris'
  %hr.push--ends
  .grid--full
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      - painting_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'dessin-peinture-arts-plastiques').results
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de dessin, peinture & arts
      - painting_comments.each do |comment|
        - cache ['home_comment', comment] do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500, lazy: true }
      .soft--right.text--right= link_to 'Voir tous les cours de dessin, peinture & arts', root_search_page_path('dessin-peinture-arts-plastiques', 'paris'), title: 'Cours de Dessin, Peinture & Arts à Paris'
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      - sports_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'sports-arts-martiaux').results
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de sports & arts martiaux
      - sports_comments.each do |comment|
        - cache ['home_comment', comment] do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500, lazy: true }
      .soft--right.text--right= link_to 'Voir tous les cours de sports & arts martiaux', root_search_page_path('sports-arts-martiaux', 'paris'), title: 'Cours de Sports & Arts martiaux à Paris'

= content_for :scripts do
  :javascript
    $(function() {
        setTimeout(function(){
            $('#pass-box').slideDown('slow');
        }, 1000);
    })
