= content_for :title do
  CoursAvenue | Les élèves vous guident vers les meilleurs cours

= render 'home_screen'

.jpo-banner-warpper>
  .jpo-banner.soft.relative>
    .main-container.soft--top>
      .jpo-popup-rotation.relative.soft--left.white.f-weight-bold.soft--bottom{ style: 'margin-left: 40px; top: -25px; font-size: 45px'} Pass Découverte
      .jpo-fanion.relative>
        %p.flush.jpo-fanion__text.f-style-italic.text--center.absolute>
          %span.f-weight-300 Essayez autant
          %br
          de
          %span.f-weight-600 cours de loisirs
          %br
          %span.f-weight-300 que vous voulez !
      .text--center.relative.jpo-call-to-actions.inline-block
        - if current_user and current_user.discovery_pass and current_user.discovery_pass.active?
          = link_to discovery_pass_search_structures_path, class: 'btn btn--yellow btn--bigger soft-half--ends soft--sides' do
            Réserver mes cours d'essai
        - else
          = link_to (current_user ? user_discovery_passes_path(current_user) : discovery_passes_path), class: 'btn btn--yellow btn--bigger soft-half--ends soft--sides' do
            Obtenir mon Pass Découverte
        .text--center
          = link_to (current_user ? user_discovery_passes_path(current_user) : discovery_passes_path), class: 'white' do
            En savoir plus
      .jpo-map.absolute
  .jpo-frise>

.home-screen-promotion-wrapper
  = render 'guide'


%section.main-container.main-container--medium.home-screen-promotion.soft.push--ends
  .grid--full
    .grid__item.palm-one-whole.one-half>
      .beta.push--bottom.soft--bottom.f-weight-300 Derniers avis des élèves
      - @comments.each do |comment|
        - cache comment do
          = render partial: 'comments/home_comment', locals: { comment: comment }
    .grid__item.palm-one-whole.one-half.soft--left{style: 'min-height: 35em;'}
      = render 'subject_guides'

.home-screen-promotion-wrapper
  .main-container.main-container--medium.soft.push--ends
    - blog_articles = Blog::Article.published.order('published_at DESC').limit(3)
    %div
      .beta.push--bottom.f-weight-300 Le Blog
      %ul.flush
        - blog_articles.each do |article|
          - cache article do
            %li.white-box.island{ itemscope: true, itemtype: 'http://schema.org/Article' }
              .flexbox
                .flexbox__item.v-top.two-twelfths
                  - if article.cover_image.present?
                    = link_to blog_article_path(article), class: 'muted-link push-half--bottom block' do
                      = image_tag article.cover_image.url(:very_small), class: 'block blog-article__image', alt: article.title, title: article.title
                .flexbox__item.v-top.ten-twelfths.soft--left
                  %h3.delta.flush
                    = link_to article.title, blog_article_path(article), class: 'muted-link'
                  %p.flush
                    %time.blog-feed__date{ datetime: l(article.published_at, format: :iso_date) }= l(article.published_at.to_date, format: :long)
                    %br
                    = article.description
                    = link_to 'Lire la suite →', blog_article_path(article)
        .push--bottom
          = link_to blog_articles_path, target: '_blank', class: 'btn btn--blue' do
            %i.fa.fa-align-left
            &nbsp;Accéder au blog

%section.main-container.home-screen-promotion.soft.push--ends
  .grid--full
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de danse
      - danse_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'danse').results
      - danse_comments.each do |comment|
        - cache comment do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500 }
      .soft--right.text--right= link_to 'Voir tous les cours de danse', root_search_page_path('danse', 'paris'), title: 'Cours de Danse à Paris'
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      - theater_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'theatre-scene').results
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de théâtre & scène
      - theater_comments.each do |comment|
        - cache comment do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500 }
      .soft--right.text--right= link_to 'Voir tous les cours de théâtre & scène', root_search_page_path('theatre-scene', 'paris'), title: 'Cours de Théâtre & Scène à Paris'
  %hr.push--ends
  .grid--full
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de musique & chant
      - music_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'musique-chant').results
      - music_comments.each do |comment|
        - cache comment do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500 }
      .soft--right.text--right= link_to 'Voir tous les cours de yoga, bien-être & santé', root_search_page_path('yoga-bien-etre-sante', 'paris'), title: 'Cours de Yoga, Bien-être & Santé à Paris'
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      - yoga_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'yoga-bien-etre-sante').results
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de yoga, bien-être & sante
      - yoga_comments.each do |comment|
        - cache comment do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500 }
      .soft--right.text--right= link_to 'Voir tous les cours de musique & chant', root_search_page_path('musique-chant', 'paris'), title: 'Cours de Musique & Chant à Paris'
  %hr.push--ends
  .grid--full
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      - painting_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'dessin-peinture-arts-plastiques').results
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de dessin, peinture & arts
      - painting_comments.each do |comment|
        - cache comment do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500 }
      .soft--right.text--right= link_to 'Voir tous les cours de dessin, peinture & arts', root_search_page_path('dessin-peinture-arts-plastiques', 'paris'), title: 'Cours de Dessin, Peinture & Arts à Paris'
    .grid__item.palm-one-whole.one-half.palm-one-whole.lap-one-whole>
      - sports_comments = CommentSearch.search(per_page: 3, has_title: true, subject_slug: 'sports-arts-martiaux').results
      %h2.push--bottom.soft--bottom.f-weight-300 Cours de sports & arts martiaux
      - sports_comments.each do |comment|
        - cache comment do
          = render partial: 'comments/home_comment', locals: { comment: comment, truncate_length: 500 }
      .soft--right.text--right= link_to 'Voir tous les cours de sports & arts martiaux', root_search_page_path('sports-arts-martiaux', 'paris'), title: 'Cours de Sports & Arts martiaux à Paris'

= content_for :scripts do
  :javascript
    $(function() {
        setTimeout(function(){
            $('#pass-box').slideDown('slow');
        }, 1000);
    })
