= content_for :above_container do
  = render 'home_screen'

  = render 'share_links'

  .home-screen-promotion-wrapper
    %section.main-container.home-screen-promotion
      .ilb-wrapper
        .palm-one-whole.one-half= render 'map_paris'
        .palm-one-whole.one-half
          .ilb-wrapper
            = link_to city_subjects_path(@city, audiences: [Audience.kid]), class: 'course-block five-twelfths palm-one-whole' do
              .course-block-image
                = image_tag 'home-page/child-courses.png', height: 150
              %h6.course-block-title
                Éveillons nos tout petits
              %p.course-block-caption
                Cours pour les 1 à 5 ans

            = link_to '/ville/paris/cours/tango', class: 'course-block five-twelfths palm-one-whole' do
              .course-block-image
                = image_tag 'home-page/tango.jpg', height: 150
              %h6.course-block-title
                Cours de tango argentin
              %p.course-block-caption
                Cours d'essai gratuit

            = link_to city_subjects_path(@city, time_slots: ['evening'], audiences: [Audience.adult]), class: 'course-block five-twelfths palm-one-whole' do
              .course-block-image
                = image_tag 'home-page/adult-courses.jpeg', height: 150
              %h6.course-block-title
                Cours et stage pour adultes
              %p.course-block-caption
                Détendez-vous après votre journée


            = link_to city_subjects_path(@city, :'price_specificities[]' => 'has_test_course'), class: 'course-block five-twelfths palm-one-whole' do
              .course-block-image
                = image_tag 'home-page/try.jpeg', height: 150
              %h6.course-block-title
                Essayez sans compter
              %p.course-block-caption
                Cours d'essai gratuit

  .text-center
    .newsletter-form
      %p.inline-paragraph
        <b>Inscrivez vous</b> à la newsletter et découvrez des classes uniques dans votre ville
      = simple_form_for NewsletterUser.new, html: {class: 'inline-form'} do |f|
        = f.email_field :email, placeholder: t('newsletter_users.email'), size: 25
        = f.text_field  :city , placeholder: t('newsletter_users.city') , size: 17
        = f.button :submit, t('.validate'), class: 'btn btn__primary'

.main-container
  .ilb-wrapper
    .one-third.palm-one-whole
      .ilb-wrapper.align-middle
        .one-fifth.text-center= image_tag 'icons/ico_piggy_bank.png'
        .four-fifths
          %h4.no-bottom-margin.no-bottom-padding.islet.green Des prix attractifs
          %p.islet LeBonCours vous garantit les prix les plus bas et la réservation est gratuite. Bénéficiez également des tarifs promotionnels négociés directement auprès de nos Partenaires.

    .one-third.palm-one-whole
      .ilb-wrapper.align-middle
        .one-fifth.text-center= image_tag 'icons/ico_qualitee.png'
        .four-fifths
          %h4.no-bottom-margin.no-bottom-padding.islet.green Une qualité assurée
          %p.islet Chaque élève a la possibilité de s’exprimer sur la qualité du cours suivi et de vous partager son expérience. Plus de mauvaises surprises, le meilleur bouche-à-oreille !

    .one-third.palm-one-whole
      .ilb-wrapper.align-middle
        .one-fifth.text-center= image_tag 'icons/ico_geoloc.png', style: 'height: 75px;'
        .four-fifths
          %h4.no-bottom-margin.no-bottom-padding.islet.green Votre passion autour de vous
          %p.islet Notre moteur de recherche avancé, qui inclut la géolocalisation, permettra de réveiller votre passion à deux pas de chez vous. Exprimez votre talent dans votre quartier !
