- @is_responsive = true

- content_for :head do
  = content_tag :script, type: 'application/ld+json' do
    = ""
    = JSON.pretty_generate(@google_search_box_metadata).html_safe

= render 'home_screen'

.home-screen-promotion-wrapper#vivez-passionnement
  .main-container.mega-soft--ends
    = render 'subject_guides'

.main-container.main-container--medium.mega-soft--ends
  %h2.text--center.push--top.push-half--bottom.f-size-big.f-weight-400 Laissez vous guider
  %h5.text--center.delta.push--bottom.soft--bottom.f-weight-400 Des milliers d'avis d'élèves pour trouver le meilleur cours
  .text--center.push--bottom
    - @comments.each_with_index do |comment, index|
      .inline-block.text--center.soft--sides.push--sides{ data: { behavior: 'show-on-hover', el: "#comment-#{comment.id}" } }>
        = image_tag comment.user.avatar_url, width: 150, height: 150, class: 'rounded--circle push-half--bottom center-block'
        .epsilon.soft--sides.push-half--bottom.f-weight-500{ class: (index == 0 ? 'f-weight-bold' : '') }= truncate(comment.author_name, length: 15, separator: /\s/, omission: '')

  .relative.grid{ style: 'height: 300px; '}
    - @comments.each_with_index do |comment, index|
      .ff-merriweather.text--center.absolute.north{ class: (index > 0 ? 'hidden' : ''), id: "comment-#{comment.id}", data: { el: 'show-on-hover' } }
        .f-style-italic.beta.line-height-2.push-half--bottom= comment.title.capitalize
        .f-style-italic.gamma.push-half--bottom.line-height-1-7= truncate(comment.content, length: 300)
        .delta.push-half--bottom.f-weight-600= link_to comment.course_name.capitalize, structure_path(comment.structure), target: :_blank

= content_for :scripts do
  :javascript
      $(function() {
          $('[data-behavior=show-on-hover]').hover(function() {
              $('[data-el=show-on-hover]').stop(true, false).fadeOut();
              $($(this).data('el')).stop(true, false).fadeIn();
              $('[data-behavior=show-on-hover] div').removeClass('f-weight-bold');
              $(this).find('div').addClass('f-weight-bold');
          });
      });
= content_for :scripts do
  :javascript
      WebFontConfig = {
        google: { families: [ 'Merriweather:400italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
