= render 'home_screen'
= content_for :title do
  CoursAvenue | Les élèves vous guident vers les meilleurs cours

= content_for :above_container do
  .main-container.hard
  = render 'share_links'
  .home-screen-promotion-wrapper.visuallyhidden--palm
    %section.main-container.home-screen-promotion
      .grid
        .grid__item.palm-one-whole.lap-one-whole.one-half.soft-half>
          %h2.home-title Les derniers avis
          - @comments.each do |comment|
            = render partial: 'comments/home_comment', locals: {comment: comment}
        .grid__item.palm-one-whole.lap-one-whole.one-half.soft-half{style: 'min-height: 35em;'}
          %h2.home-title Vidéos des cours
          .media-gallery.white-box>
            = render partial: 'medias/media', collection: Media::Video.limit(6), locals: { show_caption: false }

.main-container
  - cache "home_blog_#{ENV["ETAG_VERSION_ID"]}", public: true do
    %div
      %h3.home-title--no-border Le Blog
      = blog_feed
      .push--bottom
        = link_to 'blog', target: '_blank', class: 'btn btn--blue' do
          %i.fa.fa-align-left
          &nbsp;Accéder au blog
