= render 'home_screen'
= content_for :title do
  CoursAvenue | Trouvez un cours autour de chez vous et comparez les avis des anciens élève !

= content_for :above_container do
  .main-container.hard
  = render 'share_links'
  .home-screen-promotion-wrapper.visuallyhidden--palm
    %section.main-container.home-screen-promotion
      .grid
        .grid__item.palm-one-whole.lap-one-whole.one-half.soft-half>
          %h2.home-title Les derniers avis
          - @comments.each do |comment|
            = render partial: 'comments/home_comment', locals: {comment: comment}
        .grid__item.palm-one-whole.lap-one-whole.one-half.soft-half{style: 'min-height: 35em;'}
          %h2.home-title Une communauté grandissante
          :css
            #map { height: 500px; }
          = gmaps( {markers: {data: @json_locations_addresses}, map_options: {minZoom: 12, mapTypeControl: false}})

.main-container
  .grid
    .grid__item.lap-one-whole.palm-one-whole.one-whole>
      .grid
        .grid__item.one-third.palm-one-whole>
          .grid
            .grid__item.one-fifth.text--center.v-middle>
              = image_tag 'icons/ico_piggy_bank.png', alt: 'Cours pas cher'
            .grid__item.four-fifths.v-middle
              %h4.flush--bottom.hard--bottom.islet.blue Des prix attractifs
              %p.islet Vous ne paierez pas plus cher en passant par CoursAvenue et la mise en relation est gratuite. Bénéficiez également des tarifs promotionnels négociés directement auprès de nos Partenaires.

        .grid__item.one-third.palm-one-whole>
          .grid
            .grid__item.one-fifth.text--center.v-middle>
              = image_tag 'icons/ico_qualitee.png', alt: 'Cours de qualité'
            .grid__item.four-fifths.v-middle
              %h4.flush--bottom.hard--bottom.islet.blue Une qualité assurée
              %p.islet Chaque élève a la possibilité de s’exprimer sur la qualité du cours suivi et de vous partager son expérience. Plus de mauvaises surprises, le meilleur bouche à oreille !

        .grid__item.one-third.palm-one-whole>
          .grid
            .grid__item.one-fifth.text--center.v-middle>
              = image_tag 'icons/ico_geoloc.png', style: 'height: 75px;', alt: 'Cours autour de chez vous'
            .grid__item.four-fifths.v-middle
              %h4.flush--bottom.hard--bottom.islet.blue Votre passion autour de vous
              %p.islet Notre moteur de recherche avancé, qui inclut la géolocalisation, permettra de réveiller votre passion à deux pas de chez vous. Exprimez votre talent dans votre quartier !

    %hr
    - cache "home_blog_#{ENV["ETAG_VERSION_ID"]}", public: true do
      %div
        %h3.home-title--no-border Le Blog
        = blog_feed
        .push--bottom
          = link_to 'blog', target: '_blank', class: 'btn btn--blue' do
            %i.icon-align-left
            &nbsp;Accéder au blog

= content_for :scripts do
  :javascript
    // ---------------- Comments slideshow
    $(function() {
        $('#comments-slideshow').cycle({
            timeout: 5000,
        });
        base_url = "#{structure_path('__id__')}";
        Gmaps.map.callback = function() {
            for (var i = 0; i <  this.markers.length; ++i) {
                google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', function() {
                    window.location = base_url.replace('__id__', this.id);
                }.bind(Gmaps.map.markers[i]));
            }
        };
    });
