- content_for :head do
  = content_tag :script, type: 'application/ld+json' do
    = ""
    = JSON.pretty_generate(@google_search_box_metadata).html_safe


.search-page-filters__panel-height.relative.text--center.palm-height-auto.soft--ends
  = react_component('SearchPageAppMap', { center: [48.8592, 2.3417] }, { class: ' absolute north west height-100-percent one-whole' })
  - %w(danse theatre-scene musique-chant cuisine-vins yoga-bien-etre-sante sports-arts-martiaux photo-video deco-mode-bricolage dessin-peinture-arts-plastiques).each do |slug|
    .transition-all-300.invisible.absolute.north.west.height-100-percent.one-whole.bg-cover.on-top{ style: "background-image: url('#{Subject.find(slug).image.url(:homepage)}')", data: { slug: slug, curtain: true } }
  .home-page-curtain.absolute.north.west.height-100-percent.one-whole.on-top
  .relative.flexbox.search-page-filters__panel-height.on-top
    .flexbox__item.v-middle
      %h1.flush.f-weight-bold.f-size-really-big.white.soft--sides
        Toutes les activités
        %span{ data: { behavior: 'h1-text' } } de loisirs
        près de chez vous
      %h2.delta.white
        Recommandées par des milliers de passionnés
      .soft--top
        = link_to root_search_page_without_subject_path('paris', locate_user: 'on'), class: 'btn btn--green btn--large' do
          %i.fa.fa-map-marker
          Autour de moi

.grid--full
  %a.bg-danse.btn--danse.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('danse', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'danse', text: 'de danse' } }>
    %i.fa-danse.fa-4x
  %a.bg-theatre-scene.btn--theatre-scene.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('theatre-scene', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'theatre-scene', text: 'de théâtre' } }>
    %i.fa-theatre-scene.fa-4x
  %a.bg-musique-chant.btn--musique-chant.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('musique-chant', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'musique-chant', text: 'de musique' } }>
    %i.fa-musique-chant.fa-4x
  %a.bg-cuisine-vins.btn--cuisine-vins.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('cuisine-vins', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'cuisine-vins', text: 'de cuisine' } }>
    %i.fa-cuisine-vins.fa-4x
  %a.bg-yoga-bien-etre-sante.btn--yoga-bien-etre-sante.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('yoga-bien-etre-sante', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'yoga-bien-etre-sante', text: 'de yoga' } }>
    %i.fa-yoga-bien-etre-sante.fa-4x
  %a.bg-sports-arts-martiaux.btn--sports-arts-martiaux.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('sports-arts-martiaux', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'sports-arts-martiaux', text: 'de sports' } }>
    %i.fa-sports-arts-martiaux.fa-4x
  %a.bg-photo-video.btn--photo-video.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('photo-video', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'photo-video', text: 'de photo' } }>
    %i.fa-photo-video.fa-4x
  %a.bg-deco-mode-bricolage.btn--deco-mode-bricolage.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('deco-mode-bricolage', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'deco-mode-bricolage', text: 'de déco et mode' } }>
    %i.fa-deco-mode-bricolage.fa-4x
  %a.bg-dessin-peinture-arts-plastiques.btn--dessin-peinture-arts-plastiques.text--center.white.grid__item.one-ninth.palm-one-third.soft-double--ends{ href: root_search_page_path('dessin-peinture-arts-plastiques', 'paris', locate_user: 'on'), data: { behavior: 'update-home-page', slug: 'dessin-peinture-arts-plastiques', text: "d'arts" } }>
    %i.fa-dessin-peinture-arts-plastiques.fa-4x

.flexbox.palm-block
  %a.muted-link.flexbox__item.v-middle.search-page-filters__image-button.search-page-filters__panel-height.palm-one-whole.palm-block.one-third.bg-cover{ style: 'background-image: url("https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-theatre.jpg");', href: root_search_page_without_subject_path('paris', groupe: 1) }>
    .search-page-filters__image-button-curtain
    .relative.flexbox.search-page-filters__panel-height
      .flexbox__item.v-middle.soft--sides Danse, Théâtre & Musique
  %a.muted-link.flexbox__item.v-middle.search-page-filters__image-button.search-page-filters__panel-height.palm-one-whole.palm-block.one-third.bg-cover{ style: 'background-image: url("https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-yoga.jpg");', href: root_search_page_without_subject_path('paris', groupe: 2) }>
    .search-page-filters__image-button-curtain
    .relative.flexbox.search-page-filters__panel-height
      .flexbox__item.v-middle.soft--sides Sports, Yoga & Bien-être
  %a.muted-link.flexbox__item.v-middle.search-page-filters__image-button.search-page-filters__panel-height.palm-one-whole.palm-block.one-third.bg-cover{ style: 'background-image: url("https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-arts.jpg"); ', href: root_search_page_without_subject_path('paris', groupe: 3) }>
    .search-page-filters__image-button-curtain
    .relative.flexbox.search-page-filters__panel-height
      .flexbox__item.v-middle.soft--sides Arts créatifs

.bg-blue-green.text--center.white.soft-double.relative
  .absolute.north.west.height-100-percent.one-whole.fa-map-marker.fa-10x.soft--top.blue-green--slightly-darker
  .relative.push--ends
    %h4.beta.push-half--bottom Vous cherchez un stage, un atelier ?
    .epsilon
      Sur une journée ou plusieurs semaine, trouvez le cours de loisirs ponctuel qui vous correspond le mieux.
    .soft--top
      = link_to 'Voir les stages et ateliers', root_search_page_without_subject_path('paris', locate_user: 'on', type: 'training'), class: 'btn btn--white-transparent btn--white-transparent--white'

.home-screen-promotion-wrapper#vivez-passionnement
  .text--center.mega-soft--ends
    %h2.f-weight-400.push-half--bottom.f-size-big Vivez passionnément
    %h5.f-weight-400.delta.flush Des centaines de disciplines pour trouver celle qui vous correspond le mieux
  - VerticalPage.homepage.limit(23).each_with_index do |vertical_page, index|
    .inline-block.v-top.palm-one-whole{ class: ( (index % 5 < 3) ? 'one-third' : 'one-half')}>
      - if index % 2 == 0
        = link_to vertical_page_path(vertical_page.root_subject, vertical_page), class: 'white relative semi-muted-link line-height-1-5 delta block f-weight-500 text--center bg-cover', style: "background-image: url('#{vertical_page.image.url(:thumb)}'); height: 230px;" do
          .black-curtain.north.west.one-whole.absolute
          .relative.f-weight-600{ style: 'line-height: 230px;' }= "Cours de #{vertical_page.subject_name.downcase}"
      - else
        = link_to vertical_page_with_city_path(vertical_page.root_subject, vertical_page, 'paris'), class: 'white relative semi-muted-link line-height-1-5 delta block f-weight-500 text--center bg-cover', style: "background-image: url('#{vertical_page.image.url(:thumb)}'); height: 230px;" do
          .black-curtain.north.west.one-whole.absolute
          .relative.f-weight-600{ style: 'line-height: 230px;' }= "Cours de #{vertical_page.subject_name.downcase} à Paris"


.main-container.main-container--medium.mega-soft--ends
  %h2.text--center.push--top.push-half--bottom.f-size-big.f-weight-400 Laissez-vous guider
  %h5.text--center.delta.push--bottom.soft--bottom.f-weight-400 Des milliers d'avis d'élèves pour trouver le meilleur cours
  = render 'home/bottom_comments'

.home-screen-promotion-wrapper
  .main-container.main-container--medium.mega-soft--ends
    %h2.text--center.push--top.push-half--bottom.f-size-big.f-weight-400 Découvrez notre blog
    %h5.text--center.delta.push--bottom.soft--bottom.f-weight-400 Insolite. Créatif. Énergique. Zen. Tendance.
    = render partial: 'blog/articles/article', locals: { article: Blog::Article::UserArticle.published.order('published_at DESC').first, horizontal: true, index: 0, homepage: true }
    %hr.push--ends
    .text--center
      = link_to blog_articles_path, class: 'delta' do
        Découvrir les autres articles
        %i.fa-chevron-right

= content_for :scripts do
  :javascript
      $(function() {
          $('[data-behavior=update-home-page]').hover(function() {
              $('[data-curtain][data-slug=' + $(this).data('slug') + ']').removeClass('invisible');
              $('[data-behavior=h1-text]').text($(this).data('text'));
          }, function() {
              $('[data-curtain]').addClass('invisible');
              $('[data-behavior=h1-text]').text('de loisirs');
          });
      });
