- @is_responsive = true

- content_for :head do
  = content_tag :script, type: 'application/ld+json' do
    = ""
    = JSON.pretty_generate(@google_search_box_metadata).html_safe

= render 'home_screen'

.home-screen-promotion-wrapper#vivez-passionnement
  .main-container.mega-soft--ends.hard--sides.hard--bottom
    = render 'subject_guides'

.main-container.main-container--medium.mega-soft--ends
  %h2.text--center.push--top.push-half--bottom.f-size-big.f-weight-400 Laissez-vous guider
  %h5.text--center.delta.push--bottom.soft--bottom.f-weight-400 Des milliers d'avis d'élèves pour trouver le meilleur cours
  = render 'home/bottom_comments'
