- content_for :head do
  = content_tag :script, type: 'application/ld+json' do
    = ""
    = JSON.pretty_generate(@google_search_box_metadata).html_safe

= render 'home_screen'

.home-screen-promotion-wrapper#vivez-passionnement
  .main-container.mega-soft--ends
    .text--center.soft--sides
      %h2.f-weight-400.push-half--bottom.f-size-big Vivez passionnément
      %h5.f-weight-400.delta.push--bottom.soft--bottom Des centaines de disciplines pour trouver celle qui vous correspond le mieux
    - VerticalPage.homepage.limit(21).each_with_index do |vertical_page, index|
      .inline-block.v-top.one-third.very-soft.palm-one-whole>
        - if index % 2 == 0
          = link_to vertical_page_path(vertical_page.root_subject, vertical_page), class: 'white relative semi-muted-link line-height-1-5 delta block f-weight-500 text--center bg-cover', style: "background-image: url('#{vertical_page.image.url(:thumb)}'); height: 130px;" do
            .black-curtain.north.west.one-whole.absolute
            .relative.f-weight-600{ style: 'line-height: 130px;' }= "Cours de #{vertical_page.subject_name.downcase}"
        - else
          = link_to vertical_page_with_city_path(vertical_page.root_subject, vertical_page, 'paris'), class: 'white relative semi-muted-link line-height-1-5 delta block f-weight-500 text--center bg-cover', style: "background-image: url('#{vertical_page.image.url(:thumb)}'); height: 130px;" do
            .black-curtain.north.west.one-whole.absolute
            .relative.f-weight-600{ style: 'line-height: 130px;' }= "Cours de #{vertical_page.subject_name.downcase} à Paris"


.main-container.main-container--medium.mega-soft--ends
  %h2.text--center.push--top.push-half--bottom.f-size-big.f-weight-400 Laissez-vous guider
  %h5.text--center.delta.push--bottom.soft--bottom.f-weight-400 Des milliers d'avis d'élèves pour trouver le meilleur cours
  = render 'home/bottom_comments'

.home-screen-promotion-wrapper
  .main-container.main-container--medium.mega-soft--ends
    %h2.text--center.push--top.push-half--bottom.f-size-big.f-weight-400 Découvrez notre blog
    %h5.text--center.delta.push--bottom.soft--bottom.f-weight-400 Insolite. Créatif. Énergique. Zen. Tendance.
    = render partial: 'blog/articles/article', locals: { article: Blog::Article::UserArticle.published.order('published_at DESC').first, horizontal: true, index: 0, homepage: true }
    %hr.push--ends
    .text--center
      = link_to blog_articles_path, class: 'delta' do
        %i.fa-chevron-right
        Découvrir les autres articles
