.relative.text--center.palm-height-auto.soft--ends.bg-blue-green
  .relative.flexbox.on-top
    .flexbox__item.v-middle.soft--ends
      %h1.flush.f-weight-bold.f-size-really-big.white.soft--sides
        Souriez. Il est temps de penser à vous.
      %h2.delta.white
        CoursAvenue vous promet un quotidien artistique, créatif et sportif.
      .soft--top
        = link_to root_search_page_without_subject_path('paris', locate_user: 'on'), class: 'btn btn--white-transparent btn--white-transparent--white btn--large push-half--right' do
          Obtenir mon pass
        = link_to root_search_page_without_subject_path('paris', locate_user: 'on'), class: 'btn btn--green btn--large' do
          Offrir le pass

.flexbox.palm-block
  %a.show-on-hover__wrapper.muted-link.flexbox__item.v-middle.search-page-filters__image-button.search-page-filters__panel-height.palm-one-whole.palm-block.one-third.bg-cover{ style: 'background-image: url("https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-theatre.jpg");', href: root_search_page_without_subject_path('paris', groupe: 1, show_subject_panel: 'true') }>
    .search-page-filters__image-button-curtain
    .relative.flexbox.search-page-filters__panel-height
      .flexbox__item.v-middle.soft--sides.hide-for-fout
        Danse, Théâtre & Musique
        .soft--top.show-on-hover__child.absolute.west.one-whole.text--center
          .f-size-14.btn.btn--blue-green
            Obtenir mon pass
          .f-size-14.btn.btn--white-transparent
            Offrir le pass

  %a.show-on-hover__wrapper.muted-link.flexbox__item.v-middle.search-page-filters__image-button.search-page-filters__panel-height.palm-one-whole.palm-block.one-third.bg-cover{ style: 'background-image: url("https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-yoga.jpg");', href: root_search_page_without_subject_path('paris', groupe: 2, show_subject_panel: 'true') }>
    .search-page-filters__image-button-curtain
    .relative.flexbox.search-page-filters__panel-height
      .flexbox__item.v-middle.soft--sides.hide-for-fout
        Sports, Yoga & Bien-être
        .soft--top.show-on-hover__child.absolute.west.one-whole.text--center
          .f-size-14.btn.btn--blue-green
            Obtenir mon pass
          .f-size-14.btn.btn--white-transparent
            Offrir le pass

  %a.show-on-hover__wrapper.muted-link.flexbox__item.v-middle.search-page-filters__image-button.search-page-filters__panel-height.palm-one-whole.palm-block.one-third.bg-cover{ style: 'background-image: url("https://dqggv9zcmarb3.cloudfront.net/assets/search-page-app/group-subject-arts.jpg"); ', href: root_search_page_without_subject_path('paris', groupe: 3, show_subject_panel: 'true') }>
    .search-page-filters__image-button-curtain
    .relative.flexbox.search-page-filters__panel-height
      .flexbox__item.v-middle.soft--sides.hide-for-fout
        Arts créatifs
        .soft--top.show-on-hover__child.absolute.west.one-whole.text--center
          .f-size-14.btn.btn--blue-green
            Obtenir mon pass
          .f-size-14.btn.btn--white-transparent
            Offrir le pass

.mega-soft--ends
  %h2.alpha.soft--bottom.text--center.push--top.f-weight-400 Des centaines d'activités de loisirs, un seul Pass, une vie passionnante.
  .main-container.main-container--medium
    .grid
      .grid__item.one-third.text--center>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/test/test2-logo3.png', height: 100
      .grid__item.one-third.text--center>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/test/test2-logo2.png', height: 100
      .grid__item.one-third.text--center>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/test/test2-logo1.png', height: 100
    .grid
      .grid__item.one-third.text--center.v-middle>
        %h3 Obtenez votre pass
      .grid__item.one-third.text--center.v-middle>
        %h3 Essayez différentes séances
      .grid__item.one-third.text--center.v-middle>
        %h3 Déduisez le prix du Pass ou nous vous remboursons
    .grid
      .grid__item.one-third.text--center.v-middle>
        %p.epsilon.line-height-1-3 Payez directement en ligne par carte bleue : votre Pass à 99€ n'a pas de date de validité et vous permet de réserver autant de cours d'essai que vous le souhaitez
      .grid__item.one-third.text--center>
        %p.epsilon.line-height-1-3 Visualisez toutes les séances sur une carte géographique, puis inscrivez-vous en ligne en fonction de vos critères : avis, lieu, créneau horaire, niveau, etc.
      .grid__item.one-third.text--center>
        %p.epsilon.line-height-1-3 Si un cours vous convient, déduisez de votre 1er abonnement le prix du Pass, soit 99€. Sinon, nous vous remboursons. Ainsi, votre Pass ne vous coûte rien.


.text--center.bg-white.soft
  %strong.epsilon Pass à 99€
  %strong.epsilon.soft--sides.blue-green •
  %strong.epsilon Déduit de votre 1er abonnement ou remboursé
  %strong.epsilon.soft--sides.blue-green •
  %strong.epsilon Valable à vie

%h2.alpha.soft--bottom.text--center.push--top.f-weight-400 Déjà approuvé par plus de 38 982 membres.
.main-container.main-container--medium.mega-soft--ends
  = render 'home/bottom_comments'

.visuallyhidden
  - cache ['home#index@blog', Blog::Article::UserArticle.published.order('published_at DESC').first] do
    .home-screen-promotion-wrapper
      .main-container.main-container--medium.mega-soft--ends
        %h2.text--center.push--top.push-half--bottom.f-size-big.f-weight-400 Découvrez notre blog
        %h5.text--center.delta.push--bottom.soft--bottom.f-weight-400 Insolite. Créatif. Énergique. Zen. Tendance.
        = render partial: 'blog/articles/article', locals: { article: Blog::Article::UserArticle.published.order('published_at DESC').first, horizontal: true, index: 0, homepage: true }
        %hr.push--ends
        .text--center
          = link_to blog_articles_path, class: 'delta' do
            Découvrir les autres articles
            %i.fa-chevron-right

  - cache 'home#index@vertical_pages' do
    .home-screen-promotion-wrapper.border-none#vivez-passionnement
      .text--center.mega-soft--ends
        %h2.f-weight-400.push-half--bottom.f-size-big Vivez passionnément
        %h5.f-weight-400.delta.flush Des centaines de disciplines pour trouver celle qui vous correspond le mieux
      - VerticalPage.homepage.includes(:subject).limit(23).each_with_index do |vertical_page, index|
        %h5.inline-block.flush.gamma.muted-link.v-middle.search-page-filters__image-button.palm-one-whole.palm-block.bg-cover{ class: ((index % 5 < 3) ? 'one-third' : 'one-half'), style: "background-image: url('#{vertical_page.image.url(:homepage_small)}');" }>
          .search-page-filters__image-button-curtain
          .flexbox.relative.search-page-filters__panel-half-height
            .flexbox__item.v-middle
              - if index % 2 == 0
                = link_to "Cours de #{vertical_page.subject_name.downcase}", vertical_page_path(vertical_page.root_subject, vertical_page), class: 'white semi-muted-link block'
              - else
                = link_to "Cours de #{vertical_page.subject_name.downcase} à Paris", vertical_page_with_city_path(vertical_page.root_subject, vertical_page, 'paris'), class: 'white semi-muted-link block'

= content_for :scripts do
  :javascript
      $(function() {
          $('[data-behavior=update-home-page]').hover(function() {
              $('[data-curtain][data-slug=' + $(this).data('slug') + ']').removeClass('invisible');
              $('[data-behavior=h1-text]').text($(this).data('text'));
          }, function() {
              $('[data-curtain]').addClass('invisible');
              $('[data-behavior=h1-text]').text('de loisirs');
          });
      });
