= content_for :head do
  %meta{ name: "robots", content: "noindex, nofollow" }

= content_for :title do
  CoursAvenue | Pass loisirs

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      ga('send', 'event', 'Pass CoursAvenue', 'landed', '#{params[:referrer]}');
- if Rails.env.production? and params[:inscription].present?
  = content_for :scripts do
    :javascript
      ga('send', 'event', 'Pass CoursAvenue', 'left email');

.home-screen.soft--top.white.bg-cover{ style: "min-height: 500px; background-image: url('https://coursavenue-public.s3.amazonaws.com/public_assets/pass_loisirs.jpg')", 'data-stellar-background-ratio' => '0.6' }
  .main-container.main-container--medium.soft-half--bottom.relative{ style: "height: 500px;" }
    - if params[:inscription].present?
      .green-box.soft.text--center
        %h3 Félicitations ! Vous êtes bien enregistré : partagez-le sur Facebook et obtenez -50% de réduction sur votre 2ème mois.
        .text--center.push-half--bottom
          = link_to 'Partager sur Facebook', "http://www.facebook.com/sharer.php?s=100&p[url]=#{pass_loisirs_url(referrer: 'facebook', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)}", class: 'btn btn--facebook', onclick: "ga('send', 'event', 'Pass CoursAvenue', 'shared', 'facebook');", target: :_blank
    - else
      .grid
        .grid__item.one-third.soft--right>
          .push-half--bottom.very-soft.hard--sides
            .white-box.soft.black
              %h3 Pour 39€, participez à plus de 5 000 cours de loisirs autour de vous.
              %p.epsilon Votre Pass vous ouvre à plus de 500 disciplines rien qu'à Paris : cours d'écriture créative, krav maga, danse, yoga, accordéon... Valable 1 mois, renouvelable autant de fois que vous le voulez.
              = link_to 'Obtenir mon Pass', '#first-popup', class: 'btn btn--green btn--large btn--full hard--sides', data: { behavior: 'modal', width: 400, padding: 0 }, onclick: "ga('send', 'event', 'Pass CoursAvenue', 'first-popup');"
              %br
              .text--center
                = link_to 'javascript:void(0);', data: { behavior: 'toggleable', el: '#comment-ca-marche' }, class: 'text--center' do
                  Comment ça marche
                  %i.fa.fa-caret-down
        .grid__item.two-thirds>
          %h1.soft--top.soft-black-text-shadow.flush.big-alpha
            Réalisez-vous
          %h2.push--bottom.soft-black-text-shadow
            Pour une vie Créative. Sportive. Artistique.
        .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
          .grid.epsilon
            .grid__item.two-twelfths.v-middle.text--center>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
              Cécilia
            .grid__item.ten-twelfths.v-middle>
              .quoted.epsilon.quoted--large<
                %i Grâce au Pass CoursAvenue, j'ai découvert au pied de mon immeuble un super cours d'écriture créative. Sans parler des cours de poterie, danse orientale, et même de sophrologie ! - Il y a 2h


#first-popup.hidden
  .panel
    .panel__header.soft
      %h3.flush Payer mon Pass
    .panel__body.soft
      .grid.push-half--bottom
        .grid__item.one-twelfth.v-middle>
          %i.fa.fa-check.green.delta
        .grid__item.eleven-twelfths.epsilon.v-middle>
          Chaque mois, testez plus de
          %strong 5 000 cours de loisirs
      .grid.push-half--bottom
        .grid__item.one-twelfth.v-middle>
          %i.fa.fa-check.green.delta
        .grid__item.eleven-twelfths.epsilon.v-middle>
          Le pass est valable pendant 1 mois,
          %strong renouvelable autant de fois que vous le souhaitez
      .grid.push-half--bottom
        .grid__item.one-twelfth.v-middle>
          %i.fa.fa-check.green.delta
        .grid__item.eleven-twelfths.epsilon.v-middle>
          La réservation à
          %strong chaque cours est gratuite,
          vous ne payez que votre abonnement
      .grid.push-half--bottom
        .grid__item.one-twelfth.v-middle>
          %i.fa.fa-check.green.delta
        .grid__item.eleven-twelfths.epsilon.v-middle>
          Votre pass est nominatif et vous ne pouvez pas revenir au même cours
      .text--center
        = link_to 'Payer 39€ par Carte bleue', '#second-popup', class: 'btn btn--green btn--large btn--full hard--sides', id: 'pay-with-cb', data: { behavior: 'modal', width: 350 }

#second-popup.hidden
  %h3 Merci pour votre confiance !
  %p.epsilon Le système de paiement en ligne par carte bleue sera ouvert dans quelques jours seulement. Renseignez votre e-mail, nous vous avertirons dès que tout est mis en place :
  = simple_form_for Email.new do |f|
    = f.input :email, input_html: { class: 'input--large one-whole', placeholder: 'Votre e-mail' }, label: false
    = f.input :email_type, as: :hidden, input_html: { value: 'pass-loisirs' }
    = f.submit 'Valider', class: 'btn btn--green btn--large btn--full', data: { disable_with: 'Validation en cours...' }

#comment-ca-marche.hidden.main-container
  .soft
    .grid
      .grid__item.one-third.palm-one-whole.text--center>
        .center-block.text--center.alpha 1
        .gamma.push-half--bottom.f-weight-300 Obtenez votre Pass
        %p.epsilon Payez votre pass directement en ligne par carte bleue : il est valable 1 mois et renouvelable autant de fois que vous le souhaitez.
      .grid__item.one-third.palm-one-whole.text--center>
        .center-block.text--center.alpha 2
        .gamma.push-half--bottom.f-weight-300 Choisissez vos passions
        %p.epsilon
          Le pass est dématérialisé et vous réserverez tous les cours de votre choix depuis votre espace privé.
      .grid__item.one-third.palm-one-whole.text--center>
        .center-block.text--center.alpha 3
        .gamma.push-half--bottom.f-weight-300 Réalisez-vous !
        %p.epsilon
          Sur une
          = link_to 'carte géographique', root_search_page_without_subject_path('paris'), target: :_blank
          visualisez tous les cours de loisirs qui vous intéressent, puis contactez gratuitement chaque professeur, association ou école pour réserver votre atelier.


.home-screen-promotion-wrapper
  .main-container.soft
    .push--sides
      %h2.soft--bottom.text--center.f-weight-300 Les avantages du Pass CoursAvenue
      .grid--full
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom Plus de 5 000 ateliers
          %p.epsilon Plus de 500 disciplines vous sont proposées, avec de nouveaux cours ajoutés chaque jour.
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom Réservation gratuite
          %p.epsilon
            Réservez les séances de votre choix en prenant directement contact avec le professeur, l'association ou l'école de votre choix.
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom En toute liberté
          %p.epsilon Votre pass est valable 1 mois et renouvelable autant de fois que vous le souhaitez. Satisfaction garantie.

.main-container.soft
  .push--sides
    %h2.text--center.f-weight-300 Inclus dans votre Pass Découverte
    %h4.soft--bottom.text--center.f-weight-300 Voici une sélection de cours inclus dans votre Pass Découverte.
    .grid
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/danse.png", height: 20
          Danse
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Hip Hop
          %li Pilates
          %li Lindy hop
          %li Zumba
          %li Claquette
          %li Rock
          %li Hip-hop New Style
          %li Cours initiation danses enfants 7-9 ans
          %li Danse Orientale
          %li Moderne Jazz
          %li Danse country
          %li Danse orientale classique
          %li Danse africaine moderne
          %li Danse de société
          %li Danse blues
          %li Milonga et Valse argentine
          %li Tango argentin
          %li Salsa cubaine
          %li Street jazz
          %li Zumba
          -# %li Aquazumba
          -# %li Danse indienne Bollywood
          -# %li Comédie musicale Bollywood
          -# %li Danse Africaine de Côte d'ivoire, Mali et Guinée
          -# %li Pole Dance
          -# %li Danse Contemporaine
          -# %li Cours de danse : chorégraphie de Chorus Line
          -# %li Danse afro-caribéenne
          -# %li Rock
          -# %li Atelier d'initiation à la danse orientale
          -# %li Danse Afro Jazz
          -# %li Danse Butô (Danse contemporaine japonaise)
          -# %li Street Fit
          -# %li Danse arabian fitness
          -# %li Salsa Colombienne
          -# %li Atelier en toute liberté (chant, danse, jeu d'acteur)
          -# %li Atelier Danse Orientale
          -# %li Atelier d'initiation au rock
          -# %li MasterClass Afroglow dance
          -# %li Atelier d'initiation à la bachata
          -# %li Découvrez le WECANDANCE
          -# %li Cours de Hip-hop, Jazz, chorégraphie
          -# %li Cours de salsa : maîtrisez les techniques de guidage
          -# %li Eveil danse
          -# %li Initiation de pas de danse congolaise
          -# %li Danse orientale
          -# %li Cours de Claquettes et Comédie Musicale
          -# %li Tango Argentin
          -# %li Initiation au hip-hop
          -# %li Initiation à la danse arabe (Egypte, Maroc, Algérie, Tunisie)
          -# %li Salsa
          -# %li Zumba
          -# %li Reunion d'information/Présentation de l'association
          -# %li Stage Lindy Hop
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/theatre-scene.png", height: 20
          Théâtre & Scène
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Cours de comédie musicale
          %li Atelier de trapèze
          %li Théâtre
          %li Atelier Damien Acoca - Soirée Découverte gratuite 20 Juin
          %li Comédien de doublage
          %li Atelier d'art dramatique - coaching pour acteurs
          %li Théâtre
          %li Atelier d'initiation, rencontre avec nos techniques de jeu d'acteur.
          %li Séance de répétition théâtre ouverte
          %li Développement personnel par la voix
          %li Théâtre pour enfants
          %li Atelier d'improvisation théâtrale
          %li Improvisation theatrale
          %li Théâtre
          %li Théâtre en mouvement
          %li L'acteur face à la caméra
          %li Théâtre
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/yoga-bien-etre-sante.png", height: 20
          Yoga, Bien-être & Santé
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Atelier de do in et démonstration de shiatsu
          %li Cours d'initiation au Hatha Yoga
          %li Cours de Yoga
          %li Initiation au Bikram Yoga
          %li Yoga-Iyengar et  Méditation
          %li Foot Massage & Réflexologie
          %li Stretching Anti Stress
          %li Massage Traditionnel Thaï
          %li Qi Gong, Tai Chi et Stretching Postural
          %li Atelier équilibre et marche
          %li Cours de Yoga
          %li Atelier de découverte à la Technique Alexander
          %li Découverte Sophrologie
          %li Atelier bien-être,  coaching & développement personnel
          %li Hatha yoga
          %li Cours de Wutao
          %li Cours de yoga
          %li Cours de  Shiatsu
          -# %li Yoga - Cours découverte
          -# %li Cous de yoga
          -# %li Cours d'initiation individuel  à la sophrologie
          -# %li Atelier de Flamenco tout niveaux
          -# %li Qi Gong et Tai Chi Chuan
          -# %li Cours de Qi Gong
          -# %li Cours de Gyrotonic avec Paula
          -# %li Cours de sophrologie avec Pauline
          -# %li Atelier d'écriture créative
          -# %li Cours de Stretching / Rélaxation avec Romina
          -# %li Cours de Gyrokinesis avec Anna
          -# %li Cours de Gyrotonic avec Lars
          -# %li Séance de yoga prénatal
          -# %li Séance de Yoga du Cachemire
          -# %li Hatha Yoga
          -# %li Atelier de Yoga
          -# %li Sophro-Relaxation \"Bulle Détente & Sérénité\"
          -# %li Cours de Hatha Yoga avec Corina
          -# %li Cours de Hatha Yoga avec Perrine
    .grid
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/dessin-peinture-arts-plastiques.png", height: 20
          Dessin, Peinture & Arts
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Initiation à la gravure
          %li Atelier de dessin, peinture et volume
          %li Dessin
          %li Initiation à la sculpture modelage
          %li Initiation au portrait
          %li Peinture à l'huile et tempera grasse
          %li Démonstrations de peintures et patines décoratives sur bois
          %li Atelier d'initiation à la couture
          %li Initiation de dessin (reproduction de personnages et portraits)
          %li Démonstration d'atelier d' écriture
          %li Cours de céramique et de sculpture
          %li Atelier de dessin et peinture
          %li Atelier d'arts plastiques
          %li Atelier d'initiation au dessin d'observation
          %li Ateliers de dessin-peinture, de modelage-sculpture
          %li cours de dessin musee
          %li Fresque collective
          %li Atelier d'initiation à la sellerie / maroquinerie
          %li Atelier bande dessinée
          %li Atelier Découverte de la Mode
          %li Cours de nu,  modèle vivant
          %li Atelier d'initiation au Manga
          %li Atelier d'initiation à l'Animation 2D
          %li Atelier d'initiation au Dessin / Peinture Ado - Adulte
          %li Atelier d'initiation au Dessin / Peinture Enfant
          %li Initiation au Stylisme
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/musique-chant.png", height: 20
          Musique & Chant
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Eveil musical
          %li Atelier de chant collectif
          %li Ecriture de scénario
          %li Ingénieur du son
          %li Cours public de chorale
          %li Présentation de la Réeducation vocale (Formation pour le chant en 6 cours)
          %li Fondamentaux de technique vocale, voix lyrique et variété.
          %li Atelier découverte instrumentale
          %li Guitare, basse, batterie et chant.
          %li Présentation du piano
          %li Atelier de musique et chant
          %li Approche de la basse
          %li Composition de musique de film
          %li Atelier d'initiation au chant moderne
          %li Découverte et perfectionnement de la guitare
          %li Chorale
          %li Initiation à la musique persane et découverte des instruments iraniens
          %li Atelier d'initiation au piano
          %li Cours de Chant
          %li Cours de piano
          %li Initiation instrumentale
          %li Chant, techniques vocales et coaching vocal
          %li Chant et interprétation
          %li Chant gospel
          %li Initiation à la musique
          %li Atelier \"S'AFFIRMER DANS SA VOIX PARLEE\"
          %li Atelier \"jeu en groupe\"
          %li Atelier d'initiation à la batterie
          %li Présentation de la batterie
          %li Atelier d'initiation à la guitare et à la basse
          %li Cours de Chant
          %li Atelier d'initiation à la percussion Africaine (Djembe Doun-doun)
          %li Répétition Publique \"les filles de mon cœur\"
          %li Cours de Chant
          %li Cours de Chant
          %li Musique assistée par ordinateur (MAO) Et Composition de musique de film
          %li Chant  moderne : jazz, chansons, rock etc...
          %li Eveil Musical
          %li Chant \"Voix Libre\"
          %li Théâtre et Chant
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/sports-arts-martiaux.png", height: 20
          Sports & Arts martiaux
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Arts Martiaux Japonais adultes armes
          %li Taekwondo
          %li Kung fu
          %li Cours de self-défense
          %li Judo enfants
          %li Initiation à la Capoeira
          %li Initiation au Kinomichi
          %li Initiation de Kung Fu
          %li Stretching Anti Stress
          %li Initiation à la Capoeira
          %li Cours de Bolly Aerobic (Fitness Bollywood)
          %li Initiation au Kung Fu Wushu
          %li Cardio Trainning et apprentissage coup de pied sur cible
          %li Karaté
          %li Baby Karaté
          %li Kobudo enfants adultes
          %li Body Taekwondo
          %li Aquagym Senior
          %li Gymnastique Senior
          %li Cours de combat
          %li Initiation de Kung Fu
          %li Cours d'initiation aux arts martiaux japonais
          %li Golf à Paris
          %li Atelier Initiation Taekwondo, art martial Olympique d'origine Coréenne
          %li Cours de pilates
          %li Ado Karaté
          %li Karaté au féminin
          %li Ateliers Capoeira
          %li Atelier de Vélo avec technique Alexander

- if Rails.env.production?
  = content_for :scripts do
    <!-- Facebook Conversion Code for Pass-loisir checkout -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6017039707227&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
    :javascript
      $('#pay-with-cb').click(function() {
          ga('send', 'event', 'Pass CoursAvenue', 'second popup');
          window._fbq.push(['track', '6017039707227', {'value':'39.00','currency':'EUR'}]);
      });


