- case (params[:utm_campaign] || '').last
- when 'a'
  - @price = 9
- when 'b'
  - @price = 19
- when 'c'
  - @price = 29
- else
  - @price = 9
= content_for :head do
  %meta{ name: "robots", content: "noindex, nofollow" }

= content_for :title do
  CoursAvenue | Pass loisirs

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      ga('send', 'event', 'Pass Découverte', 'landed', '#{params[:referrer]}');
- if Rails.env.production? and params[:inscription].present?
  = content_for :scripts do
    :javascript
      ga('send', 'event', 'Pass Découverte', 'left email');

.home-screen.soft--top.white.bg-cover{ style: "min-height: 500px; background-image: url('https://coursavenue-public.s3.amazonaws.com/public_assets/pass_loisirs.jpg')", 'data-stellar-background-ratio' => '0.6' }
  .main-container.main-container--medium.soft-half--bottom.relative{ style: "height: 500px;" }
    - if params[:inscription].present?
      .green-box.soft.text--center
        %h3 Félicitations ! Vous êtes bien enregistré : partagez-le sur Facebook.
        .text--center.push-half--bottom
          = link_to 'Partager sur Facebook', "http://www.facebook.com/sharer.php?s=100&p[url]=#{pass_decouverte_url(utm_campaign: params[:utm_campaign], referrer: 'facebook', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)}", class: 'btn btn--facebook', onclick: "ga('send', 'event', 'Pass Découverte', 'shared', 'facebook');", target: :_blank
    - else
      .grid--full.push--top.soft--top
        .grid__item.four-tenths.soft--right>
          .push-half--bottom.very-soft.hard--sides
            .white-box.soft.black
              %h3 Essayez autant de cours de loisirs que vous voulez !
              %p.epsilon Valable 1 mois et renouvelable, le Pass Découverte vous permet de suivre autant de cours d'essais que vous le souhaitez à Paris chez plus de 1 000 professeurs, écoles et associations.
              = link_to 'Obtenir mon Pass', '#first-popup', class: 'btn btn--green btn--large btn--full hard--sides', data: { behavior: 'modal', width: 400, padding: 0 }, onclick: "ga('send', 'event', 'Pass Découverte', 'first-popup');"
        .grid__item.six-tenths>
          = link_to '#first-popup', class: 'block', data: { behavior: 'modal', width: 400, padding: 0 }, onclick: "ga('send', 'event', 'Pass Découverte', 'first-popup');", style: 'margin-left: -50px; margin-top: -50px;' do
            = image_tag "https://coursavenue-public.s3.amazonaws.com/pass/pass_#{@price}.png", height: 250, width: 250
        .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
          .grid.epsilon
            .grid__item.two-twelfths.v-middle.text--center>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
              Cécilia
            .grid__item.ten-twelfths.v-middle>
              %span.quoted.epsilon.quoted--large<
                %i Grâce au Pass, j'ai découvert au pied de mon immeuble un super cours d'écriture créative. Sans parler des cours de poterie, danse orientale, et même de sophrologie !
              \— Il y a 2h


#first-popup.hidden
  .panel
    .panel__header.soft
      %h3.flush Laissez-nous vos coordonnées
    .panel__body.soft
      %p.epsilon Pour vous offrir la meilleure expérience, nous sommes actuellement en train de finaliser le Pass Découverte. Renseignez votre e-mail, nous vous avertirons dès qu'il devient disponible (nombre limité !) :
      %p.epsilon.push-half--bottom
        %strong Me tenir au courant du lancement :
      = simple_form_for Email.new do |f|
        = f.input :email, input_html: { class: 'input--large one-whole', placeholder: 'Votre e-mail' }, label: false
        = f.input :email_type, as: :hidden, input_html: { value: "pass-decouverte_#{@price}" }
        %input{ type: 'hidden', name: 'utm_campaign', value: params[:utm_campaign] }
        = f.submit 'Valider', class: 'btn btn--green btn--large btn--full', data: { disable_with: 'Validation en cours...' }


.home-screen-promotion-wrapper
  .main-container.soft
    .push--sides.soft--ends
      .grid--full
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom Un choix unique
          %p.epsilon C'est la 1ère fois qu'un Pass vous permet d'essayer autant de cours de loisirs : plus de 3 000 séances vous sont proposées, un chiffre qui augmente chaque jour.
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom Réservation gratuite
          %p.epsilon
            Réservez chaque séance d'essai en prenant directement contact avec le professeur, l'association ou l'école de votre choix.
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom En toute liberté
          %p.epsilon Votre pass est valable 1 mois et renouvelable autant de fois que vous le souhaitez. Satisfaction garantie.

      .text--center.epsilon
        = link_to '#comment-ca-marche', data: { behavior: 'scroll-to' }, class: 'text--center' do
          Comment ça marche ?
.main-container.soft
  .push--sides
    %h2.push-half--bottom.text--center.f-weight-300 Inclus dans votre Pass Découverte
    %h4.soft--bottom.text--center.f-weight-300 Voici une sélection de cours inclus dans votre Pass
    .grid
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/danse.png", height: 20
          Danse
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Hip Hop
          %li Pilates
          %li Lindy hop
          %li Zumba
          %li Claquettes
          %li Rock
          %li Danse country
          %li Hip-hop
          %li Danse Orientale
          %li Moderne Jazz
          %li Danse orientale classique
          %li Danse africaine moderne
          %li Danse blues
          %li Milonga et Valse argentine
          %li Tango argentin
          %li Salsa cubaine
          %li Danse indienne Bollywood
          %li . . .
          -# %li Street jazz
          -# %li Jazz
          -# %li Danse de société
          -# %li Comédie musicale Bollywood
          -# %li Danse Africaine de Côte d'ivoire, Mali et Guinée
          -# %li Pole Dance
          -# %li Danse Contemporaine
          -# %li Cours de danse : chorégraphie de Chorus Line
          -# %li Danse afro-caribéenne
          -# %li Atelier d'initiation à la danse orientale
          -# %li Danse Afro Jazz
          -# %li Danse Butô (Danse contemporaine japonaise)
          -# %li Street Fit
          -# %li Danse arabian fitness
          -# %li Salsa Colombienne
          -# %li Atelier en toute liberté (chant, danse, jeu d'acteur)
          -# %li Atelier Danse Orientale
          -# %li MasterClass Afroglow dance
          -# %li Atelier d'initiation à la bachata
          -# %li Découvrez le WECANDANCE
          -# %li Cours de Hip-hop, Jazz, chorégraphie
          -# %li Cours de salsa : maîtrisez les techniques de guidage
          -# %li Eveil danse
          -# %li Initiation de pas de danse congolaise
          -# %li Danse orientale
          -# %li Tango Argentin
          -# %li Initiation au hip-hop
          -# %li Initiation à la danse arabe (Egypte, Maroc, Algérie, Tunisie)
          -# %li Salsa
          -# %li Reunion d'information/Présentation de l'association
          -# %li Stage Lindy Hop
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/theatre-scene.png", height: 20
          Théâtre & Scène
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Comédie musicale
          %li Atelier de trapèze
          %li Théâtre
          %li Comédien de doublage
          %li Art dramatique
          %li Coaching pour acteurs
          %li Jeu d'acteur
          %li Développement personnel par la voix
          %li Théâtre pour enfants
          %li Improvisation théâtrale
          %li Théâtre en mouvement
          %li L'acteur face à la caméra
          %li Écriture théâtrale
          %li Théâtre de rue
          %li Pantins & marionnettes
          %li Art dramatique
          %li Mime
          %li . . .
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/yoga-bien-etre-sante.png", height: 20
          Yoga, Bien-être & Santé
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Yoga
          %li Bikram Yoga
          %li Yoga-Iyengar
          %li Méditation
          %li Réflexologie
          %li Stretching Anti Stress
          %li Massage Traditionnel Thaï
          %li Qi Gong
          %li Tai Chi
          %li Stretching Postural
          %li Atelier équilibre et marche
          %li Technique Alexander
          %li Sophrologie
          %li Hatha yoga
          %li Coaching & développement personnel
          %li Wutao
          %li Shiatsu
          %li . . .
          -# %li Foot Massage
          -# %li Yoga - Cours découverte
          -# %li Cous de yoga
          -# %li Cours d'initiation individuel  à la sophrologie
          -# %li Atelier de Flamenco tout niveaux
          -# %li Qi Gong et Tai Chi Chuan
          -# %li Cours de Qi Gong
          -# %li Cours de Gyrotonic avec Paula
          -# %li Cours de sophrologie avec Pauline
          -# %li Atelier d'écriture créative
          -# %li Cours de Stretching / Rélaxation avec Romina
          -# %li Cours de Gyrokinesis avec Anna
          -# %li Cours de Gyrotonic avec Lars
          -# %li Séance de yoga prénatal
          -# %li Séance de Yoga du Cachemire
          -# %li Hatha Yoga
          -# %li Atelier de Yoga
          -# %li Sophro-Relaxation \"Bulle Détente & Sérénité\"
          -# %li Cours de Hatha Yoga avec Corina
          -# %li Cours de Hatha Yoga avec Perrine
    .grid
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/dessin-peinture-arts-plastiques.png", height: 20
          Dessin, Peinture & Arts
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Gravure
          %li Peinture et volume
          %li Dessin
          %li Sculpture modelage
          %li Portrait
          %li Peinture à l'huile
          %li Patines décoratives sur bois
          %li Couture
          %li Reproduction de personnages et portraits
          %li Atelier d'écriture
          %li Céramique et de sculpture
          %li Arts plastiques
          %li Dessin d'observation
          %li Modelage-sculpture
          %li Fresque collective
          %li Sellerie
          %li Maroquinerie
          %li Bande dessinée
          %li Découverte de la Mode
          %li Cours de nu, modèle vivant
          %li Manga
          %li Animation 2D
          %li Stylisme
          %li . . .
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/musique-chant.png", height: 20
          Musique & Chant
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Eveil musical
          %li Chant collectif
          %li Ecriture de scénario
          %li Ingénieur du son
          %li Chorale
          %li Réeducation vocale
          %li Voix lyrique et variété.
          %li Atelier découverte instrumentale
          %li Guitare et basse
          %li Batterie
          %li Chant
          %li Piano
          %li Musique & chant
          %li Approche de la basse
          %li Composition de musique de film
          %li Chant moderne
          %li Perfectionnement de la guitare
          %li Chorale
          %li Musique persane
          %li Techniques vocales et coaching vocal
          %li Chant et interprétation
          %li Chant gospel
          %li Chant moderne : jazz, chansons, rock etc...
          %li . . .
      .grid__item.one-third>
        %h4
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/icons/subjects/sports-arts-martiaux.png", height: 20
          Sports & Arts martiaux
        %ul.no-bullet-list.epsilon.line-height-1-7
          %li Arts Martiaux Japonais adultes armes
          %li Taekwondo
          %li Kung fu
          %li Cours de self-défense
          %li Judo enfants
          %li Stretching Anti Stress
          %li Initiation à la Capoeira
          %li Cours de Bolly Aerobic (Fitness Bollywood)
          %li Initiation au Kung Fu Wushu
          %li Cardio Trainning et apprentissage coup de pied sur cible
          %li Karaté
          %li Baby Karaté
          %li Kobudo enfants adultes
          %li Cours de combat
          %li Kung Fu
          %li Arts martiaux japonais
          %li Golf à Paris
          %li Art martial Olympique d'origine Coréenne
          %li Pilates
          %li Karaté au féminin
          %li Capoeira
          %li Atelier de Vélo avec technique Alexander
          %li . . .

.home-screen-promotion-wrapper#comment-ca-marche
  .main-container.soft
    %h2.soft--bottom.text--center.f-weight-300 Comment ça marche
    .grid
      .grid__item.one-third.palm-one-whole.text--center>
        .center-block.text--center.alpha 1
        .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
        %p.epsilon Payez directement en ligne par CB : votre Pass est valable 1 mois et renouvelable
      .grid__item.one-third.palm-one-whole.text--center>
        .center-block.text--center.alpha 2
        .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
        %p.epsilon Sur le moteur de recherche CoursAvenue.com, choisissez les activités que vous aimeriez essayer parmi tous les cours présentant le logo Pass Découverte (plus de 3 000 !). Réservez ensuite votre séance d'essai directement sur la page du partenaire
      .grid__item.one-third.palm-one-whole.text--center>
        .center-block.text--center.alpha 3
        .gamma.push-half--bottom.f-weight-300 Suivez vos cours !
        %p.epsilon Notez la date et l'adresse du cours dans votre agenda pour ne pas l'oublier. En cas de désistement, prévenez votre professeur au plus vite.

.main-container.main-container--medium.soft--top
  .text--center.push--ends
    %h2.soft-half--bottom.text--center.f-weight-300 Où que vous soyez à Paris
    = image_tag 'https://coursavenue-public.s3.amazonaws.com/pass/map-paris-pass.jpg'

  .text--center.soft--ends.push--ends
    = link_to 'Obtenir mon Pass', '#first-popup', class: 'btn btn--green btn--large', data: { behavior: 'modal', width: 400, padding: 0 }, onclick: "ga('send', 'event', 'Pass Découverte', 'first-popup');"

- if Rails.env.production?
  = content_for :scripts do
    <!-- Facebook Conversion Code for Pass-loisir checkout -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6017039707227&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
    :javascript
      $('#pay-with-cb').click(function() {
          ga('send', 'event', 'Pass Découverte', 'second popup');
          window._fbq.push(['track', '6017039707227', {'value':'39.00','currency':'EUR'}]);
      });


