= content_for :head do
  %meta{ name: "robots", content: "noindex, nofollow" }

= content_for :title do
  CoursAvenue | Pass loisirs

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      ga('send', 'event', 'Pass loisir', 'landed', '#{params[:referrer]}');
.home-screen.soft--top.white.bg-cover{ style: "min-height: 500px; background-image: url('https://coursavenue-public.s3.amazonaws.com/public_assets/pass_loisirs.jpg')", 'data-stellar-background-ratio' => '0.6' }
  .main-container.main-container--medium.soft-half--bottom.relative{ style: "height: 500px;" }
    - if params[:inscription].present?
      .green-box.soft.text--center
        %h3 Félicitations ! Vous êtes bien enregistré : partagez-le sur Facebook et obtenez -50% de réduction sur votre 2ème mois.
        .text--center.push-half--bottom
          = link_to 'Partager sur Facebook', "http://www.facebook.com/sharer.php?s=100&p[url]=#{pass_loisirs_url(referrer: 'facebook', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)}", class: 'btn btn--facebook', onclick: "ga('send', 'event', 'Pass loisir', 'shared', 'facebook');", target: :_blank
    - else
      .grid
        .grid__item.one-third.soft--right>
          .push-half--bottom.very-soft.hard--sides
            .white-box.soft.black
              %h3 Pour 39€, participez à plus de 5 000 cours de loisirs autour de vous.
              %p.epsilon Parmi plus de 500 disciplines rien qu'à Paris : cours d'écriture créative, krav maga, danse, yoga, accordéon...
              = link_to 'Obtenir mon Pass', '#first-popup', class: 'btn btn--green btn--large btn--full hard--sides', data: { behavior: 'modal', width: 400, padding: 0 }, onclick: "ga('send', 'event', 'Pass loisir', 'first-popup');"
              %br
              .text--center
                = link_to 'javascript:void(0);', data: { behavior: 'toggleable', el: '#comment-ca-marche' }, class: 'text--center' do
                  Comment ça marche
                  %i.fa.fa-caret-down
        .grid__item.two-thirds>
          %h1.soft--top.soft-black-text-shadow.flush.big-alpha
            Réalisez-vous
          %h2.push--bottom.soft-black-text-shadow
            Pour une vie Créative. Sportive. Artistique.
        .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
          .grid.epsilon
            .grid__item.two-twelfths.v-middle.text--center>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
              Cécilia
            .grid__item.ten-twelfths.v-middle>
              .quoted.epsilon.quoted--large<
                %i Grâce au Pass CoursAvenue, j'ai découvert au pied de mon immeuble un super cours d'écriture créative. Sans parler des cours de poterie, danse orientale, et même de sophrologie ! - Il y a 2h


#first-popup.hidden
  .panel
    .panel__header.soft
      %h3.flush Payer mon Pass
    .panel__body.soft
      .grid.push-half--bottom
        .grid__item.one-twelfth.v-middle>
          %i.fa.fa-check.green.delta
        .grid__item.eleven-twelfths.epsilon.v-middle>
          Chaque mois, testez plus de
          %strong 5 000 cours de loisirs
      .grid.push-half--bottom
        .grid__item.one-twelfth.v-middle>
          %i.fa.fa-check.green.delta
        .grid__item.eleven-twelfths.epsilon.v-middle>
          Le pass est valable pendant 1 mois,
          %strong renouvelable autant de fois que vous le souhaitez
      .grid.push-half--bottom
        .grid__item.one-twelfth.v-middle>
          %i.fa.fa-check.green.delta
        .grid__item.eleven-twelfths.epsilon.v-middle>
          La réservation à
          %strong chaque cours est gratuite,
          vous ne payez que votre abonnement
      .grid.push-half--bottom
        .grid__item.one-twelfth.v-middle>
          %i.fa.fa-check.green.delta
        .grid__item.eleven-twelfths.epsilon.v-middle>
          Votre pass est nominatif et vous ne pouvez pas revenir au même cours
      .text--center
        = link_to 'Payer 39€ par Carte bleue', '#second-popup', class: 'btn btn--green btn--large btn--full hard--sides', id: 'pay-with-cb', data: { behavior: 'modal', width: 350 }

#second-popup.hidden
  %h3 Merci pour votre confiance !
  %p.epsilon Le système de paiement en ligne par carte bleue sera ouvert dans quelques jours seulement. Renseignez votre e-mail, nous vous avertirons dès que tout est mis en place :
  = simple_form_for Email.new do |f|
    = f.input :email, input_html: { class: 'input--large one-whole', placeholder: 'Votre e-mail' }, label: false
    = f.input :email_type, as: :hidden, input_html: { value: 'pass-loisirs' }
    = f.submit 'Valider', class: 'btn btn--green btn--large btn--full', data: { disable_with: 'Validation en cours...' }

#comment-ca-marche.hidden.main-container
  .soft
    .grid
      .grid__item.one-third.palm-one-whole>
        .center-block.text--center.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 1
        .gamma.push-half--bottom.f-weight-300 Obtenez votre PassLoisirs
        %p.epsilon Payez l'abonnement pour votre PassLoisirs directement en ligne par carte bleue.
      .grid__item.one-third.palm-one-whole>
        .center-block.text--center.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 2
        .gamma.push-half--bottom.f-weight-300 Sélectionnez les cours de loisirs qui vous intéressent
        %p.epsilon
          Le pass est dématérialisé : une fois le paiement des 39€ effectué, vous accèderez à votre espace privé pour réserver tous les cours de votre choix.
      .grid__item.one-third.palm-one-whole>
        .center-block.text--center.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 3
        .gamma.push-half--bottom.f-weight-300 Réalisez-vous !
        %p.epsilon
          Sur une
          = link_to 'carte géographique', root_search_page_without_subject_path('paris'), target: :_blank
          visualisez tous les cours de loisirs qui vous intéressent, puis contactez gratuitement chaque professeur, association ou école pour réserver votre atelier.


.home-screen-promotion-wrapper
  .main-container.soft
    .push--sides
      %h2.soft--bottom.text--center.f-weight-300 Les avantages du Pass CoursAvenue
      .grid--full
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom Plus de 5 000 ateliers
          %p.epsilon Plus de 500 disciplines vous sont proposées, avec de nouveaux cours ajoutés chaque jour.
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom Réservation gratuite
          %p.epsilon
            Réservez les séances de votre choix en prenant directement contact avec le professeur, l'association ou l'école de votre choix.
        .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
        .grid__item.three-twelfths.palm-one-whole>
          %h4.push-half--bottom En toute liberté
          %p.epsilon Votre pass fonctionne par abonnement que vous pouvez résilier à tout moment. Satisfaction garantie.

.main-container.soft
  .push--sides
    %h2.soft--bottom.text--center.f-weight-300 Découvrez vos passions en illimité
    = render partial: 'vertical_pages/subjects', locals: { subjects: Subject.roots.order('position ASC') }

- if Rails.env.production?
  = content_for :scripts do
    <!-- Facebook Conversion Code for Pass-loisir checkout -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6017039707227&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
    :javascript
      $('#pay-with-cb').click(function() {
          ga('send', 'event', 'Pass loisir', 'second popup');
          window._fbq.push(['track', '6017039707227', {'value':'39.00','currency':'EUR'}]);
      });
