:ruby
  profiles = []
  profiles << {
    a: {
      title: 'Zen : Urgence ! Adoptez la zen-attitude',
      content: "Oulala rien ne va plus ! Trop de stress, de surmenage, de pression : il y a urgence, l’année 2015 sera placée sous le signe de la détente, du zen et du lâcher-prise. Boostez votre confiance avec des cours de sophrologie, laissez parler votre corps avec l’eutonie, relâchez-vous avec le watsu… 2014 vous semblera bien loin !"
    },
    b: {
      title: 'Créatif : On a trouvé l’artiste : vous !',
      content: "Au primaire, le roi des coloriages et de la pâte à modeler : c’était vous. Au collège, votre professeur d’arts plastiques voulait déjà acheter vos toiles. Mais en grandissant, et par manque de temps, vous avez mis tout ça de côté. Allez hop, on s’y remet : sculpture, dessin, calligraphie, foncez ! Notre conseil : succombez au home made et faites vos propres tables basses à partir de palettes récupérées. Ca fait du bien de revenir en primaire !"
    },
    c: {
      title: 'Expressif : Vous vous voyez déjà en haut de l’affiche',
      content: "Petit, chaque récitation de poème était un prétexte pour vous mettre en scène devant toute la classe. Chaque année, vous étiez élu d’office délégué de classe. Il faut qu’ça bouge ! Danse, musique, théâtre, improvisation… : mettez-vous au charleston, apprenez des tours de magie, ouvrez-vous à la batucada. En 2015, on balance du rythme !"
    },
    d: {
      title: 'Sportif : On ne vous tient plus',
      content: "Alors là, il va falloir vous canaliser ! Ca tombe bien, on a tout ce qu’il faut : entre le kendo, jadis pratiqué par les samouraïs, la boxe thaïlandaise idéale pour vous défouler et l’escalade qui vous permet d’aller au-delà de vos limites, vous n’aurez plus à taper votre collègue pour vous défouler. Regonflé à bloc, votre quotidien sera énergique !"
    }
  }

  questions = []
  questions << {
      title:      'VOTRE BONBON ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      # bg: 'https://unsplash.imgix.net/photo-1414073875831-b47709631146?q=75&fm=jpg&s=731b6d5150eea8bafa63ae8194e72ebd',
      answers: [
         { value: 'a', title: 'Arlequin'      , subtitle: '(coloré et intemporel)' },
         { value: 'b', title: 'Chamallow'     , subtitle: '(doux et moelleux)' },
         { value: 'c', title: 'M&M’s'         , subtitle: '(intense et addictif)' },
         { value: 'd', title: 'Langue de chat', subtitle: '(piquant et étonnant)' }
      ]
  }
  questions << {
      title:       'THE PLACE TO BE ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
         { value: 'd', title: 'Brésil' , subtitle: '(pour revivre la coupe du monde)' },
         { value: 'b', title: 'Inde'   , subtitle: '(pour s’inspirer de Gandhi)' },
         { value: 'a', title: 'Italie' , subtitle: '(pour admirer les œuvres de Michel-Ange)' },
         { value: 'c', title: 'Ibiza'  , subtitle: '(pour faire la fête non stop)' }
      ]
  }
  questions << {
      title: 'VOTRE DERNIER POST FACEBOOK ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'c', title: 'Rien de mieux qu’une soirée entre amis !' },
        { value: 'd', title: '10km avec mes nouvelles Nike !' },
        { value: 'b', title: 'Ambiance cocooning : un thé, un livre et au lit.' },
        { value: 'a', title: 'Musées tous les 1er dimanches du mois, ne l’oubliez pas !' }
      ]
  }
  questions << {
      title:       'VOTRE FILM ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'c', title: 'Sexy dance'          , subtitle: '(envie de vous déhancher ?)' },
        { value: 'a', title: 'Midnight in Paris'   , subtitle: '(on s’évade avec Woody !)' },
        { value: 'b', title: 'Mange, prie et aime' , subtitle: '(petit voyage spirituel)' },
        { value: 'd', title: 'Fight Club'          , subtitle: '(Action !)' }
      ]
  }
  questions << {
      title:       'VOTRE PERSONNAGE DE DESSIN-ANIMÉ ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'b', title: 'Balou'                        , subtitle: '(il en faut peu pour être heureux !)' },
        { value: 'd', title: 'Po'                           , subtitle: '(un maître Kung Fu sommeille en vous)' },
        { value: 'c', title: 'Pumba'                        , subtitle: '(hakuna matata !)' },
        { value: 'a', title: 'Alice aux pays des Merveilles', subtitle: '(et son monde enchanté)' }
      ]
  }
  questions << {
      title: 'VOTRE CHANSON ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'b', title: '« J’aurais voulu être un artiste… »' },
        { value: 'c', title: '« Pourvu que ça dure, la belle aventure, les fêtes à Bayonne… »' },
        { value: 'a', title: '« Fallait rester zen, soyons zen… »' },
        { value: 'd', title: '« Eye of the tiger… »' }
      ]
  }
  questions << {
      title: 'VOTRE JOB DE RÊVE ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'a', title: 'Peintre officiel des portraits de la famille royale d’Angleterre' },
        { value: 'b', title: 'Directeur adjoint à Médecins Sans Frontières en déplacement au Congo' },
        { value: 'd', title: 'Cascadeur professionnel et doublure dans le dernier James Bond' },
        { value: 'c', title: 'Professeur de surf en Australie' }
      ]
  }
  questions << {
      title:      "VOTRE DERNIER CADEAU D'ANNIVERSAIRE ?",
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
       { value: 'b', title: 'Un kit de thé'                                      , subtitle: '(moments détente en tête-à-tête avec vous-même… ou  avec des amis)' },
        { value: 'd', title: 'Une place pour le match OM/PSG au Stade de France '                    , subtitle: '(faites sortir le supporter qui est en vous !)' },
        { value: 'a', title: 'Un kit home made pour décorer votre nouvel appart' , subtitle: '(vous êtes fan du DIY)' },
        { value: 'c', title: 'Une place de concert pour Beyoncé'                 , subtitle: '(alias la reine de la pop)' }
      ]
  }


#fullpage.ff-kameron
  %div.section.relative.one-whole.relative.white.full-screen-item.bg-cover{ style: "background-image: url('#{'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg.jpg'}')"}
    = image_tag 'logos/logo.png', width: 250, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo@2x.png') }, class: 'north west absolute push on-top'
    .flexbox.full-screen-item
      .black-curtain.north.west.one-whole.absolute
      .push--top.soft--top.one-whole.flexbox__item
        .v-middle.relative
          %h1.soft--top.text--center{ style: 'font-size: 60px;'}
            Et vous ? Quelles sont vos
            %br
            %span.ff-pacifico bonne résolutions 2015
          .text--center
            %a.btn--yellow.btn.btn--enormous{ href: '#', data: { behavior: 'move-section-down' } } Faire le test

  - questions.each_with_index do |question, index|
    - last = (questions.length == index + 1)
    %div.section.one-whole.bg-cover{ style: "background-image: url('#{question[:bg]}');" }
      .black-curtain.north.west.one-whole.absolute
      .relative{ style: 'padding-bottom: 10vh;' }
        = image_tag 'logos/logo.png', width: 250, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: 'https://coursavenue-public.s3.amazonaws.com/public_assets/logos/logo@2x.png' }, class: 'push'
        %h2.flush.f-size-big.text--center.white.orange-box.soft-half= question[:title]
        .grid--full
          - question[:answers].each_with_index do |answers, answer_index|
            %label.black-curtain__fading-on-hover.bg-cover.relative.text--center.white.grid__item.one-half{ for: "question_#{index + 1}_value_#{answer_index + 1}", style: "background-image: url('https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/q#{index + 1}/#{answer_index + 1}.jpg'); height: 35vh;", }>
              .black-curtain.north.west.one-whole.absolute
              .f-weight-600.soft-half--sides.absolute.west.one-whole{ style: "top: 50%; margin-top: -4em;"}
                .beta.line-height-1-7= answers[:title]
                - if answers[:subtitle].present?
                  .delta.west.one-whole= answers[:subtitle]
              %input.visuallyhidden{ id: "question_#{index + 1}_value_#{answer_index + 1}", type: 'radio', name: "resolutions_question_#{index + 1}", value: answers[:value], data: { behavior: "#{last ? 'submit-form' : 'move-section-down'}" } }

  -# %div.section.one-whole.full-screen-item.bg-cover{ style: 'background-image: url("https://ununsplash.imgix.net/photo-1415045384817-2f9cf7f2ed79?q=75&fm=jpg&s=a0d8ebf44a449c7855ca4128e914a7c5")'}
  -#   .push--top.soft--top.one-whole
  -#     .v-middle
  -#       %h2.alpha.text--center.white.orange-box.soft JE SUIS FAIT POUR VIVRE DANS LE :
  -#       .text--center
  -#         %a.btn--yellow.btn.btn--enormous
  -#           %i.fa.fa-facebook
  -#           Facebook
  -#         %a.btn--yellow.btn.btn--enormous
  -#           %i.fa.fa-twitter
  -#           Twitter
  -#       .text--center.orange-box.soft.push--top
  -#         %h2.white Inscrivez-vous à notre newsletter !
  -#         = simple_form_for User.new, html: { class: 'newsletter-form' }, remote: true do |f|
  -#           = f.input :subscription_from, as: :hidden, input_html: { value: 'newsletter' }
  -#           = f.input :email, label: false, input_html: { placeholder: 'Adresse e-mail', class: 'input--large one-whole' }, wrapper_html: { class: 'flush inline-block v-middle' }
  -#           = f.input :zip_code, label: false, input_html: { placeholder: 'Code postal', class: 'input--large one-whole' }, wrapper_html: { class: 'flush inline-block v-middle', style: 'width: 110px;' }
  -#           = f.submit "Je m'inscris !", class: 'btn btn--yellow btn--large'


= content_for :right_after_head do
  %link{ href: 'https://fonts.googleapis.com/css?family=Pacifico', rel: 'stylesheet', type: 'text/css' }
  %link{ href: 'https://fonts.googleapis.com/css?family=Kameron', rel: 'stylesheet', type: 'text/css' }

= content_for :scripts do
  = javascript_include_tag 'libs/jquery.fullPage' # MUST BE In the Head and before CSS
  = stylesheet_link_tag 'libs/jquery.fullPage', media: 'all'

  :javascript
    $(function() {
        $('#fullpage').fullpage();
        $('[data-behavior="move-section-down"]').click(function() {
            $.fn.fullpage.moveSectionDown();
        })
        $('[data-behavior=submit-form]').click(function() {
            var radio_values = _.countBy($('input[type=radio]:checked'), function(input){
                return input.value
            });
            var max_value = 0;
            var profile;
            _.each(radio_values, function(value, key) {
                if (value > max_value) {
                    profile   = key;
                    max_value = value;
                }
            });
        });
    });
