- content_for? :title do
  Et vous ? Quelles sont vos bonnes résolutions 2015 ?
:ruby
  questions = []
  questions << {
      title: 'VOTRE BONBON ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
         { value: 'a', title: 'Arlequin'      , subtitle: '(coloré et intemporel)' },
         { value: 'b', title: 'Chamallow'     , subtitle: '(doux et moelleux)' },
         { value: 'c', title: 'M&M’s'         , subtitle: '(intense et addictif)' },
         { value: 'd', title: 'Langue de chat', subtitle: '(piquant et étonnant)' }
      ]
  }
  questions << {
      title: 'THE PLACE TO BE ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
         { value: 'd', title: 'Brésil' , subtitle: '(pour revivre la coupe du monde)' },
         { value: 'b', title: 'Inde'   , subtitle: '(pour s’inspirer de Gandhi)' },
         { value: 'a', title: 'Italie' , subtitle: '(pour admirer les œuvres de Michel-Ange)' },
         { value: 'c', title: 'Ibiza'  , subtitle: '(pour faire la fête non stop)' }
      ]
  }
  questions << {
      title: 'VOTRE DERNIER POST FACEBOOK ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'c', title: 'Rien de mieux qu’une soirée entre amis !' },
        { value: 'd', title: '10km avec mes nouvelles Nike !' },
        { value: 'b', title: 'Ambiance cocooning : un thé, un livre et au lit.' },
        { value: 'a', title: 'Musées tous les 1er dimanches du mois, ne l’oubliez pas !' }
      ]
  }
  questions << {
      title: 'VOTRE FILM ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'c', title: 'Sexy dance'          , subtitle: '(envie de vous déhancher ?)' },
        { value: 'a', title: 'Midnight in Paris'   , subtitle: '(on s’évade avec Woody !)' },
        { value: 'b', title: 'Mange, prie et aime' , subtitle: '(petit voyage spirituel)' },
        { value: 'd', title: 'Fight Club'          , subtitle: '(Action !)' }
      ]
  }
  questions << {
      title: 'VOTRE PERSONNAGE DE DESSIN-ANIMÉ ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'b', title: 'Balou'                        , subtitle: '(il en faut peu pour être heureux !)' },
        { value: 'd', title: 'Po'                           , subtitle: '(un maître Kung Fu sommeille en vous)' },
        { value: 'c', title: 'Pumba'                        , subtitle: '(hakuna matata !)' },
        { value: 'a', title: 'Alice aux pays des Merveilles', subtitle: '(et son monde enchanté)' }
      ]
  }
  questions << {
      title: 'VOTRE CHANSON ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'b', title: '« J’aurais voulu être un artiste… »' },
        { value: 'c', title: '« Pourvu que ça dure, la belle aventure, les fêtes à Bayonne… »' },
        { value: 'a', title: '« Fallait rester zen, soyons zen… »' },
        { value: 'd', title: '« Eye of the tiger… »' }
      ]
  }
  questions << {
      title: 'VOTRE JOB DE RÊVE ?',
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
        { value: 'a', title: 'Peintre officiel des portraits de la famille royale d’Angleterre' },
        { value: 'b', title: 'Directeur adjoint à Médecins Sans Frontières en déplacement au Congo' },
        { value: 'd', title: 'Cascadeur professionnel et doublure dans le dernier James Bond' },
        { value: 'c', title: 'Professeur de surf en Australie' }
      ]
  }
  questions << {
      title:      "VOTRE DERNIER CADEAU D'ANNIVERSAIRE ?",
      bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg_blurred.jpg',
      answers: [
       { value: 'b', title: 'Un kit de thé'                                      , subtitle: '(moments détente en tête-à-tête avec vous-même… ou  avec des amis)' },
        { value: 'd', title: 'Une place pour le match OM/PSG au Stade de France '                    , subtitle: '(faites sortir le supporter qui est en vous !)' },
        { value: 'a', title: 'Un kit home made pour décorer votre nouvel appart' , subtitle: '(vous êtes fan du DIY)' },
        { value: 'c', title: 'Une place de concert pour Beyoncé'                 , subtitle: '(alias la reine de la pop)' }
      ]
  }


#fullpage.ff-kameron
  %div.section.relative.one-whole.relative.white.full-screen-item.bg-cover{ style: "background-image: url('#{'https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/bg.jpg'}')"}
    = image_tag 'logos/logo.png', width: 250, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo@2x.png') }, class: 'north west absolute push on-top'
    .flexbox.full-screen-item
      .black-curtain.north.west.one-whole.absolute
      .push--top.soft--top.one-whole.flexbox__item
        .v-middle.relative
          %h1.soft--top.text--center{ style: 'font-size: 60px;'}
            Et vous ? Quelles sont vos
            %br
            %span.ff-pacifico bonnes résolutions 2015 ?
          .text--center
            %a.btn--yellow.btn.btn--enormous{ href: '#', data: { behavior: 'move-section-down' } } Faire le test

  - questions.each_with_index do |question, index|
    - last = (questions.length == index + 1)
    %div.section.one-whole.bg-cover{ style: "background-image: url('#{question[:bg]}');" }
      .black-curtain.north.west.one-whole.absolute
      .relative{ style: 'padding-bottom: 10vh;' }
        = image_tag 'logos/logo.png', width: 250, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo@2x.png') }, class: 'push'
        %h2.flush.f-size-big.text--center.white.orange-box.soft-half= question[:title]
        .grid--full
          - question[:answers].each_with_index do |answers, answer_index|
            .black-curtain__fading-on-hover.bg-position-top.bg-cover.relative.text--center.white.grid__item.one-half{ style: "background-image: url('https://coursavenue-public.s3.amazonaws.com/public_assets/quizz/resolutions/q#{index + 1}/#{answer_index + 1}.jpg'); height: 35vh;", data: { name: "resolutions_question_#{index + 1}", for: "question_#{index + 1}_value_#{answer_index + 1}", answer: true, behavior: "#{last ? 'submit-form' : 'move-section-down'}" } }>
              .black-curtain.north.west.one-whole.absolute
              .f-weight-600.soft-half--sides.absolute.west.one-whole{ style: "top: 50%; margin-top: -4em;"}
                .beta.line-height-1-7= answers[:title]
                - if answers[:subtitle].present?
                  .delta.west.one-whole= answers[:subtitle]
            %input.visuallyhidden{ id: "question_#{index + 1}_value_#{answer_index + 1}", type: 'radio', name: "resolutions_question_#{index + 1}", value: answers[:value] }

= content_for :right_after_head do
  %link{ href: 'https://fonts.googleapis.com/css?family=Pacifico', rel: 'stylesheet', type: 'text/css' }
  %link{ href: 'https://fonts.googleapis.com/css?family=Kameron', rel: 'stylesheet', type: 'text/css' }

= content_for :scripts do
  = javascript_include_tag 'libs/jquery.fullPage' # MUST BE In the Head and before CSS
  = stylesheet_link_tag 'libs/jquery.fullPage', media: 'all'

  :javascript
    $(function() {
        $('#fullpage').fullpage({
            controlArrows: false
        });
        $.fn.fullpage.setMouseWheelScrolling(false);
        $.fn.fullpage.setKeyboardScrolling(false);
        $('[data-answer]').click(function(event) {
            $this = $(this);
            $('[name=' + $this.data('name') + ']').prop('checked', false);
            $('#' + $this.data('for')).prop('checked', true);
        });
        $('[data-behavior="move-section-down"]').click(function(event) {
            $.fn.fullpage.moveSectionDown();
        })
        $('[data-behavior=submit-form]').click(function() {
            var radio_values = _.countBy($('input[type=radio]:checked'), function(input){
                return input.value
            });
            var max_value = 0;
            var profile;
            _.each(radio_values, function(value, key) {
                if (value > max_value) {
                    profile   = key;
                    max_value = value;
                }
            });
            window.location = Routes.home_resolutions_results_path({ profile: profile });
        });
    });
