= side_menu_currently_at 'Dashboard'

.white-box
  = simple_form_for [:pro, @keyword] do |f|
    = f.input :name
    .form-actions
      = f.submit 'Ajouter', class: 'btn btn--green', data: { disable_with: "En cours d'ajout" }

  %ul
    - @keywords.each do |keyword|
      %li
        = keyword.name
        = link_to 'Supprimer', pro_keyword_path(keyword), method: :delete
