= simple_form_for [@user, @message], url: user_messages_path(@user), as: :message do |f|
  = f.error_notification
  - if params[:return_to].present?
    %input{ type: 'hidden', value: params[:return_to], name: 'return_to' }
  - if @message.errors.any?
    .grid--full.push-half--bottom
      .grid__item.two-twelfths>
      .grid__item.ten-twelfths>
        = f.error_notification
  .grid--full.push-half--bottom.message
    .grid__item.two-twelfths.v-top.v-top>
      = image_tag @user.avatar, class: 'message__avatar block center-block bordered'
    .grid__item.ten-twelfths.message__body.message__appendix.soft-half.gray-box>
      = f.input :recipients, label: false, as: :select, collection: current_user.structures.uniq.sort_by(&:name), include_blank: false, wrapper_html: { class: 'flush' }, selected: (params[:message] ? params[:message][:recipients] : nil), input_html: { class: 'input--large one-whole' }

      = f.input :subject, label: false, input_html: { class: 'input--large one-whole', placeholder: 'Ajouter un objet' }
      = f.input :body, input_html: { class: 'input--large one-whole', placeholder: 'Ajouter un message personnel ici', data: { behavior: 'autoresize' } }, label: false
      = f.submit 'Envoyer', class: 'btn btn--green', data: { disable_with: "Message en cours d'envoi" }
