= content_for :title do
  Tous les cours de #{@subject.name.downcase} à #{@city.name} | CoursAvenue

= content_for :above_container do
  - if @city.image.present?
    .home-screen.bg-cover{style: "background-image: url('#{@city.image.url(:default)}')"}
      - if @subject.image.present?
        .soft--top
          = image_tag @subject.image.url(:thumb), class: 'block center-block subject-logo white-circle white-circle--thick', height: 130
      %h1.text--center.home-screen-title{style: (@subject.image.present? ? '' : 'padding-top: 3em;')}
        Tous les cours de <strong>#{@subject.name.downcase}</strong> à <strong>#{@city.name}</strong>
      - if @subject.title.present?
        %h4.push--top.center-block.text--center.home-screen-title{style: 'width: 1000px'}
          = @subject.title
      - elsif @city.title.present?
        %h4.push--tops.center-block.text--center.home-screen-title{style: 'width: 1000px'}
          = @city.title
  - else
    #map.google-map.google-map--medium-small

  .white-box--noshadow.white-box
    .main-container.push--ends
      .grid
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Profils
          .bold= @structures_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Séances
          .bold= @plannings_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Lieux
          .bold= @places_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Cours d'essai gratuit
          .bold= @free_trial_course_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Photos & vidéos
          .bold= @medias_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Avis d'élèves
          .bold= @comments_count


= render partial: 'subjects/description'

- if @subject.depth > 0 and @videos and @videos.any?
  %h3.text--center Sélection des vidéos de cours de <strong>#{@subject.name.downcase}</strong> à <strong>#{@city.name}</strong>
  .media-gallery.white-box>
    = render partial: 'medias/media', collection: @videos, locals: { width_class_name: 'one-fifth v-top text--center', vertical: true}
%hr

= render partial: 'subjects/subjects_facets'

= render partial: 'subjects/structures_list'

= render partial: 'subjects/comments', locals: { comments: @comments }

= render partial: 'subjects/images', locals: { comments: @images }

.text--center.push--bottom
  = link_to structures_path(lat: @city.latitude, lng: @city.longitude, name: @subject.name), class: 'btn btn--green btn--large' do
    Voir tous les cours de
    %strong= @subject.name
    à
    %strong= @city.name

%hr

= render partial: 'subjects/courses', locals: { courses: @courses }

- unless @city.image.present?
  = content_for :scripts do
    :javascript
      $(function() {
          handler = Gmaps.build('Google', { markers: { maxRandomDistance: null } });
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(#{@city_latlng.to_json});
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
          });
          google.maps.event.addListener(handler.getMap(), 'tilesloaded', function() {
              handler.getMap().setZoom(12);
          });
      });

= content_for :scripts do
  :javascript
    $(function() {
        handler = Gmaps.build('Google', { markers: { maxRandomDistance: null } });
        handler.buildMap({ provider: {}, internal: {id: 'structures-map'}}, function(){
            markers = handler.addMarkers(#{@json_structure_addresses.to_json});
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
        });
    });
