= side_menu_currently_at 'subscription_plans'
.panel
  = render partial: 'pro/subscription_plans/tabs', locals: { current: 'subscription_plans' }

  .panel__body.soft
    .text--center
      %h3.flush= "CA : #{@orders.map(&:amount).reduce(&:+)}€ TTC"
      %h4= "CA : #{readable_amount(@orders.map(&:amount).reduce(&:+) / 1.2)} HT"
    %table.table--striped
      %thead
        %tr
          %th Formule
          %th Établissement
          %th Date d'expiration
          %th Promo
          %th.text--right Prix
      %tbody
        - @orders.each do |order|
          %tr
            %td= SubscriptionPlan::PLAN_TYPE_DESCRIPTION[order.subscription_plan.plan_type]
            %td= link_to order.structure.name, pro_structure_path(order.structure)
            %td= l(order.subscription_plan.expires_at)
            %td= order.promotion_code.try(:code_id)
            %td.text--right= "#{order.amount}€"


    %hr.push--ends
    #graph

= content_for :scripts do
  :javascript
    $(function() {
        new Highcharts.Chart({
            chart: { renderTo: 'graph'},
            title: { text: null },
            xAxis: { categories: #{@orders_progression.map{|date, count| l((date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [
              { data: #{@orders_progression.map{|date, count| count}},
                name: 'Abonnements'
               }
            ]
        });
    });
