= side_menu_currently_at 'subscription_plans'
= render partial: 'pro/subscription_plans/tabs', locals: { current: @current_tab }

%div
  = link_to 'javascript:void(0)', class: 'btn btn--green push-half--right', data: { action: 'load-action' } do
    %i.fa.fa-refresh
    Tout charger

  = link_to download_pro_subscription_plans_path, class: 'btn btn--green push-half--right' do
    %i.fa.fa-download
    Exporter

  - if SubscriptionPlanExport.where.not(url: nil).any?
    - file = SubscriptionPlanExport.where.not(url: nil).last
    .alert.alert--warning.inline-block
      = "Date du dernier export : #{l(file.created_at)} : "
      = link_to file.url do
        %i.fa.fa-download
        Télécharger le dernier fichier

%table.table--striped
  %thead
    %tr
      %th Nom du profil
      %th Type abonnement
      %th Date 1ere subscription
      - if @current_tab == 'unsubscribed_tracking'
        %th Date résiliation
      %th # jours aprés renouvellement
      %th # impressions
      %th # vue
      %th # actions
      %th # demande d'infos
      %th # de tel
      %th # de clic web
      %th Code couleur
      %th FB actif
      %th AdWords actif
      %th Commentaires
      %th # impressions depuis le début
      %th # vue depuis le début
      %th # actions depuis le début
      %th # demande d'infos depuis le début
      %th # de tel depuis le début
      %th # de clic web depuis le début
  %tbody
    - @subscriptions.each do |subscription|
      - renewed_date = subscription.renewed_at.present? ? subscription.renewed_at.to_datetime : subscription.created_at
      %tr{ data: { id: subscription.id } }
        %td= link_to subscription.structure.name, pro_structure_statistics_path(subscription.structure), target: '_blank'
        %td= SubscriptionPlan::PLAN_TYPE_DESCRIPTION[subscription.plan_type]
        %td= l(subscription.created_at.to_date)
        - if @current_tab == 'unsubscribed_tracking'
          %td= l(subscription.canceled_at.to_date) if subscription.canceled_at.present?
        %td= (Time.now - renewed_date).to_i / 1.day
        %td{ data: { information: 'impressions' } }
          = link_to 'javascript:void(0)', class: 'btn btn--green btn--small', data: { action: 'show-action' } do
            %i.fa.fa-refresh
        %td{ data: { information: 'views' } }
        %td{ data: { information: 'actions' } }
        %td{ data: { information: 'conversations' } }
        %td{ data: { information: 'telephone' } }
        %td{ data: { information: 'website' } }
        %td{ data: { information: 'color' } }
          %span.lbl.lbl--chip
        %td
          = simple_form_for [:pro, subscription], remote: true do |f|
            = f.input :facebook_active, label: false, as: :boolean, input_html: { data: { behavior: 'update' } }
        %td
          = simple_form_for [:pro, subscription], remote: true do |f|
            = f.input :adwords_active, label: false, as: :boolean, input_html: { data: { behavior: 'update' } }
        %td
          = simple_form_for [:pro, subscription], remote: true do |f|
            = f.input :bo_comments, label: false, as: :text, input_html: { data: { behavior: 'update' } }
        %td{ data: { information: 'impressions_full' } }
        %td{ data: { information: 'views_full' } }
        %td{ data: { information: 'actions_full' } }
        %td{ data: { information: 'conversations_full' } }
        %td{ data: { information: 'telephone_full' } }
        %td{ data: { information: 'website_full' } }
          %span.lbl.lbl--chip

- content_for :scripts do
  :javascript
      $(document).ready(function() {
          $('[data-action=load-action]').click(function() {
              $(this).children('i').addClass('fa-spin');
              $('[data-action=show-action]').click();
          });

          $('[data-action=show-action]').click(function() {
              var id = $(this).closest('tr').data('id');
              $(this).children('i').addClass('fa-spin');
              $.ajax({
                  type: 'GET',
                  dataType: 'json',
                  url: Routes.stat_info_pro_subscription_plan_path(id),
                  success: function success (response) {
                      _.each(response, function(value, key) {
                        var $elem = $('[data-id=' + id + '] > [data-information=' + key + ']');
                        if (key != 'color') {
                            $elem.text(value);
                        } else {
                            $elem.children('span').addClass('lbl--' + value);
                        }
                      });
                  }
            });
        });

        $('[data-behavior=update]').change(function() {
            $(this).closest('form').submit();
        });
    });
