= side_menu_currently_at 'crm'

.panel
  = render partial: 'pro/structures/user_profiles/tabs', locals: { current: 'tags' }
  .panel__body
    .soft.text--center
      = link_to 'Ajouter un tag', new_pro_structure_tag_path(@structure), class: 'btn btn--green btn--large fancybox.ajax', data: { behavior: 'modal' }

    %table.table--data.table--striped
      %thead
        %tr
          %th Nom du tag
          %th Nombre d'élèves taggé
          %th
      %tbody
        - @tags.each do |tag|
          %tr
            %td= tag.name
            %td= @structure.user_profiles.tagged_with(tag.name, match_all: false).count
            %td.text--right
              = link_to edit_pro_structure_tag_path(@structure, tag), class: 'fancybox.ajax', data: { behavior: 'modal' } do
                %i.fa.fa-pencil
                Modifier
              \/
              = link_to pro_structure_tag_path(@structure, tag), class: 'red', method: :delete do
                %i.fa.fa-trash-o
                Supprimer
