= side_menu_currently_at 'Mes photos & vidéos'

%h5.form-header-group Ajoutez une vidéo / photo
= render 'form'

- if @medias.any?
  %hr
  %h4 Mes médias
  .grid.media-gallery
    - @medias.in_groups_of(3, false).each do |media_group|
      - media_group.each do |media|
        .grid__item.one-third>
          %a.break-all.flush--bottom.white-box.islet.media__item{href: media.url, title: media.caption}
            = media.url_html
            - if media.caption.present?
              %p.flush--bottom
                %i= media.caption
          %p
            = link_to pro_structure_media_path(@structure, media), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce média ?' } do
              %i.icon-trash
              Supprimer

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
      new XtLightbox('.media-gallery a', {
        adaptors: ['Image', 'YouTube', 'Vimeo'],
        loop: true,
        rendererOptions: {
          positionText: 'Média {x} sur {total}. Utilisez les flèches pour naviguer, échape pour fermer la fenêtre.'
        },
        adaptorOptions: {
          Image: {
            lightboxCompat: false
          }
        }
      });
    });
