= side_menu_currently_at 'presentation'

= render partial: 'pro/structures/tabs', locals:{ current: 'medias' }
.flexbox.push--bottom{ data: { behavior: 'wizard-helper', content: t('pro.medias.wizard.infos')} }
  .flexbox__item.v-middle
    %h1.flush Photos & Vidéos
  .flexbox__item.v-middle.text--right
    = link_to 'Ajouter une vidéo', new_pro_structure_video_path(@structure), class: 'btn btn--green fancybox.ajax v-middle', data: { behavior: 'modal' }
    = simple_form_for [:pro, @structure, @image], url: pro_structure_images_path(@structure), html: { id: 'image-form', class: 'inline-block v-middle' } do |f|
      = f.error_notification
      = f.filepicker_field :url, multiple: true, button_text: 'Ajouter une photo', button_class: 'btn btn--green fa', services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: false
- if @medias.any?
  %p.soft-half--top.soft--sides.flush#first-photo-helper.visibility-hidden
    %strong Votre première photo / vidéo figure dans les résultats de recherche !
  - @medias.each_with_index do |media, index|
    .inline-block.one-third{ class: (index % 3 == 1 ? 'soft-half--sides' : '')}>
      - cache [media, 'pro/structures/medias/index'] do
        = render partial: 'pro/structures/medias/media', locals: { media: media, index: index, structure: @structure }

= content_for :scripts do
  = filepicker_js_include_tag
  :javascript
    $(function() {
        $('.media__item').first().hover(function() {
            $('#first-photo-helper').removeClass('visibility-hidden');
        }, function() {
            $('#first-photo-helper').addClass('visibility-hidden');
        });
        var convertImages;
        $('#media_image_url').change(function(event) {
            $('#preview-title').show();
            var $preview = $('#preview').empty();
            var image_string = [];
            _.each(event.originalEvent.fpfiles, function(file) {
                image_string.push(file.url);
                $preview.append($('<img>', { src: file.url, style: 'height: 100px;', class: 'push-half--right' }));
            });
            $(this).val(image_string.join(','));
            $('#image-form').submit();
        });
    });
