= side_menu_currently_at 'presentation'

= render partial: 'pro/structures/tabs', locals:{ current: 'medias' }

.hidden
  = simple_form_for [:pro, @structure, @image], url: pro_structure_images_path(@structure), html: { id: 'image-form', class: 'inline-block v-middle' } do |f|
    = f.error_notification
    = f.filepicker_field :url, multiple: true, button_text: 'Ajouter une photo', button_class: 'fa',
      services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: false, mimetypes: 'image/*', max_files: 10
.grid.push--bottom{ data: { behavior: 'wizard-helper', content: t('pro.medias.wizard.infos')} }
  .grid__item.v-middle.one-half.palm-one-whole>
    %h1.flush Photos &amp; Vidéos
  .grid__item.v-middle.text--right.one-half.palm-one-whole.palm-text--left>
    - if @medias.any?
      = render 'pro/structures/medias/button_dropdown'
- if @medias.any?
  %p.soft-half--top.soft--sides.flush#first-photo-helper.visibility-hidden
    %strong Votre première photo / vidéo figure dans les résultats de recherche !
  - @medias.each_with_index do |media, index|
    .inline-block.one-third.palm-one-whole.palm-hard.push-half--bottom{ class: (index % 3 == 1 ? 'soft-half--sides' : '')}>
      - cache [media, 'pro/structures/medias/index'] do
        = render partial: 'pro/structures/medias/media', locals: { media: media, index: index, structure: @structure }
- else
  .bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.text--center
    %p.delta
      Pour gagner en visibilité, ajoutez toutes vos photos et vidéos
    = render 'pro/structures/medias/button_dropdown'

= content_for :scripts do
  = filepicker_js_include_tag
  :javascript
    $(function() {
        $('.media__item').first().hover(function() {
            $('#first-photo-helper').removeClass('visibility-hidden');
        }, function() {
            $('#first-photo-helper').addClass('visibility-hidden');
        });
        var convertImages;
        $('#media_image_url').change(function(event) {
            $('#preview-title').show();
            var $preview = $('#preview').empty();
            var image_string = [];
            _.each(event.originalEvent.fpfiles, function(file) {
                image_string.push(file.url);
                $preview.append($('<img>', { src: file.url, style: 'height: 100px;', class: 'push-half--right' }));
            });
            $(this).val(image_string.join(','));
            $('#image-form').submit();
        });
    });
