= side_menu_currently_at 'medias'

.panel
  .panel__header.soft
    .grid.text--center{ data: { behavior: 'wizard-helper', content: t('pro.medias.wizard.infos')} }
      .grid__item.one-half>
        = link_to 'Ajouter une vidéo', new_pro_structure_video_path(@structure), class: 'btn btn--green push--right btn--large btn--full fancybox.ajax', data: { behavior: 'modal' }

      .grid__item.one-half>
        = simple_form_for [:pro, @structure, @image], url: pro_structure_images_path(@structure), html: { id: 'image-form' } do |f|
          = f.error_notification
          .text--center
            = f.filepicker_field :url, multiple: true, button_text: 'Ajouter une photo', button_class: 'btn btn--green btn--full btn--large fa', services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: false, drag_text: 'Ou glissez vos photos ici', drag_class: 'filepicker__dropzone push-half--top', store_location: 'S3', store_path: @image.s3_media_path, store_access: 'public'
            = f.input :thumbnail_url, as: :hidden
  .panel__body.soft--ends

    - if @medias.any?
      .soft--sides
        .grid
          .grid__item.one-third.v-middle>
            %p.text--center.flush
              %strong Votre première photo / vidéo figure dans les résultats de recherche !
          .grid__item.two-thirds.v-middle.text--right>
            = render partial: 'pro/structures/premium_select', locals: { text: 'afficher vos photos et vidéos à tous les utilisateurs CoursAvenue ?', label_text: 'Statut de mes photos & vidéos :'}

        - @medias.each_with_index do |media, index|
          .soft-half.inline-block.one-third>
            = render partial: 'pro/structures/medias/media', locals: { media: media, index: index }

= content_for :scripts do
  :javascript
    $(function() {
        // --------- FilePicker
        var convertImages;
        $('#media_image_url').change(function(event) {
            var image_string = [];
            _.each(event.originalEvent.fpfiles, function(file) {
                image_string.push(file.url + ';' + file.key);
            });
            $(this).val(image_string.join(','));
            $('#image-form').submit();
        });
    });
