= side_menu_currently_at 'Mes photos & vidéos'

= render partial: 'tabs', locals: { current: 'index'}

.text--center.push--bottom
  = link_to new_pro_structure_video_path(@structure), class: 'btn btn--blue push--right btn--large' do
    %i.fa.fa-youtube-play.soft-half--right
    Ajouter une vidéo
  = link_to new_pro_structure_image_path(@structure), class: 'btn btn--blue btn--large' do
    %i.fa.fa-picture-o.soft-half--right
    Ajouter une photo

- if @medias.any?
  .media-gallery.white-box
    - @medias.each do |media|
      .one-third.media__item.very-soft.show-on-hover-wrapper>
        %a.break-all.soft-half.hard--bottom.block{href: media.url, title: media.caption, data: {behavior: 'fancy'}}
          %i.fa.fa-expand
          = media.thumbnail_url_html
          - if media.caption.present?
            %p.flush--bottom
              %i= media.caption
        - if media.image? and !media.cover?
          = link_to 'Définir comme photo de profil', make_it_cover_pro_structure_image_path(@structure, media), method: :put, class: 'push-half--left show-on-hover btn btn--small btn--blue'
        = link_to 'Supprimer', pro_structure_media_path(@structure, media), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce média ?' }, class: 'push-half--left show-on-hover btn btn--small btn--red'
= content_for :scripts do
  :javascript
    $(function() {
        // Using one load prevents from not triggering the event if the image is in cache
        $('.media-gallery img, .media-gallery iframe').one('load', function() {
            $('.media-gallery').masonry({ itemSelector: '.media__item' });
        }).each(function() { if(this.complete) $(this).load(); });;
    });
