= content_for :alert_bar do
  .soft-half--bottom
    -# %div Votre profil est complété à 50%
    .text--right
      %a.btn.btn--white.btn--small{ href: 'javascript:void(0)', data: { onboarding: 'show' } }
        Voir le guide de démarage

// We put the custom style here so it doesn't override the global style used elsewhere.
// I'm sorry, Nima.
%style
  :css
    .fancybox-nav {
      width: 60px;
    }

    .fancybox-nav span {
      visibility: visible;
      opacity: 0.5;
    }

    .fancybox-nav:hover span {
      opacity: 1;
    }

    .fancybox-next {
      right: -80px;
    }

    .fancybox-prev {
      left: -80px;
    }


= content_for :scripts do
  :javascript
    $(document).ready(function () {
        $('[data-onboarding=show]').click(function (event) {
            $.fancybox.open([
                { href: Routes.step_zero_pro_onboarding_path({ id: "#{ @structure.slug }" }),  type: 'ajax' },
                { href: Routes.step_one_pro_onboarding_path({ id: "#{ @structure.slug }" }),   type: 'ajax' },
                { href: Routes.step_two_pro_onboarding_path({ id: "#{ @structure.slug }" }),   type: 'ajax' },
                { href: Routes.step_three_pro_onboarding_path({ id: "#{ @structure.slug }" }), type: 'ajax' },
                { href: Routes.step_four_pro_onboarding_path({ id: "#{ @structure.slug }" }),  type: 'ajax' },
                { href: Routes.step_five_pro_onboarding_path({ id: "#{ @structure.slug }" }),  type: 'ajax' },
            ], { loop: false, margin: [20, 60, 20, 60] });
        });
    });
