- user_decorator                  = participation_request.user.decorate
- participation_request_decorator = participation_request.decorate
- course_decorator                = participation_request.course.decorate
- show_warning                    = true if show_warning.nil?
%tr
  %td.soft--ends.v-top.nowrap
    - if participation_request.pending? and participation_request.last_modified_by == 'User' and !participation_request.past?
      = participation_request_decorator.status_for('Structure')
      - if participation_request.created_at > 2.days.ago
        %div{ id: "expires-in-#{participation_request.id}" }
        = content_for :scripts do
          :javascript
            $(function() {
              var date            = Date.parse("#{l(local_time(participation_request.created_at + 48.hours), format: :js )}");
              var $countdown_div = $('#expires-in-#{participation_request.id}');
              countdown(date,
                  function(ts) {
                      var hours   = ("0" + ts.hours).slice(-2);
                      var minutes = ("0" + ts.minutes).slice(-2);
                      var seconds = ("0" + ts.seconds).slice(-2);
                      $countdown_div.text((ts.days > 0 ? ts.days + ' jours et ' : '') + hours + ':' + minutes + ':' + seconds);
                  },
                  countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
            });
    - else
      = participation_request_decorator.status_for('Structure')
    .very-soft.hard--left.hard--bottom.hard--right
      = participation_request_decorator.teacher_action_link

  %td.soft--ends.v-top
    - course = participation_request.course
    = "#{l(participation_request.date, format: :semi_short)} à #{l(participation_request.start_time, format: :short)}"
    %br
    %span.has-tooltip{ data: { toggle: 'popover', content: "<strong>Niveau :</strong> #{join_levels(participation_request.levels)}<br><strong>Public :</strong> #{join_audiences(participation_request.planning || participation_request.course)}<br><strong>Disciplines :</strong> #{course.subjects.uniq.map(&:name).join(', ')}", html: 'true', placement: 'top', trigger: 'hover' } }
      = course.name
    - place = participation_request.place
    - if place
      %br
      - if place.info.present? or place.private_info.present?
        %span.has-tooltip{ data: { toggle: 'popover', content: t('places.infos', info: place.info, private_info: place.private_info), html: 'true', placement: 'top', trigger: 'hover' } }
          = place.name
      - else
        = place.name

  %td.soft--ends.v-top
    .flexbox
      .flexbox__item.soft-half--right
        = image_tag participation_request.user.avatar_url, height: 50, width: 50, class: 'rounded--circle'
      .flexbox__item
        %strong= participation_request.user.name
        %br
        = user_decorator.age_and_city
        %br
        %span.has-tooltip{ data: { toggle: (participation_request.accepted? ? '' : 'popover'), content: t('tooltips.pro.structures.hidden_contact_infos'), html: 'true', placement: 'top', trigger: 'hover' } }
          = user_decorator.phone_number_and_email(!participation_request.accepted?)

  %td.soft--ends.v-top
    = course_decorator.first_session_detail
