- user_decorator                  = participation_request.user.decorate
- participation_request_decorator = participation_request.decorate
- course_decorator                = participation_request.course.decorate
- show_warning                    = true if show_warning.nil?
%tr
  %td.soft--ends.v-top{ data: { th: 'Statut' } }
    %div
      - if participation_request.pending? and participation_request.last_modified_by == 'User' and !participation_request.past?
        = participation_request_decorator.status_for('Structure')
        - if participation_request.created_at > 2.days.ago and !participation_request.from_personal_website?
          %div.blue{ id: "expires-in-#{participation_request.id}" }
          = content_for :scripts do
            :javascript
              $(function() {
                var date            = Date.parse("#{l(local_time(participation_request.created_at + 48.hours), format: :js )}");
                var $countdown_div = $('#expires-in-#{participation_request.id}');
                countdown(date,
                    function(ts) {
                        var hours   = ("0" + ts.hours).slice(-2);
                        var minutes = ("0" + ts.minutes).slice(-2);
                        var seconds = ("0" + ts.seconds).slice(-2);
                        $countdown_div.text((ts.days > 0 ? ts.days + ' jour et ' : '') + hours + ':' + minutes + ':' + seconds);
                    },
                    countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
              });
      - else
        = participation_request_decorator.status_for('Structure')
      %div
        = link_to 'Voir la demande', pro_structure_participation_request_path(participation_request.structure, participation_request), class: "btn btn--white btn--small"


  %td.soft--ends.v-top{ data: { th: 'Cours et date' } }
    %div
      - course = participation_request.course
      %strong= participation_request_decorator.day_and_hour(false).capitalize
      %br
      %span.has-tooltip{ data: { toggle: 'popover', content: participation_request_decorator.popover_course_infos, html: 'true', placement: 'top', trigger: 'hover' } }
        = course.name

  %td.soft--ends.v-top{ data: { th: 'Participant' } }
    .grid--full
      .grid__item.soft-half--right.one-third.palm-one-whole.text--right.palm-text--left.visuallyhidden--palm>
        = image_tag participation_request.user.avatar_url, class: 'rounded--circle', height: 60, width: 60
      .grid__item.one-whole.two-thirds.palm-one-whole.soft-half--left>
        %strong
          = participation_request.user.name
          - if participation_request.nb_participants > 1
            + #{participation_request.nb_participants - 1} personnes
        %br
        = user_decorator.age_and_city

  %td.soft--ends.v-top{ data: { th: 'Détails' } }
    %div= participation_request_decorator.details
