- show_warning = true if show_warning.nil?
%tr{ class: ((show_warning and participation_request.pending? and participation_request.last_modified_by == 'User') ? 'bordered bordered--larger bordered--red' : '') }
  %td.nowrap{ class: participation_request_color(participation_request) }
    - if participation_request.pending? and participation_request.last_modified_by == 'User'
      %span.has-tooltip{ data: { toggle: 'popover', content: "Confirmez la demande d'inscription au plus vite", html: 'true', placement: 'top', trigger: 'hover' } }
        En attente
      .very-soft.hard--left.hard--bottom.hard--right
        = link_to 'Accepter', accept_pro_structure_participation_request_path(participation_request.structure, participation_request), method: :patch, class: 'btn btn--small btn--green nowrap'

    - else
      = t("participation_request.state.#{participation_request.state}")
  %td
    %strong= participation_request.user.name
    - if participation_request.course.is_open_for_trial?
      pour un essai gratuit :
    - elsif participation_request.course.is_training?
      pour un stage / atelier :
    - else
      pour une 1ère séance :
    - course = participation_request.course
    %span.has-tooltip{ data: { toggle: 'popover', content: "<strong>Niveau :</strong> #{join_levels(participation_request.levels)}<br><strong>Public :</strong> #{join_audiences(participation_request.planning || participation_request.course)}<br><strong>Disciplines :</strong> #{course.subjects.uniq.map(&:name).join(', ')}", html: 'true', placement: 'top', trigger: 'hover' } }
      = course.name

  %td
    - place = participation_request.place
    - if place
      - if place.info.present? or place.private_info.present?
        %span.has-tooltip{ data: { toggle: 'popover', content: t('places.infos', info: place.info, private_info: place.private_info), html: 'true', placement: 'top', trigger: 'hover' } }
          = place.name
      - else
        = place.name
  %td
    = "#{l(participation_request.date, format: :semi_short)} à #{l(participation_request.start_time, format: :short)}"
  %td
    = link_to 'Récapitulatif', pro_structure_participation_request_path(@structure, participation_request)
    = render partial: 'pro/structures/participation_requests/dropdown_actions', locals: { participation_request: participation_request }
