- structure           = @structure || @participation_request.structure
- structure_decorator = structure.decorate
- user_decorator      = @participation_request.user.decorate

%p.epsilon Une fois la demande acceptée, vos informations de contact seront échangées :
.grid.push--bottom
  .grid__item.text--center.two-fifths.v-top>
    = image_tag structure.logo.url(:thumb), class: 'block center-block bordered rounded--circle push-half--bottom', width: 80, height: 80
    %div
      %strong= structure.name
    = structure_decorator.phone_numbers
    %div= structure.website
  .grid__item.text--center.one-fifth.v-middle.soft--top>
    %i.fa.fa-right-to-left.fa-5x
  .grid__item.text--center.two-fifths.v-top>
    = image_tag @participation_request.user.avatar_url(:thumb), class: 'block center-block bordered rounded--circle push-half--bottom', width: 80, height: 80
    %div
      %strong= user_decorator.full_name
    %div= user_decorator.phone_number_and_email(true)
