- participation_request_decorator = participation_request.decorate
- course_decorator                = participation_request.course.decorate
%table.table--striped.table--striped-reversed.bordered.f-weight-500
  %tbody
    %tr.bordered--bottom
      %th.v-middle.soft--sides.nowrap.bordered--right.one-third
        Statut
      %td.v-middle.soft--sides
        .flexbox.palm-block
          .flexbox__item.one-whole.palm-block.palm-soft-half--ends
            = participation_request_decorator.long_status_name('Structure')
          .flexbox__item.v-middle.nowrap.text--right.palm-block
            - if !@participation_request.canceled?
              .palm-text--left.inline-block.palm-block.palm-soft-half--ends
                = link_to cancel_form_pro_structure_participation_request_path(@participation_request.structure, @participation_request), class: 'fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
                  - if @participation_request.charged?
                    = t('.refund')
                  - else
                    = t('.decline')

    %tr.bordered--bottom
      %th.v-middle.soft--sides.nowrap.bordered--right.one-third.nowrap Cours et date
      %td.v-middle.soft--sides.one-whole
        - course = participation_request.course
        %span.has-tooltip{ data: { toggle: 'popover', content: participation_request_decorator.popover_course_infos, html: 'true', placement: 'top', trigger: 'hover' } }
          = course.name
        = "le #{participation_request_decorator.day_and_hour(false)}"

    %tr.bordered--bottom
      %th.v-middle.soft--sides.bordered--right.one-third= "Participant".pluralize(@participation_request.nb_participants)
      %td.v-middle.text--left.soft--sides.palm-soft-half--ends
        = participation_request_decorator.details
        - if participation_request.refunded?
          %strong.green
            %i= '— Remboursé'
        - elsif participation_request.charged?
          %strong.green
            %i= '— Payé'

    - if participation_request.place
      %tr.bordered--bottom
        %th.v-middle.soft--sides.nowrap.bordered--right.one-third.nowrap Lieu
        %td.v-middle.soft--sides.one-whole
          - if participation_request.at_student_home?
            = participation_request.place.name
          - else
            = "#{participation_request.place.name}, #{participation_request.place.address}"
          - if participation_request.place.info.present? or participation_request.place.private_info.present?
            .soft-half--top
              - if participation_request.place.info.present?
                = participation_request.place.info
              - if participation_request.place.info.present? or participation_request.place.private_info.present?
                %br
              - if participation_request.place.private_info.present?
                = participation_request.place.private_info
    - elsif participation_request.at_student_home?
      %tr.bordered--bottom
        %th.v-middle.soft--sides.nowrap.bordered--right.one-third.nowrap Lieu
        %td.v-middle.soft--sides.one-whole
          .flexbox.palm-block
            .flexbox__item.one-whole.palm-block
              Au domicile de l'élève :
              = participation_request_decorator.student_home_address
            .flexbox__item.v-middle.nowrap.text--right
              = link_to t('.see_on_map'), URI.encode("http://maps.google.com/?q=#{participation_request_decorator.student_home_address}"), target: :_blank
