- pr = @participation_request.decorate

.panel
  .panel__header.soft
    %h4.flush
      Accepter la demande d'inscription
  .panel__body.soft-half
    .soft--sides.soft--ends
      %table.table--striped.table--striped-reversed.bordered.f-weight-500
        %tbody
          %tr.bordered--bottom
            %th.v-middle.soft--sides.nowrap.bordered--right.one-third
              Cours
            %td.v-middle.soft--sides
              .flexbox.palm-block
                .flexbox__item.one-whole.palm-block.palm-soft-half--ends
                  = pr.course.name

          %tr.bordered--bottom
            %th.v-middle.soft--sides.nowrap.bordered--right.one-third
              Jour et Heure
            %td.v-middle.soft--sides
              .flexbox.palm-block
                .flexbox__item.one-whole.palm-block.palm-soft-half--ends
                  = pr.formatted_date

          %tr.bordered--bottom
            %th.v-middle.soft--sides.nowrap.bordered--right.one-third
              Lieu
            %td.v-middle.soft--sides
              .flexbox.palm-block
                .flexbox__item.one-whole.palm-block.palm-soft-half--ends
                  = pr.formatted_place

      = simple_form_for [:pro, @structure, @participation_request], url: accept_pro_structure_participation_request_path(@structure, @participation_request) do |f|
        .grid
          .grid__item.three-tenths.palm-one-whole.palm-push--bottom>
            %a.btn.btn--full{ href: '#', onclick: '$.fancybox.close();' } Fermer
          .grid__item.seven-tenths.palm-one-whole>
            = f.submit 'Confirmer', class: 'nowrap btn--full btn btn--green', data: { disable_with: 'Envoi en cours...' }, id: 'date-submit'
