-# - prefilled_message = "Bonjour #{@participation_request.user.first_name},\n\r\n\rMalheureusement, je suis dans l'obligation d'annuler votre séance d'essai.\n\r\n\rJe vous prie de bien vouloir m'excuser et vous remercie d'avance pour votre compréhension,\n\r\n\r#{@participation_request.structure.name}"
- prefilled_message = "Bonjour #{@participation_request.user.first_name},\n\r\n\rJe vous prie de bien vouloir m'excuser, mais je suis dans l'obligation d'annuler votre séance d'essai."
- if @structure.website.present? or @structure.phone_numbers.present?
  - contacts = [ @structure.website ] + @structure.phone_numbers.map(&:number)
  - prefilled_message += "\n\r\n\rVoici mes coordonnées, vous pouvez me contacter pour convenir d'un nouveau rendez-vous : #{ contacts.to_sentence }."
- prefilled_message += "\n\r\n\rJe vous remercie d'avance pour votre compréhension, à bientôt,\n\r\n\r#{@participation_request.structure.name}"

.panel
  .panel__header.soft
    %h4.flush
      Annuler la demande d'inscription
  .panel__body.soft
    = simple_form_for [:pro, @structure, @participation_request], url: cancel_pro_structure_participation_request_path(@structure, @participation_request), html: { id: 'participation-request-form' } do |f|
      = f.error_notification
      = f.input :cancelation_reason_id, as: :select, collection: ParticipationRequest::CancelationReason.find_all_by_type('structure'), label_method: lambda{|reason| t(reason.name)}, label: false, include_blank: t('participation_request.cancelation_reason.include_blank'), input_html: { class: 'input--large one-whole' }, wrapper_html: { class: 'flush--top' }
      = f.fields_for :message, @message, class: 'message__body message__appendix' do |message_form|
        = message_form.input :body, input_html: { value: prefilled_message, placeholder: 'Ajouter un message personnel ici', style: 'height: 100px', class: 'input--large one-whole', id: 'participation-request-message', data: { behavior: 'autoresize' } }, as: :text, label: false, wrapper_html: { class: 'flush--top' }

      .grid
        .grid__item.palm-one-whole.two-tenths.palm-push--bottom>
          %a.btn.btn--full{ href: '#', onclick: '$.fancybox.close();' } Fermer
        .grid__item.palm-one-whole.eight-tenths>
          = f.submit 'Envoyer', class: 'nowrap btn--full btn btn--green', data: { disable_with: 'Envoi en cours...' }
