= side_menu_currently_at 'inscriptions'

%h1 Inscriptions
- if @structure.participation_requests.any?
  %h3 Inscriptions à venir
  %table.table--data.table--striped.table-not-bordered
    %thead
      %tr
        %th.three-twelfths Statut
        %th.three-twelfths Cours et date
        %th.four-twelfths Participant
        %th.two-twelfths Détails
    %tbody
      - @upcoming_participation_requests.each do |participation_request|
        = render partial: 'pro/structures/participation_requests/participation_request', locals: { participation_request: participation_request }
  - if @past_participation_requests.any?
    %hr
    %p.flush
      = link_to "Voir tout l'historique des inscriptions", '#', data: { behavior: 'show-long-version', 'long-version' => '#previous-subscriptions'}
    .hidden#previous-subscriptions
      %h3 Inscriptions passées
      %table.table--data.table--striped.table-not-bordered
        %thead
          %tr
            %th.three-twelfths Statut
            %th.three-twelfths Cours et date
            %th.four-twelfths Participant
            %th.two-twelfths Détails
        %tbody
          - @past_participation_requests.each do |participation_request|
            = render partial: 'pro/structures/participation_requests/participation_request', locals: { participation_request: participation_request, show_warning: false }
- elsif false#@structure.courses.any?
  .bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.delta.text--center
    %p
      Vous n'avez pas encore d'inscrit. Quelques conseils pour améliorer vos statistiques :
    %ul.line-height-1-7.inline-block.text--left
      %li
        = link_to "Mettez à jour votre planning d'activités", pro_structure_courses_path(@structure)
      -# %li Affichez votre [planning sur votre site Internet]
      %li
        = link_to "Demandez des recommandations à vos élèves", pro_structure_comments_path(@structure)
      %li
        = link_to "Affichez votre livre d'Or sur votre site Internet", widget_pro_structure_path(@structure)
- else
  .bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.delta.text--center
    %p
      Pour recevoir vos premiers inscrits, ajoutez les activités à votre planning.
    = link_to 'Accéder à mon planning', pro_structure_courses_path(@structure), class: 'btn btn--green'
