= side_menu_currently_at 'discovery_pass'

.panel
  = render partial: 'pro/structures/courses/discovery_pass_tabs', locals: { current: 'monitoring' }
  .panel__body.soft--ends
    .soft--sides
      %h3 Mes inscriptions
    %table.table--data.table--striped
      %thead
        %tr
          %th Statut
          %th Nom de l'élève
          %th Lieu
          %th Cours
          %th Jour et horaires
          %th Options
      %tbody
        - @participation_requests.each do |participation_request|
          %tr
            %td.nowrap{ class: participation_request_color(participation_request) }
              = participation_request_icon(participation_request)
              = t "participation_request.state.#{participation_request.state}"
            %td= participation_request.user.name
            %td
              - place = participation_request.place
              - if place
                = place.name
                - if place.info.present? or place.private_info.present?
                  %i.fa.fa-info{ data: { toggle: 'popover', content: t('places.infos', info: place.info, private_info: place.private_info), html: 'true', placement: 'top', trigger: 'hover' } }
            %td
              - course = participation_request.course
              = course.name
              %i.fa.fa-info{ data: { toggle: 'popover', content: "<strong>Niveau :</strong> #{join_levels(participation_request.levels)}<br><strong>Public :</strong> #{join_audiences(participation_request.planning || participation_request.course)}<br><strong>Disciplines :</strong> #{course.subjects.uniq.map(&:name).join(', ')}", html: 'true', placement: 'top', trigger: 'hover' } }
            %td
              = "#{l(participation_request.date, format: :semi_short)} à #{l(participation_request.start_time, format: :short)}"
            %td
              - if !participation_request.canceled? and !participation_request.declined?
                - if participation_request.pending? and participation_request.last_modified_by == 'User'
                  = link_to "Accepter l'inscription", accept_pro_structure_participation_request_path(@structure, participation_request), method: :patch, class: 'green nowrap'
                  %br
                = link_to 'Proposer un autre créneau', edit_pro_structure_participation_request_path(@structure, participation_request), class: 'orange nowrap fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
                %br
              = link_to 'Historique des messages', pro_structure_conversation_path(@structure, participation_request.conversation)
              - if !participation_request.canceled? and !participation_request.declined?
                %br
                = link_to "Annuler l'inscription", cancel_form_pro_structure_participation_request_path(@structure, participation_request), class: 'red nowrap fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
