= side_menu_currently_at 'inscriptions'

= render partial: 'pro/structures/participation_requests/tabs', locals: { current: 'index' }

%h1 Inscriptions à traiter
- if @not_treated.any? or @treated.any?
  - if @not_treated.any?
    %h3 Inscriptions non traitées
    - if @not_treated.any?
      %table.table--data.table--striped.table-not-bordered.table-responsive
        %thead
          %tr
            %th.three-twelfths Statut
            %th.two-twelfths Cours et date
            %th.four-twelfths Participant
            %th.two-twelfths Détails
            %th.one-twelfths Source
        %tbody
          - @not_treated.each do |participation_request|
            = render partial: 'pro/structures/participation_requests/participation_request', locals: { participation_request: participation_request }
  - if @treated.any?
    %h3 Inscriptions traitées mais non confirmées
    - if @treated.any?
      %table.table--data.table--striped.table-not-bordered.table-responsive
        %thead
          %tr
            %th.three-twelfths Statut
            %th.two-twelfths Cours et date
            %th.four-twelfths Participant
            %th.two-twelfths Détails
            %th.one-twelfths Source
        %tbody
          - @treated.each do |participation_request|
            = render partial: 'pro/structures/participation_requests/participation_request', locals: { participation_request: participation_request }

- elsif @structure.courses.any?
  = render partial: 'pro/structures/improve_your_stats', locals: { message: "Vous n'avez pas d'inscriptions à venir. Quelques conseils pour améliorer vos statistiques : "}
- else
  .bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.delta.text--center
    %p
      Pour recevoir vos premiers inscrits, ajoutez les activités à votre planning.
    = link_to 'Accéder à mon planning', pro_structure_courses_path(@structure), class: 'btn btn--green'
