= side_menu_currently_at 'inscriptions'

- if @structure.premium?
  = render partial: 'pro/structures/participation_requests/tabs', locals: { current: 'index' }

%h1 Inscriptions
- if @structure.participation_requests.any?
  %h3 Inscriptions à venir
  - if @upcoming_participation_requests.any?
    %table.table--data.table--striped.table-not-bordered.table-responsive
      %thead
        %tr
          %th.three-twelfths Statut
          %th.three-twelfths Cours et date
          %th.four-twelfths Participant
          %th.two-twelfths Détails
          %th.one-twelfths Source
      %tbody
        - @upcoming_participation_requests.each do |participation_request|
          = render partial: 'pro/structures/participation_requests/participation_request', locals: { participation_request: participation_request }
  - else
    = render partial: 'pro/structures/improve_your_stats', locals: { message: "Vous n'avez pas d'inscriptions à venir. Quelques conseils pour améliorer vos statistiques : "}
  - if @past_participation_requests.any?
    %hr
    %p.flush
      = link_to "Voir tout l'historique des inscriptions", '#', data: { behavior: 'show-long-version', 'long-version' => '#previous-subscriptions'}
    .hidden#previous-subscriptions
      %h3 Inscriptions passées
      %table.table--data.table--striped.table-not-bordered.table-responsive
        %thead
          %tr
            %th.three-twelfths Statut
            %th.three-twelfths Cours et date
            %th.four-twelfths Participant
            %th.two-twelfths Détails
            %th.one-twelfths Source
        %tbody
          - @past_participation_requests.each do |participation_request|
            = render partial: 'pro/structures/participation_requests/participation_request', locals: { participation_request: participation_request, show_warning: false }
- elsif @structure.courses.without_open_courses.any?
  = render partial: 'pro/structures/improve_your_stats', locals: { message: "Vous n'avez pas encore d'inscrit. Quelques conseils pour améliorer vos statistiques : "}
- else
  .bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.delta.text--center
    %p
      Pour recevoir vos premiers inscrits, ajoutez les activités à votre planning.
    = link_to 'Accéder à mon planning', pro_structure_courses_path(@structure), class: 'btn btn--green'
