.panel
  .panel__header.soft-half--ends.soft--sides
    %h4.flush Coordonnées de #{@user.name}
  .panel__body.soft.text--center
    - if @user.phone_number.present?
      %a.btn.btn--white{ href: "tel:#{@user_decorator.phone_number}".gsub(' ', '')}
        %i.fa.fa-phone-o.soft-half--right
        = @user_decorator.phone_number
    = link_to "mailto:#{@user_decorator.email}", class: 'btn btn--white' do
      %i.fa.fa-envelope-o.soft-half--right
      = @user_decorator.email
