- participation_request_decorator = @participation_request.decorate

- if current_pro_admin
  = side_menu_currently_at 'inscriptions'

- user           = @participation_request.user
- user_decorator = user.decorate
- first_message = @participation_request.conversation.messages.order('created_at DESC').reject(&:new_record?).first

%h1.palm-text--center Demande d'inscription de #{ @user.name }
- if @participation_request.past? and @participation_request.accepted?
  = render "state_past"
- else
  = render "state_#{ @participation_request.state }"

.grid--full.push--bottom.message
  .grid__item.palm-one-whole.palm-block.palm-text--center.two-twelfths.v-top.v-top>
    = image_tag user.avatar_url(:normal), class: 'center-block push-half--bottom rounded--circle', width: 100
    .text--center
      = "#{l(local_time(first_message.created_at).to_date, format: :short)} à #{l(local_time(first_message.created_at), format: :short)}"
  .grid__item.palm-one-whole.palm-block.palm-text--center.ten-twelfths.v-top>
    .delta.line-height-1-7.flush
      = "#{user.name}, #{user_decorator.age_and_city}"
    - if !@participation_request.pending?
      - if user.phone_number.present?
        %div.line-height-1-7.epsilon
          %i.fa.fa-phone-o
          = user_decorator.phone_number
      %div.line-height-1-7.epsilon
        %i.fa.fa-envelope-o
        = link_to user_decorator.email, "mailto:#{user_decorator.email}"

    - if user.description.present?
      %div.line-height-1-7.quoted.epsilon
        %i= user.description
    .message__body.soft-half.gray-box.message__appendix.push-half--top
      .epsilon.line-height-1-5
        = "#{@participation_request.course.name}, le "
        %strong= "#{participation_request_decorator.day_and_hour(false)},"
        = participation_request_decorator.details
      %hr.push-half--ends
      = simple_format first_message.body

-# Because this page can be accesed throught bitly as non connected user.
- if current_pro_admin
  = content_for :top_menu do
    .flexbox
      .flexbox__item.v-middle
        %ol.nav.flush.breadcrumb{ itemprop: 'breadcrumb' }
          %li.active-without-caret= link_to 'Mes inscriptions', pro_structure_participation_requests_path(@structure), class: 'semi-muted-link epsilon f-weight-600 soft--left soft-half--ends white'
          %li.epsilon.f-weight-500.white.soft-half--ends= @user.name

.push--bottom
  = render partial: 'pro/structures/participation_requests/table_recap', locals: { participation_request: @participation_request }

%h3 Discussion avec #{@user.name}
= render partial: 'pro/structures/conversations/form', locals: { conversation: @participation_request.conversation }
= render partial: 'messages/message', collection: @participation_request.conversation.messages.order('created_at DESC').reject(&:new_record?)
