{{#if logged_in}}
    <div class="drop-down__wrapper grid__item width-auto v-middle hard--left" data-behavior='drop-down' data-el='> .drop-down__el' data-position='right'>
        <a href="{{dashboard_user_path}}">
            {{#if avatar_url}}
            <div class="flexbox">
                <div class="flexbox__item v-middle width-auto soft-half--right">
                  <img src="{{ avatar_url }}" alt="" height="40" width="40" class="block rounded--circle">
                </div>
                <div class="flexbox__item v-middle width-auto">
                    <strong>{{ first_name }}</strong>
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            {{else}}
                <strong>{{ first_name }}</strong>
                <i class="fa fa-caret-down"></i>
            {{/if}}
        </a>
        <ul class="drop-down__el text--left">
            <li class="nowrap">
                <a href="{{ dashboard_user_path }}">
                    Tableau de bord
                </a>
            </li>
            <li class="nowrap">
                <a href="{{ user_participation_requests_path }}">
                    Mes inscriptions
                </a>
            </li>
            <li class="nowrap">
                <a href="{{ user_conversations_path }}">
                    Boîte de réception
                </a>
            </li>
            <li class="nowrap">
                <a href="{{ edit_user_path }}">
                    Profil
                </a>
            </li>
            <li class="nowrap">
              <a href="{{ destroy_user_session_path }}" data-method="delete">
                Se déconnecter
              </a>
            </li>
        </ul>
    </div>
{{else}}
<div class="inline-block">
    <div class="inline-block soft--right">
        <a href="#" data-behavior="sign-up">Inscription</a>
    </div>
    <div class="inline-block soft--right">
        <a href="#" data-behavior="sign-in">Connexion</a>
    </div>
    <div class="inline-block soft--right drop-down__wrapper" data-behavior='drop-down' data-el='> .drop-down__el' data-position='right'>
      <a href="{{ pages_faq_users_url }}" target='_blank' target='_blank' class="mixpanel-tracker" data-info="header-dropdown-menu" rel="nofollow">
        Aide
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="drop-down__el text--left on-top">
        <li class="nowrap">
            <a rel="nofollow" href="{{ pages_faq_users_url }}#about-creating-profile" target='_blank' class="mixpanel-tracker" data-info="header-dropdown-menu">
                Comment trouver puis s'inscrire à un cours de loisir ?
            </a>
        </li>
        <li class="nowrap">
            <a rel="nofollow" href="{{ pages_faq_users_url }}#about-creating-profile" target='_blank' class="mixpanel-tracker" data-info="header-dropdown-menu">
                Comment contacter un professeur, une association ou une école ?
            </a>
        </li>
        <li class="nowrap">
            <a rel="nofollow" href="{{ pages_faq_users_url }}#about-creating-profile" target='_blank' class="mixpanel-tracker" data-info="header-dropdown-menu">
                Je n'ai pas reçu mon mail d'activation : comment faire ?
            </a>
        </li>
        <li class="nowrap">
            <a rel="nofollow" href="{{ pages_faq_users_url }}#about-creating-profile" target='_blank' class="mixpanel-tracker" data-info="header-dropdown-menu">
                Pourquoi créer un compte élève ?
            </a>
        </li>
        <li class="nowrap">
            <a rel="nofollow" href="{{ pages_faq_users_url }}#about-creating-profile" target='_blank' class="mixpanel-tracker" data-info="header-dropdown-menu">
                Comment déposer une recommandation ?
            </a>
        </li>
      </ul>
    </div>

    <div class="inline-block soft--left">
        {{#if on_sleeping_page}}
            <a href="{{ take_control_url }}" class="btn btn--orange">Gérer ce profil</a>
        {{else}}
            <a href="{{ inscription_pro_structures_url }}" class="btn btn--orange">Publiez vos cours</a>
        {{/if}}
    </div>
</div>
{{/if}}
