{{#if admin_logged_in}}
    <div class="inline-block soft--right">
        <a href="{{ pro_structures_url }}{{#if structure_path}}{{ structure_path }}{{/if}}">Accéder à mon espace Pro</a>
    </div>
{{ else }}
    {{#if logged_in}}
        <div class="drop-down__wrapper grid__item width-auto v-middle hard--left">
            <a href="{{dashboard_user_path}}">
                {{#if avatar_url}}
                <div class="flexbox">
                    <div class="flexbox__item v-middle width-auto soft-half--right">
                      <img src="{{ avatar_url }}" alt="" height="40" width="40" class="block rounded--circle">
                    </div>
                    <div class="flexbox__item v-middle width-auto">
                        <strong>{{ first_name }}</strong>
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
                {{else}}
                    <strong>{{ first_name }}</strong>
                    <i class="fa fa-caret-down"></i>
                {{/if}}
            </a>
            <div class="drop-down__el drop-down__el--left">
                <ul class="drop-down__el-inner-box text--left">
                    <li class="nowrap">
                        <a href="{{ dashboard_user_path }}" class="f-color-black">
                            Tableau de bord
                        </a>
                    </li>
                    <li class="nowrap">
                        <a href="{{ user_participation_requests_path }}" class="f-color-black">
                            Mes inscriptions
                        </a>
                    </li>
                    <li class="nowrap">
                        <a href="{{ user_conversations_path }}" class="f-color-black">
                            Boîte de réception
                        </a>
                    </li>
                    <li class="nowrap">
                        <a href="{{ edit_user_path }}" class="f-color-black">
                            Profil
                        </a>
                    </li>
                    <li class="nowrap">
                      <a href="{{ destroy_user_session_path }}" data-method="delete" class="f-color-black">
                        Se déconnecter
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    {{else}}
    <div class="inline-block">
        {{#unless on_sleeping_page}}
            <div class="inline-block soft--right">
                <a href="{{ pro_structures_url }}" class="gray-light">Espace Pro</a>
            </div>
        {{/unless}}
        <div class="inline-block soft--right">
            <a href="#" data-behavior="sign-in" class="gray-light">Se connecter</a>
        </div>
        <div class="inline-block soft--right">
            <a href="#" data-behavior="sign-up" class="btn btn--blue-green">S'inscrire</a>
        </div>
        {{#if on_sleeping_page}}
            <div class="inline-block">
                <a href="{{ take_control_url }}" class="btn btn--orange">Compléter ce profil</a>
            </div>
        {{/if}}
    </div>
    {{/if}}
{{/if}}
