= content_for :title do
  - if request.subdomain == 'pro'
    Pro.CoursAvenue.com - Questions les plus fréquentes
  - else
    CoursAvenue.com - Questions les plus fréquentes
= content_for :meta_description do
  - if request.subdomain == 'pro'
    Pourquoi référencer vos cours ? Comment gérer votre profil ? En quoi consiste CoursAvenue ? Trouvez les réponses à toutes vos questions.
  - else
    Qu'est-ce que CoursAvenue.com ? Quels cours trouve-t-on sur CoursAvenue ? Quels sont les points forts de CoursAvenue ? Trouvez les réponses à toutes vos questions.

.relative.height-35vh.bg-position-top.flexbox.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url('#{asset_path('pro/home_background7.jpg')}')", data: { behavior: 'parallax' } }
  .black-curtain.north.west.one-whole.absolute
  .flexbox__item.v-middle.text--center.relative
    %h1.f-size-really-big.flush
      - if request.subdomain == 'pro'
        Pro.CoursAvenue.Com -
      Questions les plus fréquentes

.main-container.soft--ends
  .grid
    .grid__item.four-twelfths.soft--right>
      %nav.bg-white.one-whole
        %ul.no-bullet-list.flush.bordered--left.bordered--top.bordered--right
          - @sections.each_with_index do |section, index|
            - cache [section, 'faq/sidebar'] do
              %li.faq-menu-link.omega.orange{ class: index == 0 ? 'active' : ''}
                = link_to section.title, "##{section.slug}", class: 'not-outlined f-weight-600 gray bordered--bottom soft--sides soft-half--ends block', data: { toggle: 'tab' }

    .grid__item.eight-twelfths.white-box.soft>
      - @sections.each_with_index do |section, index|
        %div.hide.tab-pane{ id: section.slug, class: index == 0 ? 'active' : '' }
          - section.questions.each do |sub_section|
            - cache [sub_section, 'faq/sub_section'] do
              %h5.blue.toggleable-header{ data: { behavior: 'toggleable', el:'+ div' } }
                = sub_section.question
                %i.fa.fa-caret-left
              %div.hide.soft--sides
                = sub_section.answer.html_safe

  .delta.push--top.text--center.soft--ends
    Vous ne trouvez pas la réponse à votre question ?
    = link_to 'Contactez-nous', pages_contact_path

= content_for :scripts do
  :javascript
      $(function() {
          if (window.location.hash.length > 0 && window.location.hash != '#_=_') {
              $('[href=' + window.location.hash + ']').tab('show');
          }
      });
