= stylesheet_link_tag "discovery_pass", media: 'all'

= content_for :title do
  CoursAvenue | Cours d'essai Gratuit

#structure-profile-menu.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;' }
  .bg-site-background.soft-half--ends.bordered--bottom
    .main-container.main-container--medium.soft--sides
      .flexbox.one-whole
        .flexbox__item.seven-twelfths.top-page-menu.visuallyhidden--palm>
          %ul.nav.flush.epsilon
            %li.soft-half--sides
              = link_to "Inscription", '#top', class: 'muted-link orange', data: { behavior: 'scroll-to', offset_top: '-55' }
            %li.soft-half--sides
              = link_to "En bref", '#en-bref', class: 'muted-link orange', data: { behavior: 'scroll-to', offset_top: '-55' }
            %li.soft-half--sides
              = link_to "Cours d'essai inclus", '#courses', class: 'muted-link orange', data: { behavior: 'scroll-to', offset_top: '-55' }
            %li.soft-half--sides
              = link_to "Avantages", '#avantages', class: 'muted-link orange', data: { behavior: 'scroll-to', offset_top: '-55' }
        .flexbox__item.text--right.five-twelfths.palm-one-whole>
          = link_to 'Voir les cours gratuits', root_search_page_without_subject_path('paris'), class: 'palm-text--center palm-one-whole btn btn--yellow'


= content_for :above_container do
  %ul.cb-slideshow.no-bullet-list
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div
    %li
      %span
      %div

  #top.main-container.main-container--medium.soft-half--bottom.relative{ style: "height: 500px;" }
    .inline-block.four-tenths.palm-one-whole.lap-six-tenths.soft--right.text--center>
      .push-half--bottom.very-soft.hard--sides
        .white-box.soft.black
          %h3 Découvrez autant de cours de loisirs que vous voulez !
          %p.epsilon
            Tout au long de l'année, inscrivez-vous gratuitement aux meilleurs cours d'essai sélectionnés rien que pour vous : Sophrologie, Impro, Yoga, Golf, Danse... Pour une vie créative, artistique, sportive !
          = link_to 'Voir les cours gratuits', root_search_page_without_subject_path('paris'), class: 'btn btn--yellow btn--full btn--bigger'

    = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/badge.png', width: 250, class: 'relative', style: 'left: -40px; top: 10px;'

    .home-screen-comment.visuallyhidden--palm.soft-black-text-shadow.south.soft--bottom
      .grid.epsilon
        .grid__item.two-twelfths.v-middle.text--center>
          = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/anonymous.jpg', class: 'block white-circle'
          Cécilia
        .grid__item.ten-twelfths.v-middle>
          %span.quoted.epsilon.quoted--large<
            %i J'ai pu tester gratuitement au pied de mon immeuble un super cours d'écriture créative. Sans parler des cours de danse orientale et de sophrologie. Merci CoursAvenue !

  .bg-site-background.relative#what-is-it
    .home-screen-promotion-wrapper#en-bref
      .main-container
        .p
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 Les cours d'essai gratuits en bref
          .grid
            .grid__item.one-half.palm-one-whole.text--center>
              .f-weight-600.f-size-20.line-height-1-7 Essayez tous les loisirs que vous voulez
              %p.epsilon.line-height-1-5 Sophrologie, Yoga, Impro, Danse Butô, Krav Maga, Ecriture créative, Dessin au musée du Louvre... CoursAvenue vous permet d'essayer gratuitement ces disciplines en toute simplicité. Pour une vie créative, sportive, artistique !

            .grid__item.one-half.palm-one-whole.text--center>
              .f-weight-600.f-size-20.line-height-1-7 Chaque semaine, des séances gratuites par milliers
              %p.epsilon.line-height-1-5
                La liste des cours est longue et ne cesse d'augmenter ! Chaque jour, notre équipe repère les meilleurs cours partout en France et négocie pour vous des séances collectives mais aussi des cours individuels à domicile ou chez le professeur.

          .grid
            .grid__item.one-half.palm-one-whole.text--center>
              .f-weight-600.f-size-20.line-height-1-7 Un accompagnement personnalisé
              %p.epsilon.line-height-1-5 En plus du moteur de recherche qui vous permet de réserver n'importe quel cours, renseignez vos disciplines préférées : ainsi, nous vous enverrons chaque semaine le planning détaillé des séances à venir selon vos envies.

            .grid__item.one-half.palm-one-whole.text--center>
              .f-weight-600.f-size-20.line-height-1-7 Revenez-y jusqu'à 3 fois sans frais
              %p.epsilon.line-height-1-5 Chaque professeur, association ou école vous ouvre les portes de leurs cours : vous pouvez assister à une séance au minimum, certains vous proposent même d'y revenir jusqu'à 3 fois !


    .main-container.main-container--medium.soft#courses
      .push--sides
        %h2.push--bottom.text--center.f-weight-300.soft--bottom Cours d'essai inclus sur CoursAvenue
        .one-third.palm-one-whole.lap-one-half.palm-text--center.inline-block>
          %h4
            = image_tag "icons/subjects/danse.png", height: 20
            Danse
          %ul.no-bullet-list.epsilon.line-height-1-7
            %li Hip Hop
            %li Pilates
            %li Lindy hop
            %li Zumba
            %li Claquettes
            %li Rock
            %li Danse country
            %li Hip-hop
            %li Danse Orientale
            %li Moderne Jazz
            %li Danse orientale classique
            %li Danse africaine moderne
            %li Danse blues
            %li Milonga et Valse argentine
            %li Tango argentin
            %li Salsa cubaine
            %li Danse indienne Bollywood
            %li . . .

        .one-third.palm-one-whole.lap-one-half.palm-text--center.inline-block>
          %h4
            = image_tag "icons/subjects/theatre-scene.png", height: 20
            Théâtre & Scène
          %ul.no-bullet-list.epsilon.line-height-1-7
            %li Comédie musicale
            %li Atelier de trapèze
            %li Théâtre
            %li Comédien de doublage
            %li Art dramatique
            %li Coaching pour acteurs
            %li Jeu d'acteur
            %li Développement personnel par la voix
            %li Théâtre pour enfants
            %li Improvisation théâtrale
            %li Théâtre en mouvement
            %li L'acteur face à la caméra
            %li Écriture théâtrale
            %li Théâtre de rue
            %li Pantins & marionnettes
            %li Art dramatique
            %li Mime
            %li . . .
        .one-third.palm-one-whole.lap-one-half.palm-text--center.inline-block>
          %h4
            = image_tag "icons/subjects/yoga-bien-etre-sante.png", height: 20
            Yoga, Bien-être & Santé
          %ul.no-bullet-list.epsilon.line-height-1-7
            %li Yoga
            %li Bikram Yoga
            %li Yoga-Iyengar
            %li Méditation
            %li Réflexologie
            %li Stretching Anti Stress
            %li Massage Traditionnel Thaï
            %li Qi Gong
            %li Tai Chi
            %li Stretching Postural
            %li Atelier équilibre et marche
            %li Technique Alexander
            %li Sophrologie
            %li Hatha yoga
            %li Coaching & développement personnel
            %li Wutao
            %li Shiatsu
            %li . . .

        .one-third.palm-one-whole.lap-one-half.palm-text--center.inline-block>
          %h4
            = image_tag "icons/subjects/dessin-peinture-arts-plastiques.png", height: 20
            Dessin, Peinture & Arts
          %ul.no-bullet-list.epsilon.line-height-1-7
            %li Gravure
            %li Peinture et volume
            %li Dessin
            %li Sculpture modelage
            %li Portrait
            %li Peinture à l'huile
            %li Patines décoratives sur bois
            %li Couture
            %li Reproduction de personnages et portraits
            %li Atelier d'écriture
            %li Céramique et de sculpture
            %li Arts plastiques
            %li Dessin d'observation
            %li Modelage-sculpture
            %li Fresque collective
            %li Sellerie
            %li Maroquinerie
            %li Bande dessinée
            %li Découverte de la Mode
            %li Cours de nu, modèle vivant
            %li Manga
            %li Animation 2D
            %li Stylisme
            %li . . .
        .one-third.palm-one-whole.lap-one-half.palm-text--center.inline-block>
          %h4
            = image_tag "icons/subjects/musique-chant.png", height: 20
            Musique & Chant
          %ul.no-bullet-list.epsilon.line-height-1-7
            %li Eveil musical
            %li Chant collectif
            %li Ecriture de scénario
            %li Ingénieur du son
            %li Chorale
            %li Réeducation vocale
            %li Voix lyrique et variété.
            %li Atelier découverte instrumentale
            %li Guitare et basse
            %li Batterie
            %li Chant
            %li Piano
            %li Musique & chant
            %li Approche de la basse
            %li Composition de musique de film
            %li Chant moderne
            %li Perfectionnement de la guitare
            %li Chorale
            %li Musique persane
            %li Techniques vocales et coaching vocal
            %li Chant et interprétation
            %li Chant gospel
            %li Chant moderne : jazz, chansons, rock etc...
            %li . . .
        .one-third.palm-one-whole.lap-one-half.palm-text--center.inline-block>
          %h4
            = image_tag "icons/subjects/sports-arts-martiaux.png", height: 20
            Sports & Arts martiaux
          %ul.no-bullet-list.epsilon.line-height-1-7
            %li Arts Martiaux Japonais adultes armes
            %li Taekwondo
            %li Kung fu
            %li Cours de self-défense
            %li Judo enfants
            %li Stretching Anti Stress
            %li Initiation à la Capoeira
            %li Cours de Bolly Aerobic (Fitness Bollywood)
            %li Initiation au Kung Fu Wushu
            %li Cardio Trainning et apprentissage coup de pied sur cible
            %li Karaté
            %li Baby Karaté
            %li Kobudo enfants adultes
            %li Cours de combat
            %li Kung Fu
            %li Arts martiaux japonais
            %li Golf à Paris
            %li Art martial Olympique d'origine Coréenne
            %li Pilates
            %li Karaté au féminin
            %li Capoeira
            %li . . .


    .home-screen-promotion-wrapper#avantages
      .main-container.soft
        .push--sides.soft--ends
          %h2.soft--bottom.text--center.f-weight-300 Un concentré d'avantages
          .grid--full
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
            .grid__item.three-twelfths.palm-one-whole.palm-text--center>
              %h4.push-half--bottom Un choix unique
              %p.epsilon C'est la 1ère fois qu'autant de cours d'essai gratuits sont réunis : des séances par milliers vous sont proposées, un chiffre en constante augmentation.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
            .grid__item.three-twelfths.palm-one-whole.palm-text--center>
              %h4.push-half--bottom Réservation gratuite
              %p.epsilon
                Réservez chaque séance d'essai directement en ligne auprès du professeur, de l'association ou de l'école de votre choix.
            .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
              = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
            .grid__item.three-twelfths.palm-one-whole.palm-text--center>
              %h4.push-half--bottom En toute liberté
              %p.epsilon Pour chaque cours d'essai, vous pouvez y revenir tout au long de l'année jusqu'à 3 fois sans frais ! Satisfaction garantie.

      .center-block.text--center.push--bottom.soft--bottom{ style: 'width: 350px;' }
        = link_to 'Voir les cours gratuits', root_search_page_without_subject_path('paris'), class: 'btn btn--yellow btn--full btn--bigger'

    .main-container.soft
      .grid
        .grid__item.one-third.palm-one-whole.text--center>
          .center-block.text--center.alpha 1
          .gamma.push-half--bottom.f-weight-300 Repérez
          %p.epsilon les associations, écoles et professeurs proposant des cours d'essai gratuits
        .grid__item.one-third.palm-one-whole.text--center>
          .center-block.text--center.alpha 2
          .gamma.push-half--bottom.f-weight-300 Inscrivez-vous
          %p.epsilon Réservez votre place aux séances de votre choix : tout se fait directement en ligne en quelques clics
        .grid__item.one-third.palm-one-whole.text--center>
          .center-block.text--center.alpha 3
          .gamma.push-half--bottom.f-weight-300 Suivez vos cours
          %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois !


    .home-screen-promotion-wrapper
      .main-container.main-container--medium.soft--top#places
        .text--center.soft--top
          %h2.text--center.f-weight-300 Plus de 10 000 lieux à découvrir à Paris et partout ailleurs
    #map-courses.one-whole{ style: 'height: 600px;'}


- content_for :scripts do
  :javascript
      $(function() {
          var $structure_profile_menu = $('#structure-profile-menu');
          var menu_scrolled_down = false;
          $(window).scroll(function() {
              if (!menu_scrolled_down && $(window).scrollTop() > 180 && parseInt($structure_profile_menu.css('top')) != 0 ) {
                  $structure_profile_menu.animate({ 'top': '0' });
                  menu_scrolled_down = true;
              } else if ($(window).scrollTop() < 180 && parseInt($structure_profile_menu.css('top')) == 0 ) {
                  $structure_profile_menu.animate({ 'top': '-100px' });
                  menu_scrolled_down = false;
              }
          });
          $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
      });

- @places = PlanningSearch.search({ is_open_for_trial: true, per_page: 1000, radius: 10000}, { group: :place_id_str }).group(:place_id_str).groups
- @course_locations = Rails.cache.fetch "is_open_for_trial/index/course_locations/2" do
  - Gmaps4rails.build_markers(@places) do |place_group, marker|
    - place = Place.find_by_id place_group.value
    - next if place.nil?
    - marker.lat place.latitude
    - marker.lng place.longitude
    - marker.infowindow place_group.results.map(&:course).map(&:name).join(', ')

= content_for :scripts do
  :javascript
    $(function() {
        google_map_handler = Gmaps.build('Google');
        google_map_handler.buildMap({ provider: { scrollwheel: false, center: new google.maps.LatLng(47, 2.3417), zoom: 6}, internal: { id: 'map-courses' }}, function() {
            markers = google_map_handler.addMarkers(#{@course_locations.to_json});
        });
    });

= render 'shared/live_chat'
