= content_for :title do
  Portes Ouvertes des cours de loisirs par CoursAvenue : + de 5 000 cours gratuits

= pro_menu_currently_at 'Journées Portes Ouvertes'

- content_for :above_container do
  = render 'home/jpo_2014'

  .main-container.grid.push--top
    .grid__item.soft.push--top.two-fifths.palm-one-whole>
      %h2.f-weight-300 Des cours de loisirs gratuits pour tous de 4&nbsp;à&nbsp;77 ans
    .grid__item.soft.three-fifths.palm-one-whole.f-weight-300.epsilon>
      %p.line-height-normal
        A l'image des Journées du Patrimoine des monuments historiques, le principe de cette opération "Journées du Patrimoine immatériel des cours de loisirs" est simple : nos partenaires ouvrent les portes de leurs cours au grand public à travers des ateliers gratuits le temps d'un week-end dans leurs propres salles.

      %p.line-height-normal
        Pour vous, cet événement est l'occasion unique de découvrir ou re-découvrir vos passions et un moment privilégié dans l'année pour partir à la rencontre des professeurs, associations ou écoles proposant tous types de cours de loisirs : initiation aux claquettes, baby karaté, aquagym séniors, écriture corporelle, yoga, cours de cocktails, improvisation théâtrale, ateliers parents-enfants, etc.

      .text--center.push--bottom
        = link_to "Participer", open_courses_path, class: 'btn btn--yellow btn--large', onclick: "ga('send', 'event', 'Participer', 'click', 'En savoir plus page')"
        %br
        %p Prochaines dates&nbsp;: 5-6 avril 2014 en Île-de-France


  .home-screen-promotion-wrapper.one-whole
    .main-container.soft
      .grid
        .grid__item.two-fifths.palm-one-whole>
          %h2.f-weight-300
            Inscrivez-vous au plus vite&nbsp;:
            %br
            les places sont limitées
        .grid__item.three-fifths.palm-one-whole.epsilon.f-weight-300>
          %p Pour participer à un atelier, c'est simple, super rapide et 100% gratuit&nbsp;:
          %ul
            %li Depuis la page d'accueil CoursAvenue.com, cliquez sur le bandeau "Portes Ouvertes des cours de loisirs" concernant votre ville ou région (si votre zone géographique n'est pas encore concernée, un peu de patience, nous arrivons bientôt !) ;
            %li Pour accéder à l'espace de réservation, créez votre compte "élève" ;le créneau de votre choix ;
            %li Une fois sur notre moteur de recherche géolocalisé, sélectionnez l'atelier de votre choix puis réservez votre place.
          %p Dépêchez-vous, les places sont limitées !

  .main-container.soft
    .grid
      .grid__item.two-fifths.palm-one-whole>
        %h2.f-weight-300 Venez avec vos proches
      .grid__item.three-fifths.palm-one-whole.epsilon.f-weight-300>
        %p.line-height-normal N'y allez pas seul ! Une fois votre inscription confirmée, invitez vos amis, collègues, ou votre famille :
        %ul
          %li Connectez-vous à votre profil (lien "Connexion" en haut de la page d'accueil CoursAvenue.com) ;
          %li Une fois connecté, cliquez sur la rubrique "Mes cours" (à gauche de la page) ;
          %li Retrouvez vos ateliers Portes Ouvertes et invitez vos proches grâce à notre outil simplifié : dès qu'un proche s'inscrit, vous en serez notifié par e-mail.

  .home-screen-promotion-wrapper.one-whole
    .main-container.soft
      .grid
        .grid__item.two-fifths.palm-one-whole>
          %h2.flush.f-weight-300 Gérez votre inscription en ligne
        .grid__item.three-fifths.palm-one-whole.epsilon.f-weight-300>
          %p.line-height-normal.flush
            Une fois votre réservation effectuée, retrouvez toutes les informations pratiques de vos ateliers depuis votre profil "élève". Pour vous connecter, cliquez sur "Connexion" en haut de la page d'accueil CoursAvenue.com.


  .main-container.soft
    .grid
      .grid__item.two-fifths.palm-one-whole>
        %h2.f-weight-300 100% gratuit
      .grid__item.three-fifths.palm-one-whole.epsilon.f-weight-300>
        %p.line-height-normal.push-half--bottom
          Vous n'avez rien à payer pour participer à l'événement. Le but de l'événement étant de faire découvrir le maximum de cours de loisirs de votre région, les ateliers sont gratuits.


  .home-screen-promotion-wrapper.one-whole
    .main-container.soft
      .grid
        .grid__item.two-fifths.palm-one-whole>
          %h2.f-weight-300
            Venez ou annulez&nbsp;:
            %br
            pensez aux autres
        .grid__item.three-fifths.palm-one-whole.epsilon.f-weight-300>
          %p.line-height-normal
            Une fois votre inscription effectuée, votre seul engagement est de venir à l'atelier le jour J. Si vous souhaitez annuler votre présence, vous pourrez le faire depuis votre profil : cela permettra de libérer votre place et d'offrir l'opportunité à une personne inscrite en liste d'attente d'assister à l'atelier.

  .main-container.soft
    .grid
      .grid__item.two-fifths.palm-one-whole>
        %h2.f-weight-300
          Plus de place ?
          %br
          Essayez la liste d'attente
      .grid__item.three-fifths.palm-one-whole.epsilon.f-weight-300>
        %p.line-height-normal.push-half--bottom
          Vous souhaitez vous inscrire à un atelier déjà complet ? Optimisez vos chances d'y participer en vous inscrivant sur la liste d'attente. On ne sait jamais : en cas d'annulation d'un participant, vous aurez peut-être la chance d'y participer.

  .home-screen-promotion-wrapper.one-whole
    .main-container.soft
      .grid
        .grid__item.two-fifths.palm-one-whole>
          %h2.f-weight-300 Un événement inédit
        .grid__item.three-fifths.palm-one-whole.epsilon.f-weight-300>
          %p.line-height-normal
            Les "Portes Ouvertes des cours de loisirs" est un événement inédit entièrement orchestré par l'équipe CoursAvenue, et les ateliers se déroulent chez chacun de nos partenaires. Souvent organisées à titre individuel, c'est la première fois que de telles Portes Ouvertes sont organisées de manière collective.

  .home-screen-promotion-wrapper.one-whole.jpo-banner-warpper.white>
    .jpo-banner.soft.relative>
      .main-container.soft
        .grid
          .grid__item.two-fifths.palm-one-whole>
            %h2.f-weight-300 En résumé
          .grid__item.three-fifths.palm-one-whole.delta.f-weight-300>
            %p.line-height-normal
              Ces Portes Ouvertes sont un moment privilégié pour partir à la découverte de l'ensemble du patrimoine immatériel des cours de loisirs qui nous entourent et exceptionnellement ouverts le temps d'un week-end. La participation aux ateliers est gratuite ou à participation libre.

            %p.line-height-normal
              Pour les élèves qui suivent déjà des cours de loisirs, c'est aussi l'occasion d'inviter tous leurs proches à découvrir leurs passions.

            .text--center.push--top
              = link_to "Participer", open_courses_path, class: 'btn btn--yellow btn--large', onclick: "ga('send', 'event', 'Participer', 'click', 'En savoir plus page')"
              %br
              %p.push-half--top Prochaines dates&nbsp;: 5-6 avril 2014 en Île-de-France
    .jpo-frise>
