= content_for :title do
  Presse | Tous savoir sur CoursAvenue
= content_for :meta_description do
  Presse | Tous savoir sur CoursAvenue

.relative.height-35vh.bg-position-top.flexbox.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url('#{asset_path('pages/press.jpg')}')", data: { behavior: 'parallax' } }
  .black-curtain.north.west.one-whole.absolute
  .flexbox__item.v-middle.text--center.relative
    %h1.f-size-really-big.flush Presse

.main-container.main-container--medium.soft
  .grid
    .grid__item.seven-tenths>
      %iframe.push--bottom.one-whole{ width: "640", height:"360", src:"//www.youtube.com/embed/-hq0sxFEcOw", frameborder:"0", allowfullscreen: true }

      %h2.f-weight-300 Communiqués de presse
      - @press_releases.each do |press_release|
        %h4.push-half--bottom.f-weight-300
          = link_to press_release.title, press_release_path(press_release), class: 'muted-link'
        .grid.push--bottom
          .grid__item.one-half>
            %strong= "Publié le #{l(press_release.published_at, format: :date_with_year)}"
          .grid__item.one-half.text--right>
            = link_to 'Lire le communiqué', press_release_path(press_release)

      %hr
      %h2.soft--bottom.f-weight-300 Ce qu'ils disent de nous
      - PressArticle.all.each do |press_article|
        .grid.push--bottom
          .grid__item.one-quarter.v-top>
            = link_to press_article.url, target: :_blank, class: 'block muted-link' do
              = image_tag press_article.logo.url(:original)
          .grid__item.three-quarters>
            .message__appendix.message__appendix--white.message__body.white-box.soft
              .gray.float--right= l(press_article.published_at)
              = link_to press_article.url, target: :_blank, class: 'block epsilon f-weight-bold push-half--bottom' do
                = press_article.title
              %p.flush
                = press_article.description

    .grid__item.three-tenths>
      = render 'shared/press_side_bar'
