.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background5.jpg'})" }
  .main-container.main-container--medium.soft
    %h1.flush
      Presse
.main-container.main-container--medium.soft
  .grid
    .grid__item.seven-tenths>
      %iframe.push--bottom.one-whole{ width: "640", height:"360", src:"//www.youtube.com/embed/-hq0sxFEcOw", frameborder:"0", allowfullscreen: true }

      %h2.soft--bottom.f-weight-300 Ce qu'ils disent de nous
      - PressArticle.all.each do |press_article|
        .grid.push--bottom
          .grid__item.one-quarter.v-top>
            = link_to press_article.url, target: :_blank, class: 'block muted-link' do
              = image_tag press_article.logo.url(:original)
          .grid__item.three-quarters>
            .message__appendix.message__appendix--white.message__body.white-box.soft
              .gray.float--right= l(press_article.published_at)
              = link_to press_article.url, target: :_blank, class: 'block epsilon f-weight-bold push-half--bottom' do
                = press_article.title
              %p.flush
                = press_article.description

    .grid__item.three-tenths>
      .white-box.soft.push--bottom
        %i.fa.fa-phone.float--right.gray-light.gamma.line-height-1
        %h3.epsilon.push-half--bottom
          Votre contact presse
        %p.flush
          %strong Nicolas Lagarde
          %br
          nicolas (at) coursavenue (point) com
          %br
          zéro neuf 82 24 27 74
          %br
          zéro six 07 94 54 52
      .white-box.soft.push--bottom
        %i.fa.fa-download.float--right.gray-light.gamma.line-height-1
        %h3.epsilon.push-half--bottom
          Téléchargement
        %p.flush
          = link_to 'Dossier de presse', 'https://coursavenue-public.s3.amazonaws.com/presse/CoursAvenue_DossierPresse_Sept14.pdf'
          %br
          = link_to 'Logos', 'https://coursavenue-public.s3.amazonaws.com/presse/Presse_Logos_CoursAvenue.zip'
          %br
          = link_to 'Visuels du service', 'https://coursavenue-public.s3.amazonaws.com/presse/Visuels_CoursAvenue.zip'
      .white-box.soft.push--bottom
        %i.fa.fa-info.float--right.gray-light.gamma.line-height-1
        %h3.epsilon.push-half--bottom
          En savoir plus
        %p.flush
          = link_to 'Espace élèves', pages_what_is_it_path, target: :_blank
          %br
          = link_to 'Espace professionnels (professeurs, associations, écoles)', root_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), target: :_blank

