= content_for :title do
  Qu'est-ce que CoursAvenue

- profiles = []
- profiles << { name: "David, passionné d'improvisation théâtrale à Marseille", image_name: 'david', quote: "Au pied de mon immeuble, j'ai découvert une super association pour mes cours d'improvisation : 5 ans que je passe devant chaque jour, et c'est sur CoursAvenue que je l'ai repérée.", image_width: 400 }

- profiles << { name: "Lyne, passionnée d'écriture et de danse à Lyon", image_name: 'lyne', quote: "J'adore écrire et danser. Grâce à CoursAvenue, j'ai repéré les cours à moins de 15min de chez moi, je me suis même inscrite à un cours d'essai gratuit d'écriture créative.", image_width: 500 }

- profiles << { name: "Mariel, passionnée de cours d'éveil musical pour sa petite fille à Nice", image_name: 'mariel', quote: "Je n'arrivais pas à trouver des cours d'éveil musical pour Elsa, ma petite fille. J'ai découvert CoursAvenue et cela m'a semblé très simple.", image_width: 370 }

- profiles << { name: "Nicolas, passionné de guitare à Lille", image_name: 'nicolas', quote: "2 ans que je voulais réapprendre à jouer de la guitare. Le moteur de recherche CoursAvenue m'a permis de comparer les tarifs, les horaires et même les avis.", image_width: 240 }

- profiles << { name: "Mary, passionnée de barre au sol classique à Toulouse", image_name: 'mary', quote: "Petite, j'ai fait 11 ans de danse classique. A 30 ans, j'ai voulu retrouver la rigueur et me muscler en douceur : grâce aux avis sur CoursAvenue, j'ai découvert la barre au sol.", image_width: 370 }

- selected_profile = profiles.sample

.home-screen-promotion-wrapper.soft--sides.white.bg-cover.bg-position-top{ style: "background-image: url(https://coursavenue-public.s3.amazonaws.com/www/testimonies/bg/#{selected_profile[:image_name]}.jpg)", data: { behavior: 'parallax' } }
  .main-container
    %header.grid--full
      .grid__item.soft--top.v-bottom.relative.visuallyhidden--palm{ class: ( selected_profile[:medium] ? 'three-tenths' : 'five-twelfths')}>
        = image_tag "https://coursavenue-public.s3.amazonaws.com/www/testimonies/#{selected_profile[:image_name]}.png", class: 'block', width: selected_profile[:image_width], style: 'margin-left: auto'
      .grid__item.v-bottom.soft--ends.palm-one-whole.relative{ class: ( selected_profile[:medium] ? 'seven-tenths' : 'seven-twelfths')}>
        .center-block
          .soft--top.white.soft-black-text-shadow
            %p.gamma.line-height-1-5.push-half--bottom
              %strong.quoted<
                = selected_profile[:quote].html_safe
            %p.f-style-italic
              = selected_profile[:name]
        .soft--left.push--left.soft--right.push--right
          .soft--left
            %h1.flush.soft-black-text-shadow
              Vos loisirs sont vos passions
            .push-half--bottom.soft-black-text-shadow
              Nous avons tous des passions plus ou moins cachées, une soif d'apprendre et une curiosité naturelle pour les arts, le bien-être et le sport. Avec CoursAvenue, partez à la découverte de tous les cours de loisirs qui vous entourent.

.main-container.main-container--medium
  .soft.push
    %h2.text--center.soft--bottom.f-weight-300 Comment ça marche ?
    = render 'home/how_it_works'

.bg-cover.bg-position-top{ style: "background-image: url(#{asset_path 'home_backgrounds/dessin-peinture-arts-plastiques.jpg'}); min-height: 430px;", data: { behavior: 'parallax' } }
  .main-container.main-container--medium.soft--ends
    %h2.text--center.push--bottom.soft--ends.soft-black-text-shadow.white Plus de #{Comment::Review.count.round(-3)} élèves recommandent leurs cours
    %ul.comments.no-bullet-list
      - CommentSearch.search(per_page: 8, has_avatar: true, has_title: true).in_groups_of(2, false).each do |review_group|
        %li.grid
          - review_group.each do |review|
            .grid__item.one-half.palm-one-whole.lap-one-half>
              - cache [review, 'what_is_it'] do
                .flexbox.push--bottom
                  .flexbox__item.soft--left.v-top.text--center>
                    = link_to structure_url(review.structure, subdomain: 'www'), class: 'block media-photo', target: :_blank, class: 'muted-link' do
                      = image_tag review.user.avatar_url(:thumb), class: 'block rounded--circle', width: 60, height: 60
                    .milli.soft-half--top.white.soft-black-text-shadow
                      = review.author_name
                  .flexbox__item.soft--sides.v-top>
                    .message__body.soft-half.message__appendix.gray-box
                      %p.epsilon.push-half--bottom.quoted
                        %strong= review.title
                      %p
                        = truncate(review.content, length: 500)
                      %p.text--right.flush
                        %i
                          À propos de
                          = link_to review.structure.name, structure_url(review.structure, subdomain: 'www'), target: :_blank


= render 'home/guide'

.home-screen-promotion-wrapper
  .main-container.main-container--medium.soft.push--ends
    .grid
      .grid__item.v-top.one-half.soft--right>
        %h2.soft--bottom.f-weight-300 CoursAvenue en vidéo
        .relative.bg-cover{style: "background-image: url('#{asset_path('home-page/video_thumbnail.jpg')}'); width: 100%; height: 260px;"}>
          = link_to 'https://www.youtube.com/watch?v=-hq0sxFEcOw', class: 'block show-on-hover__wrapper show-on-hover__wrapper--black-curtain', data: { behavior: 'fancy', height: 560, width: 1000 } do
            .home-screen-gallery__title.text--center{ style: 'margin-top: -2em;'}
              %i.fa-youtube-play.fa-3x.inline-block
              .show-on-hover__child Voir la vidéo

      .grid__item.v-top.one-half>
        %h2.soft--bottom.f-weight-300
          La réponse est
          %strong « oui »
          !
        .flexbox.epsilon.push-half--bottom
          .flexbox__item.v-middle.soft-half--right
            %i.fa-check.green.fa-2x
          .flexbox__item.v-middle.line-height-1-7.one-whole
            Est-ce que CoursAvenue est gratuit ?
        .flexbox.epsilon.push-half--bottom
          .flexbox__item.v-middle.soft-half--right
            %i.fa-check.green.fa-2x
          .flexbox__item.v-middle.line-height-1-7.one-whole
            Est-ce que CoursAvenue permet également de trouver des cours pour enfants ou séniors ?
        .flexbox.epsilon.push-half--bottom
          .flexbox__item.v-middle.soft-half--right
            %i.fa-check.green.fa-2x
          .flexbox__item.v-middle.line-height-1-7.one-whole
            Est-ce que CoursAvenue couvre tous les différents types de loisirs, partout en France ?
        .flexbox.epsilon.push-half--bottom
          .flexbox__item.v-middle.soft-half--right
            %i.fa-check.green.fa-2x
          .flexbox__item.v-middle.line-height-1-7.one-whole
            Si je me crée un compte, est-ce que mes informations sont protégées et jamais divulguées ?
        .flexbox.epsilon.push-half--bottom
          .flexbox__item.v-middle.soft-half--right
            %i.fa-check.green.fa-2x
          .flexbox__item.v-middle.line-height-1-7.one-whole
            A-t-on accès aux cours d'essai gratuits et à des offres promotionnelles ?
        .flexbox.epsilon.push-half--bottom
          .flexbox__item.v-middle.soft-half--right
            %i.fa-check.green.fa-2x
          .flexbox__item.v-middle.line-height-1-7.one-whole
            Est-ce que je suis sûr de ne pas payer plus cher qu'en passant directement par le professeur ?
        .flexbox.epsilon.push-half--bottom
          .flexbox__item.v-middle.soft-half--right
            %i.fa-check.green.fa-2x
          .flexbox__item.v-middle.line-height-1-7.one-whole
            Est-ce que je peux contacter autant de professeurs, associations ou écoles que je le souhaite ?
        .flexbox.epsilon.push-half--bottom
          .flexbox__item.v-middle.soft-half--right
            %i.fa-check.green.fa-2x
          .flexbox__item.v-middle.line-height-1-7.one-whole
            Sur le moteur de recherche CoursAvenue, est-ce que je peux filtrer les cours selon plusieurs critères comme les horaires, les prix, les niveaux, les âges... ?

= content_for :scripts do
  :javascript
      $(function() {
          $(".comments").responsiveSlides({
              timeout: 7000,
              pager: true,           // Boolean: Show pager, true or false
              pauseControls: true    // Boolean: Pause when hovering controls, true or false
          });
      });
- if Rails.env.production?
  = content_for :scripts do
    :javascript
        $(function() {
            mixpanel.track("Home/what_is_it: landing");
        });
