- course_decorator                = participation_request.course.decorate
- participation_request_decorator = participation_request.decorate
%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.v-top.content-block{ colspan: 3, style: 'padding: 8px 4px;' }
      .title Récapitulatif de la demande d'inscription
  %tr.table-row-alternate-color{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
      .p.hard
        %strong Élève
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
      .p.hard
        = participation_request.user.name
        = "(#{link_to 'voir les coordonnées', pro_structure_participation_request_url(@structure, @participation_request, subdomain: 'pro')})".html_safe
  %tr{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
      .p.hard
        %strong Statut
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
      .p.hard
        = I18n.t("participation_request.state.#{participation_request.state.state}")
  %tr.table-row-alternate-color{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
      .p.hard
        %strong= "Participant".pluralize(@participation_request.nb_participants)
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
      .p.hard
        = participation_request_decorator.details
  %tr{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
      .p.hard
        %strong Cours et date
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
      .p.hard
        = participation_request.course.name
        = "le #{participation_request_decorator.day_and_hour(false)}"
  - if participation_request.at_student_home?
    %tr.table-row-alternate-color{ valign: 'top' }
      %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
        .p.hard
          %strong Lieu
      %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
        .p.hard Chez l'élève
  - elsif participation_request.place
    %tr.table-row-alternate-color{ valign: 'top' }
      %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
        .p.hard
          %strong Lieu
      %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
        .p.hard= participation_request.place.try(:name)
