- course_decorator                = participation_request.course.decorate
- participation_request_decorator = participation_request.decorate
%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.v-top.content-block{ colspan: 3, style: 'padding: 8px 4px;' }
      .title Récapitulatif de la demande d'inscription
  %tr{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
      .p.hard
        %strong Élève
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
      .p.hard
        = participation_request.user.name
        - if participation_request.accepted? and participation_request.user.phone_number
          = "(#{participation_request.user.phone_number})"
  %tr.table-row-alternate-color{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
      .p.hard
        %strong Statut
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
      .p.hard
        = I18n.t("participation_request.state.#{participation_request.state}")
  %tr{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
      .p.hard
        %strong Inscription
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
      .p.hard
        = course_decorator.first_session_detail
  %tr.table-row-alternate-color{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
      .p.hard
        %strong Cours
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
      .p.hard
        = participation_request.course.name
  %tr{ valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
      .p.hard
        %strong Jour et heure
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
      .p.hard= participation_request_decorator.day_and_hour.capitalize
  - if participation_request.place
    %tr.table-row-alternate-color{ valign: 'top' }
      %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
        .p.hard
          %strong Lieu
      %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
        .p.hard= participation_request.place.try(:name)
  - elsif participation_request.at_student_home?
    %tr.table-row-alternate-color{ valign: 'top' }
      %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;' }
        .p.hard
          %strong Lieu
      %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;' }
        .p.hard
          Au domicile de l'élève :
          = participation_request_decorator.student_home_address
