.title
  = link_to "Foire aux questions", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
.p.soft-half--bottom.bordered--bottom
  = link_to "Que faire après avoir reçu une demande d'information d'un élève potentiel ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
.p.soft-half--ends.bordered--bottom
  = link_to "Que faire s'il ne s'agit pas d'une véritable demande d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
.p.soft-half--ends.bordered--bottom
  = link_to "Que se passe-t-il si je laisse expirer une demande d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
.p.soft-half--ends
  = link_to "Comment faire pour recevoir encore plus de demandes d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'

