- course_decorator                = participation_request.course.decorate
- participation_request_decorator = participation_request.decorate
- show_header                     = true if show_header.nil?
- show_access                     = false if show_access.nil?
- place                           = participation_request.place
- structure                       = participation_request.structure
%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  - if show_header
    %tr{ valign: 'top' }
      %td.v-top.content-block{ colspan: 3, style: 'padding: 8px 4px;'}
        .title Récapitulatif de la demande d'inscription
  %tr{ class: (participation_request.from_personal_website? ? '' : 'table-row-alternate-color'), valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
      .p.hard
        %strong Statut
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
      .p.hard
        = I18n.t("participation_request.state.#{participation_request.state}")
        - if participation_request.canceled? and participation_request.cancelation_reason and !participation_request.cancelation_reason.hidden
          %strong= "(#{t(participation_request.cancelation_reason.name)})"
  - if participation_request.from_personal_website?
    %tr.table-row-alternate-color{ valign: 'top' }
      %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
        .p.hard
          %strong Contact
      %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
        .p.hard
          - if structure.phone_numbers.any?
            Tél. : #{structure.phone_numbers.map(&:number).join(', ')} /
          E-mail : #{structure.admin.email}

  %tr{ class: (participation_request.from_personal_website? ? 'table-row-alternate-color' : ''), valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
      .p.hard
        - if participation_request.from_personal_website?
          %strong Professeur
        - else
          %strong Profil
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
      .p.hard
        = link_to structure_url(participation_request.structure, subdomain: 'www'), target: '_blank' do
          = participation_request.structure.name
        - if participation_request.accepted? and participation_request.structure.phone_numbers.any?
          = "(#{participation_request.structure.phone_numbers.map(&:number).join(', ')})"
  %tr{ class: (participation_request.from_personal_website? ? '' : 'table-row-alternate-color'), valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
      .p.hard
        %strong Inscription
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
      .p.hard
        = participation_request_decorator.details
  %tr{ class: (participation_request.from_personal_website? ? 'table-row-alternate-color' : ''), valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
      .p.hard
        %strong Cours
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
      .p.hard
        = participation_request.course.name
  %tr{ class: (participation_request.from_personal_website? ? '' : 'table-row-alternate-color'), valign: 'top' }
    %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
      .p.hard
        %strong Jour et heure
    %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
      .p.hard= participation_request_decorator.day_and_hour.capitalize
  - if place
    %tr{ class: (participation_request.from_personal_website? ? 'table-row-alternate-color' : ''), valign: 'top' }
      %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
        .p.hard
          %strong Lieu
      %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
        .p.hard
          - if participation_request.at_student_home? or participation_request.course.is_private?
            À domicile
          - else
            = link_to URI.encode("https://maps.google.com/?q=#{place.address}") do
              = place.address
            = "(#{place.try(:name)})"
    - if !participation_request.at_student_home?
      - if show_access and (place.info.present? or place.private_info.present?)
        %tr{ class: (participation_request.from_personal_website? ? '' : 'table-row-alternate-color'), valign: 'top' }
          %td.v-top.content-block{ width: '35%', style: 'padding: 8px 4px;'}
            .p.hard
              %strong Accès
          %td.v-top.content-block{ width: '65%', style: 'padding: 8px 4px;'}
            .p.hard
              - if place.info.present?
                = place.info
              - if place.info.present? and place.private_info.present?
                %br
              - if place.private_info.present?
                = place.private_info
