%table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600'}
  %tr{valign: 'top'}
    %td.cell.content-block{width: '600', colspan: '4', style: 'padding-bottom: 0'}
      %h4 Avantages du profil gratuit
  %tr{valign: 'top'}
    %td.v-middle.cell.content-block.push--bottom{width: '50'}
      = image_tag 'emails_logo/search_position.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '50'
    %td.v-middle.cell.content-block.push--bottom{width: '250', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Référencement Internet optimisé grâce à vos avis
    %td.v-middle.cell.content-block.push--bottom{width: '50'}
      = image_tag 'emails_logo/sync.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '50'
    %td.v-middle.cell.content-block.push--bottom{width: '250', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Mise en relation gratuite avec les élèves CoursAvenue

  %tr{valign: 'top'}
    %td.v-middle.cell.content-block.push--bottom{width: '50'}
      = image_tag 'emails_logo/book.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '50'
    %td.v-middle.cell.content-block.push--bottom{width: '250', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        = link_to "Livre d'Or", pro_pages_widget_url(subdomain: 'pro')
        sur votre propre site Internet
    %td.v-middle.cell.content-block.push--bottom{width: '50'}
      = image_tag 'emails_logo/door.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '50'
    %td.v-middle.cell.content-block.push--bottom{width: '250', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        = link_to 'Participation à nos Portes Ouvertes', pro_pages_jpo_url(subdomain: 'pro')
