%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
  %tr{ valign: 'top' }
    %td.content-block{ width: '600', colspan: '4' }
      .title Avantages du profil gratuit
  %tr{ valign: 'top' }
    %td.soft-half.v-middle.content-block{ width: '50' }
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/search_position.png', alt: 'CoursAvenue', height: '50', style: 'width: 50px; height: 50px;', width: '50'
    %td.v-middle.content-block{ width: '250', style: 'padding-right: 0; padding-left: 0;' }
      .p.hard--bottom
        Référencement Internet optimisé grâce à vos avis
    %td.soft-half.v-middle.content-block{ width: '50' }
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/sync.png', alt: 'CoursAvenue', height: '50', style: 'width: 50px; height: 50px;', width: '50'
    %td.v-middle.content-block{ width: '250', style: 'padding-right: 0; padding-left: 0;' }
      .p.hard--bottom
        Mise en relation gratuite avec les élèves CoursAvenue

  %tr{ valign: 'top' }
    %td.soft-half.v-middle.content-block{ width: '50' }
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/book.png', alt: 'CoursAvenue', height: '50', style: 'width: 50px; height: 50px;', width: '50'
    %td.v-middle.content-block{ width: '250', style: 'padding-right: 0; padding-left: 0;' }
      .p.hard--bottom
        = link_to "Livre d'Or", pro_pages_widget_url(subdomain: 'pro')
        sur votre propre site Internet
    %td.soft-half.v-middle.content-block{ width: '50' }
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/door.png', alt: 'CoursAvenue', height: '50', style: 'width: 50px; height: 50px;', width: '50'
    %td.v-middle.content-block{ width: '250', style: 'padding-right: 0; padding-left: 0;' }
      .p.hard--bottom
        = link_to 'Participation à nos Portes Ouvertes', pro_pages_jpo_url(subdomain: 'pro')
