%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
  %tr{ valign: 'top' }
    %td.content-block{ width: '600', colspan: '4' }
      .title Profils similaires complets
  - @structures.in_groups_of(2, false) do |structure_group|
    %tr{valign: 'top'}
      - structure_group.each do |structure|
        %td.soft-half--ends.v-middle.content-block{ width: 80 }
          = link_to structure_url(structure, subdomain: 'www') do
            = image_tag structure.logo.url(:thumb), width: 80, height: 80
        %td.v-middle.content-block.soft-half--sides{ width: '250' }
          .p.hard--bottom
            %strong= link_to truncate(structure.name, length: 25), structure_url(structure, subdomain: 'www'), class: 'muted-link'
            %br
            = structure.city.try(:name)
            %br
            %i= truncate(join_parent_subjects_text(structure), length: 100)
