- show_consultation = false if show_consultation.nil?
%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.v-middle.content-block{ colspan: 4 }
      .title Ils sont passés au Premium
  %tr{ valign: 'top' }
    - @similar_profiles.each do |similar_profile|
      %td.v-top.content-block{ width: 80 }
        = link_to structure_url(similar_profile, subdomain: 'www'), class: 'muted-link block' do
          = image_tag similar_profile.logo.url(:thumb), width: 80, height: 80, alt: "Logo #{similar_profile.name}", class: 'bordered'
        %div.yellow.text--center{ style: 'padding-top: 2px;' }
          = image_tag 'icons/icon-star-full--yellow.png', height: 15, widht: 15, class: 'v-top', style: 'padding-right: 2px;'
          %span.v-top Premium
      %td.v-top.content-block{ width: 220 }
        .p.soft-half--left.hard--bottom
          %strong
            = link_to truncate(similar_profile.name, length: 23), structure_url(similar_profile, subdomain: 'www'), class: 'muted-link'
          %br
          = similar_profile.city.name
          %br
          = truncate(join_parent_subjects_text(similar_profile), length: 100)
          - if show_consultation
            %br
            - if (view_count * 1.3) > similar_profile.view_count(30)
              %i.green
                = (view_count * [2, 2.5, 3, 3.5, 4, 4.5].sample).ceil + (1..10).to_a.sample
                consultations
            - else
              %i.green= "#{similar_profile.view_count(30)} consultations"
  - unless @structure.premium?
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ colspan: 4 }
        .p.hard--bottom.soft--top.text--center
          = link_to 'Devenez Premium et augmentez les performances de votre profil', pro_structure_subscription_plans_url(@structure, subdomain: 'pro')
