- content_for :email_logo do
  = image_tag 'http://coursavenue-public.s3.amazonaws.com/logo.png', height: '50', style: 'height: 50px; width: 250px;', width: '250', alt: 'Logo CoursAvenue'

- content_for :email_title do
  Ateliers peinture & dessin à -20%, théâtre, workshops photo,
  = link_to 'à Paris et plus encore !', 'https://www.coursavenue.com/etablissements?utf8=%E2%9C%93&subject_id=&address_name=Paris&lat=48.8592&lng=2.3417&page=1&course_types[]=training&start_date=05%2F07%2F2014&end_date=31%2F08%2F2014'

- content_for :under_content_no_box do
  %table.promo-table{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr
      %td.content-block
        = link_to 'https://www.coursavenue.com/etablissements?utf8=%E2%9C%93&subject_id=&address_name=Paris&lat=48.8592&lng=2.3417&page=1&course_types[]=training&start_date=05%2F07%2F2014&end_date=31%2F08%2F2014', class: 'muted-link block' do
          = image_tag 'http://coursavenue-public.s3.amazonaws.com/email_headers/commercial_header.jpg', alt: "Stages d'été. Du soleil dans vos loisirs. Voir tous les stages d'été à Paris.", width: 600, height: 207

- content_for :under_content_no_box_2 do
  %table.under-content{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', style: 'margin: auto;' }
    %tr
      %td.soft.content-block{ width: 600 }
        .p.hard--bottom
          Slam, écriture, peinture libre, couture, jeu face caméra, improvisation, musique actuelle, danse orientale... Cet été, plus de 100 stages sont ouverts dans tout Paris, pour adultes et enfants, à partir de 30€. Votre curiosité vous guidera peut-être vers de nouvelles passions !


- content_for :under_content_no_box_3 do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ colspan: 2 }
        .text--center.delta.soft--bottom
          %strong Bons plans
    %tr{ valign: 'top' }
      %td.v-middle.content-block.soft-half.soft--left{ width: 300 }
        = link_to 'https://www.coursavenue.com/etablissements/method-acting-center/#tab-trainings', class: 'muted-link p' do
          = image_tag 'http://coursavenue-public.s3.amazonaws.com/images/4juillet2014/method-acting-bandeau.jpg', width: '100%', height: 180, alt: '100€ offert par Method Acting Center '
        = link_to 'https://www.coursavenue.com/etablissements/method-acting-center/#tab-trainings', class: 'muted-link p' do
          %strong Théâtre
          %br
          Method Acting Center
          %br
          1 stage : 7-11 juillet
      %td.v-middle.content-block.soft-half.soft--right{ width: 300 }
        = link_to 'https://www.coursavenue.com/etablissements/atelier-dantzig/#tab-trainings', class: 'muted-link p' do
          = image_tag 'http://coursavenue-public.s3.amazonaws.com/images/4juillet2014/atelier-dantzig-bandeau.jpg', width: '100%', height: 180, alt: "-20% sur les stages de l'Atelier Dantzig"
        = link_to 'https://www.coursavenue.com/etablissements/atelier-dantzig/#tab-trainings', class: 'muted-link p' do
          %strong Dessin & Peinture
          %br
          Atelier Dantzig
          %br
          1 stage : 7-11 juillet
    %tr{ valign: 'top' }
      %td.v-middle.content-block.soft-half.soft--left{ width: 300 }
        = link_to 'https://www.coursavenue.com/etablissements/collectif-d-un-atelier-a-l-autre/#tab-trainings', class: 'muted-link p' do
          = image_tag 'http://coursavenue-public.s3.amazonaws.com/images/4juillet2014/collectif-bandeau.jpg', width: '100%', height: 180, alt: "Cours d'essai gratuit chez Collectif d'un atelier à l'autre"
        = link_to 'https://www.coursavenue.com/etablissements/collectif-d-un-atelier-a-l-autre/#tab-trainings', class: 'muted-link p' do
          %strong Dessin, Peinture & Photo
          %br
          Collectif d'un atelier à l'autre
          %br
          8 stages : 5 juillet-1er août
      %td.v-middle.content-block.soft-half.soft--right{ width: 300 }
        = link_to 'https://www.coursavenue.com/etablissements/ecole-de-theatre-bonacorsi/#tab-courses', class: 'muted-link p' do
          = image_tag 'http://coursavenue-public.s3.amazonaws.com/images/4juillet2014/bonacorsi-bandeau.jpg', width: '100%', height: 180, alt: "Cours d'essai gratuit chez l'école de théâtre Bonacorsi"
        = link_to 'https://www.coursavenue.com/etablissements/ecole-de-theatre-bonacorsi/#tab-courses', class: 'muted-link p' do
          %strong Théâtre
          %br
          Ecole de théâtre Bonacorsi
          %br
          Cours réguliers

- content_for :under_content_no_box_4 do
  %hr
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ colspan: 2 }
        .text--center.delta.soft--ends
          %strong Autres suggestions
    %tr{ valign: 'top' }

- content_for :footer do
  = link_to 'Se désabonner', '[[UNSUB_LINK_FR]]'
