- content_for :email_title do
  Préparez votre rentrée : 22€ par mois jusqu'à fin décembre.

- content_for :under_content_no_box do
  %table.promo-table{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr
      %td.content-block
        = link_to pro_pages_july_offer_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'block' do
          = image_tag 'emails_logo/premium/commercial_header_50percents_last_day.jpg', alt: "Profitez de l'été et faites des économies le reste de l'année", width: 600, height: 189, class: 'block'

- content_for :under_content do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ width: 450 }
        .p Pour vous remercier de faire partie de nos premiers partenaires, nous vous proposons de bénéficier d'une offre exclusive :
        .p
          %strong
            Passez au profil Premium maintenant et profitez du tarif spécial de 22€/mois au lieu de 44€ jusqu'à fin décembre.
            Valable jusqu'à ce soir minuit avec le code SPECIALETE.
        .p Avec votre compte Premium vous mettrez ainsi toutes les chances de votre côté pour réussir votre rentrée :
      %td.text--center.v-middle.content-block.text--center{ width: 150 }
        = image_tag 'emails_logo/premium/50percents_til_midnight.png', height: 100, width: 100, alt: "-50% pendant jusqu'à fin décembre"
    %tr{ valign: 'top' }
      %td.content-block{ colspan: 2 }
        .action
          = link_to "J'en profite", pro_pages_july_offer_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green', style: 'padding-left: 30px; padding-right: 30px;'

- content_for :under_content_gray do
  = render 'admin_mailer/premium/premium_advantages'
