- content_for :email_title do
  #{@comment.author_name} vient de déposer un avis sur votre profil public CoursAvenue.

.p Bonjour #{@structure.name},

.p
  Félicitations !
  %strong= @comment.author_name
  = "(#{@comment.user.email})"
  vient de déposer son avis sur votre Livre d'Or CoursAvenue, visible également sur votre profil public :


.gray-box.soft-half.last-div-hard
  .title= @comment.title
  = simple_format(@comment.content).gsub('<p>', '<div class="p">').gsub('</p>', '</div>').html_safe

.p.action.soft--top
  = link_to "Répondre à l'élève", pro_structure_comments_url(@structure, subdomain: 'pro', comment: @comment.id), class: 'btn btn--green'

= render 'shared/mailers/footer'


- if @comment.associated_message
  = content_for :under_content_gray do
    - @comment.associated_message
    - @user    = @comment.associated_message.sender
    - @message = @comment.associated_message

    .title
      Message laissé avec l'avis :
    - if @message.subject.present?
      .p
        %strong
          Objet :
          = @message.subject
    .p
      = @message.body
