%p Bonjour #{@structure.name},

%p
  %strong= @comment.author_name
  = "(#{@comment.email})"
  vient de déposer un avis sur votre profil public CoursAvenue. Si c'est un de vos élèves, validez-le pour le voir.

%p.action
  = link_to "Voir l'avis de #{@comment.author_name}", pro_structure_comments_url(@structure, subdomain: 'pro'), class: 'btn btn--green'

%p À très bientôt,

%p L'équipe de CoursAvenue

- if @structure.parisian?
  = content_for :under_content do
    = render 'user_mailer/discover_jpo'
