- content_for :email_title do
  #{@comment.author_name} vient de déposer un avis sur votre profil public CoursAvenue.

.p Bonjour #{@structure.name},

.p
  %strong= @comment.author_name
  = "(#{@comment.email})"
  vient de déposer un avis sur votre profil public CoursAvenue. Si c'est un de vos élèves, validez-le pour le voir.

.p.action
  = link_to "Valider l'avis de #{@comment.author_name}", pro_structure_comments_url(@structure, subdomain: 'pro'), class: 'btn btn--green'

= render 'shared/mailers/footer'

- if @comment.associated_message
  = content_for :under_content_gray do
    - @comment.associated_message
    - @user    = @comment.associated_message.sender
    - @message = @comment.associated_message

    .title
      Message laissé avec l'avis :
    - if @message.subject.present?
      .p
        %strong
          Objet :
          = @message.subject
    .p
      = @message.body

    .p.action
      = link_to "Répondre au message", pro_structure_conversation_url(@structure, @message.conversation, subdomain: 'pro'), class: 'btn btn--green'
