- content_for :email_title do
  Votre profil est visible sur CoursAvenue mais n'apparaît pas en tête des résultats de recherche.

.p
  Votre profil est visible sur CoursAvenue mais n'apparaît pas en tête des résultats de recherche.
.p
  Complétez-le pour remonter dans le classement et multiplier par 7 votre visibilité :

.p.action
  = link_to "Compléter mon profil", edit_pro_structure_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN, utm_source: 'email', utm_campaign: 'complete_profile', utm_medium: 'monday'), class: 'btn btn--green'
= render 'shared/mailers/footer'

- content_for :under_content do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.content-block{ colspan: 2 }
        .title Votre profil complet en quelques minutes :
    %tr{ valign: 'top' }
      %td.text--center{ width: '100' }
        = image_tag @structure.logo.url(:thumb), alt: "Logo #{@structure.name}", height: '100', width: '100'
      %td.content-block.soft--left
        %ul
          - if !@structure.logo.present?
            %li Compléter mes informations générales et ajouter un logo
          - if @structure.comments.empty?
            %li Demander des recommandations à mes élèves
          - if @structure.courses.empty?
            %li Renseigner mes cours et mon planning
          - if @structure.medias.empty?
            %li Mettre en ligne mes photos et vidéos

- content_for :under_content_2 do
  - @similar_profiles = @structure.similar_profiles(2)
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.content-block{ colspan: 2 }
        .title Ils ont complété leur profil
    %tr{ valign: 'top' }
      - @similar_profiles.each do |similar_profile|
        %td{ width: '300' }
          %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
            %tr{ valign: 'top' }
              %td.content-block{ width: 80 }
                = link_to structure_url(similar_profile, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'muted-link block' do
                  = image_tag similar_profile.logo.url(:thumb), width: 80, height: 80
              %td.content-block{ width: 220 }
                .p.soft-half--sides
                  %strong= link_to similar_profile.name, structure_url(similar_profile, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'muted-link'
                  %br
                  = similar_profile.address
                  %br
                  = truncate(join_parent_subjects_text(similar_profile), lenght: 100)
                  %br
                  %span.green= pluralize similar_profile.view_count, 'Visite'
