- content_for :logo do
  = image_tag 'emails_logo/clock.png', style: 'width: 125px; height: 125px;', class: 'block'

- content_for :promo do
  %h4 Remplissez votre profil en 3min : c'est un jeu d'enfant !

%p
  Saviez-vous que vous pouvez mettre à jour votre profil en quelques clics seulement ? Mettez votre description et votre planning à jour et le tour est joué !

%p.action
  = link_to "Compléter mon profil", edit_pro_structure_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN, utm_source: 'email', utm_campaign: 'complete_profile', utm_medium: 'monday'), class: 'btn btn--green'

%p.blue.blue-tip
  %i Trucs & astuces : en priorité, mettez à jour votre description et invitez vos élèves à vous recommander.

- content_for :under_content do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0' }
    %tr{ valign: 'top' }
      %td.content-block{ width: '50%' }
        %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
          %tr{ valign: 'top' }
            %td.soft-half--top.text--center{ width: '100%' }
              = image_tag 'emails_logo/x7.png', alt: 'CoursAvenue', height: '80', width: '80', style: 'width: 80px; height: 80px;'
          %tr{ valign: 'top' }
            %td.content-block.push--bottom{ width: '100%', style: 'padding-right: 0; padding-left: 0;' }
              %p.text--center.soft-half--top
                Les profils complétés ont
                %br
                7 fois plus de visites

      %td.content-block{ width: '50%' }
        %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
          %tr{ valign: 'top' }
            %td.soft-half--top.text--center{ width: '100%' }
              = image_tag 'emails_logo/eye.png', alt: 'CoursAvenue', height: '80', width: '80', style: 'width: 80px; height: 80px;'
          %tr{ valign: 'top' }
            %td.content-block.push--bottom{ width: '100%', style: 'padding-right: 0; padding-left: 0;' }
              %p.text--center.soft-half--top
                Les Internautes recherchent en priorité les recommandations des élèves

- content_for :under_content_2 do
  = render 'admin_mailer/recommandations_advantages'

- content_for :under_content_3 do
  = render 'admin_mailer/white_book'

- content_for :footer do
  %p= link_to 'Gérer mes préférences e-mails', notifications_pro_structure_admin_url(@structure, @structure.main_contact, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)
