%p
  Bonjour #{@structure.name},
%p
  Félicitations ! Nous avons le plaisir de vous informer que, suite à votre parrainage, #{@invited_email} a créé son profil CoursAvenue. Pensez à tous les professeurs (toutes disciplines confondues) qui vous entourent et multipliez vos parrainages :
-#  chaque fois qu'une structure parrainée s'inscrit sur CoursAvenue, nous augmentons votre capacité de stockage de photos à mettre en avant sur votre profil public.

%p.action
  = link_to "Parrainer d'autres professeurs", coursavenue_recommendations_pro_structure_path(@structure, subdomain: 'pro'), class: 'btn btn--blue'

%p N'hésitez pas à nous solliciter si vous avez des questions ! Merci et à très bientôt,

%p
  L'équipe de CoursAvenue

- content_for :under_content do
  = render 'footer_info'

- content_for :footer do
  %p= link_to 'Gérer mes préférences e-mails', edit_pro_admin_url(@structure.main_contact, subdomain: 'pro')
