- content_for :logo do
  = image_tag 'emails_logo/bouche.jpg', style: '-ms-interpolation-mode:bicubic;', width: '100', height: '100'

- content_for :promo do
  %h4 Vous avez moins de 15 recommandations : dépassez ce chiffre et faites partie des 10% des profils les plus visibles

%p
  Obtenez plus de 15 avis et faites partie des 10% de nos Partenaires qui apparaissent dans les 1er résultats de notre moteur de recherche CoursAvenue :

%p.action
  = link_to "Obtenir plus de 15 recommandations", recommendations_pro_structure_url(@structure, subdomain: 'pro'), class: 'btn btn--green', utm_source: 'email', utm_campaign: 'get_more_recommendations', utm_medium: 'monday_less_15'

%p.blue.blue-tip
  %i Trucs & astuces : au-delà de 15 recommandations, nous vous envoyons un autocollant "Recommandé sur CoursAvenue" à afficher sur vos lieux de cours.

- content_for :under_content do
  %table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600'}
    %tr{valign: 'top'}
      %td.content-block{width: '300'}
        %table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '300'}
          %tr{valign: 'top'}
            %td.soft-half--top.text--center{width: '300'}
              = image_tag 'emails_logo/x7.png', alt: 'CoursAvenue', height: '80', width: '80', style: '-ms-interpolation-mode:bicubic;'
          %tr{valign: 'top'}
            %td.content-block.push--bottom{width: '300', style: 'padding-right: 0; padding-left: 0;'}
              %p.text--center.soft-half--top
                Les profils affichant plus de 5 recommandations ont 7 fois plus de visites

      %td.content-block{width: '300'}
        %table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '300'}
          %tr{valign: 'top'}
            %td.soft-half--top.text--center{width: '300'}
              = image_tag 'emails_logo/eye.png', alt: 'CoursAvenue', height: '80', width: '80', style: '-ms-interpolation-mode:bicubic;'
          %tr{valign: 'top'}
            %td.content-block.push--bottom{width: '300', style: 'padding-right: 0; padding-left: 0;'}
              %p.text--center.soft-half--top
                Depuis votre profil, vous gardez un droit de contrôle sur tous vos avis


- content_for :under_content_2 do
  = render 'admin_mailer/recommandations_advantages'

- content_for :under_content_3 do
  = render 'admin_mailer/white_book'

- content_for :footer do
  %p= link_to 'Gérer mes préférences e-mails', notifications_pro_structure_admin_url(@structure, @structure.main_contact, subdomain: 'pro')
