- content_for :promo do
  %h4 Votre profil public comporte moins de 5 recommandations d'élèves.

%p
  Bonjour #{@structure.name},

%p
  %strong Demandez à plus d'élèves de vous recommander,
  ou relancez-les pour qu'ils témoignent de leur expérience :

%p.action
  = link_to "Obtenir des recommandations", recommendations_pro_structure_url(@structure, subdomain: 'pro'), class: 'btn btn--blue'

%p
  Au-delà de 5 recommandations, nous vous offrons la possibilité d'afficher publiquement votre livre d'or avec tous les avis de vos élèves sur votre propre site Internet ou blog, ou tout autre outil de communication (flyers, cartes de visite, affiches, signature de vos emails, etc). Nos partenaires qui affichent publiquement les témoignages de leurs élèves sont ceux qui ont le plus fort taux d'inscription et de fidélisation.

%p
  N'hésitez pas à nous solliciter si vous avez des questions ! Merci et à très bientôt,
%p
  L'équipe de CoursAvenue

- content_for :under_content do
  = render 'footer_info'
  - if @structures.length == 3
    %table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600', style: 'border-top: 1px solid: #CCC;'}
      %tr{valign: 'top'}
        %td.cell.content-block.push--bottom{width: '600', colspan: 3}
          %b Profils similaires autour de vous
      %tr{valign: 'top'}
        - @structures.each do |structure|
          %td.cell.content-block.push--bottom{width: '200'}
            %p.text--center
              = link_to structure_url(structure, subdomain: 'www'), class: 'push-half--bottom' do
                = image_tag structure.logo.url(:thumb), width: 100, style: 'width: 100px;'
              %br
              %b= link_to structure.name, structure_url(structure, subdomain: 'www'), class: 'push-half--bottom'
              %br
              = "#{structure.comments_count} avis"


- content_for :footer do
  %p= link_to 'Gérer mes préférences e-mails', notifications_pro_structure_admin_path(@structure, @structure.main_contact, subdomain: 'pro')
