- content_for :logo do
  = image_tag 'emails_logo/oreille.jpg', style: 'width: 100px; height: 100px;', width: '100', height: '100'

- content_for :promo do
  %h4 Votre profil comporte moins de 5 avis : demandez à vos élèves de vous recommander et augmentez votre visibilité sur Internet

%p
  Saviez-vous que vous pouvez inviter vos élèves à vous recommander en quelques clics seulement ? Connectez-vous à votre profil, puis cliquez sur le bouton bleu "Obtenir des avis" et utilisez notre outil d'envoi simplifié pour un meilleur résultat :

%p.action
  = link_to "Obtenir des recommandations", recommendations_pro_structure_url(@structure, subdomain: 'pro', utm_source: 'email', utm_campaign: 'get_more_recommendations', utm_medium: 'monday_less_5'), class: 'btn btn--green'

%p.blue.blue-tip
  %i
    Trucs & astuces : au-delà de 5 recommandations, nous vous offrons votre
    = link_to "Livre d'Or", pro_pages_widget_url(subdomain: 'pro')
    à afficher sur votre propre site Internet.


- content_for :under_content do
  %table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600'}
    %tr{valign: 'top'}
      %td.content-block{width: '300'}
        %table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '300'}
          %tr{valign: 'top'}
            %td.soft-half--top.text--center{width: '300'}
              = image_tag 'emails_logo/x7.png', alt: 'CoursAvenue', height: '80', width: '80', style: 'width: 80px; height: 80px;'
          %tr{valign: 'top'}
            %td.content-block.push--bottom{width: '300', style: 'padding-right: 0; padding-left: 0;'}
              %p.text--center.soft-half--top
                Les profils affichant plus de 5 recommandations ont 7 fois plus de visites

      %td.content-block{width: '300'}
        %table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '300'}
          %tr{valign: 'top'}
            %td.soft-half--top.text--center{width: '300'}
              = image_tag 'emails_logo/eye.png', alt: 'CoursAvenue', height: '80', width: '80', style: 'width: 80px; height: 80px;'
          %tr{valign: 'top'}
            %td.content-block.push--bottom{width: '300', style: 'padding-right: 0; padding-left: 0;'}
              %p.text--center.soft-half--top
                Depuis votre profil, vous gardez un droit de contrôle sur tous vos avis


- content_for :under_content_2 do
  = render 'admin_mailer/recommandations_advantages'

- content_for :under_content_3 do
  = render 'admin_mailer/white_book'

- content_for :footer do
  %p= link_to 'Gérer mes préférences e-mails', notifications_pro_structure_admin_url(@structure, @structure.main_contact, subdomain: 'pro')
