- content_for :email_logo do
  = image_tag 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/logo_jpo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :logo do
  = image_tag 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/logo_j_moins_10.png', style: 'width: 125px; height: 125px;', class: 'block'


- content_for :promo do
  %h4
    Êtes-vous à Paris le week-end de la semaine prochaine ? Réservez vite votre cours gratuit, les places sont limitées !

%p
  Le week-end des 5 et 6 avril, partez à la rencontre des 200 professeurs, associations ou écoles proposant tous types de cours de loisirs : aquazumba, cuisine bio, baby karaté, gym séniors, dessin, yoga, ateliers parents-enfants... C'est l'occasion unique de découvrir ou re-découvrir toutes vos passions :

%p.action
  = link_to "Choisir et réserver mon cours gratuit", open_courses_url(subdomain: 'www'), class: 'btn btn--green'

%p.blue.blue-tip
  %i Trucs & astuces : pour être sûr de pouvoir participer à l'événement, réservez votre place sans tarder et invitez vos proches à venir avec vous.

- content_for :under_content do
  %table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600', style: 'width: 600px;'}
    %tr.v-top{valign: 'top'}
      %td.soft-half.content-block{width: '600', colspan: '2', style: 'padding-bottom: 0'}
        %h4.flush Nos suggestions
    %tr.v-top{valign: 'top'}
      %td.v-middle.cell.content-block.hard--ends{width: '300', style: 'width: 300px;'}
        = link_to open_courses_url(name: 'yoga', subdomain: 'www'), class: 'block' do
          = image_tag 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/mailjet/yoga.jpg', alt: 'CoursAvenue', height: '157', width: '298', style: 'padding-right: 2px;'
      %td.v-middle.cell.content-block.hard--ends{width: '300', style: 'width: 300px;', rowspan: '2'}
        = link_to open_courses_url(name: 'arts martiaux', subdomain: 'www'), class: 'block' do
          = image_tag 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/mailjet/arts_martiaux.jpg', alt: 'CoursAvenue', height: '314', width: '298', style: 'padding-left: 2px;'
    %tr.v-top{valign: 'top'}
      %td.v-middle.cell.content-block.hard--ends{width: '300', style: 'width: 300px;'}
        = link_to open_courses_url(name: 'zumba', subdomain: 'www'), class: 'block' do
          = image_tag 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/mailjet/zumba.jpg', alt: 'CoursAvenue', height: '157', width: '298', style: 'padding-right: 2px; padding-top: 4px;'

- content_for :under_content_2 do
  %table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600', style: 'width: 600px;'}
    %tr.v-top{valign: 'top'}
      %td.soft-half.content-block{width: '600', colspan: '2', style: 'padding-bottom: 0'}
        %h4.flush Portes Ouvertes des cours de loisirs
    %tr.v-top{valign: 'top'}
      %td.soft-half.v-middle.cell.content-block.hard--ends{width: '50'}
        = image_tag 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/eye.png', alt: 'CoursAvenue', height: '50', width: '50', style: 'width: 50px; height: 50px;'
      %td.v-middle.cell.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
        %p.flush--bottom.soft-half--right
          Plus de 5 000 cours de loisirs gratuits, 200 lieux, 100 disciplines pour tous dès 4 ans
    %tr.v-top{valign: 'top'}
      %td.soft-half.v-middle.cell.content-block.hard--ends{width: '50'}
        = image_tag 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/enveloppe.png', alt: 'CoursAvenue', height: '50', width: '50', style: 'width: 50px; height: 50px;'
      %td.v-middle.cell.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
        %p.flush--bottom.soft-half--right
          Réservez votre place directement en ligne sur le moteur de recherche géolocalisé CoursAvenue.com
    %tr.v-top{valign: 'top'}
      %td.soft-half.v-middle.cell.content-block.hard--ends{width: '50'}
        = image_tag 'https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/people.png', alt: 'CoursAvenue', height: '50', width: '50', style: 'width: 50px; height: 50px;'
      %td.v-middle.cell.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
        %p.flush--bottom.soft-half--right
          Une fois inscrit, invitez rapidement vos proches à participer à l'événement avec vous : les places sont limitées !

- content_for :footer do
  = link_to 'Me retirer de la liste.', '[[UNSUB_LINK_FR]]'
