- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: '-ms-interpolation-mode:bicubic;'

- content_for :header_links do
  = link_to 'Connexion', dashboard_pro_structure_url(@structure, subdomain: 'pro')
  \|
  = link_to 'Aide', pro_pages_questions_url(subdomain: 'pro')
  \|
  = link_to 'Portes Ouvertes', pro_structure_course_opens_url(@structure, subdomain: 'pro')

- content_for :promo do
  %h4.flush
    Profitez de vos Portes Ouvertes pour attirer de nombreux nouveaux élèves grâce à 6 actions concrètes que nous vous proposons

-# = image_tag 'emails_logo/team_bw.jpg', style: '-ms-interpolation-mode:bicubic;', width: '419', height: '200', class: 'float--left push-half--right'

%p
  Bonjour !

%p
  Nous sommes à 2 semaines de vos Portes Ouvertes. Nos campagnes de communication pour promouvoir cet évènement sont lancées : communiqués de presse, pose de 1 000 affiches dans les commerces, distribution de 20 000 flyers, campagnes de publicité sur Facebook, emailing, etc.

%p
  Mais le succès de cette belle opération repose également sur vous ! Voici des actions simples que vous pouvez mettre en place dès maintenant :

%p
  %strong Annoncez vos Portes Ouvertes dans votre newsletter.
  Si vous n'avez pas de newsletter, envoyez un simple message à vos élèves et proposez-leur d'inviter leurs amis : ce sont vos meilleurs ambassadeurs !

%p.action
  = link_to "Newsletter et message à mes élèves", communicate_pro_structure_course_opens_url(@structure, subdomain: 'pro'), class: 'btn btn--yellow', utm_source: 'email', utm_campaign: 'communicate_jpo', utm_medium: 'monday'

%p
  %strong Affichez vos Portes Ouvertes sur votre site Internet.
  Nous avons même conçu un visuel à afficher facilement sur votre site.

%p.action
  = link_to "Bannière sur mon site Internet", communicate_pro_structure_course_opens_url(@structure, subdomain: 'pro'), class: 'btn btn--yellow', utm_source: 'email', utm_campaign: 'communicate_jpo', utm_medium: 'monday'

%p
  %storng Affichez vos Portes Ouvertes sur vos lieux.
  Nous avons imprimé et personnalisé des affiches spécialement pour vous : vous les recevrez aujourd'hui ou dans les prochains jours.

%p
  Connectez-vous pour visualiser les 6 actions à activer dès maintenant directement sur votre profil :

%p.action
  = link_to "Visualiser toutes mes actions de communication", communicate_pro_structure_course_opens_url(@structure, subdomain: 'pro'), class: 'btn btn--green', utm_source: 'email', utm_campaign: 'communicate_jpo', utm_medium: 'monday'

%p.blue.blue-tip
  %i Important : pour éviter tout risque de surbooking de vos ateliers, toutes les inscriptions aux Portes Ouvertes doivent se faire directement sur le site CoursAvenue.com et ne peuvent pas passer par vous directement.
