- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 89px; height: 300px;'

- content_for :logo do
  = image_tag 'jpo_2014/logo_j_moins_5.png', style: 'width: 125px; height: 125px;', class: 'block'

- content_for :header_links do
  = link_to 'Connexion', dashboard_pro_structure_url(@structure, subdomain: 'pro')
  %span.gray-light &#124;
  = link_to 'Aide', pro_pages_questions_url(subdomain: 'pro')
  %span.gray-light &#124;
  = link_to 'Portes Ouvertes', pro_structure_course_opens_url(@structure, subdomain: 'pro')

- content_for :promo do
  .title.flush
    Plus que 5 jours avant vos Portes Ouvertes : profitez de cette dernière semaine pour recruter encore plus d'élèves

= image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/nico-round.png', style: 'width: 75px; height: 75px;', width: '75', height: '75', class: 'float--left', style: 'margin-right: 5px;'
= image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/nima-round.png', style: 'width: 75px; height: 75px;', width: '75', height: '75', class: 'push-half--right float--left'
.p
  %strong Le mot des fondateurs Nicolas & Nima :
.p
  %i Bonjour ! Nous sommes à 5 jours de vos Portes Ouvertes : c’est la dernière ligne droite pour communiquer sur ce bel événement et remplir au maximum vos ateliers. Nous continuons nos campagnes de distribution de flyers, et des articles de presse vont sans doute paraître. Pour vous, c’est l’occasion de rappeler à vos élèves qu’ils peuvent inviter leurs proches, et d’annoncer le nombre de places restantes sur votre site et dans votre newsletter. Voici où nous nous situons et vos actions simples :

= image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/jpo_progress_bar_phase_3.png', style: 'width: 570px; height: 56px;', width: '570', height: '56', class: 'block push--bottom'

.p
  %strong - Annoncez vos Portes Ouvertes dans votre newsletter en précisant dans l’objet "J-5"&nbsp;:
  si vous n'avez pas de newsletter, envoyez un simple message à vos élèves et proposez-leur d'inviter leurs amis, ce sont vos meilleurs ambassadeurs !

.p.action
  = link_to "Newsletter et message à mes élèves", communicate_pro_structure_course_opens_url(@structure, subdomain: 'pro', utm_source: 'email', utm_campaign: 'communicate_jpo', utm_medium: 'newsletter'), class: 'btn btn--yellow'

.p
  %strong - Communiquez sur la page d’accueil de votre site Internet, voici un exemple de texte d’accroche efficace :
  « Dernière semaine pour participer à nos ateliers gratuits ce week-end des 5 et 6 avril » (n’oubliez pas de mettre le lien d’inscription CoursAvenue direct à vos ateliers).

.p.action
  = link_to "Bannière sur mon site Internet", widget_jpo_pro_structure_url(@structure, subdomain: 'pro', utm_source: 'email', utm_campaign: 'communicate_jpo', utm_medium: 'widget'), class: 'btn btn--yellow'

.p
  %strong - Accédez à toutes les actions
  en vous connectant à votre profil :

.p.action
  = link_to "Visualiser toutes mes actions de communication", communicate_pro_structure_course_opens_url(@structure, subdomain: 'pro', utm_source: 'email', utm_campaign: 'communicate_jpo', utm_medium: 'monday'), class: 'btn btn--green'

.p.blue.blue-tip
  %i Important : pour éviter tout risque de surbooking de vos ateliers, toutes les inscriptions aux Portes Ouvertes doivent se faire directement sur le site CoursAvenue.com et ne peuvent pas passer par vous directement.
