- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: '-ms-interpolation-mode:bicubic;'

- content_for :header_links do
  = link_to 'Connexion', dashboard_pro_structure_url(@structure, subdomain: 'pro')
  \|
  = link_to 'Aide', pro_pages_questions_url(subdomain: 'pro')
  \|
  = link_to 'Portes Ouvertes', pro_structure_course_opens_url(@structure, subdomain: 'pro')

- content_for :promo do
  %h4.flush
    Communiquez sur vos Portes Ouvertes comme un beau rendez-vous à ne pas manquer

= image_tag 'emails_logo/nicolas.png', style: '-ms-interpolation-mode:bicubic;', width: '80', height: '80', class: 'float--left push-half--right'

%p
  %strong Le mot de Nicolas*
  %br
  Bonjour ! Nous sommes à 3 semaines de vos Portes Ouvertes. Pour certains Parisiens, il est encore tôt pour réserver, les inscriptions risquent de rester encore faibles cette semaine. Cependant, c’est le bon moment pour commencer à communiquer : annoncez ce beau rendez-vous dans votre newsletter, sur votre site Internet, sur vos panneaux d'affichage, et invitez vos élèves à en parler autour d’eux. De notre côté, nous intensifions nos efforts, nous venons de commencer à déposer 1 000 affiches dans tout Paris. Connectez-vous et accédez à vos outils de communication :

%p.action
  = link_to "Communiquer sur mes Portes Ouvertes", communicate_pro_structure_course_opens_url(@structure, subdomain: 'pro'), class: 'btn btn--yellow', utm_source: 'email', utm_campaign: 'communicate_jpo', utm_medium: 'monday'

%p.blue.blue-tip.flush--bottom
  %i *Co-fondateur sympa.
