- content_for :promo do
  %h4 Ajoutez un logo ou une photo à votre profil

%p
  %strong Voici l'image que véhicule actuellement votre profil CoursAvenue

.text--center
  = image_tag 'logos/missing.png', class: 'center-block', height: 100

%p.action
  = link_to "Ajouter mon logo", edit_pro_structure_url(@structure, subdomain: 'pro', utm_source: 'email', utm_campaign: 'add_logo', utm_medium: 'monday'), class: 'btn btn--green'

%p.blue.blue-tip
  %i Soignez votre première impression en choisissant un logo qui reflète votre activité et en cohérence avec tous vos supports de communication (site Internet, flyers, cartes de visite, etc.).

- content_for :under_content do
  = render 'admin_mailer/visite_100k_visits'

- if @structures.length == 4
  - content_for :under_content_2 do
    = render 'admin_mailer/similare_profiles'

- content_for :under_content_3 do
  = render 'admin_mailer/free_profile_advantages'

- content_for :footer do
  %p= link_to 'Gérer mes préférences e-mails', notifications_pro_structure_admin_url(@structure, @structure.main_contact, subdomain: 'pro')

