- content_for :promo do
  %h4 Vous n'avez pas encore reçu de recommandation de vos élèves.

%p
  Bonjour #{@structure.name},

%p
  Le 1er facteur de réservation d'un cours est le bouche à oreille, c'est pourquoi notre moteur de recherche CoursAvenue met en avant les profils ayant le plus de témoignages d'élèves.

%p
  %strong Apparaissez dans les 1ers résultats grâce aux recommandations de vos élèves :

%p.action
  = link_to "Obtenir des recommandations", recommendations_pro_structure_url(@structure, subdomain: 'pro'), class: 'btn btn--blue'

%p
  N'hésitez pas à nous solliciter si vous avez des questions ! Merci et à très bientôt,
%p
  L'équipe de CoursAvenue

- content_for :under_content do
  = render 'footer_info'
  - if @structures.length == 3
    %table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600', style: 'border-top: 1px solid: #CCC;'}
      %tr{valign: 'top'}
        %td.cell.content-block.push--bottom{width: '600', colspan: 3}
          %b Profils similaires autour de vous
      %tr{valign: 'top'}
        - @structures.each do |structure|
          %td.cell.content-block.push--bottom{width: '200'}
            %p.text--center
              = link_to structure_url(structure, subdomain: 'www'), class: 'push-half--bottom' do
                = image_tag structure.logo.url(:thumb), width: 100, style: 'width: 100px;'
              %br
              %b= link_to structure.name, structure_url(structure, subdomain: 'www'), class: 'push-half--bottom'
              %br
              = "#{structure.comments_count} avis"


- content_for :footer do
  %p= link_to 'Gérer mes préférences e-mails', notifications_pro_structure_admin_path(@structure, @structure.main_contact, subdomain: 'pro')
