- content_for :email_title do
  Votre profil CoursAvenue n'affiche aucun cours : renseignez votre planning en quelques minutes.

- content_for :logo do
  = link_to structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: '_blank' do
    = image_tag @structure.logo.url(:thumb), class: 'block', height: 100, width: 100, alt: "Logo de #{@structure.name}"
- content_for :promo do
  .p Bonjour,

  .p
    Aucun cours ni stage n'apparaît sur votre profil CoursAvenue.
    = link_to 'Mettez à jour votre planning', trainings_pro_structure_courses_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN, utm_source: 'email', utm_campaign: 'update_planning', utm_medium: 'monday')
    pour que votre profil remonte dans les résultats de recherche et pour que les élèves intéressés puissent consulter votre planning.


  .p.action
    = link_to "Mettre à jour mon planning", trainings_pro_structure_courses_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN, utm_source: 'email', utm_campaign: 'update_planning', utm_medium: 'monday'), class: 'btn btn--green'

  = render 'admin_mailer/shared/see_help_center'

  = render 'shared/mailers/footer'

- content_for :under_content do
  = render 'admin_mailer/shared/their_planning_is_up_to_date'
