.title Affichez toutes vos recommandations sur votre propre site et développez votre bouche à oreille

.p Bonjour #{@structure.name},

.p
  Vous avez récemment dépassé les 5 recommandations sur votre profil CoursAvenue. Pour vous en féliciter, nous vous offrons la possibilité de les afficher publiquement sur votre propre site Internet ou blog : avez-vous déjà installé votre livre d'or ?

.p.action
  = link_to "L'installer tout de suite", widget_pro_structure_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN, utm_source: 'email', utm_campaign: 'widget', utm_medium: '5_comments'), class: 'btn btn--green'
.p.action
  = link_to I18n.t('structures.widget_status.installed'), update_widget_status_pro_structure_url(@structure, status: 'installed', subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn'
.p.action
  = link_to I18n.t('structures.widget_status.need_help'), update_widget_status_pro_structure_url(@structure, status: 'need_help', subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn'
.p.action
  = link_to I18n.t('structures.widget_status.dont_want'), update_widget_status_pro_structure_url(@structure, status: 'dont_want', subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn'
.p.action
  = link_to I18n.t('structures.widget_status.remind_me'), update_widget_status_pro_structure_url(@structure, status: 'remind_me', subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn'

.p Si vous avez des questions, n'hésitez pas à nous contacter. Merci et à très bientôt,

= render 'shared/mailers/footer'

- content_for :under_content_gray do
  = render 'admin_mailer/shared/footer_info'
