- if @structure.logo?
  - content_for :logo do
    = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
      = image_tag @structure.logo.url(:thumb), style: '-ms-interpolation-mode:bicubic;', width: '75', height: '75'

- content_for :promo do
  %h4
    #{@structure.name} vous invite à créer votre profil sur CoursAvenue.

%p Bonjour,

%p
  Il y a quelques jours, #{@structure.name} vous a invité à créer votre profil CoursAvenue, le 1er moteur de recherche de cours basé sur la géolocalisation et les recommandations des élèves.

- if @structure.comments_count and @structure.comments_count > 0
  %p
    #{@structure.name} a déjà reçu ses premiers avis, voici son profil :
    = link_to "profil de #{@structure.name}", structure_url(@structure, subdomain: 'www')
%p
  Cliquez sur ce lien pour créer votre profil gratuit en quelques minutes :

%p.action
  = link_to 'Créer mon profil gratuitement', inscription_pro_structures_url(email: @invited_email, from_friend: true, subdomain: 'pro'), class: 'btn btn--blue'

%p À très bientôt !

%p L'équipe de CoursAvenue

- content_for :footer do
  %p Vous recevez cet email car #{@structure.name} vous invite sur CoursAvenue.
