- content_for :email_title do
  Votre abonnement Premium vient d'être renouvelé.

- content_for :logo do
  = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
    = image_tag @structure.logo.url(:thumb), class: 'block', height: 100, width: 100, alt: "Logo de #{@structure.name}"
  %div.yellow.text--center{ style: 'padding-top: 2px;' }
    = image_tag 'icons/icon-star-full--yellow.png', height: 15, widht: 15, class: 'v-middle', style: 'padding-right: 2px;'
    %span.v-middle Premium

- content_for :promo do
  .p Bonjour,

  .p
    Votre abonnement Premium vient d'être renouvelé. Retrouvez toutes les informations de facturation dans la
    = link_to 'rubrique Premium', pro_structure_subscription_plans_url(@structure, subdomain: 'pro')
    de votre profil.

  = render 'admin_mailer/shared/see_help_center'

  = render 'shared/mailers/footer'

- content_for :under_content do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ colspan: 4 }
        .title Ils ont renouvelé leur abonnement Premium
    %tr{ valign: 'top' }
      - @similar_profiles.each do |similar_profile|
        %td.v-top.content-block{ width: 80 }
          = link_to structure_url(similar_profile, subdomain: 'www'), class: 'muted-link block' do
            = image_tag similar_profile.logo.url(:thumb), width: 80, height: 80, alt: "Logo #{similar_profile.name}", class: 'bordered'
          %div.yellow.text--center{ style: 'padding-top: 2px;' }
            = image_tag 'icons/icon-star-full--yellow.png', height: 15, widht: 15, class: 'v-top', style: 'padding-right: 2px;'
            %span.v-top Premium
        %td.v-top.content-block{ width: 220 }
          .p.soft-half--left.hard--bottom
            %strong
              = link_to truncate(similar_profile.name, length: 23), structure_url(similar_profile, subdomain: 'www'), class: 'muted-link'
            %br
            = similar_profile.city.name
            %br
            = truncate(join_parent_subjects_text(similar_profile), length: 100)
    - unless @structure.premium?
      %tr{ valign: 'top' }
        %td.v-middle.content-block{ colspan: 4 }
          .p.hard--bottom.soft--top.text--center
            = link_to 'Devenez Premium et augmentez les performances de votre profil', pro_structure_subscription_plans_url(@structure, subdomain: 'pro')

= content_for :under_content_gray do
  = render 'admin_mailer/premium/faq'
