- content_for :email_title do
  Votre abonnement Premium vient d'être résilié.

.p
  Bonjour
.p
  Votre abonnement Premium vient d'être résilié. A tout moment, vous pouvez le réactiver pour bénéficier de toutes les fonctionnalités Premium depuis
  = link_to 'votre profil', dashboard_pro_structure_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)

.p
  Pour toute question, vous pouvez consulter notre
  = link_to "centre d'aide.", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)
  Merci pour votre confiance,

= render 'shared/mailers/footer'

= content_for :under_content_gray do
  = render 'admin_mailer/premium/faq'
