- content_for :email_title do
  Bonjour, nous sommes désolés mais nous n'avons pas réussi à renouveler votre abonnement Premium.

- content_for :logo do
  = link_to structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: '_blank' do
    = image_tag @structure.logo.url(:thumb), class: 'block', height: 100, width: 100, alt: "Logo de #{@structure.name}"

- content_for :promo do
  .p Bonjour,

  .p Nous sommes désolés mais nous n'avons pas réussi à renouveler votre abonnement Premium. Ce problème est lié à votre carte bancaire (date d'expiration dépassée, solde insuffisant, opération rejetée, etc.).

  .p.action
    = link_to 'Renouveler mon abonnement', premium_pro_structure_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'

  = render 'admin_mailer/shared/see_help_center'
  = render 'shared/mailers/footer'
