- content_for :email_title do
  Votre abonnement Premium vient d'être résilié.

- content_for :logo do
  = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
    = image_tag @structure.logo.url(:thumb), class: 'block', height: 100, width: 100, alt: "Logo de #{@structure.name}"

- content_for :promo do
  .p
    Bonjour
  .p
    Votre abonnement Premium vient d'être résilié. A tout moment, vous pouvez le réactiver pour bénéficier de toutes les fonctionnalités Premium depuis
    = link_to 'votre profil', dashboard_pro_structure_url(@structure, subdomain: 'pro')

  = render 'admin_mailer/shared/see_help_center'

  = render 'shared/mailers/footer'

= content_for :under_content_gray do
  = render 'admin_mailer/premium/faq'
