- content_for :email_title do
  Vos cours ont été repérés sur CoursAvenue.com, le 1er moteur de recherche de cours de loisirs.

%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.content-block{ width: '50%' }
      .title
        Vos cours ont été repérés sur CoursAvenue.com, le 1er moteur de recherche de cours de loisirs.

      .p
        Prenez le contrôle de votre profil pour compléter vos informations, recruter plus d'élèves et bien d'autres choses encore :

      .p.action.text--left
        = link_to "Gérer mon profil gratuit", new_pro_admin_structure_registration_url(@structure, subdomain: 'pro', utm_source: 'email', utm_campaign: 'take_control', utm_medium: 'take_control'), class: 'btn btn--green'
    %td.content-block.text--center{ width: '50%' }
      = link_to structure_url(@structure, subdomain: 'www', utm_source: 'email', utm_campaign: 'take_control', utm_medium: 'see_my_profile') do
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/flat_profile.png', width: 250, height: 188, alt: 'Exemple de profil CoursAvenue'
      %br
      = link_to 'Voir mon profil actuel', structure_url(@structure, subdomain: 'www', utm_source: 'email', utm_campaign: 'take_control', utm_medium: 'see_my_profile')

- content_for :under_content do
  - @similar_profiles = @structure.similar_profiles(3, { is_sleeping: false, nb_courses: 1, medias_count: 1 })
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.content-block{ colspan: '3', width: '100%', style: 'padding-bottom: 0' }
        .title Ils ont pris le contrôle de leur profil
    %tr{ valign: 'top' }
      - @similar_profiles.each do |similar_profile|
        %td.content-block{ width: '33%', style: 'padding-bottom: 0' }
          = link_to structure_url(similar_profile, subdomain: 'www') do
            .text--center
              - media = similar_profile.medias.cover_first.videos_first.first
              - if media.nil?
                = image_tag similar_profile.logo.url(:thumb), width: 180, height: 110
              - elsif media.image?
                = image_tag media.image.url(:thumbnail_cropped), width: 180, height: 110
              - else
                = image_tag media.thumbnail_url, width: 180, height: 110
            .p.soft-half--sides
              - if similar_profile.courses.any?
                %strong= truncate similar_profile.courses.map(&:subjects).flatten.uniq.map(&:name).map(&:capitalize).join(', '), length: 24
              - else
                %strong= truncate similar_profile.courses.map(&:subjects).flatten.uniq.map(&:name).map(&:capitalize).join(', '), length: 24
              %br
              = truncate similar_profile.name, length: 22
              %br
              %i= truncate similar_profile.places.map(&:city).uniq.map(&:name).join(', '), length: 22

- content_for :under_content_2 do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr
      %td.content-block{ colspan: 4 }
        .title Pourquoi prendre le contrôle ?
    %tr
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_search.png', width: 30
      %td.v-middle.content-block.soft--bottom.soft-half--right{ width: 250 }
        .p.hard Vous complétez votre profil qui remonte en tête des résultats de recherche
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_stats.png', width: 30
      %td.v-middle.content-block.soft--bottom{ width: 250 }
        .p.hard Vous suivez le nombre de visites quotidiennes

    %tr
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_similar.png', width: 30
      %td.v-middle.content-block.soft--bottom{ width: 250 }
        .p.hard Vous entrez en contact avec de nouveaux élèves intéressés par vos cours
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_quote.png', width: 30
      %td.v-middle.content-block.soft--bottom.soft-half--right{ width: 250 }
        .p.hard Vous gérez vos avis et recevez des recommandations de vos élèves

    %tr
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_medias.png', width: 30
      %td.v-middle.content-block.soft--bottom.soft-half--right{ width: 250 }
        .p.hard Vous personnalisez votre profil avec votre logo, vos photos et vidéos
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_book.png', width: 30
      %td.v-middle.content-block.soft--bottom{ width: 250 }
        .p.hard Vous accédez au Livre d'Or CoursAvenue à installer sur votre propre site Internet

    %tr
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_calendar.png', width: 30
      %td.v-middle.content-block.soft--bottom.soft-half--right{ width: 250 }
        .p.hard Vous mettez à jour le planning de vos cours et augmentez votre visibilité
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_world.png', width: 30
      %td.v-middle.content-block.soft--bottom{ width: 250 }
        .p.hard Vous bénéficiez du trafic CoursAvenue et augmentez votre référencement

- content_for :under_content_3 do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr
      %td.content-block{ colspan: 2 }
        .title Vous ne souhaitez pas gérer votre profil ?
        .p
          Par souci d'amélioration continue et de qualité, merci de préciser la raison :
    %tr
      %td.content-block
        .p.action
          = link_to 'Je ne veux pas communiquer sur mes cours', dont_want_to_take_control_of_my_sleeping_account_pro_structure_url(@structure, reason: 'dont_want_to_communicate', subdomain: 'pro'), class: 'btn'
      %td.content-block
        .p.action
          = link_to "Mon établissement n'existe plus", dont_want_to_take_control_of_my_sleeping_account_pro_structure_url(@structure, reason: 'no_more_exist', subdomain: 'pro'), class: 'btn'

- content_for :under_content_gray do
  .title
    = link_to "Foire aux questions", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .p.soft-half--bottom.bordered--bottom
    = link_to "Qu'est-ce que CoursAvenue ? A quoi sert un profil gratuit CoursAvenue ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Qui a créé mon profil CoursAvenue ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Pourquoi et comment prendre le contrôle de mon profil ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .p.soft-half--ends
    = link_to "Est-ce vraiment gratuit ? Existe-t-il d'autres types de profils que le profil gratuit CoursAvenue ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
