- content_for :email_title do
  Vos cours ont été repérés sur CoursAvenue.com, le 1er moteur de recherche de cours de loisirs.

%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.content-block{ width: '50%' }
      .title
        Vos cours ont été repérés sur CoursAvenue.com, le 1er moteur de recherche de cours de loisirs.

      .p
        Prenez le contrôle de votre profil pour compléter vos informations, recruter plus d'élèves et bien d'autres choses encore.

      .p.action.text--left
        = link_to "Gérer mon profil gratuit", new_pro_admin_structure_registration_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN, utm_source: 'email', utm_campaign: 'take_control', utm_medium: 'take_control'), class: 'btn btn--green'
    %td.content-block.text--center{ width: '50%' }
      = image_tag 'pro/flat_profile.png', width: 250, height: 188, alt: 'Exemple de profil CoursAvenue'
      %br
      = link_to 'Voir mon profil actuel', structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN, utm_source: 'email', utm_campaign: 'take_control', utm_medium: 'see_my_profile')

- content_for :under_content do
  - @similar_profiles = @structure.similar_profiles(2, { is_sleeping: false })
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.content-block{ colspan: 2 }
        .title Ils ont pris le contrôle de leur profil
    %tr{ valign: 'top' }
      - @similar_profiles.each do |similar_profile|
        %td{ width: '300' }
          %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
            %tr{ valign: 'top' }
              %td.v-middle.content-block{ width: 80 }
                = link_to structure_url(similar_profile, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'muted-link block' do
                  = image_tag similar_profile.logo.url(:thumb), width: 80, height: 80, alt: "Logo de #{similar_profile.name}"
              %td.v-middle.content-block{ width: 220 }
                .p.soft-half--sides
                  %strong= link_to truncate(similar_profile.name, length: 25), structure_url(similar_profile, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'muted-link'
                  %br
                  = similar_profile.city.name
                  %br
                  %i= truncate(join_parent_subjects_text(similar_profile), lenght: 100)

- content_for :under_content_2 do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr
      %td.content-block{ colspan: 4 }
        .title Pourquoi prendre le contrôle ?
    %tr
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_search.png', width: 30
      %td.v-middle.content-block.soft--bottom.soft-half--right{ width: 250 }
        Vous complétez votre profil qui remonte en tête des résultats de recherche
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_stats.png', width: 30
      %td.v-middle.content-block.soft--bottom{ width: 250 }
        Vous suivez le nombre de visites quotidiennes

    %tr
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_similar.png', width: 30
      %td.v-middle.content-block.soft--bottom{ width: 250 }
        Vous entrez en contact avec de nouveaux élèves intéressés par vos cours
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_quote.png', width: 30
      %td.v-middle.content-block.soft--bottom.soft-half--right{ width: 250 }
        Vous gérez vos avis et recevez des recommandations de vos élèves

    %tr
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_medias.png', width: 30
      %td.v-middle.content-block.soft--bottom.soft-half--right{ width: 250 }
        Vous personnalisez votre profil avec votre logo, vos photos et vidéos
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_book.png', width: 30
      %td.v-middle.content-block.soft--bottom{ width: 250 }
        Vous accédez au Livre d'Or CoursAvenue à installer sur votre propre site Internet

    %tr
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_calendar.png', width: 30
      %td.v-middle.content-block.soft--bottom.soft-half--right{ width: 250 }
        Vous mettez à jour le planning de vos cours et augmentez votre visibilité
      %td.v-middle.content-block.soft--bottom{ width: 50 }
        = image_tag 'icons/premium/icon_world.png', width: 30
      %td.v-middle.content-block.soft--bottom{ width: 250 }
        Vous bénéficiez du trafic CoursAvenue et augmentez votre référencement

- content_for :under_content_3 do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr
      %td.content-block{ colspan: 4 }
        .title Vous ne souhaitez pas gérer votre profil ?
        .p
          Par souci d'amélioration continue et de qualité, merci de préciser la raison :
        .p.action.text--left
          = link_to 'Je ne souhaite pas communiquer sur mes cours', dont_want_to_take_control_of_my_sleeping_account_pro_structure_url(@structure, reason: 'dont_want_to_communicate', subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn'
        .p.action.text--left.hard--bottom
          = link_to "Mon établissement n'existe plus", dont_want_to_take_control_of_my_sleeping_account_pro_structure_url(@structure, reason: 'closed', subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn'

- content_for :under_content_gray do
  .title
    = link_to "Foire aux questions", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .soft-half--bottom.bordered--bottom
    = link_to "Qu'est-ce que CoursAvenue ? A quoi sert un profil gratuit CoursAvenue ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .soft-half--ends.bordered--bottom
    = link_to "Qui a créé mon profil CoursAvenue ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .soft-half--ends.bordered--bottom
    = link_to "Pourquoi et comment prendre le contrôle de mon profil ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .soft-half--ends
    = link_to "Est-ce vraiment gratuit ? Existe-t-il d'autres types de profils que le profil gratuit CoursAvenue ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
