- content_for :email_title do
  L'équipe de CoursAvenue vous autorise à prendre le contrôle de votre profil.

.title
  Félicitations !

.p
  L'équipe de CoursAvenue vient de valider votre identité et vous autorise à prendre le contrôle de votre profil. Connectez-vous à tout moment pour le compléter et gagner en visibilité :

.p.action
  = link_to "Accéder à mon profil", dashboard_pro_structure_url(@structure, subdomain: 'pro', utm_source: 'email', utm_campaign: 'complete_profile', utm_medium: 'monday'), class: 'btn btn--green'

= render 'shared/mailers/footer'

- if !@structure.logo.present? or @structure.comments.empty? or @structure.courses.empty? or @structure.medias.empty?
  - content_for :under_content do
    .title Les étapes pour un profil complet
    %ul.flush--bottom.hard--bottom
      - if !@structure.logo.present?
        %li Complétez vos informations générales et ajoutez votre logo
      - if @structure.comments.empty?
        %li Demandez des recommandations à vos élèves
      - if @structure.courses.empty?
        %li Renseignez votre planning de cours et stages
      - if @structure.medias.empty?
        %li Mettez en ligne vos photos et vidéos

- content_for :under_content_2 do
  - @similar_profiles = @structure.similar_profiles(2)
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.content-block{ colspan: 2 }
        .title Ils ont complété leur profil
    %tr{ valign: 'top' }
      - @similar_profiles.each do |similar_profile|
        %td{ width: '300' }
          %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
            %tr{ valign: 'top' }
              %td.v-middle.content-block{ width: 80 }
                = link_to structure_url(similar_profile, subdomain: 'www'), class: 'muted-link block' do
                  = image_tag similar_profile.logo.url(:thumb), width: 80, height: 80, alt: "Logo #{similar_profile.name}"
              %td.v-middle.content-block{ width: 220 }
                .p.soft-half--sides
                  %strong= link_to truncate(similar_profile.name, length: 25), structure_url(similar_profile, subdomain: 'www'), class: 'muted-link'
                  %br
                  = similar_profile.city.name
                  %br
                  %i= truncate(join_parent_subjects_text(similar_profile), length: 100)

