- content_for :email_title do
  Votre profil est remonté dans #{@impressions_count} recherches le mois dernier mais n'a été consulté que #{@view_count} fois.

- content_for :under_content do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ width: 100 }
        = image_tag @structure.logo.url(:thumb), width: 100, height: 100, alt: "Logo #{@structure.name}", class: 'bordered'
      %td.v-middle.content-block.soft--sides{ width: 400 }
        .p
          Votre profil est remonté dans
          %strong #{@impressions_count} recherches
          le mois dernier mais n'a été consulté que #{@view_count} fois.
        .p
          Passez au
          %strong Premium
          pour gagner en visibilité et recruter plus d'élèves :
      %td.v-middle.text--center.content-block{ width: 125, background: asset_path('emails_logo/premium/blue_bubble.png'), style: "background-size: 100% 100%;"}
        .alpha.white= @impressions_count || 4
        .white{ style: 'font-size: 12px;' } Affichages
    %tr{ valign: 'top' }
      %td.text--center.v-middle.content-block{ colspan: 3}
        = link_to 'Passer au premium', premium_pro_structure_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN, utm_source: 'email', utm_campaign: 'your_profile_has_been_viewed', utm_medium: "#{@impressions_count} impressions"), class: 'btn btn--yellow', style: 'padding-left: 25px; padding-right: 25px;'

- content_for :under_content_3 do
  = render partial: 'admin_mailer/they_are_premium', locals: { show_consultation: true, view_count: @view_count}

- content_for :under_content_4 do
  = render 'admin_mailer/premium/premium_advantages'

- content_for :under_content_gray do
  = render 'admin_mailer/premium/faq'
