<div data-el="clear-filter-wrapper">
    <div class="btn btn--gray btn--full text-transform-none btn--small soft-half--sides" data-behavior="clear-filter">
        Disciplines
        <i class="fa-times hidden" data-el="clearer"></i>
    </div>
    <div class="hidden absolute on-top very-soft--top" id="subjects-filter-view">
        <div class="drop-down__el-inner-box soft-half">
            {{#each subjects}}
                <div class="relative" data-type="button-wrapper" data-value="{{ slug }}">
                  <a class="grid--full text--center btn btn--gray btn--full" data-type="button" data-value="{{ slug }}" {{#if show_href}}href="{{root_search_page_path slug ../../city_id}}"{{/if}}>
                    <div class="grid__item two-twelfths v-middle">
                        <div class="subject_icon">
                            <i class="fa-{{ slug }} fa-2x"></i>
                        </div>
                    </div>{{!--
                 --}}<div class="grid__item v-middle ten-twelfths text-transform-none soft-half--sides nowrap text--left">{{ name }}</div>
                  </a>
                </div>
            {{/each}}
        </div>
    </div>
    <div data-type="menu" class="on-top hidden bordered--top bordered--right bordered--bottom absolute north no-text-shadow no-text-transform" style="margin-top: -1px;">
        <div data-type="subject-children-view"></div>
    </div>
</div>
