= side_menu_currently_at 'emailings'

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Newsletter
  .flexbox__item.v-middle.text--right
    = link_to new_admin_emailing_path, class: 'btn btn--green' do
      %i.fa.fa-plus
      Ajouter une newsletter

%table.table--data.table--striped#dataTable
  %thead
    %tr
      %th Titre
      %th Actions
  %tbody
    - @emailings.each do |emailing|
      %tr
        %td= link_to emailing.title, admin_emailing_path(emailing)
        %td
          = link_to 'Éditer', edit_admin_emailing_path(emailing)
          \/
          = link_to 'Previsualiser', preview_admin_emailing_path(emailing), data: { behavior: 'modal', width: '700', padding: 0 }, class: 'fancybox.ajax'
          \/
          = link_to 'Copier le code', code_admin_emailing_path(emailing), data: { behavior: 'modal', width: '700', padding: 0 }, class: 'fancybox.ajax'
          \/
          = link_to 'Supprimer', admin_emailing_path(emailing), class: 'red', method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette newsletter?' }
