= side_menu_currently_at 'emailings'

%h1= @emailing.title

.bordered--bottom-on-stick.bg-white.soft-half--ends.text--center{ data: { behavior: 'sticky', z: 500, old_width: 'true' } }
  = link_to 'Editer', edit_admin_emailing_path(@emailing), class: 'btn btn--green push-half--right'
  = link_to 'Prévisualiser la Newsletter', preview_admin_emailing_path(@emailing), class: 'btn btn--green push-half--right fancybox.ajax', data: { behavior: 'modal', width: '800', padding: 0 }
  %a{ class: 'btn btn--green push-half--right', href: 'javascript:void(0)', data: { behavior: 'show' } }
    Envoyer la previsualisation
  = link_to 'Copier le code', code_admin_emailing_path(@emailing), class: 'btn btn--green push-half--right fancybox.ajax', data: { behavior: 'modal', width: '700', padding: 0 }

  .hidden.text--center.push-half--ends{ data: { behavior: 'hidden' } }
    %form{ action: send_preview_admin_emailing_path(@emailing), method: 'GET' }
      %label.inline-block.label--large.soft-half--right Envoyer un test à
      %input.input--large{ name: 'to', type: 'email', placeholder: 'contact@coursavenue.com' }
      %input{ type: 'submit', value: 'Envoyer', class: 'btn btn--green', data: { disable_with: "En cours d'envoi" } }

%hr

.gray-box
  .soft-half--ends.gray.milli.text--center= @emailing.title
  %div.white-box.center-block.bordered{ style: 'width: 600px;'}
    = image_tag asset_path('logos/logo.png'), class: 'center-block push-half--ends'
    = image_tag @emailing.header_image.url, class: 'very-soft', alt: @emailing.header_image_alt if @emailing.header_image.present?
    .soft
      = @emailing.body.html_safe
    - if @emailing.call_to_action_text.present? and @emailing.call_to_action_url.present?
      .text--center.push-half--bottom
        = link_to @emailing.call_to_action_text, URI.encode(@emailing.call_to_action_url), class: 'btn btn--green'

    #emailings-region{ data: { type: 'emailings-root' } }

- content_for :scripts do
  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          id: #{ @emailing.id },
          models: #{ @sections.to_json }
      };

      $(document).ready(function() {
          $('[data-behavior=show]').click(function() {
              $('[data-behavior=hidden]').slideToggle();
          });
      });
