= side_menu_currently_at "Lieux d'enseignements"

- if @places.empty?
  %h3 Vous n'avez pas encore d'espace pour vos cours ?
  = link_to 'Ajouter un lieu pour mes cours', new_structure_place_path(@structure), class: 'btn btn__primary'
- else
  %table.table--striped
    %thead
      %tr
        %th Nom du lieu
        %th Ville
        %th
    %tbody
      - @places.each do |place|
        %tr
          %td= link_to place.name, edit_structure_place_path(@structure, place)
          %td= place.city.name
          /%td= link_to 'Éditer', edit_structure_place_path(@structure, place)
  = link_to 'Ajouter un nouveau lieu', new_structure_place_path(@structure), class: 'btn btn__primary'
