= side_menu_currently_at "Lieux d'enseignements"

%h3.header-group
  %i.icon-map-marker
  Mes lieux d'enseignements

= gmaps( {markers: {data: @places.to_gmaps4rails}, map_options: {maxZoom: 15, mapTypeControl: false}})

%table.table--striped
  %thead
    %tr
      %th.text--center Logo
      %th Nom du lieu
      %th Adresse
      %th
      %th
  %tbody
    - @places.each do |place|
      %tr
        %td.text--center
          - if place.thumb_image.present?
            = image_tag place.thumb_image.url(:thumb), width: 50
        %td
          - if current_pro_admin
            = link_to place.name, edit_pro_structure_place_path(@structure, place)
          - else
            = link_to place.name, place_url(place, subdomain: 'www')
        %td= place.address
        %td.text--right
          = link_to edit_pro_structure_place_path(@structure, place), title: 'Éditer', class: 'btn btn__warning' do
            %i.icon-edit
          &nbsp;
          = link_to pro_structure_place_path(@structure, place), method: :delete, data: {confirm: 'Êtes-vous sur de supprimer ce lieu ? Cette action sera irreversible.'}, title: 'Supprimer', class: 'btn btn__danger' do
            %i.icon-trash


.text--center
  = link_to 'Ajouter un nouveau lieu', new_pro_structure_place_path(@structure), class: 'btn btn__success btn__large'
