- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: '-ms-interpolation-mode:bicubic;'

- if @structure and @structure.logo?
  - content_for :logo do
    = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
      = image_tag @structure.logo.url(:thumb), style: '-ms-interpolation-mode:bicubic;', width: '100', height: '100'

- content_for :promo do
  %h4
    - if @structure
      #{@referrer.name} vous offre un cours gratuit proposé par #{@structure.name} les 5-6 avril
    - else
      #{@referrer.name} vous offre un cours gratuit pendant les Journées Portes Ouvertes CoursAvenue

- if @email_text
  = @email_text.html_safe

%p.action
  - if @structure
    = link_to "Participer aux Portes Ouvertes", jpo_structure_url(@structure, subdomain: 'www'), class: 'btn btn--green'
  - else
    = link_to "Participer aux Portes Ouvertes", root_url(subdomain: 'www'), class: 'btn btn--green'
%p
  À très bientôt !
%p= @referrer.name

- content_for :footer do
  %p
    Vous recevez cet email car #{@referrer.name} vous invite sur CoursAvenue.
    - if @invited_user.user
      = link_to 'Ne plus recevoir ces emails', unsubscribe_users_url(@invited_user.user.access_token, subdomain: 'www')

