- content_for :email_title do
  #{@referrer.name} vous invite à créer votre profil sur CoursAvenue

.title
  #{@referrer.name} vous invite à créer votre profil sur CoursAvenue

- if @email_text
  = @email_text.html_safe

%p.action
  = link_to 'Créer mon profil', new_user_registration_url(email: @email, from_friend: true, subdomain: 'www'), class: 'btn btn--green', utm_source: 'email', utm_campaign: 'invite_student', utm_medium: 'stage_1'
%p
  À très bientôt !

%p= @referrer.name

- content_for :footer do
  %p
    Vous recevez cet email car #{@referrer.name} vous invite sur CoursAvenue.
    - if @invited_user.user
      = link_to 'Ne plus recevoir ces emails', unsubscribe_users_url(@invited_user.user.access_token, subdomain: 'www')

