<div class="media__item one-whole relative gray-box">
    <a class=" bg-cover break-all soft-half hard--bottom block show-on-hover-wrapper relative" rel="gallery-{{mediable_id}}" href="{{url}}" title="{{caption}}" style="height: 200px; background-image: url({{thumbnail_url}})" data-behavior='fancy'>
        <div class="show-on-hover absolute absolute--center text--center">
        {{#if is_video}}
            <i class="fa fa-youtube-play fa-4x white"></i>
        {{else}}
            <i class="fa fa-eye fa-4x white"></i>
        {{/if}}
        </div>
    </a>
    {{#if caption}}
    <div class="soft-half">
        <p class="flush"> {{ caption }} </p>
    </div>
    {{/if}}
</div>
