= side_menu_currently_at 'students_invitations'

.panel
  .panel__header.soft
    %h3.flush Invitations d'élèves
  .panel__body.soft--ends
    %table.table--striped.table--data#comment-notification-table
      %thead
        %tr
          %th Email
          %th Établissement
          %th Date
          %th.text--center A laissé une recommandation
      %tbody
        - @comment_notifications.each do |comment_notification|
          %tr
            %td= comment_notification.user.email
            %td= link_to comment_notification.structure.name, dashboard_pro_structure_path(comment_notification.structure)
            %td= l(comment_notification.created_at)
            %td.text--center{data: {value: comment_notification.complete? ? '0' : '1'}}
              - if comment_notification.complete?
                %i.fa.fa-check


= content_for :scripts do
  :javascript
    $(function() {
        if ($('#comment-notification-table')) {
            $('#dataTable').tablesorter();
        }
    });
