<div class="flexbox white-box structure-item">
    <div class="flexbox__item v-top structure-item__logo">
        <div class="relative">
            {{#if logo_present}}
                <a href="{{ data_url }}" class="block">
                    <img src="{{ logo_thumb_url }}" class="block one-whole" alt="Cours de {{ parent_subjects_text }} à {{ name }}">
                </a>
            {{/if}}
            {{#if has_free_trial_course}}
                <div class="free-trial-badge"></div>
            {{/if}}
            {{!-- {{#if has_promotion}}
                <div class="promotion-badge"></div>
            {{/if}} --}}
        </div>
    </div><!--
 --><article class="flexbox__item four-tenths v-top structure-item__see-all-wrapper structure-item__button">
        <div class="relative full-height soft-half hard--right">
            <div class="epsilon flush v-top">
                <a href="{{ data_url }}">{{ name }}</a>
            </div>
            {{#if tag_names}}
                <div class="milli gray">
                    <i class="fa fa-tag"></i>
                    <span title="{{tag_names}}" data-behavior="tooltip">
                        {{#if search_term}}
                            <i>{{{highlight tag_names search_term 55}}}</i>
                        {{else}}
                            <i>{{{truncate tag_names 55}}}</i>
                        {{/if}}
                    </span>
                </div>
            {{/if}}
            <div>
                {{#if has_plannings}}
                <div>
                    {{ plannings_count }} {{ pluralize plannings_count 'séance' 'séances' }}
                    {{#if has_price_range }}
                        de
                        <span class="pointer" data-behavior="tooltip" title="{{ min_price_libelle }}">{{ min_price_amount }}€</span>
                        à
                        <span class="pointer" data-behavior="tooltip" title="{{ max_price_libelle }}">{{ max_price_amount }}€</span>
                    {{else}}
                        {{#if min_price_amount}}
                            à partir de
                            <span class="pointer" data-behavior="tooltip" title="{{ min_price_libelle }}">{{ min_price_amount }}€</span>
                        {{/if}}
                    {{/if}}
                </div>
                {{/if}}
                <div>
                {{#if audience}}
                    <span class="milli">{{audience}}</span>&nbsp;
                {{/if}}
                {{#if gives_individual_courses}}
                    <span title="Cours particulier" data-behavior="tooltip" class="pointer">
                        <i class="fa fa-user"></i>
                    </span>
                {{/if}}
                {{#if gives_group_courses}}
                    <span title="Cours collectif" data-behavior="tooltip" class="pointer" style="margin-right: -3px">
                        <i class="fa fa-user"></i>
                        <i class="fa fa-user" style="left: -6px; top: 2px; position: relative"></i>
                    </span>
                {{/if}}
                {{#if teaches_at_home}}
                    <span title="Cours à domicile {{#if teaches_at_home_radius}}(dans un rayon de {{teaches_at_home_radius}}km){{/if}}" data-behavior="tooltip" class="pointer">
                        <i class="fa fa-home"></i>
                    </span>
                {{/if}}
                {{#if structure_type}}
                    |
                    <span class="milli">{{structure_type}}</span>
                {{/if}}
                </div>
                {{#if funding_types}}
                    <div>
                        <span class="pointer lbl lbl--small" data-behavior="tooltip" title="{{funding_types}}">Financements spécifiques acceptés</span>
                    </div>
                {{/if}}
            </div>
            <a href="javascritp:void(0);" class="structure-item__see-all blue" data-behavior="accordion-control" data-model="course" data-attributes="data_url" data-wrapper=".structure-item__see-all-wrapper">
                {{#if plannings_count}}
                    <span>Voir les séances</span>
                {{else}}
                    <span>Pas de séance, contactez le professeur</span>
                {{/if}}
            </a>
        </div>
    </article><!--
 --><div class="flexbox__item relative soft-half--sides structure-item__see-all-wrapper {{#if has_comments}}structure-item__button{{/if}} two-eighths v-middle text--center" {{#if has_comments}}data-behavior="accordion-control" data-model="comment" data-attributes="data_url more_than_five_comments"{{/if}}>
        {{#if has_comments }}
        <div class="relative full-height soft--top">
            <div class="alpha thin orange"> {{ comments_count }} </div>
            <span class="orange soft-half--bottom milli">avis
                <i class="lbc-brand-icon"></i>
            </span>
            {{#if last_comment_title}}
            <div class="quoted milli">
                {{{truncate last_comment_title 60}}}
            </div>
            {{/if}}
            <a href="javascritp:void(0)" class="structure-item__see-all blue"><span>Voir tous les avis</span></a>
            <div itemtype="http://data-vocabulary.org/review-aggregate" itemscope="" itemprop="aggregateRating">
                <span title="Note : 5 étoiles (Excellent !)" class="rating"></span>
                <meta property="v:rating" itemprop="rating" content="{{ rating }}">
                <meta itemprop="count" content="{{ comments_count }}">
                <meta itemprop="name" content="{{ name }}">
                <meta itemprop="street-address" content="{{ street }}">
                <meta itemprop="postal-code" content="{{ zip_code }}">
            </div>
        </div>
        {{else}}
            <div class="alpha thin gray-light">0</div>
            <span class="gray-light milli">
                avis <i class="fa fa-comment"></i>
            </span>
        {{/if}}
    </div><!--
 --><div class="flexbox__item two-eighths v-middle text--center rslides-wrapper structure-item__see-all-wrapper">
        {{#if preloaded_medias}}
        <div class="relative full-height">
            <a class="structure-item__see-all rslides_nav rslides_nav--bottom" data-behavior="accordion-control" data-wrapper=".structure-item__see-all-wrapper" data-model="media" data-attributes="data_url">
                <span>Voir la galerie ({{medias_count}})</span>
            </a>
            <ul class="rslides hidden">
                {{#each preloaded_medias}}
                    <li>
                        <a rel="slideshow-{{mediable_id}}" href="{{{this.url}}}" class="rslides_nav rslides_nav--icon {{#if this.is_video}}visible{{/if}}" data-behavior="fancy">
                            <i class="fa {{#if this.is_video}}fa-youtube-play{{else}}fa-eye{{/if}}"></i>
                        </a>
                        <div class="media__item media__item--slides">
                            <a class="break-all" title="{{this.caption}}" href="{{this.url}}">
                                <img src="{{this.thumbnail_url}}" />
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{else}}
        <div class="text--center gray-light">
            <i class="fa fa-picture-o fa-3x gray-light"></i>
            <br />
            0 photo / vidéo
        </div>
        {{/if}}
    </div>
</div>
