<a href="{{ data_url }}" class="muted-link grid--full f-weight-500 block bordered--bottom soft-half--ends relative structure-item-view">
    <div class="visuallyhidden--palm grid__item three-twelfths relative rslides-wrapper" data-resizeable-height style="height: 110px">
        <ul class="rslides">
            {{#if preloaded_medias}}
                {{#each preloaded_medias}}
                    <li class="bg-cover" data-resizeable-height style="height: 110px">
                        <div class="media__item media__item--slides">
                            <span class="break-all" title="{{this.caption}}">
                                <img src="{{this.thumbnail_url}}" alt="{{this.caption}}"/>
                            </span>
                        </div>
                    </li>
                {{/each}}
            {{else}}
                <li class="bg-cover" data-resizeable-height style="height: 110px">
                    <div class="media__item media__item--slides">
                        <span class="break-all">
                            <img src="{{logo_large_url}}" itemprop="logo"/>
                        </span>
                    </div>
                </li>
            {{/if}}
        </ul>
        <div href="#" class="orange north east absolute push-half on-under-top heart-link" data-behavior='add-to-favorite' data-toggle='tooltip' data-html="true" data-added-title='<div class="nowrap">Retirer de mes favoris</div>' data-not-added-title='<div class="nowrap">Ajouter à mes favoris</div>' data-placement='right'>
            <i class="fa fa-heart-o fa-2x"></i>
        </div>
    </div>{{!--
--}}<div class="grid__item palm-one-whole nine-twelfths soft--sides epsilon line-height-2" data-content>
        <div>
            <h3 class="blue flush text-ellipsis" style="padding-right: 80px;">{{ name }}</h3>
        </div>
        <div>
            <div>
                <div class="f-size-12 gray-light f-weight-500 text-ellipsis">
                    {{#if structure_type}}
                        {{structure_type}} ・
                    {{/if}}
                    {{ cities_text }}
                </div>
                <div class="text-ellipsis">
                    {{#if highlighted_comment_title}}
                        <div class="f-size-14 f-weight-600 inline-block v-middle text-ellipsis gray" style="max-width: 80%;">
                            <i class="fa fa-quotes v-super"></i> {{{ highlighted_comment_title }}}
                        </div>・
                    {{/if}}
                    <div class="inline-block v-middle f-size-14">
                        <i class="fa fa-comment"></i> {{ comments_count }} avis
                    </div>
                </div>
                <div class="text-ellipsis f-size-12 ">
                    <span class="f-weight-600">{{ current_filtered_subject_name }}</span>
                    {{#if subjects}}{{#if current_filtered_subject_name}}, {{/if}}{{ subjects }}{{/if}}
                </div>
            </div>
         </div>
    </div>
    <div class="absolute north east soft-half">
        <div class="epsilon f-weight-600 gray f-style-italic">
            {{#if is_open_for_trial}}
                Essai gratuit
            {{else}}
                {{#if min_price_amount}}
                    À p. de {{ min_price_amount }}€
                {{/if}}
            {{/if}}
        </div>
    </div>
</a>
