<a href="{{ data_url }}" class="muted-link opacity-hidden-on-hover__wrapper block">
    <div class="relative rslides-wrapper push-half--bottom" data-resizeable-height style="height: 200px">
        <ul class="rslides">
            {{#if preloaded_medias}}
                {{#each preloaded_medias}}
                    <li class="bg-cover" data-resizeable-height style="height: 200px">
                        <div class="media__item media__item--slides">
                            <span class="break-all" title="{{this.caption}}">
                                <img src="{{this.thumbnail_url}}" alt="{{this.caption}}"/>
                            </span>
                        </div>
                    </li>
                {{/each}}
            {{else}}
                <li class="bg-cover" data-resizeable-height style="height: 200px">
                    <div class="media__item media__item--slides">
                        <span class="break-all">
                            <img src="{{logo_large_url}}"/>
                        </span>
                    </div>
                </li>
            {{/if}}
        </ul>
        <div rel="slideshow-{{mediable_id}}" class="rslides_nav one-whole text--center">Voir le profil</div>
    </div>
    {{#if has_promotion}}
        <div class="north west absolute push on-under-top">
            <div class="inline-block lbl lbl--yellow milli v-middle"><i class="fa fa-star"></i> Promotions</div>
        </div>
    {{/if}}
    {{#if is_open_for_trial}}
        <div class="north west absolute push on-under-top">
            <div class="inline-block lbl lbl--yellow milli v-middle"><i class="fa fa-ticket"></i> Essai gratuit</div>
        </div>
    {{/if}}
    <div href="#" class="orange north east absolute push on-under-top heart-link" data-behavior='add-to-favorite' data-toggle='tooltip' data-added-title='Retirer de mes favoris' data-not-added-title='Ajouter à mes favoris' data-placement='left'>
        <i class="fa fa-heart-o fa-3x"></i>
    </div>

    <div class="soft-half--sides relative">
        <h4 class="flush v-top">
            {{ truncate name 29 }}
        </h4>
        <div style="padding-right: 60px;">
            {{#if structure_type}}{{ structure_type }} ・ {{/if}}
            {{ truncate cities 50 }}
        </div>
        <div>
            <div>
                <strong>
                    <i class="fa fa-comment"></i> {{ comments_count }} avis
                    {{#if highlighted_comment_title}}
                    ・ <i class="quoted milli">{{{truncate highlighted_comment_title 38}}}</i>
                    {{/if}}
                </strong>
            </div>
        </div>

        <img src="{{ logo_thumb_url }}" class="absolute on-under-top bordered rounded--circle bordered--larger border-color-white" alt="Cours de {{ parent_subjects_text }} à {{ name }}" style='width: 85px; height: 85px; top: -45px; right: 0;'>
    </div>
</a>
