<div class="flexbox white-box structure-item" data-el="structure-view">
    <div class="flexbox__item v-top structure-item__logo">
        <div class="relative">
            <a href="{{ query_url }}" class="block">
                <img src="{{ logo_thumb_url }}" class="block one-whole" alt="Cours de {{ parent_subjects_text }} à {{ name }}">
            </a>
        </div>
    </div><!--
 --><article class="flexbox__item six-tenths palm-eight-tenths v-top structure-item__see-all-wrapper structure-item__button line-height-1-7">
        <div class="relative full-height soft-half hard--right">
            <h4 class="flush v-top">
                <a class="v-middle" href="{{ query_url }}">{{ name }}</a>
                {{#if promotion_title}}
                    <div class="inline-block lbl lbl--yellow milli v-middle"><i class="fa fa-star"></i> {{promotion_title }}</div>
                {{/if}}
            </h4>
            <div>
                {{#if structure_type}}{{ structure_type }}{{else}}Structure{{/if}}
                ・
                <span data-toggle="tooltip" data-title="{{ cities }}">{{ truncate cities 60 }}</span>
            </div>
            <div>
                <div>
                    {{#ifCond regular_courses_plannings_count '>' 0 }}
                        Cours réguliers ({{regular_courses_plannings_count}} {{ pluralize regular_courses_plannings_count 'créneau' 'créneaux' }})
                    {{/ifCond}}
                    {{#ifCond regular_courses_plannings_count '>' 0 }}{{#ifCond training_courses_plannings_count '>' 0 }}・{{/ifCond}}{{/ifCond}}
                    {{#ifCond training_courses_plannings_count '>' 0 }}
                        Stages & ateliers ({{training_courses_plannings_count}} {{ pluralize training_courses_plannings_count 'date' 'dates' }})
                    {{/ifCond}}
                </div>
                {{#ifCond comments_count '>' 0 }}
                    <div>
                        <strong>
                            <i class="fa fa-comment"></i> {{ comments_count }} avis
                            {{#if highlighted_comment_title}}
                            ・ <i class="quoted milli">{{{truncate highlighted_comment_title 60}}}</i>{{/if}}
                        </strong>
                    </div>
                {{/ifCond}}

            </div>
            <div class="structure-item__see-all soft-half--sides">
                <a href="{{ query_url }}" class="btn btn--blue-green btn--full btn--small" data-wrapper=".structure-item__see-all-wrapper">Voir le profil</a>
            </div>
        </div>
    </article><!--
 --><div class="flexbox__item visuallyhidden--palm two-eighths v-middle text--center rslides-wrapper structure-item__see-all-wrapper">
        {{#if preloaded_medias}}
        <div class="relative full-height">
            <a class="structure-item__see-all rslides_nav rslides_nav--bottom" data-behavior="accordion-control" data-wrapper=".structure-item__see-all-wrapper" data-model="media" data-attributes="data_url">
                <span>Voir la galerie ({{medias_count}})</span>
            </a>
            <ul class="rslides hidden">
                {{#each preloaded_medias}}
                    <li class="bg-cover">
                        <a rel="slideshow-{{mediable_id}}" href="{{{this.url}}}" class="rslides_nav rslides_nav--icon {{#if this.is_video}}visible{{/if}}" data-behavior="fancy">
                            {{#if this.is_video}}
                                <i class="fa-youtube-play" style="line-height: 85px;"></i>
                            {{else}}
                                <i class="fa-eye"></i>
                            {{/if}}
                        </a>
                        <div class="media__item media__item--slides">
                            <a class="break-all" title="{{this.caption}}" href="{{this.url}}">
                                <img src="{{this.thumbnail_url}}" alt="{{this.caption}}"/>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{else}}
        <div class="text--center gray-light">
            <i class="fa fa-picture-o fa-3x gray-light"></i>
            <br />
            0 photo / vidéo
        </div>
        {{/if}}
    </div>
</div>
