.ilb-wrapper
  .one-third.islet
    %h5.flush--bottom Prix d'un cours individuel

    = simple_form_for [@course, @price || Price.new] do |f|
      = f.error_notification
      .input.inline-inputs.flush--top
        = f.hidden_field :libelle, value: 'prices.individual_course'
        = f.input :amount, placeholder: '45'
        €
        = f.submit 'Ajouter', class: 'btn btn__primary'
  .two-thirds.bordered--left.islet
    %h5.flush--bottom Prix au forfait
    - prices = [[t('prices.annual'), 'prices.annual'],[t('prices.two_lesson_per_week_package'), 'prices.two_lesson_per_week_package'],[t('prices.semester'), 'prices.semester'],[t('prices.trimester'), 'prices.trimester'],[t('prices.month'), 'prices.month'],[t('prices.trial_lesson'), 'prices.trial_lesson']]
    - prices_libelle = @prices.collect(&:libelle)
    - prices = prices.reject{|price| prices_libelle.include?(price[1]) }

    = simple_form_for [@course, @price || Price.new] do |f|
      = f.error_notification
      .input.inline-inputs.flush--top
        = f.input :libelle, as: :select, collection: prices
        = f.input :amount, placeholder: '45'
        €
        = f.submit 'Ajouter', class: 'btn btn__primary'
