- duration_collection = (4..12).collect{ |i| time = i*15; ["#{(time/60).floor}h#{(time%60 == 0 ? '' : time%60)}",time] }
- @book_tickets   ||= @course.book_tickets
- @discounts      ||= @course.discounts
- @subscriptions  ||= @course.subscriptions
- @registrations  ||= @course.registrations
- @trial          ||= @course.trial
= side_menu_currently_at 'Mes cours'

%ol.breadcrumb.bordered--bottom.soft-half--bottom.nav.delta{itemprop: 'breadcrumb'}
  %li= link_to 'Tous mes cours', pro_structure_courses_path(@structure)
  %li= @course.name

.btn-group.push-half--bottom>
  .btn>
    = link_to edit_pro_course_path(@course) do
      %i.lbc-icon-info i
      Info
  .btn.btn--active>
    = link_to pro_course_prices_path(@course) do
      € Tarifs
  .btn>
    = link_to pro_course_plannings_path(@course) do
      %i.icon-calendar
      Planning


- if @other_courses and @other_courses.any?
  .blue-box.islet
    .delta.inline-block Reprendre les tarifs d'un autre cours :
    = simple_form_for [:pro, @structure, @course], url: copy_prices_from_pro_course_path(@course), as: :course, method: :post, html: {class: 'inline-block'} do |f|
      = select_tag "course_id", options_from_collection_for_select(@other_courses, :id, :name)
      = f.submit 'Valider', class: 'btn btn--success'

= simple_form_for [:pro, @structure, @course], url: pro_course_path(@course), as: :course do |f|
  = f.error_notification
  %h5.form-header-group Au cours
  .form-white-box--large
    .grid--full.input.flush
      %label.control-label.grid__item &nbsp;
      %div{style: 'width: 170px;'}
        %b Prix normal
      .grid__item{style: 'width: 170px;'}
        %b Avec promo (optionnel)
        %br
        %i.blue Laissez vide si pas de promo
      .grid__item{style: 'width: 250px;'}
        %b
          %i.lbc-icon-info i
          Info
    .individual-book-tickets
      - @individual_courses.each_with_index do |item, i|
        = f.simple_fields_for :prices, item, child_index: i do |book_ticket_form|
          = book_ticket_form.input :type, as: :hidden
          .individual-book-ticket{class: book_ticket_form.object.persisted? ? 'persisted' : 'not-persisted hidden'}
            .input.flush
              %label.control-label
                = book_ticket_form.input :number, as: :hidden, value: 1
                %span 1 cours de
                %span.inline-block= book_ticket_form.input :duration, label: false, as: :select, collection: duration_collection, selected: book_ticket_form.object.duration || 60
              %div{style: 'width: 170px;'}
                = book_ticket_form.input :amount, placeholder: 'Ex. : 25', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'one-half inline-block'}, as: :string
                €
              %div{style: 'width: 170px;'}
                = book_ticket_form.input :promo_amount, placeholder: 'Ex. : 20', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'one-half inline-block'}, as: :string
                €
              = book_ticket_form.input :info, placeholder: 'Ex. : Valable 3 mois', label: false, input_html: {class: 'one-whole'}, wrapper_html: {style: 'width: 250px;'}
      .input.flush--top
        %label.control-label &nbsp;
        %a#add-individual-book-ticket{href: 'javascript:void(0)'}
          %i.icon-plus
          Ajouter une ligne

  %h5.form-header-group Au carnet
  .form-white-box--large
    .grid--full.input.flush
      %label.control-label.grid__item &nbsp;
      %div{style: 'width: 170px;'}
        %b Prix normal
      .grid__item{style: 'width: 170px;'}
        %b Avec promo (optionnel)
        %br
        %i.blue Laissez vide si pas de promo
      .grid__item{style: 'width: 250px;'}
        %b
          %i.lbc-icon-info i
          Info
    .book-tickets
      - @book_tickets.each_with_index do |item, i|
        - i += 100
        = f.simple_fields_for :prices, item, child_index: i do |book_ticket_form|
          = book_ticket_form.input :type, as: :hidden
          .book-ticket{class: book_ticket_form.object.persisted? ? 'persisted' : 'not-persisted hidden'}
            .input.flush
              %label.control-label
                %span.inline-block= book_ticket_form.input :number, label: false, as: :select, collection: 2..20, selected: book_ticket_form.object.number || 5
                %span cours de
                %span.inline-block= book_ticket_form.input :duration, label: false, as: :select, collection: duration_collection, selected: book_ticket_form.object.duration || 60
              %div{style: 'width: 170px;'}
                = book_ticket_form.input :amount, placeholder: 'Ex. : 120', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'one-half inline-block'}, as: :string
                €
              %div{style: 'width: 170px;'}
                = book_ticket_form.input :promo_amount, placeholder: 'Ex. : 100', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'one-half inline-block'}, as: :string
                €
              = book_ticket_form.input :info, placeholder: 'Ex. : Valable 3 mois', label: false, input_html: {class: 'one-whole'}, wrapper_html: {style: 'width: 250px;'}
      .input.flush--top
        %label.control-label &nbsp;
        %a#add-book-ticket{href: 'javascript:void(0)'}
          %i.icon-plus
          Ajouter une ligne

  %h5.form-header-group Abonnements
  .form-white-box--large
    .grid--full.input.flush
      %label.control-label.grid__item &nbsp;
      %div{style: 'width: 170px;'}
        %b Prix normal
      .grid__item{style: 'width: 170px;'}
        %b Avec promo (optionnel)
      .grid__item{style: 'width: 250px;'}
        %b
          %i.lbc-icon-info i
          Info
    .subscriptions
      - @subscriptions.each_with_index do |item, i|
        - # Adding 100 to index in order that indexes doesn't override each others
        - i += 200
        = f.simple_fields_for :prices, item, child_index: i do |price_form|
          .input.flush.subscription{class: item.persisted? ? 'persisted' : 'not-persisted hidden'}
            = price_form.input :type, as: :hidden
            = price_form.input :libelle, as: :select, collection: Price::Subscription::TYPES, label_method: lambda{|l| I18n.t(l)}, label: false, wrapper_html: {class: 'control-label'}, include_blank: false
            %div{style: 'width: 170px;'}
              = price_form.input :amount, placeholder: 'Ex. : 250', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'one-half inline-block'}, as: :string
              €
            %div{style: 'width: 170px;'}
              = price_form.input :promo_amount, placeholder: 'Ex. : 200', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'one-half inline-block'}, as: :string
              €
            = price_form.input :info, placeholder: 'Ex. : 1 cours par semaine', label: false, input_html: {class: 'one-whole'}, wrapper_html: {style: 'width: 250px;'}
    .input.flush--top
      %label.control-label &nbsp;
      %a#add-subscription{href: 'javascript:void(0)'}
        %i.icon-plus
        Ajouter un abonnement

  %h5.form-header-group Tarifs réduits
  .form-white-box--large
    .grid--full.input.flush
      %label.control-label.grid__item &nbsp;
      %div{style: 'width: 170px;'}
        %b % de promotion
      .grid__item{style: 'width: 250px;'}
        %b
          %i.lbc-icon-info i
          Info
    .discounts
      - @discounts.each_with_index do |item, i|
        - i += 300
        = f.simple_fields_for :prices, item, child_index: i do |price_form|
          = price_form.input :type, as: :hidden
          .input.flush.discount{class: price_form.object.persisted? ? 'persisted' : 'not-persisted hidden'}
            = price_form.input :libelle, as: :select, collection: Price::Discount::TYPES, label_method: lambda{|l| I18n.t(l)}, wrapper_html: {class: 'flush'}, label: false, wrapper_html: {class: 'control-label'}, include_blank: false
            %div{style: 'width: 170px;'}
              = price_form.input :promo_percentage, placeholder: 'Ex. : 20', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'one-half inline-block'}, as: :string
              \%
            = price_form.input :info, label: false, input_html: {class: 'one-whole'}, wrapper_html: {style: 'width: 250px;'}
    .input.flush--top
      %label.control-label &nbsp;
      %a#add-discount{href: 'javascript:void(0)'}
        %i.icon-plus
        Ajouter un tarif réduit

  %h5.form-header-group Autres tarifs
  .form-white-box--large
    .grid--full.input.flush
      %label.control-label.grid__item &nbsp;
      %div{style: 'width: 260px;'}
        %b Prix
      .grid__item{style: 'width: 250px;'}
        %b
          %i.lbc-icon-info i
          Info
    .registration-fees
      = f.simple_fields_for :prices, @trial, child_index: 400 do |registration_form|
        = registration_form.input :type, as: :hidden
        .input.flush
          = registration_form.label :amount, "Cours d'essai", class: 'control-label'
          .input.flush.inline-block{style: 'width: 100px;'}
            %input.width-auto.v-middle.inline-block{type: 'radio', id: "free_subscription_400", name: "subscription_400", checked: @trial.free?, class: 'free-input', data: {el: "#course_prices_attributes_400_amount"}}
            %label.v-middle.inline-block{for: "free_subscription_400"} Gratuit
          .input.flush.inline-block{style: 'width: 150px;'}
            %input.width-auto.v-middle.inline-block{type: 'radio', id: "non_free_subscription_400", name: "subscription_400", checked: (@trial.persisted? and !@trial.free?)}
            %label{for: "non_free_subscription_400"}
              = registration_form.input :amount, placeholder: 'Ex. : 15', label: false, input_html: {class: 'one-whole'}, wrapper_html: {style: 'width: 110px;'}, as: :string
            €
          = registration_form.input :info, placeholder: 'Ex. : Pour les étudiant', label: false, input_html: {class: 'one-whole'}, wrapper_html: {style: 'width: 250px;'}
      - @registrations.each_with_index do |item, i|
        - i += 400
        = f.simple_fields_for :prices, item, child_index: i do |registration_form|
          = registration_form.input :type, as: :hidden
          .input.flush.registration-fee{class: registration_form.object.persisted? ? 'persisted' : 'not-persisted hidden'}
            = registration_form.label :amount, 'Adhésion', class: 'control-label'
            .input.flush.inline-block{style: 'width: 100px;'}
              %input.width-auto.v-middle.inline-block{type: 'radio', id: "free_subscription_#{i}", name: "subscription_#{i}", checked: item.free?, class: 'free-input', data: {el: "#course_prices_attributes_#{i}_amount"}}
              %label.v-middle.inline-block{for: "free_subscription_#{i}"} Gratuit
            .input.flush.inline-block{style: 'width: 150px;'}
              %input.width-auto.v-middle.inline-block{type: 'radio', id: "non_free_subscription_#{i}", name: "subscription_#{i}", checked: (item.persisted? and !item.free?)}
              %label{for: "non_free_subscription_#{i}"}
                = registration_form.input :amount, placeholder: 'Ex. : 15', label: false, input_html: {class: 'one-whole'}, wrapper_html: {style: 'width: 110px;'}, as: :string
              €
            = registration_form.input :info, placeholder: 'Ex. : Pour les enfants', label: false, input_html: {class: 'one-whole'}, wrapper_html: {style: 'width: 250px;'}
      .input.flush--top
        %label.control-label &nbsp;
        %a#add-registration-fee{href: 'javascript:void(0)'}
          %i.icon-plus
          Ajouter un autre type d'adhésion

    = f.input :price_details, wrapper_html: {class: 'flush--bottom'}, input_html: { data: {behavior: 'autoresize' }}
    %p.field-form-info.blue Indiquez tous vos autres tarifs, les tarifs réduits (étudiants, chômeurs, etc.) et les différents modes de financement accetpés (CIF, DIF, Chèques Vacances, Tickets CAF, CESU, AFDAS, etc.).

  .form-actions
    = f.submit 'Enregistrer', class: 'btn btn--success'


- if action_name == 'update'
  = content_for :scripts do
    :javascript
      $(function() {
          $('.not-persisted.hidden').show();
      });

= content_for :scripts do
  :javascript
    $(function() {
        $('.free-input').change(function(event) {
            if (this.checked) {
              $($(this).data('el')).val(0);
            } else {
              $($(this).data('el')).val('');
            }
        });
        // ----------- Book tickets
        if ($('#add-individual-book-ticket').length > 0) {
            $('#add-individual-book-ticket').click(function() {
                var div_to_show = $('.individual-book-tickets .individual-book-ticket.not-persisted.hidden').first();
                if (div_to_show.length > 0) {
                    div_to_show.removeClass('hidden');
                    // Hide the link if there is no more to show
                    if ($('.individual-book-tickets .individual-book-ticket.not-persisted.hidden').first().length == 0) { $(this).hide(); }
                }
            });
            if ($('.individual-book-tickets .individual-book-ticket.persisted').length == 0) {
                $('#add-individual-book-ticket').click();
            }
        }
        if ($('#add-book-ticket').length > 0) {
            $('#add-book-ticket').click(function() {
                var div_to_show = $('.book-tickets .book-ticket.not-persisted.hidden').first();
                if (div_to_show.length > 0) {
                    div_to_show.removeClass('hidden');
                    // Hide the link if there is no more to show
                    if ($('.book-tickets .book-ticket.not-persisted.hidden').first().length == 0) { $(this).hide(); }
                }
            });
            if ($('.book-tickets .book-ticket.persisted').length == 0) {
                $('#add-book-ticket').click();
            }
        }
        // ----------- Subscriptions
        $('#add-subscription').click(function() {
            var div_to_show = $('.subscriptions .subscription.not-persisted.hidden').first();
            if (div_to_show.length > 0) {
                div_to_show.removeClass('hidden');
                // Hide the link if there is no more to show
                if ($('.subscriptions .subscription.not-persisted.hidden').first().length == 0) { $(this).hide(); }
            }
        });
        if ($('.subscriptions .subscription.persisted').length == 0) {
            $('#add-subscription').click();
        }
        // ----------- Discounts
        $('#add-discount').click(function() {
            var div_to_show = $('.discounts .discount.not-persisted.hidden').first();
            if (div_to_show.length > 0) {
                div_to_show.removeClass('hidden');
                // Hide the link if there is no more to show
                if ($('.discounts .discount.not-persisted.hidden').first().length == 0) { $(this).hide(); }
            }
        });
        if ($('.discounts .discount.persisted').length == 0) {
            $('#add-discount').click();
        }
        // ----------- Registration fees
        $('#add-registration-fee').click(function() {
            var div_to_show = $('.registration-fees .registration-fee.not-persisted.hidden').first();
            if (div_to_show.length > 0) {
                div_to_show.removeClass('hidden');
                // Hide the link if there is no more to show
                if ($('.registration-fees .registration-fee.not-persisted.hidden').first().length == 0) { $(this).hide(); }
            }
        });
        if ($('.registration-fees .registration-fee.persisted').length == 0) {
            $('#add-registration-fee').click();
        }
    });
