= side_menu_currently_at 'Mes cours'

%ol.nav.breadcrumb.alpha.header-group.header-group
  %li= link_to 'Tous mes cours', pro_structure_path(@structure)
  %li= link_to @course.name, edit_pro_course_path(@course)
  %li Prix


%ul.tabs
  %li
    = link_to edit_pro_course_path(@course) do
      %i.lbc-icon-info i
      Info
  %li.active
    %a € Tarif
  %li
    = link_to pro_course_plannings_path(@course) do
      %i.icon-calendar
      Planning

- prices ={ 'Abonnements' => [[t('prices.subscription.annual'), 'prices.subscription.annual'],[t('prices.subscription.semester'), 'prices.subscription.semester'],[t('prices.subscription.trimester'), 'prices.subscription.trimester'],[t('prices.subscription.month'), 'prices.subscription.month']], 'Promotions' => [[t('prices.promotion.student'), 'prices.promotion.student'], [t('prices.promotion.young_and_senior'), 'prices.promotion.young_and_senior'], [t('prices.promotion.job_seeker'), 'prices.promotion.job_seeker'], [t('prices.promotion.low_income'), 'prices.promotion.low_income'], [t('prices.promotion.large_family'), 'prices.promotion.large_family'], [t('prices.promotion.couple'), 'prices.promotion.couple'], [t('prices.promotion.trial_lesson'), 'prices.promotion.trial_lesson']]}

= simple_form_for [:pro, @structure, @course], url: pro_course_path(@course), as: :course do |f|
  %h5.form-header-group € Prix du #{@course.type_name_html.downcase.html_safe}
  = f.error_notification
  .form-white-box--large
    .grid--full.input
      %label.control-label.grid__item &nbsp;
      .grid__item.text--center{style: 'width: 200px;'}
        %b Prix normal
      .grid__item.text--center.soft-half--left{style: 'width: 190px;'}
        %b Avec promo (optionnel)
        %br
        %i.blue Laissez vide si pas de promo
    - @course.prices.each do |item, i|
      - if item.libelle == 'prices.individual_course'
        = f.simple_fields_for :prices, item, child_index: i do |price_form|
          = price_form.error_notification
          .input.flush
            = price_form.hidden_field :libelle
            = price_form.label "1 #{@course.type_name_html}".html_safe
            = price_form.input :amount, placeholder: '20', label: false, input_html: {class: 'one-whole'}
            €
            = price_form.input :promo_amount, placeholder: '18', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'push--left soft--left'}
            €

    - unless @course.is_training?
      .book-tickets
        = f.simple_fields_for :book_tickets do |book_ticket_form|
          .book-ticket{class: book_ticket_form.object.persisted? ? 'persisted' : 'not-persisted hidden'}
            = book_ticket_form.error_notification
            .input.flush
              %label.control-label
                %span Carnet de
                %span.inline-block= book_ticket_form.input :number, value: 10, label: false, as: :select, collection: 2..20, selected: 10
                %span cours
              = book_ticket_form.input :amount, placeholder: '45', label: false, input_html: {class: 'one-whole'}
              €
              = book_ticket_form.input :promo_amount, placeholder: '40', label: false, wrapper_html: {class: 'push--left soft--left'}, input_html: {class: 'one-whole'}
              €
        .input.flush--top
          %label.control-label &nbsp;
          %a#add-book-ticket{href: 'javascript:void(0)'} Ajouter un carnet

    %hr
    .prices
      .input.flush
        %label.control-label
          %h5.flush Abonnements & tarifs réduits
      - @course.prices.each do |item, i|
        - if item.libelle != 'prices.individual_course'
          = f.simple_fields_for :prices, item, child_index: i do |price_form|
            .input.flush.price{class: price_form.object.persisted? ? 'persisted' : 'not-persisted hidden'}
              = price_form.input :libelle, as: :grouped_select, collection: prices, group_method: :last, wrapper_html: {class: 'flush'}, label: false, wrapper_html: {class: 'control-label'}, include_blank: false
              = price_form.input :amount, placeholder: '20', label: false, input_html: {class: 'one-whole'}
              €
              = price_form.input :promo_amount, placeholder: '18', label: false, input_html: {class: 'one-whole'}, wrapper_html: {class: 'push--left soft--left'}
              €
      .input.flush--top
        %label.control-label &nbsp;
        %a#add-price{href: 'javascript:void(0)'} Ajouter un abonnement ou une promotion
    %hr
    .registration-fees
      = f.simple_fields_for :registration_fees do |registration_form|
        .input.flush.registration-fee{class: registration_form.object.persisted? ? 'persisted' : 'not-persisted hidden'}
          = registration_form.label :amount, 'Adhésion (optionnel)', class: 'control-label'
          = registration_form.input :amount, placeholder: '15', label: false, input_html: {class: 'one-whole'}
          €
          %span.soft--left Info
          = registration_form.input :info, placeholder: 'Pour les étudiant', label: false, input_html: {class: 'one-whole'}
      .input.flush--top
        %label.control-label &nbsp;
        %a#add-registration-fee{href: 'javascript:void(0)'} Ajouter un autre type d'adhésion
    %hr
    = f.input :price_details, wrapper_html: {class: 'flush--bottom'}, input_html: { name: 'price_details', data: {behavior: 'autoresize' }}
    %p.field-form-info.blue Indiquez tous vos autres tarifs, les tarifs réduits (étudiants, chômeurs, etc.) et les différents modes de financement accetpés (CIF, DIF, Chèques Vacances, Tickets CAF, CESU, AFDAS, etc.).

    .form-actions
      = f.submit 'Mettre à jour', class: 'btn btn--success'


= content_for :scripts do
  :javascript
    $(function() {
        // ----------- Book tickets
        if ($('#add-book-ticket').length > 0) {
            $('#add-book-ticket').click(function() {
                var div_to_show = $('.book-tickets .book-ticket.not-persisted.hidden').first();
                if (div_to_show.length > 0) {
                    div_to_show.removeClass('hidden');
                    // Hide the link if there is no more to show
                    if ($('.book-tickets .book-ticket.not-persisted.hidden').first().length == 0) { $(this).hide(); }
                }
            });
            if ($('.book-tickets .book-ticket.persisted').length == 0) {
                $('#add-book-ticket').click();
            }
        }
        // ----------- Registration fees
        $('#add-registration-fee').click(function() {
            var div_to_show = $('.registration-fees .registration-fee.not-persisted.hidden').first();
            if (div_to_show.length > 0) {
                div_to_show.removeClass('hidden');
                // Hide the link if there is no more to show
                if ($('.registration-fees .registration-fee.not-persisted.hidden').first().length == 0) { $(this).hide(); }
            }
        });
        if ($('.registration-fees .registration-fee.persisted').length == 0) {
            $('#add-registration-fee').click();
        }
        // ----------- Prices
        $('#add-price').click(function() {
            var div_to_show = $('.prices .price.not-persisted.hidden').first();
            if (div_to_show.length > 0) {
                div_to_show.removeClass('hidden');
                // Hide the link if there is no more to show
                if ($('.prices .price.not-persisted.hidden').first().length == 0) { $(this).hide(); }
            }
        });
        if ($('.prices .price.persisted').length == 0) {
            $('#add-price').click();
        }
    });
