= side_menu_currently_at 'Mes cours'

%h2.header-group.flush--bottom Prix - #{@course.name}
%p
  = link_to pro_structure_path(@structure) do
    %i.icon-double-angle-left
    Retour aux cours
  &nbsp;|&nbsp;
  = link_to edit_pro_course_path(@course) do
    %i.lbc-icon-info i
    Info
  &nbsp;|&nbsp;
  = link_to '#' do
    %b € Tarif
  &nbsp;|&nbsp;
  = link_to pro_course_plannings_path(@course) do
    %i.icon-calendar
    Planning


- prices = [[t('prices.annual'), 'prices.annual'],[t('prices.semester'), 'prices.semester'],[t('prices.trimester'), 'prices.trimester'],[t('prices.month'), 'prices.month']]
= simple_form_for [:pro, @course], url: update_price_pro_course_path(@course) do |f|
  %h5.form-header-group Prix du #{@course.type_name_html.downcase.html_safe}
  .form-white-box--large
    .grid--full.input
      %label.control-label.grid__item &nbsp;
      .grid__item.text--center{style: 'width: 200px;'}
        %b Prix normal
      .grid__item.text--center.soft-half--left{style: 'width: 190px;'}
        %b Avec promo (optionnel)
    = simple_fields_for @individual_price do |price_form|
      = price_form.hidden_field :libelle, value: 'prices.individual_course', name: 'individual_course_price[libelle]'
      .input.inline-inputs.flush--top
        = price_form.label "1 #{@course.type_name_html}".html_safe, style: 'width: 250px; padding-right: 1em;', class: 'text--right'
        = price_form.input :amount, placeholder: '20', label: false, input_html: {name: 'individual_course_price[amount]'}
        €
        = price_form.input :promo_amount, placeholder: '18', label: false, input_html: {name: 'individual_course_price[promo_amount]'}, wrapper_html: {class: 'push--left soft--left'}
        €

    - unless @course.is_training?
      = simple_fields_for @book_ticket do |book_ticket_form|
        = book_ticket_form.hidden_field :number, value: 10
        .input.inline-inputs.flush--top
          = book_ticket_form.label :amount, "Carnet de 10 #{@course.type_name_html.downcase}".html_safe, style: 'width: 250px; padding-right: 1em;', class: 'text--right'
          = book_ticket_form.input :amount, placeholder: '45', label: false
          €
          = book_ticket_form.input :promo_amount, placeholder: '40', label: false, wrapper_html: {class: 'push--left soft--left'}
          €

    - if @course.is_lesson?
      = simple_fields_for @subscription do |forfait_form|
        .input.inline-inputs.flush--top
          = forfait_form.input :libelle, as: :select, collection: prices, include_blank: false, label: false, wrapper_html: {style: 'width: 250px; padding-right: 1em;', class: 'text--right'}
          = forfait_form.input :amount, placeholder: '150', label: false
          €
          = forfait_form.input :promo_amount, placeholder: '130', label: false, wrapper_html: {class: 'push--left soft--left'}
          €

    %hr
    = simple_fields_for @registration_fee do |registration_form|
      .input.inline-inputs.flush--top
        = registration_form.label :amount, 'Adhésion (optionnel)', style: 'width: 250px; padding-right: 1em;', class: 'text--right'
        = registration_form.input :amount, placeholder: '15', label: false
        €
    %hr
    = f.input :price_details, wrapper_html: {class: 'flush--bottom'}, input_html: { name: 'price_details', data: {behavior: 'autoresize' }}
    %p.field-form-info.blue Indiquez tous vos autres tarifs, les tarifs réduits (étudiants, chômeurs, etc.) et les différents modes de financement accetpés (CIF, DIF, Chèques Vacances, Tickets CAF, CESU, AFDAS, etc.).

  .form-actions
    - if @course.plannings.empty?
      = f.submit 'Valider et renseigner mon planning', class: 'btn btn__success'
    - else
      = f.submit 'Mettre à jour', class: 'btn btn__success'
