= side_menu_currently_at 'pages'

= render partial: 'pro/shared/pages_tabs', locals: { current: 'press' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Articles de presse
  .flexbox__item.v-middle.text--right
    = link_to new_admin_press_article_path, class: 'btn btn--green' do
      %i.fa.fa-plus
      Ajouter un article de presse

- @press_articles.each do |press_article|
  - cache [press_article, 'pro/press_article/index'] do
    .grid.push--bottom
      .grid__item.one-fifth.v-top>
        = link_to press_article.url, target: :_blank, class: 'block muted-link' do
          = image_tag press_article.logo.url(:original)
      .grid__item.four-fifths>
        .message__appendix.message__body.gray-box.soft
          .gray.float--right= l(press_article.published_at)
          = link_to press_article.url, target: :_blank, class: 'block epsilon f-weight-bold push-half--bottom' do
            = press_article.title
          %p.flush
            = press_article.description
        = link_to 'Editer', edit_admin_press_article_path(press_article)
        \/
        = link_to 'Supprimer', admin_press_article_path(press_article), method: :delete
