.bg-white
  %div CoursAvenue
  .grid
    .grid__item.seven-tenths>
    .grid__item.three-tenths>
      %div
        %strong Facture n° #{@order.public_order_id}
      %div Date : #{l(@order.created_at.to_date)}
      %div
        Moyen de paiement : carte bancaire
  %div.three-tenths>
    %div CoursAvenue SAS
    %div 39 boulevard Auguste Blanqui
    %div 75013 Paris
    %div FRANCE

  .grid
    .grid__item.seven-tenths>
    .grid__item.three-tenths>
      %div
        %strong Destinataire
      %div= @user.name
      %div France
  %p
    %strong
      Détails de la facture
  %table.table--data.table--striped
    %thead
      %tr
        %th Type
        %th Description
        %th Qté
        %th TVA
        %th Prix Unit.
        %th.text--right Montant
    %tbody
      %tr.bordered--bottom
        %td Pass CoursAvenue
        %td
        %td 1
        %td 20%
        %td= readable_amount(@order.amount)
        %td.text--right= readable_amount(@order.amount)
      %tr.no-stripe
        %td
        %td
        %td
        %td
        %td Remise
        %td.text--right 0,00€
      %tr.no-stripe
        %td
        %td
        %td
        %td
        %td Total HT
        %td.text--right= readable_amount(@order.amount / 1.20)
      %tr.no-stripe
        %td
        %td
        %td
        %td
        %td TVA
        %td.text--right= readable_amount(@order.amount - @order.amount / 1.20)
      %tr.no-stripe.f-weight-bold
        %td
        %td
        %td
        %td
        %td Total TTC
        %td.text--right= readable_amount(@order.amount)
      %tr.no-stripe.f-weight-bold
        %td
        %td
        %td
        %td
        %td PAYÉ
        %td.text--right= readable_amount(@order.amount)

  %div Siret : 79009610100015 - APE 6201Z - 790 096 101 R.C.S. Paris
  %div N° TVA intracommunautaire FR01790096101
  %div CoursAvenue - SAS au capital de 19 748 euros
