= side_menu_currently_at 'comments'

= render partial: 'pro/structures/comments_tabs', locals: { current: 'comments_on_website' }

%h1 Livre d'Or sur votre site web

%p.delta.line-height-1-3 Equipez votre site Internet d'une page Livre d'Or optimisée et augmentez votre nombre d'inscrits :

%p.delta.line-height-1-3 1. Créez un bouton ou une rubrique « Livre d'Or » sur votre site Internet

%p.delta.line-height-1-3
  2. Après avoir obtenu vos premiers avis
  = precede '(' do
    = succeed '),' do
      = link_to 'demander des recommandations', recommendations_pro_structure_path(@structure)
  copiez et associez le lien suivant à votre rubrique « Livre d'Or » :
  = link_to reviews_structure_url(@structure, subdomain: 'www'), reviews_structure_url(@structure, subdomain: 'www'), target: :_blank

%p.delta.line-height-1-3 3. C'est fait ! Votre site Internet va maintenant pouvoir développer votre bouche à oreille sur Internet

%hr.push--ends

%p.delta.line-height-1-3
  %i
    Préférez-vous avoir un widget sur votre site ?
    = link_to 'Cliquez ici.', 'javascript:void(0)', data: { toggle: true }

#widget.hidden.push--top
  %h2 Ajouter un Widget sur votre site web
  = render partial: 'pro/structures/widget_instruction'

- content_for :scripts do
  :javascript
      $('[data-toggle]').click(function() {
          $('#widget').slideToggle();
      });
