= side_menu_currently_at "Mes avis"

/ .text--center
/   %p.alert--info.one-half
/     Dites à vos élèves de donner des avis sur vos cours, vous serez plus visible !

%h5.home-title Faites-vous recommander par vos élèves
= form_tag get_feedbacks_pro_structure_path(@structure) do
  .grid
    .grid__item.one-third>
      %p Une fois votre demande envoyé, vos élèves pourront s'inscrire sur CoursAvenue et laisser un avis sur vos cours ou votre structure.
    .grid__item.two-thirds>
      %textarea{name: 'emails', rows: 5, cols: 70, placeholder: 'patrick@gmail.com, thomas@gmail.com'}
      %p
        Séparez chaque email par une virgule.
        = link_to "Qu'est-ce que mes élèves vont recevoir ?", '#', data: { behavior: 'modal', title: "Une recommandation à #{@structure.name} sur CoursAvenue", width: '700px', el: 'mail-content'}
      = submit_tag 'Envoyer ma demande', class: 'btn btn__success'
#mail-content.hidden
  = render template: 'admin_mailer/send_feedbacks'

%hr.push-half--top

%h3
  %i.icon-comments-alt
  Avis sur mes établissements
- if @places_comments.empty?
  %p Encore aucun commentaire.
- else
  - @places_comments.each do |place, comments|
    %h4.flush--bottom
      = place.name
      = rating_stars place.rating
      #{place.rating}
    - if comments.empty?
      Pas encore d'avis. Sollicitez vos élèves !
    - else
      %ul.comment-list
        = render partial: '/comments/comment', collection: comments
%h3
  %i.icon-comments-alt
  Avis sur mes cours
- if @courses_comments.empty?
  %p Encore aucun commentaire.
- else
  - @courses_comments.each do |course, comments|
    %h4.flush--bottom
      = course.name
      = rating_stars course.rating
      = course.rating
    - if comments.empty?
      Pas encore d'avis. Sollicitez vos élèves !
    - else
      %ul.comment-list
        = render partial: '/comments/comment', collection: comments
