= side_menu_currently_at 'comments'
.panel
  = render partial: 'pro/structures/comments_tabs', locals: { current: 'comments' }

  .soft
    - if @waiting_for_deletion_comments.any?
      %h4.push-half--bottom Avis en attente de suppression par l'équipe CoursAvenue
      %ul.comment-list
        = render partial: '/comments/comment', collection: @waiting_for_deletion_comments
      %hr.push--ends

    - if @pending_comments.any?
      %h4.flush Avis en attente de validation
      %p.blue.push-half--bottom.f-weight-bold
        %i Validez les avis si ce sont bien vos élèves. Une fois validé, l'avis sera visible sur votre profil public.
      - @pending_comments.each do |comment|
        - cache [comment, 'pro/structure/comments/index/pending'] do
          .grid.push-half--bottom
            .grid__item.three-quarters.v-middle>
              %p.flush.epsilon
                %b= comment.author_name
                = "(#{comment.email})"
            .grid__item.one-quarter.v-middle.text--right.nowrap>
              = succeed ' ' do
                = link_to accept_pro_structure_comment_path(@structure, comment), class: 'btn btn--small btn--green', method: :patch do
                  %i.fa.fa-check
                  Valider
              = link_to decline_pro_structure_comment_path(@structure, comment), class: 'btn btn--small btn--red', method: :patch do
                %i.fa.fa-times
                Rejeter
      %hr.push-half--ends

    %h4.push-half--bottom Avis validés
    .text--center.push-half--ends= paginate @comments, window: 1, outer_window: 3
    - if @comments.empty?
      .dashed--medium.height-35vh.width-auto.flex.flex-col.flex-just-center.flex-align-center.soft.min-w1
        .flex-2.flex.flex-just-center.flex-align-center.text--center.one-half
          %p.flush
            Vous n'avez pas encore d'avis. Demandez à vos élèves leurs recommendations et créez votre livre d'Or à afficher sur votre site Internet.
        .flex-1.flex.flex-col
          .flex-1
            = link_to recommendations_pro_structure_path(@structure), class: 'btn btn--full line-height-2 text--center btn--blue' do
              %i.fa.fa-plus.small
              Demander des recommandations
    - else
      %ul.comment-list
        - @comments.each do |review|
          - cache [review, 'pro/structure/comments/index'] do
            = render partial: '/comments/comment', locals: { with_reply: true, comment: review }
      .text--center.push-half--ends= paginate @comments, window: 1, outer_window: 3
