= side_menu_currently_at "Mes avis"
%ul.tabs
  %li.active
    = link_to pro_structure_comments_path(@structure) do
      %i.icon-comments
      Mes avis
  %li
    = link_to recommendations_pro_structure_path(@structure) do
      %i.icon-bullhorn
      Demander des recommandations

%h4.push--top
  %i.icon-comments-alt
  Sur mon établissement
- if @structure_comments.empty?
  %p
    Encore aucun commentaire.
- else
  %ul.comment-list
    = render partial: '/comments/comment', collection: @structure_comments
%h4
  %i.icon-comments-alt
  Avis sur mes cours
- if @courses_comments.empty?
  %p Encore aucun commentaire.
- else
  - @courses_comments.each do |course, comments|
    %h4.flush--bottom
      = link_to course_url(course, subdomain: 'www'), title: 'Voir le cours sur CoursAvenue' do
        %i.icon-external-link
      = course.name
      = rating_stars course.rating
      = course.rating
    - if comments.empty?
      Pas encore d'avis. Sollicitez vos élèves !
    - else
      %ul.comment-list
        = render partial: '/comments/comment', collection: comments
