= side_menu_currently_at 'comments'
= render partial: 'pro/structures/comments_tabs', locals: { current: 'comments' }

%div{ data: { behavior: 'wizard-helper', content: t('comments.wizard.infos') } }
  .grid.push--bottom
    .grid__item.v-middle.one-half.palm-one-whole>
      %h1.flush
        Avis
  - if @structure.comments.any?
    = "(#{@structure.comments.count})"
    - if @structure.comments.any?
      .grid__item.v-middle.text--right.one-half.palm-one-whole.palm-text--left>
        = link_to recommendations_pro_structure_path(@structure), class: 'btn btn--green' do
          %i.fa.fa-plus
          Obtenir plus d'avis

  - if @waiting_for_deletion_comments.any?
    %h3 Avis en attente de suppression par l'équipe CoursAvenue
    %ul.comment-list
      = render partial: '/comments/comment', collection: @waiting_for_deletion_comments
    %hr.push--ends

  - if @structure.comments.empty?
    .bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.text--center
      %p.delta.line-height-1-7
        Vous n'avez pas encore reçu d'avis.
        %br
        Demandez à vos élèves leurs recommandations et créez votre
        %br
        = link_to "livre d'Or", comments_on_website_pro_structure_comments_path(@structure)
        à afficher sur votre propre site Internet :
      %div
        = link_to recommendations_pro_structure_path(@structure), class: 'btn btn--green' do
          %i.fa.fa-plus
          Demander des recommandations
  - elsif @comments.any?
    .text--center.push-half--ends= paginate @comments, window: 1, outer_window: 3
    %ul.comment-list
      - @comments.each do |review|
        - cache [review, 'pro/structure/comments/index'] do
          = render partial: 'comments/comment', locals: { with_reply: true, comment: review }
    .text--center.push-half--ends= paginate @comments, window: 1, outer_window: 3

= content_for :scripts do
  :javascript
    $(document).ready(function() {
        if ($('#comment-reply-button-#{ params[:comment] }').length) {
            $("#comment-reply-button-#{ params[:comment] }").click();
        }
    });
