= side_menu_currently_at "Mes avis"
.text--center
  = link_to "Solliciter mes élèves les plus fidèles pour avoir plus d'avis !", recommendations_pro_structure_path(@structure), class: 'btn btn__success btn__large push--bottom'

%h3
  %i.icon-comments-alt
  Avis sur mon établissement
- if @structure_comments.empty?
  %p
    Encore aucun commentaire.
- else
  %ul.comment-list
    = render partial: '/comments/comment', collection: @structure_comments
%h3
  %i.icon-comments-alt
  Avis sur mes cours
- if @courses_comments.empty?
  %p Encore aucun commentaire.
- else
  - @courses_comments.each do |course, comments|
    %h4.flush--bottom
      = course.name
      = rating_stars course.rating
      = course.rating
    - if comments.empty?
      Pas encore d'avis. Sollicitez vos élèves !
    - else
      %ul.comment-list
        = render partial: '/comments/comment', collection: comments
