= side_menu_currently_at "Mes avis"

= render partial: 'pro/structures/comments_tabs', locals: {current: 'comments'}

.text--center.soft--bottom
  = link_to "Obtenir plus d'avis", recommendations_pro_structure_path(@structure), class: 'btn btn--blue btn--large'

- if @waiting_for_deletion_comments.any?
  %h3.push-half--bottom Avis en attente de suppression par l'équipe CoursAvenue
  %ul.comment-list
    = render partial: '/comments/comment', collection: @waiting_for_deletion_comments
  %hr

- if @pending_comments.any?
  %h3.flush Avis en attente de validation
  %p.blue.push-half--bottom
    %i Validez les avis si ce sont bien vos élèves. Une fois validé, l'avis sera visible sur votre profil public.
  - @pending_comments.each do |comment|
    .white-box.islet
      .grid
        .grid__item.three-quarters.v-middle>
          %p.flush
            %b= comment.author_name
            = "(#{comment.email})"
        .grid__item.one-quarter.v-middle>
          = link_to accept_pro_structure_comment_path(@structure, comment), class: 'btn btn--green', method: :put do
            %i.icon-ok
            Valider
          = link_to decline_pro_structure_comment_path(@structure, comment), class: 'btn btn--red', method: :put do
            %i.icon-remove
            Rejeter
  %hr

- if @comments.empty?
  %p.white-box.islet Encore aucun avis.
- else
  %ul.comment-list
    = render partial: '/comments/comment', collection: @comments
