= side_menu_currently_at 'pro_dashboard'

= render partial: 'pro/shared/dashboard_tabs', locals: { current: 'admins' }
%h1 Liste des admins

.push-half--bottom= paginate @admins, window: 2, outer_window: 1

.push-half--bottom
  %input.input--large.one-whole#search-input{ type: 'text', placeholder: 'Cherchez un établissement' }

= link_to 'Voir les structures sans admins', pro_structures_path
%table.table--striped.table--data.table-responsive#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th
        %span Établissements
      %th
        %span Disciplines
      %th
        %span Avis
      %th
        %span Date d'inscription
      %th.hidden
        %span Dernière date de connexion
      %th
  %tbody
    - @admins.each do |admin|
      - next if admin.structure.nil?
      - cache [admin.structure, admin, 'pro/admins/index'] do
        %tr
          %td{ data: { th: 'Nom' } }
            %div= link_to admin.email, edit_pro_structure_admin_path(admin.structure, admin)
          %td{ data: { th: 'Établissements' } }
            %div
              - if admin.structure
                = link_to dashboard_pro_structure_path(admin.structure) do
                  - if admin.structure.logo?
                    = image_tag admin.structure.logo.url(:thumb), height: 15
                  = admin.structure.name
          %td{ data: { th: 'Disciplines' } }
            %div
              - if admin.structure
                = join_parent_subjects_text admin.structure
          %td.nowrap{ data: { th: 'Avis', value: (admin.structure ? admin.structure.rating : 0) } }
            %div
              - if admin.structure
                = admin.structure.comments_count
          %td{ data: { value: admin.created_at, th: "Date d'inscription" } }
            %div= l(admin.created_at, format: :date_short)
          %td.hidden{ data: { value: admin.current_sign_in_at, th: 'Inscription' } }
            %div= l(admin.current_sign_in_at) if admin.current_sign_in_at
          %td.text--right.nowrap{ data: { th: 'Dernière date de connexion' } }
            %div
              - if admin.confirmed?
                .switch-button.on
                  Actif
              - else
                = link_to 'Inactif', confirm_admin_admin_path(admin), class: 'switch-button off', method: :patch
              &nbsp;
              = link_to edit_admin_admin_path(admin), title: 'Modifier', class: 'btn btn--warning' do
                %i.fa-pencil
              &nbsp;
              - if admin.structure
                = link_to pro_structure_path(admin.structure), method: :delete, title: 'Supprimer', class: 'btn btn--red', data: {confirm: 'Êtes-vous sur de supprimer cet admin et TOUS ses cours ?'} do
                  %i.fa-trash-o

.push-half--bottom= paginate @admins, window: 2, outer_window: 1
%script#structure-item-template{:type => 'text/x-handlebars-template'}
  %div{style: 'font-size: 13px;'}
    {{name}}

= content_for :scripts do
  = javascript_include_tag 'https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js'
  :javascript
    $(function() {
        var template = Handlebars.compile($('#structure-item-template').html());
        var algolia  = algoliasearch('#{ENV["ALGOLIA_APPLICATION_ID"]}', '#{ENV["ALGOLIA_SEARCH_API_KEY"]}');
        var index    = algolia.initIndex('Structure_' + ENV.SERVER_ENVIRONMENT);

        $('#search-input').typeahead({ highlight : true }, [
          {
            templates: {
                suggestion: template
            },
            limit: 10,
            source: index.ttAdapter({hitsPerPage: 5}),
          }
        ]);
        $('#search-input').on('typeahead:selected', function(event, data){
            window.open('/etablissements/' + data.slug)
        });
    })
