= link_to '← Retour à la page cours', course_path(@course)
%h2.flush--bottom Réservation du cours :  #{@course.name}
%h4.flush--bottom= @place.long_name
%h5
  %i.icon-map-marker
  %i= @place.address

= simple_form_for @reservation, url: course_reservations_path do |f|
  %h4.small-margin-bottom Choix de la séance et du tarif
  .white-box.islet.text--center
    .grid
      .grid__item.width-auto{style: 'margin-right: 1em;'}>
        %label Choix de la séance
        = f.association :planning, collection: @plannings.order('start_date'), label_method: label_method_for_collection(@course.type), label: false, include_blank: false
      - if @course.is_lesson?
        .grid__item.width-auto.bordered--left.bordered--right{style: 'padding-left: 1em; padding-right: 1em; margin-right: 1em;'}>
          %label Jour précis (optionnel)
          = f.input :start_date, as: :string, input_html: {data: {behavior: 'datepicker'}, style: 'margin-top: 8px; width: 8em;', class: 'text--center'}, label: false, placeholder: 'jj/mm/yyyy', wrapper_html: {class: 'flush--top'}
      .grid__item.width-auto{style: 'padding-left: 1em; margin-right: 1em;'}>
        %label Choix du tarif
        = f.association :price, collection: @prices + @book_tickets, label_method: lambda {|price| "#{((price.is_a? Price) ? t(price.libelle) : price.libelle)} : #{readable_amount(price.amount)}€" }, label: false, include_blank: false, value_method: lambda {|price| price.amount}, input_html: {name: 'none', id: 'price_select'}
        #promotion-box.green.bold
      / .bordered--left{style: 'padding-left: 1em;'}
      /   = f.label :nb_participants
      /   = f.input :nb_participants, collection: 1..10, include_blank: false, label: false
      = f.association :price, as: :hidden
      = f.association :book_ticket, as: :hidden
  - unless @reservation.errors.any?
    .text--center
      %a#show-first-section.btn.btn--success.btn--large{onclick: "_gaq.push(['_trackEvent', 'Reservation page', 'next','#{@course.slug}'])"} Continuer

  #first-hidden-section{style: @reservation.errors.any? ? '' : 'opacity: 0'}
    %h4.small-margin-bottom Vos informations personnelles
    .white-box.islet
      .grid.text--center
        .grid__item.islet.flush--bottom.one-third>
          = f.label :name, class: 'text--left'
          = f.input :name, label: false, input_html: {style: 'width: 15em;'}, wrapper_html: {class: 'flush--top text--left'}
        .grid__item.islet.flush--bottom.one-third>
          = f.label :email, class: 'text--left'
          = f.input :email, label: false, input_html: {style: 'width: 15em;'}, wrapper_html: {class: 'flush--top text--left'}
        .grid__item.islet.flush--bottom.one-third>
          = f.label :phone, class: 'text--left'
          = f.input :phone, label: false, input_html: {style: 'width: 15em;'}, wrapper_html: {class: 'flush--top text--left'}
    .text--center
      = f.submit 'Réserver', class: 'btn btn--success btn--large', onclick: "_gaq.push(['_trackEvent', 'Reservation page', 'submit','#{@course.slug}'])"

= content_for :scripts do
  :javascript
      window.addEvent('domready', function() {
          $('show-first-section').addEvent('click', function(){
              this.fade('out');
              $('first-hidden-section').fade('in');
          });
          var plannings     = #{@plannings.to_json};
          var prices        = #{@prices.to_json};
          var book_tickets  = #{@book_tickets.to_json};
          var update_promotion = function() {
              var planning_id       = parseInt($('reservation_planning_id').value);
              var selected_planning = plannings.filter(function(planning) { return planning.id == planning_id})[0]
              var value_price       = $('price_select').value;
              var new_price         = parseFloat($('price_select').value) * (100 + parseFloat(selected_planning.promotion)) / 100;
              if (selected_planning.promotion) {
                  $('promotion-box').set('text', 'Après réduction : ' + new_price + '€');
              } else {
                  $('promotion-box').set('text', '');
              }
              var new_price_id_element = prices.filter(function(price) { return price.amount === value_price })[0];
              if (new_price_id_element) {
                  $('reservation_price_id').set('value', new_price_id_element.id);
              } else {
                  $('reservation_price_id').set('value', '');
              }
              var new_book_ticket_id_element = book_tickets.filter(function(book_ticket) { return book_ticket.price === value_price })[0];
              if (new_book_ticket_id_element) {
                  $('reservation_book_ticket_id').set('value', new_book_ticket_id_element.id);
              } else {
                  $('reservation_book_ticket_id').set('value', '');
              }
          };
          update_promotion();
          $('reservation_planning_id').addEvent('change', update_promotion);
          $('price_select').addEvent('change', update_promotion);
          // ----------------------- Logger
          $("show-first-section").addEvent("click", function(){
              new Request.JSON({
                  url: '/click_loggers',
                  data: {
                    click_logger: {
                      name: "Reservation - Continuer"
                    }
                  }
              }).post();
          });
          $("show-second-section").addEvent("click", function(){
              new Request.JSON({
                  url: '/click_loggers',
                  data: {
                    click_logger: {
                      name: "Reservation - Payer"
                    }
                  }
              }).post();
          });
      });
