%h4 Avez-vous installé votre livre d'or ?
%p
  Vous avez récemment dépassé les 5 recommandations sur votre profil CoursAvenue. Pour vous en féliciter, nous vous offrons la possibilité de les afficher publiquement sur votre propre site Internet ou blog : avez-vous déjà installé votre livre d'or ?

%p
  = link_to I18n.t('structures.widget_status.installed'), update_widget_status_pro_structure_url(@structure, status: 'installed', subdomain: 'pro'), class: 'btn'
  = link_to I18n.t('structures.widget_status.need_help'), update_widget_status_pro_structure_url(@structure, status: 'need_help', subdomain: 'pro'), class: 'btn'
  = link_to I18n.t('structures.widget_status.dont_want'), update_widget_status_pro_structure_url(@structure, status: 'dont_want', subdomain: 'pro'), class: 'btn'
  = link_to I18n.t('structures.widget_status.remind_me'), update_widget_status_pro_structure_url(@structure, status: 'remind_me', subdomain: 'pro'), class: 'btn'
%p
  = link_to "L'installer tout de suite", widget_pro_structure_path(@structure), class: 'btn btn--green'
