- content_for :email_title do
  REPONDEZ AU DESSUS DE CETTE LIGNE
  %br
  Répondez à #{@user.name} en répondant directement à cet e-mail
  %hr

.p
  Bonjour,

.p
  Malheureusement, #{@user.name} vient d'annuler son inscription au cours "#{@course.name}" qui était prévu le
  - if @participation_request.cancelation_reason and !@participation_request.cancelation_reason.hidden?
    %strong= "#{@participation_request_decorator.day_and_hour}"
    = "(motif : \"#{t(@participation_request.cancelation_reason.name).downcase})\"."
  - else
    %strong= "#{@participation_request_decorator.day_and_hour}."
  Pour lui proposer une autre séance ou tout simplement discuter, envoyez-lui un message depuis votre onglet "Mes inscriptions" :

.p.action
  = link_to "Visualiser mes inscriptions", pro_structure_participation_requests_path(@structure, subdomain: 'pro'), class: 'btn btn--green'

- if @message
  = render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user }

.soft-half--top
  = render 'shared/mailers/footer'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/teacher_faq'
