- content_for :email_title do
  #{@user.name} vient de confirmer sa présence

.p
  Bonjour,

.p
  Suite à votre modification de créneau, #{@user.name} vient de confirmer sa présence au cours "#{@course.name}" le
  %strong= @participation_request_decorator.day_and_hour
  - if @place
    au #{@place.address} (#{@place.name}).
  En cas d'annulation, de changement d'horaire ou si vous souhaitez tout simplement lui envoyer une information supplémentaire, envoyez-lui un message depuis votre onglet "Mes inscriptions" :

.p.action
  = link_to "Visualiser mes inscriptions", pro_structure_participation_requests_path(@structure, subdomain: 'pro'), class: 'btn btn--green'

- if @message
  = render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user }

.soft-half--top
  = render 'shared/mailers/footer'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/teacher_faq'
