- content_for :email_title do
  Répondez à #{@structure.name} en répondant directement à cet e-mail
  %hr

.p
  Bonjour #{@user.first_name},

.p
  #{@structure.name} vient de vous envoyer un message concernant votre demande d'inscription pour le cours "#{@course.name}" du
  %strong= "#{@participation_request_decorator.day_and_hour}"
  - if @place
    au #{@place.address} (#{@place.name}).
  Connectez-vous à votre profil pour lui répondre :

.p.action
  = link_to "Répondre au message", structure_website_structure_participation_request_url(@participation_request.structure, @participation_request.token, subdomain: 'www'), class: 'btn btn--green'

- if @message
  .soft--bottom
    = render partial: 'mailboxer_message_mailer/message_to_user', locals: { message: @message, structure: @structure }

= render 'shared/mailers/footer'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/user_participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'
