- content_for :email_title do
  Vous venez d'accepter l'inscription à #{@user.name} au cours d'essai "#{@participation_request.course.name}"

.p
  Bonjour,

.p
  Vous venez d'accepter l'inscription à #{@user.name} au cours d'essai "#{@participation_request.course.name}" le
  %strong= "#{l(@participation_request.date, format: :semi_short)} à #{l(@participation_request.start_time, format: :short)}"
  (lieu : #{@participation_request.planning.place.name}). Un e-mail de confirmation vient de lui être envoyé.

.p
  Retrouvez toutes les réservations confirmées dans votre profil, rubrique "Pass Découverte" :

.p.action
  = link_to "Suivre l'état de mes demande d'inscription", pro_structure_participation_requests_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'

.p
  En cas d'annulation, de changement d'horaire ou si vous souhaitez tout simplement envoyer une information supplémentaire à l'élève, envoyez-lui un message depuis votre onglet "Messagerie" :

.p.action
  = link_to "Envoyer un message / Modifier le créneau / Annuler", pro_structure_conversation_url(@admin.structure, @conversation, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn'

.p
  Nous vous souhaitons une très belle séance !

= render 'shared/mailers/footer'

- content_for :under_content do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ colspan: 3 }
        .title Récapitulatif de la demande d'inscription
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ width: '15%' }
        = link_to structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: '_blank', class: 'block' do
          = image_tag @structure.logo.url(:thumb), class: 'block', height: 60, width: 60, alt: "Logo de #{@structure.name}"
      %td.v-middle.content-block{ width: '25%' }
        .p
          %strong Cours d'essai
          %br
          %strong Jour et créneau
          %br
          %strong Lieu
      %td.v-middle.content-block{ width: '60%' }
        .p
          = @participation_request.course.name
          %br
          = "#{l(@participation_request.date, format: :semi_short)} de #{l(@participation_request.start_time, format: :short)} à #{l(@participation_request.end_time, format: :short)}"
          %br
          = @participation_request.planning.place.name


- content_for :under_content_gray do
  .title
    = link_to "Foire aux questions", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--bottom.bordered--bottom
    = link_to "Que faire après avoir reçu une demande d'information d'un élève potentiel ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Que faire s'il ne s'agit pas d'une véritable demande d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Que se passe-t-il si je laisse expirer une demande d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends
    = link_to "Comment faire pour recevoir encore plus de demandes d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'

