- content_for :email_title do
  REPONDEZ AU DESSUS DE CETTE LIGNE
  %br
  Acceptez la nouvelle proposition de #{@structure.name} en répondant directement à cet e-mail
  %hr

.p
  Bonjour #{@user.first_name},

.p
  - if @participation_request.old_course_id.present?
    #{@structure.name} souhaite vous proposer un autre cours et vous invite à assister à une séance de
    %strong "#{@course.name}"
    le
  - else
    #{@structure.name} souhaite modifier la date pour le cours "#{@course.name}" et vous propose de venir le
  %strong= "#{@participation_request_decorator.day_and_hour}"
  - if @place
    au #{@place.address} (#{@place.name}).
  Connectez-vous à votre compte pour envoyer votre confirmation :

.p.action
  = link_to "Accepter / Proposer une autre date / Refuser", user_participation_request_url(@user, @participation_request, subdomain: 'www'), class: 'btn btn--green'

- if @message
  .soft--bottom
    = render partial: 'mailboxer_message_mailer/message_to_user', locals: { message: @message, structure: @structure }

= render 'shared/mailers/footer'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/user_participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'
