- content_for :email_title do
  %strong Acceptez la nouvelle proposition de #{@structure.name} en répondant directement à cet e-mail
  %hr

.p
  Bonjour #{@user.first_name},

.p
  Il y a 2 jours, #{@structure.name} vous a envoyé une nouvelle proposition de date pour votre cours "#{@course.name}". Si vous ne confirmez pas dès maintenant votre présence pour le
  %strong= "#{l(@participation_request.date, format: :semi_short)} à #{l(@participation_request.start_time, format: :short)},"
  votre inscription risque d'être annulée :

.p.action
  = link_to "Accepter / Proposer un autre créneau / Refuser", user_participation_request_url(@user, @participation_request, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green'

= render 'shared/mailers/footer'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/user_participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'
