- content_for :email_title do
  #{@structure.name} vient d'accepter votre demande d'inscription

%table.promo-table{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr
    %td.content-block{ colspan: '2' }
      .soft.text--center
        .epsilon.blue-green Demande d’inscription acceptée
      .bg-blue-green.soft
        .delta.white
          Bonjour #{ @user.name },
        .epsilon.line-height-1-5.white.hard--bottom
          Votre demande d'inscription à la séance de #{ @participation_request.course.name } le
          %strong= "#{@participation_request_decorator.day_and_hour(false)}"
          vient d'être acceptée par #{ @structure.name }

  %tr
    %td.v-middle.content-block.text--right{ width: '75' }
      .soft-half--right
        = image_tag "icons/sms.png", alt: 'Clock', width: "36", height: "36"
    %td.v-middle.content-block{ width: '525' }
      .soft--sides.soft--top
        .p
          Un e-mail et un SMS vous seront envoyés la veille de votre cours.

  %tr
    %td.content-block{ colspan: '2' }
      - if @message
        = render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user }
      .soft-half--sides.soft--top
        .bordered= render partial: 'email_user_recap', locals: { participation_request: @participation_request.decorate }

  %tr
    %td.content-block{ colspan: '2' }
      .p.action.soft--sides.soft--top
        En cas d'annulation, de modification ou pour envoyer un message à #{@structure.name}, connectez-vous :
      .p.action.soft--sides
        = link_to 'Voir mes inscriptions', user_participation_request_url(@participation_request.user, @participation_request, subdomain: 'www'), class: 'btn btn--green'

  %tr
    %td.content-block{ colspan: '2' }
      .soft--sides.soft--top= render 'shared/mailers/footer'
