- content_for :email_title do
  REPONDEZ AU DESSUS DE CETTE LIGNE
  %br
  Répondez à #{@structure.name} en répondant directement à cet e-mail
  %hr

.p
  Bonjour #{@user.first_name},

%em
  Malheureusement, votre inscription au cours "#{ @course.name } avec #{ @structure.name }.
  - if @participation_request.cancelation_reason
    Motif : "#{t(@participation_request.cancelation_reason.name).downcase}".

- if @message
  %p
    Message :
    = render partial: 'mailboxer_message_mailer/message_to_user', locals: { message: @message, structure: @structure }
    .p.action.soft--top
      = link_to "Répondre", user_participation_request_url(@user, @participation_request, subdomain: 'www'), class: 'btn'

.p.soft--top
  Pour éviter qu'une telle situation se reproduise, notre équipe prendra contact avec ce partenaire pour comprendre les raisons de son annulation.
  %br
  Merci pour votre compréhension, à très bientôt,

.p
  = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/signature.png', height: 25, width: 177, class: 'soft-half--top', alt: "L'équipe CoursAvenue"


- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'


