- content_for :email_title do
  Répondez à #{@structure.name} en répondant directement à cet e-mail
  %hr

.p
  Bonjour #{@user.first_name},

.p
  Malheureusement, #{@structure.name} vient de refuser votre demande d'inscription au cours "#{@course.name}" du
  - if @participation_request.cancelation_reason and !@participation_request.cancelation_reason.hidden?
    %strong= @participation_request_decorator.day_and_hour
    = "(motif : \"#{t(@participation_request.cancelation_reason.name).downcase})\"."
  - else
    %strong= "#{@participation_request_decorator.day_and_hour}."
  Notre objectif est de vous faire découvrir le maximum de cours, continuez à vous inscrire aux séances de votre choix :

.p.action
  = link_to "Découvrir les meilleurs cours", root_search_page_url(@structure.dominant_root_subject, @structure.city, subdomain: 'www'), class: 'btn btn--green'

- if @message
  = render partial: 'mailboxer_message_mailer/message_to_user', locals: { message: @message, structure: @structure }
  .p.action.soft--top
    = link_to "Répondre", user_participation_request_path(@user, @conversation, subdomain: 'www'), class: 'btn'

.p.soft--top
  Pour éviter qu'une telle situation se reproduise, notre équipe prendra contact avec ce partenaire pour comprendre les raisons de son annulation.
  %br
  Merci pour votre compréhension, à très bientôt,

.p
  = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/signature.png', height: 25, width: 177, class: 'soft-half--top', alt: "L'équipe CoursAvenue"


- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'


