- content_for :email_title do
  %strong Répondez à #{@structure.name} en répondant directement à cet e-mail
  %hr

.p
  Bonjour #{@user.first_name},

.p
  Malheureusement, #{@structure.name} vient de refuser votre demande d'inscription au cours d'essai "#{@course.name}" du
  - if @participation_request.cancelation_reason and !@participation_request.cancelation_reason.hidden?
    %strong= "#{l(@participation_request.date, format: :semi_short)} à #{l(@participation_request.start_time, format: :short)}"
    = "(motif : #{t(@participation_request.cancelation_reason.name).downcase})."
  - else
    %strong= "#{l(@participation_request.date, format: :semi_short)} à #{l(@participation_request.start_time, format: :short)}."
  Si vous souhaitez lui demander de venir à un autre cours, envoyez-lui un message depuis votre boîte de réception :

.p.action
  = link_to "Envoyer un message", pro_structure_conversation_path(@structure, @conversation, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'

- if @message
  = render partial: 'mailboxer_message_mailer/message_to_user', locals: { message: @message, structure: @structure, show_phone_number: false }

.p.soft--top
  Notre objectif est de vous faire découvrir le maximum de cours, c'est pourquoi notre équipe prendra contact avec ce partenaire pour comprendre les raisons de son refus.
  %br
  Merci pour votre compréhension,

.soft-half--top
  = render 'shared/mailers/footer'

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'


