- content_for :email_title do
  REPONDEZ AU DESSUS DE CETTE LIGNE
  %br
  Acceptez la demande d'inscription de #{@user.name} en répondant directement à cet e-mail
  %hr

- content_for :email_action do
  - if @reply_token.persisted?
    = confirm_action(@reply_token)

.title
  Félicitations !

.p
  #{@user.name} souhaiterait assister à une séance d'essai le
  %strong= "#{@participation_request_decorator.day_and_hour}"
  pour votre cours "#{@participation_request.course.name}"
  - if @participation_request.course.is_private?
    à #{ @participation_request_decorator.student_home_address }
  - elsif @participation_request.place
    au #{@participation_request.place.address} (#{@participation_request.place.name}).
  Connectez-vous à votre profil
  %strong= "avant le #{I18n.l(@reply_limit_date, format: :semi_short)}"
  pour répondre à sa demande :

.p.action
  = link_to "Accepter / Proposer une autre date / Refuser", pro_structure_public_participation_request_url(@admin.structure, @participation_request, subdomain: 'pro'), class: 'btn btn--green'

- if @message
  = render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user }


%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.v-middle.content-block{ width: 475 }
      .p.soft-half--top
        %strong Important :
        pour continuer à assurer la meilleure qualité de service, vous avez 2 jours pour traiter cette demande d'inscription. Passé ce délai, la demande d'information de #{@user.name} sera expirée et votre compte sera susceptible d'être suspendu. PS : plus vous répondez vite, plus votre profil montera dans les résultats de recherche et plus vous recevrez de nouvelles inscriptions.
      = render 'shared/mailers/footer'
    %td.text--center.v-middle.content-block{ width: 125 }
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/48hours.png', width: 75, height: 120, alt: 'Vous avez 48 heures'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  .title
    = link_to "Foire aux questions", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .p.soft-half--bottom.bordered--bottom
    = link_to "Que faire après avoir reçu une demande d'information d'un élève potentiel ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Que faire s'il ne s'agit pas d'une véritable demande d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Que se passe-t-il si je laisse expirer une demande d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'
  .p.soft-half--ends
    = link_to "Comment faire pour recevoir encore plus de demandes d'information ?", pro_pages_questions_url(subdomain: 'pro'), class: 'muted-link'

