- content_for :email_title do
  Félicitations ! Vous avez reçu une demande d'information de #{@user.name}.

.p
  Bonjour,

.p
  Il y a 2 jours, #{@user.name} vous a envoyé une demande d'inscription au cours d'essai "#{@participation_request.course.name}" le
  %strong= "#{l(@participation_request.date, format: :semi_short)} à #{l(@participation_request.start_time, format: :short)}"
  Pour continuer à recevoir de nouveaux élèves, nous vous conseillons de répondre maintenant :

.p.action
  = link_to "Accepter / Proposer un autre créneau / Refuser", pro_structure_conversation_url(@admin.structure, @conversation, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'

= render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user, show_phone_number: false }

.p En répondant maintenant, votre profil remontera dans le moteur de recherche et vous continuerez à recevoir des demandes d'inscription.

.soft-half--top
  = render 'shared/mailers/footer'

- content_for :under_content do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ colspan: 3 }
        .title Récapitulatif de la demande d'inscription
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ width: '15%' }
        = link_to structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: '_blank', class: 'block' do
          = image_tag @structure.logo.url(:thumb), class: 'block', height: 60, width: 60, alt: "Logo de #{@structure.name}"
      %td.v-middle.content-block{ width: '25%' }
        .p
          %strong Cours d'essai
          %br
          %strong Jour et créneau
          %br
          %strong Lieu
      %td.v-middle.content-block{ width: '60%' }
        .p
          = @participation_request.course.name
          %br
          = "#{l(@participation_request.date, format: :semi_short)} de #{l(@participation_request.start_time, format: :short)} à #{l(@participation_request.end_time, format: :short)}"
          %br
          = @participation_request.planning.place.try(:name)


- content_for :under_content_gray do
  .title
    = link_to "Foire aux questions", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--bottom.bordered--bottom
    = link_to "Que faire après avoir reçu une demande d'information d'un élève potentiel ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Que faire s'il ne s'agit pas d'une véritable demande d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Que se passe-t-il si je laisse expirer une demande d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends
    = link_to "Comment faire pour recevoir encore plus de demandes d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'

