- content_for :email_title do
  Demande d'inscription envoyée

- content_for :under_content_no_box do
  %table.promo-table{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr
      %td.content-block{ colspan: '2' }
        .soft.text--center
          .epsilon.blue-green Demande d'inscription envoyée
        .bg-blue-green.soft
          .p.white
            Bonjour #{@user.name},
          .epsilon.line-height-1-5.white.hard--bottom.f-weight-600
            Votre demande d'inscription au cours "#{@course.name}" vient d'être transmise à #{@structure.name}

    %tr
      %td.v-middle.content-block.text--right{ width: '75' }
        .soft-half--right
          = image_tag "icons/clock.png", alt: 'Clock', width: "36", height: "36"
      %td.v-middle.content-block{ width: '525' }
        .soft--sides.soft--top
          .p
            %strong #{@structure.name}
            à jusqu'au
            %strong #{l(2.days.from_now, format: :date)}
            pour accepter votre demande.
    %tr
      %td.v-middle.content-block.text--right{ width: '75' }
        .soft-half--right
          = image_tag "icons/sms.png", alt: 'Clock', width: "38", height: "45"
      %td.v-middle.content-block{ width: '525' }
        .soft--sides
          .p.hard--bottom
            Nous vous informerons par <strong>email</strong>
            - if @user.phone_number.present?
              et <strong>SMS</strong> (au #{PhoneNumberDecorator.new(PhoneNumber.new(number: @user.phone_number)).formatted_number})
            dès que #{@structure.name} accepte votre demande.
    %tr
      %td.content-block{ colspan: '2' }
        .soft-half--sides.soft--top
          .bordered.soft-half--sides= render partial: 'participation_request_mailer/shared/user_participation_recap', locals: { participation_request: @participation_request }

        .p.action.soft--sides.soft--top
          = link_to "Voir mon inscription", structure_website_structure_participation_request_url(@structure, @participation_request, subdomain: 'www'), class: 'btn btn--green btn--full'

        .soft--sides= render 'shared/mailers/footer'

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'
