- content_for :email_title do
  Votre demande d'inscription au cours "#{@participation_request.course.name}" vient d'être transmise à "#{@structure.name}".

.p
  Bonjour #{@user.name},

.p
  Votre demande d'inscription au cours "#{@course.name}" vient d'être transmise à #{@structure.name} qui dispose de 48h pour l'accepter, la refuser ou vous proposer une autre séance. Mais en général, la plupart des professeurs mettent moins de temps que ça !

.p Dès que #{@structure.name} répond à votre demande, nous vous enverrons un email. Pour l'instant, il s'agit d'une inscription non confirmée.

.p A tout moment, suivez l'état de vos inscriptions ou modifiez-les depuis votre compte :

.p.action
  = link_to "Gérer mes inscriptions", reservation_structure_participation_request_url(@structure, @participation_request, subdomain: 'www'), class: 'btn btn--green'

- root_subject = @participation_request.course.subjects.first.try(:root)
- city         = (@place ? @place.city.slug : 'paris' )
.p
  Avez-vous pensé à vous inscrire à plus de cours ? Continuez à naviguer sur le
  - if root_subject
    = link_to 'moteur de recherche CoursAvenue', root_search_page_path(@participation_request.course.subjects.first.root, 'paris')
  - else
    = link_to 'moteur de recherche CoursAvenue', root_search_page_without_subject_path('paris')
  et inscrivez-vous aux séances qui vous intéressent, de manière à augmenter vos chances de trouver votre cours idéal.

= render 'shared/mailers/footer'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/user_participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'
