- content_for :email_title do
  Votre demande d'inscription au cours "#{@participation_request.course.name}" vient d'être transmise à "#{@structure.name}".

.p
  Bonjour #{@user.name},

.p
  Votre demande d'inscription au cours "#{@course.name}" vient d'être transmise à #{@structure.name}.

.p A tout moment, suivez l'état de votre inscription en suivant ce lien :

.p.action
  = link_to "Consulter / Modifier mes inscriptions", structure_website_participation_request_url(@participation_request.token, subdomain: @structure.subdomain_slug), class: 'btn btn--green'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/participation_recap', locals: { participation_request: @participation_request }
