- content_for :email_title do
  Félicitations ! Vous avez reçu une demande d'information de #{@user.name}.

.p
  Bonjour,

.p
  Hier, #{@user.name}  vous a envoyé une demande d'inscription au cours d'essai "#{@participation_request.course.name}" le
  %strong= "#{l(@participation_request.date, format: :semi_short)} à #{l(@participation_request.start_time, format: :short)}"
  \: répondez-lui dès maintenant avant qu'elle n'expire. Grâce à votre réactivité, votre profil remontera dans le moteur de recherche :

.p.action
  = link_to "Accepter / Proposer un autre créneau / Refuser", pro_structure_conversation_url(@admin.structure, @conversation, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'

- if @message
  = render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user, show_phone_number: false }

%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.v-middle.content-block{ width: 475 }
      .p.soft--top
        Si vous ne répondez pas dans les
        %strong 24h,
        la demande d'information de
        %strong= @user.name
        expirera.
      = render 'shared/mailers/footer'

    %td.text--center.v-middle.content-block{ width: 125 }
      = image_tag 'emails_logo/24hours.png', width: 75, height: 120, alt: 'Vous avez 48 heures', class: 'soft-half--top'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  .title
    = link_to "Foire aux questions", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--bottom.bordered--bottom
    = link_to "Que faire après avoir reçu une demande d'information d'un élève potentiel ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Que faire s'il ne s'agit pas d'une véritable demande d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends.bordered--bottom
    = link_to "Que se passe-t-il si je laisse expirer une demande d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'
  .p.soft-half--ends
    = link_to "Comment faire pour recevoir encore plus de demandes d'information ?", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'muted-link'

