%table.table--striped.table--data.table-responsive
  %thead
    %tr
      %th.soft--left.three-twelfths Formule
      %th.two-twelfths.text--center Tarif
  %tbody
    - price_group.book_tickets.each do |price|
      %tr
        %td.soft--left{ data: { th: 'Formule' } }
          %div
            - if price_group.for_training?
              1 stage / atelier
            - else
              = "#{price.number} cours"
            - if price.info.present?
              = "(#{price.info})"
        %td.text--center{ data: { th: 'Tarif' } }
          %div
            - if price.amount && price.promo_amount
              %span.line-through= readable_amount(price.amount)
              %strong= readable_amount(price.promo_amount)
            - elsif price.amount
              = readable_amount(price.amount)

    - price_group.subscriptions.each do |price|
      %tr
        %td.soft--left{ data: { th: 'Formule' } }
          %div
            = t(price.libelle)
            - if price.info.present?
              = "(#{price.info})"
        %td.text--center{ data: { th: 'Tarif' } }
          %div
            - if price.amount && price.promo_amount
              %span.line-through= readable_amount(price.amount)
              %strong= readable_amount(price.promo_amount)
            - elsif price.amount
              = readable_amount(price.amount)
    - price_group.registrations.each do |price|
      %tr
        %td.soft--left{ data: { th: 'Formule' } }
          %div
            Adhésion annuelle
            - if price.info.present?
              = "(#{price.info})"
        %td.text--center{ data: { th: 'Tarif' } }
          %div
            - if price.free?
              Gratuite
            - else
              = readable_amount(price.amount)

    - price_group.premium_offers.each do |price|
      %tr
        %td.soft--left{ data: { th: 'Formule' } }
          %div
            = t(price.libelle)
            - if price.info.present?
              = "(#{price.info})"

        %td{ data: { th: 'Tarif' } }
          %div= readable_amount(price.promo_amount, false, price.promo_amount_type) if price.promo_amount


    - price_group.discounts.each do |price|
      %tr
        %td.soft--left{ data: { th: 'Formule' } }
          %div
            = t(price.libelle)
            - if price.info.present?
              = "(#{price.info})"
        %td.text--center{ data: { th: 'Tarif' } }
          %div= readable_amount(price.promo_amount, false, price.promo_amount_type) if price.promo_amount
