%h1 form_test
= simple_form_for @comment, url: create_from_email_structure_comments_url(@structure), as: :comment, method: 'get' do |f|
  %label.text--center.soft-half.btn.button{ class: (@comment.rating == 5 ? 'active' : '') }>
    %i.fa.fa-face-happy{ style: 'font-size: 3em;' }
    %input{ type: 'radio', name: 'comment[rating]', value: 5, checked: @comment.rating == 5 }

  %label.text--center.soft-half.btn.button{ class: (@comment.rating == 3 ? 'active' : '') }>
    %i.fa.fa-face-neutral{ style: 'font-size: 3em;' }
    %input{ type: 'radio', name: 'comment[rating]', value: 3, checked: @comment.rating == 3 }

  %label.text--center.soft-half.btn.button{ class: (@comment.rating == 1 ? 'active' : '') }>
    %i.fa.fa-face-sad{ style: 'font-size: 3em;' }
    %input{ type: 'radio', name: 'comment[rating]', value: 1, checked: @comment.rating == 1 }
  = f.hidden_field :commentable_type
  = f.hidden_field :commentable_id
  = f.hidden_field :certified, value: true
  = f.input :course_name, label_html: { class: 'label--large v-top' }, wrapper_html: { class: 'flush--bottom' }, placeholder: 'Ex. : Stage de danse jazz new style pour ado du jeudi soir', input_html: { class: 'input--large' }
  = f.input :title, label_html: { class: 'v-top label--large' }, wrapper_html: {class: 'flush--bottom'}, placeholder: "Ex. : Un professeur toujours à l'écoute", input_html: { class: 'input--large' }
  = f.association :subjects, as: :select, collection: @structure.subjects.at_depth(2).uniq, multiple: true, input_html: { class: 'input--large multiple-select', data: { behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines' } }, label_html: { class: 'label--large'}
  = f.label :content, class: 'v-top label--large'
  = f.input :content, label: false, input_html: { style: 'height: 150px;', class: 'input--large one-whole', data: { behavior: 'text-counter', 'average-words-nb' => Comment::Review::MIN_NB_WORD_CONTENT, 'good-words-nb' => 60, 'bad-text' => "Votre avis doit comporter au moins #{Comment::Review::MIN_NB_WORD_CONTENT} mots.", 'average-text' => 'Encore quelques mots et votre professeur sera enchanté !', 'good-text' => "Là c'est certain, votre professeur va adorer !"}}, wrapper_html: { class: 'flush' }, required: true
  = f.input :author_name, label_html: { class: 'v-middle label--large' }, required: true, placeholder: 'Ex. : Stéphanie P.', input_html: { class: 'input--large' }
  = f.input :email, label_html: { class: 'v-top label--large' }, required: true, placeholder: "Votre email ne sera visible que par votre professeur"
  = f.submit 'Publier mon avis', class: 'btn btn--large btn--green btn--full', data: { disable_with: "En cours de publication..." }
