= side_menu_currently_at 'Super Dashboard'

%h1.header-group
  %i.icon-dashboard
  Tableau de bord

.grid.push--top
  .grid__item.one-half>
    %h3.header-group
      %i.icon-map-marker
      Profésseurs enregistrés
    .white-box.islet.text--center
      .gamma
        = Admin.normal.count
  .grid__item.one-half>
    %h3.header-group
      %i.icon-map-marker
      Lieux d'enseignements
    .white-box.islet.text--center
      .gamma
        = Place.count
        Lieux

.grid.push--top
  .grid__item.one-half>
    %h3.header-group
      %i.icon-comments
      Avis et recommandations

    .white-box.islet.text--center
      .gamma
        = Comment.count
        avis
  .grid__item.one-half>
    %h3.header-group
      %i.icon-list
      Cours et stages en ligne
    .white-box.islet.text--center
      .gamma
        = Course.active.count
        cours en ligne

.grid.push--top
  .grid__item.one-half>
    %h3.header-group
      %i.icon-youtube-play
      Élèves notifiés pour commentaires
    .white-box.islet.text--center
      .gamma
        = Student.count
        élèves
  .grid__item.one-half>
    %h3.header-group
      %i.icon-youtube-play
      Users
    .white-box.islet.text--center
      .gamma
        = User.count
        users

.grid.push--top
  .grid__item.one-half>
    %h3.header-group
      %i.icon-youtube-play
      Photos & Vidéos
    .white-box.islet.text--center
      .gamma
        = Media.count
        Médias
