= side_menu_currently_at 'Dashboard'

%h1.header-group
  %i.icon-dashboard
  Tableau de bord

%h3.header-group
  %i.icon-map-marker
  Professeurs enregistrés / Avis laissés (non cumulé)
.white-box.islet.text--center
  .gamma
    = Admin.normal.count
    profs
    \/
    = Comment.count
    avis
  #admins

%h3.header-group
  %i.icon-map-marker
  Professeurs enregistrés / Avis laissés - progression / semaine (non cumulé)
.white-box.islet.text--center
  #comments-admins-progression-weekly

%h3.header-group
  %i.icon-map-marker
  Professeurs enregistrés / Avis laissés - progression (cumulé)
.white-box.islet.text--center
  .gamma
    = Admin.normal.count
    profs
    \/
    = Comment.count
    avis
  #admins-progression


%h3.header-group
  %i.icon-group
  Élèves notifiés pour avis
.white-box.islet.text--center
  .gamma
    = Student.count
    élèves
  #students

- if params[:with_subjects]
  %h3.header-group
    %i.icon-map-marker
    Nombre d'établissements par disciplines (dont le prof est enregistré)
  .white-box.islet.text--center
    #subjects
- else
  %p.text--center= link_to 'Voir la répartition par discipline',  pro_dashboard_path(with_subjects: true), class: 'btn btn--blue'

-#%h3.header-group
-#  %i.icon-map-marker
-#  Lieux d'enseignement
-#:css
-#  .gmaps4rails_map {
-#    height: 60em;
-#  }
-#= gmaps( {markers: {data: @places.to_gmaps4rails, options: {do_clustering: true}}, map_options: {maxZoom: 15, mapTypeControl: false}})

.grid.push--top
  .grid__item.one-half>
    %h3.header-group
      %i.icon-list
      Cours en ligne
    .white-box.islet.text--center
      .gamma
        = Course.active.count
        cours en ligne
      #courses
  .grid__item.one-half>
    %h3.header-group
      %i.icon-youtube-play
      Photos & Vidéos
    .white-box.islet.text--center
      .gamma
        = Media.count
        Médias
      #medias


.grid.push--top
  .grid__item.one-half>
    %h3.header-group
      %i.icon-map-marker
      Lieux d'enseignement
    .white-box.islet.text--center
      .gamma
        = Place.count
        Lieux
  .grid__item.one-half>
    %h3.header-group
      %i.icon-group
      Users
    .white-box.islet.text--center
      .gamma
        = User.count
        users
      #users


= content_for :scripts do
  :javascript
    $(function() {
        new Highcharts.Chart({
            chart: { renderTo: 'admins', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{@admins.map{|date, count| l(Date.parse(date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [
              { data: #{@admins.map{|date, count| count}},
                name: 'Profs inscrits'
               },
              { data: #{@comments.map{|date, count| count}},
                name: 'Avis'
              }
            ]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'comments-admins-progression-weekly', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{@admins_weekly.map{|date, count| l(Date.parse(date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [
              { data: #{@admins_weekly.map{|date, count| count}},
                name: 'Profs inscrits'
               },
              { data: #{@comments_weekly.map{|date, count| count}},
                name: 'Avis'
              }
            ]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'admins-progression'},
            title: { text: null },
            xAxis: { categories: #{@admins_progression.map{|date, count| l((date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [
              { data: #{@admins_progression.map{|date, count| count}},
                name: 'Profs inscrits'
               },
              { data: #{@comments_progression.map{|date, count| count}},
                name: 'Avis'
              }
            ]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'users', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{@users.map{|date, count| l(Date.parse(date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [{ data: #{@users.map{|date, count| count}} }]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'students', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{@students.map{|date, count| l(Date.parse(date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [{ data: #{@students.map{|date, count| count}} }]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'medias', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{@medias.map{|date, count| l(Date.parse(date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [{ data: #{@medias.map{|date, count| count}} }]
        });
        new Highcharts.Chart({
            chart: { renderTo: 'courses', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{@courses.map{|date, count| l(Date.parse(date), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [{ data: #{@courses.map{|date, count| count}} }]
        });
    });

- if params[:with_subjects].present?
  = content_for :scripts do
    :javascript
      $(function() {
        new Highcharts.Chart({
            chart: { renderTo: 'subjects', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{@structures.map{|subject_name, count| subject_name}} },
            yAxis: { title: { text: ''}},
            series: [{ data: #{@structures.map{|subject_name, count| count}} }]
        });
    });
