%h1 Dashboard
%h2 Metrics

%h3 Réservations
%table.table--striped
  %thead
    %tr
      %td Nom du contact
      %td Nom du cours
      %td Numéro
      %td Email
  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.name
        %td= link_to reservation.course.name, course_url(reservation.course, subdomain: 'www')
        %td= reservation.phone
        %td= reservation.email

%h3 Bouton "Réserver en ligne"
Nb click total : #{ReservationLogger.count}
%table
  %tfoot
    %tr
      - @reservations_logger.keys.each do |date|
        %td= l(Date.parse(date), format: :short)
  %tbody
    %tr
      - @reservations_logger.values.each do |count|
        %td= count

%h3 Location de salle
%table.table--striped
  %thead
    %tr
      %td Nom du contact
      %td Email
      %td Adresse
  %tbody
    %tr
      - @renting_rooms.each do |renting_room|
        %td= renting_room.contact_name
        %td= renting_room.contact_email
        %td= renting_room.address


%h3 Nombre de click par bouton
%table.one-half
  %tbody
    - @click_logger.each do |name, count|
      %tr
        %td= name
        %td= count

