- if courses.any?
  %h3.text--center
    Sélection de cours de <strong>#{@subject.name.downcase}</strong>
    - if @city
      à
      %strong= @city.name

  .js-masonry{'data-masonry-options' => '{ "itemSelector": ".course_masonry__item" }'}
    - courses.each do |course|
      .one-quarter.very-soft.course_masonry__item>
        .white-box.soft-half
          %p
            %strong= course.name
            - if course.best_price
              %i{data: {behavior: 'tooltip', title: t(course.best_price.libelle)}}— à partir de #{readable_amount(course.best_price.amount)} €

          %p.read-more{data: {behavior: 'read-more'}}
            = course.description
          %p.flush= link_to 'Voir les séances à venir', structure_course_path(course.structure, course)

  %hr
