- if @structures.any?
  %h3.text--center
    Sélection des profils de <strong>#{@subject.name.downcase}</strong>
    - if @city
      à <strong>#{@city.name}</strong>

  .text--center.push--bottom
    = link_to structures_path(lat: @city.try(:latitude), lng: @city.try(:longitude), name: @subject.name), class: 'btn btn--green btn--large' do
      Voir tous les cours de
      %strong= @subject.name
      - if @city
        à
        %strong= @city.name


  .grid.push--bottom
    .grid__item.three-fifths>
      #structures-map.google-map.google-map--large
    .grid__item.two-fifths>
      - @structures[0..5].each do |structure|
        - comment = structure.comments.where( Comment::Review.arel_table[:title].not_eq(nil).and(Comment::Review.arel_table[:title].not_eq('')) ).first
        - if comment
          = render partial: 'structures/structure_with_comment', locals: {structure: structure, comment: comment}
      = link_to 'Voir les autres profils', subject_structures_path(@subject, address_name: @city.try(:name), latitude: @city.try(:latitude), longitude: @city.try(:longitude)), class: 'btn btn--full btn--large', target: '_blank'

%hr
