- only_roots = false if only_roots.nil?
- if @subject.nil? or @subject.depth < 2
  %h3.text--center.soft--top
    Guide des cours
    - if @subject
      de
      %strong= @subject.name.downcase
    - if @city
      à
      %strong= @city.name
  .main-container
    - # Show facets with more than 10 results
    - subject_id_to_s = (@subject ? @subject.id.to_s : '')
    .text--center.hard.push--bottom>
    - @structure_search.facet(:subject_ids).rows.reject{|facet| facet.count < 15}.each do |facet|
      - subject = Subject.find(facet.value)
      - if only_roots or (subject.ancestry and subject.ancestry.include? subject_id_to_s)
        - if @city
          - subject_url_title = "Cours de #{subject.name} à #{@city.name}"
        - else
          - subject_url_title = "Cours de #{subject.name}"
        - unless only_roots and subject.depth > 0
          .inline-block.one-quarter.very-soft>
            .relative.bg-cover{style: "background-image: url('#{subject_image(subject)}'); height: 150px; "}>
              = link_to vertical_page_url_for(subject, @city), class: 'block show-on-hover__wrapper', title: subject_url_title do
                .home-screen-gallery__title.text--center{style: (subject.name.length > 27 ? 'margin-top: -1.7em' : '')}
                  %div= subject.name
                  .show-on-hover__child.milli
                    #{facet.count} structures
                    %br
                    Voir le guide

  %hr

