= content_for :head do
  - if @subject
    %link{rel: 'canonical', href: city_subject_url(@city, @subject)}
  - else
    %link{rel: 'canonical', href: city_subjects_url(@city)}
.gw
  = render 'search_form'
  %section.g.three-tenths.hide--lap.hide--palm
    = render 'side_search_form'
  %section.g.seven-tenths.lap-one-whole.palm-one-whole
    .flexbox.page-entries-wrapper
      .flexbox__item.palm-one-whole
        %p.flush--bottom= page_entries_info @courses, entry_name: Course.model_name.human.downcase
        .spoken-form
          %label Trier par :
          %select#filter-select{name: 'sort'}
            %option{value: 'relevancy', selected: (params[:sort] == 'relevancy') } Pertinence
            %option{value: 'price_asc', selected: (params[:sort] == 'price_asc') } Prix : du plus bas au plus élevé
            %option{value: 'price_desc', selected: (params[:sort] == 'price_desc')} Prix : du plus élevé au plus bas
      .flexbox__item.hide--palm
        .text--right= paginate @courses, window: 1, outer_window: 1
    - if @courses.empty?
      = render 'no_results'
    - else
      %ul.block-list.course-list
        = render partial: 'courses/course', :collection => @courses

    %footer.g.one-whole
      = paginate @courses, window: 2, outer_window: 1
= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
      $('filter-select').addEvent('change', function() {
            $('hidden-sort-input').set('value', this.value);
            $('submit_search_form').click();
        });
    });
