= content_for :top_menu do
  %ul.nav.flush
    %li{ class: current == 'dashboard' ? 'active' : '' }
      = link_to 'Tableau de bord', pro_dashboard_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'admins' ? 'active' : '' }
      = link_to 'Liste des admins', pro_admins_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'structures' ? 'active' : '' }
      = link_to 'Liste des structures', pro_structures_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'users' ? 'active' : '' }
      = link_to "Élèves", pro_users_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'teacher_stars' ? 'active' : '' }
      = link_to "Livres d'Or", stars_pro_structures_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'sticker_demands' ? 'active' : '' }
      = link_to 'Stickers', pro_sticker_demands_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'flyers' ? 'active' : '' }
      = link_to "Flyers", pro_flyers_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'duplicates' ? 'active' : '' }
      = link_to "Doublon", duplicates_pro_structures_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
