= content_for :top_menu do
  %ul.nav.flush
    %li{ class: current == 'participation_requests_pending' ? 'active' : '' }
      = link_to 'Inscrpts en attente', pro_participation_requests_path(state: 'pending'), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends'
    %li{ class: current == 'participation_requests_canceled' ? 'active' : '' }
      = link_to 'Inscrpts annulées', pro_participation_requests_path(state: 'canceled'), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends'
    %li{ class: current == 'participation_requests_accepted' ? 'active' : '' }
      = link_to 'Inscrpts validées', pro_participation_requests_path(state: 'accepted'), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends'
    %li{ class: current == 'sponsorships' ? 'active' : '' }
      = link_to 'Parrainages', pro_sponsorships_path, class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends'
