.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      = image_tag 'icons/icon-euro-orange.png', width: '30', style: 'padding-top: 3px'
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Publication gratuite
      %p.epsilon
        Votre profil CoursAvenue est gratuit et sans engagement.
.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      = image_tag 'icons/icon-handshake-orange.png', width: '40', style: 'padding-top: 3px'
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Mise en relation gratuite
      %p.epsilon
        Faites connaissance et échangez avec ceux qui vont peut-être rejoindre l'un de vos cours.
.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      = image_tag 'icons/icon-profile-complete-orange.png', width: '23', style: 'padding-top: 3px'
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Profil complet
      %p.epsilon
        Complétez votre profil qui remonte en tête des résultats de recherche.
.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      = image_tag 'icons/icon-bubble-heart-orange.png', width: '25', style: 'padding-top: 3px'
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Bouche à oreille
      %p.epsilon
        Gérez les recommandations de vos élèves qui consolident votre réputation.
        = link_to 'Lire nos critères de publication', pro_pages_why_be_recommended_path
.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      %i.fa.fa-bar-chart-o.orange.fa-2x
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Statistiques
      %p.epsilon
        Suivez le nombre de visites quotidiennes de votre profil.
.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      %i.fa.fa-google.orange.fa-2x
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Google
      %p.epsilon
        Nous travaillons directement avec Google pour vous apporter du trafic et de la visibilité.
.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      %i.fa.fa-cogs.orange.fa-2x
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Profil personnalisé
      %p.epsilon
        Personnalisez votre profil avec votre logo, vos photos et vidéos.
.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      %i.fa.fa-calendar-o.orange.fa-2x
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Planning à jour
      %p.epsilon
        Gérez facilement le planning de vos activités pour qu'il reste tout le temps à jour.
.inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
  .flexbox.one-whole
    .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
      %i.fa.fa-comments.orange.fa-2x
    .flexbox__item.v-top.soft-half--right>
      %h4.push-half--bottom Avis sur votre site
      %p.epsilon
        Installez votre livre d'Or CoursAvenue sur votre propre site Internet.
        = link_to 'Voir des exemples', pro_pages_widget_path

- if show_all
  .inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
    .flexbox.one-whole
      .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
        = image_tag 'icons/icon-money-orange.png', width: '40', style: 'padding-top: 3px'
      .flexbox__item.v-top.soft-half--right>
        %h4.push-half--bottom Pas de paiement en ligne
        %p.epsilon
          Le paiement de vos cours se fait directement entre vous et vos élèves.
  .inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
    .flexbox.one-whole
      .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
        %i.fa.fa-phone.orange.fa-2x
      .flexbox__item.v-top.soft-half--right>
        %h4.push-half--bottom Assistance utilisateurs
        %p.epsilon
          Notre équipe dédiée à la communauté est disponible à toute heure.
  .inline-block.one-third.palm-one-whole.lap-one-half.pro-homepage-advantage-box.v-top>
    .flexbox.one-whole
      .flexbox__item.v-top.soft--right.text--right{ style: 'width: 60px;'}>
        = image_tag 'icons/icon-auto-publication-orange.png', width: '30', style: 'padding-top: 3px'
      .flexbox__item.v-top.soft-half--right>
        %h4.push-half--bottom Publications automatiques
        %p.epsilon
          En un clic, publiez votre annonce sur Facebook et Twitter.
