= content_for :top_menu do
  %ul.nav.flush
    %li{ class: current == 'blog_user' ? 'active' : '' }
      = link_to "Blog élèves", admin_blog_articles_path(type: 'user'), class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'blog_pro' ? 'active' : '' }
      = link_to "Blog pro", admin_blog_articles_path(type: 'pro'), class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'portraits' ? 'active' : '' }
      = link_to "Portraits", list_pro_portraits_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'vertical_pages' ? 'active' : '' }
      = link_to "Pages verticales", pro_vertical_pages_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'press' ? 'active' : '' }
      = link_to "Presse", admin_press_articles_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'press_releases' ? 'active' : '' }
      = link_to "Communiqué de presse", pro_press_releases_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'faqs' ? 'active' : '' }
      = link_to "FAQ", admin_faqs_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
