:ruby
  @testimonies = [{
    image: 'yoga-sattva.png',
    slug: 'yoga-sattva-paris',
    content: "En passant au Premium, mes visites ont augmenté, ce qui m'a permis de recruter rapidement de nouveaux élèves intéressés par mes cours de yoga dans le 18ème.",
    from: "Emilie, Professeur de yoga à Paris."
  },{
    image: 'colette-bonacorsi.png',
    slug: 'ecole-de-theatre-bonacorsi',
    content: "Je communiquais déjà beaucoup sur Internet mais cela me prenait beaucoup de temps. Maintenant que nous avons un profil Premium, CoursAvenue se charge de tout et je peux me concentrer sur mes cours.",
    from: "Colette, Directrice de l'école de théâtre Bonacorsi à Paris."
  },{
      image: 'charles-boiry.png',
      slug: 'studio-international-vanina-mareschal',
      content: "Si je regarde l'apport de services et l'apport de nouveaux élèves, le prix payé pour le profil Premium est très cohérent, c'est un bon investissement.",
      from: "Charles Boiry, Responsable communication du STUDIO International Vanina Mareschal à Paris"
  }]
.soft.white.bg-cover.f-weight-bold.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/premium/testimonies/background.jpg'});", 'data-stellar-background-ratio' => '0.9' }
  .small-container.center-block
    %ul.testimonies.no-bullet-list
      - @testimonies.each do |testimony|
        %li.soft--sides
          .grid
            .grid__item.v-middle.one-quarter.palm-one-whole>
              = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/pro/premium/testimonies/#{testimony[:image]}", class: 'bordered border-color-gray rounded--circle'
            .grid__item.v-middle.three-quarters.palm-one-whole>
              %p.delta.quoted.line-height-1-5.push-half--bottom<
                = testimony[:content]
              %p.f-style-italic
                = testimony[:from]
                = link_to 'Voir son profil Premium', structure_url(testimony[:slug], subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'white f-decoration-underlined', target: :_blank


= content_for :scripts do
  :javascript
      $(function() {
          $(".testimonies").responsiveSlides({
              timeout: 7000,
              pager: true,           // Boolean: Show pager, true or false
              pauseControls: true    // Boolean: Pause when hovering controls, true or false
          });
      });
