- @structures = [Structure.find('atelier-dantzig'), Structure.find('method-acting-center'), Structure.find('collectif-d-un-atelier-a-l-autre')]
.grid
  - @structures.each do |structure|
    .grid__item.one-third.palm-one-whole>
      .grid--full
        .grid__item.one-third.relative>
          = image_tag 'icons/premium-ribbon.png', class: 'north west absolute on-top', height: 70, width: 70
          = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'muted-link', target: :_blank do
            = image_tag structure.logo.url(:thumb), class: 'one-whole'
        .grid__item.two-thirds.soft-half--left>
          = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'muted-link delta', target: :_blank do
            %strong= structure.name
          %div.epsilon
            - if structure.structure_type.present?
              = t(structure.structure_type)
            - else
              Association
          %div.epsilon
            %i= truncate join_parent_subjects_text(structure), length: 30
          -# %div
          -#   %i.green= "#{structure.view_count(1000)} visites"
