.flexbox
  - if !@participation_request.canceled?
    - if @participation_request.pending? and @participation_request.last_modified_by == 'Structure'
      .flexbox__item.one-third.soft-half--right>
        = link_to accept_form_user_participation_request_path(@participation_request.user, @participation_request), class: 'btn--full btn--green btn fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
          = t('.accept')

    .flexbox__item.one-third.soft-half--right>
      .drop-down__wrapper{ data: { behavior: 'drop-down', el: '> .drop-down__el', position: 'center' } }
        = link_to edit_user_participation_request_path(@participation_request.user, @participation_request, discuss_only: true), class: 'btn--full btn--orange nowrap btn fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
          = t('.discuss')
        %ul.drop-down__el
          -# %li.nowrap
          -#   = link_to edit_user_participation_request_path(@participation_request.user, @participation_request, show_course_select: true), class: 'fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
          -#     Proposer un autre cours
          %li.nowrap
            = link_to edit_user_participation_request_path(@participation_request.user, @participation_request), class: 'fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
              = t('.propose_another_date')

          %li.nowrap
            = link_to edit_user_participation_request_path(@participation_request.user, @participation_request, discuss_only: true), class: 'fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
              = t('.ask_more_info')

  - if !@participation_request.canceled?
    .flexbox__item.one-third>
      = link_to cancel_form_user_participation_request_path(@participation_request.user, @participation_request), class: 'btn--full btn--red btn fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 } do
        = t('.decline')
