- return if participation_request.course.nil?
- show_calendar                   = false if show_calendar.nil?
- participation_request_decorator = participation_request.decorate
- course                          = participation_request.course
- course_decorator                = course.decorate
- structure                       = participation_request.structure
- structure_decorator             = structure.decorate
- place                           = participation_request.place
- place_decorator                 = place.decorate if place
- hide_teacher_column             = false if hide_teacher_column.nil?
%tr
  %td.v-top.nowrap{ class: participation_request_decorator.color }
    .line-height-2= participation_request_decorator.status_for('User')
    .hard--left.hard--bottom.hard--right
      = link_to participation_request_decorator.action_button_name_for('User'), user_participation_request_path(participation_request.user, participation_request), class: "btn btn--white btn--small #{participation_request_decorator.action_button_class_for('User')} nowrap"

  %td.v-top
    %div
      %strong= participation_request_decorator.day_and_hour.capitalize
    %div
      %span.has-tooltip{ data: { toggle: 'popover', content: participation_request_decorator.popover_course_infos, html: 'true', placement: 'top', trigger: 'hover' } }
        = course.name
    %div
      = participation_request_decorator.details
  %td.v-top
    - if place
      - if participation_request.at_student_home
        %div
          %strong À domicile
      - else
        %div
          %strong= place.name
        %div
          = place.address
          %br
          = link_to 'Voir sur la carte', URI.encode("http://maps.google.com/?q=#{place.address}"), target: :_blank
        - if place.info.present? or place.private_info.present?
          %div
            %span.has-tooltip{ data: { toggle: 'popover', content: place_decorator.popover_place_infos(true), html: 'true', placement: 'top', trigger: 'hover' } }
              Comment y accéder
    %br
  - if !hide_teacher_column
    %td.v-top{ style: 'max-width: 250px;' }
      .grid--full
        .grid__item.one-fifth.v-middle.text--right>
          = image_tag structure.logo.url(:small_thumb), class: 'one-whole rounded--circle', data: { src2x: structure.logo.url(:thumb) }
        .grid__item.four-fifths.v-middle.soft-half--left>
          = link_to structure.name, structure_path(structure), target: :_blank, class: 'f-weight-bold'
          %div= structure_decorator.phone_numbers(false)
          - if structure.website.present?
            = "#{structure_decorator.website_link}, ".html_safe
          = link_to 'Message', user_conversation_path(participation_request.user, participation_request.conversation)
  - if show_calendar
    %td.v-middle.nowrap.text--center
      = add_to_calendar_small(participation_request)
