- calendar = true if calendar.nil?
%tr
  %td.one-twelfth{ class: [participation_request_color(participation_request), ((participation_request.accepted? or participation_request.canceled?) ? 'nowrap' : '')] }
    = participation_request_icon(participation_request)
    - if participation_request.pending?
      - if participation_request.last_modified_by == 'Structure'
        Confirmez votre inscription
      - else
        En attente de validation du professeur
    - else
      = t("participation_request.state.#{participation_request.state}")
  %td.three-twelfths
    - course = participation_request.course
    = course.name
    %i.fa.fa-info{ data: { toggle: 'popover', content: "<strong>Niveau :</strong> #{join_levels(participation_request.levels)}<br><strong>Public :</strong> #{join_audiences(participation_request.planning || participation_request.course)}<br><strong>Disciplines :</strong> #{course.subjects.uniq.map(&:name).join(', ')}", html: 'true', placement: 'top', trigger: 'hover' } }
  %td.two-twelfths
    - place = participation_request.place
    - if place
      = place.address
      - if place.info.present? or place.private_info.present?
        %a.btn.btn--small{ data: { toggle: 'popover', content: t('places.infos', info: place.info, private_info: place.private_info), html: 'true', placement: 'top', trigger: 'hover' } }
          Infos
  %td
    = link_to participation_request.structure.name, structure_path(participation_request.structure), target: :_blank
  %td.two-twelfths
    = "#{l(participation_request.date, format: :semi_short)} à #{l(participation_request.start_time, format: :short)}"
  %td.two-twelfths
    - if !participation_request.canceled? and !participation_request.declined?
      - if participation_request.pending? and participation_request.last_modified_by == 'Structure'
        = link_to "Accepter le nouveau créneau", accept_user_participation_request_path(@user, participation_request), method: :patch, class: 'green nowrap'
        %br
      = link_to 'Proposer un autre créneau', edit_user_participation_request_path(@user, participation_request, return_to: user_participation_requests_path(@user)), class: 'orange nowrap fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
      %br
    = link_to 'Historique des messages', user_conversation_path(@user, participation_request.conversation)
    %br
    = link_to 'Récapitulatif', recap_user_participation_request_path(@user, participation_request), class: 'fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 }
    - if !participation_request.canceled? and !participation_request.declined?
      %br
      = link_to "Annuler l'inscription", cancel_form_user_participation_request_path(@user, participation_request, return_to: user_participation_requests_path(@user)), class: 'red nowrap fancybox.ajax', data: { behavior: 'modal', width: 800, padding: 0 }
  - if calendar
    %td.nowrap
      = add_to_calendar(participation_request)
