- return if participation_request.course.nil?
- calendar                        = true if calendar.nil?
- participation_request_decorator = participation_request.decorate
- course                          = participation_request.course
- course_decorator                = course.decorate
- structure                       = participation_request.structure
- structure_decorator             = structure.decorate
- place                           = participation_request.place
- place_decorator                 = place.decorate if place
- hide_teacher_column             = false if hide_teacher_column.nil?
%tr
  %td.v-top.nowrap{ class: participation_request_decorator.color }
    = participation_request_decorator.status_for('User')
    .very-soft.hard--left.hard--bottom.hard--right
      = participation_request_decorator.user_action_link
  %td.v-top
    %div
      %strong= participation_request_decorator.day_and_hour
    %div
      %span.has-tooltip{ data: { toggle: 'popover', content: participation_request_decorator.popover_course_infos, html: 'true', placement: 'top', trigger: 'hover' } }
        = course.name
    %div
      = course_decorator.first_session_detail(true)
  %td.v-top
    - if place
      %div
        %strong= place.name
      %div
        = place.address
        %br
        = link_to 'Voir sur la carte', URI.encode("http://maps.google.com/?q=#{place.address}"), target: :_blank
      - if place.info.present? or place.private_info.present?
        %div
          %span.has-tooltip{ data: { toggle: 'popover', content: place_decorator.popover_place_infos, html: 'true', placement: 'top', trigger: 'hover' } }
            Comment y accéder
    %br
  - if !hide_teacher_column
    %td.v-middle
      .flexbox
        .flexbox__item.v-middle.soft-half--right{ style: 'width: 50px; '}
          = image_tag structure.logo.url(:small_thumb), height: 50, width: 50, class: 'rounded--circle', data: { src2x: structure.logo.url(:thumb) }
        .flexbox__item.v-middle
          = link_to structure.name, structure_path(structure), target: :_blank, class: 'f-weight-bold'
          - if participation_request.accepted?
            %div= structure_decorator.phone_numbers
            %div= structure_decorator.website_link
            %div
              = link_to user_conversation_path(participation_request.user, participation_request.conversation) do
                %i.fa.fa-envelope-o
                Envoyer un message
  - if calendar
    %td.v-middle.nowrap.text--center
      = add_to_calendar_small(participation_request)
