%ul.no-bullet-list.flush
  %li
    %strong Nom du cours :
    = participation_request.course.name
  %li
    %strong Jour et créneau :
    #{l(participation_request.date, format: :semi_long)} : #{l(participation_request.start_time, format: :short)} à #{l(participation_request.end_time, format: :short)}.
  - if participation_request.place
    %li
      %strong Lieu :
      = "#{participation_request.place.name}, "
      = link_to URI.encode("https://maps.google.com/?q=#{participation_request.place.address}"), target: :_blank do
        = "#{participation_request.place.address}"
    - if [participation_request.place.info, participation_request.place.private_info].reject(&:blank?).any?
      %li
        %strong Infos pratiques :
        - if participation_request.place.info.present?
          = participation_request.place.info
        - if participation_request.accepted? and participation_request.place.private_info.present?
          = participation_request.place.private_info
    - if participation_request.accepted?
      %li
        %strong Téléphone(s) :
        = participation_request.structure.phone_numbers.map(&:number).join(', ')
