- participation_request_decorator = @participation_request.decorate
- course_decorator                = @participation_request.course.decorate
- place                           = participation_request.place

.soft--sides
  %table.table--striped.table--striped-reversed.bordered.f-weight-500
    %tbody
      %tr.bordered--bottom
        %th.v-middle.soft--sides.nowrap.bordered--right.one-third
          Statut
        %td.v-middle.soft--sides
          %strong{ class: participation_request_decorator.color }
            = participation_request_decorator.status_name
      %tr.bordered--bottom
        %th.v-middle.soft--sides.nowrap.bordered--right.one-third
          Gérez l'inscription :
        %td.v-middle.soft--sides
          = render partial: 'users/participation_requests/actions'
      %tr.bordered--bottom
        %th.v-middle.soft--sides.nowrap.bordered--right.one-third Demande d'inscription
        %td.v-middle.text--left.soft--sides= course_decorator.first_session_detail(true)
      %tr.bordered--bottom
        %th.v-middle.soft--sides.nowrap.bordered--right.one-third.nowrap Cours
        %td.v-middle.soft--sides.one-whole
          .flexbox
            .flexbox__item.one-whole
              - course = participation_request.course
              %span.has-tooltip{ data: { toggle: 'popover', content: participation_request_decorator.popover_course_infos, html: 'true', placement: 'top', trigger: 'hover' } }
                = course.name
                %i.fa.fa-info
            .flexbox__item.v-middle.nowrap.nowrap.text--right
              - if !participation_request.canceled? and !participation_request.declined?
                = link_to t('.propose_another_course'), edit_user_participation_request_path(participation_request.user, participation_request), class: 'orange nowrap fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 }

      %tr.bordered--bottom
        %th.v-middle.soft--sides.nowrap.bordered--right.one-third.nowrap Jour et heure
        %td.v-middle.soft--sides.one-whole
          .flexbox
            .flexbox__item.one-whole
              #{l(participation_request.date, format: :semi_long).capitalize} : #{l(participation_request.start_time, format: :short)} à #{l(participation_request.end_time, format: :short)}.
            .flexbox__item.v-middle.nowrap.nowrap.text--right
              - if !participation_request.canceled? and !participation_request.declined?
                = link_to t('.propose_another_date'), edit_user_participation_request_path(participation_request.user, participation_request), class: 'orange nowrap fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 }

      - if place
        %tr.bordered--bottom
          %th.v-middle.soft--sides.nowrap.bordered--right.one-third.nowrap Lieu
          %td.v-middle.soft--sides.one-whole
            .flexbox
              .flexbox__item.one-whole
                = "#{place.name}, #{place.address}"
              .flexbox__item.v-middle.nowrap.nowrap.text--right
                = link_to t('.see_on_map'), URI.encode("http://maps.google.com/?q=#{place.address}"), target: :_blank

        %tr.bordered--bottom
          %th.v-middle.soft--sides.nowrap.bordered--right.one-third.nowrap Infos sur le lieu
          %td.v-middle.soft--sides.one-whole
            %div
              - if place.info.present?
                = place.info
              - else
                %i.gray Pas d'info pratique concernant l'accès.
            %div
              - if place.private_info.present?
                = place.private_info
              - else
                %i.gray Pas de digicode ni d'info privée concernant l'accès.
