.panel
  .panel__header.soft
    %h4.flush
      Proposer un autre créneau à
      = @participation_request.structure.name
  .panel__body.soft
    .grid--full.push-half--bottom.message
      .grid__item.two-twelfths.v-top.v-top>
        = image_tag @user.avatar_url(:thumb), class: 'message__avatar block center-block bordered rounded--circle'
      .grid__item.ten-twelfths.message__body.message__appendix.soft-half.gray-box>
        = simple_form_for [@user, @participation_request], url: modify_date_user_participation_request_path(@user, @participation_request), html: { id: 'participation-request-form' } do |f|
          - if params[:return_to].present?
            %input{ type: 'hidden', value: params[:return_to], name: 'return_to' }
          = f.error_notification
          .input.flush--top{ data: { behavior: 'time-range', 'start-time-wrapper' => '#start-time-wrapper', 'end-time-wrapper' => '#end-time-wrapper' } }
            %span.v-middle.nowrap Nouveau créneau :
            = f.input :date, as: :string, label: false, input_html: { value: l(@participation_request.date), class: 'one-whole', data: { behavior: 'datepicker', only_week_day: @participation_request.planning.try(:week_day) } }, wrapper_html: { class: 'datepicker-input flush hard' }
            %span.v-middle de
            = f.input :start_time, label: false, wrapper_html: { class: 'flush hard v-middle', id: 'start-time-wrapper' }, as: :time, minute_step: 15
            %span.v-middle à
            = f.input :end_time, label: false, wrapper_html: { class: 'flush hard v-middle', id: 'end-time-wrapper' }, as: :time, minute_step: 15
          = f.fields_for :message, @message, class: 'message__body message__appendix' do |message_form|
            = message_form.input :body, input_html: { placeholder: 'Ajouter un message personnel ici', style: 'height: 100px', class: 'input--large one-whole', data: { behavior: 'autoresize' } }, as: :text, label: false, wrapper_html: { class: 'flush--top' }

          .grid
            .grid__item.two-tenths>
              %a.btn.btn--full{ href: '#', onclick: '$.fancybox.close();' } Annuler
            .grid__item.eight-tenths>
              = f.submit 'Envoyer la nouvelle proposition de date', class: 'nowrap btn--full btn btn--green', data: { disable_with: 'Envoi en cours...' }

