= user_menu_currently_at 'inscriptions'
= render 'shared/include_addthisevent'

.panel
  .panel__body.soft
    %h1 Mes inscriptions
    - if @user.participation_requests.upcoming.any?
      - if @user.participation_requests.upcoming.accepted.any?
        %h2 À venir
        %table.table--data.table--striped.table-not-bordered
          %thead
            %tr
              %th Statut
              %th.three-twelfths Cours et date
              %th.three-twelfths Adresse
              %th.four-twelfths Professeur
              %th.one-twelfth
                Ajouter au
                %br
                calendrier
          %tbody
            - @user.participation_requests.upcoming.accepted.order('date ASC').reject { |pr| pr.structure.deleted? }.each do |participation_request|
              = render partial: 'users/participation_requests/participation_request', locals: { participation_request: participation_request, show_calendar: true }

      - if @user.participation_requests.upcoming.not_accepted.any?
        %h2 En attente
        %table.table--data.table--striped.table-not-bordered
          %thead
            %tr
              %th Statut
              %th.three-twelfths Cours et date
              %th.three-twelfths Adresse
              %th.four-twelfths Professeur
          %tbody
            - @user.participation_requests.upcoming.not_accepted.order('date ASC').reject { |pr| pr.structure.deleted? }.each do |participation_request|
              = render partial: 'users/participation_requests/participation_request', locals: { participation_request: participation_request }
    - else
      %p Vous n'avez pas d'inscription en cours.
      = link_to "Réserver mes cours d'essai", root_search_page_without_subject_path('paris'), class: 'btn btn--green'

    - if @user.participation_requests.past.any?
      %hr.push--ends
        %p.flush
          = link_to "Voir l'historique des inscriptions", '#', data: { behavior: 'show-long-version', 'long-version' => '#previous-subscriptions'}
      .hidden#previous-subscriptions
        %table.table--data.table--striped.table-not-bordered
          %thead
            %tr
              %th Statut
              %th.three-twelfths Cours et date
              %th Adresse
              %th Professeur
          %tbody
            - @user.participation_requests.past.reject { |pr| pr.structure.deleted? }.each do |participation_request|
              = render partial: 'users/participation_requests/participation_request', locals: { participation_request: participation_request }
