= user_menu_currently_at 'inscriptions'
= render 'shared/include_addthisevent'

.flexbox
  .flexbox__item.v-top.one-sixth.soft--right>
    %ul.tabs--link.no-bullet-list.epsilon.push--right
      %li.delta.line-height-2-5.f-weight-500.active
        %a{ href: '#mes-inscriptions', data: { toggle: 'tab' } } Mes inscriptions
      %li.delta.line-height-2-5.f-weight-500.nowrap
        %a{ href: '#inscriptions-precedentes', data: { toggle: 'tab' } } Inscriptions précédentes
  .flexbox__item.v-top.five-sixths>
    .panel
      .panel__header.soft
        %h4.line-height-normal.flush Mes inscriptions
      .panel__body.soft--ends
        .tab-content
          .tab-pane.active#mes-inscriptions
            - if @current_participation_requests.any?
              %table.table--data.table--striped
                %thead
                  %tr
                    %th Statut
                    %th Cours
                    %th Lieu
                    %th Date
                    %th Options
                    %th.nowrap
                      Ajouter à
                      %br
                      votre calendrier
                %tbody
                  - @current_participation_requests.each do |participation_request|
                    = render participation_request
            - else
              %p Vous n'avez pas d'inscription en cours.
              = link_to "Réserver mes cours d'essai", root_search_page_without_subject_path('paris'), class: 'btn btn--green'

          .tab-pane#inscriptions-precedentes
            - if @past_participation_requests.any?
              %table.table--data.table--striped
                %thead
                  %tr
                    %th Statut
                    %th Cours
                    %th Lieu
                    %th Date
                    %th Options
                    %th.nowrap
                      Ajouter à
                      %br
                      votre calendrier
                %tbody
                  - @past_participation_requests.each do |participation_request|
                    = render partial: 'participation_request', locals: { participation_request: participation_request, calendar: false }
            - else
              %p Vous n'avez pas d'inscription passé.
              = link_to "Réserver mes cours d'essai", root_search_page_without_subject_path('paris'), class: 'btn btn--green'
