= user_menu_currently_at 'inscriptions'
= render 'shared/include_addthisevent'

.flexbox
  .flexbox__item.soft-half--right.v-top.one-sixth>
    %div
      .soft
        %h3.flush &nbsp;
    %ul.tabs--link.no-bullet-list.epsilon.line-height-2
      %li
        = link_to 'Mes inscriptions', user_participation_requests_path(@user)
      %li
        = link_to 'Inscriptions précédentes', user_participation_requests_path(@user, anchor: 'inscriptions-precedentes')
  .flexbox__item.v-top.five-sixths>
    .panel.push--bottom
      .panel__header.soft
        %h3.flush Demande de réservation
      .panel__body.soft
        .milli= render partial: 'users/participation_requests/table_recap', locals: { participation_request: @participation_request }
        .text--center
          .grid
            .grid__item.one-half.text--center.v-middle>
              %strong.block.v-middle Ajouter à mon calendrier
              = add_to_calendar(@participation_request)
            .grid__item.one-half.text--center.v-middle>
              = link_to 'Historique des messages', user_conversation_path(@user, @participation_request.conversation), class: 'btn'

    .panel.push--bottom
      .panel__header.soft
        %h3.flush Historique des messages
      .panel__body.soft
        - if @participation_request.pending? and @participation_request.last_modified_by == 'Structure'
          = render 'users/conversations/participation_request_form'
        - else
          = render 'users/conversations/form'
        = render partial: 'messages/message', collection: @participation_request.conversation.messages.order('created_at DESC').reject(&:new_record?)

    .panel
      .panel__header.soft
        %h3.flush À propos de #{t("structures.structure_type_contact.#{(@structure.structure_type.present? ? @structure.structure_type : 'structures.other')}")}
      .panel__body.soft
        .grid
          .grid__item.three-tenths>
            = link_to structure_path(@structure), target: :_blank, class: 'muted-link center-block' do
              = image_tag @structure.logo.url(:thumb), class: 'center-block'
            %h5.push-half--top.text--center= link_to @structure.name, structure_path(@structure), target: :_blank, class: 'muted-link'
            %p= simple_format @structure.description
          .grid__item.seven-tenths>
            %h4 Les derniers avis
            %ul.comment-list.milli
              - @structure.comments.accepted.each do |comment|
                = render partial: 'comments/comment', locals: { comment: comment }
