<label for="remote-image-url" class='label--large blue'>Bloc image {{ position }}</label>
<p class="flush">Donnez plus de visuel à votre newsletter en ajoutant des images</p>
<input type='text' class='input--large one-whole' id='remote-image-url' name='newsletter[blocs_attributes][{{ index }}][remote-image-url]' />

<input type='hidden' name='newsletter[blocs_attributes][{{ index }}][position]' value='{{ position }}'>
<input type='hidden' name='newsletter[blocs_attributes][{{ index }}][type]' value='Newsletter::Bloc::Image'>

<hr />
