<form method='POST' action='{{ formAction }}'>
  <input type='hidden' name='layout_id' value="{{ layout_id }}" />
  <input type="hidden" name="{{ csrfName }}" value="{{ csrfToken }}">

  <label for="title" class="delta f-weight-600 block push-half--bottom">Titre de votre newsletter</label>
  <input id="title" class='input--large one-whole' name="title" type="text" placeholder="Prochains stages à venir !" value="{{ title }}" required/>
  <p class="flush line-height-2 f-style-italic flush">Pensez à être clair dans sa formulation. Ex. : « Découvrez nos stages d'été »</p>

  <hr class="push--ends">

  <div data-type='bloc'></div>
</form>
