<form method='POST' action='{{ formAction }}'>
  <input type="hidden" name="{{ csrfName }}" value="{{ csrfToken }}">

  <label for="title" class='label--large blue'>Titre de votre newsletter</label>
  <p class="flush">Le titre de votre newsletter sera également l'objet de votre email. Pensez à être claire dans sa formulation.</p>
  <input id="title" class='input--large one-whole' name="title" type="text" placeholder="Prochains stages à venir !" value="{{ title }}"/>
  <input type='hidden' name='layout_id' value="{{ layout_id }}" />

  <hr class="push--ends">

  <div data-type='bloc'></div>

  <button type='submit' class='btn btn--green btn--full' data-disable-with="En cours d'enregistrement">Enregistrer</button>
</form>
