<div id="mailing-list-{{ id }}" class="bordered--top">
    <input type='radio' {{#if selected}}checked{{/if}} id='mailing_list_all_profiles_{{ id }}' name='mailing_list' value='{{ id }}' class="v-middle input--large one--whole" />
    <label class="inline-block v-middle soft-half--ends label--large" for='mailing_list_all_profiles_{{ id }}'>{{ name }} ({{ recipient_count }} {{ pluralize recipient_count 'élève' 'élèves' }})</label>

    <a class="fancybox.ajax push-half--left v-middle" href="{{ edit_url }}" data-width="400" data-behavior="modal">Voir</a>
</div>
