<input type='radio' id='mailing_list_all_profiles_{{ id }}' name='mailing_list' value='{{ id }}' class='input--large one--whole' />
<label for='mailing_list_all_profiles_{{ id }}'>{{ name }} ({{ recipient_count }})</label>
