<div class='flexbox push--bottom'>
  <div class='flexbox__item v-middle'>
    <h3 class='flush'>Derniers paramètres avant l'envoi de votre newsletter</h3>
  </div>
</div>

<div class='text--right'>
  <a class='btn btn--gray fancybox.ajax' href='{{ previewUrl }}' data-behavior='modal' data-width='700' data-padding='0'>
    <i class='fa fa-eye'></i>
    Previsualiser
  </a>
  <a href='javascript:void(0)' data-next='true' class='btn btn--green'>Étape suivante</a>
</div>
<div class='flexbox push-half--ends'>
  <div class='flexbox__item v-middle text--right'>
    <a href='javascript:void(0)' data-previous='true' class=''>Étape précédente</a>
  </div>
</div>

<form>
  <div class='input'>
    <label for="sender_name" class='label--large blue'>Nom de l'éxpéditeur</label>
    <p class="flush">Le nom apparaissant dans la boite e-mail de l'élève</p>
    <input id="title" class='input--large one-whole' name="sender_name" type="text" placeholder=" {{ structure_id }}" value="{{ sender_name }}" required />
  </div>

  <div class='input'>
    <label for="reply_to" class='label--large blue'>E-mail de réponse</label>
    <p class="flush">L'email où l'élève pourra vous répondre</p>
    <input id="title" class='input--large one-whole' name="reply_to" type="text" placeholder="Prochains stages à venir !" value="{{ reply_to }}" required />
  </div>

  <div class='input'>
    <label for="email_object" class='label--large blue'>Objet de l'e-mail</label>
    <p class="flush">Ce qui s'affichera dans la boite de réception de l'élève</p>
    <input id="title" class='input--large one-whole' name="email_object" type="text" placeholder="Prochains stages à venir !" value="{{ email_object }}" required />
  </div>
</form>
