.white-box.islet
  - if teacher.image?
    .grid
      .grid__item.one-fifth>
        = image_tag teacher.image.url(:normal), class: 'block'
      .grid__item.four-fifths>
        %p
          %b= teacher.name
          %br
          = teacher.description.try(:html_safe)
  - else
    %p
      %b= teacher.name
      %br
      = teacher.description.try(:html_safe)
  - if can? :destroy, teacher
    %br
    = link_to edit_pro_structure_teacher_path(@structure, teacher), title: 'Modifier ce professeur', class: 'fancybox.ajax btn btn--small btn--orange', data: {behavior: 'modal', height: '100%'} do
      %i.icon-pencil
      Modifier ce professeur
    = link_to pro_structure_teacher_path(@structure, teacher), method: :delete, title: 'Supprimer ce professeur', data: {confirm: 'Êtes-vous sur de supprimer ce professeur ? Cette action sera irreversible.'}, class: 'btn btn--small btn--red' do
      %i.icon-trash
      Supprimer
