<a href="{{ data_url }}" class="muted-link opacity-hidden-on-hover__wrapper block">
    <div class="relative rslides-wrapper push-half--bottom" data-resizeable-height style="height: 200px">
        <ul class="rslides">
            {{#if preloaded_medias}}
                {{#each preloaded_medias}}
                    <li class="bg-cover" data-resizeable-height style="height: 200px">
                        <div class="media__item media__item--slides">
                            <span class="break-all" title="{{this.caption}}">
                                <img src="{{this.thumbnail_url}}" alt="{{this.caption}}"/>
                            </span>
                        </div>
                    </li>
                {{/each}}
            {{else}}
                <li class="bg-cover" data-resizeable-height style="height: 200px">
                    <div class="media__item media__item--slides">
                        <span class="break-all">
                            <img src="{{logo_large_url}}"/>
                        </span>
                    </div>
                </li>
            {{/if}}
        </ul>
        <div rel="slideshow-{{mediable_id}}" class="rslides_nav one-whole text--center">Voir le profil</div>
    </div>
    <div class="north west absolute push on-under-top">
        <div data-trigger="hover" data-placement="top" data-html="true" data-toggle="popover" data-content="{{ discovery_pass_policy_popover }}" class="inline-block lbl lbl--yellow milli v-middle"><i class="fa fa-star"></i> {{ discovery_pass_policy }}</div>
    </div>
    <div href="#" class="orange north east absolute push on-under-top heart-link" data-behavior='add-to-favorite' data-toggle='tooltip' data-added-title='Retirer de mes favoris' data-not-added-title='Ajouter à mes favoris' data-placement='left'>
        <i class="fa fa-heart-o fa-3x"></i>
    </div>

    <div class="soft-half--sides relative">
        <h4 class="flush v-top">
            {{ truncate name 29 }}
        </h4>
        <div style="padding-right: 60px;">
            {{#if structure_type}}{{ structure_type }}{{/if}}
        </div>
        <div>
            <div class="soft--right">
                {{#ifCond regular_courses_plannings_count '>' 0 }}
                    Cours réguliers ({{regular_courses_plannings_count}} {{ pluralize regular_courses_plannings_count 'créneau' 'créneaux' }})
                {{/ifCond}}
                {{#ifCond regular_courses_plannings_count '>' 0 }}{{#ifCond training_courses_plannings_count '>' 0 }}・{{/ifCond}}{{/ifCond}}
                {{#ifCond training_courses_plannings_count '>' 0 }}
                    Stages & ateliers ({{training_courses_plannings_count}} {{ pluralize training_courses_plannings_count 'date' 'dates' }})
                {{/ifCond}}
            </div>
            <div>
                {{ truncate subjects 50 }}
            </div>
            <div>
                <strong>
                    <i class="fa fa-comment"></i> {{ comments_count }} avis
                    {{#if highlighted_comment_title}}
                    ・ <i class="quoted milli">{{{truncate highlighted_comment_title 38}}}</i>
                    {{/if}}
                </strong>
            </div>
        </div>

        <img src="{{ logo_thumb_url }}" class="absolute on-under-top bordered rounded--circle bordered--larger border-color-white" alt="Cours de {{ parent_subjects_text }} à {{ name }}" style='width: 85px; height: 85px; top: -45px; right: 0;'>
    </div>
</a>
