.grid.soft--ends
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'visibilite') }>
    = image_tag 'pro/homepage/icons/responsive.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/responsive@2x.png') }
    %br
    Un planning accessible
    %br
    sur tous les supports
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'attractivite') }>
    = image_tag 'pro/homepage/icons/calendar.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/calendar@2x.png') }
    %br
    Des cours toujours à jour
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'visibilite') }>
    = image_tag 'pro/homepage/icons/bubbles.png', height: 150, width: 150, class: 'push-half--bottom image-drop-shadow'
    %br
    Page Livre d'Or
    %br
    sur votre site Internet
.grid
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'attractivite') }>
    = image_tag 'pro/homepage/icons/graph.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/graph@2x.png') }
    %br
    Statistiques de trafic
    %br
    \& suivi des conversions
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'attractivite') }>
    = image_tag 'pro/homepage/icons/growth.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/growth@2x.png') }
    %br
    Statistiques de trafic
    %br
    \& suivi des conversions
