.grid.soft--ends
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'visibilite') }>
    = image_tag 'pro/homepage/icons/responsive.png', height: 150, width: 150, class: 'push-half--bottom image-drop-shadow'
    %br
    Profil CoursAvenue
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'attractivite') }>
    = image_tag 'pro/homepage/icons/calendar.png', height: 150, width: 150, class: 'push-half--bottom image-drop-shadow'
    %br
    Page planning optimisée mobiles
    %br
    \& inscriptions en ligne
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'visibilite') }>
    = image_tag 'pro/homepage/icons/bubbles.png', height: 150, width: 150, class: 'push-half--bottom image-drop-shadow'
    %br
    Page Livre d'Or
    %br
    sur votre site Internet
.grid
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'fidelisation') }>
    = image_tag 'pro/homepage/icons/newsletter.png', height: 150, width: 150, class: 'push-half--bottom image-drop-shadow'
    %br
    Newsletters
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'fidelisation') }>
    = image_tag 'pro/homepage/icons/like.png', height: 150, width: 150, class: 'push-half--bottom image-drop-shadow'
    %br
    Multi-postage
    %br
    sur les réseaux sociaux
  %a.muted-link.grid__item.one-third.delta.text--center.line-height-1-7.palm-one-whole.push--bottom.zoom-on-hover{ href: pro_pages_features_url(anchor: 'attractivite') }>
    = image_tag 'pro/homepage/icons/graph.png', height: 150, width: 150, class: 'push-half--bottom image-drop-shadow'
    %br
    Statistiques de trafic
    %br
    \& suivi des conversions
