- bg_center = false if bg_center.nil?
- hide_menu = false if hide_menu.nil?
- full      = false if full.nil?
- current   = '' if current.nil?
.main-container.relative.hard
  .absolute.north.east.on-top-of-the-world.f-weight-bold.visuallyhidden--palm
    .bg-black-faded.rounded.rounded-top--none.inline-block.push--right
      %a.inline-block.soft--left.soft-half--ends.muted-link.push--right.white-faded{ href: 'mailto:contact@coursavenue.com' } contact@coursavenue.com
      %a.inline-block.soft--right.soft-half--ends.muted-link.white-faded{ href: 'tel:09 82 24 27 74' }
        %i.fa.fa-phone
        09 82 24 27 74
    - if current_pro_admin
      - if current_pro_admin.super_admin?
        = link_to 'Espace super admin', pro_dashboard_path, class: 'white muted-link'
      - elsif current_pro_admin.structure.present?
        = link_to 'Mon profil', dashboard_pro_structure_path(current_pro_admin.structure), class: 'white muted-link'
    - else
      = link_to 'Connexion', new_pro_admin_session_path, class: 'white muted-link fancybox.ajax', data: { behavior: 'modal', width: '300', padding: 0 }

.one-whole.relative.overflow-hidden{ class: (full ? 'full-screen-item' : '')}
  %div.home-page-fullscreen-video.bg-cover.bg-position-top.header--pro__background{ class: (bg_center ? 'bg-position-center' : ''), data: { behavior: 'parallax' } }
    .black-curtain.north.west.one-whole.absolute
  .push--top.soft--ends.hard--bottom.palm-hard
    .text--right.soft-half--ends.transition-all-linear#sticky-header
      .main-container.relative
        = link_to root_path, class: 'block' do
          = image_tag 'logos/logo-pro-white.png', width: 190, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo-pro-white@2x.png') }, class: 'homescreen-header__logo v-middle push--left west north absolute ', style: 'left: 3px; top: 3px;'
          = image_tag 'logos/logo-pro.png', width: 200, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo-pro@2x.png') }, class: 'homescreen-header__logo v-middle push--left west north absolute hidden', id: 'home-logo-dark'
        - if !hide_menu
          %ul.nav.flush.epsilon.f-weight-600
            %li.palm-hidden.palm-block.palm-text--center.line-height-1-7.soft--right
              = link_to 'Bienvenue', root_path, class: ['white-transparent', 'header--pro__link', (current == 'home' ? 'active bordered--bottom bordered--larger' : '')]
            %li.palm-block.palm-text--center.line-height-1-7.soft--right
              = link_to 'Fonctionnalités', pro_pages_features_path, class: ['white-transparent', 'header--pro__link', (current == 'features' ? 'active bordered--bottom bordered--larger' : '')]
            %li.visuallyhidden--palm.soft--right
              - if current_pro_admin and !current_pro_admin.super_admin?
                = link_to 'Accéder à mon espace Pro', pro_structure_path(current_pro_admin.structure), class: 'muted-link btn btn--white-transparent', data: { try: true }
              - else
                = link_to 'Essayer gratuitement', inscription_pro_structures_path, class: 'muted-link white btn btn--white-transparent', data: { try: true }
    = yield
  - if full
    .text--center.absolute.one-whole{ style: ' top: 85%;' }
      %a.block.not-outlined.white{ href: '#en-savoir-plus', data: { behavior: 'scroll-to', duration: 900, offset_top: '-50'} }
        %i.fa.fa-chevron-down.fa-3x.smooth-black-text-shadow.animated-arrow-1.block
        %i.fa.fa-chevron-down.fa-3x.smooth-black-text-shadow.animated-arrow-2.block



- content_for :scripts do
  :javascript
      $(function() {
          $('#sticky-header').sticky({
              oldWidth: true,
              onUnStick: function onUnStick ($element) {
                  $element.find('a').removeClass('border-color-orange orange');
                  $element.find('a').addClass('white-transparent');
                  $element.find('[data-try]').removeClass('btn--green');
                  $element.find('[data-try]').addClass('btn--white-transparent');
                  $element.removeClass('bg-white bordered--bottom');
                  $('#home-logo-dark').fadeOut();
              },
              onStick: function onStick ($element) {
                  $element.find('a').removeClass('white-transparent');
                  $element.find('.header--pro__link').addClass('border-color-orange orange');
                  $element.find('[data-try]').removeClass('btn--white-transparent');
                  $element.find('[data-try]').addClass('btn btn--green');
                  $element.addClass('bg-white bordered--bottom');
                  $('#home-logo-dark').fadeIn();
              }
          });
      });
