%table.table--data.table--striped.table--white.push--top{ style: 'max-width: 850px;', data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.go_premium')} }
  %thead
    %tr.border-none--bottom
      %td.no-stripe.four-twelfths.bordered--right.v-top.epsilon{ style: 'width: auto;' }
        -# Tarifs :
      %td.text--center.four-twelfths.bordered--top.bordered--right.v-top.bordered--bottom{ style: 'width: 250px;' }
        %p.beta.push-half--bottom.soft--top.blue
          %i.fa.fa-leaf
          Basic
        %ul.nav.tabs--link.inline-block
          %li.active &nbsp;
        .delta Gratuit
        %p
          %i &nbsp;
          %br
          %strong.gamma &nbsp;
        - if @structure
          %p
            %span.gray Votre compte actuel
        - else
          = link_to 'Commencer', inscription_pro_structures_path, class: 'btn btn--yellow btn--full'
      %td.bordered--right.four-twelfths.text--center.bordered--top.v-top.bordered--bottom{ style: 'width: 250px;' }
        %p.beta.push-half--bottom.soft--top.yellow
          %i.fa.fa-star
          Premium
        %ul.nav.tabs--link.inline-block
          %li.active
            %a{ href: '.price-annual', data: { toggle: 'tab' } } 12 mois
          %span.gray= '|'
          %li
            %a{ href: '.price-mensual', data: { toggle: 'tab' } } 1 mois

        .tab-content
          .tab-pane.hard.price-annual.active
            .delta 39€ TTC / mois
            %p
              %i Soit 468€ en un prélèvement unique
              %br
              %strong.green.gamma -11%
              %span.delta.green de réduction

            - if @structure
              = link_to 'Commencer', new_pro_structure_subscription_plan_path(@structure, premium_type: 'yearly'), class: 'btn btn--yellow btn--full'
            - else
              = link_to 'Commencer', inscription_pro_structures_path, class: 'btn btn--yellow btn--full'
          .tab-pane.hard.price-mensual
            .delta 44€ TTC / mois
            %p
              %i Facturation mensuelle
              %br
              %strong.gamma &nbsp;
            - if @structure
              = link_to 'Commencer', new_pro_structure_subscription_plan_path(@structure, premium_type: 'monthly'), class: 'btn btn--yellow btn--full'
            - else
              = link_to 'Commencer', inscription_pro_structures_path, class: 'btn btn--yellow btn--full'

  %tbody
    %tr
    %tr
      %td.bordered--right.no-stripe &nbsp;
      %td.bordered.text--center.soft-half{ colspan: 2 }
        %strong.delta Boostez votre trafic
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Communication ciblée
          %br
          %span.milli
            Bénéficiez pleinement de toutes les actions de communication que notre équipe pilote au quotidien (
            = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/logo-adword.png', height: 18, class: 'v-middle'
            ,
            = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/logo-facebook.png', height: 20, class: 'v-middle'
            , newsletters...) : votre trafic augmente, il devient plus qualifié et vous recrutez plus d'élèves
      %td.bordered--right.text--center
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe &nbsp;
      %td.bordered.text--center.soft-half{ colspan: 2 }
        %strong.delta Gagnez en visibilité
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Référencement CoursAvenue
          %br
          %span.milli Affichez votre profil sur le moteur de recherche géolocalisé CoursAvenue.
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Profil complet et personnalisé
          %br
          %span.milli Montez dans les résultats grâce à vos photos & vidéos, aux liens vers vos pages (site Internet & Facebook), et à une accroche personnalisée.
      %td.bordered--right.text--center.epsilon
        Limité
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Profils similaires
          %br
          %span.milli Apparaissez sur tous les autres profils qui proposent les mêmes types d'activités autour de vous.
      %td.bordered--right.text--center
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe &nbsp;
      %td.bordered.text--center.soft-half{ colspan: 2 }
        %strong.delta Recrutez de nouveaux élèves
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Mises en relation
          %br
          %span.milli Tout le monde sur CoursAvenue peut gratuitement vous envoyer un message ou vous téléphoner (pas de numéro surtaxé).

      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Coordonnées des élèves
          %br
          %span.milli Obtenez les e-mails des élèves qui vous ont envoyé un message ou ajouté en favori.
      %td.bordered--right.text--center
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Offres découvertes
          %br
          %span.milli Démarquez-vous en affichant vos cours d'essai gratuits ou vos tarifs spéciaux qui invitent les nouveaux élèves à venir vous découvrir.
      %td.bordered--right.text--center
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x

    %tr
      %td.bordered--right.no-stripe &nbsp;
      %td.bordered.text--center.soft-half{ colspan: 2 }
        %strong.delta Pilotez votre efficacité
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Statistiques
          %br
          %span.milli Suivez les statistiques de votre profil (nombre de visites, de prises de contact, etc.) et optimisez son efficacité.
      %td.bordered--right.text--center.epsilon
        Limité
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Répertoire et messagerie
          %br
          %span.milli Rassemblez toutes les coordonnées de vos contacts et envoyez-leur des messages groupés.
      %td.bordered--right.text--center.epsilon
        Limité
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe.text--right
        %p.epsilon.flush
          %strong Conseils personnalisés
          %br
          %span.milli Recevez les meilleurs conseils de l'équipe CoursAvenue pour optimiser vos performances de profil et de votre communication en général.
      %td.bordered--right.text--center
      %td.bordered--right.text--center
        %i.fa.fa-check.green.fa-2x
    %tr
      %td.bordered--right.no-stripe &nbsp;
      %td.bordered.text--center.soft-half{ colspan: 2 }
        %strong.delta Contactez CoursAvenue
    %tr
      %td.bordered--right.no-stripe.text--right
      %td.bordered--right.text--center
        Chat & e-mail
      %td.bordered--right.text--center
        Conseiller par téléphone
    %tr
      %td.bordered--right.no-stripe.text--right
      %td.bordered--right.text--center.soft-half
        - if @structure
          %span.gray.v-middle Votre compte actuel
        - else
          = link_to 'Commencer', inscription_pro_structures_path, class: 'btn btn--yellow btn--full'
      %td.bordered--right.text--center.soft-half
        - if @structure
          .tab-pane.hard.price-annual.active
            = link_to 'Commencer', new_pro_structure_subscription_plan_path(@structure, premium_type: 'yearly'), class: 'btn btn--yellow btn--full'
          .tab-pane.hard.price-mensual
            = link_to 'Commencer', new_pro_structure_subscription_plan_path(@structure, premium_type: 'monthly'), class: 'btn btn--yellow btn--full'
        - else
          = link_to 'Commencer', inscription_pro_structures_path, class: 'btn btn--yellow btn--full'
    %tr
      %td.bordered--right.no-stripe.text--right
      %td.bordered.text--left{ colspan: 2 }
        %p
          %strong Abonnement sans contrat
          ni frais supplémentaires, vous pouvez changer d'offre ou annuler votre abonnement à tout moment.

        %p
          %strong Besoin d'une facture ?
          Une fois abonné, vous pourrez l'imprimer directement depuis votre profil.
