- profile = 'emilie' if profile.nil?
- profiles = [{ name: "Emilie, Professeur de yoga chez Yoga Sattva Paris", slug: 'yoga-sattva-paris', bg: asset_path('pro/home_background.jpg'), image_name: 'emilie', quote: "Communiquer sur Internet me prenait trop de temps, <br> je m'éparpillais sans résultat. Avec CoursAvenue, c'est intuitif et efficace, en accord avec mes valeurs.", image_width: 350, medium: true }]
- profiles << { name: "Alain Pons, formateur en photographie à Clermont-Ferrand", slug: 'alain-pons-photographe', bg: asset_path('pro/home_background_alain.jpg'), image_name: 'alain', quote: "Gérer ma présence sur Internet relève du quotidien. Grâce à CoursAvenue, c'est devenu simple et je peux enfin me consacrer à la qualité de mes cours.", image_width: 450 }

- if profile == 'emilie'
  - selected_profile = profiles.first
- elsif profile == 'alain'
  - selected_profile = profiles.last

- cache [selected_profile, ENV["ETAG_VERSION_ID"]] do
  .bg-position-top.soft--sides.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path(selected_profile[:bg])})" }
    .main-container{ class: ( selected_profile[:medium] ? 'main-container--medium' : '')}
      %header.grid--full
        .grid__item.soft--top.v-middle.relative.visuallyhidden--palm{ class: ( selected_profile[:medium] ? 'three-tenths' : 'five-twelfths')}>
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/pro/testimonies/#{selected_profile[:image_name]}-detour.png", class: 'block', width: selected_profile[:image_width], style: 'margin-left: auto'
        .grid__item.v-middle.soft--top.soft--left.palm-one-whole.relative{ class: ( selected_profile[:medium] ? 'seven-tenths' : 'seven-twelfths')}>
          .center-block
            .soft--top.white.soft-black-text-shadow
              %p.gamma.line-height-1-5.push-half--bottom
                %strong.quoted<
                  = selected_profile[:quote].html_safe
              %p.f-style-italic.f-weight-600
                = selected_profile[:name]

