= content_for :title do
  Fonctionnalités | CoursAvenue PRO

= content_for :meta_description do
  L'essentiel pour développer vos activités de loisirs

= render layout: 'pro/home/header_layout', locals: { current: 'features', full: true } do
  .main-container.mega-soft--top
    %h1.flush.f-size-big.text--center.white.relative
      L'essentiel pour développer vos activités de loisirs

  .main-container.main-container--medium.relative.mega-soft--ends
    .grid.white
      .grid__item.one-third.palm-one-whole.text--center>
        %a.muted-link{ href: '#visibilite', data: { behavior: 'scroll-to' } }>
          .opacity-hidden-on-hover__wrapper
            .transparant-white-box.rounded.soft.orange-box--on-hover
              %h1.push--top Visibilité
              %h4.visuallyhidden--palm.soft--bottom Pour recruter de nouveaux élèves grâce à Internet
            .opacity-hidden-on-hover__child.soft--top.visuallyhidden--palm
              .epsilon.line-height-2.v-middle.f-weight-600.soft-half-bottom.white>
                Profil CoursAvenue
              .epsilon.line-height-2.v-middle.f-weight-600.soft-half-bottom.white>
                Avis & Livre d'Or
      .grid__item.one-third.palm-one-whole.text--center>
        %a.muted-link{ href: '#inscriptions', data: { behavior: 'scroll-to' } }>
          .opacity-hidden-on-hover__wrapper
            .transparant-white-box.rounded.soft.dark-blue-box--on-hover
              %h1.push--top Inscriptions
              %h4.visuallyhidden--palm.soft--bottom Pour convertir les visiteurs de votre site en élèves inscrits
            .opacity-hidden-on-hover__child.soft--top.visuallyhidden--palm
              .epsilon.line-height-2.v-middle.f-weight-600.soft-half-bottom.white>
                Planning optimisé mobiles & tablettes
              .epsilon.line-height-2.v-middle.f-weight-600.soft-half-bottom.white>
                Inscriptions en ligne
              .epsilon.line-height-2.v-middle.f-weight-600.soft-half-bottom.white>
                Statistiques de trafic & des conversions
      .grid__item.one-third.palm-one-whole.text--center>
        %a.muted-link{ href: '#fidelisation', data: { behavior: 'scroll-to' } }>
          .opacity-hidden-on-hover__wrapper
            .show-on-hover__wrapper
              .transparant-white-box.rounded.soft.green-box--on-hover
                %h1.push--top Fidélisation
                %h4.visuallyhidden--palm.soft--bottom Pour faire revenir plus souvent vos élèves
              .opacity-hidden-on-hover__child.soft--top.visuallyhidden--palm
                .epsilon.line-height-2.v-middle.f-weight-600.soft-half-bottom.white>
                  Newsletters
                .epsilon.line-height-2.v-middle.f-weight-600.soft-half-bottom.white>
                  Multi-postage réseaux sociaux
                .epsilon.line-height-2.v-middle.f-weight-600.soft-half-bottom.white>
                  Questionnaire de satisfaction


#en-savoir-plus
  .home-screen-promotion-wrapper.soft--sides.bordered--top.bordered--thick.border-color-orange.border-none--sides.border-none--bottom#visibilite
    .main-container.main-container--medium-small.mega-soft--ends.soft--sides
      %h2.f-size-big.flush.orange Visibilité
      %h3.delta.soft--bottom.orange Pour recruter de nouveaux élèves grâce à Internet
      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.soft--right.palm-block.palm-text--center.palm-hard
          = image_tag 'pro/homepage/icons/responsive.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/responsive@2x.png') }
        .flexbox__item.v-top.palm-block.soft--left.palm-hard.soft--right
          %h4.beta.flush.line-height-1-3 Profil CoursAvenue
          %p.delta.line-height-1-7.f-weight-500.push-half--bottom
            Apparaissez sur CoursAvenue et faites connaître vos activités à un maximum d'Internautes à la recherche de ce que vous proposez
          %p.line-height-1-7.gray.soft--sides.soft-half--ends.bg-gray-smooth.rounded.bordered.border-color-darker
            %strong Le saviez-vous ?
            9 Français sur 10 passent par Internet pour trouver une activité de loisir. En priorité, ils ciblent sur la localisation puis recherchent des avis, et CoursAvenue représente la meilleure réponse

      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.palm-block.palm-text--center.soft--left.palm-hard.visuallyhidden--lap-and-up
          = image_tag 'pro/homepage/icons/bubbles.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/bubbles@2x.png') }
        .flexbox__item.v-top.soft--right.palm-block
          %h4.beta.flush.line-height-1-3 Avis & Livre d'Or
          %p.delta.line-height-1-7.f-weight-500.push-half--bottom
            Affichez les avis de vos élèves sur votre site Internet et bénéficiez des effets du bouche-à-oreille
          %p.line-height-1-7.gray.soft--sides.soft-half--ends.bg-gray-smooth.rounded.bordered.border-color-darker
            %strong Le saviez-vous ?
            90% des Français recherchent des avis sur Internet avant de s'inscrire à un nouveau cours
        .flexbox__item.v-top.palm-block.palm-text--center.soft--left.visuallyhidden--palm
          = image_tag 'pro/homepage/icons/bubbles.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/bubbles@2x.png') }

      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.soft--right.palm-block.palm-text--center.palm-hard
          = image_tag 'pro/homepage/icons/bullhorn.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/bullhorn@2x.png') }
        .flexbox__item.v-top.palm-block.soft--left.palm-hard.soft--right.one-whole
          %h4.beta.line-height-1-7 La presse parle de CoursAvenue
          %div
            .inline-block.palm-block.palm-text--center.grayscale.v-middle.push--right.palm-hard.palm-flush>
              = image_tag 'presses/logos/elle.png', height: 35, data: { src2x: asset_path('presses/logos/elle@2x.png') }
            .inline-block.palm-block.palm-text--center.grayscale.v-middle.push--sides.palm-hard.palm-flush>
              = image_tag 'presses/logos/leparisien.jpg', height: 35, data: { src2x: asset_path('presses/logos/leparisien@2x.jpg') }
            .inline-block.palm-block.palm-text--center.grayscale.v-middle.push--sides.palm-hard.palm-flush>
              = image_tag 'presses/logos/au-feminin.png', height: 35, data: { src2x: asset_path('presses/logos/au-feminin@2x.png') }


  .bordered--top.bordered--thick.border-color-dark-blue.border-none--sides.border-none--bottom#inscriptions
    .main-container.main-container--medium-small.mega-soft--ends.soft--sides
      %h2.f-size-big.flush.dark-blue Inscriptions
      %h3.delta.soft--bottom.dark-blue Pour convertir les visiteurs de votre site en élèves inscrits
      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.soft--right.palm-block.palm-text--center.palm-hard
          = image_tag 'pro/homepage/icons/calendar.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/calendar@2x.png') }
        .flexbox__item.v-top.palm-block.soft--left.palm-hard.soft--right
          %h4.beta.flush.line-height-1-3 Page planning optimisée mobiles & tablettes sur votre site Internet
          %p.delta.line-height-1-7.f-weight-500.push-half--bottom
            Affichez une page planning optimisée multi-supports sur votre site Internet et augmentez votre nombre d'inscrits
          %p.line-height-1-7.gray.soft--sides.soft-half--ends.bg-gray-smooth.rounded.bordered.border-color-darker
            %strong Le saviez-vous ?
            La plage planning est la page la plus visitée de votre site Internet, et la moitié des visites se fait sur mobile ou tablette


      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.palm-block.palm-text--center.soft--left.palm-hard.visuallyhidden--lap-and-up
          = image_tag 'pro/homepage/icons/growth.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/growth@2x.png') }
        .flexbox__item.v-top.soft--right.palm-block
          %h4.beta.flush.line-height-1-3 Inscriptions en ligne
          %p.delta.line-height-1-7.f-weight-500
            Augmentez votre nombre de nouveaux élèves en proposant l'inscription en ligne et ne gaspillez plus votre temps à rappeler les appels manqués
          %p.line-height-1-7.gray.soft--sides.soft-half--ends.bg-gray-smooth.rounded.bordered.border-color-darker
            %strong Le saviez-vous ?
            Nos partenaires qui proposent l'inscription en ligne sur leur site génèrent 3 fois plus d'inscriptions que ceux qui ne le font pas
        .flexbox__item.v-top.palm-block.palm-text--center.soft--left.palm-hard.visuallyhidden--palm
          = image_tag 'pro/homepage/icons/growth.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/growth@2x.png') }

      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.soft--right.palm-block.palm-text--center.palm-hard
          = image_tag 'pro/homepage/icons/graph.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/graph@2x.png') }
        .flexbox__item.v-top.palm-block.soft--left.palm-hard.soft--right
          %h4.beta.flush.line-height-1-3 Statistiques de votre trafic et suivi des conversions
          %p.delta.line-height-1-7.f-weight-500.push-half--bottom
            Suivez le nombre de visiteurs de votre page planning et mesurez le pourcentage d'inscriptions
          %p.line-height-1-7.gray.soft--sides.soft-half--ends.bg-gray-smooth.rounded.bordered.border-color-darker
            %strong Le saviez-vous ?
            En moyennne, un site Internet efficace doit convertir plus de 3% des visiteurs en nouveaux élèves inscrits


  .home-screen-promotion-wrapper.soft.bordered--top.bordered--thick.border-color-green.border-none--sides.border-none--bottom#fidelisation
    .main-container.main-container--medium-small.mega-soft--ends.soft--sides
      %h2.f-size-big.flush.green Fidélisation
      %h3.delta.soft--bottom.green Pour faire revenir plus souvent vos élèves
      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.soft--right.palm-block.palm-text--center.palm-hard
          = image_tag 'pro/homepage/icons/newsletter.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/newsletter@2x.png') }
        .flexbox__item.v-top.palm-block.soft--left.palm-hard.soft--right
          %h4.beta.flush.line-height-1-3 Newsletter et fichier élèves
          %p.delta.line-height-1-7.f-weight-500.push-half--bottom
            Envoyez des newsletters de qualité à vos élèves pour qu'ils participent régulièrement à vos activités
          %p.line-height-1-7.gray.soft--sides.soft-half--ends.bg-gray-smooth.rounded.bordered.border-color-darker
            %strong Le saviez-vous ?
            Plus de 80% des participants à un stage ou un événement s'y sont inscrits après avoir reçu une newsletter attractive

      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.palm-block.palm-text--center.soft--left.palm-hard.visuallyhidden--lap-and-up
          = image_tag 'pro/homepage/icons/like.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/like@2x.png') }
        .flexbox__item.v-top.soft--right.palm-block
          %h4.beta.flush.line-height-1-3 Multi-postage sur les réseaux sociaux
          %p.delta.line-height-1-7.f-weight-500.push-half--bottom
            Gérez tous vos réseaux sociaux au même endroit pour mieux fidéliser vos élèves
          %p.line-height-1-7.gray.soft--sides.soft-half--ends.bg-gray-smooth.rounded.bordered.border-color-darker
            %strong Le saviez-vous ?
            Vos élèves sont 7 fois plus susceptibles de revenir à une nouvelle activité s'ils sont fans de votre page Facebook
        .flexbox__item.v-top.palm-block.palm-text--center.soft--left.palm-hard.visuallyhidden--palm
          = image_tag 'pro/homepage/icons/like.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/like@2x.png') }

      .flexbox.palm-block.push--bottom
        .flexbox__item.v-top.soft--right.palm-block.palm-text--center.palm-hard
          = image_tag 'pro/homepage/icons/checklist.png', height: 150, width: 150, class: 'image-drop-shadow push-half--bottom', data: { src2x: asset_path('pro/homepage/icons/checklist@2x.png') }
        .flexbox__item.v-top.palm-block.soft--left.palm-hard.soft--right
          %h4.beta.flush.line-height-1-3 Questionnaire de satisfaction
          %p.delta.line-height-1-7.f-weight-500.push-half--bottom
            Offrez la possibilité à chaque nouvel inscrit de s'exprimer sur vos activités pour créer du lien, échanger et mieux le fidéliser
          %p.line-height-1-7.gray.soft--sides.soft-half--ends.bg-gray-smooth.rounded.bordered.border-color-darker
            %strong Le saviez-vous ?
            3 élèves sur 4 se disent contents de pouvoir déposer leur témoignage après un 1er essai et reconnaissent que cela participe à l'idée d'y revenir

.bordered--top= render partial: 'testimonies_banner', locals: { profile: 'alain' }
