= content_for :title do
  Faites connaître vos cours

.bg-fixed.home-screen-promotion-wrapper.soft--sides.white.bg-cover.soft-black-text-shadow{ style: "background-image: url('https://coursavenue-public.s3.amazonaws.com/public_assets/home_backgrounds/danse.jpg')" }
  .main-container
    %header.grid
      .grid__item.soft--top.v-bottom.relative.visuallyhidden--palm.three-tenths>
        = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/discovery_pass/discovery_girl.png", class: 'block', width: 380, style: 'margin-left: auto'
      .grid__item.v-bottom.soft--top.palm-one-whole.relative.seven-twelfths>
        .soft--top.white.soft-black-text-shadow
          %p.gamma.line-height-1-5.push-half--bottom
            %strong.quoted<
              Comme beaucoup je propose des cours d'essai gratuits, mais j'ai du mal à les remplir. Avec le Pass Découverte, j'ai enfin un flux régulier de nouveaux élèves.
          %p.f-style-italic.f-weight-600
            Stéphanie, Professeur de danses latines à Paris
        .soft.push.flush--top.hard--top
          %h1.flush
            Trouvez de nouveaux élèves
          .soft--right.f-weight-600
            Le Pass Découverte est un moyen efficace de recruter de nouveaux élèves grâce à vos cours d'essai gratuits. Pour vous, être partenaire du Pass est gratuit ; pour les élèves, il est à 19€ par mois, ce qui vous garantit un public intéressé et susceptible de s'inscrire à l'année.
          %br
          - if current_pro_admin and current_pro_admin.structure
            = link_to 'Faire partie du Pass Découverte', trial_courses_pro_structure_courses_path(current_pro_admin.structure), class: 'btn btn--green btn--bigger'
          - else
            - session['pro_admin_return_to'] = trial_courses_pro_structure_courses_path('__STRUCTURE_ID__')
            = link_to 'Faire partie du Pass Découverte', new_pro_admin_session_path, class: 'btn btn--green btn--bigger fancybox.ajax', data: { behavior: 'modal', width: '700', padding: 0 }
          %div.f-weight-600
            %i Gratuit et sans engagement

.main-container.soft
  %h2.text--center.f-weight-300 Être partenaire du Pass Découverte c'est :
  .grid
    .grid__item.one-third.text--center>
      .push-half--bottom
        %i.fa.fa-group.fa-3x
      %h4 De nouveaux élèves toute l'année
      %p.epsilon.line-height-1-5
        Chaque jour,
        %strong des milliers d'utilisateurs recherchent des cours de loisirs sur CoursAvenue.com.
        Avec le Pass Découverte, nous invitons les plus sérieux d'entre eux à essayer les cours de nos partenaires. Le Pass est payant pour les élèves (19 € par mois) afin d'éliminer les curieux attirés par la gratuité.
    .grid__item.one-third.text--center>
      .push-half--bottom
        %i.fa.fa-heart-o.fa-3x
      %h4
        Gratuit et sans engagement
      %p.epsilon.line-height-1-5
        Pour vous, le Pass est totalement gratuit et sans engagement. Dès que vous n'avez plus la capacité de prendre de nouveaux élèves, il vous suffit de suspendre ponctuellement votre participation au Pass Découverte.
        A tout moment,
        %strong vous décidez des cours à inclure et du nombre de séances d'essai que vous souhaitez offrir
        à chaque élève.
    .grid__item.one-third.text--center>
      .push-half--bottom
        %i.fa.fa-handshake.fa-3x
      %h4 Suivi des réservations optimisé
      %p.epsilon.line-height-1-5
        À chaque demande d'inscription, vous recevrez un e-mail automatique pour confirmer le créneau du cours d'essai auprès de l'élève. Vous disposez d'un véritable tableau de bord pour suivre les réservations, communiquer avec les élèves, modifier les horaires, etc. Nous ne tolérons aucun absentéisme :
        %strong dès qu'un inscrit ne se présente pas à son cours, nous lui désactivons le Pass

.bg-fixed.bg-cover{ style: "background-image: url(#{asset_path 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/home_background6.jpg'})" }
  .main-container.main-container--medium.soft--ends
    %h2.text--center.push--bottom.soft--ends.soft-black-text-shadow.white Simple et rapide
    .grid
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 1
        %p.gamma.white.soft-black-text-shadow
          %strong Connectez-vous
        %p.white.soft-black-text-shadow.epsilon
          %strong Pour inclure les cours de votre choix dans le Pass, connectez-vous à votre profil et cliquez sur la rubrique "Pass Découverte". Si vous n'avez pas encore de profil, cliquez ici pour le créer.
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 2
        %p.gamma.white.soft-black-text-shadow
          %strong Ajoutez
        %p.white.soft-black-text-shadow.epsilon
          %strong Dans la rubrique "Pass Découverte", retrouvez tous vos cours et sélectionnez ceux que vous souhaitez proposer en cours d'essai.
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 3
        %p.gamma.white.soft-black-text-shadow
          %strong Recrutez
        %p.white.soft-black-text-shadow.epsilon
          %strong Les élèves intéressés par vos cours s'inscrivent directement auprès de vous : c'est vous qui décidez du créneau et du jour qui vous conviennent.
    .text--center
      - if current_pro_admin and current_pro_admin.structure
        = link_to 'Faire partie du Pass Découverte', trial_courses_pro_structure_courses_path(current_pro_admin.structure), class: 'btn btn--green'
      - else
        = link_to 'Faire partie du Pass Découverte', new_pro_admin_session_path, class: 'btn btn--green fancybox.ajax', data: { behavior: 'modal', width: '700', padding: 0 }


.home-screen-promotion-wrapper
  .main-container.main-container--medium.soft
    %h2.flush.text--center.f-weight-300 Ils font déjà partie du Pass
    %h5.f-weight-300.text--center Le Pass réunit déjà plus de 300 associations, écoles et professeurs rien qu'à Paris
    - Structure.where.not(trial_courses_policy: nil).limit(9).each do |structure|
      .inline-block.one-third.palm-one-whole.lap-one-half>
        - cache [structure, 'pro/home/discovery_pass'] do
          .grid.push--bottom
            .grid__item.one-quarter.epsilon.v-middle>
              = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'block muted-link media-photo', target: :_blank do
                = image_tag structure.logo.url(:thumb), class: 'block'
            .grid__item.three-quarters.v-middle>
              = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: :_blank, class: 'muted-link block' do
                %p.flush.epsilon.line-height-1-5
                  %strong= structure.name
                  %br
                  - if structure.structure_type.present?
                    = t(structure.structure_type)
                  - else
                    Association
                  %br
                  %i= truncate(join_parent_subjects_text(structure), lenght: 36)

.main-container.soft--ends#faq
  %h2.push--ends.text--center.f-weight-300 Questions fréquentes
  .grid.push--bottom
    .grid__item.one-third>
      %h5 En tant que professionnel, dois-je payer pour faire partie du Pass Découverte ?
    .grid__item.two-thirds
      .read-more{ data: { behavior: 'read-more', height: 90 } }
        %p.epsilon
          Non, c'est totalement gratuit et sans engagement. En contrepartie, nous vous demandons d'accueillir chaque élève qui souhaite venir assister à l'un de vos cours d'essai. Si vous annulez ou refusez trop de demandes de réservation, nous vous contactons pour en comprendre les raisons et savoir si nous conservons vos cours dans le Pass.
  .grid.push--bottom
    .grid__item.one-third>
      %h5 Pourquoi avoir lancé ce Pass Découverte ?
    .grid__item.two-thirds
      .read-more{ data: { behavior: 'read-more', height: 90 } }
        %p.epsilon
          Chaque Français comprend l'intérêt des cours de loisirs : ils participent au bonheur et à une vie créative, artistique et pleinement épanouie. Mais combien d'entre eux pratiquent régulièrement des cours de théâtre, de dessin ou encore de danse ? Très peu. La raison ? Aux yeux de beaucoup, l'acte de s'inscrire à un cours reste une démarche trop contraignante et intimidante. Contrairement à une réservation au restaurant qui n'engage à rien (sauf commander un plat), l'inscription à une séance implique de rejoindre un groupe existant, de s'adapter au cours et d'y contribuer personnellement.
        %p.epsilon
          C'est pourquoi le Pass Découverte est selon nous la meilleure solution pour rapprocher les Français des cours de loisirs : l'élève paie en amont (même un faible montant), ce qui l'incite à passer en prospection active et à aller à la rencontre des cours qu'il n'aurait jamais oser découvrir. Et pour vous, le Pass vous permet de rencontrer des élèves vraiment intéressés par votre discipline et prêts à en faire une pratique régulière.

  .grid.push--bottom
    .grid__item.one-third>
      %h5 Les cours d'essai gratuits ne m'ont finalement jamais apporté d'élèves réguliers et le taux d'absentéisme est élevé. Comment allez-vous éviter cela ?
    .grid__item.two-thirds.grid__item.one-third>
      .read-more{ data: { behavior: 'read-more', height: 90 } }
        %p.epsilon
          Nous connaissons bien le principe des cours d'essai. Selon nous, il faut à tout prix éviter :
        %ul.epsilon
          %li Les élèves qui ont pour seul but de "papillonner" pour finalement ne jamais s'inscrire à un cours régulier ;
          %li Les élèves qui s'inscrivent pour ne finalement jamais venir, ce qui vous bloque des places pour rien.

        %p.epsilon
          C'est pourquoi nous avons mis en place ce Pass qui évite ces deux problèmes :
        %ul.epsilon
          %li Pour les élèves, le Pass est payant : même si le montant reste faible (19€ par mois), nous sortons du cadre du 100% gratuit, ce qui permet d'écarter les abus et le "papillonnage" ;
          %li Nous avons mis en place un système de pénalité qui permet d'éviter tout absentéisme : dès qu'un élève inscrit ne se présente pas à son cours, nous lui désactivons le Pass.


  .grid.push--bottom
    .grid__item.one-third>
      %h5 Je souhaite proposer certains créneaux pour une période précise, comment faire ?
    .grid__item.two-thirds
      .read-more{ data: { behavior: 'read-more', height: 90 } }
        %p.epsilon
          Aucun problème, c'est vous qui décidez ! Connectez-vous à votre profil, cliquez sur la rubrique "Pass Découverte", et choisissez les créneaux que vous souhaitez proposer en cours d'essai. Et dès que vous ne souhaitez plus en faire partie, c'est le même principe : décochez les cours pour les retirer du Pass.
  .grid.push--bottom
    .grid__item.one-third>
      %h5 Pourquoi les élèves doivent-ils payer leur Pass ?
    .grid__item.two-thirds
      .read-more{ data: { behavior: 'read-more', height: 90 } }
        %p.epsilon
          Notre objectif est de vous apporter un public qualifié susceptible de devenir des élèves réguliers. C'est pourquoi pour les élèves, le Pass est payant (19€ par mois) : nous évitons ainsi la gratuité et vous rencontrez de vrais élèves à fidéliser. Selon nous, c'est la seule solution pour éviter un public qui profiterait du système, enclin au "papillonnage" et non intéressé à une pratique régulière.
        %p.epsilon
          C'est pourquoi le Pass Découverte est selon nous la meilleure solution pour rapprocher les Français des cours de loisirs : l'élève paie en amont (même un faible montant), ce qui l'incite à passer en prospection active et à aller à la rencontre des cours qu'il n'aurait jamais oser découvrir. Et pour vous, le Pass vous permet de rencontrer des élèves vraiment intéressés par votre discipline et prêts à en faire une pratique régulière.

  .grid.push--bottom
    .grid__item.one-third>
      %h5 Comment se passe la réservation ? Comment éviter tout risque de débordement ?
    .grid__item.two-thirds
      .read-more{ data: { behavior: 'read-more', height: 90 } }
        %p.epsilon
          C'est vous qui gérez vos réservations : dès qu'un élève souhaite s'inscrire à l'un de vos cours d'essai, vous recevez un e-mail vous indiquant la séance et le jour de son choix. A vous de lui confirmer alors le créneau ou de lui proposer une autre date en fonction de votre taux de remplissage. L'inscription ne passe en statut "confirmé" qu'après vous être mis d'accord. A tout moment, vous pouvez annuler une séance, la reporter, ou retirer vos cours du Pass s'ils deviennent tous complets.

  .grid.push--bottom
    .grid__item.one-third>
      %h5 Quelles villes sont concernées par le Pass Découverte ?
    .grid__item.two-thirds
      %p.epsilon
        Pour l'instant, le Pass Découverte concerne uniquement Paris. Au vu des demandes grandissantes de la part des élèves et des professionnels des loisirs, nous allons rapidement l'étendre à d'autres villes !
  .grid.push--bottom
    .grid__item.one-third>
      %h5 Mes cours suivent une progression tout au long de l'année, je peux donc difficilement les proposer à l'essai. Comment faire ?
    .grid__item.two-thirds
      .read-more{ data: { behavior: 'read-more', height: 90 } }
        %p.epsilon
          C'est effectivement le cas de certaines disciplines, comme les cours de théâtre. Mais d'un autre côté, refuser d'accueillir de nouvelles personnes tout au long de l'année, c'est prendre le risque de ne pas rencontrer d'élèves potentiels à fidéliser pour d'éventuels ateliers ou stages, et de ne pas pouvoir se constituer un "vivier", nécessaire le jour où vous voudrez ouvrir d'autres créneaux ou remplacer d'éventuels départs.
        %p.epsilon
          C'est pourquoi nous vous conseillons de toujours proposer vos cours à l'essai, mais en précisant bien aux élèves intéressés qu'ils ne pourront malheureusement pas participer activement au cours pour éviter de perturber la progression générale du groupe. Le simple fait d'ouvrir vos portes pour assister à une séance sera très apprécié : c'est déjà une très bonne manière pour pouvoir comprendre l'esprit et la valeur pédagogique de vos cours.

  .grid.push--bottom
    .grid__item.one-third>
      %h5 Existe-t-il une date butoir pour proposer mes cours dans le cadre du Pass ?
    .grid__item.two-thirds
      .read-more{ data: { behavior: 'read-more', height: 90 } }
        %p.epsilon
          Non, il n'y a pas d'échéance particulière. Mais ne pas proposer vos cours d'essai maintenant, c'est prendre le risque de passer à côté d'élèves potentiels : plus tôt vous proposez vos cours, plus vous profiterez des avantages du Pass. Cela ne vous prendra que quelques minutes, n'attendez pas pour vous connecter et proposer vos cours !

= render 'shared/live_chat'
