= content_for :after_ga do
  <script src="//www.google-analytics.com/cx/api.js?experiment=5MBOH-VVRzWRjzbgMSPTHA"></script>

= content_for :title do
  Développez votre bouche à oreille sur Internet
= pro_menu_currently_at 'Accueil'

- content_for :above_container do
  .home-screen-promotion-wrapper.island.one-whole.soft--top
    %h1.text--center.blue.flush
      Développez votre bouche à oreille sur Internet
    .delta.push--bottom.text--center Toutes les recommandations de vos élèves sur CoursAvenue et votre site Internet
    .text--center
      - if current_pro_admin
        - if current_pro_admin.super_admin?
          = link_to "Accéder à mon profil", pro_dashboard_path, class: 'btn btn--green btn--large', id: 'register'
        - else
          = link_to "Accéder à mon profil", dashboard_pro_structure_path(current_pro_admin.structure), class: 'btn btn--green btn--large', id: 'register'
      - else
        = link_to "Créer mon profil gratuit", inscription_pro_structures_path, class: 'btn btn--green btn--large', id: 'register'
    - unless current_pro_admin
      .text--center= link_to "Je suis déjà inscrit, me connecter", new_pro_admin_session_url(subdomain: 'pro')

  .text--center
    %h4
      Ils ont déjà leur livre d'or :
  - cache(cache_key_for_structures) do
    .main-container.stickem-container.relative
      .stickem.absolute{style: 'width: 38%;'}>
        :css
          #map { height: 500px; }
        = gmaps( {markers: {data: @json_locations_addresses}, map_options: {maxZoom: 14, mapTypeControl: false}})
      .grid
        .grid__item.six-tenths.push--four-tenths>
          - @structures.each_with_index do |structure, index|
            - cache(structure) do
              .one-whole.course-element{data: {'location-ids' => structure.locations.map(&:id).join(' '), type: 'structure-element', url: structure_url(structure, subdomain: 'www')}}
                .grid
                  .grid__item.two-twelfths>
                    = image_tag structure.logo.url(:thumb)
                  .grid__item.seven-twelfths>
                    %h3.flush--bottom.brand.course-title= structure.name
                    %ul.nav.push-half--ends= join_child_subjects structure, true
                    - if structure.description.present?
                      %p.read-more{data: {behavior: 'read-more', height: 50}}= structure.description.html_safe
                  .grid__item.three-twelfths.text--center>
                    .thin.big-alpha.brand #{structure.comments_count}
                    %div
                      = link_to structure_url(structure, subdomain: 'www'), target: '_blank' do
                        avis
                        %i.lbc-brand-icon
                    .delta{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
                      %span.rating{title: comment_rating_title(structure.rating)}
                        = rating_stars structure.rating
                      %meta{property: 'v:rating', itemprop: 'rating', content: structure.rating}
                      %meta{itemprop: 'count', content: structure.comments_count}
                      %meta{itemprop: 'itemreviewed', content: structure.name}
                      %meta{itemprop: 'name', content: structure.name}
                      %meta{itemprop: 'street-address', content: structure.street}
                      %meta{itemprop: 'postal-code', content: structure.zip_code}
          .text--center= link_to "Et bien plus encore !", structures_url(subdomain: 'www'), class: 'btn btn--blue', target: '_blank'

= content_for :scripts do
  :javascript
      $(function() {
        $('body').stickem();
        $('[data-type=structure-element]').each(function(index, place_element) {
            $(this).click(function(event) {
                // Change url only if user doesn't click on link
                if (typeof ga !== 'undefined') { ga('send', 'event', 'Go to other profile', 'click', 'From pro home page'); }
                if (event.target.nodeName !== 'A') {
                    window.open(this.dataset.url);
                    return false;
                }
                return false;
            });
        });
        Gmaps.map.callback = function() {
            for (var i = 0; i <  this.markers.length; ++i) {
                google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', function() {
                    var structure = $('.course-element[data-location-ids~=' + this.id + ']');
                    $(document.body).scrollTo(structure[0], {duration: 400});
                    // Unselect courses if there already are that are selected
                    $('.course-element').removeClass('selected');
                    structure.addClass('selected');
                }.bind(Gmaps.map.markers[i]));
            }
        };
        $('.course-element').hover(function(event) {
            var location_ids = $(this).data('location-ids').toString().split(' ');
            $.each(Gmaps.map.markers, function(index, marker){
                if (location_ids.indexOf(marker.id.toString()) !== -1) {
                    var service_object = marker.serviceObject;
                    service_object.setContent($(service_object.getContent()).addClass('active')[0].outerHTML);
                }
            });
        }, function() {
            var location_ids = $(this).data('location-ids').toString().split(' ');
            $.each(Gmaps.map.markers, function(index, marker){
                if (location_ids.indexOf(marker.id.toString()) !== -1) {
                    var service_object = marker.serviceObject;
                    service_object.setContent($(service_object.getContent()).removeClass('active')[0].outerHTML);
                }
            });
        });

    });
