= content_for :title do
  Référencez et gérez vos cours simplement avec CoursAvenuePro

= menu_currently_at 'Accueil'
.grid.relative
  .grid__item.one-half>
    .relative
      = image_tag 'pro/dance_teacher.jpg', class: 'block'
      .image-quote
        %quote
          « A chaque fin de cours, mes élèves me complimentent pour la qualité de mes cours. Grâce à CoursAvenuePro, je peux enfin partager ces avis positifs sur Internet et gagner ainsi la confiance de nouveaux élèves. C’est gratuit et très rapide ! »
        %p.image-quote--footer.text--right.flush--bottom Elodie, professeur de flamenco
    %p.push--top
      %i.icon-lightbulb.delta
      Des questions ? N'hésitez pas à visiter notre
      = link_to 'foire aux questions', pages_faq_partners_path, target: '_blank'
      ou à
      = link_to 'nous contacter.', pages_contact_path

  .grid__item.one-half.islet
    %h1.gamma.text--center Référencez vos cours et gérez vos avis simplement depuis notre logiciel en ligne 100% gratuit
    %br
    %p.text--center
      = link_to select_pro_structures_path, class: 'btn btn__success btn__large', id: 'register', onclick: "_gaq.push(['_trackEvent', 'Inscription', 'click'])" do
        %span Référencer mes cours et obtenir des avis
        %br
        %span.milli.line-height-1 Gratuit et sans engagement
    %br
    %h4.text--center 5 bonnes raisons pour référencer vos cours :
    %ul
      %li Ne gardez pas les compliments de vos élèves juste pour vous, partagez-les !
      %li Grâce aux avis, gagnez la confiance de nouveaux élèves dès aujourd’hui et soyez plus visible sur Internet
      %li Soyez présent sur CoursAvenue, le 1er moteur de recherche de cours et stages
      %li Diffusez toutes vos belles photos et vidéos
      %li N’ayez aucun risque : c’est 100% gratuit, et vous maîtrisez tout en temps réel
    .text--center
      = link_to 'En savoir plus', pro_pages_presentation_path, class: 'btn btn__large', onclick: "_gaq.push(['_trackEvent', 'En savoir plus', 'click'])"

%br
%hr
.center-block.text--center
  %h3 Ils ont déjà été séduits
  .grid
    .grid__item.one-third.v-middle>
      = link_to 'http://www.atelier.net/blog/2013/03/01/rencontre-laureats-de-saison-4-camping', target: '_blank', alt: "L'Atelier BNP", title: "L'Atelier BNP", rel: 'nofollow' do
        = image_tag 'pro/partners/atelier_bnp.png', height: 70
    .grid__item.one-third.v-middle>
      = link_to 'http://www.journaldunet.com/web-tech/start-up/le-camping-saison-4/coursavenue.shtml', target: '_blank', alt: 'Le Journal Du Net', title: 'Le Journal Du Net', rel: 'nofollow' do
        = image_tag 'pro/partners/journal_du_net.png', height: 70
    .grid__item.one-third.v-middle
      = link_to 'http://frenchweb.fr/', target: '_blank', alt: 'FrenchWeb', title: 'FrenchWeb', rel: 'nofollow' do
        = image_tag 'pro/partners/frenchweb.png', height: 70
