= menu_currently_at 'Accueil'

.ilb-wrapper.relative
  .two-thirds.islet.relative
    = image_tag 'pro/dance_teacher.jpg'
    .image_quote
      %quote
        « Le logiciel en ligne CoursMania est un vrai outil pour moi au quotidien : dorénavant, il remplace mon ancien cahier papier de réservations, mais il m’aide également à promouvoir mes cours et augmenter mon taux de remplissage. Et tout cela, c’est moi qui le décide, à tout moment, en quelques clics ! »
      %p.image_quote--footer.text--right.flush--bottom Elodie, professeur de flamenco
    / %ul#slideshow.slideshow
    /   %li.slideshow--element
    / %li.slideshow--element
    /   .relative
    /     = image_tag 'home-page/after_work.jpg'
    /     .image_quote
    /       %p
    /         Le logiciel en ligne CoursMania est un vrai outil pour moi au quotidien : dorénavant, il remplace mon ancien cahier papier de réservations, mais il m’aide également à promouvoir mes cours et augmenter mon taux de remplissage. Et tout cela, c’est moi qui le décide, à tout moment, en quelques clics !
    /       %p.image_quote--footer.text--right.flush--bottom Elodie, professeur de flamenco
  .one-third.islet
    %h3.text--center Je n’ai pas encore de logiciel CoursManiaPro
    %br
    %p.text--center
      /= link_to "Inscription gratuite", new_admin_registration_path, class: 'btn btn__primary btn__large', id: 'register'
      = link_to "Inscription gratuite", '#', class: 'btn btn__primary btn__large', id: 'register'
    %br
    %h4.text--center CoursManiaPro, c’est quoi ?
    %ul
      %li Vos cours directement sur CoursMania.com : augmentez en <b>visibilité</b> et en <b>rentabilité</b> !
      %li Un outil de gestion des réservations simple, intuitif, efficace, le tout <b>gratuit</b>
      %li Vos réservations en ligne 24h/24, 7j/7 directement sur votre site Internet : <b>un gain de temps considérable</b>

    %h3.text--center J’ai déjà CoursManiaPro
    %p.text--center= link_to 'Se connecter', new_admin_session_path, class: 'btn btn__large btn__success'

%hr
.center-block.text--center
  %h3 Ils on déjà été séduits
  .ilb-wrapper.align-middle
    .one-third
      = link_to 'http://www.atelier.net/blog/2013/03/01/rencontre-laureats-de-saison-4-camping', target: '_blank', alt: "L'Atelier BNP", title: "L'Atelier BNP" do
        = image_tag 'pro/partners/atelier_bnp.png', height: 70
    .one-third
      = link_to 'http://www.journaldunet.com/web-tech/start-up/le-camping-saison-4/leboncours.shtml', target: '_blank', alt: 'Le Journal Du Net', title: 'Le Journal Du Net' do
        = image_tag 'pro/partners/journal_du_net.png', height: 70
    .one-third
      = link_to 'http://frenchweb.fr/', target: '_blank', alt: 'FrenchWeb', title: 'FrenchWeb' do
        = image_tag 'pro/partners/frenchweb.png', height: 70

/ = content_for :scripts do
/   :javascript
/     window.addEvent('domready', function() {
/         new SlideShow('slideshow', {
/             transition: 'crossFade',
/             delay: 5000,
/             duration: 500,
/             autoplay: true
/         });
/     });

- content_for :scripts do
  :javascript
    $("register").addEvent("click", function(){
        var modal = new SimpleModal({
            width: 500,
            "onAppend": function() {
                $("simple-modal").fade("hide");
                setTimeout((function(){ $("simple-modal").fade("show")}), 200 );
                var tw = new Fx.Tween($("simple-modal"),{
                  duration: 800,
                  transition: Fx.Transitions.Cubic.easeOut,
                  link: 'cancel',
                  property: 'top'
                }).start(-400, 150);
            }
        });
        modal.show({
            "model":"modal",
            "title":"Inscription",
            "contents": $('registration-form').get('html')
        });
    });

#registration-form.hidden
  = render partial: 'pro/admins/quick_registration'
