= menu_currently_at 'Accueil'

.ilb-wrapper.relative
  .two-thirds.islet.relative
    = image_tag 'pro/dance_teacher.jpg'
    .image_quote
      %p
        Le logiciel en ligne LeBonCours est un vrai outil pour moi au quotidien : dorénavant, il remplace mon ancien cahier papier de réservations, mais il m’aide également à promouvoir mes cours et augmenter mon taux de remplissage. Et tout cela, c’est moi qui le décide, à tout moment, en quelques clics !
      %p.image_quote--footer.text--right.flush--bottom Elodie, professeur de flamenco
    / %ul#slideshow.slideshow
    /   %li.slideshow--element
    / %li.slideshow--element
    /   .relative
    /     = image_tag 'home-page/after_work.jpg'
    /     .image_quote
    /       %p
    /         Le logiciel en ligne LeBonCours est un vrai outil pour moi au quotidien : dorénavant, il remplace mon ancien cahier papier de réservations, mais il m’aide également à promouvoir mes cours et augmenter mon taux de remplissage. Et tout cela, c’est moi qui le décide, à tout moment, en quelques clics !
    /       %p.image_quote--footer.text--right.flush--bottom Elodie, professeur de flamenco
  .one-third.islet
    %h3.text--center Je n’ai pas encore de logiciel LeBonCoursPro
    %br
    %p.text--center
      /= link_to "Inscription gratuite", new_admin_registration_path, class: 'btn btn__primary btn__large', id: 'register'
      = link_to "Inscription gratuite", '#', class: 'btn btn__primary btn__large', id: 'register'
    %br
    %h4.text--center LeBonCoursPro, c’est quoi ?
    %ul
      %li Vos cours directement sur LeBonCours.com : augmentez en <b>visibilité</b> et en <b>rentabilité</b> !
      %li Un outil de gestion des réservations simple, intuitif, efficace, le tout <b>gratuit</b>
      %li Vos réservations en ligne 24h/24, 7j/7 directement sur votre site Internet : <b>un gain de temps considérable</b>

    %h3.text--center J’ai déjà LeBonCoursPro
    %p.text--center= link_to 'Se connecter', new_admin_session_path, class: 'btn btn__large'

%h3 Ils nous ont déja fait confiance :
.ilb-wrapper.align-center
  .text--center.two-twelfths
    = image_tag 'pro/partners/deep_side_center.jpg', height: 80
    %br
    %i Cours de danse
  .text--center.four-twelfths
    = image_tag 'pro/partners/photo_up.png', height: 80
    %br
    %i Cours de photographie
  .text--center.three-twelfths
    = image_tag 'pro/partners/wine_sitting.png', height: 80
    %br
    %i Cours d'œunologie
  %p.islet.text--center.three-twelfths
    %b
      Et plein d’autres partenaires :
      %br
      des professeurs indépendants aux grands centres d’enseignement.

/ = content_for :scripts do
/   :javascript
/     window.addEvent('domready', function() {
/         new SlideShow('slideshow', {
/             transition: 'crossFade',
/             delay: 5000,
/             duration: 500,
/             autoplay: true
/         });
/     });

- content_for :scripts do
  :javascript
    $("register").addEvent("click", function(){
        var modal = new SimpleModal({
            width: 500,
            "onAppend": function() {
                $("simple-modal").fade("hide");
                setTimeout((function(){ $("simple-modal").fade("show")}), 200 );
                var tw = new Fx.Tween($("simple-modal"),{
                  duration: 800,
                  transition: Fx.Transitions.Cubic.easeOut,
                  link: 'cancel',
                  property: 'top'
                }).start(-400, 150);
            }
        });
        modal.show({
            "model":"modal",
            "title":"Inscription",
            "contents": $('registration-form').get('html')
        });
    });

#registration-form.hidden
  = simple_form_for(@admin, :url => registration_path(@admin), html: {class: 'half-form'}) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, :required => true, :autofocus => true, wrapper_html: {class: 'flush--bottom'}
      = f.input :password, :required => true
    .form-actions
      = f.submit 'Renseigner mes cours', class: 'btn btn__primary'
