= content_for :title do
  Recrutez de nouveaux élèves | CoursAvenue PRO

= content_for :meta_description do
  CoursAvenue permet à chaque professeur, association, ou école de gagner facilement en visibilité pour recruter de nouveaux élèves. L'inscription est gratuite. Faites partie d'une communauté en pleine expansion passionnée par les cours de loisirs.


= render layout: 'pro/home/header_layout', locals: { current: 'home', full: true } do
  .main-container.soft--sides.mega-soft--top.text--center
    %h1.white.soft-black-text-shadow.f-size-big.relative.mega-soft--top.palm-flush.palm-hard
      Recevez plus d'inscrits à vos activités de loisirs
      %br
      grâce à votre site Internet et à CoursAvenue
    .inline-block.text--center.relative
      = link_to 'Commencer', inscription_pro_structures_path, class: 'btn btn--bigger btn--small btn--green', style: 'padding-left: 3.7em; padding-right: 3.7em;'
      .delta.f-weight-500.white.push-half--top
        Gratuit et sans engagement

.main-container.mega-soft--ends#en-savoir-plus
  .text--center
    %h2.push-half--bottom.f-size-big.f-weight-300
      Planning optimisé sur votre site Internet
    %p.push--bottom.line-height-1-7.gamma
      Page planning à ajouter à votre site Internet
      %br
      Conçue pour convertir plus d'inscrits qu'un planning classique
      %br
      Inscriptions ouvertes 24h/24 avec ou sans paiement en ligne

.home-screen-promotion-wrapper
  .main-container.mega-soft--ends
    .text--center
      %h2.push-half--bottom.f-size-big.f-weight-300
        Gestion simple de vos demandes d'inscriptions
      %p.push--bottom.line-height-1-7.gamma
        Ergonomique et intuitive
        %br
        Conçue par des spécialistes des loisirs
        %br
        Accès aux coordonnées complètes des inscrits

.main-container.mega-soft--ends
  .text--center
    %h2.push-half--bottom.f-size-big.f-weight-300
      Notifications d'inscriptions en temps réel
    %p.push--bottom.line-height-1-7.gamma
      Source supplémentaire de nouveaux inscrits
      %br
      Même gestion des inscrits que celle de votre page planning
      %br
      Mise en relation gratuite et sans engagement

.home-screen-promotion-wrapper
  .main-container.mega-soft--ends
    .text--center
      %h2.push-half--bottom.f-size-big.f-weight-300
        Vos activités visibles sur CoursAvenue.com
      %p.push--bottom.line-height-1-7.gamma
        Un SMS et un email pour vous prévenir de chaque nouvel inscrit
        %br
        Un outil simple pour gérer chaque nouvelle demande
        %br
        Un SMS de rappel la veille de la séance à chaque inscrit

.main-container.mega-soft--ends
  .text--center
    = link_to 'Essayer gratuitement', inscription_pro_structures_path, class: 'btn btn--bigger soft--sides btn--green push--right palm-flush'

.home-screen-promotion-wrapper
  .main-container.soft--ends.text--center
    .inline-block.grayscale.v-middle.push--sides.soft--sides>
      = image_tag 'presses/logos/elle.png', height: 40, data: { src2x: asset_path('presses/logos/elle@2x.png') }
    .inline-block.grayscale.v-middle.push--sides.soft--sides>
      = image_tag 'presses/logos/leparisien.jpg', height: 40, data: { src2x: asset_path('presses/logos/leparisien.jpg') }
    .inline-block.grayscale.v-middle.push--sides.soft--sides>
      = image_tag 'presses/logos/au-feminin.png', height: 40, data: { src2x: asset_path('presses/logos/au-feminin@2x.png') }

= render partial: 'testimonies_banner', locals: { profile: 'emilie' }
