= content_for :title do
  Recrutez de nouveaux élèves

= content_for :meta_description do
  CoursAvenue permet à chaque professeur, association, ou école de gagner facilement en visibilité pour recruter de nouveaux élèves. L'inscription est gratuite. Faites partie d'une communauté en pleine expansion passionnée par les cours de loisirs.

- profiles = [{ name: "Emilie, Professeur de yoga chez Yoga Sattva Paris", slug: 'yoga-sattva-paris', bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/home_background.jpg', image_name: 'emilie', quote: "Communiquer sur Internet me prenait trop de temps, <br> je m'éparpillais sans résultat. Avec CoursAvenue, c'est intuitif et efficace, en accord avec mes valeurs.", image_width: 350, profile_style: '58', medium: true }]
- profiles << { name: "Alain Pons, formateur en photographie à Clermont-Ferrand", slug: 'alain-pons-photographe', bg: 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/home_background_alain.jpg', image_name: 'alain', quote: "Gérer ma présence sur Internet relève du quotidien. Grâce à CoursAvenue, c'est devenu simple et je peux enfin me consacrer à la qualité de mes cours.", image_width: 450, profile_style: '62' }

- if cookies[:have_seen_alain]
  - selected_profile = profiles.first
- else
  - selected_profile = profiles.sample

.home-screen-promotion-wrapper.soft--sides.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path(selected_profile[:bg])})", 'data-stellar-background-ratio' => '0.6' }
  .main-container{ class: ( selected_profile[:medium] ? 'main-container--medium' : '')}
    %header.grid--full
      .grid__item.soft--top.v-bottom.relative.visuallyhidden--palm{ class: ( selected_profile[:medium] ? 'three-tenths' : 'five-twelfths')}>
        = link_to structure_url(selected_profile[:slug], subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'absolute', target: :_blank, id: 'emilie-profile', style: "bottom: -155px; left: #{selected_profile[:profile_style]}%; margin-left: -137px;" do
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/pro/testimonies/#{selected_profile[:image_name]}-profile-small.jpg", class: 'block', width: 275
        = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/pro/testimonies/#{selected_profile[:image_name]}-detour.png", class: 'block', width: selected_profile[:image_width], style: 'margin-left: auto'
      .grid__item.v-bottom.soft--top.palm-one-whole.relative{ class: ( selected_profile[:medium] ? 'seven-tenths' : 'seven-twelfths')}>
        .center-block
          .soft--top.white.soft-black-text-shadow
            %p.gamma.line-height-1-5.push-half--bottom
              %strong.quoted<
                = selected_profile[:quote].html_safe
            %p.f-style-italic.f-weight-600
              = selected_profile[:name]
        .soft--left.push--left.soft--right.push--right
          .soft--left
            %h1.flush
              Recrutez de nouveaux élèves
            .push-half--bottom.f-weight-600
              CoursAvenue permet à chaque professeur, association, ou école de gagner facilement en visibilité pour recruter de nouveaux élèves. L'inscription est gratuite. Faites partie d'une communauté en pleine expansion passionnée par les cours de loisirs.
            %div
              = link_to "Publiez vos cours", inscription_pro_structures_path, class: 'btn btn--green btn--bigger soft--sides'
            %div.push--bottom.f-weight-600
              %i Gratuit et sans engagement


.home-screen-promotion-wrapper.soft.relative
  .main-container.main-container--medium.soft--sides
    %h2.text--center.push--bottom.soft--ends.f-weight-300 Les avantages du profil CoursAvenue
    = render partial: 'pro/shared/free_profile_advantages', locals: { show_all: true }

.bg-cover{ style: "background-image: url(#{asset_path 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/home_background6.jpg'})", 'data-stellar-background-ratio' => '0.6' }
  .main-container.main-container--medium.soft--ends
    %h2.text--center.push--bottom.soft--ends.soft-black-text-shadow.white Simple et rapide
    .grid
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 1
        %p.gamma.white.soft-black-text-shadow
          %strong Créez
        %p.white.soft-black-text-shadow.epsilon
          %strong Créez votre profil qui vous permettra de gérer l'ensemble de vos informations
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 2
        %p.gamma.white.soft-black-text-shadow
          %strong Complétez
        %p.white.soft-black-text-shadow.epsilon
          %strong Ajoutez photos, textes, planning et obtenez votre 1ères recommandations : votre profil gagne en visibilité
      .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
        .inline-block.gamma.soft.rounded--circle.white-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 3
        %p.gamma.white.soft-black-text-shadow
          %strong Recrutez
        %p.white.soft-black-text-shadow.epsilon
          %strong Les élèves intéressés par vos cours prennent gratuitement contact avec vous
    .text--center
      = link_to "Commencer !", inscription_pro_structures_path, class: 'btn btn--green'

.home-screen-promotion-wrapper.soft
  .main-container.main-container--medium.soft--sides
    %h2.text--center.push--bottom.soft--ends.f-weight-300 + de 2 000 profils
    - StructureSearch.search(per_page: 9, has_logo: true, sort: 'premium').results.each do |structure|
      .inline-block.one-third.palm-one-whole.lap-one-half>
        .grid.push--bottom
          .grid__item.one-quarter.epsilon.v-middle>
            = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'block muted-link media-photo', target: :_blank do
              = image_tag structure.logo.url(:thumb), class: 'block'
          .grid__item.three-quarters.v-middle>
            = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: :_blank, class: 'muted-link block' do
              %p.flush.epsilon
                %strong= structure.name
                %br
                - if structure.structure_type.present?
                  = t(structure.structure_type)
                - else
                  Association
                %br
                %i= truncate(join_parent_subjects_text(structure), lenght: 36)

.main-container.main-container--medium.soft--ends
  %h2.text--center.push--bottom.soft--ends.f-weight-300 Développez votre bouche à oreille sur Internet
  - CommentSearch.search(per_page: 4, has_avatar: true, has_title: true).results.in_groups_of(2, false).each do |review_group|
    .grid.push--bottom
      - review_group.each do |review|
        .grid__item.one-half.palm-one-whole.lap-one-half>
          .flexbox.push--bottom
            .flexbox__item.soft--left.v-top.text--center>
              = link_to structure_url(review.structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'block media-photo', target: :_blank, class: 'muted-link' do
                = image_tag review.user.avatar_url(:thumb), class: 'block rounded--circle', width: 60
              .milli.soft-half--top
                = review.author_name
            .flexbox__item.soft--sides.v-top>
              .message__body.soft-half.message__appendix.gray-box
                %p.epsilon.push-half--bottom.quoted
                  %strong= review.title
                %p
                  = truncate(review.content, length: 500)
                %p.text--right.flush
                  %i
                    À propos de
                    = link_to review.structure.name, structure_url(review.structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: :_blank

.home-screen-promotion-wrapper.soft
  .main-container.main-container--medium
    .white-box.soft.delta.text--center.f-weight-bold.textn--center
      %span.soft--right Rejoignez la communauté CoursAvenue et recrutez de nouveaux élèves :
      = link_to "Publiez vos cours", inscription_pro_structures_path, class: 'btn btn--green btn btn--large push-half--ends'

= render 'shared/live_chat'

= content_for :scripts do
  :javascript
    $(function() {
        $('#emilie-profile').hover(function() {
            $(this).stop(true, false).animate({ bottom:  '0' }, 600, 'easeOutExpo');
        }, function() {
            $(this).stop(true, false).animate({ bottom: '-155px' }, 600, 'easeOutExpo');
        });
    });

