= content_for :after_ga do
  <script src="//www.google-analytics.com/cx/api.js?experiment=5MBOH-VVRzWRjzbgMSPTHA"></script>

= content_for :title do
  Le 1er site qui donne la parole à vos élèves

= pro_menu_currently_at 'Accueil'

- content_for :above_container do
  .home-screen-promotion-wrapper.island.one-whole.soft--top
    %h1.text--center.blue
      Le 1<sup>er</sup> site qui donne la parole à vos élèves

    .text--center
      - if current_pro_admin
        - if current_pro_admin.super_admin?
          = link_to "Accéder à mon espace pro", pro_dashboard_path, class: 'btn btn--success btn--large', id: 'register'
        - else
          = link_to "Accéder à mon espace pro", pro_structures_path(current_pro_admin.structure), class: 'btn btn--success btn--large', id: 'register'
      - else
        = link_to "S'inscrire gratuitement", inscription_pro_structures_path, class: 'btn btn--success btn--large', id: 'register'
    - unless current_pro_admin
      .text--center= link_to "Je suis déjà inscrit, me connecter", new_pro_admin_session_url(subdomain: 'pro')

  .text--center
    %h4
      Leurs élèves les ont déjà recommandés sur
      = link_to 'CoursAvenue.com', root_url(subdomain: 'pro')
      \:
  .main-container
    .grid
      .grid__item.four-tenths>
        :css
          #map { height: 500px; }
        = gmaps( {markers: {data: @json_locations_addresses}, map_options: {maxZoom: 14, mapTypeControl: false}})
      .grid__item.six-tenths>
        - @structures.each_with_index do |structure, index|
          .one-whole.course-element{data: {'location-id' => structure.locations.first.id, type: 'structure-element', url: structure_url(structure, subdomain: 'www')}}
            .grid
              .grid__item.two-twelfths>
                = image_tag structure.logo.url(:thumb)
              .grid__item.seven-twelfths>
                %h3.flush--bottom.brand.course-title
                  .map-marker-image
                    = link_to structure_url(structure, subdomain: 'www') do
                      %span= index + 1
                  = structure.name
                %ul.nav.push-half--ends= join_child_subjects structure, true
                - if structure.description.present?
                  %p.read-more{data: {behavior: 'read-more', height: 50}}= structure.description.html_safe
              .grid__item.three-twelfths.text--center>
                .thin.big-alpha.brand #{structure.rating}
                .delta{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
                  %span.rating{title: comment_rating_title(structure.rating)}
                    = rating_stars structure.rating
                  %meta{property: 'v:rating', itemprop: 'rating', content: structure.rating}
                  %meta{itemprop: 'count', content: structure.comments_count}
                  %meta{itemprop: 'itemreviewed', content: structure.name}
                  %meta{itemprop: 'name', content: structure.name}
                  %meta{itemprop: 'street-address', content: structure.street}
                  %meta{itemprop: 'postal-code', content: structure.zip_code}
                %div
                  = link_to structure_url(structure, subdomain: 'www'), target: '_blank' do
                    = structure.comments_count
                    avis
                    %i.lbc-brand-icon
        .text--center= link_to "Et plein d'autres !", places_url(subdomain: 'www'), class: 'btn btn--primary', target: '_blank'

= content_for :scripts do
  :javascript
      $(function() {
        $('[data-type=structure-element]').each(function(index, place_element) {
            $(this).click(function(event) {
                // Change url only if user doesn't click on link
                if (typeof ga !== 'undefined') { ga('send', 'event', 'Go to other profile', 'click', 'From pro home page'); }
                if (event.target.nodeName !== 'A') {
                    window.open(this.dataset.url);
                    return false;
                }
                return false;
            });
        });
        Gmaps.map.callback = function() {
            for (var i = 0; i <  this.markers.length; ++i) {
                google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', function() {
                    var place_element = $('.course-element[data-location-id=' + this.id + ']');
                    $(document.body).scrollTo(place_element[0], {duration: 400});
                    // Unselect courses if there already are that are selected
                    $('.course-element').removeClass('selected');
                    place_element.addClass('selected');
                }.bind(Gmaps.map.markers[i]));
            }
        };
    });
