= content_for :title do
  Référencez et gérez vos cours simplement avec CoursAvenuePro

= menu_currently_at 'Accueil'
.grid.relative
  .grid__item.one-half.relative>
    = image_tag 'pro/dance_teacher.jpg', class: 'block'
    .image-quote
      %quote
        « Le logiciel en ligne CoursAvenuePro me permet de mettre en ligne tous les cours et les stages que je souhaite : en quelques clics, je renseigne le lieu, les tarifs, les horaires et toutes les informations pratiques. Cela me permet de promouvoir mes cours et d'augmenter mon taux de remplissage. Et tout cela, c’est moi qui le décide, à tout moment, gratuitement ! »
      %p.image-quote--footer.text--right.flush--bottom Elodie, professeur de flamenco
  .grid__item.one-half.islet
    %h1.gamma.text--center Référencez vos cours simplement depuis notre logiciel de gestion en ligne
    %br
    %p.text--center
      = link_to select_pro_structures_path, class: 'btn btn__success btn__large', id: 'register', onclick: "_gaq.push(['_trackEvent', 'Inscription', 'click'])" do
        %span Référencer mes cours
        %br
        %span.milli.line-height-1 Gratuit et sans engagement
    %br
    %h4.text--center 6 bonnes raisons pour référencer vos cours :
    %ul
      %li Augmentez votre visibilité sur Internet
      %li Touchez une nouvelle clientèle
      %li Augmentez votre taux de remplissage
      %li Recevez les coordonnées des élèves intéressés
      %li Gérez votre base clients simplement
      %li Soyez connu des entreprises de votre quartier
    .text--center
      = link_to 'En savoir plus', pro_pages_presentation_path, class: 'btn btn__large', onclick: "_gaq.push(['_trackEvent', 'En savoir plus', 'click'])"

%br
%hr
.center-block.text--center
  %h3 Ils ont déjà été séduits
  .grid
    .grid__item.one-third.v-middle>
      = link_to 'http://www.atelier.net/blog/2013/03/01/rencontre-laureats-de-saison-4-camping', target: '_blank', alt: "L'Atelier BNP", title: "L'Atelier BNP", rel: 'nofollow' do
        = image_tag 'pro/partners/atelier_bnp.png', height: 70
    .grid__item.one-third.v-middle>
      = link_to 'http://www.journaldunet.com/web-tech/start-up/le-camping-saison-4/coursavenue.shtml', target: '_blank', alt: 'Le Journal Du Net', title: 'Le Journal Du Net', rel: 'nofollow' do
        = image_tag 'pro/partners/journal_du_net.png', height: 70
    .grid__item.one-third.v-middle
      = link_to 'http://frenchweb.fr/', target: '_blank', alt: 'FrenchWeb', title: 'FrenchWeb', rel: 'nofollow' do
        = image_tag 'pro/partners/frenchweb.png', height: 70
