= content_for :title do
  Recrutez de nouveaux élèves

= content_for :meta_description do
  CoursAvenue permet à chaque professeur, association, ou école de gagner facilement en visibilité pour recruter de nouveaux élèves. L'inscription est gratuite. Faites partie d'une communauté en pleine expansion passionnée par les cours de loisirs.

.main-container.relative.hard
  .absolute.north.east.on-top-of-the-world.f-weight-bold.visuallyhidden--palm
    .bg-black-faded.rounded.rounded-top--none.inline-block.push--right
      %a.inline-block.soft--left.soft-half--ends.muted-link.push--right.white-faded{ href: 'mailto:contact@coursavenue.com' } contact@coursavenue.com
      %a.inline-block.soft--right.soft-half--ends.muted-link.white-faded{ href: 'tel:09 82 24 27 74' }
        %i.fa.fa-phone
        09 82 24 27 74
    - if current_pro_admin
      - if current_pro_admin.super_admin?
        = link_to 'Espace super admin', pro_dashboard_path, class: 'white muted-link'
      - elsif current_pro_admin.structure.present?
        = link_to 'Mon profil', dashboard_pro_structure_path(current_pro_admin.structure), class: 'white muted-link'
    - else
      = link_to 'Connexion', new_pro_admin_session_path, class: 'white muted-link fancybox.ajax', data: { behavior: 'modal', width: '300', padding: 0 }
.one-whole.relative.overflow-hidden
  %div.home-page-fullscreen-video.bg-cover.bg-position-top{ style: "background-image: url('#{asset_path('pro/homepage/bg.jpg')}')", data: { behavior: 'parallax' } }
    .black-curtain.north.west.one-whole.absolute
  .relative.white
    .one-whole
      .mega-soft--ends.hard--bottom
        .text--right.soft-half--ends.transition-all-linear#sticky-header
          .main-container.relative
            = image_tag 'logos/logo_pro_white.png', width: 190, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo_pro_white@2x.png') }, class: 'homescreen-header__logo v-middle push--left west north absolute ', style: 'left: 3px; top: 3px;'
            = image_tag 'logos/logo-pro.png', width: 200, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo-pro@2x.png') }, class: 'homescreen-header__logo v-middle push--left west north absolute hidden', id: 'home-logo-dark'
            %ul.nav.flush.epsilon.f-weight-600
              %li.palm-block.palm-text--center.line-height-1-7.soft--right= link_to 'Bienvenue', root_path, class: 'white'
              %li.palm-block.palm-text--center.line-height-1-7.soft--right= link_to 'Fonctionnalités', pro_pages_features_path, class: 'white'
              %li.palm-block.palm-text--center.line-height-1-7.soft--right= link_to 'Tarifs', pro_pages_price_path, class: 'white'
              %li.visuallyhidden--palm.soft--right
                = link_to 'Essayer gratuitement', inscription_pro_structures_path, class: 'muted-link white bordered border-color-white soft-half--ends soft--sides', data: { try: true }
        .grid.main-container.mega-soft--top
          .grid__item.v-bottom.one-half.visuallyhidden--palm.visuallyhidden--lap>
            = image_tag 'pro/homepage/computer.png', class: 'one-whole block'
          .grid__item.v-top.one-half.text--left.soft--bottom.palm-one-whole.lap-one-whole>
            %h1.white.soft-black-text-shadow
              Le meilleur outil pour gagner et fidéliser de nouveaux élèves pour vos activités de loisirs
            .inline-block.text--center
              = link_to 'Essayer CoursAvenue', inscription_pro_structures_path, class: 'btn btn--bigger soft--sides btn--green'
              %br
              %strong Gratuit et sans engagement

.home-screen-promotion-wrapper.soft
  .main-container.soft--ends.text--center
    .inline-block.grayscale.v-middle.push--sides.soft--sides>
      = image_tag 'presses/logos/elle.png', height: 40, data: { src2x: asset_path('presses/logos/elle.png') }
    .inline-block.grayscale.v-middle.push--sides.soft--sides>
      = image_tag 'presses/logos/leparisien.jpg', height: 40, data: { src2x: asset_path('presses/logos/leparisien.jpg') }
    .inline-block.grayscale.v-middle.push--sides.soft--sides>
      = image_tag 'presses/logos/au-feminin.png', height: 40, data: { src2x: asset_path('presses/logos/au-feminin.png') }
    .inline-block.grayscale.v-middle.push--sides.soft--sides>
      = image_tag 'presses/logos/que-faire-a-paris.png', height: 55, data: { src2x: asset_path('presses/logos/que-faire-a-paris.png') }

.main-container.main-container--medium.mega-soft--ends
  .text--center.main-container.main-container--medium
    %h2.push-half--bottom.f-size-big.f-weight-300
      L'outil tout-en-un pour votre
      %br
      communication sur Internet
    %p.push--bottom.delta.line-height-1-7
      En un minimum de temps et sans compétence technique, vos activités deviennent
      %br
      plus visibles, votre site Internet plus efficace et vous fidélisez plus d'élèves.

  .grid.push--ends.soft--ends
    .grid__item.one-third.delta.text--center.line-height-1-7>
      = image_tag 'pro/homepage/icons/responsive.png', height: 150, class: 'push-half--bottom'
      %br
      Profil CoursAvenue
    .grid__item.one-third.delta.text--center.line-height-1-7>
      = image_tag 'pro/homepage/icons/calendar.png', height: 150, class: 'push-half--bottom'
      %br
      Page planning sur votre site Internet
      %br
      \& inscriptions en ligne
    .grid__item.one-third.delta.text--center.line-height-1-7>
      = image_tag 'pro/homepage/icons/bubbles.png', height: 150, class: 'push-half--bottom'
      %br
      Page Livre d'Or sur votre site Internet
  .grid
    .grid__item.one-third.delta.text--center.line-height-1-7>
      = image_tag 'pro/homepage/icons/newsletter.png', height: 150, class: 'push-half--bottom'
      %br
      Newsletters & fichier élèves
    .grid__item.one-third.delta.text--center.line-height-1-7>
      = image_tag 'pro/homepage/icons/like.png', height: 150, class: 'push-half--bottom'
      %br
      Multi-postage sur les réseaux sociaux
    .grid__item.one-third.delta.text--center.line-height-1-7>
      = image_tag 'pro/homepage/icons/graph.png', height: 150, class: 'push-half--bottom'
      %br
      Statistiques de trafic
      %br
      \& suivi des conversions

    .text--center
      = link_to 'Essayer CoursAvenue', inscription_pro_structures_path, class: 'btn btn--bigger soft--sides btn--green push--right'
      = link_to 'En savoir plus', pro_pages_features_path, class: 'btn btn--bigger soft--sides'

- content_for :scripts do
  :javascript
      $(function() {
          $('#sticky-header').sticky({
              oldWidth: true,
              onUnStick: function onUnStick ($element) {
                  $element.find('a').addClass('white');
                  $element.find('[data-try]').removeClass('btn btn--green');
                  $element.removeClass('bg-white bordered--bottom');
                  $('#home-logo-dark').fadeOut();
              },
              onStick: function onStick ($element) {
                  $element.find('a').removeClass('white');
                  $element.find('[data-try]').addClass('btn btn--green');
                  $element.addClass('bg-white bordered--bottom');
                  $('#home-logo-dark').fadeIn();
              }
          });
      })


- profiles = [{ name: "Emilie, Professeur de yoga chez Yoga Sattva Paris", slug: 'yoga-sattva-paris', bg: asset_path('pro/home_background.jpg'), image_name: 'emilie', quote: "Communiquer sur Internet me prenait trop de temps, <br> je m'éparpillais sans résultat. Avec CoursAvenue, c'est intuitif et efficace, en accord avec mes valeurs.", image_width: 350, profile_style: '58', medium: true }]
- profiles << { name: "Alain Pons, formateur en photographie à Clermont-Ferrand", slug: 'alain-pons-photographe', bg: asset_path('pro/home_background_alain.jpg'), image_name: 'alain', quote: "Gérer ma présence sur Internet relève du quotidien. Grâce à CoursAvenue, c'est devenu simple et je peux enfin me consacrer à la qualité de mes cours.", image_width: 450, profile_style: '62' }

- if cookies[:have_seen_alain]
  - selected_profile = profiles.first
- else
  - selected_profile = profiles.sample

- cache [selected_profile, ENV["ETAG_VERSION_ID"]] do
  .bg-position-top.soft--sides.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path(selected_profile[:bg])})", data: { behavior: 'parallax' } }
    .main-container{ class: ( selected_profile[:medium] ? 'main-container--medium' : '')}
      %header.grid--full
        .grid__item.soft--top.v-middle.relative.visuallyhidden--palm{ class: ( selected_profile[:medium] ? 'three-tenths' : 'five-twelfths')}>
          = link_to structure_url(selected_profile[:slug], subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'absolute', target: :_blank, id: 'emilie-profile', style: "bottom: -155px; left: #{selected_profile[:profile_style]}%; margin-left: -137px;" do
            = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/pro/testimonies/#{selected_profile[:image_name]}-profile-small.jpg", class: 'block', width: 275
          = image_tag "https://coursavenue-public.s3.amazonaws.com/public_assets/pro/testimonies/#{selected_profile[:image_name]}-detour.png", class: 'block', width: selected_profile[:image_width], style: 'margin-left: auto'
        .grid__item.v-middle.soft--top.palm-one-whole.relative{ class: ( selected_profile[:medium] ? 'seven-tenths' : 'seven-twelfths')}>
          .center-block
            .soft--top.white.soft-black-text-shadow
              %p.gamma.line-height-1-5.push-half--bottom
                %strong.quoted<
                  = selected_profile[:quote].html_safe
              %p.f-style-italic.f-weight-600
                = selected_profile[:name]

-# - cache 'pro/shared/free_profile_advantages_V1' do
-#   .home-screen-promotion-wrapper.relative
-#     .main-container.main-container--medium.mega-soft--ends
-#       %h2.text--center.push--top.push--bottom.f-size-big.f-weight-300.soft--bottom Les avantages du profil CoursAvenue
-#       = render partial: 'pro/shared/free_profile_advantages', locals: { show_all: true }

-# - cache 'pro/home_index_1_2_3_V2' do
-#   .relative.bg-position-top.flexbox.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url('#{asset_path('pro/home_background6.jpg')}')", data: { behavior: 'parallax' } }
-#     .black-curtain.north.west.one-whole.absolute
-#     .v-middle.text--center.relative.main-container
-#       %h2.text--center.push--top.push--bottom.f-size-big.f-weight-300.white Simple et rapide
-#       .grid
-#         .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
-#           .inline-block.alpha.soft 1
-#           %p.gamma.white
-#             %strong Créez
-#           %p.white.epsilon
-#             %strong Créez votre profil qui vous permettra de gérer l'ensemble de vos informations
-#         .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
-#           .inline-block.alpha.soft 2
-#           %p.gamma.white
-#             %strong Complétez
-#           %p.white.epsilon
-#             %strong Ajoutez photos, textes, planning et obtenez votre 1ères recommandations : votre profil gagne en visibilité
-#         .grid__item.one-third.text--center.lap-one-whole.text--center.palm-one-whole>
-#           .inline-block.alpha.soft 3
-#           %p.gamma.white
-#             %strong Recrutez
-#           %p.white.epsilon
-#             %strong Les élèves intéressés par vos cours prennent gratuitement contact avec vous
-#       .text--center
-#         = link_to "Commencer !", inscription_pro_structures_path, class: 'btn btn--green'

-# .home-screen-promotion-wrapper.soft
-#   .main-container.main-container--medium.mega-soft--ends
-#     %h2.text--center.push--top.push--bottom.f-size-big.f-weight-300 + de 2 000 profils
-#     - structures = StructureSearch.search(per_page: 9, has_logo: true, sort: 'premium').results
-#     - structures.each do |structure|
-#       .inline-block.one-third.palm-one-whole.lap-one-half>
-#         - cache [structure, 'pro/home/index'] do
-#           .grid.push--ends.soft--ends
-#             .grid__item.one-quarter.epsilon.v-middle>
-#               = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'block muted-link media-photo', target: :_blank do
-#                 = image_tag '', class: 'block one-whole', data: { behavior: 'lazy-load', original: structure.logo.url(:thumb) }
-#             .grid__item.three-quarters.v-middle>
-#               = link_to structure_url(structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), target: :_blank, class: 'muted-link block' do
-#                 %p.flush.epsilon
-#                   %strong= structure.name
-#                   %br
-#                   - if structure.structure_type.present?
-#                     = t(structure.structure_type)
-#                   - else
-#                     Association
-#                   %br
-#                   %i= truncate(join_parent_subjects_text(structure), lenght: 36)

-# .main-container.main-container--medium.mega-soft--ends
-#   %h2.text--center.push--top.push--bottom.f-size-big.f-weight-300 Développez votre bouche à oreille sur Internet
-#   = render 'home/bottom_comments'

-# - cache 'pro/home/bottom_link_V2' do
-#   .home-screen-promotion-wrapper.mega-soft--ends
-#     .main-container.main-container--medium
-#       .soft.alpha.text--center.line-height-2
-#         %span.soft--right Rejoignez la communauté CoursAvenue et recrutez de nouveaux élèves :
-#         = link_to "Publiez vos cours", inscription_pro_structures_path, class: 'btn btn--green btn btn--large push-half--ends'


= content_for :scripts do
  :javascript
    $(function() {
        $('#emilie-profile').hover(function() {
            $(this).stop(true, false).animate({ bottom:  '0' }, 600, 'easeOutExpo');
        }, function() {
            $(this).stop(true, false).animate({ bottom: '-155px' }, 600, 'easeOutExpo');
        });
    });


= render 'shared/live_chat'
