= content_for :after_ga do
  <script src="//www.google-analytics.com/cx/api.js?experiment=5MBOH-VVRzWRjzbgMSPTHA"></script>

= content_for :title do
  Développez votre bouche à oreille sur Internet
= pro_menu_currently_at 'Accueil'

- content_for :above_container do
  .home-screen-promotion-wrapper.island.one-whole.soft--top
    %h1.text--center.blue.flush
      Développez votre bouche à oreille sur Internet
    .delta.push--bottom.text--center Toutes les recommandations de vos élèves sur CoursAvenue et votre site Internet
    .text--center
      - if current_pro_admin
        - if current_pro_admin.super_admin?
          = link_to "Accéder à mon profil", pro_dashboard_path, class: 'btn btn--green btn--large', id: 'register'
        - else
          = link_to "Accéder à mon profil", dashboard_pro_structure_path(current_pro_admin.structure), class: 'btn btn--green btn--large', id: 'register'
      - else
        = link_to "Créer mon profil gratuit", inscription_pro_structures_path, class: 'btn btn--green btn--large', id: 'register'
    - unless current_pro_admin
      .text--center= link_to "Je suis déjà inscrit, me connecter", new_pro_admin_session_url(subdomain: 'pro')

  .main-container.grid--full.text--center.push--top.visuallyhidden--palm
    .grid__item.text--center.v-middle.relative{style: 'width: 27%;'}>
      = link_to inscription_pro_structures_path, class: 'muted-link white-box white-box--rounded islet word-break-normal', data: {toggle: 'popover', content: "En quelques minutes, renseignez vos informations générales, vos lieux d'enseignements, vos cours et vos photos & vidéos.", 'original-title' => 'Créez un profil complet en 5min !', trigger: 'hover', placement: 'top'} do
        %h5
          = image_tag 'icons/profile.png', height: 30
          %br
          Créez votre profil
    .grid__item.one-twelfth.text--center.v-middle>
      .islet
        %i.fa.fa-chevron-right.fa.fa-2x
    .grid__item.text--center.v-middle.relative{style: 'width: 27%;'}>
      = link_to inscription_pro_structures_path, class: 'muted-link white-box white-box--rounded islet word-break-normal', data: {toggle: 'popover', content: "Grâce à notre outil dédié, envoyez un email à tous vos élèves pour qu'ils vous recommandent. Au-delà de 5 recommandations, affichez votre livre d'or sur votre propre site !".html_safe, 'original-title' => 'Solicitez vos élèves les plus fidèles', trigger: 'hover', placement: 'top'} do
        %h5
          %i.fa.fa-star-o.fa.fa-2x
          %i.fa.fa-star-o.fa.fa-2x.relative
          %i.fa.fa-star-o.fa.fa-2x.relative
          %i.fa.fa-star-o.fa.fa-2x.relative
          %i.fa.fa-star-o.fa.fa-2x.relative
          %br
          Demandez des recommandations
    .grid__item.one-twelfth.text--center.v-middle>
      .islet
        %i.fa.fa-chevron-right.fa.fa-2x
    .grid__item.text--center.v-middle.relative{style: 'width: 27%;'}>
      = link_to inscription_pro_structures_path, class: 'muted-link white-box white-box--rounded islet word-break-normal', data: {toggle: 'popover', content: "Maintenant que vous avez un profil complet, laissez les élèves venir à vous et répondez à leur messages via notre messagerie interne.", 'original-title' => 'Laissez-nous faire', trigger: 'hover', placement: 'top'} do
        %h5
          %i.fa.fa-group.fa.fa-2x
          %br
          Attirez de nouveaux élèves

  .home-screen-promotion-wrapper.soft--top
    .text--center
      %h3
        Ils ont déjà leur livre d'or :
    .main-container.stickem-container.relative
      .stickem.absolute{style: 'width: 38%;'}>
        #map.google-map.google-map--medium
      - cache(cache_key_for_structures) do
        .grid
          .grid__item.six-tenths.course-list-wrapper.palm-one-whole.lap-one-whole>
            - @structures.each_with_index do |structure, index|
              - cache(structure) do
                .pointer.one-whole.course-element.white-box.islet{data: {'location-ids' => structure.locations.map(&:id).join(' '), type: 'structure-element', url: structure_url(structure, subdomain: 'www')}}
                  .grid
                    .grid__item.two-twelfths>
                      %img{ data: { original: structure.logo.url(:thumb) } }
                      -# image_tag structure.logo.url(:thumb)
                    .grid__item.seven-twelfths>
                      %h3.flush--bottom.brand.course-title= structure.name
                      %ul.nav.push-half--ends= join_child_subjects structure, true
                      - if structure.description.present?
                        .read-more{data: {behavior: 'read-more', height: 50}}
                          = simple_format structure.description
                    .grid__item.three-twelfths.text--center>
                      .thin.big-alpha.brand #{structure.comments_count}
                      %div
                        = link_to structure_url(structure, subdomain: 'www'), target: '_blank' do
                          avis
                          %i.lbc-brand-icon
                      .delta{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
                        %meta{property: 'v:rating', itemprop: 'rating', content: structure.rating}
                        %meta{itemprop: 'count', content: structure.comments_count}
                        %meta{itemprop: 'itemreviewed', content: structure.name}
                        %meta{itemprop: 'name', content: structure.name}
                        %meta{itemprop: 'street-address', content: structure.street}
                        %meta{itemprop: 'postal-code', content: structure.zip_code}
            .text--center= link_to "Voir les autres structures", structures_url(subdomain: 'www'), class: 'btn btn--blue btn--full btn--large', target: '_blank'

= content_for :scripts do
  :javascript
      $(function() {
        $('body').stickem();
        $('[data-type=structure-element]').each(function(index, place_element) {
            $(this).click(function(event) {
                // Change url only if user doesn't click on link
                if (typeof ga !== 'undefined') { ga('send', 'event', 'Go to other profile', 'click', 'From pro home page'); }
                if (event.target.nodeName !== 'A') {
                    window.open(this.dataset.url);
                    return false;
                }
                return false;
            });
        });
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(#{@json_locations_addresses.to_json});
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
        });
        $("img").lazyload({
            effect : "fadeIn"
        });
    });
