- if current_pro_admin and current_pro_admin.structure
  - inscription_link = pro_structure_course_opens_url(current_pro_admin.structure, subdomain: 'pro')
- else
  - inscription_link = inscription_pro_structures_url(subdomain: 'pro')

= content_for :title do
  Portes Ouvertes des cours de loisirs par CoursAvenue | CoursAvenue.com

= pro_menu_currently_at 'Journées Portes Ouvertes'

- content_for :above_container do
  = render partial: 'home/jpo_2014', locals: { participation_link: inscription_link, know_more_link: '#know-more' }

  .grid.main-container.push--top#know-more
    .grid__item.push--top.soft.two-fifths.palm-one-whole>
      %h2.f-weight-300 Ouvrez vos portes et rencontrez de nouveaux élèves
    .grid__item.soft.three-fifths.palm-one-whole.f-weight-300.epsilon>
      %p.line-height-normal.f-weight-300
        A l'image des Journées du Patrimoine des monuments historiques, le principe de cette opération "Journées du Patrimoine immatériel des cours de loisirs" est simple : en tant que partenaire, vous ouvrez les portes de vos cours au grand public à travers des ateliers gratuits le temps d'un week-end, dans leurs propres salles ou lieux.

      %p.line-height-normal.f-weight-300
        Pour vous, c'est l'opportunité unique de participer à un grand événement : souvent organisées à titre individuel, c'est la première fois que de telles Portes Ouvertes sont organisées de manière collective. Ainsi, vous bénéficiez de l'impact des médias qui parleront de cet opération qui permet d'entrevoir l'unité et la diversité de notre patrimoine immatériel des cours de loisirs : initiation aux claquettes, atelier d'écriture corporelle, yoga prénatal, oenologie, improvisation théâtrale, éveil corporel, etc..
      %p.line-height-normal.f-weight-300
        Pour les Français, cet événement leur permet de découvrir ou re-découvrir leurs passions et un moment privilégié dans l'année pour partir à la rencontre de tous les professeurs, associations ou écoles qui les entourent.


      .text--center.push--bottom
        - if current_pro_admin
          = link_to "Renseigner mes ateliers Portes Ouvertes", inscription_link, class: 'btn btn--yellow btn--large'
        - else
          = link_to "Créer mon profil et participer", inscription_link, class: 'btn btn--yellow btn--large'
        %br
        %p.push-half--top Prochaines dates : 5-6 avril 2014 en Île-de-France


  .home-screen-promotion-wrapper.one-whole
    .main-container.soft
      .grid
        .grid__item.soft.two-fifths.palm-one-whole>
          %h2.f-weight-300 Communiquez sur vos activités
        .grid__item.soft.three-fifths.palm-one-whole.f-weight-300.epsilon>
          %p.line-height-normal
            L'opération vous permettra de faire connaître vos activités à un public qui ne vous connaît pas et qui commencera à préparer les cours d'été ou la rentrée de septembre.

          %p.line-height-normal
            Notre événement s'adressant à tous, la couverture médiatique est large et nos équipes se chargent de relayer l'information à tous les coins de rue et partout ailleurs (télévision, radio, web, etc.).

  .main-container.soft
    .grid
      .grid__item.soft.two-fifths.palm-one-whole>
        %h2.flush.f-weight-300 Fidélisez de nouveaux élèves et développez votre activité
      .grid__item.soft.three-fifths.palm-one-whole.f-weight-300.epsilon>
        %p.line-height-normal.flush
          Depuis votre profil CoursAvenue, vous aurez accès à toutes les coordonnées des élèves inscrits à vos ateliers, même ceux inscrits en liste d'attente. Après l'événement, vous pourrez ainsi librement continuer à communiquer avec eux, pour leur proposer d'autres cours ou stages et ainsi fidéliser de nouveaux élèves.

  .home-screen-promotion-wrapper.one-whole
    .main-container.soft
      .grid
        .grid__item.soft.two-fifths.palm-one-whole>
          %h2.f-weight-300 Renseignez vos ateliers gratuits sur votre profil
        .grid__item.soft.three-fifths.palm-one-whole.f-weight-300.epsilon>
          %p.line-height-normal.push-half--bottom
            Pour proposer vos ateliers Portes Ouvertes, c'est simple, rapide et tout se fait en ligne sur votre profil CoursAvenue :
          %ul.line-height-normal.push-half--bottom
            %li Si vous avez déjà un profil (en tant que professionnel) : connectez-vous et renseignez vos ateliers dans la rubrique "Journées Portes Ouvertes" ;
            %li Si vous n'avez pas encore de profil : créez-le, complétez-le et renseignez vos ateliers dans la rubrique "Journées Portes Ouvertes".
          %p.line-height-normal.flush
            Une fois vos ateliers renseignés, ils apparaîtront automatiquement sur nos pages dédiées : chaque Internaute pourra alors s'inscrire gratuitement. A chaque inscription, vous en serez notifié par un email automatique, et vous pourrez suivre tous vos inscrits en temps réel directement depuis votre profil.

  .main-container.soft
    .grid
      .grid__item.soft.two-fifths.palm-one-whole>
        %h2.flush.f-weight-300 100% gratuit
      .grid__item.soft.three-fifths.palm-one-whole.f-weight-300.epsilon>
        %p.line-height-normal.flush
          Vous n'avez rien à payer pour faire partie de notre événement. En tant que responsable de vos propres ateliers, les seules choses que vous devrez prendre en charge seront liées à tous les détails qui en assureront le bon fonctionnement : location des salles, matériel, matières premières, assurances, etc.

  .home-screen-promotion-wrapper.one-whole
    .main-container.soft
      .grid
        .grid__item.soft.two-fifths.palm-one-whole>
          %h2.f-weight-300 C'est vous qui décidez
        .grid__item.soft.three-fifths.palm-one-whole.f-weight-300.epsilon>
          %p.line-height-normal.push-half--bottom
            C'est vous qui ouvrez les portes de vos lieux, et c'est vous qui décidez tout : créneaux horaires, nombre de participants (avec un nombre minimum et maximum), lieux, type d'événement, etc. Seules conditions nécessaires : vos ateliers doivent être proposés pendant le week-end de l'événement, dans des lieux bien définis, et doivent être gratuits (le jour de l'événement, vous pourrez tout de même mettre un chapeau pour les élèves qui souhaitent vous offrir une petite contribution).

  .main-container.soft
    .grid
      .grid__item.soft.two-fifths.palm-one-whole>
        %h2.flush.f-weight-300 Un événement inédit
      .grid__item.soft.three-fifths.palm-one-whole.f-weight-300.epsilon>
        %p.line-height-normal.flush
          Les "Portes Ouvertes des cours de loisirs" est un événement inédit entièrement orchestré par l'équipe CoursAvenue, et les ateliers se déroulent chez chacun de nos partenaires. Souvent organisées à titre individuel, c'est la première fois que de telles Portes Ouvertes sont organisées de manière collective.

  .home-screen-promotion-wrapper.one-whole.jpo-banner-warpper.white>
    .jpo-banner.soft.relative>
      .main-container.soft
        .grid
          .grid__item.two-fifths.palm-one-whole>
            %h2.f-weight-300 En résumé
          .grid__item.three-fifths.palm-one-whole.delta.f-weight-300>
            %p.f-weight-300.line-height-normal
              Ces journées sont un moment privilégié permettant aux Français de découvrir le patrimoine immatériel qui les entoure à travers des cours de loisirs exceptionnellement ouverts au public dont l'accès est gratuit.

            %p.f-weight-300.line-height-normal.push--bottom
              Pour vous, c'est l'occasion unique de participer au premier événement de cette ampleur et vous faire connaître d'un nouveau public à la recherche de nouveaux cours.
            .text--center.push--top
              = link_to "Participer", inscription_link, class: 'btn btn--yellow btn--large'
              %br
              %p.push-half--top Prochaines dates : 5-6 avril 2014 en Île-de-France
    .jpo-frise>
