= content_for :title do
  Présentation de CoursAvenue

= pro_menu_currently_at 'Présentation'

%h1.text--center.blue
  Développez-vous grâce au bouche à oreille

%hr

.grid
  .grid__item.one-half.visuallyhidden--palm.v-middle>
    = image_tag 'pages/presentation/stars.png', class: 'soft center-block', height: 200
  .grid__item.one-half.v-middle.palm--one-whole>
    %h3.blue Vos élèves aiment vos cours ? Ne soyez plus le seul à le savoir !
    %p.epsilon
      3 élèves sur 4 consultent les avis sur Internet avant de réserver un cours : ne gardez plus les compliments de vos élèves rien que pour vous ! Créez-vous un profil et partagez-le autour de vous pour recevoir des recommandations de vos élèves.

%hr

.grid
  .grid__item.one-half.v-middle.palm--one-whole>
    %h3.blue Gérez le planning de vos cours facilement
    %p.epsilon
      Créez en quelques clics le planning de vos cours et diffusez-le auprès de vos élèves de façon claire. Les internautes pourront trouver vos cours en fonction des horaires précises et des tarifs que vous aurez renseignés.

  .grid__item.one-half.visuallyhidden--palm.v-middle>
    = image_tag 'pages/presentation/date-time.png', class: 'soft center-block', height: 200

%hr

.grid
  .grid__item.one-half.visuallyhidden--palm.v-middle>
    .island.flush--bottom
      = image_tag 'pages/presentation/medias.png', class: 'soft center-block', height: 200
  .grid__item.one-half.v-middle.palm--one-whole>
    %h3.blue Partagez vos plus belles photos et vidéos
    %p.epsilon
      Montrez à vos élèves et à tous les internautes les photos et vidéos de vos cours. Créez une vraie relation avec vos élèves en les mettant en avant et en publiant les photos et vidéos de vos spectacles.

%hr

.grid
  .grid__item.one-half.v-middle.palm--one-whole>
    %h3.blue Nous investissons en marketing et communication pour vous
    %p.epsilon
      Est-ce que vos cours sont remplis à plus de 80% ? Tous les jours ? À chaque créneau horaire ?
      Nous diffusons l'offre de cours présente sur CoursAvenue auprès du grand public, auprès des entreprises locales par le biais des comités d'entreprise, mais aussi auprès des agences de voyage. Grâce à notre moteur de recherche innovant et avancé, laissez les élèves venir à vous.

  .grid__item.one-half.visuallyhidden--palm.v-middle>
    = image_tag 'pages/presentation/bullhorn.png', class: 'soft center-block', height: 200

%hr

.grid
  .grid__item.one-half.visuallyhidden--palm.v-middle>
    = image_tag 'pages/presentation/swiss-knife.png', class: 'soft center-block', height: 200
  .grid__item.one-half.v-middle.palm--one-whole>
    %h3.blue Gardez le contrôle sur vos informations
    %p.epsilon
      Vous décidez de toutes les informations affichées sur votre profil. Créez vos cours, définissez vos séances et vos tarifs simplement. Vous pouvez également ajouter des promotions sur les séances de votre choix pour remplir vos cours à la dernière minute.
      Quand un élève est intéressé par vos cours vous recevez automatiquement ses coordonnées de manière à pouvoir le contacter rapidement.

%hr

.text--center
  %h3.blue Gratuit et sans engagement !
  = link_to "M'inscrire gratuitement", inscription_pro_structures_path, class: 'btn btn--green btn--large'


.grid
  / .grid__item{style: 'padding-right: 1em;'}>
  /   .alert--info.flush--right.flush--left
  /     %h3.blue.text--center.orange
  /       10 bonnes raisons d'utiliser CoursAvenuePro
  /     %ol{style: 'margin-left: 2em;'}
  /       %li Ne gardez pas les compliments de vos élèves rien que pour vous
  /       %li C'est gratuit et simple d'utilisation
  /       %li Faites connaître la qualité de vos cours
  /       %li Touchez de nouveaux clients
  /       %li Gérez votre propre inventaire de cours, actualisé en temps réel
  /       %li Augmentez votre visibilité sur Internet
  /       %li Partagez vos plus belles photos et vidéos
  /       %li Optimisez le taux de remplissage de chaque séance
  /       %li Soyez connu des comités d'entreprise
  /       %li Nous investissons en marketing et communication pour vous
  /   = link_to inscription_pro_structures_path, class: 'nowrap btn btn--green btn--large one-whole text--center', style: 'padding: 0.6em 1.5em' do
  /     Obtenir mes premiers avis !

  .grid__item.eight-twelfths.islet
    / %h3.blue Pourquoi utiliser CoursAvenuePro ?
    / %h5
    /   %i.icon-ok.delta.green
    /   Parce que 3 clients sur 4 disent consulter les avis sur Internet avant de choisir un cours

    / %p Vos élèves aiment vos cours ? Ne soyez plus le seul à le savoir, dites-le sur Internet ! Grâce à notre logiciel en ligne, vous pourrez en quelques clics :
    / %ul
    /   %li Envoyer une demande de recommandations à vos meilleurs élèves
    /   %li Faire connaître la qualité de vos cours sur CoursAvenue, le 1er moteur de recherche de cours et stages
    /   %li Etre plus visible sur Internet grâce à votre réputation

    / %h5
    /   %i.icon-ok.delta.green
    /   Parce que chaque jour, de plus en plus d’Internautes curieux d’apprendre vont sur CoursAvenue.com

    / %p
    /   CoursAvenue est l’unique endroit qui permet de guider chaque Internaute vers le cours de son choix. Soyez présent sur le 1er moteur de recherche de cours et stages ! C’est gratuit, simple d’utilisation et rapide :
    / %ul
    /   %li Renseignez tous vos cours et stages à venir : planning, prix,  lieu, nom des professeurs, etc.
    /   %li Partagez vos superbes photos et vidéos
    /   %li Publiez instantanément et en un clic tous vos cours sur CoursAvenue.com
    /   %li Recevez automatiquement les coordonnées de chaque Internaute intéressé par vos cours, de manière à pouvoir le contacter rapidement

    / %h5
    /   %i.icon-ok.delta.green
    /   Parce que vous allez toucher une nouvelle clientèle
    / %p L'équipe de CoursAvenue diffuse l'offre de cours présente sur le site auprès du grand public Internet, auprès des entreprises locales par le biais des comités d'entreprise mais aussi auprès des agences de voyage. Grâce à son moteur de recherche innovant, n'importe qui pourra retrouver facilement vos cours selon les différents critères : prix, localisation géographique, niveaux, public, créneau horaire, etc.

    / %h5
    /   %i.icon-ok.delta.green
    /   Parce qu’il est toujours bon d’augmenter son taux réservation
    / %o Est-ce que vos cours sont remplis à plus de 80% ? Tous les jours ? A chaque créneau horaire ?
    / %p Grâce à notre plateforme de réservation CoursAvenue.com, vous augmentez vos chances de remplir vos cours. Décidez vous-même d'ajouter des promotions sur les séances de votre choix, notre logiciel en ligne actualisera alors les informations sur CoursAvenue de manière instantanée.


-#     %h5 Vous souhaiteriez plus communiquer avec vos clients, mieux les connaître, plus les chouchouter ?
-#    %p
-#      CoursAvenuePro est avant tout orienté clients, et propose de véritables solutions de CRM (Customer Relationship Management), ou GRC en français (Gestion de la Relation Client). Parce que nous savons nous-mêmes à quel point il est important de répondre à leurs besoins, nous vous aidons à mieux les connaître : communiquez facilement (envoi de newsletters, campagnes de communication mails ou SMS, etc.), ayez accès à leurs avis, leurs coordonnées, leur profil, etc.

-#    %h5 Vous souhaitez améliorer votre service clients ?

-#    %p
-#      Pour chaque réservation, notre système s’occupe de tout pour vous assurer le meilleur service client. Vous savez, ce sont tous ces petits détails qui font la différence : tout d’abord au moment de la réservation, votre client peut recevoir un email et/ou un SMS lui confirmant la date, l’heure, le nombre de personnes, l’adresse, le digicode de votre porte d’entrée… Lors de son arrivée, il pourra bénéficier de vos petites attentions qu’il aurait pu spécifier. Enfin, après le cours, le système peut lui adresser une enquête de satisfaction afin de connaître son avis sur la séance. Grâce à tout cela, gagnez en confiance et mettez toutes vos chances pour plaire !
-# .text--right
-#   = link_to pages_contact_path, class: 'btn btn--large' do
-#     %i.icon-phone
-#     Nous contacter
-#
-# %h3.blue Avantages CoursAvenue :
-# %p.flush--bottom
-#   %b
-#     %i.icon-ok.delta.green
-#     Modèle commissionnable
-# %p
-#   Pas de frais d’inscription, ni de frais fixe : le client règle soit directement son cours par carte bleue sur le site CoursAvenue.com, ou directement auprès de votre -# établissement au moment du cours. Nous prélèverons une commission sur le chiffre d’affaires réalisé.
-#
-# %p.flush--bottom
-#   %b
-#     %i.icon-ok.delta.green
-#     Optimisation du taux de remplissage de vos cours et stages
-# %p
-#   Vous gérez vous-même vos disponibilités et vos tarifs. Si votre cours de demain n’est pour l’instant rempli qu’à 60%, renseignez le cours et ajustez le nombre de -# places disponibles depuis votre espace Partenaire. En proposant une offre promotionnelle, même faible, vous augmentez vos chances de remplir votre cours, et donc -# d’augmenter chiffre d’affaires et rentabilité. C’est pour cette raison que nos Partenaires sont si fidèles.
-#
-# %p.flush--bottom
-#   %b
-#     %i.icon-ok.delta.green
-#     Système de suivi en temps réel
-# %p
-#   Tous nos Partenaires ont accès au logiciel en ligne CoursAvenuePro.com. Celui-ci vous permet d'actualiser en ligne la liste des cours ou des stages à promouvoir, -# leurs disponibilités, leurs tarifs, les photos associées, les vidéos, les textes... De plus, vous y trouverez des informations sur le nombre de visiteurs, le taux de -# conversion, le nombre de réservations et la commission due. Ces statistiques peuvent vous aider à optimiser le taux de remplissage de vos cours et, par conséquent, -# votre chiffre d'affaires.
-#
-# %p.flush--bottom
-#   %b
-#     %i.icon-ok.delta.green
-#     De la visibilité et des sites partenaires
-#
-# %p
-#   Nous investissons pour tous nos Partenaires dans la publicité CPC, le marketing et la communication, et vous garantissons ainsi une visibilité auprès d’une (très) -# large clientèle. Nous faisons tout pour rester connectés à vos futurs élèves, notamment via les réseaux sociaux, notre blog et nos newsletters. Enfin, nous tissons -# de véritables liens de partenariats avec d’autres acteurs du marché. Grâce à ce réseau étendu, vous pouvez réellement optimiser au niveau national la promotion de -# vos cours, sans contrepartie budgétaire.
