= menu_currently_at 'Offres & Tarifs'

%h3 5 minutes chrono pour vous inscrire / Sans engagement / Changez d’offre quand vous voulez.

.ilb-wrapper
  .one-quarter
    .text--center
      %h3.flush--bottom
        %u Basique
      %h4.flush--bottom Gratuit à vie
      %p
        %i Hors frais de réservation*

  .one-quarter
    .text--center
      %h3.flush--bottom
        %u Pro
      %h4.flush--bottom 49€ HT / mois
      %p
        %i Hors frais de réservation*

      %h4.flush--bottom
        Formule Basique
        %br
        +
  .one-quarter
    .text--center
      %h3.flush--bottom
        %u Pro <i>Plus</i>
      %h4.flush--bottom 69€ HT / mois
      %p
        %i Hors frais de réservation*
      %h4
        Formule Pro
        %br
        +
  .one-quarter
    .text--center
      %h3.flush--bottom
        %u On s'occupe de tout !
      %h4.flush--bottom Sur devis
      %p
        %i Hors frais de réservation*

.ilb-wrapper
  .one-quarter
    %ul.discrete-list.islet
      %li
        %i.icon-ok.delta.green
        %b Référencement de vos cours sur LeBonCours.com
      %li
        %i.icon-ok.delta.green
        %b Gestion de votre planning via notre logiciel web,
        qui remplace votre ancien carnet papier
      %li
        %i.icon-ok.delta.green
        %b Affichage de votre planning
        directement depuis votre propre site Internet
      %li
        %i.icon-ok.delta.green
        %b Gestion multi-cours, multi formules, multi-salles

  .one-quarter
    %ul.discrete-list.islet
      %li
        %i.icon-ok.delta.green
        %b Bouton « Réserver »
        directement sur votre propre site Internet, avec ou sans carte bleue (pas d'essai gratuit pour ce module)
      %li
        %i.icon-ok.delta.green
        %b Votre logo
        sur votre page de planning et sur le logiciel
      %li
        %i.icon-ok.delta.green
        %b Statistiques :
        grâce à l’historique de vos données, gardez un œil sur votre croissance, optimisez votre politique de prix et votre taux de remplissage
      %li
        %i.icon-ok.delta.green
        %b Gestion multi-utilisateurs :
        gérez tous vos outils à plusieurs
      %li
        %i.icon-ok.delta.green
        %b Personnalisation de vos outils :
        vous décidez du texte lors de chaque échange avec vos élèves
      %li
        %i.icon-ok.delta.green
        %b Envoi de SMS
        de confirmation (0,08€ HT/SMS)


  .one-quarter
    %ul.discrete-list.islet
      %li
        %i.icon-ok.delta.green
        %b Base de données élèves avancée :
        gérez en quelques clics votre base clients, en fonction de leur profil, de leurs envie, etc.
      %li
        %i.icon-ok.delta.green
        %b Outils de communication avancés :
        en moins de 5min, créez votre campagne de communication mails, newsletters, SMS,… restez visibles !
      %li
        %i.icon-ok.delta.green
        %b Ressources humaines :
        générez vos fiches de paies professeurs directement via notre logiciel
      %li
        %i.icon-ok.delta.green
        %b Outils CRM avancés :
        enquêtes de satisfaction automatiques, statistiques avancées sur le comportement de vos élèves, etc.
  .one-quarter
    %ul.discrete-list.islet
      %li
        %i.icon-ok.delta.green
        Création de votre site internet
      %li
        %i.icon-ok.delta.green
        Offres préférentielles
      %li
        %i.icon-ok.delta.green
        Équipe projet dédiée
      %li
        %i.icon-ok.delta.green
        Personnalisation sur mesure
      %li
        %i.icon-ok.delta.green
        API / Intégration
      %li
        %i.icon-ok.delta.green
        Statistiques consolidées


.ilb-wrapper.align-middle
  .one-quarter.text--center
    = link_to "Je m'inscris", '#', class: 'btn btn__primary btn__large', id: 'register'
  .one-quarter.text--center
    = link_to "Je m'inscris", '#', class: 'btn btn__primary btn__large launching-space-button'
  .one-quarter.text--center
    = link_to "Je m'inscris", '#', class: 'btn btn__primary btn__large launching-space-button'
  .one-quarter.text--center
    = link_to "Nous contacter", pages_contact_path, class: 'btn btn__primary btn__large', style: 'padding-left: 35px; padding-right: 35px;'


%br
%br
.ilb-wrapper
  .two-thirds
    %p Il existe deux catégories de frais de réservation :
    %ol
      %li Pour chaque réservation effectuée via notre plateforme LeBonCours : commission de <strike>16%</strike> <b class="green">8%</b> HT**
      %li Pour chaque réservation effectuée directement via votre site Internet (option de l’offre Pro) : commission de <strike>5%</strike> <b class="green">3%</b> HT** correspondant uniquement aux frais bancaires et de carte bleue
    %p
      %i
        Note : LeBonCours prend en charge les frais bancaires et de carte bleue : nous avons négocié les meilleurs tarifs pour vous assurer la commission la plus basse possible et les meilleurs services associés.
    %p
      %i **Offre de lancement valable jusqu’au 30/05/2013.



%h4
  %i.icon-lightbulb.alpha
  Vous avez des questions ? Nous avons les réponses ! Voici les questions les plus fréquentes :

.ilb-wrapper
  .one-half
    .alert--info
      %h5 Au sujet de l’offre Pro : comment fonctionne le mois de gratuité ?
      %p
        Lorsque vous souscrivez à notre offre Pro, vous bénéficiez automatiquement d’1 mois offert, soit un cadeau de 49€. A la fin de cette période, vous êtes libre de continuer ou d’arrêter cette offre et de changer de formule (en optant pour la version Basique par exemple).

    .alert--info
      %h5 Puis-je bénéficier du mois gratuit si j’ai déjà souscrit à l’offre Basique, elle-même gratuite à vie ?
      %p Oui, bien sûr. Concernant l’offre Basique, il n’y a rien à payer, aucun abonnement. Seules les réservations honorées sont facturées.

    .alert--info
      %h5 Quels types de paiement acceptez-vous ?
      %p Pour faciliter tout le monde, nous n’acceptons que le prélèvement automatique.

    .alert--info
      %h5 Quand et comment vous payer ?
      %p A chaque fin de fin de mois, nous calculerons la différence entre ce que nous vous devons (la somme des réservations honorées pendant le mois déduite des commissions associées) et ce que vous nous devez (les frais de réservation du mois et l’abonnement mensuel à notre logiciel si vous avez souscrit à l’offre Pro). Si c’est nous qui vous devons de l’argent, nous procèderons à un virement ; à l’inverse, nous procéderons à un prélèvement automatique. C’est pourquoi nous vous demandons vos coordonnées bancaires dès votre première inscription (tout est sécurisé).
  .one-half
    .alert--info
      %h5 Y a-t-il des coûts autres que celui du logiciel ?
      %p Si vous faites le choix de référencer vos cours sur www.LeBonCours.com, alors quand une réservation est effectuée sur notre site (et qu’elle est ensuite bien effectuée…), une commission vous sera facturée.

    .alert--info
      %h5 Est-ce que je peux me désinscrire du site LeBonCours à n’importe quel moment ?
      %p Chez LeBonCours, nous sommes toujours très tristes lorsqu’un Partenaire nous quitte. Mais nous ne forcerons jamais personne à rester avec nous : nous tenons à votre liberté de décider. La seule chose que l’on vous demande si vous décidez de nous quitter, c’est de nous appeler pour qu’on en discute ensemble. C’est aussi une piste d’amélioration pour nous.

    .alert--info
      %h5 Puis-je me connecter à mon compte Basique ou Pro depuis n’importe quel appareil ?
      %p Oui. Depuis n’importe quel appareil à partir du moment où ce dernier est connecté à Internet (PC, Mac, Tablette tactile, etc.).

    .alert--info
      %h5 Les informations bancaires sont-elles sécurisées ?
      %p En effet vos informations bancaires sont sécurisées. Toutes nos transactions bancaires passent par une plateforme de paiement sécurisée conforme aux normes PCI/DSS exigées par les institutions financières.

    .alert--info
      %h5 Vous avez d’autres questions ?
      %p
        Nous nous ferons un plaisir d’y répondre. Appelez-nous ou contactez-nous par email à l’adresse suivante :
        = link_to 'contact@leboncours.com', 'mailto:contact@leboncours.com?subject=Question au sujet des offres et tarifs'







- content_for :scripts do
  :javascript
    $("register").addEvent("click", function(){
        var modal = new SimpleModal({
            width: 500,
            "onAppend": function() {
                $("simple-modal").fade("hide");
                setTimeout((function(){ $("simple-modal").fade("show")}), 200 );
                var tw = new Fx.Tween($("simple-modal"),{
                  duration: 800,
                  transition: Fx.Transitions.Cubic.easeOut,
                  link: 'cancel',
                  property: 'top'
                }).start(-400, 150);
            }
        });
        modal.show({
            "model":"modal",
            "title":"Inscription",
            "contents": $('registration-form').get('html')
        });
    });
    $$(".launching-space-button").addEvent("click", function(){
        var modal = new SimpleModal({
            width: 350,
            "onAppend": function() {
                $("simple-modal").fade("hide");
                setTimeout((function(){ $("simple-modal").fade("show")}), 200 );
                var tw = new Fx.Tween($("simple-modal"),{
                  duration: 800,
                  transition: Fx.Transitions.Cubic.easeOut,
                  link: 'cancel',
                  property: 'top'
                }).start(-400, 150);
            }
        });
        modal.show({
            "model":"modal",
            "title":"En cours de lancement",
            "contents": $$('.launching-space')[0].get('html')
        });
    });

#registration-form.hidden
  = render partial: 'pro/admins/quick_registration'

.launching-space.hidden
  %p
    Cet espace est en cours de développement.
    %br
    En attendant, n'hésitez pas à tester l'offre gratuite !
