= pro_menu_currently_at 'Offres & Tarifs'

= content_for :title do
  Optimisez votre visibilité, augmentez votre taux d'inscription et de fidélisation

- content_for :above_container do
  .home-screen-promotion-wrapper--blue.soft
    %header.text--center
      %h1.weight-300.flush Optimisez votre visibilité, augmentez votre taux d'inscription et de fidélisation
      %h4.weight-300.flush.text--center Pas besoin de carte bleue. Sans engagement.

  .main-container
    %table.table--data.table--striped.table--white.push--top
      %thead
        %tr
          %td.no-stripe.four-twelfths.bordered--right &nbsp;
          %td.text--center.two-twelfths.bordered--top.bordered--right
            .blue.beta Basic
            .delta.push-half--bottom Gratuit à vie
          %td.bordered--right.two-twelfths.text--center.bordered--top
            .blue.beta Solo
            .delta.push-half--bottom 19€ / mois
          %td.bordered--right.two-twelfths.text--center.bordered--top
            .blue.beta Maître
            .delta.push-half--bottom 29€ / mois
          %td.bordered--right.two-twelfths.text--center.bordered--top
            .blue.beta École
            .delta.push-half--bottom 49€ / mois
      %tbody
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "Le nombre d'utilisateurs correspond au nombre de personnes souhaitant utiliser votre profil CoursAvenue pour gérer les inscriptions, suivre les présences ou encore envoyer vos newsletters."}}
              Nombre d'utilisateurs (gestion du profil)
          %td.bordered--right.text--center 1
          %td.bordered--right.text--center 1
          %td.bordered--right.text--center 1
          %td.bordered--right.text--center 5
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "Depuis votre répertoire, vous avez accès aux coordonnées des élèves qui ont consulté votre profil et qui sont intéressés par vos cours. En quelques clics, vous pourrez ainsi les inviter à rejoindre tous vos événements ou tout simplement communiquer avec eux grâce à nos outils dédiés."}}
              Accès aux coordonnées des élèves CoursAvenue
          %td.bordered--right.text--center Limité
          %td.bordered--right.text--center Sans limite
          %td.bordered--right.text--center Sans limite
          %td.bordered--right.text--center Sans limite
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "Depuis votre répertoire, sélectionnez vos contacts et envoyez-leurs des newsletters ciblées ou des messages groupés. Animez ainsi votre propre communauté d'élèves en ouvrant des groupes de discussions, en partageant des documents (photos, vidéos, tutoriels, informations, etc.) ou en les invitant à des événements (soirées, expositions, voyages, etc.)."}}
              Envoi de newsletters et messages groupés
          %td.bordered--right.text--center 15 contacts / mois
          %td.bordered--right.text--center 100 contacts / mois
          %td.bordered--right.text--center Sans limite
          %td.bordered--right.text--center Sans limite
        %tr
          %td.bordered--right.no-stripe &nbsp;
          %td.bordered--right.text--center.soft-half{colspan: 4}
            %strong.delta Outils de performance
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "<p><strong>Référencement & mise en relation :</strong>votre profil apparaît sur notre moteur de recherche géolocalisé CoursAvenue.com et les visiteurs prennent contact directement et gratuitement avec vous.</p><p><strong>Livre d'Or :</strong> vos élèves vous recommandent et votre bouche à oreille se développe grâce à nos différents outils marketing (livre d'or CoursAvenue intégrable sur votre propre site Internet et autocollants offerts).</p>"}}
              Référencement & mise en relation + Livre d'Or
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "Depuis votre répertoire, sélectionnez vos contacts et envoyez-leurs des newsletters ciblées ou des messages groupés. Animez ainsi votre propre communauté d'élèves en ouvrant des groupes de discussions, en partageant des documents (photos, vidéos, tutoriels, informations, etc.) ou en les invitant à des événements (soirées, expositions, voyages, etc.)."}}
              Répertoire + Newsletters & messages groupés
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "Depuis votre répertoire, sélectionnez vos contacts et envoyez-leurs des SMS groupés, le moyen le plus efficace pour prévenir vos élèves en cas d'urgence."}}
              Envois de SMS groupés*
          %td.bordered--right.text--center
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "Suivez les performances de votre profil (nombre de visites, de prises de contact...) et suivez nos conseils pour l'optimiser."}}
              Statistiques de votre profil
          %td.bordered--right.text--center
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "Il remplace votre cahier de présences papier et optimise le suivi de vos présences qui devient totalement dématérialisé et automatisé. Grâce à notre application Smartphone, vos élèves s'enregistrent à chaque séance (ou vous le faites pour eux) et vous contrôlez votre taux de remplissage et donc votre rentabilité."}}
              Cahier de présences sur Web & Mobile
          %td.bordered--right.text--center
          %td.bordered--right.text--center
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
        %tr
          %td.pointer.bordered--right.no-stripe.text--right
            %div{data: {toggle: 'popover', html: 'true', 'original-title' => '', trigger: 'hover', placement: 'right', content: "C'est un outil très puissant qui vous permettra de répondre à une demande de plus en plus forte : l'inscription aux cours directement en ligne. Concrètement, nous vous fournissons un lien qui vous permettra d'afficher le planning de vos cours sur votre propre site Internet. A chaque fois qu'un Internaute voudra assister à un cours, il pourra s'inscrire directement en ligne (avec ou sans carte bleue) et vous en serez automatiquement notifié par e-mail et SMS. Vous gagnerez ainsi énormément de temps (plus d'appels téléphoniques), les coordonnées des Internautes seront automatiquement stockées dans votre répertoire CoursAvenue, et vous n'aurez plus à vous soucier des éventuels problèmes de surcapacité (ouverture automatique de listes d'attente)."}}
              Bouton "s'inscrire" sur votre site
          %td.bordered--right.text--center
          %td.bordered--right.text--center
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
          %td.bordered--right.text--center
            %i.fa.fa-check.blue.delta
        %tr
          %td.bordered--right.no-stripe &nbsp;
          %td.bordered--right.text--center.soft-half{colspan: 4}
            %strong.delta Support
        %tr
          %td.pointer.bordered--right.no-stripe.text--center
          %td.bordered--bottom.bordered--right.text--center Chat & e-mail
          %td.bordered--bottom.bordered--right.text--center Chat & e-mail
          %td.bordered--bottom.bordered--right.text--center Chat, e-mail & téléphone
          %td.bordered--bottom.bordered--right.text--center
            Chat, e-mail &
            %br
            %strong prioritaire par téléphone
        %tr
          %td.pointer.bordered--right.no-stripe.text--center
          %td.bordered--bottom.bordered--right.text--center
            = link_to 'Créer mon profil', inscription_pro_structures_path, class: 'btn btn--full btn--green'
            %div.gray
              %i en 5 min
          %td.bordered--bottom.bordered--right.text--center
            = link_to 'Créer mon profil', inscription_pro_structures_path, class: 'btn btn--full btn--green'
            %div.gray
              %i Gratuit pendant 30 jours
          %td.bordered--bottom.bordered--right.text--center
            = link_to 'Créer mon profil', inscription_pro_structures_path, class: 'btn btn--full btn--green'
            %div.gray
              %i Gratuit pendant 30 jours
          %td.bordered--bottom.bordered--right.text--center
            = link_to 'Créer mon profil', inscription_pro_structures_path, class: 'btn btn--full btn--green'
            %div.gray
              %i Gratuit pendant 30 jours
        %tr
          %td.no-stripe &nbsp;
          %td.no-stripe.text--left.v-top.hard{colspan: 3} * Les 30 jours d'essai gratuit ne s'appliquent pas.
          %td.no-stripe.text--center{colspan: 1}
            + de 5 utilisateurs ?
            %br
            = link_to "Offre sur mesure", pages_contact_url(subdomain: 'www'), class: 'btn btn--small'
        %tr
          %td.no-stripe &nbsp;
          %td.no-stripe.hard.text--left{colspan: 4}
            .white-box.soft
              %h3 Détails de nos outils de performance :

              %h5.flush Référencement & mise en relation
              %p
                Votre profil apparaît sur notre moteur de recherche géolocalisé CoursAvenue.com et les visiteurs prennent contact directement et gratuitement avec vous.

              %h5.flush Livre d'Or
              %p
                Vos élèves vous recommandent et votre bouche à oreille se développe grâce à nos différents outils marketing (
                = link_to "Livre d'Or", pro_pages_widget_path, target: :_blank
                CoursAvenue intégrable sur votre propre site Internet et autocollants offerts).

              %h5.flush Répertoire
              %p
                Rassemblez tous vos contacts (élèves, professeurs, partenaires...) dans une seule et même base de données et triez-les par catégories.

              %h5.flush Coordonnées des élèves CoursAvenue
              %p
                Depuis votre répertoire, vous avez accès aux coordonnées des élèves qui ont consulté votre profil et qui sont intéressés par vos cours. En quelques clics, vous pourrez ainsi les inviter à rejoindre tous vos événements ou tout simplement communiquer avec eux grâce à nos outils dédiés.

              %h5.flush Newsletters & messages groupés
              %p
                Depuis votre répertoire, sélectionnez vos contacts et envoyez-leurs des newsletters ciblées ou des messages groupés. Animez ainsi votre propre communauté d'élèves en ouvrant des groupes de discussions, en partageant des documents (photos, vidéos, tutoriels, informations, etc.) ou en les invitant à des événements (soirées, expositions, voyages, etc.).

              %h5.flush Outil d'envoi de SMS groupés
              %p
                Depuis votre répertoire, sélectionnez vos contacts et envoyez-leurs des SMS groupés, le moyen le plus efficace pour prévenir vos élèves en cas d'urgence.

              %h5.flush Statistiques de votre profil
              %p
                Suivez les performances de votre profil (nombre de visites, de prises de contact...) et suivez nos conseils pour l'optimiser.

              %h5.flush Cahier de présences sur Web & Mobile
              %p
                Il remplace votre cahier de présences papier et optimise le suivi de vos présences qui devient totalement dématérialisé et automatisé. Grâce à notre application Smartphone, vos élèves s'enregistrent à chaque séance (ou vous le faites pour eux) et vous contrôlez votre taux de remplissage et donc votre rentabilité.

              %h5.flush Bouton "s'inscrire" sur votre propre site
              %p
                C'est un outil très puissant qui vous permettra de répondre à une demande de plus en plus forte : l'inscription aux cours directement en ligne. Concrètement, nous vous fournissons un lien qui vous permettra d'afficher le planning de vos cours sur votre propre site Internet. A chaque fois qu'un Internaute voudra assister à un cours, il pourra s'inscrire directement en ligne (avec ou sans carte bleue) et vous en serez automatiquement notifié par e-mail et SMS. Vous gagnerez ainsi énormément de temps (plus d'appels téléphoniques), les coordonnées des Internautes seront automatiquement stockées dans votre répertoire CoursAvenue, et vous n'aurez plus à vous soucier des éventuels problèmes de surcapacité (ouverture automatique de listes d'attente).

              %h5.flush Support
              %p
                Notre équipe sera toujours là pour répondre à vos questions : grâce à notre système de chat (rubrique "Aide" sur CoursAvenue.com), en nous envoyant un e-mail, ou par téléphone avec un conseiller dédié.
