= menu_currently_at 'Offres & Tarifs'

%h4.blue.text--center 5 minutes chrono pour vous inscrire / Sans engagement / Changez d’offre quand vous voulez
%hr

.grid
  .grid__item.one-third>
    .ten-twelfths.center-block.white-box.islet
      .text--center
        %h3.flush--bottom
          %u Basique
        %h4.flush--bottom Gratuit à vie

      %ul.discrete-list.islet.flush--bottom{style: 'min-height: 200px;'}
        %li
          %i.icon-ok.delta.green
          %b Référencement de vos cours
        %li
          %i.icon-ok.delta.green
          %b Gestion du planning
        %li
          %i.icon-ok.delta.green
          %b Planning sur votre site Internet
        %li
          %i.icon-ok.delta.green
          %b Gestion des cours, tarifs et salles
      .text--center
        %div= link_to "Détails de l'offre", '#', data: {behavior: 'modal', el: 'basic-offer-details', title: "Détails de l'offre Basique"}
        = link_to "Je m'inscris", select_pro_structures_path, class: 'btn btn__success btn__large', onclick: "_gaq.push(['_trackEvent', 'Pricing', 'click', 'Basique'])"

  .grid__item.one-third>
    .ten-twelfths.center-block.white-box.islet
      .text--center
        %h3.flush--bottom
          %u Pro
        %h4.flush--bottom 49€ HT / mois
      %ul.discrete-list.islet.flush--bottom{style: 'min-height: 200px;'}
        %li
          %i.icon-ok.delta.green
          %b Bouton « Réserver »
        %li
          %i.icon-ok.delta.green
          %b Votre logo
        %li
          %i.icon-ok.delta.green
          %b Statistiques
        %li
          %i.icon-ok.delta.green
          %b Gestion multi-utilisateurs
        %li
          %i.icon-ok.delta.green
          %b Personnalisation de vos outils
        %li
          %i.icon-ok.delta.green
          %b Envoi de SMS
      .text--center
        %div= link_to "Détails de l'offre", '#', data: {behavior: 'modal', el: 'pro-offer-details', title: "Détails de l'offre Pro"}
        = link_to "Je m'inscris", '#', class: 'btn btn__success btn__large launching-space-button', id: 'price_pro_subscribe', onclick: "_gaq.push(['_trackEvent', 'Pricing', 'click', 'Pro'])"

  .grid__item.one-third>
    .ten-twelfths.center-block.white-box.islet
      .text--center
        %h3.flush--bottom
          %u Pro <i>Plus</i>
        %h4.flush--bottom 69€ HT / mois
      %ul.discrete-list.islet.flush--bottom{style: 'min-height: 200px;'}
        %li
          %i.icon-ok.delta.green
          %b Base de données élèves avancée
        %li
          %i.icon-ok.delta.green
          %b Outils de communication avancés
        %li
          %i.icon-ok.delta.green
          %b Gestion RH
        %li
          %i.icon-ok.delta.green
          %b Outils CRM avancés
      .text--center
        %div= link_to "Détails de l'offre", '#', data: {behavior: 'modal', el: 'pro-plus-offer-details', title: "Détails de l'offre Pro Plus"}
        = link_to "Je m'inscris", '#', class: 'btn btn__success btn__large launching-space-button', id: 'price_pro_plus_subscribe', onclick: "_gaq.push(['_trackEvent', 'Pricing', 'click', 'Pro plus'])"



%br
.white-box.islet.center-block.one-half.text--center
  %h4.flush--bottom Vous vous lancez et voulez une offre sur mesure ?
  %p
    Contactez nous pour en parler, nous faisons également des offres sur mesure !
    %br
    = link_to "Détails de l'offre", '#', data: {behavior: 'modal', el: 'custom-offer-details', title: "Détails de l'offre sur mesure", width: 300}
    %br
    = link_to "Nous contacter", pages_contact_path, class: 'btn btn__success', id: 'price_custom'



%h4
  %i.icon-lightbulb.alpha
  Vous avez des questions ? Nous avons les réponses ! Voici les questions les plus fréquentes :

.grid
  .grid__item.one-half>
    .alert--info
      %h5 Au sujet de l’offre Pro : comment fonctionne le mois de gratuité ?
      %p
        Lorsque vous souscrivez à notre offre Pro, vous bénéficiez automatiquement d’1 mois offert, soit un cadeau de 49€. A la fin de cette période, vous êtes libre de continuer ou d’arrêter cette offre et de changer de formule (en optant pour la version Basique par exemple).

    .alert--info
      %h5 Puis-je bénéficier du mois gratuit si j’ai déjà souscrit à l’offre Basique, elle-même gratuite à vie ?
      %p Oui, bien sûr. Concernant l’offre Basique, il n’y a rien à payer, aucun abonnement. Seules les réservations honorées sont facturées.

    .alert--info
      %h5 Quels types de paiement acceptez-vous ?
      %p Pour faciliter tout le monde, nous n’acceptons que le prélèvement automatique.

    .alert--info
      %h5 Quand et comment vous payer ?
      %p A chaque fin de fin de mois, nous calculerons la différence entre ce que nous vous devons (la somme des réservations honorées pendant le mois déduite des commissions associées) et ce que vous nous devez (les frais de réservation du mois et l’abonnement mensuel à notre logiciel si vous avez souscrit à l’offre Pro). Si c’est nous qui vous devons de l’argent, nous procèderons à un virement ; à l’inverse, nous procéderons à un prélèvement automatique. C’est pourquoi nous vous demandons vos coordonnées bancaires dès votre première inscription (tout est sécurisé).
  .grid__item.one-half
    .alert--info
      %h5 Y a-t-il des coûts autres que celui du logiciel ?
      %p Si vous faites le choix de référencer vos cours sur www.CoursAvenue.com, alors quand une réservation est effectuée sur notre site (et qu’elle est ensuite bien effectuée…), une commission vous sera facturée.

    .alert--info
      %h5 Est-ce que je peux me désinscrire du site CoursAvenue à n’importe quel moment ?
      %p Chez CoursAvenue, nous sommes toujours très tristes lorsqu’un Partenaire nous quitte. Mais nous ne forcerons jamais personne à rester avec nous : nous tenons à votre liberté de décider. La seule chose que l’on vous demande si vous décidez de nous quitter, c’est de nous appeler pour qu’on en discute ensemble. C’est aussi une piste d’amélioration pour nous.

    .alert--info
      %h5 Puis-je me connecter à mon compte Basique ou Pro depuis n’importe quel appareil ?
      %p Oui. Depuis n’importe quel appareil à partir du moment où ce dernier est connecté à Internet (PC, Mac, Tablette tactile, etc.).

    .alert--info
      %h5 Les informations bancaires sont-elles sécurisées ?
      %p En effet vos informations bancaires sont sécurisées. Toutes nos transactions bancaires passent par une plateforme de paiement sécurisée conforme aux normes PCI/DSS exigées par les institutions financières.

    .alert--info
      %h5 Vous avez d’autres questions ?
      %p
        Nous nous ferons un plaisir d’y répondre. Appelez-nous ou contactez-nous par email à l’adresse suivante :
        = link_to 'contact@coursavenue.com', 'mailto:contact@coursavenue.com?subject=Question au sujet des offres et tarifs'





- content_for :scripts do
  :javascript
    $("price_pro_subscribe").addEvent("click", function(){
        new Request.JSON({
            url: Routes.click_loggers_path(),
            data: {
              click_logger: {
                name: "Je m'inscris - formule pro"
              }
            }
        }).post();
    });
    $("price_pro_plus_subscribe").addEvent("click", function(){
        new Request.JSON({
            url: Routes.click_loggers_path(),
            data: {
              click_logger: {
                name: "Je m'inscris - formule pro plus"
              }
            }
        }).post();
    });
    $("price_custom").addEvent("click", function(){
        new Request.JSON({
            url: Routes.click_loggers_path(),
            data: {
              click_logger: {
                name: "Je m'inscris - formule custom"
              }
            }
        }).post();
    });
    $$(".launching-space-button").addEvent("click", function(){
        var modal = new SimpleModal({
            width: 350,
            "onAppend": function() {
                $("simple-modal").fade("hide");
                setTimeout((function(){ $("simple-modal").fade("show")}), 200 );
                var tw = new Fx.Tween($("simple-modal"),{
                  duration: 800,
                  transition: Fx.Transitions.Cubic.easeOut,
                  link: 'cancel',
                  property: 'top'
                }).start(-400, 150);
            }
        });
        modal.show({
            "model":"modal",
            "title":"En cours de lancement",
            "contents": $$('.launching-space')[0].get('html')
        });
    });

#registration-form.hidden
  = render partial: 'pro/admins/quick_registration'

.launching-space.hidden
  %p
    Cet espace est en cours de développement.
    %br
    En attendant, n'hésitez pas à tester l'offre gratuite !

#basic-offer-details.hidden
  %h4.text--center
    Formule Basique
  %ul
    %li
      %b Référencement de vos cours
      sur CoursAvenue.com
    %li
      %b Gestion de votre planning
      via notre logiciel web, qui remplace votre ancien carnet papier
    %li
      %b Affichage de votre planning
      directement depuis votre propre site Internet
    %li
      %b Gestion multi-cours, multi formules, multi-salles

#pro-offer-details.hidden
  %h4.text--center
    Formule Basique
    %br
    +
  %ul
    %li
      %b Bouton « Réserver »
      directement sur votre propre site Internet, avec ou sans carte bleue (pas d'essai gratuit pour ce module)
    %li
      %b Votre logo
      sur votre page de planning et sur le logiciel
    %li
      %b Statistiques :
      grâce à l’historique de vos données, gardez un œil sur votre croissance, optimisez votre politique de prix et votre taux de remplissage
    %li
      %b Gestion multi-utilisateurs :
      gérez tous vos outils à plusieurs
    %li
      %b Personnalisation de vos outils :
      vous décidez du texte lors de chaque échange avec vos élèves
    %li
      %b Envoi de SMS
      de confirmation (0,08€ HT/SMS)

#custom-offer-details.hidden
  %h4.text--center
    Sur mesure
  %ul
    %li Création de votre site internet
    %li Offres préférentielles
    %li Équipe projet dédiée
    %li Personnalisation sur mesure
    %li API / Intégration
    %li Statistiques consolidées


#pro-plus-offer-details.hidden
  %h4.text--center
    Formule Pro
    %br
    +
  %ul
    %li
      %b Base de données élèves avancée :
      gérez en quelques clics votre base clients, en fonction de leur profil, de leurs envie, etc.
    %li
      %b Outils de communication avancés :
      en moins de 5min, créez votre campagne de communication mails, newsletters, SMS,… restez visibles !
    %li
      %b Ressources humaines :
      générez vos fiches de paies professeurs directement via notre logiciel
    %li
      %b Outils CRM avancés :
      enquêtes de satisfaction automatiques, statistiques avancées sur le comportement de vos élèves, etc.
