= content_for :title do
  = "Offres & Tarifs | CoursAvenue PRO".html_safe

= content_for :meta_description do
  Optimisez votre visibilité, augmentez votre taux d'inscription et de fidélisation. Trafic supplémentaire ciblé et rentabilité.

= render layout: 'pro/home/header_layout', locals: { current: 'prices' } do
  %h1.f-size-big.text--center.white.relative.main-container.mega-soft--ends
    Essayez CoursAvenue gratuitement.

.main-container.main-container--medium.relative.soft--ends
  .grid--full
    %a.muted-link.grid__item.palm-hard.soft--right.one-half.palm-one-whole.text--center{ href: inscription_pro_structures_path }>
      .soft.rounded.bordered.bg-white.shadowed--bottom{ style: 'min-height: 13em;'}
        %h1 Basic
        %h4 Gratuit
      .btn.soft--sides.btn--green.btn--bigger{ style: 'margin-top: -15px; margin-bottom: -15px;'} Essayer gratuitement
      .bordered.soft.bg-white.shadowed--bottom.push-half--bottom
        .text--center.gamma.line-height-1-7.v-middle.f-weight-bold.orange.soft--top>
          Visibilité
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.orange.soft-half--bottom>
          Profil CoursAvenue
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.orange>
          Avis & Livre d'Or
        %hr.push--ends
        .text--center.gamma.line-height-1-7.v-middle.f-weight-bold.green>
          Attractivité
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.green.soft-half--bottom>
          Page planning sur votre site Internet
          %br
          optimisée mobiles & tablettes
      %p.textt--center.soft--sides.epsilon
        %i
          Le minimum pour augmenter votre visibilité et
          %br
          améliorer l'efficacité de votre site Internet
    %a.muted-link.grid__item.palm-hard.soft--right.one-half.palm-one-whole.text--center{ class: 'fancybox.ajax', href: new_pro_call_reminder_path, data: { behavior: 'modal', width: 600, padding: 0 } }>
      .soft.rounded.bordered.bg-white.shadowed--bottom{ style: 'min-height: 13em;'}
        %h1 Pro
        %h4.flush 39€/mois
        %p.flush Sans engagement
      .btn.soft--sides.btn--yellow.btn--bigger{ style: 'margin-top: -15px; margin-bottom: -15px;'} Rappel immédiat
      .bordered.soft.bg-white.shadowed--bottom.push-half--bottom
        .text--center.gamma.line-height-1-7.v-middle.f-weight-bold.orange.soft--top>
          Visibilité
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.orange.soft-half--bottom>
          Profil CoursAvenue
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.orange>
          Avis & Livre d'Or
        %hr.push--ends
        .text--center.gamma.line-height-1-7.v-middle.f-weight-bold.green>
          Attractivité
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.green.soft-half--bottom>
          Page planning sur votre site Internet
          %br
          optimisée mobiles & tablettes
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.green.soft-half--bottom>
          Inscriptions en ligne
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.green>
          Statistiques de trafic &
          %br
          suivi des conversions
        %hr.push--ends
        .text--center.gamma.line-height-1-7.v-middle.f-weight-bold.dark-blue>
          Fidélisation
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.dark-blue.soft-half--bottom>
          Newsletters & fichier élèves
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.dark-blue.soft-half--bottom>
          Multi-postage sur les réseaux sociaux
        .text--center.delta.line-height-1-7.v-middle.f-weight-500.dark-blue.soft-half--bottom>
          Questionnaire de satisfaction
      %p.textt--center.soft--sides.epsilon
        %i
          Idéal pour booster le nombre de nouveaux
          %br
          inscrits et fidéliser vos élèves

= render partial: 'testimonies_banner', locals: { profile: 'alain'}

.home-screen-promotion-wrapper.soft--sides.relative
  .main-container.main-container--medium.mega-soft--ends.soft--sides
    .grid.push--bottom
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong L'offre Basic est-elle vraiment gratuite&nbsp;?
        %p.epsilon.soft--sides
          Oui, totalement gratuite. Votre profil complet apparaîtra alors sur le moteur de recherche géolocalisé CoursAvenue et vous pourrez afficher sur votre propre site Internet votre page planning optimisée tous supports ainsi que votre Livre d'Or.
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong L'offre Pro inclut-elle une durée d'engagement minimale&nbsp;?
        %p.epsilon.soft--sides
          Non. CoursAvenue est un service à la demande. Il n'y a pas de contrat ni d'engagement de votre part. Vous payez tout simplement chaque mois. En cas de résiliation, vous serez facturé pour le mois en cours, mais vous ne serez pas facturé à nouveau.

    .grid.push--bottom
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Comment vous contacter pour toute aide&nbsp;?
        %p.epsilon.soft--sides
          Nous sommes à votre écoute prêts à vous aider tous les jours du lundi au vendredi, de 9h à 18h. Vous pouvez nous appeler, chatter en temps réel ou nous envoyer un e-mail.
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Quels moyens de paiement acceptez-vous&nbsp;?
        %p.epsilon.soft--sides
          Le paiement se fait en ligne par carte bleue (Visa ou Mastercard) ou via Paypal. Nous n'acceptons pas les paiements traditionnels de type chèques, virements ou espèces.

    .grid.push--bottom
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Existe-t-il d'autres frais cachés&nbsp;?
        %p.epsilon.soft--sides
          Non, vous ne paierez jamais plus que votre abonnement mensuel. Tous les services inclus dans l'offre son illimités, et vous n'aurez aucune mauvaise surprise.
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Comment faire pour obtenir mes factures mensuelles&nbsp;?
        %p.epsilon.soft--sides
          Dans votre profil privé, vous accèderez à toutes vos informations de compte, y compris vos factures mensuelles à télécharger en format pdf.

