- has_multiple_teacher = @course.has_multiple_teacher?
%table.table--striped.table--data#dataTable
  %thead
    %tr
      %th.text--center Jour
      %th.text--center Créneau horaire
      %th.text--center Durée
      %th Professeur
      %th.text--center Niveau
      %th.text--center Public
      %th.text--center
        %i.lbc-icon-info i
      %th
  %tbody
    - @plannings.each do |planning|
      %tr{data: {'course-id' => planning.course_id}}
        %td.text--center{data: {value: planning.week_day}}
          = simple_form_for [:pro, @course, planning], remote: true do |f|
            - days = t('date.day_names').collect{|day| [day.capitalize, t('date.day_names').index(day)] }.rotate
            = f.input :week_day, as: :select, collection: days, label: false, input_html: {class: 'week-day-select'}, wrapper_html: {class: 'flush'}, include_blank: false
        %td.text--center{data: {value: planning.start_time}}
          = readable_time_slot planning.start_time, planning.end_time
        %td.text--center= readable_duration planning.duration
        %td.text--center{data: {value: planning.teacher.try(:name)}}
          = simple_form_for [:pro, @course, planning], remote: true do |f|
            = f.input :teacher_id, as: :select, collection: @teachers, label: false, input_html: {class: 'teacher-select'}, wrapper_html: {class: 'flush'}
        %td.text--center= join_levels_text planning
        %td.text--center= join_audiences_text planning
        %td.text--center
          - if planning.info.present?
            .lbc-brand-icon{data: {behavior: 'popover', content: planning.info}}
        %td.text--center.hard
          .drop-down-el.drop-down__wrapper{data: {behavior: 'drop-down', el: '> .drop-down__el', position: 'right'}}
            %a.btn{href: '#'}
              %i.icon-chevron-down
              / Actions
            %ul.drop-down__el.text--left
              %li
                = link_to edit_pro_course_planning_path(@course, planning), title: 'Modifier le créneau' do
                  %i.icon-pencil
                  Éditer
              %li
                = link_to duplicate_pro_course_planning_path(@course, planning), title: 'Dupliquer le créneau', class: 'nowrap', method: :post do
                  %i.icon-copy
                  Dupliquer le créneau
              %li
                = link_to pro_course_planning_path(@course, planning), method: 'delete', confirm: 'Êtes-vous bien sûr de supprimer ce planning ?', title: 'Supprimer le créneau' do
                  %i.icon-trash
                  Supprimer

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        $$('.teacher-select').each(function(teacher_select){
            teacher_select.addEvent('change', function() {
                teacher_form = this.getParent('form')
                teacher_form.send();
                new GLOBAL.Objects.Flash('Le professeur a bien été changé').showAndHide();
            })
        });
        $$('.week-day-select').each(function(week_day_select){
            week_day_select.addEvent('change', function() {
                week_day_form = this.getParent('form')
                week_day_form.send();
                new GLOBAL.Objects.Flash('Le jour a bien été changé').showAndHide();
            })
        });
        new TableSorter('dataTable', { columnDataTypes: 'integer, datetime, string, string, string, string', cookieName: 'tableSortState__planning_#{@course.slug}', dateParseFunction: GLOBAL.DataTable.dateParseFunction });
    });
