= simple_form_for [:pro, @course, @planning] do |f|
  = f.error_notification
  .input.inline-inputs
    %label.required.control-label Le
    - days = t('date.day_names').collect{|day| [day.capitalize, t('date.day_names').index(day)] }.rotate
    = f.input :week_day, as: :select, collection: days, label: false
    %label.required.control-label de
    = f.input :start_time, as: :time, minute_step: 15, label: false, default: {year: 2000, month: 1, day: 1}
    %label.required.control-label à
    = f.input :end_time, as: :time, minute_step: 15, min_hour: 7, label: false, default: {year: 2000, month: 1, day: 1}
    = f.association :teacher, as: :select, collection: @structure.teachers, selected: (@plannings.first.try(:teacher) || @structure.teachers.first), label: 'par'
    = f.input :info, as: :string, placeholder: 'Plat : gâteau au chocolat'
    - if @planning.new_record?
      = f.submit 'Ajouter le créneau', class: 'btn btn__primary'
    - else
      = f.submit 'Modifier le créneau', class: 'btn btn__primary'
