= simple_form_for [:pro, @course, @planning] do |f|
  = f.error_notification
  .input
    %label.required.control-label Jour
    - days = t('date.day_names').collect{|day| [day.capitalize, t('date.day_names').index(day)] }.rotate
    = f.input :week_day, as: :select, collection: days, label: false
  .input
    = f.input :start_time, as: :time, minute_step: 15, label: 'Horaire', default: {year: 2000, month: 1, day: 1, hour: 8, min: 00}
    %label &nbsp;-&nbsp;
    = f.input :end_time, as: :time, minute_step: 15, min_hour: 7, label: false, default: {year: 2000, month: 1, day: 1, hour: 9, min: 00}
  .input#add-teacher-wrapper
    = f.association :teacher, as: :select, collection: @structure.teachers, selected: (@planning.teacher || (@plannings.first.try(:teacher))), label: 'Professeur', include_blank: true
    = link_to '#', id: 'add-teacher' do
      &nbsp
      %i.icon-user
      Ajouter un professeur
  .hidden#new-teacher-wrapper.push--top
    = f.input :teacher, label: 'Nom du professeur', input_html: {value: ''}
  .input
    = f.input :info, as: :string, placeholder: '(optionnel) Plat : gâteau au chocolat'
  .text--center.input
    - if @planning.new_record?
      = f.submit 'Ajouter le créneau', class: 'btn btn__success'
    - else
      = f.submit 'Modifier le créneau', class: 'btn btn__success'
