- minutes = (2..32).collect{ |i| time = i*15; ["#{(time/60).floor}h#{(time%60 == 0 ? '00' : time%60)}",time] }
= simple_form_for [:pro, @course, @planning] do |f|
  = f.error_notification
  .input.flush--bottom
    = f.label :place
    = f.input :place_id , as: :select, collection: @structure.places, label_method: lambda {|place| place.location.name}, include_blank: false, label: false
    = link_to new_pro_structure_place_path(@structure, from: request.fullpath) do
      &nbsp;
      %i.icon-map-marker
      Ajouter un lieu
  .input
    %label.required.control-label Jour
    - days = t('date.day_names').collect{|day| [day.capitalize, t('date.day_names').index(day)] }.rotate
    = f.input :week_day, as: :select, collection: days, label: false, include_blank: false
  .input.flush--bottom{data: {behavior: 'time-range', 'start-time-wrapper' => '#start-time-wrapper', 'end-time-wrapper' => '#end-time-wrapper'}}
    = f.label :start_time, class: 'control-label' do
      %i.icon-time
      Horaire
    = f.input :start_time, as: :time, minute_step: 15, default: {year: 2000, month: 1, day: 1, hour: 8, min: 00}, wrapper_html: {id: 'start-time-wrapper'}, label: false
    %span &nbsp;-&nbsp;
    = f.input :end_time, as: :time, minute_step: 15, min_hour: 7, label: false, default: {year: 2000, month: 1, day: 1, hour: 9, min: 00}, wrapper_html: {id: 'end-time-wrapper'}
    %span.v-middle durée du cours :
    = f.input :duration, as: :select, collection: minutes, label: false

  - if @course.is_individual
    %p.field-form-info.blue Attention : 1 créneau = 1 séance de cours (si vous donnez des cours particuliers d'1h tous les lundis de 15h à 19h, entrez 4 créneaux : 15h-16h, 16h-17h,…).

  .input#add-teacher-wrapper
    = f.label :teacher, class: 'control-label' do
      %i.icon-user
      Professeur
    = f.association :teacher, as: :select, collection: @teachers, label: false, include_blank: true
    = link_to 'javascript:void(0)', id: 'add-teacher' do
      &nbsp
      %i.icon-user
      Ajouter un professeur
  .input.hidden#new-teacher-wrapper
    = f.label :teacher, class: 'control-label' do
      %i.icon-user
      Professeur
    = f.input :teacher, label: 'Nom du professeur', input_html: {value: ''}, label: false

  = f.input :level_ids, as: :check_boxes, collection: Level.all, label_method: lambda {|level| t(level.name)}, label: t('planning.levels'), wrapper_html: {data: {behavior: 'checkbox-list'}}

  = f.input :audience_ids, as: :check_boxes, collection: Audience.all, label_method: lambda {|audience| t(audience.name)}, label: t('planning.audiences')

  .input#children-ages{class: f.object.audiences.include?(Audience::KID) ? '' : 'hidden'}
    %label.control-label.v-middle Âge pour les enfants (optionnel)
    %span.v-middle de
    = f.input :min_age_for_kid, label: false, input_html: {style: 'width: 5em;', value: 0}, wrapper_html: {class: 'flush v-middle'}
    %span.v-middle à
    = f.input :max_age_for_kid, label: false, input_html: {style: 'width: 5em;', value: 18}, wrapper_html: {class: 'flush v-middle'}
    %span.v-middle ans

  .input
    = f.label :info, class: 'control-label' do
      %i.lbc-icon-info i
      Information (optionnel)
    = f.input :info, as: :string, placeholder: 'Exemple : Nous préparerons un gâteau au chocolat', label: false
  .text--center.input
    - if @planning.new_record?
      = f.submit 'Ajouter le créneau', class: 'btn btn--success'
    - else
      = f.submit 'Modifier le créneau', class: 'btn btn--success'
