- minutes = (2..32).collect{ |i| time = i*15; ["#{(time/60).floor}h#{(time%60 == 0 ? '00' : time%60)}",time] }
= simple_form_for [:pro, @course, @planning] do |f|
  = f.error_notification
  .input.flush--bottom
    = f.label :place
    = f.input :place_id , as: :select, collection: @structure.places, label_method: lambda {|place| place.location.name}, include_blank: false, label: false
    = link_to new_pro_structure_place_path(@structure, from: request.fullpath) do
      &nbsp;
      %i.icon-map-marker
      Ajouter un lieu
  .input{data: {behavior: 'date-range', 'start-date '=> '#start-date', 'end-date '=> '#end-date' }}
    %label.required.control-label Dates
    %input#start-date.datepicker-input{type: 'text', value: (@planning.start_date.nil? ? '' : l(@planning.start_date)), placeholder: '02/08/2013', name: 'planning[start_date]'}
    %label -
    %input#end-date.datepicker-input{type: 'text', value: (@planning.end_date.nil? ? '' : l(@planning.end_date)), placeholder: '04/08/2013', name: 'planning[end_date]'}
    - if f.object.errors.include? :end_date
      .alert.alert-error.flush= f.object.errors.messages[:end_date].to_sentence
    - if f.object.errors.include? :start_date
      .alert.alert-error.flush= f.object.errors.messages[:start_date].to_sentence
  .input.flush--bottom{data: {behavior: 'time-range', 'start-time-wrapper' => '#start-time-wrapper', 'end-time-wrapper' => '#end-time-wrapper'}}
    = f.label :start_time, class: 'control-label' do
      %i.icon-time
      Horaire
    = f.input :start_time, as: :time, minute_step: 15, label: false, default: {year: 2000, month: 1, day: 1, hour: 8, min: 00}, wrapper_html: {id: 'start-time-wrapper'}
    %label &nbsp;-&nbsp;
    = f.input :end_time, as: :time, minute_step: 15, label: false, default: {year: 2000, month: 1, day: 1, hour: 9, min: 00}, wrapper_html: {id: 'end-time-wrapper'}

  - if @course.is_individual
    %p.field-form-info.blue Attention : 1 créneau = 1 séance de cours (si vous donnez des cours particuliers d'1h tous les lundis de 15h à 19h, entrez 4 créneaux : 15h-16h, 16h-17h,…).

  .input#add-teacher-wrapper
    = f.label :teacher, class: 'control-label' do
      %i.icon-user
      Professeur
    = f.association :teacher, as: :select, collection: @teachers, include_blank: true, label: false
    = link_to 'javascript:void(0)', id: 'add-teacher' do
      &nbsp
      %i.icon-user
      Ajouter un professeur
  .input.hidden#new-teacher-wrapper
    = f.label :teacher
    = f.input :teacher, label: false, input_html: {value: ''}

  = f.input :level_ids, as: :check_boxes, collection: Level.all, label_method: lambda {|level| t(level.name)}, label: t('planning.levels')

  = f.input :audience_ids, as: :check_boxes, collection: Audience.all, label_method: lambda {|audience| t(audience.name)}, label: t('planning.audiences')

  .input#children-ages{class: f.object.audiences.include?(Audience::KID) ? '' : 'hidden'}
    %label.control-label.v-middle Âge
    %span.v-middle de
    = f.input :min_age_for_kid, label: false, input_html: {style: 'width: 5em;'}, wrapper_html: {class: 'flush v-middle'}
    %span.v-middle à
    = f.input :max_age_for_kid, label: false, input_html: {style: 'width: 5em;'}, wrapper_html: {class: 'flush v-middle'}
    %span.v-middle ans

  .input
    = f.label :info, class: 'control-label' do
      %i.lbc-icon-info i
      Information
    = f.input :info, as: :string, placeholder: '(optionnel) Plat : gâteau au chocolat', label: false, input_html: {class: 'one-whole'}
  .text--center.input
    - if @planning.new_record?
      = f.submit 'Ajouter le créneau', class: 'btn btn--success'
    - else
      = f.submit 'Modifier le créneau', class: 'btn btn--success'

