%table.table--striped.table--data
  %thead
    %tr
      %th Dates
      %th.text--center Créneau horaire
      %th.text--center Durée
      %th Places disponible
      %th Professeur
      %th.text--center
        %i.lbc-icon-info i
      %th
  %tbody
    - @plannings.each do |planning|
      %tr
        %td= training_dates planning
        %td.text--center= readable_time_slot planning.day_one_start_time, planning.end_time
        %td.text--center= "#{pluralize(planning.length, 'jour')}"
        %td.text--center= planning.nb_place_available
        %td.text--center
          - if planning.info.present?
            .lbc-brand-icon{data: {behavior: 'popover', content: planning.info}}
        %td= planning.teacher.try(:name)
        %td
          = link_to edit_course_planning_path(@course, planning), title: 'Éditer', class: 'btn btn__warning' do
            %i.icon-edit
          &nbsp;
          = link_to course_planning_path(@course, planning), method: 'delete', confirm: 'Êtes-vous bien sûr de supprimer ce planning ?', title: 'Supprimer', class: 'btn btn__danger' do
            %i.icon-trash
