%table.table--striped.table--data#dataTable
  %thead
    %tr
      %th.text--center Dates
      %th.text--center Créneau horaire
      %th.text--center Durée
      %th.text--center Professeur
      %th.text--center Niveau
      %th.text--center Public
      %th.text--center
        %i.lbc-icon-info i
      %th
  %tbody
    - @plannings.each do |planning|
      %tr
        %td.text--center{data: {value: planning.start_date}}
          = training_dates planning
        %td.text--center{data: {value: planning.start_time}}
          = readable_time_slot planning.start_time, planning.end_time
        %td.text--center{data: {value: planning.length}}
          = "#{pluralize(planning.length, 'jour')}"
        %td.text--center{data: {value: planning.teacher.name}}
          = simple_form_for [:pro, @course, planning], remote: true do |f|
            = f.input :teacher_id, as: :select, collection: @teachers, label: false, input_html: {class: 'teacher-select'}, wrapper_html: {class: 'flush'}
        %td.text--center= join_levels_text planning
        %td.text--center= join_audiences_text planning
        %td.text--center
          - if planning.info.present?
            .lbc-brand-icon{data: {behavior: 'popover', content: planning.info}}
        %td.text--right
          = link_to edit_pro_course_planning_path(@course, planning), title: 'Modifier le créneau', class: 'btn btn__warning' do
            %i.icon-pencil
          &nbsp;
          = link_to pro_course_planning_path(@course, planning), method: 'delete', confirm: 'Êtes-vous bien sûr de supprimer ce planning ?', title: 'Supprimer le créneau', class: 'btn btn__danger' do
            %i.icon-trash

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        $$('.teacher-select').each(function(teacher_select){
            teacher_select.addEvent('change', function() {
                teacher_form = this.getParent('form')
                teacher_form.send();
            })
        });
        new TableSorter('dataTable', { columnDataTypes: 'date, datetime, integer, string, string, string', cookieName: 'tableSortState__planning_#{@course.slug}', dateParseFunction: GLOBAL.DataTable.dateParseFunction });
    });
