- if @plannings.any?
  - @plannings.group_by(&:place).each do |place, plannings|
    %h5= place.location.name
    %table.table--striped.table--data#dataTable
      %thead
        %tr
          %th Dates
          %th.text--center Créneau horaire
          %th.text--center Durée
          %th.text--center Professeur
          %th.text--center Niveau
          %th.text--center Public
          %th.text--center Lieu
          %th.text--center
            %i.lbc-icon-info i
          %th
      %tbody
        - plannings.each do |planning|
          = render partial: 'pro/plannings/training_list_item', locals: { planning: planning }

- if @past_plannings.any?
  = link_to 'Afficher le planning passé', 'javascript:void(0)', id: 'show-past-planning'
  .hidden#past-planning
    %h5 Planning passé
    %table.table--striped.table--data#dataTable
      %thead
        %tr
          %th Dates
          %th.text--center Créneau horaire
          %th.text--center Durée
          %th.text--center Professeur
          %th.text--center Niveau
          %th.text--center Public
          %th.text--center
            %i.lbc-icon-info i
          %th
      %tbody
        - @past_plannings.each do |planning|
          = render partial: 'pro/plannings/training_list_item', locals: { planning: planning }

= content_for :scripts do
  :javascript
    $(function() {
        $('#dataTable').tablesorter();
    });
