= simple_form_for [:pro, @course, @planning] do |f|
  = f.error_notification
  .input.inline-inputs
    %label.required.control-label Le
    %input.datepicker-input{type: 'text', value: (@planning.start_date.nil? ? '' : l(@planning.start_date)), placeholder: '02/08/2013', name: 'planning[start_date]', data: {behavior: 'datepicker'}}
    %label.required.control-label à
    = f.input :start_time, as: :time, minute_step: 15, label: false, default: {year: 2000, month: 1, day: 1}
    %label.required.control-label pendant
    = f.input :duration, as: :time, minute_step: 15, label: false, default: {year: 2000, month: 1, day: 1, hour: 1}
    = f.association :teacher, as: :select, collection: @structure.teachers, selected: (@plannings.first.try(:teacher) || @structure.teachers.first), label: 'par'
    = f.input :info, as: :string, placeholder: '(optionnel) Plat : gâteau au chocolat'
    - if @planning.new_record?
      = f.submit 'Ajouter le créneau', class: 'btn btn__success'
    - else
      = f.submit 'Modifier le créneau', class: 'btn btn__success'
