= side_menu_currently_at 'Mes cours'

%h2.header-group.flush--bottom Planning - #{@course.name}
%p
  = link_to pro_structure_path(@structure) do
    %i.icon-double-angle-left
    Retour aux cours
  &nbsp;|&nbsp;
  = link_to edit_pro_course_path(@course) do
    %i.lbc-icon-info i
    Info
  &nbsp;|&nbsp;
  = link_to pro_course_prices_path(@course) do
    € Tarif
  &nbsp;|&nbsp;
  = link_to '#' do
    %b
      %i.icon-calendar
      Planning

%h4.flush--bottom Rajouter un créneau
= render "#{@course.underscore_name}_form"

%hr

= render "#{@course.underscore_name}_list"
