= side_menu_currently_at 'Mes cours'
%ol.breadcrumb.bordered--bottom.soft-half--bottom.nav.delta{itemprop: 'breadcrumb'}
  %li= link_to 'Tous mes cours', pro_structure_courses_path(@structure)
  %li= @course.name

.btn-group.push-half--bottom>
  .btn>
    = link_to edit_pro_course_path(@course) do
      %i.lbc-icon-info i
      Info
  .btn>
    = link_to pro_course_prices_path(@course) do
      € Tarif
  .btn.btn--active>
    = link_to pro_course_plannings_path(@course) do
      %i.icon-calendar
      Planning

%h3 Planning du cours
- if @plannings.any? and !@course.is_lesson?
  %h5 Séances à venir
= render "#{@course.underscore_name}_list"
%hr

%h5.form-header-group.flush--bottom
  Rajouter un créneau
.form-white-box
  = render "#{@course.underscore_name}_form"

= content_for :scripts do
  :javascript
    $(function() {
        $(document.body).on('click', '.add-teacher', function(event) {
            $('.add-teacher-wrapper').hide();
            $('.new-teacher-wrapper').show();
        });
        if ($('#show-past-planning')) {
            $('#show-past-planning').click(function() {
                $(this).remove();
                $('#past-planning').removeClass('hidden');
            });
        }
        if ($('.teacher-select').length > 0) {
            $('.teacher-select').each(function(index, teacher_select){
                $(this).change(function() {
                    teacher_form = $(this).parents('form')
                    teacher_form.submit();
                    GLOBAL.flash('Le professeur a bien été changé.')
                })
            });
        }
        if ($('.place-select').length > 0) {
            $('.place-select').each(function(index, place_select){
                $(this).change(function() {
                    planning_form = $(this).parents('form')
                    planning_form.submit();
                    GLOBAL.flash('Le lieu a bien été changé.')
                })
            });
        }
        if ($('[name="planning[audience_ids][]"]').length > 0) {
            $('[name="planning[audience_ids][]"]').change(function(event) {
                if (event.target.value == '1') {
                    if (event.target.checked) {
                        $('#children-ages').removeClass('hidden');
                    } else {
                        $('#children-ages').addClass('hidden');
                    }
                }
            });
        }
    });

- # If a planning has just been duplicated, highlights it
- if session[:duplicate] == true
  = content_for :scripts do
    :javascript
      $(function() {
          var duplicate_planning = $('[data-id=#{session[:duplicated_planning_id]}]');
          setTimeout(function() {
              $(window.document).scrollTo(duplicate_planning, {offset: -125, duration: 400});
              setTimeout(function() {
                  duplicate_planning.animate({'background-color': '#FFD977'}, {duration: 400}).animate({'background-color': 'transparant'}, {duration: 400});
                  duplicate_planning.css('font-weight', 'bold');
              }, 400);
          }, 200);
      });
  - # Delete the session in order that the planning doesn't highlight again.
  - session.delete :duplicate
  - session.delete :duplicated_planning_id
