= side_menu_currently_at 'Mes cours'
%ol.nav.breadcrumb.alpha.header-group.header-group
  %li= link_to 'Tous mes cours', pro_structure_path(@structure)
  %li= link_to @course.name, edit_pro_course_path(@course)
  %li Planning

%p
  = link_to edit_pro_course_path(@course) do
    %i.lbc-icon-info i
    Info
  &nbsp;|&nbsp;
  = link_to pro_course_prices_path(@course) do
    € Tarif
  &nbsp;|&nbsp;
  %b
    %i.icon-calendar
    Planning

%h3.flush Planning du cours
= render "#{@course.underscore_name}_list"
%hr

%h5.form-header-group.flush--bottom
  - if action_name == 'edit'
    %i.icon-pencil
    Édition d'un créneau
  - else
    Rajouter un créneau
.form-white-box
  = render "#{@course.underscore_name}_form"

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        $('add-teacher').addEvent('click', function(event) {
            $('add-teacher-wrapper').dispose()
            $('new-teacher-wrapper').show();
        });
    });
