<div class='text--center'>
  <div class="rslides-wrapper">
    <a class='pointer rslides_nav rslides1_nav prev' data-slide-prev>
      <i class='fa-2x soft-black-text-shadow fa-chevron-left'></i>
    </a>

    <img src="{{ media_url }}" data-id="{{ media_id }}" width="280" height="210">

   <a class='pointer rslides_nav rslides1_nav next' data-slide-next>
      <i class='fa-2x soft-black-text-shadow fa-chevron-right'></i>
    </a>
  </div>

</div>
<div class='p text--center'>

  <div>
    <a class='pointer' data-subj-prev>
      <i class='fa-chevron-left v-middle gray-light'></i>
    </a>

    <span data-subject-id="{{ subject_id }}">
      <input type='text' value="{{ subject_name }}" data-subject-custom="{{ subject_id }}" class="very-soft" style="width: 230px"></input>
    </span>

    <a class='pointer' data-subj-next>
      <i class='fa-chevron-right v-middle gray-light'></i>
    </a>
  </div>

  <div>
    {{ reviews.length }} avis —
    <br>
    <a class='pointer' data-review-prev>
      <i class='fa-chevron-left v-middle gray-light'></i>
    </a>
    <span data-review-id="{{ review_id }}">
      <input type='text' value="{{ review_text }}" data-review-custom="{{ review_id }}" class="very-soft" style="width: 230px"></input>
    </span>

    <a class='pointer' data-review-next>
      <i class='fa-chevron-right v-middle gray-light'></i>
    </a>
  </div>

  <br>

  <div>
    <input type='text' value="{{ city_text }}" data-city-custom="{{ id }}" class="very-soft" style="width: 230px"></input>
  </div>
</div>
