<div class='text--center'>
  <div>
    <a class='pointer' data-slide-prev>
      <i class='delta fa-chevron-left v-middle gray-light'></i>
    </a>

    <img src="{{ media_url }}" data-id="{{ media_id }}" width="300" height="220">

    <a class='pointer' data-slide-next>
      <i class='delta fa-chevron-right v-middle gray-light'></i>
    </a>
  </div>

  <div>
    <a class='pointer' data-subj-prev>
      <i class='delta fa-chevron-left v-middle gray-light'></i>
    </a>

    <span data-subject-id="{{ subject_id }}"> {{ subject_name }}</span>

    <a class='pointer' data-subj-next>
      <i class='delta fa-chevron-right v-middle gray-light'></i>
    </a>
  </div>

</div>
<div class='p'>
  <strong>{{ structure.metadata_1 }}</strong>
  <br>
  {{ structure.metadata_2 }}
  <br>
  {{ structure.metadata_3 }}
</div>
