= side_menu_currently_at 'invitations'

= render partial: 'pro/shared/invitation_tabs', locals: { current: 'comment_notifications' }

%h1 Invitations d'élèves
.text--center.push-half--ends= paginate @comment_notifications, window: 1, outer_window: 3
%table.table--striped.table--data#comment-notification-table
  %thead
    %tr
      %th Email
      %th Établissement
      %th Date
      %th.text--center A laissé une recommandation
  %tbody
    - @comment_notifications.each do |comment_notification|
      - cache [comment_notification, 'admin/comment_notifications/index'] do
        %tr
          %td= comment_notification.user.email
          %td= link_to comment_notification.structure.name, dashboard_pro_structure_path(comment_notification.structure)
          %td= l(comment_notification.created_at)
          %td.text--center{data: {value: comment_notification.complete? ? '0' : '1'}}
            - if comment_notification.complete?
              %i.fa-check

.text--center.push-half--ends= paginate @comment_notifications, window: 1, outer_window: 3

