= side_menu_currently_at 'newsletters'

%h1 Newsletter Etape 1/3 : Création
= render partial: 'newsletter_edit_tabs', locals: { current: 'editing' }
#newsletter{ data: { type: 'newsletters-root' } }

- content_for :scripts do
  = filepicker_js_include_tag

  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          structure: "#{ @structure.slug }",
          models: {
              layouts:  #{ @layouts.to_json },
              newsletter: #{ @newsletter.nil? ? {}.to_json : @newsletter.to_json }
          }
      };
