= side_menu_currently_at 'newsletters'

#newsletter{ data: { type: 'newsletters-root' } }

- content_for :scripts do
  = filepicker_js_include_tag

  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          structure: "#{ @structure.slug }",
          layout: "#{ @layout_id.nil? ? 1 : @layout_id }",
          models: {
              layouts:  #{ @layouts_json.to_json },
              newsletter: #{ @newsletter.nil? ? {}.to_json : NewsletterSerializer.new(@newsletter).to_json },
              mailingLists: #{ ActiveModel::ArraySerializer.new(@mailing_lists, each_serializer: NewsletterMailingListSerializer).to_json },
              structure: #{ { name: @structure.name, url: structure_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN) }.to_json }
          }
      };
