= side_menu_currently_at 'messages'

#newsletter{ data: { type: 'newsletters-root' } }

- content_for :scripts do
  = filepicker_js_include_tag
  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          structure: "#{ @structure.slug }",
          layout: "#{ @newsletter and @newsletter.layout ?  @newsletter.layout.id : '' }",
          images: #{ ActiveModel::ArraySerializer.new(@structure.medias.images, each_serializer: MediaSerializer).to_json },
          models: {
              layouts:  #{ @layouts_json.to_json },
              newsletter: #{ @newsletter.nil? ? {}.to_json : NewsletterSerializer.new(@newsletter).to_json },
              mailingLists: #{ ActiveModel::ArraySerializer.new(@mailing_lists, each_serializer: NewsletterMailingListSerializer).to_json },
              structure: #{ { name: @structure.name, url: (@structure.website || structure_url(@structure, subdomain: 'www')) }.to_json }
          }
      };

- if params[:with_courses].present?
  = react_component('EmailPlanning', { structure_id: @structure.id, courses: [CourseSerializer.new(@structure.courses.lessons.first)] }, { prerender: false })
