- @newsletters.each do |newsletter|
  - newsletter_decorator = newsletter.decorate
  .flexbox.push-half--bottom.hoverable.transition-all-300.soft
    = link_to newsletter_decorator.url, class: 'flexbox__item v-middle muted-link' do
      %h4.push-half--bottom
        = newsletter.title
        = newsletter_decorator.badge
      .line-height-1-5
        Statut :
        %strong= newsletter.status

    .flexbox__item.v-middle.text--right.nowrap
      - if newsletter.sent? or newsletter.sending?
        = succeed ' ' do
          = link_to metrics_pro_structure_newsletter_path(@structure, newsletter), class: 'btn' do
            Statistiques
            %i.fa.fa-bar-chart
      - else
        = succeed ' ' do
          = link_to edit_pro_structure_newsletter_path(@structure, newsletter), class: 'btn' do
            Modifier
            %i.fa.fa-pencil
      .drop-down__wrapper.inline-block.v-middle
        .btn
          %i.fa-chevron-down
        .drop-down__el.drop-down__el--left
          %ul.drop-down__el-inner-box.text--left
            %li.nowrap
              = link_to preview_newsletter_pro_structure_newsletter_path(@structure, newsletter), class: 'fancybox.ajax', data: { behavior: 'modal', width: '700', padding: 0 } do
                %i.fa.fa-eye.soft-half--right
                - if newsletter.sent? or newsletter.sending?
                  Aperçu
                - else
                  Prévisualiser
            %li.nowrap
              = link_to duplicate_pro_structure_newsletter_path(@structure, newsletter) do
                %i.fa.fa-files-o.soft-half--right
                Dupliquer
            %li.nowrap
              = link_to pro_structure_newsletter_path(@structure, newsletter), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette newsletter ?' } do
                %i.fa-trash-o.soft-half--right
                Supprimer
    %hr
