%h1
  Newsletters
  = link_to new_pro_structure_newsletter_path(@structure), class: 'btn btn--green' do
    %i.fa.fa-plus
    Envoyer une newsletter

%div
  %h2
    Newsletters précédentes

.soft--sides
  - @newsletters.each do |newsletter|
    .grid.push--bottom.palm-flush
      .grid__item.soft-half--sides.palm-hard.two-thirds.palm-one-whole.push--bottom>
        = link_to pro_structure_newsletter_path(@structure, newsletter) do
          %h4.blue= newsletter.title
        Liste de diffusion :
        %strong= newsletter.mailing_list
        %br
        Status :
        %strong= newsletter.status

      .grid__item.soft-half--sides.palm-hard.one-third.palm-one-whole
        = link_to pro_structure_newsletter_path(@structure, newsletter), class: 'btn btn--bigger btn--green' do
          %i.fa.fa-eye
        = link_to edit_pro_structure_newsletter_path(@structure, newsletter), class: 'btn btn--bigger btn--green' do
          %i.fa.fa-pencil
        = link_to duplicate_pro_structure_newsletter_path(@structure, newsletter), class: 'btn btn--bigger btn--green' do
          %i.fa.fa-files-o
        = link_to pro_structure_newsletter_path(@structure, newsletter), class: 'btn btn--bigger btn--red', method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette newsletter ?' } do
          %i.fa.fa-trash-o
      %hr
