= side_menu_currently_at 'newsletters'
= render partial: 'pro/structures/newsletter_edit_tabs', locals: { current: 'design' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h3.flush Choix du modéle

.grid.push--bottom.palm-flush
  - @layouts.each do |layout|
    .grid__item.soft-half--sides.palm-hard.one-third.palm-one-whole>
      = link_to new_pro_structure_newsletter_path(@structure, layout_id: layout.id) do
        = image_tag "pro/newsletters/layouts/layout_#{layout.id}.png", data: { src2x: asset_path("pro/newsletters/layouts/layout_#{layout.id}@2x.png") }
        %h4{ class: layout["id"] == @layout_id ? 'active' : '' }
          = layout["name"]

