= side_menu_currently_at 'newsletters'

= render partial: 'pro/structures/newsletters/tabs', locals: { current: 'newsletter' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Newsletters
  .flexbox__item.v-middle.text--right
    - if @newsletters.any?
      = link_to new_pro_structure_newsletter_path(@structure), class: 'btn btn--green' do
        %i.fa.fa-plus
        Créer une newsletter

- if @newsletters.any?
  = render 'newsletter_list'
- else
  = render 'newsletter_empty'
