= side_menu_currently_at 'newsletters'
= render partial: 'pro/structures/newsletter_edit_tabs', locals: { current: 'editing' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    #newsletter{ data: { type: 'newsletters-root' } }

- content_for :scripts do
  = filepicker_js_include_tag
  = javascript_include_tag '//cdn.ckeditor.com/4.4.4/standard/ckeditor.js'

  :javascript
      window.coursavenue = window.coursavenue || {};
      window.coursavenue.bootstrap = {
          structure: "#{ @structure.slug }",
          models: {
              layouts:  #{ @layouts.to_json },
              newsletter: #{ @newsletter.nil? ? {}.to_json : @newsletter.to_json }
          }
      };
