%h1.soft--top.text--center= @structure.name
%hr.push--ends

= render 'shared/include_addthisevent'
- structure_decorator = @structure.decorate

.main-container.main-container--medium.soft--top
  .panel.push--bottom
    .panel__body.soft--top
      %h1.text--center.soft--sides Votre demande d'inscription
      = render partial: 'structures/participation_requests/table_recap', locals: { participation_request: @participation_request }
      %hr
      %h2.soft--sides Conversation avec le professeur
      .soft
        .grid--full.push-half--bottom.message
          .grid__item.two-twelfths.v-top.v-top.visuallyhidden--palm>
            = image_tag @user.avatar_url(:thumb), class: 'message__avatar block center-block bordered rounded--circle'
            .text--center
              %strong= @user.name
          .grid__item.ten-twelfths.message__body.message__appendix.soft-half.gray-box.palm-one-whole>
            = simple_form_for [@participation_request, @participation_request.conversation], url: structure_website_structure_participation_request_conversation_path(@participation_request.structure, @participation_request, @participation_request.conversation), as: :conversation do |f|
              %input{ name: 'return_to', value: request.path, type: 'hidden' }
              = f.error_notification
              = f.fields_for :message, @message do |message_form|
                = message_form.input :body, input_html: { placeholder: 'Ajouter un message personnel ici', style: 'height: 100px', value: cookies["conversation_#{params[:id]}_message"], class: 'input--large one-whole', id: 'conversation_message', data: {behavior: 'autoresize'} }, as: :text, label: false, wrapper_html: { class: 'flush--top' }
              = f.submit 'Répondre', class: 'btn btn--green palm-one-whole', data: { disable_with: "Message en cours d'envoi" }


        = render partial: 'messages/message', collection: @participation_request.conversation.messages.order('created_at DESC').reject(&:new_record?)

