<article class="push-half--bottom">
    {{#if title }}
      <h6 class="quoted flush--bottom inline-block" content="Dans la joie et la bonne humeur" itemprop="headline">{{ title }}</h6>
    {{/if}}
    {{#if course_name }}
      —<span class="v-middle">{{ course_name }}</span>
    {{/if}}
    <div class="read-more read-more" data-behavior="read-more" data-height="48" itemprop="reviewBody">
      {{{ content }}}
    </div>
    <p class="text--right flush">
      <i class="semi-muted" content="2013-10-14" itemprop="datePublished">Par {{author_name}} il y a {{ distance_of_time }}</i>
    </p>
</article>
<hr></hr>
