<article data-url="{{ comment_url }}" class="structure-item__button soft-half">
    {{#if title }}
        <h6 class="brand flush--bottom" content="Dans la joie et la bonne humeur" itemprop="headline">{{ title }}</h6>
        <div class="gray" itemprop="reviewBody">
          <span class="quoted">{{{ content }}}</span>
          {{!-- <a href="{{ comment_url }}" class="text--center">Lire la suite</a> --}}
        </div>
    {{else}}
        <div class="gray" itemprop="reviewBody">
          <span class="quoted">{{{ content }}}</span>
          {{!-- <a href="{{ comment_url }}" class="text--center">Lire la suite</a> --}}
        </div>
    {{/if}}
    <p class="text--right flush gray">
      <i class="semi-muted" content="{{localizeDate created_at null}}" itemprop="datePublished">Par {{author_name}} il y a {{ distance_of_time }}</i>
    </p>
</article>
