<thead>
    <tr class="brand epsilon">
        <td>{{ name }}</td>
        <td>{{ start_date }} à {{ end_date }}</td>
        <td>{{ type }} de</td>
        <td>{{ price_range }}</td>
    </tr>
<tbody>
    {{#each plannings }}
    <tr>
        <td>{{ week_day }}</td>
        <td>{{ time_slot }}</td>
        <td>{{ duration }}</td>
        <td>{{ levels }}</td>
    </tr>
    {{/each}}
</tbody>
