<thead>
    <tr>
        <td colspan="3" class="text--left">
            <div>
                <a href="{{data_url}}" title="{{ name }}" class="bold zeta">{{ name }}</a>
            </div>
            <div class="gray" style="font-size: 12px;">
                {{{subjects}}}
            </div>
        </td>
        <td colspan="3" class="text--right">
        {{#if min_price_amount}}
            à partir de {{ min_price_amount }}€ ({{ min_price_libelle }})
        {{/if}}
        </td>
    </tr>
<tbody>
    {{#unless plannings }}
    <tr>
        <td colspan="5" class="italic text--left">
            Le planning de ce cours n'a pas été mis à jour.
        </td>
    </tr>
    {{/unless}}
    {{#each plannings }}
    <tr>
        <td class="two-twelfths">{{ week_day }}</td>
        <td class="three-twelfths">{{ time_slot }}</td>
        <td class="one-twelfth">{{ duration }}</td>
        <td class="two-twelfths">{{ audiences }}</td>
        <td class="three-twelfths">{{ levels }}</td>
        <td class="one-twelfths text--right">
            {{#if is_individual}}
                <i data-behavior="tooltip" title="Cours individuel" data-placement="left" class="pointer fa fa-user"></i>
            {{else}}
                <i data-behavior="tooltip" title="Cours collectif" data-placement="left" class="pointer fa fa-group"></i>
            {{/if}}
            {{#if teaches_at_home}}
                <i data-behavior="tooltip" title="Cours à domicile" data-placement="left" class="pointer fa fa-home"></i>
            {{/if}}
        </td>
    </tr>
    {{/each}}
</tbody>
