<div data-type="closer" class="infobox__close">
    <i class="fa fa-times"></i>
</div>
{{#if logo_present}}
<div class="relative">
    <a href="{{ data_url }}" class="block">
        <img src="{{ logo_thumb_url }}" class="block one-whole" alt="{{ parent_subjects_text }} à {{ name }}" title="{{ parent_subjects_text }} à {{ name }}">
    </a>
    {{#if has_free_trial_course}}
        <div class="free-trial-badge"></div>
    {{/if}}
    {{#if has_promotion}}
        <div class="promotion-badge"></div>
    {{/if}}
</div>
{{/if}}
<div>
    <a href="{{ data_url }}" class="infobox__title soft-half--sides very-soft">{{ name }}</a>
</div>
{{!-- <div>
    {{#if audience}}
        <div>
            <span class="milli">{{audience}}</span>
        </div>
    {{/if}}
    <div>
    {{#if gives_individual_courses}}
        <span title="Cours particulier" data-behavior="tooltip" class="pointer">
            <i class="fa fa-user"></i>
        </span>
    {{/if}}
    {{#if gives_group_courses}}
        <span title="Cours collectif" data-behavior="tooltip" class="pointer">
            <i class="fa fa-group"></i>
        </span>
    {{/if}}
    {{#if teaches_at_home}}
        <span title="Cours à domicile {{#if teaches_at_home_radius}}(dans un rayon de {{teaches_at_home_radius}}km){{/if}}" data-behavior="tooltip" class="pointer">
            <i class="fa fa-home"></i>
        </span>
    {{/if}}
    </div>
    {{#if funding_types}}
        <div>
            <span class="pointer lbl lbl--small" data-behavior="tooltip" title="{{funding_types}}">Financements spécifiques acceptés</span>
        </div>
    {{/if}}
</div>

{{#if has_price_range}}
    de
    <span class="pointer" data-behavior="tooltip" title="{{ min_price_libelle }}">{{ min_price_amount }}€</span>
    à
    <span class="pointer" data-behavior="tooltip" title="{{ max_price_libelle }}">{{ max_price_amount }}€</span>
{{else}}
    {{#if min_price_amount}}
        à partir de
        <span class="pointer" data-behavior="tooltip" title="{{ min_price_libelle }}">{{ min_price_amount }}€</span>
    {{/if}}
{{/if}}
{{ comments_count }}
 --}}
