<p class="flush--bottom">
{{#if total }}
    Résultat : {{ first }}&nbsp;-&nbsp;{{ last }} sur <b>{{ total }}</b> établissements
{{else}}
    <p class="brand alpha">Désolé, il n'y a aucun résultat...</p>
{{/if}}
</p>
<div class="spoken-form">
{{#if total }}
    <label>Trier par :</label>
    <a onclick="_gaq.push(['_trackEvent', 'Trier établissement / popularité', 'click'])" href="{{ popularity_query }}" data-type="filter" data-value="rating_desc" class="{{#if sort_by_popularity}}bold{{/if}} filter-select">Popularité</a>
    /
    <a onclick="_gaq.push(['_trackEvent', 'Trier établissement / pertinence', 'click'])" href="{{ relevancy_query }}" data-type="filter" data-value="relevancy" class="{{#if sort_by_relevance}}bold{{/if}} filter-select">Pertinence</a>
{{/if}}
</div>
