<li data-url="{{ data_url }}" data-type="{{ data_type }}" data-location-ids="73" class="one-whole course-element">
  <div class="two-twelfths visuallyhidden--palm">
    <div class="course-image media__img">
      <a href="{{ data_url }}">
        <img src="/system/structures/logos/000/000/833/thumb/Portrait_Louna.jpg?1377622327" class="one-whole" alt="{{ name }}">
      </a>
    </div>
  </div>
  <article class="course-content eight-twelfths">
    <header>
      <div class="course-title">
        <h2 class="delta inline v-middle">
          <a href="{{ data_url }}">{{ name }}</a>
        </h2>
      </div>
    </header>
    <ul class="nav">
      <li>
        <span class="flush--bottom inherit-font-size">
          <a class="lbl milli inline subject-link" href="/disciplines/danse/etablissements">Danse</a>
        </span>
      </li>
    </ul>
  </article>
  <div class="course-content two-twelfths text--center v-middle">
    <div class="thin alpha brand">{{ comments_count }}</div>
    <div>
      avis
      <a href="#comments">
        <i class="lbc-brand-icon"></i>
      </a>
    </div>
    <div itemtype="http://data-vocabulary.org/review-aggregate" itemscope="" itemprop="aggregateRating">
      <span title="Note : 5 étoiles (Excellent !)" class="rating"></span>
      <meta property="v:rating" itemprop="rating" content="{{ rating }}">
      <meta itemprop="count" content="{{ comments_count }}">
      <meta itemprop="itemreviewed" content="{{ name }}">
      <meta itemprop="name" content="{{ name }}">
      <meta itemprop="street-address" content="{{ street }}">
      <meta itemprop="postal-code" content="{{ zip_code }}">
    </div>
  </div>
</li>
