<div class="flexbox white-box structure-item">
    <div class="flexbox__item one-eighth v-top">
        <div class="relative">
            {{#if logo_present}}
                <a href="{{ data_url }}" class="block">
                    <img src="{{ logo_thumb_url }}" class="block one-whole" alt="Cours de {{ parent_subjects_text }} à {{ name }}">
                </a>
            {{/if}}
            {{#if has_free_trial_course}}
                <div class="free-trial-badge"></div>
            {{/if}}
            {{#if has_promotion}}
                <div class="promotion-badge"></div>
            {{/if}}
        </div>
    </div><!--
 --><article class="flexbox__item four-tenths v-top soft-half hard--right">
        <h2 class="epsilon inline v-top">
            <a href="{{ data_url }}">{{ name }}</a>
        </h2>
        <div>
            {{#if has_plannings}}
            <a href="javascript:void(0);" class="flexbox__item blue" data-type="accordion-control" data-value="courses_collection" data-attributes="data_url">
                <i class="fa fa-arrow-circle-down"></i>

                {{#if search_term }}
                    Voir les séances correspondantes à <strong>"{{ search_term }}"</strong>
                {{else}}
                    Voir {{ plannings_count }} {{ pluralize plannings_count 'séance' 'séances' }}
                {{/if}}
                {{#if has_price_range }}
                    entre
                    <span class="pointer" data-behavior="tooltip" title="{{ min_price_libelle }}">{{ min_price_amount }}€</span>
                    à
                    <span class="pointer" data-behavior="tooltip" title="{{ max_price_libelle }}">{{ max_price_amount }}€</span>
                {{else}}
                    à partir de
                    <span class="pointer" data-behavior="tooltip" title="{{ min_price_libelle }}">{{ min_price_amount }}€</span>
                {{/if}}

            </a>
            {{/if}}
        </div>
        {{#if audience}}
            <div>
                <span class="milli">{{audience}}</span>
            </div>
        {{/if}}
        <div>
        {{#if gives_individual_courses}}
            <span title="Cours particulier" data-behavior="tooltip" class="pointer">
                <i class="fa fa-user"></i>
            </span>
        {{/if}}
        {{#if gives_group_courses}}
            <span title="Cours collectif" data-behavior="tooltip" class="pointer">
                <i class="fa fa-user"></i>
                <i class="fa fa-user" style="left: -6px; top: 2px; position: relative"></i>
            </span>
        {{/if}}
        {{#if teaches_at_home}}
            <span title="Cours à domicile {{#if teaches_at_home_radius}}(dans un rayon de {{teaches_at_home_radius}}km){{/if}}" data-behavior="tooltip" class="pointer">
                <i class="fa fa-home"></i>
            </span>
        {{/if}}
        {{#if structure_type}}
            |
            <span class="milli">{{structure_type}}</span>
        {{/if}}
        </div>
        {{#if funding_types}}
            <div>
                <span class="pointer lbl lbl--small" data-behavior="tooltip" title="{{funding_types}}">Financements spécifiques acceptés</span>
            </div>
        {{/if}}

    </article><!--
 --><div class="flexbox__item one-eighth v-middle text--center {{#if has_medias}}structure-item__button{{/if}}" {{#if has_medias}} data-type="accordion-control" data-value="medias_collection" data-attributes="data_url"{{/if}}>
        <div class="structure-item__button-wrapper">
            <div class="structure-item__button-triangle"></div>
            <div class="alpha thin brand">{{ medias_count }}</div>
            <span class="milli">
                {{ pluralize medias_count 'Photo / vidéo' 'Photos & vidéos' }}
            </span>
        </div>
    </div><!--
 --><div class="flexbox__item {{#if has_comments}}structure-item__button{{/if}} one-eighth v-middle text--center" {{#if has_comments}}data-type="accordion-control" data-value="comments_collection" data-attributes="data_url more_than_five_comments"{{/if}}>
        <div class="structure-item__button-wrapper">
            <div class="structure-item__button-triangle"></div>
            <div class="alpha thin brand">{{ comments_count }}</div>
            <span class="milli">avis <i class="lbc-brand-icon"></i></span>
            <div itemtype="http://data-vocabulary.org/review-aggregate" itemscope="" itemprop="aggregateRating">
                <span title="Note : 5 étoiles (Excellent !)" class="rating"></span>
                <meta property="v:rating" itemprop="rating" content="{{ rating }}">
                <meta itemprop="count" content="{{ comments_count }}">
                <meta itemprop="name" content="{{ name }}">
                <meta itemprop="street-address" content="{{ street }}">
                <meta itemprop="postal-code" content="{{ zip_code }}">
            </div>
        </div>
    </div>
</div>


