= user_menu_currently_at 'discovery_pass'

.flexbox
  .flexbox__item.one-fifth.v-top.soft-half--left>
    = render partial: 'users/discovery_passes/side_menu', locals: { current: 'sponsorships' }
  .flexbox__item.four-fifths.v-top.soft-half--left>
    .panel
      = render partial: 'users/sponsorships/tabs', locals: { current: 'index' }
      .panel__header.soft
        %h3.flush Mes parrainages
      .panel__body.soft
        %table.table--data.table--striped
          %thead
            %tr
              %th Amis
              %th Statut
              %th Gain
          %tbody
            - @sponsorships.each do |sponsorship|
              %tr
                %th= sponsorship.sponsored_user.email
                %th= sponsorship.registered ? 'Gain' : 'En attente'
                %th
