= user_menu_currently_at 'discovery_pass'

.flexbox
  .flexbox__item.one-fifth.v-top.soft-half--left>
    = render partial: 'users/discovery_passes/side_menu', locals: { current: 'sponsorships' }
  .flexbox__item.four-fifths.v-top.soft-half--left>
    .panel
      = render partial: 'users/sponsorships/tabs', locals: { current: 'new' }
      .panel__body.soft--ends
        .soft--sides
          .text--center
            %h4
              Invitez vos amis Parisiens à découvrir le Pass Découverte !
              %br
              Gagnez jusqu'à 2 mois gratuits pour chaque personne que vous parrainez

            %p Pour chaque personne parrainée souscrivant au Pass, vous recevrez 20% de réduction immédiate sur votre prochain mois et votre ami bénéficiera d'une réduction de 50% sur son 1er mois.
            %h4
              Vous disposez de
              %span.green= number_to_currency(@discount).gsub(',00', '')
              de crédit parrainage à dépenser sur votre prochain mois.

        .soft--sides
          %h4#email-reco
            Entrez les emails de vos amis et envoyez-leur votre parrainage :

          .gray-box.soft.relative
            = simple_form_for [@user, @user.sponsorships.build] do |f|
              .grid.push-half--bottom
                .grid__item.two-twelfths.text--right>
                  %h4 À
                .grid__item.ten-twelfths>
                  %textarea.input--large.one-whole{ name: 'emails', rows: 3, placeholder: "Entrez les e-mails de vos élèves gardés confidentiels et non réutilisés. Ex. : patrick@gmail.com, thomas.dupont@wanadoo.fr", data: { behavior: 'autoresize' } }
              .grid
                .grid__item.two-twelfths.text--right>
                  %h4 Message
                .grid__item.ten-twelfths>
                  %textarea.input--large#recommendation-user-content.one-whole{ style: 'height: 130px;', name: 'text', rows: 5, data: { behavior: 'autoresize' } }
                    Salut !&#x000A;&#x000A;J'ai souscrit au Pass Découverte CoursAvenue qui me permet d'aller tester, chaque mois, tous les cours de loisirs autour de moi : théâtre, yoga, dessin, danse, arts martiaux... Il y a plus de 300 cours à découvrir, et grâce à mon parrainage le Pass ne te coûtera que 9€ au lieu de 19€ pour 1 mois.
                  .push-half--top.grid
                    = f.submit 'Envoyer ma demande', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }

      -# - begin
      -#   - facebook_user = FbGraph::User.me(current_user.oauth_token)
      -#   - if facebook_user.friends.any?
      -#     .panel__body.soft--ends
      -#       .soft--sides
      -#         .text--center
      -#           %h4
      -#             Amis Facebook
      -#         .gray-box.soft.relative
      -#           .grid--full
      -#             - facebook_user.friends.each do |facebook_friend|
      -#               .inline-block.one-sixth.very-soft.text--center>
      -#                 = image_tag "http://graph.facebook.com/#{facebook_friend.identifier}/picture?height=75&width=75&type=square", class: 'block rounded--circle center-block', width: 75, height: 75
      -#                 .very-soft= facebook_friend.name
      -#                 = link_to 'Parrainer', share_sponsorship_request_to_facebook_friend_url(@user, facebook_friend.identifier), class: 'btn', data: { behavior: 'send-message-on-facebook' }

      -#           - content_for :scripts do
      -#             :javascript
      -#               $(function() {
      -#                     $('[data-behavior=send-message-on-facebook]').click(function() {
      -#                         window.open(this.href, 'Partager', "width=1000,height=600");
      -#                         ga('send', 'event', 'Share on Facebook to friend', 'share');
      -#                         return false;
      -#                     });
      -#               });
      -# - rescue
