%tr
  %td= price.localized_libelle
  %td
    = price.info
  - if price.amount == 0
    %td.text--right Gratuit
  - else
    - if price.amount.nil?
      %td.text--right Se renseigner
    - else
      %td.text--right
        - if price.promo_amount
          %span.line-through= readable_amount(price.amount)
          %span.green= readable_amount(price.promo_amount)
        - else
          = readable_amount(price.amount)
