- if params['EXECCODE'] == '0000'
  %h2
    %i.fa.fa-check.green.fa-2x.v-middle
    %span.v-middle Félicitations ! Votre compte Premium est activé.
  %h5.text--center
    Profitez dès maintenant de toutes les fonctionnalités du compte Premium CoursAvenue :
  = render 'pro/shared/premium_advantages'
  .text--center
    = link_to 'Accéder à mon profil CoursAvenue', dashboard_pro_structure_path(@structure), class: 'btn btn--green btn--large'
- else
  %h2.text--center.push-half--bottom
    Une erreur est survenue lors du paiement :
  %h4.text--center
    - if params['EXECCODE']
      = t("pro.structures.be2bill_errors.error_#{params['EXECCODE']}")
  .text--center
    = link_to 'Réessayer', go_premium_pro_structure_url(@structure, premium_type: @premium_type, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--large btn--yellow f-weight-bold'
