= side_menu_currently_at 'premium'

.panel
  .panel__header.soft
    = render partial: 'pro/structures/subscription_plans/premium_breadcrumb', locals: { current: 'validation', failure: params['EXECCODE'] != '0000' }
  .panel__body.soft
    - if params['EXECCODE'] == '0000'
      %h2
        %i.fa-check.green.fa-2x.v-middle
        %span.v-middle Félicitations ! Votre compte Premium est activé.
      %h5.text--center
        Profitez dès maintenant de toutes les fonctionnalités du compte Premium CoursAvenue :
      = render 'pro/shared/premium_advantages'
      .text--center
        = link_to 'Accéder à mon profil CoursAvenue', dashboard_pro_structure_path(@structure), class: 'btn btn--green btn--large'
    - else
      %h2.text--center.push-half--bottom
        Une erreur est survenue lors du paiement :
      %h4.text--center
        - if params['EXECCODE']
          = t("pro.structures.be2bill_errors.error_#{params['EXECCODE']}")
      .text--center
        = link_to 'Réessayer', new_pro_structure_subscription_plan_url(@structure, premium_type: @premium_type, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--large btn--yellow f-weight-bold'
