= simple_form_for [:pro, @press_article] do |f|
  .text--center.push--bottom{ data: { behavior: 'image-input' } }
    .progress.hidden.push-half--bottom{ data: { progress: true } }
      .bar
    - if @press_article.logo.present?
      .push-half--bottom.bordered{ style: "height: 200px; width: 200px; display: inline-block; line-height: 196px;" }<
        = image_tag @press_article.logo.url(:original), class: 'v-middle inline-block', style: 'max-height: 100%;'
    - else
      .push-half--bottom.bordered{ style: "height: 200px; width: 200px; display: inline-block; line-height: 196px;" }
        %img.v-middle.inline-block{ style: 'max-height: 100%;' }

    - if @press_article.logo?
      .inline-block.v-top>
        = link_to 'javascript:void(0)', class: 'btn btn--blue btn--small push-half--bottom', data: { trigger: true } do
          %i.fa.fa-picture-o
          Modifier
        %br
        %a.btn.btn--small.btn--red#delete-logo{href: 'javascript:void(0)'}
          %i.fa.fa-trash-o.soft--sides-half--right
          Supprimer
    - else
      = link_to 'javascript:void(0)', class: 'btn btn--blue btn--small', data: { trigger: true } do
        %i.fa.fa-picture-o
        Logo
    .visuallyhidden= f.input :logo, label: false, input_html: {id: 'logo-input'}

  .input.input-daterange.input-group{ data: { behavior: 'datepicker' } }
    %label.label--large.required.control-label{ for: 'published_date' } Date de publication
    %input.input-sm.input--large.datepicker-input#published_date{ type: 'text', value: (@press_article.published_at.nil? ? '' : l(@press_article.published_at.to_date)), name: 'press_article[published_at]' }

  = f.input :url, label: 'Lien', input_html: { class: 'input--large' }, label_html: { class: 'label--large' }, as: :string
  = f.input :title, label: 'Nom', input_html: { class: 'input--large' }, label_html: { class: 'label--large' }, as: :string
  = f.input :description, label: 'Description', input_html: { class: 'input--large' }, label_html: { class: 'label--large' }

  = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours...' }
