.main-container
  %h1.soft--top.text--center.flush= @structure.name
  %hr.push--ends
  %h2 Choissisez votre bon cadeau
  .grid.push--bottom
    .grid__item.eight-twelfths.palm-one-whole>
      .soft.bg-white.bordered{ data: { step: 'certificates' } }
        - @gift_certificates.each do |certificate|
          %a.opacity-hidden-on-hover__wrapper.block.muted-link.grid--full.gray-box.push--bottom.cursor-pointer{ data: { behavior: 'select-certificate', certificate: certificate.id, name: certificate.name, amount: certificate.amount, description: certificate.description } }
            .grid__item.v-top.nine-twelfths.soft-half--ends.soft-half--right.soft--left>
              .push--ends.rounded--top
                %h6.line-height-1-3.gamma.push-half--bottom= "#{ certificate.name }"
                .line-height-1-7.epsilon= "#{ certificate.description }"
            .grid__item.v-top.three-twelfths.soft-half.text--center>
              .f-weight-600.gamma.soft--top.push-half--bottom= readable_amount(certificate.amount)
              .opacity-hidden-on-hover__child.btn.btn--green.soft--sides Choisir ce bon

      .soft.bg-white.bordered.hidden{ data: { step: 'payment' } }
        .push--bottom
          = link_to '← Choisir un autre bon cadeau', 'javascript:void(0)', data: { behavior: 'previous-step' }
        .float--right.f-weight-600.gamma
          %span{ data: { type: 'gift-amount' } }
          €
        %h2{ data: { type: 'gift-name' } }
        %p{ data: { type: 'gift-description' } }
        = simple_form_for @voucher, url: structure_website_structure_gift_certificate_vouchers_path(@structure), html: { id: 'gift_certificate_voucher_form' } do |f|
          = f.input :stripe_token, as: :hidden
          = f.input :gift_certificate_id, as: :hidden
          .grid
            .push-half--bottom.grid__item.four-twelfths.palm-one-whole>
              .input-addon
                .input-prefix
                  %i.fa.fa-user
                = f.input :name, required: true, input_html: { class: 'input--large one-whole' }, placeholder: 'Vos Nom et Prénom', label: false
            .push-half--bottom.grid__item.four-twelfths.palm-one-whole>
              .input-addon
                .input-prefix
                  %i.fa.fa-envelope-o
                = f.input :email, required: true, input_html: { class: 'input--large one-whole' }, placeholder: 'Votre e-mail', label: false
            .push-half--bottom.grid__item.four-twelfths.palm-one-whole>
              = link_to 'Régler ma commande', 'javascript:void(0)', class: 'btn btn--green', data: { stripe: true }

    .grid__item.four-twelfths.palm-one-whole>
      %h3.push-half--bottom
        %i.fa.fa-lightbulb-o
        Comment ça marche ?
      %ol.epsilon.line-height-1-5
        %li Choisissez votre bon cadeau
        %li Payez-le en ligne par carte bleu
        %li Offrez le bon que vous recevrez par e-mail
      %h3.push-half--bottom Simple et sans mauvaise surprise
      %ul.epsilon.line-height-1-5
        %li Il n’a pas de date de validité !
        %li Il n’est pas nominatif mais est numéroté : conservez-le donc précieusement
        %li Il est ni remboursable ni échangeable
        %li Le détendeur du bon pourra réserver l’atelier de son choix directement sur notre site Internet ou par téléphone. Le jour de l’atelier, il n’aura qu’à présenter son bon à son arrivée.

= content_for :scripts do
  = javascript_include_tag 'https://checkout.stripe.com/checkout.js'
  :javascript
    var gift_certificate = {};
    $(function() {

        $('[data-behavior=previous-step]').click(function(event) {
            $('[data-step=payment]').slideUp();
            $('[data-step=certificates]').slideDown();
        });
        $('[data-behavior=select-certificate]').click(function () {
            var $element       = $(this);
            $('[data-type=gift-name]').text($element.data('name'));
            $('[data-type=gift-amount]').text(parseInt($element.data('amount'), 10));
            $('[data-type=gift-description]').text($element.data('description'));

            gift_certificate['id']     = $element.data('certificate');
            gift_certificate['name']   = $element.data('name');
            gift_certificate['amount'] = parseInt($element.data('amount'), 10) * 100;

            var certificate_id = gift_certificate['id'];
            $('[name="gift_certificate_voucher[gift_certificate_id]"]').val(certificate_id);

            $('[data-step=certificates]').slideUp();
            $('[data-step=payment]').slideDown();
        })

        var stripeHandler = StripeCheckout.configure({
            key: "#{ Rails.configuration.stripe[:publishable_key] }",
            token: function token(token) {
                $('[name="gift_certificate_voucher[stripe_token]"]').val(token.id)
                CoursAvenue.showFullPageLoader('Paiement en cours...');
                $('#gift_certificate_voucher_form').submit();
            }
        });

        $('[data-stripe]').click(function(event) {
            event.preventDefault();
            stripeHandler.open({
                email: $('[name="gift_certificate_voucher[email]"]').val(),
                name: 'CoursAvenue',
                panelLabel: 'Payer {{amount}}',
                image: 'https://coursavenue-public.s3.amazonaws.com/logos/logo_stripe.jpg',
                description: 'Bon Cadeau "' + gift_certificate['name'] + '"',
                currency: "#{Subscription::CURRENCY}",
                amount: gift_certificate['amount']
            });
        });
    });
