- form_url = @guide.persisted? ? pro_guide_path(@guide) : pro_guides_path

= simple_form_for @guide, url: form_url do |f|
  = f.input :title, label: 'Titre', label_html: { class: 'label--large' }, input_html: { class: 'input--large', placeholder: t('guides.placeholder.title') }
  = f.input :description, label: 'Description', label_html: { class: 'label--large' }, input_html: { placeholder: t('guides.placeholder.description') }
  = f.input :call_to_action, label: 'Accroche', label_html: { class: 'label--large' }, input_html: { placeholder: t('guides.placeholder.call_to_action') }
  = f.input :age_dependant, label: "Dependant de l'age ?", label_html: { class: 'label--large' }, input_html: { data: { behavior: 'toggle-restrictions' } }

  -# TODO: Only show when the `age_dependant` checkbox is checked.
  -# TODO: Show age input next to each other.
  #age-restrictions{ class: @guide.age_dependant? ? '' : 'hidden' }
    = f.simple_fields_for :age_restrictions, @guide.age_restrictions do |af|
      = af.input :min_age, input_html: { class: 'inline-block' }
      = af.input :max_age

  %hr.push--top

  %div{ data: { behavior: 'show-more-on-demand' } }
    = f.simple_fields_for :questions, @guide.questions do |qf|
      - question = qf.object
      %div{ class: (question.persisted? ? '': 'hidden'), data: { el: true, hidden: (!question.persisted? and qf.index > 0) } }
        = qf.input :content, label: 'Question', label_html: { class: 'label--large' }, input_html: { class: 'input--large', placeholder: t('guides.placeholder.question.content') }
        = qf.input :ponderation, label: 'Ponderation', input_html: { placeholder: '0' }

        %a.cursor-pointer.v-middle{ href: 'javascript:void(0);', data: { toggle: true } }
          %i.fa-eye
          Réponses
        .bordered.bordered--dash.bordered--larger.f-weight-500{ class: (question.answers.map(&:content).any? ? '' : 'hidden'), data: { content: true } }
          = qf.simple_fields_for :answers, question.answers do |af|
            - answer = af.object
            = af.input :content, label: 'Reponse', label_html: { class: 'label--large' }, input_html: { class: 'input--large', placeholder: t('guides.placeholder.answer.content') }
            = af.input :subject_ids, as: :select, collection: Subject.order('position ASC'), label: 'Disciplines', label_method: :name,
              input_html: { data: { behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines', autocomplete: "false" }, multiple: true }
            = af.filepicker_field :remote_image_url, button_class: 'hidden', services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: true, class: "filepicker-dragdrop text--center",
              drag_class: "flush--left push-half--bottom one-whole f-weight-500 soft-half--ends text--center push--bottom", drag_text: "Glissez ou cliquez ici pour changer votre image"

            -# - if answer.image.present?
            -#   = link_to "Voir l'image", answer.image.url, class: 'fancybox.ajax', data: { behavior: 'modal', width: 700 }, method: :get

            %hr.push-half--ends

        .text--right
          %a.cursor-pointer.v-middle{ href: 'javascript:void(0);', data: { clear: true } }
            %i.fa-trash-o
            Supprimer la question
        %hr.push-half--ends

    .push--ends
      %a{ href: 'javascript:void(0)', data: { trigger: true } }>
        %i.fa.fa-plus
        Ajouter une question

  = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement"}

- content_for :scripts do
  = filepicker_js_include_tag

  :javascript
    $(document).ready(function() {
        $('[data-toggle]').click(function(event) {
            event.preventDefault();
            $(this).siblings('[data-content]').slideToggle()
        });

        $('[data-behavior=toggle-restrictions]').change(function(event) {
          debugger
          if (event.target.checked) {
              $('#age-restrictions').show();
          } else {
              $('#age-restrictions').hide();
          }
        });

    //  $('#guide_description').redactor({
    //      buttons: ['formatting', 'bold', 'italic', 'unorderedlist', 'orderedlist',
    //        'link', 'alignment', 'horizontalrule', 'image'],
    //      formatting: ['p', 'blockquote', 'h1', 'h2', 'h3'],
    //      lang: 'fr'
    //  });
    });
