= user_menu_currently_at 'profile'

.flexbox
  = render partial: 'users/left_menu', locals: { current: 'passions' }
  .flexbox__item.four-fifths.v-top
    .panel
      .soft.bg-cover{ style: "background-image: url(#{asset_path('users/passions_bg.jpg')});" }
        .relative.one-whole.height-whole.push
          %h1.push.white.text--center.soft-black-text-shadow Quelles sont vos passions ?
      .panel__body.soft
        %p.text--center.delta.push--bottom.line-height-1-7
          Sélectionnez toutes les disciplines qui vous passionnnent
          %br
          pour recevoir des cours d'essai gratuits ou des offres exclusives près de chez vous :

        = simple_form_for [@user], html: { autocomplete: 'false', id: 'user-form' } do |f|
          %input{ name: 'return_to', value: user_passions_path(@user), type: 'hidden' }
          %div{ data: { behavior: 'parent-descendant-subjects', 'parent-select' => '#parent-subjects', 'descendant-select' => '#subject-descendants-select', 'descendant-select-wrapper' => '#descendants-subjects' } }
            = f.association :subjects, as: :select, collection: Subject.roots.order('name ASC'), input_html: { class: 'input--large hard', style: 'width: 74%;', id: 'parent-subjects', data: { behavior: 'chosen', placeholder: 'Sélectionnez une ou plusieurs disciplines', selected: @user.subjects.roots.map(&:id).join(',') }, multiple: true }, label: 'Disciplines générales ', label_method: lambda{|subj| subj.name }, wrapper_html: { class: 'flush--bottom' }, label_html: { class: 'label--large' }
            #descendants-subjects
              .input{title: 'Sélectionnez plusieurs disciplines en maintenant la touche CTRL ou CMD enfoncée.', data: {behavior: 'tooltip'}}>
                %label.control-label.label--large> Pouvez-vous préciser ?
                %select#subject-descendants-select.hard.input--large{ name: 'user[subject_descendants_ids][]', style: 'width: 74%;', multiple: true, data: { behavior: 'chosen', placeholder: 'Tapez ou sélectionnez une ou plusieurs disciplines', selected: @user.subjects.children.map(&:id).join(',') } }>
          - if @user.errors[:children_subjects].present?
            .input_field_error.red.text--right= @user.errors[:children_subjects].to_sentence
          .input.flush--top.city-autocomplete-wrapper<
            = f.label :passion_zip_code, label: 'Votre ville', class: 'label--large'
            = f.input :passion_zip_code, placeholder: 'Ex. : 75008', input_html: { value: (@user.passion_zip_code || @user.zip_code), class: 'input--large one-whole', data: { behavior: 'city-autocomplete', el: '#user_passion_city_id'} }, label: false, wrapper_html: { class: 'flush soft-half--right', style: 'width: 10em' }
            = f.input :passion_city_id, collection: [@user.passion_city || @user.city], label: false, selected: @user.city, wrapper_html: { class: 'flush--top' }, input_html: { class: 'input--large' }
          .soft--sides
            = f.button :submit, "Enregistrer", class: 'btn btn--green btn--full push--bottom', data: { disable_with: "En cours d'enregistrement" }
