= user_menu_currently_at 'passions'

.panel
  = render partial: 'users/passions/tabs', locals: { current: 'suggestions' }
  .panel__body.soft
    %h3 Nous vous suggérons des cours qui devraient vous plaire

    - if @passions.any?
      %p.blue
        %i Grâce aux passions renseignées dans votre rubrique "Mes infos", nous vous proposons ici tous les cours susceptibles de vous intéresser. Bonne découverte !

      %h4 Disciplines que vous pratiquez déjà
      - if @passions.practiced.empty?
        .text--center
          Vous n'avez pas renseigné les passions que vous pratiquez.
          %br
          = link_to 'Renseigner mes passions pratiquées', user_passions_path(current_user), class: 'btn btn--green btn--large'
      - @passions.practiced.each do |passion|
        %br

      %hr

      %h4 Disciplines que vous souhaiteriez pratiquer
      - if @passions.wanted.empty?
        .text--center
          Vous n'avez pas renseigné les passions que vous souhaiteriez pratiquer.
          %br
          = link_to 'Renseigner mes passions pratiquées', user_passions_path(current_user), class: 'btn btn--green btn--large'
      - @passions.wanted.each do |passion|
        %br
    - else
      .alert.alert--info.one-whole.text--center.push--bottom
        %p.flush Pour accéder à cette rubrique, vous devez préalablement avoir renseigné toutes vos passions (rubrique "Mes infos", onglet "Mes passions").
      .text--center
        = link_to 'Renseigner mes passions', user_passions_path(current_user), class: 'btn btn--green btn--large'
