%h4.small-margin-bottom= t('.post_your_opinion', course_type_name: @course.type_name_html.downcase)
.islet.white-box
  = simple_form_for @comment, url: comments_path do |f|
    = f.hidden_field :commentable_type
    = f.hidden_field :commentable_id
    %div
      %span.rating
        %i.star.icon-star-empty.gamma{style: 'top: 4px;', data: {value: 1}}
        %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -3px; padding: 0 2px', data: {value: 2}}
        %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -6px; padding: 0 2px', data: {value: 3}}
        %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -9px; padding: 0 2px', data: {value: 4}}
        %i.star.icon-star-empty.gamma{style: 'top: 4px; left: -12px; padding: 0 2px', data: {value: 5}}
      %span#rating-description
    = f.input :rating, as: :hidden
    .grid
      .grid__item.one-half.grid>
        %label.text--right.grid__item.v-middle.one-fifth{for: 'comment_author_name'}> * Nom
        = f.input :author_name, input_html: {style: 'width: 100%;'}, wrapper_html: {class: 'four-fifths grid__item v-middle'}, label: false, placeholder: 'Patrick C.'
      .grid__item.five-twelfths.grid>
        %label.text--right.grid__item.v-middle.one-fifth{for: 'comment_email'}> Email
        = f.input :email, input_html: {style: 'width: 100%;'}, wrapper_html: {class: 'four-fifths grid__item v-middle'}, label: false, placeholder: 'Votre email restera privé'
    = f.input :content, label_html: {style: 'width: auto; vertical-align: top;'}, input_html: {style: 'width: 45.7em; height: 50px;', 'data-behavior' => 'autoresize'}, placeholder: "Qu'avez-vous pensé du cours ?"
    .text--center
      = f.submit 'Publier mon avis', class: 'btn btn__large btn__success', style: 'padding-top: 6px; padding-bottom: 6px;'



- if @course.rating
  %h5.float--right.flush--bottom Note moyenne : #{ '%.1f' % @course.rating}
%h4.small-margin-bottom= t('.last_students_opinion')
- if @comments.any?
  %ul.comment-list
    = render @comments

- else
  %p Soyez le premier à nous donner votre avis !

= render 'comments/javascript'
