%article.course-info
  %h2.delta.text--center.flush--bottom= @course.name
  %h3.zeta.text--center.flush--bottom
    %i.icon-map-marker
    = @course.place.long_name
  - if @best_price
    .course-info-price.text--right
      - if @best_price.has_promo?
        %div
          %span.line-through
            = "#{readable_amount(@best_price.amount)}€"
          %span.beta.green
            = "#{readable_amount(@best_price.promo_amount)}€"
      - else
        .beta.green= "#{readable_amount(@best_price.amount)}€"
      %small
        - if @course.is_training?
          (Prix du stage)
        - else
          (#{t(@best_price.libelle)})
    = simple_form_for @reservation, url: course_reservations_path(@course) do |f|
      = f.input :name, label: false, input_html: {style: 'width: 100%;'}, wrapper_html: {class: 'flush--top text--left'}, placeholder: 'Nom', required: true
      = f.input :email, label: false, input_html: {style: 'width: 100%;'}, wrapper_html: {class: 'flush--top text--left'}, placeholder: 'Email (pour confirmation)'
      = f.input :phone, label: false, input_html: {style: 'width: 100%;'}, wrapper_html: {class: 'flush--top text--left'}, placeholder: "Téléphone pour l'établissement (optionnel)"
      = f.submit "Réserver ce #{@course.type_name.downcase}", class: 'btn btn__success one-whole', onclick: "_gaq.push(['_trackEvent', 'Reservation', 'click', '#{@course.slug}'])"
    %p.line-height-1.flush--bottom
      %i Réservez votre #{t(@best_price.libelle).downcase} et utilisez-le quand vous voulez.
      %br
      %i Si vous souhaitez ensuite passer une formule sur plusieurs cours, nous vous déduirons alors directement le prix du #{t(@best_price.libelle).downcase} que vous avez déjà payé.

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        $('new_reservation').addEvent('submit', function() {
            if ($('reservation_name').get('value').length === 0 || $('reservation_email').get('value').length === 0) {
              new GLOBAL.Objects.Flash('Vous devez remplir votre nom et email pour réserver ce #{@course.type_name_html.downcase}').showAndHide();
              return false;
            }
            return true;
        });
    });
