%article.course-info
  %h2.delta.text--center.flush--bottom= @course.name
  %h3.zeta.text--center.flush--bottom
    %i.icon-map-marker
    = @course.place.long_name
  - if @best_price
    .course-info-price.text--right.push-half--bottom
      - if @best_price.has_promo?
        %div
          %span.line-through
            = "#{readable_amount(@best_price.amount)}€"
          %span.beta.green
            = "#{readable_amount(@best_price.promo_amount)}€"
      - else
        .beta.green= "#{readable_amount(@best_price.amount)}€"
      %small
        - if @course.is_training?
          (Prix du stage)
        - else
          (#{t(@best_price.libelle)})
    .text--center
      - if current_user
        - if current_user.courses.exists? @course.id
          = link_to "Vous assistez déjà à ce #{@course.type_name.downcase}", remove_user_course_path(@course), class: 'btn btn__success one-whole disabled', method: :put, onclick: "_gaq.push(['_trackEvent', 'Ne plus assister au cours', 'click','Inscrit'])"
        - else
          = link_to "Assiter à ce #{@course.type_name.downcase}", add_user_course_path(@course), class: 'btn btn__success one-whole', method: :put, onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Inscrit'])"
      - else
        %a.btn.btn__success.one-whole{href: '#', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Non inscrit'])", data: {behavior: 'modal', title: 'Connectez-vous pour assiter au cours', width: '400px', url: '/users/sign_up'}} Assiter à ce #{@course.type_name.downcase}

#booking_form.hidden
  .text--center.islet
    = link_to "Connexion Facebook", user_omniauth_authorize_path('facebook'), class: 'btn btn__facebook'
  %hr
  = simple_form_for @reservation, url: course_reservations_path(@course) do |f|
    = f.input :name, label: false, input_html: {style: 'width: 100%;'}, wrapper_html: {class: 'flush--top text--left'}, placeholder: 'Nom', required: true
    = f.input :email, label: false, input_html: {style: 'width: 100%;'}, wrapper_html: {class: 'flush--top text--left'}, placeholder: 'Email (pour confirmation)'
    = f.input :phone, label: false, input_html: {style: 'width: 100%;'}, wrapper_html: {class: 'flush--top text--left'}, placeholder: "Téléphone pour l'établissement (optionnel)"
    = f.submit "Assiter à ce #{@course.type_name.downcase}", class: 'btn btn__success one-whole', onclick: "_gaq.push(['_trackEvent', 'Reservation', 'click', '#{@course.slug}'])"
  %p.line-height-1.flush--bottom
    %i Réservez votre #{t(@best_price.libelle).downcase} et utilisez-le quand vous voulez.
    %br
    %i Si vous souhaitez ensuite passer une formule sur plusieurs cours, nous vous déduirons alors directement le prix du #{t(@best_price.libelle).downcase} que vous avez déjà payé.

