%article.course-info
  - if @course.best_price
    .course-info-price.text-center
      %small À partir de
      %h2.blue= "#{@course.best_price.amount}€"

  .text-center.course-info-heading
    %b En attendant la réservation en ligne
    %p.course-info-heading-caption Dites que LeBonCours vous a guidé !
  - if @structure.phone_number
    .text-center
      = link_to "tel:#{@structure.phone_number.gsub(/\s+/, '')}", class: 'blue' do
        %i.icon-phone
        = @structure.phone_number
  - if @structure.website
    .text-center= link_to @structure.name, @structure.website, class: 'blue', target: '_blank'

  %hr.course-info-delimiter
  .text-center.course-info-heading
    %b Réservation en ligne
    %p.course-info-heading-caption En attendant le lancement, restons en contact ! (promis, pas de spam, que des bons plans !)
  .text-center
    = link_to 'Réservez en ligne', '#', :disabled => true, :class => 'btn btn__primary'
    = simple_form_for NewsletterUser.new do |f|
      = f.email_field :email, placeholder: t('newsletter_users.email'), size: 25
