%article.course-info
  %h2.delta.text--center.flush--bottom= @course.name
  %h3.zeta.text--center.flush--bottom
    %i.icon-map-marker
    = @course.place.long_name
  - if @best_price
    .course-info-price.text--right.push-half--bottom
      - if @best_price.has_promo?
        %div
          %span.line-through
            = "#{readable_amount(@best_price.amount)}€"
          %span.beta.green
            = "#{readable_amount(@best_price.promo_amount)}€"
      - else
        .beta.green= "#{readable_amount(@best_price.amount)}€"
      %small
        - if @course.is_training?
          (Prix du stage)
        - else
          (#{t(@best_price.libelle)})
    .text--center
      - if current_user
        - if current_user.reservation_for? @course
          = link_to "Vous assistez déjà à ce #{@course.type_name.downcase}", '#', class: 'btn btn__success one-whole disabled', onclick: "_gaq.push(['_trackEvent', 'Ne plus assister au cours', 'click','Inscrit'])"
        - else
          = form_for @course.reservations.build do |f|
            = f.hidden_field :reservable_type
            = f.hidden_field :reservable_id
            = f.submit "Assister à ce #{@course.type_name.downcase}", class: 'btn btn__success one-whole', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Inscrit'])"
      - else
        %a.btn.btn__success.one-whole{href: '#', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Non inscrit'])", data: {behavior: 'modal', title: 'Connectez-vous pour effectuer votre réservation', width: '450px', url: '/users/sign_up'}} Assister à ce #{@course.type_name.downcase}
