%article.course-info
  %h2.delta.text--center.flush--bottom= @course.name
  %h3.zeta.text--center.flush--bottom
    %i.icon-map-marker
    = @course.place.long_name
  - if @course.best_price #TODO: Remove this
    .course-info-price.text--right
      %h2.blue= "#{@course.best_price.readable_amount}€"
      %small par cours
  .text--center.islet.flush--bottom
    = link_to 'Réserver ce cours', new_course_reservation_path(@course), class: 'one-whole btn btn__success', onclick: "_gaq.push(['_trackEvent', 'Reservation', 'click', '#{@course.slug}'])"
  %p.flush--bottom.text--center{style: 'line-height: 1'}
