%li.one-whole.course-element{data: {"structure-id" => course.place_id, url: course_path(course), type: 'course-element'}}
  %div.two-twelfths.visuallyhidden--palm
    .course-image.media__img
      = link_to course_path(course) do
        - if course.image.present?
          = image_tag course.image.url(:thumb), alt: "#{course.type_name} de #{course.name}"
        - elsif course.structure.image.present?
          = image_tag course.structure.image.url(:thumb), alt: "#{course.type_name} de #{course.name}"
        - elsif course.place.thumb_image.present?
          = image_tag course.place.thumb_image.url(:thumb), alt: "#{course.type_name} de #{course.name}"
        - else
          = image_tag course.subjects.first.image.url(:thumb), alt: "#{course.type_name} de #{course.name}"

  %article.course-content
    %header
      .hN.course-title
        .map-marker-image
          = link_to course_path(course) do
            %span= @course_places.index(course.place) + 1
        %h2.delta.inline.v-middle= link_to course.name, course_path(course)

    - if course.is_training?
      %p
        Stage de
        = pluralize course.length, 'jour'
    %div
      %i.icon-map-marker
      %h3.course-element-place-name
        = link_to place_path(course.place) do
          - if course.place.name.length > 50
            = "#{course.place.name[0..50]}..."
          - else
            = course.place.long_name
      - if course.place.zip_code == 75000
        Paris
      - else
        = "- Paris&nbsp;#{course.place.zip_code[3..4]}".html_safe
    - if course.is_lesson?
      = join_week_days(course)
    - else
      = training_dates(course.recent_plannings.first || course.plannings.first)
      - if course.plannings.count > 1
        = "et #{course.plannings.length - 1} autres dates."
    %footer
      %ul.nav
        %li
          %span.lbl.milli
            = course.type_name_html
            - if course.plannings.first.duration
              = "de #{readable_duration course.plannings.first.duration}"
        = join_course_subjects course

  %div.course-price.two-twelfths
    - if course.best_price.nil?
      %p.epsilon= link_to "Contacter l'établissement", course_path(course)
    - else
      %p
      %p.gamma
        - if course.best_price.amount == 0
          Gratuit
        - else
          = "#{course.best_price.per_course_amount}€".html_safe
      - if course.best_price.amount != 0
        - if course.is_lesson?
          %p prix d'un cours
        - else
          %p= "(#{t(course.best_price.libelle).downcase})".html_safe
    - if course.rating
      %div
        %span.rating{title: comment_rating_title(course.rating)}
          = rating_stars course.rating
        (
        = course.comments.count
        %i.lbc-brand-icon
        )
    - else
      .super-muted= rating_stars 5
      = link_to course_path(course, anchor: 'comments'), class: 'visuallyhidden--palm', onclick: "_gaq.push(['_trackEvent', 'Soyez le premier à donner un avis - cours', 'click'])" do
        Soyez le 1er à donner
        %br
        votre avis
