- best_price = course.best_price

%li.one-whole.course-element{onclick: "_gaq.push(['_trackEvent', 'Click cours', 'click', '#{best_price.try(:has_promo?) ? 'Avec promo' : 'Sans promo'}'])", data: {"place-id" => course.place_id, url: course_path(course), type: 'course-element'}}
  %div.two-twelfths.visuallyhidden--palm
    .course-image.media__img
      - if best_price.try(:has_promo?)
        .price-badge
          Promo
      = link_to course_path(course) do
        - if course.image.present?
          = image_tag course.image.url(:thumb), alt: "#{course.type_name} de #{course.name}"
        - elsif course.place.thumb_image.present?
          = image_tag course.place.thumb_image.url(:thumb), alt: "#{course.type_name} de #{course.name}"
        - elsif course.structure.image.present?
          = image_tag course.structure.image.url(:thumb), alt: "#{course.type_name} de #{course.name}"
        - else
          = image_tag course.subjects.first.image.url(:thumb), alt: "#{course.type_name} de #{course.name}"

  %article.course-content
    %header
      .hN.course-title
        .map-marker-image
          = link_to course_path(course) do
            %span= @course_places.index(course.place) + 1
        %h2.delta.inline.v-middle= link_to course.name, course_path(course)

    - if course.is_training?
      %p
        Stage de
        = pluralize course.length, 'jour'
    %div
      %i.icon-map-marker
      %h3.course-element-place-name
        = link_to place_path(course.place) do
          = truncate course.place.long_name, length: 70
          - if course.structure.rating
            = rating_stars course.structure.rating
    - if course.is_lesson?
      = join_week_days(course)
    - elsif course.plannings.count > 0
      = training_dates(course.recent_plannings.first || course.plannings.first)
      - if course.plannings.count > 1
        = "et #{course.plannings.length - 1} autres dates."
    %footer
      %ul.nav
        %li
          %span.lbl.milli
            = course.type_name_html
            - if course.plannings.any? and course.plannings.first.duration
              = "de #{readable_duration course.plannings.first.duration}"
        = join_course_subjects course
    - if course.rating
      %div
        = course.comments.count
        avis
        %i.lbc-brand-icon
        \/
        %span.rating{title: comment_rating_title(course.rating)}
          = rating_stars course.rating
          = course.rating
    - else
      %span.super-muted.v-middle
        = rating_stars 0
      = link_to course_path(course, anchor: 'comments'), class: 'visuallyhidden--palm', onclick: "_gaq.push(['_trackEvent', 'Soyez le premier à donner un avis - cours', 'click'])" do
        Soyez le 1er à donner votre avis

  %div.course-price.two-twelfths
    - if best_price.nil?
      %p.epsilon= link_to "Contacter l'établissement", course_path(course)
    - else
      %p
      %p.gamma
        - if best_price.amount == 0
          Gratuit
        - elsif best_price.try(:has_promo?)
          %div
            %span.line-through= "#{readable_amount best_price.amount}€".html_safe
            %span.gamma.green= "#{readable_amount best_price.per_course_promo_amount}€".html_safe
        - else
          = "#{readable_amount best_price.per_course_amount}€".html_safe
      - if best_price.amount != 0
        - if course.is_lesson?
          %p prix d'un cours
        - else
          %p= "(#{t(best_price.libelle).downcase})".html_safe
