%li{:class => (course.is_training? ? 'training-element' : 'lesson-element')}
  = link_to course, class: 'one-whole' do
    %div.two-twelfths
      %img.media__img.course-image{src: 'http://www.placehold.it/100'}

    %div.eight-twelfths.course-content
      %hgroup
        %h3.hN
          Cours de
          = course.discipline.name
        %h5.hN
          %i.icon-map-marker
          = course.structure.name
      %footer
        %ul.nav
          %li= join_audiences(course)
          %li -
          %li= join_levels(course)
        - if course.is_training?
          .fl.lbl Stage
        - else
          .fl.lbl Cours


    %div.course-price.two-twelfths
      À partir de
      - if course.price.individual_course_price
        .alpha
          = course.price.individual_course_price
          €
        par cours
      - if course.price.annual_price
        %em
          = course.price.annual_price
          €
        par an
