- best_price = course.best_price

%li.one-whole.course-element{onclick: "ga('send', 'event', 'Click cours', 'click', '#{best_price.try(:has_promo?) ? 'Avec promo' : 'Sans promo'}')", data: {"location-ids" => @course_places[course].map(&:id).join(' '), url: structure_course_path(course.structure, course), type: 'course-element'}}
  %div.two-twelfths
    .course-image.media__img
      - if best_price.try(:has_promo?) and best_price.try(:amount) > 0
        .badge--price
          Promo
          = "-#{readable_promo_percentage best_price}"
      = link_to structure_course_path(course.structure, course) do
        - if course.structure.logo.present?
          = image_tag course.structure.logo.url(:thumb), alt: "#{course.type_name} de #{course.name}"

  %article.course-content
    %header
      .hN.course-title
        %h2.delta.inline.v-middle
          = link_to course.name, structure_course_path(course.structure, course)
    %div.grid--full
      %div.ten-twelfths.grid__item>
        %div
          %h3.course-element-place-name
            = link_to structure_path(course.structure) do
              = truncate course.structure.name, length: 70
            - if course.structure.rating
              —
              = course.structure.comments_count
              %i.lbc-brand-icon

        %footer
          %span.lbl.milli
            = course.type_name
            - if course.is_training?
              = " de #{pluralize course.length, 'jour'}"
            - else
              - if course.plannings.any? and course.plannings.first.duration
                = "de #{readable_duration course.plannings.first.duration}"
          %ul.nav
            = join_course_subjects course

        .milli
          = plannings_to_come(course, params)

      %div.course-price.two-twelfths.grid__item>
        - if best_price.nil?
          %p.epsilon= link_to "Contacter l'établissement", structure_course_path(course.structure, course)
        - else
          %p
          .gamma
            - if best_price.amount == 0
              Gratuit
            - elsif best_price.try(:has_promo?)
              .nowrap
                %span.epsilon.line-through= "#{readable_amount best_price.per_course_amount, true}".html_safe
                %span.gamma.green= "#{readable_amount best_price.per_course_promo_amount, true}".html_safe
            - else
              = "#{readable_amount best_price.per_course_amount, true}".html_safe
          - if best_price.nb_courses or best_price.number
            %p (1 cours)
          - else
            %p= "(#{best_price.localized_libelle.downcase})".html_safe
