%li.one-whole.course-element{data: {"structure-id" => course.structure_id}}
  %div.two-twelfths.hide--palm
    .course-image.media__img
      - if course.image.present?
        = image_tag course.image.image.url(:thumb)
      - else
        = image_tag course.subjects.first.image.url(:thumb)
      - unless course.promotion_planning.nil?
        .course-promo.price-badge= readable_promotion course.promotion_planning

  %article.course-content
    %header
      %h4.hN.course-title
        .map-marker-image
          = link_to city_course_path(@city, course, path: request.fullpath) do
            %span= @course_structures.index(course.structure) + 1
        %span= link_to course.name, city_course_path(@city, course, path: request.fullpath)

    - if course.is_training?
      %p
        Stage de
        = pluralize course.length, 'jour'
    %ul.nav
      %li= join_audiences(course)
      %li -
      %li= join_levels(course)
    %div
      %i.icon-map-marker
      - if course.structure.name.length > 50
        %h3.course-element-structure-name= "#{course.structure.name[0..50]}..."
      - else
        %h3.course-element-structure-name= course.structure.name
      - if course.structure.zip_code == 75000
        Paris
      - else
        = "- Paris&nbsp;#{course.structure.zip_code[3..4]}".html_safe
    = join_week_days(course)                        if course.is_lesson?
    - unless course.is_lesson?
      = training_dates(course.plannings.first)
      - if course.plannings.length > 1
        = "et #{course.plannings.length - 1} autres dates."
    %footer
      %ul.nav
        %li
          %span.lbl.milli
            = course.type_name
            - if course.plannings.first.duration
              = "de #{readable_duration course.plannings.first.duration}"
        - course.subjects.each do |subject|
          %li
            %span= link_to subject.name, city_subject_path(@city, subject), class: 'lbl milli inline subject-link'

  %div.course-price.two-twelfths
    - if course.best_price.nil?
      %p.epsilon= link_to "Contacter l'établissement", city_course_path(@city, course)
    - else
      %p
        = t('.from') unless course.best_price.amount == 0
      - if course.promotion_planning
        %p
          %span.muted.delta.line-through= "#{course.best_price.readable_amount}€".html_safe
          %b.gamma.blue= "#{course.promotion_price}€".html_safe
      - else
        %p.gamma
          - if course.best_price.amount == 0
            Gratuit
          - else
            = "#{course.best_price.readable_amount}€".html_safe
      %p= "(#{t(course.best_price.libelle).downcase})".html_safe
