%article#tab-description.tab-pane
  - unless @course.description.nil?
    %h4= Course.human_attribute_name(:description)
    %p= @course.description

  %h4= t('.more_information')
  %ul
    - unless @course.course_info.blank?
      %li= @course.course_info
    - unless @structure.registration_info.blank?
      %li= @structure.registration_info
