%article#tab-description.tab-pane
  - unless @course.description.nil?
    %h4= Course.human_attribute_name(:description)
    %p= @course.description

  - if @course.info.present? or @structure.registration_info.present?
    %h4= t('.more_information')
    - unless @course.info.blank?
      %p= @course.info.html_safe
    - unless @structure.registration_info.blank?
      %p= @structure.registration_info
  - else
    %p= t('.no_information')
