- has_multiple_teacher = @course.has_multiple_teacher?
%table.table--striped.table--data
  %thead
    %tr
      %th Jour
      %th.text--center Créneau horaire
      %th.text--center Durée
      - if @has_nb_place
        %th.text--center Places
      - if @course.is_for_kid
        %th.text--center Âge
      %th.text--center
        %i.lbc-icon-info i
      %th
  %tbody
    - @plannings.each do |planning|
      %tr{data: {'course-id' => planning.course_id}}
        %td= week_day_for planning
        %td.text--center= readable_time_slot planning.start_time, planning.end_time
        %td.text--center= readable_duration planning.duration
        - if @has_nb_place
          %td.text--center= planning.nb_place_available
        - if @course.is_for_kid
          %td.text--center
            = planning.min_age_for_kid || '-'
            - if planning.max_age_for_kid
              à
              = planning.max_age_for_kid || '-'
        %td.text--center
          - if planning.info.present?
            .lbc-brand-icon{data: {behavior: 'popover', content: planning.info}}
        %td.text--right
          - if current_user
            - if current_user.plannings.exists? planning
              = link_to '-', add_user_planning_path(planning), class: 'btn btn__success btn__plus', title: 'Ne plus assister à ce créneau', onclick: "_gaq.push(['_trackEvent', 'Ne plus assister à ce créneau', 'click', 'Inscrit'])"
            - else
              = link_to '+', add_user_planning_path(planning), class: 'btn btn__success btn__plus', title: 'Assister à ce créneau', onclick: "_gaq.push(['_trackEvent', 'Assister à ce créneau', 'click','Inscrit'])"
          - else
            %a.btn.btn__success.btn__plus{href: '#', onclick: "_gaq.push(['_trackEvent', 'Assister à ce créneau', 'click','Non inscrit'])",  data: {behavior: 'modal', title: 'Connectez-vous pour assister à ce créneau', width: '450px', url: '/users/sign_up'}} +

