%article#tab-planning.tab-pane.active
  .gw
    .g.five-eighths
      - if @course.is_training?
        = render 'training_schedule'
      - if @course.is_lesson?
        = render 'lesson_schedule'
      - if @course.is_workshop?
        = render 'training_schedule'
    .g.three-eighths
      %h4= t('.infos')
      %ul.block-list.alternate-color.spoken-form.milli
        %li
          %label= Audience.model_name.human
          %strong.fr
            = @course.audiences.map{|course| t(course.name)}.join(', ')

        %li
          %label= Course.model_name.human
          - if @course.is_individual
            %strong.fr= Course.human_attribute_name(:is_individual)
          - else
            %strong.fr= t('.collective')
        - if @course.teacher_name.present?
          %li
            %label= Course.human_attribute_name(:teacher_name)
            %h2.teacher-name.fr= @course.teacher_name

        - unless @course.plannings.first.recurrence.blank?
          %li
            %label= t('.recurrence')
            %strong.fr= @course.plannings.first.recurrence

        %li
          %label= t('.can_be_joined_during_year')
          %strong.fr= (@course.cant_be_joined_during_year ? t('no') : t('yes'))

        %li
          %label= t('.class_during_holidays')
          %strong.fr= (@course.plannings.first.class_during_holidays ? t('yes') : t('no'))

        - if @course.is_for_handicaped
          %li
            %label= Course.human_attribute_name(:is_for_handicaped)
            %strong.fr= t('yes')

        - if @course.min_age_for_kid
          %li
            %label= Course.human_attribute_name(:min_age_for_kid)
            %strong.fr= "#{@course.min_age_for_kid} ans"
        - if @course.max_age_for_kid
          %li
            %label= Course.human_attribute_name(:max_age_for_kid)
            %strong.fr= "#{@course.max_age_for_kid} ans"
