%article#tab-planning.tab-pane.active
  .gw
    .g.five-eighths
      - if @course.is_training?
        = render 'training_schedule'
      - if @course.is_lesson?
        = render 'lesson_schedule'
      - if @course.is_workshop?
        = render 'workshop_schedule'
    .g.three-eighths
      %h4.islet.proceed.no-bottom-margin= t('.infos')
      %ul.block-list.alternate-color.milli
        %li.flexbox
          %label.flexbox__item= Level.model_name.human
          %strong.flexbox__item.proceed
            = @course.levels.map{|level| t(level.name)}.join(', ')

        %li.flexbox
          %label.flexbox__item= Audience.model_name.human
          %strong.flexbox__item.proceed
            = @course.audiences.map{|audience| t(audience.name)}.join(', ')

        %li.flexbox
          %label.flexbox__item= Course.model_name.human
          - if @course.is_individual
            %strong.flexbox__item.proceed= Course.human_attribute_name(:is_individual)
          - else
            %strong.flexbox__item.proceed= t('.collective')
        - if @course.has_teacher?
          %li.flexbox
            %label.flexbox__item= Course.human_attribute_name(:teacher_name)
            %h2.teacher-name.flexbox__item.proceed= join_teachers @course

        - unless @course.frequency.nil?
          %li.flexbox
            %label.flexbox__item= Course.human_attribute_name(:frequency)
            %strong.flexbox__item.proceed= t(@course.frequency)

        %li.flexbox
          %label.flexbox__item= t('.can_be_joined_during_year')
          %strong.flexbox__item.proceed= (@course.can_be_joined_during_year ? t('yes') : t('no'))

        %li.flexbox
          %label.flexbox__item= t('.class_during_holidays')
          %strong.flexbox__item.proceed= (@course.plannings.first.class_during_holidays ? t('yes') : t('no'))

        - if @course.is_for_handicaped
          %li.flexbox
            %label.flexbox__item= Course.human_attribute_name(:is_for_handicaped)
            %strong.flexbox__item.proceed= t('yes')
