%article#tab-planning.tab-pane.active
  .grid
    .grid__item.five-eighths.palm--one-whole.lap--one-whole>
      - if @plannings.any?
        - if @course.is_training?
          = render 'training_schedule'
        - if @course.is_lesson?
          = render 'lesson_schedule'
        - if @course.is_workshop?
          = render 'workshop_schedule'
        %p.milli
          %i Dernière mise à jour le #{l(@course.updated_at, format: :date)}.
          / %br
          / %i Planning susceptible d'avoir été modifié.
      - else
        %p Pas de planning pour ce cours.
    .grid__item.three-eighths.palm--one-whole.lap--one-whole
      %h4.islet.proceed.flush--bottom= t('.infos')
      %ul.block-list.alternate-color.milli
        %li.flexbox
          %label.flexbox__item= Course.model_name.human
          - if @course.is_individual
            %strong.flexbox__item.proceed= Course.human_attribute_name(:is_individual)
          - else
            %strong.flexbox__item.proceed= t('.collective')
        - if @course.has_teacher?
          %li.flexbox
            %label.flexbox__item= Course.human_attribute_name(:teacher).titleize
            %h3.teacher-name.flexbox__item.proceed= join_teachers @course

        - unless @course.frequency.nil?
          %li.flexbox
            %label.flexbox__item= Course.human_attribute_name(:frequency)
            %strong.flexbox__item.proceed= t(@course.frequency)
