%article#tab-prices.tab-pane
  %table.table--striped.table--data#planning-schedule
    %thead
      %tr
        %th= t('formule_type')
        %th.text-center= t('without_promo')
        %th.text-center= t('with_promo')
    %tbody
      = render @course.prices
      = render @course.book_tickets
  %footer
    %h4= t('infos')
    %p= @course.price_details unless @course.price_details.blank?
    %p= @course.price_info    unless @course.price_info.blank?
    %ul
      - @course.registration_fees.each do |registration_fee|
        %li
          - if registration_fee.for_kid
            = t('kid_registration_fee')
          - else
            = t('registration_fee')
          = registration_fee.price
          €
