%article#tab-prices.tab-pane
  %table.table--striped.table--data#planning-schedule
    %thead
      %tr
        %th= t('.formule_type')
        %th.text--center= t('.price')
    %tbody
      = render partial: 'prices/price'            , collection: @course.prices
      = render partial: 'book_tickets/book_ticket', collection: @course.book_tickets
  %footer
    %h4= t('.infos', place_name: @place.long_name)
    %ul
      - if @course.price_details
        %li= @course.price_details
      - if @course.price_info
        %li= @course.price_info.html_safe
      - if @structure.registration_info
        %li= @structure.registration_info
      - unless @course.registration_fees.empty?
        - @course.registration_fees.each do |registration_fee|
          %li
            - if registration_fee.for_kid
              = RegistrationFee.human_attribute_name(:kid_registration_fee)
            - else
              = RegistrationFee.human_attribute_name(:registration_fee)
            = "#{readable_amount(registration_fee.amount)}€"
    - if @structure.accepts_holiday_vouchers or @structure.accepts_ancv_sports_coupon or @structure.accepts_leisure_tickets or @structure.accepts_afdas_funding or @structure.accepts_dif_funding or @structure.accepts_cif_funding
      %p.flush--bottom= t('.possible_funding')
    %ul
      - if @structure.accepts_holiday_vouchers
        %li= t('.holiday_vouchers')
      - if @structure.accepts_ancv_sports_coupon
        %li= t('.sport_coupons')
      - if @structure.accepts_leisure_tickets
        %li= t('.leisure_coupons')
      - if @structure.accepts_afdas_funding
        %li= t('.afdas_html')
      - if @structure.accepts_dif_funding
        %li= t('.dif_html')
      - if @structure.accepts_cif_funding
        %li= t('.cif_html')

