%article#tab-prices.tab-pane
  %table.table--striped.table--data#planning-schedule
    %thead
      %tr
        %th= t('.formule_type')
        %th.text-center= t('.without_promo')
        %th.text-center= t('.with_promo')
    %tbody
      = render @course.prices
      = render @course.book_tickets
  %footer
    %h4= t('infos')
    %p= @course.price_details        unless @course.price_details.blank?
    %p= @course.price_info.html_safe unless @course.price_info.blank?
    %ul
      - @course.registration_fees.each do |registration_fee|
        %li
          - if registration_fee.for_kid
            = RegistrationFee.human_attribute_name(:kid_registration_fee)
          - else
            = RegistrationFee.human_attribute_name(:registration_fee)
          = "#{registration_fee.price}€"
        - if @structure.registration_info
          %li= @structure.registration_info
    / # Mettre un lien pour CIF, DIF etc.
    %p= t('.possible_funding')
    %ul
      - if @structure.accepts_holiday_vouchers
        %li= t('.holiday_vouchers')
      - if @structure.accepts_ancv_sports_coupon
        %li= t('.sport_coupons')
      - if @structure.accepts_leisure_tickets
        %li= t('.leisure_coupons')
      - if @structure.accepts_afdas_funding
        %li= t('.afdas')
      - if @structure.accepts_dif_funding
        %li= t('.dif')
      - if @structure.accepts_cif_funding
        %li= t('.cif')
