- params[:search][:types]       ||= ['lesson', 'training']
- params[:search][:audiences]   ||= []
- params[:search][:levels]      ||= []
- params[:search][:week_days]   ||= []
- params[:search][:time_slots]  ||= []
- params[:search][:price_range] ||= {min: 0, max: 1000}

%section.gw
  = form_tag courses_path, class: 'g one-whole', method: :get, authenticity_token: false do
    .one-whole.header-search-bar
      .two-twelfths
        %input.search-input{placeholder: 'Danse, Cuisine, ...', type: 'search', name: 'search[discipline]', value: params[:search][:discipline]}
      .eight-twelfths
        %div
          = label_tag 'search_lesson_course_type', 'Cours'
          = check_box_tag 'search[types][]', 'lesson', params[:search][:types].include?('lesson'), id: "search_lesson_course_type"
          = label_tag 'search_training_course_type', 'Stage'
          = check_box_tag 'search[types][]', 'training', params[:search][:types].include?('training'), id: "search_training_course_type"

        %div
          - LeBonCours::Application::WEEK_DAYS.each_with_index do |week_day, i|
            = label_tag "search_week_day_#{week_day.downcase}", week_day
            = check_box_tag 'search[week_days][]', week_day, params[:search][:week_days].include?(week_day), id: "search_week_day_#{week_day.downcase}"
      .two-twelfths
        %button.btn{type: 'submit'}
          %i.icon-search
          Chercher
