%article#tab-structure-info.tab-pane
  %h3.flush--bottom.islet= @place.long_name
  %ul
    - if @structure.structure_type
      %li
        %h4.base-font-style.flush--bottom= t(@structure.structure_type)
    - if @structure.email_address
      %li
        = t('.contact')
        = link_to @structure.email_address, "mailto:#{@structure.email_address}"
    - if @structure.gives_professional_courses
      %li= t('.give_professional_courses')
    %li= readable_address @place
    - if @place.info
      %li= @place.info
    - if @place.nb_room
      %li= t('.number_of_room', count: @place.nb_room)
    - if @structure.website
      %li
        = Structure.human_attribute_name(:website)
        = link_to @structure.website, @structure.website, target: '_blank', rel: 'nofollow'
    - if @structure.info
      %li
        = t('.other_info')
        = @structure.info.html_safe
    - if @place.has_handicap_access
      %li= Structure.human_attribute_name(:has_handicap_access)
    - unless @structure.has_registration_form.blank?
      %li= t('.has_registration_form')
      %li
        = t('.required_documents_for_registration')
        %ul
          - if @structure.needs_photo_id_for_registration
            %li= t('.photo_id')
          - if @structure.needs_id_copy_for_registration
            %li= t('.id_copy')
          - if @structure.needs_medical_certificate_for_registration
            %li= t('.medical_certificate')
          - if @structure.needs_insurance_attestation_for_registration
            %li= t('.insurance_attestation')

