%article#tab-structure-info.tab-pane
  %h4= @structure.name
  %ul
    %li= readable_address @structure
    - if @structure.adress_info
      %li= @structure.adress_info
    - if @structure.nb_room
      %li= t('.number_of_room', count: @structure.nb_room)
    %li
      = Structure.human_attribute_name(:website)
      = link_to @structure.website, @structure.website, target: '_blank'
    - unless @structure.info.blank?
      %li
        = t('.other_info')
        = @structure.info
    - if @structure.has_handicap_access
      %li= Structure.human_attribute_name(:has_handicap_access)
    - unless @structure.has_registration_form.blank?
      %li= t('.has_registration_form')
      %li
        = t('.required_documents_for_registration')
        %ul
          - if @structure.needs_photo_id_for_registration
            %li= t('.photo_id')
          - if @structure.needs_id_copy_for_registration
            %li= t('.id_copy')
          - if @structure.needs_medical_certificate_for_registration
            %li= t('.medical_certificate')
          - if @structure.needs_insurance_attestation_for_registration
            %li= t('.insurance_attestation')

