%table.table--striped.table--data
  %thead
    %tr
      %th Dates
      %th.text--center Durée
      %th Places dispo
      %th.text--center Promo
      %th.text--center
        %i.lbc-icon-info i
  %tbody
    - @plannings.each do |planning|
      %tr{data: {'course-id' => planning.course_id}}
        %td= training_dates planning
        %td.text--center= "#{pluralize(planning.length, 'jour')}"
        %td.text--center= planning.nb_place_available || '-'
        %td.text--center
          - if planning.promotion
            .promo-marker= readable_promotion planning
        %td.text--center
          - planning_info = day_by_day_schedule planning
          - if planning.info.present?
            - planning_info += '<br>' + planning.info
          - if planning_info != ''
            .lbc-brand-icon{data: {behavior: 'popover', content: planning_info}}
