%table.table--striped.table--data
  %thead
    %tr
      %th Dates
      %th.text--center Durée
      - if @has_nb_place
        %th Places dispo
      - if @has_promotion
        %th.text--center Promo
      %th.text--center
        %i.lbc-icon-info i
  %tbody
    - @plannings.each do |planning|
      %tr{data: {'course-id' => planning.course_id}}
        %td= training_dates planning
        %td.text--center= "#{pluralize(planning.length, 'jour')}"
        - if @has_nb_place
          %td.text--center= planning.nb_place_available
        - if @has_promotion
          %td.text--center
            - if planning.promotion
              .promo-marker= readable_promotion planning
        %td.text--center
          - if planning.info.present?
            .lbc-brand-icon{data: {behavior: 'popover', content: planning.info}}
