%table.table--striped.table--data
  %thead
    %tr
      %th Date
      %th.text--center Créneau horaire
      %th.text--center Durée
      - if @has_nb_place
        %th Places dispo
      %th.text--center
        %i.lbc-icon-info i
  %tbody
    - @plannings.each do |planning|
      %tr{data: {'course-id' => planning.course_id}}
        %td
          - if planning.day_one
            = l(planning.day_one, format: :semi_long).capitalize
          - else
            = week_day_for planning
        %td.text--center= readable_time_slot planning.start_time, planning.end_time
        %td.text--center= readable_duration planning.day_one_duration || planning.duration
        - if @has_nb_place
          %td.text--center= planning.nb_place_available
        %td.text--center
          - if planning.info.present?
            .lbc-brand-icon{data: {behavior: 'popover', content: planning.info}}
