.gw
  = render 'search_form'
  %section.g.three-tenths
    = render 'side_search_form'
  %section.g.seven-tenths
    .flexbox.page-entries-wrapper
      .flexbox__item
        .proceed= paginate @courses, window: 1, outer_window: 1
    %ul.block-list.course-list
      = render partial: 'course', :collection => @courses

    %footer.g.one-whole
      = paginate @courses, window: 2, outer_window: 1
