- @prerender_not_ready = true

- if @subject
  - title = "#{@subject.name.gsub('&', 'et')} à #{@city.name} (#{@city.department_code})"
- else
  - title = "Tous les cours de loisirs à #{@city.name || 'Paris'} (#{@city.department_code}) "

- if params[:page] and params[:page].to_i > 3
  = content_for :right_after_head do
    %meta{ name: 'robots', content: 'noindex,follow' }

= content_for :title do
  = "#{title} | CoursAvenue.com".html_safe

= content_for :meta_description do
  #{title} : #{number_with_delimiter @total} Cours d'Essai GRATUITS & Promotions - CoursAvenue.com. Consultez #{number_with_delimiter Comment::Review.count} avis d'élèves, #{number_with_delimiter Media.count} photos.

.full-screen-item.flexbox.absolute.north.west.on-top.bg-white
  .flexbox__item.v-middle
    .text--center.soft--sides
      = image_tag 'logos/logo@2x.png', style: 'height: auto; width: 367px;', alt: 'CoursAvenue'
    .spinner
      .double-bounce1
      .double-bounce2
      .double-bounce3

= react_component('SearchPageApp', { map_center: [@city.latitude, @city.longitude],
                                     subject: (@subject and @subject != @root_subject ? @subject : nil),
                                     root_subject: (@root_subject ? @root_subject : nil),
				     locate_user: (params[:locate_user].present?),
				     show_subject_panel: (params[:show_subject_panel].present?),
				     favorite_cards: @favorite_cards,
				     logged_in: current_user.present?,
				     address: { name: @city.name, latitude: @city.latitude, longitude: @city.longitude, city: @city.name, is_address: false } },
				     { prerender: false })
= content_for :scripts do
  :javascript
    window.is_mobile = COURSAVENUE.helperMethods.isMobile.any();

.visuallyhidden
  %ol
    %li{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
      = link_to root_search_page_without_subject_path(@city), itemprop: 'url' do
        %span{ itemprop: 'title' }= "#{@city.name} (#{@city.zip_code})"
    - if @root_subject
      %li{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
        = link_to root_search_page_path(@root_subject, @city), itemprop: 'url' do
          %span{ itemprop: 'title' }= "#{@root_subject.name} à #{@city.name} (#{@city.zip_code})"

    - if @subject and !@subject.root?
      %li{ itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb' }
        = link_to search_page_path(@root_subject, @subject, @city) do
          %span{ itemprop: 'title' }= "#{@subject.name} à #{@city.name} (#{@city.zip_code})"

  - if @root_subject.nil?
    - Subject.roots.stars.each do |root_subject|
      = link_to "#{root_subject.name} à #{@city.name} (#{@city.zip_code})", root_search_page_path(root_subject, @city)
  - elsif @subject.root?
    - @root_subject.descendants.each do |subject|
      = link_to "#{subject.name} à #{@city.name} (#{@city.zip_code})", search_page_path(@root_subject, subject, @city)

