= content_for :head do
  - if @subject
    %link{rel: 'canonical', href: subject_courses_url(@subject)}
  - else
    %link{rel: 'canonical', href: courses_url}

.grid
  .grid__item= render 'search_form'
  %section.grid__item.three-tenths.visuallyhidden--palm.visuallyhidden--lap>
    = render 'side_search_form'
  %section.grid__item.seven-tenths.lap--one-whole.palm--one-whole
    - if params[:subject_id]
      %h1.text--center.delta.push--top.flush--bottom.lbl.lbl--blue Tous les cours et stages de <u>#{@subject.name.downcase}</u>
    - else
      %h1.text--center.delta.push--top.flush--bottom.lbl.lbl--blue Tous les cours et stages
    %ul.tab-titles
      %li.tab-el.active Par cours
      %li
        - if @subject
          = link_to 'Par établissement', subject_places_path(@subject, name: params[:name]), class: 'tab-el', onclick: "_gaq.push(['_trackEvent', 'Chercher par établissement', 'click'])"
        - else
          = link_to 'Par établissement', places_path(name: params[:name]), class: 'tab-el', onclick: "_gaq.push(['_trackEvent', 'Chercher par établissement', 'click'])"


    .flexbox.page-entries-wrapper
      .flexbox__item.palm--one-whole
        %p.flush--bottom= page_entries_info @courses, entry_name: Course.model_name.human.downcase
        .spoken-form
          %label Trier par :
          %a.filter-select{href: '#', class: (params[:sort] == 'relevancy' ? 'bold' : ''), data: {value: 'relevancy'}} Pertinence
          \/
          %a.filter-select{href: '#', class: (params[:sort] == 'rating_desc' ? 'bold' : ''), data: {value: 'rating_desc'}} Popularité
          \/
          %a.filter-select{href: '#', class: (params[:sort] == 'price_asc' ? 'bold' : ''), data: {value: 'price_asc'}} Prix
      .flexbox__item.visuallyhidden--palm
        .text--right= paginate @courses, window: 1, outer_window: 1
    - if @courses.empty?
      = render 'no_results'
    - else
      %ul.block-list.course-list
        = render partial: 'courses/course', :collection => @courses

    %footer.g.one-whole
      = paginate @courses, window: 2, outer_window: 1
= content_for :scripts do
  :javascript
      window.addEvent('domready', function() {
          $$('.filter-select').addEvent('click', function() {
              $('hidden-sort-input').set('value', this.dataset.value);
              $('submit_search_form').click();
          });
          $$('[data-type=course-element]').each(function(course_element) {
              course_element.addEvent('click', function(event) {
                  // Change url only if user doesn't click on link
                  if (event.target.nodeName !== 'A') {
                      if (event.meta || event.control) {
                          window.open(this.get('data-url'));
                      } else {
                          window.location = this.get('data-url');
                      }
                      return false;
                  }
              });
          });
          google.maps.event.addDomListener(window, 'load', function() {
              Gmaps.map.addMarkers([{
                id: -1,
                lat: #{params[:lat]},
                lng: #{params[:lng]}
              }]);
          });
      });
