= content_for :title do
  = "#{@course.type_name} de #{@course.name} à #{@city.name} avec #{@structure.name}"
- unless @course.description.blank?
  = content_for :meta_description do
    = @course.description

- if cookies[:search_path]
  = link_to cookies[:search_path] do
    %i.orange ←
    = t('.back_to_results')
- else
  = link_to subjects_path(city: @city.name) do
    %i.orange ←
    = t('.see_arrounding_courses')

%h1.course-title
  %span= @course.name
- if @course.rating
  %div{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://schema.org/AggregateRating'}
    %span.rating{title: comment_rating_title(@course.rating)}
      = rating_stars @course.rating
    %meta{property: 'v:rating', itemprop: 'ratingValue', content: '%.1f' % @course.rating}
    %meta{itemprop: 'bestRating', content: 5}
    (
    %span{itemprop: 'reviewCount'}= @course.comments.count
    %i.lbc-brand-icon
    )

%ul.nav
  %li
    %h4.flush--bottom
      %span.lbl.milli= @course.type_name_html
  - @subjects.each do |subject|
    %li
      %h3.flush--bottom
        %span.milli.lbl.blue= link_to subject.name, subject_courses_path(subject), class: 'subject-link'

.gw
  %section.g.three-tenths#summary.palm-one-whole.float--right.hide--lap
    = render 'contact_structure'
    %article.hide--palm
      %h4.flush--bottom D'autres cours pour vous !
      %ul.block-list
        - @similar_courses.each do |course|
          %li
            = link_to course_path(course), class: 'flexbox similar-course--image-wrapper' do
              .flexbox__item.one-fifth.similar-course--image
                - unless course.promotion_planning.nil?
                  .milli.course-promo.price-badge= readable_promotion course.promotion_planning
                - if course.image.present?
                  = image_tag course.image.url(:thumb)
                - else
                  = image_tag course.subjects.first.image.url(:thumb)
              .flexbox__item.similar-course
                %h2.similar-course--course-name= course.name
                %h3.similar-course--structure-name
                  %i.icon-map-marker
                  = course.structure.name
  %section.g.seven-tenths.palm-one-whole.lap-one-whole
    .course-header-badge
      .course-header-image.one-half.palm-one-whole
        - if @course.image.present?
          = image_tag @course.image.url(:wide), class: 'course-header-badge-image'
        - else
          = image_tag @course.subjects.first.image.url(:wide), class: 'course-header-badge-image'

      .course-header-map.one-half.palm-one-whole
        = gmaps( {markers: {data: @json_place_address}, map_options: {maxZoom: 15, mapTypeControl: false}} )
        %h2.course-header-structure-name
          %b= @structure.name
          %br
          %i.icon-map-marker
          = readable_address @place
    %div{style: 'margin-top: 1em;'}
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="CoursMania" data-lang="fr">Tweeter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div style="display:none;" id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=589759807705512";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <div class="fb-like" data-send="false" data-width="500" data-show-faces="false" data-action="recommend"></div>


    %ul.tab-titles{data: {behavior: 'tabs'}}
      %li.tab-el.active{data: { el: 'tab-planning' }}= t('.planning')
      %li.tab-el{data: { el: 'tab-prices' }}= t('.prices')
      %li.tab-el{data: { el: 'tab-description' }}= Course.human_attribute_name(:description)
      %li.tab-el{data: { el: 'tab-structure-info' }}= t('.structure')
      %li.tab-el.float--right
        = link_to place_path(@place) do
          = "Voir tous les cours de #{truncate @place.long_name, length: 20}"

    .tab-content
      = render 'planning_tab'
      = render 'price_tab'
      = render 'description_tab'
      = render 'structure_tab'

    %hr
    %article#comments
      = render 'comments'
