- unless @course.description.blank?
  = content_for :meta_description do
    = @course.description

%ol.nav
  %li= link_to @structure.city.name, courses_path(city: params[:city], subject: t('all_subject_route_name'))
  %i.icon-angle-right.orange
  %li= link_to @subjects.first.parent.name, courses_path(city: params[:city], subject: @subjects.first.parent.short_name)
  %i.icon-angle-right.orange
  %li= link_to @subjects.first.name, courses_path(city: params[:city], subject: @subjects.first.short_name)

.gw
  %section.g.seven-tenths

    %h1.course-title
      %span= @course.name
    %ul.nav
      %li
        %span.lbl.milli= @course.type_name
      - @subjects.each do |subject|
        %li
          %span.milli.lbl.blue= subject.name

    .course-header-badge
      .course-header-image
        - if @course.image.present?
          = image_tag @course.image.url(:wide), class: 'course-header-badge-image'
        - else
          = image_tag @course.subjects.first.image.url(:wide), class: 'course-header-badge-image'

      .course-header-map
        = gmaps( {markers: {data: @json_structure_address}, map_options: {maxZoom: 15, mapTypeControl: false}} )
        %h2.course-header-structure-name
          %b= @structure.name
          %br
          %i.icon-map-marker
          = readable_address @structure

    %ul.tab-titles{data: {behavior: 'tabs'}}
      %li.active{data: { el: 'tab-planning' }}= t('.planning')
      %li{data: { el: 'tab-prices' }}= t('.prices')
      %li{data: { el: 'tab-description' }}= Course.human_attribute_name(:description)
      %li{data: { el: 'tab-structure-info' }}= t('.structure')

    .tab-content
      = render 'planning_tab'
      = render 'price_tab'
      = render 'description_tab'
      = render 'structure_tab'

    %hr
    %article
      %header
        %h4= t('.last_students_opinion')
        %h5 Espace en cours de lancement



  %section.g.three-tenths#summary
    = render 'contact_structure'
    %article
      %h4 D'autres cours pour vous !
      %ul.block-list
        - @similar_courses.each do |course|
          %li
            = link_to full_course_path(course), class: 'flexbox' do
              .flexbox__item.one-fifth
                - if course.image.present?
                  = image_tag course.image.url(:thumb), class: 'similar-course--image'
                - else
                  = image_tag course.subjects.first.image.url(:thumb), class: 'similar-course--image'
              .flexbox__item
                %h2.similar-course--course-name= course.name
                %h3.similar-course--structure-name
                  %i.icon-map-marker
                  = course.structure.name

