- if @course.image
  = content_for :meta_image do
    = @course.image.url

= content_for :title do
  = "#{@course.type_name} de #{@course.name} à #{@city.name} avec #{@structure.name}"

= content_for :meta_description do
  - if @course.description.present?
    = @course.description
  - else
    - if @course.has_teacher?
      = "Réservez le #{@course.type_name.downcase} de #{@course.name} à #{@city.name} par #{join_teachers(@course)}. Retrouvez tous les avis et infos sur ce #{@course.type_name.downcase}."
    - else
      = "Réservez le #{@course.type_name.downcase} de #{@course.name} à #{@city.name}. Retrouvez tous les avis et infos sur ce #{@course.type_name.downcase}."

- if cookies[:search_path]
  = link_to cookies[:search_path] do
    %i.orange ←
    = t('.back_to_results')
- else
  = link_to courses_path(city: @city.name) do
    %i.orange ←
    = t('.see_arrounding_courses')

%h1.course-title
  %span= @course.name
- if @course.rating
  %div
    %span.rating{title: comment_rating_title(@course.rating)}
      = rating_stars @course.rating
    (
    %span= @course.comments.count
    %a{href: '#comments'}
      %i.lbc-brand-icon
    )

%ul.nav
  %li
    %h4.flush--bottom
      %span.lbl.milli= @course.type_name_html
  - @subjects.each do |subject|
    %li
      %h3.flush--bottom
        %span.milli.lbl.blue= link_to subject.name, subject_courses_path(subject), class: 'subject-link'

.grid
  - # To Float left to have it first on mobile
  %section.grid__item.three-tenths#summary.palm--one-whole.lap--one-whole.float--right>
    = render 'contact_structure'
    .text--center.white-box.islet
      - if @course.rating
        .delta Note : #{'%.1f' % @course.rating}
        %div.gamma.push-half--bottom.push-half--top{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
          %span.rating{title: comment_rating_title(@course.rating)}
            = rating_stars @course.rating
          %meta{property: 'v:rating', itemprop: 'rating', content: '%.1f' % @course.rating}
          %meta{itemprop: 'count', content: @course.comments.count}
          %meta{itemprop: 'itemreviewed', content: @course.name}
          %meta{itemprop: 'name', content: @course.name}
          %meta{itemprop: 'street-address', content: @place.street}
          %meta{itemprop: 'postal-code', content: @place.zip_code}
          %meta{itemprop: 'locality', content: @city.name}

      - else
        .delta.push--bottom Aucun avis
      %div
        = link_to 'Donner mon avis', '#comments', class: 'btn btn__primary', onclick: "_gaq.push(['_trackEvent', 'Donner mon avis - cours', 'click','#{@course.slug}'])"
    %hr
    %article.visuallyhidden--palm.visuallyhidden--lap
      .delta D'autres cours pour vous !
      %ul.block-list
        - @similar_courses.each do |course|
          %li
            = link_to course_path(course), class: 'flexbox similar-course--image-wrapper' do
              .flexbox__item.one-fifth.similar-course--image
                - if course.image.present?
                  = image_tag course.image.url(:thumb), alt: "#{course.type_name} de #{course.name}"
                - else
                  = image_tag course.subjects.first.image.url(:thumb), alt: "#{course.type_name} de #{course.name}"
              .flexbox__item.similar-course
                %h3.similar-course--course-name= course.name
                %h4.similar-course--structure-name
                  %i.icon-map-marker
                  = course.place.long_name

  %section.grid__item.seven-tenths.palm--one-whole.lap--one-whole
    .course-header-badge
      .course-header-image.one-half.palm--one-whole
        - if @course.image.present?
          = image_tag @course.image.url(:wide), class: 'course-header-badge-image', alt: "#{@course.type_name} : #{@course.name}"
        - else
          = image_tag @course.subjects.first.image.url(:wide), class: 'course-header-badge-image', alt: "#{@course.type_name} : #{@course.name}."

      .course-header-map.one-half.palm--one-whole
        = gmaps( {markers: {data: @json_place_address}, map_options: {maxZoom: 15, mapTypeControl: false}} )
        %div{itemscope: true, itemtype: 'http://schema.org/Place'}
          %h2.course-header-structure-name
            %b= @structure.name
            %div
              %i.icon-map-marker
              = readable_address @place
          .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
            %meta{itemprop: 'latitude', content: @place.latitude}
            %meta{itemprop: 'longitude', content: @place.longitude}

    = render 'share_links'

    %hr
    - if @course.description.present? and @course.description.length > 30
      %h2.delta Description du #{@course.type_name_html.downcase} de : #{@course.name}
      %p= @course.description

    %ul.tab-titles{data: {behavior: 'tabs'}}
      %li.tab-el.active{data: { el: 'tab-planning' }}= t('.planning')
      %li.tab-el{onclick: "_gaq.push(['_trackEvent', 'Infos tarif', 'click', '#{@course.slug}'])", data: { el: 'tab-prices' }}= t('.prices')
      %li.tab-el{onclick: "_gaq.push(['_trackEvent', 'Infos cours', 'click', '#{@course.slug}'])", data: { el: 'tab-description' }}= t('.infos')
      %li.tab-el{onclick: "_gaq.push(['_trackEvent', 'Infos structure', 'click', '#{@course.slug}'])", data: { el: 'tab-structure-info' }}= t('.structure')
      %li.tab-el.float--right
        = link_to place_path(@place) do
          = "Voir tous les cours de #{truncate @place.long_name, length: 20}"

    .tab-content
      = render 'planning_tab'
      = render 'price_tab'
      = render 'description_tab'
      = render 'structure_tab'

    %hr
    %article#comments
      = render 'comments'

