= user_menu_currently_at 'reviews'
%h3 Modification du commentaire
%h4 Établissement : #{@comment.structure.name}
.white-box.islet
  = simple_form_for [current_user, @comment] do |f|
    = f.input :course_name
    = f.input :title
    = f.input :content, input_html: { data: {behavior: 'autoresize'} }
    .form-actions
      = f.submit 'Enregistrer', class: 'btn btn--green', data: { disable_with: "En cours d'enregistrement" }
