= user_menu_currently_at 'profile'

.flexbox
  = render partial: 'users/left_menu', locals: { current: 'reviews' }
  .flexbox__item.four-fifths.v-top
    .panel
      .panel__body.soft
        %h3
          %i.fa-comments-alt
          Mes avis postés
        - if @comments.any?
          %ul.comment-list
            = render partial: '/comments/comment', collection: @comments.accepted, locals: { with_link: true }
        - else
          %p
            Vous n'avez écrit aucun avis.
            %br
            Vous avez pris des cours mais ils ne sont pas référencés ?
            = link_to 'Faites-le nous savoir !', pages_contact_path, onclick: "ga('send', 'event', 'Connait un professeur', 'click', '#{@user.email}')"
