= side_menu_currently_at 'statistics'

%h1 Statistiques

%div{ data: { behavior: 'wizard-helper', content: t('statistics.wizard.premium_infos') } }
  .grid.push--bottom
    .grid__item.one-third.text--center.v-middle>
      .inline-block.cursor-pointer{ data: { behavior: 'toggle-premium-serie' } }
        .v-middle.lbl.lbl--red.v-middle.lbl--chip
        .v-middle.inline-block.text--left
          %h5.flush
            Visiteurs page planning :
            = @website_planning_views_count
          %div Sur votre site web
    .grid__item.one-third.text--center.v-middle>
      .inline-block.cursor-pointer.nowrap{ data: { behavior: 'toggle-premium-serie' } }
        .v-middle.lbl.lbl--blue.v-middle.lbl--chip
        %h5.flush.v-middle.inline-block
          Visiteurs profil CoursAvenue :
          = @views_total_count
    .grid__item.one-third.text--center.v-middle>
      .inline-block.cursor-pointer{ data: { behavior: 'toggle-premium-serie' } }
        .v-middle.lbl.lbl--green.v-middle.lbl--chip
        %h5.flush.v-middle.inline-block
          Inscription :
          = @actions_total_count
  #statistics

- website_planning_views = @website_planning_views.present? ? @website_planning_views.value : 0
:javascript
  window.coursavenue = {};
  window.coursavenue.series = [ { data: #{ website_planning_views },
                                  name: 'Affichages',
                                  stack: 'Affichages'
                                 },
                                { data: #{ @views.values },
                                  name: 'Vues',
                                  stack: 'Vues'
                                },
                                { data: #{ @actions.values },
                                  name: 'Actions',
                                  stack: 'Actions'
                                }
                              ]

= content_for :scripts do
  = javascript_include_tag 'libs/highcharts/highcharts'
  = javascript_include_tag 'libs/highcharts/modules/exporting'
  :javascript
    $(function() {
        var statistic_chart = new Highcharts.Chart({
            chart: { renderTo: 'statistics', type: 'column' },
            title: { text: null },
            legend: { enabled: false },
            xAxis: {
                categories: #{@empty_hash_of_days.map{|date| l(Date.parse(date.to_s), format: :short)}},
                showEmpty: true
            },
            yAxis: {
                title: { text: ''},
                showEmpty: true,
                minTickInterval: 1
            },
            colors: ['#e2493c', '#3ab8ae', '#47b442', '#62bc62', '#A0D468', '#B9DF90', '#71BB21'],
            plotOptions: {
                series: {
                    pointPadding: 0,
                    groupPadding: 0.1,
                    borderWidth: 0,
                    shadow: false
                },
                column: {
                    stacking: 'normal'
                }
            },
            series: window.coursavenue.series
        });
        $("[data-behavior='toggle-serie']").each(function(index) {
            var serie = statistic_chart.series[index];
            $(this).click(function() {
                if (serie.visible) {
                    $(this).addClass('muted');
                    serie.hide();
                    if (index == 2) {
                        statistic_chart.series[3].hide();
                        statistic_chart.series[4].hide();
                    }
                } else {
                    $(this).removeClass('muted');
                    serie.show();
                    if (index == 2) {
                        statistic_chart.series[3].show();
                        statistic_chart.series[4].show();
                    }
                }
            });
        });
    });
