= side_menu_currently_at 'statistics'
.panel
  .panel__header.soft
    %h3.flush.text--center Statistiques de votre profil des 15 derniers jours
  .panel__body.soft--ends.relative
    .soft--sides{ data: { behavior: 'wizard-helper', content: t('statistics.wizard.infos') } }
      .relative.soft.premium-box.text--center.push--bottom
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/premium-ribbon.png', class: 'north west absolute on-top', height: 70, width: 70, style: 'width: 70px; height: 70px;'
        = render partial: 'pro/structures/premium_select', locals: { title: 'suivre toutes les statistiques de votre profil CoursAvenue ?', label_text: "Statistiques du nombre de consultations et d'actions :", select_collection: ['Visibles', 'Non visibles'] }

      .grid.push--bottom
        .grid__item.one-third.text--center.v-middle>
          .inline-block.pointer{ data: { behavior: 'toggle-serie' } }
            .v-middle.lbl.lbl--red.v-middle.lbl--small &nbsp;
            %h5.flush.v-middle.inline-block
              Affichages :
              = @impressions_total_count
        .grid__item.one-third.text--center.v-middle>
          .inline-block.pointer.nowrap{ data: { behavior: 'toggle-serie' } }
            .v-middle.lbl.lbl--blue.v-middle.lbl--small &nbsp;
            %h5.flush.v-middle.inline-block
              Consultations :
              - if @structure.premium? or current_pro_admin.super_admin?
                = @views_total_count
              - else
                = render partial: 'pro/structures/premium_select', locals: { title: 'suivre toutes les statistiques de votre profil CoursAvenue ?', label_text: "", select_collection: ['Visibles', 'Non visibles'], show_bubble: false }
        .grid__item.one-third.text--center.v-middle>
          .inline-block.pointer{ data: { behavior: 'toggle-serie' } }
            .v-middle.lbl.lbl--green.v-middle.lbl--small &nbsp;
            %h5.flush.v-middle.inline-block
              Actions :
              - if @structure.premium? or current_pro_admin.super_admin?
                = @actions_total_count
              - else
                = render partial: 'pro/structures/premium_select', locals: { title: 'suivre toutes les statistiques de votre profil CoursAvenue ?', label_text: "", select_collection: ['Visibles', 'Non visibles'], show_bubble: false }

      #statistics

    %hr.push--sides

    .soft--sides{ data: { behavior: 'wizard-helper', content: t('statistics.wizard.advices') } }
      %h4 Conseils personnalisés
      %p.epsilon Bénéficiez de conseils en marketing et en communication que vous pouvez également appliquer sur tous vos supports de communication (site Internet, newsletters, affiches, etc.)
      .text--center
        - if @structure.premium?
          = link_to 'Contacter un conseiller CoursAvenue pour des conseils personnalisés', pages_contact_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--yellow'
        - else
          = link_to 'Conseils personnalisés pour améliorer mes statistiques', premium_modal_pro_structure_path(@structure, title: "des conseils personnalisés de l'équipe CoursAvenue pour améliorer vos performances de profil ?"), class: 'btn btn--yellow f-weight-bold fancybox.ajax', data: { behavior: 'modal', padding: 0, width: 900 }

- if @structure.premium? or current_pro_admin.super_admin?
  :javascript
    window.coursavenue = {};
    window.coursavenue.series = [ { data: #{@impressions.sort.map{|date, count| count}},
                                    name: 'Affichages',
                                    stack: 'Affichages'
                                   },
                                  { data: #{@views.sort.map{|date, count| count}},
                                    name: 'Vues',
                                    stack: 'Vues'
                                  },
                                  { data: #{@phone_actions.sort.map{|date, count| count}},
                                    name: 'Téléphone',
                                    stack: 'Actions'
                                  },
                                  { data: #{@website_actions.sort.map{|date, count| count}},
                                    name: 'Site internet',
                                    stack: 'Actions'
                                  },
                                  { data: #{@message_actions.sort.map{|date, count| count}},
                                    name: 'Message',
                                    stack: 'Actions'
                                  },
                                  { data: #{@follow_actions.sort.map{|date, count| count}},
                                    name: 'Favori',
                                    stack: 'Actions'
                                  },
                                  { data: #{@request_actions.sort.map{|date, count| count}},
                                    name: 'Pass Découverte',
                                    stack: 'Actions'
                                  }
                                ]
- else
  :javascript
    window.coursavenue = {};
    window.coursavenue.series = [ { data: #{@impressions.sort.map{|date, count| count}},
                                    name: 'Affichages'
                                   }
                                ]

= content_for :scripts do
  :javascript
    $(function() {
        var statistic_chart = new Highcharts.Chart({
            chart: { renderTo: 'statistics', type: 'column' },
            title: { text: null },
            legend: { enabled: false },
            xAxis: {
                categories: #{@empty_hash_of_days.map{|date| l(Date.parse(date.to_s), format: :short)}},
                showEmpty: true
            },
            yAxis: {
                title: { text: ''},
                showEmpty: true,
                minTickInterval: 1
            },
            colors: ['#e2493c', '#3ab8ae', '#47b442', '#62bc62', '#A0D468', '#B9DF90', '#71BB21'],
            plotOptions: {
                series: {
                    pointPadding: 0,
                    groupPadding: 0.1,
                    borderWidth: 0,
                    shadow: false
                },
                column: {
                    stacking: 'normal'
                }
            },
            series: window.coursavenue.series
        });
        $("[data-behavior='toggle-serie']").each(function(index) {
            var serie = statistic_chart.series[index];
            $(this).click(function() {
                if (serie.visible) {
                    $(this).addClass('muted');
                    serie.hide();
                    if (index == 2) {
                        statistic_chart.series[3].hide();
                        statistic_chart.series[4].hide();
                    }
                } else {
                    $(this).removeClass('muted');
                    serie.show();
                    if (index == 2) {
                        statistic_chart.series[3].show();
                        statistic_chart.series[4].show();
                    }
                }
            });
        });
    });
