= content_for :title do
  Planning des cours & stages | #{@structure.name}

= content_for :meta_description do
  #{@structure.name} | Tout le planning des cours. Réservation en ligne.

.main-container.relative
  - if @structure.website.present?
    .absolute.north.west.push-half--top.soft-half--left
      = link_to URLHelper.fix_url(@structure.website), class: 'gray' do
        %i.fa.fa-chevron-left.blue-green
        Revenir au site
  %h1.soft--top.text--center.flush= @structure.name
  %h5.text--center Planning avec inscription en ligne
  .grid
    .grid__item.eight-twelfths.palm-one-whole>
      = render partial: 'structures/plannings', locals: { dont_register_user: true, always_show_registration: true }

    .grid__item.four-twelfths.palm-one-whole>
      .push--bottom{ data: { behavior: 'sticky', old_width: 'true', offset_top: '39' } }
        = render 'structures/places'
      - if @structure.comments_count > 0
        .bg-pink.soft--sides.soft-half--ends.bordered--top.bordered--sides.white.border-color-pink-darker
          %h2.flush
            %i.fa.fa-comment.v-middle
            %span.v-middle= "#{@structure.comments_count} avis"
        .bg-white.soft--top.soft--sides.bordered--sides.bordered--bottom
          - @structure.comments.order('created_at DESC').first(3).each do |comment|
            .push--bottom
              %h6.quoted.inline-block.push-half--bottom
                = comment.title
              .read-more{ itemprop: 'reviewBody', data: { behavior: 'read-more' } }
                = simple_format comment.content
              .text--right.flush
                Il y a #{distance_of_time_in_words_to_now comment.created_at} par #{comment.author_name}
          .text--center.push--bottom
            = link_to 'Voir tous les avis', structure_path(@structure), class: 'btn btn--white btn--full'

  .grid.push--top
    .grid__item.eight-twelfths.palm-one-whole>
      .text--right.f-weight-600
        Planning offert avec plaisir par
        = link_to root_url(subdomain: 'pro'), class: 'inline-block v-bottom' do
          = image_tag 'logos/logo.png', alt: 'CoursAvenue', height: 20, class: 'block'
      .text--right.f-weight-600.line-height-2.push--bottom
        Pour le modifier :
        = link_to 'Connexion', pro_structure_courses_url(@structure, subdomain: 'pro')

= content_for :scripts do
  = javascript_include_tag 'https://js.stripe.com/v2/'

  :javascript
    $(function () {
        $(document.body).on('coursavenue:started', function() {
            CoursAvenue.statistic.logView(#{@structure.id}, 'website/planning');
        });
        Stripe.setPublishableKey("#{ Rails.configuration.stripe[:publishable_key] }");
    }());
:javascript
  window.city = '#{@structure.city.slug}'
