%tr{ id: "place-#{place.id}"}
  %td
    - if current_pro_admin
      = link_to place.name, edit_pro_structure_place_path(structure, place)
    - else
      = link_to place.name, place_url(place, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)
  %td= place.address
  %td.text--center
    - if place.info.present? or place.private_info.present?
      %a{ data: { toggle: 'popover', content: place.decorate.popover_place_infos, html: 'true', placement: 'top', trigger: 'hover' } }
        %i.fa.fa-info
  %td.text--right.nowrap
    = link_to edit_pro_structure_place_path(structure, place), class: 'orange fancybox.ajax', data: { behavior: 'modal', width: '750', padding: 0 } do
      %i.fa.fa-pencil
      Modifier
    \/
    = link_to ask_for_deletion_pro_structure_place_path(structure, place), class: 'red fancybox.ajax', data: { behavior: 'modal', width: '400', padding: '0' } do
      %i.fa.fa-trash-o
      Supprimer

