.panel
  .panel__header.soft
    %h4.flush Vérifier l'adresse
    %p.flush.epsilon L'emplacement sur la carte est-il juste ?
  .panel__body
    - if @place.latitude.nil?
      - @place.geocode
      - @place.save
    - if @place.latitude.present?
      = react_component('Map', { markers: [ @place.to_react_json ] })
    .soft
      %p.flush
        %strong= @place.street
        %br
        = @place.zip_code
        = @place.city.name
    %hr.flush.soft--sides
    .soft.text--right
      = link_to "Modifier l'adresse", edit_pro_structure_place_path(@structure, @place, return_to: params[:return_to], return_to_action: params[:return_to_action]), class: 'btn fancybox.ajax', data: { behavior: 'modal', width: '650', padding: '0' }
      - if params[:return_to_action].present?
        %a.btn.btn--green{ onclick: "#{params[:return_to_action]}"} Parfait !
      - else
        %a.btn.btn--green{ onclick: 'window.location.reload();'} Parfait !

  - if @place.latitude.present?
    :javascript
      window.ReactRailsUJS.mountComponents();
