= side_menu_currently_at 'presentation'

= render partial: 'pro/structures/tabs', locals:{ current: 'places' }
%div{ data: { behavior: 'wizard-helper', content: t('pro.places.wizard_helper.index') } }
  .grid.push--bottom
    .grid__item.v-middle.one-half.palm-one-whole>
      %h1.flush Lieux
    .grid__item.v-middle.text--right.one-half.palm-one-whole.palm-text--left>
      = link_to new_pro_structure_place_path(@structure, type: 'Place::Public'), class: 'btn btn--green fancybox.ajax', data: { behavior: 'modal', width: '650', padding: 0 } do
        %i.fa.fa-plus
        Ajouter un lieu
      #new-home-place.line-height-2{ class: (@places.homes.empty? ? '' : 'hidden') }
        = link_to 'Ajouter la zone géographique pour mes cours à domicile', new_pro_structure_place_path(@structure, type: 'Place::Home'), class: 'fancybox.ajax', data: { behavior: 'modal', width: '650', padding: 0 }
      #update-home-place{ class: (@places.homes.empty? ? 'hidden' : '') }
        = link_to 'Modifier la zone géographique pour mes cours à domicile', edit_pro_structure_place_path(@structure, (@places.homes.first ? @places.homes.first : '__HOME_PLACE_ID__')), class: 'fancybox.ajax', data: { behavior: 'modal', width: '650', padding: 0 }
  = react_component('Map', { markers: @places_latlng } )

  %table.table-responsive.table--striped.table--data.flush#place-table{ class: (@places.any? ? '' : 'hidden')}
    %thead
      %tr
        %th.four-twelfths Nom du lieu
        %th.four-twelfths Adresse
        %th.one-twelfths.text--center
          %i.fa-info
        %th.three-twelfths
    %tbody
      - @places.each do |place|
        = render partial: 'pro/structures/places/place', locals: { place: place, structure: @structure }
