- if @structure.logo?
  - content_for :logo do
    = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
      = image_tag @structure.logo.url(:thumb), style: '-ms-interpolation-mode:bicubic;', width: '75', height: '75'

- content_for :promo do
  %h4
    C'est votre dernier jour pour recommander #{@structure.name}.

%p Bonjour !

%p
  #{@structure.name} vous a récemment demandé votre avis sur son profil public CoursAvenue : c'est votre dernier jour pour déposer votre recommandation. C'est simple, très rapide, et #{@structure.name} vous en remerciera !

%p.action
  = link_to 'Déposer ma recommandation', new_structure_comment_url(@structure, email: @email, stage: 2), class: 'btn btn--blue'

%p
  Merci pour votre contribution et à très bientôt !

%p
  L'équipe de CoursAvenue

= content_for :footer do
  %p
    Vous recevez cet email car #{@structure.name} est inscrit sur CoursAvenue et vous demande de lui rédiger une recommandation sur ses cours.
    = link_to 'Ne plus recevoir ces emails', unsubscribe_students_url(@student.access_token, subdomain: 'www')
