%p Bonjour !

%p
  <strong>#{@structure.name} vous a demandé de rédiger une recommandation</strong> qui sera publiée sur son profil public CoursAvenue, le 1er moteur de recherche de cours.
  Votre avis est capital pour continuer à vous proposer des cours toujours plus passionnants qui correspondent à votre besoin, et votre opinion sera également précieuse pour gagner en visibilité sur Internet.

%p.action
  = link_to 'Partager mon opinion.', new_structure_comment_url(@structure, email: @email), class: 'btn btn--blue'

%p
  Merci pour votre contribution et à très bientôt !

%p
  #{@structure.name} et toute l'équipe de CoursAvenue

= content_for :footer do
  %p
    Vous recevez cet email car #{@structure.name} est inscrit sur CoursAvenue et vous demande de lui rédiger une recommandation sur ses cours.

