%h2.gamma.soft-half--bottom.push-half--bottom.f-weight-bold
  Trouver un cours
  %br
  à Paris
%hr
%ul.no-bullet-list.push--bottom
  - if @article and @article.subjects.any?
    - @article.subjects.each do |subject|
      %li
        %h3.epsilon.flush.line-height-1-7.f-weight-normal
          = link_to subject.name, search_page_path(subject.root, subject, 'paris')
  - else
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Danse', root_search_page_path('danse', 'paris')
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Théâtre et scène', root_search_page_path('theatre-scene', 'paris')
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Yoga et bien être', root_search_page_path('yoga-bien-etre-sante', 'paris')
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Musique et chant', root_search_page_path('musique-chant', 'paris')
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Dessin, peinture et arts plastiques', root_search_page_path('dessin-peinture-arts-plastiques', 'paris')
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Sports et arts martiaux', root_search_page_path('sports-arts-martiaux', 'paris')
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Cuisine et vins', root_search_page_path('cuisine-vins', 'paris')
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Photo & vidéo', root_search_page_path('photo-video', 'paris')
    %li
      %h3.epsilon.flush.line-height-1-7.f-weight-normal
        = link_to 'Déco mode et bricolage', root_search_page_path('deco-mode-bricolage', 'paris')

.gamma.soft-half--bottom.push-half--bottom.f-weight-bold Catégories
%hr
%ul.no-bullet-list.push--bottom
  - Blog::Category::UserCategory.find_each do |category|
    %li.epsilon.line-height-1-7
      = link_to category_blog_articles_path(category_id: category.slug) do
        = category.name
        = "(#{category.articles.count})"

- cache 'blog/side_bottom_content/V1' do
  .gamma.soft-half--bottom.push-half--bottom.f-weight-bold Suivez-nous sur les réseaux sociaux
  %hr
  %div
    = link_to 'https://www.facebook.com/CoursAvenue', class: 'push-half--right', target: :_blank, rel: :nofollow do
      %i.fa.fa-facebook.fa-2x
    = link_to 'https://www.twitter.com/CoursAvenue', class: 'push-half--right', target: :_blank, rel: :nofollow do
      %i.fa.fa-twitter.fa-2x
    = link_to 'https://instagram.com/coursavenue', target: :_blank, rel: :nofollow do
      %i.fa.fa-instagram.fa-2x
