%ul.no-bullet-list.push--bottom.text--center
  - Blog::Category::UserCategory.find_each do |category|
    %li.delta.line-height-1-7.ff-droid.f-style-italic.line-height-1-7.bordered--bottom.soft-half--ends
      = link_to category.name, category_blog_articles_path(category_id: category.slug), class: 'link-colored-on-hover'

.text--center.push--bottom.bordered--bottom.soft--bottom
  = link_to 'https://www.facebook.com/CoursAvenue', class: 'push--right link-colored-on-hover', target: :_blank, rel: :nofollow do
    %i.fa.fa-facebook.fa-2x
  = link_to 'https://www.twitter.com/CoursAvenue', class: 'push--right link-colored-on-hover', target: :_blank, rel: :nofollow do
    %i.fa.fa-twitter.fa-2x
  = link_to 'https://instagram.com/coursavenue', class: 'link-colored-on-hover', target: :_blank, rel: :nofollow do
    %i.fa.fa-instagram.fa-2x

= simple_form_for Blog::Subscriber::UserSubscriber.new, as: :blog_subscriber, url: blog_subscribers_path, html: { class: 'text--center push--bottom' } do |f|
  %p.push-half--bottom Restez au courant des dernières nouveautés en vous inscrivant à notre newsletter !
  = f.input :type, as: :hidden
  = f.input :email, label: false, placeholder: 'E-mail', input_html: { class: 'one-whole' }
  = f.submit "M'inscrire", class: 'btn btn--green btn--full'
