= simple_form_for Blog::Subscriber::UserSubscriber.new, as: :blog_subscriber, url: blog_subscribers_path, html: { class: 'text--center push--bottom' } do |f|
  .gamma.ff-droid.f-style-italic.f-weight-bold.push-half--bottom Suivez-nous
  %p.epsilon.line-height-1-7.push-half--bottom Recevez tous les articles concernant vos disciplines favorites et les loisirs à la mode en vous inscrivant à notre newsletter bimensuelle
  = f.input :type, as: :hidden
  = f.input :email, label: false, placeholder: 'E-mail', input_html: { class: 'one-whole' }
  = f.submit "M'inscrire", class: 'btn btn--green btn--full'

.text--center.push--bottom.bordered--top.soft--top
  = link_to 'https://www.facebook.com/CoursAvenue', class: 'push--right link-colored-on-hover', target: :_blank, rel: :nofollow do
    %i.fa.fa-facebook.fa-2x
  = link_to 'https://www.twitter.com/CoursAvenue', class: 'push--right link-colored-on-hover', target: :_blank, rel: :nofollow do
    %i.fa.fa-twitter.fa-2x
  = link_to 'https://instagram.com/coursavenue', class: 'link-colored-on-hover', target: :_blank, rel: :nofollow do
    %i.fa.fa-instagram.fa-2x

