.line-height-2.gamma.soft-half--bottom.push-half--bottom.f-weight-bold Catégories
%hr
%ul.no-bullet-list
  - Blog::Article.tag_counts_on(:tags).each do |tag|
    %li.epsilon.line-height-1-7
      = link_to tags_blog_articles_path(tag: tag.name) do
        = tag.name
        = "(#{Blog::Article.published.tagged_with(tag.name).count})"
.push--top.gamma.soft-half--bottom.push-half--bottom.f-weight-bold Suivez-nous sur les réseaux sociaux
%hr
%div
  = link_to 'https://www.facebook.com/CoursAvenue', class: 'push-half--right', target: :_blank do
    %i.fa.fa-facebook.fa-2x
  = link_to 'https://www.twitter.com/CoursAvenue', target: :_blank do
    %i.fa.fa-twitter.fa-2x
