- @confirmed = @confirmed.nil? ? true : @confirmed

= simple_form_for [:pro, @structure, @admin], html: { autocomplete: 'false' } do |f|
  = f.error_notification
  .soft--top
    .soft--sides.hard--bottom{ data: { behavior: 'wizard-helper', content: t('pro.admins.wizard.email')} }
      %h5
        %i.fa-user
        Identifiant de profil
      = render "pro/structures/admins/change_email"


  %hr.push--ends
  .soft--sides{ data: { behavior: 'wizard-helper', content: t('pro.admins.wizard.password') } }
    %h5
      %i.fa-lock
      Changement de mot de passe
      - unless @confirmed
        .text--center.push-half--ends
          .alert.alert--info.soft--half.one-whole
            Veuillez
            = link_to "confirmer votre addresse e-mail", confirm_email_pro_structure_path(@structure), data: { onboarding_step: true, behavior: 'modal', padding: '0', width: 500 }, class: 'fancybox.ajax'
            avant de modifier votre mot de passe.

    = f.input :password, wrapper_html: {class: 'flush--bottom'}, label: 'Nouveau mot de passe', input_html: { class: 'input--large' }, label_html: { class: 'label--large' }, disabled: !@confirmed
    = f.input :password_confirmation, input_html: { class: 'input--large v-middle' }, label_html: { class: 'label--large v-middle' }, disabled: !@confirmed

  %hr.push--ends
  .soft--sides
    %h5
      %i.fa-envelope-o
      Mes notifications

    %input{type: 'hidden', name: 'return_to', value: notifications_pro_structure_admin_url(@structure, @structure.admin, subdomain: 'pro')}
    .soft--sides{ data: { behavior: 'wizard-helper', content: t('pro.admins.wizard.notifications') } }
      .grid
        .grid__item.one-third>
          %strong.label--large Envoyez-moi des e-mails quand&nbsp;:
        .grid__item.two-thirds>
          .checkbox-at-left
            = f.input :newsletter_email_opt_in, as: :boolean, wrapper_html: { class: 'flush--top' }, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
          .checkbox-at-left
            = f.input :monday_email_opt_in, as: :boolean, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }
          .checkbox-at-left
            = f.input :stats_email, as: :boolean, label_html: { class: 'label--large' }, input_html: { class: 'input--large' }

    = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement" }
