= side_menu_currently_at 'account'
.panel
  .panel__body
    - if current_pro_admin.super_admin? and !@admin.confirmed?
      .soft
        .blue-box.soft.text--center
          %h4.push-half--bottom Cet admin n'est pas actif
          = link_to 'Activer', confirm_pro_admin_path(@admin), class: 'btn btn--large', method: :patch

    = render partial: 'form'

    - if current_pro_admin.super_admin?
      .soft
        %p.push-half--top
          = link_to "Supprimer #{@admin.name}", pro_admin_path(@admin), method: 'delete'
        %p
          = link_to "Supprimer #{@admin.name} ET sa structure", pro_admin_path(@admin, delete_structure: true), method: 'delete'
