= side_menu_currently_at 'Mes infos'
= render partial: 'pro/structures/tabs', locals:{ current: 'notifications'}

%h5.form-header-group
  %i.fa.fa-envelope-o
  Mes notifications mails
.form-white-box.flush--bottom
  = simple_form_for [:pro, @structure, @admin] do |f|
    %input{type: 'hidden', name: 'return_to', value: notifications_pro_structure_admin_url(@structure, @structure.main_contact, subdomain: 'pro')}
    = f.error_notification
    .grid
      .grid__item.one-third>
        %strong Envoyez-moi des e-mails quand :
        %p
          %i.blue Nous vous promettons de ne pas vous envoyer de spam. Cette option peut être désactivée à tout moment.
      .grid__item.two-thirds>
        .checkbox-at-left= f.input :newsletter_email_opt_in, as: :boolean, wrapper_html: { class: 'flush--top' }
        .checkbox-at-left= f.input :monday_email_opt_in, as: :boolean
        .checkbox-at-left= f.input :thursday_email_opt_in, as: :boolean
        .checkbox-at-left= f.input :jpo_email_opt_in, as: :boolean
    %hr
    .grid
      .grid__item.one-third>
        %strong Envoyez-moi un rappel quand :
        %p
          %i.blue L'activation de ces rappels garantit la meilleure expérience possible aux professeurs comme aux élèves.
      .grid__item.two-thirds>
        .checkbox-at-left= f.input :student_action_email_opt_in, as: :boolean, wrapper_html: { class: 'flush--top' }

    = f.submit 'Enregistrer', class: 'btn btn--green btn--full'

/= f.input :email_opt_in, label: 'Recevoir les alertes'
