= content_for :title do
  Tous les cours à #{@city.name} | CoursAvenue

= content_for :above_container do
  - if @city.image.present?
    .home-screen.bg-cover{style: "background-image: url(#{@city.image.url})"}
      %h1.push--bottom.text--center.home-screen-title{style: 'padding-top: 3em;'}
        Tous les cours à #{@city.name}
      - if @city.title
        %h4.center-block.text--center.home-screen-title{style: 'width: 1000px'}
          = @city.title
  - else
    #map.google-map.google-map--medium-small

  .white-box--noshadow
    .main-container.push--ends
      %h2.text--center Les cours à #{@city.name} en quelques chiffres
      %hr
      .grid
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Profils
          .bold= @structures_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Séances
          .bold= @plannings_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Lieux
          .bold= @places_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Cours d'essai gratuit
          .bold= @free_trial_course_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Photos & vidéos
          .bold= @medias_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Avis d'élèves
          .bold= @comments_count

- if @city.subtitle
  %h2.text--center= @city.subtitle

- if @city.description
  .white-box.island= simple_format @city.description
%table.white-box.table--data.table--striped.visuallyhidden
  %thead
    %tr
      %th{colspan: 2}= @city.name
  %tbody
    %tr
      %th Commune
      %td= "#{@city.commune_name} (#{@city.commune_code})"
    %tr
      %th Code postal
      %td= @city.zip_code
    %tr
      %th Département
      %td= "#{@city.department_name} (#{@city.department_code})"
    %tr
      %th Région
      %td= "#{@city.region_name} (#{@city.region_code})"
    %tr
      %th Code ISO
      %td= @city.iso_code
    %tr.visuallyhidden
      %th Coordonnées
      %td= "#{@city.latitude}, #{@city.longitude}"

%h3.text--center.soft--top Guide des disciplines à #{@city.name}
.main-container
  - # Show facets with more than 10 results
  .grid--full.text--center.hard.push--bottom>
    - @structure_search.facet(:subject_ids).rows.reject{|facet| facet.count < 15}[0..4].each do |facet|
      - subject = Subject.find(facet.value)
      - if subject.image?
        - subject_image = subject.image
      - elsif subject.parent and subject.parent.image?
        - subject_image = subject.parent.image
      - elsif subject.grand_parent and subject.grand_parent.image?
        - subject_image = subject.grand_parent.image
      .grid__item.one-fifth.very-soft>
        .relative.show-on-hover__wrapper>
          %a.bg-cover.block{href: subject_city_path(subject, @city), title: "Cours de #{subject.name} à #{@city.name}", style: "background-image: url(#{subject_image}); height: 150px;"}>
            .home-screen-gallery__title.text--center
              = subject.name
              .show-on-hover__child.milli #{facet.count} structures

- unless @city.image.present?
  = content_for :scripts do
    :javascript
      $(function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(#{@city_latlng.to_json});
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
          });
          google.maps.event.addListener(handler.getMap(), 'tilesloaded', function() {
              handler.getMap().setZoom(12);
          });
      });
