= content_for :title do
  Tous les cours à #{@city.name} | CoursAvenue

= content_for :above_container do
  - if @city.image.present?
    .home-screen.bg-cover{style: "background-image: url('#{@city.image.url}')"}>
      %h1.text--center.home-screen-title{style: 'padding-top: 3em;'}
        Tous les cours à #{@city.name}
      - if @city.title
        %h4.push--top.center-block.text--center.home-screen-title{style: 'width: 1000px'}
          = @city.title
  - else
    #map.google-map.google-map--medium-small

  .white-box--noshadow
    .main-container.push--ends
      .grid
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Profils
          .bold= @structures_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Séances
          .bold= @plannings_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Lieux
          .bold= @places_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Cours d'essai gratuit
          .bold= @free_trial_course_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Photos & vidéos
          .bold= @medias_count
        .grid__item.one-sixth.text--center.delta>
          %div.soft-half--bottom Avis d'élèves
          .bold= @comments_count

- if @city.subtitle
  %h2.text--center= @city.subtitle

- if @city.description
  .white-box.island= simple_format @city.description
%table.white-box.table--data.table--striped.visuallyhidden
  %thead
    %tr
      %th{colspan: 2}= @city.name
  %tbody
    %tr
      %th Commune
      %td= "#{@city.commune_name} (#{@city.commune_code})"
    %tr
      %th Code postal
      %td= @city.zip_code
    %tr
      %th Département
      %td= "#{@city.department_name} (#{@city.department_code})"
    %tr
      %th Région
      %td= "#{@city.region_name} (#{@city.region_code})"
    %tr
      %th Code ISO
      %td= @city.iso_code
    %tr.visuallyhidden
      %th Coordonnées
      %td= "#{@city.latitude}, #{@city.longitude}"

= render partial: 'subjects/subjects_facets', locals: { only_roots: true }

- unless @city.image.present?
  = content_for :scripts do
    :javascript
      $(function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(#{@city_latlng.to_json});
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
          });
          google.maps.event.addListener(handler.getMap(), 'tilesloaded', function() {
              handler.getMap().setZoom(12);
          });
      });
