%h2 Liste des admins
%p.alert--info
  Les super admin sont en gras
%table.table--striped
  %thead
    %tr
      %th Nom
      %th Email
      %th.text--center Active
      %th Structure
      %th
  %tbody
    - @admin_users.each do |admin_user|
      %tr
        %td{class: (admin_user.super_admin? ? 'bold' : '')}= admin_user.fullname
        %td
          = link_to admin_user.email, "mailto:#{admin_user.email}"
        %td.text--center
          - if admin_user.activated
            %i.icon-ok
        %td= admin_user.structure.name if admin_user.structure
        %td
          = link_to edit_admin_user_path admin_user do
            %i.icon-edit
