= simple_form_for [:pro, @coupon], remote: true do |form|
  .panel
    .panel__body.soft--ends
      .soft--sides
        = form.input :stripe_coupon_id, label: 'Nom du code promo', label_html: { class: 'label--large' }, input_html: { class: 'input--large', placeholder: 'SPECIAL-ETE-2015' }, disabled: @showing
        = form.input :name, label: 'Description', label_html: { class: 'label--large' }, input_html: { class: 'input--large', placeholder: "Réduction de 30€ jusqu'à Janvier" }, disabled: @showing
        - duration = Subscriptions::Coupon::DURATIONS
        = form.input :amount, label: 'Montant', label_html: { class: 'label--large' }, input_html: { class: 'input--large', placeholder: '20€', min: '0' }, disabled: @showing
        = form.input :duration, as: :select, collection: duration.keys, label_method: lambda { |key| duration[key] }, default: duration.keys.first, label: 'Durée', label_html: { class: 'label--large' }, input_html: { class: 'input--large' }, disabled: @showing
        = form.input :duration_in_months, as: :select, collection: [nil] + (1..6).to_a, default: nil, label: 'Durée en mois', label_html: { class: 'label--large' }, input_html: { class: 'input--large' }, disabled: @showing
        = form.input :redeem_by, as: :date, label: "Date d'expiration", label_html: { class: 'label--large' }, input_html: { class: 'input--large' }, disabled: @showing
      - unless @showing
        .soft--sides
          .grid.push--top
            .grid__item.two-tenths>
              %a.btn.btn--gray.btn--full{ onclick: '$.fancybox.close()' } Annuler
            .grid__item.eight-tenths>
              = form.submit 'Enregister', class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours...' }

