= side_menu_currently_at 'subscription_plans'

= render partial: 'pro/shared/subscriptions_tabs', locals: { current: 'coupons' }

= render partial: 'pro/shared/subscriptions_tabs', locals: { current: 'coupons' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Codes promo
  .flexbox__item.v-middle.text--right
    - if @coupons.any?
      = link_to new_pro_subscriptions_coupon_path, class: 'btn btn--green fancybox.ajax', data: { behavior: 'modal', width: '500', padding: '0' } do
        %i.fa.fa-plus
        Ajouter un code promo

- if @coupons.any?
  = render 'coupons_list'
- else
  = render 'coupons_empty'
