= side_menu_currently_at 'pro_dashboard'

= render partial: 'pro/shared/dashboard_tabs', locals: { current: 'users' }

.text--center.push-half--ends= paginate @users, window: 1, outer_window: 3

#users

%table.table--striped.table-responsive#dataTable
  %thead
    %tr
      %th
      %th Nom
      %th Payé
      %th E-mail
      %th Tel
      %th Discipline / Ville
  %tbody
    - @users.order('created_at DESC').each do |user|
      %tr
        %td.text--center{ data: { th: '' } }
          %div= image_tag user.avatar_url(:small), height: 40, class: 'rounded--circle'
        %td{ data: { th: 'Nom' } }
          %div
            = user.name
        %td{ data: { th: '' } }
          %div
            - if user.paid_for_pass == 'true'
              %i.fa-check
        %td{ data: { th: '' } }
          %div= link_to user.email, "mailto:#{user.email}"
        %td
          %div= user.phone_number
        %td
          %div= "#{user.test_pass_subject} / #{user.test_pass_city}"
          - if user.test_pass_city.blank?
            = user.city.try(:name)

.text--center.push-half--ends= paginate @users, window: 1, outer_window: 3

- groupped_users = @users.group_by{|u| u.created_at.to_date}
= content_for :scripts do
  = javascript_include_tag 'libs/highcharts/highcharts'
  = javascript_include_tag 'libs/highcharts/modules/exporting'
  :javascript
    $(function() {
        new Highcharts.Chart({
            chart: { renderTo: 'users', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{groupped_users.map{|date, users| l(Date.parse(date.to_s), format: :short)}} },
            yAxis: { title: { text: ''}, min: 0 },
            series: [{ data: #{groupped_users.map{ |date, users| users.length }},
                       type: 'column',
                       name: 'Élèves'
                      }]
        });
    });
