= side_menu_currently_at 'pro_dashboard'

= render partial: 'pro/shared/dashboard_tabs', locals: { current: 'users' }

%h1.text--center= "#{@users.count} élèves"

#users

%table.table--striped.table-responsive#dataTable
  %thead
    %tr
      %th
      %th Nom
      %th
        %i.fa.fa-credit-card
      %th
        %i.fa.fa-gift
      %th E-mail
      %th Tel
      %th Discipline / Ville
      %th Date
      %th Comments
  %tbody
    - @users.order('sign_up_at DESC').each do |user|
      %tr
        %td.text--center{ data: { th: '' } }
          %div= image_tag user.avatar_url(:small), height: 40, class: 'rounded--circle'
        %td{ data: { th: 'Nom' } }
          %div
            = user.name
        %td{ data: { th: '' } }
          %div
            - if user.paid_for_pass == 'true'
              %i.fa-check
        %td{ data: { th: '' } }
          %div
            - if user.wants_a_gift_pass == 'true'
              %i.fa-check
        %td{ data: { th: '' } }
          %div
            = link_to user.email, "mailto:#{user.email}"
            - if user.sign_up_from_facebook.present?
              (Facebook)
        %td
          %div= user.phone_number
        %td
          %div= "#{user.test_pass_subject} / #{user.test_pass_city}"
          - if user.test_pass_city.blank?
            = user.city.try(:name)
        %td
          - if user.sign_up_at
            %div= l(user.sign_up_at.to_date, format: :short)
        %td
          = simple_form_for [:admin, user] do |f|
            %div= f.input :pass_comment, as: :text, label: false, input_html: { class: 'one-whole very-soft', style: 'height: 5em; width: 15em; font-size: 12px;'}, wrapper_html: { class: 'flush--bottom'}
            %div= f.submit 'Save', class: 'btn btn--small btn--full'

- groupped_users = @users.group_by{ |u| u.sign_up_at.try(:to_date) || Date.today }.to_a.sort_by{|a| a.first}
= content_for :scripts do
  = javascript_include_tag 'libs/highcharts/highcharts'
  = javascript_include_tag 'libs/highcharts/modules/exporting'
  :javascript
    $(function() {
        new Highcharts.Chart({
            chart: { renderTo: 'users', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{groupped_users.map{|date, users| l(Date.parse(date.to_s), format: :short)} } },
            yAxis: { title: { text: ''}, min: 0 },
            series: [{ data: #{groupped_users.map{ |date, users| users.length } },
                       type: 'column',
                       name: 'Élèves'
                      }]
        });
    });
:css
  .main-container {
    max-width: 1250px;
  }
