%article.course-info
  - if @place.image.present?
    .text--center= image_tag @place.image.url(:thumb), alt: "Cours de #{join_structure_parent_subjects_text @place.structure} à #{@place.long_name}"
  - elsif @structure.image.present?
    .text--center= image_tag @structure.image.url(:thumb), alt: "Cours de #{join_structure_parent_subjects_text @place.structure} à #{@place.long_name}"

  %h2.delta.text--center.flush--bottom= @course.name.capitalize
  %h3.zeta.text--center.flush--bottom
    %i.icon-map-marker
    = @place.long_name
  - if @best_price
    .course-info-price.text--right.push-half--bottom
      - if @best_price.has_promo?
        .nowrap
          %span.line-through
            = "#{readable_amount(@best_price.amount)}€"
          %span.beta.green
            = "#{readable_amount(@best_price.promo_amount)}€"
      - else
        .beta.green= "#{readable_amount(@best_price.amount)}€"
      %small
        - if @course.is_training?
          (Prix du stage)
        - else
          (#{t(@best_price.libelle)})
      %br
      = link_to 'Voir les autres formules', '#price_tab', onclick: "$('price_tab').click()"
    .text--center
      - if current_user
        = form_for @course.reservations.build, remote: true do |f|
          = f.hidden_field :reservable_type
          = f.hidden_field :reservable_id
          = f.submit "Coordonnées de reservation", class: 'btn btn--success one-whole', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Inscrit'])", data: {behavior: 'modal', title: 'Information pour la réservation du cours', width: '650px', el: 'course_info'}
      - else
        %a.btn.btn--success.one-whole{href: '#', onclick: "_gaq.push(['_trackEvent', 'Assister au cours', 'click','Non inscrit'])", data: {behavior: 'modal', title: 'Connectez-vous pour accéder aux informations', width: '500px', url: '/users/sign_up'}} Coordonnées de reservation

- if current_user
  #course_info.hidden= render 'info_popup'
