- has_multiple_teacher = @course.has_multiple_teacher?
- @plannings.each do |levels, plannings|
  %h5 Niveau : #{join_levels Level.find(levels)}
  %table.table--striped.table--data
    %thead
      %tr
        %th Jour
        %th.text--center Créneau horaire
        %th.text--center Durée
        %th.text--center Public
        %th.text--center
          %i.lbc-icon-info i
        / %th
    %tbody
      - plannings.each do |planning|
        %tr{data: {'course-id' => planning.course_id}}
          %td= week_day_for planning
          %td.text--center= readable_time_slot planning.start_time, planning.end_time
          %td.text--center= readable_duration planning.duration
          %td.text--center= join_audiences planning.audiences
          %td.text--center
            - if planning.info.present?
              .lbc-brand-icon{data: {behavior: 'popover', content: planning.info}}
  %hr
