.panel
  .panel__header.soft
    %h4.flush Connectez-vous à votre espace pro
  .panel__body.soft
    = simple_form_for(Admin.new, as: :pro_admin, url: pro_admin_session_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
        = f.input :password, required: false, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
        = f.input :remember_me, as: :boolean, input_html: { class: 'flush--top input--large' }, label_html: { class: 'label--large' }

      .form-actions.one-whole
        = f.button :submit, "Se connecter", class: 'btn--green btn--full', data: { disable_with: 'Connexion en cours...' }
        .push-half--top
          = render "pro/admins/shared/links"
