- @is_responsive = true
.bg-fixed.home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/home_background7.jpg'})" }
  .main-container.soft
    %h1.flush= t('.log_in')

.main-container.soft
  .white-box.soft
    .text--center
      %a{ data: { behavior: 'facebook-login' }, class: 'btn btn--facebook' }
        Connexion avec Facebook
    .or
      %span
        ou
    = simple_form_for(Admin.new, as: :pro_admin, url: pro_admin_session_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
        = f.input :password, required: false, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
        = f.input :remember_me, as: :boolean, input_html: { class: 'flush--top input--large' }, label_html: { class: 'label--large' }

      .form-actions.one-whole
        = f.button :submit, "Se connecter", class: 'btn--green btn--full', data: { disable_with: 'Connexion en cours...' }
        .push-half--top
          = render "pro/admins/shared/links"

- content_for :scripts do
  :javascript
    $('[data-behavior=facebook-login]').click(function() {
      var loginOptions = {
            callbackRoute: Routes.pro_auth_facebook_callback_path(),
            success: function success (response) {
                window.location = response.redirect_url
            },
            error: function error (response) {
                var message = $.parseJSON(response.responseText).message;
                GLOBAL.flash(message);
            },
            pro: true
        };

        CoursAvenue.loginWithFacebookPro(loginOptions);
    });
