= content_for :above_container do
  .home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background7.jpg'})", 'data-stellar-background-ratio' => '0.6' }
    .main-container.soft
      %h1.flush Changez votre mot de passe

  .main-container.soft
    .white-box.soft
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|

        = f.error_notification

        = f.input :reset_password_token, :as => :hidden
        = f.full_error :reset_password_token

        .form-inputs
          = f.input :password, :label => "Nouveau mot de passe", :required => true, :autofocus => true
          = f.input :password_confirmation, :label => "Nouveau mot de passe (confirmation)", :required => true

        .form-actions
          = f.button :submit, "Valider", class: 'btn btn--green'

        .form-actions
          = render "pro/admins/shared/links"
