= content_for :above_container do
  .bg-fixed.home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/home_background7.jpg'})" }
    .main-container.soft
      %h1.flush J'ai oublié mon mot de passe

  .main-container.soft
    .white-box.soft
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email, :required => true, :autofocus => true

        .form-actions
          = f.button :submit, "Envoyer un nouveau mot de passe", class: 'btn btn--green'
        .form-actions
          = render "pro/admins/shared/links"

