<div data-type="closer" class="infobox__close">
    <i class="fa fa-times"></i>
</div>
<div class="grid--full">
    <div class="relative grid__item two-eighths">
    <a href="{{ structure.data_url }}" class="block">
        <img src="{{ structure.logo_thumb_url }}" class="block one-whole" alt="{{ structure.parent_subjects_text }} à {{ structure.name }}" title="{{ structure.parent_subjects_text }} à {{ structure.name }}">
    </a>
    </div>{{!--
 --}}<div class="grid__item very-soft soft-half--sides six-eighths">
        <a href="{{ structure.data_url }}" class="infobox__title">{{ structure.name }}</a>
        <div>{{ structure.comments_count }} avis</div>
    </div>
</div>
