- content_for :email_title do
  REPONDEZ AU DESSUS DE CETTE LIGNE
  %br
  Répondez à #{@user.name} en répondant directement à cet e-mail
  %hr

.p
  Bonjour,

.p
  #{@user.name} vient de vous envoyer un message concernant sa demande d'inscription du
  %strong= "#{@participation_request_decorator.day_and_hour}"
  au cours "#{@participation_request.course.name}"
  - if @place
    au #{@place.address} (#{@place.name}).
  Connectez-vous à votre profil pour lui répondre :

.p.action
  = link_to "Répondre au message", pro_structure_participation_request_url(@admin.structure, @participation_request, subdomain: 'pro'), class: 'btn btn--green'

- if @message
  = render partial: 'mailboxer_message_mailer/message_to_admin', locals: { message: @message, user: @user }

.soft-half--top
  = render 'shared/mailers/footer'

- content_for :under_content do
  = render partial: 'participation_request_mailer/shared/participation_recap', locals: { participation_request: @participation_request }

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/teacher_faq'
