= side_menu_currently_at 'Invitations'

%h2 Invitations

%table.table--striped.table--data.white-box
  %thead
    %tr
      %th Email
      %th De
      %th À
      %th Type
      %th S'est créé un compte
      %th Date
  %tbody
    - @invited_users.each do |invited_teacher|
      %tr
        %td= invited_teacher.email
        %td.nowrap
          - if invited_teacher.referrer_type == 'User'
            Élève
            (#{invited_teacher.referrer.email})
          - else
            Prof
            (#{invited_teacher.referrer.contact_email})
        %td.nowrap
          - if invited_teacher.type == 'InvitedUser::Student'
            Élève
          - else
            Prof

        %td= invited_teacher.for
        %td
          - if invited_teacher.registered?
            %i.fa.fa-check
        %td= l(invited_teacher.created_at, format: :date)
