= side_menu_currently_at 'invitations'

= render partial: 'pro/shared/invitation_tabs', locals: { current: 'invited_users' }

%h1 Demande de recommandations
.text--center.push-half--ends= paginate @invited_users, window: 1, outer_window: 3
%table.table--striped.table--data
  %thead
    %tr
      %th De
      %th À
      %th Type
      %th S'est créé un compte
      %th S'est inscrits à un atelier
      %th Date
  %tbody
    - @invited_users.each do |invited_user|
      - cache [invited_user, 'pro/invited_users/index'] do
        %tr
          %td.nowrap
            - if invited_user.referrer_type == 'User'
              Élève
              (#{invited_user.referrer.email})
            - else
              Prof
              (#{invited_user.referrer.contact_email})
          %td.nowrap
            - if invited_user.type == 'InvitedUser::Student'
              Élève
            - else
              Prof
            (#{invited_user.email})

          %td= invited_user.invitation_for
          %td
            - if invited_user.registered?
              %i.fa-check
          %td
            - if invited_user.user and ParticipationRequest.where(user_id: invited_user.user.id).any?
              %i.fa-check
          %td= l(invited_user.created_at, format: :date)
.text--center.push-half--ends= paginate @invited_users, window: 1, outer_window: 3
