= simple_form_for [:pro, @vertical_page] do |f|
  = f.input :image, input_html: { class: 'input--large'}, label_html: { class: 'label--large' }
  = f.input :name, label: 'Nom de discipline', placeholder: 'Ex. : Fox trot', input_html: { class: 'input--large'}, label_html: { class: 'label--large' }
  = f.input :caption, label: 'Description du header', input_html: { class: 'input--large'}, label_html: { class: 'label--large' }
  = f.input :title, label: 'Titre', input_html: { class: 'input--large'}, label_html: { class: 'label--large' }
  = f.input :content, label: false, input_html: { class: 'one-whole input--large' }
  = f.input :sidebar_title, label: 'Trouvez...près de chez vous', input_html: { class: 'input--large'}, label_html: { class: 'label--large' }
  = f.input :keywords, input_html: { class: 'input--large'}, label_html: { class: 'label--large' }
  = f.input :subject_id, as: :select, collection: Subject.order('ancestry_depth ASC').all, input_html: { data: { behavior: 'chosen' } }, label_method: lambda{|subj| "#{subj.depth + 1} - #{subj.name}" }


  - 5.times { @vertical_page.medias.build }
  %div{ data: { behavior: 'show-more-on-demand' } }<>
    - @vertical_page.medias.each_with_index do |media, i|
      = f.simple_fields_for :medias, media, child_index: i do |media_form|
        %div{ class: (!media_form.object.persisted? ? 'hidden' : ''), data: { el: true, hidden: !media_form.object.persisted? } }<>
          = media_form.input :type, as: :hidden, value: 'Media::Video'
          = media_form.input :url, as: :string, input_html: { class: 'input--large'}, label_html: { class: 'label--large' }
          = media_form.input :caption, input_html: { class: 'input--large'}, label_html: { class: 'label--large' }
          %hr
    .input
      .control-label>
      .input-container>
        %a{ href: 'javascript:void(0)', data: { trigger: true } }>
          %i.fa.fa-plus
          Ajouter une vidéo youtube

  = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement"}

= content_for :scripts do
  :javascript
      $(document).ready(function() {
          $('[name=vertical_page\\[content\\]]').redactor({
              buttons: ['formatting', 'bold', 'italic', 'unorderedlist', 'orderedlist',
                'link', 'alignment', 'horizontalrule', 'image'],
              formatting: ['p', 'blockquote', 'h1', 'h2', 'h3'],
              // lang: 'fr',
              plugins: ['imagemanager'],
              imageUpload: Routes.admin_images_path({
                  'authenticity_token': $('meta[name=csrf-token]').attr('content')
              }),
              imageManagerJson: Routes.admin_images_path(),
          });
      });
