= simple_form_for [:pro, @vertical_page] do |f|
  .text--center
    - if @vertical_page.image.present?
      = image_tag @vertical_page.image.url(:large), width: 400, data: { placeholder: true }
    - else
      %img{ width: 400, data: { placeholder: true } }

  = f.filepicker_field :remote_image_url, button_class: 'hidden', services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: true, class: "filepicker-dragdrop text--center", drag_class: "flush--left push-half--bottom one-whole f-weight-500 soft--ends text--center push--bottom", drag_text: "Glissez votre image ici ou cliquez pour changer de logo"

  = f.input :show_trainings_in_title, as: :boolean
  = f.input :subject_name, label: false, input_html: { class: 'input--large one-whole'}
  = f.input :page_title, label: false, input_html: { class: 'input--large one-whole', data: { behavior: 'text-counter', characters: true, 'good-words-nb' => 60, 'average-words-nb' => 50, 'bad-text' => 'Allez Camille, tu y es presque !', 'good-text' => 'Wouhou!!! Well done!', 'average-words-text' => 'Almost there!' } }

  %p.flush.epsilon Environ 155 caractères
  = f.input :page_description, input_html: { class: 'input--large one-whole one-whole', data: { behavior: 'text-counter', characters: true, 'good-words-nb' => 155, 'bad-text' => 'Allez Camille, tu y es presque !', 'good-text' => 'Wouhou!!! Well done!', 'average-words-text' => 'Almost there!' } }, label: false

  = f.input :caption, input_html: { class: 'input--large one-whole'}, label: false
  = f.input :title, label: false, input_html: { class: 'input--large one-whole'}
  = f.input :content, label: false, input_html: { class: 'one-whole input--large one-whole' }
  = f.input :sidebar_title, label: false, input_html: { class: 'input--large one-whole'}
  = f.input :keywords, label: false, input_html: { class: 'input--large one-whole'}
  = f.input :subject_id, as: :select, collection: Subject.order('ancestry_depth ASC').all, input_html: { class: 'one-whole', data: { behavior: 'chosen' } }, label_method: lambda{|subj| "#{subj.depth + 1} - #{subj.name}" }, label: false


  - 5.times { @vertical_page.medias.build }
  %div{ data: { behavior: 'show-more-on-demand' } }<>
    - @vertical_page.medias.each_with_index do |media, i|
      = f.simple_fields_for :medias, media, child_index: i do |media_form|
        %div{ class: (!media_form.object.persisted? ? 'hidden' : ''), data: { el: true, hidden: !media_form.object.persisted? } }<>
          = media_form.input :type, as: :hidden, value: 'Media::Video'
          = media_form.input :url, as: :string, input_html: { class: 'input--large one-whole' }, label: false
          = media_form.input :caption, input_html: { class: 'input--large one-whole' }, label: false
          %hr
    .input
      .control-label>
      .input-container>
        %a{ href: 'javascript:void(0)', data: { trigger: true } }>
          %i.fa.fa-plus
          Ajouter une vidéo youtube

  = f.submit 'Enregistrer', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement"}

= content_for :scripts do
  = filepicker_js_include_tag
  :javascript
      $(document).ready(function() {
          $('[name=vertical_page\\[content\\]]').redactor({
              buttons: ['formatting', 'bold', 'italic', 'unorderedlist', 'orderedlist',
                'link', 'alignment', 'horizontalrule', 'image'],
              formatting: ['p', 'blockquote', 'h1', 'h2', 'h3'],
              lang: 'fr',
              plugins: ['imagemanager'],
              imageUpload: Routes.admin_images_path({
                  'authenticity_token': $('meta[name=csrf-token]').attr('content')
              }),
              imageManagerJson: Routes.admin_images_path()
          });
          $('#vertical_page_remote_image_url').change(function(event) {
              $('img[data-placeholder]').attr('src', event.originalEvent.fpfile.url);
          });
      });
