.panel
  .panel__body.soft--ends
    - # We show the user his last subscription to incentive him to reactivate
    - last_subscription_plan = @structure.subscription_plan
    - if last_subscription_plan
      .soft--sides
        %h2 Réactiver mon abonnement

        %p.epsilon
          - if !last_subscription_plan.canceled? and last_subscription_plan.last_renewal_failed_at
            Nous sommes désolés mais nous n'avons pas réussi à renouveler votre abonnement Premium. Ce problème est lié à votre carte bancaire (date d'expiration dépassée, solde insuffisant, opération rejetée, etc.)
          - else
            Votre <strong>#{last_subscription_plan.description.downcase} CoursAvenue Premium</strong> est arrété depuis le
            %strong= "#{l(last_subscription_plan.expires_at)}."
        = form_for (@structure), method: :get, url: new_pro_structure_subscription_plan_path(@structure) do
          = hidden_field_tag :subscription_plan_id, last_subscription_plan.id
          = submit_tag "Réactiver mon #{last_subscription_plan.next_plan_type_description.downcase}", class: 'btn btn--yellow soft--sides'

        %hr.push--ends
    .soft--sides.text--center
      %h2.flush Passez au Premium pour recruter plus d'élèves

      = render 'pro/shared/choose_premium_boxes'

    %hr.push--ends
    .soft--sides
      %h2.text--center.f-weight-300 Ils ont déjà souscrit au Premium
      = render 'pro/shared/they_already_subscribed'
    %hr.push--top.flush--bottom
    = render 'pro/shared/premium_testimonies'

    .soft--sides.text--center.soft--top
      %h2.text--center.f-weight-300 Questions fréquentes
      .grid
        .grid__item.one-third>
          %h5 Existe-t-il un engagement minimum ou des pénalités de résiliation ?
          %p Non. Vous pouvez basculer d'un abonnement Premium à l'autre (Solo, Ecole ou Master) n'importe quand. Nous ne prenons aucun frais de résiliation ni d'engagement minimum.
        .grid__item.one-third>
          %h5 Proposez-vous des abonnements à la journée ou peut-on payer pour chaque nouvel élève ?
          %p Malheureusement non. Étant donné que tous nos abonnements sont facturés sur une base mensuelle sans frais de contrat ni de résiliation, vous pouvez utiliser le profil Premium ponctuellement. A tout moment, vous pouvez l'interrompre ou souscrire de nouveau.
        .grid__item.one-third>
          %h5 Comment les profils Premium sont mis en avant sur CoursAvenue ?
          %p Les profils Premium sont les les plus complets, c'est pourquoi ils apparaissent en 1er sur le moteur de recherche CoursAvenue. Cependant, le classement évolue régulièrement de manière à ce que tout le monde bénéficie du trafic.
      .grid
        .grid__item.one-third>
          %h5 A quoi ressemblent vos campagnes Facebook ?
          %p Chaque jour, nous pilotons et personnalisons des milliers de campagnes Facebook. Nous les modifions et les optimisons de manière à vous apporter une visibilité maximale. Pour conserver une cohérence visuelle, nous privilégions vos photos de profil. Cliquez ici pour visualiser l'exemple d'une campagne.
        .grid__item.one-third>
          %h5 Comment a-t-on accès aux factures ?
          %p Une fois votre profil passé en Premium, retrouvez toutes vos factures dans la rubrique "Premium".
        .grid__item.one-third>
          %h5 Comment les profils Premium sont mis en avant sur CoursAvenue ?
          %p Les profils Premium sont les les plus complets, c'est pourquoi ils apparaissent en 1er sur le moteur de recherche CoursAvenue. Cependant, le classement évolue chaque jour de manière à ce que tout le monde bénéficie du trafic.régulièrement de manière à ce que tout le monde bénéficie du trafic.

    %hr.push--bottom.flush--top
    .soft--sides
      = render 'pro/shared/premium_graph'
      .soft--top
        = render 'pro/shared/premium_1_2_3'

    %hr.push--bottom#ten-features
    .soft--sides
      %h2.text--center.f-weight-300 Les 10 fonctionnalités spéciales Premium
      = render 'pro/shared/premium_advantages'


    %hr.push--bottom.flush--top
    .soft--sides
      %h2.text--center.f-weight-300 Détails du profil Premium
      = render 'pro/home/pricing_details_table'

