= side_menu_currently_at 'premium'

.panel
  .panel__header.soft
    = render partial: 'premium_breadcrumb', locals: { current: 'recap' }
  .panel__body.soft
    %table.epsilon.table--striped
      %thead
        %tr
          %th.one-half Offre
          %th.one-half Montant
      %tbody
        %tr
          %td= @subscription_plan.description
          %td
            %strong= "#{@subscription_plan.monthly_amount}€"
            par mois x #{@subscription_plan.duration} mois
        - if @subscription_plan.promotion_code
          %tr
            %td= @subscription_plan.promotion_code.name
            %td= "-#{@subscription_plan.promotion_code.promo_amount}€"
        %tr.text--right
          %th Total TTC

          %td= "#{@subscription_plan.amount}€"
        - unless @subscription_plan.promotion_code
          %tr.no-stripe
            %td
            %td
              = form_for @structure, method: :get, url: new_pro_structure_subscription_plan_path(@structure) do
                %input#premium_type_value{ type: 'hidden', name: 'premium_type', value: params[:premium_type] }
                .hidden.promo-hidden
                  %input#promo-code{ name: 'promo_code', placeholder: 'CODE'}
                  %input.btn.btn--green{ type: 'submit', value: 'OK' }
                %a.pointer.milli#i-have-promo-code Entrer un code promotionnel

    = form_tag ENV['BE2BILL_URL'] do
      - @be2bill_params.each do |key, value|
        = hidden_field_tag key.to_sym, value
      = submit_tag 'Payer par carte bleu', class: 'btn btn--green btn--large btn--full', data: { disable_with: 'Veuillez patienter...' }
    - if params[:paypal].present?
      .text--center
        %div.soft-half--ends
          %strong OU
        = link_to paypal_express_checkout_pro_structure_subscription_plans_path(@structure, plan_type: @subscription_plan.plan_type, promotion_code_id: @subscription_plan.promotion_code.try(:id)) do
          = image_tag("https://www.paypal.com/fr_XC/i/btn/btn_xpressCheckout.gif")


= content_for :scripts do
  :javascript
    $(function() {
      $('#i-have-promo-code').click(function(){
          $(this).hide();
          $('.promo-hidden').show();
      });
    })
