= side_menu_currently_at 'clicks'

.panel
  .panel__header.soft
    %h3.flush \# Clicks / jours
  .panel__body.soft--ends
    .soft--sides
      #click_logs
    %table.table--data.table--striped#dataTable
      %thead
        %tr
          %th Nom
          %th # avis
          %th # clicks
      %tbody
        - @click_logs.each do |structure_id, count|
          - structure = Structure.find(structure_id)
          %tr
            %td= link_to structure.name, structure_url(structure)
            %td= structure.comments_count
            %td= count

= content_for :scripts do
  = javascript_include_tag 'libs/highcharts/highcharts'
  = javascript_include_tag 'libs/highcharts/modules/exporting'
  :javascript
    $(function() {
        $('#dataTable').tablesorter();
        new Highcharts.Chart({
            chart: { renderTo: 'click_logs', type: 'column' },
            title: { text: null },
            xAxis: { categories: #{@click_logs_per_day.map{|date, count| l(Date.parse(date.to_s), format: :short)}} },
            yAxis: { title: { text: ''}},
            series: [
              { data: #{@click_logs_per_day.map{|date, count| count}},
                name: 'Profs inscrits'
               }
            ]
        });
    });
