- content_for :email_title do
  #{@structure.name} vient d'accepter votre demande d'inscription

.title
  Félicitations !

.p
  #{@structure.name} vient d'accepter votre demande d'inscription au cours suivant :

- course_decorator                = @participation_request.course.decorate
- participation_request_decorator = @participation_request.decorate
%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
  %tr{ valign: 'top' }
    %td.v-top.content-block.text--center{ width: '20%' }
      = link_to structure_url(@structure, subdomain: 'www'), target: '_blank', class: 'block' do
        = image_tag @structure.logo.url(:thumb), class: 'block', height: 90, width: 90, alt: "Logo de #{@structure.name}"
    %td.v-top.content-block{ width: '80%' }
      .p
        \- Nom du cours :
        %strong= @participation_request.course.name
        %br
        \- Contact :
        %strong
          - if @structure.phone_numbers.any?
            Tél.&nbsp;: #{@structure.phone_numbers.map(&:number).join(', ')} /
          E-mail&nbsp;: #{@structure.admin.email}
        %br
        \- Professeur :
        %strong
          - if @structure.website.present?
            - url = @structure.website
          - else
            - url = structure_url(@structure, subdomain: 'www')
          = link_to @structure.name, url, target: '_blank'
        %br
        \- Demande d'inscription :
        %strong= @participation_request_decorator.details
        %br
        \- Date :
        %strong= @participation_request_decorator.day_and_hour
        %br
        - if @participation_request.place
          - place = @participation_request.place
          \- Lieu :
          %strong= "#{place.name} (#{place.address})"
          - if place.info.present? or place.private_info.present?
            %br
            \- Indications supplémentaires :
            - if place.info.present?
              = place.info
            - if place.private_info.present?
              %br
              = place.private_info

- if @message
  .soft--ends
    = render partial: 'mailboxer_message_mailer/message_to_user', locals: { message: @message, structure: @structure }

.p
  En cas d'annulation, de modification ou si vous souhaitez tout simplement envoyer un message à #{@structure.name}, cliquez sur le bouton suivant :
.p.action
  = link_to "Voir mes inscriptions", reservation_structure_participation_request_url(@participation_request.structure, @participation_request.token, subdomain: 'www'), class: 'btn btn--green'
.p
  Nous vous souhaitons une très belle séance !

= render partial: 'reservation_participation_request_mailer/user_footer'
