- if @structure.logo?
  - content_for :logo do
    = link_to structure_url(@structure, subdomain: 'www'), target: '_blank' do
      = image_tag @structure.logo.url(:thumb), style: 'width: 125px; height: 125px;', class: 'block'

- content_for :promo do
  %h4
    #{@structure.name} vous offre l'opportunité d'offrir un cours gratuit à vos proches

- if @email_text
  = simple_format @email_text

%p.action
  = link_to "J'offre un cours gratuit à mes proches", invite_entourage_to_jpo_page_users_url(user_email: @email, structure_id: @structure.id, subdomain: 'www'), class: 'btn btn--green', utm_source: 'email', utm_campaign: 'invite_friends_for_jpo', utm_medium: 'stage_0'
%p
  À très bientôt !
%p= @structure.name

- content_for :footer do
  %p
    Vous recevez cet email car #{@structure.name} vous invite sur CoursAvenue.
    - if @invited_user.user
      = link_to 'Ne plus recevoir ces emails', unsubscribe_users_url(@invited_user.user.access_token, subdomain: 'www')

