- content_for :promo do
  %h4
    Offrez à vos élèves l'opportunité d'inviter leurs proches

- if @email_text
  = @email_text.html_safe

%p.action
  = link_to 'Créer mon profil', inscription_pro_structures_url(email: @email, from_friend: true, subdomain: 'pro'), class: 'btn btn--green'
%p
  À très bientôt !
%p= @referrer.name

- content_for :under_content do
  = render 'admin_mailer/footer_info'

- content_for :footer do
  %p Vous recevez cet email car #{@referrer.name} vous invite sur CoursAvenue.
