= side_menu_currently_at 'Newsletter users'

%h2 Liste des utilisateurs

%table.table--striped.table--data#dataTable
  %thead
    %tr
      %th
        %span Nom
      %th.sortAsc
        %span Date de création
      %th
        %span Établissement
      %th.text--center
        %span Inscrit
  %tbody
    - @students.each do |user|
      %tr
        %td= user.email
        %td{data: {value: user.created_at}}
          = l(user.created_at, format: :date_short)
        %td
          - if user.structure
            = link_to user.structure.name, pro_structure_path(user.structure)
        %td.text--center
          - if User.where{email == user.email}.any?
            %i.icon-ok

= content_for :scripts do
  :javascript
    document.addEvent('domready', function() {
        var dateParseFunction = function(date) {
            if (date.replace(/^\s+|\s+$/g, '').length === 0) { // Strip
                return 0;
            } else {
                return new Date(date).getTime();
            }
        };
        new TableSorter('dataTable', { columnDataTypes: 'string, date, string', cookieName: 'tableSortState__students', dateParseFunction: dateParseFunction });
    });
