<table class="table--striped table--data">
    <thead>
        <tr>
            <td colspan="6" class="text--left">
                {{#if min_price_amount}}
                <div class="float--right text--right">
                    à partir de {{ min_price_amount }} ({{ min_price_libelle }})
                    {{#if has_free_trial_lesson}}
                    <strong>(essai gratuit)</strong>
                    {{/if}}
                    <br />
                    {{#if is_individual}}
                        <i data-behavior="tooltip" title="Cours individuel" data-placement="left" class="pointer fa fa-user"></i>
                    {{else}}
                        <span data-behavior="tooltip" title="Cours collectif" data-placement="left" class="pointer"><i class="fa fa-user"></i><i class="fa fa-user" style="left: -6px; top: 2px; position: relative"></i></span>
                    {{/if}}
                    {{#if teaches_at_home}}
                        <i data-behavior="tooltip" title="Cours à domicile" data-placement="left" class="pointer fa fa-home"></i>
                    {{/if}}
                </div>
                {{/if}}
                <div>
                    <a href="{{data_url}}" title="{{ name }}" class="f-weight-bold zeta">{{ name }} ({{ event_type }})</a>
                </div>
                {{#if description}}
                    <div class="gray">
                        {{#if search_term}}
                            <i>{{{highlight description search_term 100}}}</i>
                        {{else}}
                            <i>{{{truncate description 100}}}</i>
                        {{/if}}
                    </div>
                {{/if}}
                <div class="gray" style="font-size: 12px;"> <i class="fa fa-tags"></i> {{{ subjects }}} </div>
            </td>
        </tr>
        <tr>
            <th>Date / horaires</th>
            <th>Public</th>
            <th>Niveau</th>
            <th class="text--center">Places restantes</th>
            <th>Prix</th>
        </tr>
    <tbody>
        {{#unless plannings }}
        <tr>
            <td colspan="5" class="f-style-italic text--left">
                Le planning de ce cours n'a pas été mis à jour.
            </td>
        </tr>
        {{/unless}}
    </tbody>
</table>
