<td>{{ date }}</td>
<td class="no-wrap text--center">{{ time_slot }}</td>
<td>{{ levels }}</td>
<td>
    {{ audiences }}
</td>
<td>
    {{#if address_name }}
        <div class="gray milli" data-toggle="popover" data-html="true" data-trigger="hover" data-content="{{ hide_contacts_and_escape address_with_info }}">{{address_name}}</div>
    {{/if}}
</td>
<td>
    {{#if info}}
    <div data-content="{{ hide_contacts_and_escape info }}" data-toggle="popover" data-trigger="hover" data-html="true">
        <i class='fa fa-info'></i>
    </div>
    {{/if}}
</td>
<td>
    <a data-behavior="register" class="btn btn--small btn--green">M'inscrire</a>
</td>
