.panel.push--bottom
  .panel__body.soft-half
    = simple_form_for [:pro, @structure, course], url: pro_structure_course_path(@structure, course), as: :course, remote: true, html: { data: { behavior: 'live-form' } } do |f|
      .grid--full
        .grid__item.text--center.one-twelfth.v-middle>
          = f.input :available_in_discovery_pass, label: false, input_html: { id: "available_in_discovery_pass_#{course.id}" }
        .grid__item.eleven-twelfths.v-middle>
          %h5.flush
            %label{ for: "available_in_discovery_pass_#{course.id}" }= course.name
    %div{ id: "course_#{course.id}_plannings" }= render partial: "pro/structures/courses/plannings/discovery_pass/#{course.underscore_name}_list", locals: { course: course, structure: structure }

= content_for :scripts do
  :javascript
    $(function() {
        $("#available_in_discovery_pass_#{course.id}").change(function() {
            $("#course_#{course.id}_plannings input[name='planning[available_in_discovery_pass]']").prop('checked', this.checked);
        })
        $("#course_#{course.id}_plannings input[name='planning[available_in_discovery_pass]']").change(function() {
            if (this.checked == true && !$("#available_in_discovery_pass_4261").is(':checked')) {
                $("#available_in_discovery_pass_#{course.id}").prop('checked', true);
            }
        });
    });
