.soft
  .text--center
    %h2.flush Cliquez sur l'image de votre choix pour la sélectionner
    %p Elle apparaitra dans les résultats de recherche


  .soft-half.inline-block.one-half.v-middle>
    = simple_form_for [:pro, @structure, @course], url: add_image_pro_structure_course_path(@structure, @course), method: :patch, as: :course, html: { autocomplete: 'false', id: 'choose-image-course-form' } do |f|
      = f.filepicker_field :media, button_class: 'hidden', services: 'COMPUTER,FACEBOOK,INSTAGRAM,DROPBOX,BOX,FLICKR,PICASA,URL', dragdrop: true,
        mimetypes: 'image/*', class: "filepicker-dragdrop text--center",
        drag_class: "flush--left push-half--bottom one-whole f-weight-500 soft-double--ends text--center push--bottom",
        drag_text: "Glissez votre image ici ou cliquez pour ajouter une image", id: 'filepicker'

  - @structure.medias.each do |media|
    .soft-half.inline-block.one-half.v-middle>
      = link_to pro_structure_course_path(@structure, @course, course: { media_id: media.id }), method: :patch, class: 'block black-curtain__fading-in-on-hover relative' do
        .black-curtain.north.west.one-whole.absolute.invisible.fade-in-on-hover.transition-all-300.text--center
          .white.delta{ style: 'padding-top: 55px;'}
            %strong Choisir cette image
        .cursor-pointer.bg-cover{ style: "height: 150px; background-image: url('#{media.image.url(:thumbnail)}')" }>

= filepicker_js_include_tag
:javascript
    $('#filepicker').change(function(event) {
        $('#choose-image-course-form').submit();
    });
