= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'plannings' }

.grid.push--bottom
  .grid__item.two-thirds.palm-one-whole.v-top>
    %h1.flush Mon planning
    %p.flush
      Voir mon
      = link_to 'profil CoursAvenue', structure_url(@structure, subdomain: 'www'), target: :_blank
      \/ mon
      = link_to 'planning à mettre sur mon site Internet', structure_website_structure_url(@structure, subdomain: 'www'), target: :_blank
  .grid__item.one-third.palm-one-whole.palm-text--left.v-top.text--right{ class: (@structure.courses.any? ? '' : 'hidden'), data: { add_course: true } }>
    = render partial: 'pro/structures/courses/add_activity_button'
    %div.push-half--top
      = link_to "Dates de fermeture d'été", configure_openings_pro_structure_courses_path(@structure, subdomain: 'www'), class: 'btn btn--white btn--small fancybox.ajax', data: { behavior: 'modal', width: '650', padding: '0' }

-# .text--center
-#   = link_to 'Annoncez votre nouveau planning par e-mail', new_pro_structure_newsletter_path(with_courses: true), class: 'btn btn--green'

#trainings-header.bg-white.soft--top
  %h3{ class: @trainings.any? ? '' : 'hidden', data: { 'course-container-title' => true } } Stages &amp; ateliers
#training-list
  - @trainings.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

#lessons-header.bg-white
  - training_border = @trainings.any? ? 'bordered--top' : ''
  %h3{ class: @lessons.any? ? (training_border + ' soft--top') : 'hidden', data: { 'course-container-title' => true } } Cours collectifs
#lesson-list
  - @lessons.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

.bg-white
  - private_border = @privates.any? ? 'bordered--top' : ''
  %h3{ class: @privates.any? ? (private_border + ' soft--top' ): 'hidden', data: { 'course-container-title' => true } } Cours particuliers
#private-list
  - @privates.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

.bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.text--center{ class: (@structure.courses.empty? ? '' : 'hidden'), data: { empty: 'courses'} }
  %p.delta
    Vous n'avez pas encore d'activité à votre planning.
  = render partial: 'pro/structures/courses/add_activity_button'

= render 'course_bottom_scripts'


