= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'plannings' }

.grid.push--bottom
  .grid__item.two-thirds.palm-one-whole.v-top>
    %h1.flush Mon planning
    Voir mon
    = link_to 'profil CoursAvenue', structure_url(@structure, subdomain: 'www'), target: :_blank
    \/ mon
    = link_to 'planning à mettre sur mon site Internet', structure_website_structure_url(@structure, subdomain: 'www'), target: :_blank
  .grid__item.one-third.palm-one-whole.palm-text--left.v-top.text--right{ class: (@structure.courses.any? ? '' : 'hidden'), data: { add_course: true } }>
    = render partial: 'pro/structures/courses/add_activity_button'
    %div.push-half--top
      = link_to "Dates de fermeture d'été", configure_openings_pro_structure_courses_path(@structure, subdomain: 'www'), class: 'btn btn--small fancybox.ajax', data: { behavior: 'modal', width: '650', padding: '0' }

#trainings-header.bg-white.soft--top.bordered--bottom-on-stick{ data: { behavior: 'sticky', offset_top: 35, z: 500, old_width: 'true' } }
  %h3{ class: @trainings.any? ? '' : 'hidden', data: { 'course-container-title' => true } } Stages & ateliers
#training-list
  - @trainings.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

#lessons-header.bg-white.bordered--bottom-on-stick{ data: { behavior: 'sticky', offset_top: 35, z: 500, old_width: 'true', pushed: '#trainings-header' } }
  %h3{ class: @lessons.any? ? 'bordered--top soft--top' : 'hidden', data: { 'course-container-title' => true } } Cours collectifs
#lesson-list
  - @lessons.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

.bg-white.bordered--bottom-on-stick{ data: { behavior: 'sticky', offset_top: 35, z: 500, old_width: 'true', pushed: '#lessons-header' } }
  %h3{ class: @privates.any? ? 'bordered--top soft--top' : 'hidden', data: { 'course-container-title' => true } } Cours particuliers
#private-list
  - @privates.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

.bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.text--center{ class: (@structure.courses.empty? ? '' : 'hidden'), data: { empty: 'courses'} }
  %p.delta
    Vous n'avez pas encore d'activité à votre planning.
  = render partial: 'pro/structures/courses/add_activity_button'

= render 'course_bottom_scripts'
