= side_menu_currently_at 'plannings'

= render partial: 'pro/structures/courses/tabs', locals: { current: 'plannings' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Mon planning
  .flexbox__item.v-middle.text--right{ class: (@structure.courses.without_open_courses.any? ? '' : 'hidden'), data: { add_course: true } }
    = render partial: 'pro/structures/courses/add_activity_button'

- if @structure.courses.without_open_courses.any?
  %h4 Définissez le nombre de cours d'essai par personne

  = simple_form_for [:pro, @structure], remote: true, data: { behavior: 'live-form' } do |f|
    .grid.epsilon.push-half--bottom
      .grid__item.text--right.two-tenths>
      .grid__item.four-tenths>
        %strong Nombre de cours d'essai par personne
      .grid__item.four-tenths>
        %strong % de conversion en élèves réguliers (statistiques)
    .grid.epsilon.push-half--bottom
      .grid__item.text--right.two-tenths>
        %input.inline-block.v-middle#trial_courses_policy_0_trial{ type: 'radio', value: '', name: 'structure[trial_courses_policy]', checked: @structure.trial_courses_policy.blank? }
      .grid__item.four-tenths>
        %label.inline-block.v-middle{ for: 'trial_courses_policy_0_trial' } Je n'offre pas de cours d'essai
    .grid.epsilon.push-half--bottom
      .grid__item.text--right.two-tenths>
        %input.inline-block.v-middle#trial_courses_policy_1_trial{ type: 'radio', value: '1_trial', name: 'structure[trial_courses_policy]', checked: @structure.trial_courses_policy == '1_trial'}
      .grid__item.four-tenths>
        %label.inline-block.v-middle{ for: 'trial_courses_policy_1_trial' }= t('structures.trial_courses_policy.1_trial')
      .grid__item.four-tenths>
        %p.flush
          %label.inline-block.v-middle{ for: 'trial_courses_policy_1_trial' }= t('structures.trial_courses_policy.1_trial_advantage_html')
    .grid.epsilon.push-half--bottom
      .grid__item.text--right.two-tenths>
        %input.inline-block.v-middle#trial_courses_policy_2_trials{ type: 'radio', value: '2_trials', name: 'structure[trial_courses_policy]', checked: @structure.trial_courses_policy == '2_trials'}
      .grid__item.four-tenths>
        %label.inline-block.v-middle{ for: 'trial_courses_policy_2_trials' }= t('structures.trial_courses_policy.2_trials')
      .grid__item.four-tenths>
        %p.flush
          %label.inline-block.v-middle{ for: 'trial_courses_policy_2_trials' }= t('structures.trial_courses_policy.2_trials_advantage_html')
    .grid.epsilon.push-half--bottom
      .grid__item.text--right.two-tenths>
        %input.inline-block.v-middle#trial_courses_policy_3_trials{ type: 'radio', value: '3_trials', name: 'structure[trial_courses_policy]', checked: @structure.trial_courses_policy == '3_trials'}
      .grid__item.four-tenths>
        %label.inline-block.v-middle{ for: 'trial_courses_policy_3_trials' }= t('structures.trial_courses_policy.3_trials')
      .grid__item.four-tenths>
        %p.flush
          %label.inline-block.v-middle{ for: 'trial_courses_policy_3_trials' }= t('structures.trial_courses_policy.3_trials_advantage_html')

#trainings-header.bg-white.soft--top.bordered--bottom-on-stick{ data: { behavior: 'sticky', offset_top: 35, z: 500, old_width: 'true' } }
  %h3{ class: @trainings.any? ? '' : 'hidden', data: { 'course-container-title' => true } } Stages & ateliers
#training-list
  - @trainings.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

#lessons-header.bg-white.bordered--bottom-on-stick{ data: { behavior: 'sticky', offset_top: 35, z: 500, old_width: 'true', pushed: '#trainings-header' } }
  %h3{ class: @lessons.any? ? 'bordered--top soft--top' : 'hidden', data: { 'course-container-title' => true } } Cours collectifs
#lesson-list
  - @lessons.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

.bg-white.bordered--bottom-on-stick{ data: { behavior: 'sticky', offset_top: 35, z: 500, old_width: 'true', pushed: '#lessons-header' } }
  %h3{ class: @privates.any? ? 'bordered--top soft--top' : 'hidden', data: { 'course-container-title' => true } } Cours particuliers
#private-list
  - @privates.each do |course|
    = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure }

.bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.soft--sides.text--center{ class: (@structure.courses.without_open_courses.empty? ? '' : 'hidden'), data: { empty: 'courses'} }
  %p.delta
    Vous n'avez pas encore d'activité à votre planning.
  = render partial: 'pro/structures/courses/add_activity_button'

= render 'course_bottom_scripts'
