= side_menu_currently_at 'courses'

.panel
  .panel__body.soft--ends
    .soft--sides
      %h4 Ajouter un :
      .grid
        .grid__item.one-half>
          = link_to 'Cours collectif', new_pro_structure_course_path(@structure, type: 'Course::Lesson'), class: 'btn btn--green btn--full fancybox.ajax', data: { behavior: 'modal', width: '700', padding: '0', close_click: 'false' }
        .grid__item.one-half>
          = link_to 'Stage / Atelier', new_pro_structure_course_path(@structure, type: 'Course::Training'), class: 'btn btn--green btn--full fancybox.ajax', data: { behavior: 'modal', width: '700', padding: '0', close_click: 'false' }

    %hr.push--ends
    .soft--sides
      %h4 Cours collectifs
      #lesson-list
        - @courses.lessons.each_with_index do |course, index|
          = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure, index: index }

    %hr.push--ends
    .soft--sides
      %h4 Stages & Ateliers
      #training-list
        - @courses.trainings.each_with_index do |course, index|
          = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure, index: index }
