= side_menu_currently_at 'courses'
.panel
  .panel__header.soft.text--center
    .grid
      .grid__item.two-twelfths.v-middle>
        %h4.flush Ajouter un :
      .grid__item.ten-twelfths.v-middle.text--center>
        = link_to 'Cours collectif', new_pro_structure_course_path(@structure, type: 'Course::Lesson'), class: 'btn btn--green btn--large fancybox.ajax', data: { behavior: 'modal', width: '750', padding: '0', close_click: 'false', action: 'new_course', course_type: 'lesson' }
        = link_to 'Cours particulier', new_pro_structure_course_path(@structure, type: 'Course::Private'), class: 'btn btn--green btn--large fancybox.ajax', data: { behavior: 'modal', width: '750', padding: '0', close_click: 'false', action: 'new_course', course_type: 'private' }

  .panel__body.soft--ends
    .soft--sides
      %h3 Cours collectifs
      %p{ class: (@courses.lessons.empty? ? '' : 'hidden'), data: { empty: 'lesson'} }
        Vous n'avez pas de cours.
        = link_to 'Ajouter un cours', new_pro_structure_course_path(@structure, type: 'Course::Lesson'), class: 'fancybox.ajax', data: { behavior: 'modal', width: '750', padding: '0', close_click: 'false' }
      - price_groups = @structure.price_groups.for_lessons
      #lesson-list.block-list
        - @courses.lessons.each_with_index do |course, index|
          = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure, price_groups: price_groups }

    %hr.push--ends

    .soft--sides
      %h3 Cours particuliers
      %p{ class: (@courses.privates.empty? ? '' : 'hidden'), data: { empty: 'private'} }
        Vous n'avez pas de cours particulier.
        = link_to 'Ajouter un cours particulier', new_pro_structure_course_path(@structure, type: 'Course::Private'), class: 'fancybox.ajax', data: { behavior: 'modal', width: '750', padding: '0', close_click: 'false' }
      - price_groups = @structure.price_groups.for_privates
      #private-list.block-list
        - @courses.privates.each_with_index do |course, index|
          = render partial: 'pro/structures/courses/live_form', locals: { course: course, structure: @structure, price_groups: price_groups }
