= side_menu_currently_at 'trial_courses'

.panel
  .panel__header.soft
    %h3.flush Cours d'essai gratuits
  .panel__body.soft--ends
    .soft--sides{ data: { behavior: 'wizard-helper', content: t('pro.structures.courses.wizard.discovery_pass.step_1') } }
      .delta.push--bottom.line-height-1-7
        Choisissez les cours que vous souhaitez proposer en cours d'essai gratuits. Pour vous, c'est le moyen le plus efficace pour recruter de nouveaux élèves à fidéliser pour vos cours réguliers et vos stages à venir.
        = link_to pages_free_trial_url(subdomain: 'pro'), class: 'btn btn--small', target: :_blank do
          %i.fa-info
          En savoir plus

      %h4
        %span.blue Etape 1 :
        définissez le nombre de cours d'essai par personne

      = simple_form_for [:pro, @structure], remote: true, data: { behavior: 'live-form' } do |f|
        .grid.epsilon.push--bottom
          .grid__item.text--center.six-tenths>
            %strong Nombre de cours d'essai par personne
          .grid__item.text--center.four-tenths>
            %strong % de conversion en élèves réguliers (statistiques)
        .grid.epsilon.push--bottom
          .grid__item.text--right.two-tenths>
            %input.inline-block.v-middle#trial_courses_policy_0_trial{ type: 'radio', value: '', name: 'structure[trial_courses_policy]', checked: @structure.trial_courses_policy.blank? }
          .grid__item.four-tenths>
            %label.inline-block.v-middle{ for: 'trial_courses_policy_0_trial' } Je n'offre pas de cours d'essai
        .grid.epsilon.push--bottom
          .grid__item.text--right.two-tenths>
            %input.inline-block.v-middle#trial_courses_policy_1_trial{ type: 'radio', value: '1_trial', name: 'structure[trial_courses_policy]', checked: @structure.trial_courses_policy == '1_trial'}
          .grid__item.four-tenths>
            %label.inline-block.v-middle{ for: 'trial_courses_policy_1_trial' }= t('structures.trial_courses_policy.1_trial')
          .grid__item.four-tenths>
            %p.flush
              %label.inline-block.v-middle{ for: 'trial_courses_policy_1_trial' }= t('structures.trial_courses_policy.1_trial_advantage_html')
        .grid.epsilon.push--bottom
          .grid__item.text--right.two-tenths>
            %input.inline-block.v-middle#trial_courses_policy_2_trials{ type: 'radio', value: '2_trials', name: 'structure[trial_courses_policy]', checked: @structure.trial_courses_policy == '2_trials'}
          .grid__item.four-tenths>
            %label.inline-block.v-middle{ for: 'trial_courses_policy_2_trials' }= t('structures.trial_courses_policy.2_trials')
          .grid__item.four-tenths>
            %p.flush
              %label.inline-block.v-middle{ for: 'trial_courses_policy_2_trials' }= t('structures.trial_courses_policy.2_trials_advantage_html')
        .grid.epsilon.push--bottom
          .grid__item.text--right.two-tenths>
            %input.inline-block.v-middle#trial_courses_policy_3_trials{ type: 'radio', value: '3_trials', name: 'structure[trial_courses_policy]', checked: @structure.trial_courses_policy == '3_trials'}
          .grid__item.four-tenths>
            %label.inline-block.v-middle{ for: 'trial_courses_policy_3_trials' }= t('structures.trial_courses_policy.3_trials')
          .grid__item.four-tenths>
            %p.flush
              %label.inline-block.v-middle{ for: 'trial_courses_policy_3_trials' }= t('structures.trial_courses_policy.3_trials_advantage_html')

    %hr.push--ends
    .soft--sides{ data: { behavior: 'wizard-helper', content: t('pro.structures.courses.wizard.discovery_pass.step_2') } }
      %h4
        %span.blue Etape 2 :
        choisissez les cours qui offrent des essais gratuits
    #lessons-header.soft.bg-white.bordered--bottom-on-stick{ data: { behavior: 'sticky', offset_top: 45, old_width: 'true', z: 300 } }
      %h3.flush Cours collectifs
    .soft--sides
      #lesson-list.block-list
        - if @courses.lessons.empty?
          %p
            Vous n'avez pas de cours collectif.
            = link_to regular_pro_structure_courses_path(@structure) do
              %i.fa.fa-plus
              Ajouter un cours collectif

        - else
          .soft-half--top.soft-half--bottom{ style: 'padding-left: 40px;'}
            = image_tag 'icons/arrow-blue.png', width: 50, height: 30, class: 'v-top'
            %strong.relative.v-top.epsilon{ style: 'top: -5px; '}
              %i.blue Cochez pour inclure dans vos cours d'essai gratuits
          - @courses.lessons.each_with_index do |course, index|
            = render partial: 'pro/structures/courses/trial_course', locals: { course: course, structure: @structure }
          .text--center= link_to 'Enregistrer', trial_courses_pro_structure_courses_path(@structure), class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours' }
    %hr.push--top.flush--bottom
    .bg-white.soft.bg-white.bordered--bottom-on-stick.relative{ data: { behavior: 'sticky', offset_top: 45, old_width: 'true', pushed: '#lessons-header', z: 400 } }
      %h3.flush Cours particuliers
    .soft--sides
      #private-list.block-list
        - if @courses.privates.empty?
          %p
            Vous n'avez pas de cours particulier.
            = link_to regular_pro_structure_courses_path(@structure) do
              %i.fa.fa-plus
              Ajouter un cours particulier
        - else
          .soft-half--top.soft-half--bottom{ style: 'padding-left: 40px;'}
            = image_tag 'icons/arrow-blue.png', width: 50, height: 30, class: 'v-top'
            %strong.relative.v-top.epsilon{ style: 'top: -5px; '}
              %i.blue Cochez pour inclure dans vos cours d'essai gratuits
          - @courses.privates.each_with_index do |course, index|
            = render partial: 'pro/structures/courses/trial_course', locals: { course: course, structure: @structure }
          .text--center= link_to 'Enregistrer', trial_courses_pro_structure_courses_path(@structure), class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours' }
    %hr.push--top.flush--bottom
    .bg-white.soft.bg-white.bordered--bottom-on-stick.relative{ data: { behavior: 'sticky', offset_top: 45, old_width: 'true', pushed: '#private-list', z: 400 } }
      %h3.flush Ateliers / Stages
    .soft--sides
      .block-list
        - if @courses.trainings.empty? or !@courses.trainings.detect{ |training| training.plannings.future.any? }
          %p
            Vous n'avez pas de stage ni d'atelier.
            = link_to trainings_pro_structure_courses_path(@structure, type: 'Course::Lesson') do
              %i.fa.fa-plus
              Ajouter un stage / atelier
        - else
          .soft-half--top.soft-half--bottom{ style: 'padding-left: 40px;'}
            = image_tag 'icons/arrow-blue.png', width: 50, height: 30, class: 'v-top'
            %strong.relative.v-top.epsilon{ style: 'top: -5px; '}
              %i.blue Cochez pour inclure dans vos cours d'essai gratuits
          - @courses.trainings.each_with_index do |course, index|
            - if course.plannings.future.any?
              = render partial: 'pro/structures/courses/trial_course', locals: { course: course, structure: @structure }
          .text--center= link_to 'Enregistrer', trial_courses_pro_structure_courses_path(@structure), class: 'btn btn--green btn--full', data: { disable_with: 'Enregistrement en cours' }
= content_for :scripts do
  :javascript
      $(function() {
          $('#trial_courses_policy_0_trial').change(function() {
              if ($('#trial_courses_policy_0_trial').is(':checked')) {
                  $('[name="course[is_open_for_trial]"]:checked').attr('checked', false);
              }
          })
      });
