- index      = 1 if index.nil?
- horizontal = false if horizontal.nil?
- homepage   = false if homepage.nil?
- article_decorator = BlogArticleDecorator.decorate article
- if horizontal
  %article.grid.text--center{ itemscope: true, itemtype: 'http://schema.org/Article' }
    - unless index == 0
      %hr.push--ends
    .grid__item.palm-one-whole.v-middle.four-tenths.palm-push--bottom>
      = link_to blog_article_path(article), class: 'block muted-link text--center overflow-hidden' do
        = image_tag article.image.url(:user_index_horizontal), class: 'hoverable-media one-whole block', data: { src_2x: article.image.url(:user_index_horizontal_2x) }
    .grid__item.palm-one-whole.v-middle.six-tenths>
      - if article.category
        = link_to category_blog_articles_path(category_id: article.category.slug), class: 'orange inline-block f-weight-500 delta bordered--bottom soft-half--bottom push-half--bottom soft-half--sides link-colored-on-hover' do
          = article.category.name
      %h2.line-height-1-7.text--center.f-weight-400.tk-lexia{ itemprop: 'name', class: (homepage ? 'beta' : 'alpha') }
        = link_to blog_article_path(article), class: 'link-colored-on-hover' do
          = article.title

      %p.epsilon.line-height-1-7{ itemprop: 'description' }
        = article.description
      .text--center
        = link_to article_decorator.share_url(:twitter), class: 'soft-half--right link-colored-on-hover', target: :_blank do
          %i.fa-twitter.delta
        = link_to article_decorator.share_url(:facebook), class: 'link-colored-on-hover', target: :_blank do
          %i.fa-facebook.delta

- else
  %article.eight-twelfths.soft--right.palm-one-whole.text--center{ itemscope: true, itemtype: 'http://schema.org/Article' }>
    - unless index == 0
      %hr.push--ends
    .text--center.push-half--bottom
      = link_to blog_article_path(article), class: 'inline-block muted-link text--center overflow-hidden' do
        = image_tag article.image.url(:user_index_vertical), class: 'hoverable-media palm-one-whole', data: { src_2x: article.image.url(:user_index_vertical_2x) }

    - if article.category
      = link_to category_blog_articles_path(category_id: article.category.slug), class: 'orange inline-block f-weight-500 delta bordered--bottom soft-half--bottom push-half--bottom soft-half--sides link-colored-on-hover' do
        = article.category.name
    %h2.line-height-1-7.text--center.f-weight-400.tk-lexia{ itemprop: 'name', class: (homepage ? 'beta' : 'alpha') }
      = link_to blog_article_path(article), class: 'link-colored-on-hover' do
        = article.title

    %p.center-block.eight-tenths.delta.line-height-1-7{ itemprop: 'description' }
      = article.description
    .text--center
      = link_to article_decorator.share_url(:twitter), class: 'soft-half--right link-colored-on-hover not-outlined', target: :_blank do
        %i.fa-twitter.delta
      = link_to article_decorator.share_url(:facebook), class: 'link-colored-on-hover not-outlined', target: :_blank do
        %i.fa-facebook.delta
