%article.soft-half--top.push--bottom{ itemscope: true, itemtype: 'http://schema.org/Article' }
  - if article.image.present?
    = link_to blog_article_path(article), class: 'muted-link push-half--bottom block' do
      .bg-cover{ style: "background-image: url('#{asset_path(article.image.url(:default))}'); height: 150px;" }
  %h2.flush{ itemprop: 'name' }
    = link_to blog_article_path(article), class: 'semi-muted-link' do
      = article.title

  .blog-article__published-date.gray
    %i
      Publié le
      %time{ itemprop: 'dateCreated', datetime: l(article.published_at, format: :iso_date) }
        = l article.published_at, format: :date_with_year
  %p.epsilon.line-height-1-7{ itemprop: 'description' }
    = article.description
    = link_to 'Lire&nbsp;la&nbsp;suite&nbsp;→'.html_safe, blog_article_path(article)
