= content_for :title do
  = @category.page_title
= content_for :meta_description do
  = @category.page_description

= content_for :above_content do
  = render partial: 'blog/breadcrumb', locals: { category: nil, article: nil }
  .main-container.main-container--medium.text--center
    %h1.soft--ends.bordered--bottom.bordered--gray.bordered--larger.tk-lexia.f-weight-400.f-size-really-big= @category.name
    - if @category.description.present?
      .blog-article__show-wrapper.gamma.text--center.tk-lexia.line-height-1-7
        = @category.description.html_safe
  .relative.height-35vh.bg-position-top.flexbox.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url('#{@category.image.url(:large)}')", data: { behavior: 'parallax' } }

- @articles.each_with_index do |article, index|
  = render partial: 'blog/articles/article', locals: { article: article, horizontal: (index > 1), index: index }
.text--center.push-half--ends= paginate @articles, window: 1, outer_window: 3
