= content_for :title do
  Le blog CoursAvenue

= content_for :above_content do
  .relative.height-35vh.bg-position-top.flexbox.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url('#{asset_path('pages/colored_pencils.jpg')}')" }
    .black-curtain.north.west.one-whole.absolute
    .flexbox__item.v-middle.text--center.relative
      %h1.tk-lexia.f-size-really-big.f-weight-400.flush= link_to "Arts. Sports. Bien-être.", blog_articles_path, class: 'muted-link'
      %h2.palm-epsilon.flush= link_to "Le Blog CoursAvenue", blog_articles_path, class: 'muted-link'

- @articles.each_with_index do |article, index|
  = render partial: 'blog/articles/article', locals: { article: article, horizontal: (index > 1), index: index }

%hr.push--ends
.text--center.push--ends= paginate @articles, window: 1, outer_window: 3
