- @is_responsive = true

= content_for :title do
  = @article.page_title

= content_for :meta_description do
  = @article.description

= content_for :meta_image do
  = @article.image.url(:default)

= content_for :above_content do
  .relative.height-35vh.bg-position-top.flexbox.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url('#{@article.image.url(:default)}')", data: { behavior: 'parallax' } }
    .black-curtain.north.west.one-whole.absolute
      .float--left.soft-half= link_to "← Retour aux articles", blog_articles_path, class: 'muted-link'
    .flexbox__item.v-middle.text--center.relative
      %h1.f-size-really-big.flush= @article.title


.push-half--bottom.grid
  .grid__item.one-half>
    %strong.v-middle Partager :
    .inline-block.v-middle.push-half--right{ class: "fb-share-button", data: { href:  blog_article_url(@article), type: 'button_count' } }
    %a.inline-block.v-middle{ href: blog_article_url(@article), class: 'twitter-share-button', data: { lang: "fr", via: 'CoursAvenue', url: blog_article_url(@article) } } Tweeter

  .blog-article__published-date.gray.grid__item.one-half.text--right>
    %i
      Publié le
      %time{ itemprop: 'dateCreated', datetime: l(@article.published_at, format: :iso_date) }
        = l @article.published_at, format: :date_with_year


- cache [@article, 'blog/articles/index/v2'] do
  %article{ itemscope: true, itemtype: 'http://schema.org/Article' }
    - if @article.tags.any?
      %div
        - @article.tags.each do |tag|
          .lbl
            = link_to tag.name, tags_blog_articles_path(tag: tag.name), class: 'muted-link'

    .push--top.blog-article__content{ itemprop: 'text' }
      = @article.content.html_safe
    .visuallyhidden= link_to "Lien vers l'article", blog_article_url(@article), itemprop: 'url'

  %div
    .f-weight-600.epsilon.push-half--right.inline-block.v-middle Partager sur :
    = link_to @article_decorator.share_url(:facebook), class: 'v-middle btn btn--facebook push-half--right', target: :_blank do
      %span Facebook
    = link_to @article_decorator.share_url(:twitter), class: 'v-middle btn btn--twitter', target: :_blank do
      %span Twitter
  %hr.push--ends
  %h4 Articles similaires
  .grid
    - @article.similar_articles.each do |article|
      .grid__item.one-half.text--center>
        .relative.bg-cover{style: "background-image: url('#{article.image.url(:default)}'); height: 120px; "}>
          = link_to blog_article_path(article), class: 'block show-on-hover__wrapper show-on-hover__wrapper--black-curtain', title: article.title do
            .home-screen-gallery__title.text--center
              %h3.f-weight-normal.flush.delta.soft-half--top.soft-half--sides= article.title
              .show-on-hover__child.milli
                Lire l'article

  #disqus_thread
  :javascript
    var disqus_shortname = 'coursavenue';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  %noscript
    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

