%article{ itemscope: true, itemtype: 'http://schema.org/Article' }
  %h1.blog-article__title{ itemprop: 'name' }
    = @article.title

  .blog-article__published-date.gray
    %i
      Publié le
      %time{ itemprop: 'dateCreated', datetime: l(@article.published_at, format: :iso_date) }
        = l @article.published_at, format: :date_with_year

  - if @article.tags.any?
    %div
      - @article.tags.each do |tag|
        .lbl= tag.name

  .push--top.blog-article__content{ itemprop: 'text' }
    = @article.content.html_safe
  .visuallyhidden= link_to "Lien vers l'article", blog_article_url(@article), itemprop: 'url'
