= content_for :title do
  = @article_decorator.page_title

= content_for :meta_description do
  = @article.page_description || @article.description

= content_for :meta_image do
  = @article.image.url(:default)

= content_for :above_content do
  = render partial: 'blog/breadcrumb', locals: { category: @article.category, article: @article }
  .relative.height-70-vh.bg-position-top.flexbox.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url('#{@article.image.url(:default)}')" }
    .black-curtain.north.west.one-whole.absolute
  .text--center.soft.main-container
    %h1.tk-lexia.f-weight-400.f-size-really-big.flush.line-height-1-3= @article.title
    .blog-article__published-date.gray.grid__item.one-half>
      %i
        Publié le
        %time{ itemprop: 'dateCreated', datetime: l(@article.published_at, format: :iso_date) }
          = l @article.published_at, format: :date_with_year


#social-badges.hidden.text--center.fixed{ style: 'margin-left: -50px;' }
  .push-half--bottom
    %div.fb-like{ data: { href: "https://www.facebook.com/CoursAvenue", layout: "box_count", action: "like", "show-faces" => "false", share: "false" } }
  .push-half--bottom
    %div{ class: "fb-share-button", data: { href:  blog_article_url(@article), type: 'box_count' } }
  %div
    %a{ href: blog_article_url(@article), class: 'twitter-share-button', data: { lang: "fr", via: 'CoursAvenue', url: blog_article_url(@article), count: 'vertical' } } Tweeter

.blog-article__show-wrapper.relative
  .text--right>
    .inline-block.v-middle.push-half--right{ class: "fb-share-button", data: { href:  blog_article_url(@article), type: 'button_count' } }
    %a.inline-block.v-middle{ href: blog_article_url(@article), class: 'twitter-share-button', data: { lang: "fr", via: 'CoursAvenue', url: blog_article_url(@article) } } Tweeter

  - cache [@article, 'blog/articles/index/v2'] do
    %article{ itemscope: true, itemtype: 'http://schema.org/Article' }
      .blog-article__content.push--top{ itemprop: 'text' }
        = @article.content.html_safe
      .visuallyhidden= link_to "Lien vers l'article", blog_article_url(@article), itemprop: 'url'

    %hr.push--ends
    - if @article.tags.any?
      .push--bottom.text--center
        - @article.tags.each do |tag|
          .lbl.push-half--bottom
            = link_to tag.name, tags_blog_articles_path(tag: tag.name), class: 'muted-link'
    .text--center.push--bottom
      = link_to @article_decorator.share_url(:facebook), class: 'v-middle push-half--right', target: :_blank do
        %i.fa.fa-3x.fa-facebook
      = link_to @article_decorator.share_url(:twitter), class: 'v-middle', target: :_blank do
        %i.fa-3x.fa-twitter

    - if @article.subjects.any?
      %h4.beta.text--center.tk-lexia.bordered--bottom.soft--bottom.f-weight-400.push--top.soft--top Découvrez nos guides de disciplines
      %ul.nav.text--center
        - @article.subjects.each do |subject|
          - subject.vertical_pages.each do |vertical_page|
            %li.epsilon.soft--right.line-height-1-7= link_to vertical_page.subject_name, vertical_page_path(subject.root, vertical_page)

    %h4.beta.text--center.tk-lexia.bordered--bottom.soft--bottom.f-weight-400.push--top.soft--top Vous aimerez aussi
    .grid.push--bottom
      - @article.similar_articles.each do |article|
        .grid__item.one-third.palm-one-whole.push--bottom>
          = link_to blog_article_path(article), class: 'block link-colored-on-hover', title: article.title do
            = image_tag article.image.url(:similar_article), class: 'block one-whole hoverable-media'
            %h4.text--center.tk-lexia.f-weight-normal.flush.delta.soft-half--top.line-height-1-3= article.title

  %h4.beta.text--center.tk-lexia.bordered--bottom.soft--bottom.f-weight-400.push--top.soft--top Commentaires
  #disqus_thread
  :javascript
    var disqus_shortname = 'coursavenue';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  %noscript
    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

= content_for :scripts do
  :javascript
      $(function() {
          var replaceSocialBadges = function() {
              $('#social-badges').css({
                  left: $('.blog-article__content').offset().left - $('#social-badges').width() - 70,
                  top: '50px'
              });
          }
          replaceSocialBadges();
          $(window).resize(replaceSocialBadges);
          var blog_article_offset_top = $('.blog-article__content').offset().top
          $(window).scroll(function(){
              if ($(window).scrollTop() > blog_article_offset_top) {
                  $('#social-badges').fadeIn();
              } else {
                  $('#social-badges').fadeOut();
              }
          });

      });
