= side_menu_currently_at 'activity'

= render partial: 'pro/shared/activity_tabs', locals: { current: 'community' }

.text--center.push-half--ends= paginate @message_threads, window: 1, outer_window: 3
%table.table--striped
  %thead
    %tr
      %th.six-twelfths Question
      %th.four-twelfths Structure
      %th.one-twelfth # réponses
      %th.one-twelfth Date
  %tbody
    - @message_threads.each do |message_thread|
      - structure = message_thread.community.structure
      - message = message_thread.messages.order('created_at ASC').first
      %tr
        %td
          %strong= message.sender.name
          = message.body
        %td= link_to structure.name, structure_url(structure, subdomain: 'www'), target: :_blank
        %td= message_thread.messages.count - 1
        %td.nowrap
          = l(message_thread.created_at.to_date, format: :short)
          = l(message_thread.created_at, format: :short)

%hr.push--ends
.text--center.push--ends= paginate @message_threads, window: 1, outer_window: 3
