{{#each messages}}
<article class="push--bottom" itemscope itemtype="http://data-vocabulary.org/Review">
    <div class="grid--full">
        <div class="grid__item palm-one-whole two-twelfths text--center">
            <div class="relative inline-block">
                {{#if avatar_url}}
                  <img height="60" width="60" src="{{ avatar_url }}" alt="Photo de {{ author_name }}" class="visuallyhidden--palm bordered rounded--circle center-block push-half--bottom">
                {{else}}
                  <img height="60" width="60" src="<%= asset_path('icons/avatar.png') %>" alt="Photo de {{ author_name }}" class=" visuallyhidden--palmbordered rounded--circle center-block push-half--bottom">
                {{/if}}
            </div>
            <div class="text--center palm-text--left"><strong itemprop="reviewer">{{ author_name }}</strong></div>
        </div>{{!--
    --}}<div class="grid__item palm-one-whole ten-twelfths">
            <div class="gray-box soft message__appendix">
                {{#if title}}
                  <h6 class="quoted inline-block push-half--bottom" itemprop='summary' content="{{title}}">{{{ hide_contacts title }}}</h6>
                  {{#if course_name}}
                    <h4 class="flush f-weight-normal inherit-font-size inline-block">
                        <i itemprop="itemreviewed" class="v-middle">— {{course_name}}</i>
                    </h4>
                  {{/if}}
                {{/if}}
                <div itemprop="reviewBody">
                  {{{ simple_format_hide_contacts content }}}
                </div>
                <p class="text--right flush">
                    <i class="semi-muted">
                        Il y a <span itemprop="dtreviewed" datetime="{{ created_at_iso }}" content="{{ created_at_iso }}">{{ distance_of_time }}</span>
                    </i>
                </p>
                {{#if reply}}
                    <hr class="push-half--ends message__appendix--top">
                    <p><strong>{{structure_name}} a répondu à cet avis :</strong></p>
                    <div data-behavior="read-more" class="read-more" style="max-height: none;">
                        {{{ simple_format_hide_contacts reply.content }}}
                    </div>
                {{/if}}
            </div>
            <meta itemprop='rating' content="5">
            <meta itemprop='url' content="{{ comment_url }}">
            <meta itemprop='name' content="{{ structure_name }}">
        </div>
    </div>
</article>
{{/each}}
<hr />
