= side_menu_currently_at 'premium'

.panel
  .panel__header.soft
    = render partial: 'pro/structures/subscription_plans/premium_breadcrumb', locals: { current: 'payment' }
  .panel__body.soft.hard--bottom
    - if params[:AMOUNT] and params[:AMOUNT].to_i
      %p.text--right.epsilon
        %strong
          Total à payer :
          = "#{params[:AMOUNT].to_i / 100}€"
    .text--center.push-half--bottom
      = image_tag 'logos/be2bill/logo_cb.png', class: 'soft-half--sides', height: 35, style: 'height: 35px;'
      = image_tag 'logos/be2bill/logo_mastercard.png', class: 'soft-half--sides', height: 35, style: 'height: 35px;'
      = image_tag 'logos/be2bill/logo_verified_by_visa.png', class: 'soft-half--sides', height: 35, style: 'height: 35px;'
    \%PLACEHOLDER%

