%h4.small-margin-bottom Notez cet établissement
.islet.white-box
  = simple_form_for @comment, url: place_comments_path(@place) do |f|
    .ilb-wrapper
      .rating
        %i.star.icon-star-empty.gamma{data: {value: 1}}
        %i.star.icon-star-empty.gamma{style: 'left: -3px; padding: 0 2px', data: {value: 2}}
        %i.star.icon-star-empty.gamma{style: 'left: -6px; padding: 0 2px', data: {value: 3}}
        %i.star.icon-star-empty.gamma{style: 'left: -9px; padding: 0 2px', data: {value: 4}}
        %i.star.icon-star-empty.gamma{style: 'left: -12px; padding: 0 2px', data: {value: 5}}
      #rating-description
    = f.input :rating, as: :hidden
    .ilb-wrapper.align-middle
      .one-half.ilb-wrapper.align-middle
        %label{for: 'comment_author_name'} * Nom&nbsp;
        = f.input :author_name, input_html: {style: 'width: 22em;'}, label: false, placeholder: 'Patrick C.'
      .one-half.ilb-wrapper.align-middle
        %label{for: 'comment_email'} Email&nbsp;
        = f.input :email, input_html: {style: 'width: 22em;'}, label: false, placeholder: 'Votre email restera privé'
    = f.input :title, label_html: {style: 'width: 13em; vertical-align: top;'}, input_html: {style: 'width: 40.5em;'}, placeholder: 'Cours de Zumba du lundi, Atelier pâtisserie du 13 juin, etc.', label: 'Intitulé des cours suivis'
    = f.input :content, label_html: {style: 'width: 13em; vertical-align: top;'}, input_html: {style: 'width: 40.5em; height: 50px;', 'data-behavior' => 'autoresize'}, placeholder: "Qu'avez-vous pensé du cours ?"
    .text--center
      = f.submit 'Publier mon avis', class: 'btn btn__large btn__primary', style: 'padding-top: 6px; padding-bottom: 6px;'
- if @place.rating
  %h5.float--right.flush--bottom Note moyenne : #{'%.1f' % @place.rating}
/ .rating-5{style: 'line-height: 1;'}
/   .text--right
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     = @place.comments.where(rating: 5).count
/ .rating-4{style: 'line-height: 1;'}
/   .text--right
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     = @place.comments.where(rating: 4).count
/ .rating-3{style: 'line-height: 1;'}
/   .text--right
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     = @place.comments.where(rating: 3).count
/ .rating-2{style: 'line-height: 1;'}
/   .text--right
/     %i.star.icon-star.yellow
/     %i.star.icon-star.yellow
/     = @place.comments.where(rating: 2).count
/ .rating-1{style: 'line-height: 1;'}
/   .text--right
/     %i.star.icon-star.yellow
/     = @place.comments.where(rating: 1).count
%h4.small-margin-bottom Les derniers avis

- if @comments.any?
  %ul.comment-list
    - @comments.each do |comment|
      %li.comment-list__el
        %article{itemprop: 'reviews', itemscope: true, itemtype:'http://schema.org/Review'}
          %b{itemprop: 'author'}= comment.author_name
          - if comment.rating
            %span.rating{title: comment_rating_title(comment.rating), itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating'}
              = rating_stars comment.rating
              %meta{itemprop: 'ratingValue', content: comment.rating}
              %meta{itemprop: 'bestRating', content: 5}
          %i.semi-muted{itemprop: 'datePublished', content: l(comment.created_at, format: :iso_date)} le #{l(comment.created_at, format: :date)}
          - if comment.title.present?
            %h6.flush--bottom{itemprop: 'headline', content: comment.title}= comment.title
          %p{itemprop: 'reviewBody'}
            = comment.content
- else
  %p Soyez le premier à nous donner votre avis !
= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        var rating_descriptions = [
          'Épouvantable',
          "Mauvais",
          'Moyen',
          'Très bon',
          "Excellent !"
        ]
        $$('.rating .star').addEvent('click', function() {
            $('comment_rating').set('value', this.get('data-value'));
            this.getAllPrevious().addClass('icon-star').removeClass('icon-star-empty');
            this.addClass('icon-star').removeClass('icon-star-empty');
            this.getAllNext().removeClass('icon-star').addClass('icon-star-empty');
        });
        $('new_comment').addEvent('submit', function(){
            if ($('comment_rating').value.length === 0) {
                new GLOBAL.Objects.Flash('Vous devez mettre une note pour poster un commentaire.').showAndHide();
                return false;
            }
        });
        $$('.rating .star').addEvents({
            mouseenter:  function() {
                $('rating-description').set('text', rating_descriptions[parseInt(this.get('data-value')) - 1]);
                if ($('comment_rating').value.length === 0 || (parseInt($('comment_rating').value) < parseInt(this.get('data-value')))) {
                    this.getAllPrevious().addClass('icon-star').removeClass('icon-star-empty');
                    this.addClass('icon-star').removeClass('icon-star-empty');
                    this.getAllNext().removeClass('icon-star').addClass('icon-star-empty');
                }
            },
            mouseleave: function() {
                $$('.rating .star').removeClass('icon-star').addClass('icon-star-empty');
                if ($('comment_rating').value.length > 0) {
                    var value = parseInt($('comment_rating').value);
                    $('rating-description').set('text', rating_descriptions[value - 1]);
                    for (var i = 0; i < value; i += 1) {
                        $$('.rating .star')[i].addClass('icon-star').removeClass('icon-star-empty');
                    }
                } else {
                    $('rating-description').set('text', '');
                }
            }
        });
    });
