%li.one-whole.course-element{data: {"place-id" => place.id, url: place_path(place), type: 'place-element'}}
  - if place.thumb_image.present? or place.structure.image.present?
    %div.two-twelfths.hide--palm
      .course-image.media__img
        = link_to place_path(place) do
          - if place.thumb_image.present?
            = image_tag place.thumb_image.url(:thumb)
          - else
            = image_tag place.structure.image.url(:thumb)

  %article.course-content.eight-twelfths
    %header
      %h4.hN.course-title
        .map-marker-image
          = link_to place_path(place) do
            %span= place_counter + 1
        %span= link_to place.long_name, place_path(place)
    %p
      %i.icon-map-marker
      = place.street
      \-
      = place.city.try(:name)
    - if place.parent_subjects.any?
      %footer
        %ul.nav
          %li
          - place.parent_subjects.each do |subject|
            %li
              %span= link_to subject.name, subject_places_path(subject), class: 'lbl milli inline subject-link'
    - if place.rating
      %meta{itemprop: "ratingValue", content: place.rating}
      %div
        = place.comments.count
        avis
        %i.lbc-brand-icon
        \/
        = rating_stars place.rating
        = "%.1f" % place.rating
    - else
      %span.super-muted= rating_stars 5
      = link_to "Soyez le 1er à donner votre avis", place_path(place, anchor: 'comments')
  .course-content.two-twelfths.text--center
    .alpha.orange= place.course_with_planning.length
    %b cours
