%li.one-whole.course-element{data: {"place-id" => place.id}}
  - if place.image.present?
    %div.two-twelfths.hide--palm
      .course-image.media__img
        = link_to place_path(place) do
          = image_tag place.image.url(:thumb)

  %article.course-content.ten-twelfths
    %header
      %h4.hN.course-title
        .map-marker-image
          = link_to place_path(place) do
            %span= place_counter + 1
        %span= link_to place.long_name, place_path(place)
    %p
      %i.icon-map-marker
      = place.street
      \-
      = place.city.try(:name)
    %footer
      %ul.nav
        %li
        - place.parent_subjects.each do |subject|
          %li
            %span= link_to subject.name, subject_places_path(subject), class: 'lbl milli inline subject-link'
    - if place.rating
      %meta{itemprop: "ratingValue", content: place.rating}
      %div
        = place.comments.count
        avis
        %i.lbc-brand-icon
        \/
        = rating_stars place.rating
        = "%.1f" % place.rating
    - else
      %span.super-muted= rating_stars 5
      = link_to "Soyez le 1er à donner votre avis", place_path(place)
  .two-twelfths.text--center
    .alpha.orange= place.course_with_planning.length
    cours
