%li.one-whole.course-element{data: {"place-id" => place.id, url: place_path(place), type: 'place-element'}}
  - if place.thumb_image.present? or place.structure.image.present?
    %div.two-twelfths.visuallyhidden--palm
      .course-image.media__img
        = link_to place_path(place) do
          - if place.thumb_image.present?
            = image_tag place.thumb_image.url(:thumb)
          - else
            = image_tag place.structure.image.url(:thumb)

  %article.course-content.eight-twelfths
    %header
      .hN.course-title
        .map-marker-image
          = link_to place_path(place) do
            %span= place_counter + 1
        %h2.delta.inline.v-middle= link_to place.long_name, place_path(place)
        - if place.structure.rating
          %meta{itemprop: "ratingValue", content: place.structure.rating}
          %div.inline.nowrap
            = rating_stars place.structure.rating
            \/
            = place.structure.comments_count
            avis
            %i.lbc-brand-icon
    %p
      = place.street
      \-
      = place.city.try(:name)
    %ul.nav= join_place_parent_subjects(place)
  - if place.courses.count > 0
    .course-content.two-twelfths.text--center.v-middle
      .alpha.orange= place.courses.count
      %b cours
