= content_for :head do
  - if @subject
    %link{rel: 'canonical', href: subject_places_url(@subject)}
  - else
    %link{rel: 'canonical', href: places_url}
.grid
  .grid__item= render 'search_form'
  %section.grid__item.three-tenths.visuallyhidden--lap.visuallyhidden--palm>
    = render 'side_search_form'
  %section.grid__item.seven-tenths.lap--one-whole.palm--one-whole
    - if params[:subject_id]
      %h1.text--center.delta.push--top.flush--bottom.lbl.lbl--blue Tous les établissements de <u>#{@subject.name.downcase}</u> à #{@city.name}
    - else
      %h1.text--center.delta.push--top.flush--bottom.lbl.lbl--blue Tous les établissements à #{@city.name}
    %ul.tab-titles
      %li
        - if @subject
          = link_to 'Par cours', subject_courses_path(@subject, name: params[:name]), class: 'tab-el', onclick: "_gaq.push(['_trackEvent', 'Chercher par cours', 'click'])"
        - else
          = link_to 'Par cours', courses_path(name: params[:name]), class: 'tab-el', onclick: "_gaq.push(['_trackEvent', 'Chercher par cours', 'click'])"
      %li.tab-el.active Par établissement

    .flexbox.page-entries-wrapper
      .flexbox__item.palm--one-whole
        %p.flush--bottom
          = page_entries_info @places, pluralized_entry_name: Place.model_name.human(count: @places.total_count).downcase
        .spoken-form
          %label Trier par :
          %select#filter-select{name: 'sort'}
            %option{value: 'relevancy', selected: (params[:sort] == 'relevancy') } Pertinence
            %option{value: 'rating_desc', selected: (params[:sort] == 'rating_desc')} Notes : les cours les mieux notés en premier
      .flexbox__item.visuallyhidden--palm
        .text--right= paginate @places, window: 1, outer_window: 1


    - if @places.empty?
      = render 'no_results'
    - else
      %ul.block-list.course-list
        = render partial: 'place', :collection => @places

    %footer.g.one-whole
      = paginate @places, window: 2, outer_window: 1
= content_for :scripts do
  :javascript
      window.addEvent('domready', function() {
        $('filter-select').addEvent('change', function() {
              $('hidden-sort-input').set('value', this.value);
              $('submit_search_form').click();
          });
          $$('[data-type=place-element]').each(function(place_element) {
              place_element.addEvent('click', function(event) {
                  // Change url only if user doesn't click on link
                  if (event.target.nodeName !== 'A') {
                      if (event.meta || event.control) {
                          window.open(this.get('data-url'));
                      } else {
                          window.location = this.get('data-url');
                      }
                      return false;
                  }
              });
          });
      });
