- if @place.image.present? or @structure.image.present?
  = content_for :meta_image do
    - if @place.image.present?
      = @place.image.url
    - elsif @structure.image.present?
      = @structure.image.url


= content_for :title do
  = "#{@structure.name} à #{@place.name}"

= content_for :meta_description do
  - if @structure.description.present?
    = "#{@structure.description_for_meta} - #{@place.long_name}"
  - else
    - if @place.parent_subjects_string.present?
      = "Retrouvez tous les cours de #{@place.name} à #{@city.name}. #{subjects_name_from_string(@place.parent_subjects_string)} et bien plus ! - #{@place.long_name}"
    - else
      = "Retrouvez tous les cours de #{@place.name} à #{@city.name} - #{@place.long_name}"

.inline-block
  - if cookies[:place_search_path]
    = link_to cookies[:place_search_path] do
      %i.orange ←
      Retour aux résultats
  - else
    = link_to places_path(address_name: @city.name, lat: @city.latitude, lng: @city.longitude) do
      %i.orange ←
      Voir les établissements à proximité
.inline-block.push-half--sides
  |
.inline-block
  %ol.nav.breadcrumb.flush{itemprop: 'breadcrumb'}
    %li
      = link_to "Tous les établissements à #{@city.name}", places_path(address_name: @city.name, lat: @city.latitude, lng: @city.longitude)
    %li= @place.name

%h1.course-title.flush--bottom
  = @structure.name
%h4.course-title.epsilon
  %i.icon-map-marker.v-middle
  %span.v-middle= @place.name
- if @structure.rating
  %div
    %span.rating{title: comment_rating_title(@structure.rating)}
      = rating_stars @structure.rating
    \/
    = @structure.comments_count
    avis
    %a{href: '#comments'}
      %i.lbc-brand-icon
%ul.nav.flush--bottom= join_structure_parent_subjects @place.structure, true

.grid--full.cf
  - # To Float left to have it first on mobile
  %section#summary.grid__item.three-tenths.lap--one-whole.palm--one-whole.float--right.islet>
    %article.course-info{itemscope: true, itemtype: 'http://schema.org/Place'}
      .visuallyhidden{itemprop: 'geo', itemscope: true, itemtype: 'http://schema.org/GeoCoordinates'}
        %meta{itemprop: 'latitude', content: @place.latitude}
        %meta{itemprop: 'longitude', content: @place.longitude}

      - if @place.thumb_image.present?
        .text--center= image_tag @place.thumb_image.url(:thumb), alt: "Cours de #{join_structure_parent_subjects_text @place.structure} à #{@place.long_name}"
      - elsif @structure.image.present?
        .text--center= image_tag @structure.image.url(:thumb), alt: "Cours de #{join_structure_parent_subjects_text @place.structure} à #{@place.long_name}"
      %h2.delta.text--center.flush--bottom
        = @structure.name
      %h5.text--center
        %i.icon-map-marker.v-middle
        %span.v-middle= @place.name
      - if current_user
        %hr
        - if @structure.website
          %div
            %i.icon-external-link.orange
            = link_to @structure.website, URI.encode(@structure.website), target: '_blank', rel: 'nofollow'
        .blue
          - if @place.contact_phone or @place.contact_mobile_phone
            %i.icon-phone.blue
          - if @place.contact_phone
            = link_to "tel:#{@place.contact_phone.gsub(/\s+/, '')}", class: 'blue' do
              = @place.contact_phone.gsub(' ', '&nbsp;').html_safe
          - if @place.contact_phone and @place.contact_mobile_phone
            %span.blue /
          - if @place.contact_mobile_phone
            = link_to "tel:#{@place.contact_mobile_phone.gsub(/\s+/, '')}", class: 'blue' do
              = @place.contact_mobile_phone.gsub(' ', '&nbsp;').html_safe
        %div
          %i.icon-home
          = readable_address @place

      .text--center.push--top
        - if current_user
          = form_for @place.reservations.build, remote: true do |f|
            = f.hidden_field :reservable_type
            = f.hidden_field :reservable_id
            = f.submit 'Coordonnées de reservation', class: 'btn btn--success one-whole', onclick: "_gaq.push(['_trackEvent', 'Établissement - contacter', 'click','Inscrit'])", data: {behavior: 'modal', title: "Information pour contacter l'établissement", width: '650px', el: 'place_info'}

          #place_info.hidden= render 'places/courses/info_popup'

        - else
          %a.btn.btn--success.one-whole{href: '#', onclick: "_gaq.push(['_trackEvent', 'Établissement - contacter', 'click','Non inscrit'])",  data: {behavior: 'modal', title: 'Connectez-vous pour contacter cet établissement', width: '400px', url: '/users/sign_up'}} Coordonnées de reservation


    .text--center.white-box.islet
      - if @structure.rating
        .delta Note : #{@structure.rating}
        %div.gamma.push-half--bottom.push-half--top{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://data-vocabulary.org/review-aggregate'}
          %span.rating{title: comment_rating_title(@structure.rating)}
            = rating_stars @structure.rating
          %meta{property: 'v:rating', itemprop: 'rating', content: @structure.rating}
          %meta{itemprop: 'count', content: @structure.comments_count}
          %meta{itemprop: 'itemreviewed', content: @place.long_name}
          %meta{itemprop: 'name', content: @place.long_name}
          %meta{itemprop: 'street-address', content: @place.street}
          %meta{itemprop: 'postal-code', content: @place.zip_code}
          %meta{itemprop: 'locality', content: @city.name}

      %div
        %b Vous connaissez cet établissement ?
      %div
        = link_to 'Donnez votre avis !', '#comments', onclick: "_gaq.push(['_trackEvent', 'Donner mon avis - lieu', 'click','#{@place.slug}'])"


    - if @structure.facebook_url.present?
      = link_to "Page facebook de l'établissement", URI.encode(@structure.facebook_url), target: '_blank', class: 'btn--facebook btn one-whole btn--small'

    -# %hr

    -# %article.visuallyhidden--palm.visuallyhidden--lap
    -#   .delta Établissements à proximité
    -#   %ul.block-list
    -#     - @surrounding_places.each do |surrounding_place|
    -#       %li
    -#         = link_to place_path(surrounding_place), class: 'flexbox similar-course--image-wrapper', onclick: "_gaq.push(['_trackEvent', 'Établissements à proximité - lieu', 'click','#{surrounding_place.slug}'])" do
    -#           .flexbox__item.one-fifth.similar-course--image
    -#             - if surrounding_place.image.present?
    -#               = image_tag surrounding_place.image.url(:thumb)
    -#             - elsif (surrounding_place_subject = surrounding_place.subjects.limit(1)).any?
    -#               = image_tag surrounding_place_subject[0].image.url(:thumb)
    -#           .flexbox__item.similar-course
    -#             %h4.similar-course--course-name.flush--bottom= surrounding_place.long_name
    -#             .similar-course--structure-name
    -#               %i.icon-map-marker
    -#               = surrounding_place.street

  %section.grid__item.seven-tenths.palm--one-whole.lap--one-whole.islet>
    - if @place.image.present?
      .grid--full.course-header-badge>
        .grid__item.one-half.palm--one-whole>
          = image_tag @place.image.url(:wide), class: 'course-header-badge-image', alt: @place.long_name
        .grid__item.course-header-map.one-half.palm--one-whole>
          = gmaps( {markers: {data: @json_place_address}, map_options: {maxZoom: 15, mapTypeControl: false}, last_map: @other_places.empty?} )
    - else
      .course-header-map
        = gmaps( {markers: {data: @json_place_address}, map_options: {maxZoom: 15, mapTypeControl: false}, last_map: @other_places.empty?} )
        %h4.course-header-structure-name.flush--bottom
          %b= @place.long_name
          - if current_user
            %br
            %i.icon-map-marker
            = readable_address @place

    = render 'share_links'
    %hr

    %ul.tab-titles{data: {behavior: 'tabs'}}
      %li.tab-el.active{class: (@structure.description.present? ? '' : 'gray-light' ), onclick: "_gaq.push(['_trackEvent', 'Description de l etablissement', 'click', '#{@place.slug}']);", data: { el: 'tab-description' }} Description
      %li.tab-el{class: (@courses.any? ? '' : 'gray-light' ), onclick: "_gaq.push(['_trackEvent', 'Liste des cours', 'click', '#{@place.slug}']);", data: { el: 'tab-courses' }}
        Liste des cours
        - if @courses.any?
          (#{@courses.length})
      %li.tab-el{class: (@teachers.any? ? '' : 'gray-light' ), onclick: "_gaq.push(['_trackEvent', 'Profeseurs', 'click', '#{@place.slug}']);", data: { el: 'tab-teacher' }}
        = Teacher.model_name.human(count: @teachers.length)
        (#{@teachers.length})
      %li.tab-el{class: (@medias.any? ? '' : 'gray-light' ), onclick: "_gaq.push(['_trackEvent', 'Galerie media', 'click', '#{@place.slug}']);", data: { el: 'tab-videos' }}
        Photos & vidéos
        (#{@medias.length})
      - if @other_places.any?
        %li.tab-el#tab-other-places-li{onclick: "_gaq.push(['_trackEvent', 'Autres lieux', 'click', '#{@place.slug}']);", data: { el: 'tab-other-places' }}
          Autres lieux
          (#{@other_places.length})

    .tab-content
      %article#tab-description.tab-pane.active
        - if @place.description.present?
          %h2.delta.text--center Description de #{@place.long_name}
          %p#place-description{style: 'max-height: 200px; overflow: hidden;'}= @place.description.html_safe
          .text--center.islet
            %a.btn#show-more-description Voir toute la description
        - else
          %p Cet établissement n'a pas de description.

      %article#tab-teacher.tab-pane
        - @teachers.each do |teacher|
          %p
            %b= teacher.name
            %br
            = teacher.description

      %article#tab-courses.tab-pane
        %h2.delta.text--center <b>Cours</b> proposés par #{@place.long_name}
        - if @courses.any?
          #course-list
            %table.table--striped
              %thead
                %tr
                  %th.five-twelfths Nom du <b>cours</b>
                  %th.three-twelfths.text--center Disciplines
                  %th.two-twelfths.text--center Séances à venir
                  %th.text--right Prix
              %tbody
                - @courses.each do |course|
                  %tr
                    %td
                      %h3.base-font-style.flush--bottom= link_to course.name.capitalize, place_course_path(course.place, course)
                      - if course.rating
                        = rating_stars course.rating
                    %td.text--center
                      %ul.nav.flush--bottom
                        = join_course_subjects course
                    %td.text--center= course.plannings.count
                    %td.text--right
                      - if course.best_price
                        = "#{readable_amount course.best_price.amount}€".html_safe
        - else
          %p Cet établissement n'a pas renseigné de cours.

      %article#tab-videos.tab-pane
        .media-gallery
          - @medias.in_groups_of(2, false).each do |media_group|
            .grid
              - media_group.each do |media|
                .grid__item.one-half>
                  %a.break-all.white-box.islet.media__item{href: media.url, title: media.caption}
                    = media.url_html
                    %caption= media.caption
      - if @other_places.any?
        %article#tab-other-places.tab-pane
          = gmaps( {markers: {data: @other_places.to_gmaps4rails}, map_options: {maxZoom: 15, mapTypeControl: false, :id => 'other_places_map'}, scripts: :none})
          %ul.block-list
            - @other_places.each do |other_place|
              %li
                = link_to other_place.long_name, place_path(other_place)
                %br
                %i= other_place.address
    %hr
    %article#comments
      = render 'comments'

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        var map_loaded = false;
        if ($('tab-other-places-li')) {
            $('tab-other-places-li').addEvent('click', function() {
                if (!map_loaded) { Gmaps.load_other_places_map(); map_loaded = true;}
            });
        }
        var description_is_hidden = true;
        if ($('place-description')) {
            if($('place-description').scrollHeight < 200) {
                $('show-more-description').hide();
            }
            $('show-more-description').addEvent('click', function() {
                if (description_is_hidden) {
                    $('place-description').setStyle('max-height', 'none');
                    this.set('text', 'Cacher la description');
                } else {
                    $('place-description').setStyle('max-height', '200px');
                    this.set('text', 'Voir toute la description');
                }
                description_is_hidden = !description_is_hidden;
                return false;
            });
        }
        new XtLightbox('.media-gallery a', {
            adaptors: ['Image', 'YouTube', 'Vimeo'],
            loop: true,
            rendererOptions: {
                positionText: 'Média {x} sur {total}. Utilisez les flèches pour naviguer, échape pour fermer la fenêtre.'
            },
            adaptorOptions: {
                Image: {
                    lightboxCompat: false
                }
            }
        });
    });
