= content_for :title do
  = "#{@place.long_name} à #{@city.name}"
= content_for :meta_description do
  = "#{@place.long_name} à #{@city.name}"

- if cookies[:place_search_path]
  = link_to cookies[:place_search_path] do
    %i.orange ←
    Retour aux résultats
- else
  = link_to places_path(city: @city.name) do
    %i.orange ←
    Voir les lieux à proximité

%h1.course-title
  %span= @place.name
- if @place.rating
  %div{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://schema.org/AggregateRating'}
    %span.rating{title: comment_rating_title(@place.rating)}
      = rating_stars @place.rating
    %meta{property: 'v:rating', itemprop: 'ratingValue', content: '%.1f' % @place.rating}
    %meta{itemprop: 'bestRating', content: 5}
    (
    %span{itemprop: 'reviewCount'}= @place.comments.count
    %a{href: '#comments'}
      %i.lbc-brand-icon
    )
%ul.nav
  - @place.parent_subjects.each do |subject|
    %li
      %h3.flush--bottom
        %span.milli.lbl.blue= link_to subject.name, subject_places_path(subject), class: 'subject-link'

.gw
  %section.g.three-tenths#summary.palm-one-whole.float--right.hide--lap
    .course-header-map
      = gmaps( {markers: {data: @json_place_address}, map_options: {maxZoom: 15, mapTypeControl: false}} )
      %h2.course-header-structure-name
        %b= @place.name
        %br
        %i.icon-map-marker
        = readable_address @place
    %br
    %article.course-info
      .text--center
        %h4 Contact
        %i.icon-external-link.orange
        = link_to @structure.website, @structure.website, target: '_blank'
        .blue
          %i.icon-phone.blue
          - if @structure.phone_number
            = link_to "tel:#{@structure.phone_number.gsub(/\s+/, '')}", class: 'blue' do
              = @structure.phone_number.gsub(' ', '&nbsp;').html_safe
          - if @structure.phone_number and @structure.mobile_phone_number
            %span.blue /
          - if @structure.mobile_phone_number
            = link_to "tel:#{@structure.mobile_phone_number.gsub(/\s+/, '')}", class: 'blue' do
              = @structure.mobile_phone_number.gsub(' ', '&nbsp;').html_safe
    %article.hide--palm
      %h4.flush--bottom Les lieux alentours
      %ul.block-list
        - @surrounding_places.each do |surrounding_place|
          %li
            = link_to place_path(surrounding_place), class: 'flexbox similar-course--image-wrapper' do
              .flexbox__item.one-fifth.similar-course--image
                - if surrounding_place.image.present?
                  = image_tag surrounding_place.image.url(:thumb)
                - elsif surrounding_place.subjects.any?
                  = image_tag surrounding_place.subjects.first.image.url(:thumb)
              .flexbox__item.similar-course
                %h2.similar-course--course-name= surrounding_place.long_name
                %h3.similar-course--structure-name
                  %i.icon-map-marker
                  = surrounding_place.street
  %section.g.seven-tenths.palm-one-whole.lap-one-whole
    .course-header-badge
      - if @place.image.present?
        .course-header-image.one-half.palm-one-whole
          = image_tag @place.image.url(:wide), class: 'course-header-badge-image'

      %ul#subject-slideshow.discrete-list{style: 'height: 250px; overflow: hidden;'}
        - @place.parent_subjects.each do |subject|
          - if subject.image.present?
            %li.text--center.slideshow--element= image_tag subject.image.url(:super_wide), class: 'course-header-badge-image'
          - else
            %li.text--center.slideshow--element= image_tag subject.children.first.image.url(:wide), class: 'course-header-badge-image'

    %div{style: 'margin-top: 1em;'}
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="CoursMania" data-lang="fr">Tweeter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div style="display:none;" id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=589759807705512";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <div class="fb-like" data-send="false" data-width="500" data-show-faces="false" data-action="recommend"></div>

    %hr
    - if @courses.length > 0
      %h4.text--center Cours proposés dans ce lieu
      #course-list{style: (@courses.length > 4 ? 'height: 20em; overflow: hidden' : '')}
        %table.table--striped
          %thead
            %tr
              %th Nom du cours
              %th Disciplines
              %th Niveau
              %th.text--center Nombres de séances
          %tbody
            - @courses.each do |course|
              %tr
                %td
                  = link_to course.name, course_path(course)
                  - if course.rating
                    %br
                    = rating_stars course.rating
                %td= course.subjects.map(&:name).join(', ')
                %td= course.levels.map{|level| t(level.name) }.join(', ')
                %td.text--center= course.plannings.count
      - if @courses.length > 4
        .text--center
          %a#show-more-courses{href: '#'} Voir tous les cours
      %hr
    %article#comments
      = render 'comments'
= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        new SlideShow('subject-slideshow', {
            transition: 'crossFade',
            delay: 5000,
            duration: 500,
            autoplay: true
        });
        var is_hidden = true;
        $('show-more-courses').addEvent('click', function() {
            if (is_hidden) {
                $('course-list').setStyle('height', 'auto');
                this.set('text', 'Cacher les cours');
            } else {
                $('course-list').setStyle('height', '20em');
                this.set('text', 'Voir tous les cours');
            }
            is_hidden = !is_hidden;
            return false;
        });
    });
