- content_for :user_side_menu do
  %ul
    - if @user
      = user_side_menu_link 'Mon tableau de bord', dashboard_user_path(@user)    , current: current_tab, icon: 'fa fa-dashboard'
      = user_side_menu_link 'Mes infos', edit_user_path(@user)    , current: current_tab, icon: 'fa fa-user'
      = user_side_menu_link 'Mes offres & passions', user_passions_path(@user), current: current_tab, icon: 'fa fa-gift'
      = user_side_menu_link 'Mes messages', user_conversations_path(@user), current: current_tab, icon: 'fa fa-envelope'
      = user_side_menu_link 'Mes avis',   user_comments_path(@user), current: current_tab, icon: 'fa fa-comments'
      = user_side_menu_link 'Mes cours',   user_participations_path(@user), current: current_tab, icon: 'fa fa-list'
      -# = user_side_menu_link 'Inviter mes amis', invite_entourage_to_jpo_page_users_path, current: current_tab, icon: 'fa fa-bullhorn'
    - else
      = user_side_menu_link 'Mon tableau de bord', '#', current: current_tab, icon: 'fa fa-dashboard'
      = user_side_menu_link 'Mes infos',           '#', current: current_tab, icon: 'fa fa-user'
      = user_side_menu_link 'Mes messages',        '#', current: current_tab, icon: 'fa fa-envelope'
      = user_side_menu_link 'Mes avis',            '#', current: current_tab, icon: 'fa fa-comments'
