= content_for :header do
  = render 'shared/header_pro'

= content_for :content do
  .admin-wrapper
    = content_for?(:admins_content) ? yield(:admins_content) : yield

= render :template => 'layouts/application'
