= content_for :content do

  - if @structure
    .darkgray-box.flexbox.print--hidden.on-top-of-the-world{ data: { behavior: 'sticky', z: 1000, old_width: 'true' } }
      .main-container.flexbox
        .flexbox__item.v-middle.soft--left.palm-text--center.relative
          .visuallyhidden--lap-and-up
            - if current_pro_admin
              %a.cursor-pointer.west.absolute.white{ data: { behavior: 'toggle-responsive-menu' } }
                %i.fa-menu.fa-2x
            .coursavenue-header-logo.coursavenue-header-logo--white
          = link_to '', root_path, class: 'visuallyhidden--palm v-middle coursavenue-header-logo coursavenue-header-logo--white', title: 'Recrutez de nouveaux élèves'
        .flexbox__item.visuallyhidden--palm.v-middle.text--right.soft--right
          - if !@structure.enabled?
            = link_to 'Réactiver mon compte', enabling_confirmation_pro_structure_path(@structure), class: 'btn btn--yellow btn--small fancybox.ajax', data: { behavior: 'modal', width: '500', padding: '0' }
            %span.push-half--sides= '|'
          - if current_pro_admin and current_pro_admin.super_admin?
            = link_to 'Supprimer ce profil', pro_structure_path(@structure), class: 'btn btn--red btn--small', data: { method: :delete, confirm: 'Êtes-vous sûr ?'}
            %span.push-half--sides= '|'
          - if @structure.is_sleeping?
            %span.v-middle.lbl.lbl--red{ data: { toggle: 'popover', content: "Vous venez de prendre le contrôle de votre profil : complétez-le pendant que l'équipe CoursAvenue vérifie votre identité. Vous recevrez un e-mail dès que c'est validé !  Les modifications que vous avez apportées deviendront alors directement visibles sur votre profil public.", trigger: 'hover' } } En attente de validation

          .inline-block.v-middle.drop-down__wrapper
            = link_to structure_url(@structure, subdomain: 'www'), target: :_blank, class: 'white block soft-half--ends muted-link f-weight-bold', title: 'Voir&nbsp;mon&nbsp;profil&nbsp;public', data: { toggle: 'tooltip', placement: 'right', html: true } do
              %i.fa-eye.v-middle.epsilon
              = truncate(@structure.name, length: 80)
              - if current_pro_admin
                .fa.fa-caret-down.very-soft--left
            - if current_pro_admin
              .drop-down__el.drop-down__el--left
                %ul.drop-down__el-inner-box.text--left
                  - if @structure.main_contact
                    %li.nowrap.text--left
                      = link_to edit_pro_structure_admin_path(@structure, @structure.main_contact) do
                        %i.fa-cogs.soft-half--right
                        = t('pro.structures.side_menu.account')
                  %li.nowrap.text--left
                    = link_to new_pro_structure_invited_teacher_path(@structure, @structure.main_contact) do
                      %i.fa-gift.soft-half--right
                      = t('pro.structures.side_menu.share')
                  %li.nowrap.text--left
                    = link_to communication_pro_structure_path(@structure) do
                      %i.fa-bullhorn.soft-half--right
                      = t('pro.structures.side_menu.communicate')
                  %li.nowrap.text--left
                    = link_to destroy_pro_admin_session_path, method: :delete do
                      %i.fa-sign-out.soft-half--right
                      Déconnexion

        .flexbox__item.wizard-container-width.visuallyhidden--palm

  - elsif current_pro_admin
    .darkgray-box.print--hidden.on-top-of-the-world{ data: { behavior: 'sticky', z: 1000, old_width: 'true' } }
      .main-container.flexbox.pro-public-top-menu
        .flexbox__item.v-middle.soft--left
          .visuallyhidden--lap-and-up.text--center
            %a.push-half--left.cursor-pointer.west.absolute.white{ data: { behavior: 'toggle-responsive-menu' } }
              %i.fa-menu.fa-2x
            .coursavenue-header-logo.coursavenue-header-logo--white
          = link_to '', root_path, class: 'visuallyhidden--palm v-middle coursavenue-header-logo coursavenue-header-logo--white', title: 'Recrutez de nouveaux élèves'
        .flexbox__item.text--right.visuallyhidden--palm
          .inline-block.v-middle.drop-down__wrapper
            %h5.flush--bottom.white.inline-block.v-middle.nowrap.soft--right
              = current_pro_admin.name
              .fa.fa-caret-down
            .drop-down__el.drop-down__el--left
              %ul.drop-down__el-inner-box.text--left
                %li.nowrap.text--left
                  = link_to destroy_pro_admin_session_path, method: :delete do
                    %i.fa-sign-out
                    Déconnexion

  -# Here to prevent scroll from wizard helper
  .overflow-x-hidden
    .main-container.soft--sides
      .flexbox.push-double--top
        - if content_for? :side_menu
          %nav.flexbox__item.v-top.v-top.border-none--right.print--hidden.soft--top.relative.side-menu-wrapper#pro-side-menu
            .border-none--right.side-menu.side-menu-width.relative
              = yield :side_menu
        .flexbox__item.v-top
          - if content_for?(:backbone_app)
            = yield :backbone_app
          - else
            .palm-hard.palm-text--center.pro-top-menu.rounded--top--double{ class: (content_for?(:top_menu) ? 'soft--left bg-orange' : 'bordered--top bordered--orange bordered--very-thick') }
              = yield :top_menu
            .bg-white.bordered--left.bordered--right.bordered--right.bordered--bottom.soft--ends.soft-double--sides.shadowed--bottom.rounded--top.min-height-800
              %div{ class: (content_for?(:top_menu) ? 'push--top palm-flush' : '') }= yield
        .flexbox__item.v-top.wizard-container.relative.print--hidden.visuallyhidden--palm

= render :template => 'layouts/application'
