= content_for :header do
  = render 'shared/header_pro'

= content_for :content do
  .main-container
    - if @structure
      .white-box.islet
        .flexbox
          .flexbox__item.v-top.one-twelfths>
            - if @structure.logo?
              .soft-half--right= image_tag @structure.logo.url(:thumb), width: 100
            - else
              .text--center.soft-half--right
                = link_to edit_pro_structure_path(@structure), style: 'width: 100px; height: 100px; background-color: #555; padding-top: 28px; color: white; display: block;' do
                  Ajouter
                  %br
                  mon logo
          .flexbox__item.v-top.nine-twelfths>
            %h4.push-half--bottom
              = @structure.name
            %span.v-middle
              = link_to structure_url(@structure, subdomain: 'www'), class: 'btn btn--small v-middle', target: '_blank' do
                %i.icon-external-link.v-middle
                %span.v-middle Voir mon profil public
              = link_to 'Partager sur Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{structure_url(@structure, subdomain: 'www')}", class: 'btn btn--facebook btn--small', target: '_blank', onclick: "ga('send', 'event', 'Pro / Share on Facebook', 'click', 'From dashboard page')"
              %br
              = link_to 'Modifier mon profil', edit_pro_structure_path(@structure), class: 'btn btn--primary btn--small'
          .flexbox__item.v-top.two-twelfths.text--center>
            .thin.alpha.brand= @structure.rating || 0
            %span.rating{title: comment_rating_title(@structure.rating)}
              = rating_stars @structure.rating
            %div
              = @structure.comments_count
              avis
              %a{href: '#comments'}
                %i.lbc-brand-icon
            - if @structure.comments_count == 0
              = link_to "Demander des avis", recommendations_pro_structure_path(@structure), class: 'btn btn--blue'
            - elsif @structure.comments_count < 3
              = link_to "Demander plus d'avis", recommendations_pro_structure_path(@structure), class: 'btn btn--blue'

    .flexbox
      - if content_for? :side_menu
        %nav.one.flexbox__item.v-top.side-menu.white-box
          = yield :side_menu
      .admin-wrapper.flexbox__item.v-top
        = yield :breadcrumb
        = content_for?(:admins_content) ? yield(:admins_content) : yield


= render :template => 'layouts/application'
