= content_for :header do
  = render 'shared/headers/pro'

= content_for :content do
  - if @structure
    .darkgray-box
      .v-middle.inline-block.soft-half--left
        - if @structure.logo?
          = link_to edit_pro_structure_path(@structure), class: 'block push-half--right' do
            = image_tag @structure.logo.url(:thumb), width: 40, class: 'block'
        - else
          = link_to '', edit_pro_structure_path(@structure), class: 'fa-2x fa fa-picture-o soft-half muted-link white', data: { toggle: 'popover', content: "Ajouter un logo", placement: 'right', trigger: 'hover' }
      %h5.inline-block.v-middle.flush--bottom.push-half--right.white
        = link_to edit_pro_structure_path(@structure), class: 'block semi-muted-link' do
          = @structure.name
      .inline-block.v-middle
        = link_to '', structure_url(@structure, subdomain: 'www'), data: { toggle: 'popover', content: "Profil public", placement: 'right', trigger: 'hover' }, class: 'white muted-link bold fa fa-external-link block', style: 'padding-top: 4px;', target: '_blank'

  .flexbox
    - if content_for? :side_menu
      %nav.flexbox__item.v-top.side-menu.gray-box.border-none--right
        = yield :side_menu
    .flexbox__item.v-top.small-container
      = yield :breadcrumb
      = content_for?(:admins_content) ? yield(:admins_content) : yield
    .grid__item.relative.wizard-container

= render :template => 'layouts/application'
