= content_for :header do
  = render 'shared/header_pro_pages'

= content_for :content do
  .page-style.main-container{class: controller_path}
    = content_for?(:users_content) ? yield(:users_content) : yield

= render :template => 'layouts/application'
