!!!
%html.no-js{lang: 'fr' }
  %head
    - if content_for? :title
      %title= "#{yield :title} - CoursAvenue.com"
    - else
      - if @city
        %title= "Tous les cours et stages à #{@city.name} - CoursAvenue.com"
      - else
        %title Tous les cours et stages autour de vous - CoursAvenue.com
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    - if content_for? :meta_description
      %meta{ :name => 'description', :content => "#{yield :meta_description}"}
    - else
      %meta{property: "description", content: "Trouvez le bon cours au meilleurs prix."}
    %meta{property: "keywords", content: "cours,stage,cours-atelier,Stage de théâtre, Cours de danse, Cours de cuisine, Cours de théâtre, Stage de danse, Cours de musique, Cours de yoga, Cours de photo, Cours de dessin, Cours de chant, Cours de zumba, Cours de langue, Activité enfant, Cours de peinture, Cours de pilate, Atelier enfant, Cours d'œnologie, Cours de poterie, Cours de sculpture, Stage de musique, Cours cuisine enfant, Cours d'improvisation, Cours scrapbooking, Cours enfant"}
    %meta{property: "og:title", content: "CoursAvenue"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "http://coursavenue.com"}
    %meta{property: "og:image", content: ""}
    %meta{property: "og:site_name", content: "CoursAvenue"}
    %meta{property: "fb:admins", content: "100000023494269"}

    / %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}
    = yield :head
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "modernizr" # MUST BE In the Head and after CSS
    = csrf_meta_tags
  %body
    - flash.each do |key, msg|
      .flash{class: key, data: {behavior: 'flash', type: key}}
        = msg

    = yield :header

    = yield :above_container
    / .main-container{class: controller_path}
    /   = yield
    = content_for?(:content) ? yield(:content) : yield

    = render 'shared/footer'
    = render 'shared/uservoice'

    = javascript_include_tag "application"
    = yield :scripts # Do not change name, needed for gmaps4rails
    = javascript_include_tag 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js'
    = render 'layouts/g_analytics' if Rails.env.production?
