!!!
%html.no-js{lang: 'fr', 'xmlns:og' => "http://opengraphprotocol.org/schema", 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %link{ href: 'http://fonts.googleapis.com/css?family=Raleway:500,400,300,600,700', rel: 'stylesheet', type: 'text/css' }
    = yield :right_after_head

    = render 'shared/meta_information'

    - if Rails.env.production?
      - if request.subdomain == 'pro'
        = render 'layouts/pro_g_analytics'
      - else
        = render 'layouts/g_analytics'
      = yield :after_ga
    = yield :head
    = favicon_link_tag 'favicon.png'
    = javascript_include_tag "modernizr" # MUST BE In the Head and before CSS
    = stylesheet_link_tag "application", media: 'all'
    = csrf_meta_tags unless response.cache_control[:public]
  :javascript
    window.GLOBAL = window.GLOBAL || {};
    GLOBAL.is_mobile = #{mobile_device?};
  %body{ style: (Rails.env.development? ? 'border-top: 5px solid yellow;' : '') }
    - unless response.cache_control[:public]
      - flash.each do |key, msg|
        .flash{class: key, data: {behavior: 'flash', type: key}}
          = msg.html_safe
    <!--[if lte IE 8]>
    - cache 'IE8 and less' do
      = render 'layouts/ie8_and_less_blocker'
    <![endif]-->

    = yield :header

    = yield :above_container
    = content_for?(:content) ? yield(:content) : yield

    - if request.subdomain == 'pro' or request.subdomain == 'pro.staging'
      = javascript_include_tag 'application.pro'
    - else
      = javascript_include_tag 'application'

    = javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false'
    = javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js'
    = javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox_packed.js'

    = yield :scripts
    = yield :layout_scripts
    - cache 'social_sdks' do
      = render 'layouts/social_sdks'
    :javascript
      if (!$.cookie('fingerprint')) { $.cookie('fingerprint', new Fingerprint().get()); }
    %script{ src: "//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js", "data-apikey" => "95a4635b1c13221f4232852f7badc00a" }
    :javascript
      Bugsnag.releaseStage = '#{Rails.env}';
      Bugsnag.notifyReleaseStages = ["staging", "production"]
