!!!
%html
  %head
    %title LeBonCours
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    /%link{ href: 'http://fonts.googleapis.com/css?family=Raleway:400,500,700', rel:'stylesheet', type: 'text/css'}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    = render 'shared/header'

    = yield :above_container
    .main-container
      = yield

    = render 'shared/footer'

    = javascript_include_tag "application"
    = yield :scripts # Do not change name, needed for gmaps4rails
    = analytics_init if Rails.env.production?
