!!!
%html
  %head
    %title LeBonCours
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

  %body
    = render 'shared/header'

    .main-container
      = render 'shared/menu'
      = yield

    = render 'shared/footer'

    = javascript_include_tag "application"
    = yield :javascript
