!!!
%html
  %head
    %title LeBonCours
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "modernizr" # MUST BE In the Head and after CSS
    = csrf_meta_tags

  %body
    - flash.each do |key, msg|
      .flash{class: key, data: {behavior: 'flash', type: key}}
        = msg
    = render 'shared/header'

    = yield :above_container
    .main-container
      = yield

    = render 'shared/footer'

    = javascript_include_tag "application"
    = yield :scripts # Do not change name, needed for gmaps4rails
    = analytics_init if Rails.env.production?
