!!!
%html.no-js{ lang: 'fr', prefix: 'og:http://opengraphprotocol.org/schema fb:http://www.facebook.com/2008/fbml' }
  %head
    %link{ href: 'https://fonts.googleapis.com/css?family=Raleway:500,400,300,600,700', rel: 'stylesheet', type: 'text/css' }
    = yield :right_after_head

    = render 'shared/meta_information'

    - if Rails.env.production?
      - if request.subdomain == 'pro'
        = render 'layouts/pro_g_analytics'
      - else
        = render 'layouts/g_analytics'
      = render 'layouts/mixpanel'

      = yield :after_ga
    = yield :head
    = favicon_link_tag
    %link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/ico' }
    %link{ href: asset_path('favicon.png'), rel: 'apple-touch-icon' }
    = javascript_include_tag 'modernizr' # MUST BE In the Head and before CSS
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags unless response.cache_control[:public]

  %body
    - unless response.cache_control[:public]
      - flash.each do |key, msg|
        .flash{ class: key, data: { behavior: 'flash', type: key } }
          = msg.html_safe
    <!--[if lte IE 8]>
    - cache 'IE8 and less' do
      = render 'layouts/ie8_and_less_blocker'
    <![endif]-->

    = yield :header

    = yield :above_container
    = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry'
    = javascript_include_tag 'application'
    = javascript_include_tag '//cdn.jsdelivr.net/algoliasearch/3.0.0/algoliasearch.min.js'
    = javascript_include_tag '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js', 'data-apikey' => '5ddb2502a5b017d46bf49c15d406678e'

    = yield :scripts
    = yield :layout_scripts
    = render 'layouts/social_sdks'

    :javascript
      if (!$.cookie('fingerprint')) { $.cookie('fingerprint', new Fingerprint().get()); }
    - if current_user
      :javascript
          CoursAvenue.addInitializer(function(options){
              this.setCurrentUser(#{current_user_as_json});
          });
    - if current_pro_admin and !current_pro_admin.super_admin?
      :javascript
          CoursAvenue.addInitializer(function(options){
              this.setCurrentAdmin(#{current_pro_admin_as_json});
          });

    - if Rails.env.production? and request.subdomain == 'www'
      :javascript
          mixpanel.identify($.cookie('fingerprint'));
          mixpanel.track('Visited: ' + window.location.pathname, { url: document.URL, path: window.location.pathname });
          CoursAvenue.addInitializer(function(options){
              if (CoursAvenue.currentUser()) {
                  mixpanel.people.set({
                      "$email": CoursAvenue.currentUser().get('email'),
                      "$created": CoursAvenue.currentUser().get('created_at'),
                      "$first_name": CoursAvenue.currentUser().get('first_name'),
                      "$last_name": CoursAvenue.currentUser().get('last_name'),
                      "$name": CoursAvenue.currentUser().get('name'),
                      "name": CoursAvenue.currentUser().get('name'),
                      "gender": CoursAvenue.currentUser().get('gender')
                  });
              }
          });
    - if !on_pro_subdomain? and @structure and @structure.is_sleeping
      :javascript
          window.on_sleeping_page = true;
          window.take_control_url = "#{new_pro_admin_structure_registration_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)}";
    :javascript
        Bugsnag.releaseStage = '#{Rails.env}';
        Bugsnag.notifyReleaseStages = ["staging", "production"]
    :javascript
        window.prerenderReady = false;
    - if !@prerender_not_ready
      :javascript
          $(function() {
              window.prerenderReady = true;
          });
    - if on_pro_subdomain?
      = intercom_script_tag
    - if !on_pro_subdomain?
      - if cookies[:facebook_contest_04_09]
        .bg-yellow.fixed.west.south#contest-modal.nowrap.push--bottom.on-top.transition-all-300.shadowed--bottom.visuallyhidden--palm
          = link_to 'https://www.facebook.com/CoursAvenue/app_672971196055792', class: 'inline-block black soft-half f-weight-bold muted-link on-top', target: :_blank do
            Choisissez un cours, on vous l'offre !
          %a.cursor-pointer.muted-link.soft-half--right{ data: { behavior: 'closer', el: '#contest-modal', effect: 'left' } }
            %i.fa.fa-times.milli
      - else
        #contest-modal.hidden.visuallyhidden--palm
          = link_to 'https://www.facebook.com/CoursAvenue/app_672971196055792', class: 'block', target: :_blank do
            = image_tag 'banners/facebook_contest.jpg', height: 250, class: 'block'
          :javascript
            $(function() {
                setTimeout(function() {
                    $.fancybox.open($('#contest-modal'), {
                        padding: 0,
                        afterClose: function() {
                            $.cookie('facebook_contest_04_09', true);
                        }
                    });
                }, 2000);
            });
