!!!
%html.no-js{lang: 'fr' }
  %head
    = render 'shared/meta_information'

    %link{href: 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}
    = yield :head
    = favicon_link_tag 'favicon.png'
    = javascript_include_tag "modernizr" # MUST BE In the Head and before CSS
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags unless response.cache_control[:public]
  %body
    - unless response.cache_control[:public]
      - flash.each do |key, msg|
        .flash{class: key, data: {behavior: 'flash', type: key}}
          = msg.html_safe

    = yield :header

    = yield :above_container
    = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag "application"
    = yield :scripts # Do not change name, needed for gmaps4rails
    = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false&language=fr&region=fr'
    = javascript_include_tag 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js' # HAVE TO BE LAST
    = render 'layouts/g_analytics' if Rails.env.production?
