!!!
%html.no-js{ lang: 'fr', prefix: 'og:http://opengraphprotocol.org/schema fb:http://www.facebook.com/2008/fbml' }
  %head
    = render 'layouts/prevent_fout'
    = stylesheet_link_tag 'application', media: 'all'
    = yield :right_after_head

    = render 'shared/meta_information'

    - if Rails.env.production?
      - if request.subdomain == 'pro'
        = render 'layouts/pro_g_analytics'
      - else
        = render 'layouts/g_analytics'

      = yield :after_ga

    = render 'layouts/mixpanel'

    = yield :head
    -# Facebook
    :javascript
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','//connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1652883014958782');
      fbq('track', "PageView");

    <noscript><img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id=1652883014958782&ev=PageView&noscript=1"/></noscript>
    = favicon_link_tag

    %link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/ico' }
    %link{ href: asset_path('favicon.png'), rel: 'apple-touch-icon' }
    = javascript_include_tag 'modernizr'
    = csrf_meta_tags unless response.cache_control[:public]

  %body{ class: (current_pro_admin and @structure ? 'is-pro-and-connnected' : '')}
    -# .end-of-coursavenue.print-hidden
    -#   - cache ["the-end-www", Date.today] do
    -#     CoursAvenue fermera le 30 mai (J-#{(Date.parse("2016/05/30") - Date.today).to_i})
    -#   - if current_pro_admin and @structure
    -#     %br
    -#     = link_to 'Cliquez ici pour récupérer toutes mes recommandations', all_pro_structure_comments_path(@structure), class: 'f-color-white'

    - unless response.cache_control[:public]
      - flash.each do |key, msg|
        .flash{ class: key, data: { behavior: 'flash', type: key } }
          = msg.html_safe
    <!--[if lte IE 8]>
    - cache 'IE8 and less' do
      = render 'layouts/ie8_and_less_blocker'
    <![endif]-->

    = yield :header

    = yield :above_container
    = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag 'application'
    = javascript_include_tag 'https://d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js', 'data-apikey' => '5ddb2502a5b017d46bf49c15d406678e'

    = yield :scripts
    = yield :layout_scripts
    = render 'layouts/social_sdks'


    :javascript
      if (!$.cookie('fingerprint')) { $.cookie('fingerprint', new Fingerprint().get()); }
    - if current_user
      :javascript
          CoursAvenue.addInitializer(function(options){
              this.setCurrentUser(#{current_user_as_json});
          });
    - if current_pro_admin and !current_pro_admin.super_admin?
      :javascript
          CoursAvenue.addInitializer(function(options){
              this.setCurrentAdmin(#{current_pro_admin_as_json});
          });

    - if Rails.env.production? and request.subdomain == 'www'
      :javascript
          mixpanel.identify($.cookie('fingerprint'));
          CoursAvenue.addInitializer(function(options){
              if (CoursAvenue.currentUser()) {
                  mixpanel.people.set({
                      "$email": CoursAvenue.currentUser().get('email'),
                      "$created": CoursAvenue.currentUser().get('created_at'),
                      "$first_name": CoursAvenue.currentUser().get('first_name'),
                      "$last_name": CoursAvenue.currentUser().get('last_name'),
                      "$name": CoursAvenue.currentUser().get('name'),
                      "name": CoursAvenue.currentUser().get('name'),
                      "gender": CoursAvenue.currentUser().get('gender')
                  });
              }
          });
    - if !on_pro_subdomain? and @structure and @structure.is_sleeping
      :javascript
          window.on_sleeping_page = true;
          window.take_control_url = "#{new_pro_admin_structure_registration_url(@structure, subdomain: 'pro')}";
    :javascript
        Bugsnag.releaseStage = '#{Rails.env}';
        Bugsnag.notifyReleaseStages = ["staging", "production"]
        $(function() {
            moment.locale('#{I18n.locale.to_s}')
        })
    = intercom_script_tag
    -# :javascript
    -#     window.prerenderReady = false;
    = render 'layouts/typekit'
    - if params[:utm_source] == 'facebook'
      - cookies[:from_facebook] = true
