= content_for :right_after_head do
  %link{ href: '//fonts.googleapis.com/css?family=Droid+Serif:400,400italic', rel: 'stylesheet', type: 'text/css'}

= content_for :header do
  = render partial: 'shared/headers/header', locals: { stick: true }

= content_for :content do
  = render 'blog/top_categories'
  = yield :above_content
  .main-container.main-container--medium.soft
    - unless action_name == 'show'
      .float--right.four-twelfths.soft--left.visuallyhidden--palm= render partial: 'blog/side_share'
    = yield

  = render 'shared/footer'

= render :template => 'layouts/application'
