= content_for :header do
  %header.header.print--hidden
    .very-soft.soft-half--sides.flexbox.main-container.main-container--medium
      .flexbox__item.palm-one-whole.v-middle>
        = link_to '', root_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'v-middle coursavenue-header-logo mixpanel-tracker', title: 'CoursAvenue | Tous les cours autour de vous', data: { info: 'header' }

      %nav.text--right.flexbox__item.v-middle.nowrap.visuallyhidden--palm.print--hidden>
        = link_to "Questions fréquentes", '#en-bref', class: 'btn btn--small mixpanel-tracker', data: { behavior: 'scroll-to', offset_top: '-55', info: 'Discovery Page landing' }

= content_for :content do
  .main-container
    = yield

  = render 'shared/footer'

= render :template => 'layouts/application'
