!!!
%html{lang: 'fr'}
  %head
    %meta{content: 'text/html; charset=utf-8', 'httpequiv' => 'Content-Type'}/
    %link{ rel:'stylesheet', href: '/email.css'}
    - if content_for? :title
      %title= yield :title
    - elsif @_message and @_message.subject
      %title= @_message.subject
    - else
      %title Email de CoursAvenue

  %body.body{leftmargin: '0', marginheight: '0', marginwidth: '0', topmargin: '0'}
    %table.body{border: '0', cellpadding: '0', cellspacing: '0', width: '100%'}
      %tr.body
        %td.body{width: '100%'}
          %table.table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600'}
            %tr
              %td.cell{width: '600'}
                %table.table{border: '0', cellpadding: '0', cellspacing: '0', width: '600'}
                  %tr{valign: 'bottom'}
                    %td.logo-cell{width: '300'}
                      %img.hide{border: '0', height: '20', src: '', width: '1'}/
                      %br.hide
                      - if @show_links
                        = link_to 'http://pro.coursavenuew.com', target: '_blank' do
                          = image_tag 'logo.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '250'
                      - else
                        = link_to 'http://www.coursavenuew.com', target: '_blank' do
                          = image_tag 'logo.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '250'
                      %p.logo-subtitle
                        Les élèves recommandent leurs meilleurs cours
                    - if @show_links
                      %td.soft-half--bottom.text--right{width: '300'}
                        - if @structure
                          = link_to 'Connexion', dashboard_pro_structure_url(@structure, subdomain: 'pro')
                        \|
                        = link_to 'Aide', pro_pages_questions_url(subdomain: 'pro')
                        \|
                        - if @structure
                          = link_to 'Profil public', structure_url(@structure, subdomain: 'www')
                - if content_for? :promo
                  %table.table.promo-table{border: '0', cellpadding: '0', cellspacing: '0', width: '600'}
                    %tr
                      %td.cell.content-block.white-box.push--bottom{width: '600'}
                        %table.table.promo-table{border: '0', cellpadding: '20', cellspacing: '0', width: '600'}
                          %tr
                            - if content_for? :logo
                              %td.logo-cell{width: '75', valign: 'middle', align: 'center', style: 'padding-right: 0px;'}
                                = yield :logo
                            %td.cell{width: (content_for?(:logo) ? '520' : '600'), valign: 'middle'}
                              = yield :promo
                %img.divider{border: '0', height: '15', src: '', width: '1'}/
                %br

          %table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600'}
            %tr
              %td.cell.content-block.white-box.push--bottom{width: '600'}
                = yield

          - if content_for? :under_content
            %table.under-content.push--top.table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600'}
              %tr
                %td.cell.content-block.white-box.push--bottom{width: '600'}
                  - if content_for? :under_content
                    = yield :under_content
          %table.table{align: 'center', border: '0', cellpadding: '5', cellspacing: '0', width: '600'}
            %tr
              %td.cell.footer{width: '600'}
                - if content_for? :footer
                  = yield :footer
                - else
                  %p
                    Vous recevez cet email car vous êtes inscrit sur CoursAvenue, le 1er moteur de recherche de cours en France.
                %br.hide
                %img.hide{border: '0', height: '10', src: '', width: '1'}/
                %br.hide

