= content_for :header do
  - if request.subdomain == 'pro'
    = render 'shared/empty_pro_header'
  - else
    = render 'shared/empty_header'

= content_for :content do
  .main-container{class: controller_path}
    = content_for?(:users_content) ? yield(:users_content) : yield

= render :template => 'layouts/application'
