!!! Strict
%html{ lang: 'fr' }
  %head
    %meta{ content: 'text/html; charset=utf-8', 'httpequiv' => 'Content-Type' }/
    %link{ rel:'stylesheet', href: 'email.css' }
    - if content_for? :title
      %title= yield :title
    - elsif @_message and @_message.subject
      %title= @_message.subject
    - else
      %title= "#{@structure.name} : newsletter"
    -# %style{ 'data-roadie-ignore' => true }
    -#   @media only screen and (max-width: 600px) {
    -#   table[class=w200], td[class=w200], img[class=w200] { display: none!important; }
    -#   table[class=w400], td[class=w400], img[class=w400] { width:300px !important; padding-left: 0!important; }
    -#   table[class=w600], td[class=w600], img[class=w600] { width:300px !important; }
    -#   img{ height:auto;}
    -#   }

  %body.coursavenue-email-body{ leftmargin: '0', marginheight: '0', marginwidth: '0', topmargin: '0' }
    %table.coursavenue-email-body{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%', style: 'margin: auto;' }
      %tr.coursavenue-email-body
        %td.hard--bottom.coursavenue-email-body{ width: '100%' }
          %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', style: 'margin: auto;' }
            %tr
              %td{ width: '600' }
                %table{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%'}
                  %tr{ valign: 'bottom' }
                    %td.email-title.text--center.logo-cell.soft-half--ends
                      - if content_for? :email_title
                        = yield :email_title
                      - if content_for :permalink
                        = yield :permalink

            %tr
              %td.white-box{ width: '600' }
                %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0' }
                  %tr
                    %td.soft--left.soft--top.soft--right.content-block{ width: 600 }
                      = yield

            %table{ align: 'center', border: '0', cellpadding: '5', cellspacing: '0', style: 'margin: auto;' }
              %tr
                %td.soft-half--ends.footer.text--center{ width: '590' }
                  .delta.soft-half--bottom{ style: "color: #CCC; font-size: 15px;" }
                  - if @structure.facebook_url.present?
                    %div
                      Suivez-nous :
                      = link_to 'Facebook', @structure.facebook_url, class: 'soft-half--right'
                    = "© #{@structure.name}"
                    = @structure.address
                  %div
                    Envoyé avec ♥ depuis le siège de CoursAvenue
                  - if content_for? :footer
                    = yield :footer
