!!! Strict
%html{ lang: 'fr' }
  %head
    %meta{ content: 'text/html; charset=utf-8', 'httpequiv' => 'Content-Type' }/
    %meta{ name: 'robots', content: 'noindex, nofollow' }
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }
    %meta{ name: 'viewport',               content: 'width=device-width, initial-scale=1.0'  }
    %link{ rel:'stylesheet', href: 'email.css' }
    - if content_for? :title
      %title= yield :title
    - elsif @_message and @_message.subject
      %title= @_message.subject
    - else
      %title= "#{@structure.name} : newsletter"

    -# %style{ 'data-roadie-ignore' => true }
    -#   @media only screen and (max-width: 600px) {
    -#   table[class=w200], td[class=w200], img[class=w200] { display: none!important; }
    -#   table[class=w400], td[class=w400], img[class=w400] { width:300px !important; padding-left: 0!important; }
    -#   table[class=w600], td[class=w600], img[class=w600] { width:300px !important; }
    -#   img{ height:auto;}
    -#   }

  %body.coursavenue-email-body{ leftmargin: '0', marginheight: '0', marginwidth: '0', topmargin: '0' }
    %table.coursavenue-email-body{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%', style: 'margin: auto;' }
      %tr.coursavenue-email-body
        %td.hard--bottom.coursavenue-email-body{ width: '100%' }
          %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', style: 'margin: auto;' }
            %tr
              %td{ width: '600' }
                %table{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%'}
                  %tr{ valign: 'bottom' }
                    %td.email-title.text--center.logo-cell.soft-half--ends
                      - if content_for? :email_title
                        = yield :email_title
                      - if content_for :permalink
                        = yield :permalink

            %tr
              %td.white-box{ width: '600' }
                %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0' }
                  %tr
                    %td.soft--left.soft--top.soft--right.content-block{ width: 600 }
                      = yield

                - if content_for? :under_content
                  %hr
                  %table.under-content{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', style: 'margin: auto;', width: 600 }
                    %tr
                      %td.soft.content-block{ width: 600 }
                        = yield :under_content
            %table{ align: 'center', border: '0', cellpadding: '5', cellspacing: '0', style: 'margin: auto;' }
              %tr
                %td.soft-half--ends.email-footer.text--center{ width: '590' }
                  - if @structure.facebook_url.present?
                    %div
                      Suivez-nous :
                      = link_to 'Facebook', @structure.facebook_url, class: 'soft-half--right', target: :_blank
                    %div
                      = "© #{@structure.name}"
                      = @structure.address
                  %div
                    Envoyé avec ♥ par #{@structure.name}
                  - if content_for? :footer
                    = yield :footer
                  - if @structure
                    = link_to 'Se désinscrire', "#", 'data-mandrill-href' => "*|UNSUB:#{unsubscribe_reservation_newsletters_url(subdomain: @structure.subdomain_slug)}|*"
