= content_for :header do
  - if on_jpo_pages?
    = render 'shared/headers/jpo'
  - else
    = render partial: 'shared/headers/header', locals: { expanded: true }

= content_for :content do
  .relative
    .search-wrapper
      = yield

= render :template => 'layouts/application'
