= content_for :header do
  = render partial: 'shared/headers/header', locals: { expanded: true }

= content_for :content do
  .relative
    .search-wrapper
      = yield

= render :template => 'layouts/application'
