- content_for :email_title do
  Bienvenue sur CoursAvenue ! Pour commencer, vous devez confirmer votre adresse e-mail.

.title Bonjour #{@resource.name},

.p Nous avons bien pris en compte votre création de compte. Pour vous assurer la meilleure expérience sur CoursAvenue, confirmez votre inscription :

.p.action
  = link_to 'Confirmer mon inscription', user_confirmation_url(confirmation_token: @token, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green'

.p
  Merci !
  %br
  = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/signature.png', height: 25, width: 177, class: 'soft-half--top', alt: "L'équipe CoursAvenue"


= content_for :under_content do
  = render 'user_mailer/footer_info'
