.text--center
  = link_to "S'inscrire avec Facebook", '#', class: 'btn btn--facebook', id: 'facebook_button', data: { behavior: 'login-with-facebook', disable_with: 'Connexion en cours...' }
%ul.no-bullet-list.flush--bottom.push-half--top
  %li
    %i.fa-check.green
    Inscription en 3 secondes !
  %li
    %i.fa-check.green
    Plus de mot de passe nécessaire.
  %li
    %i.fa-check.green
    Nous ne publions rien sur votre mur.
.or
  %span ou

#sign-in-content.collapse{ class: (@user and @user.errors.any? ? 'in' : '') }
  = simple_form_for @user || User.new, url: user_registration_path do |f|
    = f.error_notification
    = f.input :first_name, label: false, placeholder: 'Prénom',      input_html: {class: 'one-whole', value: (@user ? @user.first_name : nil)}, wrapper_html: {class: 'flush'}
    = f.input :last_name,  label: false, placeholder: 'Nom',         input_html: {class: 'one-whole'}
    = f.input :zip_code,   label: false, placeholder: 'Code postal', input_html: {class: 'one-whole'}
    = f.input :email,      label: false, placeholder: 'Email',       input_html: {class: 'one-whole', value: (@user ? @user.email : nil)}, wrapper_html: {class: 'flush--top'}
    = f.input :password, label: false, placeholder: 'Mot de passe', input_html: {class: 'one-whole'}
    = f.button :submit, "Inscription", class: 'btn--green one-whole', data: { disable_with: 'Inscription en cours...' }


.text--center.push--bottom= link_to 'Inscription avec votre adresse e-mail', 'javascript:void(0)', data: {toggle: "collapse", target: "#sign-in-content"}
%p
  %strong
    En m'inscrivant, j'accepte
    = link_to "les conditions générales d'utilisation.", pages_mentions_partners_path, target: :_blank
%hr
.push-half--top
  Déjà membre CoursAvenue ?
  = link_to "Connexion", new_user_session_path, data: { behavior: 'modal', title: 'Connexion', width: 600, padding: 0 }, class: 'fancybox.ajax', id: 'connection'
