- session['user_return_to'] = request.fullpath
#jpo-popup.hidden
  .jpo-frise
  .jpo-popup.soft.white.relative
    .grid
      .grid__item.two-thirds>
        = image_tag 'jpo_2014/popup-photos.png', class: 'popup-photos absolute', height: 203, width: 475, title: 'Portes Ouvertes des cours de loisirs par CoursAvenue'
        .popup-jpo-sticker.absolute.ff-open-sans.text--center.jpo-popup-rotation.soft-half--top.milli
          .f-weight-300 Week-end
          %div
            %span.f-weight-300 des
            %span.f-weight-600 5 et 6 avril
          .f-weight-300 en Île-de-France

        .popup-jpo-fanion.relative
          %p.flush.jpo-popup-rotation.f-style-italic.popup-jpo-fanion__text.ff-open-sans.absolute
            %span.f-weight-300 Plus de
            %span.f-weight-600 5 000 cours
            %span.f-weight-300 GRATUITS

        .jpo-popup-tick-marks.jpo-popup-rotation.ff-open-sans.f-weight-400.push--bottom
          %ul.jpo-rslides
            - @open_courses_slugs.each do |text_image, slug_group|
              %li
                .push-half--bottom
                  = image_tag "icons/subjects/#{text_image.last}-white.png", height: 30, class: 'v-middle'
                  %h4.flush.v-middle.inline-block= text_image.first
                - slug_group.each do |slug|
                  - course = Course::Open.where(slug: slug).first
                  - next unless course
                  .line-height-normal.push-half--bottom
                    = image_tag course.structure.logo, class: 'inline-block v-middle', style: 'height: 55px; width: 55px; float: none;'
                    .inline-block.v-middle
                      %h4.flush{title: course.name}
                        = truncate(course.name, length: 40)
                      .milli.f-white-transparent
                        %i.fa.fa-map-marker
                        %i= course.plannings.first.place.city.name
                      .milli.f-white-transparent
                        %i.fa.fa-gift
                        Offert par
                        = link_to truncate(course.structure.name, length: 30), structure_path(course.structure), target: :_blank, class: 'muted-link'
          %p.flush.f-weight-600{style: 'line-height: 1; font-size: 17px;'}
            \...et plein d'autres !

      .grid__item.one-third>
        %p.text--center.ff-open-sans.relative
          %span.f-weight-600 Inscrivez-vous
          %br
          %span.f-weight-400 pour réserver votre atelier gratuit
          = image_tag 'jpo_2014/arrow.png', width: 15, height: 27, class: 'absolute popup-jpo-arrow', title: 'Inscrivez-vous aux Portes Ouvertes des cours de loisirs par CoursAvenue'
        .text--center
          = link_to "S'inscrire avec Facebook", user_omniauth_authorize_path('facebook'), class: 'btn btn--facebook btn--full text--left', id: 'facebook_button'
        .soft-half--top.soft-half--left.line-height-normal.milli
          %i.fa.fa-check
          Nous ne publions rien sur votre mur
          %br
          %i.fa.fa-check
          Connexion en 1 clic sans mot de passe
        .text--center.push-half--ends ou
        = simple_form_for User.new, url: user_registration_path, html: { id: 'register-form' } do |f|
          %input{type: 'hidden', name: 'user_return_to', value: request.fullpath}
          = f.error_notification
          = f.input :name, label: false, placeholder: 'Prénom + Nom',      input_html: {class: 'one-whole', value: (@user ? "@user.name" : nil)}, wrapper_html: {class: 'push-half--bottom'}
          -# f.input :first_name, label: false, placeholder: 'Prénom',      input_html: {class: 'one-whole', value: (@user ? @user.first_name : nil)}, wrapper_html: {class: 'flush'}
          -# f.input :last_name,  label: false, placeholder: 'Nom',         input_html: {class: 'one-whole'}
          = f.input :zip_code,   label: false, placeholder: 'Code postal', input_html: {class: 'one-whole'}
          = f.input :email,      label: false, placeholder: 'Email',       input_html: {class: 'one-whole', value: (@user ? @user.email : nil)}, wrapper_html: {class: 'flush--top'}
          = f.input :password, label: false, placeholder: 'Mot de passe', input_html: {class: 'one-whole'}
          = f.button :submit, "Inscription", class: 'one-whole btn--purple'
          %p.milli.text--center
            En m'inscrivant, j'accepte
            = link_to "les conditions générales d'utilisation.", pages_mentions_partners_path, class: 'f-weight-600 white', target: :_blank
          .text--center
            = link_to "Déjà membre CoursAvenue ? Connexion", 'javascript:void(0)', id: 'show_new_session_form', class: 'milli white'

        #sign-in-form.hidden
          = simple_form_for User.new, url: user_session_path do |f|
            = f.input :email, label: false, placeholder: 'Email', input_html: {class: 'one-whole'}
            = f.input :password, label: false, placeholder: 'Mot de passe', input_html: {class: 'one-whole'}
            = f.hidden_field :remember_me, value: true
            = f.button :submit, "Se connecter", class: 'btn--purple one-whole'

          .push-half--top
            = link_to "Vous n'avez pas de compte ? Inscription", 'javascript:void(0)', id: 'show_new_registration_form', class: 'milli white'


= content_for :scripts do
  :javascript
    $(function() {;
        $.fancybox($('#jpo-popup'), {
                topRatio    : 0.3,
                openSpeed   : 300,
                maxWidth    : 830,
                maxHeight   : 450,
                fitToView   : false,
                width       : 830,
                height      : 450,
                autoSize    : false,
                autoResize  : false,
                padding     : 0,
                closeBtn    : false,
                keys        : {
                    close: []
                },
                helpers     : {
                    overlay : {
                      closeClick: false
                    }
                }
          });
          $('.fancybox-inner').css('overflow', 'visible');
          $(".jpo-rslides").responsiveSlides({
              timeout: 5000,
              pager: true,           // Boolean: Show pager, true or false
              pauseControls: true,    // Boolean: Pause when hovering controls, true or false
          });
          $('#user_email').keydown(function(event) {
              if ( !this.value ) { return ; }
              if ( this.value.match(/@.*\./) && !this.value.match(/@gmail/) ) {
                  $(this).popover({
                      placement: 'right',
                      content: '<p style="width: 215px;" class="black flush"><i class="fa fa-warning"></i> Le mail d’activation peut être considéré comme un spam, vérifiez votre boîte <strong>«Courrier&nbsp;Indésirable»</strong> et indiquez ce message comme valide.</p>',
                      trigger: 'manual',
                      html: 'true',
                      animation: true
                  }).popover('show');
              }
          });
    });
    $('#show_new_session_form').click(function(){
        $('#register-form').hide();
        $('#sign-in-form').show();
        $('#facebook_button').text("Connexion Facebook");
    });
    $('#show_new_registration_form').click(function(){
      $('#register-form').show();
      $('#sign-in-form').hide();
      $('#facebook_button').text("S'inscrire avec Facebook");
    });
