.text--center
  %div= link_to "S'enregistrer avec Facebook", user_omniauth_authorize_path('facebook'), class: 'btn btn__facebook'
  .or
    %span Ou

  = simple_form_for @user || User.new, url: user_registration_path do |f|
    = f.error_notification
    .grid
      .grid__item.one-half>
        = f.input :first_name, label: false, placeholder: 'Prénom', input_html: {size: 30}
      .grid__item.one-half
        = f.input :last_name,  label: false, placeholder: 'Nom', input_html: {size: 30}

    = f.input :email,    label: false, placeholder: 'Email', wrapper_html: {class: 'flush--top one-whole'}
    = f.input :password, label: false, placeholder: 'Mot de passe', input_html: {class: 'one-whole'}
    = f.button :submit, "Créer son compte", class: 'btn__success one-whole'

:javascript
  $('new_user').addEvent('submit', function(){
    if ($('user_first_name').get('value').length === 0 ||
        $('user_last_name').get('value').length === 0 ||
        $('user_password').get('value').length === 0 ||
        $('user_email').get('value').length === 0 ||
        $('user_password').get('value').length === 0) {
      new GLOBAL.Objects.Flash('Tous les champs ne sont pas remplis').showAndHide();
      return false
    }
    return true;
  });
