= content_for :right_after_head do
  %meta{ name: 'robots', content: 'noindex, nofollow' }

= content_for :title do
  Stages et activité à venir à Paris

.relative.bg-position-top.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url(https://coursavenue-public.s3.amazonaws.com/public_assets/backgrounds/paris-stage.jpg)", data: { behavior: 'parallax' } }
  .black-curtain.north.west.one-whole.absolute
  .relative.white
    .grid--full.one-whole.one-whole.on-top
      .grid__item.one-third.v-middle.palm-one-whole.palm-push>
        = link_to root_path, class: 'block' do
          = image_tag 'logos/logo_white.png', width: 190, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo_white@2x.png') }
      .grid__item.two-thirds.v-middle.text--right.visuallyhidden--palm.homescreen-header--transparent>
        .white-links.soft-half.inline-block.v-middle.epsilon#user-nav
        .top-right-hidden-button.inline-block.v-middle.visuallyhidden--palm.visuallyhidden--lap
          = link_to 'Trouver un cours', root_search_page_without_subject_path('paris'), class: 'btn btn--blue nowrap push--right'
  .text--center.relative.push--top.mega-soft--ends
    %h1.push-half--top.flush.push-half--left Activités à Paris
    %h2 Le beau temps est là, faites-vous plaisir
.main-container
  .soft-half--ends.grid
    .grid__item.one-half.text--right>
      = link_to 'Toutes les activités', plannings_path, class: ['gamma', params[:sort].blank? ? 'f-weight-bold f-decoration-underlined' : '']
    .grid__item.one-half>
      = link_to 'Les activités du week-end', plannings_path(sort: 'week-end'), class: ['gamma', params[:sort] == 'week-end' ? 'f-weight-bold f-decoration-underlined' : '']
  - @plannings.each do |planning|
    - planning_decorator = planning.decorate
    - structure          = planning.structure
    - course             = planning.course
    - price              = course.decorate.min_price
    - if structure.medias.images.any?
      - image = structure.medias.images.cover_first.first.image.url(:thumbnail)
    - else
      - image = structure.logo.url(:thumb)
    .inline-block.one-half.soft-half.push--bottom.line-height-1-5{ itemscope: true, itemtype: 'http://data-vocabulary.org/Event' }>
      .bg-white.bordered.shadowed--bottom-on-hover.transition-all-500.cursor-pointer{ data: { behavior: 'follow-inside-link'} }
        %div
          .block.bg-cover{ style: "height: 300px; background-image: url('#{image}')" }
        .grid--full.bordered--top
          .grid__item.v-top.nine-twelfths.soft-half--ends.soft-half--right.soft--left{ class: (price ? 'bordered--right' : '') }>
            .epsilon.v-middle{ itemprop: 'summary' }
              = link_to course.name, structure_path(planning.structure), class: 'f-weight-600 v-middle delta line-height-1-3', itemprop: 'url'
              %div
                %time.v-middle.epsilon.f-weight-600{ itemprop: 'startDate', datetime: planning_decorator.start_date_datetime }
                  = planning_decorator.dates
                  = planning_decorator.time_slot
            %div
              = "Avec #{structure.name}"
            %time{ itemprop: 'endDate', datetime: planning_decorator.end_date_datetime }
          - if price
            .grid__item.v-top.three-twelfths.soft-half.text--center>
              %div À partir de
              .f-weight-600.gamma= readable_amount course.decorate.min_price.amount

  .push-half--ends= paginate @plannings, window: 2, outer_window: 1

= content_for :scripts do
  :javascript
    $(function() {
        $('[data-behavior=follow-inside-link]').click(function(event) {
            if (event.metaKey || event.ctrlKey) { // Open in new window if user pushes meta or ctrl key
                window.open($(this).find('a').attr('href'));
            } else {
                window.location = $(this).find('a').attr('href');
            }
        })
    });
