- @prerender_not_ready = true

- if @subject
  - title = "#{@subject.name.gsub('&', 'et')} à #{@city.name} (#{@city.department_code})"
- else
  - title = "Tous les cours de loisirs à #{@city.name || 'Paris'} (#{@city.department_code}) "

- if params[:page] and params[:page].to_i > 3
  = content_for :right_after_head do
    %meta{ name: 'robots', content: 'noindex,follow' }

= content_for :title do
  = "#{title} | CoursAvenue.com".html_safe

= content_for :meta_description do
  #{title} : #{number_with_delimiter @total} Cours d'Essai GRATUITS & Promotions - CoursAvenue.com. Consultez #{number_with_delimiter Comment::Review.count} avis d'élèves, #{number_with_delimiter Media.count} photos.

= react_component('SearchPageApp', { map_center: [@city.latitude, @city.longitude],
                                     subject: (@subject and @subject != @root_subject ? @subject.to_json : nil),
                                     root_subject: (@root_subject ? @root_subject.to_json : nil),
                                     address: { name: @city.name, latitude: @city.latitude, longitude: @city.longitude, city: @city.name, is_address: false }.to_json },
                                     { prerender: false })
